USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserLoginSecurity_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UserLoginSecurity_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserLoginSecurity_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UserLoginSecurity_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- exec UserLoginSecurity_p 
ALTER PROCEDURE [dbo].[UserLoginSecurity_p]
	(@role_id varchar(30))
AS
BEGIN
	Declare @CompanyKey_search VARCHAR(20)
	
	if(@role_id='4')
		set @CompanyKey_search='1'
	else if(@role_id='8')
		set @CompanyKey_search='3'
	else if(@role_id='9')
		set @CompanyKey_search='2'
	 else
		set @CompanyKey_search='0'
		--select @CompanyKey_search
	return @CompanyKey_search 
END



GO
