USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertElectronicInsurance_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertElectronicInsurance_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertElectronicInsurance_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertElectronicInsurance_p] AS' 
END
GO
--exec InsertElectronicInsurance_p 135813, 113980, 116812, 3, '2022-05-17 12:57:14.146', 'Y', 'N', 'N', 'N'
ALTER  PROCEDURE [dbo].[InsertElectronicInsurance_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@VersionKey int,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	
	@IsElectronicInsurance CHAR,
	@IsElectronicAndPaperDelivery CHAR,
	@IsElectronicDeliveryRejection CHAR,
	@IsElectronicDeliveryWithdrawalConsent CHAR
)
AS
BEGIN
	DECLARE @SpecialIssuanceComments VARCHAR(500)
	
	select @SpecialIssuanceComments = SpecialIssuanceComments from FirmLW where PolicyKey=@Policykey and VersionSequence=@VersionSequence
	IF NOT EXISTS (select ElectronicInsuranceKey from ElectronicInsurance where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
	BEGIN
		INSERT INTO ElectronicInsurance(PolicyKey,VersionKey,VersionSequence,RecordType,CreatedDate,CreatedBy,LastUpdateTimeStamp,LastUpdateUserID,IsElectronicInsurance,IsElectronicAndPaperDelivery,IsElectronicDeliveryRejection,IsElectronicDeliveryWithdrawalConsent)
		VALUES(@PolicyKey,@VersionKey,@VersionSequence,'I',@LastUpdateTimeStamp,@LastUpdateUserID,null,null,@IsElectronicInsurance,@IsElectronicAndPaperDelivery,@IsElectronicDeliveryRejection,@IsElectronicDeliveryWithdrawalConsent)
	END
	ELSE
	BEGIN
		UPDATE ElectronicInsurance SET RecordType = 'U', LastUpdateTimeStamp = @LastUpdateTimeStamp, LastUpdateUserID = @LastUpdateUserID, IsElectronicInsurance = @IsElectronicInsurance, IsElectronicAndPaperDelivery = @IsElectronicAndPaperDelivery, 
		IsElectronicDeliveryRejection = @IsElectronicDeliveryRejection, IsElectronicDeliveryWithdrawalConsent = @IsElectronicDeliveryWithdrawalConsent 
		WHERE PolicyKey = @PolicyKey and VersionKey = @VersionKey and VersionSequence = @VersionSequence
	END

	if(@IsElectronicAndPaperDelivery = 'Y' OR @isElectronicDeliveryRejection = 'Y')
	BEGIN
		IF(@IsElectronicAndPaperDelivery = 'Y' AND (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '' or @SpecialIssuanceComments NOT LIKE '%Insured has opted to receiving electronic delivery and mailings for documents%'))
		BEGIN
			--print 's3'
			update Firmlw SET IsSpecialIssuance='Y', SpecialIssuanceComments = Case when (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '') then '' ELSE @SpecialIssuanceComments + ' ' end + 'Insured has opted to receiving electronic delivery and mailings for documents. They must be mailed hard copies of all documentation.' where Policykey=@PolicyKey
		END
		ELSE IF(@isElectronicDeliveryRejection = 'Y' AND (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '' or @SpecialIssuanceComments NOT LIKE '%Insured has opted out of receiving electronic delivery for documents%'))
		BEGIN
			--print 's4'
			update Firmlw SET IsSpecialIssuance='Y', SpecialIssuanceComments = Case when (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '') then '' ELSE @SpecialIssuanceComments + ' ' end + 'Insured has opted out of receiving electronic delivery for documents and must be mailed hard copies of all documentation.' where Policykey=@PolicyKey
		END
	END

	select @SpecialIssuanceComments = SpecialIssuanceComments from FirmLW where PolicyKey=@Policykey and VersionSequence=@VersionSequence
	if(@IsElectronicAndPaperDelivery = 'N' AND @isElectronicDeliveryRejection = 'Y')
	BEGIN
		IF(@SpecialIssuanceComments LIKE '%Insured has opted to receiving electronic delivery and mailings for documents%')
		BEGIN
		--print 's5'
			update Firmlw SET SpecialIssuanceComments = REPLACE(@SpecialIssuanceComments, 'Insured has opted to receiving electronic delivery and mailings for documents. They must be mailed hard copies of all documentation.', '') where Policykey=@PolicyKey
		END
	END
	if(@isElectronicDeliveryRejection = 'N' AND @IsElectronicAndPaperDelivery = 'Y')
	BEGIN
		
		IF(@SpecialIssuanceComments LIKE '%Insured has opted out of receiving electronic delivery for documents%')
		BEGIN
			--print 's7'
			update Firmlw SET SpecialIssuanceComments = REPLACE(@SpecialIssuanceComments, 'Insured has opted out of receiving electronic delivery for documents and must be mailed hard copies of all documentation.', '') where Policykey=@PolicyKey
		END
	END	


	if(@IsElectronicAndPaperDelivery = 'N' AND @isElectronicDeliveryRejection = 'N')
	BEGIN
		--print 's8'
		update Firmlw SET IsSpecialIssuance=null, SpecialIssuanceComments = null where Policykey=@PolicyKey
	END
	
	--select SpecialIssuanceComments from FirmLW where PolicyKey=@Policykey and VersionSequence=@VersionSequence
END

GO
