USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_PracticemanagementSupp_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_PracticemanagementSupp_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_PracticemanagementSupp_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_PracticemanagementSupp_ACC] AS' 
END
GO
--exec [UWRules_PracticemanagementSupp_ACC] 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_PracticemanagementSupp_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@TotalFirmPersonnel INT,@priorYearTotalFirmPersonnel INT,@previousPolicyKey INT,@previousVersionSequence INT
	Declare @IsNonMonetaryCompensationRecieved CHAR 
	
	select @IsNonMonetaryCompensationRecieved=IsNonMonetaryCompensationRecieved from Firm where Policykey=@PolicyKey and VersionSequence=@VersionSequence

	--select  @daysDifference
	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='hasFirmReceivedNonMonetaryCompensation_Accountant'
		if(@IsNonMonetaryCompensationRecieved='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm received non-monetary compensation.','Firm received non-monetary compensation. Review additional questions on industry, name and services rendered. Be aware of potential conflict of interest.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		
			
END

	IF(@PolicyStatusKey=2)
	BEGIN
		--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		--Select @priorYearTotalFirmPersonnel=TotalFirmPersonnel from Firm where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		
		print 'Renewal Flow'

		
	END
END





GO
