USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayWillsTrustProbationSupplmentData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayWillsTrustProbationSupplmentData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayWillsTrustProbationSupplmentData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayWillsTrustProbationSupplmentData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[DisplayWillsTrustProbationSupplmentData_p]
(
@PolicyKey INT
)
AS
BEGIN
	DECLARE @Count INT
	
	CREATE TABLE #TEMPTable(
		sequence CHAR,
		WESKey INT,
		WESDesc VARCHAR(500),
		PercentageValue INT,
		WESCommentDesc	VARCHAR(500)
		
		)
		INSERT INTO #TEMPTable (sequence,WESKey,WESDesc)select  CHAR(row_number() over( order by WESKey)+64) ,WESKey,WESDesc  from WESLW
		SELECT @Count=Count(*) from WillsEstateServicesLW where PolicyKey=@PolicyKey
		IF(@Count>0)
		BEGIN

			DECLARE @LoopCounter INT =1
			WHILE ( @LoopCounter <= @Count)
			BEGIN
				UPDATE #TEMPTable 
				SET PercentageValue = i.PercentageValue, 
					WESCommentDesc = i.WESCommentDesc 
					
				FROM (
					SELECT WESKey,PercentageValue,WESCommentDesc
					FROM WillsEstateServicesLW WHERE POLICYKEY=@PolicyKey) i
				WHERE 
					i.WESKey= #TEMPTable.WESKey and i.WESKey=@LoopCounter


				SET @LoopCounter  = @LoopCounter  + 1
			END
		END
		

		

	
	
	SELECT * FROM #TEMPTable
END

GO
