USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateBankruptcyCaseDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateBankruptcyCaseDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateBankruptcyCaseDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateBankruptcyCaseDetails_p] AS' 
END
GO

--exec InsertUpdateBankruptcyCaseDetails_p 129286, 107656, '<Root><Root1><PolicyKey>129286</PolicyKey><Percentage>10</Percentage><AverageCaseValue>10</AverageCaseValue><VersionSequence>107656</VersionSequence><bankruptcyKey>1</bankruptcyKey></Root1><Root1><PolicyKey>129286</PolicyKey><Percentage>20</Percentage><AverageCaseValue>10</AverageCaseValue><VersionSequence>107656</VersionSequence><bankruptcyKey>2</bankruptcyKey></Root1><Root1><PolicyKey>129286</PolicyKey><Percentage>40</Percentage><AverageCaseValue>10</AverageCaseValue><VersionSequence>107656</VersionSequence><bankruptcyKey>3</bankruptcyKey></Root1><Root1><PolicyKey>129286</PolicyKey><Percentage>30</Percentage><AverageCaseValue>10</AverageCaseValue><VersionSequence>107656</VersionSequence><bankruptcyKey>4</bankruptcyKey></Root1></Root>', 3, '2022-01-04 09:23:25.434', '02/02/2022'

ALTER PROCEDURE [dbo].[InsertUpdateBankruptcyCaseDetails_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@bankruptcyNewImplDate varchar(50),
	@VersionKey INT

)
AS
BEGIN
DECLARE @CreatedDate DATETIME
SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey



if(@CreatedDate < @bankruptcyNewImplDate)
BEGIN
	IF NOT EXISTS (select bankruptcyKey from BankruptcyCasesDetailsLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO BankruptcyCasesDetailsLW(bankruptcyKey,Debtor, Creditor,Trustee,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey)
			SELECT
				doc.col.value('bankruptcyKey[1]', 'INT') bankruptcyKey,
				 doc.col.value('Debtor[1]', 'INT') Debtor,
				doc.col.value('Creditor[1]', 'INT') Creditor, 
				doc.col.value('Trustee[1]', 'INT') Trustee, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence
				,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('bankruptcyKey[1]', 'INT') bankruptcyKey,
				 doc.col.value('Debtor[1]', 'INT') Debtor,
				doc.col.value('Creditor[1]', 'INT') Creditor, 
				doc.col.value('Trustee[1]', 'INT') Trustee, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp,
				@VersionKey VersionKey
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE bcd
			SET 
			 bcd.Debtor =tx.Debtor,
			 bcd.Creditor =tx.Creditor,
			 bcd.Trustee =tx.Trustee,
			 bcd.LastUpdateUserID =tx.LastUpdateUserID,
			 bcd.LastUpdateTimeStamp =tx.LastUpdateTimeStamp,
			 bcd.VersionKey= tx.VersionKey

			FROM BankruptcyCasesDetailsLW bcd
			inner join #temp_xml tx 
			on (bcd.bankruptcyKey=tx.bankruptcyKey and bcd.PolicyKey=tx.PolicyKey and bcd.VersionSequence=tx.VersionSequence)
		END
		
	
	--DELETE FROM BankruptcyCasesDetailsLW WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

	--			INSERT INTO BankruptcyCasesDetailsLW(bankruptcyKey,Debtor, Creditor,Trustee,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
	--		SELECT
				
	--			doc.col.value('bankruptcyKey[1]', 'INT') bankruptcyKey,
	--			 doc.col.value('Debtor[1]', 'INT') Debtor,
	--			doc.col.value('Creditor[1]', 'INT') Creditor, 
	--			doc.col.value('Trustee[1]', 'INT') Trustee, 
	--			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
	--			doc.col.value('VersionSequence[1]', 'int') VersionSequence
	--			,@LastUpdateUserID,@LastUpdateTimeStamp
	--		FROM @xml.nodes('/Root/Root1') doc(col)
			
END			
	ELSE		
	BEGIN

	     IF NOT EXISTS (select bankruptcyKey from BankruptcyCasesDetailsLW_New where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO BankruptcyCasesDetailsLW_New(bankruptcyKey,Percentage, AverageCaseValue, PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey)
			SELECT
				doc.col.value('bankruptcyKey[1]', 'INT') bankruptcyKey,
				 doc.col.value('Percentage[1]', 'INT') Percentage,
				doc.col.value('AverageCaseValue[1]', 'INT') AverageCaseValue, 
			    doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence
				,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('bankruptcyKey[1]', 'INT') bankruptcyKey,
				 doc.col.value('Percentage[1]', 'INT') Percentage,
				doc.col.value('AverageCaseValue[1]', 'INT') AverageCaseValue,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp,
				@VersionKey VersionKey
			INTO #temp_xml2
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE bcd
			SET 
			 bcd.Percentage =tx.Percentage,
			 bcd.AverageCaseValue =tx.AverageCaseValue,
			 bcd.LastUpdateUserID =tx.LastUpdateUserID,
			 bcd.LastUpdateTimeStamp =tx.LastUpdateTimeStamp,
			 bcd.VersionKey = tx.VersionKey
			FROM BankruptcyCasesDetailsLW_New bcd
			inner join #temp_xml2 tx 
			on (bcd.bankruptcyKey=tx.bankruptcyKey and bcd.PolicyKey=tx.PolicyKey and bcd.VersionSequence=tx.VersionSequence)
		END
	   
	END	
		
END



GO
