USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_CollectionsSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_CollectionsSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_CollectionsSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_CollectionsSupplement_LW] AS' 
END
GO
--exec UWRules_CollectionsSupplement_LW 135340, 136498, 136498, 135518, 113552, 1, 3
ALTER PROCEDURE [dbo].[UWRules_CollectionsSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT,@collection INT=0,@AttorneyCount INT=0
	DECLARE @individualCollections INT,@personnelToCollectDebts CHAR,@servicesToPurchasers CHAR,@averageCases INT,@consumerCollections INT=0

	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	SET @collection =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=31)
	SET @AttorneyCount=(select count(*) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	select @consumerCollections=consumerCollections,@averageCases=averageCases,@individualCollections=individualCollections,@personnelToCollectDebts=personnelToCollectDebts,@servicesToPurchasers=servicesToPurchasers 
	from collectionsSuplimentDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence

	--select @consumerCollections as consumerCollections
	set @rule_id='IndividualCollectionsRule_Lawyers'
		if(@individualCollections>10000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Individual collections exceeds underwriting threshold.','What is the value of the 3 largest collection cases the firm has handled in the past two years?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		if(@AttorneyCount>0)
		Begin
			set @rule_id='AverageCasesHandlesPerYearRule_Lawyers'
			if(((@averageCases/@collection)*100)/@AttorneyCount>150)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large number of collections cases in comparison to AOP percentage.','How many support staff assist in collection matters? How long has the attorney provided collection services?',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		end
		--set @rule_id='CollectionsPracticeAsConsumerCollectionsRule_Lawyers'
		--if(@consumerCollections>20)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Consumer collections exceeds 20% of total practice.','Minimum of $10,000 deductible required.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IndividualCollectionsRule_Lawyers'
		if(@individualCollections>10000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Individual collections exceeds underwriting threshold.','What is the value of the 3 largest collection cases the firm has handled in the past two years?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		
			
		set @rule_id='NonLawyersPersonnelToCollectDebtsNBRule_Lawyers'
		if(@personnelToCollectDebts='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm may be acting outside of normal law firm capacity.','What is the role of the non-lawyer personnel collecting debt?  How does the attorney supervise the non-lawyer personnel?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='ServicesToPurchasersRule_Lawyers'
		if(@servicesToPurchasers='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Provides services to debt consolidators.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
			
	
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewal Flow'
			DECLARE @averageCasesPrior INT,@individualCollectionsPrior INT,@personnelToCollectDebtsPrior CHAR,@servicesToPurchasersPrior CHAR
		select @averageCasesPrior=averageCases,@individualCollectionsPrior=individualCollections,@personnelToCollectDebtsPrior=personnelToCollectDebts,@servicesToPurchasersPrior=servicesToPurchasers 
		from collectionsSuplimentDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
	
		set @rule_id='AverageCasesHandlesPerYearRenewalRule_Lawyers'
		if((@averageCasesPrior/@averageCases)*100>150)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large number of collections cases in comparison to AOP percentage.','How many support staff assist in collection matters? How long has the attorney provided collection services?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		--set @rule_id='CollectionsPracticeAsConsumerCollectionsRenewalRule_Lawyers'
		--if(@consumerCollections>20)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Consumer collections exceeds 20% of total practice.','Minimum of $10,000 deductible required.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IndividualCollectionsRule_Lawyers'
		if(@individualCollectionsPrior!=@individualCollections and @individualCollections>25000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Individual collections exceeds underwriting threshold.','What is the value of the 3 largest collection cases the firm has handled in the past two years?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='NonLawyersPersonnelToCollectDebtsRenewalRule_Lawyers'

		if(@personnelToCollectDebts='Y' and @personnelToCollectDebtsPrior='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm may be acting outside of normal law firm capacity.','What is the role of the non-lawyer personnel collecting debt?  How does the attorney supervise the non-lawyer personnel?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='ServicesToPurchasersRenewalRule_Lawyers'
		if(@servicesToPurchasers='Y' and @servicesToPurchasersPrior='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Provides services to debt consolidators.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
	END
END



GO
