USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsAgainstAccountLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetClaimsAgainstAccountLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsAgainstAccountLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetClaimsAgainstAccountLW_p] AS' 
END
GO
--exec GetClaimsAgainstAccountLW_p 41110
ALTER PROCEDURE [dbo].[GetClaimsAgainstAccountLW_p]
	@AccountID INT

AS
BEGIN
DECLARE @claimCount INT=0,@totalIncurred INT,@isReferred char='N'
	set @claimCount=(select case when count(ClaimIncidentSuppKey) is not null then count(ClaimIncidentSuppKey) else 0 end as claimcount from ClaimIncidentSupp where Policykey in( select Policykey from Policy where Accountid=@AccountID) and CurrentStatus in('Open','opened'))
set @totalIncurred=(select case when sum(TotalIncurred) is not null then sum(TotalIncurred) else 0 end from ClaimIncidentSupp where Policykey in( select Policykey from Policy where Accountid=@AccountID) and CurrentStatus in('Open','opened'))

if(@claimCount>0 or @totalIncurred>0)
	begin
			set @isReferred='Y'
	end
	select @isReferred as isReferred
END


GO
