USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetPasswordSecureOne_proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetPasswordSecureOne_proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetPasswordSecureOne_proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetPasswordSecureOne_proc] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[ResetPasswordSecureOne_proc] 
	@AccountKey int,
	@PolicyKey int,
	@LoginID varchar(50)

AS
BEGIN
	
	select AccountEmail from Account where AccountKey=@AccountKey

END

GO
