USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertPastClaimsDetailsAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertPastClaimsDetailsAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertPastClaimsDetailsAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertPastClaimsDetailsAcc_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertPastClaimsDetailsAcc_p]
(
@PolicyKey INT,
@VersionSequence INT,
@IsAnyRegulatoryInquiry CHAR,
@RegulatoryInquiryExaplain varchar(5000),
@RegulatoryInquiryComment varchar(8000),
@IsAwarenessOfAnyProfLiabilitySuitAgainst CHAR,
@IsFirmDeclinedOtherthanNonPayment CHAR,
@ReasonForDecline VARCHAR(5000),
@ReasonForDeclineComment VARCHAR(8000),
@IsAwarenessOfAnyProfLiability CHAR,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN

update firm set
	IsAnyRegulatoryInquiry=@IsAnyRegulatoryInquiry,
	RegulatoryInquiryExaplain=@RegulatoryInquiryExaplain,
	RegulatoryInquiryComment=@RegulatoryInquiryComment,
	IsAwarenessOfAnyProfLiability=@IsAwarenessOfAnyProfLiability,
	IsAwarenessOfAnyProfLiabilitySuitAgainst=@IsAwarenessOfAnyProfLiabilitySuitAgainst,
	IsFirmDeclinedOtherthanNonPayment=@IsFirmDeclinedOtherthanNonPayment,
	ReasonForDecline=@ReasonForDecline,
	ReasonForDeclineComment=@ReasonForDeclineComment,
	LastUpdateUserID=@LastUpdateUserID,
	LastUpdateTimeStamp=@LastUpdateTimeStamp
	WHERE PolicyKey=@Policykey and VersionSequence=@VersionSequence

END




GO
