USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoQuote_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AutoQuote_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoQuote_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AutoQuote_LW] AS' 
END
GO
--exec AutoQuote_LW 150826, 153514, 6393, 151054, 34258, 2, '3'
--exec AutoQuote_LW 182414,	192873,	52659,	182676,	157536, 2, 1, 10000.0, 1.0
ALTER PROCEDURE [dbo].[AutoQuote_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50),
	@InvoicedPremium INT,
	@FullTimeEquivalent VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@descriptionPrior varchar(500),@daysDifference INT,	@AccountName varchar(100),	@Address1 VARCHAR(100),	@PolicyEffectiveDate DateTime
	DECLARE @priorPremium NUMERIC(10,2),@premiumDifference numeric(17,2),@priorPremium10Percent Numeric(17,2),@priorPremium3Percent Numeric(17,2)
	DECLARE @previousPolicyKey INT,@previousVersionSequence INT,@StateCode VARCHAR(50),@priorStateCode VARCHAR(50),@IsReferRuleTriggered CHAR='N' 
	DECLARE  @referralCount int,@IsAttorneyAddedDeleted CHAR,@feeSuitsCount INT,@feeSuitsCount1 INT,@feeSuitsCount2 INT,@feeSuitsCount3 INT,@feeSuitsCount4 INT,@feeSuitsCount5 INT,@claimCount INT
	DECLARE @ProducerCode VARCHAR(50),@isDirect CHAR,@attorneyCout int,@aopCount INT
	set @ProducerCode=(select distinct ProducerCode from PolicyTransaction where PolicyKey=@PolicyKey)
	if(@ProducerCode is null)
	set @isDirect='Y'
	else
		begin
			set @isDirect=(select IsDriect from SubProducer where ProducerCode=@ProducerCode)
		end

	IF(@PolicyStatusKey=1)
	BEGIN
		print '<<<<<<<<<<<<<<<<New Business Policy>>>>>>>>>>>>> '
		set @IsReferRuleTriggered='Y'
	END
	IF(@PolicyStatusKey=2)
	BEGIN
		print '<<<<<<<<<<<<<<<<Renewal Policy>>>>>>>>>>>>>>>>>'
		select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmLW f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		set @priorPremium=(select invoicedPremium from Policytransaction pt inner join Quote q on q.Policykey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence where q.IsThisOptionFinalised='Y' and q.PolicyKey=@previousPolicyKey)
		set @premiumDifference=@InvoicedPremium-@priorPremium
		set @priorPremium10Percent=(@priorPremium*.1)
		set @priorPremium3Percent=(@priorPremium*.03)
			SET @StateCode=(select StateCode from Address where AddressKey=@AddressKey)
			set @priorStateCode=(select StateCode from Address ad inner join AccountAddress aa on aa.AddressKey=ad.AddressKey inner join Policytransaction pt on pt.AccountKey=aa.Accountkey inner join Policy p on p.PolicyKey=pt.Policykey where p.Policykey=@previousPolicyKey group by StateCode)
		select @IsAttorneyAddedDeleted=IsAttorneyAddedDeleted from FirmLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		set @attorneyCout=(select count(AttorneyKey) From AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		set @aopCount=(select count(AOPKEY) from AreaOfPracticeLW where PercentageValue>0 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		--SET @feeSuitsCount=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
		--select @PolicyKey,@StateCode,@previousPolicyKey,@priorStateCode
		set @claimCount=(select count(*) from ProfLiabClaimAgnstFirmLW where PolicyKey in(select PolicyKey from Policy where AccountID=@AccountID))
		SET @feeSuitsCount1=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate()))
		SET @feeSuitsCount2=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-1)
		SET @feeSuitsCount3=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-2)
		SET @feeSuitsCount4=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-3)
		SET @feeSuitsCount5=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-4)
		
		if(@isDirect='N')
			begin
				print 'subproducer policy'
				set @IsReferRuleTriggered='Y'
			end
		else if(@StateCode!=@priorStateCode)
			begin
				print 'StateCode has changed.'
				set @IsReferRuleTriggered='Y'
			END
		else if(@attorneyCout=1 and @aopCount>3)
			begin
				print 'Firm renewing with single attorney and more tha 4 aops'
				set @IsReferRuleTriggered='Y'
			END
		else if(@InvoicedPremium>10000)
			begin
			print 'Premium is greator than 10000.'
				set @IsReferRuleTriggered='Y'
			end
		  else if(@premiumDifference>0 and (@premiumDifference>@priorPremium10Percent))
              begin
                     print 'There is Premium Increase.'
                      set @IsReferRuleTriggered='Y'
              end
         else if(@premiumDifference<0 and (abs(@premiumDifference)>@priorPremium3Percent))
              begin
                     print 'There is Premium Decrease.'
                      set @IsReferRuleTriggered='Y'
              end
		
		else if(@IsAttorneyAddedDeleted='Y')
			begin
				print 'There was attorney change.'
				set @IsReferRuleTriggered='Y'
			END
		else if(@IsAttorneyAddedDeleted='N' and cast(@FullTimeEquivalent as numeric)>3)
			begin
				print 'Full Time Equivalent greator than 3.'
				set @IsReferRuleTriggered='Y'
			END
	
		else if(@feeSuitsCount1>0 or @feeSuitsCount2>0 or @feeSuitsCount3>0 or @feeSuitsCount4>0 or @feeSuitsCount5 >0)
				begin
					print 'There is a fee suit in past 5 years.'
					set @IsReferRuleTriggered='Y'
			end
		--else if(@feeSuitsCount>0 )
		--		begin
		--			print 'There is a fee suit.'
		--			set @IsReferRuleTriggered='Y'
		--	end
		else if(@claimCount>0 )
			begin
				print 'There is a claims exists against this account.'
				set @IsReferRuleTriggered='Y'
			end
		
		Begin try
			
			 exec UWRules_AboutYou_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_InsuranceHistory_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_Attorneys_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_LawPractice_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_FirmInfo_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_BankruptcySupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_CollectionsSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_CopyrightTrademarkSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_CorporateCommercialSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_FamilyLawSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_FinancialInstitutionSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_GovernmentSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID  
			 exec UWRules_RealEstateSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_WillsTrustsEstatesSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_TaxSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_QuoteOptions_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_ElectronicsSelectionRejection_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_PLaintiffSupplement_LW @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
		End Try
		 Begin Catch
			Print ERROR_MESSAGE()
		 End Catch
		
		 set @referralCount=(select count(*) from rulepolicytransaction where PolicyKey=@PolicyKey and isArchived='NO')
		if(@referralCount is null)
		 set @referralCount=0
		 if(@referralCount>0)
			begin
				print 'Policy has underwriting flags raised.'
				set @IsReferRuleTriggered='Y'
		END
		--select @priorPremium as PriorPremium,@InvoicedPremium as CurrentPremium,@premiumDifference as premiumDifference,@priorPremium10Percent as priorPremium10Percent,@priorPremium3Percent as priorPremium3Percent

			print '<<<<<<<<<<<<<Finished with executing Renewal auto quote conditions>>>>>>>>>>>>>>'
	END	
		
	
	select @IsReferRuleTriggered as IsReferRuleTriggered
END









GO
