USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAboutFirmDetailsACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertAboutFirmDetailsACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAboutFirmDetailsACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertAboutFirmDetailsACC_p] AS' 
END
GO
--exec InsertAboutFirmDetailsACC_p 76307, 19668, 10, 346, '<Root><Root1><LastUpdateTimeStamp>Fri Nov 02 13:27:25 IST 2018</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>76307</PolicyKey><GrossRevenueKey>1</GrossRevenueKey><Amount>34233</Amount><YearEndDate>12/2017</YearEndDate><VersionSequence>19668</VersionSequence></Root1><Root1><LastUpdateTimeStamp>Fri Nov 02 13:27:25 IST 2018</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>76307</PolicyKey><GrossRevenueKey>2</GrossRevenueKey><Amount>23423</Amount><YearEndDate>12/2016</YearEndDate><VersionSequence>19668</VersionSequence></Root1><Root1><LastUpdateTimeStamp>Fri Nov 02 13:27:25 IST 2018</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>76307</PolicyKey><GrossRevenueKey>3</GrossRevenueKey><Amount>23423</Amount><YearEndDate>12/2015</YearEndDate><VersionSequence>19668</VersionSequence></Root1></Root>'
ALTER PROCEDURE [dbo].[InsertAboutFirmDetailsACC_p]
(
@PolicyKey INT,
@VersionSequence INT,
@TotalFirmPersonnel INT,
@CPAPersonnel INT,
@xml XML,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey INT
)	
AS
BEGIN
	if(@CPAPersonnel is Null or @CPAPersonnel='')
	begin
		set @CPAPersonnel=0;
	end
	Update firm set TotalFirmPersonnel=@TotalFirmPersonnel,CPAPersonnel=@CPAPersonnel,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp 
	where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	DELETE FROM GrossRevenueForFirm WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

		INSERT INTO GrossRevenueForFirm(Amount, YearEndDate,GrossRevenueKey,PolicyKey,VersionSequence,LastUpdateUserID,CreatedBy,CreatedDate,VersionKey)
		SELECT
				doc.col.value('Amount[1]', 'numeric(15,0)') Amount,
			doc.col.value('YearEndDate[1]', 'varchar(1000)') YearEndDate, 
			doc.col.value('GrossRevenueKey[1]', 'INT') GrossRevenueKey ,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
			@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey
			
				
		FROM @xml.nodes('/Root/Root1') doc(col)
			
		--UPDATE GrossRevenueForFirm SET LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey
END





GO
