USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAddressRenewal_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAddressRenewal_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAddressRenewal_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAddressRenewal_p] AS' 
END
GO
--exec UpdateAddressRenewal_p 55663,55686
ALTER PROCEDURE [dbo].[UpdateAddressRenewal_p]
(
@PolicyKey INT,
@AddressKey INT
) 
	
AS
BEGIN
	--select * from policytransaction where policykey=44655
	-- select * from accountaddress where accountkey=44680
	--select * from address where addresskey=44670
	DECLARE @PreviousPolicykey INT
	DECLARE @Address VARCHAR(100)

		

		select  @PreviousPolicykey=p.policykey FROM policy p inner join firmlw f on p.policykey=f.policykey
		 where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=@PolicyKey)
					AND policynumber is not null)
		
		print @PreviousPolicykey
		
		SELECT top 1 @Address=address1 from Address ad 
		--SELECT top 1 * from Address ad 
		inner join  AccountAddress ac on ad.AddressKey=ac.AddressKey
		inner join Policytransaction pt on ac.AccountKey=pt.AccountKey
		where policykey=@PreviousPolicykey

		--select @Address
		select * from address where AddressKey=@AddressKey
		--update address set address1=@Address,Street=@Address where AddressKey=@AddressKey
END

GO
