USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayCollectionAmountForPDF_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayCollectionAmountForPDF_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayCollectionAmountForPDF_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayCollectionAmountForPDF_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[DisplayCollectionAmountForPDF_p]
(
@PolicyKey INT
)
       
AS
BEGIN


              
 	     
SELECT dbo.getAmountFormatWithBracket(individualCollections) as individualCollectionsAmount from collectionsSuplimentDetailsLW where PolicyKey=@PolicyKey

       
END



GO
