USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCarrearCoverageAttorneyData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetCarrearCoverageAttorneyData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCarrearCoverageAttorneyData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetCarrearCoverageAttorneyData_p] AS' 
END
GO
--exec GetCarrearCoverageAttorneyData_p 177414	 	
ALTER PROCEDURE [dbo].[GetCarrearCoverageAttorneyData_p]
(
@PolicyKey Int
)
AS
BEGIN
	CREATE TABLE #Temp
	(
	rownum INT,
	AttorneyKey INT,
	AttorneyName VARCHAR(100),
	AttorneyPriorActDate DATETIME
	
	)

	
	
	INSERT INTO #Temp(rownum,AttorneyKey,AttorneyName)
	SELECT row_number() OVER(order by AttorneyKey) as rownum,AttorneyKey,AttorneyName
	FROM AttorneyDetailsLW WITH (NOLOCK) WHERE PolicyKey=@PolicyKey 

	update t 
	set t.AttorneyPriorActDate=t2.AttorneyPriorActDate
	from #Temp t inner join CarrearCoverageAttorneyDetails t2
	on t.AttorneyKey=t2.AttorneyKey

	--Print @VersionSequence
	SELECT * FROM #Temp
END






GO
