USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoQuote_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AutoQuote_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoQuote_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AutoQuote_ACC] AS' 
END
GO
--exec AutoQuote_ACC 150826, 153514, 6393, 151054, 34258, 2, '3'
--exec AutoQuote_ACC 167384, 174877, 95818, 167629, 38184, 2, null
ALTER PROCEDURE [dbo].[AutoQuote_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@descriptionPrior varchar(500),@daysDifference INT,	@AccountName varchar(100),	@Address1 VARCHAR(100),	@PolicyEffectiveDate DateTime
	DECLARE @POBoxCoount int,@previousPolicyKey INT,@previousVersionSequence INT,@StateCode VARCHAR(50),@priorStateCode VARCHAR(50),@IsReferRuleTriggered CHAR='N' 
	DECLARE  @TempPolicyList TABLE (Address varchar(500))
	DECLARE @TotalFirmPersonnel INT,@priorYearTotalFirmPersonnel INT
	Declare @Amount_1 int,@Amount_2 INT,@Amount_3 INT,@AverageRevenue INT,@priorYearAmount_1 INT,@IsAnyFirmMeargedOrAcquired CHAR,@IsControlClientFunds CHAR,@IsFirmsRevenueMorethan25Percent CHAR,@PercentOfRevenueFromLargestClient INT
	Declare @investmentPlanning INT,@computerServices INT,@BusinessManagement INT,@audit INT,@AnnualRevenue NUMERIC(15,0),@investmentPlanningOld INT,@computerServicesOld INT, @BusinessManagementOld INT,@auditOld INT,@OtherConsulting INT,@forecastProjections INT,
	@ManagementConsulting INT,@BusinessValuation INT,@mergersAcquisitions INT,@SECWorkOtherAudit INT,@investmentFinancial INT,@erisaPensionPlans INT,@trusteeServices INT,@otherAOP INT
	DECLARE @OtherConsultingPrior INT,@ManagementConsultingPrior INT,@BusinessValuationPrior INT,@forecastProjectionsPrior INT,@mergersAcquisitionsPrior INT,@SECWorkOtherAuditPrior INT,@investmentFinancialPrior INT,@erisaPensionPlansPrior INT,@trusteeServicesPrior INT,@otherAOPPrior INT
	DECLARE @IsFirmRenderingServices CHAR,@IsReferralsInvestmentVentures CHAR,@IsServedAsTrustee CHAR,@IsFirmRenderedServiceForAnyClient CHAR,
	@IsSyndicationManagers CHAR,@IsNonPublicInvestmentDone CHAR,@IsAllegOfLegalMalPracCount INT,@IsAnyRegulatoryInquiry CHAR,@IsAwarenessOfAnyProfLiability CHAR,@IsAwarenessOfAnyProfLiabilitySuitAgainst CHAR,@IsFirmDeclinedOtherthanNonPayment CHAR,
	@IsPolicyExcludesCoverage CHAR
	DECLARE @feeSuitsCount1 INT=0,@feeSuitsCount2 INT=0,@feeSuitsCount3 INT=0,@feeSuitsCount4 INT=0,@totalFeesuitCount INT,@feesuitAmountSumPriorYear INT,@feesuitAmountSumPriorYear1 INT,@feesuitAmountSumPriorYear2 INT,@feesuitAmountSumPriorYear3 INT,@feesuitAmountSumPriorYear4 INT
	Declare @IsDiscretionaryAssetMangt CHAR,@IsSecuritiesSales CHAR,@isContractualRelationShip Char,@IsAnyNonPublicInvestments CHAR,@IsAnyReferralFeesInvestments CHAR,@IsAnyFirmAffiliateLicensed CHAR,@IsAnyEmployeeBenefitPlan CHAR 
	Declare @FirmRenderedAuditAtt INT,@IsPublicTradedAudited CHAR,@IsFirmHaveAWrittenPolicyAtt CHAR,@IsSecondPartnerReviewAtt Char,@IsAuditEngagementsAtt CHAR,@IsAualityReviewAtt CHAR,@IsLastPeerReviewAtt CHAR,
	@IsDebtOrEquityFinancing CHAR,@banksLendingInstitutions INT,@brokersDealers INT,@insuranceCompanies INT,@investmentCompaniesFunds INT
	Declare @HaveInvestmentAuthorityFC CHAR,@IsControlFundsForBusinessAndEntimentFc CHAR,@IsManagementServiceProvided CHAR,@IsFirmPersonnelBusinessManagerFc CHAR 
	DECLARE @RevenuesFromLastYear INT,@EstimatedRevenue INT,@IsSuitInstituted CHAR
	DECLARE @PolicyExpirationDatePross DATETIME,@moreThan5000Count INT,@CurrentPremium NUmeric(17,2),@priorPremium Numeric(17,2),@minimumTransactionSequenc INT,@Firm_Ed_TrainingMod INT,@isAutoQuoteModsUpdated CHAR
	DECLARE @referralCount int, @claimCount INT
	
	--print 'Main1'


	set @minimumTransactionSequenc=(select top 1 TransactionSequence from Policytransaction where PolicyKey=@PolicyKey order by TransactionSequence asc)
	select @StateCode=StateCode from Address where AddressKey=@AddressKey
	select @IsFirmRenderingServices=IsFirmRenderingServices,@IsFirmsRevenueMorethan25Percent=IsFirmsRevenueMorethan25Percent,@IsAnyFirmMeargedOrAcquired=IsAnyFirmMeargedOrAcquired,@IsControlClientFunds=IsControlClientFunds,
	@IsReferralsInvestmentVentures=IsReferralsInvestmentVentures,@IsServedAsTrustee=IsServedAsTrustee,@IsFirmRenderedServiceForAnyClient=IsFirmRenderedServiceForAnyClient,@IsSyndicationManagers=IsSyndicationManagers,
	@IsNonPublicInvestmentDone=IsNonPublicInvestmentDone,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry,@IsAwarenessOfAnyProfLiability=IsAwarenessOfAnyProfLiability,@IsAwarenessOfAnyProfLiabilitySuitAgainst=IsAwarenessOfAnyProfLiabilitySuitAgainst,
	@IsFirmDeclinedOtherthanNonPayment=IsFirmDeclinedOtherthanNonPayment,@IsPolicyExcludesCoverage=IsPolicyExcludesCoverage,@isAutoQuoteModsUpdated=isAutoQuoteModsUpdated
	 ,@IsSuitInstituted=IsSuitInstituted
	 from Firm 	where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence	
	--print 'Main2'
	set @CurrentPremium=(select case when InvoicedPremium is null  then 0 else InvoicedPremium end from Policytransaction where PolicyKey=@PolicyKey and TransactionSequence=@minimumTransactionSequenc)

	select @IsDiscretionaryAssetMangt=IsDiscretionaryAssetMangt,@IsSecuritiesSales=IsSecuritiesSales,@isContractualRelationShip=isContractualRelationShip,@IsAnyNonPublicInvestments=IsAnyNonPublicInvestments,
	@IsAnyReferralFeesInvestments=IsAnyReferralFeesInvestments,@IsAnyReferralFeesInvestments=IsAnyReferralFeesInvestments,@IsAnyEmployeeBenefitPlan=IsAnyEmployeeBenefitPlan 
	from FinancialPlanningAndIAServiceSupp where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	--print 'Main3'
	Select @TotalFirmPersonnel=TotalFirmPersonnel,@IsAnyFirmMeargedOrAcquired=IsAnyFirmMeargedOrAcquired,@IsControlClientFunds=IsControlClientFunds,@IsFirmsRevenueMorethan25Percent=IsFirmsRevenueMorethan25Percent,
	@PercentOfRevenueFromLargestClient=PercentOfRevenueFromLargestClient from Firm where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	--print 'Main4'

	SET @Amount_1=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @Amount_2=(select Amount from GrossRevenueForFirm where GrossRevenueKey=2 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @Amount_3=(select Amount from GrossRevenueForFirm where GrossRevenueKey=3 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	set @AverageRevenue=(@Amount_1+@Amount_2+@Amount_3)/3
	--print 'Main5'
	set @AccountName=(select AccountName from Account where AccountKey=@AccountKey)
	select @Address1=Address1,@StateCode=StateCode from Address where AddressKey=@AddressKey
	set @PolicyEffectiveDate=(select PolicyEffectiveDate from Policy where PolicyKey=@PolicyKey)
	SET @daysDifference=(SELECT DATEDIFF(Day,  getdate(),@PolicyEffectiveDate) )

	--select @daysDifference 
	select @FirmRenderedAuditAtt=FirmRenderedAuditAtt,@IsFirmHaveAWrittenPolicyAtt=IsFirmHaveAWrittenPolicyAtt,@IsSecondPartnerReviewAtt=IsSecondPartnerReviewAtt,@IsAuditEngagementsAtt=IsAuditEngagementsAtt
	,@IsAualityReviewAtt=IsAualityReviewAtt,@IsLastPeerReviewAtt=IsLastPeerReviewAtt,@IsLastPeerReviewAtt=IsLastPeerReviewAtt
	 from Attestation where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	-- print 'Main6'
	 set @banksLendingInstitutions=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=2)
	set @brokersDealers=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=3)
	set @insuranceCompanies=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=9)
	set @investmentCompaniesFunds=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=10)
	--print 'Main7'
	select @HaveInvestmentAuthorityFC=HaveInvestmentAuthorityFC,@IsControlFundsForBusinessAndEntimentFc=IsControlFundsForBusinessAndEntimentFc,@IsManagementServiceProvided=IsManagementServiceProvided,@IsFirmPersonnelBusinessManagerFc=IsFirmPersonnelBusinessManagerFc
	 from FundsControlledSupp where Policykey=@PolicyKey and VersionSequence=@VersionSequence

	 SET @RevenuesFromLastYear=(select sum(RevenuesFromLastYear) from ITServicesSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ITServiceCategoryKey not in(1,2))
	if(@RevenuesFromLastYear is null)
		set @RevenuesFromLastYear=0
	SET @EstimatedRevenue=(select sum(EstimatedRevenue) from ITServicesSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence  and ITServiceCategoryKey not in(1,2))
	if(@EstimatedRevenue is null)
		set @EstimatedRevenue=0


	Set @moreThan5000Count=(select count(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey and InvoicedPremium>3000)

		--print 'Main8'

	INSERT into @TempPolicyList(Address) select replace(replace(replace(replace(replace(UPPER(@Address1),' ',''),'.',''),'-',''),'&',''),'#','')
	set @POBoxCoount=(select count(*)  from @TempPolicyList where address like '%POBOX%' )
	 
	---print @daysDifference
	--print'Referral conditions execution'
	SET @investmentPlanning  = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=19)
	if(@investmentPlanning is null)
		set @investmentPlanning=0
	
	SET @computerServices = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=14)
	if(@computerServices is null)
		set @computerServices=0
	
	SET @BusinessManagement =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=18)
	if(@BusinessManagement is null)
		set @BusinessManagement=0
	SET @audit =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=5)
	if(@audit is null)
		set @audit=0

	SET @OtherConsulting =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=12)
	if(@OtherConsulting is null)
		set @OtherConsulting=0

	SET @ManagementConsulting =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=13)
	if(@ManagementConsulting is null)
		set @ManagementConsulting=0

	SET @BusinessValuation =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=15)
	if(@BusinessValuation is null)
		set @BusinessValuation=0

	SET @forecastProjections =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=16)
	if(@forecastProjections is null)
		set @forecastProjections=0

	SET @mergersAcquisitions =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=17)
	if(@mergersAcquisitions is null)
		set @mergersAcquisitions=0

	SET @SECWorkOtherAudit =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=21)
	if(@SECWorkOtherAudit is null)
		set @SECWorkOtherAudit=0

	SET @investmentFinancial =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=19)
	if(@investmentFinancial is null)
		set @investmentFinancial=0

	SET @erisaPensionPlans =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=23)
	if(@erisaPensionPlans is null)
		set @erisaPensionPlans=0

	SET @trusteeServices =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=24)
	if(@trusteeServices is null)
		set @trusteeServices=0

	SET @otherAOP =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=20)
	if(@otherAOP is null)
		set @otherAOP=0

	set @description=(select aop.AOPCommentDesc   from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=20 )
		--print 'Main9'
	SET @AnnualRevenue=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where Policykey=@PolicyKey))
	
	SET @feeSuitsCount1=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate()))
	if(@feeSuitsCount1 is null)
		set @feeSuitsCount1=0
	SET @feeSuitsCount2=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-1)
	if(@feeSuitsCount2 is null)
		set @feeSuitsCount2=0
	SET @feeSuitsCount3=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-2)
	if(@feeSuitsCount3 is null)
		set @feeSuitsCount3=0
	SET @feeSuitsCount4=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-3)
	if(@feeSuitsCount4 is null)
		set @feeSuitsCount4=0
	SET @totalFeesuitCount=(@feeSuitsCount1+@feeSuitsCount2+@feeSuitsCount3+@feeSuitsCount4)
	
	set @feesuitAmountSumPriorYear1=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate()))
	if(@feesuitAmountSumPriorYear1 is null)
		set @feesuitAmountSumPriorYear1=0
	set @feesuitAmountSumPriorYear2=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-1)
	if(@feesuitAmountSumPriorYear2 is null)
		set @feesuitAmountSumPriorYear2=0
	set @feesuitAmountSumPriorYear3=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-2)
	if(@feesuitAmountSumPriorYear3 is null)
		set @feesuitAmountSumPriorYear3=0
	set @feesuitAmountSumPriorYear4=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-3)
	if(@feesuitAmountSumPriorYear4 is null)
		set @feesuitAmountSumPriorYear4=0

	set @IsAllegOfLegalMalPracCount=(select count(FirminitLawsuitsKey) from FirmInitLawsuits where IsAllegOfLegalMalPrac='Y' and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		print '<<<<<<<<<<<<<<<Finishied with data set up>>>>>>>>>>>>>>'

	IF(@PolicyStatusKey=1)
	BEGIN
		print '<<<<<<<<<<<<<<<<New Business Policy>>>>>>>>>>>>> '
		set @IsReferRuleTriggered='Y'
		

	END

	IF(@PolicyStatusKey=2)
	BEGIN
		print '<<<<<<<<<<<<<<<<Renewal Policy>>>>>>>>>>>>>>>>>'
		--IF(@StateCode='CA')
		BEGIN
		--	print 'CA policy'
		--	set @IsReferRuleTriggered='Y'
		--END

		--ELSE
		--BEGIN
		set @claimCount=(select count(*) from ProfessionalLiabilityInsDetail where PolicyKey in(select PolicyKey from Policy where AccountID=@AccountID))
				select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		
			set @priorStateCode=(Select  distinct StateCode from Address ads 
							inner join AccountAddress aa on aa.AddressKey=ads.AddressKey
							Inner join PolicyTransaction pt on aa.AccountKey=pt.AccountKey
							where pt.PolicyKey=@previousPolicyKey)

			set @priorPremium=(select invoicedPremium from Policytransaction pt inner join Quote q on q.Policykey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence where q.IsThisOptionFinalised='Y' and q.PolicyKey=@previousPolicyKey)
			DECLARE @priorYearAmount_1_20Percent NUMERIC(12,3) 
			--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
			Select @priorYearTotalFirmPersonnel=TotalFirmPersonnel from Firm where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
			SET @priorYearAmount_1=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence)
		
			set @priorYearAmount_1_20Percent= (@priorYearAmount_1*0.2)
			--select @priorYearAmount_1 as priorYearAmount_1,@Amount_1 as Amount_1,@priorYearAmount_1_20Percent as priorYearAmount_1_20Percent
			--set @rule_id='totalNoOfPersonRenew_Accountant'
			--if((@TotalFirmPersonnel-@priorYearTotalFirmPersonnel)>15)
			--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large firm. Total number of firm personell is above 15 people.','Total number of firm personell is above 15 people. Large firm.',@LastUpdateUserID
			--else
			--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=19)
			if(@investmentPlanningOld is null)
			set @investmentPlanningOld=0
			SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=14)
			if(@computerServicesOld is null)
			set @computerServicesOld=0
			SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=18)
			if(@BusinessManagementOld is null)
			set @BusinessManagementOld=0
			SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=5)
			if(@auditOld is null)
			set @auditOld=0
		
			SET @OtherConsultingPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=12)
			if(@OtherConsultingPrior is null)
			set @OtherConsultingPrior=0

			SET @ManagementConsultingPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=13)
			if(@ManagementConsultingPrior is null)
				set @ManagementConsultingPrior=0


			SET @BusinessValuationPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=15)
			if(@BusinessValuationPrior is null)
				set @BusinessValuationPrior=0

			SET @forecastProjectionsPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=16)
			if(@forecastProjectionsPrior is null)
				set @forecastProjectionsPrior=0

			SET @mergersAcquisitionsPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=17)
			if(@mergersAcquisitionsPrior is null)
				set @mergersAcquisitionsPrior=0

			--SET @SECWorkOtherAuditPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=21)
			--if(@SECWorkOtherAuditPrior is null)
			--	set @SECWorkOtherAuditPrior=0

			--SET @investmentFinancialPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=19)
			--if(@investmentFinancialPrior is null)
			--	set @investmentFinancialPrior=0

			SET @erisaPensionPlansPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=23)
			if(@erisaPensionPlansPrior is null)
				set @erisaPensionPlansPrior=0
			
			SET @trusteeServicesPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=24)
			if(@trusteeServicesPrior is null)
				set @trusteeServicesPrior=0

			SET @otherAOPPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=20)
			if(@otherAOPPrior is null)
				set @otherAOPPrior=0
			
			set @descriptionPrior=(select aop.AOPCommentDesc   from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=20)	
			--select @StateCode as StateCode,@CurrentPremium as CurrentPremium,@priorPremium as priorPremium,@isAutoQuoteModsUpdated as isAutoQuoteModsUpdated
			if(@isAutoQuoteModsUpdated is null or @isAutoQuoteModsUpdated='')
			set @isAutoQuoteModsUpdated='N'

			print ' CurrentPremium= '+cast(@CurrentPremium as varchar)+', priorPremium= '+cast(@priorPremium as varchar)+ ', isAutoQuoteModsUpdated = '+cast(@isAutoQuoteModsUpdated as varchar)
		
			if( @StateCode<>'WA' and @CurrentPremium>0 and @CurrentPremium<@priorPremium and @isAutoQuoteModsUpdated<>'Y')
			begin
				print 'Mods have been updated to subjective conditions'
				SET @Firm_Ed_TrainingMod=(select case when percentage is null or percentage ='' then 0 else percentage end from CoverageModifiers where ModifierKey=3 and Policykey=@PolicyKey)

				update CoverageModifiers set percentage=@Firm_Ed_TrainingMod+3 where ModifierKey=3 and Policykey=@PolicyKey 
				update FIRM set isAutoQuoteModsUpdated='Y' where Policykey=@PolicyKey
			end	
				
				
				
				if(@POBoxCoount>0)
				begin
					print 'rb1'
					set @IsReferRuleTriggered='Y'
				end
			
				else if(@daysDifference<0)
				begin
					print 'rb2'
					set @IsReferRuleTriggered='Y'
				end
					
				else if(@daysDifference>90)
				begin
					print 'rb3'
					set @IsReferRuleTriggered='Y'
				end

				--State has been changed
				else if(@StateCode<>@priorStateCode)
				begin
					print 'rb4'
					set @IsReferRuleTriggered='Y'
				end

			else if(@TotalFirmPersonnel>14)
				begin
					print 'rb5'
					set @IsReferRuleTriggered='Y'
				end
		
			else if(@Amount_1<20000 or @Amount_1>750000)
				begin
					print 'rb6'
					set @IsReferRuleTriggered='Y'
				end
			--set @rule_id='annualRevenueLastCompletedBusinessYear_Accountant'
			--if()
			--begin
			--		print 'rb7'
			--		set @IsReferRuleTriggered='Y'
			--	end
			--set @rule_id='annualDecreaseBy20ErcentFromLastYear_Accountant'
			----------------else if((@priorYearAmount_1-@Amount_1)>@priorYearAmount_1_20Percent)
			----------------	begin
			----------------		print 'rb8'
			----------------		set @IsReferRuleTriggered='Y'
			----------------	end
			--set @rule_id='anySolePractitionerAccountingFirm_Accountant'
			else if(@IsAnyFirmMeargedOrAcquired='Y')
				begin
					print 'rb9'
					set @IsReferRuleTriggered='Y'
				end
			--set @rule_id='controlOrDisburseClientFunds_Accountant'
			else if(@IsControlClientFunds='Y')
				begin
					print 'rb10'
					set @IsReferRuleTriggered='Y'
				end
			--set @rule_id='lastYearFirmRevenue_Accountant'
			else if(@IsFirmsRevenueMorethan25Percent='Y' and @PercentOfRevenueFromLargestClient>39 )
				begin
					print 'rb11'
					set @IsReferRuleTriggered='Y'
				end
			--set @rule_id='auditPubliclyheldRenew_Accountant'
			else if(@audit>0 )
				begin
					print 'rb12'
					set @IsReferRuleTriggered='Y'
				end
	--		set @rule_id='otherConsultingRenew_Accountant'
			else if((@OtherConsulting-@OtherConsultingPrior)>0 )
			begin
					print 'rb13'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='managementConsultingBusinessPlanningRenew_Accountant'
			else if((@ManagementConsulting-@ManagementConsultingPrior)>10 )
			begin
					print 'rb14'
					set @IsReferRuleTriggered='Y'
			end
	--		set @rule_id='businessValuationRenew_Accountant'
			else if((@BusinessValuationPrior=0 AND  @BusinessValuation>0) or(@BusinessValuationPrior>0 and (@BusinessValuation-@BusinessValuationPrior)>10))
			begin
					print 'rb15'
					set @IsReferRuleTriggered='Y'
			end
		--	set @rule_id='forecastsProjectionsRenew_Accountant'
			else if((@forecastProjectionsPrior=0 and @forecastProjections>0) or (@forecastProjectionsPrior>0 and (@forecastProjections-@forecastProjectionsPrior)>5) )
			begin
					print 'rb16'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='mergersAcquisitionsRenew_Accountant'
			else if((@mergersAcquisitionsPrior=0 and @mergersAcquisitions>0) or (@mergersAcquisitionsPrior>0 and (@mergersAcquisitions-@mergersAcquisitionsPrior)>10) )
			begin
					print 'rb17'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='businessManagementRenew_Accountant'
			else if(( @BusinessManagementOld=0 and @BusinessManagement>0) or (@BusinessManagementOld>0 and (@BusinessManagement-@BusinessManagementOld)>10) )
			begin
					print 'rb18'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='SECWorkOtherAuditRenew_Accountant'
			else if(@SECWorkOtherAudit>0 )
			begin
					print 'rb19'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='investmentFinancialRenew_Accountant'
			else if(@investmentFinancial>0 )
			begin
					print 'rb20'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='erisaPensionPlansRenew_Accountant'
			else if((@erisaPensionPlansPrior=0 and @erisaPensionPlans>0) or (@erisaPensionPlansPrior>0 and (@erisaPensionPlans-@erisaPensionPlansPrior)>10) or @erisaPensionPlans>25)
			begin
					print 'rb21'
					set @IsReferRuleTriggered='Y'
			end
		--	set @rule_id='trusteeServicesRenew_Accountant'
			else if((@trusteeServicesPrior=0 and  @trusteeServices>0) or (@trusteeServicesPrior>0 and (@trusteeServices-@trusteeServicesPrior)>10) )
			begin
					print 'rb22'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='otherAOPRenew_Accountant'
			else if((@otherAOP>0 and @otherAOP<>@otherAOPPrior) or(@description<> @descriptionPrior) )
			begin
					print 'rb23'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='hasFirmEnteredEngagementServingTrusteeCoTrusteeRenew_Accountant'
			else if(@IsServedAsTrustee='Y')
			begin
					print 'rb24'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='hasFirmEnteredEngagementServingOfficerDirectorRenew_Accountant'
			else if(@IsFirmRenderedServiceForAnyClient='Y')
			begin
					print 'rb25'
					set @IsReferRuleTriggered='Y'
			end
		
			else if (@IsSuitInstituted='Y')
			begin
					print 'addition of fee suit has been answred to yes.'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='checkCountOfFeeSuitInPastYears_Accountant'
			else if(@totalFeesuitCount>0)
				begin
					print 'rb26'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='checkAmountOfFeesSuedRenew_Accountant'
			--if(@feesuitAmountSumPriorYear>25000)
			--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Fee suits for more than 3 or the annual ammount paid is greater than 25,000.','Amount of fee suits are above $25,000.',@LastUpdateUserID
			--else
			--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			

			--set @rule_id='regulatoryInvestigationInquirySuspendedPracticeChargedRenew_Accountant'
			else if(@IsAnyRegulatoryInquiry='Y')
			begin
					print 'rb28'
					set @IsReferRuleTriggered='Y'
			end
			--set @rule_id='anyAccountantsProfessionalLiabilityClaimsMadeAgainstFirmRenew_Accountant'
			else if(@IsAwarenessOfAnyProfLiability='Y')
			begin
					print 'rb29'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='anyActOmissionFeeDisputeBasisOfClaimAgainstFirmRenew_Accountant'
			else if(@IsAwarenessOfAnyProfLiabilitySuitAgainst='Y')
			begin
					print 'rb30'
					set @IsReferRuleTriggered='Y'
			end
			--- Investment Supp Start--->
			--set @rule_id='discretionaryAssetManagementServicesRenew_Accountant'
			else if(@IsDiscretionaryAssetMangt='Y')
			begin
					print 'rb31'
					set @IsReferRuleTriggered='Y'
			end

		
			--set @rule_id='securitiesSalesRenew_Accountant'
			else if(@IsSecuritiesSales='Y')
			begin
					print 'rb32'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='doesFirmContractualRelationshipWithSecuritiesbrokerDealerRenew_Accountant'
			else if(@isContractualRelationShip='Y')
			begin
					print 'rb33'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='haveAnyPersonnelRecommendedNonPublicInvestmentsToClientsRenew_Accountant'
			else if(@IsAnyNonPublicInvestments='Y')
			begin
					print 'rb34'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='haveRecieveCommissionReferralsInvestment_Accountant'
			else if(@IsAnyReferralFeesInvestments='Y')
			begin
					print 'rb35'
					set @IsReferRuleTriggered='Y'
			end
	
			--set @rule_id='firmLicensedLifeHealthAccidentDisabilityInsuranceAgentBrokerRenew_Accountant'
			else if(@IsAnyReferralFeesInvestments='Y')
			begin
					print 'rb36'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='doesFirmPersonnelDiscretionaryAuthorityInvestForEmployeeBenefitPlanRenew_Accountant'
			else if(@IsAnyEmployeeBenefitPlan='Y')
			begin
					print 'rb37'
					set @IsReferRuleTriggered='Y'
			end
			-------------------------------------Investment Supp End-----------------------------------
			----------------------------Audit Supp Start------------------------------------------------
			--set @rule_id='banksBrokersInsuranceCompaniesInvestmentCompaniesRenew_Accountant'
			--if(@banksLendingInstitutions>0 or @brokersDealers>0 or @insuranceCompanies>0 or @investmentCompaniesFunds>0)
			--begin
			--		print 'rb38'
			--		set @IsReferRuleTriggered='Y'
			--end

			--set @rule_id='hasFirmlastpeerreviewmodifiedqualified_Accountant'
			else if( @FirmRenderedAuditAtt>0)
			begin
					print 'rb39'
					set @IsReferRuleTriggered='Y'
			end
		
			--set @rule_id='hasFirmUndergonePeerQualityReviewRenew_Accountant'
			else if( @IsAualityReviewAtt='N')
			begin
					print 'rb40'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='hasFirmlastpeerreviewmodifiedqualifiedRenew_Accountant'
			else if( @IsLastPeerReviewAtt='Y')
			begin
					print 'rb41'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='investmentFundsHedgeFundsMutualFunds_Accountant'
			else if( @IsSyndicationManagers='Y')
			begin
					print 'rb42'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='hasFirmArrangedFinancingBusinessBrokerOfferingPublicPrivateSecurities_Accountant'
			else if( @IsDebtOrEquityFinancing='Y')
			begin
					print 'rb43'
					set @IsReferRuleTriggered='Y'
			end
			----------------------------Audit Supp End--------------------------------------------------

			---------------------------Business Management Funds Supp-------------------------------------------
			--set @rule_id='doesFirmhaveDiscretionaryInvestmentRenew_Accountant'
			else if(@HaveInvestmentAuthorityFC='Y')
			begin
					print 'rb44'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='provideBusinessManagementFamilyOfficeServicesRenew_Accountant'
			else if(@IsControlFundsForBusinessAndEntimentFc='Y')
			begin
					print 'rb45'
					set @IsReferRuleTriggered='Y'
			end

			--set @rule_id='providedManagementServicesForInvestmentVentures_Accountant'
			else if(@IsManagementServiceProvided='Y')
			begin
					print 'rb46'
					set @IsReferRuleTriggered='Y'
			end


			--set @rule_id='doFirmPersonnelActasManagerCFOforClientsRenew_Accountant'
			else if(@IsFirmPersonnelBusinessManagerFc='Y')
			begin
					print 'rb47'
					set @IsReferRuleTriggered='Y'
			end

			else if(@claimCount>0 )
			begin
				print 'There is a claims exists against this account.'
				set @IsReferRuleTriggered='Y'
			end

			---------------------------Business Management Funds Supp ENDS-------------------------------------------

			-----------------------Computer Related Services Starts---------------------------------------------------------------
			--set @rule_id='computerRelatedServicesAmountInRevenuesRenew_Accountant'
			else if(@RevenuesFromLastYear>0 or @EstimatedRevenue>0)
			begin
					print 'rb48'
					set @IsReferRuleTriggered='Y'
			end
			-----------------------Computer Related Services Ends-----------------------------------------------------------------
			---------------------------------Quote Page--------------------------
		
		--set @rule_id='renewalPremiumComparision_Lawyers'
		--	else if(@moreThan5000Count>1)
		--begin
		--			print 'rb50'
		--			set @IsReferRuleTriggered='Y'
		--	end
		-----------------------Quote Page END----------------------------------
		--set @IsReferRuleTriggered='N'
		--select @CurrentPremium as CurrentPremiun,@priorPremium as lastYearPremiun
		
		Begin try
			
			 exec UWRules_AboutYou_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_InsuranceHistory_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_FirmInfo_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_LawPractice_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_PracticeManagement_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_PracticemanagementSupp_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_InvestmentFinancialSupp_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_AuditSupp_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_ComputerRelatedSupp_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_BusinessManagementSupp_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			 exec UWRules_QuoteOptions_ACC @PolicyKey , @AccountKey , @AccountID , @AddressKey , @VersionSequence , @PolicyStatusKey , @LastUpdateUserID 
			

		End Try
		
		 Begin Catch
			Print ERROR_MESSAGE()
		 End Catch
		
		 set @referralCount=(select count(*) from rulepolicytransaction where PolicyKey=@PolicyKey and isArchived='NO')
		if(@referralCount is null)
			 set @referralCount=0
		 
		 if(@referralCount>0)
			begin
				print 'Policy has underwriting flags raised.'
				set @IsReferRuleTriggered='Y'
			END

	END
		
		print '<<<<<<<<<<<<<Finished with executing Renewal auto quote conditions>>>>>>>>>>>>>>'
		
	END
	
	select @IsReferRuleTriggered as IsReferRuleTriggered
END











GO
