USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ViewAopList_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ViewAopList_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ViewAopList_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ViewAopList_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[ViewAopList_p] 
(
@PolicyKey INT,
@LitImplementationDate DATETIME
)
AS
BEGIN
--SELECT AppCreatedDate FROM POLICY WHERE PolicyKey=59568
	DECLARE @CreatedDate DATETIME
	DECLARE @DaysDiffenence INT
	SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
	SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
	--select * from AOPLW
	--select @DaysDiffenence
	if(@DaysDiffenence<0)
		BEGIN
			select AOPKey,AOPDescNew as AOPDesc from AOPLW where aopkey<55 and aopkey not in(17,23,7,40,19) order by AOPDesc
		END
	ELSE
		BEGIN
			select AOPKey,AOPDescNew as AOPDesc from AOPLW where aopkey not in(17,18,23,7,40,19) order by AOPDesc
		END

END

GO
