USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountForLawyers_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccountForLawyers_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountForLawyers_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccountForLawyers_Proc] AS' 
END
GO

--exec SearchAccountForLawyers_Proc null, null, 11, null, null, 'Y', 'N', null, null, null, null, null, '2017-12-06', null, null, null, 3, 20, 1, null, null, '2021-01-01' 
-- exec SearchAccountForLawyers_Proc null,null,6,null,null, null, null,null,null, null,null,null,null 
ALTER PROCEDURE [dbo].[SearchAccountForLawyers_Proc] 
		@AccountName varchar(50) , 
		@StateCode varchar(10) , 
		@StatusKey varchar(2) , 
		@PolicyEffectiveDate varchar(10) , 
		@PolicyNumber varchar(15),
		@IsQuickQuote varchar(1) , 
		@IsFullQuote varchar(1) ,
		@PolicyNumber_Search varchar(20),
		@IsRenewed_search char(1),
		@DueForRenewal_search char(1),
		@NumberOfDays_search varchar(50),
		@PolicyEffectiveDate2 varchar(50) ,
		@litigationNewImplDate DATETIME

 AS BEGIN
 
declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)

declare @TransactionSequence int
declare @VersionSequence int



CREATE TABLE #TempPolicyList (
		[PolicyKey] [int] ,
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](20) ,  
		[isUncompletedData] [char](1) ,
		[QuoteNumber] [varchar](20) ,
		[IsFullQuote] [char](1) ,
		[IsQuickQuote] [char](1) ,
		[IsBasicPage] [char](1),
		[IsGeneralPage] [char](1) ,
		[IsEntertainmentPage] [char](1) ,
		[IsTaxPage] [char](1) ,
		[IsEnvironmentalPage] [char](1) ,
		[IsSecuritiesPage] [char](1) ,
		[IsTitlePage] [char](1) ,
		[IsWillsEstatePage] [char](1) ,
		[IsPlaintiffPage] [char](1) ,
		[IsRealEstatePage] [char](1) ,
		[IsFinancialInsPage] [char](1) ,
		[IsIntellectPropPage] [char](1) ,
		[IsCorporatePage] [char](1) ,
		[FirstReviewUserID] [varchar](50) ,
		[AccountKey] [int] ,
		[AddressKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](100) ,
		[Address1] [varchar](100) ,
		[StateCode] [varchar](20),
		[StateDesc] [varchar](100),
		[TransactionSequence] [int] ,
		[VersionSequence] [int] ,
		[CoverageSequence] [int] ,
		[PolicyExpirationDate] [datetime] ,
		[Premium] [varchar](25) ,
		[StatusDesc] [varchar](100),
		[StatusKey] [int] ,
		[PolicyStatusKey] [int] ,
		[TransactionTypeKey] [int] ,
		[UserNo] [int] ,
		[AgentName] [varchar](50),
		[FullQuick] [varchar](50),
		[AppDays] int,
		[CountyDesc] [varchar](50),
		[AppCreatedDate] [datetime] ,
		[IsQuickQuotePage] [char](1),
		[NumberOfLawyers] [int],
		[IsFirmReferred] [char](1),
		[ManualQuoteSelectedNo] int,
		[ManualQuoteFinalisedNo] int,
		[RatingTraceSequence] int,
		[IsDollarDefense] [char] (1),
		[IsQuoteViewedByInsured] [char] (1),
		[IsViewed] [char] (1),
		[IsRenewed] char(1),
		[IsRenewalReview] char(1),
		[IsApplicationCompleted] char(1),
		[UWFlagCount] [int],
		[approveSubjective] [int],
		[isPricingApproved] char(1),
		[IsIndicationMailSent] char(1)

)

if(@AccountName <> '')
      begin
            set  @AccountName = RTrim(LTrim(@AccountName))
            set  @AccountName = REPLACE( @AccountName, '''', '''''' )
      end
if(@PolicyNumber <> '')
      begin
            set  @PolicyNumber = RTrim(LTrim(@PolicyNumber))
            set  @PolicyNumber = REPLACE( @PolicyNumber, '''', '''''' )
      end
if(@PolicyEffectiveDate <> '')
      begin
            set  @PolicyEffectiveDate = RTrim(LTrim(@PolicyEffectiveDate))
      end
if(@PolicyEffectiveDate2 <> '')
	begin
		set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
	end

set @sqlstm = 'select pt.InvoicedPremium as Premium,p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN 
		CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=pt.ProducerCode) WHEN ''Y''
					THEN s.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE s.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=pt.ProducerCode) WHEN ''Y''
					THEN s.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE s.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,
f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,
f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,
f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview, (select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'' and isArchived=''NO'')) as [approveSubjective],f.isPricingApproved,f.IsIndicationMailSent
from Policy p with (nolock),  Account a with (nolock), FirmLW f with (nolock), Address adds with (nolock),Status s with (nolock), PolicyTransaction pt with (nolock), 
AccountAddress aa with (nolock), PolicyCoverage pc with (nolock) where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey 
 and p.PolicyStatusKey=pt.TransactionTypeKey
 and 
f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=2
and pt.TransactionSequence = pc.TransactionSequence 


and f.VersionSequence=(select max(versionsequence) from firmlw with (nolock) where policykey=p.PolicyKey)
 and pt.PolicyKey in (select PolicyKey 
from Policy with (nolock) where isUncompletedData='+'''N'''+')'

print @sqlstm
--'select cl.QuoteNumber,cl.SubmissionID,cl.PolicyPolicyEffectiveDate, a.AccountName, f.FirmID,adds.StateCode,adds.AddressID,a.AccountID,s.StatusDesc   from  Submission cl,  Account a, Firm f, Address adds,Status s where cl.AccountID= a.AccountID and  f.SubmissionID=cl.SubmissionID and  adds.AccountID = a.AccountID and PersonID is not null and s.StatusID =f.StatusID '
--set @isUncompletedData ='N'
--set @sqlstm =@sqlstm +' and p.isUncompletedData='''+@isUncompletedData+''''
if(@StatusKey <> 6 and @StatusKey <>8)
begin
            set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey =8)
begin
            set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'
end


if(@StatusKey <> 2)
begin
      if(@IsFullQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsFullQuote='''+@IsFullQuote+''''
      end
      
       if(@IsQuickQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsQuickQuote='''+@IsQuickQuote+''''
      end
end
if(@AccountName <> '')
begin
                set  @sqlstm = @sqlstm + ' and a.AccountName LIKE''%'+@AccountName +'%'+''''
end
if(@StateCode <> '')
begin
                set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
end

if(@StatusKey <> 0)
begin
                set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''''
end


if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
 end
-- To filter policy 30 days prior and 120 days later quick quote or indication
if((@StatusKey = 11 or @IsQuickQuote = 'Y') and (isNull(@PolicyEffectiveDate,'') = '' and isNull(@PolicyEffectiveDate2,'')=''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between dateadd(dd,-31,getdate()) and dateadd(dd,120,getdate())'
 end

if(@PolicyNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and p.QuoteNumber LIKE'''+@PolicyNumber +'%'+''''
end

if(@PolicyNumber_Search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
 end
 
if(@IsRenewed_search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
 end
 
if(@NumberOfDays_search <> '')
	 begin
	print @NumberOfDays_search
if(@NumberOfDays_search <> 'Already Expired')
	begin	
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<='+cast(@NumberOfDays_search as varchar(10))+' and datediff(dd,getdate(),pt.policyexpirationdate)>''0'' and pt.StatusKey  =''6'''	
	end
	if(@NumberOfDays_search = 'Already Expired')
	begin
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<''0'' and pt.StatusKey  =''6'''	
	end
 end

if(@StatusKey = 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc'
end
if(@StatusKey != 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc'
end
--print @sqlstm


Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,
	TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,
	TransactionTypeKey,IsBasicPage,IsGeneralPage, IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,
	IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate,
	CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,UWFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent) 
EXECUTE ( @sqlstm)

--1
update		tpl
set			tpl.AgentName = isnull(ud.AgentName, '')
			,tpl.UserNo = tpl.FirstReviewUserID
from		#TempPolicyList tpl
left join	UserDetails ud with (nolock) on ud.UserNo = tpl.FirstReviewUserID

--2
--if(@StatusKey=8)
--Begin
--update		tpl
--set			tpl.Premium = isnull(x.Premium,'')
--from		#TempPolicyList tpl
--left join	(	select		Premium = dbo.getAmountFormat(InvoicedPremium)
--							,PolicyKey
--				from		PolicyTransaction 
							
--				where PolicyExpirationDate = TransactionExpirationDate
--			) x on tpl.PolicyKey = x.PolicyKey
--END

update		tpl
set			tpl.Premium = isnull(x.Premium,'')
from		#TempPolicyList tpl
left join	(	select		Premium = dbo.getAmountFormat(pt.InvoicedPremium)
							,pt.PolicyKey
				from		PolicyTransaction pt with (nolock)
				inner join	Quote q with (nolock) on
							pt.PolicyKey=q.PolicyKey and
							pt.TransactionSequence=q.TransactionSequence and
							q.IsThisOptionFinalised='Y'
				
			) x on tpl.PolicyKey = x.PolicyKey


--3
update		tpl
set			tpl.ManualQuoteSelectedNo = isnull(x.ManualQuoteSelectedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteSelectedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsQuoteSelected='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--4
update		tpl
set			tpl.ManualQuoteFinalisedNo = isnull(x.ManualQuoteFinalisedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteFinalisedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsThisOptionFinalised='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--5
update		tpl
set			tpl.RatingTraceSequence = rt.RatingTraceSequence
from		#TempPolicyList tpl
inner join	PolicyTransaction pt with (nolock) on
			pt.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pt.PolicyKey=q.PolicyKey and
			pt.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--6
update		tpl
set			tpl.IsDollarDefense = pc.IsDollarDefense
from		#TempPolicyList tpl
inner join	PolicyCoverage pc with (nolock) on
			pc.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pc.PolicyKey=q.PolicyKey and
			pc.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--7
update		tpl
set			tpl.IsApplicationCompleted = isnull(x.IsApplicationCompleted, '')
from		#TempPolicyList tpl
left join	(
			select		tpl.PolicyKey,
						IsApplicationCompleted = min(
							case
								when p.PolicyStatusKey = 1
									then	(
												case
													when f.IsFirmPage = 'Y' and f.IsAopPage = 'Y' and f.IsPracticePage = 'Y' and f.IsCoveragePage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and f.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and f.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and f.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and f.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								when p.PolicyStatusKey = 2
									then	(
												case
													when f.IsRenewFirmPage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and f.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and f.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and f.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and f.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								else
									null
							end)
			from		#TempPolicyList tpl
			inner join	Policy p with (nolock) on p.PolicyKey = tpl.PolicyKey
			inner join	FirmLW f with (nolock) on f.PolicyKey = tpl.PolicyKey
			inner join	AreaOfPracticeLW apl with (nolock) on apl.PolicyKey = tpl.PolicyKey and apl.AOPKey in(18,20,27,24)
			group by	tpl.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--print @sqlstm

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>'2017-06-20'

update #TempPolicyList
set IsApplicationCompleted=(SELECT dbo.ValidateFullApplication(nat.PolicyKey,nat.AccountKey,@litigationNewImplDate,'2021-01-01'))
from #TempPolicyList tpl 
inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey



--DECLARE @LoopCounter INT = 1
--DECLARE  @MaxCount INT  
--DECLARE  @AccountKey INT  
--DECLARE  @IsAppCompleted CHAR  
--SELECT @MaxCount=count(*) FROM #NEWAPPTABLE
-- --PRINT @MaxCount

--WHILE(@LoopCounter <= @MaxCount)
--BEGIN
--	SET @PolicyKey=NULL
--	SET @AccountKey=NULL
--	SET @IsAppCompleted=NULL

--	SELECT @PolicyKey=PolicyKey,@AccountKey=AccountKey From #NEWAPPTABLE Where ID=@LoopCounter
--	SET @IsAppCompleted=(SELECT dbo.ValidateFullApplication(@PolicyKey,@AccountKey))
--	-- SELECT IsAppCompleted= 
--	--SELECT	@PolicyKey,@AccountKey,@IsAppCompleted
--	UPDATE #TempPolicyList SET IsApplicationCompleted=@IsAppCompleted WHERE PolicyKey=@PolicyKey
--   SET @LoopCounter  = @LoopCounter  + 1        

--END
-- --select * from #NEWAPPTABLE 

--select * from #NEWAPPTABLE where Policykey=58801 	 order by id 
	


	Declare c1 cursor for
	select PolicyKey,TransactionSequence,VersionSequence from #TempPolicyList
	 	   
	set @InvoicedPremium = ''
	
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence
	WHILE @@FETCH_STATUS = 0
		begin
		--select EndorsementPremium from EndorsementDetails where policykey=57876 and versionsequence=(select max(versionsequence) from EndorsementDetails where policykey=57876)
			select @InvoicedPremium = EndorsementPremium from EndorsementDetails where PolicyKey = @PolicyKey and VersionSequence=(select max(VersionSequence) from EndorsementDetails where PolicyKey=@PolicyKey)
			if(@InvoicedPremium <> '')
				begin
					If Exists(select * from CancellationEndorsement ce with (nolock) inner join PolicyTransaction pt with (nolock) on pt.PolicyKey=ce.PolicyKey and pt.TransactionSequence=ce.TransactionSequence where pt.StatusKey=8 and ce.CancellationTypeID=1 and pt.PolicyKey=@PolicyKey)
						begin
							update #TempPolicyList set Premium = dbo.getAmountFormat(0) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
						end
					else
						begin
							update #TempPolicyList set Premium = dbo.getAmountFormat(@InvoicedPremium) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
						end
				end
			set @InvoicedPremium = ''		
			FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence					
		end
		CLOSE c1
		DEALLOCATE c1


select * from #TempPolicyList --where policykey=57876
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END




GO
