USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAccountHistoryLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetAccountHistoryLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAccountHistoryLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetAccountHistoryLW_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[GetAccountHistoryLW_p]
(
@AccountID int
)
AS
BEGIN
	 select p.Policykey,p.AccountID,at.AccountName,p.QuoteNumber,p.PolicyEffectiveDate,at.AccountEmail,(adds.Address1+'  '+adds.Address2) as Address,
(select StateDesc from State where statecode=adds.StateCode) as State,adds.WorkPhone,pt.ProducerCode,(select statusDesc from status where statuskey=pt.statuskey) as Status,f.oldAccountID
From Policy p
Inner Join PolicyTransaction pt With (nolock) on pt.PolicyKey=p.PolicyKey 
Inner join Account at With (nolock) on at.AccountKey=pt.AccountKey
Inner Join AccountAddress act With (nolock) on act.AccountKey=pt.AccountKey
Inner Join Address adds With (nolock) on adds.AddressKey=act.AddressKey
Inner Join Firmlw f With (nolock) on f.PolicyKey=p.PolicyKey
inner join quote q With (nolock) on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
Where q.IsFirstQuote='Y'and p.MarketableProductKey=2 and isUncompletedData<>'Y' and at.AccountID=@AccountID


END

GO
