USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForLawyers_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchCountForLawyers_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForLawyers_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchCountForLawyers_Proc] AS' 
END
GO
--select * from Policy where companyKey=3
--exec SearchCountForLawyers_Proc null, null, null, null, null, null, null, 3, null, null,null ,null ,'N', 3, null, '8'
ALTER PROCEDURE [dbo].[SearchCountForLawyers_Proc] 
 		@StateCodefilter varchar(2000)=null,		
		@EffectiveDateFrom datetime=null,
		@EffectiveDateTo datetime=null,		
		@PolicyStatusDesc varchar(20)=null,
		@ProducerCodefilter	VARCHAR(2000) = NULL,
		@ProducerCode1 varchar(2000)=null,
		@EligibleFirstReviewerfilter varchar(1000)=null,
		@LastUpdateUserID int=null,
		@SearchAppCreatedDateFrom datetime=null,
		@SearchAppCreatedDateTo datetime=null,
		@BrokerKey varchar(2000)=null,
		@CarrierKey varchar(2000)=null,
		@isBrokered char,
		@CoverageKey int=null,
		@Company_search varchar(1000),
		@role_id varchar(20)
		
AS 
set nocount on
BEGIN
	Declare @StateCodefilterTemp varchar(2000)=null,@Company_searchTemp varchar(2000)=null,              
	@EffectiveDateFromTemp datetime=null,
	@EffectiveDateToTemp datetime=null,             
	@PolicyStatusDescTemp varchar(20)=null,
	@ProducerCodefilterTemp VARCHAR(2000) = NULL,
	@ProducerCode1Temp varchar(2000)=null,
	@EligibleFirstReviewerfilterTemp varchar(1000)=null,
	@LastUpdateUserIDTemp int=null,
	@SearchAppCreatedDateFromTemp datetime=null,
	@SearchAppCreatedDateToTemp datetime=null,
	@BrokerKeyTemp varchar(500)=null,
	@CarrierKeyTemp varchar(500)=null,
	@CoverageKeyTemp int=null


	set @StateCodefilterTemp = @StateCodefilter                   
	set @EffectiveDateFromTemp = @EffectiveDateFrom                      
	set @EffectiveDateToTemp = @EffectiveDateTo                   
	set @PolicyStatusDescTemp = @PolicyStatusDesc                 
	set @ProducerCodefilterTemp = @ProducerCodefilter                    
	set @ProducerCode1Temp = @ProducerCode1                       
	set @EligibleFirstReviewerfilterTemp = @EligibleFirstReviewerfilter        
	set @LastUpdateUserIDTemp = @LastUpdateUserID                 
	set @SearchAppCreatedDateFromTemp = @SearchAppCreatedDateFrom        
	set @SearchAppCreatedDateToTemp = @SearchAppCreatedDateTo       
	set @BrokerKeyTemp = @BrokerKey
	set @CarrierKeyTemp = @CarrierKey
	set @CoverageKeyTemp = @CoverageKey
	set @Company_searchTemp=@Company_search

	 if(@Company_searchTemp is null or @Company_searchTemp='')
	begin
	--print 'HI'
              exec  @Company_searchTemp= dbo.UserLoginSecurity_p @role_id
			  --select @Company_searchTemp
			  if(@Company_searchTemp='0')
				set @Company_searchTemp=null
	end
	--select @Company_searchTemp as Company_searchTemp
	if((@SearchAppCreatedDateFromTemp <> '' AND @SearchAppCreatedDateFromTemp is not null) AND (@EffectiveDateFromTemp = '' OR @EffectiveDateFromTemp is null))
	BEGIN
		set @EffectiveDateFromTemp = '1950-01-01'
	END
	if((@SearchAppCreatedDateToTemp <> '' AND @SearchAppCreatedDateToTemp is not null) AND (@EffectiveDateToTemp = '' OR @EffectiveDateToTemp is null))
	BEGIN
		select @EffectiveDateToTemp=FORMAT(getdate()+730,'MM-dd-yyyy')
	END
	
	if(@EffectiveDateFromTemp='' OR @EffectiveDateFromTemp is null)
	BEGIN
		select @EffectiveDateFromTemp= FORMAT(getdate()-30,'MM-dd-yyyy')
	END
	if(@EffectiveDateToTemp='' OR @EffectiveDateToTemp is null)
	BEGIN
		select @EffectiveDateToTemp=FORMAT(getdate()+120,'MM-dd-yyyy')
	END
	if((@EffectiveDateFromTemp='' OR @EffectiveDateFromTemp is null) and (@EffectiveDateToTemp='' OR @EffectiveDateToTemp is null))
	BEGIN
		select @EffectiveDateFromTemp= FORMAT(getdate()-30,'MM-dd-yyyy'), @EffectiveDateToTemp=FORMAT(getdate()+120,'MM-dd-yyyy')	 
	END
		
	if Exists(select 1 from ProfileFilter where LastUpdateUserID=@LastUpdateUserIDTemp)
	BEGIN
		Select @PolicyStatusDescTemp=PolicyStatusKey, @ProducerCode1Temp=Direct_SubProducedKey,
		@EligibleFirstReviewerfilterTemp=FirstReviewerUserNo,@BrokerKeyTemp=BrokerID,@CarrierKey=CarrierID from ProfileFilter with (nolock) where LastUpdateUserID=@LastUpdateUserIDTemp
	END


	
	if(@SearchAppCreatedDateFromTemp = '' OR @SearchAppCreatedDateFromTemp is null)
	BEGIN
		set @SearchAppCreatedDateFromTemp = '1950-01-01'
	END
	if(@SearchAppCreatedDateToTemp = '' OR @SearchAppCreatedDateToTemp is null)
	BEGIN
		set @SearchAppCreatedDateToTemp = getdate()
	END

	--select   @PolicyStatusDescTemp,@ProducerCode1Temp

	CREATE TABLE  #TempDirect_SubProducedKey
	(
		PolicyKey VARCHAR(20)
	)
	IF(@ProducerCode1Temp is null or @ProducerCode1Temp='')
	BEGIN
		--Print 'Producer code is null'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
	END
	IF(@ProducerCode1Temp is not null and @ProducerCode1Temp='SubProduced')
	BEGIN
		--Print 'Policies type ar subproduced'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
		and  pt.ProducerCode <>'' and pt.ProducerCode is not null
	END
	
	IF(@ProducerCode1Temp is not null and @ProducerCode1Temp='Direct')	 
	BEGIN
		--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode='' OR pt.ProducerCode is null 
		-- Asked by Pat 02/14/2019
		 or pt.ProducerCode in (select ProducerCode from SubProducer where IsDriect='Y')
	END
	IF(@ProducerCode1Temp is not null and @ProducerCode1Temp <> '' and @ProducerCode1Temp!='Direct' and @ProducerCode1Temp!='SubProduced')
	BEGIN
		--print 'Specific subproducer is specified'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode = @ProducerCode1Temp		
	END
	
	CREATE TABLE  #TempAccountKey
	(
		AccountKey VARCHAR(20)
	)
	IF(@StateCodefilterTemp is NULL OR @StateCodefilterTemp='')
	BEGIN
		INSERT INTO #TempAccountKey
		SELECT aa.AccountKey FROM Account a with (nolock),AccountAddress aa with (nolock), Address adds with (nolock),State st with (nolock) 
		WHERE aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey AND St.StateCode=adds.StateCode
	END
	ELSE
	BEGIN
		INSERT INTO #TempAccountKey
		SELECT aa.AccountKey 
		FROM Account a,AccountAddress aa with (nolock), Address adds with (nolock),State st with (nolock) 
		WHERE aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey AND St.StateCode=adds.StateCode
		and st.StateCode in(select items from Split(@StateCodefilterTemp,','))
	END


	CREATE TABLE  #TempCompany
	(
		PolicyKey VARCHAR(20)
	)
	
	IF(@Company_searchTemp is NULL OR @Company_searchTemp='')
	BEGIN

		INSERT INTO #TempCompany
		SELECT PolicyKey from Policy where MarketableProductKey = 2 and isUncompletedData='N'
	END
	ELSE
	BEGIN
		INSERT INTO #TempCompany
		SELECT PolicyKey from Policy  where  CompanyKey in(select items from Split(@Company_searchTemp,',')) and MarketableProductKey = 2 and isUncompletedData='N'
	END
	

	--select * from #TempCompany
	
	

	--Pending
	declare @IndicationCount int=0, @PendingCount int=0,@BookedCount int=0,@AbandonedCount int=0,@DeclinedCount int=0,@RejectCount int=0,
	@IssuedCount int=0,@AcceptedCount int=0,@CancelledCount int=0,@QuickQuoteCount int=0,@UWReviewCount int=0,@UWCompletedCount int=0, @TotalCount int=0, @Submission int=0, @NonRenewed int=0

	select pt.StatusKey,pt.PolicyKey,pt.TransactionSequence,Accountkey,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate,
	convert(varchar, p.PolicyEffectiveDate, 101) as AppCreatedDate,PolicyStatusKey,pt.ProducerCode,fl.lostworkqComment,fl.IssuedDate,IsFullQuote,IsQuickQuote  
	into #tempCount from Policy p WITH(NOLOCK)
	INNER JOIN  PolicyTransaction pt WITH(NOLOCK) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc WITH(NOLOCK) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl WITH(NOLOCK) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW WITH(NOLOCK) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW WITH(NOLOCK) where PolicyKey=p.PolicyKey)
	LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
	LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode	


	where
	 p.MarketableProductKey = 2 
	 and pc.CoverageKey = 3
	and p.isUncompletedData='N' 
	and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
	and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
	and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
	AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
	AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END 
	and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
	AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey)
	and p.PolicyKey in(select PolicyKey from #TempCompany)

	--select * from #tempCount

	select count(t.PolicyKey) as total,t.StatusKey into #tempNew from  #tempCount t
	where StatusKey in (2,9,10) and (t.lostworkqComment <> 'never quoted' or t.lostworkqComment is null or t.lostworkqComment = '') and IsFullQuote='Y' and IsQuickQuote='N'
	and t.TransactionSequence= CASE When t.StatusKey in (2,9,10) Then (select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where PolicyKey=t.PolicyKey) END
	Group By t.StatusKey



	select @BookedCount=  total from #tempNew where StatusKey=2
	select @UWReviewCount= total from #tempNew where StatusKey=9
	select @UWCompletedCount= total from #tempNew where StatusKey=10

	select count(t.PolicyKey) as total,t.StatusKey into #tempNew2 from  #tempCount t
	where StatusKey in (3,4,6,7,8) and IsFullQuote='Y' and IsQuickQuote='N'
	and t.TransactionSequence= CASE When t.StatusKey in (3,4,7) Then (select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where PolicyKey=t.PolicyKey) WHEN t.StatusKey in (6,8)Then (select TransactionSequence from Quote q WITH(NOLOCK) where q.PolicyKey=t.PolicyKey  and q.IsThisOptionFinalised='Y') END
	Group By t.StatusKey

	
	select @AbandonedCount= total from #tempNew2 where StatusKey=3
	select @DeclinedCount=  total from #tempNew2 where StatusKey=4
	select @IssuedCount= total from #tempNew2 where StatusKey=6
	select @AcceptedCount= total from #tempNew2 where StatusKey=7
	select @CancelledCount= total from #tempNew2 where StatusKey=8
	

	select @RejectCount=count(t.StatusKey) from #tempCount t
	where StatusKey =5 and (t.lostworkqComment <>'Not Accepted' or t.lostworkqComment is null or t.lostworkqComment = '') and IsFullQuote='Y' and IsQuickQuote='N'
	and t.TransactionSequence= CASE When t.StatusKey in (5) Then (select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where PolicyKey=t.PolicyKey) WHEN t.StatusKey in (6,8)Then (select TransactionSequence from Quote q WITH(NOLOCK) where q.PolicyKey=t.PolicyKey  and q.IsThisOptionFinalised='Y') END
	


	select @IndicationCount=count(t.StatusKey) from #tempCount t
	where t.StatusKey=11 and (lostworkqComment not in('never sent','No Response','not converted') or lostworkqComment is null or lostworkqComment = '')
	and IsFullQuote='N' and IsQuickQuote='Y' and t.TransactionSequence=(select min(TransactionSequence) from #tempCount t1 where t1.PolicyKey=t.PolicyKey)


	select @PendingCount=count(t.StatusKey) from #tempCount t
	where t.StatusKey=1 and (lostworkqComment not in('never quoted','No Response') or lostworkqComment is null or lostworkqComment = '')
	and IsFullQuote='Y' and IsQuickQuote='N' and t.TransactionSequence=(select min(TransactionSequence) from #tempCount t1 where t1.PolicyKey=t.PolicyKey)

	--select * from BrokerageLW 


	

	select @QuickQuoteCount=count(t.StatusKey) from #tempCount t
	where t.StatusKey=1 and (lostworkqComment not in('never sent','No Response','not converted') or lostworkqComment is null or lostworkqComment = '')
	and IsFullQuote='N' and IsQuickQuote='Y' and t.TransactionSequence=(select min(TransactionSequence) from #tempCount t1 where t1.PolicyKey=t.PolicyKey)




if(@isBrokered = 'Y' and (@ProducerCodefilter = '' or @ProducerCodefilter is null))
begin

	CREATE TABLE  #TempBrokarageAccountKey
	(
		BrokeragePolicyKey VARCHAR(20)
	)
	IF(@StateCodefilterTemp is NULL OR @StateCodefilterTemp='')
	BEGIN
		INSERT INTO #TempBrokarageAccountKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		
	END
	ELSE
	BEGIN
		INSERT INTO #TempBrokarageAccountKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		WHERE blw.State in(select items from Split(@StateCodefilterTemp,','))
	END

	CREATE TABLE  #TempBrokarageBrokerKey
	(
		BrokeragePolicyKey VARCHAR(20)
	)
	IF(@BrokerKeyTemp is NULL OR @BrokerKeyTemp='')
	BEGIN
		INSERT INTO #TempBrokarageBrokerKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		
	END
	ELSE
	BEGIN
		INSERT INTO #TempBrokarageBrokerKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		WHERE blw.brokerkey in(select items from Split(@BrokerKeyTemp,','))
	END

	CREATE TABLE  #TempBrokarageCarrierKey
	(
		BrokeragePolicyKey VARCHAR(20)
	)
	IF(@CarrierKeyTemp is NULL OR @CarrierKeyTemp='')
	BEGIN
		INSERT INTO #TempBrokarageCarrierKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		
	END
	ELSE
	BEGIN
		INSERT INTO #TempBrokarageCarrierKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		WHERE blw.CarrierKey in(select items from Split(@CarrierKeyTemp,','))
	END


	declare  @PendingBrokarageCount int=0,@AbandonedBrokarageCount int=0,@DeclinedBrokarageCount int=0,@RejectBrokarageCount int=0,@IndicationBrokarageCount int=0,@BookedBrokarageCount int=0,
	@IssuedBrokarageCount int=0,@AcceptedBrokarageCount int=0,@CancelledBrokarageCount int=0,@TotalCountBrokerage int=0,@QuickQuoteBrokerageCount int=0,@UWReviewBrokerageCount int=0,@UWCompletedBrokerageCount int=0

		select blw.StatusKey,blw.BrokeragePolicyKey,convert(varchar, blw.BrokerPolicyEffectiveDate, 101) as BrokerPolicyEffectiveDate,
		convert(varchar, blw.BrokerPolicyEffectiveDate, 101) as CreatedDate,blw.TransactionTypeKey  into #tempBrokerageCount from BrokerageLW blw WITH(NOLOCK)
		LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),blw.FirstReviewUserID)) END = blw.FirstReviewUserID
		where 
		blw.BrokerPolicyEffectiveDate>=@EffectiveDateFromTemp and blw.BrokerPolicyEffectiveDate<=@EffectiveDateToTemp
		and blw.CreatedDate>=@SearchAppCreatedDateFromTemp and blw.CreatedDate<=@SearchAppCreatedDateToTemp
		and  blw.isArchived!='True'
		and blw.TransactionTypeKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN blw.TransactionTypeKey ELSE @PolicyStatusDescTemp END
		AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
		AND blw.BrokeragePolicyKey in(SELECT BrokeragePolicyKey FROM #TempBrokarageAccountKey) 
		AND blw.BrokeragePolicyKey in(SELECT BrokeragePolicyKey FROM #TempBrokarageBrokerKey) 
		AND blw.BrokeragePolicyKey in(SELECT BrokeragePolicyKey FROM #TempBrokarageCarrierKey)  


		

	
	select count(tbc.BrokeragePolicyKey) as totalBrokarage,tbc.StatusKey into #tempBrokerageNew2 from #tempBrokerageCount tbc  Group By tbc.StatusKey

	select @PendingBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=1
	select @BookedBrokarageCount    = totalBrokarage from #tempBrokerageNew2 where StatusKey=2
	select @AbandonedBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=3
	select @DeclinedBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=4
	select @RejectBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=5
	select @IssuedBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=6
	select @AcceptedBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=7
	select @CancelledBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=8
	select @IndicationBrokarageCount	= totalBrokarage from #tempBrokerageNew2 where StatusKey=11
	select @Submission				= totalBrokarage from #tempBrokerageNew2 where StatusKey=12
	select @NonRenewed				= totalBrokarage from #tempBrokerageNew2 where StatusKey=13

	
	--declare @PendingBothCounts int=0, @AbandonedBothCounts int=0,@DeclinedBothCounts int=0,@RejectBothCounts int=0,@IssuedBothCounts int=0,@AcceptedBothCounts int=0,
	--@CancelledBothCounts int=0,@SubmissionBothCounts int=0,@NonRenewedBothCounts int=0,@TotalCountBoth int=0

	--select @PendingBothCounts=(@PendingCount+@PendingBrokarageCount)
	--select @AbandonedBothCounts=(@AbandonedCount+@AbandonedBrokarageCount)
	--select @DeclinedBothCounts=(@DeclinedCount+@DeclinedBrokarageCount)
	--select @RejectBothCounts=(@RejectCount+@RejectBrokarageCount)
	--select @IssuedBothCounts=(@IssuedCount+@IssuedBrokarageCount)
	--select @AcceptedBothCounts=(@AcceptedCount+@AcceptedBrokarageCount)
	--select @CancelledBothCounts=(@CancelledCount+@CancelledBrokarageCount)
	--select @SubmissionBothCounts=(@Submission)
	--select @NonRenewedBothCounts=(@NonRenewed)

	select @TotalCountBrokerage=(@IndicationBrokarageCount+@PendingBrokarageCount+@BookedBrokarageCount+@AbandonedBrokarageCount+@DeclinedBrokarageCount+@RejectBrokarageCount+@IssuedBrokarageCount+@AcceptedBrokarageCount+@CancelledBrokarageCount+
	@UWReviewBrokerageCount+@UWCompletedBrokerageCount+@QuickQuoteBrokerageCount+@NonRenewed+@Submission)
	
	select @IndicationBrokarageCount as indicationCount, @PendingBrokarageCount as pending, @BookedBrokarageCount as booked, @AbandonedBrokarageCount as abandoned,@DeclinedBrokarageCount as declined, 
	@RejectBrokarageCount as reject, @IssuedBrokarageCount as issued, @AcceptedBrokarageCount as accepted, @CancelledBrokarageCount as cancelled, @QuickQuoteBrokerageCount as quickquote,
	 @UWReviewBrokerageCount as uwreview, @UWCompletedBrokerageCount as uwcompleted, @TotalCountBrokerage as totalsubmissions,@Submission as submission, @NonRenewed as nonRenewed


	 drop table #tempBrokerageCount
	drop table #tempBrokerageNew2
	drop table #TempBrokarageCarrierKey
	drop table #TempBrokarageBrokerKey
end
else
begin
	select @TotalCount=(@IndicationCount+@PendingCount+@BookedCount+@AbandonedCount+@DeclinedCount+@RejectCount+@IssuedCount+@AcceptedCount+@CancelledCount+
	@UWReviewCount+@UWCompletedCount+@QuickQuoteCount+@Submission+@NonRenewed)

	select @IndicationCount as indicationCount, @PendingCount as pending, @BookedCount as booked, @AbandonedCount as abandoned,@DeclinedCount as declined, 
	@RejectCount as reject, @IssuedCount as issued, @AcceptedCount as accepted, @CancelledCount as cancelled, @QuickQuoteCount as quickquote,
	 @UWReviewCount as uwreview, @UWCompletedCount as uwcompleted, @TotalCount as totalsubmissions,@Submission as submission, @NonRenewed as nonRenewed
end
	drop table #tempNew
	DROP TABLE #tempCount
	DROP TABLE #TempDirect_SubProducedKey
	DROP TABLE #TempAccountKey
	Drop table #tempNew2
	 DROP TABLE  #TempCompany
	
END













GO
