USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsSummaryListDataACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetClaimsSummaryListDataACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsSummaryListDataACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetClaimsSummaryListDataACC_p] AS' 
END
GO
--exec GetClaimsSummaryListDataLW_p 27670
ALTER PROCEDURE [dbo].[GetClaimsSummaryListDataACC_p]
(
	@AccountID INT
)
AS
BEGIN

	SELECT ClaimIncidentSuppKey, pca.PolicyKey, pca.VersionSequence, NameOfClaimantCi, ClaimNotifiedCiDate, AllegedErrorCiDate, 
	NameOfFirmPersonnelCi, DescOfClaimCi, IsThisClaimReportedCi, NameOfInsuranceCompanyCi, ReportedCiDate, InsurerLoss, ClosingCiDate, 
	TotalClaimExpensesCi, StepsTakenToPreventClaimCi, ClaimantLastDemandCi, IsClientCi, 
	CASE WHEN (CurrentStatus = 'closed') THEN 'Closed' 
		WHEN (CurrentStatus = 'opened' or CurrentStatus = 'open') THEN 'Opened' 
		WHEN (CurrentStatus = 'reopen') THEN 'Reopen'
		WHEN (CurrentStatus = 'potential') THEN 'Potential'
		ELSE CurrentStatus END as CurrentStatus, IsClaimInSuit, 
	p.PolicyNumber as PolicyNumber, p.PolicyEffectiveDate as PolicyEffectiveDate, p.AccountID as AccountID, 
	ClaimNumber,InsurerLossReserveCi,ExpensePaid,dbo.getAmountFormat(TotalIncurred) as TotalIncurred, Signal,DescOfClaimCi
 as Description
	FROM Policy p, ClaimIncidentSupp pca
	where p.PolicyKey = pca.PolicyKey and p.MarketableProductKey = 1  and p.AccountID = @AccountID
	

END






GO
