USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_WorkqLeftSearch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_WorkqLeftSearch]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_WorkqLeftSearch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_WorkqLeftSearch] AS' 
END
GO
--exec [SP_WorkqLeftSearch] '','','','','','','UnderReview','','','','LAW','HNV'
ALTER PROCEDURE [dbo].[SP_WorkqLeftSearch]
(	
	 @workqFirmName varchar(100) = null,
	 @workqEmail varchar(100) = null,
	 @workqStartDate varchar(100) = null,
	 @workqEndDate varchar(100) = null,
	 @workqDueforRenewal varchar(100) = null,
	 @workqState varchar(100) = null,
	 @workqStatus varchar(100) = null,
	 @workqQuoteNumber varchar(100) = null,
	 @workqPolicyNumber varchar(100) = null,
	 @workqAlreadyRenewed varchar(100) = null,
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null
)
AS
BEGIN

	IF(@workqStartDate <> '')
	BEGIN
		SET  @workqStartDate = cast(RTrim(LTrim(@workqStartDate)) as date);
	END
	IF(@workqEndDate <> '')
	BEGIN
		SET  @workqEndDate = cast(RTrim(LTrim(@workqEndDate)) as date);
	END

	CREATE TABLE #TEMPDATA
	(
		PolicyKey INT,
		VersionKey INT,
		CoverageSequence INT,
		VersionSequence INT,
		AccountKey INT,
		FormId INT,
		FormVersionKey INT,
		policyQuoteNumber varchar(100),
		policyFirmName varchar(100),
		policyNumber varchar(150),
		policyState varchar(150),
		policyEffectiveDate Date,
		policyCreationDate Date,
		policyFirstReviwer varchar(150),
		policyStatus varchar(150),
		policyPremium INT
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT policy.PolicyKey, policy.VersionKey, policyCoverage.CoverageSequence, firmLW.VersionSequence, policyTransaction.AccountKey, policy.FormId, policy.FormVersionKey, policy.QuoteNumber, firmInformation.FirmName, 
	CASE WHEN policy.PolicyNumber is null THEN '''' ELSE policy.PolicyNumber END as PolicyNumber, 
	firmInformation.State, firmInformation.StartDate, policy.CreatedDate, 
	(SELECT AgentName FROM UserDetails WHERE UserNo = firmLW.FirstReviewUserID) as policyFirstReviwer, 
	(SELECT Name FROM Status WHERE StatusKey = policyTransaction.StatusKey) as policyStatus, 
	CASE WHEN policyTransaction.InvoicedPremium is null THEN 0 ELSE policyTransaction.InvoicedPremium END as InvoicedPremium  
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + ''' 
	left join FirmInformation as firmInformation on policy.PolicyKey = firmInformation.PolicyKey and policy.VersionKey = firmInformation.VersionKey 
	left join FirmLW as firmLW on policy.PolicyKey = firmLW.PolicyKey and policy.VersionKey = firmLW.VersionKey 
	left join PolicyTransaction as policyTransaction on policy.PolicyKey = policyTransaction.PolicyKey and policy.VersionKey = policyTransaction.VersionKey
	left join PolicyCoverage as policyCoverage on policy.PolicyKey = policyCoverage.PolicyKey  and policyTransaction.TransactionSequence = policyCoverage.TransactionSequence 
	left join Quote as quote on policy.PolicyKey = quote.PolicyKey  and policyTransaction.TransactionSequence = quote.TransactionSequence 
	and quote.TransactionSequence = (select min(TransactionSequence) from Quote where PolicyKey = policy.PolicyKey )
	WHERE policy.recordType <> ''D'' and firmInformation.recordType <> ''D'' and policyTransaction.recordType <> ''D'' and policyCoverage.recordType <> ''D'' and quote.recordType <> ''D''';
	--left join InsuranceInformation as insuranceInformation on policy.PolicyKey = insuranceInformation.PolicyKey and policy.VersionKey = insuranceInformation.VersionKey 
	--left join AttorneyDetailsLW as attorney on policy.PolicyKey = attorney.PolicyKey and policy.VersionKey = attorney.VersionKey 
	
	IF(@workqFirmName is not null and @workqFirmName <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND firmInformation.FirmName = ''' + @workqFirmName + '''';
	END
	
	IF(@workqEmail is not null and @workqEmail <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND firmInformation.Email = ''' + @workqEmail + '''';
	END
	
	IF(@workqStartDate is not null and @workqStartDate <> '' and @workqEndDate is not null and @workqEndDate <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND firmInformation.StartDate >= ''' + @workqStartDate + ''' AND firmInformation.StartDate <= ''' + @workqEndDate + '''';
	END
	
	IF(@workqState is not null and @workqState <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND firmInformation.State = ''' + @workqState + '''';
	END

	IF(@workqStatus is not null and @workqStatus <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND policyTransaction.StatusKey = (SELECT StatusKey FROM Status WHERE Code = ''' + @workqStatus + ''')';
	END
	
	IF(@workqQuoteNumber is not null and @workqQuoteNumber <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND policy.QuoteNumber = ''' + @workqQuoteNumber + '''';
	END

	IF(@workqPolicyNumber is not null and @workqPolicyNumber <> '')
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND policy.PolicyNumber = ''' + @workqPolicyNumber + '''';
	END

	SET  @sqlstm = @sqlstm + ' GROUP BY policy.PolicyKey, policy.VersionKey, policyCoverage.CoverageSequence, firmLW.VersionSequence, policyTransaction.AccountKey, policy.FormId, policy.FormVersionKey, policy.QuoteNumber, 
	firmInformation.FirmName,policy.PolicyNumber,firmInformation.State, firmInformation.StartDate, policy.CreatedDate,firmLW.FirstReviewUserID,policyTransaction.StatusKey,policyTransaction.InvoicedPremium'

	print @sqlstm

	INSERT INTO #TEMPDATA (PolicyKey,VersionKey,CoverageSequence,VersionSequence,AccountKey,FormId,FormVersionKey,policyQuoteNumber,policyFirmName,policyNumber,policyState,policyEffectiveDate,policyCreationDate,
	policyFirstReviwer,policyStatus,policyPremium)
	EXECUTE (@sqlstm)


	--select * from #TEMPDATA 

	SELECT (select PolicyKey,VersionKey,CoverageSequence,VersionSequence,AccountKey,FormId,FormVersionKey,policyQuoteNumber,policyFirmName,policyNumber,policyState,policyEffectiveDate,policyCreationDate,
	policyFirstReviwer,policyStatus,policyPremium from #TEMPDATA FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML
	--SELECT STUFF((select * from #TEMPDATA FOR XML PATH('') ), 1, 1, '') as XML
END




GO
