USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompletedAccount]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CheckIfApplicationIsCompletedAccount]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompletedAccount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CheckIfApplicationIsCompletedAccount] AS' 
END
GO
--76205
--exec CheckIfApplicationIsCompletedAccount 58340,''
--exec CheckIfApplicationIsCompletedAccount 75956,''
ALTER PROCEDURE [dbo].[CheckIfApplicationIsCompletedAccount]
	@PolicyKey int,
	@IsApplicationCompleted char(1) = 'N' output 
	
AS
BEGIN

declare @IsBasicPage char(1)
declare @IsGeneralPage char(1)

declare @IsPracticeManagementPage char(1)
declare @IsSupplementPage char(1)
declare @IsAttestationPage char(1)
declare @IsComputerServicePage char(1)
declare @IsBusinessFundPage char(1)

declare @AOPKey bigint 
declare @PercentageValue bigint
declare @PolicyStatusKey int
declare @IsRenewBasicInfoPage char(1)
declare @AverageRevenue bigint
declare @PreviousPolicyKey bigint

DECLARE @investmentPlanningOld INT
	DECLARE @computerServicesOld INT
	DECLARE @BusinessManagementOld INT
	DECLARE @auditOld INT

	SET @PreviousPolicyKey=(select p.policykey as PreviousPolicykey  FROM policy p inner join firm f on p.policykey=f.policykey and f.VersionSequence=(select max(VersionSequence) From firm where PolicyKey=f.PolicyKey) where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=@PolicyKey) AND policynumber is not null))
	
	SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=19)
	if(@investmentPlanningOld is null)
	set @investmentPlanningOld=0
	SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=14)
	if(@computerServicesOld is null)
	set @computerServicesOld=0
	SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18)
	if(@BusinessManagementOld is null)
	set @BusinessManagementOld=0
	SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6)
	if(@auditOld is null)
	set @auditOld=0
	



	select @PolicyStatusKey=PolicyStatusKey from Policy where PolicyKey=@PolicyKey
	select   @AverageRevenue=SUM(Amount)/count(*)  from GrossRevenueForFirm where PolicyKey = @PolicyKey

	select @IsBasicPage=IsBasicPage,@IsGeneralPage=IsGeneralPage,@IsPracticeManagementPage=IsPracriceMangPage,
	@IsSupplementPage=IsSupplementPage,@IsAttestationPage=IsAttesationPage,@IsComputerServicePage=IsComputerServicePage,
	@IsBusinessFundPage=IsBusinessFundPage,@IsRenewBasicInfoPage=RenewBasicInfoPage
	from Firm where PolicyKey=@PolicyKey



	SET @auditOld=(select PercentageValue from AreaOfPractice  where  AOPKey in(6)  and PolicyKey =(select p.policykey FROM policy p inner join firm f on p.policykey=f.policykey 
					where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=75956)AND policynumber is not null and f.VersionSequence=(select MAX(VersionSequence) from firm where PolicyKey=@PolicyKey )AND policynumber is not null))and VersionSequence=(select MAX(VersionSequence) from firm where PolicyKey=@PolicyKey))

	if(@PolicyStatusKey=1)
	begin

		if(@IsBasicPage='Y' and @IsGeneralPage='Y')
			begin
					set @IsApplicationCompleted = 'Y'
					
					declare c10 cursor for
					select AOPKey,PercentageValue from AreaOfPractice  where  AOPKey in(5,6,18,19,14)  and PolicyKey = @PolicyKey 
					
					
					open c10
					FETCH NEXT FROM c10 into @AOPKey, @PercentageValue
					while @@FETCH_STATUS=0
						begin
							if(@AOPKey=5 and @PercentageValue > 0)
							begin
								if(@IsAttestationPage != 'Y')
								begin
									set @IsApplicationCompleted='N'	
								end
							end

							if(@AOPKey=6 and @PercentageValue > 0)
							begin
								if(@IsAttestationPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AOPKey=14 and @PercentageValue > 0)
							begin
								if(@IsComputerServicePage != 'Y')
								begin
									set @IsApplicationCompleted='N'						
								end
							end

							if(@AOPKey=18 and @PercentageValue > 0)
							begin
								if(@IsBusinessFundPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AOPKey=19 and @PercentageValue > 0)
							begin
								if(@IsSupplementPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AverageRevenue > 500000)
							begin
								if(@IsPracticeManagementPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end


						FETCH NEXT FROM c10 into @AOPKey, @PercentageValue
						end
					close c10
					deallocate c10
					
			end	
	end

	if(@PolicyStatusKey=2)
	begin

		if(@IsRenewBasicInfoPage = 'Y')
			begin
					set @IsApplicationCompleted = 'Y'
					--set @IsApplicationCompleted=dbo.IsAOPCompletedLW(@PolicyKey)
					declare c11 cursor for
					select AOPKey,PercentageValue from AreaOfPractice  where  AOPKey in(5,6,18,19,14)  and PolicyKey = @PolicyKey 
					--select AOPKey,PercentageValue from AreaOfPractice  where  AOPKey in(5,6,18,19,14)  and PolicyKey = 76205
					open c11
					FETCH NEXT FROM c11 into @AOPKey, @PercentageValue
					while @@FETCH_STATUS=0
						begin
							if(@AOPKey=5 and @PercentageValue > 5)
							begin
								if(@IsAttestationPage != 'Y')
								begin
									set @IsApplicationCompleted='N'	
								end
							end

							if(@AOPKey=6 and @PercentageValue > @auditOld+5)
							begin
								if(@IsAttestationPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AOPKey=14 and @PercentageValue > @computerServicesOld+5)
							begin
								if(@IsComputerServicePage != 'Y')
								begin
									set @IsApplicationCompleted='N'						
								end
							end

							if(@AOPKey=18 and @PercentageValue > @BusinessManagementOld+5)
							begin
								if(@IsBusinessFundPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AOPKey=19 and @PercentageValue > @investmentPlanningOld+5)
							begin
								if(@IsSupplementPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end


						FETCH NEXT FROM c11 into @AOPKey, @PercentageValue
						end
					close c11
					deallocate c11
					
			end	
	end
	

	--select  @IsApplicationCompleted as IsCompleted
	return 
END



GO
