USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_AboutYou_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_AboutYou_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_AboutYou_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_AboutYou_ACC] AS' 
END
GO
--exec UWRules_AboutYou_ACC 167034, 174445, 48911, 167279, 38124, 2, '1166'
ALTER PROCEDURE [dbo].[UWRules_AboutYou_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,	@AccountName varchar(500),	@Address1 VARCHAR(100),	@PolicyEffectiveDate DateTime
	DECLARE @POBoxCoount int,@previousPolicyKey INT,@previousVersionSequence INT,@StateCode VARCHAR(50),@priorStateCode VARCHAR(50),@prevousAccountName VARCHAR(500)
	DECLARE  @TempPolicyList TABLE (Address varchar(500))


	set @AccountName=(select AccountName from Account where AccountKey=@AccountKey)
	select @Address1=Address1,@StateCode=StateCode from Address where AddressKey=@AddressKey
	set @PolicyEffectiveDate=(select PolicyEffectiveDate from Policy where PolicyKey=@PolicyKey)
	SET @daysDifference=(SELECT DATEDIFF(Day,  getdate(),@PolicyEffectiveDate) )

	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	select top 1 @prevousAccountName=  ac.AccountName from Account ac inner join PolicyTransaction pt on pt.AccountKey=ac.AccountKey where pt.PolicyKey=@previousPolicyKey 


	--select @daysDifference
	INSERT into @TempPolicyList(Address) select replace(replace(replace(replace(replace(UPPER(@Address1),' ',''),'.',''),'-',''),'&',''),'#','')
	set @POBoxCoount=(select count(*)  from @TempPolicyList where address like '%POBOX%' )
	 
	print @daysDifference
	---select @AccountName as AccounName,@prevousAccountName as PreviousAccountName

	IF(@PolicyStatusKey=1)
	BEGIN
		set @rule_id='firmAddress_Accountant'
		if(@POBoxCoount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The address must be a physical address not a PO box.','In addition to the PO box, get a physical address.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='validateEffectiveDateWithCurrentDateNewBusiness_Accountant'
		if(@daysDifference<0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The effective date cannot be after the current date.','Effective date after the current date.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='validateEffectiveDateWithDaysNewBusiness_Accountant'
		if(@daysDifference>60)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Effective date cannot be more than 60 days prior to the current date for issuance and more than 90 days for quote.','Effective date outside of guidelines.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


	END

	IF(@PolicyStatusKey=2)
	BEGIN
	
		select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		set @priorStateCode=(Select  distinct StateCode from Address ads 
						inner join AccountAddress aa on aa.AddressKey=ads.AddressKey
						Inner join PolicyTransaction pt on aa.AccountKey=pt.AccountKey
						where pt.PolicyKey=@previousPolicyKey)

			set @rule_id='firmAddressRenew_Accountant'
			if(@POBoxCoount>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Address is PO Box and must be a physical address.','In addition to the PO box, get a physical address.',@LastUpdateUserID
			else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='validateEffectiveDateWithCurrentDateRenew_Accountant'
			if(@daysDifference<0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The effective date cannot be after the current date.','Effective date after the current date.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='validateEffectiveDateWithDaysRenewBusiness_Accountant'
			if(@daysDifference>90)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Quotes and issuance cannot be more than 90 days prior to the effective date.','Quotes and issuance cannot be more than 90 days prior to the effective date.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='checkStateRenew_Accountant'
			if(@StateCode<>@priorStateCode)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Change of state may require a new policy.','State has been changed.  Get the details of why the change.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id


			set @rule_id='validateFirmNameChageRenewBusiness_Accountants'
			if(@AccountName<>@prevousAccountName)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The firm has changed their name and will need to be reviewed.','',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END




GO
