USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAccountIdACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAccountIdACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAccountIdACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAccountIdACC_p] AS' 
END
GO
--exec UpdateAccountIdACC_p '6122,81972','linkAccounts', 3
ALTER PROCEDURE [dbo].[UpdateAccountIdACC_p]
	(
	@strPolicyKey VARCHAR(800),
	@accountActivity VARCHAR(100),
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
CREATE TABLE #Temp
	(
	PolicyKey INT,
	AccountID INT,
	OldAccountId INT,
	AccountKey INT
	)
	DECLARE @AccountID INT, @PolicyKey	INT,@finalAccountID INT, @AccountKey INT,@OldAccountID INT,@AccountEmail varchar(500)
	DECLARE @LastUpdateUserIDACC INT=3
	DECLARE @LastUpdateTimeStampACC VARCHAR(100)=getdate()
	Insert into #temp(PolicyKey,AccountID) Select PolicyKey,AccountID from Policy with(Nolock) Where PolicyKey in(select PolicyKey from policy where Policykey in(select items from SplitString(@strPolicyKey,','))) order by AccountId 
	
	update t1 
	set t1.OldAccountId=(Select TOP  1 CASE WHEN f.oldAccountID is NULL OR f.oldAccountID='' then 0 else f.oldAccountID END),
	t1.AccountKey=(Select TOP  1 CASE WHEN pt.AccountKey is NULL OR pt.AccountKey='' then 0 else pt.AccountKey END)
	from Firm f 
	inner join #temp t1 on f.PolicyKey=t1.PolicyKey
	inner join PolicyTransaction pt on t1.PolicyKey=pt.PolicyKey
	inner join Account ac on ac.AccountKey=pt.AccountKey 
	
	if(@accountActivity='linkAccounts')
	BEGIN
		PRINT 'link Accounts'
		
		SET @finalAccountID=(SELECT top 1 Accountid FROM #Temp ORDER BY AccountID)
	
		Declare c1 cursor for SELECT PolicyKey,AccountID,AccountKey FROM #Temp
        OPEN c1
		   FETCH NEXT FROM c1 INTO @PolicyKey,@AccountID,@AccountKey
		   WHILE @@FETCH_STATUS = 0
			 BEGIN
			     
				  UPDATE Policy SET AccountID=@finalAccountID,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
				  UPDATE Account SET AccountID=@finalAccountID,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE AccountKey=@AccountKey
				 UPDATE Firm SET oldAccountId=@AccountID,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
			--	  SELECT @AccountID as AccountID,@finalAccountID as finalAccountID
				INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
				values(@PolicyKey,@finalAccountID,@AccountID,'Manual Merge','Accountant application account linked by authorize user',@LastUpdateUserIDACC,@LastUpdateTimeStampACC)
            FETCH NEXT FROM c1 INTO @PolicyKey,@AccountID,@AccountKey                    
			END
			CLOSE c1
			DEALLOCATE c1

			

	END
		--DECLARE @transactionSequence INT
		--Set @transactionSequence=(select min(transactionSequence) from PolicyTransaction where PolicyKey=@policyKey)
		--Update Policy Set AccountID=@newAccountID,LastUpdateUserID=@user,LastUpdateTimeStamp=GETDATE() where PolicyKey=@policyKey
		--Update Account set AccountID=@newAccountID,LastUpdateUserID=@user,LastUpdateTimeStamp=GETDATE() where AccountKey=(select AccountKey from PolicyTransaction where PolicyKey=@policyKey and TransactionSequence=@transactionSequence)
		--Update Firm Set oldAccountId=@oldAccountID,LastUpdateUserID=@user,LastUpdateTimeStamp=GETDATE() where Policykey=@policyKey
	
	if(@accountActivity='deLinkAccounts')
	BEGIN
		Declare c1 cursor for SELECT PolicyKey,AccountID,OldAccountId,AccountKey FROM #Temp
        OPEN c1
		   FETCH NEXT FROM c1 INTO @PolicyKey,@AccountID,@OldAccountID,@AccountKey
		   WHILE @@FETCH_STATUS = 0
			 BEGIN
			 set @finalAccountID=(Select CASE WHEN oldAccountID is NULL OR oldAccountID='' then 0 else oldAccountID END from Firm where PolicyKey=@PolicyKey )
			 IF(@finalAccountID!=0)
			 BEGIN
			  
				  UPDATE Policy SET AccountID=@finalAccountID,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
				  UPDATE Account SET AccountID=@finalAccountID,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE AccountKey=@AccountKey
					 UPDATE Firm SET oldAccountId=@AccountID,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
			--	  SELECT @AccountID as AccountID,@finalAccountID as finalAccountID
			INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
				values(@PolicyKey,@finalAccountID,@AccountID,'Manual delink','Accountant application account delinked by authorize user',@LastUpdateUserIDACC,@LastUpdateTimeStampACC)
		
			END
            FETCH NEXT FROM c1 INTO @PolicyKey,@AccountID,@OldAccountID,@AccountKey                    
			END
			CLOSE c1
			DEALLOCATE c1
	END

END



GO
