USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayAOPDetailsACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayAOPDetailsACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayAOPDetailsACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayAOPDetailsACC_p] AS' 
END
GO
--exec DisplayAOPDetailsACC_p 111942,'Y'		
ALTER PROCEDURE [dbo].[DisplayAOPDetailsACC_p]
(
@PolicyKey INT,
@isRequotePolicy CHAR,
@VersionKey INT,
@LastUpdateUserID VARCHAR(100),
@LastUpdateTimeStamp DATETIME
)
	
AS
BEGIN
	CREATE TABLE #Temp
	(
	DisplaySequence INT,
	SmartSearchID INT,
	AOPKey	INT,
	AopDesc VARCHAR(100),
	Percentage	INT,
	PercentageOld	INT,
	PolicyKey INT,
	IsEdit char(1)
	)
		
	CREATE TABLE #Temp1
	(
	SN INT identity(1,1),
	DisplaySequence INT,
	SmartSearchID INT,
	AOPKey	INT,
	AopDesc VARCHAR(100),
	Percentage	INT,
	PercentageOld	INT,
	PolicyKey INT,
	IsEdit char(1)
	)	
	--select * from SmartSearchValueACC where policykey=78659 	
	--select * from AOP
	
	DECLARE @Count INT
	DECLARE @PreviousPolicyKey int
	DECLARE @PreviousVersionSequence INT
	DECLARE @PolicyStatusKey INT
	DECLARE @VersionSequence INT,@AccountID int
	--exec DisplayAOPDetailsACC_p 76455	 	
	SELECT @PolicyStatusKey=PolicyStatusKey,@AccountID=AccountID from Policy where PolicyKey=@PolicyKey

	select @PreviousPolicyKey=MAX(p.policykey)  , @PreviousVersionSequence=MAX(f.VersionSequence) FROM policy p WITH(NOLOCK)
	 inner join firm f WITH(NOLOCK) on p.policykey=f.policykey where p.PolicyKey in 
	 (select MAX(PolicyKey) From policy WITH(NOLOCK) where   accountid =@AccountID  AND policynumber is not null)	
	 
	 SET @VersionSequence=(SELECT MAX(VersionSequence) from firm WITH(NOLOCK) where PolicyKey=@PolicyKey)
	
	SELECT @Count=count(*) FROM SmartSearchValueACC WITH(NOLOCK) WHERE POLICYKEY = @PolicyKey
	IF(@Count=0 AND @PolicyStatusKey = 1)
	BEGIN
		INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,IsEdit) select AOPKey,@PolicyKey as PolicyKey,'N' from AOP WITH(NOLOCK) where AOPKey in (3,1,4,6,8)  order by AOPSequence
		commit
	END
	
	IF(@Count=0 AND @PolicyStatusKey = 2)
	BEGIN
		INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,Percentage,PercentageOld,IsEdit) select ap.AOPKey,@PolicyKey as PolicyKey,PercentageValue as Percentage,PercentageValue,'N' from AOP ap WITH(NOLOCK), AreaOfPractice aop WITH(NOLOCK) where ap.AOPKey = aop.AOPKey and PolicyKey = @PreviousPolicyKey and VersionSequence = @PreviousVersionSequence and PercentageValue > 0 order by AOPSequence
		
		INSERT INTO AreaOfPractice (PolicyKey,VersionSequence,AOPKey,AOPCommentDesc,CreatedBy,CreatedDate,VersionKey) select @PolicyKey as PolicyKey,@VersionSequence as VersionSequence,AOPKey,AOPCommentDesc,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey from AreaOfPractice WITH(NOLOCK) where PolicyKey = @PreviousPolicyKey and VersionSequence = @PreviousVersionSequence and PercentageValue > 0
		commit
	END
	if(@isRequotePolicy='Y')
	BEGIN
	print 'Y'
		IF NOT EXISTS(Select * from SmartSearchValueACC WITH(NOLOCK) where AOPKey=3 and Policykey=@PolicyKey)
		BEGIN
			print 'Y1'
			INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,IsEdit) select AOPKey,@PolicyKey as PolicyKey,'N' from AOP WITH(NOLOCK) where AOPKey in (3)  order by AOPSequence
		END
		IF NOT EXISTS(Select * from SmartSearchValueACC WITH(NOLOCK) where AOPKey=1 and Policykey=@PolicyKey)
		BEGIN
			print 'Y1'
			INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,IsEdit) select AOPKey,@PolicyKey as PolicyKey,'N' from AOP WITH(NOLOCK) where AOPKey in (1)  order by AOPSequence
		END
		IF NOT EXISTS(Select * from SmartSearchValueACC WITH(NOLOCK) where AOPKey=4 and Policykey=@PolicyKey)
		BEGIN
			print 'Y1'
			INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,IsEdit) select AOPKey,@PolicyKey as PolicyKey,'N' from AOP WITH(NOLOCK) where AOPKey in (4)  order by AOPSequence
		END
		IF NOT EXISTS(Select * from SmartSearchValueACC WITH(NOLOCK) where AOPKey=6 and Policykey=@PolicyKey)
		BEGIN
			print 'Y1'
			INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,IsEdit) select AOPKey,@PolicyKey as PolicyKey,'N' from AOP WITH(NOLOCK) where AOPKey in (6)  order by AOPSequence
		END
		IF NOT EXISTS(Select * from SmartSearchValueACC WITH(NOLOCK) where AOPKey=8 and Policykey=@PolicyKey)
		BEGIN
			print 'Y1'
			INSERT INTO SmartSearchValueACC (AOPKey,PolicyKey,IsEdit) select AOPKey,@PolicyKey as PolicyKey,'N' from AOP WITH(NOLOCK) where AOPKey in (8)  order by AOPSequence
		END
	END
	INSERT INTO #Temp (DisplaySequence,SmartSearchID,AopDesc,AOPKey,Percentage,PercentageOld,PolicyKey,IsEdit)
	SELECT  row_number() over(order by SmartSearchID) as rownum ,SmartSearchID,aop.AOPDesc as AopDesc,aop.AOPKey,Percentage,PercentageOld,PolicyKey,IsEdit FROM SmartSearchValueACC sm  WITH(NOLOCK) Inner Join AOP aop WITH(NOLOCK) on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PolicyKey order by  AOPSequence
	--select * from #temp
	--select ss.Aopkey as Aopkey,AOPDescNew as AOPDesc,ss.percentage as percentage from SmartSearchValueACC ss left join AOP al on al.AOPKey=ss.AOPkey where ss.policykey=#PolicyKey#  order by AOPDesc
	IF(@isRequotePolicy='Y')
	BEGIN
		UPDATE #Temp SET DisplaySequence=1 WHERE AOPKey=3
		UPDATE #Temp SET DisplaySequence=2 WHERE AOPKey=1
		UPDATE #Temp SET DisplaySequence=3 WHERE AOPKey=4
		UPDATE #Temp SET DisplaySequence=4 WHERE AOPKey=6
		UPDATE #Temp SET DisplaySequence=5 WHERE AOPKey=8
	END
	UPDATE #Temp SET DisplaySequence=1000 WHERE AOPKey=20
	insert into #Temp1 select * from #Temp ORDER BY DisplaySequence

	SELECT SN as rownum, SmartSearchID,DisplaySequence,Aopkey, AOPDesc,percentage as percentage,PercentageOld as PercentageOld,PolicyKey,IsEdit FROM #Temp1   order by isEdit DESC

	--select SUM(Percentage) from #Temp1 where policykey=79215
END







GO
