USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicy_NewLW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RenewPolicy_NewLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicy_NewLW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RenewPolicy_NewLW] AS' 
END
GO
--select * from coveragemodifiers where Policykey=70326
--select isrenewed from firmlw where policykey=70326
--update firmlw set IsRenewed=null where policykey=62602
--exec [RenewPolicy_NewLW] 62602, 62635, 62625, 44985, 3
--select * from policy where policykey=55479
--exec RenewPolicy_NewLW 128297, 128792, 128470, 106883, 3, 'Portal'
ALTER procedure [dbo].[RenewPolicy_NewLW] 
@PolicyKey int,
@AccountKey int,
@AddressKey int,
@VersionSequence int,
@UserNo int,
@RenewalSource varchar(50),
@NevadaDoubleQuoteImplDate DATETIME

as begin

declare @PolicyKey_Inserted int,@VersionKey_Inserted int
declare @AccountKey_Inserted int
declare @AddressKey_Inserted int
declare @VersionSequence_Inserted int
declare @TransactionSequence_Inserted int
declare @CoverageSequence_Inserted int
declare @AgentName varchar(100)
declare @PolicyEffectiveDate datetime,@EffectiveDate datetime
declare @TransactionEffectiveDate datetime
declare @PolicyExpirationDate datetime
declare @TransactionExpirationDate datetime
declare @maxAccountID int
declare @QuoteNumber varchar(100)
declare @AppCreatedDate datetime
declare @IsFirmHaveLawyersLiabilityInsurance char(20)

declare @CompanyKey int
declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int

declare @IsClaimExpensesType char(1)
declare @IsClaimOptionType char(1)
declare @IsFirmPracticeInOtherState char(1)
declare @IsProfDefenceExpense char(1)
declare @IsRenewed char
declare @AccountID int, @PresentDate DATETIME
DECLARE @PolicyPriorActDatePross DATETIME
DECLARE @Status INT,@MonthCount INT
DECLARE @TransactionSequence_Ins INT

SET @Status=(select top 1 Statuskey from PolicyTransaction where PolicyKey = @PolicyKey)
SET @IsRenewed =(select top 1 IsRenewed from FirmLW where PolicyKey = @PolicyKey)
PRINT @IsRenewed
SET @EffectiveDate=(Select PolicyEffectiveDate from Policy Where Policykey=@Policykey)
Select @PresentDate=GETDATE(),@MonthCount= DATEDIFF(month, @EffectiveDate, getdate())
if(@UserNo is null or @UserNo='')
set @UserNo=0;
--select @CurrentYear,@EffectiveYear
if( @Status=6 AND isnull(@IsRenewed,'') != 'Y' and @MonthCount>6
)
begin 
begin try

BEGIN TRANSACTION

print 'Not Renewed'
update FirmLW set IsRenewed='Y',isNewApp='Y' where PolicyKey=@PolicyKey

set @AppCreatedDate = convert(varchar, GETDATE(), 101)

select @AgentName=AgentName from UserDetails where UserNo=@UserNo
select @IsFirmHaveLawyersLiabilityInsurance= ISNULL(IsFirmHaveLawyersLiabilityInsurance,'N') from FirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 
if(@IsFirmHaveLawyersLiabilityInsurance = 'N')
       begin
              set @IsFirmHaveLawyersLiabilityInsurance = 'Y'
       end

select @PolicyEffectiveDate= PolicyExpirationDate,@TransactionEffectiveDate=PolicyExpirationDate,
@PolicyExpirationDate= DATEADD(M,12,PolicyExpirationDate),@TransactionExpirationDate= DATEADD(M,12,TransactionExpirationDate)
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select TransactionSequence from Quote where PolicyKey=@PolicyKey and IsThisOptionFinalised='Y')

select @maxAccountID = AccountID  from Account where AccountKey= @AccountKey

insert into Account (AccountID,AccountName,Website,AccountEmail,AccountVersion,secondaryEmail,CreatedBy,CreatedDate)
select @maxAccountID,AccountName,Website,AccountEmail,AccountVersion,secondaryEmail,@UserNo,getdate() from Account where AccountKey= @AccountKey

select @AccountKey_Inserted=IDENT_CURRENT('Account')

insert into Address(Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc,otherPhone,Street,CreatedBy,CreatedDate)
select			    Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc,otherPhone,Street,@UserNo,getdate() 

from Address where AddressKey= @AddressKey

select @AddressKey_Inserted=IDENT_CURRENT('Address')

insert into AccountAddress (AccountKey,AddressKey,CreatedBy,CreatedDate) values(@AccountKey_Inserted,@AddressKey_Inserted,@UserNo,getdate())

insert into Policy(PolicyEffectiveDate,AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,AppCreatedDate,RenewOfPolicyNumber,CompanyKey,CreatedBy,CreatedDate)
select @PolicyEffectiveDate,@maxAccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,2,@AppCreatedDate,PolicyNumber,CompanyKey,@UserNo,getdate() from Policy 
where PolicyKey= @PolicyKey

select @PolicyKey_Inserted=IDENT_CURRENT('Policy')

Declare @StateCode VARCHAR(50),@CompanyKey_temp INT
set @StateCode=(select stateCode from Address where AddressKey=@AddressKey_Inserted)
SET @CompanyKey_temp=(select top 1 CompanyKey  from StateCompany where StateCode=@StateCode and MarketableProductKey= 2 and effectivedate <= @PolicyEffectiveDate and ExpirationDate >= @PolicyEffectiveDate
order by EffectiveDate desc)

update Policy set CompanyKey=@CompanyKey_temp where Policykey=@PolicyKey_Inserted
INSERT into Version(PolicyKey,CreatedBy,CreatedDate)
Select @PolicyKey_Inserted,@UserNo,getdate()

select @VersionKey_Inserted=IDENT_CURRENT('Version')
--select @VersionKey_Inserted as VersionKey
select @AppCreatedDate = AppCreatedDate from  Policy where  PolicyKey= @PolicyKey_Inserted

--set @QuoteNumber = 'QN-000' + @PolicyKey_Inserted
set @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)

---Code paste below
insert into FirmLW(PolicyKey,ContactPerson,ContactPhone,IsPolicyExcludesCoverage,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,
LicenseNumber,YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,
IsFirmProvidedLegalServiceToSecurity,IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromSecondLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,
IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,
IsAttorneyNotCoveredByProfLiability,IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsAttorneyDeclineForProfLiability,AttorneyDeclineForProfLiabilityDates,
AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,
IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,
IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,IsQuickQuoteMailSent,
IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,
IsFirmProvideInvestmentAdvice,ClientNameSecondLargestRevenueClient,DateRenderedSecondLargestRevenueClient,Is9010Policy,IsSpecialIssuance,SpecialIssuanceComments,
withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,provideMoneyManagementServices,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,
secondayContactPerson,isQuoteByEmail,isNewApp,isPolicyExcludeCoverage,isComingFromUWFlow,RenewalSource,VersionKey,CreatedDate)

SELECT @PolicyKey_Inserted,ContactPerson,ContactPhone,IsPolicyExcludesCoverage,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,
LicenseNumber,YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,
IsFirmProvidedLegalServiceToSecurity,Null,PercentFromSecondLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,@IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,
IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,
IsAttorneyNotCoveredByProfLiability,IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsAttorneyDeclineForProfLiability,AttorneyDeclineForProfLiabilityDates,
AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,
IsFirmHaveProcForFormersClients,Null,Null,Null,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,
IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,@UserNo,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,IsQuickQuoteMailSent,
IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,
IsFirmProvideInvestmentAdvice,ClientNameSecondLargestRevenueClient,DateRenderedSecondLargestRevenueClient,Is9010Policy,IsSpecialIssuance,SpecialIssuanceComments,
withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,provideMoneyManagementServices,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,
secondayContactPerson,isQuoteByEmail,'Y',isPolicyExcludeCoverage,'NO',@RenewalSource,@VersionKey_Inserted,getdate()
from FirmLW where PolicyKey= @PolicyKey and VersionSequence=@VersionSequence



select @VersionSequence_Inserted=IDENT_CURRENT('FirmLW')

---Code ended Here

insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,VersionSequence,VersionKey)
select @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,2,@PolicyExpirationDate,@TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,@VersionSequence_Inserted,@VersionKey_Inserted
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey) 

select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')

update PolicyTransaction set StatusKey=1 where PolicyKey = @PolicyKey_Inserted
update PolicyTransaction set ProducerCode=null where Policykey=@PolicyKey_Inserted and ProducerCode in('P0000007','P0000040','P0000041','P0000042','P0000031','P0000073','P0000001','P0000004','P0000087')
update Policy set PolicyStatusKey=2, QuoteNumber=@QuoteNumber,VersionKey=@VersionKey_Inserted where PolicyKey=@PolicyKey_Inserted

insert into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,IsDollarDefense,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,IsDollarDefense,@UserNo,getdate() from PolicyCoverage where PolicyKey = @PolicyKey and 
TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')

select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

------------------------------------------------------------------------
insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,IsQuoteSelected,'Y',@UserNo,getdate()
from Quote where PolicyKey = @PolicyKey and
IsThisOptionFinalised='Y'



select @LimitSequencePross = LimitSequence from Limits lt inner join PolicyCoverage pc
on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit 
 where lt.CoverageKey=3 
 and PolicyKey = @PolicyKey 
 and TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')

select @CompanyKey = CompanyKey from Policy where PolicyKey= @PolicyKey_Inserted

if(@LimitSequencePross > 35 and @CompanyKey = 1)
begin
	update Quote set isShowQuote = 'N' where PolicyKey = @PolicyKey_Inserted;
END


--update show quote to 'N' for renewal policy if manual quote is finalized for prior year policy

DECLARE @isManualQuoteFinalized CHAR=(select IsManualPremium from PolicyCoverage 
where TransactionSequence=(select TransactionSequence from quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y'))
--IF(@isManualQuoteFinalized='Y')
--BEGIN
--	update Quote set isShowQuote='N' where Policykey=@PolicyKey_Inserted
--END

insert into RatingTrace (PolicyKey,TransactionSequence,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,@UserNo,getdate() from RatingTrace where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)



IF(@StateCode = 'NV' and @AppCreatedDate >= @NevadaDoubleQuoteImplDate)
BEGIN
	insert into PolicyTransaction (PolicyKey, TransactionTypeKey, PolicyExpirationDate, AccountKey, 
		ProducerCode, StatusKey, VersionSequence, RecordType, CreatedDate, CreatedBy, VersionKey)
	select PolicyKey, TransactionTypeKey, PolicyExpirationDate, AccountKey, 
		ProducerCode, StatusKey, VersionSequence, 'I', GetDate(), @UserNo, VersionKey 
	from PolicyTransaction WHERE PolicyKey=@PolicyKey_Inserted 
	select @TransactionSequence_Ins=IDENT_CURRENT('PolicyTransaction')

	insert into PolicyCoverage (PolicyKey, TransactionSequence, MarketableProductKey, CoverageKey,  IsClaimOptionType, IsClaimExpensesType, 
		AggregateLimit, OccuranceLimit, OccuranceDeductible, AggregateDeductible, IsDollarDefense, IsManualPremium, RecordType, CreatedDate, CreatedBy)
	select PolicyKey, @TransactionSequence_Ins, MarketableProductKey, CoverageKey, IsClaimOptionType, Case WHEN (IsClaimExpensesType = 'N') THEN 'Y' ELSE 'N' END,  
		AggregateLimit, OccuranceLimit, OccuranceDeductible, AggregateDeductible, IsDollarDefense, IsManualPremium, 'I', GetDate(), @UserNo 
	from PolicyCoverage WHERE PolicyKey=@PolicyKey_Inserted 

	insert into Quote (PolicyKey, TransactionSequence, IsQuoteSelected, IsFirstQuote, IsMinimumPremium, isShowQuote, RecordType, CreatedDate, CreatedBy)
	select PolicyKey,  @TransactionSequence_Ins, IsQuoteSelected, 'N', IsMinimumPremium, isShowQuote, 'I', GetDate(), @UserNo 
	from Quote WHERE PolicyKey=@PolicyKey_Inserted 

	insert into RatingTrace (PolicyKey, TransactionSequence, RatingDate, RecordType, CreatedDate, CreatedBy)
	select PolicyKey, @TransactionSequence_Ins, RatingDate, 'I', GetDate(), @UserNo 
	from RatingTrace WHERE PolicyKey=@PolicyKey_Inserted 
END
------------------------------------------------------------------------
select @IsFirmHaveLawyersLiabilityInsurance= ISNULL(IsFirmHaveLawyersLiabilityInsurance,'N') from FirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 

       if(@IsFirmHaveLawyersLiabilityInsurance = 'N')
       begin
			DECLARE @Counts INT=0
            select @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType , @IsProfDefenceExpense=pc.IsDollarDefense from Quote q, PolicyCoverage pc 
            where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'
			
            select @LimitSequencePross=LimitSequence from Limits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
            select @DeductibleSequencePross = DeductibleSequence from Deductibles where AggregateDeductible=@AggregateDeductible and CoverageKey=3
             
			SELECT @Counts=count(*) FROM ProfessionalLiabilityInsDetailLW WHERE policykey=@PolicyKey

			IF(@Counts=0)
				BEGIN
					select @PolicyPriorActDatePross=policyeffectivedate from policy where policykey in(select min(policykey) from policy where AccountID =(select accountid from Policy where policykey=@PolicyKey))
				
					insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
					IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate)
					select @PolicyKey_Inserted,@VersionSequence_Inserted,@PolicyEffectiveDate,(CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'DR' ELSE 'DA' END),@PolicyPriorActDatePross,
					(CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'PC' ELSE 'AA' END),'N','Crum & Forster',@LimitSequencePross,@DeductibleSequencePross,@IsProfDefenceExpense,@VersionKey_Inserted,@UserNo,getdate()
				END			
			ELSE
				BEGIN
					  insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
					  IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate)
					  select @PolicyKey_Inserted,@VersionSequence_Inserted,@PolicyEffectiveDate,(CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'DR' ELSE 'DA' END),PriorActDatePross,
					  (CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'PC' ELSE 'AA' END),'N','Crum & Forster',@LimitSequencePross,@DeductibleSequencePross,@IsProfDefenceExpense,@VersionKey_Inserted,@UserNo,getdate()
					  from ProfessionalLiabilityInsDetailLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
				 END
			 
			  update FirmLW set IsPolicyIncludeLateralHireCov = 'N',IsPolicyExcludesCoverage='N'
              where PolicyKey = @PolicyKey_Inserted and VersionSequence = @VersionSequence_Inserted
       end    
       
       if(@IsFirmHaveLawyersLiabilityInsurance = 'Y')
       begin
              insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
       IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,VersionKey,CreatedBy,CreatedDate)
              select @PolicyKey_Inserted,@VersionSequence_Inserted,LimitAmount,DeductibleAmount,DATEADD(M,12,PolicyExpirationDatePross) as PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
       IsPerClaim,IsPriorActDateFull,FirmYear+1,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,@VersionKey_Inserted,@UserNo,getdate()
              from ProfessionalLiabilityInsDetailLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
       end

---------------------------------------------
insert into AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,VersionKey,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPKey,PercentageValue,AOPCommentDesc,@VersionKey_Inserted,@UserNo,getdate()
from AreaOfPracticeLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------------------

	
	insert into SmartSearchValue(AOPKey,Percentage,PercentageOld,PolicyKey,CreatedBy,CreatedDate)
	select AOPKey,PercentageValue,PercentageValue,@PolicyKey_Inserted,@UserNo,getdate()
	 from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and  PercentageValue>0

	

------------------------ CURSOR FOR COPYING ATTORNEYDETAILSLW DATA ------------------------------
declare @Attorneykey int
DECLARE c1 CURSOR  FOR
select Attorneykey from AttorneyDetailsLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @Attorneykey
while @@FETCH_STATUS=0
begin
       
       begin
              insert into AttorneyDetailsLW(PolicyKey,VersionSequence,AttorneyName,LicensedStates,AnnualWorkedHours,
			NumberOfYearsInPractice,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
			PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,PriorActDateAttorneysNew,VersionKey,CreatedBy,CreatedDate) 
              select @PolicyKey_Inserted,@VersionSequence_Inserted,AttorneyName,LicensedStates,AnnualWorkedHours,
              NumberOfYearsInPractice + 1,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
			PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,AttorneyPriorActDate,@VersionKey_Inserted,@UserNo,getdate() from AttorneyDetailsLW
              where Attorneykey=@Attorneykey and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
              
       end
fetch next from c1 into @Attorneykey
end
close c1
deallocate c1

---------------------------------------------------------------------------------------------

---------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------

----------------------------------------------------------------------------------------------

------------------------CURSOR FOR COPYING FIRMINITLAWSUITDATA------------------------------------------------------------------------
declare @FirminitLawsuitsKey int
DECLARE c1 CURSOR  FOR
select FirminitLawsuitsKey from FirmInitLawsuitsLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @FirminitLawsuitsKey
while @@FETCH_STATUS=0
begin
       
       begin
              insert into FirmInitLawsuitsLW(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
       IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,VersionKey,CreatedBy,CreatedDate) 
              select @PolicyKey_Inserted,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
              IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,
              @VersionKey_Inserted,@UserNo,getdate()  from FirmInitLawsuitsLW
              where FirminitLawsuitsKey=@FirminitLawsuitsKey and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
              
       end
fetch next from c1 into @FirminitLawsuitsKey
end
close c1
deallocate c1
-------------------------------------------------Bankruptcy data insertion---------------------------------------------

---Bankruptc case details------------

--insert into BankruptcyCasesDetailsLW (bankruptcyKey,Debtor,Creditor,Trustee,PolicyKey,VersionSequence)
--select bankruptcyKey,Debtor,Creditor,Trustee,@PolicyKey_Inserted,@VersionSequence_Inserted
--from BankruptcyCasesDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--declare @bankruptcyKey int
--DECLARE c1 CURSOR  FOR
--select @bankruptcyKey from BankruptcyCasesDetailsLW where PolicyKey=@PolicyKey
--open c1
--fetch next from c1 into @bankruptcyKey
--while @@FETCH_STATUS=0
--begin
       
--       begin
--              insert into BankruptcyCasesDetailsLW(bankruptcyKey,Debtor,Creditor,Trustee,PolicyKey,VersionSequence) 
--              select  @bankruptcyKey,Debtor,Creditor,Trustee,@PolicyKey_Inserted,@VersionSequence_Inserted from BankruptcyCasesDetailsLW
--              where @bankruptcyKey=@bankruptcyKey and PolicyKey=@PolicyKey
              
--       end
--fetch next from c1 into @bankruptcyKey
--end
--close c1
--deallocate c1
----------------------------------------------------------------
-----------------BankruptcyDetailsLW-------

--insert into BankruptcyDetailsLW (PolicyKey,VersionSequence,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement
--from BankruptcyDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-------------------------------------CollectionSupplement DAta---------------------------------------------------------------------------


--insert into collectionsSuplimentDetailsLW(PolicyKey,VersionSequence,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA
--from collectionsSuplimentDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-------------------------------------copyright trademark DAta---------------------------------------------------------------------------

--insert into  CopyRightTrademarkDetailsLW(PolicyKey,VersionSequence,otherServices,otherServicesDesc)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,otherServices,otherServicesDesc
--from CopyRightTrademarkDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-------------------------------------Family Supplement data---------------------------------------------------------------------------

--insert into  FamilyLawDetailsLW (PolicyKey,VersionSequence,FLAOPKey,PercentageValue,FLAOPCommentDesc)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,FLAOPKey,PercentageValue,FLAOPCommentDesc
--from FamilyLawDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-------------------------------------Financial Supplement data---------------------------------------------------------------------------
--insert into FinancialInstitutionDetailsLW(PolicyKey,VersionSequence,equityInterest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent)
--select  @PolicyKey_Inserted,@VersionSequence_Inserted,equityInterest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent
--from FinancialInstitutionDetailsLW  where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


-------------------------------------Government Supplement data---------------------------------------------------------------------------
--insert into GovernmentServicesDetails(ServiceName,ServicesProvided,PolicyKey,VersionSequence)
--select ServiceName,ServicesProvided, @PolicyKey_Inserted,@VersionSequence_Inserted
--from GovernmentServicesDetails where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


--insert into   GovernmentSupplementDetailsLW	(providingBondWork,eminentDomainServices,PolicyKey,VersionSequence)
--select providingBondWork,eminentDomainServices,@PolicyKey_Inserted,@VersionSequence_Inserted
--from  GovernmentSupplementDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
------------------------------------ Copying ProfLiabClaimAgnstFirmLW data-------------------------------------------------------------
--declare @ProfLiabClaimAgnstFirmKey int
--DECLARE c1 CURSOR  FOR
--select ProfLiabClaimAgnstFirmKey from ProfLiabClaimAgnstFirmLW where PolicyKey=@PolicyKey
--open c1
--fetch next from c1 into @ProfLiabClaimAgnstFirmKey
--while @@FETCH_STATUS=0
--begin
       
--       begin
--              insert into ProfLiabClaimAgnstFirmLW(PolicyKey,VersionSequence,NameOfClaimant,ClaimNotifiedDate,DateOfAllegedError,
--              NameOfPersonnelINClaim,DescOfClaim,IsClaimReportedToInsComp,NameOfInsComp,LastUpdateUserID,
--       LastUpdateTimeStamp,DateReportedToInsComp,InsurerLoss,ClaimClosingDate,TotalAmountPaid,StepsTakenToPreventClaims,
--              ClaimantLastDemand,IsClient,CurrentStatus,IsClaimInSuit) 
--              select @PolicyKey_Inserted,@VersionSequence_Inserted,NameOfClaimant,ClaimNotifiedDate,DateOfAllegedError,
--              NameOfPersonnelINClaim,DescOfClaim,IsClaimReportedToInsComp,NameOfInsComp,
--              LastUpdateUserID,LastUpdateTimeStamp,DateReportedToInsComp,InsurerLoss,ClaimClosingDate,
--           TotalAmountPaid,StepsTakenToPreventClaims,ClaimantLastDemand,IsClient,CurrentStatus,IsClaimInSuit  from ProfLiabClaimAgnstFirmLW
--              where ProfLiabClaimAgnstFirmKey=@ProfLiabClaimAgnstFirmKey and PolicyKey=@PolicyKey
              
--       end
--fetch next from c1 into @ProfLiabClaimAgnstFirmKey
--end
--close c1
--deallocate c1

-----------------------------------------------------------------------------------------------
----------------------------------Copy ProdecessorFirmLW data----------------------------------

declare @ProdecessorFirmKey int
DECLARE c1 CURSOR  FOR
select ProdecessorFirmKey from ProdecessorFirmLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @ProdecessorFirmKey
while @@FETCH_STATUS=0
begin
       
       begin
              insert into ProdecessorFirmLW(PolicyKey,VersionSequence,IsERPPurchased,FirmName,TypeOfEntity,
       DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,ERPExpDate,DateOfAcquisation,VersionKey,CreatedBy,CreatedDate) 
              select @PolicyKey_Inserted,@VersionSequence_Inserted,IsERPPurchased,FirmName,TypeOfEntity,
              DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
              ERPExpDate,DateOfAcquisation,@VersionKey_Inserted,@UserNo,getdate()
			   from ProdecessorFirmLW
              where ProdecessorFirmKey=@ProdecessorFirmKey and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
              
       end
fetch next from c1 into @ProdecessorFirmKey
end
close c1
deallocate c1

---------------------------------------------------------------------------------------------

----------------------------------------Copying RealEstate Supplements Data-----------------------------------------------------------

--insert into AreaOfPracticeRealEstateLW (PolicyKey,VersionSequence,AOPREKey,PercentageValue,AOPRECommentDesc,CommercialPercentageValue,AOPRECommCommentDesc)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPREKey,PercentageValue,AOPRECommentDesc ,CommercialPercentageValue,AOPRECommCommentDesc
--from AreaOfPracticeRealEstateLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


--insert into RealEastateDetailsLW (transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,PolicyKey,VersionSequence)
--select transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,@PolicyKey_Inserted,@VersionSequence_Inserted
--from	RealEastateDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-------------------------------------------------------Copying Plaintiff Supplements Data---------------------------
--insert into PlantiffSuppLW (PolicyKey,VersionSequence,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
--NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
--IsApplAdvertiseByRadio,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
--IsAppAcceptRefersFromOtherFirms,IsSettlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
--PerOfCasesReferToApplicant,LastUpdateUserID,LastUpdateTimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByInternet,
--PerOfCasesSettledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
--NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
--IsApplAdvertiseByRadio ,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
--IsAppAcceptRefersFromOtherFirms,IsSettlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
--PerOfCasesReferToApplicant,LastUpdateUserID,LastUpdateTimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByInternet,
--PerOfCasesSettledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction
--from PlantiffSuppLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


--declare @AttorneyInPlaintiffKey int
--DECLARE c1 CURSOR  FOR
--select AttorneyInPlaintiffKey from AttorneyInPlaintiffForFirmLW where PolicyKey=@PolicyKey
--open c1
--fetch next from c1 into @AttorneyInPlaintiffKey
--while @@FETCH_STATUS=0
--begin
       
--       begin
--              insert into AttorneyInPlaintiffForFirmLW(PolicyKey,VersionSequence,PlaintiffAttorneyName,PlaintiffYrsExp,
--              PlaintiffPecOfTimeDev) 
--              select @PolicyKey_Inserted,@VersionSequence_Inserted,PlaintiffAttorneyName,PlaintiffYrsExp,
--              PlaintiffPecOfTimeDev from AttorneyInPlaintiffForFirmLW
--              where AttorneyInPlaintiffKey=@AttorneyInPlaintiffKey and PolicyKey=@PolicyKey
              
--       end
--fetch next from c1 into @AttorneyInPlaintiffKey
--end
--close c1
--deallocate c1

--insert into AreaOfLitigationForFirmLW (PolicyKey,VersionSequence,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc 
--from AreaOfLitigationForFirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence








-----------------------------------Copying WIllsEstate Supplements Data--------------------------------------------------------
--insert into WillsEstateServicesLW (PolicyKey,VersionSequence,WESKey,CheckedValue,WESCommentDesc,PercentageValue)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,WESKey,CheckedValue,WESCommentDesc ,PercentageValue
--from WillsEstateServicesLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


--insert into WillsTrustsEstateSuppLW (PolicyKey,VersionSequence,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
--IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
--IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
--LastUpdateUserID,LastUpdateTimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFromBank,IsApplCarryEmployeeDishonestyCoverage)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
--IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
--IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
--LastUpdateUserID,LastUpdateTimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFromBank,IsApplCarryEmployeeDishonestyCoverage
--from WillsTrustsEstateSuppLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


--insert into WillSTrustEstateLargestTrustsDetails (PolicyKey,VersionSequence,TrustName,TrustsType,AssetsValue,BeneficiaryInterest)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,TrustName,TrustsType,AssetsValue,BeneficiaryInterest
--from WillSTrustEstateLargestTrustsDetails  where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
------------------------------------TAX Supplement Data--------------------------------------------------------------

--insert into TaxSuppDetailsLW (TaxAOPKey,TaxAopDesc,revenuePercentage,PolicyKey,VersionSequence,TaxCommentDesc)
--select TaxAOPKey,TaxAopDesc,revenuePercentage,@PolicyKey_Inserted,@VersionSequence_Inserted,TaxCommentDesc
--from TaxSuppDetailsLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------Populate Coverage Modifiers--------------------------
insert into CoverageModifiers(PolicyKey,Comment,CoverageSequence,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,Comment,@CoverageSequence_Inserted,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted,@UserNo,getdate()
 from CoverageModifiers where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)  


-----------------Populate AdditionalFormDataLW--------------
insert into AdditionalFormDataLW(PolicyKey,PredecessorFirmName_1,PriorActsDate_1,PredecessorFirmName_2,PriorActsDate_2,PredecessorFirmName_3,PriorActsDate_3,
IsPredecessorFormSelected,PersonOrEntity_1,PersonOrEntity_2,PersonOrEntity_3,IsSpecifiedAttorneySelected,IsSpecificProfServicesSelected,DisputeRenderedOnBehalfOf,
ClaimRenderedOnBehalfOf,IsPreviouFirmFormSelected,PreviousFirmName,IsSuitForFeesAction,PreviousAttorneyName_1,PreviousAttorneyName_2,PreviousAttorneyName_3,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,PredecessorFirmName_1,PriorActsDate_1,PredecessorFirmName_2,PriorActsDate_2,PredecessorFirmName_3,PriorActsDate_3,
IsPredecessorFormSelected,PersonOrEntity_1,PersonOrEntity_2,PersonOrEntity_3,IsSpecifiedAttorneySelected,IsSpecificProfServicesSelected,DisputeRenderedOnBehalfOf,
ClaimRenderedOnBehalfOf,IsPreviouFirmFormSelected,PreviousFirmName,IsSuitForFeesAction,PreviousAttorneyName_1,PreviousAttorneyName_2,PreviousAttorneyName_3,@UserNo,getdate()
from AdditionalFormDataLW where PolicyKey = @PolicyKey
 
 if exists(select * from ProfLiabClaimAgnstFirmLW where PolicyKey=@PolicyKey_Inserted)
 begin
delete from ProfLiabClaimAgnstFirmLW where PolicyKey=@PolicyKey_Inserted
end






/**********************UPDATING STATECODES FOR LICENSESTATES**********************************************************************/

Declare @CreateDate DATETIME
Select @CreateDate=AppCreatedDate from policy where policykey=@PolicyKey
if(@CreateDate< '2017-06-21  00:00:00.000')
BEGIN 



	CREATE TABLE #TEMPSTATES
		(
			StateCode VARCHAR(20),
			StateDesc VARCHAR(50)
		)
		INSERT INTO #TEMPSTATES  SELECT StateCode,replace(StateDesc,' ','') FROM STATE
		CREATE TABLE #TEMP
		(
			rownum int identity,
			AttorneyKey INT
		)
		DECLARE @Count INT
		DECLARE @InitCount INT
		DECLARE @LoopCounter INT =1
		DECLARE @Attornykey int
	
		INSERT INTO #TEMP SELECT  AttorneyKey FROM AttorneyDetailsLW WHERE PolicyKey=@PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
		SELECT @Count=count(*)	from 	#TEMP
			
				SET @LoopCounter=1
				WHILE ( @LoopCounter <= @Count)
				BEGIN

				select @Attornykey= AttorneyKey from #TEMP where rownum=@LoopCounter

					update t 
					set t.LicensedStates = (SELECT distinct  cast(STUFF((SELECT distinct cast( ','+cast(sd.StateCode as varchar(8000)) as varchar(8000))                                                 
												FROM #TEMPSTATES sd 
												cross apply dbo.SplitString(replace(t.LicensedStates,' ',''),', ') s 
												inner join AttorneyDetailsLW t1 on t1.AttorneyKey = t.AttorneyKey  --and sd.StateDesc = 
												where s.Items = sd.StateDesc
												FOR XML PATH('')) , 1, 1, '') as varchar(8000)))
					from AttorneyDetailsLW t where t. AttorneyKey = @Attornykey

					set @LoopCounter = @LoopCounter+1
				
				END

			
END
if(@CreateDate>= '2017-06-21  00:00:00.000')
BEGIN
Declare @StreetValue varchar(500)
SET @StreetValue=(select Street from Address where AddressKey=@AddressKey_Inserted)
if (@StreetValue is null)
	update Address set Address1= Address1,Street= Address1 where AddressKey=@AddressKey_Inserted
else
	update Address set Address1= Street,Street= Street where AddressKey=@AddressKey_Inserted
END
/************************************************************************************************/
COMMIT
select @PolicyKey_Inserted as PolicyKey, @TransactionSequence_Inserted as TransactionSequence,@CoverageSequence_Inserted as CoverageSequence ,  @AddressKey_Inserted as AddressKey,@AccountKey_Inserted as AccountKey,@VersionSequence_Inserted as VersionSequence,@AppCreatedDate as dumyDate 


end try
begin catch
print error_message()
update FirmLW set IsRenewed=NULL where PolicyKey=@PolicyKey
rollback 

end catch
end

end

if( @Status<>6 OR isnull(@IsRenewed,'') = 'Y' or @MonthCount<6
)
begin

begin try
       print 'Already Renewed'
       
       select @AccountID=AccountID from Policy where PolicyKey = @PolicyKey
       select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence,p.AppCreatedDate as dumyDate from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') and a.AccountID=@AccountID order by  PolicyKey desc
end try
begin catch
print error_message()
rollback 
end catch

end

GO
