USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_GovernmentSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_GovernmentSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_GovernmentSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_GovernmentSupplement_LW] AS' 
END
GO
--exec [UWRules_GovernmentSupplement_LW] 176230, 185818, 48441, 176486, 152262, 2, 1100
ALTER PROCEDURE [dbo].[UWRules_GovernmentSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	print @previousPolicyKey
	DECLARE @providingBondWork CHAR,@eminentDomainServices CHAR,@providingBondWorkPrior CHAR,@eminentDomainServicesPrior CHAR
	select @providingBondWork=providingBondWork,@eminentDomainServices=eminentDomainServices from GovernmentSupplementDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='ProvidingBondWorkNBRule_Lawyers'
		if(@providingBondWork='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Government - providing bond work.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='EminentDomainServicesNBRule_Lawyers'
		if(@eminentDomainServices='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Government - Providing services related to eminent domain.','How many times has the attorney performed eminent domain services in the past three years?.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
	
			
	
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
			select @providingBondWorkPrior=providingBondWork,@eminentDomainServicesPrior=eminentDomainServices from GovernmentSupplementDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
			if(@providingBondWorkPrior is null)
			set @providingBondWorkPrior='N'
			if(@eminentDomainServicesPrior is null)
				set @eminentDomainServicesPrior='N'
		set @rule_id='ProvidingBondWorkRenewalRule_Lawyers'
		if(@providingBondWork='Y' and @providingBondWorkPrior='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Government - providing bond work.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='EminentDomainServicesRenewalRule_Lawyers'
		if(@eminentDomainServices='Y' and @eminentDomainServicesPrior='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Government - Providing services related to eminent domain.','How many times has the attorney performed eminent domain services in the past three years?.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
	END
END




GO
