USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanPracticeManagementDataAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CleanPracticeManagementDataAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanPracticeManagementDataAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CleanPracticeManagementDataAcc_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[CleanPracticeManagementDataAcc_p]
( 
@PolicyKey INT,
@IsFirmRenderingServices CHAR,
@IsControlClientFunds CHAR,
@IsServedAsTrustee	CHAR,
@IsFirmRenderedServiceForAnyClient CHAR,
@IsSuitInstituted CHAR,
@IsFirmsRevenueMorethan25Percent CHAR
)
AS
BEGIN
DECLARE @PolicyStatusKey INT
DECLARE @VersionSequence INT
SET @PolicyStatusKey=(SELECT PolicyStatusKey From Policy Where PolicyKey=@PolicyKey)
SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FIRM Where Policykey=@PolicyKey)
DECLARE @BusinessManagement INT
SET @BusinessManagement =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=18)
	IF(@PolicyStatusKey=1)
	BEGIN
		IF(@IsFirmRenderingServices IS NOT NULL AND @IsFirmRenderingServices='N')
			BEGIN
				DELETE FROM SeperateEntitySupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

		IF(@IsControlClientFunds IS NOT NULL AND @IsControlClientFunds='N' AND @BusinessManagement=0)
		BEGIN
			DELETE FROM FundsControlledSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			UPDATE FIRM SET IsManagementServiceProvided=NULL  WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
		IF(@IsFirmsRevenueMorethan25Percent IS NOT NULL AND @IsFirmsRevenueMorethan25Percent='N' )
		BEGIN
			
			UPDATE FIRM SET PercentOfRevenueFromLargestClient=NULL,ServiceIndustryofLargestClient=NULL  WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
	END	
	IF(@PolicyStatusKey=2)
	BEGIN
		IF(@IsControlClientFunds IS NOT NULL AND @IsControlClientFunds='N' AND @BusinessManagement=0)
		BEGIN
			DELETE FROM FundsControlledSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			UPDATE FIRM SET IsManagementServiceProvided=NULL  WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
		IF(@IsServedAsTrustee IS NOT NULL AND @IsServedAsTrustee='N')
			BEGIN
				DELETE FROM TrusteeOrEstateSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

			IF(@IsFirmRenderedServiceForAnyClient IS NOT NULL AND @IsFirmRenderedServiceForAnyClient='N')
			BEGIN
				DELETE FROM OutsideInterestSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

			IF(@IsSuitInstituted IS NOT NULL AND @IsSuitInstituted='N')
			BEGIN
				DELETE FROM FirmInitLawsuits WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

	END
END

GO
