USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SupplementFlowControlRenewalAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SupplementFlowControlRenewalAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SupplementFlowControlRenewalAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SupplementFlowControlRenewalAcc_p] AS' 
END
GO

--exec SupplementFlowControlRenewalAcc_p 80688 	 	
ALTER PROCEDURE [dbo].[SupplementFlowControlRenewalAcc_p]
(
@PolicyKey INT
)
AS
BEGIN

DECLARE @PreviousPolicyKey INT
DECLARE @CreatedDate DATETIME
DECLARE @DaysDiffenence INT
DECLARE @VersionSequence INT
DECLARE @PreviousVersionSequence INT

SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey

	
	CREATE TABLE #TEMP
	(
	isInvestSuppVisible CHAR,
	isComputerSuppVisible CHAR,
	isBusinessManagementSuppVisible CHAR,
	isAuditSuppVisible CHAR
	)
	
	INSERT INTO #TEMP VALUES('N','N','N','N')


		SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PolicyKey)
		SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PreviousPolicyKey)
	---------------------------------------CURRENT POLICY SUPPLEMENTS---------------------------------------
	DECLARE @investSuppPercentage	INT 
	DECLARE @computerSuppPercentage	INT
	DECLARE @businessManagementSuppPercentage	INT
	DECLARE @auditSuppPercentage INT


	SET @investSuppPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=19)
	SET @computerSuppPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=14)
	SET @businessManagementSuppPercentage=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
	SET @auditSuppPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
		
	---------------------------------------OLDER  POLICY SUPPLEMENTS---------------------------------------

	DECLARE @investmentPlanningOld INT
		DECLARE @computerServicesOld INT
		DECLARE @BusinessManagementOld INT
		DECLARE @auditOld INT
		SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=19)
		if(@investmentPlanningOld is null)
		set @investmentPlanningOld=0
		SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=14)
		if(@computerServicesOld is null)
		set @computerServicesOld=0
		SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18)
		if(@BusinessManagementOld is null)
		set @BusinessManagementOld=0
		SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6)
		if(@auditOld is null)
		set @auditOld=0
	
	
	------------------------------------------------------------------------------------------------------------------------
	
	

	IF((@investmentPlanningOld=0 AND @investSuppPercentage>0) OR (@investSuppPercentage>(@investmentPlanningOld+5)))
			BEGIN
				UPDATE #TEMP SET isInvestSuppVisible='Y'
			END

	IF((@computerServicesOld=0 AND @computerSuppPercentage>0) OR @computerSuppPercentage>(@computerServicesOld+5))
			BEGIN
			
				UPDATE #TEMP SET isComputerSuppVisible='Y'
			END

	IF((@BusinessManagementOld=0 AND @businessManagementSuppPercentage>0) OR(@businessManagementSuppPercentage >(@BusinessManagementOld+5)))
			BEGIN
				UPDATE #TEMP SET isBusinessManagementSuppVisible='Y'
				
			END
	IF((@auditOld=0 AND @auditSuppPercentage>0) OR (@auditSuppPercentage >(@auditOld+5)))
			BEGIN
				UPDATE #TEMP SET isAuditSuppVisible='Y'
				
			END
	SELECT * FROM #TEMP
END


GO
