USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateQuoteLimitIncrease_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateQuoteLimitIncrease_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateQuoteLimitIncrease_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateQuoteLimitIncrease_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

--exec ValidateQuoteLimitIncrease_p 129652, 19
ALTER PROCEDURE [dbo].[ValidateQuoteLimitIncrease_p]
(
@PolicyKey Int,
@LimitSequenceNew INT
)
AS
BEGIN


--DECLARE @priorPolicyKey INT=(select top 1 Policykey from Policy where Policynumber is not null and Policykey<@PolicyKey order by Policykey desc )
DECLARE @InitLimitSequence INT=(select top 1 lt.LimitSequence from Limits lt inner join PolicyCoverage pc on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit and pc.CoverageKey=lt.CoverageKey
inner join Quote q on q.PolicyKey=pc.PolicyKey and q.TransactionSequence=pc.Transactionsequence
 where  pc.Policykey=@Policykey and q.isShowQuote='Y' order by pc.TransactionSequence )

DECLARE @CompanyKey int= (select CompanyKey from Policy where Policykey=@Policykey)

--select * from PolicyCoverage
print @InitLimitSequence
DECLARE @limitIncreaseFlag CHAR='N'
IF(@LimitSequenceNew>@InitLimitSequence and @CompanyKey = 1)
	set @limitIncreaseFlag='Y'

select @limitIncreaseFlag as limitIncreaseFlag
END



GO
