USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InvoicedData_proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InvoicedData_proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InvoicedData_proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InvoicedData_proc] AS' 
END
GO

--exec InvoicedData_proc 64518
ALTER PROCEDURE [dbo].[InvoicedData_proc]
	@PolicyKey varchar(20)
	
AS
BEGIN	
declare @MarketableProductKey int
DECLARE @PolicyEffectiveDate DATETIME
DECLARE @DateDiff INT
DECLARE @PresentDate DATETIME
DECLARE @PayementDueDate DATETIME
SELECT @PolicyEffectiveDate=PolicyEffectiveDate,@PresentDate=GetDate() from Policy where Policykey=@PolicyKey

SET @DateDiff =(SELECT DATEDIFF(day, @PolicyEffectiveDate,@PresentDate ))

IF(@DateDiff<-4 or @DateDiff>4 )
BEGIN
	Set @PayementDueDate=@PolicyEffectiveDate-5
END
ELSE 
BEGIN
Set @PayementDueDate=@PolicyEffectiveDate
END



select @MarketableProductKey=MarketableProductKey from Policy where PolicyKey=@PolicyKey



if(@MarketableProductKey = 1)
begin
	select (select q.TransactionSequence from PolicyTransaction ppt, Quote q where ppt.PolicyKey=@PolicyKey and q.TransactionSequence=ppt.TransactionSequence
	and q.IsThisOptionFinalised='Y' ) as TransactionSequence, p.PolicyKey,p.QuoteNumber, REPLACE(convert(varchar(20),p.PolicyEffectiveDate ,110),'-','/')  as PolicyEffectiveDate, REPLACE(convert(varchar(20),pt.PolicyExpirationDate ,110),'-','/')  as PolicyExpirationDate ,REPLACE(convert(varchar(20),GETDATE(),110),'-','/')  as InvoicedDate ,    REPLACE(convert(varchar(20),@PayementDueDate ,110),'-','/')   as PayementDueDate,
		REPLACE(convert(varchar(20),p.PolicyEffectiveDate ,110),'-','/')  as TransactionEffectiveDate,STUFF(substring(REPLACE(convert(varchar(20),GETDATE()),'-','/'),0,13),7,0,',') as CurrentDate,
		CONVERT(VARCHAR(19),p.PolicyEffectiveDate,101) + ' - ' + CONVERT(VARCHAR(19),pt.PolicyExpirationDate,101)  as PolicyTerm, p.PolicyStatusKey,
		a.AccountName,adds.Address1,adds.Address2,f.ContactPerson,dbo.getAmountFormat(pt.InvoicedPremium) as InvoicedPremium,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.City,adds.Zip,adds.Zip4
		 from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
	PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
	f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey  and 
	--p.PolicyStatusKey=pt.TransactionTypeKey and 
	f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
	p.MarketableProductKey=1 and pt.TransactionSequence = pc.TransactionSequence and 
	pt.TransactionSequence=(select q.TransactionSequence from PolicyTransaction ppt, Quote q where ppt.PolicyKey=@PolicyKey and q.TransactionSequence=ppt.TransactionSequence
	and q.IsThisOptionFinalised='Y' ) and
	pt.PolicyKey = @PolicyKey

end

else if(@MarketableProductKey = 2)
begin
		select (select q.TransactionSequence from PolicyTransaction ppt, Quote q where ppt.PolicyKey=@PolicyKey and q.TransactionSequence=ppt.TransactionSequence
	and q.IsThisOptionFinalised='Y' ) as TransactionSequence, p.PolicyKey,p.QuoteNumber, REPLACE(convert(varchar(20),p.PolicyEffectiveDate ,110),'-','/')  as PolicyEffectiveDate, REPLACE(convert(varchar(20),pt.PolicyExpirationDate ,110),'-','/')  as PolicyExpirationDate ,REPLACE(convert(varchar(20),GETDATE(),110),'-','/')  as InvoicedDate ,  REPLACE(convert(varchar(20),@PayementDueDate ,110),'-','/')   as PayementDueDate,
		REPLACE(convert(varchar(20),p.PolicyEffectiveDate ,110),'-','/')  as TransactionEffectiveDate,STUFF(substring(REPLACE(convert(varchar(20),GETDATE()),'-','/'),0,13),7,0,',') as CurrentDate,
		CONVERT(VARCHAR(19),p.PolicyEffectiveDate,101) + ' - ' + CONVERT(VARCHAR(19),pt.PolicyExpirationDate,101)  as PolicyTerm, p.PolicyStatusKey,
		a.AccountName,adds.Address1,adds.Address2,f.ContactPerson,dbo.getAmountFormat(pt.InvoicedPremium) as InvoicedPremium,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.City,adds.Zip,adds.Zip4
		 from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa,
	PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
	f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey  and 
	--p.PolicyStatusKey=pt.TransactionTypeKey and 
	f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
	p.MarketableProductKey=2 and pt.TransactionSequence = pc.TransactionSequence and 
	pt.TransactionSequence=(select q.TransactionSequence from PolicyTransaction ppt, Quote q where ppt.PolicyKey=@PolicyKey and q.TransactionSequence=ppt.TransactionSequence
	and q.IsThisOptionFinalised='Y' ) and
	pt.PolicyKey = @PolicyKey

end

END


GO
