USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_PLaintiffSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_PLaintiffSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_PLaintiffSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_PLaintiffSupplement_LW] AS' 
END
GO
--select * from AOLLW
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
-- exec UWRules_PLaintiffSupplement_LW 135276, 136423, 43485, 135454, 113488, 2, 3
ALTER PROCEDURE [dbo].[UWRules_PLaintiffSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT,@largestCaseSizeAbobe3MCount INT=0,@litigationSum INT
	DECLARE @medicalMallPractice INT,@productLiability INT,@professionalLiabilityNonMed INT,@massTortLitigation INT,@other INT,@attorneyCount INT,@NumberOfInjuryCasesIn12Month INT,@PerOfCasesSettledBeforeTrail INT,@IsSettlementAggrementsUsed CHAR,@massTortOrClassAction CHAR
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	set @largestCaseSizeAbobe3MCount=(select count(*) from AreaOfLitigationForFirmLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and LargestCaseSize>3000000)
	set @attorneyCount=(select count(*) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	DECLARE @WorkersCompensationPlaintiff INT,@CivilLitigationPlaintiff INT,@ConstructionLitigationPlaintiff INT,@CorporateCommercialBusinessLitigationPlaintiff INT,@MassTortLitigationClassActionsPlaintiff INT,@MedicalMalpracticePlaintiff INT,@NonMedicalMalpracticePlaintiff INT,@PersonalInjuryLitigationPlaintiff INT,@ProductLiabilityLitigationPlaintiff INT,@LitigationOtherPlaintiff INT
	
	Set @WorkersCompensationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=53)
	Set @CivilLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=55)
	Set @ConstructionLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=56)
	Set @CorporateCommercialBusinessLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=57)
	Set @MassTortLitigationClassActionsPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=59)
	Set @MedicalMalpracticePlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=60)
	Set @NonMedicalMalpracticePlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=61)
	Set @PersonalInjuryLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=62)
	Set @ProductLiabilityLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=63)
	Set @LitigationOtherPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=67)
	
	set @litigationSum=	(@ConstructionLitigationPlaintiff+@CorporateCommercialBusinessLitigationPlaintiff+@MassTortLitigationClassActionsPlaintiff+@MedicalMalpracticePlaintiff+@NonMedicalMalpracticePlaintiff+@PersonalInjuryLitigationPlaintiff+@ProductLiabilityLitigationPlaintiff+@LitigationOtherPlaintiff)
	
	select @NumberOfInjuryCasesIn12Month=NumberOfInjuryCasesIn12Month,@PerOfCasesSettledBeforeTrail=PerOfCasesSettledBeforeTrail,@IsSettlementAggrementsUsed=IsSettlementAggrementsUsed,@massTortOrClassAction=massTortOrClassAction from PlantiffSuppLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	
	--select @NumberOfInjuryCasesIn12Month as NumberOfInjuryCasesIn12Month,@PerOfCasesSettledBeforeTrail as PerOfCasesSettledBeforeTrail,@IsSettlementAggrementsUsed as IsSettlementAggrementsUsed,@massTortOrClassAction as massTortOrClassAction
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'

		
		set @rule_id='validatePlaintiffLargestCase_Lawyers'
		if(@largestCaseSizeAbobe3MCount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Largest plaintiff case size above 3M.','Large plaintiff case size – Provide the next 3 largest case sizes.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		--set @rule_id='MedicalMalpracticePlaintiff_Lawyers'
		--if(@medicalMallPractice>25)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Medical Malpractice more that 25%.','No explanation needed.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		--set @rule_id='ProductsLiabilityPlaintiff_Lawyers'
		--if(@productLiability>25)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Products Liability more than 25%.','No explanation needed.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		--set @rule_id='MassTortLitigationPlaintiff_Lawyers'
		--if(@massTortLitigation>0)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Mass Tort/Class Action/Toxic Tort outside of ISMIE authority.','No explanation needed.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		--set @rule_id='validateOtherPlantiff_Lawyers'
		--if(@other>0)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Plaintiff Other.','Move to appropriate category if applicable.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		if(@attorneyCount>0)
		Begin
			set @rule_id='numberOfInjuryCasesIn12MonthNewApp_Lawyers'
			if(((@NumberOfInjuryCasesIn12Month/@litigationSum)*100)/@attorneyCount>100)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large number of Litigation cases per attorney.','No explanation needed.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		End
		set @rule_id='CasesSettledBeforeTrail_Lawyers'
		if(@PerOfCasesSettledBeforeTrail<80)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'If firm has a large caseload, lack of settlement is very time consuming.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
		set @rule_id='validateAuthorizationsForSettlementRenew_Lawyers'
		if(@IsSettlementAggrementsUsed='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Not using written authorizations.','How does the firm confirm a clients acceptance of the settlement?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
	
	
		set @rule_id='massTortOrClassActionNewApp_Lawyers'
		if(@massTortOrClassAction='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Lead counsel on mass tort.','Outside of ISMIE authority decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
	
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
			DECLARE @IsSettlementAggrementsUsedPrior CHAR,@massTortOrClassActionPrior CHAR
		select @IsSettlementAggrementsUsedPrior=IsSettlementAggrementsUsed,@massTortOrClassActionPrior=massTortOrClassAction from PlantiffSuppLW where Policykey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		set @rule_id='validatePlaintiffLargestCase_Lawyers'
		if(@largestCaseSizeAbobe3MCount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Largest plaintiff case size above 3M.','Large plaintiff case size – Provide the next 3 largest case sizes.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		if(@attorneyCount>0)
		BEGIN
			set @rule_id='numberOfInjuryCasesIn12MonthNewApp_Lawyers'
			if(((@NumberOfInjuryCasesIn12Month/@litigationSum)*100)/@attorneyCount>100)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large number of Litigation cases per attorney.','No explanation needed.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		END
		set @rule_id='CasesSettledBeforeTrail_Lawyers'
		if(@PerOfCasesSettledBeforeTrail<80)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'If firm has a large caseload, lack of settlement is very time consuming.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateAuthorizationsForSettlementRenew_Lawyers'
		if(@IsSettlementAggrementsUsedPrior='Y' and @IsSettlementAggrementsUsed='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Not using written authorizations.','How does the firm confirm a clients acceptance of the settlement?.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
		set @rule_id='massTortOrClassActionNewAppRenew_Lawyers'
		if(@massTortOrClassAction='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Lead counsel on mass tort','In the last five years, has the firm or any member of the firm managed the litigation?.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
	END
END




GO
