USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RectifyPolicyForm_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RectifyPolicyForm_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RectifyPolicyForm_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RectifyPolicyForm_Proc] AS' 
END
GO

--exec [dbo].[RectifyPolicyForm_Proc] 
ALTER PROCEDURE [dbo].[RectifyPolicyForm_Proc]
 AS BEGIN
	declare @PolicyKey int
	Declare c1 cursor for
	
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where f.IssuedDate>  '2018-01-22' and f.IssuedDate<'2018-07-12' and
	 p.PolicyEffectiveDate>'2018-04-09' 
	-- p.PolicyEffectiveDate between '2018-04-10' and '2018-07-11' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('AL','AR','AZ','DC','DE','ID','IN','KY','PA','MI','NJ')
	AND P.policykey NOT in(53401,55903,61283,61300,61306,61321,61322,61361,61363,61373,61391,61393,61395,61414,61418,61719,61760,61764,61766,61767,61771,
	61779,61780,61899,61914,61919,61924,61990,61991,62013,62014,62015,62022,62023,62024,62025,62026,62028,62050,62097,62099,62126,62127,62129,62130,62593,
	62601,62626,62678,62679,62817,62834,62842,62847,63010,63028,63294,63308,63316,63318,63321,63322,63323,63324,63325,63326,63327,63363,63389,63408,63409,
	63416,63448,63450,63516,63521,63584,63616,63617,63652,63660,63664,63817,63821,63823,63898,63907,63908,63912,63946,63961,63977,63986,63987,63988,63998,
	63999,64086,64091,64107,64138,64179,64201,64298,64301,64303,64367,64374,64387,64437,64543,64551,64598,64613,64677,64697,64718,64729,64754,
	64758,64760,64763,64778,64781,64802,64808,64810,64815,64816,64856,64867,64872,64876,64889,64898,64900,64901,64902,64903,64928,64955,64957,64958,64959,
	64960,64961,64962,64963,64964,64966,64967,64968,64969,64971,64972,64973,64974,65014,65047,65059,65061,65062,65065,65078,65090,65106,
	65108,65128,65138,65143,65145,65162,65170,65189,65190,65191,65197,65219,65224,65227,65255,65259,65322,65324,65329,65350,65365,65384,65412,65437,
	65459,65526,65536,65550,65558,65588,65625,65635,65656,65668,65760,65775,65815,65841,65847,65904,65938,65950,65959,65967,65990,65991,66022,66039,66086,
	66103,66126,66193,66254,66268,66278,66287,66294,66303,66308,66320,66343,66389,66420,66431,66448,66452,66479,66482,66503,66511,66536,66546,66557,66572,
	66575,66580,66612,66664,66667,66668,66690,66706,66733,66762,66772,66779,66800,66861,66911,66955,66960,66999,67011,67044,67046,67100,67106,67169,
	67174,67175,67178,67188,67195,67300,67311,67343,67349,67373,67379,67396,67416,67517,67519,67531,67545,67547,67551,67556,67650,67651,67652,67664,67677,
	67692,67754,67776,67781,67795,67841,67868,67880,67885,67889,67939,67941,67944,67959,67977,67991,68016,68017,68040,68049,68059,68081,68143,68154,68182,
	68191,68222,68321,68324,68368,68371,68392,68406,68409,68430,68464,68580,68607,68608,68655,68659,68667,68678,68685,68689,68706,68712,68714,68730,68734,
	68736,68776,68792,68802,68821,68889,68900,68936,68941,68949,68959,68967,69046,69061,69073,69075,70127,70138,70178,70196,70199,70205,70272,70277,70303,
	70330,70366,70435,70445,70511)
	union
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	
	where f.IssuedDate>  '2018-01-22' and f.IssuedDate<'2018-07-12' and
	 p.PolicyEffectiveDate>'2018-06-24' 
	--  p.PolicyEffectiveDate between '2018-06-25' and '2018-07-11' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('MO','MT','NE','ND','NV','RI','SD','TN','TX','UT')
	AND P.policykey NOT in(53401,55903,61283,61300,61306,61321,61322,61361,61363,61373,61391,61393,61395,61414,61418,61719,61760,61764,61766,61767,61771,
	61779,61780,61899,61914,61919,61924,61990,61991,62013,62014,62015,62022,62023,62024,62025,62026,62028,62050,62097,62099,62126,62127,62129,62130,62593,
	62601,62626,62678,62679,62817,62834,62842,62847,63010,63028,63294,63308,63316,63318,63321,63322,63323,63324,63325,63326,63327,63363,63389,63408,63409,
	63416,63448,63450,63516,63521,63584,63616,63617,63652,63660,63664,63817,63821,63823,63898,63907,63908,63912,63946,63961,63977,63986,63987,63988,63998,
	63999,64086,64091,64107,64138,64179,64201,64298,64301,64303,64367,64374,64387,64437,64543,64551,64598,64613,64677,64697,64718,64729,64754,
	64758,64760,64763,64778,64781,64802,64808,64810,64815,64816,64856,64867,64872,64876,64889,64898,64900,64901,64902,64903,64928,64955,64957,64958,64959,
	64960,64961,64962,64963,64964,64966,64967,64968,64969,64971,64972,64973,64974,65014,65047,65059,65061,65062,65065,65078,65090,65106,
	65108,65128,65138,65143,65145,65162,65170,65189,65190,65191,65197,65219,65224,65227,65255,65259,65322,65324,65329,65350,65365,65384,65412,65437,
	65459,65526,65536,65550,65558,65588,65625,65635,65656,65668,65760,65775,65815,65841,65847,65904,65938,65950,65959,65967,65990,65991,66022,66039,66086,
	66103,66126,66193,66254,66268,66278,66287,66294,66303,66308,66320,66343,66389,66420,66431,66448,66452,66479,66482,66503,66511,66536,66546,66557,66572,
	66575,66580,66612,66664,66667,66668,66690,66706,66733,66762,66772,66779,66800,66861,66911,66955,66960,66999,67011,67044,67046,67100,67106,67169,
	67174,67175,67178,67188,67195,67300,67311,67343,67349,67373,67379,67396,67416,67517,67519,67531,67545,67547,67551,67556,67650,67651,67652,67664,67677,
	67692,67754,67776,67781,67795,67841,67868,67880,67885,67889,67939,67941,67944,67959,67977,67991,68016,68017,68040,68049,68059,68081,68143,68154,68182,
	68191,68222,68321,68324,68368,68371,68392,68406,68409,68430,68464,68580,68607,68608,68655,68659,68667,68678,68685,68689,68706,68712,68714,68730,68734,
	68736,68776,68792,68802,68821,68889,68900,68936,68941,68949,68959,68967,69046,69061,69073,69075,70127,70138,70178,70196,70199,70205,70272,70277,70303,
	70330,70366,70435,70445,70511)
	union
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where f.IssuedDate>  '2018-01-22' and f.IssuedDate<'2018-07-12' and
	 p.PolicyEffectiveDate>'2018-07-22' 
	-- p.PolicyEffectiveDate between '2018-07-23' and '2018-07-11' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('NM')
	AND P.policykey NOT in(53401,55903,61283,61300,61306,61321,61322,61361,61363,61373,61391,61393,61395,61414,61418,61719,61760,61764,61766,61767,61771,
	61779,61780,61899,61914,61919,61924,61990,61991,62013,62014,62015,62022,62023,62024,62025,62026,62028,62050,62097,62099,62126,62127,62129,62130,62593,
	62601,62626,62678,62679,62817,62834,62842,62847,63010,63028,63294,63308,63316,63318,63321,63322,63323,63324,63325,63326,63327,63363,63389,63408,63409,
	63416,63448,63450,63516,63521,63584,63616,63617,63652,63660,63664,63817,63821,63823,63898,63907,63908,63912,63946,63961,63977,63986,63987,63988,63998,
	63999,64086,64091,64107,64138,64179,64201,64298,64301,64303,64367,64374,64387,64437,64543,64551,64598,64613,64677,64697,64718,64729,64754,
	64758,64760,64763,64778,64781,64802,64808,64810,64815,64816,64856,64867,64872,64876,64889,64898,64900,64901,64902,64903,64928,64955,64957,64958,64959,
	64960,64961,64962,64963,64964,64966,64967,64968,64969,64971,64972,64973,64974,65014,65047,65059,65061,65062,65065,65078,65090,65106,
	65108,65128,65138,65143,65145,65162,65170,65189,65190,65191,65197,65219,65224,65227,65255,65259,65322,65324,65329,65350,65365,65384,65412,65437,
	65459,65526,65536,65550,65558,65588,65625,65635,65656,65668,65760,65775,65815,65841,65847,65904,65938,65950,65959,65967,65990,65991,66022,66039,66086,
	66103,66126,66193,66254,66268,66278,66287,66294,66303,66308,66320,66343,66389,66420,66431,66448,66452,66479,66482,66503,66511,66536,66546,66557,66572,
	66575,66580,66612,66664,66667,66668,66690,66706,66733,66762,66772,66779,66800,66861,66911,66955,66960,66999,67011,67044,67046,67100,67106,67169,
	67174,67175,67178,67188,67195,67300,67311,67343,67349,67373,67379,67396,67416,67517,67519,67531,67545,67547,67551,67556,67650,67651,67652,67664,67677,
	67692,67754,67776,67781,67795,67841,67868,67880,67885,67889,67939,67941,67944,67959,67977,67991,68016,68017,68040,68049,68059,68081,68143,68154,68182,
	68191,68222,68321,68324,68368,68371,68392,68406,68409,68430,68464,68580,68607,68608,68655,68659,68667,68678,68685,68689,68706,68712,68714,68730,68734,
	68736,68776,68792,68802,68821,68889,68900,68936,68941,68949,68959,68967,69046,69061,69073,69075,70127,70138,70178,70196,70199,70205,70272,70277,70303,
	70330,70366,70435,70445,70511)
	union
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where f.IssuedDate>  '2018-01-22' and f.IssuedDate<'2018-07-12' and
	 --p.PolicyEffectiveDate between '2018-08-20' and '2018-07-11' 
	 p.PolicyEffectiveDate>'2018-08-19' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('CO','GA','IA','IL','MA','ME','NH','OH','OR','WA','WI','WV')
	AND P.policykey NOT in(53401,55903,61283,61300,61306,61321,61322,61361,61363,61373,61391,61393,61395,61414,61418,61719,61760,61764,61766,61767,61771,
	61779,61780,61899,61914,61919,61924,61990,61991,62013,62014,62015,62022,62023,62024,62025,62026,62028,62050,62097,62099,62126,62127,62129,62130,62593,
	62601,62626,62678,62679,62817,62834,62842,62847,63010,63028,63294,63308,63316,63318,63321,63322,63323,63324,63325,63326,63327,63363,63389,63408,63409,
	63416,63448,63450,63516,63521,63584,63616,63617,63652,63660,63664,63817,63821,63823,63898,63907,63908,63912,63946,63961,63977,63986,63987,63988,63998,
	63999,64086,64091,64107,64138,64179,64201,64298,64301,64303,64367,64374,64387,64437,64543,64551,64598,64613,64677,64697,64718,64729,64754,
	64758,64760,64763,64778,64781,64802,64808,64810,64815,64816,64856,64867,64872,64876,64889,64898,64900,64901,64902,64903,64928,64955,64957,64958,64959,
	64960,64961,64962,64963,64964,64966,64967,64968,64969,64971,64972,64973,64974,65014,65047,65059,65061,65062,65065,65078,65090,65106,
	65108,65128,65138,65143,65145,65162,65170,65189,65190,65191,65197,65219,65224,65227,65255,65259,65322,65324,65329,65350,65365,65384,65412,65437,
	65459,65526,65536,65550,65558,65588,65625,65635,65656,65668,65760,65775,65815,65841,65847,65904,65938,65950,65959,65967,65990,65991,66022,66039,66086,
	66103,66126,66193,66254,66268,66278,66287,66294,66303,66308,66320,66343,66389,66420,66431,66448,66452,66479,66482,66503,66511,66536,66546,66557,66572,
	66575,66580,66612,66664,66667,66668,66690,66706,66733,66762,66772,66779,66800,66861,66911,66955,66960,66999,67011,67044,67046,67100,67106,67169,
	67174,67175,67178,67188,67195,67300,67311,67343,67349,67373,67379,67396,67416,67517,67519,67531,67545,67547,67551,67556,67650,67651,67652,67664,67677,
	67692,67754,67776,67781,67795,67841,67868,67880,67885,67889,67939,67941,67944,67959,67977,67991,68016,68017,68040,68049,68059,68081,68143,68154,68182,
	68191,68222,68321,68324,68368,68371,68392,68406,68409,68430,68464,68580,68607,68608,68655,68659,68667,68678,68685,68689,68706,68712,68714,68730,68734,
	68736,68776,68792,68802,68821,68889,68900,68936,68941,68949,68959,68967,69046,69061,69073,69075,70127,70138,70178,70196,70199,70205,70272,70277,70303,
	70330,70366,70435,70445,70511)
	 	   
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey
	WHILE @@FETCH_STATUS = 0
		begin
			update DocumentArchiveLW set DocTitle = 'Incorrect_' + DocTitle  where DocumentID in (
			--delete from DocumentArchiveLW where DocumentID in (
			select DocumentID from DocumentArchiveLW where PolicyKey = @PolicyKey and DocType='PF' and UploadedType='Auto'
			and LastUpdateTimeStamp in 
			(select max(LastUpdateTimeStamp) from DocumentArchiveLW where PolicyKey = @PolicyKey and DocType='PF'))

			FETCH NEXT FROM c1 into @PolicyKey					
		end
		CLOSE c1
		DEALLOCATE c1

END


GO
