USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertIndicationAOPToSmartSearchAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertIndicationAOPToSmartSearchAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertIndicationAOPToSmartSearchAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertIndicationAOPToSmartSearchAcc_p] AS' 
END
GO
--exec  InsertIndicationAOPToSmartSearchAcc_p 79056	
ALTER PROCEDURE [dbo].[InsertIndicationAOPToSmartSearchAcc_p]
(
@PolicyKey INT,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50)
)


AS
BEGIN
CREATE table #Temp
(
AOPKey INT primary Key,
PolicyKey INT,
Percentage INT,
IsEdit CHAR,
DisplaySequence int
)

   INSERT INTO #Temp (AOPKey,PolicyKey,Percentage,IsEdit) select AOPKey,@PolicyKey ,NULL,'N' from AOP where AOPKey in (3,1,4,6,8)  

	INSERT INTO #Temp (AOPKey,PolicyKey,Percentage,IsEdit) select AOPKey,PolicyKey,PercentageValue,'Y' from AreaOfPractice where Policykey=@PolicyKey and PercentageValue>0	and AOPKey not in (3,1,4,6,8)  
	UPDATE #Temp set Percentage=(select percentagevalue from AreaOfPractice where Policykey=@PolicyKey and AOPKey=3) where AOPKey=3
	UPDATE #Temp set Percentage=(select percentagevalue from AreaOfPractice where Policykey=@PolicyKey and AOPKey=1) where AOPKey=1
	UPDATE #Temp set Percentage=(select percentagevalue from AreaOfPractice where Policykey=@PolicyKey and AOPKey=4) where AOPKey=4
	UPDATE #Temp set Percentage=(select percentagevalue from AreaOfPractice where Policykey=@PolicyKey and AOPKey=6) where AOPKey=6
	UPDATE #Temp set Percentage=(select percentagevalue from AreaOfPractice where Policykey=@PolicyKey and AOPKey=8) where AOPKey=8
	select * from #Temp
	--update #Temp set DisplaySequence=(select DisplaySequence from aop where AOPkey=)
	INSERT INTO SmartSearchValueACC(AOPKey,Percentage,IsEdit,PolicyKey,LastUpdateUserID,LastUpdateTimeStamp) SELECT AOPKey,Percentage,IsEdit,PolicyKey,@LastUpdateUserID,@LastUpdateTimeStamp FROM #Temp

END


GO
