USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_LawPractice_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_LawPractice_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_LawPractice_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_LawPractice_ACC] AS' 
END
GO
--exec UWRules_LawPractice_ACC 135341, 136499, 136498, 135519, 113553, 2, 3
ALTER PROCEDURE [dbo].[UWRules_LawPractice_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
	
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT=0,@previousVersionSequence INT=0
	Declare @investmentPlanning INT,@computerServices INT,@BusinessManagement INT,@audit INT,@AnnualRevenue NUMERIC(15,0),@investmentPlanningOld INT,@computerServicesOld INT, @BusinessManagementOld INT,@auditOld INT,@OtherConsulting INT,@forecastProjections INT,
	@ManagementConsulting INT,@BusinessValuation INT,@mergersAcquisitions INT,@SECWorkOtherAudit INT,@investmentFinancial INT,@erisaPensionPlans INT,@trusteeServices INT,@otherAOP INT

	
		
	SET @investmentPlanning  = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=19)
	if(@investmentPlanning is null)
		set @investmentPlanning=0
	
	SET @computerServices = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=14)
	if(@computerServices is null)
		set @computerServices=0
	
	SET @BusinessManagement =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=18)
	if(@BusinessManagement is null)
		set @BusinessManagement=0
	SET @audit =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=5)
	if(@audit is null)
		set @audit=0

	SET @OtherConsulting =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=12)
	if(@OtherConsulting is null)
		set @OtherConsulting=0

	SET @ManagementConsulting =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=13)
	if(@ManagementConsulting is null)
		set @ManagementConsulting=0

	SET @BusinessValuation =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=15)
	if(@BusinessValuation is null)
		set @BusinessValuation=0

	SET @forecastProjections =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=16)
	if(@forecastProjections is null)
		set @forecastProjections=0

	SET @mergersAcquisitions =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=17)
	if(@mergersAcquisitions is null)
		set @mergersAcquisitions=0

	SET @SECWorkOtherAudit =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=21)
	if(@SECWorkOtherAudit is null)
		set @SECWorkOtherAudit=0

	SET @investmentFinancial =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=19)
	if(@investmentFinancial is null)
		set @investmentFinancial=0

	SET @erisaPensionPlans =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=23)
	if(@erisaPensionPlans is null)
		set @erisaPensionPlans=0

	SET @trusteeServices =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=24)
	if(@trusteeServices is null)
		set @trusteeServices=0

	SET @otherAOP =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=20)
	if(@otherAOP is null)
		set @otherAOP=0
	
	SET @AnnualRevenue=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where Policykey=@PolicyKey))
	 
	
	
	
IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB Flow'
		set @rule_id='auditPubliclyheld_Accountant'
		if(@audit>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Public Audit AOP - this risk is ouside our program authority - decline.','Public Audit is outside of the program authority - decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='otherConsulting_Accountant'
		if(@OtherConsulting>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Other consulting AOP, description needs to be reviewed.','Other Consulting AOP - Get a full description of the consulting that the accountant is providing as well as to what type of clients.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='managementConsultingBusinessPlanning_Accountant'
		if(@ManagementConsulting>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'AOP - Management consulting and business planning practice.','Management Consulting / Business Planning AOP - Get a description of what clients they are providing management consulting to and details on the consulting engagment.  Is it ongoing.  Business planning - determine 1. for how many clients, 2. is it ongoing, 3. Is it for mergers and acqisitions. 4. Is valuation part of the engagement.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='businessValuation_Accountant'
		if(@BusinessValuation>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Business valuation AOP. If greater than 25% of total revenue, valuations must  be on businesses less than 20 Million in value.','Business Valuation: Need names and services provided - If publically held corporation - If greater than 25% valuations must  be on businesses less than 20 Million in value.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='forecastsProjections_Accountant'
		if(@forecastProjections>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Forecasts / Projections AOP more than 0%.','Forecasts / Projections AOP - For who and name and type of company, does it have to do with the sale of a company?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='mergersAcquisitions_Accountant'
		if(@mergersAcquisitions>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Mergers and Acquisitions-More than 0% in Mergers and Acquisitions.','Mergers and Acquisitions AOP - For who, when, how many?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='businessManagement_Accountant'
		if(@BusinessManagement>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Business Management AOP more than 0%.','Business Mgt AOP questions: 1.Is it a permanent or temporary position and if so for how long has it been in place and how long will it continure.  2. Are they an employee or consultant.  3. Do they have any ownership and if so how much?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='SECWorkOtherAudit_Accountant'
		if(@SECWorkOtherAudit>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'SEC Work - AOP is outside our underwriting authority - decline.','SEC Work - AOP is outside our underwriting authority - decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='investmentFinancial_Accountant'
		if(@investmentFinancial>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Investment / Financial Planning AOP greater than 0%.','Investment / Financial Planning AOP.  Obtain the detials on what services are they providing and to who.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='erisaPensionPlans_Accountant'
		if(@erisaPensionPlans>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Erisa/Pension plans  AOP greater than 0%.','Erisa/Pension plans  AOP - Who for, and services provided, is it a public company.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='trusteeServices_Accountant'
		if(@trusteeServices>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Trustee AOP greater than 0%.','Trustee AOP questions: 1. What services are provided? 2. Are they activley managing the trust?  3. How many and the value of each. Is applicant  a beneficiary of a personal trust valued in excess of $500,000?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='otherAOP_Accountant'
		if(@otherAOP>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Other AOP above 0% - review description.','Other AOP: Review description and if it belongs in another category contact insured and talk to them about where it belongs. Anything in Other AOP has to be reviewed by UW.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
END

IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
		DECLARE @OtherConsultingPrior INT,@ManagementConsultingPrior INT,@BusinessValuationPrior INT,@forecastProjectionsPrior INT,@mergersAcquisitionsPrior INT,@SECWorkOtherAuditPrior INT,@investmentFinancialPrior INT,@erisaPensionPlansPrior INT,@trusteeServicesPrior INT,@otherAOPPrior INT
		select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		
		SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=19)
		if(@investmentPlanningOld is null)
		set @investmentPlanningOld=0
		SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=14)
		if(@computerServicesOld is null)
		set @computerServicesOld=0
		SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=18)
		if(@BusinessManagementOld is null)
		set @BusinessManagementOld=0
		SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=5)
		if(@auditOld is null)
		set @auditOld=0
		
		SET @OtherConsultingPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=12)
		if(@OtherConsultingPrior is null)
		set @OtherConsultingPrior=0

		SET @ManagementConsultingPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=13)
		if(@ManagementConsultingPrior is null)
			set @ManagementConsultingPrior=0


		SET @BusinessValuationPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=15)
		if(@BusinessValuationPrior is null)
			set @BusinessValuationPrior=0

		SET @forecastProjectionsPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=16)
		if(@forecastProjectionsPrior is null)
			set @forecastProjectionsPrior=0

		SET @mergersAcquisitionsPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=17)
		if(@mergersAcquisitionsPrior is null)
			set @mergersAcquisitionsPrior=0

		--SET @SECWorkOtherAuditPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=21)
		--if(@SECWorkOtherAuditPrior is null)
		--	set @SECWorkOtherAuditPrior=0

		--SET @investmentFinancialPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=19)
		--if(@investmentFinancialPrior is null)
		--	set @investmentFinancialPrior=0

		SET @erisaPensionPlansPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=23)
		if(@erisaPensionPlansPrior is null)
			set @erisaPensionPlansPrior=0
			
		SET @trusteeServicesPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=24)
		if(@trusteeServicesPrior is null)
			set @trusteeServicesPrior=0

		--SET @otherAOPPrior =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@previousPolicyKey  and aop.VersionSequence=@previousVersionSequence and aop.AOPKey=20)
		--if(@otherAOP is null)
		--	set @otherAOP=0

		set @rule_id='auditPubliclyheldRenew_Accountant'
		if(@audit>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Public Audit AOP - this risk is ouside our program authority - decline.','Public Audit is outside of the program authority - decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id='otherConsultingRenew_Accountant'
		if((@OtherConsulting-@OtherConsultingPrior)>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Other consulting AOP, description needs to be reviewed.','Other Consulting AOP - Get a full description of the consulting that the accountant is providing as well as to what type of clients.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='managementConsultingBusinessPlanningRenew_Accountant'
		if((@ManagementConsulting-@ManagementConsultingPrior)>10 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'AOP - Management consulting and business planning practice.','Management Consulting / Business Planning AOP - Get a description of what clients they are providing management consulting to and details on the consulting engagment.  Is it ongoing.  Business planning - determine 1. for how many clients, 2. is it ongoing, 3. Is it for mergers and acqisitions. 4. Is valuation part of the engagement.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id='businessValuationRenew_Accountant'
		if((@BusinessValuation-@BusinessValuationPrior)>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Business valuation AOP. If greater than 25% of total revenue, valuations must  be on businesses less than 20 Million in value.','Business Valuation: Need names and services provided - If publically held corporation - If greater than 25% valuations must  be on businesses less than 20 Million in value.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='forecastsProjectionsRenew_Accountant'
		if((@forecastProjectionsPrior=0 and @forecastProjections>0) or (@forecastProjectionsPrior>0 and (@forecastProjections-@forecastProjectionsPrior)>5) )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Forecasts / Projections AOP more than 0%.','Forecasts / Projections AOP - For who and name and type of company, does it have to do with the sale of a company?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='mergersAcquisitionsRenew_Accountant'
		if((@mergersAcquisitionsPrior=0 and @mergersAcquisitions>0) or (@mergersAcquisitionsPrior>0 and (@mergersAcquisitions-@mergersAcquisitionsPrior)>10) )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Mergers and Acquisitions-More than 0% in Mergers and Acquisitions.','Mergers and Acquisitions AOP - For who, when, how many?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='businessManagementRenew_Accountant'
		if(( @BusinessManagementOld=0 and @BusinessManagement>0) or (@BusinessManagementOld>0 and (@BusinessManagement-@BusinessManagementOld)>10) )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Business Management AOP more than 0%.','Business Mgt AOP questions: 1.Is it a permanent or temporary position and if so for how long has it been in place and how long will it continure.  2. Are they an employee or consultant.  3. Do they have any ownership and if so how much?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='SECWorkOtherAuditRenew_Accountant'
		if(@SECWorkOtherAudit>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'SEC Work - AOP is outside our underwriting authority - decline.','SEC Work - AOP is outside our underwriting authority - decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='investmentFinancialRenew_Accountant'
		if(@investmentFinancial>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Investment / Financial Planning AOP greater than 0%.','Investment / Financial Planning AOP.  Obtain the detials on what services are they providing and to who.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='erisaPensionPlansRenew_Accountant'
		if((@erisaPensionPlansPrior=0 and @erisaPensionPlans>0) or (@erisaPensionPlansPrior>0 and (@erisaPensionPlans-@erisaPensionPlansPrior)>10))
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Erisa/Pension plans  AOP greater than 0%.','Erisa/Pension plans  AOP - Who for, and services provided, is it a public company.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='trusteeServicesRenew_Accountant'
		if((@trusteeServicesPrior=0 and  @trusteeServices>0) or (@trusteeServicesPrior>0 and (@trusteeServices-@trusteeServicesPrior)>10) )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Trustee AOP greater than 0%.','Trustee AOP questions: 1. What services are provided? 2. Are they activley managing the trust?  3. How many and the value of each. Is applicant  a beneficiary of a personal trust valued in excess of $500,000?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='otherAOPRenew_Accountant'
		if(@otherAOP>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Other AOP above 0% - review description.','Other AOP: Review description and if it belongs in another category contact insured and talk to them about where it belongs. Anything in Other AOP has to be reviewed by UW.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END




GO
