USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDataForRenewalIcon_acc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDataForRenewalIcon_acc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDataForRenewalIcon_acc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDataForRenewalIcon_acc] AS' 
END
GO


--exec GetDataForRenewalIcon_acc 
ALTER PROCEDURE [dbo].[GetDataForRenewalIcon_acc]

AS
SET NOCOUNT ON
begin

	

	

	

   CREATE TABLE #TEMP_REPORT      
	 (      
	   
		PolicyKey int,
		Accountid int

	 )      
       
      
 CREATE TABLE #TEMP_REPORT_ALL      
	 (      
	   PolicyKey int,
	   Accountid int
	 )   

	 CREATE TABLE #TEMP_REPORT_ALL1      
	 (      
	   PolicyKey int,
	   Accountid int
	 )   
	 CREATE TABLE #TEMP_REPORT_ALL2     
	 (      
	   PolicyKey int,
	   Accountid int
	 )   
	 
	

	INSERT INTO #TEMP_REPORT(PolicyKey,Accountid)
	select PolicyKey,accountid from policy where isUncompletedData='N'



	INSERT INTO #TEMP_REPORT_ALL(PolicyKey,Accountid)
	select (p.PolicyKey),p.AccountID from policy p INNER JOIN #TEMP_REPORT t ON p.AccountID = t.Accountid 
	
	insert into #TEMP_REPORT_ALL1(PolicyKey,Accountid)
	SELECT distinct t.policykey,t.Accountid FROM #TEMP_REPORT_ALL t JOIN (SELECT MAX(t1.PolicyKey) AS policykey FROM #TEMP_REPORT_ALL t1 GROUP BY t1.Accountid) max ON t.PolicyKey = max.policykey 

	insert into #TEMP_REPORT_ALL2(PolicyKey,Accountid) 
	select t1.PolicyKey,t1.Accountid from #TEMP_REPORT_ALL1 t1 inner join firm fl on fl.PolicyKey=t1.PolicyKey 
	and fl.IsRenewed='Y'
	

	select distinct(t2.PolicyKey) from #TEMP_REPORT_ALL2 t2
	inner join PolicyTransaction pt on pt.PolicyKey=t2.PolicyKey and pt.StatusKey=6 and pt.PolicyExpirationDate>='2017-03-31 00:00:00.000'
	


drop table #TEMP_REPORT
drop table #TEMP_REPORT_ALL 
drop table #TEMP_REPORT_ALL1 

END



GO
