USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateBrokerageReportLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CreateBrokerageReportLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateBrokerageReportLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CreateBrokerageReportLW_p] AS' 
END
GO
--select issueddate from firmlw where Policykey=98821
--select * from PolicyTransaction where Policykey=98821
--exec CreateBrokerageReportLW_p 'effectivedate','2020-01-01','2021-12-30'
ALTER PROCEDURE [dbo].[CreateBrokerageReportLW_p]
@SearchType VARCHAR(100),
@FromDate DATETIME,
@ToDate DATETIME

AS
BEGIN
	
	CREATE TABLE #TEMP
	(
		BrokeragePolicyKey INT,
		AccountID INT,
		PolicyNumber VARCHAR(500),
		AccountName VARCHAR(500),
		Address1  VARCHAR(500),
		Address2  VARCHAR(500),
		City  VARCHAR(100),
		StateDesc VARCHAR(100),
		Zip  VARCHAR(100),
		PolicyEffectiveDate DATETIME,
		PolicyExpirationDate DATETIME,
		TotalPremium Numeric(17,2),
		Commission Numeric(17,2),
		TotalPolicyTaxAmount Numeric(17,2),
		Fees Numeric(17,2),
		InvoicedPremium Numeric(17,2),
		IssuedDate DATETIME,
		PaymentMode VARCHAR(100),
		ProducerCode VARCHAR(500),
		FirstReviewer VARCHAR(500),
		TransactionType VARCHAR(200),
		LOB VARCHAR(100),
		Carrier VARCHAR(500),
		Broker VARCHAR(500)
	)

		--:LOB	:Carrier	:Broker

	-- convert(varchar,  p.PolicyEffectiveDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, p.PolicyEffectiveDate, 23)<=convert(varchar, @ToDate, 23)
	--exec UpdateVersionSequenceLW_p @SearchType,@FromDate,@ToDate
	DECLARE @SQLSTMT varchar(2000)='Select BrokeragePolicyKey,AccountID,PolicyNumber,AccountName,Address1,Address2,City,StateDesc,Zip,CONVERT(VARCHAR(10), CAST(PolicyEffectiveDate AS DATETIME), 101) as PolicyEffectiveDate,
	CONVERT(VARCHAR(10), CAST(PolicyExpirationDate AS DATETIME), 101) as PolicyExpirationDate,TotalPremium,case when Commission is null then 0 else Commission end as Commission,TotalPolicyTaxAmount,case when Fees is null then 0 else Fees end as Fees,InvoicedPremium,CONVERT(VARCHAR(10), CAST(IssuedDate AS DATETIME), 101) as IssuedDate,PaymentMode,ProducerCode,FirstReviewer, TransactionType as PolicyStatus
	,LOB,Carrier,Broker from #TEMP'

	IF(@SearchType='effectivedate')
	BEGIN

	INSERT INTO #TEMP(BrokeragePolicyKey,AccountID,PolicyNumber,AccountName,Address1,Address2,City,StateDesc,Zip,PolicyEffectiveDate,
	PolicyExpirationDate,TotalPremium,Commission,TotalPolicyTaxAmount,Fees,InvoicedPremium,IssuedDate,PaymentMode,ProducerCode,FirstReviewer,TransactionType,LOB,Carrier,Broker)
	 
	Select BrokeragePolicyKey,AccountID,BrokeredPolicyNumber,AccountName,Address,Address2,City,st.StateDesc,Zip,bkl.BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,bkl.Premium,bkl.Commission,bkl.PremiumTax,bkl.Fees,bkl.TotalCalculatedPremium,
	bkl.IssuedDate,bp.BPayementTypeDesc,ProducerCode,ud.AgentName,tt.TransactionTypeDesc,lb.LOBDesc_Brokerage,cl.CarrierDesc,blk.BrokerDesc
	
	 from BrokerageLW bkl 
	 left join State st on st.StateCode=bkl.State
	 left join BrokeragePaymentTypeLKU bp on bp.BPaymentTypeKey=bkl.BrokeragePaymentTypeKey
	 left join UserDetails ud on ud.UserNo=bkl.FirstReviewUserID
	 left join TransactionType tt on tt.TransactionTypeKey=bkl.TransactionTypeKey
	 left join Broker_lku blk on blk.BrokerKey=bkl.BrokerKey
	 left join Carrier_lku cl on cl.CarrierKey=bkl.CarrierKey
	 left join LOB lb on lb.LOBKey=bkl.LOBKey
	 
	 where 
	
	convert(varchar,  bkl.BrokerPolicyEffectiveDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, bkl.BrokerPolicyEffectiveDate, 23)<=convert(varchar, @ToDate, 23)
	and BrokeredPolicyNumber is not null and bkl.isArchived!='True'
		
		set @SQLSTMT=@SQLSTMT+' order by PolicyEffectiveDate asc'
		
	END
	
	IF(@SearchType='issuedate')
	BEGIN


	
	INSERT INTO #TEMP(BrokeragePolicyKey,AccountID,PolicyNumber,AccountName,Address1,Address2,City,StateDesc,Zip,PolicyEffectiveDate,
	PolicyExpirationDate,TotalPremium,Commission,TotalPolicyTaxAmount,Fees,InvoicedPremium,IssuedDate,PaymentMode,ProducerCode,FirstReviewer,TransactionType,LOB,Carrier,Broker)
	 
	Select BrokeragePolicyKey,AccountID,BrokeredPolicyNumber,AccountName,Address,Address2,City,st.StateDesc,Zip,bkl.BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,bkl.Premium,bkl.Commission,bkl.PremiumTax,bkl.Fees,bkl.TotalCalculatedPremium,
	bkl.IssuedDate,bp.BPayementTypeDesc,ProducerCode,ud.AgentName,tt.TransactionTypeDesc,lb.LOBDesc_Brokerage,cl.CarrierDesc,blk.BrokerDesc
	
	 from BrokerageLW bkl 
	 left join State st on st.StateCode=bkl.State
	 left join BrokeragePaymentTypeLKU bp on bp.BPaymentTypeKey=bkl.BrokeragePaymentTypeKey
	 left join UserDetails ud on ud.UserNo=bkl.FirstReviewUserID
	 left join TransactionType tt on tt.TransactionTypeKey=bkl.TransactionTypeKey
	 left join Broker_lku blk on blk.BrokerKey=bkl.BrokerKey
	 left join Carrier_lku cl on cl.CarrierKey=bkl.CarrierKey
	 left join LOB lb on lb.LOBKey=bkl.LOBKey
	 where 
	
	convert(varchar,  bkl.issueddate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, bkl.issueddate, 23)<=convert(varchar, @ToDate, 23)
	and BrokeredPolicyNumber is not null	and bkl.isArchived!='True'
		
	set @SQLSTMT=@SQLSTMT+' order by IssuedDate ASC'
	

	END

	 --order by PolicyKey
	EXECUTE(@SQLSTMT)
	DROP TABLE #TEMP





END



GO
