USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_statemonth_new]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[weeklyreport_statemonth_new]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_statemonth_new]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[weeklyreport_statemonth_new] AS' 
END
GO
ALTER PROCEDURE [dbo].[weeklyreport_statemonth_new]
	 @page_size int = null,      
	 @page_number int =null,      
	 @flag_for_pagination varchar(3)=null,      
	 @report_id varchar(200)=null,  
	 @WeekFromDate varchar(10) , 
	 @WeekToDate varchar(10),
	 @FirstReviewUserID varchar(100),
	 @WeekMarketableProductKey varchar(50),  
	 @ProjectType varchar(5),
	 @SumTotal int out,
	 @UnderReviewTotal int out,
	 @DeclinedTotal int out,
	 @QuotedNewTotal int out,
	 @IssuedTotal int out,
	 @HitRatioSum varchar(30) out,
	 @PendingTotal int out,
	 @RejectedTotal int out,
	 @Totalofsumpremium varchar(30) out,
	 @output_type varchar(100)=null	

 AS BEGIN


SET NOCOUNT ON

Declare @report_output varchar(max)       
DECLARE @total_page int      
DECLARE @modulo int      
DECLARE @count int=0    
declare @allpolicy int
declare @underreview int
declare @declined int
declare @issued int
declare @rejected int
declare @issuedwithpremium int
declare @totalpremiumfromissued bigint
declare @accepted int
declare @quoted int
declare @newqq int
declare @newfq int
declare @StateCode varchar(20)
declare @StateName varchar(60)
declare @underreviewnew int
declare @pending int
declare @quotednew int
declare @hitratio varchar(30)
declare @totalPremium varchar(25)
declare @sumtotalofpremium bigint
declare @totalapps int

declare @MinCreatedMonth int
declare @MinCreatedYear int
declare @From_Date datetime 
declare	@To_Date datetime



CREATE TABLE #TEMP_REPORT      
 (      
    ID INT IDENTITY(1,1),
	[StateName] varchar(60),
    [AllPolicy] varchar(30)	,
    [UnderReview] varchar(30) ,
    [Declined] varchar(30) ,
    [Issued] varchar(30) ,
    [Rejected] varchar(30) ,
    [IssuedWithPremium] varchar(30) ,
    [TotalPremiumFromIssued] varchar(30),
    [Accepted] varchar(30) ,
    [Quoted] varchar(30) ,
    [NewQQ] varchar(30) ,
    [NewFQ] varchar(30) ,
    [TotalApps] varchar(30),
	[UnderReviewNew] varchar(30),
    [Pending] varchar(30),
    [QuotedNew] varchar(30),
    [HitRatio] varchar(30),
    [PremiumFromIssued] varchar(30),
 )      
       
      
 CREATE TABLE #TEMP_REPORT_ALL      
 (      
    ID INT IDENTITY(1,1),
	[StateName] varchar(60),
	[AllPolicy] varchar(30)	,
    [UnderReview] varchar(30) ,
    [Declined] varchar(30) ,
    [Issued] varchar(30) ,
    [Rejected] varchar(30) ,
    [IssuedWithPremium] varchar(30) ,
    [TotalPremiumFromIssued] varchar(30),
    [Accepted] varchar(30) ,
    [Quoted] varchar(30) ,
    [NewQQ] varchar(30) ,
    [NewFQ] varchar(30) ,
    [TotalApps] varchar(30),
	[UnderReviewNew] varchar(30),
    [Pending] varchar(30),
    [QuotedNew] varchar(30),
    [HitRatio] varchar(30),
    [PremiumFromIssued] varchar(30), 
 )   

CREATE TABLE #TempPolicyList (
	[StateName] varchar(60),
	[AllPolicy] [int]	,
    [UnderReview] [int] ,
    [Declined] [int] ,
    [Issued] [int] ,
    [Rejected] [int] ,
    [IssuedWithPremium] [int] ,
    [TotalPremiumFromIssued] varchar(25),
    [Accepted] [int] ,
    [Quoted] [int] ,
    [NewQQ] [int] ,
    [NewFQ] [int] ,
    [TotalApps] [int],
    [UnderReviewNew] [int],
    [Pending] [int],
    [QuotedNew] [int],
    [HitRatio] varchar(30),
    [PremiumFromIssued] [bigint],
		 
) 

set @SumTotal=0
set @UnderReviewTotal=0
set @DeclinedTotal=0
set @QuotedNewTotal =0
set @IssuedTotal =0
set @PendingTotal =0
set @RejectedTotal =0
set @sumtotalofpremium=0

if(@ProjectType = 'Lwy')
	set @WeekMarketableProductKey = 2

if(@ProjectType = 'Acc')
	Begin
		if(@FirstReviewUserID <> '')
		begin
		
			declare c1 cursor for
			select adds.StateCode from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID group by adds.StateCode order by adds.StateCode
				  
			open c1
				fetch next from c1 into @StateCode
					while @@FETCH_STATUS = 0
						begin
							select @MinCreatedYear =  DATEPART (YEAR,@WeekFromDate)
							select @MinCreatedMonth =  DATEPART (MONTH,@WeekFromDate)
										
							select @allpolicy =  count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
							select @underreview = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (2) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @declined = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (4) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @issued = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @rejected = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (5) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
							select @issuedwithpremium =  count(*),@totalpremiumfromissued = isnull(sum(pt.TotalPremium),0)from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
										
							set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
						
							select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
							select @Totalofsumpremium=dbo.getAmountFormat(@Totalofsumpremium);
										
							select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
							select @totalPremium=dbo.getAmountFormat(@totalPremium);
										
							select @accepted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (7) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @quoted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (3) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
							select @newqq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsQuickQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @newfq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsFullQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							
							select @underreviewnew =(@underreview+@newfq)
							select @pending=(@accepted+@quoted)
							select @quotednew=(@pending+@issued+@rejected)	
							select @totalapps =(@underreviewnew+@declined+@quotednew)
																				
							set @SumTotal = @SumTotal + @totalapps						
							set @UnderReviewTotal=@underreviewnew+@UnderReviewTotal				
							set @DeclinedTotal=@declined+@DeclinedTotal					
							set @QuotedNewTotal =@QuotedNewTotal+@quotednew						
							set @IssuedTotal = @issued+@IssuedTotal					
							set @PendingTotal =@pending+@PendingTotal
							set @RejectedTotal =@rejected+@RejectedTotal							
										
							if(@quotednew!=0)
							BEGIN 
								select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'
											
							END
							ELSE
								select @hitratio='0%';
										
								if(@QuotedNewTotal!=0)
								BEGIN
									select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'
								END
								ELSE
									select @HitRatioSum = '0%';
										
						select @StateName = StateDesc from State where StateCode = @StateCode									
						insert into #TempPolicyList(StateName,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,PremiumFromIssued) values(@StateName,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@totalpremiumfromissued)
						
						fetch next from c1 into @StateCode
					end
					
			close c1
			deallocate c1
						
		end

	End
	
if(@ProjectType = 'Lwy')
	Begin
		if(@FirstReviewUserID <> '')
		begin
		
			declare c1 cursor for
			select adds.StateCode from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID group by adds.StateCode order by adds.StateCode
				  
			open c1
				fetch next from c1 into @StateCode
					while @@FETCH_STATUS = 0
						begin
							select @MinCreatedYear =  DATEPART (YEAR,@WeekFromDate)
							select @MinCreatedMonth =  DATEPART (MONTH,@WeekFromDate)
										
							select @allpolicy =  count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
							select @underreview = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (2) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @declined = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (4) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @issued = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @rejected = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (5) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
							select @issuedwithpremium =  count(*),@totalpremiumfromissued = isnull(sum(pt.TotalPremium),0)from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
										
							set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
						
							select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
							select @Totalofsumpremium=dbo.getAmountFormat(@Totalofsumpremium);
										
							select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
							select @totalPremium=dbo.getAmountFormat(@totalPremium);
										
							select @accepted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (7) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @quoted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (3) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear
							select @newqq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsQuickQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							select @newfq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsFullQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
							
							select @underreviewnew =(@underreview+@newfq)
							select @pending=(@accepted+@quoted)
							select @quotednew=(@pending+@issued+@rejected)	
							select @totalapps =(@underreviewnew+@declined+@quotednew)
																				
							set @SumTotal = @SumTotal + @totalapps						
							set @UnderReviewTotal=@underreviewnew+@UnderReviewTotal				
							set @DeclinedTotal=@declined+@DeclinedTotal					
							set @QuotedNewTotal =@QuotedNewTotal+@quotednew						
							set @IssuedTotal = @issued+@IssuedTotal					
							set @PendingTotal =@pending+@PendingTotal
							set @RejectedTotal =@rejected+@RejectedTotal							
										
							if(@quotednew!=0)
							BEGIN 
								select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'
											
							END
							ELSE
								select @hitratio='0%';
										
								if(@QuotedNewTotal!=0)
								BEGIN
									select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'
								END
								ELSE
									select @HitRatioSum = '0%';
										
						select @StateName = StateDesc from State where StateCode = @StateCode									
						insert into #TempPolicyList(StateName,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,PremiumFromIssued) values(@StateName,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@totalpremiumfromissued)
						
						fetch next from c1 into @StateCode
					end
					
			close c1
			deallocate c1
						
		end

	End
	


if(@FirstReviewUserID = '' or @FirstReviewUserID is null)
	begin	 
		declare c2 cursor for
		select adds.StateCode from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.MarketableProductKey = @WeekMarketableProductKey group by adds.StateCode order by adds.StateCode
	  
		open c2
		fetch next from c2 into @StateCode
			while @@FETCH_STATUS = 0
				begin
					select @MinCreatedYear =  DATEPART (YEAR,@WeekFromDate)
					select @MinCreatedMonth =  DATEPART (MONTH,@WeekFromDate)
					  							
					select @allpolicy =  count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @underreview = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (2) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @declined = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (4) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @issued = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @rejected = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (5) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @issuedwithpremium =  count(*), @totalpremiumfromissued = isnull(sum(pt.TotalPremium),0) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					
					set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
			   
					select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
					select @Totalofsumpremium=dbo.getAmountFormat(@Totalofsumpremium);
					
					select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
					select @totalPremium=dbo.getAmountFormat(@totalPremium);	
				
					select @accepted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (7) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @quoted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (3) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @newqq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsQuickQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					select @newfq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsFullQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear 
					
					select @underreviewnew =(@underreview+@newfq)
					select @pending=(@accepted+@quoted)
					select @quotednew=(@pending+@issued+@rejected)	
					
					select @totalapps =(@underreviewnew+@declined+@quotednew)
															
					set @SumTotal = @SumTotal + @totalapps						
					set @UnderReviewTotal=@underreviewnew+@UnderReviewTotal				
					set @DeclinedTotal=@declined+@DeclinedTotal					
					set @QuotedNewTotal =@QuotedNewTotal+@quotednew						
					set @IssuedTotal = @issued+@IssuedTotal					
					set @PendingTotal =@pending+@PendingTotal
					set @RejectedTotal =@rejected+@RejectedTotal
						
					if(@quotednew!=0)
					BEGIN 						
						select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'
					END
					ELSE
						select @hitratio='0%';
				
					
					if(@QuotedNewTotal!=0)
					BEGIN
						select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'
					END
					ELSE
						select @HitRatioSum = '0%';
					
					select @StateName = StateDesc from State where StateCode = @StateCode
					insert into #TempPolicyList(StateName,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,PremiumFromIssued) values(@StateName,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@totalpremiumfromissued)
					
					fetch next from c2 into @StateCode
				end
				
			close c2
			deallocate c2
				
		end
	insert into #TEMP_REPORT_ALL      
	 (
		[StateName],
		[AllPolicy] 	,
		[UnderReview]  ,
		[Declined] ,
		[Issued] ,
		[Rejected]  ,
		[IssuedWithPremium]  ,
		[TotalPremiumFromIssued] ,
		[Accepted]  ,
		[Quoted]  ,
		[NewQQ]  ,
		[NewFQ]  ,
		[TotalApps] ,
		[UnderReviewNew] ,
        [Pending] ,
        [QuotedNew] ,
        [HitRatio] ,
        [PremiumFromIssued]  
	 )  
	select [StateName],
		[AllPolicy] 	,
		[UnderReview]  ,
		[Declined] ,
		[Issued] ,
		[Rejected]  ,
		[IssuedWithPremium]  ,
		[TotalPremiumFromIssued] ,
		[Accepted]  ,
		[Quoted]  ,
		[NewQQ]  ,
		[NewFQ]  ,
		[TotalApps] ,
		[UnderReviewNew] ,
        [Pending] ,
        [QuotedNew] ,
        [HitRatio] ,
        [PremiumFromIssued]   from #TempPolicyList

		-------------------------------------------------------------------------------------------------------------      
      
 if (@flag_for_pagination='Y' and @page_size is not null and @page_number is not null)      
 begin      
 
   
 set @page_number= isnull(@page_number,1)      
 set @page_size=isnull(@page_size,100)      
      
 set @modulo=(select count(*) from #TEMP_REPORT_ALL) % @page_size      
 if(@modulo=0)      
 begin      
  set @total_page=(select count(*) from #TEMP_REPORT_ALL) / @page_size      
 end      
 else set @total_page=((select count(*) from #TEMP_REPORT_ALL) / @page_size)+1      
 if(@total_page<@page_number)      
 begin       
 set @page_number=1      
 end      
  PRINT 'vishal ' + (CONVERT( VARCHAR(24), GETDATE(), 121))
  
  insert into #TEMP_REPORT      
 (
	[StateName],
	[AllPolicy] 	,
    [UnderReview]  ,
    [Declined] ,
    [Issued] ,
    [Rejected]  ,
    [IssuedWithPremium]  ,
    [TotalPremiumFromIssued] ,
    [Accepted]  ,
    [Quoted]  ,
    [NewQQ]  ,
    [NewFQ]  ,
    [TotalApps] ,
	[UnderReviewNew] ,
        [Pending] ,
        [QuotedNew] ,
        [HitRatio] ,
        [PremiumFromIssued]   
 )      
  select  DISTINCT
  [StateName],
	[AllPolicy] 	,
    [UnderReview]  ,
    [Declined] ,
    [Issued] ,
    [Rejected]  ,
    [IssuedWithPremium]  ,
    [TotalPremiumFromIssued] ,
    [Accepted]  ,
    [Quoted]  ,
    [NewQQ]  ,
    [NewFQ]  ,
    [TotalApps] ,
	[UnderReviewNew] ,
        [Pending] ,
        [QuotedNew] ,
        [HitRatio] ,
        [PremiumFromIssued]
 from #TEMP_REPORT_ALL a  
 order by a.[StateName]      
 OFFSET (isnull(@page_number,1) -1) * isnull(@page_size,100) ROWS      
 FETCH NEXT isnull(@page_size,100) ROWS ONLY      
 end      
 else      
 PRINT (CONVERT( VARCHAR(24), GETDATE(), 121))      
  insert into #TEMP_REPORT      
 (
	[StateName],
	[AllPolicy] 	,
    [UnderReview]  ,
    [Declined] ,
    [Issued] ,
    [Rejected]  ,
    [IssuedWithPremium]  ,
    [TotalPremiumFromIssued] ,
    [Accepted]  ,
    [Quoted]  ,
    [NewQQ]  ,
    [NewFQ]  ,
    [TotalApps] ,
	[UnderReviewNew] ,
    [Pending] ,
    [QuotedNew] ,
    [HitRatio] ,
    [PremiumFromIssued] 
 )      
  select DISTINCT
	[StateName],
	[AllPolicy] 	,
    [UnderReview]  ,
    [Declined] ,
    [Issued] ,
    [Rejected]  ,
    [IssuedWithPremium]  ,
    [TotalPremiumFromIssued] ,
    [Accepted]  ,
    [Quoted]  ,
    [NewQQ]  ,
    [NewFQ]  ,
    [TotalApps] ,
	[UnderReviewNew] ,
    [Pending] ,
    [QuotedNew] ,
    [HitRatio] ,
    [PremiumFromIssued]   
 from #TEMP_REPORT_ALL a  
 order by a.[StateName]
 
 
 /*------------------------- GENERATING XML ---------------------------------*/      
       
   if(@output_type='xml') 
  begin     
      
  set @report_output = '<'+ @report_id + '_RESULT>'      
      
   set @count= (select count(*)from #TEMP_REPORT)      
  if(@count=0)      
  begin      
 set @report_output   = @report_output + isnull(  (select top 1  
 ISNULL('','') as [StateName],
  ISNULL('','') as [AllPolicy],      
  ISNULL('' ,'') as [UnderReview],      
  ISNULL('','') as [Declined],      
  ISNULL('' ,'') as [Issued],      
  ISNULL('','') as [Rejected],
  ISNULL('','') as [IssuedWithPremium],           
  ISNULL('','') as [TotalPremiumFromIssued],      
  ISNULL('','') as [Accepted],        
  ISNULL('','') as [Quoted],
  ISNULL('','') as [NewQQ],
  ISNULL('','') as [NewFQ],
  ISNULL('','') as [TotalApps],
  ISNULL('','') as [UnderReviewNew],
  ISNULL('','') as [Pending],
  ISNULL('','') as [QuotedNew],
  ISNULL('','') as [HitRatio],
  ISNULL('','') as [PremiumFromIssued]
    
  for XML PATH('DATA_NODE'),root('AIM302')),'')       
 end      
 else      
  set @report_output   = @report_output + isnull(  (select
  ISNULL([StateName],'') as [StateName],
  ISNULL([AllPolicy],'') as [AllPolicy],      
  ISNULL([UnderReview] ,'') as [UnderReview],      
  ISNULL([Declined],'') as [Declined],      
  ISNULL([Issued] ,'') as [Issued],      
  ISNULL([Rejected],'') as [Rejected],
  ISNULL([IssuedWithPremium],'') as [IssuedWithPremium],           
  ISNULL([TotalPremiumFromIssued],'') as [TotalPremiumFromIssued],      
  ISNULL([Accepted],'') as [Accepted],        
  ISNULL([Quoted],'') as [Quoted],
  ISNULL([NewQQ],'') as [NewQQ],
  ISNULL([NewFQ],'') as [NewFQ],
  ISNULL([TotalApps],'') as [TotalApps],
  ISNULL([UnderReviewNew],'') as [UnderReviewNew],
  ISNULL([Pending],'') as [Pending],
  ISNULL([QuotedNew],'') as [QuotedNew],
  ISNULL([HitRatio],'') as [HitRatio],
  ISNULL([PremiumFromIssued],'') as [PremiumFromIssued]
 from #TEMP_REPORT a        
 for XML PATH('DATA_NODE'),root('weeklyreport_creationdate')),'')      
  set @report_output = @report_output +  '</'+ @report_id + '_RESULT>'   
 select  @report_output as xml;  
     

/*------------------------  OUTPUT FOR PAGINATION --------------------*/      
       
 if (@flag_for_pagination='Y')      
 begin  
     
   if(@page_size is null and @page_number is null)
 begin
 set @page_number=1
 set @page_size=1
 set @total_page=1
 end

 set @report_output=''    
   set @report_output = '<'+ @report_id + '_RESULT>'    
      
 set @report_output   = @report_output + isnull((select top 1  @page_number as PAGE_NUMBER,      
   @page_size as PAGE_SIZE,      
   isnull ((select count(*) from #TEMP_REPORT_ALL),0) as TOTAL_RECORD,      
   isnull(((@page_number -1) * @page_size)+1,1) AS START_INDEX,      
   case when isnull(((@page_number) * @page_size),1)> isnull ((select count(*) from #TEMP_REPORT_ALL),0)      
   then isnull ((select count(*) from #TEMP_REPORT_ALL),0) else isnull(((@page_number) * @page_size),1)      
   end AS END_INDEX,      
   isnull (@total_page,0 )as TOTAL_PAGE      
   --from #TEMP_REPORT          
  for XML PATH('DATA_NODE'),root('PAGE_DETAIL')),'')  
  
        
 set @report_output = @report_output +  '</'+ @report_id + '_RESULT>'      
      
 select @report_output as xml; 
   
 end      
              
  end
else    
begin
PRINT (CONVERT( VARCHAR(24), GETDATE(), 121))
select    DISTINCT     
  ISNULL([StateName],'') as [StateName],
  ISNULL([AllPolicy],'') as [AllPolicy],      
  ISNULL([UnderReview] ,'') as [UnderReview],      
  ISNULL([Declined],'') as [Declined],      
  ISNULL([Issued] ,'') as [Issued],      
  ISNULL([Rejected],'') as [Rejected],
  ISNULL([IssuedWithPremium],'') as [IssuedWithPremium],           
  ISNULL([TotalPremiumFromIssued],'') as [TotalPremiumFromIssued],      
  ISNULL([Accepted],'') as [Accepted],        
  ISNULL([Quoted],'') as [Quoted],
  ISNULL([NewQQ],'') as [NewQQ],
  ISNULL([NewFQ],'') as [NewFQ],
  ISNULL([TotalApps],'') as [TotalApps],
  ISNULL([UnderReviewNew],'') as [UnderReviewNew],
  ISNULL([Pending],'') as [Pending],
  ISNULL([QuotedNew],'') as [QuotedNew],
  ISNULL([HitRatio],'') as [HitRatio],
  ISNULL([PremiumFromIssued],'') as [PremiumFromIssued] 
 from #TEMP_REPORT a 


 /*------------------------  OUTPUT FOR PAGINATION --------------------*/      
       
 if (@flag_for_pagination='Y')      
 begin 

 if(@page_size is null and @page_number is null)
 begin
 set @page_number=1
 set @page_size=1
 set @total_page=1
 end


 select top 1  @page_number as PAGE_NUMBER,      
   @page_size as PAGE_SIZE,      
   isnull ((select count(*) from #TEMP_REPORT_ALL),0) as TOTAL_RECORD,      
   isnull(((@page_number -1) * @page_size)+1,1) AS START_INDEX,      
   case when isnull(((@page_number) * @page_size),1)> isnull ((select count(*) from #TEMP_REPORT_ALL),0)      
   then isnull ((select count(*) from #TEMP_REPORT_ALL),0) else isnull(((@page_number) * @page_size),1)      
   end AS END_INDEX,      
   isnull (@total_page,0 )as TOTAL_PAGE 
 end
end    


drop table #TEMP_REPORT
drop table #TEMP_REPORT_ALL   
drop table #TempPolicyList

END


GO
