USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getAllRenewedPolicyLawyers]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[getAllRenewedPolicyLawyers]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getAllRenewedPolicyLawyers]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[getAllRenewedPolicyLawyers] AS' 
END
GO
ALTER PROCEDURE [dbo].[getAllRenewedPolicyLawyers] 
	@PolicyKey int   
   
 AS BEGIN

  
select p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName, 
pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode,f.isNewApp, 
(select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1, s.StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsFirmPage,f.IsAopPage,f.IsPracticePage,
f.IsCoveragePage,f.IsRealEstateCommercialPage,f.IsRealEstateResidentialPage,f.IsTaxPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,
f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey,
 pc.CoverageKey, f.IsViewed, adds.CountyDesc, f.IsViewed, f.IsRenewed,'Y' as ShowInsuredPortal from Policy p,  Account a, FirmLW f, 
 Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc 
 where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and
  f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and 
  f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and 
  pc.CoverageKey = 3 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=
  (select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=
  (select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and 
  p.isUncompletedData='N' and p.PolicyKey in (select p.PolicyKey from Policy p where   
 p.MarketableProductKey = 2 and p.isUncompletedData='N' and p.AccountID in
 ( select AccountID from Policy where PolicyKey=@PolicyKey))
  order by p.PolicyEffectiveDate desc 
  



END

GO
