USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetQuoteListLaw_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetQuoteListLaw_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetQuoteListLaw_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetQuoteListLaw_p] AS' 
END
GO
--
--exec GetQuoteListLaw_p 122440, 'Agent', 'N'
ALTER PROCEDURE [dbo].[GetQuoteListLaw_p]
(
@PolicyKey INT,
@User VARCHAR(100),
@IsNonRatingState CHAR
)
AS
BEGIN
DECLARE @endorsementCount INT,@InitialFinalizedTransactionSequence int,@TransactionTypeKey INT

SET @TransactionTypeKey=(select top 1 TransactionTypeKey from PolicyTransaction where PolicyKey=@PolicyKey)
SET @endorsementCount=(SELECT CASE WHEN count(TransactionTypeKey) is NOT NULL THEN count(TransactionTypeKey) else 0 END  AS endorsementCount FROM PolicyTransaction WHERE policykey=@PolicyKey and TransactionTypeKey>5)

update Policytransaction set TransactionTypeKey=@TransactionTypeKey where Policykey=@PolicyKey and TransactionTypeKey is null
--select @endorsementCount
CREATE TABLE #Temp1
(
DeductibleSequence					INT,
LimitSequence						INT,
DeductibleAmount					VARCHAR(100),
LimitAmount							VARCHAR(100),
CoverageSequence					INT,
TotalPremium						VARCHAR(100),
TotalPremiumFirstRange				VARCHAR(100),
TotalPolicyModifierPercentage		INT,
TotalPolicyTaxAmount				VARCHAR(100),
InvoicedPremium						VARCHAR(100),
ManualPremium						VARCHAR(10),
TransactionSequence					INT,
SOISequence							INT,
CoverageKey							INT,
AggregateDeductible					INT,
OccuranceDeductible					INT,
PolicyKey							INT,
MarketableProductKey				INT,
IsClaimExpensesType					VARCHAR(100),
ClaimExpensesTypeText				VARCHAR(100),
IsClaimOptionType					VARCHAR(100),
IsDollarDefenseText					VARCHAR(100),
IsManualPremiumText					VARCHAR(100),
IsDollarDefense						VARCHAR(10),
IsManualPremium						VARCHAR(10),
IsThisOptionFinalised				VARCHAR(10),
IsQuoteSelected						VARCHAR(10),
IsFirstQuote						VARCHAR(10),
RatingTraceSequence					INT,
TransactionTypeDesc					VARCHAR(100)
)

CREATE TABLE #Temp2
(
DeductibleSequence					INT,
LimitSequence						INT,
DeductibleAmount					VARCHAR(100),
LimitAmount							VARCHAR(100),
CoverageSequence					INT,
TotalPremium						VARCHAR(100),
TotalPremiumFirstRange				VARCHAR(100),
TotalPolicyModifierPercentage		INT,
TotalPolicyTaxAmount				VARCHAR(100),
InvoicedPremium						VARCHAR(100),
ManualPremium						VARCHAR(10),
TransactionSequence					INT,
SOISequence							INT,
CoverageKey							INT,
AggregateDeductible					INT,
OccuranceDeductible					INT,
PolicyKey							INT,
MarketableProductKey				INT,
IsClaimExpensesType					VARCHAR(100),
ClaimExpensesTypeText				VARCHAR(100),
IsClaimOptionType					VARCHAR(100),
IsDollarDefenseText					VARCHAR(100),
IsManualPremiumText					VARCHAR(100),
IsDollarDefense						VARCHAR(10),
IsManualPremium						VARCHAR(10),
IsThisOptionFinalised				VARCHAR(10),
IsQuoteSelected						VARCHAR(10),
IsFirstQuote						VARCHAR(10),
RatingTraceSequence					INT,
TransactionTypeDesc					VARCHAR(100),
EndorsementEffectiveDate			DATETIME,
EndorsementIssuedDate				DATETIME
)
IF(@endorsementCount>0)
	BEGIN 
		SET @InitialFinalizedTransactionSequence=(select top 1 PreviousFinalizedTransactionSequence from endorsementdetails where policykey=@PolicyKey order by EndorsementKey)
	print '1'

	IF(@User='Agent')
		BEGIN
		print '2'
				IF(@IsNonRatingState='N')
					BEGIN
					print '3'
					INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
					IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
					SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, pc.CoverageSequence,
					 dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
					 dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, 
					 pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType,
					  (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
					  (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, 
					  pc.IsManualPremium AS IsManualPremium, null, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc 
					  FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt ,TransactionType tt
					  WHERE l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and 
					   d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pt.TransactionTypeKey=tt.TransactionTypeKey
					   and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey 
					    and pt.TransactionTypeKey<6

					END
				ELSE
					BEGIN
					print '4'
					INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
					IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
						SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, pc.CoverageSequence,
						dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
						dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence,
						 pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
						 (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
						 (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense,
						  pc.IsManualPremium AS IsManualPremium, null, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc 
						FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt
						WHERE pc.IsManualPremium = 'Y' and l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and pt.TransactionTypeKey=tt.TransactionTypeKey
						and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey
						 and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey
						  and pt.TransactionTypeKey<6
					END

		END

		IF(@User='insured')
		BEGIN
		print '5'
			IF(@IsNonRatingState='N')
					BEGIN
						print '6'
						INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
							SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
							IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
						SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, 
						pc.CoverageSequence, dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
						 dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, pc.SOISequence,
						  pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
						  (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
						  (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, 
						  pc.IsManualPremium AS IsManualPremium, null, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc 
						  FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt
						   WHERE l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and pt.TransactionTypeKey=tt.TransactionTypeKey
						    and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence
							 and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence 
							 and pc.PolicyKey = @PolicyKey and q.IsQuoteSelected='Y' and q.isShowQuote='Y'
							  and pt.TransactionTypeKey<6
					END
				ELSE
					BEGIN
					print '7'

							INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
								SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
								IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
							SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, 
							pc.CoverageSequence, dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
							dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, pc.SOISequence, 
							pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
							(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType,
							 (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, pc.IsManualPremium AS IsManualPremium,
							  q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc
							   FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt
							    WHERE pc.IsManualPremium = 'Y' and l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
								and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence  and pt.TransactionTypeKey=tt.TransactionTypeKey
								and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey and q.IsQuoteSelected='Y' and q.isShowQuote='Y'
								 and pt.TransactionTypeKey<6
					END

		END
		update #Temp1 set IsThisOptionFinalised='Y' where TransactionSequence=@InitialFinalizedTransactionSequence


		INSERT INTO #Temp2(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
							SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
							IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc,EndorsementEffectiveDate,EndorsementIssuedDate)
						SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, 
						pc.CoverageSequence, dbo.getAmountFormat(ed.PremiumVariation) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
						 dbo.getAmountFormat(ed.TaxVariation) AS TotalPolicyTaxAmount, dbo.getAmountFormat(ed.PremiumVariation+ed.TaxVariation) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, pc.SOISequence,
						  pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
						  (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
						  (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, 
						  pc.IsManualPremium AS IsManualPremium, null, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc,ed.EndorsementEffectiveDate,ed.EndorsementIssuedDate
						  FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt,EndorsementDetails ed
						   WHERE l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible
						    and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pt.TransactionTypeKey=tt.TransactionTypeKey
							 and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and ed.Policykey=pt.Policykey and ed.TransactionSequence=pt.TransactionSequence
							 and pc.PolicyKey = @PolicyKey and q.IsQuoteSelected='Y' and q.isShowQuote='Y'
							  and pt.TransactionTypeKey>5
		
END


IF(@endorsementCount=0)
BEGIN 
	IF(@User='Agent')
	BEGIN
			IF(@IsNonRatingState='N')
				BEGIN
				INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
					IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
				SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, pc.CoverageSequence,
					dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
					dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, 
					pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType,
					(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
					(CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, 
					pc.IsManualPremium AS IsManualPremium, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc 
					FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt ,TransactionType tt
					WHERE l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and 
					d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and 
					pc.TransactionSequence=pt.TransactionSequence and 
					pc.PolicyKey=q.PolicyKey and pt.TransactionTypeKey=tt.TransactionTypeKey
					and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y'

				END
			ELSE
				BEGIN
					INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
					IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
					SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, pc.CoverageSequence,
					dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
					dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence,
						pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
						(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
						(CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, 
						pc.IsManualPremium AS IsManualPremium, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc 
					FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt
					WHERE pc.IsManualPremium = 'Y' and l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible 
					and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pt.TransactionTypeKey=tt.TransactionTypeKey
						and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y'
				END

	END

	IF(@User='insured')
	BEGIN

		IF(@IsNonRatingState='N')
				BEGIN
						INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
					IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
					SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, 
					pc.CoverageSequence, dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
						dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, pc.SOISequence,
						pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
						(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType, 
						(CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, 
						pc.IsManualPremium AS IsManualPremium, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc 
						FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt
						WHERE l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible
						and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pt.TransactionTypeKey=tt.TransactionTypeKey
							and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence 
							and pc.PolicyKey = @PolicyKey and q.IsQuoteSelected='Y' and q.isShowQuote='Y'
				END
			ELSE
				BEGIN
						INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,
					IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc)
						SELECT d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) AS DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) AS LimitAmount, 
						pc.CoverageSequence, dbo.getAmountFormat(pt.TotalPremium) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) AS TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
						dbo.getAmountFormat(pt.TotalPolicyTaxAmount) AS TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) AS ManualPremium, pc.TransactionSequence, pc.SOISequence, 
						pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsClaimExpensesType, 
						(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) AS ClaimExpensesTypeText, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) AS IsClaimOptionType,
							(CASE pc.IsDollarDefense WHEN 'Y' THEN 'Yes' ELSE 'No' END) AS IsDollarDefenseText,(CASE pc.IsManualPremium WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) AS IsManualPremiumText, pc.IsDollarDefense AS IsDollarDefense, pc.IsManualPremium AS IsManualPremium,
							q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,tt.TransactionTypeDesc
							FROM PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt
							WHERE pc.IsManualPremium = 'Y' and l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
							and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence  and pt.TransactionTypeKey=tt.TransactionTypeKey
							and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey and q.IsQuoteSelected='Y' and q.isShowQuote='Y'
				END

	END
		
		
END
select * from #Temp1 
select DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsManualPremiumText,IsDollarDefense,IsManualPremium,IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc,convert(varchar,EndorsementEffectiveDate,101) as EndorsementEffectiveDate,convert(varchar,EndorsementIssuedDate,101) as EndorsementIssuedDate
 from #Temp2
DROP TABLE #Temp1
DROP TABLE #Temp2
END






GO
