USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetProtexureFormAttorneyData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetProtexureFormAttorneyData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetProtexureFormAttorneyData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetProtexureFormAttorneyData_p] AS' 
END
GO
--exec GetProtexureFormAttorneyData_p null 	
ALTER PROCEDURE [dbo].[GetProtexureFormAttorneyData_p]
(
@FormKey Int
)
AS
BEGIN
	CREATE TABLE #Temp
	(
	rownum INT identity(1,1),
	AttorneyName VARCHAR(100),
	AnnualHours VARCHAR(100),
	AttorneyPriorActDate DATETIME,
	isSaved CHAR,
	CreatedBy INT,
	CreatedDate DateTime
	)
	DECLARE @isSaved CHAR='Y'
	
	if not exists(select * from EstimateFormAttorneyDetails where FormKey=@FormKey)
		begin
			INSERT INTO #Temp(AttorneyName,AnnualHours,AttorneyPriorActDate,isSaved,CreatedBy,CreatedDate)
			values(null,null,null,null,null,null )
		end
	else
		begin
		INSERT INTO #Temp(AttorneyName,AnnualHours,AttorneyPriorActDate,isSaved,CreatedBy,CreatedDate)

		SELECT AttorneyName,AnnualHours,AttorneyPriorActDate,null,CreatedBy,CreatedDate
		FROM EstimateFormAttorneyDetails WITH (NOLOCK) WHERE FormKey=@FormKey 
		end
	--Print @VersionSequence
	SELECT * FROM #Temp
END


GO
