USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsSummaryDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetClaimsSummaryDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsSummaryDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetClaimsSummaryDataLW_p] AS' 
END
GO
--exec GetClaimsSummaryDataLW_p 3, '2019-11-01 20:15:31.310'
ALTER PROCEDURE [dbo].[GetClaimsSummaryDataLW_p]
(
	
	@LastUpdateUserID VARCHAR(50),
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN
	set @LastUpdateTimeStamp = SUBSTRING(@LastUpdateTimeStamp, 1, CHARINDEX('.', @LastUpdateTimeStamp)-1)

	SELECT ProfLiabClaimAgnstFirmKey, pca.PolicyKey, pca.VersionSequence, pca.NameOfClaimant as Insurance_Company, pca.TotalIncurred as Incurred, 
	DateReportedToInsComp as Date_Reported, 
	CASE WHEN (CurrentStatus = 'closed') THEN 'Closed' 
		WHEN (CurrentStatus = 'opened' or CurrentStatus = 'open') THEN 'Opened' 
		WHEN (CurrentStatus = 'reopen') THEN 'Reopen'
		WHEN (CurrentStatus = 'potential') THEN 'Potential' 
		ELSE CurrentStatus END as Current_Status, p.PolicyNumber as Policy_Number, 
	p.PolicyEffectiveDate as Policy_Effective_Date, (Select Top 1 PolicyExpirationDate from PolicyTransaction where PolicyKey = pca.PolicyKey) as Policy_Expiration_Date, ClaimClosingDate as Closed_Date, pca.NameOfInsComp as Claimant, 
	pca.ClaimNumber as Claim_Number, Signal,pca.DescOfClaim as Description
	FROM Policy p, ProfLiabClaimAgnstFirmLW pca
	where p.PolicyKey = pca.PolicyKey and p.MarketableProductKey = 2
	and pca.LastUpdateUserID = @LastUpdateUserID and pca.LastUpdateTimeStamp > cast(@LastUpdateTimeStamp as datetime)
	order by Policy_Effective_Date
	
END







GO
