USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompletedNew_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CheckIfApplicationIsCompletedNew_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompletedNew_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CheckIfApplicationIsCompletedNew_p] AS' 
END
GO
--exec CheckIfApplicationIsCompleted 126599,'N'
ALTER PROCEDURE [dbo].[CheckIfApplicationIsCompletedNew_p]
	@PolicyKey int,
	@IsApplicationCompleted char(1) = 'N' output 
	
AS
BEGIN

	DECLARE @AccountName VARCHAR(500), @IsFirmHaveLawyersLiabilityInsurance CHAR,@IsFirmPracticeInOtherState char,@IsFirmHaveIndepDockets CHAR,@AopSum int,@IsFirmProvideInvestmentAdvice CHAR,@isPolicyExcludeCoverage CHAR,@instructionsDocumentedReceivingParty CHAR,@IsPersonnelBeSubOfAnyInvest CHAR,@custodyOrControlFunds CHAR,@ContactPerson VARCHAR(500),@AttorneyCount INT,@IsApplicantProvidesLegalServices CHAR,@bankruptcy INT,@collection INT,@financial INT,@goverment INT,@realestateComm INT,@realestateResi INT,@tax INT,@wills INT,@litigationvalue INT,@AnnualRevenue INT,@familyLaw INT,@Copyright INT,@PolicyStatusKey INT,@bankruptcyOld INT,@collectionOld INT,@financialOld INT,@govermentOld INT,@realestateCommOld INT,@realestateResiOld INT,@taxOld INT,@willsOld INT,@litigationvalueOld INT,@familyLawOld INT,@CopyrightOld INT,@PreviousPolicyKey INT,@PercentageOfRevenue INT,@PercentageOfDefense INT
	DECLARE @AOPCount INT, @VersionSequence INT,@PreviousVersionSequence INT, @litigationAOPSum INT,@CreatedDate DATETIME,@DaysDiffenence INT, @EffectiveDate DATETIME,@AccountKey INT
	DECLARE @LitImplementationDate DATETIME='2017-12-06',@RenewalSupplementNewImplDate DATETIME='2021-01-01',@CanibasSupimplDate DATETIME='2021-06-03',@isCannibSuppFlow CHAR
	set @AccountKey=(select top 1 Accountkey from Policytransaction where PolicyKey=@PolicyKey)
	
	SELECT @CreatedDate=AppCreatedDate,@EffectiveDate=PolicyEffectiveDate,@PolicyStatusKey=PolicyStatusKey FROM POLICY WHERE PolicyKey=@PolicyKey
	--select  @CreatedDate as CreatedDate,@PolicyStatusKey as PolicyStatusKey,@EffectiveDate as PolicyEffectiveDate,@AccountKey as AccountKey,@PolicyKey as PolicyKey
		if(@CanibasSupimplDate<@CreatedDate)
			set @isCannibSuppFlow='N'
		else
			set @isCannibSuppFlow='Y'
		SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
		SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WHERE PolicyKey=@PolicyKey)
		SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WHERE PolicyKey=@PreviousPolicyKey)
		
		SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
		SELECT @litigationAOPSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in (55,56,57,59,60,61,62,63,67)
						
		Declare @LitigationSupplementPage CHAR

		DECLARE @PercentageOfCivilPaintiff INT
		DECLARE @PercentageOfConstructionPaintiff INT			
		DECLARE @PercentageOfCorCommBusinessPaintiff INT
		DECLARE @PercentageOfMassTortPaintiff INT
		DECLARE @PercentageOfMedicalMalPaintiff INT
		DECLARE @PercentageOfNonMedicalMalPaintiff INT
		DECLARE @PercentageOfPersInjuryPaintiff INT
		DECLARE @PercentageOfProdLiabilityPaintiff INT
		DECLARE @PercentageOfOtherPaintiff INT
		DECLARE @NumberOfSuppotedStaffToPlantiff INT
		Declare @NewLitigationFlow CHAR,@corporateCommercialBusiness INT

		--Before Litigation Implementation
		IF(@DaysDiffenence<0)
			BEGIN
				IF(@litigationvalue>0)
					BEGIN
						SET @LitigationSupplementPage='Y'
					END
				ELSE
					BEGIN
						SET @LitigationSupplementPage='N'
					END
				SET @NewLitigationFlow='N'
				
			END
		ELSE
			BEGIN
				IF(@litigationAOPSum>0)
					BEGIN
						SET @LitigationSupplementPage='Y'
					END
				ELSE
					BEGIN
						SET @LitigationSupplementPage='N'
					END
				SET @NewLitigationFlow='Y'
				
			END
		DECLARE @OtherLegalCorporateServices CHAR,@IsFirmProvidedLegalServiceCCB CHAR
		 select @OtherLegalCorporateServices=OtherLegalCorporateServices from CorporateCommBusineesSupplementLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence	
		
		SET @AOPCount=(SELECT CASE WHEN Count(*)  is null THEN 0 ELSE Count(*) END From AreaOfPracticeLW Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		
		IF(@PolicyStatusKey=1)
		BEGIN
		SET @IsApplicationCompleted='Y'
				PRINT 'IN NEW FLOW'
				select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance,@IsFirmPracticeInOtherState=IsFirmPracticeInOtherState,
						@IsFirmHaveIndepDockets=IsFirmHaveIndepDockets,@IsFirmProvideInvestmentAdvice=IsFirmProvideInvestmentAdvice ,
						@isPolicyExcludeCoverage=isPolicyExcludeCoverage,@instructionsDocumentedReceivingParty=instructionsDocumentedReceivingParty,
						@custodyOrControlFunds=custodyOrControlFunds,@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@ContactPerson=ContactPerson,@IsApplicantProvidesLegalServices=IsApplicantProvidesLegalServices,@IsFirmProvidedLegalServiceCCB=IsFirmProvidedLegalServiceCCB
				from firmlw where policykey=@PolicyKey and VersionSequence=@VersionSequence
				--select IsFirmHaveLawyersLiabilityInsurance from firmlw where policykey=55425
				IF(@AOPCount<1)
				BEGIN
					print 'AOP'
					SET @IsApplicationCompleted='N'
				END
				SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				SELECT @AccountName=AccountName FROM Account where accountkey=@AccountKey
				SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AttorneyName is not null
	

				SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=3)
				SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=31)
				SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
				SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=12)
				SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=13)
				SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=20)
				SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=27)
				SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=22)
				SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=24)
				SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
				SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=8)
				SET @corporateCommercialBusiness=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=5)
			
				IF(@AccountName IS  NULL)
				BEGIN
					print @AccountName
					SET @IsApplicationCompleted='N'
				END

				IF(@IsFirmHaveLawyersLiabilityInsurance IS  NULL)
				BEGIN
					print '2'
					SET @IsApplicationCompleted='N'
				END

				IF(@AttorneyCount=0)
				BEGIN
					print '3'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@AopSum!=100)
				BEGIN
					print '4'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsApplicantProvidesLegalServices IS  NULL)
				BEGIN
					print '5'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsFirmHaveIndepDockets IS  NULL)
				BEGIN
					print '6'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsFirmProvideInvestmentAdvice IS  NULL)
				BEGIN
					print '7'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@custodyOrControlFunds IS  NULL)
				BEGIN
					print '8'
					SET @IsApplicationCompleted='N'
				END
		
		
		
				IF(@IsPersonnelBeSubOfAnyInvest IS  NULL)
				BEGIN
					print '9'
					SET @IsApplicationCompleted='N'
				END
	
		
				IF(@ContactPerson IS  NULL)
				BEGIN
					print '10'
					SET @IsApplicationCompleted='N'
				END
		
		
			--Supplements conditions check
			Declare @representedDebtors CHAR 
			Declare @averageCases CHAR 
			Declare @otherServices  CHAR 
			Declare @FamilyAopSum INT 
			Declare @underRegulatoryReview CHAR 
			Declare @providingBondWork CHAR 
			Declare @IsAppAcceptRefersFromOtherFirms CHAR 
			Declare @attendClosings CHAR 
			Declare @TaxAopSum INT 
			Declare @IsAttorneyServeAsExecutorTrustee CHAR 

			IF(@bankruptcy>35 )
			BEGIN
				select @representedDebtors=representedDebtors from BankruptcyDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence
				IF(@representedDebtors IS  NULL)
				BEGIN
					print '11'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@collection>0)
			BEGIN
				select @averageCases=averageCases from collectionsSuplimentDetailsLW WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@averageCases IS  NULL)
				BEGIN
					print '12'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@Copyright>0 AND @Copyright<=5)
			BEGIN
				select @otherServices=otherServices from CopyRightTrademarkDetailsLW	WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@otherServices IS  NULL)
				BEGIN
					print '13'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@familyLaw >35)
			BEGIN
				SELECT  @FamilyAopSum= CASE WHEN sum(percentagevalue) IS NOT NULL and sum(percentagevalue) <> ''  THEN sum(percentagevalue)ELSE 0  END  from FamilyLawDetailsLW	WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@FamilyAopSum=0)
				BEGIN
					print '14'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@financial>0)
			BEGIN
				select @underRegulatoryReview=underRegulatoryReview from FinancialInstitutionDetailsLW  WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@underRegulatoryReview IS  NULL)
				BEGIN
					print '15'
					SET @IsApplicationCompleted='N'
				END
			END


			IF(@goverment>0)
			BEGIN

				SELECT @providingBondWork=providingBondWork from GovernmentSupplementDetailsLW WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@providingBondWork IS  NULL)
				BEGIN
					print '16'
					SET @IsApplicationCompleted='N'
				END
			END

		
			IF(@LitigationSupplementPage='Y' and @NewLitigationFlow='N')
			BEGIN
				print '17'
				select @PercentageOfRevenue=max(PercentageOfRevenue),@PercentageOfDefense=max(PercentageOfDefense) from AreaOfLitigationForFirmLW WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence	
				IF(@PercentageOfRevenue is null  AND  @PercentageOfDefense is null)
				BEGIN
					print '70'
					SET @IsApplicationCompleted='N'
				END		
			END

			IF(@realestateComm>0 OR @realestateResi>0)
			BEGIN
				select @attendClosings=attendClosings from RealEastateDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence
				IF(@attendClosings IS  NULL)
				BEGIN
					print '18'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@wills>0)
			BEGIN
				select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence
				IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
				BEGIN
					print '19'
					SET @IsApplicationCompleted='N'
				END
			END
			
			IF(@tax>25)
			BEGIN
				select @TaxAopSum=CASE WHEN sum(revenuePercentage) IS NOT NULL and sum(revenuePercentage) <> ''  THEN sum(revenuePercentage) ELSE 0  END from TaxSuppDetailsLW WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				
				IF(@TaxAopSum=0)
				BEGIN
					print '20'
					SET @IsApplicationCompleted='N'
				END
			END
			IF(@corporateCommercialBusiness > 0)
			BEGIN
				IF(@isCannibSuppFlow='N')
				BEGIN	
					IF(@IsFirmProvidedLegalServiceCCB IS NULL)
					BEGIN
						print '100'
						SET @IsApplicationCompleted='N'
					END
				END
				ELSE
					BEGIN
						IF(@OtherLegalCorporateServices IS NULL)
						BEGIN
							print '101'
							SET @IsApplicationCompleted='N'
						END
					END
			END
			IF( @LitigationSupplementPage='Y' and @NewLitigationFlow='Y')
			BEGIN
				
				select @NumberOfSuppotedStaffToPlantiff=NumberOfSuppotedStaffToPlantiff from PlantiffSuppLW WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@NumberOfSuppotedStaffToPlantiff IS NULL)
				BEGIN
					print '12'
					SET @IsApplicationCompleted='N'
				END
			END		
	
	END
	
	IF(@PolicyStatusKey=2)
	BEGIN
		PRINT 'IN RENEWAL FLOW'
		SET @IsApplicationCompleted='Y'
		SET @bankruptcyOld  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence and AOPKey=3)
		
		SET @collectionOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=31)
		
		SET @financialOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=12)
		
		SET @govermentOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=13)
		
		SET @realestateCommOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=20)
	
		SET @realestateResiOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=27)
		
		SET @taxOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=22)
	
		SET @willsOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=24)
		
		SET @litigationvalueOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=18)
	
		SET @familyLawOld=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=8)
		


		DECLARE @IsAttorneyAddedDeleted CHAR
		DECLARE @AnnualRevenueSequence INT
	
						
		select	@ContactPerson=ContactPerson,@IsAttorneyAddedDeleted=IsAttorneyAddedDeleted,
				@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@AnnualRevenueSequence=AnnualRevenueSequence,@IsFirmProvidedLegalServiceCCB=IsFirmProvidedLegalServiceCCB
				from firmlw where policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@AOPCount<1)
				BEGIN
					print '100'
					SET @IsApplicationCompleted='N'
				END
				SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				SELECT @AccountName=AccountName FROM Account where accountkey=@AccountKey
				SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		

				SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence and AOPKey=3)
				SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=31)
				SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=6)
				SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=12)
				SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=13)
				SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=20)
				SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=27)
				SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=22)
				SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=24)
				SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=18)
				SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=8)
		
				IF(@ContactPerson IS  NULL)
				BEGIN
					print '1'
					SET @IsApplicationCompleted='N'
				END

				IF(@IsAttorneyAddedDeleted IS  NULL)
				BEGIN
					print '2'
					SET @IsApplicationCompleted='N'
				END

				
		
				IF(@AopSum!=100)
				BEGIN
					print '3'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsPersonnelBeSubOfAnyInvest IS  NULL)
				BEGIN
					print '4'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@AnnualRevenueSequence IS  NULL)
				BEGIN
					print '5'
					SET @IsApplicationCompleted='N'
				END
		
				
		
		--select @bankruptcyOld,@bankruptcy
			--Supplements conditions check
			
			IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35))
				BEGIN
				select @representedDebtors=representedDebtors from BankruptcyDetailsLW  WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				--select @representedDebtors
				IF(@representedDebtors IS  NULL)
				BEGIN
					print 'S1'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@collection>@collectionOld)
			BEGIN
				select @averageCases=averageCases from collectionsSuplimentDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@averageCases IS  NULL)
				BEGIN
					print 'S2'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@Copyright>0)
			BEGIN
				select @otherServices=otherServices from CopyRightTrademarkDetailsLW WHERE Policykey=@PolicyKey   and VersionSequence=@VersionSequence 
				IF(@otherServices IS  NULL)
				BEGIN
					print 'S3'
					SET @IsApplicationCompleted='N'
				END
			END

			IF((@familyLawOld>35 AND @familyLaw>@familyLawOld+10) OR (@familyLawOld<35 AND @familyLaw>35)) 
			BEGIN
				SELECT  @FamilyAopSum=CASE WHEN sum(percentagevalue)  IS NOT NULL and sum(percentagevalue)  <> ''  THEN sum(percentagevalue)  ELSE 0  END from FamilyLawDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@FamilyAopSum=0)
				BEGIN
					print 'S4'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@financial>0)
			BEGIN
				select @underRegulatoryReview=underRegulatoryReview from FinancialInstitutionDetailsLW  WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@underRegulatoryReview IS  NULL)
				BEGIN
					print 'S5'
					SET @IsApplicationCompleted='N'
				END
			END


			IF(@govermentOld!= @goverment and @goverment> @govermentOld AND @goverment>10)
			BEGIN
				SELECT @providingBondWork=providingBondWork from GovernmentSupplementDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@providingBondWork IS  NULL)
				BEGIN
					print 'S6'
					SET @IsApplicationCompleted='N'
				END
			END
			IF(@corporateCommercialBusiness > 0)
			BEGIN
				IF(@isCannibSuppFlow='N')
				BEGIN	
					IF(@IsFirmProvidedLegalServiceCCB IS NULL)
					BEGIN
						print '100'
						SET @IsApplicationCompleted='N'
					END
				END
				ELSE
					BEGIN
						IF(@OtherLegalCorporateServices IS NULL)
						BEGIN
							print '101'
							SET @IsApplicationCompleted='N'
						END
					END
			END
			IF(@LitigationSupplementPage='Y' and @NewLitigationFlow='N')
			BEGIN
			PRINT @litigationvalue
				select @PercentageOfRevenue=CASE WHEN max(PercentageOfRevenue) IS NOT NULL and max(PercentageOfRevenue) <> ''  THEN max(PercentageOfRevenue) ELSE 0  END,@PercentageOfDefense=CASE WHEN max(PercentageOfDefense) IS NOT NULL and max(PercentageOfDefense) <> ''  THEN max(PercentageOfDefense) ELSE 0  END from AreaOfLitigationForFirmLW WHERE Policykey=@PolicyKey   and VersionSequence=@VersionSequence 	
				--Print @PercentageOfRevenue
				IF(@PercentageOfRevenue=0  AND @PercentageOfDefense=0)
				BEGIN
					print 'S7'
					SET @IsApplicationCompleted='N'
				END
		
			END
			IF( @LitigationSupplementPage='Y'  and @NewLitigationFlow='Y')
			BEGIN
			
				select @NumberOfSuppotedStaffToPlantiff=NumberOfSuppotedStaffToPlantiff from PlantiffSuppLW WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@NumberOfSuppotedStaffToPlantiff IS NULL)
				BEGIN
					print '12'
					SET @IsApplicationCompleted='N'
				END
			END
			IF( @tax>25 and @tax>@taxOld)
			BEGIN
				select @TaxAopSum=CASE WHEN sum(revenuePercentage) IS NOT NULL and sum(revenuePercentage) <> ''  THEN sum(revenuePercentage) ELSE 0  END from TaxSuppDetailsLW WHERE Policykey=@PolicyKey   and VersionSequence=@VersionSequence 
				IF(@TaxAopSum=0)
				BEGIN
					print 'S10'
					SET @IsApplicationCompleted='N'
				END
			END	
	
      
	   if(@CreatedDate < @RenewalSupplementNewImplDate)
	  BEGIN	
			IF(((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5)) OR (( @realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)))
			BEGIN
				select @attendClosings=attendClosings from RealEastateDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@attendClosings IS  NULL)
				BEGIN
					print 'S8'
					SET @IsApplicationCompleted='N'
				END
			END

		IF(@wills>@willsOld)
			BEGIN
				select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
				BEGIN
					print 'S9'
					SET @IsApplicationCompleted='N'
				END
			END

			

		end
		else
	  begin	
			IF((@realestateComm>0) OR (@realestateResi>0))
			BEGIN
				select @attendClosings=attendClosings from RealEastateDetailsLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@attendClosings IS  NULL)
				BEGIN
					print 'S8'
					SET @IsApplicationCompleted='N'
				END
			END

		IF(@wills>0)
			BEGIN
				select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW WHERE Policykey=@PolicyKey  and VersionSequence=@VersionSequence 
				IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
				BEGIN
					print 'S9'
					SET @IsApplicationCompleted='N'
				END
			END

			
      end
	END

	--select  @IsApplicationCompleted as IsCompleted
	return 
END


GO
