USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayOutsideInterestAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayOutsideInterestAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayOutsideInterestAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayOutsideInterestAC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[DisplayOutsideInterestAC_p]
(
@PolicyKey INT,
@VersionSequence INT
)
AS
BEGIN
	CREATE TABLE #tempfesuit
	(
		ROWID int,
		OutsideInterestSuppKey INT,
		PolicyKey INT,
		VersionSequence INT,
		ClientNameOsi varchar(80),
		EntityNameOsi varchar(80),
		ClientIndustryOsiKey INT,
		PositionHeldOsi varchar(80),
		DOInsuranceOsi varchar(15),
		PercentEquityInterestofOsi INT,
		ServiceIndustryOsiKey INT,
		IndividualListedServicesOsi varchar(15),
		isSaved CHAR
	)
	
	CREATE TABLE #TEMPTable1
	(
		ROWID int,
		OutsideInterestSuppKey INT,
		ClientNameOsi varchar(80),
		EntityNameOsi varchar(80),
		ClientIndustryOsiKey INT,
		PositionHeldOsi varchar(80),
		DOInsuranceOsi varchar(15),
		PercentEquityInterestofOsi INT,
		ServiceIndustryOsiKey INT,
		IndividualListedServicesOsi varchar(15)
	)
	DECLARE @Count INT
	DECLARE @InitCount INT
	DECLARE @LoopCounter INT =1
	DECLARE @isSaved CHAR='Y'
	SELECT @Count=count(*) FROM OutsideInterestSupp WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
	if(@Count<=1)
		BEGIN
			Set @InitCount=1
		END
	ELSE
		BEGIN
			Set @InitCount=@Count
		END
	WHILE (@LoopCounter <= @InitCount)
		BEGIN
			INSERT INTO #tempfesuit(ROWID,OutsideInterestSuppKey,PolicyKey,VersionSequence,ClientNameOsi, EntityNameOsi, ClientIndustryOsiKey, PositionHeldOsi, DOInsuranceOsi, PercentEquityInterestofOsi, ServiceIndustryOsiKey, IndividualListedServicesOsi,isSaved)
			VALUES(@LoopCounter,null,@PolicyKey,@VersionSequence,null,null,null,null,null,null,null,null,@isSaved)
			SET @LoopCounter  = @LoopCounter  + 1
		END	
	IF(@Count>0)
		BEGIN
			INSERT INTO #TEMPTable1(ROWID,OutsideInterestSuppKey,ClientNameOsi, EntityNameOsi, ClientIndustryOsiKey, PositionHeldOsi, DOInsuranceOsi, PercentEquityInterestofOsi, ServiceIndustryOsiKey, IndividualListedServicesOsi)
			SELECT ROW_NUMBER() OVER (ORDER BY PolicyKey ASC) AS ROWID,OutsideInterestSuppKey,ClientNameOsi, EntityNameOsi, ClientIndustryOsiKey, PositionHeldOsi, DOInsuranceOsi, PercentEquityInterestofOsi, ServiceIndustryOsiKey, IndividualListedServicesOsi
			FROM OutsideInterestSupp WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
		END
	SET @LoopCounter=1
	WHILE ( @LoopCounter <= @InitCount)
		BEGIN
			UPDATE #tempfesuit 
			SET 
				OutsideInterestSuppKey=i.OutsideInterestSuppKey,
				ClientNameOsi = i.ClientNameOsi, 
				EntityNameOsi = i.EntityNameOsi, 
				ClientIndustryOsiKey = i.ClientIndustryOsiKey, 
				PositionHeldOsi = i.PositionHeldOsi, 
				DOInsuranceOsi = i.DOInsuranceOsi, 
				PercentEquityInterestofOsi = i.PercentEquityInterestofOsi, 
				ServiceIndustryOsiKey = i.ServiceIndustryOsiKey, 
				IndividualListedServicesOsi = i.IndividualListedServicesOsi
			FROM(SELECT OutsideInterestSuppKey,ClientNameOsi, EntityNameOsi, ClientIndustryOsiKey, PositionHeldOsi, DOInsuranceOsi, PercentEquityInterestofOsi, ServiceIndustryOsiKey, IndividualListedServicesOsi FROM #TEMPTable1 WHERE ROWID=@LoopCounter) i
			WHERE ROWID=@LoopCounter
			SET @LoopCounter  = @LoopCounter  + 1
		END
	SELECT * FROM #tempfesuit
END


GO
