USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_TaxSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_TaxSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_TaxSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_TaxSupplement_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_TaxSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	DECLARE @InvestmentCounselorServices INT=0,@SubchapterSElections INT=0,@LiquidationCorporations INT=0,@OpinionsTaxShelters INT=0,@OpinionsInvolving INT=0,@Other INT=0
	DECLARE @InvestmentCounselorServicesPrior INT=0,@SubchapterSElectionsPrior INT=0,@LiquidationCorporationsPrior INT=0,@OpinionsTaxSheltersPrior INT=0,@OpinionsInvolvingPrior INT=0,@OtherPrior INT=0
	SET @InvestmentCounselorServices=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and TaxAOPKey=4 )
	SET @SubchapterSElections=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and TaxAOPKey=5 )
	SET @LiquidationCorporations=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and TaxAOPKey=6 )
	SET @OpinionsTaxShelters=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and TaxAOPKey=7)
	SET @OpinionsInvolving=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and TaxAOPKey=8)
	SET @Other=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and TaxAOPKey=9)

	--select @providingBondWork=providingBondWork,@eminentDomainServices=eminentDomainServices from GovernmentSupplementDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='checkinvestmentCounselorServices_Lawyers'
		if(@InvestmentCounselorServices>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing investment counseling.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
		set @rule_id='checksubchapterSElections_Lawyers'
		if(@SubchapterSElections>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing subchapter S Elections.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
		set @rule_id='checkliquidationofCorporations_Lawyers'
		if(@LiquidationCorporations>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing liquidation of corporations.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='opinonTax_Lawyers'
		if(@OpinionsTaxShelters>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing opinions on tax shelters.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkprivatePlacementMemoranda_Lawyers'
		if(@OpinionsInvolving>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing opinions on private placement memo.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkotherTax_Lawyers'
		if(@Other>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - other greater than zero.','If no description; obtain description.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
		--	select @providingBondWorkPrior=providingBondWork,@eminentDomainServicesPrior=eminentDomainServices from GovernmentSupplementDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
			SET @InvestmentCounselorServicesPrior=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and TaxAOPKey=4 )
			SET @SubchapterSElectionsPrior=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and TaxAOPKey=5 )
			SET @LiquidationCorporationsPrior=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and TaxAOPKey=6 )
			SET @OpinionsTaxSheltersPrior=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and TaxAOPKey=7)
			SET @OpinionsInvolvingPrior=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and TaxAOPKey=8)
			SET @OtherPrior=(select revenuePercentage from TaxSuppDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and TaxAOPKey=9)
	
			if(@InvestmentCounselorServicesPrior is null or @InvestmentCounselorServicesPrior='')
				set @InvestmentCounselorServicesPrior=0
			if(@SubchapterSElectionsPrior is null or @SubchapterSElectionsPrior='')
				set @SubchapterSElectionsPrior=0
			if(@LiquidationCorporationsPrior is null or @LiquidationCorporationsPrior='')
				set @LiquidationCorporationsPrior=0
			if(@OpinionsTaxSheltersPrior is null or @OpinionsTaxSheltersPrior='')
				set @OpinionsTaxSheltersPrior=0
			if(@OpinionsInvolvingPrior is null or @OpinionsInvolvingPrior='')
				set @OpinionsInvolvingPrior=0
			if(@OtherPrior is null or @OtherPrior='')
				set @OtherPrior=0

			set @rule_id='checkinvestmentCounselorServicesRenew_Lawyers'
			if(@InvestmentCounselorServices-@InvestmentCounselorServicesPrior>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing investment counseling.','Describe nature of investment counselor services.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
			set @rule_id='checksubchapterSElectionsRenew_Lawyers'
			if(@SubchapterSElections-@SubchapterSElectionsPrior>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing subchapter S Elections.','Describe nature of subchapter s advice and services.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
			set @rule_id='checkliquidationofCorporationsRenew_Lawyers'
			if(@LiquidationCorporations-@LiquidationCorporationsPrior>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing liquidation of corporations.','Describe nature of Liquidation of Corporations tax services.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='opinonTaxRenew_Lawyers'
			if(@OpinionsTaxShelters-@OpinionsTaxSheltersPrior>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing opinions on tax shelters.','Describe nature of tax opinions and tax shelter advice and services.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='checkprivatePlacementMemorandaRenew_Lawyers'
			if(@OpinionsInvolving-@OpinionsInvolvingPrior>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - providing opinions on private placement memo.','Describe nature of tax opinions and tax shelter advice and services.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='checkotherTaxRenew_Lawyers'
			if(@Other-@OtherPrior>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Tax - other greater than zero.','If no description; obtain description of services provided.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END



GO
