USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayAOPDetailsForPDF_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayAOPDetailsForPDF_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayAOPDetailsForPDF_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayAOPDetailsForPDF_p] AS' 
END
GO
--exec DisplayAOPDetailsForPDF_p 183061, '2017-12-06 00:00:00.0'
ALTER PROCEDURE [dbo].[DisplayAOPDetailsForPDF_p]
(
@PolicyKey INT,
@LitImplementationDate DATETIME
)
       
AS BEGIN
SET NOCOUNT ON;
       CREATE TABLE #Temp
       (
       DisplaySequence INT identity(1,1),
       AOPKey INT,
       AopDesc VARCHAR(100),
       Percentage    INT,
	   AOPCommentDesc VARCHAR(200)
       
       )      
       Declare @count INT
	  DECLARE @CreatedDate DATETIME
		DECLARE @DaysDiffenence INT
		SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
		SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
	
	if(@DaysDiffenence<0)
		BEGIN
				INSERT INTO #Temp (AOPKey,Percentage,AopDesc,AOPCommentDesc)
			   SELECT  aop.AOPKey,PercentageValue,aop.AOPDescNew as AopDesc,AOPCommentDesc FROM AreaOfPracticeLW sm Inner Join AOPLW aop on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PolicyKey and  sm.aopkey not in(7,17,19,23,25,40)  and sm.aopkey<55 order by  aop.AOPDescNew
			   --UPDATE #Temp SET DisplaySequence=1000 WHERE AOPKey=25
	 
			   INSERT INTO #Temp (AOPKey,Percentage,AopDesc,AOPCommentDesc)
	   
       
			   SELECT  aop.AOPKey,PercentageValue,aop.AOPDescNew as AopDesc,AOPCommentDesc FROM AreaOfPracticeLW sm Inner Join AOPLW aop on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PolicyKey and  sm.aopkey  in(25)  order by  aop.AOPDescNew
       
			END
	ELSE
		BEGIN
			INSERT INTO #Temp (AOPKey,Percentage,AopDesc,AOPCommentDesc)
			SELECT  aop.AOPKey,PercentageValue,aop.AOPDescNew as AopDesc,AOPCommentDesc FROM AreaOfPracticeLW sm Inner Join AOPLW aop on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PolicyKey and  sm.aopkey not in(7,17,18,19,23,25,40) order by  aop.AOPDescNew
			--UPDATE #Temp SET DisplaySequence=1000 WHERE AOPKey=25
	 
			INSERT INTO #Temp (AOPKey,Percentage,AopDesc,AOPCommentDesc)
	   
       
			SELECT  aop.AOPKey,PercentageValue,aop.AOPDescNew as AopDesc,AOPCommentDesc FROM AreaOfPracticeLW sm Inner Join AOPLW aop on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PolicyKey and  sm.aopkey  in(25) order by  aop.AOPDescNew
       
			END


      
	   UPDATE #Temp set AopDesc='Appellate Practice' where AOPKEY=29
       update #Temp set AopDesc='Bankruptcy/Insolvency and Reorganization(1)' where AOPKey=3
       update #Temp set AopDesc='Copyright / Trademark (3)' where AOPKey=6
       update #Temp set AopDesc='Family Law (4)' where AOPKey=8
       update #Temp set AopDesc='Financial Institution/Banking/Finance (5)' where AOPKey=12
       update #Temp set AopDesc='Government / Municipal / Zoning (6)' where AOPKey=13
       update #Temp set AopDesc='Litigation / Defense / Plaintiff (7)' where AOPKey=18
       update #Temp set AopDesc='Real Estate Commercial (8)' where AOPKey=20
       update #Temp set AopDesc='Real Estate Residential (8)' where AOPKey=27
       update #Temp set AopDesc='Tax (9)' where AOPKey=22
       update #Temp set AopDesc='Trusts / Estates / Wills / Probate (10)' where AOPKey=24
		
		update #Temp set AopDesc='Civil Litigation - Plaintiff (7)' where AOPKey=55
		update #Temp set AopDesc='Construction Litigation - Plaintiff (7)' where AOPKey=56
		update #Temp set AopDesc='Corporate / Commercial / Business Litigation - Plaintiff (7)' where AOPKey=57
		--update #Temp set AopDesc='Litigation Other  Defense (7)' where AOPKey=58
		update #Temp set AopDesc='Mass Tort Litigation / Class Actions - Plaintiff (7)' where AOPKey=59
		update #Temp set AopDesc='Medical Malpractice - Plaintiff (7)' where AOPKey=60
		update #Temp set AopDesc='Non-Medical Malpractice - Plaintiff (7)' where AOPKey=61
		update #Temp set AopDesc='Personal Injury Litigation - Plaintiff (7)' where AOPKey=62
		update #Temp set AopDesc='Product Liability Litigation - Plaintiff (7)' where AOPKey=63
		update #Temp set AopDesc='Litigation Other - Plaintiff (7)' where AOPKey=67
		update #Temp set AopDesc='Corporate / Commercial / Business (11)' where AOPKey=5

	    SET @count = (Select COUNT(*) FROM #Temp)
	 if(@count=0)
	 BEGIN
	  INSERT INTO #Temp (AOPKey,Percentage,AopDesc) select AOPKey,NULL,AOPDescNew from AOPLW where aopkey not in(7,17,19,23,25,40) order by AOPDescNew 
	 END
	  UPDATE #Temp SET Percentage=Null where Percentage=0
       
if(@DaysDiffenence<0)
		BEGIN
			 SELECT DisplaySequence,AOPKey,AOPDesc,percentage as percentage,AOPCommentDesc FROM #Temp  where DisplaySequence<26  and AOPKey<55 order by DisplaySequence 
       SELECT DisplaySequence,AOPKey,AOPDesc,percentage as percentage,AOPCommentDesc FROM #Temp  where DisplaySequence>25 and AOPKey<55  order by DisplaySequence 
		END
	ELSE
		BEGIN
			 SELECT DisplaySequence,AOPKey,AOPDesc,percentage as percentage,AOPCommentDesc FROM #Temp  where DisplaySequence<36  order by DisplaySequence 
       SELECT DisplaySequence,AOPKey,AOPDesc,percentage as percentage,AOPCommentDesc FROM #Temp  where DisplaySequence>35  order by DisplaySequence 
		END

	   
	  
       
END

GO
