USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_LawPractice_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_LawPractice_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_LawPractice_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_LawPractice_LW] AS' 
END
GO
--exec UWRules_LawPractice_LW 137823, 139295, 70937, 138012, 115888, 2, 3
ALTER PROCEDURE [dbo].[UWRules_LawPractice_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
	
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT=0,@previousVersionSequence INT=0
	Declare @bankruptcy INT,@collection INT,@financial INT,@goverment INT,@realestateComm INT,@realestateResi INT,@tax INT,@wills INT,@litigationvalue INT,@AnnualRevenue INT,@familyLaw INT,@Copyright INT,@bankruptcyOld INT,@collectionOld INT,@financialOld INT,@govermentOld INT,@realestateCommOld INT,@realestateResiOld INT,@taxOld INT,@willsOld INT,@litigationvalueOld INT,@familyLawOld INT,@CopyrightOld INT,@litigationAOPSum INT,@corporateCommercialBusiness INT

	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	DECLARE @entertainmentSport int=0,@environmental int=0,@investmentCounselingMoneyMgt int=0,@international int=0,@litigationOtherPlaintiff int=0,@massTortLitigationPlaintiff INT=0,@massTortLitigationDefense INT=0,@medicalMalPracticePlaintiff INT=0
	DECLARE @productLiabilityPlaintiff INT=0,@patent INT=0,@mergerAcquistitions INT=0,@securityBonds INT=0,@other INT=0
	DECLARE @entertainmentSportOld int=0,@environmentalOld int=0,@investmentCounselingMoneyMgtOld int=0,@internationalOld int=0,@litigationOtherPlaintiffOld int=0,@massTortLitigationPlaintiffOld int=0,@massTortLitigationDefenseOld int=0,@medicalMalPracticePlaintiffOld INT=0
	DECLARE @productLiabilityPlaintiffOld int=0,@patentOld int=0,@mergerAcquistitionsOld int=0,@securityBondsOld int=0,@otherOld INT=0,@litigationOtherPlaintiffDesc VARCHAR(500),@litigationOtherPlaintiffDescOLD VARCHAR(500)
	
	
	SET @bankruptcy  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=3)
	SET @collection =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=31)
	SET @Copyright=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=6)
	SET @financial =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=12)
	SET @goverment =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=13)
	--SET @realestateComm =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=20)
	--SET @realestateResi =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=27)
	--SET @tax =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=22)
	--SET @wills =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=24)
	--SET @litigationvalue =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=18)
	--SET @familyLaw=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=8)
	--Set @corporateCommercialBusiness=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=5)
	
	Set @entertainmentSport=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=38)
	Set @environmental=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=10)
	Set @investmentCounselingMoneyMgt=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=15)
	Set @international=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=42)
	Set @litigationOtherPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=67)
	Set @massTortLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=59)
	Set @massTortLitigationDefense=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=68)
	Set @productLiabilityPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=63)
	Set @patent=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=48)
	Set @securityBonds=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=21)
	Set @other=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=25)
	Set @mergerAcquistitions=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=46)
	Set @medicalMalPracticePlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=60)
	--Commn rules for Both NB and Renewal Business of Policy
	
	--select @bankruptcy as bankruptcy,@collection as Collection,@Copyright as copyright,@financial as financial,@goverment as government,@entertainmentSport as entertainment,@environmental as environmental,@investmentCounselingMoneyMgt as investmentCounselingMoneyMgt,
	--@international as international,@litigationOtherPlaintiff as litigationOtherPlaintiff,@massTortLitigationPlaintiff as massTortLitigationPlaintiff
	
	
	

	
			
	
	set @rule_id='MassTortLitigationPlaintiff_Lawyers'
		if(@massTortLitigationPlaintiff>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Mass Tort/Class Action/Toxic Tort outside of ISMIE authority.','Outside of ISMIE authority.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	set @rule_id='MedicalMalpracticePlaintiff_Lawyers'
		if(@medicalMalPracticePlaintiff>25 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'More than 25% Medical malpractice.','More than 25% Medical malpractice.  Review percenage and expierence.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	set @rule_id='ProductLiabilityPlaintiff_Lawyers'
		if(@productLiabilityPlaintiff>25 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Product Liability more than 25%.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB Flow'
		set @rule_id='bankruptcyAOP_Lawyers'
		if(@bankruptcy>35 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Bankruptcy above 35% - review supp.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='collectionAOPNewApp_Lawyers'
		if(@collection>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Collections - review supplement.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='copyrightAOPNewApp_Lawyers'
		if( @Copyright>0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Limited to to copyright and trademark searches and filings.','Does attorney expect percentage to continue? How many engagements has firm handled in each of the past three years? Describe nature of Copyright/Trademark services.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			
	set @rule_id='financialInstitutionAOP_Lawyers'
		if(@financial>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Financial Institution - review supplement.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
	set @rule_id='governmentNBAOP_Lawyers'
		if(@goverment>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Government work - review population governmental entity.','What municipality?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id = 'EntertainmentSports_Lawyers';
		if(@entertainmentSport>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Entertainment / Sports needs UW review.','Who are they providing services to and what kind of services are they providing.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id= 'environmentalAOP_Lawyers'
		if(@environmental>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'If Environmental AOP has above 0%, it must be approved by UW. If the work is other than incidental to a real estate purchase, it requires ISMIE Referal.','Does attorney expect percentage to continue? How many engagements has firm handled in each of the past three years? Describe nature of Environmental services',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id= 'investmentCounselingMoneyMgtAOP_Lawyers'
		if(@investmentCounselingMoneyMgt>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has Investment Counseling/Money Mgt. (Requires ISMIE Referal).','Decline (Outside of ISMIE Authority Guidelines).',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id= 'InternationalAOP_Lawyers'
		if(@international>10 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Higher risk area of practice.','Describe the nature of legal services in the firm''s international services. Who are the services performed for?  What countries are invovlved?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id = 'LitigationOtherPlaintiff_Lawyers'
		if(@litigationOtherPlaintiff>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Review description.','Move to appropriate category if applicable.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		

		set @rule_id='MassTortLitigationDefense_Lawyers'
		if(@massTortLitigationDefense>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Mass Tort Litigation / Class Actions – Defense Greater than zero.','Review work being done. What services is the attorney providing.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	
		

		set @rule_id='Patent_Lawyers'
		if(@patent>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Outside of our authority if plaintiff counsel.','Are they acting as a Plaintiff counsel in Patent matters.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='MergersAcquisitions_Lawyers'
		if(@mergerAcquistitions>25 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Higher risk area of practice.','Which side was represented. Value of the 3 largest in the last 3 years.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		

		set @rule_id='securitiesBonds_Lawyers'
		if(@securityBonds>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Work in Securities and Bonds is a decline.','Decline (Outside of ISMIE Authority Guidelines).',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='otherAop_Lawyers'
		if(@other>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Other AOP - Review description.','Review the description and work with insured to put it in the appropriate category if applicable. Get as through description of the work if it does belong in other.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
END

IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
		
		SET @bankruptcyOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=3)
		SET @collectionOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=31)
		SET @financialOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=12)
		SET @govermentOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=13)
		--SET @realestateCommOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=20)
		--SET @realestateResiOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=27)
		--SET @taxOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=22)
		--SET @willsOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=24)
		--SET @litigationvalueOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=18)
		--SET @familyLawOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=8)
		SET @CopyrightOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=6)
	
		Set @entertainmentSportOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=38)
		Set @environmentalOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=10)
		Set @investmentCounselingMoneyMgtOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=15)
		Set @internationalOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=42)
		Set @litigationOtherPlaintiffOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=67)
		Set @massTortLitigationPlaintiffOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=59)
		Set @productLiabilityPlaintiffOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=63)
		Set @patentOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=48)
		Set @securityBondsOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=21)
		Set @otherOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=25)
		Set @mergerAcquistitionsOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=46)
	--	Set @medicalMalPracticePlaintiffOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=60)
		Set @litigationOtherPlaintiffDesc=(select CASE WHEN aopLW.AOPCommentDesc IS NOT NULL and aopLW.AOPCommentDesc  <> ''  THEN aopLW.AOPCommentDesc  ELSE 'NA'  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=67)
		Set @litigationOtherPlaintiffDescOld=(select CASE WHEN aopLW.AOPCommentDesc IS NOT NULL and aopLW.AOPCommentDesc  <> ''  THEN aopLW.AOPCommentDesc  ELSE 'NA'  END from AreaOfPracticeLW aopLW where aopLW.policykey=@previousPolicyKey  and aopLW.VersionSequence=@previousVersionSequence and aopLW.AOPKey=67)
	
		set @rule_id='bankruptcyRenewAOP_Lawyers'
		if( (@bankruptcyOld<35 and @bankruptcy>35) or (@bankruptcyOld>35 and @bankruptcy-@bankruptcyOld>5))
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has more than 35% bankruptcy.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='collectionRenewAOP_Lawyers'
		if( (@collectionOld<20 and @collection>35) or (@collectionOld>20 and @collection-@collectionOld>5))
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Collection increased.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
--select @Copyright as new,@CopyrightOld as OLD
		set @rule_id='copyrightAOPRenew_Lawyers'
		if( @Copyright>@CopyrightOld)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Increase in Copyright/Trademark - review supplement.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='EntertainmentSportsRenewal_Lawyers'
		if( @entertainmentSport>@entertainmentSportOld)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Entertainment / Sports needs UW review.','Who are they providing services to and what kind of services are they providing.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id= 'environmentalAOPNewApp_Lawyers'
		if(@environmental>@environmentalOld )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Increase in Environmental work. If the work is other than incidental to a real estate purchase, it is a decline.','Are they providing Environmental as part of a real estate purchase or sale?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		
		set @rule_id= 'financialInstitutionAOP_Lawyers'
		if(@financial>@financialOld )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Review Supplement: If the firm has: 1. Acted as General Counsel, or is CEO, Chairman, President, officer, director or member of any internal committee; or 2. Had an equity interest in said institution; or 3. Had a loan commitment for the subject institution; or 4. Provided services related to regulatory compliance.','What position does the attorney hold?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id= 'governmentRenewAOPNew_Lawyers'
		if(@goverment-@govermentOld>10 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Increase in Government: Review the supplement.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id= 'investmentCounselingMoneyMgtRenewAOP_Lawyers'
		if(@investmentCounselingMoneyMgt-@investmentCounselingMoneyMgtOld>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has Investment Counseling/Money Mgt. and it  is outside the our Underwriting Authority.','Please describe nature of services provided and value of investments involved in relation to the firm''s Investment Counseling/Money Mgt. legal services.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			--select @litigationOtherPlaintiff as litigationOtherPlaintiff,@litigationOtherPlaintiffOld as litigationOtherPlaintiffOld,@litigationOtherPlaintiffDesc as litigationOtherPlaintiffDesc,@litigationOtherPlaintiffDescOLD as litigationOtherPlaintiffDescOLD
		set @rule_id = 'validateOtherPlantiff_Lawyers'
		if(@litigationOtherPlaintiff >0 and (@litigationOtherPlaintiff>@litigationOtherPlaintiffOld or @litigationOtherPlaintiffDesc<> @litigationOtherPlaintiffDescOLD ))
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Plaintiff Other.','Move to appropriate category if applicable.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

				

		set @rule_id='securitiesBondsRenewal_Lawyers'
		if(@securityBonds-@securityBondsOld>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Work in Securities and Bonds is a decline.','Please describe nature of services provided and value of investments involved in relation to the firm''s Securities/Bonds legal services.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='otherAOPRenew_Lawyers'
		if(@other>0 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Other AOP - Review description.','Review the description and work with insured to put it in the appropriate category if applicable. Get as through description of the work if it does belong in other.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END




GO
