USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateQuoteSelection_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateQuoteSelection_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateQuoteSelection_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateQuoteSelection_p] AS' 
END
GO
--EXEC UpdateQuoteSelection_p 58798, 90601
-- select transactionsequence,IsQuoteSelected from quote where PolicyKey=58798 and transactionsequence=90602
ALTER PROCEDURE [dbo].[UpdateQuoteSelection_p]
	(
	@PolicyKey INT,
	@TransactionSequence INT,
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
	DECLARE @getSelectionValue CHAR
	SELECT @getSelectionValue=IsQuoteSelected from quote where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
	if(@getSelectionValue is NULL OR @getSelectionValue='' OR @getSelectionValue='N')
	BEGIN
		PRINT 'Y'
		UPDATE QUOTE set IsQuoteSelected='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
	END

	ELSE
	BEGIN
	PRINT 'N'
	UPDATE QUOTE set IsQuoteSelected=NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
	END
END


GO
