USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateIndicationModifierLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateIndicationModifierLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateIndicationModifierLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateIndicationModifierLW_p] AS' 
END
GO
--exec InsertUpdateIndicationModifierLW_p 111945, 0, null, null, null, null, null, 3, '2020-08-31 18:09:34.745', 'AR', 2,'Y'
ALTER PROCEDURE [dbo].[InsertUpdateIndicationModifierLW_p]
(
@PolicyKey INT,
@SchduleRatingModifier1 INT,
@SchduleRatingModifier2 INT,
@SchduleRatingModifier3 INT,
@SchduleRatingModifier4 INT,
@SchduleRatingModifier5 INT,
@SchduleRatingModifier6 INT,
@LastUpdateUserID varchar(100),
@LastUpdateTimeStamp VARCHAR(50),
@StateCode VARCHAR(30),
@AttorneyCount INT,
@IsPolicyCreatedNew CHAR
)
AS
BEGIN
	DECLARE @Count INT=0
	IF(@SchduleRatingModifier1  is Null)
	BEGIN
		SET @SchduleRatingModifier1=0
	END
	IF(@SchduleRatingModifier2  is Null)
	BEGIN
		SET @SchduleRatingModifier2=0
	END
	IF(@SchduleRatingModifier3  is Null)
	BEGIN
		SET @SchduleRatingModifier3=0
	END
	IF(@SchduleRatingModifier4  is Null)
	BEGIN
		SET @SchduleRatingModifier4=0
	END
	IF(@SchduleRatingModifier5  is Null)
	BEGIN
		SET @SchduleRatingModifier5=0
	END
	IF(@SchduleRatingModifier6  is Null)
	BEGIN
		SET @SchduleRatingModifier6=0
	END

	IF(@IsPolicyCreatedNew='Y')
	BEGIN
		IF(@StateCode<>'NM' and @StateCode<>'OK' and @StateCode<>'WA')
		BEGIN
		--	DECLARE @MinTransactionSequence INT=(Select Min(TransactionSequence) FROM PolicyTransaction Where Policykey=@PolicyKey)
		--	DECLARE @AttorneyCount INT =(select count(*) from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence)
		
			IF(@AttorneyCount<3)
			BEGIN
				DECLARE @TotalCovModifiers INT=@SchduleRatingModifier1+@SchduleRatingModifier2+@SchduleRatingModifier3+@SchduleRatingModifier4+@SchduleRatingModifier5+@SchduleRatingModifier6
				DECLARE @ModifierComment VARCHAR(500)='Firm Characteristic debit'
				--IF(@StateCode='MO' AND @TotalCovModifiers<=20)
				--BEGIN
			
				
				--	SET @SchduleRatingModifier3=@SchduleRatingModifier3+5
				--	SET @ModifierComment='Firm Characteristic debit'
				--	--UPDATE CoverageModifiers SET Percentage=@ExistingPercentage  where Policykey=@PolicyKey and ModifierKey=3
				--	UPDATE FIRMLW SET ModifierComment=@ModifierComment Where PolicyKey=@PolicyKey 
				--END
				IF(@TotalCovModifiers<=20)
				BEGIN
				
					SET @SchduleRatingModifier1=@SchduleRatingModifier1+5
					SET @ModifierComment='Firm Characteristic debit'
					--UPDATE CoverageModifiers SET Percentage=@ExistingPercentage  where Policykey=@PolicyKey and ModifierKey=2
					UPDATE FIRMLW SET ModifierComment=@ModifierComment Where PolicyKey=@PolicyKey
				END

			END
		END
	END
	--select @SchduleRatingModifier1,@SchduleRatingModifier2,@SchduleRatingModifier3,@SchduleRatingModifier4,@SchduleRatingModifier5,@SchduleRatingModifier6,@AttorneyCount
	
	SET @Count=(SELECT CASE WHEN Count(*) IS null THEN 0 ELSE COUNT(*) END From IndicationModifiers WHere PolicyKey=@PolicyKey)
	IF(@Count=0)
	BEGIN
	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) 
	Values(@PolicyKey,1,@SchduleRatingModifier1,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) 
	Values(@PolicyKey,2,@SchduleRatingModifier2,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) 
	Values(@PolicyKey,3,@SchduleRatingModifier3,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) 
	Values(@PolicyKey,4,@SchduleRatingModifier4,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) 
	Values(@PolicyKey,5,@SchduleRatingModifier5,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) 
	Values(@PolicyKey,6,@SchduleRatingModifier6,@LastUpdateUserID,@LastUpdateTimeStamp)
	END

	ELSE
	BEGIN
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier1,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE ModifierKey=1 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier2,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE ModifierKey=2 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier3,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE ModifierKey=3 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier4,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE ModifierKey=4 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier5,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE ModifierKey=5 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier6,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE ModifierKey=6 and  PolicyKey=@PolicyKey 
	END





	

















END


GO
