USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateSpecificRatingData_proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[StateSpecificRatingData_proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateSpecificRatingData_proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[StateSpecificRatingData_proc] AS' 
END
GO


ALTER PROCEDURE [dbo].[StateSpecificRatingData_proc] 
	@PolicyKey  varchar(10),
	@StateCode varchar(10)
	
AS
BEGIN
	declare @IsClaimOptionType char(1)
	declare @IsClaimExpenseType char(1)
	declare @IsManualQuote char(1)
	declare @IsDollarDefense char(1)
	declare @AggregateLimit int
	declare @OccuranceLimit int

	declare @CoverageSequence int
	declare @TransactionSequence int
	

	declare c1 cursor  for 
	select pc.IsClaimOptionType,pc.IsClaimExpensesType,pc.IsDollarDefense,pc.IsManualPremium,pc.AggregateLimit,pc.OccuranceLimit,
			pc.CoverageSequence,pc.TransactionSequence from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and pc.PolicyKey = @policyKey
	OPEN c1
	FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit,
							@CoverageSequence,@TransactionSequence
	WHILE @@FETCH_STATUS = 0
		begin
			--if(@StateCode = 'ND' or @StateCode = 'AR')// commented for ND for new production
			if( @StateCode = 'AR')
			begin
				
				if(@AggregateLimit < 1000000 and @IsClaimExpenseType = 'N')
				begin
					update PolicyCoverage set IsClaimExpensesType = 'Y' where PolicyKey=@PolicyKey and CoverageSequence =@CoverageSequence
					and TransactionSequence=@TransactionSequence
				end

			end

		FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit,
							@CoverageSequence,@TransactionSequence
		end
		close c1
		deallocate c1


		if(@StateCode = 'SD')
		begin
			update PolicyCoverage set IsClaimExpensesType = 'N' where PolicyKey = @PolicyKey
		end

		if(@StateCode = 'NM' or @StateCode = 'NJ')
		begin
			update PolicyCoverage set IsDollarDefense = 'Y' where PolicyKey = @PolicyKey
		end

		if(@StateCode = 'NJ' or @StateCode = 'NM' or @StateCode = 'VT')
		begin
			update PolicyCoverage set IsClaimExpensesType = 'Y' where PolicyKey = @PolicyKey
		end

END


GO
