USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetFlagsLawyers_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SetFlagsLawyers_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetFlagsLawyers_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SetFlagsLawyers_p] AS' 
END
GO
--exec SetFlagsLawyers_p 130953,'validateFirmAddress_Lawyers','The address must be a physical address not a PO box','In addition to the PO box, get a physical address',1
ALTER PROCEDURE [dbo].[SetFlagsLawyers_p] 
(
	@PolicyKey INT,
	@ruleId VARCHAR(100),
	@question VARCHAR(MAX),
	@hint VARCHAR(500),
	@ActionTakenBy INT
)
AS

BEGIN
	DECLARE @count INT
	DECLARE @Description VARCHAR(MAX)
	DECLARE @ToolTip VARCHAR(500)
	DECLARE @isArchived VARCHAR(10)
	DECLARE @RulePolicyId INT
	SELECT @count=count(*) FROM RulePolicyTransaction WHERE PolicyKey=@PolicyKey and LOWER(RuleId)=LOWER(RTRIM(LTRIM(@ruleId))) and isArchived='NO'
	
	IF(@count>0)
		BEGIN
			SELECT @RulePolicyId=RulePolicyId, @Description=Description,@ToolTip=ToolTipDescription,@isArchived=isArchived FROM RulePolicyTransaction WHERE PolicyKey=@PolicyKey and LOWER(RuleId)=LOWER(RTRIM(LTRIM(@ruleId))) and  isArchived='NO'
			IF(LOWER(RTRIM(LTRIM(@Description)))!=LOWER(RTRIM(LTRIM(@question))) OR LOWER(RTRIM(LTRIM(@ToolTip)))!=LOWER(RTRIM(LTRIM(@hint))))
				BEGIN
					--select @RulePolicyId,@count as count12_23
					UPDATE RulePolicyTransaction set isArchived='YES' WHERE RulePolicyId=@RulePolicyId
					INSERT INTO RulePolicyTransaction(PolicyKey,RuleID,Description,ToolTipDescription,ActionTakenBy,isArchived,TimeStamp,RuleStatus,LastUpdateUserID,LastUpdateTimeStamp)VALUES(@PolicyKey,@ruleId,@question,@hint,@ActionTakenBy,'NO',GETDATE(),'NEW',@ActionTakenBy,getdate())
			END
			
		END
	IF(@count=0)
		BEGIN
			
			INSERT INTO RulePolicyTransaction(PolicyKey,RuleID,Description,ToolTipDescription,ActionTakenBy,isArchived,TimeStamp,RuleStatus,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)VALUES(@PolicyKey,@ruleId,@question,@hint,@ActionTakenBy,'NO',GETDATE(),'NEW',getdate(),@ActionTakenBy,@ActionTakenBy,getdate())
			
		END
 END

GO
