USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcessERPEndorsementACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProcessERPEndorsementACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcessERPEndorsementACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ProcessERPEndorsementACC_p] AS' 
END
GO
-- exec ProcessERPEndorsementACC_p 125907, 126257, 126077, 3, '2021-08-25', 16, '2021-09-08 13:38:54.607'
ALTER PROCEDURE [dbo].[ProcessERPEndorsementACC_p]
(
@PolicyKey int,
@AccountKey INT,
@AddressKey INT,
@LastUpdateUserID int,
@EndorsementEffectiveDate DATETIME,
@EndorsementType INT,
@LastUpdateTimeStamp VARCHAR(100)
)
as begin


DECLARE @AccountKey_INSERTed INT
DECLARE @AddressKey_INSERTed INT
DECLARE @VersionSequence_INSERTed INT
DECLARE @TransactionSequence_INSERTed INT
DECLARE @CoverageSequence_INSERTed INT
DECLARE @AgentName varchar(100)
DECLARE @PolicyEffectiveDate datetime
DECLARE @StatusKey INT
DECLARE @PolicyExpirationDate datetime
DECLARE @TransactionExpirationDate datetime
DECLARE @maxAccountID INT
DECLARE @QuoteNumber varchar(100)
DECLARE @AppCreatedDate datetime
DECLARE @IsFirmHaveLawyersLiabilityInsurance char(20)


DECLARE @AggregateDeductible INT
DECLARE @LimitSequencePross INT
DECLARE @DeductibleSequencePross INT

DECLARE @IsClaimExpensesType char(1)

DECLARE @IsFirmPracticeInOtherState char(1)
DECLARE @IsProfDefenceExpense char(1)
DECLARE @IsRenewed char
DECLARE @AccountID INT
DECLARE @VersionSequence INT

DECLARE @finilazedTransactionSequence INT

begin try



SELECT @AgentName=AgentName FROM UserDetails WHERE UserNo=@LastUpdateUserID
--getting policyeffectivedate
SELECT @PolicyEffectiveDate= PolicyEffectiveDate FROM Policy WHERE policykey=@PolicyKey

SELECT @PolicyExpirationDate=PolicyExpirationDate,@TransactionExpirationDate= PolicyExpirationDate FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and
TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)



SELECT @VersionSequence=max(versionsequence) FROM Firm WHERE policykey=@PolicyKey

DECLARE @VersionKey_Inserted INT
		INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)Select @PolicyKey,@LastUpdateUserID,getdate(),@LastUpdateUserID,getdate(),'I' 
		select @VersionKey_Inserted=IDENT_CURRENT('Version')
		Update Policy Set VersionKey=@VersionKey_Inserted,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where Policykey=@PolicyKey
---Code paste below
insert into Firm(ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,LastUpdateUserID,LastUpdateTimeStamp,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,FirstReviewUserID,PolicyKey,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,IsQuotePage,IsMailSent,Comment,IsLicenseNumberUpdated,QuoteEffectiveDate,QuoteExpiryDate,AcceptanceDate,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsViewed,IssuedDate,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,IsRenewed,QuoteComment,RenewBasicInfoPage,IsRenewFirmReferred,IsRenewalReview,RenewalReviewComments,AverageRevenue,SwapRevenueYear,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,PricingStatus,UnderwriterComment,QQRMLink,CreatedBy,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,MarketingId,isNewApp,IsThankYouEmailSend,IsFirmPage,IsCoveragePage,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,IsIndicationMailSent,IsAOPChange,isAppCompleted,completedPageCommemnt,IndicationSentDate,IsIndicationPage,lostworkqComment,oldAccountId,VersionKey)
		SELECT ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,@LastUpdateUserID,GETDATE(),IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,FirstReviewUserID,PolicyKey,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,IsQuotePage,IsMailSent,Comment,IsLicenseNumberUpdated,QuoteEffectiveDate,QuoteExpiryDate,AcceptanceDate,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsViewed,IssuedDate,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,IsRenewed,QuoteComment,RenewBasicInfoPage,IsRenewFirmReferred,IsRenewalReview,RenewalReviewComments,AverageRevenue,SwapRevenueYear,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,PricingStatus,UnderwriterComment,QQRMLink,@LastUpdateUserID,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,MarketingId,isNewApp,IsThankYouEmailSend,IsFirmPage,IsCoveragePage,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,IsIndicationMailSent,IsAOPChange,isAppCompleted,completedPageCommemnt,IndicationSentDate,IsIndicationPage,lostworkqComment,oldAccountId,@VersionKey_Inserted from Firm where policykey=@PolicyKey and VersionSequence=@VersionSequence


--getting newly INSERTed versionsequence here
SELECT @VersionSequence_INSERTed=max(VersionSequence) FROM Firm WHERE policykey=@PolicyKey

---Code ended Here
 SELECT  @finilazedTransactionSequence=pt.TransactionSequence FROM policytransaction pt inner join Quote q on pt.PolicyKey=q.Policykey and pt.TransactionSequence=q.TransactionSequence
	WHERE pt.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'


UPDATE policytransaction SET TransactionExpirationDate=@EndorsementEffectiveDate,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

INSERT INTO PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,StatusKey,VersionSequence,TotalPolicyModifierPercentage,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate,VersionKey)
SELECT @PolicyKey,@AccountKey, @EndorsementEffectiveDate,@endorsementType,@PolicyExpirationDate,@PolicyExpirationDate,
ProducerCode,SubInsuranceCarrier,StatusKey,@VersionSequence_INSERTed,TotalPolicyModifierPercentage,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,@LastUpdateUserID,GETDATE(),@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted 
FROM PolicyTransaction
 WHERE PolicyKey = @PolicyKey and TransactionSequence = @finilazedTransactionSequence 


SELECT @TransactionSequence_INSERTed=IDENT_CURRENT('PolicyTransaction')

INSERT INTO PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,ClassCode,
TotalCovModifierPercentage,OccuranceLimit,IsClaimOptionType,IsClaimExpensesType,AggregateLimit,OccuranceDeductible,AggregateDeductible,IsDollarDefense,Premium,TotalCoverageTaxAmount,InitialCovPremium,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate )
SELECT @PolicyKey,@TransactionSequence_INSERTed,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,ClassCode,
TotalCovModifierPercentage,OccuranceLimit,IsClaimOptionType,IsClaimExpensesType,AggregateLimit,OccuranceDeductible,AggregateDeductible,IsDollarDefense,Premium,TotalCoverageTaxAmount,InitialCovPremium ,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp
FROM PolicyCoverage
WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

SELECT @CoverageSequence_INSERTed=IDENT_CURRENT('PolicyCoverage')



DECLARE @PremiumVariation numeric(17,2)
DECLARE @TaxVariation numeric(17,2),@EndorsementPremium numeric(17,2), @EndorsementTax numeric(17,2),@TotalEndorsementPremium numeric(17,2)
DECLARE @OldPolicyPremium  numeric(17,2),@OldTax  numeric(17,2)
DECLARE @isFinancialEndorsement CHAR='N'

select @OldPolicyPremium=TotalPremium,@OldTax=TotalPolicyTaxAmount from Policytransaction where Policykey=@Policykey and TransactionSequence=@finilazedTransactionSequence

select @PremiumVariation=CASE When PremiumVariation is null Then 0.0 Else PremiumVariation End,@TaxVariation=CASE When TaxVariation is null Then 0.0 Else TaxVariation End from PremiumCalculationBuffer where Policykey=@PolicyKey

		if(@PremiumVariation is null)
			set @PremiumVariation=0
			if(@TaxVariation is null)
			set @TaxVariation=0
	Set @EndorsementPremium=@OldPolicyPremium+(@premiumVariation)
	SET @EndorsementTax=@OldTax+(@taxVariation)
	Set @TotalEndorsementPremium=@EndorsementPremium+@EndorsementTax

	if(@EndorsementPremium is null)
		set @EndorsementPremium=0
		if(@EndorsementTax is null)
		set @EndorsementTax=0
		if(@TotalEndorsementPremium is null)
		set @TotalEndorsementPremium=0

if(@PremiumVariation>0.0)
begin
SET @isFinancialEndorsement='Y'
end
--updating from component
--Commenting now--
UPDATE PolicyTransaction SET TotalPremium= @EndorsementPremium,TotalPolicyTaxAmount= @EndorsementTax,InvoicedPremium=@TotalEndorsementPremium  
			,LastUPDATETimeStamp=GETDATE(),LastUPDATEUserID=@LastUpdateUserID
	WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_INSERTed

UPDATE PolicyCoverage SET Premium=@TotalEndorsementPremium,TotalCoverageTaxAmount=@EndorsementTax,	InitialCovPremium=@EndorsementPremium
	WHERE CoverageSequence=@CoverageSequence_INSERTed and TransactionSequence=@TransactionSequence_INSERTed and PolicyKey=@PolicyKey

INSERT INTO Quote (PolicyKey,TransactionSequence,IsQuoteSELECTed,IsFirstQuote,IsMinimumPremium,TotalPremiumFirstRange,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)
SELECT @PolicyKey,@TransactionSequence_INSERTed,'Y','N','N',TotalPremiumFirstRange,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateUserID
 FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,EndorsementEffectiveDate,TransactionTypeKey,EndorsementIssuedDate,LastUpdateTimeStamp,LastUpdateUserID,isFinancialEndirsement,PremiumVariation,TaxVariation,CreatedBy,CreatedDate,VersionKey)
VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@EndorsementEffectiveDate,@EndorsementType,@LastUpdateTimeStamp,@LastUpdateTimeStamp,@LastUpdateUserID,@isFinancialEndorsement,@PremiumVariation,@TaxVariation,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted )

UPDATE quote SET IsThisOptionFinalised=null WHERE PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence
UPDATE quote SET IsThisOptionFinalised='Y' WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed

INSERT into RatingTrace (PolicyKey,TransactionSequence,LastUpdateTimeStamp,LastUpdateUserID,XmlInputDatatoRating,XmlOutputDatafromRating,CreatedBy,CreatedDate)
 select @PolicyKey,@TransactionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateUserID,@LastUpdateTimeStamp
  from RatingTrace 
where PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

--UPDATE quote SET IsThisOptionFinalised=null WHERE PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence
--UPDATE quote SET IsThisOptionFinalised='Y' WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed

	--DECLARE @AttorneyCount INT
	--							DECLARE @isDeathDisabilityERP CHAR
	--							DECLARE @isFirmERP CHAR
	--							DECLARE @isAttorneyRetiring CHAR

	--							Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey

	--							SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where PolicyKey=@PolicyKey))
	--							if(@AttorneyCount=1 and (@isFirmERP='Y' or @isAttorneyRetiring='Y'))
	--							begin
						
	--								Update Firm set IsRenewed='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey
	--							end


--select IsRenewed from Firm where PolicyKey=71991	

--------------------------------------------------------------






----------------------------------------------------------------------
--Now Commented
		
		DECLARE	@IsClaimOptionType VARCHAR(5)
		DECLARE @IsClaimExpenseType VARCHAR(5)
		DECLARE @AggregateLimit INT
		DECLARE @OccuranceLimit INT
		DECLARE @DeductibleAmount INT
 		DECLARE @IsDollarDefense VARCHAR(5)

		SELECT @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType , @IsProfDefenceExpense=pc.IsDollarDefense 
		FROM Quote q, PolicyCoverage pc 
        WHERE pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

        SELECT @LimitSequencePross=LimitSequence FROM Limits WHERE AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=2
        SELECT @DeductibleSequencePross = DeductibleSequence FROM Deductibles WHERE AggregateDeductible=@AggregateDeductible and CoverageKey=2
              
       
	   	  
		INSERT INTO ProfessionalLiabilityInsDetail(InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium, IsClaimExpLiability,PriorActDatePross,IsPerClaim,
		PolicyKey,VersionSequence,IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers, InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate,VersionKey)
		SELECT InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross, IsPerClaim,PolicyKey,@VersionSequence_Inserted,
		IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross, DeductibleSequencePross,@LastUpdateTimeStamp,@LastUpdateUserID ,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted 
		FROM ProfessionalLiabilityInsDetail WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		UPDATE Firm SET IsPolicyExcludesCoverage='N' WHERE PolicyKey = @PolicyKey and VersionSequence = @VersionSequence_INSERTed	      
       

  
	  

	---------------------------------------------
		INSERT INTO AreaOfPractice (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
		SELECT @PolicyKey,@VersionSequence_INSERTed,AOPKey,PercentageValue,AOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 FROM AreaOfPractice WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		-----------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
		INSERT INTO FirmInitLawsuits(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees, IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUPDATEUserID, LastUPDATETimeStamp,VersionKey,CreatedBy,CreatedDate) 
		SELECT @PolicyKey,@VersionSequence_INSERTed,AmountOfFeesSued,DueDateFees,SuitFilesDateFees, IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey, LastUPDATEUserID,LastUPDATETimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM FirmInitLawsuits WHERE  PolicyKey=@PolicyKey and VersionSequence= @VersionSequence

		------------------------------------------------------------------------------------------------

		-------------------------------------------------SeperateEntitySupp Supplement data insertion---------------------------------------------

		insert into SeperateEntitySupp (EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe, TotalSupportStaffSe,DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,
		LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate,PolicyKey,VersionSequence,IsStaffIncludedInMain,IsRevenueIncludedInMain,VersionKey,CreatedBy,CreatedDate)
		select EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,DetailedDescSe, LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,
		LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate,PolicyKey,@VersionSequence_Inserted, IsStaffIncludedInMain,IsRevenueIncludedInMain,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from SeperateEntitySupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		-------------------------------------------------FundsControlledSupp Supplement data insertion---------------------------------------------

		insert into FundsControlledSupp (TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,NumberOfClientsFc,NumberOfFirmEmployeesFc,
		IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,ProvideNumberOfClientFc,ClientIndustryFc,PolicyKey,VersionSequence,ClientIndustryFcOthers,HaveInvestmentAuthorityFC,VersionKey,CreatedBy,CreatedDate)
		select TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,NumberOfClientsFc,NumberOfFirmEmployeesFc,
		IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,ProvideNumberOfClientFc,ClientIndustryFc,PolicyKey,@VersionSequence_Inserted,ClientIndustryFcOthers,HaveInvestmentAuthorityFC,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from FundsControlledSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------GrossRevenueForFirm Supplement data insertion---------------------------------------------

		insert into GrossRevenueForFirm (GrossRevenueKey, YearEndDate,Amount,PolicyKey,VersionSequence,VersionKey,CreatedBy,CreatedDate)
		select GrossRevenueKey, YearEndDate,Amount,PolicyKey,@VersionSequence_Inserted,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------TrusteeOrEstateSupp Supplement data insertion---------------------------------------------
		
		insert into TrusteeOrEstateSupp (NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,IsBeneficiaryInterestTrust,
		PolicyKey,VersionSequence,TypeofTrustKey,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,IsBeneficiaryInterestTrust,
		PolicyKey,@VersionSequence_Inserted,TypeofTrustKey,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from TrusteeOrEstateSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------OutsideInterestSupp Supplement data insertion---------------------------------------------
		
		insert into OutsideInterestSupp (ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
		AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,PolicyKey,VersionSequence,ClientIndustryOsiKeyOthers,
		ServiceIndustryOsiKeyOthers,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
		AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,PolicyKey,@VersionSequence_Inserted,ClientIndustryOsiKeyOthers,
		ServiceIndustryOsiKeyOthers,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from OutsideInterestSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------ClaimIncidentSupp Supplement data insertion---------------------------------------------
		
		insert into ClaimIncidentSupp (NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,ClaimNotifiedCiDate,
		AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,
		StepsTakenToPreventClaimCi,PolicyKey,VersionSequence,CurrentStatus,InsurerLossRevenue,IsClaimInSuit,InsurerLoss,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,ClaimNotifiedCiDate,
		AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,
		StepsTakenToPreventClaimCi,PolicyKey,@VersionSequence_Inserted,CurrentStatus,InsurerLossRevenue,IsClaimInSuit,InsurerLoss,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from ClaimIncidentSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------FinancialPlanningAndIAServiceSupp Supplement data insertion---------------------------------------------
		
		insert into FinancialPlanningAndIAServiceSupp (IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,IsOmissionsPolicy,IsAnyNonPublicInvestments,
		IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan,PolicyKey,VersionSequence,IsAnyReferralFeesInvestments,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,
		IsAnyEmployeeBenefitPlan,PolicyKey,@VersionSequence_Inserted,IsAnyReferralFeesInvestments,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		from FinancialPlanningAndIAServiceSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------Attestation Supplement data insertion---------------------------------------------
		
		insert into Attestation (FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,IsLastPeerReviewAtt,IndicatedRevenueInAttestation,PolicyKey,VersionSequence,
		LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,IsLastPeerReviewAtt,IndicatedRevenueInAttestation,PolicyKey,VersionSequence,LastPeerReviewAttComment,
		AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from Attestation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------

		-----------------Populate Coverage Modifiers--------------------------
		IF(@StatusKey=8)
		BEGIN
			INSERT INTO CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUPDATETimeStamp,LastUPDATEUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedBy,CreatedDate) 
			SELECT @PolicyKey,Comment,@CoverageSequence_INSERTed,GETDATE(),@LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_INSERTed,@LastUpdateUserID,@LastUpdateTimeStamp
			 FROM CoverageModifiers WHERE PolicyKey = @PolicyKey and TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)  
		END
	end try
	begin catch
		prINT error_message()
		rollback 
	end catch
end



GO
