USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCurrentLimitDeductiblesData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetCurrentLimitDeductiblesData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCurrentLimitDeductiblesData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetCurrentLimitDeductiblesData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[GetCurrentLimitDeductiblesData_p]
	(@PolicyKey INT)
AS
BEGIN
--SELECT * FROM policytransaction WHERE policykey=54149 	
--SELECT * FROM quote WHERE policykey=54149 	and IsThisOptionFinalised='Y'
DECLARE @TransactionSequence INT
DECLARE @CoverageSequence  INT
 SELECT @TransactionSequence= TransactionSequence FROM quote WHERE policykey=@PolicyKey 	and IsThisOptionFinalised='Y'
 SELECT @CoverageSequence=CoverageSequence FROM PolicyCoverage WHERE TransactionSequence=@TransactionSequence and PolicyKey=@PolicyKey

	SELECT  PARSENAME(Convert(VARCHAR,Convert(money,pc.AggregateDeductible),1),2) AS currentDeductible,
	PARSENAME(Convert(VARCHAR,Convert(money,pc.AggregateLimit),1),2) +'/' +PARSENAME(Convert(VARCHAR,Convert(money,pc.OccuranceLimit),1),2) AS currentLimit, 
 pc.CoverageSequence, pc.Premium, pc.LAStUpdateUserID, pc.LAStUpdateTimeStamp, pc.RetroActiveDate, pc.IsClaimOptionType as currentClaimOptionType,pc.IsClaimOptionType as IsClaimOptionType, pc.IsClaimExpensesType AS currentClaimExpensesType, 
 pc.IsDollarDefense AS currentDollarDefense,pc.IsDollarDefense AS IsDollarDefense, pc.TransactionSequence, pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, 
 pc.MarketableProductKey,pc.OccuranceLimit AS ocLimit,pc.AggregateLimit AS aggLimit,pc.AggregateDeductible AS aggDeductible  FROM PolicyCoverage pc, Limits l,Deductibles d 
 WHERE l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey 
 and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey = @PolicyKey
 and pc.TransactionSequence =@TransactionSequence and pc.CoverageSequence=@CoverageSequence 

END


GO
