USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetPolicyIssuedReport_Lawyer]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_GetPolicyIssuedReport_Lawyer]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetPolicyIssuedReport_Lawyer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_GetPolicyIssuedReport_Lawyer] AS' 
END
GO
--exec  sp_GetPolicyIssuedReport_Lawyer '2019-09-05','2019-09-05'
ALTER PROCEDURE [dbo].[sp_GetPolicyIssuedReport_Lawyer]
@fromDate DATETIME,
@toDate DATETIME
AS
BEGIN
	--Declare @fromDate DATETIME, @toDate DATETIME
	--SET @fromDate='2017-11-15'
	--SET @toDate='2017-11-15'
	--SELECT DISTINCT PT.PolicyKey as [Policy],CONVERT(VARCHAR(10),F.IssuedDate, 101) as [Issued Date],S.StatusDesc as [Status] from PolicyTransaction PT
	--INNER JOIN Firm F ON PT.PolicyKey=F.PolicyKey
	--INNER JOIN Status S ON S.StatusKey=PT.StatusKey
	--where PT.StatusKey=6 and F.IssuedDate>=@fromDate and F.IssuedDate<=@toDate
	DECLARE @SearchType VARCHAR(100)
	SET @SearchType='issuedate'
		 exec UpdateVersionSequenceLW_p @SearchType,@fromDate,@toDate
	select convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  , a.AccountName, convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.Address1, adds.Address2, adds.City, adds.Zip, pt.TotalPremium, pt.TotalPolicyTaxAmount,
 pt.InvoicedPremium, pc.AggregateLimit, pc.OccuranceLimit, pc.AggregateDeductible,  
 (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType,  
 (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType,  
 convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross,  f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns,   p.PolicyKey, 
 pl.IsPriorActDateFull, convert(varchar,f.IssuedDate, 101) as IssuedDate,   
 case when pd.PaymentMode='eft' then 'Manual Check' else pd.PaymentMode END as PaymentMode,   p.PolicyNumber,  f.ContactPerson,  (CASE p.PolicyStatusKey WHEN '2' THEN 'Renewal' ELSE 'NB' END) as PolicyStatus,  
 p.RenewOfPolicyNumber, f.Is9010Policy,  pt.ProducerCode,  pc.IsDollarDefense    
 from Policy p  
 inner join PolicyCoverage pc on pc.CoverageKey = 3 and  p.PolicyKey = pc.PolicyKey    
 inner join Quote q on q.IsThisOptionFinalised='Y' and p.PolicyKey = q.PolicyKey  
 inner join PolicyTransaction pt on  pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence and  pt.TransactionSequence=q.TransactionSequence 
 and  pt.StatusKey=6 and  p.PolicyKey = pt.PolicyKey and p.MarketableProductKey = 2 and p.isUncompletedData='N' and pt.CompanyCode is null or pt.CompanyCode ='1' 
 inner join FirmLW f on f.IssuedDate >=@fromDate and   f.IssuedDate <=@toDate and  f.PolicyKey=p.PolicyKey  and f.VersionSequence=pt.VersionID
 inner join (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail 
 group by policyKey) pd on pd.PolicyKey=p.PolicyKey 
 inner join ProfessionalLiabilityInsDetailLW pl on pl.PolicyKey=p.PolicyKey and pl.VersionSequence=pt.VersionID
 inner join Status s on s.StatusKey=pt.StatusKey 
 inner join Account a on a.AccountKey =pt.AccountKey 
 inner join AccountAddress aa on aa.AccountKey = a.AccountKey 
 inner join Address adds on aa.AddressKey=adds.AddressKey order by p.PolicyEffectiveDate



END


GO
