USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayAOPDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayAOPDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayAOPDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayAOPDetails_p] AS' 
END
GO
--exec DisplayAOPDetails_p 133296, '2019-03-01'
ALTER PROCEDURE [dbo].[DisplayAOPDetails_p]
(
@PolicyKey INT,
@AOPRenewalDate datetime
)
	
AS
begin

	CREATE TABLE #Temp
	(
	DisplaySequence INT,
	SmartSearchID INT,
	AOPKey	INT,
	AopDesc VARCHAR(100),
	Percentage	INT,
	PercentageOld	INT,
	PolicyKey INT,
	IsEdit char(1)
	)
		
	CREATE TABLE #Temp1
	(
	SN INT identity(1,1),
	DisplaySequence INT,
	SmartSearchID INT,
	AOPKey	INT,
	AopDesc VARCHAR(100),
	Percentage	INT,
	PercentageOld	INT,
	PolicyKey INT,
	IsEdit char(1)
	)	
	--select * from SmartSearchValue where policykey=58360
	--select * from AOPLW
	DECLARE @PolicyEffectiveDate datetime,@VersionKey INT,@AccountID INT

	SELECT @PolicyEffectiveDate=PolicyEffectiveDate,@VersionKey=VersionKey,@AccountID=AccountID from Policy WITH (NOLOCK) where PolicyKey=@PolicyKey
	if(@AOPRenewalDate <= @PolicyEffectiveDate)
	BEGIN
	DECLARE @Count INT
	DECLARE @PreviousPolicyKey int
	DECLARE @PreviousVersionSequence INT
	DECLARE @PolicyStatusKey INT
	DECLARE @VersionSequence INT

	SET @PolicyStatusKey=(SELECT PolicyStatusKey from Policy where PolicyKey=@PolicyKey)
	
	 select @PreviousPolicyKey=p.policykey, @PreviousVersionSequence=max(f.VersionSequence) FROM policy p 
	 inner join FirmLW f  WITH (NOLOCK) on p.policykey=f.policykey	where p.PolicyKey in 
	 (select MAX(PolicyKey) From policy WITH (NOLOCK) where accountid =@AccountID  AND policynumber is not null and PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey

	SET @VersionSequence=(SELECT max(VersionSequence) from FirmLW where PolicyKey=@PolicyKey)
	
	SELECT @Count=count(*) FROM SmartSearchValue WHERE POLICYKEY = @PolicyKey
		
	IF(@Count=0 AND @PolicyStatusKey = 2)
	BEGIN
		INSERT INTO SmartSearchValue (AOPKey,PolicyKey,Percentage,PercentageOld,IsEdit) select ap.AOPKey,@PolicyKey as PolicyKey,PercentageValue as Percentage,PercentageValue,'N' from AOPLW ap WITH (NOLOCK), AreaOfPracticeLW aop WITH (NOLOCK) where ap.AOPKey = aop.AOPKey and PolicyKey = @PreviousPolicyKey and VersionSequence = @PreviousVersionSequence and PercentageValue > 0 and aop.AOPKey<>18
		
		INSERT INTO AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,AOPCommentDesc,PercentageValue,VersionKey) select @PolicyKey as PolicyKey,@VersionSequence as VersionSequence,AOPKey,AOPCommentDesc,PercentageValue,@VersionKey from AreaOfPracticeLW WITH (NOLOCK) where PolicyKey = @PreviousPolicyKey and VersionSequence = @PreviousVersionSequence and PercentageValue > 0 and AOPCommentDesc IS NOT NULL AND AOPCommentDesc != '' and AOPKey<>18
		
		
	END
	IF(@Count > 0 AND @PolicyStatusKey = 2)
	BEGIN

		DECLARE @SmartSearchID INT
		DECLARE @PercentageValue INT
		DECLARE @AOPKey INT
		SET @SmartSearchID = 0;
		WHILE EXISTS (SELECT * FROM  AreaOfPracticeLW AOP, SmartSearchValue ssv WITH (NOLOCK) WHERE AOP.PolicyKey = @PreviousPolicyKey and AOP.VersionSequence = @PreviousVersionSequence and AOP.PercentageValue > 0 and AOP.AOPKey = ssv.AOPKey and ssv.PolicyKey = @PolicyKey and SmartSearchID > @SmartSearchID)
		BEGIN
			SELECT TOP 1 @SmartSearchID = SmartSearchID, @PercentageValue = AOP.PercentageValue, @AOPKey = ssv.AOPKey FROM  AreaOfPracticeLW AOP WITH (NOLOCK), SmartSearchValue ssv WITH (NOLOCK) WHERE AOP.PolicyKey = @PreviousPolicyKey and AOP.VersionSequence = @PreviousVersionSequence and AOP.PercentageValue > 0 and AOP.AOPKey = ssv.AOPKey and ssv.PolicyKey = @PolicyKey and SmartSearchID > @SmartSearchID
			update SmartSearchValue set IsEdit = 'N', PercentageOld = @PercentageValue where PolicyKey = @PolicyKey and AOPKey = @AOPKey
		END
		
		INSERT INTO SmartSearchValue (AOPKey,PolicyKey,Percentage,PercentageOld,IsEdit) 
		SELECT AOPKey,@PolicyKey,null,PercentageValue,'N' FROM  AreaOfPracticeLW AOP WITH (NOLOCK) WHERE AOP.PolicyKey = @PreviousPolicyKey and AOP.VersionSequence = @PreviousVersionSequence and AOP.PercentageValue > 0 and AOP.AOPKey not in (select AOPKey from SmartSearchValue ssv WITH (NOLOCK) where ssv.PolicyKey = @PolicyKey) and aop.AOPKey<>18
		
		update SmartSearchValue set IsEdit = 'Y' where IsEdit IS NULL and PolicyKey = @PolicyKey
		
	END
	END
	
	INSERT INTO #Temp (DisplaySequence,SmartSearchID,AopDesc,AOPKey,Percentage,PercentageOld,PolicyKey,IsEdit)
	SELECT  row_number() over(order by SmartSearchID) as rownum ,SmartSearchID,aop.AOPDescNew as AopDesc,aop.AOPKey,Percentage,PercentageOld,PolicyKey,IsEdit FROM SmartSearchValue sm WITH (NOLOCK) Inner Join AOPLW aop WITH (NOLOCK) on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PolicyKey and aop.AOPKey<>18--order by  AopDesc
	--select ss.Aopkey as Aopkey,AOPDescNew as AOPDesc,ss.percentage as percentage from SmartSearchValue ss left join AOPLW al on al.AOPKey=ss.AOPkey where ss.policykey=#PolicyKey#  order by AOPDesc
	UPDATE #Temp SET DisplaySequence=1000 WHERE AOPKey=25
	insert into #Temp1 select * from #Temp ORDER BY DisplaySequence
	if(@AOPRenewalDate <= @PolicyEffectiveDate)
	BEGIN
		SELECT SN as rownum, SmartSearchID,DisplaySequence,Aopkey, AOPDesc,percentage as percentage,PercentageOld as PercentageOld,PolicyKey,IsEdit FROM #Temp1   order by isEdit DESC
	END
	ELSE
	BEGIN
		SELECT SN as rownum, SmartSearchID,DisplaySequence,Aopkey, AOPDesc,percentage as percentage,PercentageOld as PercentageOld,PolicyKey,IsEdit FROM #Temp1
	END
end



GO
