USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateProtexureFormGeneralData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateProtexureFormGeneralData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateProtexureFormGeneralData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateProtexureFormGeneralData_p] AS' 
END
GO
--exec InsertUpdateProtexureFormGeneralData_p  25, 19, 'Y', 'Y', 'Y', 'TestPolicy11Aug04@test.com', null, '2025-08-30', null, 'N', '2021-12-12', null, 'Y', 'TestPolicy11Aug04', 'Person',' Address 123', 'GA', 'Test County', 'Test City', '78797-9878', '(454)564-5454', '2025-08-12 00:28:20.704', 1, 3, '<Root><Root1><AttorneyName>Attorney01</AttorneyName><AnnualHours>1-500</AnnualHours><AttorneyPriorActDate>12/12/2023</AttorneyPriorActDate></Root1><Root1><AttorneyName>Attorney02</AttorneyName><AnnualHours>501-1000</AnnualHours><AttorneyPriorActDate>12/12/2015</AttorneyPriorActDate></Root1><Root1><AttorneyName>Attoney03</AttorneyName><AnnualHours>1001+</AnnualHours><AttorneyPriorActDate>12/12/2020</AttorneyPriorActDate></Root1></Root>', '<Root><Root1><AOPKey>1</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>2</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>3</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>4</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>5</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>6</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>7</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>8</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>9</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>10</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>11</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>12</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>13</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>14</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>15</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>16</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>17</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>18</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>19</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>20</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>21</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>22</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>23</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>24</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>25</AOPKey><AOPCommentDesc>Test Description</AOPCommentDesc><percentageValue>5</percentageValue></Root1><Root1><AOPKey>27</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>28</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>29</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>30</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>31</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>32</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>33</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>34</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>35</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>36</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>37</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>38</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>39</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>40</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>41</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>42</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>43</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>44</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>45</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>46</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>47</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>48</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>49</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>50</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>51</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>52</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>53</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>54</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>55</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>56</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>57</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>58</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>59</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>60</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>61</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>62</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>63</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>64</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>65</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>66</AOPKey><percentageValue>5</percentageValue></Root1><Root1><AOPKey>67</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>68</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>69</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>70</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>71</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>72</AOPKey><percentageValue>0</percentageValue></Root1></Root>', 2
--exec InsertUpdateProtexureFormGeneralData_p  23, 18, 'Y', 'N', 'Y', 'testpolicy11aug08@test.com', null, '2025-08-05', null, 'Y', null, 10, 'N', 'testpolicy11aug08', 'gjhgjhj', 'khkjhjkhkj', 'ID', 'hjkjkjkjkjkhjk', 'jhgjjhghjgh', '67677-6755', '(678)786-7867', '2025-08-12 01:38:47.218', 1100, 1, null,' <Root><Root1><AOPKey>1</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>2</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>3</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>4</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>5</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>6</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>7</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>8</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>9</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>10</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>11</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>12</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>13</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>14</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>15</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>16</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>17</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>18</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>19</AOPKey><percentageValue>100</percentageValue></Root1><Root1><AOPKey>20</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>21</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>22</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>23</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>24</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>25</AOPKey><AOPCommentDesc></AOPCommentDesc><percentageValue>0</percentageValue></Root1><Root1><AOPKey>27</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>28</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>29</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>30</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>31</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>32</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>33</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>34</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>35</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>36</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>37</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>38</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>39</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>40</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>41</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>42</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>43</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>44</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>45</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>46</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>47</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>48</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>49</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>50</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>51</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>52</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>53</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>54</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>55</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>56</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>57</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>58</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>59</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>60</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>61</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>62</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>63</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>64</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>65</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>66</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>67</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>68</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>69</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>70</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>71</AOPKey><percentageValue>0</percentageValue></Root1><Root1><AOPKey>72</AOPKey><percentageValue>0</percentageValue></Root1></Root>', 2
ALTER PROCEDURE [dbo].[InsertUpdateProtexureFormGeneralData_p](

@LimitSequencePross INT = null,
@DeductibleSequencePross INT = null,
@IsClaimExpensesType VARCHAR(10),
@IsClaimOptionType VARCHAR(10),
@IsDollarDefense CHAR(1),
@AccountEmail VARCHAR(100),
@InsuranceCompanyNamePross VARCHAR(100) = null,
@PolicyExpirationDatePross DATETIME = null,
@ProInsPremium numeric(18,2)  = null,
@IsPriorActDateFull CHAR,
@PriorActDatePross datetime = null,
@FirmYear INT = null,
@hasAnyFirmPersonnelReported CHAR,
@AccountName VARCHAR(200),
@ContactPerson VARCHAR(100),
@Address1 VARCHAR(300),
@StateCode VARCHAR(20),
@CountyDesc VARCHAR(20),
@City VARCHAR(50),
@Zip VARCHAR(50),
@WorkPhone VARCHAR(20),
@LastUpdateTimeStamp VARCHAR(50),
@LastUpdateUserID varchar(10),
@addAttorneys INT,
@attorneyXml xml,
@aopXml xml,
@marketableproductkey INT
)
AS
BEGIN

	DECLARE @AggregateLimit INT, @OccuranceLimit INT, @AggregateDeductible INT, @OccuranceDeductible INT,@FormKey_Inserted INT

	SELECT @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit FROM limits WHERE LimitSequence=@LimitSequencePross
		SELECT @AggregateDeductible=AggregateDeductible,@OccuranceDeductible=OccuranceDeductible FROM Deductibles WHERE DeductibleSequence=@DeductibleSequencePross
	--BEGIN TRAN T1	
	INSERT INTO EstimateFormGeneralInfo(MarketableProductKey,AccountName,ContactPerson,Address1,StateCode,CountyDesc,City,Zip,WorkPhone,AccountEmail,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,IsClaimOptionType,IsClaimExpensesType,
											IsDollarDefense,InsuranceCompanyNamePross,PolicyExpirationDatePross,ProInsPremium,IsPriorActDateFull,hasAnyFirmPersonnelReported,FirmYear,PriorActDatePross,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
									VALUES(@marketableproductkey,@AccountName,@ContactPerson,@Address1,@StateCode,@CountyDesc,@City,@Zip,@WorkPhone,@AccountEmail,@AggregateLimit,@OccuranceLimit,@OccuranceDeductible,@AggregateDeductible,@IsClaimOptionType,@IsClaimExpensesType,
										@IsDollarDefense,@InsuranceCompanyNamePross,@PolicyExpirationDatePross,@ProInsPremium,@IsPriorActDateFull,@hasAnyFirmPersonnelReported,@FirmYear,@PriorActDatePross,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)
	select @FormKey_Inserted=IDENT_CURRENT('EstimateFormGeneralInfo')


--	Inserting Attornyes data

	INSERT INTO EstimateFormAttorneyDetails(AttorneyName, AnnualHours, AttorneyPriorActDate,FormKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('AttorneyName[1]', 'varchar(300)') AttorneyName,
				doc.col.value('AnnualHours[1]', 'VARCHAR(100)') AnnualHours,
				doc.col.value('AttorneyPriorActDate[1]', 'VARCHAR(100)') AttorneyPriorActDate,
				--doc.col.value('EstimateFormPolicyKey[1]', 'int') EstimateFormPolicyKey,
				@FormKey_Inserted ,
				@LastUpdateUserID,
				@LastUpdateTimeStamp,
				@LastUpdateUserID,
				@LastUpdateTimeStamp
			FROM @attorneyXml.nodes('/Root/Root1') doc(col)


		--Inserting AOP data

		INSERT INTO EstimateFormAOPDetails_LW(AOPKey, PercentageValue,AOPCommentDesc, FormKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('AOPKey[1]', 'int') AOPKey,
				doc.col.value('percentageValue[1]', 'int') percentageValue,
				doc.col.value('AOPCommentDesc[1]', 'VARCHAR(500)') AOPCommentDesc,
				@FormKey_Inserted ,
				@LastUpdateUserID,
				@LastUpdateTimeStamp,
				@LastUpdateUserID,
				@LastUpdateTimeStamp
				
			FROM @aopXml.nodes('/Root/Root1') doc(col)
--commit
--COMMIT TRAN T1;




END





GO
