USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePLPolicyNumberForBrokerage_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidatePLPolicyNumberForBrokerage_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePLPolicyNumberForBrokerage_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidatePLPolicyNumberForBrokerage_p] AS' 
END
GO
--exec ValidatePLPolicyNumberForBrokerage_p '580-338079-2'
ALTER PROCEDURE [dbo].[ValidatePLPolicyNumberForBrokerage_p]
	(
	@PolicyNumber VARCHAR(100)
	)
AS
BEGIN
	CREATE TABLE #TEMP
	(
		isValidPLPolicyNumber CHAR,
		PolicyEffectiveDate DATETIME,
		PolicyExpirationDate DATETIME,
		AccountName VARCHAR(500),
		Address VARCHAR(1000),
		Address2 VARCHAR(1000),
		State VARCHAR(50),
		City VARCHAR(500),
		Zip VARCHAR(50),
		Phone VARCHAR(100),
		Email VARCHAR(100),
		ProducerCode VARCHAR(50),
		LimitSequence INT,
		DeductibleSequence INT,
		IsClaimExpensesType CHAR,
		IsClaimOptionType Char,
		IsDollarDefense Char
	)
	DECLARE @PolicyNumCount INT,@PolicyKey INT,@FinalizedTs INT
	select @PolicyNumCount=(case when Count(PolicyKey) is not null then count(PolicyKey) else 0 end),@PolicyKey=PolicyKey from Policy where Policynumber=@PolicyNumber group  by PolicyKey

	if(@PolicyNumCount>0)
		begin
			
			set   @FinalizedTs=(Select Transactionsequence from Quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y')
			Declare @AggregateLimit INT,@OccuranceLimit INT,@IsClaimExpensesType Char,@IsClaimOptionType CHAR,@IsDollarDefense CHAR,@AggregateDeductible INT,@LimitSequence INT,@DeductibelSequence INT

			Select @AggregateLimit=pc.AggregateLimit,@OccuranceLimit=pc.OccuranceLimit,@AggregateDeductible=pc.AggregateDeductible,@IsClaimExpensesType=pc.IsClaimExpensesType,@IsClaimOptionType=pc.IsClaimOptionType,@IsDollarDefense=pc.IsDollarDefense 
			from PolicyCoverage pc 	where pc.PolicyKey=@PolicyKey and pc.TransactionSequence=@FinalizedTs

			set @LimitSequence=(select LimitSequence from BrokerageLimits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit)
			set @DeductibelSequence=(select DeductibleSequence from BrokerageDeductibles where AggregateDeductible=@AggregateDeductible)

			INSERT INTO #TEMP(isValidPLPolicyNumber,PolicyEffectiveDate,PolicyExpirationDate,AccountName,Address,Address2,State,Zip,Phone,Email,ProducerCode,LimitSequence,DeductibleSequence,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense,City)
			select top 1 'Y',p.PolicyEffectiveDate,pt.PolicyExpirationDate,ac.AccountName,ads.Address1,ads.Address2,ads.StateCode,case when ads.Zip4 is not null then ads.Zip+''+ads.Zip4 else ads.Zip end,ads.WorkPhone,ac.AccountEmail,pt.ProducerCode,
			@LimitSequence,@DeductibelSequence,@IsClaimExpensesType,@IsClaimOptionType,@IsDollarDefense,ads.City from Policy p 
			inner join PolicyTransaction pt on p.PolicyKey=pt.PolicyKey
			Inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
			inner join Account ac on ac.AccountKey=aa.AccountKey
			inner join Address ads on ads.AddressKey=aa.AddressKey
			where p.PolicyNumber=@PolicyNumber

			end

	else 
		begin
			INSERT INTO #TEMP(isValidPLPolicyNumber)
			values('N')
		end
		select isValidPLPolicyNumber,PolicyEffectiveDate as PLEffectiveDate,PolicyExpirationDate as PLExpirationDate,AccountName,Address,Address2,State,City,Zip,Phone,Email,ProducerCode,LimitSequence,DeductibleSequence,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense from #TEMP
		DROP TABLE #TEMP
		--select @isValidPLPolicyNumber as isValidPLPolicyNumber

END




GO
