USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountManagementSearchACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AccountManagementSearchACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountManagementSearchACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AccountManagementSearchACC_p] AS' 
END
GO
--exec AccountManagementSearchACC_p null, null, '22OctoberOutlineTest1', null, null, null
ALTER PROCEDURE [dbo].[AccountManagementSearchACC_p]
	(
	@AccountName varchar(50) , 
	@AccountNumber varchar(20),
	@EmailId varchar(150), 
	@PolicyEffectiveMonthYear varchar(10) , 
	@PhoneNumber Varchar(100),
	@StateCode VARCHAR(50)
	)
AS
BEGIN
	CREATE TABLE #TempAccountsList (
		[PolicyKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](100) ,
		QuoteNumber VARCHAR(500),
		[PolicyEffectiveDate] [datetime] ,
		AccountEmail VARCHAR(500),
		[Address] [varchar](100) ,
		[State] [varchar](100),
		PhoneNumber VARCHAR(100),
		Status VARCHAR(100),
		ProducerCode VARCHAR(100),
		OldAccountNumber INT

)
declare  @sqlstm varchar(8000)
if(@AccountName <> '')
      begin
            set  @AccountName = RTrim(LTrim(@AccountName))
            set  @AccountName = REPLACE( @AccountName, '''', '''''' )
      end

Print	  @AccountName
if(@EmailId <> '')
      begin
            set  @EmailId = RTrim(LTrim(@EmailId))
            set  @EmailId = REPLACE( @EmailId, '''', '''''' )
      end
if(@PolicyEffectiveMonthYear <> '')
      begin
            set  @PolicyEffectiveMonthYear = RTrim(LTrim(@PolicyEffectiveMonthYear))
      end
--if(@PolicyEffectiveDate2 <> '')
--	begin
--		set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
--	end

set @sqlstm = 'select p.Policykey,p.AccountID,at.AccountName,p.QuoteNumber,p.PolicyEffectiveDate,at.AccountEmail,(adds.Address1+''  ''+adds.Address2) as Address,
(select StateDesc from State where statecode=adds.StateCode) as State,adds.WorkPhone,pt.ProducerCode,(select statusDesc from status where statuskey=pt.statuskey) as Status,f.oldAccountID
From Policy p
Inner Join PolicyTransaction pt With (nolock) on pt.PolicyKey=p.PolicyKey 
Inner join Account at With (nolock) on at.AccountKey=pt.AccountKey
Inner Join AccountAddress act With (nolock) on act.AccountKey=pt.AccountKey
Inner Join Address adds With (nolock) on adds.AddressKey=act.AddressKey
Inner Join Firm f With (nolock) on f.PolicyKey=p.PolicyKey
Where pt.TransactionSequence=(select MIN(transactionsequence) from PolicyTransaction With (nolock) where PolicyKey=p.PolicyKey) and p.MarketableProductKey=1 and isUncompletedData<>''Y''
and p.isUncompletedData<>''Y''
and f.VersionSequence=(select MIN(VersionSequence) from Firm With (nolock) where PolicyKey=p.PolicyKey)
'



if(@AccountName <> '')
begin
                set  @sqlstm = @sqlstm + ' and at.AccountName LIKE'''+@AccountName +'%'+''''
end
if(@EmailId <> '')
begin
                set  @sqlstm = @sqlstm + ' and at.AccountEmail LIKE'''+@EmailId +'%'+''''
end

if(@AccountNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and p.AccountID='''+@AccountNumber +''''
end
if(@PhoneNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and adds.WorkPhone='''+@PhoneNumber +''''
end
if(@StateCode <> '')
begin
                set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
end
if(@PolicyEffectiveMonthYear <> '')
begin
              DECLARE @month VARCHAR(10)
			   DECLARE @Year VARCHAR(10)
			  SET @Month=(select SUBSTRING (@PolicyEffectiveMonthYear,0, CHARINDEX('/',@PolicyEffectiveMonthYear)))
			  SET @Year=(select SUBSTRING (@PolicyEffectiveMonthYear, CHARINDEX('/',@PolicyEffectiveMonthYear)+1,7))
			    set  @sqlstm = @sqlstm + ' and YEAR(PolicyEffectiveDate)='''+@Year +''''
				set  @sqlstm = @sqlstm + ' and MONTH(PolicyEffectiveDate)='''+@month +''''
end
--SELECT Policykey,PolicyEffectiveDate FROM Policy WHERE YEAR(PolicyEffectiveDate) = '2011' AND MONTH(PolicyEffectiveDate) = '6'
INSERT INTO #TempAccountsList(PolicyKey,AccountID,AccountName,QuoteNumber,PolicyEffectiveDate,AccountEmail,Address,State,PhoneNumber,ProducerCode,Status,OldAccountNumber)
EXECUTE ( @sqlstm)

 set  @sqlstm = @sqlstm + ' order by p.PolicyKey'
 print @sqlstm
select PolicyKey,AccountName as FirmName,AccountID as AccountNumber,AccountID,AccountName,QuoteNumber,PolicyEffectiveDate,AccountEmail,Address,State,PhoneNumber as WorkPhone,Status,ProducerCode,OldAccountNumber from #TempAccountsList order by AccountID,PolicyKey

END

GO
