USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_QuoteOptions_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_QuoteOptions_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_QuoteOptions_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_QuoteOptions_LW] AS' 
END
GO
--exec UWRules_QuoteOptions_LW 158510, 161524, 8749, 158747, 134184, 2, 3
ALTER PROCEDURE [dbo].[UWRules_QuoteOptions_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,@PolicyEffectiveDate DateTime,@PolicyExpirationDatePross DATETIME
	DECLARE @DefaultLimitSequence INT,@lowLimtCOunt INT
	DECLARE @Temp TABLE (LimitSequence INT)
	--select @PolicyEffectiveDate=PolicyEffectiveDate,@PolicyExpirationDatePross=PolicyExpirationDatePross from ProfessionalLiabilityInsDetailLW pl left join Policy p
	--on p.PolicyKey=pl.PolicyKey where pl.PolicyKey=@PolicyKey and pl.VersionSequence=@VersionSequence
	--SET @daysDifference=(SELECT DATEDIFF(Day, @PolicyExpirationDatePross,@PolicyEffectiveDate) )

--	set @DefaultLimitSequence=40

	SET @DefaultLimitSequence=(select l.LimitSequence from limits l inner join PolicyCoverage pc on pc.AggregateLimit=l.AggregateLimit and pc.OccuranceLimit=l.OccuranceLimit and l.CoverageKey=pc.CoverageKey inner join quote q on q.PolicyKey=pc.PolicyKey and q.TransactionSequence=pc.TransactionSequence  where pc.CoverageKey=3 and pc.PolicyKey= @PolicyKey and q.IsFirstQuote='Y')
	INSERT INTO @Temp(LimitSequence) select l.LimitSequence  from limits l inner join PolicyCoverage pc on pc.AggregateLimit=l.AggregateLimit and pc.OccuranceLimit=l.OccuranceLimit and l.CoverageKey=pc.CoverageKey inner join quote q on q.PolicyKey=pc.PolicyKey and q.TransactionSequence=pc.TransactionSequence  where pc.CoverageKey=3 and pc.PolicyKey= @PolicyKey and   q.IsFirstQuote<>'Y'
--	select @DefaultLimitSequence
	--if exists(	select LimitSequence from @Temp where LimitSequence<@DefaultLimitSequence)
	--begin
	--print 'Hello'
	--end

	IF(@PolicyStatusKey=1)
	BEGIN
	print 'NB Flow'
		
		--set @rule_id='validateExpirationDateNewBusiness_Lawyers'
		--if(@daysDifference <> 0)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Expiration date on current insurance different than effective date requested.','Why is the submission late?  If more than 90 (NB) or 60 (Renewal) explain that we cannot quote them that far out.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
END

	IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
			--set @rule_id='validateEffectiveDateWithDaysReNewBusiness_Lawyers'
			--if(@daysDifference<-90)
			--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Effective date cannot be more than 90 days prior to the current date for Renewal.','',@LastUpdateUserID
			--else
			--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			set @lowLimtCOunt=(select count(LimitSequence) from @Temp where LimitSequence<@DefaultLimitSequence)
			--select @lowLimtCOunt
			set @rule_id='ValidateReductionOfLimit_Lawyers'
			if(@lowLimtCOunt>0)
				
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Requesting limit below expiring limit.','Requires reduction in limit advisory signature.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END





GO
