USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePolicynumber_P]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidatePolicynumber_P]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePolicynumber_P]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidatePolicynumber_P] AS' 
END
GO
--exec ValidatePolicynumber_P 'ALA-04-002050-03'
ALTER PROCEDURE [dbo].[ValidatePolicynumber_P]
              
              @newPolicyNumber VARCHAR(50)
                           
AS

begin
declare @result varchar(50)='false',@count int=0
set @newPolicyNumber=ltrim(RTRIM(@newPolicyNumber))
set @count=(select count(PolicyKey) from Policy where PolicyNumber=@newPolicyNumber)
if (@count>0)
              begin
                           set @result='true'
              end

select @result as result
END


GO
