USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_WillsTrustsEstatesSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_WillsTrustsEstatesSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_WillsTrustsEstatesSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_WillsTrustsEstatesSupplement_LW] AS' 
END
GO
--exec UWRules_WillsTrustsEstatesSupplement_LW 135338, 136496, 136496, 135516, 113550, 1, 3
ALTER PROCEDURE [dbo].[UWRules_WillsTrustsEstatesSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT,@wills NUMERIC(10,2)=0,@AttorneyCount INT=0,@willTrustPercentageCount NUMERIC(10,2)=0
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	DECLARE @TaxOpinions INT=0,@AssetProtection INT=0,@Other INT=0,@IsAttorneyServeAsExecutorTrustee CHAR,@ActingAsTrustee CHAR,@CertifiedInvestmentDecisions CHAR,@Above10MValueCount INT=0,@willEstatesHandledPastYear NUMERIC(10,2)=0,@beneficiaryInterestWillsTrust CHAR
	DECLARE @TaxOpinionsPrior INT=0,@AssetProtectionPrior INT=0,@OtherPrior INT=0,@OtherDesc VARCHAR(500),@OtherDescPrior VARCHAR(500)
	SET @TaxOpinions=(select PercentageValue from WillsEstateServicesLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and WESKey=6)
	SET @AssetProtection=(select PercentageValue from WillsEstateServicesLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and WESKey=8)
	select @Other=PercentageValue,@OtherDesc=WESCommentDesc from WillsEstateServicesLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and WESKey=12
	SET @wills =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=24)
	SET @AttorneyCount=(Select Count(*) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	
	select @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee,@ActingAsTrustee=ActingAsTrustee,@CertifiedInvestmentDecisions=CertifiedInvestmentDecisions,@willEstatesHandledPastYear=willEstatesHandledPastYear,@beneficiaryInterestWillsTrust=beneficiaryInterestWillsTrust from WillsTrustsEstateSuppLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	
	
			
			if(@AttorneyCount>0 and @wills>0)
			SET @willTrustPercentageCount =(((@willEstatesHandledPastYear*100)/@wills)/@AttorneyCount)
	SET @Above10MValueCount=(select NumberOfMattersValued from WillsStateTrustValuesAmountsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and AmountRangeKey=3)
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='TaxOpinionsWillsEstate_Lawyers'
		if(@TaxOpinions>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Will / Estates - providng Tax Opinions.','How many opinions have been given over the past three years? What is the value of the wills or estates involved in the opinions?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		--set @rule_id='checkAssetProtectionNewApp_Lawyers'
		--if(@AssetProtection>0)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Wills - Asset protection above zero.','Explain the services provided under the "asset protection" practice.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='otherWillsEstateNewApp_Lawyers'
		if(@Other>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Wills - other % above zero - review description.','If no description; obtain description.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='IsAttorneyServeAsExecutorTrusteeRule_Lawyers'
		if(@IsAttorneyServeAsExecutorTrustee='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Attorney acting as as Personal Representative/Administrator or Trustee. Review question a and b to determine if they are involved in investment decisions and if a financial advisor is used.','Get additional information on when they do this, for how many clients and size of will/estate/trust.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='inPurchaseSaleSecuritiesRule_Lawyers'
		if(@ActingAsTrustee='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Trustee authority to sell investment vehicles - Decline.','Trustee responsibilities include selling investment vehicles is outside of ISMIE authority – Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
	
		set @rule_id='CertifiedInvestmentDecisionsRule_Lawyers'
		if(@CertifiedInvestmentDecisions='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Wills/Estates and Trusts investment decisions made without certified professional.','Wills/Estates and Trusts investment decisions are being made without a certified professional.  Obtain explanation of what they are doing and amount of investments.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='numberOfMatters10MAndOver_Lawyers'
		if(@Above10MValueCount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Will/trusts/estates with value greater than 10M.','Will/trusts/estates with value greater than 10M.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='EstatesHandledInYearNewApp_Lawyers'
		if(@willTrustPercentageCount>150)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large number of wills in comparison to percentage of practice.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='BeneficiaryInterestWillsTrustRule_Lawyers'
		if(@beneficiaryInterestWillsTrust='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has a beneficiary interest in wills/estates/trusts for which they are providing services.','Will/trusts/estates firm has a beneficiary interest. Obtain details on the will/estate/trust, amount and conditions.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'

		SET @TaxOpinionsPrior=(select PercentageValue from WillsEstateServicesLW where Policykey=@previousPolicyKey and VersionSequence=@previousVersionSequence and WESKey=6)
		SET @AssetProtectionPrior=(select PercentageValue from WillsEstateServicesLW where Policykey=@previousPolicyKey and VersionSequence=@previousVersionSequence and WESKey=8)
		select @OtherPrior=PercentageValue,@OtherDescPrior=WESCommentDesc from WillsEstateServicesLW where Policykey=@previousPolicyKey and VersionSequence=@previousVersionSequence and WESKey=12
		
		if(@TaxOpinionsPrior is null or @TaxOpinionsPrior='')
			set @TaxOpinionsPrior=0

		if(@AssetProtectionPrior is null or @AssetProtectionPrior='')
			set @AssetProtectionPrior=0

		if(@OtherPrior is null or @OtherPrior='')
			set @OtherPrior=0

		set @rule_id='TaxOpinionsWillsEstateRenewalRule_Lawyers'
		if(@TaxOpinions-@TaxOpinionsPrior>10)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Will / Estates - providng Tax Opinions.','How many opinions have been given over the past three years? What is the value of the wills or estates involved in the opinions?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		--set @rule_id='checkAssetProtectionNewAppRenewalRule_Lawyers'
		--if(@AssetProtection-@AssetProtectionPrior>10)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Wills - Asset protection above zero.','Explain the services provided under the "asset protection" practice.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='otherWillsEstateNewAppRenewalRule_Lawyers'
		if(@Other-@OtherPrior>0 or @OtherDesc<>@OtherDescPrior)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Wills - other % above zero - review description.','If no description; obtain description.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsAttorneyServeAsExecutorTrusteeRenewalRule_Lawyers'
		if(@IsAttorneyServeAsExecutorTrustee='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Attorney acting as as Personal Representative/Administrator or Trustee. Review question a and b to determine if they are involved in investment decisions and if a financial advisor is used.','Get additional information on when they do this, for how many clients and size of will/estate/trust.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='inPurchaseSaleSecuritiesRenewalRule_Lawyers'
		if(@ActingAsTrustee='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Trustee authority to sell investment vehicles - Decline.','Trustee responsibilities include selling investment vehicles is outside of ISMIE authority – Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
	
		set @rule_id='CertifiedInvestmentDecisionsRenewalRule_Lawyers'
		if(@CertifiedInvestmentDecisions='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Wills/Estates and Trusts investment decisions made without certified professional.','Wills/Estates and Trusts investment decisions are being made without a certified professional.  Obtain explanation of what they are doing and amount of investments.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='numberOfMatters10MAndOverRenewalRule_Lawyers'
		if(@Above10MValueCount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Will/trusts/estates with value greater than 10M.','Will/trusts/estates with value greater than 10M.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='EstatesHandledInYearNewAppRenewalRule_Lawyers'
		if(@willTrustPercentageCount>150)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large number of wills in comparison to percentage of practice.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='BeneficiaryInterestWillsTrustRenewalRule_Lawyers'
		if(@beneficiaryInterestWillsTrust='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has a beneficiary interest in wills/estates/trusts for which they are providing services.','Will/trusts/estates firm has a beneficiary interest. Obtain details on the will/estate/trust, amount and conditions.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		
	
	END
END




GO
