USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateModifiersComment_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateModifiersComment_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateModifiersComment_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateModifiersComment_p] AS' 
END
GO
--exec UpdateModifiersComment_p 65382 	
ALTER PROCEDURE [dbo].[UpdateModifiersComment_p]
(
@PolicyKey INT,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50),
@bankruptcyImplementationDate DATETIME
)
AS
BEGIN

	DECLARE @modifierSum INT,@ModifierComment VARCHAR(500)=NULL,@Modifier1 INT,@Modifier2 INT,@Modifier3 INT,@Modifier4 INT
	DECLARE @Modifier5 INT,@Modifier6 INT,@Transactionsequence INT,@PolicyEffectiveDate DateTime
	DECLARE @PolicyExpirationDate DATETIME =(Select Top 1 PolicyExpirationDate from PolicyTransaction where Policykey=@Policykey)

	DECLARE @isAppCompleted CHAR,@AccountKey INT
		Set @AccountKey=(select top 1 AccountKey from PolicyTransaction Where PolicyKey=@PolicyKey)
		set @isAppCompleted=(SELECT FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,'2017-12-06 00:00:00.0','2021-01-01 00:00:00.0',@bankruptcyImplementationDate))
	
	UPDATE FIRMLW set isAppCompleted=@isAppCompleted,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey

	SET @PolicyEffectiveDate=(Select PolicyEffectiveDate From Policy Where Policykey=@Policykey)
	IF(@PolicyExpirationDate is NULL)
			BEGIN
				UPDATE PolicyTransaction set PolicyExpirationDate= CONVERT(varchar(50), DATEADD(year, 1, @PolicyEffectiveDate )),LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where Policykey=@PolicyKey
				UPDATE Policy set LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where Policykey=@PolicyKey
			END

	SET @Transactionsequence=(select min(Transactionsequence) from PolicyTransaction where PolicyKey=@PolicyKey)
	SET @Modifier1=(select CASE WHEN percentage IS NOT NULL and percentage <> ''  THEN percentage ELSE 0  END  from CoverageModifiers where ModifierKey=1 and PolicyKey=@PolicyKey and TransactionSequence=@Transactionsequence)
	SET @Modifier2=(select CASE WHEN percentage IS NOT NULL and percentage <> ''  THEN percentage ELSE 0  END  from CoverageModifiers where ModifierKey=2 and PolicyKey=@PolicyKey and TransactionSequence=@Transactionsequence)
	SET @Modifier3=(select CASE WHEN percentage IS NOT NULL and percentage <> ''  THEN percentage ELSE 0  END  from CoverageModifiers where ModifierKey=3 and PolicyKey=@PolicyKey and TransactionSequence=@Transactionsequence)
	SET @Modifier4=(select CASE WHEN percentage IS NOT NULL and percentage <> ''  THEN percentage ELSE 0  END  from CoverageModifiers where ModifierKey=4 and PolicyKey=@PolicyKey and TransactionSequence=@Transactionsequence)
	SET @Modifier5=(select CASE WHEN percentage IS NOT NULL and percentage <> ''  THEN percentage ELSE 0  END  from CoverageModifiers where ModifierKey=5 and PolicyKey=@PolicyKey and TransactionSequence=@Transactionsequence)
	SET @Modifier6=(select CASE WHEN percentage IS NOT NULL and percentage <> ''  THEN percentage ELSE 0  END  from CoverageModifiers where ModifierKey=6 and PolicyKey=@PolicyKey and TransactionSequence=@Transactionsequence)
	--SELECT @modifierSum=sum(Percentage) FROM CoverageModifiers WHERE policykey=@PolicyKey
	--Select @Modifier1,@Modifier2,@Modifier3,@Modifier4,@Modifier5,@Modifier6
	
	IF(@Modifier1 <>0 OR @Modifier2 <>0 OR @Modifier3 <>0 OR @Modifier4 <>0 OR @Modifier5<>0 OR @Modifier6<>0)
	BEGIN
	PRINT 'NOT ZERO'
	SELECT @ModifierComment=ModifierComment FROM FirmLW WHERE policykey=@PolicyKey
	END
	--IF(@modifierSum>0)
	
	--IF(@modifierSum=0)
	IF(@Modifier1 <>0 AND @Modifier2 <>0 AND @Modifier3 <>0 AND @Modifier4 <>0 AND @Modifier5<>0 AND @Modifier6<>0)
	BEGIN
	PRINT ' ZERO'
	UPDATE FirmLW SET ModifierComment=NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE policykey=@PolicyKey
	SELECT @ModifierComment=ModifierComment FROM FirmLW WHERE policykey=@PolicyKey
	END


	SELECT @ModifierComment AS ModifierComment

END






GO
