USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchLawyersIndicationHistory_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchLawyersIndicationHistory_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchLawyersIndicationHistory_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchLawyersIndicationHistory_Proc] AS' 
END
GO
ALTER PROCEDURE [dbo].[SearchLawyersIndicationHistory_Proc] 
                @PolicyKey varchar(50)             
   
 AS BEGIN

declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
--declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)

CREATE TABLE #TempPolicyList (
                [PolicyKey] [int] ,
                [PolicyEffectiveDate] [datetime] ,            
                [PolicyNumber] [varchar](20) ,  
                [isUncompletedData] [char](1) ,
                [QuoteNumber] [varchar](20) ,
                [IsFullQuote] [char](1) ,
                [IsQuickQuote] [char](1) ,

                [IsBasicPage] [char](1),
                [IsGeneralPage] [char](1) ,
                [IsEntertainmentPage] [char](1) ,
                [IsTaxPage] [char](1) ,
                [IsEnvironmentalPage] [char](1) ,
                [IsSecuritiesPage] [char](1) ,
                [IsTitlePage] [char](1) ,
                [IsWillsEstatePage] [char](1) ,
                [IsPlaintiffPage] [char](1) ,
                [IsRealEstatePage] [char](1) ,
                [IsFinancialInsPage] [char](1) ,
                [IsIntellectPropPage] [char](1) ,
                [IsCorporatePage] [char](1) ,
                [FirstReviewUserID] [varchar](50) ,
                
                [AccountKey] [int] ,
                [AddressKey] [int] ,
                [AccountID] [int] ,
                [AccountName] [varchar](100) ,

                [Address1] [varchar](100) ,
                [StateCode] [varchar](20),
                [StateDesc] [varchar](100),
                [TransactionSequence] [int] ,
                [VersionSequence] [int] ,
                [CoverageSequence] [int] ,

                [PolicyExpirationDate] [datetime] ,

                [Premium] [varchar](25) ,
                [StatusDesc] [varchar](100),
                [StatusKey] [int] ,
                [PolicyStatusKey] [int] ,
                [TransactionTypeKey] [int] ,
                [UserNo] [int] ,
                [AgentName] [varchar](50),
                [FullQuick] [varchar](50),
                [AppDays] int,
                [CountyDesc] [varchar](50),
                [AppCreatedDate] [datetime] ,
                [IsQuickQuotePage] [char](1),
                [NumberOfLawyers] [int],
                [IsFirmReferred] [char](1),
                [ManualQuoteSelectedNo] int,
                        [ManualQuoteFinalisedNo] int,                   
                        [RatingTraceSequence] int,
                        [IsDollarDefense] [char] (1),
                        [IsQuoteViewedByInsured] [char] (1),
                        [IsViewed] [char] (1),
                        [IsRenewed] char(1),
						[IsRenewalReview] char(1)
                        
                        
                 
) 



set @sqlstm = 'select p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
(CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview, rt.RatingTraceSequence, pc.IsDollarDefense
from Policy p with (nolock),  PolicyTransaction pt with (nolock), PolicyCoverage pc with (nolock), Quote q with (nolock), RatingTrace rt with (nolock), Account a with (nolock), FirmLW f with (nolock), Address adds with (nolock),Status s with (nolock), AccountAddress aa with (nolock)   
 where p.PolicyKey = pt.PolicyKey and p.PolicyKey = pc.PolicyKey and p.PolicyKey = f.PolicyKey and pt.TransactionSequence= pc.TransactionSequence
 and pt.TransactionSequence= q.TransactionSequence and pt.TransactionSequence=rt.TransactionSequence
 and p.AccountID = a.AccountID and a.AccountKey = aa.AccountKey and aa.AddressKey=adds.AddressKey
 and s.StatusKey =pt.StatusKey and p.PolicyKey= '+ @PolicyKey +''

begin
		set  @sqlstm = @sqlstm + ' order by pt.TransactionSequence desc'
end

--print @sqlstm


Insert into #TempPolicyList(QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName, TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage, IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate, CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,RatingTraceSequence, IsDollarDefense) EXECUTE ( @sqlstm)  

DECLARE c1 CURSOR    FOR
           SELECT  QuoteNumber,FirstReviewUserID,PolicyKey FROM #TempPolicyList  
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID,@PolicyKey
    WHILE @@FETCH_STATUS = 0
            BEGIN
                set @AgentName = ''
                                                
                if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
                    begin
						select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID                                                                      
                    end
                                                
                set @InvoicedPremium = ''
                select @InvoicedPremium = dbo.getAmountFormat(pt.InvoicedPremium) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                                                                
                select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc with (nolock), Quote q with (nolock) where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
                select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc with (nolock), Quote q with (nolock) where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                                                                
                --select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt, Quote q, RatingTrace rt where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                --select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc, Quote q, RatingTrace rt where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                
                update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName, Premium = @InvoicedPremium ,ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo --,RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense
				where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
                                                                        
                FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID,@PolicyKey
            END


CLOSE c1
DEALLOCATE c1
--print @sqlstm
select * from #TempPolicyList
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END




GO
