USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TabsWorkFlowAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TabsWorkFlowAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TabsWorkFlowAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[TabsWorkFlowAcc_p] AS' 
END
GO
--select * from Policytransaction where Policykey=80688
--exec TabsWorkFlowAcc_p 78662, 78708
--exec TabsWorkFlowAcc_p 176854, 186571
ALTER PROCEDURE [dbo].[TabsWorkFlowAcc_p]
(
@PolicyKey int,
@AccountKey int

)
AS
BEGIN
DECLARE @investmentPlanning INT
DECLARE @computerServices INT
Declare @BusinessManagement INT
Declare @audit INT
Declare @goverment INT
Declare @realestateComm INT
Declare @realestateResi INT
Declare @tax INT
Declare @wills INT
Declare @litigationvalue INT
Declare @AnnualRevenue NUMERIC(15,0)
Declare @familyLaw INT
DECLARE @Copyright INT
Declare @IsFirmMergedWithOtherFirm varchar(5)
DECLARE @PolicyStatusKey INT
DECLARE @PreviousPolicyKey INT
Declare @bankruptcyOld INT
Declare @collectionOld INT
Declare @financialOld INT
Declare @govermentOld INT
Declare @realestateCommOld INT
Declare @realestateResiOld INT
Declare @taxOld INT
Declare @willsOld INT
Declare @litigationvalueOld INT
Declare @familyLawOld INT
DECLARE @CopyrightOld INT
DECLARE @litigationAOPSum INT

	DECLARE @CreatedDate DATETIME
		DECLARE @DaysDiffenence INT
		SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
		
		SELECT @DaysDiffenence= 0
		print @DaysDiffenence

	CREATE TABLE #Temp
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp9	(
		
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp1
	(
		seq int identity(1,1),
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp2
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)

	CREATE TABLE #Temp3
	(
		SN INT Identity(1,1),
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp4
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp5
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp6
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp7
	(
		page_name VARCHAR(100),
		flag_for_supplment VARCHAr(1),
		checked char(1)
	)
	CREATE TABLE #Temp8
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)
	CREATE TABLE #Temp10
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500),
		checked char(1)
	)

	--Added By Raghu to check page is saved or not	
	Declare @FirmNewAppPage									CHAR
	Declare @InsuranceHistoryNewApp							CHAR
	Declare @aboutFirmPage									CHAR
	Declare @AOPNewApp										CHAR
	Declare @practiceManagementPage							Char
	Declare @morePracticeManagementPage						CHAR
	Declare @trustsAndOfficerPage							CHAR
	Declare @pastClaimsPage									CHAR
	Declare @practiceManagementSuppPage						CHAR	
	Declare @investmentFinancialPlanningSuppPage			CHAR
	Declare @computerRelatedServicesPage					CHAR
	Declare @mainBusinessManagementSupplementPage			CHAR
	Declare @auditSupplementPage							CHAR

	CREATE TABLE #TempCheckSavedPage(
				FirmNewAppPage									CHAR,
				InsuranceHistoryNewApp							CHAR,
				aboutFirmPage									CHAR,
				AOPNewApp										CHAR,
				practiceManagementPage							Char,
				morePracticeManagementPage						CHAR,
				trustsAndOfficerPage							CHAR,
				pastClaimsPage									CHAR,
				practiceManagementSuppPage						CHAR,	
				investmentFinancialPlanningSuppPage				CHAR,
				computerRelatedServicesPage						CHAR,
				mainBusinessManagementSupplementPage			CHAR,
				auditSupplementPage								CHAR	
	)

	insert into #TempCheckSavedPage 	 exec ValidateIndivisualPageDataACC_p @PolicyKey, @AccountKey
	select @FirmNewAppPage=FirmNewAppPage,@InsuranceHistoryNewApp=InsuranceHistoryNewApp,@aboutFirmPage=aboutFirmPage,@AOPNewApp=AOPNewApp,
		@practiceManagementPage=practiceManagementPage,@morePracticeManagementPage=morePracticeManagementPage,@trustsAndOfficerPage=trustsAndOfficerPage,@pastClaimsPage=pastClaimsPage,
		@practiceManagementSuppPage=practiceManagementSuppPage,@investmentFinancialPlanningSuppPage=investmentFinancialPlanningSuppPage,
		@computerRelatedServicesPage=computerRelatedServicesPage,@mainBusinessManagementSupplementPage=mainBusinessManagementSupplementPage,@auditSupplementPage=auditSupplementPage
	from #TempCheckSavedPage
	drop table #TempCheckSavedPage

	SET @PolicyStatusKey  = (select  PolicyStatusKey from Policy where policykey=@PolicyKey)
	SET @PreviousPolicyKey=(select p.policykey as PreviousPolicykey  FROM policy p inner join firm f on p.policykey=f.policykey and f.VersionSequence=(select max(VersionSequence) From firm where PolicyKey=f.PolicyKey) where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=@PolicyKey) AND policynumber is not null))
	SET @investmentPlanning  = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=19)
	SET @computerServices = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=14)
	SET @BusinessManagement =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=18)
	SET @audit =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=6)

	SET @AnnualRevenue=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where Policykey=@PolicyKey))
	DECLARE @investmentPlanningOld INT
	DECLARE @computerServicesOld INT
	DECLARE @BusinessManagementOld INT
	DECLARE @auditOld INT
	SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=19)
	if(@investmentPlanningOld is null)
	set @investmentPlanningOld=0
	SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=14)
	if(@computerServicesOld is null)
	set @computerServicesOld=0
	SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18)
	if(@BusinessManagementOld is null)
	set @BusinessManagementOld=0
	SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6)
	if(@auditOld is null)
	set @auditOld=0
	
	
	
	
	
	IF(@PolicyStatusKey=1)
	BEGIN
		PRINT 'NB'
	 
		INSERT INTO #Temp9 (object_name,from_page,object_name_desc) VALUES('FirmNewApp','FirmNewApp','About You');
		INSERT INTO #Temp (object_name, from_page,object_name_desc,checked) VALUES('FirmNewApp', 'FirmNewApp','Will hold Firm Name',@FirmNewAppPage);
		INSERT INTO #Temp (object_name, from_page,object_name_desc,checked) VALUES('insuranceHistoryNewApp', 'insuranceHistoryNewApp','Insurance History/Coverage',@InsuranceHistoryNewApp);
		INSERT INTO #Temp5 (object_name,from_page,object_name_desc) VALUES('AOPNewApp','AOPNewApp','Area Of Practice');
	
	
	IF(@AnnualRevenue>500000)
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('practiceManagementSupp', 'practiceManagementSupp','Practice Management',@practiceManagementSuppPage) 
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('practiceManagementSupp','practiceManagementSupp','Supplements');
	END
	 IF(@investmentPlanning>0 )
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('investmentFinancialPlanningSupp', 'investmentFinancialPlanningSupp','Investment Financial Planning',@investmentFinancialPlanningSuppPage);
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('investmentFinancialPlanningSupp','investmentFinancialPlanningSupp','Supplements');
		
	END

	IF(@computerServices>0)
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('computerRelatedServices', 'computerRelatedServices','Computer Related Services',@computerRelatedServicesPage);
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('computerRelatedServices','computerRelatedServices','Supplements');
		
	END
	
	IF(@BusinessManagement>0)
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('mainBusinessManagementSupplement', 'mainBusinessManagementSupplement','BusinessManagement',@mainBusinessManagementSupplementPage);
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('mainBusinessManagementSupplement','mainBusinessManagementSupplement','Supplements');
		
	END

	IF(@audit >0)
	BEGIN
			
			INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('auditSupplement', 'auditSupplement','Audit',@auditSupplementPage);
			INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('auditSupplement','auditSupplement','Supplements');
	END
	
	--ELSE IF(@mainTab='FirmInformation')
	 
		delete from #Temp3 where SN!=1

		INSERT INTO #Temp10 (object_name, from_page,object_name_desc) VALUES('aboutFirm', 'aboutFirm',' Firm Information');
		
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc,checked) VALUES('practiceManagement', 'practiceManagement','Practice Management',@practiceManagementPage);
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc,checked) VALUES('morePracticeManagement', 'morePracticeManagement','More Practice Management',@morePracticeManagementPage);
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc,checked) VALUES('trustsAndOfficer', 'trustsAndOfficer','Trusts And Officer',@trustsAndOfficerPage);		
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc,checked) VALUES('pastClaims', 'pastClaims','Past Claims',@pastClaimsPage);
		
	----ELSE IF(@mainTab='Quote')
	 
		INSERT INTO #Temp6 (object_name,from_page,object_name_desc) VALUES('quoteOption','quoteOption','Quote');
	
	

	 IF(@investmentPlanning>0 OR @computerServices>0 OR @BusinessManagement>0 OR @audit>0 OR @AnnualRevenue>500000) 
	 BEGIN 
		INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','Y');
	 END
	 ELSE
		 BEGIN
		 INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','N');
		END

	  INSERT INTO #Temp8 (object_name, from_page,object_name_desc) VALUES('practiceManagement', 'practiceManagement',' Practice Management');
	
		SELECT * FROM #Temp
		SELECT object_name,from_page,object_name_desc,checked FROM #Temp1 --order by seq
		SELECT * FROM #Temp2
		SELECT object_name,from_page,object_name_desc,checked FROM #Temp3
		SELECT * FROM #Temp4
		SELECT * FROM #Temp5
		SELECT * FROM #Temp6
		SELECT * FROM #Temp7
		SELECT * FROM #Temp8
		SELECT * FROM #Temp9
		SELECT * FROM #Temp10
END
IF(@PolicyStatusKey=2)
	
BEGIN
	PRINT 'RB'
	
		INSERT INTO #Temp9 (object_name,from_page,object_name_desc,checked) VALUES('FirmNewApp','FirmNewApp','About You',@FirmNewAppPage);
		
		INSERT INTO #Temp (object_name, from_page,object_name_desc,checked) VALUES('FirmNewApp', 'FirmNewApp','Will hold Firm Name',@FirmNewAppPage);
		
		INSERT INTO #Temp5 (object_name,from_page,object_name_desc) VALUES('AOPNewApp','AOPNewApp','Area Of Practice');
	
	--select * from #Temp

	--IF(@AnnualRevenue>500000)
	--BEGIN
	--	INSERT INTO #Temp1 (object_name, from_page,object_name_desc) VALUES('practiceManagementSupp', 'practiceManagementSupp','Practice Management');
	--END
	
	 IF((@investmentPlanningOld=0 AND @investmentPlanning>0) OR( @investmentPlanning>@investmentPlanningOld+5 ))
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('investmentFinancialPlanningSupp', 'investmentFinancialPlanningSupp','Investment Financial Planning',@investmentFinancialPlanningSuppPage);
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('investmentFinancialPlanningSupp','investmentFinancialPlanningSupp','Supplements');
		
	END

	IF( (@computerServicesOld=0 AND @computerServices>0) OR(@computerServices>@computerServicesOld+5))
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('computerRelatedServices', 'computerRelatedServices','Computer Related Services',@computerRelatedServicesPage);
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('computerRelatedServices','computerRelatedServices','Supplements');
		

	END
	
	IF((@BusinessManagementOld=0 AND @BusinessManagement>0)OR(@BusinessManagement>@BusinessManagementOld+5))
	BEGIN
		INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('mainBusinessManagementSupplement', 'mainBusinessManagementSupplement','BusinessManagement',@mainBusinessManagementSupplementPage);
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('mainBusinessManagementSupplement','mainBusinessManagementSupplement','Supplements');
			
		
	
	END

	IF((@auditOld=0 AND @audit>0)OR(@audit >@auditOld+5))
	BEGIN
			INSERT INTO #Temp1 (object_name, from_page,object_name_desc,checked) VALUES('auditSupplement', 'auditSupplement','Audit',@auditSupplementPage);
			INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('auditSupplement','auditSupplement','Supplements');
		
	END
	delete from #Temp3 where SN!=1
	INSERT INTO #Temp10 (object_name, from_page,object_name_desc) VALUES('aboutFirm', 'aboutFirm',' Firm Information');
	INSERT INTO #Temp2 (object_name, from_page,object_name_desc,checked) VALUES('practiceManagement', 'practiceManagement','Practice Management',@practiceManagementPage);
	INSERT INTO #Temp2 (object_name, from_page,object_name_desc,checked) VALUES('pastClaims', 'pastClaims','Past Claims',@pastClaimsPage);
		
	INSERT INTO #Temp6 (object_name,from_page,object_name_desc) VALUES('quoteOption','quoteOption','Quote');

	  INSERT INTO #Temp8 (object_name, from_page,object_name_desc) VALUES('practiceManagement', 'practiceManagement',' Practice Management');

	 IF(((@investmentPlanningOld=0 AND @investmentPlanning>0) OR( @investmentPlanning>@investmentPlanningOld+5 )) OR ( (@computerServicesOld=0 AND @computerServices>0) OR(@computerServices>@computerServicesOld+5)) OR ((@BusinessManagementOld=0 AND @BusinessManagement>0)OR(@BusinessManagement>@BusinessManagementOld+5)) OR((@auditOld=0 AND @audit>0)OR(@audit >@auditOld+5))) 
	 BEGIN 
		INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','Y');
	 END
	 ELSE
		 BEGIN
		 INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','N');
		 END
	  
		SELECT * FROM #Temp
		SELECT object_name,from_page,object_name_desc,checked FROM #Temp1
		SELECT * FROM #Temp2
		SELECT object_name,from_page,object_name_desc,checked FROM #Temp3
		SELECT * FROM #Temp4
		SELECT * FROM #Temp5
		SELECT * FROM #Temp6
		SELECT * FROM #Temp7
		SELECT * FROM #Temp8
		SELECT * FROM #Temp9
		SELECT * FROM #Temp10
	END
END



GO
