USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_ElectronicsSelectionRejection_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_ElectronicsSelectionRejection_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_ElectronicsSelectionRejection_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_ElectronicsSelectionRejection_LW] AS' 
END
GO
--exec UWRules_InsuranceHistory_LW 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_ElectronicsSelectionRejection_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500)
	
	DECLARE @isElectronicDeliveryRejection CHAR,@isElectronicAndPaperDelivery CHAR,@StateCode VARCHAR(50)
	set @StateCode=(Select top 1 ad.StateCode from AccountAddress ac inner join Address ad on ac.AddressKey=ad.AddressKey where AccountKey=@AccountKey)
	select @isElectronicDeliveryRejection=isElectronicDeliveryRejection,@isElectronicAndPaperDelivery=isElectronicAndPaperDelivery from ElectronicInsurance where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence

	set @rule_id='validateElectronicsDeliverRejection_Lawyers'
	IF(@StateCode='KS')
	BEGIN
		if(@isElectronicDeliveryRejection='Y' or @isElectronicAndPaperDelivery='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Customer must be mailed a hard copy of documentation.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
	else
	BEGIN
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END

GO
