USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateMods_AutoQuote]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateMods_AutoQuote]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateMods_AutoQuote]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateMods_AutoQuote] AS' 
END
GO
--exec UpdateMods_AutoQuote 167384
ALTER PROCEDURE [dbo].[UpdateMods_AutoQuote]
(
@PolicyKey INT
)
	
AS
begin
print 'HI'
	--DECLARE @Firm_Ed_TrainingMod INT,@isAutoQuoteModsUpdated char
	--select top 1 @isAutoQuoteModsUpdated=  isAutoQuoteModsUpdated from firm where PolicyKey=@PolicyKey
	
	--if(@isAutoQuoteModsUpdated is null or @isAutoQuoteModsUpdated ='')
	--set @isAutoQuoteModsUpdated='N'

	--if(@isAutoQuoteModsUpdated<>'Y')
	--	begin
	--		print 'Mods have been updated to subjective conditions'
	--		SET @Firm_Ed_TrainingMod=(select case when percentage is null or percentage ='' then 0 else percentage end from CoverageModifiers where ModifierKey=3 and Policykey=@PolicyKey)
	--		update CoverageModifiers set percentage=@Firm_Ed_TrainingMod+3 where ModifierKey=3 and Policykey=@PolicyKey 
	--		update FIRM set isAutoQuoteModsUpdated='Y' where Policykey=@PolicyKey
	--	end
		
end




GO
