USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsureDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertInsureDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsureDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertInsureDetails_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertInsureDetails_p]
	(
	@Policykey INT,
	@AccountID INT,
	@AccountKey INT,
	@AddresKey INT,
	@AccountName varchar(100),
	@Address1 VARCHAR(100),
	@StateCode VARCHAR(20),
	@CountyDesc VARCHAR(100),
	@City VARCHAR(100),
	@Zip VARCHAR(20),
	@PolicyEffectiveDate DateTime,
	@WorkPhone VARCHAR(20),
	@ProducerCode VARCHAR(50),
	@Address2 VARCHAR(100),
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50),
	@CompanyKey INT,
	@CompanyAsPerState INT,
	@NameClearType VARCHAR(50),
	@NameClearDate DateTime,
	@isNameClearanceRequired char(1)
	)
AS
BEGIN
	Declare @PolicyStatusKey INT 
	Declare @VersionSequence INT 
	SET @VersionSequence=(select versionsequence from Firm where policykey=@Policykey)
	if(@ProducerCode='SPACE' or @ProducerCode='')
	set @ProducerCode=null
	PRINT @ProducerCode
	if(@CompanyKey is null or @CompanyKey='')
	set @CompanyKey=@CompanyAsPerState
	SELECT @PolicyStatusKey=PolicyStatusKey FROM POLICY WHERE POLICYKEY=@Policykey
	UPDATE POLICY SET LastUpdateTimeStamp=@LastUpdateTimeStamp, LastUpdateUserID=@LastUpdateUserID,isUncompletedData='N',PolicyEffectiveDate=@PolicyEffectiveDate,IsQuickQuote='N',IsFullQuote='Y',CompanyKey=@CompanyKey WHERE POLICYKEY=@Policykey
	UPDATE ACCOUNT SET LastUpdateTimeStamp=@LastUpdateTimeStamp, LastUpdateUserID=@LastUpdateUserID,AccountName=@AccountName WHERE AccountKey=@AccountKey
	UPDATE ADDRESS SET LastUpdateTimeStamp=@LastUpdateTimeStamp, LastUpdateUserID=@LastUpdateUserID,Zip=SUBSTRING(@Zip,0,6),Zip4=SUBSTRING(@Zip,7,10),Address1=@Address1,Address2=@Address2,Street=@Address1,StateCode=@StateCode,CountyDesc=@CountyDesc,City=@City,WorkPhone=@WorkPhone WHERE AddressKey=@AddresKey;
	IF(@NameClearType != '' AND @NameClearType is not NULL AND @NameClearDate != '' AND @NameClearDate is not NULL AND @isNameClearanceRequired != '' AND @isNameClearanceRequired is not NULL)
	BEGIN
		UPDATE Firm SET NameClearType=@NameClearType, NameClearDate=@NameClearDate, isNameClearanceRequired=@isNameClearanceRequired WHERE POLICYKEY=@Policykey 
	END
	UPDATE Firm SET LastUpdateTimeStamp=@LastUpdateTimeStamp, LastUpdateUserID=@LastUpdateUserID,isNewApp='Y',IsThankYouEmailSend='Y' WHERE POLICYKEY=@Policykey 
	UPDATE PolicyTransaction set LastUpdateTimeStamp=@LastUpdateTimeStamp, LastUpdateUserID=@LastUpdateUserID, PolicyExpirationDate= DATEADD(year, 1, @PolicyEffectiveDate),ProducerCode=@ProducerCode, VersionSequence=@VersionSequence  WHERE POLICYKEY=@Policykey
END 











GO
