USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetBrokerPolicyDetailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetBrokerPolicyDetailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetBrokerPolicyDetailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetBrokerPolicyDetailsLW_p] AS' 
END
GO
--select * from BrokerageLW where BrokeragePolicyKey=5
--	 exec [GetBrokerPolicyDetailsLW_p] null, 5, 'N', '2', 'Y', 'N', 2,'3'
ALTER PROCEDURE [dbo].[GetBrokerPolicyDetailsLW_p]
	(
		
		@PolicyKey INT,
		@BrokeragePolicyKey INT,
		@isNewBrokerPolicy CHAR,
		@TransactionTypeKey INT,
		@RenewAsBrokerage CHAR,
		@isConvertedPolicy CHAR,
		@MarketableProductKey INT,
		@LastUpdateUserID VARCHAR(20)

	)
AS
BEGIN
	CREATE TABLE #Temp
	(
		BrokeragePolicyKey INT ,
		BrokeragePolicyID INT,
		AccountID INT,
		CreatedDate DATETIME,
		CreatedBy VARCHAR(200),
		LastUpdateUserID VARCHAR(100) ,
		LastUpdateTimeStamp [datetime] ,
		FirstReviewUserID VARCHAR(100),
		CarrierKey VARCHAR(100),
		BrokeredPolicyNumber VARCHAR(100),
		BrokerPolicyEffectiveDate DATETIME,
		BrokerPolicyExpirationDate DATETIME,
		AccountName VARCHAR(200),
		Address VARCHAR(500),
		Address2 VARCHAR(500),
		State VARCHAR(20),
		City VARCHAR(100),
		Zip VARCHAR(20),
		Phone VARCHAR(20),
		Email VARCHAR(100),
		LOBKey INT,
		haveProfessionalLiabilityInsurance CHAR,
		PLEffectiveDate DATETIME,
		PLExpirationDate DATETIME,
		PLPolicyNumber VARCHAR(100),
		ContractComments VARCHAR(500),
		ExpiringCarrier VARCHAR(100),
		BrokerKey VARCHAR(100),
		Commission Numeric(10,2),
		StatusKey int,
		BrokeragePaymentType INT,
		Premium Numeric(17,2),
		PremiumTax Numeric(17,2),
		Fees  Numeric(17,2),
		TotalCalculatedPremium Numeric(17,2),
		ExpiringPolicyNumber VARCHAR(100),
		ExpiringPremium Numeric(17,2),
		ExpiringPolicyEffectiveDate DATETIME,
		ExpiringPolicyExpirationDate DATETIME,
		TransactionTypeKey INT,
		isArchived VARCHAR(20) default 'False',
		PolicyKey int,
		StatusKeySaved INT,
		ProducerCode VARCHAR(100),
		LimitSequence INT,
		DeductibleSequence INT,
		IsClaimExpensesType CHAR,
		IsClaimOptionType Char,
		IsDollarDefense Char
	)
	if(@isNewBrokerPolicy is not null and @isNewBrokerPolicy='Y')
			begin

			Declare @StatusKey INT,@MinTransactionSequence INT,@FinalizedTs int
			
			set   @StatusKey=(select top 1 statuskey from Policytransaction where Policykey=@Policykey)
			set   @MinTransactionSequence=(Select min(Transactionsequence) from Policytransaction where Policykey=@PolicyKey)
			set   @FinalizedTs=(Select Transactionsequence from Quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y')
			Declare @AggregateLimit INT,@OccuranceLimit INT,@IsClaimExpensesType Char,@IsClaimOptionType CHAR,@IsDollarDefense CHAR,@AggregateDeductible INT,@LimitSequence INT,@DeductibelSequence INT

			Select @AggregateLimit=pc.AggregateLimit,@OccuranceLimit=pc.OccuranceLimit,@AggregateDeductible=pc.AggregateDeductible,@IsClaimExpensesType=pc.IsClaimExpensesType,@IsClaimOptionType=pc.IsClaimOptionType,@IsDollarDefense=pc.IsDollarDefense 
			from PolicyCoverage pc 	where pc.PolicyKey=@PolicyKey and pc.TransactionSequence=@FinalizedTs

			set @LimitSequence=(select LimitSequence from BrokerageLimits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit)
			set @DeductibelSequence=(select DeductibleSequence from BrokerageDeductibles where AggregateDeductible=@AggregateDeductible)
			--select @StatusKey,@MinTransactionSequence,@FinalizedTs
			if(@StatusKey=6 or @StatusKey=7)
				Begin
						print 'issued policy'
						INSERT INTO #Temp(AccountID,ExpiringPolicyEffectiveDate,ExpiringPolicyExpirationDate,ExpiringPolicyNumber,Email,AccountName,Address,Address2,State,Zip,City,Phone,TransactionTypeKey,
						BrokerPolicyEffectiveDate,PolicyKey,ExpiringPremium,ProducerCode,LimitSequence,DeductibleSequence,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense )
							Select distinct p.AccountID,p.PolicyEffectiveDate,pt.PolicyExpirationDate,p.PolicyNumber,ac.AccountEmail,ac.AccountName,ad.Address1,ad.Address2,ad.StateCode,
							case when ad.Zip4 is not null and ad.Zip4 <>'' then (ad.Zip+' '+ad.Zip4) else ad.Zip end ,ad.City,ad.WorkPhone,@TransactionTypeKey,p.PolicyEffectiveDate,@PolicyKey,pt.InvoicedPremium,
							pt.ProducerCode,@LimitSequence,@DeductibelSequence,@IsClaimExpensesType,@IsClaimOptionType,@IsDollarDefense
							from  Policy p 
								inner join Policytransaction pt on pt.Policykey=p.PolicyKey
								inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
								inner join Account ac on aa.AccountKey=ac.AccountKey
								inner join Address ad on ad.AddressKey=aa.AddressKey 
								
								where p.PolicyKey=@PolicyKey and pt.TransactionSequence=@FinalizedTs

								--select * from #Temp
						End
				else
					Begin
							print 'Non issued policy'
							INSERT INTO #Temp(AccountID,ExpiringPolicyEffectiveDate,ExpiringPolicyExpirationDate,ExpiringPolicyNumber,Email,AccountName,Address,Address2,State,Zip,City,Phone,TransactionTypeKey,
							BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,PolicyKey,ExpiringPremium,ProducerCode,LimitSequence,DeductibleSequence,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense )
							Select distinct p.AccountID,p.PolicyEffectiveDate,pt.PolicyExpirationDate,p.PolicyNumber,ac.AccountEmail,ac.AccountName,ad.Address1,ad.Address2,ad.StateCode,
							case when ad.Zip4 is not null and ad.Zip4 <>'' then (ad.Zip+' '+ad.Zip4) else ad.Zip end ,ad.City,ad.WorkPhone,@TransactionTypeKey,p.PolicyEffectiveDate,pt.PolicyExpirationDate,@PolicyKey,pt.InvoicedPremium,pt.ProducerCode
							,@LimitSequence,@DeductibelSequence,@IsClaimExpensesType,@IsClaimOptionType,@IsDollarDefense
							from  Policy p 
								inner join Policytransaction pt on pt.Policykey=p.PolicyKey
								inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
								inner join Account ac on aa.AccountKey=ac.AccountKey
								inner join Address ad on ad.AddressKey=aa.AddressKey 
								
								where p.PolicyKey=@PolicyKey and pt.TransactionSequence=@MinTransactionSequence
					End
			
				if(@RenewAsBrokerage='Y')
						begin
								print 'Renew as Brokerage'
							--Select * from #Temp
							declare @effectiveDate DATETIME,@isRenewed CHAR
							select distinct @isRenewed=f.IsRenewed,@StatusKey=pt.StatusKey from Firmlw f inner join Policytransaction pt on pt.Policykey=f.Policykey where f.PolicyKey=@PolicyKey
					

							if(@StatusKey=6)
							begin
								print 'Already Renewed'
								set @effectiveDate=(select DATEADD(year, 1,BrokerPolicyEffectiveDate) from #Temp)
								--select @effectiveDate as effectiveDate
								update #Temp set BrokerPolicyEffectiveDate=@effectiveDate
							end
							
							update #Temp set ExpiringCarrier='USFIC'
					end
				else
					Begin
						update #Temp set ExpiringPremium=null,ExpiringPolicyNumber=null,ExpiringPolicyEffectiveDate=null,ExpiringPolicyExpirationDate=null
					End
					if(@isConvertedPolicy='Y' or @RenewAsBrokerage='Y')
					begin
						IF(@MarketableProductKey=1)
							update #Temp set LOBKey=1
						IF(@MarketableProductKey=2)
							update #Temp set LOBKey=2
					end
			end
		else if(@isNewBrokerPolicy='N' and @RenewAsBrokerage='Y')
			begin
			print 'Brokerage renewal'
					Insert into #Temp(AccountID,CreatedDate,CreatedBy,LastUpdateUserID,LastUpdateTimeStamp,CarrierKey,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,
					AccountName,Address,Address2,State,City,Zip,Phone,Email,LOBKey,ContractComments,ExpiringCarrier,BrokerKey,ExpiringPolicyNumber,Commission,StatusKey,
				ExpiringPremium,ExpiringPolicyEffectiveDate,ExpiringPolicyExpirationDate,TransactionTypeKey ,ProducerCode,LimitSequence,DeductibleSequence
				,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense )

				select AccountID,getdate(),@LastUpdateUserID,@LastUpdateUserID,GETDATE(),bkl.CarrierKey,DATEADD(year, 1,BrokerPolicyEffectiveDate),DATEADD(year, 1,BrokerPolicyExpirationDate),
				AccountName,Address,Address2,State,	City,Zip,Phone,Email,LOBKey,ContractComments,cr.CarrierDesc,bkl.BrokerKey,bkl.BrokeredPolicyNumber,Commission,1,
				bkl.Premium,bkl.BrokerPolicyEffectiveDate,bkl.BrokerPolicyExpirationDate,2 ,ProducerCode,bpc.LimitSequence,
				bpc.DeductibleSequence,bpc.IsClaimExpensesType,bpc.IsClaimOptionType,bpc.IsDollarDefense
				from BrokerageLW bkl 
				 inner join BrokeragePolicyCoverage bpc on bkl.BrokeragePolicyKey= bpc.BrokeragePolicyKey
				 inner join Carrier_lku cr on cr.CarrierKey=bkl.CarrierKey
				where bkl.BrokeragePolicyKey=@BrokeragePolicyKey
			end
		else
			begin
				
				Insert into #Temp(BrokeragePolicyKey,BrokeragePolicyID,AccountID,CreatedDate,CreatedBy,LastUpdateUserID,LastUpdateTimeStamp,CarrierKey,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,
				Address,Address2,State,
				City,Zip,Phone,Email,LOBKey,haveProfessionalLiabilityInsurance,PLEffectiveDate,PLExpirationDate,PLPolicyNumber,ContractComments,ExpiringCarrier,BrokerKey,ExpiringPolicyNumber,Commission,StatusKey,
				Premium,PremiumTax,ExpiringPremium,ExpiringPolicyEffectiveDate,ExpiringPolicyExpirationDate,TransactionTypeKey ,Fees,TotalCalculatedPremium,BrokeragePaymentType,StatusKeySaved,ProducerCode,PolicyKey,LimitSequence,DeductibleSequence
				,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense )

				select bkl.BrokeragePolicyKey,bkl.BrokeragePolicyKey as BrokeragePolicyID,AccountID,bkl.CreatedDate,bkl.CreatedBy,bkl.LastUpdateUserID,bkl.LastUpdateTimeStamp,CarrierKey,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,
				AccountName,Address,Address2,State,
				City,Zip,Phone,Email,LOBKey,haveProfessionalLiabilityInsurance,PLEffectiveDate,PLExpirationDate,PLPolicyNumber,ContractComments,ExpiringCarrier,BrokerKey,ExpiringPolicyNumber,Commission,StatusKey,
				Premium,PremiumTax,ExpiringPremium,ExpiringPolicyEffectiveDate,(case when ExpiringPolicyExpirationDate is null then  DATEADD(year, 1,ExpiringPolicyEffectiveDate) else ExpiringPolicyExpirationDate end) as ExpiringPolicyExpirationDate,TransactionTypeKey ,Fees,TotalCalculatedPremium,BrokeragePaymentTypeKey,StatusKey,ProducerCode,PLPolicyKey,bpc.LimitSequence,
				bpc.DeductibleSequence,bpc.IsClaimExpensesType,bpc.IsClaimOptionType,bpc.IsDollarDefense
				from BrokerageLW bkl  inner join BrokeragePolicyCoverage bpc on bkl.BrokeragePolicyKey= bpc.BrokeragePolicyKey
				where bkl.BrokeragePolicyKey=@BrokeragePolicyKey
			
			end

			

		Select * from #Temp

	Drop table #Temp

END


















GO
