USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetProfileDetailsForWorkq_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SetProfileDetailsForWorkq_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetProfileDetailsForWorkq_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SetProfileDetailsForWorkq_p] AS' 
END
GO
--exec SetProfileDetailsForWorkq_p null, null, null, null, null, 3,null,null
--select * from profilefilter where userno=3
ALTER PROCEDURE [dbo].[SetProfileDetailsForWorkq_p]
(
@PolicyStatusDesc VARCHAR(50),
@StateCodefilter  VARCHAR(50),
@ProducerCode1	VARCHAR(50),
@EligibleFirstReviewerfilter	VARCHAR(1000),
@isComingFromProfile CHAR,
@UserNo INT,
@BrokerID varchar(200),
@CarrierID varchar(200)
)
AS
BEGIN


DECLARE @ProfileFirstReviewer VARCHAR(1000)
DECLARE @ProfileStates VARCHAR(1000)
DECLARE @ProfilePolicyStatus VARCHAR(20)
DECLARE @SubProducedOrDirect VARCHAR(20)
DECLARE @ProfileBrokerKey VARCHAR(200)
DECLARE @ProfileCarrierKey VARCHAR(200)

IF(@isComingFromProfile IS NULL OR  @isComingFromProfile='')
	BEGIN
	SELECT @PolicyStatusDesc=PolicyStatusKey,@ProducerCode1=Direct_SubProducedKey,@EligibleFirstReviewerfilter=FirstReviewerUserNo FROM ProfileFilter Where UserNo=@UserNo
	END
 --select @PolicyStatusDesc,@ProducerCode1,@FirstReviewerfilter
IF(@PolicyStatusDesc<>'' AND @PolicyStatusDesc IS NOT NULL)
	BEGIN
		IF(@PolicyStatusDesc='1')
			BEGIN
				SET @ProfilePolicyStatus='NEW'
			END
		ELSE
			BEGIN
				SET @ProfilePolicyStatus='RENEW'
			END
	END
ELSE
	BEGIN
		SET @ProfilePolicyStatus='ALL'
	END

IF(@EligibleFirstReviewerfilter<>'' AND @EligibleFirstReviewerfilter IS NOT NULL)
	BEGIN
		SELECT @ProfileFirstReviewer= coalesce(@ProfileFirstReviewer + ', ', '') + a.AGENTNAME 
		FROM (SELECT AGENTNAME FROM USERDETAILS WHERE USERNO IN(SELECT items FROM dbo.SplitString(@EligibleFirstReviewerfilter,','))) a
	END
ELSE
	BEGIN
		SET @ProfileFirstReviewer='ALL'
	END

IF(@ProducerCode1<>'' AND @ProducerCode1 IS NOT NULL)
	BEGIN
		SET @SubProducedOrDirect=@ProducerCode1
	END
ELSE
	BEGIN
		SET @SubProducedOrDirect='ALL'
	END

IF(@StateCodefilter<>'' AND @StateCodefilter IS NOT NULL)
	BEGIN
		SET @ProfileStates=@StateCodefilter
	END
ELSE
	BEGIN
		SET @ProfileStates='ALL'
	END


IF(@BrokerID <>'' AND @BrokerID IS NOT NULL)
	BEGIN
		SELECT @ProfileBrokerKey= coalesce(@ProfileBrokerKey + ', ', '') + a.BrokerDesc 
		FROM (SELECT BrokerDesc FROM Broker_lku WHERE BrokerKey IN(SELECT items FROM dbo.SplitString(@BrokerID,','))) a
	
	END
ELSE
	BEGIN
		SET @ProfileBrokerKey='ALL'
	END

IF(@CarrierID <>'' AND @CarrierID IS NOT NULL)
	BEGIN
		
		SELECT @ProfileCarrierKey= coalesce(@ProfileCarrierKey + ', ', '') + a.CarrierDesc 
		FROM (SELECT CarrierDesc FROM Carrier_lku WHERE CarrierKey IN(SELECT items FROM dbo.SplitString(@CarrierID,','))) a
	
	END
ELSE
	BEGIN
		SET @ProfileCarrierKey='ALL'
	END

SELECT @ProfilePolicyStatus as ProfilePolicyStatus,@ProfileFirstReviewer as ProfileFirstReviewer,@ProfileStates as ProfileStates,@SubProducedOrDirect as SubProducedOrDirect, @ProfileBrokerKey as ProfileBrokerKey, @ProfileCarrierKey as ProfileCarrierKey

END





GO
