USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_Attorneys_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_Attorneys_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_Attorneys_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_Attorneys_LW] AS' 
END
GO
--exec UWRules_Attorneys_LW 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_Attorneys_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
	
)
AS
BEGIN

	
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@AttorneyCount INT=0,@AttorneyCountBelow500hours INT=0,@AttorneyCountBelow1000hours INT=0,@AttorneyCountNonRated INT=0,@WorkingHoursForSoloAttorney INT=0,@AttorneyDomicileStateCount INT=0
	DECLARE @AttorneyKey INT=0,@LicensedStates VARCHAR(500),@previousPolicyKey INT=0,@previousVersionSequence INT=0,@priorAttorneyCount INT=0,@StateCode VARCHAR(100),@Count INT
	SET @StateCode=(Select StateCode from Address where AddressKey=@AddressKey)
	set  @AttorneyCount=(Select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	set  @AttorneyCountBelow1000hours=(Select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AnnualWorkedHours<1000)
	set  @AttorneyCountBelow500hours=(Select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AnnualWorkedHours<500)
	set  @AttorneyCountNonRated=(Select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and IsNonRatedAttorney<>'Y')
	
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	set  @priorAttorneyCount=(Select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence)
	if(@AttorneyCount=1 )
	begin
			set @WorkingHoursForSoloAttorney=(select AnnualWorkedHours from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
	end

	set @AttorneyDomicileStateCount=0
	Declare c1 cursor for 	select AttorneyKey,LicensedStates from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence order by AttorneyKey
	OPEN c1
	FETCH NEXT FROM c1 into @AttorneyKey,@LicensedStates
		WHILE @@FETCH_STATUS = 0
		begin
		
			set @Count=(select CASE when Count(items) is not null then  Count(items) else 0 end from Split (@LicensedStates,',') where items=@StateCode)
		if (@Count>0)
		set @AttorneyDomicileStateCount=@AttorneyDomicileStateCount+1

		FETCH NEXT FROM c1 into @AttorneyKey,@LicensedStates				
		end
	CLOSE c1
	DEALLOCATE c1
	--select @AttorneyDomicileStateCount as AttorneyDomicileStateCount
	set @rule_id='multipleAttorneyAtleastHaveThousandHours_Lawyers'
	if(@AttorneyCount>1 and @AttorneyCount=@AttorneyCountBelow1000hours)
		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Multiple attorneys without one working 1000 hours.','Need UW approval.',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id


	set @rule_id='soloAtorneyHoursLessThanFiveHundred_Lawyers'
	if(@AttorneyCount=1 and @WorkingHoursForSoloAttorney<500 )
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Solo with less than 500 hours. Must be approved by ISMIE.','Need UW approval.',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	--set @rule_id='anyNonRatedAttorney_Lawyers'
	--if(@AttorneyCountNonRated>0 )
	--		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Non-rated attorney.','Needs approval by UW.',@LastUpdateUserID
	--else
	--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	set @rule_id='attorneysNotLicensedIndomicile_Lawyers'
	if(@AttorneyDomicileStateCount<>@AttorneyCount)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The attorney''s must be licensed in the state of domicile.','Does attorney practice soley at the federal level? Is the attorney in the process of getting licenced in the state of domicile in the future?',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id

IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB Flow'
		
		set @rule_id='moreThan10AttorneysNewBusiness_Lawyers'
		if(@AttorneyCount>10 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'More than 10 attorneys needs ISMIE approval.','Need ISMIE approval.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

END

IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
		
		set @rule_id='moreThan10AttorneysRenewalBusiness_Lawyers'
		if( @priorAttorneyCount< @AttorneyCount and @AttorneyCount>10 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'More than 10 attorneys needs ISMIE approval.','Need ISMIE approval.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END



GO
