USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetGrossRevenueGrid_EstimateFormACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetGrossRevenueGrid_EstimateFormACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetGrossRevenueGrid_EstimateFormACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetGrossRevenueGrid_EstimateFormACC_p] AS' 
END
GO
--exec GetGrossRevenueGrid_EstimateFormACC_p
ALTER PROCEDURE [dbo].[GetGrossRevenueGrid_EstimateFormACC_p]

	
AS
begin

	CREATE TABLE #Temp
	(
	GrossRevenueKey int,
	GrossRevenueDesc VARCHAR(50),
	YearEndDate VARCHAR(10),
	Amount		Numeric(10,2),
	)

	insert into #Temp(GrossRevenueKey,GrossRevenueDesc)
	SELECT GrossRevenueKey,GrossRevenueDesc FROM GrossRevenue


	SELECT * FROM  #Temp
	end


	

GO
