USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetProgressbarData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetProgressbarData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetProgressbarData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetProgressbarData] AS' 
END
GO
--exec [SP_GetProgressbarData] 1
ALTER PROCEDURE [dbo].[SP_GetProgressbarData]
(	
	 @policyKey int = null,
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null
)
AS
BEGIN

	CREATE TABLE #TEMPDATA
	(
		PolicyKey INT,
		VersionKey INT,
		FormId INT,
		FormVersionKey INT,
		policyQuoteNumber varchar(100),
		policyFirmName varchar(100),
		policyNumber varchar(150),
		policyState varchar(150),
		policyEffectiveDate Date,
		policyCreationDate Date,
		policyFirstReviwer varchar(150),
		policyStatus varchar(150),
		policyPremium INT
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, policy.QuoteNumber, firmInformation.FirmName, 
	CASE WHEN policy.PolicyNumber is null THEN '''' ELSE policy.PolicyNumber END as PolicyNumber, 
	firmInformation.State, firmInformation.StartDate, policy.CreatedDate, 
	CASE WHEN policy.FirstReviewUserID is null THEN '''' ELSE policy.FirstReviewUserID END as policyFirstReviwer, 
	(SELECT Name FROM PolicyStatus WHERE PolicyStatusKey = policy.PolicyStatusKey) as policyStatus, 
	CASE WHEN policyTransaction.InvoicedPremium is null THEN 0 ELSE policyTransaction.InvoicedPremium END as InvoicedPremium  
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + ''' 
	left join FirmInformation as firmInformation on policy.PolicyKey = firmInformation.PolicyKey and policy.VersionKey = firmInformation.VersionKey 
	left join InsuranceInformation as insuranceInformation on policy.PolicyKey = insuranceInformation.PolicyKey and policy.VersionKey = insuranceInformation.VersionKey 
	left join AttorneyDetailsLW as attorney on policy.PolicyKey = attorney.PolicyKey and policy.VersionKey = attorney.VersionKey 
	left join PolicyTransaction as policyTransaction on policy.PolicyKey = attorney.PolicyKey and policy.VersionKey = attorney.VersionKey
	WHERE policy.PolicyKey =  ' + @policyKey;

	print @sqlstm

	INSERT INTO #TEMPDATA (PolicyKey,VersionKey,FormId,FormVersionKey,policyQuoteNumber,policyFirmName,policyNumber,policyState,policyEffectiveDate,policyCreationDate,
	policyFirstReviwer,policyStatus,policyPremium)
	EXECUTE (@sqlstm)


	--select * from #TEMPDATA 

	SELECT (select PolicyKey,VersionKey,FormId,FormVersionKey,policyQuoteNumber,policyFirmName,policyNumber as 'policyNumber',policyState,policyEffectiveDate,policyCreationDate,
	policyFirstReviwer,policyStatus,policyPremium from #TEMPDATA FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML
	--SELECT STUFF((select * from #TEMPDATA FOR XML PATH('') ), 1, 1, '') as XML
END




GO
