USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateQuoteAdditionACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateQuoteAdditionACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateQuoteAdditionACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateQuoteAdditionACC_p] AS' 
END
GO
--exec ValidateQuoteAdditionACC_p 124363, 12, 3, 2, 'N', 'N', 'N'
ALTER PROCEDURE [dbo].[ValidateQuoteAdditionACC_p]
(
	@PolicyKey INT,
	@LimitSequence INT,
	@DeductibleSequence INT, 
	@CoverageKey INT,
	@IsClaimExpensesType CHAR,
	@IsClaimOptionType CHAR,
	@IsDollarDefense Char
)
AS
BEGIN

DECLARE @AggregateLimit INT,@OccuranceLimit INT,@OccuranceDeductible INT,@AggregateDeductible INT,@AggregateLimitTemp INT,@OccuranceLimitTemp INT,@OccuranceDeductibleTemp INT,@AggregateDeductibleTemp INT

Select @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit from Limits where LimitSequence=@LimitSequence and CoverageKey=@CoverageKey
select @OccuranceDeductible=OccuranceDeductible,@AggregateDeductible=AggregateDeductible from Deductibles where DeductibleSequence=@DeductibleSequence and CoverageKey=@CoverageKey

--select @AggregateLimit as AggregateLimit,@OccuranceLimit as OccuranceLimit,@OccuranceDeductible as OccuranceDeductible,@AggregateDeductible as AggregateDeductible

DECLARE @IsClaimExpensesTypeTemp CHAR,@IsDollarDefenseTemp CHAR,@IsClaimOptionTypeTemp CHAR,@DuplicateQuote CHAR='N'
SET @DuplicateQuote='N'
IF(@IsDollarDefense='N')
BEGIN
Declare c1 cursor for
			select AggregateLimit,OccuranceLimit,AggregateDeductible,OccuranceDeductible,IsClaimExpensesType,IsClaimOptionType from PolicyCoverage  pc inner join Quote q 
			on pc.Policykey=q.policyKey and pc.TransactionSequence=q.TransactionSequence where pc.Policykey=@PolicyKey and q.isShowQuote<>'N' order by pc.TransactionSequence
           
       
       OPEN c1
       FETCH NEXT FROM c1 into @AggregateLimitTemp,@OccuranceLimitTemp,@AggregateDeductibleTemp,@OccuranceDeductibleTemp,@IsClaimExpensesTypeTemp,@IsClaimOptionTypeTemp
       WHILE @@FETCH_STATUS = 0
              begin
              print 'lkjkljljl'
		--	 select  @AggregateLimitTemp,@OccuranceLimitTemp,@AggregateDeductibleTemp,@OccuranceDeductibleTemp,@IsClaimExpensesTypeTemp,@IsClaimOptionTypeTemp

			 if(@AggregateLimit=@AggregateLimitTemp AND @OccuranceLimit=@OccuranceLimitTemp AND @OccuranceDeductible=@OccuranceDeductibleTemp AND @AggregateDeductible=@AggregateDeductibleTemp AND @IsClaimExpensesType=@IsClaimExpensesTypeTemp
				AND @IsClaimOptionType=@IsClaimOptionTypeTemp)
			BEGIN
				SET @DuplicateQuote='Y'
			END
			
              FETCH NEXT FROM c1 into  @AggregateLimitTemp,@OccuranceLimitTemp,@AggregateDeductibleTemp,@OccuranceDeductibleTemp,@IsClaimExpensesTypeTemp,@IsClaimOptionTypeTemp
              end
              CLOSE c1
              DEALLOCATE c1

END
Select @DuplicateQuote as duplicateQuote

END





GO
