USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UPDATEPolicyVersionID_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UPDATEPolicyVersionID_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UPDATEPolicyVersionID_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UPDATEPolicyVersionID_p] AS' 
END
GO
--exec UPDATEPolicyVersionID_p
ALTER PROCEDURE [dbo].[UPDATEPolicyVersionID_p]

AS
BEGIN
CREATE TABLE #TEMP
(
SN INT IDENTITY(1,1),
PolicyKey INT,
MarketableProductKey INT,
CoverageKey INT

)

INSERT INTO #TEMP
select p.policykey,p.MarketableProductKey,pc.CoverageKey from policy p 
inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey
inner join PolicyCoverage pc on pc.PolicyKey=pt.PolicyKey
where
 pt.TransactionTypeKey<5 and pt.VersionID is null
and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where policykey=p.PolicyKey)

DECLARE @COUNT INT
SET @COUNT=(SELECT COUNT(*) from #TEMP)
DECLARE  @INDEX INT=1
DECLARE @MARKETKEY INT
DECLARE @COVERAGEKEY INT
DECLARE @POLICYKEY INT
DECLARE @VERSIONID INT
WHILE(@INDEX<=@COUNT)
BEGIN

SELECT @POLICYKEY=PolicyKey,@MARKETKEY=MarketableProductKey,@COVERAGEKEY=CoverageKey FROM #TEMP WHERE SN=@INDEX
IF(@MARKETKEY=1 AND @COVERAGEKEY=2)
BEGIN
	SET @VERSIONID=(SELECT VersionSequence FROM FIRM WHERE PolicyKey=@POLICYKEY)
	UPDATE PolicyTransaction SET VersionID= @VERSIONID WHERE PolicyKey=@POLICYKEY
END

IF(@MARKETKEY=2 AND @COVERAGEKEY=3)
BEGIN
	SET @VERSIONID=(SELECT VersionSequence FROM FIRMLW WHERE PolicyKey=@POLICYKEY)
	UPDATE PolicyTransaction SET VersionID= @VERSIONID WHERE PolicyKey=@POLICYKEY
END

SET @INDEX=@INDEX+1
END




END

GO
