USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanPracticeManagementSuppPageDataAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CleanPracticeManagementSuppPageDataAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanPracticeManagementSuppPageDataAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CleanPracticeManagementSuppPageDataAcc_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[CleanPracticeManagementSuppPageDataAcc_p]
( 
@PolicyKey INT,
@IsNonMonetaryCompensationRecieved CHAR,
@IsReducedNumberOfOwners CHAR
)
AS
BEGIN
DECLARE @PolicyStatusKey INT
DECLARE @VersionSequence INT
SET @PolicyStatusKey=(SELECT PolicyStatusKey From Policy Where PolicyKey=@PolicyKey)
SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FIRM Where Policykey=@PolicyKey)
	IF(@PolicyStatusKey=1)
	BEGIN
		IF(@IsNonMonetaryCompensationRecieved IS NOT NULL AND @IsNonMonetaryCompensationRecieved='N')
			BEGIN
				UPDATE FIRM SET CurrentValueNmc=NULL,ClientIndustryNmcKey=NULL,ClientNameNmc=NULL,ServiceIndustryNmcKey=NULL WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END
		IF(@IsReducedNumberOfOwners IS NOT NULL AND @IsReducedNumberOfOwners='N')
			BEGIN
				UPDATE FIRM SET MergedOrNumberComment=NULL WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END
		
	END	
END

GO
