USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdatePastClaimsSuppliments_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdatePastClaimsSuppliments_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdatePastClaimsSuppliments_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdatePastClaimsSuppliments_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdatePastClaimsSuppliments_p]
(
@PolicyKey INT,
@VersionSequence INT,
@NameOfClaimant VARCHAR(500),
@IsClient CHAR,
@IsClaimInSuit CHAR,
@ClaimNotifiedDate DATETIME,
@DateOfAllegedError DATETIME,
@NameOfPersonnelINClaim	VARCHAR(120),
@DescOfClaim	VARCHAR(500),
@IsClaimReportedToInsComp CHAR,
@NameOfInsComp VARCHAR(120),
@InsurerLoss NUMERIC,
@ClaimantLastDemand NUMERIC,
@CurrentStatus VARCHAR(50),
@ClaimClosingDate DATETIME,
@TotalAmountPaid NUMERIC,
@StepsTakenToPreventClaims VARCHAR(500),
@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @Count INT
	SELECT @Count=COUNT(*) FROM ProfLiabClaimAgnstFirmLW WHERE PolicyKey=@PolicyKey
	
	IF(@Count=0)
	BEGIN
		INSERT INTO ProfLiabClaimAgnstFirmLW (PolicyKey,VersionSequence,NameOfClaimant,IsClient,IsClaimInSuit,ClaimNotifiedDate,DateOfAllegedError,NameOfPersonnelINClaim,DescOfClaim,IsClaimReportedToInsComp,NameOfInsComp,InsurerLoss,ClaimantLastDemand,CurrentStatus,ClaimClosingDate,TotalAmountPaid,StepsTakenToPreventClaims,LastUpdateUserID,LastUpdateTimeStamp)
		VALUES(@PolicyKey,@VersionSequence,@NameOfClaimant,@IsClient,@IsClaimInSuit,@ClaimNotifiedDate,@DateOfAllegedError,@NameOfPersonnelINClaim,@DescOfClaim,@IsClaimReportedToInsComp,@NameOfInsComp,@InsurerLoss,@ClaimantLastDemand,@CurrentStatus,@ClaimClosingDate,@TotalAmountPaid,@StepsTakenToPreventClaims,@LastUpdateUserID,GETDATE())
	END
	IF(@Count>0)
	BEGIN
	UPDATE ProfLiabClaimAgnstFirmLW SET NameOfClaimant =@NameOfClaimant ,
			IsClient =@IsClient ,
			IsClaimInSuit =@IsClaimInSuit ,
			ClaimNotifiedDate=@ClaimNotifiedDate,
			DateOfAllegedError=@DateOfAllegedError,
			NameOfPersonnelINClaim	=@NameOfPersonnelINClaim,	
			DescOfClaim	=@DescOfClaim	,
			IsClaimReportedToInsComp =@IsClaimReportedToInsComp ,
			NameOfInsComp =@NameOfInsComp ,
			InsurerLoss=@InsurerLoss,
			ClaimantLastDemand=@ClaimantLastDemand,
			CurrentStatus =@CurrentStatus, 
			ClaimClosingDate=@ClaimClosingDate,
			TotalAmountPaid=@TotalAmountPaid,
			StepsTakenToPreventClaims =@StepsTakenToPreventClaims, 
			LastUpdateUserID=@LastUpdateUserID,
			LastUpdateTimeStamp=GETDATE()

WHERE PolicyKey=@PolicyKey	    
AND VersionSequence=@VersionSequence
	UPDATE POLICY SET isUncompletedData='N' WHERE POLICYKEY=@Policykey

	END
END

GO
