USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DataDumpLawyerAttorney_new]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DataDumpLawyerAttorney_new]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DataDumpLawyerAttorney_new]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DataDumpLawyerAttorney_new] AS' 
END
GO




--exec DataDumpLawyerAttorney_new  '',500, 1, 'Y', 'FetchAllLawyersData_new', '','',null,'05/01/2011', '05/01/2011', ''
ALTER PROCEDURE [dbo].[DataDumpLawyerAttorney_new]

AS
	SET NOCOUNT ON
	DECLARE @min int=0   
	DECLARE @max int=0  
	DECLARE @count int=0   
	DECLARE @policykey int=0  

BEGIN



	CREATE TABLE #TEMP_REPORT      
	 (      
		ID  INT IDENTITY(1,1),
		
		PolicyKey											 varchar(700)
		,FirmName											 varchar(700)
		,policystatuskey									 varchar(700)
		, policyeffectivedate								 varchar(750)
		, Status											 varchar(700)
		, AttorneyName										 varchar(700)
		,AnnualWorkedHours									 varchar(500)
		, NumberOfYearsInPractice							 varchar(700)
		, AttorneyPriorActDate								 varchar(700)
		,NoOfLawyers									     varchar(700)
		,TotalPremium										 varchar(700)
		,IsNonRatedAttorney							          varchar(50)
		,PriorActDatePross									varchar(700)
		,AggregateLimit										varchar(700)
		,OccuranceLimit										varchar(700)
		,Deductible											varchar(700)
		,state												varchar(700)
		,Designation										varchar(700)
		
	 )  
	 
	 CREATE TABLE #TEMP_REPORT_ALL      
	 (      
		ID  INT IDENTITY(1,1),
		
		PolicyKey											 varchar(700)
		,FirmName											 varchar(700)
		,policystatuskey									 varchar(700)
		, policyeffectivedate								 varchar(750)
		, Status											 varchar(700)
		, AttorneyName										 varchar(700)
		,AnnualWorkedHours									 varchar(500)
		, NumberOfYearsInPractice							 varchar(700)
		, AttorneyPriorActDate								 varchar(700)
		,NoOfLawyers									     varchar(700)
		,TotalPremium										 varchar(700)
		,IsNonRatedAttorney							          varchar(50)
		,PriorActDatePross									varchar(700)
		,AggregateLimit										varchar(700)
		,OccuranceLimit										varchar(700)
		,Deductible											varchar(700)
		,state												varchar(700)
		,Designation										varchar(700)
	 )      
       
 

	INSERT INTO #TEMP_REPORT(PolicyKey,FirmName, policystatuskey, policyeffectivedate, Status, AttorneyName, AnnualWorkedHours,NumberOfYearsInPractice, AttorneyPriorActDate, NoOfLawyers,TotalPremium,IsNonRatedAttorney,PriorActDatePross
		
		,AggregateLimit,OccuranceLimit,Deductible,state,Designation)
	select 
	
p.PolicyKey,

(select ContactPerson from firmlw where policykey=p.policykey)as FirmName,

CASE p.PolicyStatusKey
			WHEN 1 THEN 'New'
			WHEN 2 THEN 'Renew'
			WHEN 3 THEN 'Endorsement'
			WHEN 4 THEN 'Declined'
			WHEN 5 THEN 'Rejected'
			WHEN 6 THEN 'Issued'
		END as policystatuskey,
		p.PolicyEffectiveDate,
		(select top 1 CASE pt.statuskey
			WHEN 1 THEN 'New'
			WHEN 2 THEN 'UnderReview'
			WHEN 3 THEN 'Quoted'
			WHEN 4 THEN 'Declined'
			WHEN 5 THEN 'Not Accepted'
			WHEN 6 THEN 'Issued'
			WHEN 7 THEN 'Accepted'
			WHEN 8 THEN 'Cancelled'
		END from PolicyTransaction pt where pt.policykey=al.PolicyKey) as status,


	al.AttorneyName,al.AnnualWorkedHours,al.NumberOfYearsInPractice,al.AttorneyPriorActDate,


		(select count(*) from AttorneyDetailsLW adl where adl.PolicyKey=p.policykey ) as NoOfLawyers,
		
		(select pp.TotalPremium from PolicyTransaction pp where pp.policykey=al.PolicyKey and pp.TransactionSequence=(select q.TransactionSequence from Quote q where  q.policykey=al.PolicyKey and q.IsThisOptionFinalised='Y')) as TotalPremium
	,al.IsNonRatedAttorney,(select PriorActDatePross from ProfessionalLiabilityInsDetailLW where policykey=p.policykey),
	(select ll.AggregateLimit from ProfessionalLiabilityInsDetailLW pl,Limits ll where pl.PolicyKey=p.PolicyKey and ll.LimitSequence=pl.LimitSequencePross) as AggregateLimit,
	(select ll.OccuranceLimit from ProfessionalLiabilityInsDetailLW pl,Limits ll where pl.PolicyKey=p.PolicyKey and ll.LimitSequence=pl.LimitSequencePross) as occ ,
	(select dd.OccuranceDeductible from ProfessionalLiabilityInsDetailLW pl,Deductibles dd where pl.PolicyKey=p.PolicyKey and dd.DeductibleSequence=pl.DeductibleSequencePross) as Deductible,
	(select ss.StateDesc from address adrr ,AccountAddress accadd,state ss where adrr.AddressKey=accadd.AddressKey and p.AccountID=accadd.AccountKey and adrr.StateCode=ss.StateCode) as state,
	(select aw.DesignationDescription from AttorneyDesignationLW aw where al.DesignationId=aw.DesignationId) as Designation

from AttorneyDetailsLW al,policy p where al.policykey=p.policykey-- and al.policykey=1983

      
	  
	  
	

	            

--set @max=(select max(ID) from #TEMP_REPORT)
--set @count=1
--while(@count<=@max)
--Begin
--select @policykey=policykey from #TEMP_REPORT where id=@count

--print cast(@policykey as varchar)

---- exec DataDumpLawyerAttorney_new

--if not exists(Select * from #TEMP_REPORT_ALL where policykey=@policykey)
--begin
--print'1'
--INSERT INTO #TEMP_REPORT_ALL(PolicyKey,FirmName, policystatuskey, policyeffectivedate, Status, AttorneyName, AnnualWorkedHours,NumberOfYearsInPractice, AttorneyPriorActDate, NoOfLawyers,TotalPremium,IsNonRatedAttorney,PriorActDatePross,AggregateLimit,OccuranceLimit,Deductible,state)
--select PolicyKey,FirmName,policystatuskey,policyeffectivedate,Status,AttorneyName,AnnualWorkedHours,NumberOfYearsInPractice,AttorneyPriorActDate,NoOfLawyers,TotalPremium,IsNonRatedAttorney,PriorActDatePross,AggregateLimit,OccuranceLimit,Deductible,state from #TEMP_REPORT where id=@count
--end
--else
--begin
--print'2'
--INSERT INTO #TEMP_REPORT_ALL(PolicyKey,Firmname, policystatuskey, policyeffectivedate, Status, AttorneyName, AnnualWorkedHours,NumberOfYearsInPractice, AttorneyPriorActDate, NoOfLawyers,TotalPremium,IsNonRatedAttorney,PriorActDatePross,AggregateLimit,OccuranceLimit,Deductible,state)
--select null,null,null,null,null,AttorneyName,AnnualWorkedHours,NumberOfYearsInPractice,AttorneyPriorActDate,null,TotalPremium,IsNonRatedAttorney,PriorActDatePross,null,null,null,null from #TEMP_REPORT where id=@count
--end

--set @count=@count+1
--End

select 
PolicyKey
,FirmName											 
		,policystatuskey									 
		, policyeffectivedate								 
		, Status	
		,AggregateLimit+'/'+OccuranceLimit as Limit
		,Deductible	
		,state											 
		, AttorneyName										 
		,AnnualWorkedHours									 
		, NumberOfYearsInPractice							 
		, AttorneyPriorActDate								 
		,NoOfLawyers									     
		,TotalPremium	
		,IsNonRatedAttorney	
		,PriorActDatePross
		,Designation	
				          	
		
		from #TEMP_REPORT		
		--where status='issued'	
		--and policyeffectivedate LIKE 'dec%' 
		--and (policyeffectivedate like	'%2015%' or policyeffectivedate like '%2016%'	)		 


 

drop table #TEMP_REPORT
drop table #TEMP_REPORT_ALL 

END




GO
