USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateIndivisualPageData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateIndivisualPageData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateIndivisualPageData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateIndivisualPageData_p] AS' 
END
GO


--exec ValidateIndivisualPageData_p 135648, 34706, '2017-12-06 00:00:00.0', 'Y', '2021-01-01 00:00:00.0', 'Y','05/24/2022','2017-12-06 00:00:00.0'
ALTER PROCEDURE [dbo].[ValidateIndivisualPageData_p]
(
@PolicyKey INT,
@AccountKey INT,
@LitImplementationDate DATETIME,
@IsCCBFlag VARCHAR(1),
@RenewalSupplementNewImplDate DATETIME,
@isCannibSuppFlow CHAR,
@ElectronicInsuranceImplDate DATETIME,
@bankruptcyImplementationDate DATETIME
)
AS
	BEGIN

	
SELECT firmNewAppPage,insuranceHistoryPage,attorneysPage,lawPracticePage,aboutFirmPage,aboutFirmRenewalPage,practiceManagementPage,morePracticeManagementPage,underWritingInfoPage,pastClaimsPage,houseKeepingPage,bankruptcySuppPage,collectionSuppPage,copyrightSuppPage,familyLawSuppPage,financialSuppPage,governmentSuppPage,litigationSuppPage,realEstateSuppPage,willStateSuppTrustPage,taxSuppPage,ccbSuppPage,isElectronicInsurancePage
 from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,@LitImplementationDate,@RenewalSupplementNewImplDate,@bankruptcyImplementationDate)
--select @IsAppCompleted as IsAppCompleted
	END























GO
