USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountForLawyers_Proc_Filter]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccountForLawyers_Proc_Filter]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountForLawyers_Proc_Filter]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccountForLawyers_Proc_Filter] AS' 
END
GO


--exec SearchAccountForLawyers_Proc_Filter null, null, '8', null, null, 'N', 'Y', null, null, null, null, null, '2017-12-06 00:00:00.0', null, null, null, 3, 20, 1, null, null, '2021-01-01 00:00:00.0','Premium','ASC'
--




ALTER PROCEDURE [dbo].[SearchAccountForLawyers_Proc_Filter] 
		@AccountName varchar(50) , 
		@StateCode varchar(500) , 
		@StatusKey varchar(2) , 
		@PolicyEffectiveDate varchar(10) , 
		@PolicyNumber varchar(15),
		@IsQuickQuote varchar(1) , 
		@IsFullQuote varchar(1) ,
		@PolicyNumber_Search varchar(20),
		@PolicyStatusDesc char(1),
		@DueForRenewal_search char(1),
		@NumberOfDays_search varchar(50),
		@PolicyEffectiveDate2 varchar(50) ,
		@litigationNewImplDate DATETIME,
		@ProducerCodefilter	varchar(1000),
		@EligibleFirstReviewerfilter varchar(1000)=null,
		@Producercode1	varchar(2000)=null,
		@LastUpdateUserID int=null,
		@PageSize int,
		@PageNumber int,
		@SearchAppCreatedDateFrom varchar(50),
		@SearchAppCreatedDateTo varchar(50),
		@RenewalSupplementNewImplDate DATETIME,
		@PageSort varchar(50),
		@page_sort_type varchar(50),
		@Company_search varchar(200),
		@role_id varchar(20),
		@bankruptcyImplementationDate DATETIME

 
 AS BEGIN
 
declare  @sqlstm varchar(8000)
declare  @sqlstmresult varchar(8000)
declare  @sqlstm1 varchar(8000),@AccountNameNew varchar(50) =@AccountName, @sqlstmBroker varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(100)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium Numeric(17,2)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)

declare @TransactionSequence int
declare @VersionSequence int
declare @isBrokered char='N'

	if((@SearchAppCreatedDateFrom <> '' AND @SearchAppCreatedDateFrom is not null) AND (@PolicyEffectiveDate = '' OR @PolicyEffectiveDate is null))
	BEGIN
		set @PolicyEffectiveDate = '1950-01-01'
	END
	if((@SearchAppCreatedDateTo <> '' AND @SearchAppCreatedDateTo is not null) AND (@PolicyEffectiveDate2 = '' OR @PolicyEffectiveDate2 is null))
	BEGIN
		select @PolicyEffectiveDate2=FORMAT(getdate()+730,'MM-dd-yyyy')
	END

	if(@PolicyEffectiveDate='' OR @PolicyEffectiveDate is null)
	BEGIN
		select @PolicyEffectiveDate= FORMAT(getdate()-30,'MM-dd-yyyy')
	END
	if(@PolicyEffectiveDate2='' OR @PolicyEffectiveDate2 is null)
	BEGIN
		select @PolicyEffectiveDate2=FORMAT(getdate()+120,'MM-dd-yyyy')
	END
	if((@PolicyEffectiveDate='' OR @PolicyEffectiveDate is null) and (@PolicyEffectiveDate2='' OR @PolicyEffectiveDate2 is null))
	BEGIN
		select @PolicyEffectiveDate= FORMAT(getdate()-30,'MM-dd-yyyy'), @PolicyEffectiveDate2=FORMAT(getdate()+120,'MM-dd-yyyy')	 
	END

	if Exists(select 1 from ProfileFilter where LastUpdateUserID=@LastUpdateUserID)
	BEGIN
		Select @PolicyStatusDesc=PolicyStatusKey, @ProducerCode1=Direct_SubProducedKey,
		@EligibleFirstReviewerfilter=FirstReviewerUserNo,@isBrokered=isBrokered from ProfileFilter where LastUpdateUserID=@LastUpdateUserID
	END
	
	if(@SearchAppCreatedDateFrom = '' OR @SearchAppCreatedDateFrom is null)
	BEGIN
		set @SearchAppCreatedDateFrom =  '1950-01-01'
		--CONVERT(varchar, DATEADD(year, -200, getdate()), 120)
	END
	if(@SearchAppCreatedDateTo = '' OR @SearchAppCreatedDateTo is null)
	BEGIN
		set @SearchAppCreatedDateTo = convert(varchar,getdate(),120)
	END

CREATE TABLE #TempPolicyList (
		[SN] [INT] IDENTITY(1,1),
		[PolicyKey] [int] ,
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](200) ,  
		[isUncompletedData] [char](1) ,
		[QuoteNumber] [varchar](20) ,
		[IsFullQuote] [char](1) ,
		[IsQuickQuote] [char](1) ,
		[IsBasicPage] [char](1),
		[IsGeneralPage] [char](1) ,
		[IsEntertainmentPage] [char](1) ,
		[IsTaxPage] [char](1) ,
		[IsEnvironmentalPage] [char](1) ,
		[IsSecuritiesPage] [char](1) ,
		[IsTitlePage] [char](1) ,
		[IsWillsEstatePage] [char](1) ,
		[IsPlaintiffPage] [char](1) ,
		[IsRealEstatePage] [char](1) ,
		[IsFinancialInsPage] [char](1) ,
		[IsIntellectPropPage] [char](1) ,
		[IsCorporatePage] [char](1) ,
		[FirstReviewUserID] [varchar](50) ,
		[AccountKey] [int] ,
		[AddressKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](500) ,
		[Address1] [varchar](500) ,
		[StateCode] [varchar](200),
		[StateDesc] [varchar](100),
		[TransactionSequence] [int] ,
		[VersionSequence] [int] ,
		[CoverageSequence] [int] ,
		[PolicyExpirationDate] [datetime] ,
		[Premium] int ,
		[StatusDesc] [varchar](100),
		[StatusKey] [int] ,
		[PolicyStatusKey] [int] ,
		[TransactionTypeKey] [int] ,
		[UserNo] [int] ,
		[AgentName] [varchar](500),
		[FullQuick] [varchar](50),
		[AppDays] int,
		[CountyDesc] [varchar](50),
		[AppCreatedDate] [datetime] ,
		[IsQuickQuotePage] [char](1),
		[NumberOfLawyers] [int],
		[IsFirmReferred] [char](1),
		[ManualQuoteSelectedNo] int,
		[ManualQuoteFinalisedNo] int,
		[RatingTraceSequence] int,
		[IsDollarDefense] [char] (1),
		[IsQuoteViewedByInsured] [char] (1),
		[IsViewed] [char] (1),
		[IsRenewed] char(1),
		[IsRenewalReview] char(1),
		[IsApplicationCompleted] char(1),
		[UWFlagCount] [int],
		[NameClearanceFlagCount] [int],
		[approveSubjective] [int],
		[isPricingApproved] char(1),
		[IsIndicationMailSent] char(1),
		[IsErpEndorsement] char(1),
		AccountPolicyCount INT,
		ClaimIcon VARCHAR(100),
		lostworkqComment varchar(100),
		PricingStatus VARCHAR(10),
		IsQuoteLetterSend char(1),
		MinTransactionSequence INT,
		isBrokerPolicy CHAR DEFAULT 'N',
		BrokeragePolicyKey INT ,    
		isRenewAsBrokerage CHAR,
		isConvertedPolicy CHAR DEFAULT 'N',
		LOBDesc VARCHAR(100),
		DecendentPolicyKey INT,
		CompanyKey INT,
		VersionKey INT,
		CompanyDesc VARCHAR(100),
		isAppCompleted Char,
		isDecendentPolicyCompleted CHAR,
		QuoteType VARCHAR(100),
		isBridgeApp CHAR
)
 if(@Company_search is null or @Company_search='')
begin
              exec  @Company_search= dbo.UserLoginSecurity_p @role_id
			if(@Company_search='0')
				set @Company_search=null
end

if(@AccountName <> '')
      begin
            set  @AccountName = RTrim(LTrim(@AccountName))
            set  @AccountName = REPLACE( @AccountName, '''', '''''' )
      end
if(@PolicyNumber <> '')
      begin
            set  @PolicyNumber = RTrim(LTrim(@PolicyNumber))
            set  @PolicyNumber = REPLACE( @PolicyNumber, '''', '''''' )
      end
if(@PolicyEffectiveDate <> '')
      begin
            set  @PolicyEffectiveDate = RTrim(LTrim(@PolicyEffectiveDate))
      end
if(@PolicyEffectiveDate2 <> '')
	begin
		set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
	end
	
	if(@SearchAppCreatedDateFrom <> '')
	begin
		set  @SearchAppCreatedDateFrom = RTrim(LTrim(@SearchAppCreatedDateFrom))
	end
if(@SearchAppCreatedDateTo <> '')
	begin
		set  @SearchAppCreatedDateTo = RTrim(LTrim(@SearchAppCreatedDateTo))
	end
	
	CREATE TABLE  #TempDirect_SubProducedKey
	(
		PolicyKey VARCHAR(20)
	)

	IF(@ProducerCode1 is null or @ProducerCode1='')
	BEGIN
		--Print 'Producer code is null'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
	END
	IF(@ProducerCode1 is not null and @ProducerCode1='SubProduced')
	BEGIN
		--Print 'Policies type ar subproduced'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
		and  pt.ProducerCode <>'' and pt.ProducerCode is not null
	END
	
	IF(@ProducerCode1 is not null and @ProducerCode1='Direct')	 
	BEGIN
		--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' 
		and( pt.ProducerCode='' OR pt.ProducerCode is null 
		-- Asked by Pat 02/14/2019 
		 or pt.ProducerCode in (select ProducerCode from SubProducer with (nolock) where IsDriect='Y'))
	END
	IF(@ProducerCode1 is not null and @ProducerCode1 <> '' and @ProducerCode1!='Direct' and @ProducerCode1!='SubProduced')
	BEGIN
		--print 'Specific subproducer is specified'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock)
		inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode = @ProducerCode1		
	END

set @sqlstm = '
select pt.InvoicedPremium as Premium,case when c.Code is not null and c.Code <>'''' then  p.quotenumber+'' (''+c.Code+'')'' else p.quotenumber end as quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State with (nolock) where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN 
		CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=pt.ProducerCode) WHEN ''Y''
					THEN s.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE s.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=pt.ProducerCode) WHEN ''Y''
					THEN s.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE s.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,
f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,
f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,
f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview, (select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and ISNULL(rpt.ClearStatus,''N'') != ''C'' and rpt.RuleId = ''NameClearance_Lawyers'' and rpt.isArchived=''NO'') as [NameClearanceFlagCount],
(select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'') and isArchived=''NO'') as [approveSubjective],f.isPricingApproved,f.IsIndicationMailSent,
(select count(PolicyKey) from Policy with (nolock) Where AccountID=p.AccountID) as AccountPolicyCount,f.lostworkqComment,PricingStatus,(select min(TransactionSequence) from Policytransaction with (nolock) where Policykey=p.PolicyKey) as MinTransactionSequence,''N'',null,''LPL''
,(select top 1 pl.PolicyKey from Policy pl with (nolock) where AccountID=p.AccountID and pl.PolicyKey>p.PolicyKey order by pl.PolicyKey) as DecendentPolicyKey,p.CompanyKey,p.VersionKey,c.Code,f.isAppCompleted,f.isAppCompleted,p.QuoteType
from Policy p with (nolock)
INNER JOIN PolicyTransaction pt with (nolock) ON  p.PolicyKey = pt.PolicyKey --AND p.PolicyStatusKey=pt.TransactionTypeKey 
INNER JOIN Account a with (nolock) ON   a.AccountKey =pt.AccountKey
INNER JOIN FirmLW f with (nolock) ON f.PolicyKey = pt.PolicyKey
INNER JOIN Status s with (nolock) ON s.StatusKey =pt.StatusKey
INNER JOIN AccountAddress aa with (nolock) ON aa.AccountKey = a.AccountKey
INNER JOIN Address adds with (nolock) ON aa.AddressKey=adds.AddressKey
INNER JOIN PolicyCoverage pc with (nolock) ON f.PolicyKey = pc.PolicyKey AND  p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence
LEFT JOIN Split('''+ISNULL(@ProducerCodefilter,'')+''','','') L ON L.items = pt.ProducerCode
LEFT JOIN Split('''+ISNULL(@EligibleFirstReviewerfilter,'')+''','','') L1 ON CASE WHEN '''+ISNULL(@EligibleFirstReviewerfilter,'')+''' <> '''' THEN L1.items ELSE  (ISNULL(NULLIF('''+ISNULL(@EligibleFirstReviewerfilter,'')+''',''''),f.FirstReviewUserID)) END = f.FirstReviewUserID
LEFT JOIN COMPANY c with (nolock) on c.CompanyKey=p.CompanyKey
WHERE p.MarketableProductKey=2 
AND ISNULL(L.items,'''') = CASE WHEN NULLIF('''+ISNULL(@ProducerCodefilter,'')+''','''') IS  NULL THEN  '''' ELSE NULLIF(L.items,'''') END
AND ISNULL(L1.items,'''') = CASE WHEN NULLIF('''+ISNULL(@EligibleFirstReviewerfilter,'')+''','''') IS  NULL THEN  '''' ELSE NULLIF(L1.items,'''') END 
and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey) 
--AND pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
AND f.VersionSequence=(select max(versionsequence) from firmlw with (nolock) where policykey=p.PolicyKey)
AND pt.PolicyKey in (select PolicyKey from Policy with (nolock) where isUncompletedData='+'''N'''+')'





--print @sqlstm
--'select cl.QuoteNumber,cl.SubmissionID,cl.PolicyPolicyEffectiveDate, a.AccountName, f.FirmID,adds.StateCode,adds.AddressID,a.AccountID,s.StatusDesc   from  Submission cl,  Account a, Firm f, Address adds,Status s where cl.AccountID= a.AccountID and  f.SubmissionID=cl.SubmissionID and  adds.AccountID = a.AccountID and PersonID is not null and s.StatusID =f.StatusID '
--set @isUncompletedData ='N'
--set @sqlstm =@sqlstm +' and p.isUncompletedData='''+@isUncompletedData+''''

if(@StatusKey <> 6 and @StatusKey <>8)
begin
            set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey = 8)
begin
            set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'
end


if(@StatusKey <> 2)
begin
      if(@IsFullQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsFullQuote='''+@IsFullQuote+''''
      end
      
       if(@IsQuickQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsQuickQuote='''+@IsQuickQuote+''''
      end
end
if(@AccountName <> '')
begin
                set  @sqlstm = @sqlstm + ' and a.AccountName LIKE''%'+@AccountName +'%'+''''
end
if(@StateCode <> '')
begin
                --set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				set  @sqlstm = @sqlstm + ' and adds.StateCode IN (SELECT items FROM Split('''+@StateCode +''','',''))'
end
if(@Company_search  is not null and @Company_search<> '')

begin
		set  @sqlstm = @sqlstm + ' and p.CompanyKey  IN (SELECT items FROM Split('''+@Company_search +''','',''))'
end

if(@StatusKey in(1,2,3,4,5,6,7,8,9,10,11))
begin

	 if(@IsQuickQuote ='Y' and @StatusKey in (1,11) )
		  begin
            set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment not in(''never sent'',''No Response'',''not converted'') or f.lostworkqComment is null or f.lostworkqComment = '''')'

	 end
	 if(@IsFullQuote ='Y' and @StatusKey in (1) )
		  begin
            set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment not in(''never quoted'',''No Response'') or f.lostworkqComment is null or f.lostworkqComment = '''')'

	 end
	if(@StatusKey =5)
	begin
              -- and f.lostworkqComment <> ''never sent'' and f.lostworkqComment <> ''No Response'' and f.lostworkqComment <> ''not converted'' 
    set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment <> ''Not Accepted'' or f.lostworkqComment is null or f.lostworkqComment = '''')'
	end
	if(@StatusKey in (2,9,10))
	begin
              -- and f.lostworkqComment <> ''never sent'' and f.lostworkqComment <> ''No Response'' and f.lostworkqComment <> ''not converted'' 
    set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment <> ''never quoted'' or f.lostworkqComment is null or f.lostworkqComment = '''')'
	end
	if(@StatusKey in (3,4,6,7,8))
	begin
	 set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' '
  
	end

end



if(@StatusKey not in(1,2,3,4,5,6,7,8,9,10,11) and @StatusKey <> 0)
begin
                set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' '
  
end



if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate >= '''+@PolicyEffectiveDate +''' and p.PolicyEffectiveDate <= '''+@PolicyEffectiveDate2 + ''''
 end
 
  
  if(@SearchAppCreatedDateFrom <> '' and @SearchAppCreatedDateTo <> '')
 begin--Cast('06/01/2020' as Date)
	set  @sqlstm = @sqlstm + ' and CONVERT(varchar, CAST(p.AppCreatedDate as Date),120) >= '''+ CONVERT(varchar, CAST(@SearchAppCreatedDateFrom as Date),120) +''' and CONVERT(varchar, CAST(p.AppCreatedDate as Date),120) <= '''+CONVERT(varchar, CAST(@SearchAppCreatedDateTo as Date),120) + ''''
 end
 
-- To filter policy 30 days prior and 120 days later quick quote or indication
if((@StatusKey = 11 or @IsQuickQuote = 'Y') and (isNull(@PolicyEffectiveDate,'') = '' and isNull(@PolicyEffectiveDate2,'')=''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between dateadd(dd,-31,getdate()) and dateadd(dd,120,getdate())'
 end

if(@PolicyNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and p.QuoteNumber LIKE'''+@PolicyNumber +'%'+''''
end

if(@PolicyNumber_Search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
 end
 
--if(@PolicyStatusDesc <> '')
-- begin
--	set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
-- end
if(@PolicyStatusDesc <> '')
 begin
	if(@PolicyStatusDesc='1')--New
	BEGIN
		set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''1'''
	END
	ELSE if(@PolicyStatusDesc='2')--Renew
	BEGIN
		set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
	END	
 end
 
if(@NumberOfDays_search <> '')
	 begin
	print @NumberOfDays_search
if(@NumberOfDays_search <> 'Already Expired')
	begin	
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<='+cast(@NumberOfDays_search as varchar(10))+' and datediff(dd,getdate(),pt.policyexpirationdate)>''0'' and pt.StatusKey  =''6'''	
	end
	if(@NumberOfDays_search = 'Already Expired')
	begin
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<''0'' and pt.StatusKey  =''6'''	
	end
 end

if(@StatusKey = 1 or @IsQuickQuote ='Y')
	begin
		set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc, PolicyKey'
	end
else
	begin
		set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc, PolicyKey'
	end

if(@PageSize != 0)
begin
	set @sqlstm = @sqlstm + '  OFFSET ' + cast((@PageSize * (@PageNumber-1)) as varchar(5))+' ROWS  FETCH NEXT '+cast(@PageSize as varchar(5))+' ROWS ONLY;'
end

print @sqlstm
--set @sqlstm = @sqlstm + ' DROP TABLE #TempDirect_SubProducedKey'

if(@isBrokered !='Y' or @isBrokered is null or @isBrokered = '') 
 begin
Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,
	TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,
	TransactionTypeKey,IsBasicPage,IsGeneralPage, IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,
	IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate,
	CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,UWFlagCount,NameClearanceFlagCount,approveSubjective,
	isPricingApproved,IsIndicationMailSent,AccountPolicyCount,lostworkqComment,PricingStatus,MinTransactionSequence,isBrokerPolicy,BrokeragePolicyKey,LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey,CompanyDesc,IsApplicationCompleted,isAppCompleted,QuoteType) 
EXECUTE ( @sqlstm)
 end 

set @sqlstmBroker='Select AccountID,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,	(CASE bkl.TransactionTypeKey WHEN ''2'' 
   THEN 
		CASE isNull(bkl.ProducerCode,'''') WHEN '''' 
			THEN st.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(bkl.ProducerCode,'''') WHEN ''''
		THEN  st.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,	s.StateDesc ,bkl.CreatedDate,''Brokerage'',Premium ,bkl.CreatedBy,	ud.AgentName ,''Y'',Address,''Y'' ,''N'',''N'',State,BrokeragePolicyKey,bkl.StatusKey,bkl.isConvertedPolicy,(select count(PolicyKey) from Policy with (nolock) Where AccountID=bkl.AccountID) as AccountPolicyCount,lb.LOBDesc_Brokerage
		from BrokerageLW bkl with (nolock) left join Status st with (nolock) on bkl.StatusKey=st.StatusKey left join State s with (nolock) on s.StateCode=bkl.State  left join UserDetails ud with (nolock) on ud.UserNo=bkl.FirstReviewUserID LEFT JOIN LOB lb with (nolock) on lb.LOBKey=bkl.LOBKey  where isArchived!=''True'''

 
 
 set @sqlstmBroker = @sqlstmBroker + ' and bkl.StatusKey='+ @StatusKey


 
if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstmBroker = @sqlstmBroker + ' and bkl.BrokerPolicyEffectiveDate >= '''+@PolicyEffectiveDate +''' and bkl.BrokerPolicyEffectiveDate <= '''+@PolicyEffectiveDate2 + ''''
 end

  if(@SearchAppCreatedDateFrom <> '' and @SearchAppCreatedDateTo <> '')
 begin--Cast('06/01/2020' as Date)
	set  @sqlstmBroker = @sqlstmBroker + ' and CONVERT(varchar, CAST(bkl.CreatedDate as Date),120) >= '''+ CONVERT(varchar, CAST(@SearchAppCreatedDateFrom as Date),120) +''' and CONVERT(varchar, CAST(bkl.CreatedDate as Date),120) <= '''+CONVERT(varchar, CAST(@SearchAppCreatedDateTo as Date),120) + ''''
 end


 if(@StateCode <> '')
begin
                --set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				set  @sqlstmBroker = @sqlstmBroker + ' and bkl.State IN (SELECT items FROM Split('''+@StateCode +''','',''))'
end

 if(@EligibleFirstReviewerfilter <> '')
begin
                --set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				set  @sqlstmBroker = @sqlstmBroker + ' and ud.UserNo IN (SELECT items FROM Split('''+@EligibleFirstReviewerfilter +''','',''))'
end
create table #IsQuoteLetterSend
(
	PolicyKey varchar(700),
	IsQuoted varchar(1)
)

INSERT INTO #IsQuoteLetterSend(PolicyKey, IsQuoted)
	SELECT PolicyKey, IsQuoted
--	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName is not null and da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchiveLW da WITH(NOLOCK) 
			INNER JOIN #TempPolicyList t WITH(NOLOCK) ON t.VersionSequence = da.VersionSequence
			AND t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1
	  
	
	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey

	Update #TempPolicyList set IsQuoteLetterSend='N' where IsQuoteLetterSend is null

	DROP TABLE #IsQuoteLetterSend
DROP TABLE #TempDirect_SubProducedKey

--1
update		tpl
set			tpl.AgentName = isnull(ud.AgentName, '')
			,tpl.UserNo = tpl.FirstReviewUserID
from		#TempPolicyList tpl
left join	UserDetails ud with (nolock) on ud.UserNo = tpl.FirstReviewUserID

--2
--if(@StatusKey=8)
--Begin
--update		tpl
--set			tpl.Premium = isnull(x.Premium,'')
--from		#TempPolicyList tpl
--left join	(	select		Premium = InvoicedPremium
--							,PolicyKey
--				from		PolicyTransaction 
							
--				where PolicyExpirationDate = TransactionExpirationDate
--			) x on tpl.PolicyKey = x.PolicyKey
--END

update		tpl
set			tpl.Premium = x.Premium
from		#TempPolicyList tpl
left join	(	select		Premium = pt.InvoicedPremium
							,pt.PolicyKey
				from		PolicyTransaction pt with (nolock)
				inner join	Quote q with (nolock) on
							pt.PolicyKey=q.PolicyKey and
							pt.TransactionSequence=q.TransactionSequence and
							q.IsThisOptionFinalised='Y'
				
			) x on tpl.PolicyKey = x.PolicyKey


--3
update		tpl
set			tpl.ManualQuoteSelectedNo = isnull(x.ManualQuoteSelectedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteSelectedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsQuoteSelected='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--4
update		tpl
set			tpl.ManualQuoteFinalisedNo = isnull(x.ManualQuoteFinalisedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteFinalisedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsThisOptionFinalised='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--5
update		tpl
set			tpl.RatingTraceSequence = rt.RatingTraceSequence
from		#TempPolicyList tpl
inner join	PolicyTransaction pt with (nolock) on
			pt.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pt.PolicyKey=q.PolicyKey and
			pt.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--6
update		tpl
set			tpl.IsDollarDefense = pc.IsDollarDefense
from		#TempPolicyList tpl
inner join	PolicyCoverage pc with (nolock) on
			pc.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pc.PolicyKey=q.PolicyKey and
			pc.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--7
update		tpl
set			tpl.IsApplicationCompleted = isnull(x.IsApplicationCompleted, '')
from		#TempPolicyList tpl
left join	(
			select		tpl.PolicyKey,
						IsApplicationCompleted = min(
							case
								when p.PolicyStatusKey = 1
									then	(
												case
													when f.IsFirmPage = 'Y' and f.IsAopPage = 'Y' and f.IsPracticePage = 'Y' and f.IsCoveragePage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and f.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and f.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and f.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and f.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								when p.PolicyStatusKey = 2
									then	(
												case
													when f.IsRenewFirmPage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and f.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and f.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and f.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and f.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								else
									null
							end)
			from		#TempPolicyList tpl
			inner join	Policy p with (nolock) on p.PolicyKey = tpl.PolicyKey
			inner join	FirmLW f with (nolock) on f.PolicyKey = tpl.PolicyKey
			inner join	AreaOfPracticeLW apl with (nolock) on apl.PolicyKey = tpl.PolicyKey and apl.AOPKey in(18,20,27,24)
			group by	tpl.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--print @sqlstm

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>'2017-06-20'

--update #TempPolicyList
--set IsApplicationCompleted=(SELECT FullyCompleted From dbo.ValidateFullApplication(nat.PolicyKey,nat.AccountKey,@litigationNewImplDate,@RenewalSupplementNewImplDate,@bankruptcyImplementationDate))
--from #TempPolicyList tpl 
--inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey
declare @IsErpEndorsement CHAR
DECLARE @LoopCounter INT = 1
DECLARE  @MaxCount INT  
DECLARE  @AccountKey INT  
DECLARE  @IsAppCompleted CHAR  
SELECT @MaxCount=count(*) FROM #NEWAPPTABLE
 --PRINT @MaxCount

WHILE(@LoopCounter <= @MaxCount)
BEGIN
	SET @PolicyKey=NULL
	SET @AccountKey=NULL
	SET @IsAppCompleted=NULL

	SELECT @PolicyKey=PolicyKey,@AccountKey=AccountKey From #NEWAPPTABLE Where ID=@LoopCounter
	SET @IsAppCompleted=(SELECT FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,'2017-12-06 00:00:00.0','2021-01-01',@bankruptcyImplementationDate))
	-- SELECT IsAppCompleted= 
	--SELECT	@PolicyKey,@AccountKey,@IsAppCompleted
	UPDATE #TempPolicyList SET IsApplicationCompleted=@IsAppCompleted,IsAppCompleted=@IsAppCompleted WHERE PolicyKey=@PolicyKey
   SET @LoopCounter  = @LoopCounter  + 1        

END
-- --select * from #NEWAPPTABLE 

--select * from #NEWAPPTABLE where Policykey=58801 	 order by id 
	DECLARE @AccountID INT,@Premium int,@InitTransactionSequence INT,@InitPremium Numeric(17,2),@IsRenewed CHAR,@isRenewAsBrokerage CHAR='N',@DecendentPolicyKey INT,@DecendentPolicyKeyStatus INT,@PolicyPerAccountCount INT,@PLPOlicyCount INT,@isDecendentPolicyCompleted CHAR
	DECLARE @PreviousInvoicedPremium Numeric(10,2),@PresentInvoicedPremium Numeric(10,2),@PreviousFinalTransaction INT
	DECLARE @P_TotalPremium NUMERIC(17,2),@P_TotalPolicyTaxAmount numeric(17,2),@QuoteType VARCHAR(20)
	Declare c1 cursor for
	select PolicyKey,TransactionSequence,VersionSequence,AccountID,Premium,StatusKey,MinTransactionSequence,IsRenewed,DecendentPolicyKey,QuoteType from #TempPolicyList
	 	   
	set @InvoicedPremium = 0
	OPEN c1
	FETCH NEXT FROM c1 into  @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Premium,@StatusKey,@InitTransactionSequence,@IsRenewed,@DecendentPolicyKey,@QuoteType			
	WHILE @@FETCH_STATUS = 0
		begin
		set @P_TotalPremium=0.0
		set @P_TotalPolicyTaxAmount=0.0
			SET @isDecendentPolicyCompleted=(select top 1 CASE when isAppCompleted is not null then isAppCompleted else 'N' End from FirmLW WITH(NOLOCK) where Policykey=@DecendentPolicyKey)
			if(@QuoteType='BRG')
				update #TempPolicyList set isBridgeApp='Y' where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			else
				update #TempPolicyList set isBridgeApp='N' where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		If Exists(select top 1 PolicyKey from EndorsementDetails  where PolicyKey=@PolicyKey)
		begin
		Print 'hi'
				select top 1 @PreviousFinalTransaction=PreviousFinalizedTransactionSequence 	from EndorsementDetails WITH(NOLOCK) where PolicyKey=@PolicyKey
				select @P_TotalPremium=TotalPremium,@P_TotalPolicyTaxAmount=TotalPolicyTaxAmount,@PreviousInvoicedPremium=InvoicedPremium from PolicyTransaction WITH(NOLOCK) where PolicyKey=@PolicyKey and TransactionSequence=@PreviousFinalTransaction
				DECLARE @PremiumVariation Numeric(17,2)=0.0,@TaxVariation Numeric(17,2)=0.0
				DECLARE @P1 NUMERIC(17,2)=0.0,@T1 NUMERIC(17,2)=0.0,@EndorsementInvoicedPremium Numeric(17,2)
					DECLARE cursor10 CURSOR FOR   select PremiumVariation,TaxVariation from EndorsementDetails WITH(NOLOCK) where PolicyKey=@PolicyKey   and isFinancialEndirsement='Y'              
					OPEN cursor10;

					FETCH NEXT FROM cursor10 INTO  @PremiumVariation,@TaxVariation
					WHILE @@FETCH_STATUS = 0
						BEGIN
							--select @PremiumVariation,@TaxVariation
							set @P1=@P1+@PremiumVariation
							SET @T1=@T1+@TaxVariation
							FETCH NEXT FROM cursor10 INTO @PremiumVariation,@TaxVariation
						END;

					CLOSE cursor10;

					DEALLOCATE cursor10;
					set @EndorsementInvoicedPremium=@P1+@T1
			
				update #TempPolicyList set Premium = @PreviousInvoicedPremium+@EndorsementInvoicedPremium  where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
			
			If Exists(select * from PolicyTransaction pt WITH(NOLOCK) where pt.PolicyKey=@PolicyKey and pt.TransactionTypeKey=16)
						begin

								DECLARE @AttorneyCount INT
								DECLARE @isDeathDisabilityERP CHAR
								DECLARE @isFirmERP CHAR
								DECLARE @isAttorneyRetiring CHAR

								Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails WITH(NOLOCK) where Policykey=@PolicyKey

								SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW WITH(NOLOCK) where Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey))
								
								if(@AttorneyCount=1 and (@isFirmERP='Y' or @isAttorneyRetiring='Y' OR @isDeathDisabilityERP='Y'))
								begin
									 set @IsErpEndorsement='Y'
									
								end
								
							
				        end
			end
			
	set @InvoicedPremium=0
				if(@Premium is null and @StatusKey=3)
					begin
						set @InitPremium=(select InvoicedPremium from PolicyTransaction WITH(NOLOCK) where TransactionSequence=@InitTransactionSequence and PolicyKey=@PolicyKey)
						update #TempPolicyList set Premium=@InitPremium where PolicyKey=@PolicyKey
					end
					
				 if(@StatusKey=6 and @IsRenewed is null)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else if(@StatusKey=6 and @IsRenewed='Y')	
					begin
					print 'HI2'
						Set @DecendentPolicyKeyStatus=(select top 1 statuskey from PolicyTransaction WITH(NOLOCK) where PolicyKey=@DecendentPolicyKey)

						--select @PolicyKey as PolicyKey,@DecendentPolicyKey as DecendentPolicyKey,@DecendentPolicyKeyStatus as DecendentPolicyStatus
								if(@DecendentPolicyKeyStatus!=6)
									set @isRenewAsBrokerage='Y'
								else
								set @isRenewAsBrokerage='N'
							
					end	
				else if(@StatusKey=1 or @StatusKey=2 or @StatusKey=3 or @StatusKey=7 or @StatusKey=9 or @StatusKey=10)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else
					set @isRenewAsBrokerage='N'
			set @PLPOlicyCount=(select case when count(*) is null then 0 else  count(*) END from Policy WITH(NOLOCK) where AccountID=@AccountID)
			set @PolicyPerAccountCount=(select case when count(*) is null then 0 else  count(*) END from BrokerageLW WITH(NOLOCK) where AccountID=@AccountID)
			Update #TempPolicyList set AccountPolicyCount=(@PolicyPerAccountCount+@PLPOlicyCount ) where AccountID=@AccountID
			update #TempPolicyList set ClaimIcon=(SELECT dbo.ValidateClaimsLW(@PolicyKey,@AccountID)),isRenewAsBrokerage=@isRenewAsBrokerage,isDecendentPolicyCompleted=@isDecendentPolicyCompleted where PolicyKey= @PolicyKey --and TransactionSequence = @TransactionSequence
			FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Premium,@StatusKey,@InitTransactionSequence,@IsRenewed,@DecendentPolicyKey,@QuoteType					
		end
		CLOSE c1
		DEALLOCATE c1
		print @sqlstmBroker
if(@isBrokered='Y') 
 begin
		INSERT INTO #TempPolicyList(AccountID,PolicyNumber,PolicyEffectiveDate,PolicyExpirationDate,AccountName,StatusDesc,StateDesc,AppCreatedDate,FullQuick,Premium,
			FirstReviewUserID,AgentName,isBrokerPolicy,Address1,IsFullQuote,IsQuickQuote,isUncompletedData,StateCode,BrokeragePolicyKey,StatusKey,isConvertedPolicy,AccountPolicyCount,LOBDesc)
		EXECUTE(@sqlstmBroker)
  end
	
if(@StatusKey = 1 or @IsQuickQuote ='Y')
	begin
	print 'HI'
		set @sqlstmresult = 'select SN,PolicyKey,PolicyEffectiveDate,PolicyNumber,isUncompletedData,QuoteNumber,IsFullQuote,IsQuickQuote,IsBasicPage,IsGeneralPage,
		IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,
		IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,AccountKey,AddressKey,AccountID,AccountName,Address1,StateCode,
		StateDesc,TransactionSequence,VersionSequence,CoverageSequence,PolicyExpirationDate,Premium as PremiumSort, dbo.getAmountFormat(Premium) as Premium,StatusDesc,
		StatusKey,PolicyStatusKey,TransactionTypeKey,UserNo,AgentName,FullQuick,AppDays,CountyDesc,AppCreatedDate,IsQuickQuotePage,NumberOfLawyers,
		IsFirmReferred,ManualQuoteSelectedNo,ManualQuoteFinalisedNo,RatingTraceSequence,IsDollarDefense,IsQuoteViewedByInsured,IsViewed,IsRenewed,
		IsRenewalReview,IsApplicationCompleted,UWFlagCount,NameClearanceFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,
		IsErpEndorsement,AccountPolicyCount,ClaimIcon,lostworkqComment,PricingStatus,IsQuoteLetterSend,MinTransactionSequence,isBrokerPolicy,
		BrokeragePolicyKey,isRenewAsBrokerage,LOBDesc,CompanyKey,VersionKey,CompanyDesc,isAppCompleted,isDecendentPolicyCompleted,QuoteType,isBridgeApp
		from #TempPolicyList '

		 if(@PageSort is not null and @PageSort != '')
			begin
				set  @sqlstmresult = @sqlstmresult + ' order by ' + @PageSort + ' ' + @page_sort_type
			end
		else
			begin
				set  @sqlstmresult = @sqlstmresult + ' order by AppCreatedDate DESC'
			end
	end
	else
	begin
		set @sqlstmresult = 'select SN,PolicyKey,PolicyEffectiveDate,PolicyNumber,isUncompletedData,QuoteNumber,IsFullQuote,IsQuickQuote,IsBasicPage,
		IsGeneralPage,IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,
		IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,AccountKey,AddressKey,AccountID,AccountName,Address1,StateCode,StateDesc,
		TransactionSequence,VersionSequence,CoverageSequence,PolicyExpirationDate,Premium as PremiumSort, dbo.getAmountFormat(Premium) as Premium,StatusDesc,StatusKey,
		PolicyStatusKey,TransactionTypeKey,UserNo,AgentName,FullQuick,AppDays,CountyDesc,AppCreatedDate,IsQuickQuotePage,NumberOfLawyers,
		IsFirmReferred,ManualQuoteSelectedNo,ManualQuoteFinalisedNo,RatingTraceSequence,IsDollarDefense,IsQuoteViewedByInsured,IsViewed,IsRenewed,
		IsRenewalReview,IsApplicationCompleted,UWFlagCount,NameClearanceFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,
		IsErpEndorsement,AccountPolicyCount,ClaimIcon,lostworkqComment,PricingStatus,IsQuoteLetterSend,MinTransactionSequence,isBrokerPolicy,
		BrokeragePolicyKey,isRenewAsBrokerage,LOBDesc,CompanyKey,VersionKey,CompanyDesc,isAppCompleted,isDecendentPolicyCompleted,QuoteType,isBridgeApp
		 from #TempPolicyList '

		 if(@PageSort is not null and @PageSort != '')
			begin
				set  @sqlstmresult = @sqlstmresult + ' order by ' + @PageSort + ' ' + @page_sort_type
			end
		else
			begin
				set  @sqlstmresult = @sqlstmresult + ' order by PolicyEffectiveDate'
			end
	end
		print @sqlstmresult
		EXECUTE (@sqlstmresult) 
--where policykey=57876
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END

















GO
