USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertCarrearCoverageAttorneyDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertCarrearCoverageAttorneyDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertCarrearCoverageAttorneyDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertCarrearCoverageAttorneyDetails_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertCarrearCoverageAttorneyDetails_p]
(
@PolicyKey INT,
@VersionKey INT,
@xml xml,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50)

)
AS
BEGIN
	DECLARE @FormDataKey INT
		Select @FormDataKey=FormDataKey from AdditionalFormDataLW where Policykey=@PolicyKey
			DELETE from CarrearCoverageAttorneyDetails where Policykey=@PolicyKey
			INSERT INTO CarrearCoverageAttorneyDetails(AttorneyKey,AttorneyName,AttorneyPriorActDate,VersionKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate,FormDataKey,PolicyKey)
			SELECT
				doc.col.value('AttorneyKey[1]', 'INT') AttorneyKey,
				doc.col.value('AttorneyName[1]', 'varchar(100)') AttorneyName,
				doc.col.value('AttorneyPriorActDate[1]', 'datetime') AttorneyPriorActDate,
				doc.col.value('VersionKey[1]', 'int') VersionKey,
				doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				doc.col.value('LastUpdateTimeStamp[1]', 'varchar(100)') LastUpdateTimeStamp,
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate,
				@FormDataKey,@PolicyKey
			FROM @xml.nodes('/Root/Root1') doc(col)

			update CarrearCoverageAttorneyDetails set AttorneyPriorActDate=null where PolicyKey=@PolicyKey and AttorneyPriorActDate='1900-01-01 00:00:00.000'
		END
	
			







GO
