USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SwapRevenueYear]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SwapRevenueYear]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SwapRevenueYear]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SwapRevenueYear] AS' 
END
GO

-- exec SwapRevenueYear 12651

ALTER PROCEDURE [dbo].[SwapRevenueYear]
	
	(@PolicyKey int)
AS
BEGIN
	declare @GrossRevenueKey int;
	declare @LeastGrossRevenueKey int;

	Create Table #TempGrossRevenue(GrossRevenueKey bigint,YearEndDate varchar(10), Amount bigint, PolicyKey int) 
	
	insert into #TempGrossRevenue select GrossRevenueKey,YearEndDate, Amount, PolicyKey from GrossRevenueForFirm where PolicyKey = @PolicyKey;
	
	declare temp_cursor cursor for select GrossRevenueKey from #TempGrossRevenue-- order by GrossRevenueKey desc
	open temp_cursor;
	fetch next from temp_cursor into @GrossRevenueKey;
	while @@FETCH_STATUS = 0
	begin
		print @GrossRevenueKey;
		
		update GrossRevenueForFirm set Amount=(select Amount from #TempGrossRevenue where GrossRevenueKey=@GrossRevenueKey), YearEndDate =  (select YearEndDate from #TempGrossRevenue where GrossRevenueKey=@GrossRevenueKey)
			where PolicyKey=@PolicyKey and GrossRevenueKey=@GrossRevenueKey+1;

		fetch next from temp_cursor into @GrossRevenueKey;
	end
	close temp_cursor;
	deallocate temp_cursor;
	
	update GrossRevenueForFirm set Amount=null where PolicyKey=@PolicyKey and GrossRevenueKey=1;

	DROP TABLE #TempGrossRevenue
END


GO
