USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFeeSuitSupplement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateFeeSuitSupplement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFeeSuitSupplement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateFeeSuitSupplement_p] AS' 
END
GO
--exec InsertUpdateFeeSuitSupplement_p 129370, 107737, '<Root><Root1><IsAllegOfLegalMalPrac>N</IsAllegOfLegalMalPrac><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>129370</PolicyKey><SuitFilesDateFees>05/05/2021</SuitFilesDateFees><FeeSuitDispositionKey>3</FeeSuitDispositionKey><VersionSequence>107737</VersionSequence><AmountOfFeesSued>21212</AmountOfFeesSued><FirminitLawsuitsKey></FirminitLawsuitsKey></Root1></Root>', 3, '2022-01-10 13:34:06.909', 111342
ALTER  PROCEDURE [dbo].[InsertUpdateFeeSuitSupplement_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml XML,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@versionKey int
)
AS
BEGIN

	IF NOT EXISTS (select FirminitLawsuitsKey from FirmInitLawsuitsLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO FirmInitLawsuitsLW(AmountOfFeesSued, SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey,
			PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,versionKey)
			SELECT
				doc.col.value('AmountOfFeesSued[1]', 'INT') AmountOfFeesSued,
				doc.col.value('SuitFilesDateFees[1]', 'DATETIME') SuitFilesDateFees, 
				doc.col.value('IsAllegOfLegalMalPrac[1]', 'CHAR') IsAllegOfLegalMalPrac,
				doc.col.value('FeeSuitDispositionKey[1]', 'INT') FeeSuitDispositionKey,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				--doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				@LastUpdateUserID,@LastUpdateTimeStamp,@versionKey	
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('FirminitLawsuitsKey[1]', 'int') FirminitLawsuitsKey,
				doc.col.value('AmountOfFeesSued[1]', 'INT') AmountOfFeesSued,
				doc.col.value('SuitFilesDateFees[1]', 'DATETIME') SuitFilesDateFees, 
				doc.col.value('IsAllegOfLegalMalPrac[1]', 'CHAR') IsAllegOfLegalMalPrac,
				doc.col.value('FeeSuitDispositionKey[1]', 'INT') FeeSuitDispositionKey,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID,
				@LastUpdateTimeStamp LastUpdateTimeStamp,
				@versionKey versionKey
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE fil
			SET
			 fil.AmountOfFeesSued =tx.AmountOfFeesSued,
			 fil.SuitFilesDateFees =tx.SuitFilesDateFees,
			 fil.IsAllegOfLegalMalPrac =tx.IsAllegOfLegalMalPrac,
			 fil.FeeSuitDispositionKey=tx.FeeSuitDispositionKey,
			 fil.LastUpdateUserID=tx.LastUpdateUserID,
			 fil.LastUpdateTimeStamp=tx.LastUpdateTimeStamp,
			 fil.versionKey=tx.versionKey
			FROM FirmInitLawsuitsLW fil
			inner join #temp_xml tx 
			on (fil.FirminitLawsuitsKey=tx.FirminitLawsuitsKey and fil.PolicyKey=tx.PolicyKey and fil.VersionSequence=tx.VersionSequence)

			--select 'fffg',* from #temp_xml
			INSERT INTO FirmInitLawsuitsLW(AmountOfFeesSued, SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey,
			PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,versionKey)
			Select AmountOfFeesSued, SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey,
			PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,versionKey
			from #temp_xml tx where tx.PolicyKey = @PolicyKey and tx.VersionSequence = @VersionSequence and (tx.FirminitLawsuitsKey is null or tx.FirminitLawsuitsKey = '')
		END


		--DELETE FROM FirmInitLawsuitsLW WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

		--INSERT INTO FirmInitLawsuitsLW(AmountOfFeesSued, SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
		--SELECT
		--	doc.col.value('AmountOfFeesSued[1]', 'INT') AmountOfFeesSued,
		--	doc.col.value('SuitFilesDateFees[1]', 'DATETIME') SuitFilesDateFees, 
		--	doc.col.value('IsAllegOfLegalMalPrac[1]', 'CHAR') IsAllegOfLegalMalPrac ,
		--	doc.col.value('FeeSuitDispositionKey[1]', 'INT') FeeSuitDispositionKey ,
		--	doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
		--	doc.col.value('VersionSequence[1]', 'int') VersionSequence,
		--	--doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
		--	@LastUpdateUserID,@LastUpdateTimeStamp	
		--FROM @xml.nodes('/Root/Root1') doc(col)
			

END





GO
