USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[insertUpdateERPEndorsementDateLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[insertUpdateERPEndorsementDateLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[insertUpdateERPEndorsementDateLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[insertUpdateERPEndorsementDateLW_p] AS' 
END
GO
--exec insertUpdateERPEndorsementDateLW_p 129171, '2022-01-31', null, null, null, null, null, null, 'Y', 1, null, null, null, null, null, 'PA'
ALTER PROCEDURE [dbo].[insertUpdateERPEndorsementDateLW_p]
(
@PolicyKey	 INT,
@endorsementEffectiveDate	 DateTime,
@nameOfAttorney	Int,
@ceasedDate		DateTime,
@isInsuredWithUsFromPast	 Char,
@isDeathDisabilityERP	 CHAR,
@deathDisabilityFirmOrAttorneyName	 varchar(500),
@deathDiablityCeasedDate	DateTime,
@isFirmERP	 Char,
@yearsOfERP		int,
@ERPPremium	 Numeric(15,2),
@ERPTax		Numeric(15,2),
@ERPTotalPremium numeric	(15,2),
@isAttorneyRetiring CHAR,
@practicePortitonOfAttorney	 Numeric(5,2),
@StateCode VARCHAR(5)
)
AS
BEGIN
	DECLARE @VersionSequence INT,@VersionKey INT
	DECLARE @TransactionSequence INT
	SET @VersionSequence=(SELECT MAX(VersionSequence) from firmlw Where Policykey=@PolicyKey)
	SET @TransactionSequence=(SELECT top 1 Transactionsequence from PolicyTransaction where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @VersionKey=(select VersionKey from Policy Where PolicyKey=@PolicyKey)
	DECLARE @StatusKey INT
	DECLARE @TargetDate DATE
	DECLARE @ERPMonths INT
	DECLARE @ErpExpirationDate DATETIME
	DECLARE @SetErpExpirationDate DATETIME
	DECLARE @SetErpEffectiveDate DATETIME
	SET @ERPMonths=(SELECT CAST(@yearsOfERP AS Int)*12)
	
	SET @StatusKey=(SELECT top 1 Statuskey from PolicyTransaction where policykey=@Policykey)
	
	

	If(@StatusKey=8)	
	Begin
	SET @TargetDate=(select top 1 TransactionEffectiveDate from PolicyTransaction where  statuskey=8 and TransactionTypeKey=7 and PolicyKey=@PolicyKey order by TransactionEffectiveDate desc)
	end
if(@StateCode='AR') 
	Begin
	
		SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate+60))
	END
	else if(@StateCode='NH' and @yearsOfERP=1)
	Begin
	
	 BEGIN
	
		SET @ErpExpirationDate=(  select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate+60))

	 END

	

	END

	ELSE
	BEGIN
		 	 SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate))
	END


	if(@StatusKey=8)
	select @SetErpEffectiveDate=convert(varchar(10),  @TargetDate, 101),@SetErpExpirationDate=convert(varchar(10), @ErpExpirationDate, 101) 
	else 
	select @SetErpEffectiveDate=convert(varchar(10), @endorsementEffectiveDate, 101),@SetErpExpirationDate=convert(varchar(10), @ErpExpirationDate, 101) 
	
	INSERT INTO ErpEndorsementDetails(PolicyKey,VersionSequence,TransactionSequence,EndorsementEffectiveDate,AttorneyKey,ceasedDate,isInsuredWithUsFromPast,
	practicePortitonOfAttorney,isDeathDisabilityERP,deathDisabilityFirmOrAttorneyName,deathDiablityCeasedDate,isAttorneyRetiring,isFirmERP,yearsOfERP,ERPPremium,ERPTax,ERPTotalPremium,ERPExpirationDate,VersionKey)
	VALUES(@PolicyKey,@VersionSequence,@TransactionSequence,@endorsementEffectiveDate,@nameOfAttorney,@ceasedDate,@isInsuredWithUsFromPast,
	@practicePortitonOfAttorney,@isDeathDisabilityERP,@deathDisabilityFirmOrAttorneyName,@deathDiablityCeasedDate,@isAttorneyRetiring,@isFirmERP,@yearsOfERP,@ERPPremium,@ERPTax,@ERPTotalPremium,convert(varchar(10), @SetErpExpirationDate, 23),@VersionKey)

	
	DECLARE @AttorneyName  VARCHAR(500)
	select @AttorneyName=AttorneyName
	--@NumberOfYearsInPractice=NumberOfYearsInPractice,@AnnualWorkedHours=AnnualWorkedHours 
	from AttorneyDetailsLW where AttorneyKey=@nameOfAttorney and PolicyKey=@PolicyKey
	Update AttorneyDetailsLW Set isAttorneyEndorsed='N' where isAttorneyEndorsed is null and PolicyKey=@PolicyKey
	update AttorneyDetailsLW Set isAttorneyEndorsed='N' where isAttorneyEndorsed ='' and PolicyKey=@PolicyKey
	Update AttorneyDetailsLW Set isAttorneyEndorsed='Y' where AttorneyName=@AttorneyName  and PolicyKey=@PolicyKey
	
END







GO
