USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllAccountantData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchAllAccountantData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllAccountantData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchAllAccountantData] AS' 
END
GO


--exec FetchAllAccountantData 1012
ALTER PROCEDURE [dbo].[FetchAllAccountantData]
(
	 @AccountID1 int
)
AS
SET NOCOUNT ON
BEGIN

	IF OBJECT_ID('tempdb..#TempPolicyList') IS NOT NULL
		DROP TABLE #TempPolicyList

		IF OBJECT_ID('tempdb..#IsQuoteLetterSend') IS NOT NULL
		DROP TABLE #IsQuoteLetterSend

	CREATE TABLE #TempPolicyList
	(
		Status varchar(100),
		State varchar(50),
		Limit varchar(50),
		Deductible varchar(50),
		ClaimExpensesType varchar(50),
		TotalPremium numeric(15,0),
		InvoicedPremium numeric(15,0),
		IsPublicTradedAudited char(1),
		IsPublicPrivateOfferingsDone char(1),
		IsInvestmentVenture char(1) , 
		IsSyndicationManagers char(1),
		IsFirmRenderedAuditOrAttestService char(1),
		IsManagementServiceProvided char(1),
		IsCommissionRecieved char(1),
		IsDebtOrEquityFinancing char(1),
		IsNonPublicInvestmentDone char(1),
		IsServedAsTrustee char(1), 
		IsFirmRenderedServiceForAnyClient char(1),
		IsFirmCarryingProfLiabilityIns char(1), 
		Comment varchar(8000),
		IsBasicPage char(1),
		IsRenewed char(1), 
		IsSuitInstituted char(1),
		IsAwarenessOfAnyProfLiability char(1),
		IsAwarenessOfAnyProfLiabilitySuitAgainst char(1), 
		ContactPerson varchar(80),
		TotalFirmPersonnel int,
		AccountEmail varchar(100),
		AccountID int, 
		AccountName varchar(100),
		PolicyEffectiveDate datetime, 
		PolicyKey int, 
		QuoteNumber varchar(20), 
		PolicyStatus varchar(20), 
		PolicyNumber varchar(20), 
		RenewOfPolicyNumber varchar(20), 
		AppCreatedDate datetime,
		Address1 varchar(100), 
		Address2 varchar(100), 
		City varchar(60), 
		Zip varchar(5), 
		County varchar(50),
		SubProducerNumber varchar(50), 
		PolicyExpirationDate datetime,
		Reviewer varchar(50),
		ClaimOptionType varchar(50),
		ExpiringCarrier varchar(50),
		IsPriorActDateFull varchar(20),
		PriorActDatePross datetime,
		FirmYear int,
		ProInsPremium numeric(15,0),
        PolicyExpirationDatePross datetime,
        LimitPross varchar(50),
        DeductiblePross varchar(50),
		Modifier int,
		Amount1 numeric(15,2),
		Amount2 numeric(15,2),
		Amount3 numeric(15,2),
		AOP_Percentage_1 int,
        AOP_Percentage_2 int,
        AOP_Percentage_3 int,
        AOP_Percentage_4 int,
        AOP_Percentage_5 int,
        AOP_Percentage_6 int,
        AOP_Percentage_7 int,
        AOP_Percentage_8 int,
        AOP_Percentage_9 int,
        AOP_Percentage_10 int,
        AOP_Percentage_11 int,
        AOP_Percentage_12 int,
        AOP_Percentage_13 int,
        AOP_Percentage_14 int,
        AOP_Percentage_15 int,
        AOP_Percentage_16 int,
        AOP_Percentage_17 int,
        AOP_Percentage_18 int,
        AOP_Percentage_19 int,
        AOP_Percentage_20 int,
        AOP_Percentage_21 int,
        AOP_Percentage_22 int,
        AOP_Percentage_23 int,
        AOP_Percentage_24 int,
--		InvoicedPremium int,
		Modifier1 int,
		Modifier2 int,
		Modifier3 int,
		TotalModifiers int,
		CreatedDate datetime,
		NotAcceptedDate datetime,
		IssuedDate datetime,
		DirectSubproduced varchar(20),
		IsQuoteLetterSend char(1),
		VersionSequence int,
		
)

	INSERT INTO #TempPolicyList(Status,		State,		Limit,		Deductible,		ClaimExpensesType,
		TotalPremium,		InvoicedPremium,		IsPublicTradedAudited,		IsPublicPrivateOfferingsDone,
		IsInvestmentVenture, 		IsSyndicationManagers,		IsFirmRenderedAuditOrAttestService,
		IsManagementServiceProvided,		IsCommissionRecieved,		IsDebtOrEquityFinancing,
		IsNonPublicInvestmentDone,		IsServedAsTrustee, 		IsFirmRenderedServiceForAnyClient,
		IsFirmCarryingProfLiabilityIns, 		Comment,		IsBasicPage,		IsRenewed, 
		IsSuitInstituted,		IsAwarenessOfAnyProfLiability,		IsAwarenessOfAnyProfLiabilitySuitAgainst, 
		ContactPerson,		TotalFirmPersonnel, AccountEmail,		AccountID, AccountName,
		PolicyEffectiveDate, PolicyKey, QuoteNumber, PolicyStatus, PolicyNumber, RenewOfPolicyNumber, AppCreatedDate,
		Address1, Address2, City, Zip, County,		SubProducerNumber, PolicyExpirationDate,	Reviewer, ClaimOptionType, CreatedDate,NotAcceptedDate,
		IssuedDate,DirectSubproduced,VersionSequence
		)
	SELECT (select StatusDesc from Status where StatusKey=pt.StatusKey) as Status
		, (select StateDesc from State where StateCode=adds.StateCode) as State
		, PARSENAME(Convert(varchar,Convert(money,pc.AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,pc.OccuranceLimit),1),2) as Limit
		, PARSENAME(Convert(varchar,Convert(money,pc.AggregateDeductible),1),2) as Deductible
		,(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesType
		, pt.TotalPremium, pt.InvoicedPremium
		, f.IsPublicTradedAudited,f.IsPublicPrivateOfferingsDone,f.IsInvestmentVenture, f.IsSyndicationManagers,f.IsFirmRenderedAuditOrAttestService,f.IsManagementServiceProvided
		, f.IsCommissionRecieved, f.IsDebtOrEquityFinancing,f.IsNonPublicInvestmentDone,f.IsServedAsTrustee, f.IsFirmRenderedServiceForAnyClient,f.IsFirmCarryingProfLiabilityIns
		, f.Comment,f.IsBasicPage,f.IsRenewed, f.IsSuitInstituted,f.IsAwarenessOfAnyProfLiability,f.IsAwarenessOfAnyProfLiabilitySuitAgainst, f.ContactPerson,f.TotalFirmPersonnel
		, a.AccountEmail,a.AccountID,a.AccountName
		, p.PolicyEffectiveDate, p.PolicyKey,p.QuoteNumber,(CASE p.PolicyStatusKey WHEN 1 THEN 'New Business' ELSE 'Renewal' END) as PolicyStatus,p.PolicyNumber,p.RenewOfPolicyNumber,p.AppCreatedDate 
		, adds.Address1,adds.Address2,adds.City,adds.Zip,adds.CountyDesc
		, pt.ProducerCode as SubProducerNumber,pt.PolicyExpirationDate
		, (select AgentName from UserDetails where UserNo = f.FirstReviewUserID) as Reviewer
		, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Annual Aggregate' ELSE 'Per Claim' END) as ClaimOptionType, p.AppCreatedDate,
		(CASE WHEN pt.StatusKey = 5 THEN pt.LastUpdateTimeStamp END) as NotAcceptedDate,
		(CASE WHEN pt.StatusKey = 6 THEN pt.LastUpdateTimeStamp END) as IssuedDate,
		(CASE WHEN pt.producercode =' ' or pt.producercode is null THEN 'Direct' ELSE 'Subproduced' END) as DirectSubproduced,f.VersionSequence
		
    FROM Policy p, Account a, Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc
    WHERE a.AccountKey =pt.AccountKey 
	and aa.AccountKey = a.AccountKey  
	and aa.AddressKey=adds.AddressKey 
	and f.PolicyKey = pt.PolicyKey 
	and s.StatusKey =pt.StatusKey 
	and p.PolicyKey = pt.PolicyKey 
	and f.PolicyKey = pc.PolicyKey 
	and p.PolicyKey = pc.PolicyKey 
	and p.MarketableProductKey = 1 
	and pc.CoverageKey = 2 
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) 
	and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey)
    and p.isUncompletedData='N' 





		SELECT PolicyKey, IsQuoted
	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchive da
			INNER JOIN #TempPolicyList t ON 
			 t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1

	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey

	
	UPDATE t1
	SET ExpiringCarrier = pl.InsuranceCompanyNamePross, 
		IsPriorActDateFull = CASE WHEN pl.IsPriorActDateFull = 'Y' THEN 'Full'
								  WHEN pl.IsPriorActDateFull = 'N' THEN 'Prior Act'
								  ELSE ''
							 END,
		PriorActDatePross = pl.PriorActDatePross,
		FirmYear = ISNULL(pl.FirmYear,0), 
		ProInsPremium = pl.ProInsPremium,
        PolicyExpirationDatePross = ISNULL(pl.PolicyExpirationDatePross,''),
        LimitPross = (SELECT PARSENAME(CONVERT(varchar,CONVERT(money,AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,OccuranceLimit),1),2) 
					  FROM Limits 
					  WHERE LimitSequence = pl.LimitSequencePross),
        DeductiblePross= (SELECT PARSENAME(CONVERT(varchar,CONVERT(money,AggregateDeductible),1),2) 
						  FROM Deductibles 
						  WHERE DeductibleSequence=pl.DeductibleSequencePross)
    FROM ProfessionalLiabilityInsDetail pl
		INNER JOIN #TempPolicyList t1 ON t1.PolicyKey = pl.PolicyKey


    
	UPDATE t1
	SET Modifier = Percentage
	FROM CoverageModifiers cm
	INNER JOIN #TempPolicyList t1 ON t1.PolicyKey = cm.PolicyKey
	WHERE TransactionSequence IN (SELECT MIN(TransactionSequence) 
								  FROM CoverageModifiers cm2 
									INNER JOIN #TempPolicyList t1 ON t1.policykey = cm2.PolicyKey 
								  GROUP BY cm2.policyKey 
								  )


	UPDATE t1
	SET Amount1 = Amount FROM GrossRevenueForFirm grf INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = grf.PolicyKey WHERE grf.GrossRevenueKey = 1
	
	UPDATE t1
	SET Amount2 = Amount FROM GrossRevenueForFirm grf INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = grf.PolicyKey WHERE grf.GrossRevenueKey = 2

	UPDATE t1
	SET Amount3 = Amount FROM GrossRevenueForFirm grf INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = grf.PolicyKey WHERE grf.GrossRevenueKey = 3

 

  UPDATE t1
  SET AOP_Percentage_1 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 1
 UPDATE t1
  SET AOP_Percentage_2 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 2
 UPDATE t1
  SET AOP_Percentage_3 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 3
 UPDATE t1
  SET AOP_Percentage_4 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 4
 UPDATE t1
  SET AOP_Percentage_5 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 5
 UPDATE t1
  SET AOP_Percentage_6 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 6
 UPDATE t1
  SET AOP_Percentage_7 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 7
 UPDATE t1
  SET AOP_Percentage_8 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 8
 UPDATE t1
  SET AOP_Percentage_9 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 9
 UPDATE t1
  SET AOP_Percentage_10 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 10
 UPDATE t1
  SET AOP_Percentage_11 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 11
UPDATE t1
  SET AOP_Percentage_12 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 12
UPDATE t1
  SET AOP_Percentage_13 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 13
UPDATE t1
  SET AOP_Percentage_14 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 14
UPDATE t1
  SET AOP_Percentage_15 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 15
UPDATE t1
  SET AOP_Percentage_16 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 16
UPDATE t1
  SET AOP_Percentage_17 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 17
UPDATE t1
  SET AOP_Percentage_18 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 18
UPDATE t1
  SET AOP_Percentage_19 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 19
UPDATE t1
  SET AOP_Percentage_20 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 20
UPDATE t1
  SET AOP_Percentage_21 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 21
UPDATE t1
  SET AOP_Percentage_22 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 22
UPDATE t1
  SET AOP_Percentage_23 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 23
UPDATE t1
  SET AOP_Percentage_24 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 24


	


	UPDATE t
	SET TotalPremium = pt.TotalPremium,
		InvoicedPremium = pt.InvoicedPremium
	FROM Quote q
	INNER JOIN PolicyCoverage pc ON pc.TransactionSequence = q.TransactionSequence
	INNER JOIN PolicyTransaction pt ON pt.TransactionSequence = q.Transactionsequence
	INNER JOIN #TempPolicyList t ON q.PolicyKey = t.PolicyKey
	WHERE q.IsThisOptionFinalised = 'Y'

	UPDATE t
	SET Limit =	  PARSENAME(CONVERT(varchar,CONVERT(money,AggregateLimit),1),2) +'/' +PARSENAME(CONVERT(varchar,CONVERT(money,OccuranceLimit),1),2) ,
		Deductible =   PARSENAME(CONVERT(varchar,CONVERT(money,AggregateDeductible),1),2),						
		ClaimExpensesType = CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END,								
		ClaimOptionType =   CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE  'PerClaim' END
	FROM PolicyCoverage pc
	INNER JOIN Quote q ON pc.TransactionSequence = q.TransactionSequence
	INNER JOIN PolicyTransaction pt ON pt.TransactionSequence = q.TransactionSequence
	INNER JOIN #tempPolicyList t ON t.PolicyKey = pc.PolicyKey
	WHERE q.IsThisOptionFinalised = 'Y'

	--select * from #TempPolicyList---------------------------------------------------------------------------


	UPDATE t1 SET Modifier1 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 1
	UPDATE t1 SET Modifier2 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 2
	UPDATE t1 SET Modifier3 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 3

	UPDATE t SET TotalModifiers = t.Modifier1 + t.Modifier2 + t.Modifier3 from #TempPolicyList t 

	SELECT PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Modifier as Total_Modifier
		,CAST(Amount1 as bigint) as Amount1
		,CAST(Amount2 as bigint) as Amount2
		,CAST(Amount3 as bigint) as Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,convert(varchar(20),PriorActDatePross,101) as Policy_PriorActDatePross
		,convert(varchar(20),PriorActDatePross,101) as PriorActDatePross
		,FirmYear
		,ProInsPremium
		,convert(varchar(20),PolicyExpirationDatePross,101) as Policy_ExpirationDatePross
		,convert(varchar(20),PolicyExpirationDatePross,101) as PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,convert(varchar(20),PolicyEffectiveDate,101) as Policy_EffectiveDate
		,Address1
		,convert(varchar(20),PolicyEffectiveDate,101) as PolicyEffectiveDate
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,convert(varchar(20),PolicyExpirationDate,101) as Policy_ExpirationDate
		,convert(varchar(20),PolicyExpirationDate,101) as PolicyExpirationDate
		,ContactPerson
		,County
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,Convert(varchar(20),CreatedDate,101) as Policy_CreatedDate
		,TotalFirmPersonnel
		,REPLACE(REPLACE(Comment, CHAR(10),''),CHAR(13), '') as Comment 
		,Convert(varchar(20),NotAcceptedDate,101) as Policy_NotAcceptedDate
		,Convert(varchar(20),IssuedDate,101) as Policy_IssuedDate
		,year(PolicyEffectiveDate) as year_PolicyEffectiveDate
		,convert(varchar(3),DATENAME(month,PolicyEffectiveDate)) + '-' + Right(Cast(Year(PolicyEffectiveDate) As varchar(4)),2) as month_PolicyEffectiveDate
		,DirectSubproduced
		,IsQuoteLetterSend
		,VersionSequence


	FROM #TempPolicyList 
	ORDER BY AccountID
	
	
END


GO
