USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayRealEstateAmountForPDF_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayRealEstateAmountForPDF_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayRealEstateAmountForPDF_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayRealEstateAmountForPDF_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[DisplayRealEstateAmountForPDF_p]
(
@PolicyKey INT
)
       
AS
BEGIN
              
       
SELECT dbo.getAmountFormatWithBracket(largestTransaction12MonthsResi) as largestTransaction12MonthsResi,dbo.getAmountFormatWithBracket(largestTransaction12MonthsComm) as largestTransaction12MonthsComm from RealEastateDetailsLW where PolicyKey=@PolicyKey

       
END



GO
