USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SkipOrFollowUWFlowAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SkipOrFollowUWFlowAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SkipOrFollowUWFlowAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SkipOrFollowUWFlowAcc_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[SkipOrFollowUWFlowAcc_p]
	(
	@Policykey INT,
	@PolicyStatusKey INT,
	@isPricingApproved CHAR,
	@FollowUnderwriterFlow CHAR
	)
AS
BEGIN
	DECLARE @FolloUWFlow CHAR
	DECLARE @AccountId INT
	DECLARE @PreviousPolicyKey INT
	DECLARE @PreviousPremium INT
	DECLARE @CurrentPremium INT
	DECLARE @ReferralRaised INT
	DECLARE @isRatingsChnaged CHAR
	--DECLARE @isPricingApproved CHAR
	DECLARE @IDCOUNT INT
	DECLARE @IDMAX INT
	SET @FolloUWFlow='Y'
	--SET @isPricingApproved='N'

	
		
		PRINT @ReferralRaised
	IF(@PolicyStatusKey=2)	
		BEGIN
			--delete from RulePolicyTransaction where policykey=@Policykey
			SELECT @ReferralRaised=COUNT(*) FROM RulePolicyTransaction WHERE PolicyKey=@Policykey AND isArchived='NO' AND ClearStatus is NULL
				select @ReferralRaised
				IF(@ReferralRaised=0)
					BEGIN
						--get Curent policy premium and account id
						SELECT @AccountId=accountid from Policy where PolicyKey=@Policykey
						--SELECT @AccountId=p.accountid,@CurrentPremium=pt.invoicedpremium FROM policytransaction pt inner join Policy p on pt.policykey=p.policykey  WHERE pt.policykey=@Policykey and TransactionSequence in(SELECT TransactionSequence FROM quote WHERE policykey=@Policykey and IsFirstQuote='Y')
						
						CREATE TABLE #PolicyPremiums
						(
						 ID INT IDENTITY,
						invoicedpremium NUMERIC
						)
						INSERT INTO #PolicyPremiums SELECT invoicedpremium FROM PolicyTransaction WHERE POLICYKEY=@Policykey
						select * from #PolicyPremiums
						--get previous year premium for requested policy
						SELECT @PreviousPolicyKey= MAX(policykey)  FROM policy WHERE   AccountID=@AccountId and PolicyNumber is not null
						SELECT @PreviousPremium=invoicedpremium FROM policytransaction WHERE policykey=@PreviousPolicyKey and TransactionSequence in(SELECT TransactionSequence FROM quote WHERE PolicyKey=@PreviousPolicyKey and IsThisOptionFinalised='Y')
						SELECT @isRatingsChnaged=isRatingsChnaged from Firm where PolicyKey=@Policykey
						select  @PreviousPremium as PreviousPremium
						SET @IDCOUNT = 1
						SELECT @IDMAX = @@IDENTITY from #PolicyPremiums
						WHILE @IDCOUNT <= @IDMAX

							BEGIN
								SELECT @CurrentPremium = invoicedpremium FROM #PolicyPremiums WHERE ID = @IDCOUNT
								select  @PreviousPremium as PreviousPremium
								IF((@PreviousPremium=@CurrentPremium) OR (@CurrentPremium <=3000))
								BEGIN
									Select 'Premium is Lessor or equal to 3000'
									SET @FolloUWFlow='N'
								--	SET @isPricingApproved='Y'
								END
								IF((@PreviousPremium>@CurrentPremium) OR @CurrentPremium >3000 )
								BEGIN
									Select 'Previuous Premium is greator than Current Premium or Premium is Greator Than 3000'
									SET @FolloUWFlow='Y'
								--	SET @isPricingApproved='N'
								END
								IF(@isRatingsChnaged='Y')
								BEGIN
									SET @FolloUWFlow='Y'
									--SET @isPricingApproved='N'
								END

		
								IF(@FolloUWFlow='Y')
								BEGIN
									BREAK;
								END
								SET @IDCOUNT = @IDCOUNT + 1  
							END
						 END
		END	
		update firm set FollowUnderwriterFlow=@FolloUWFlow,isPricingApproved=@isPricingApproved where Policykey=@Policykey
		--select @FolloUWFlow, @isPricingApproved
END



GO
