USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Filter_p_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Filter_p_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Filter_p_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Filter_p_ACC] AS' 
END
GO
--exec Filter_p null,null,null,null,null,null,null,3
--truncate table ProfileFilter
ALTER PROCEDURE [dbo].[Filter_p_ACC]
(
  
	@PolicyStatusDesc VARCHAR(50), 
    @ProducerCode1 VARCHAR(50),
	@EligibleFirstReviewerfilter VARCHAR(500),
	@LastUpdateUserID INT,
	@UserNo INT
)

AS

BEGIN

    SET NOCOUNT ON;

    
	if NOT EXISTS(select * from ProfileFilter_ACC where LastUpdateUserID=@LastUpdateUserID)
	BEGIN
	print 'insert'
		insert into  dbo.ProfileFilter_ACC(UserNo,PolicyStatusKey,Direct_SubProducedKey,FirstReviewerUserNo,LastUpdateUserID,LastUpdateTimeStamp) 
		values(@UserNo,@PolicyStatusDesc,@ProducerCode1,@EligibleFirstReviewerfilter
		,@LastUpdateUserID,GETDATE())
	END
	ELSE
	BEGIN
	print 'update'
		UPDATE dbo.ProfileFilter_ACC SET PolicyStatusKey=@PolicyStatusDesc,Direct_SubProducedKey=@ProducerCode1
		,FirstReviewerUserNo=@EligibleFirstReviewerfilter,LastUpdateTimeStamp=GETDATE()
		WHERE LastUpdateUserID=@LastUpdateUserID
	END

    

   
    

END
GO
