USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPolicyDataACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CopyPolicyDataACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPolicyDataACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CopyPolicyDataACC_p] AS' 
END
GO
--exec CopyPolicyDataACC_p 119821, 119993, 119982, 26563, 0, '2022-03-02 19:21:27.62', '03/09/2022', '2019-01-14', 'Requote'
--exec CopyPolicyDataACC_p 121807, 121985, 121974, 26828, 0, '2022-03-02 16:50:00.191', '03/01/2023', '2019-01-14','CopyPolicy'

ALTER procedure [dbo].[CopyPolicyDataACC_p]
(
@PolicyKey INT,@AccountKey INT,@AddressKey INT,@VersionSequence INT,@UserNo INT,@LastUpdateTimeStampTemp VARCHAR(500),@PolicyEffectiveDate VARCHAR(100),@NewAppImplementationDate DateTime,@moduleName VARCHAR(20)
)

AS BEGIN
declare @PolicyKey_Inserted int,@AccountKey_Inserted int,@AddressKey_Inserted int,@VersionSequence_Inserted int,@TransactionSequence_Inserted int,@CoverageSequence_Inserted int,@AgentName varchar(100),@TransactionEffectiveDate datetime
declare @PolicyExpirationDate datetime,@TransactionExpirationDate datetime,@maxAccountID int,@QuoteNumber varchar(100),@AppCreatedDate datetime,@IsFirmCarryingProfLiabilityIns char(20),@AggregateLimit int,@OccuranceLimit int,@AggregateDeductible int
declare @LimitSequencePross int,@DeductibleSequencePross int,@IsClaimExpensesType char(1),@IsClaimOptionType char(1),@ModifierComment varchar(5000),@ModifierKey int,@ModifierPercentage int,@RenewalModifierPercentage int,@IsRenewed char
declare @AccountID int,@Status int,@NumberOfPersonnel int,@PolicyCreatedDate DATETIME,@LastUpdateTimeStamp DATETIME,@TransactionSequence int,@isPolicyRequoted CHAR,@EffectiveDate DATETIME,@VersionKey_Inserted INT,@StatusKey INT
Declare  @DaysDifference INT,@isCopyPolicy CHAR='N'
select top 1 @StatusKey=StatusKey from PolicyTransaction where PolicyKey=@PolicyKey
SET @AccountID=(SELECT AccountID FROM Policy WHERE PolicyKey=@PolicyKey)
SET @isPolicyRequoted=(SELECT CASE WHEN isPolicyRequoted is not null THEN isPolicyRequoted ELSE 'N' END as isPolicyRequoted FROM Firm where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
SET @EffectiveDate=@PolicyEffectiveDate
if(@moduleName='CopyPolicy')
begin
			DECLARE @YearDifference INT
				SET @YearDifference=(SELECT DATEDIFF(year, convert(varchar, @EffectiveDate, 101),convert(varchar,  GETDATE(), 101)) )
			if(@YearDifference>0)
			BEGIN 
		
				SET @EffectiveDate=(SELECT DATEADD(year, @YearDifference, @EffectiveDate))
			END

			if(convert(varchar, @EffectiveDate, 101)<convert(varchar,  GETDATE(), 101))
			begin
				SET @EffectiveDate=(SELECT DATEADD(year, 1, @EffectiveDate))
			end
end

if exists(select * from Policy where Accountid=@AccountID and Year(PolicyEffectiveDate)>=year(getdate())  and isUncompletedData<>'Y')
begin
	Print 'Policy exists for present year'
	if exists(select * from Policy where Accountid=@AccountID and Year(PolicyEffectiveDate)>=year(getdate())+1  )
	begin
		Print 'Policy exists for next year year'
			set @isCopyPolicy='N'
	end
	else
		begin
			set @DaysDifference=(SELECT DATEDIFF(day, (select convert(varchar,PolicyEffectiveDate,101) from Policy where Accountid=@AccountID  and isUncompletedData<>'Y' and Year(PolicyEffectiveDate)=year(getdate())),convert(varchar,getdate(),101)) )
			if(@DaysDifference>90)
				set @isCopyPolicy='Y'
		end
end
else
Begin
	Print 'Policy doesn''t exist for present year'
	set @isCopyPolicy='Y'
end
--select @isPolicyRequoted
if( @isCopyPolicy = 'Y')
begin 

print 'hi***************************'
begin try

BEGIN TRANSACTION

print 'Not Requoted'

update Firm set isPolicyRequoted='Y' where PolicyKey=@PolicyKey
set @LastUpdateTimeStamp=(SELECT GETDATE())
	PRINT 'Going to create new policy from existing data'
	SET @AppCreatedDate = convert(VARCHAR, GETDATE(), 101)


	SELECT @AgentName=AgentName FROM UserDetails WHERE UserNo=@UserNo
	
	PRINT('1')
	BEGIN
	INSERT INTO Account (AccountID,AccountName,Website,AccountEmail,AccountVersion,secondaryEmail,LastUpdateTimeStamp,LastUpdateUserID)
	SELECT @AccountID,AccountName,Website,AccountEmail,AccountVersion,secondaryEmail,@LastUpdateTimeStamp,@UserNo FROM Account 
	WHERE AccountKey= @AccountKey
	PRINT('2')
	SELECT @AccountKey_Inserted=IDENT_CURRENT('Account')

	INSERT INTO Address(Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc,otherPhone,Street,LastUpdateTimeStamp,LastUpdateUserID)
	SELECT			    Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc,otherPhone,Street,@LastUpdateTimeStamp,@UserNo 
	FROM Address WHERE AddressKey= @AddressKey
	PRINT('3')
	SELECT @AddressKey_Inserted=IDENT_CURRENT('Address')
	INSERT INTO AccountAddress(AccountKey,AddressKey,LastUpdateTimeStamp,LastUpdateUserID) values(@AccountKey_Inserted,@AddressKey_Inserted,@LastUpdateTimeStamp,@UserNo)
	------------ inserting data in policy table and generating PolicyKey
	PRINT('4')
	INSERT INTO Policy(AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,AppCreatedDate,LastUpdateUserID,LastUpdateTimeStamp,PolicyEffectiveDate,CompanyKey)
	SELECT @AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,ReasonStatusComment,ReasonStatusTypeKey,1,convert(DATETIME,GETDATE(),101),@UserNo,@LastUpdateTimeStamp,@EffectiveDate,CompanyKey 
	FROM Policy  WHERE PolicyKey= @PolicyKey
	PRINT('5')
	SELECT @PolicyKey_Inserted=IDENT_CURRENT('Policy')

	INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
	Select @PolicyKey_Inserted,@UserNo,getdate(),@UserNo,getdate() 

	select @VersionKey_Inserted=IDENT_CURRENT('Version')

	Declare @StateCode VARCHAR(50),@CompanyKey_temp INT
	set @StateCode=(select stateCode from Address where AddressKey=@AddressKey_Inserted)
	SET @CompanyKey_temp=(select top 1 CompanyKey  from StateCompany where StateCode=@StateCode and MarketableProductKey= 1 and effectivedate <= @EffectiveDate and ExpirationDate >= @EffectiveDate
	order by EffectiveDate desc)
		SET @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)
	UPDATE Policy SET  QuoteNumber=@QuoteNumber,VersionKey=@VersionKey_Inserted,CompanyKey=@CompanyKey_temp WHERE PolicyKey=@PolicyKey_Inserted

	COMMIT
	END
	-------------------------------------------------------------------

	DECLARE @TransactionTypeKey						INT
	DECLARE @CompanyCode							VARCHAR(100)
	DECLARE @ProducerCode							VARCHAR(100)
	DECLARE @TotalPremium							numeric(17,2)
	--DECLARE @StatusKey								INT
	DECLARE @TotalPolicyModifierPercentage			INT
	DECLARE @TotalPolicyTaxAmount					Numeric(17,2)
	DECLARE @InvoicedPremium						Numeric(17,2)
	DECLARE @SubInsuranceCarrier					VARCHAR(50)

	--Cursor for inserting data into multiple tables with new keys
	


	
insert into Firm(PolicyKey,ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,
RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,
ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,
IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,
MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,
Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,
RegulatoryInquiryComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,
IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,Comment,
IsLicenseNumberUpdated,IsClaimsInLast5Year,GeneralExplain,GeneralComment,IsViewed,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,QuoteComment,AverageRevenue,SwapRevenueYear,QQRMLink,CreatedBy,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,
MarketingId,isNewApp,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,isRequotePolicy,IsPolicyExcludesCoverage,VersionKey)

select @PolicyKey_Inserted,ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,
RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,
ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,
IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,
MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,
Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,
RegulatoryInquiryComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,
IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,Comment,
IsLicenseNumberUpdated,IsClaimsInLast5Year,GeneralExplain,GeneralComment,IsViewed,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,QuoteComment,AverageRevenue,SwapRevenueYear,QQRMLink,CreatedBy,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,
MarketingId,isNewApp,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,'Y',IsPolicyExcludesCoverage,@VersionKey_Inserted
from Firm where PolicyKey= @PolicyKey and VersionSequence=@VersionSequence



select @VersionSequence_Inserted=IDENT_CURRENT('Firm')

IF(@StatusKey=6 or @StatusKey=7)
		SET @TransactionSequence=(Select TransactionSequence from quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y')
	else
		SET @TransactionSequence=(Select TransactionSequence from quote where Policykey=@PolicyKey and IsFirstQuote='Y')
       
PRINT('6')

INSERT INTO PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,ProducerCode,SubInsuranceCarrier,StatusKey,LastUpdateUserID,LastUpdateTimeStamp,VersionSequence,CreatedBy,CreatedDate,VersionKey)
SELECT							 @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,1,ProducerCode,SubInsuranceCarrier,1,@UserNo,@LastUpdateTimeStamp,@VersionSequence_Inserted,@UserNo,@LastUpdateTimeStampTemp,@VersionKey_Inserted
FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence =@TransactionSequence 

SELECT @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')
update PolicyTransaction set ProducerCode=null where Policykey=@PolicyKey_Inserted and ProducerCode in('P0000007','P0000040','P0000041','P0000042','P0000031','P0000073','P0000001','P0000004','P0000087')
PRINT('7')
		INSERT INTO PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
				IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
				Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,PrimaryAccess,ClassCode,IsDollarDefense,LastUpdateUserID,LastUpdateTimeStamp,CreatedDate)
				
		SELECT @PolicyKey_Inserted,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
		IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
		Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,PrimaryAccess,ClassCode,IsDollarDefense,@UserNo,@LastUpdateTimeStamp,getdate()
			FROM PolicyCoverage WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence
	PRINT('8')
SELECT @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

------------------------------------------------------------------------
--inserting data into quote table
		INSERT INTO Quote (PolicyKey,TransactionSequence,QuoteEffectiveDate,QuoteExpiryDate,IsThisOptionFinalised,AcceptanceDate,IsQuoteSelected,IsFirstQuote,
				Comment,ClaimsMadeYearDesc,TotalPremiumFirstRange,IsMinimumPremium,QuoteDate,LastUpdateTimeStamp,LastUpdateUserID,isShowQuote,CreatedDate)
				SELECT @PolicyKey_Inserted,@TransactionSequence_Inserted,QuoteEffectiveDate,QuoteExpiryDate,IsThisOptionFinalised,AcceptanceDate,IsQuoteSelected,IsFirstQuote,
				Comment,ClaimsMadeYearDesc,TotalPremiumFirstRange,IsMinimumPremium,QuoteDate,@LastUpdateTimeStamp,@UserNo,isShowQuote,getdate()
				FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence =@TransactionSequence 
PRINT('9')
		INSERT INTO RatingTrace (PolicyKey,TransactionSequence,LastUpdateTimeStamp,LastUpdateUserID,CreatedDate)
				SELECT @PolicyKey_Inserted,@TransactionSequence_Inserted,@LastUpdateTimeStamp,@UserNo,getdate()
				 FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence 
------------------------------------------------------------------------
PRINT('10')
      
	INSERT INTO ProfessionalLiabilityInsDetail(PolicyKey,VersionSequence,VersionKey,InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,
	IsClaimExpLiability,PriorActDatePross,IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,
	LastUpdateTimeStamp,LastUpdateUserID,IsProfDefenceExpense,RecordType,CreatedDate,CreatedBy)		
		SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,@VersionKey_Inserted,NULL,NULL,NULL,NULL,NULL,
		NULL,PriorActDatePross,NULL,IsPriorActDateFull,FirmYear,NULL,NULL,NULL,NULL,
		GETDATE(),@UserNo,NULL,'I',GETDATE(),@UserNo
		From ProfessionalLiabilityInsDetail Where  PolicyKey= @PolicyKey and VersionSequence=@VersionSequence

	PRINT('11')


insert into AreaOfPractice (PolicyKey,VersionSequence,AOPKey,AOPCommentDesc,VersionKey,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPKey,AOPCommentDesc,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp 
from AreaOfPractice where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PercentageValue > 0

insert into SmartSearchValueACC (PolicyKey,AOPKey,Percentage, PercentageOld,IsEdit,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,AOPKey,PercentageValue,PercentageValue,'N',@UserNo,@LastUpdateTimeStampTemp
from AreaOfPractice where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PercentageValue > 0


if((select CPAPersonnel from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) is null)
begin
select @NumberOfPersonnel=NumberOfPersonnel from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PersonnelTypeKey=2
update Firm set CPAPersonnel=@NumberOfPersonnel where PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
end

if(@PolicyCreatedDate<@NewAppImplementationDate)
BEGIN
DECLARE @CPAPersonals INT
DECLARE @TotalPersonalsWithCPA INT
DECLARE @TotalPersonals INT
	SET @CPAPersonals=(SELECT CASE WHEN NumberOfPersonnel IS NOT NULL and NumberOfPersonnel <> ''  THEN NumberOfPersonnel ELSE 0  END  AS NumberOfPersonnel from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PersonnelTypeKey=2)
	SET @TotalPersonalsWithCPA= (SELECT CASE WHEN sum(NumberOfPersonnel) IS NOT NULL and sum(NumberOfPersonnel) <> ''  THEN sum(NumberOfPersonnel) ELSE 0  END  from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence )
	SET @TotalPersonals=@TotalPersonalsWithCPA-@CPAPersonals
	update Firm set CPAPersonnel=@CPAPersonals,TotalFirmPersonnel=@TotalPersonals where PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
END


SET @PolicyCreatedDate=(select AppCreatedDate from Policy where PolicyKey=@PolicyKey_Inserted)
if(@PolicyCreatedDate<@NewAppImplementationDate)--old
BEGIN
	insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount,VersionKey,CreatedBy,CreatedDate)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,GrossRevenueKey,YearEndDate,Amount,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
END
if(@PolicyCreatedDate>@NewAppImplementationDate)--New
BEGIN
	insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,VersionKey,CreatedBy,CreatedDate)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,1,SUBSTRING(YearEndDate,1,3)+''+convert(varchar,(cast(SUBSTRING(YearEndDate,4,6) as int))+1),@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from GrossRevenueForFirm where Policykey=@Policykey and GrossRevenueKey=1
	
	insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount,VersionKey,CreatedBy,CreatedDate)
	select @PolicyKey_Inserted,@VersionSequence_Inserted, GrossRevenueKey+1 as GrossRevenueKey ,YearEndDate,Amount,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and GrossRevenueKey in (1,2)
END

	
if((select IsFirmRenderedServiceForAnyClient from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) = 'Y')
begin
	insert into OutsideInterestSupp (PolicyKey,VersionSequence,ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
	AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,ClientIndustryOsiKeyOthers,
	ServiceIndustryOsiKeyOthers,VersionKey,CreatedBy,CreatedDate)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
	AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,ClientIndustryOsiKeyOthers,
	ServiceIndustryOsiKeyOthers,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from OutsideInterestSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
EnD

if((select IsServedAsTrustee from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) = 'Y')
begin
	insert into TrusteeOrEstateSupp (PolicyKey,VersionSequence,NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,
	IsBeneficiaryInterestTrust,TypeofTrustKey,VersionKey,CreatedBy,CreatedDate)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,
	IsBeneficiaryInterestTrust,TypeofTrustKey,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from TrusteeOrEstateSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
EnD



insert into ITServicesSupp (PolicyKey,VersionSequence,ITServiceCategoryKey,VersionKey,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@VersionSequence_Inserted,ITServiceCategoryKey,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from ITServicesSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into FirmInitLawsuits(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,NamedDefendantsInSuit,VersionKey,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,NamedDefendantsInSuit,@VersionKey_Inserted,@UserNo,@LastUpdateTimeStampTemp from FirmInitLawsuits where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

update FirmInitLawsuits set isInheritedSuit='Y' where policykey=@PolicyKey_Inserted

insert into CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUpdateTimeStamp,LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,Comment,@CoverageSequence_Inserted,GETDATE(),@UserNo,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted,@UserNo,@LastUpdateTimeStampTemp from CoverageModifiers where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)  

declare c1 cursor for
	select ModifierKey,RenewalPercentage from CoverageModifiers where PolicyKey = @PolicyKey_Inserted
 OPEN c1
 FETCH NEXT FROM c1 into @ModifierKey ,@RenewalModifierPercentage
 WHILE @@FETCH_STATUS = 0
 BEGIN
 print @ModifierKey
 print @RenewalModifierPercentage
	if(@RenewalModifierPercentage != 0 )
		update CoverageModifiers set Percentage = @RenewalModifierPercentage where ModifierKey = @ModifierKey 
 FETCH NEXT FROM c1 into @ModifierKey ,@RenewalModifierPercentage
 END
CLOSE c1
DEALLOCATE c1
	/************************************************************************************************/
	
	Declare @CoverageSequenceNew INT
	SET @CoverageSequenceNew=(Select top 1 CoverageSequence from PolicyCoverage where Policykey=@PolicyKey_Inserted)
	Declare @TransactionSequenceNew INT
	SET @TransactionSequenceNew=(Select top 1 TransactionSequence from PolicyTransaction where Policykey=@PolicyKey_Inserted)
	COMMIT

	SELECT @PolicyKey_Inserted AS PolicyKey, @TransactionSequenceNew AS TransactionSequence,@CoverageSequenceNew AS CoverageSequence ,@AddressKey_Inserted AS AddressKey,
	@AccountKey_Inserted AS AccountKey,@VersionSequence_Inserted AS VersionSequence

end try
begin catch
	print error_message()

	update Firm set @isPolicyRequoted=null where PolicyKey=@PolicyKey

	rollback 

end catch

end

if( @isCopyPolicy = 'N')
begin

	begin try
		   print 'Already Requoted'
       
		   select @AccountID=AccountID from Policy where PolicyKey = @PolicyKey
		   select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence 
		   from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc 
		   where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') and a.AccountID=@AccountID and f.isRequotePolicy='Y' order by  PolicyKey desc
	end try
	begin catch
	print error_message()
	rollback 
	end catch
end
end
















GO
