USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllPolicyDataFromPolicyKey]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchAllPolicyDataFromPolicyKey]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllPolicyDataFromPolicyKey]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchAllPolicyDataFromPolicyKey] AS' 
END
GO
--exec FetchAllPolicyDataFromPolicyKey 153878
ALTER PROCEDURE [dbo].[FetchAllPolicyDataFromPolicyKey] 
	 @PolicyKey varchar(100)

AS
BEGIN

	DECLARE @MarketableProductKey int
	DECLARE @accountid int
	DECLARE @status int

	SELECT @MarketableProductKey=MarketableProductKey, @accountid=AccountID FROM Policy WHERE PolicyKey = @PolicyKey
	SELECT @status=StatusKey from policytransaction WHERE PolicyKey = @PolicyKey
	declare @PolicyNumber varchar(24)
	declare @PolicyEffectiveDate datetime
	declare @PolicyExpirationDate datetime
	declare @NewPolicyKey int
	if (@status<>6)
	Begin
		
		set @NewPolicyKey=(select max(policykey) from policy where accountid=@accountid and policynumber is not null and policykey!=@PolicyKey)
		select @PolicyNumber=p.policynumber,@PolicyEffectiveDate=p.PolicyEffectiveDate,@PolicyExpirationDate=pt.PolicyExpirationDate from policy p inner join policytransaction pt  on p.policykey=pt.policykey where   p.policykey=@NewPolicyKey
	End
	Else
	
	select @PolicyNumber=p.policynumber,@PolicyEffectiveDate=CONVERT(varchar(24),p.PolicyEffectiveDate,101),@PolicyExpirationDate=pt.PolicyExpirationDate from policy p inner join policytransaction pt  on p.policykey=pt.policykey where   p.policykey=@PolicyKey


	IF(@MarketableProductKey = 1)
	BEGIN
		SELECT   adds.Address1,adds.Address2,datename(MM,getdate())+' ' +CONVERT(varchar(2),GETDATE(),103)+', '+cast(datepart(year,getdate()) as char(4)) as  PresentDate ,f.IsOffRiskLetterUploaded,adds.CountyDesc,RTRIM(adds.City)+', ' as City,(SELECT StateDesc+' ' FROM State WHERE StateCode=adds.StateCode) StateDesc,adds.Zip as Zip,adds.Zip4 ,p.QuoteNumber,
		case when @status<>6 then ( select  policynumber from policy where policykey in (select max(policykey) from policy where accountid=@accountid and policynumber is not null and policykey!=p.PolicyKey)) else p.PolicyNumber end as PolicyNumber,
		p.IsFullQuote, p.IsQuickQuote, a.AccountName,
		(CASE p.IsFullQuote WHEN 'Y' THEN 'FullQuote' ELSE 'QuickQuote' END) as FullQuick, 
		DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,
		--CONVERT(varchar(24),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,
		CONVERT(varchar(24),@PolicyEffectiveDate,101) as PolicyEffectiveDate,
		REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(a.AccountName,'&',''),',',''),' ',''),'.',''),'''',''),'/','')  as AccountNameOffRisk ,
		pt.TransactionSequence,
		--CONVERT(varchar(24),pt.PolicyExpirationDate,101)+'.' as PolicyExpirationDate 
		CONVERT(varchar(24),@PolicyExpirationDate,101) as PolicyExpirationDate 
		,a.AccountID,
		CONVERT(varchar(24),@PolicyEffectiveDate,101)+' to '+CONVERT(varchar(24),@PolicyExpirationDate,101)+' ' as PolicyTerm,
		a.AccountKey  ,adds.AddressKey, adds.StateCode,f.ContactPerson+',' as ContactPerson,
		(CASE WHEN nullif(ltrim(rtrim(adds.Address2)),'') IS NULL THEN adds.Address1  ELSE adds.Address1+', '+adds.Address2 END) as Address ,
		(CASE p.PolicyStatusKey WHEN '2' 
		THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
		THEN s.StatusDesc + '(R)'
		ELSE s.StatusDesc + '(R) (P)' END 
		ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + '(P)' END
		END) as StatusDesc,
		pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,
		f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, CONVERT(varchar(24),p.AppCreatedDate,101) as AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, 
		f.IsFirmReferred,f.IsViewed,f.IsRenewed,f.IsRenewalReview,p.VersionKey 
		FROM Policy p,  Account a, Firm f, 
		Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and 
		aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and 
		s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey  and p.PolicyStatusKey=pt.TransactionTypeKey and 
		f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=1 and pt.TransactionSequence = 
		pc.TransactionSequence and pt.TransactionSequence=(SELECT min(TransactionSequence) FROM PolicyTransaction 
		WHERE PolicyKey=p.PolicyKey) and pt.PolicyKey in (SELECT PolicyKey FROM Policy WHERE isUncompletedData='N')
		and p.PolicyKey = @PolicyKey and f.VersionSequence=(select min(versionsequence) from firm where policyKey=f.PolicyKey)

	END
	IF(@MarketableProductKey = 2)
	BEGIN
		SELECT  adds.Address1,adds.Address2,datename(MM,getdate())+' ' +CONVERT(varchar(2),GETDATE(),103)+', '+cast(datepart(year,getdate()) as char(4)) as  PresentDate,f.IsOffRiskLetterUploaded,adds.CountyDesc,(adds.City+', ') as City,(SELECT StateDesc+' ' FROM State WHERE StateCode=adds.StateCode) StateDesc,adds.Zip as Zip,adds.Zip4 ,p.QuoteNumber, 
		case when @status<>6 then ( select  policynumber from policy where policykey in (select max(policykey) from policy where accountid=@accountid and policynumber is not null and policykey!=p.PolicyKey)) else p.PolicyNumber end as PolicyNumber,
		p.IsFullQuote, p.IsQuickQuote, a.AccountName,
		(CASE p.IsFullQuote WHEN 'Y' THEN 'FullQuote' ELSE 'QuickQuote' END) as FullQuick, 
		DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,
		--CONVERT(varchar(24),p.PolicyEffectiveDate,101) as PolicyEffectiveDate
		CONVERT(varchar(24),@PolicyEffectiveDate,101) as PolicyEffectiveDate
		,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(a.AccountName,'&',''),',',''),' ',''),'.',''),'''',''),'/','')  as AccountNameOffRisk ,   pt.TransactionSequence
		--,CONVERT(varchar(24),pt.PolicyExpirationDate,101)+'.' as PolicyExpirationDate 
		,CONVERT(varchar(24),@PolicyExpirationDate,101) as PolicyExpirationDate 
		, a.AccountID,
		CONVERT(varchar(24),@PolicyEffectiveDate,101)+' to '+CONVERT(varchar(24),@PolicyExpirationDate,101)+' ' as PolicyTerm,
		a.AccountKey  ,adds.AddressKey, adds.StateCode,f.ContactPerson+',' as ContactPerson,
		 --adds.Address1+', '+ISNULL(adds.Address2,'') as Address,
		 (CASE WHEN nullif(ltrim(rtrim(adds.Address2)),'') IS NULL THEN adds.Address1  ELSE adds.Address1+', '+adds.Address2 END) as Address ,
		(CASE p.PolicyStatusKey WHEN '2' 
		THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
		THEN s.StatusDesc + '(R)'
		ELSE s.StatusDesc + '(R) (P)' END 
		ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + '(P)' END
		END) as StatusDesc,
		pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,
		f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,
		f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,f.FirstReviewUserID , 
		f.VersionSequence, pc.CoverageSequence, CONVERT(varchar(24),p.AppCreatedDate,101) as AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, 
		f.IsFirmReferred,f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview,p.VersionKey
		 FROM Policy p,  Account a, FirmLW f, 
		Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and 
		aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and 
		s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey  and p.PolicyStatusKey=pt.TransactionTypeKey and 
		f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=2 and pt.TransactionSequence = 
		pc.TransactionSequence and pt.TransactionSequence=(SELECT min(TransactionSequence) FROM PolicyTransaction 
		WHERE PolicyKey=p.PolicyKey) and pt.PolicyKey in (SELECT PolicyKey FROM Policy WHERE isUncompletedData='N')
		and p.PolicyKey = @PolicyKey  and f.VersionSequence=(select min(versionsequence) from firmlw where policyKey=f.PolicyKey)

	END

END





GO
