USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompleted]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CheckIfApplicationIsCompleted]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompleted]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CheckIfApplicationIsCompleted] AS' 
END
GO
--exec CheckIfApplicationIsCompleted 126339
ALTER PROCEDURE [dbo].[CheckIfApplicationIsCompleted]
	@PolicyKey int,
	@IsApplicationCompleted char(1) = 'N' output 
	
AS
BEGIN

--declare @IsApplicationCompleted char(1) = 'N'
declare @IsFirmPage char(1)
declare @IsAopPage char(1)
declare @IsPracticePage char(1)
declare @IsCoveragePage char(1)
declare @IsRealEstateResidentialPage char(1)
declare @IsRealEstateCommercialPage char(1)
declare @IsPlaintiffPage char(1)
declare @IsWillsEstatePage char(1)
declare @AOPKey int 
declare @PercentageValue int
declare @PolicyStatusKey int
declare @IsRenewFirmPage char(1)

	select @PolicyStatusKey=PolicyStatusKey from Policy where PolicyKey=@PolicyKey
   
	select @IsFirmPage=IsFirmPage,@IsAopPage=IsAopPage,@IsPracticePage=IsPracticePage,@IsCoveragePage=IsCoveragePage,
	@IsRealEstateResidentialPage=IsRealEstateResidentialPage,@IsRealEstateCommercialPage=IsRealEstateCommercialPage,
	@IsPlaintiffPage=IsPlaintiffPage,@IsWillsEstatePage=IsWillsEstatePage,@IsRenewFirmPage=IsRenewFirmPage
	from FirmLW where PolicyKey=@PolicyKey

	if(@PolicyStatusKey=1)
	begin

		if(@IsFirmPage = 'Y' and @IsAopPage='Y' and @IsPracticePage='Y' and @IsCoveragePage='Y')
			begin
					set @IsApplicationCompleted = 'Y'
					--set @IsApplicationCompleted=dbo.IsAOPCompletedLW(@PolicyKey)
					declare c10 cursor for
					select AOPKey,PercentageValue from AreaOfPracticeLW  where  AOPKey in(18,20,27,24)  and PolicyKey = @PolicyKey 
					open c10
					FETCH NEXT FROM c10 into @AOPKey, @PercentageValue
					while @@FETCH_STATUS=0
						begin
							if(@AOPKey=18 and @PercentageValue > 0)
							begin
								if(@IsPlaintiffPage != 'Y')
								begin
									set @IsApplicationCompleted='N'	
								end
							end

							if(@AOPKey=20 and @PercentageValue > 0)
							begin
								if(@IsRealEstateCommercialPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AOPKey=27 and @PercentageValue > 0)
							begin
								if(@IsRealEstateResidentialPage != 'Y')
								begin
									set @IsApplicationCompleted='N'						
								end
							end

							if(@AOPKey=24 and @PercentageValue > 0)
							begin
								if(@IsWillsEstatePage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end


						FETCH NEXT FROM c10 into @AOPKey, @PercentageValue
						end
					close c10
					deallocate c10
					
			end	
	end

	if(@PolicyStatusKey=2)
	begin

		if(@IsRenewFirmPage = 'Y')
			begin
					set @IsApplicationCompleted = 'Y'
					--set @IsApplicationCompleted=dbo.IsAOPCompletedLW(@PolicyKey)
					declare c11 cursor for
					select AOPKey,PercentageValue from AreaOfPracticeLW  where  AOPKey in(18,20,27,24)  and PolicyKey = @PolicyKey 
					open c11
					FETCH NEXT FROM c11 into @AOPKey, @PercentageValue
					while @@FETCH_STATUS=0
						begin
							if(@AOPKey=18 and @PercentageValue > 0)
							begin
								if(@IsPlaintiffPage != 'Y')
								begin
									set @IsApplicationCompleted='N'	
								end
							end

							if(@AOPKey=20 and @PercentageValue > 0)
							begin
								if(@IsRealEstateCommercialPage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end

							if(@AOPKey=27 and @PercentageValue > 0)
							begin
								if(@IsRealEstateResidentialPage != 'Y')
								begin
									set @IsApplicationCompleted='N'						
								end
							end

							if(@AOPKey=24 and @PercentageValue > 0)
							begin
								if(@IsWillsEstatePage != 'Y')
								begin
									set @IsApplicationCompleted='N'							
								end
							end


						FETCH NEXT FROM c11 into @AOPKey, @PercentageValue
						end
					close c11
					deallocate c11
					
			end	
	end
	

	--select  @IsApplicationCompleted as IsCompleted
	return 
END

GO
