USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_InsuranceHistory_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_InsuranceHistory_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_InsuranceHistory_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_InsuranceHistory_LW] AS' 
END
GO
--exec UWRules_InsuranceHistory_LW 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_InsuranceHistory_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,@PolicyEffectiveDate DateTime,@PolicyExpirationDatePross DATETIME,@IsFirmHaveLawyersLiabilityInsurance CHAR
	DECLARE @LimitSequence INT,@LimitSequencePrior INT
	
	select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance from FirmLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	
	select @PolicyEffectiveDate=PolicyEffectiveDate,@PolicyExpirationDatePross=PolicyExpirationDatePross from ProfessionalLiabilityInsDetailLW pl left join Policy p
	on p.PolicyKey=pl.PolicyKey where pl.PolicyKey=@PolicyKey and pl.VersionSequence=@VersionSequence
	
	
	select @LimitSequencePrior=LimitSequencePross from ProfessionalLiabilityInsDetailLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence 

	select @LimitSequence=lt.LimitSequence from limits lt 	
	inner join PolicyCoverage pc on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit 
	where lt.CoverageKey=3 and PolicyKey=@PolicyKey

	
	SET @daysDifference=(SELECT DATEDIFF(Day, @PolicyExpirationDatePross,@PolicyEffectiveDate) )

	--select  @daysDifference
	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='validateExpirationDateNewBusiness_Lawyers'
		if(@daysDifference <> 0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Expiration date on current insurance different than effective date requested.','Why is the submission late?  If more than 90 (NB) or 60 (Renewal) explain that we cannot quote them that far out.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='validateNonBareFirmsNewBusiness_Lawyers'
		if(@IsFirmHaveLawyersLiabilityInsurance='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Confirm that copy of current policy is received.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			-- "ValidateReductionOfLimit_Lawyers","Requesting limit below expiring limit" ,"Requires reduction in limit advisory signature"
		set @rule_id='ValidateReductionOfLimit_Lawyers'
		if(@LimitSequencePrior>@LimitSequence)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Requesting limit below expiring limit.','Requires reduction in limit advisory signature.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
END

	IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
			--set @rule_id='validateEffectiveDateWithDaysReNewBusiness_Lawyers'
			--if(@daysDifference<-90)
			--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Effective date cannot be more than 90 days prior to the current date for Renewal.','',@LastUpdateUserID
			--else
			--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END





GO
