USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AddMultipleAopACC_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AddMultipleAopACC_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AddMultipleAopACC_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AddMultipleAopACC_Proc] AS' 
END
GO

--exec AddMultipleAopACC_Proc '2,1,', 52569, 36409
ALTER PROCEDURE [dbo].[AddMultipleAopACC_Proc]
	@AOP_values varchar(500),
	@PolicyKey  int,
	@VersionSequence int,
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50)
AS
DECLARE @id VARCHAR(MAX)

SET @id = @AOP_values
--@Values        
 -- '3,4,5,8,2,'

WHILE CHARINDEX(',', @id) > 0 
BEGIN
	DECLARE @Count INT
    DECLARE @tmpstr VARCHAR(50)
     SET @tmpstr = SUBSTRING(@id, 1, ( CHARINDEX(',', @id) - 1 ))
	 --select * from SmartSearchValueACC
	-- insert into SmartSearchValueACC (Aopkey,Percentage,PolicyKey) values(2, 12,23456)

    --INSERT  INTO AreaOfPracticeLW( AOPKey,PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence)
    --VALUES  ( @tmpstr,NULL,NULL,@PolicyKey,@VersionSequence)
	--INSERT  INTO SmartSearchValueACC( Aopkey,Percentage,PolicyKey)
 --   VALUES  ( @tmpstr,NULL,@PolicyKey)
 print @tmpstr
 Select @count=count(*) from SmartSearchValueACC WITH(nolock) where AOPKey=@tmpstr and PolicyKey=@PolicyKey
 print @count
	IF(@Count=0)
	BEGIN
		INSERT  INTO SmartSearchValueACC( Aopkey,Percentage,PercentageOld,IsEdit,PolicyKey,LastUpdateUserID,LastUpdateTimeStamp)
		 VALUES  ( @tmpstr,NULL,NULL,'Y',@PolicyKey,@LastUpdateUserID,@LastUpdateTimeStamp)
	END
	ELSE
	BEGIN
		PRINT 'UNABLE TO INSERT'
	END
	
    SET @id = SUBSTRING(@id, CHARINDEX(',', @id) + 1, LEN(@id))
END



GO
