USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NameChangeEndorsementDetailsACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[NameChangeEndorsementDetailsACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NameChangeEndorsementDetailsACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[NameChangeEndorsementDetailsACC_p] AS' 
END
GO
-- select * from ProfessionalLiabilityInsDetail where Policykey=105244
--select * from Firm where Policykey=105244
--select * from quote where policykey=112703
--exec NameChangeEndorsementDetailsACC_p 112703, '2020-11-07'
ALTER PROCEDURE [dbo].[NameChangeEndorsementDetailsACC_p]
	(
	@PolicyKey Int,
	@PolicyEffectiveDate DATETIME
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.IsPriorActDateFull
DECLARE @IsPriorActDateFull CHAR,@FirmYear INT,@UpdatePriorActDate DATETIME,@PriorActDatePross DATETIME


	select  top 1 @IsPriorActDateFull=(CASE WHEN IsPriorActDateFull is not null  then IsPriorActDateFull else 'N' END) ,@FirmYear=(CASE WHEN FirmYear is not null  then FirmYear else 0 END),
	@PriorActDatePross=(CASE WHEN PriorActDatePross is not null  then PriorActDatePross else  null END) from ProfessionalLiabilityInsDetail where Policykey=@PolicyKey order by VersionSequence DESC

	IF(@IsPriorActDateFull='Y')
	BEGIN
		
		SET @UpdatePriorActDate=(SELECT DATEADD(year, -@FirmYear, @PolicyEffectiveDate ))

	END
	ELSE
	
	BEGIN
		SET @UpdatePriorActDate=@PriorActDatePross
	END 
	select a.AccountName as nameAddressEndorsementAccountName,adds.Address1 as nameAddressEndorsementAddress1,adds.Address2 as nameAddressEndorsementAddress2,adds.StateCode,adds.city as nameAddressEndorsementCity,
						(CASE WHEN adds.zip4 is not null THEN adds.zip+'-'+adds.zip4  ELSE adds.zip END) as nameAddressEndorsementZipCode ,  
						(select StateDesc from State where StateCode = adds.StateCode) as StateCode,pt.PolicyExpirationDate,@UpdatePriorActDate as PriorActDatePross

						 from  Account a
						
						 inner join  PolicyTransaction pt on a.AccountKey =pt.AccountKey 
						 inner join   AccountAddress aa on aa.AccountKey = a.AccountKey 
						 inner join  Address adds on  aa.AddressKey=adds.AddressKey 
						 inner join quote q on  q.policykey=pt.policykey and q.TransactionSequence=pt.TransactionSequence 
						inner join ProfessionalLiabilityInsDetail Pli on pli.policykey=pt.policykey and pli.VersionSequence= (select max(VersionSequence)  from firm where policykey=pt.PolicyKey)
						 where pt.PolicyKey=@PolicyKey and  q.IsThisOptionFinalised='Y'
						
					
END




GO
