USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForListLawyers_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchCountForListLawyers_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForListLawyers_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchCountForListLawyers_Proc] AS' 
END
GO

--exec SearchCountForListLawyers_Proc '','' ,'' , null, '', 'SubProduced', null, 3, 'nonRenewed', '', '', 'Y'
--exec SearchCountForListLawyers_Proc null, null, null, null, null, null, null, 3, 'nonRenewed', null, null, null

ALTER PROCEDURE [dbo].[SearchCountForListLawyers_Proc] 
        @StateCodefilter varchar(2000)=null,            
        @EffectiveDateFrom datetime=null,
        @EffectiveDateTo datetime=null,          
        @PolicyStatusDesc varchar(20)=null,
        @ProducerCodefilter VARCHAR(2000) = NULL,
        @ProducerCode1 varchar(2000)=null,
        @EligibleFirstReviewerfilter varchar(1000)=null,
        @LastUpdateUserID int=null,
        @BucketListAction varchar(20)=null,
        @SearchAppCreatedDateFrom datetime=null,
        @SearchAppCreatedDateTo datetime=null,
		@isBrokered char=null,
		@Company_search varchar(1000),
		@role_id varchar(20)
AS
set nocount on
BEGIN
Declare @StateCodefilterTemp varchar(2000)=null,              
        @EffectiveDateFromTemp datetime=null,
        @EffectiveDateToTemp datetime=null,             
        @PolicyStatusDescTemp varchar(20)=null,
        @ProducerCodefilterTemp VARCHAR(2000) = NULL,
        @ProducerCode1Temp varchar(2000)=null,
        @EligibleFirstReviewerfilterTemp varchar(1000)=null,
        @LastUpdateUserIDTemp int=null,
        @BucketListActionTemp varchar(20)=null,
        @SearchAppCreatedDateFromTemp datetime=null,
        @SearchAppCreatedDateToTemp datetime=null,
		@BrokerKeyTemp varchar(200)=null,
		@CarrierKeyTemp varchar(200)=null,
		@Company_searchTemp VARCHAR(200)=null

       set @StateCodefilterTemp = @StateCodefilter                   
       set @EffectiveDateFromTemp = @EffectiveDateFrom                      
       set @EffectiveDateToTemp = @EffectiveDateTo                   
       set @PolicyStatusDescTemp = @PolicyStatusDesc                 
       set @ProducerCodefilterTemp = @ProducerCodefilter                    
       set @ProducerCode1Temp = @ProducerCode1                       
       set @EligibleFirstReviewerfilterTemp = @EligibleFirstReviewerfilter        
       set @LastUpdateUserIDTemp = @LastUpdateUserID                 
       set @BucketListActionTemp = @BucketListAction                 
       set @SearchAppCreatedDateFromTemp = @SearchAppCreatedDateFrom        
       set @SearchAppCreatedDateToTemp = @SearchAppCreatedDateTo   
	   	set @Company_searchTemp=@Company_search         
	  
	   if(@Company_searchTemp is null or @Company_searchTemp='')
		begin
				  exec  @Company_searchTemp= dbo.UserLoginSecurity_p @role_id
				if(@Company_searchTemp='0')
					set @Company_searchTemp=null
		end

       if((@SearchAppCreatedDateFromTemp <> '' AND @SearchAppCreatedDateFromTemp is not null) AND (@EffectiveDateFromTemp = '' OR @EffectiveDateFromTemp is null))
       BEGIN
              set @EffectiveDateFromTemp = '1950-01-01'
       END
       if((@SearchAppCreatedDateToTemp <> '' AND @SearchAppCreatedDateToTemp is not null) AND (@EffectiveDateToTemp = '' OR @EffectiveDateToTemp is null))
       BEGIN
              select @EffectiveDateToTemp=FORMAT(getdate()+730,'MM-dd-yyyy')
       END
       
       if(@EffectiveDateFromTemp='' OR @EffectiveDateFromTemp is null)
       BEGIN
              select @EffectiveDateFromTemp= FORMAT(getdate()-30,'MM-dd-yyyy')
       END
       if(@EffectiveDateToTemp='' OR @EffectiveDateToTemp is null)
       BEGIN
              select @EffectiveDateToTemp=FORMAT(getdate()+120,'MM-dd-yyyy')
       END
       if((@EffectiveDateFromTemp='' OR @EffectiveDateFromTemp is null) and (@EffectiveDateToTemp='' OR @EffectiveDateToTemp is null))
       BEGIN
              select @EffectiveDateFromTemp= FORMAT(getdate()-30,'MM-dd-yyyy'), @EffectiveDateToTemp=FORMAT(getdate()+120,'MM-dd-yyyy')       
       END
              
       if Exists(select 1 from ProfileFilter where LastUpdateUserID=@LastUpdateUserIDTemp)
       BEGIN
              Select @PolicyStatusDescTemp=PolicyStatusKey, @ProducerCode1Temp=Direct_SubProducedKey,
              @EligibleFirstReviewerfilterTemp=FirstReviewerUserNo,@BrokerKeyTemp=BrokerID, @CarrierKeyTemp=CarrierID from ProfileFilter with (nolock) where LastUpdateUserID=@LastUpdateUserIDTemp
       END
       
       if(@SearchAppCreatedDateFromTemp = '' OR @SearchAppCreatedDateFromTemp is null)
       BEGIN
              set @SearchAppCreatedDateFromTemp = '1950-01-01'
       END
       if(@SearchAppCreatedDateToTemp = '' OR @SearchAppCreatedDateToTemp is null)
       BEGIN
              set @SearchAppCreatedDateToTemp = getdate()
       END

       --select   @PolicyStatusDescTemp,@ProducerCode1Temp

       CREATE TABLE  #TempDirect_SubProducedKey
       (
              PolicyKey VARCHAR(20)
       )
       IF(@ProducerCode1Temp is null or @ProducerCode1Temp='')
       BEGIN
              --Print 'Producer code is null'
              INSERT INTO #TempDirect_SubProducedKey
              SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
              inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
       END
       IF(@ProducerCode1Temp is not null and @ProducerCode1Temp='SubProduced')
       BEGIN
              --Print 'Policies type ar subproduced'
              INSERT INTO #TempDirect_SubProducedKey
              SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
              inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
              and  pt.ProducerCode <>'' and pt.ProducerCode is not null
       END
       
       IF(@ProducerCode1Temp is not null and @ProducerCode1Temp='Direct')   
       BEGIN
              --Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
              INSERT INTO #TempDirect_SubProducedKey
              SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
              inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode='' OR pt.ProducerCode is null 
              -- Asked by Pat 02/14/2019
              or pt.ProducerCode in (select ProducerCode from SubProducer where IsDriect='Y')
       END
       IF(@ProducerCode1Temp is not null and @ProducerCode1Temp <> '' and @ProducerCode1Temp!='Direct' and @ProducerCode1Temp!='SubProduced')
       BEGIN
              --print 'Specific subproducer is specified'
              INSERT INTO #TempDirect_SubProducedKey
              SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
              inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode = @ProducerCode1Temp          
       END
       
       CREATE TABLE  #TempAccountKey
       (
              AccountKey VARCHAR(20)
       )
       IF(@StateCodefilterTemp is NULL OR @StateCodefilterTemp='')
       BEGIN
              INSERT INTO #TempAccountKey
              SELECT aa.AccountKey FROM Account a with (nolock),AccountAddress aa with (nolock), Address adds with (nolock),State st with (nolock) 
              WHERE aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey AND St.StateCode=adds.StateCode
       END
       ELSE
       BEGIN
              INSERT INTO #TempAccountKey
              SELECT aa.AccountKey 
              FROM Account a,AccountAddress aa with (nolock), Address adds with (nolock),State st with (nolock) 
              WHERE aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey AND St.StateCode=adds.StateCode
              and st.StateCode in(select items from Split(@StateCodefilterTemp,','))
       END

	   CREATE TABLE  #TempCompany
	(
		PolicyKey VARCHAR(20)
	)
	
	IF(@Company_searchTemp is NULL OR @Company_searchTemp='')
	BEGIN
		INSERT INTO #TempCompany
		SELECT PolicyKey from Policy where MarketableProductKey = 2 and isUncompletedData='N'
	END
	ELSE
	BEGIN
		INSERT INTO #TempCompany
		SELECT PolicyKey from Policy  where  CompanyKey in(select items from Split(@Company_searchTemp,',')) and MarketableProductKey = 2 and isUncompletedData='N'
	END
	

       --Pending
       declare @TotalCount int=0,@BucketStatusKey int=0, @TotalBrokarageCount int=0
	   
       
       

       


if(@isBrokered = 'Y' and (@ProducerCodefilter = '' or @ProducerCodefilter is null))
begin

	CREATE TABLE  #TempBrokarageAccountKey
	(
		BrokeragePolicyKey VARCHAR(20)
	)
	IF(@StateCodefilterTemp is NULL OR @StateCodefilterTemp='')
	BEGIN
		INSERT INTO #TempBrokarageAccountKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		
	END
	ELSE
	BEGIN
		INSERT INTO #TempBrokarageAccountKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		WHERE blw.State in(select items from Split(@StateCodefilterTemp,','))
	END

	CREATE TABLE  #TempBrokarageBrokerKey
	(
		BrokeragePolicyKey VARCHAR(20)
	)
	IF(@BrokerKeyTemp is NULL OR @BrokerKeyTemp='')
	BEGIN
		INSERT INTO #TempBrokarageBrokerKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		
	END
	ELSE
	BEGIN
		INSERT INTO #TempBrokarageBrokerKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		WHERE blw.BrokerKey in(select items from Split(@BrokerKeyTemp,','))
	END

	CREATE TABLE  #TempBrokarageCarrierKey
	(
		BrokeragePolicyKey VARCHAR(20)
	)
	IF(@CarrierKeyTemp is NULL OR @CarrierKeyTemp='')
	BEGIN
		INSERT INTO #TempBrokarageCarrierKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		
	END
	ELSE
	BEGIN
		INSERT INTO #TempBrokarageCarrierKey
		SELECT blw.BrokeragePolicyKey FROM BrokerageLW blw with (nolock) 
		WHERE blw.CarrierKey in(select items from Split(@CarrierKeyTemp,','))
	END


if( @BucketListActionTemp = 'abandoned' or @BucketListActionTemp = 'declined' 
    or @BucketListActionTemp = 'issued' or @BucketListActionTemp = 'accepted' 
	or @BucketListActionTemp = 'cancelled' or @BucketListActionTemp= 'pending' 
	or @BucketListActionTemp = 'reject' or @BucketListActionTemp= 'submission'
	or @BucketListActionTemp= 'nonRenewed') or @BucketListActionTemp = 'booked'
	or @BucketListActionTemp = 'uwreview' or @BucketListActionTemp = 'uwcompleted'
	or @BucketListActionTemp = 'indicationCount'
	   
	   begin
             if(@BucketListActionTemp = 'abandoned') begin set @BucketStatusKey = 3; end
              if(@BucketListActionTemp = 'declined') begin set @BucketStatusKey = 4; end
              if(@BucketListActionTemp = 'issued') begin set @BucketStatusKey = 6; end
              if(@BucketListActionTemp = 'accepted') begin set @BucketStatusKey = 7; end
              if(@BucketListActionTemp = 'cancelled') begin set @BucketStatusKey = 8; end
			if(@BucketListActionTemp = 'pending') begin set @BucketStatusKey = 1; end
			if(@BucketListActionTemp = 'reject') begin set @BucketStatusKey = 5; end
			if(@BucketListActionTemp = 'submission') begin set @BucketStatusKey = 12; end
			if(@BucketListActionTemp = 'nonRenewed') begin set @BucketStatusKey = 13; end
			if(@BucketListActionTemp = 'booked') begin set @BucketStatusKey = 2; end
			if(@BucketListActionTemp = 'uwreview') begin set @BucketStatusKey = 9; end
			if(@BucketListActionTemp = 'uwcompleted') begin set @BucketStatusKey = 10; end
			if(@BucketListActionTemp = 'indicationCount') begin set @BucketStatusKey = 11; end
			
    
	   
		select @TotalBrokarageCount=count(blw.StatusKey) from BrokerageLW blw WITH(NOLOCK)
		LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),blw.FirstReviewUserID)) END = blw.FirstReviewUserID
		where 
		blw.BrokerPolicyEffectiveDate>=@EffectiveDateFromTemp and blw.BrokerPolicyEffectiveDate<=@EffectiveDateToTemp
		and blw.CreatedDate>=@SearchAppCreatedDateFromTemp and blw.CreatedDate<=@SearchAppCreatedDateToTemp
		and  blw.isArchived!='True'
		and blw.TransactionTypeKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN blw.TransactionTypeKey ELSE @PolicyStatusDescTemp END
		AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
		AND blw.BrokeragePolicyKey in(SELECT BrokeragePolicyKey FROM #TempBrokarageAccountKey) and blw.StatusKey = @BucketStatusKey 
		AND blw.BrokeragePolicyKey in(SELECT BrokeragePolicyKey FROM #TempBrokarageBrokerKey)  
		AND blw.BrokeragePolicyKey in(SELECT BrokeragePolicyKey FROM #TempBrokarageCarrierKey)  


		


		
	end
	
	
	 select @TotalBrokarageCount as totalCount;

		drop table #TempBrokarageAccountKey
		drop table #TempBrokarageBrokerKey
end

else
begin

if( @BucketListActionTemp = 'abandoned' or @BucketListActionTemp = 'declined' 
       or @BucketListActionTemp = 'issued' or @BucketListActionTemp = 'accepted' or @BucketListActionTemp = 'cancelled')
       begin
             if(@BucketListActionTemp = 'abandoned') begin set @BucketStatusKey = 3; end
              if(@BucketListActionTemp = 'declined') begin set @BucketStatusKey = 4; end
              if(@BucketListActionTemp = 'issued') begin set @BucketStatusKey = 6; end
              if(@BucketListActionTemp = 'accepted') begin set @BucketStatusKey = 7; end
              if(@BucketListActionTemp = 'cancelled') begin set @BucketStatusKey = 8; end
                          
              select @TotalCount=count(pt.StatusKey) 
              from Policy p with (nolock)
              INNER JOIN  PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey --and p.PolicyStatusKey=pt.TransactionTypeKey 
              INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
              INNER JOIN FirmLW fl with (nolock) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
              LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
              LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode

              where
              p.MarketableProductKey = 2 
              --and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey)
              and pt.TransactionSequence= CASE When pt.StatusKey in (3,4,7) Then (select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) WHEN pt.StatusKey in (6,8)Then (select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised='Y') END
              and p.isUncompletedData='N' 
              and p.IsFullQuote='Y'
              and p.IsQuickQuote='N'
              and pt.StatusKey = @BucketStatusKey
              and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
              and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
              and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
              AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
              AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END 
              and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
              AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey) 
			  and p.PolicyKey in(select PolicyKey from #TempCompany)
       end
       
	    if(@BucketListActionTemp = 'booked' or @BucketListActionTemp = 'uwreview' or @BucketListActionTemp = 'uwcompleted')
	   begin
              if(@BucketListActionTemp = 'booked') begin set @BucketStatusKey = 2; end
              if(@BucketListActionTemp = 'uwreview') begin set @BucketStatusKey = 9; end
              if(@BucketListActionTemp = 'uwcompleted') begin set @BucketStatusKey = 10; end
                           
              select @TotalCount=count(pt.StatusKey) 
              from Policy p with (nolock)
              INNER JOIN  PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey --and p.PolicyStatusKey=pt.TransactionTypeKey 
              INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
              INNER JOIN FirmLW fl with (nolock) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
              LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
              LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode

              where
              p.MarketableProductKey = 2 
              --and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey)
              and pt.TransactionSequence= CASE When pt.StatusKey in (2,9,10) Then (select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)END
              and p.isUncompletedData='N' 
              and p.IsFullQuote='Y'
              and p.IsQuickQuote='N'
              and pt.StatusKey = @BucketStatusKey
              and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
              and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
              and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
              AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
              AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END 
              and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
              AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey)   
			  and p.PolicyKey in(select PolicyKey from #TempCompany)
			  and   (fl.lostworkqComment <> 'never quoted' or fl.lostworkqComment is null or fl.lostworkqComment = '')
       end
       

       if(@BucketListActionTemp = 'indicationCount')
       begin
              select @TotalCount=count(pt.StatusKey)
              from  Policy p with (nolock)
              INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey AND  p.PolicyStatusKey=pt.TransactionTypeKey 
              INNER JOIN PolicyCoverage pc with (nolock) ON  p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
              INNER JOIN FirmLW fl with (nolock) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
              LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
              LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode     
              where 
              p.MarketableProductKey = 2 
              and pt.TransactionSequence=(select min(TransactionSequence)   from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) 
              and p.isUncompletedData='N' 
              and p.IsFullQuote='N' 
              and p.IsQuickQuote='Y' 
              and pt.StatusKey=11 
              and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
              and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
              and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
              AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
              AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END
              and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
              AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey) 
			  and p.PolicyKey in(select PolicyKey from #TempCompany)
			  and (lostworkqComment not in('never sent','No Response','not converted') or lostworkqComment is null or lostworkqComment = '')
       end

       if(@BucketListActionTemp = 'pending')
       begin
              select @TotalCount=count(pt.StatusKey) 
              from Policy p with (nolock)
              INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey AND  p.PolicyStatusKey=pt.TransactionTypeKey 
              INNER JOIN PolicyCoverage pc with (nolock) ON  p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
              INNER JOIN FirmLW fl with (nolock) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
              LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
              LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode     
              where 
              p.MarketableProductKey = 2  
              and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) 
              and p.isUncompletedData='N'
              and p.IsFullQuote='Y'
              and p.IsQuickQuote='N'
              and pt.StatusKey=1
              and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
              and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
              and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
              AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
              AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END
              and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
              AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey)
			  and p.PolicyKey in(select PolicyKey from #TempCompany)
			   and (lostworkqComment not in('never quoted','No Response') or lostworkqComment is null or lostworkqComment = '')
       end

       if(@BucketListActionTemp = 'quickquote')
       begin
              select @TotalCount=count(pt.StatusKey) 
              from  Policy p with (nolock)
              INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey AND  p.PolicyStatusKey=pt.TransactionTypeKey  
              INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence  
              INNER JOIN FirmLW fl with (nolock) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
              LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
              LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode
              where 
              pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage with (nolock) where PolicyKey=p.PolicyKey) 
              and p.isUncompletedData='N' 
              and p.IsFullQuote='N' 
              and p.IsQuickQuote='Y' 
              and pt.StatusKey=1 
              and p.MarketableProductKey = 2
              and pc.CoverageKey = 3 --@CoverageKey
              and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
              and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
              and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
              AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
              AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END 
              and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
              AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey) 
			  and p.PolicyKey in(select PolicyKey from #TempCompany)
			  and (lostworkqComment not in('never sent','No Response','not converted') or lostworkqComment is null or lostworkqComment = '')
       end

		if(@BucketListActionTemp = 'reject')
		begin
		--print '5'
	   select @TotalCount=count(pt.StatusKey) 
              from Policy p with (nolock)
              INNER JOIN  PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey --and p.PolicyStatusKey=pt.TransactionTypeKey 
              INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
              INNER JOIN FirmLW fl with (nolock) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
              LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
              LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode

              where
              p.MarketableProductKey = 2 
              and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock)  where PolicyKey=p.PolicyKey)
             -- and pt.TransactionSequence= CASE When pt.StatusKey in (5) Then (select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) WHEN pt.StatusKey in (6,8)Then (select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised='Y') END
              and p.isUncompletedData='N' 
              and p.IsFullQuote='Y'
              and p.IsQuickQuote='N'
              and pt.StatusKey = 5
              and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
              and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
              and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
              AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
              AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END 
              and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
              AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey) 
			  and p.PolicyKey in(select PolicyKey from #TempCompany)
			    and (fl.lostworkqComment <> 'Not Accepted' or fl.lostworkqComment is null or fl.lostworkqComment = '')
       end


	select @TotalCount as totalCount;
end



       DROP TABLE #TempDirect_SubProducedKey
       DROP TABLE #TempAccountKey
	   DROP TABLE  #TempCompany
END









GO
