USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAOPDetailsAfterDeleteACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAOPDetailsAfterDeleteACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAOPDetailsAfterDeleteACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAOPDetailsAfterDeleteACC_p] AS' 
END
GO
--select * from aop
--select * from FinancialPlanningAndIAServiceSupp  
--EXEC UpdateAOPDetailsAfterDeleteACC_p 54733,20 	
ALTER PROCEDURE [dbo].[UpdateAOPDetailsAfterDeleteACC_p]
(
@PolicyKey INT,
@AOPKey INT,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50)
)
	
AS
BEGIN
	DECLARE @PolicyStatusKey INT
	DECLARE @IsControlClientFunds CHAR
	SET @PolicyStatusKey=(SELECT PolicyStatusKey from Policy Where PolicyKey=@PolicyKey)
	UPDATE AreaOfPractice set PercentageValue=null,AOPCommentDesc=null,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AOPKey=@AOPKey and PolicyKey=@PolicyKey
	IF(@AOPKey=19)
	BEGIN 
		DELETE FROM FinancialPlanningAndIAServiceSupp WHERE policykey=@PolicyKey
	
	END
	IF(@AOPKey=14)
	BEGIN 
		DELETE FROM ITServicesSupp WHERE policykey=@PolicyKey
		
	END
	IF(@AOPKey=6)
	BEGIN 
		DELETE FROM AttestationAuditWork WHERE policykey=@PolicyKey
		update Firm set IsAttesationPage='Y', IsPublicTradedAudited=NULL,IsDebtOrEquityFinancing=NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  where PolicyKey=@PolicyKey
		Delete from Attestation where Policykey=@PolicyKey
	END

	If(@AOPKey=18)
	BEGIN
		
			
			SET @IsControlClientFunds=(SELECT TOP 1 IsControlClientFunds FROM FIRM Where PolicyKey=@PolicyKey)
				IF(@IsControlClientFunds is NULL OR @IsControlClientFunds='N')
				BEGIN
					DELETE from FundsControlledSupp where PolicyKey=@PolicyKey
				END
		
	END
	
END


GO
