USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_InvestmentFinancialSupp_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_InvestmentFinancialSupp_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_InvestmentFinancialSupp_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_InvestmentFinancialSupp_ACC] AS' 
END
GO
--exec [UWRules_InvestmentFinancialSupp_ACC] 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_InvestmentFinancialSupp_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@TotalFirmPersonnel INT,@priorYearTotalFirmPersonnel INT,@previousPolicyKey INT,@previousVersionSequence INT
	Declare @IsDiscretionaryAssetMangt CHAR,@IsSecuritiesSales CHAR,@isContractualRelationShip Char,@IsAnyNonPublicInvestments CHAR,@IsAnyReferralFeesInvestments CHAR,@IsAnyFirmAffiliateLicensed CHAR,@IsAnyEmployeeBenefitPlan CHAR 
	
	select @IsDiscretionaryAssetMangt=IsDiscretionaryAssetMangt,@IsSecuritiesSales=IsSecuritiesSales,@isContractualRelationShip=isContractualRelationShip,@IsAnyNonPublicInvestments=IsAnyNonPublicInvestments,
	@IsAnyReferralFeesInvestments=IsAnyReferralFeesInvestments,@IsAnyReferralFeesInvestments=IsAnyReferralFeesInvestments,@IsAnyEmployeeBenefitPlan=IsAnyEmployeeBenefitPlan 
	from FinancialPlanningAndIAServiceSupp where Policykey=@PolicyKey and VersionSequence=@VersionSequence

	--select  @daysDifference
	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='discretionaryInvestmentAuthority_Accountant'
		if(@IsDiscretionaryAssetMangt='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is providing discretionary asset management services.','Review supplement for completeness and determine for how many clients, amounts and the circumstances and under what condiitons and controls.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		
		set @rule_id='financialPlanningServicesSecuritiesSales_Accountant'
		if(@IsSecuritiesSales='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firms providing securities sales are outside the UW appetite of the program. - Decline.','If "Y" Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='doesFirmHaveContractualRelationship_Accountant'
		if(@isContractualRelationShip='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firms with a contractual relationship with a securities broker or dealer.','Determine the type of contractual relationship - Determine if there is a E & O Policy in place. If they have current coverage via their current Professional Liability policy decline to quote.  Are they covered under a broker/dealer E & O policy?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='haveAnyPersonnelRecommendedAnyNonPublicInvestments_Accountant'
		if(@IsAnyNonPublicInvestments='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has recommended non-public investments to clients in which the firm has an ownership interest. Not within the UW appetitie of the program. - Decline.','Firm has recommended non-public investments to clients in which the firm has an ownership interest.  Not within the UW appetitie of the program. - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='haveRecieveCommissionReferralsInvestment_Accountant'
		if(@IsAnyReferralFeesInvestments='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has received commissions, referral fees, reciprocity or other inducements arising from the sale, promotion or recommendation of securities, insurance products, real estate or other investments. - Decline.','Firm hasreceived commissions, referral fees, reciprocity or other inducements arising from the sale, promotion or recommendation of securities, insurance products, real estate or other investments. - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='firmLicensedLifeHealthAccidentDisabilityInsuranceAgentBroker_Accountant'
		if(@IsAnyReferralFeesInvestments='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm provides services as a life/health/accident/disability insurance agent or broker.','Firm provides services as a life/health/accident/disability insurance agent or broker. Advise and document to the firm that these services are not currrently covered by the policy.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='FirmPersonnelDiscretionaryAuthorityToInvest_Accountant'
		if(@IsAnyEmployeeBenefitPlan='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has discretionary authority to invest for an employee benefit plan. Not within the UW appetite of the program - Decline.','Firm has discretionary authority to invest for an employee benefit plan. Not within the UW appetite of the program - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
END

	IF(@PolicyStatusKey=2)
	BEGIN
		--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		--Select @priorYearTotalFirmPersonnel=TotalFirmPersonnel from Firm where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		
		print 'Renewal Flow'

		set @rule_id='discretionaryAssetManagementServicesRenew_Accountant'
		if(@IsDiscretionaryAssetMangt='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is providing discretionary asset management services.','Review supplement for completeness and determine for how many clients, amounts and the circumstances and under what condiitons and controls.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		
		set @rule_id='securitiesSalesRenew_Accountant'
		if(@IsSecuritiesSales='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firms providing securities sales are outside the UW appetite of the program. - Decline.','If "Y" Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='doesFirmContractualRelationshipWithSecuritiesbrokerDealerRenew_Accountant'
		if(@isContractualRelationShip='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firms with a contractual relationship with a securities broker or dealer.','Determine the type of contractual relationship - Determine if there is a E & O Policy in place. If they have current coverage via their current Professional Liability policy decline to quote. Are they covered under a broker/dealer E & O policy?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='haveAnyPersonnelRecommendedNonPublicInvestmentsToClientsRenew_Accountant'
		if(@IsAnyNonPublicInvestments='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has recommended non-public investments to clients in which the firm has an ownership interest. Not within the UW appetitie of the program. - Decline.','Firm has recommended non-public investments to clients in which the firm has an ownership interest.  Not within the UW appetitie of the program. - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='haveRecieveCommissionReferralsInvestment_Accountant'
		if(@IsAnyReferralFeesInvestments='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has received commissions, referral fees, reciprocity or other inducements arising from the sale, promotion or recommendation of securities, insurance products, real estate or other investments. - Decline.','Firm has received commissions, referral fees, reciprocity or other inducements arising from the sale, promotion or recommendation of securities, insurance products, real estate or other investments? Outside of our UW authority.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='firmLicensedLifeHealthAccidentDisabilityInsuranceAgentBrokerRenew_Accountant'
		if(@IsAnyReferralFeesInvestments='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm provides services as a life/health/accident/disability insurance agent or broker.','Firm provides services as a life/health/accident/disability insurance agent or broker. Advise and document to the firm that these services are not currrently covered by the policy.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='doesFirmPersonnelDiscretionaryAuthorityInvestForEmployeeBenefitPlanRenew_Accountant'
		if(@IsAnyEmployeeBenefitPlan='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has discretionary authority to invest for an employee benefit plan. Not within the UW appetite of the program - Decline.','Firm has discretionary authority to invest for an employee benefit plan. Not within the UW appetite of the program - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END





GO
