USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertClaimsSummaryLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertClaimsSummaryLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertClaimsSummaryLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertClaimsSummaryLW_p] AS' 
END
GO
-- exec InsertClaimsSummaryLW_p '<Root><Root1><ClaimNumber>1058.0</ClaimNumber><DtPolicyEffective>11-Jan-2022</DtPolicyEffective><DtPolicyExpiration>11-Jan-2023</DtPolicyExpiration><Description>PERSONAL INJURY LAW</Description><PolicyNumber>ALA-04-00</PolicyNumber><DtDOL>18-Dec-2022</DtDOL><InsdName>Steele Law </InsdName><DtReported>06-Jan-2023</DtReported><TotalPaidLossOcc>29900.0</TotalPaidLossOcc><TotalClaimAmount>45855.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>GA</RiskState><ExpPaidOcc>15955.0</ExpPaidOcc><DtClaimClosed>12-Jan-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc></Root1></Root>', 3, '2024-02-15 20:23:16.468'
ALTER PROCEDURE [dbo].[InsertClaimsSummaryLW_p]
(
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN

	Create Table #ClaimsSummaryLW (
		ClaimsSummaryLWKey int IDENTITY(1,1) PRIMARY KEY,
		ClaimFileStatusOcc VARCHAR(150),
		InsdName VARCHAR(150),
		CompanyCode VARCHAR(150),
		RiskState VARCHAR(150),
		DtPolicyEffective VARCHAR(150),
		DtPolicyExpiration VARCHAR(150),
		ClaimNumber VARCHAR(150),
		PolicyNumber VARCHAR(150),
		DtDOL VARCHAR(150),
		DtReported VARCHAR(150),
		DtClaimClosed VARCHAR(150),
		OutstandingReserveOcc NUMERIC(17,2),
		TotalPaidLossOcc NUMERIC(17,2),
		ExpPaidOcc NUMERIC(17,2),
		ExpReserveOcc NUMERIC(17,2),
		TotalClaimAmount NUMERIC(17,2),
		ClaimDesc VARCHAR(500)
	)

	Create Table #ProfLiabClaimAgnstFirmLWTemp (
		ROWNUMBER int,
		PolicyKey int,
		VersionSequence int,
		VersionKey int,
		CurrentStatus VARCHAR(150),
		NameOfClaimant VARCHAR(150),
		CompanyCode VARCHAR(150),
		ClaimNumber VARCHAR(150),
		DateOfAllegedError VARCHAR(150),
		DateReportedToInsComp VARCHAR(150),
		ClaimClosingDate VARCHAR(150),
		InsurerLossReserveCi NUMERIC(17,2),
		InsurerLoss NUMERIC(17,2),
		ExpensePaid NUMERIC(17,2),
		ExpenseReserve NUMERIC(17,2),
		TotalAmountPaid NUMERIC(17,2),
		TotalIncurred NUMERIC(17,2),
		--Signal VARCHAR(150),
		LastUpdateUserID int ,
		LastUpdateTimeStamp VARCHAR(150),
		ClaimDesc VARCHAR(500),
		PolicyStatusKey INT,
		AccountID INT,
		isAllowedInsertUpdate CHAR default 'Y'
	)
	

	INSERT INTO #ClaimsSummaryLW(ClaimFileStatusOcc,InsdName,CompanyCode,RiskState,DtPolicyEffective,DtPolicyExpiration,ClaimNumber,PolicyNumber,
	DtDOL,DtReported,DtClaimClosed,OutstandingReserveOcc,TotalPaidLossOcc,ExpPaidOcc,ExpReserveOcc,TotalClaimAmount,ClaimDesc)
	SELECT
			doc.col.value('ClaimFileStatusOcc[1]', 'VARCHAR(150)') ClaimFileStatusOcc,
			doc.col.value('InsdName[1]', 'VARCHAR(150)') InsdName, 
			doc.col.value('CompanyCode[1]', 'VARCHAR(150)') CompanyCode, 
			doc.col.value('RiskState[1]', 'VARCHAR(150)') RiskState, 
			doc.col.value('DtPolicyEffective[1]', 'VARCHAR(150)') DtPolicyEffective, 
			doc.col.value('DtPolicyExpiration[1]', 'VARCHAR(150)') DtPolicyExpiration,
			doc.col.value('ClaimNumber[1]', 'VARCHAR(150)') ClaimNumber,
			doc.col.value('PolicyNumber[1]', 'VARCHAR(150)') PolicyNumber,
			doc.col.value('DtDOL[1]', 'VARCHAR(150)') DtDOL,
			doc.col.value('DtReported[1]', 'VARCHAR(150)') DtReported,
			doc.col.value('DtClaimClosed[1]', 'VARCHAR(150)') DtClaimClosed,
			doc.col.value('OutstandingReserveOcc[1]', 'NUMERIC(10,2)') OutstandingReserveOcc,
			doc.col.value('TotalPaidLossOcc[1]', 'NUMERIC(10,2)') TotalPaidLossOcc,
			doc.col.value('ExpPaidOcc[1]', 'NUMERIC(10,2)') ExpPaidOcc,
			doc.col.value('ExpReserveOcc[1]', 'NUMERIC(10,2)') ExpReserveOcc,
			doc.col.value('TotalClaimAmount[1]', 'NUMERIC(10,2)') TotalClaimAmount,
			doc.col.value('Description[1]', 'VARCHAR(500)') Description
	FROM @xml.nodes('/Root/Root1') doc(col)
		
	--Select * from #ClaimsSummaryLW
	
	
	INSERT INTO #ProfLiabClaimAgnstFirmLWTemp (ROWNUMBER, PolicyKey, VersionSequence, VersionKey, CurrentStatus,NameOfClaimant,CompanyCode,ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
	ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,/*Signal,*/LastUpdateUserID,LastUpdateTimeStamp,ClaimDesc)
	SELECT /*ROW_NUMBER() OVER(ORDER BY PolicyKey DESC) AS*/ ROWNUMBER, PolicyKey, VersionSequence, VersionKey, ClaimFileStatusOcc, 
	InsdName,CompanyCode, ClaimNumber, DtDOL, DtReported, DtClaimClosed, OutstandingReserveOcc, TotalPaidLossOcc, 
	ExpPaidOcc, ExpReserveOcc,(TotalPaidLossOcc+ExpPaidOcc), TotalClaimAmount,/*Signal,*/LastUpdateUserID, LastUpdateTimeStamp,ClaimDesc FROM (
	SELECT /*ROW_NUMBER() OVER(PARTITION BY cs.PolicyNumber, cs.ClaimNumber ORDER BY cs.TotalClaimAmount DESC),*/
	cs.ClaimsSummaryLWKey as ROWNUMBER, p.PolicyKey, fl.VersionSequence,  p.VersionKey,
			CASE WHEN (ClaimFileStatusOcc = 'C') THEN 'closed' 
				WHEN (ClaimFileStatusOcc = 'O') THEN 'opened' 
				WHEN (ClaimFileStatusOcc = 'R') THEN 'reopen'
				WHEN (ClaimFileStatusOcc = 'P') THEN 'potential' 
				ELSE ClaimFileStatusOcc END as ClaimFileStatusOcc, 
	InsdName,CompanyCode, ClaimNumber, DtDOL, DtReported, DtClaimClosed, OutstandingReserveOcc, TotalPaidLossOcc, ExpPaidOcc, ExpReserveOcc, TotalClaimAmount, 
			/*CASE WHEN (TotalClaimAmount = 101) THEN TotalClaimAmount 
				WHEN (TotalClaimAmount = 111) THEN TotalClaimAmount 
				WHEN (TotalClaimAmount = 10) THEN TotalClaimAmount 
				ELSE TotalClaimAmount END as TotalClaimAmount, 
			CASE WHEN (OutstandingReserveOcc = 101) THEN 'Denial' 
				WHEN (OutstandingReserveOcc = 111) THEN 'Extension' 
				WHEN (OutstandingReserveOcc = 10) THEN 'Potential' 
				ELSE '' END as Signal, */
	@LastUpdateUserID as LastUpdateUserID, @LastUpdateTimeStamp as LastUpdateTimeStamp,ClaimDesc
	FROM #ClaimsSummaryLW cs, Policy p, Firmlw fl
	where cs.PolicyNumber = CASE WHEN (CompanyCode = 'CNF') THEN REPLACE(SUBSTRING(p.PolicyNumber, 1, 10), '-', '') 
								WHEN (CompanyCode = 'ISMIE') THEN p.PolicyNumber 
								ELSE p.PolicyNumber END
	and p.PolicyNumber is not null and p.PolicyNumber <> '' and p.MarketableProductKey = 2 
	and p.PolicyKey = fl.PolicyKey) b /*WHERE b.ROWNUMBER = 1*/ ORDER BY b.ROWNUMBER
	
	--INSERT INTO ProfLiabClaimAgnstFirmLW (PolicyKey,VersionSequence, CurrentStatus,NameOfClaimant,ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
	--ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,LastUpdateUserID,LastUpdateTimeStamp)
	--SELECT PolicyKey,VersionSequence, CurrentStatus,NameOfClaimant,ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
	--ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,LastUpdateUserID,LastUpdateTimeStamp
	--FROM #ProfLiabClaimAgnstFirmLWTemp
	
	
	--update t
	--set PolicyStatusKEy=p.PolicyStatusKEy,AccountID=p.AccountID from #ProfLiabClaimAgnstFirmLWTemp t
	-- inner join Policy p on t.PolicyKey=p.PolicyKey

	-- DECLARE @PolicyKeyTemp INT,@ClaimNumberTemp  VARCHAR(500),@PolicyStatusKeyTemp INT,@AccountIDTemp INT

	--	Declare c1 cursor for select plc.PolicyKey,plc.ClaimNumber,p.PolicyStatusKey,p.AccountID FROM #ProfLiabClaimAgnstFirmLWTemp plc inner join Policy p on p.PolicyKey=plc.PolicyKey where p.PolicyStatusKey=2
	--	 OPEN c1
 --      FETCH NEXT FROM c1 into @PolicyKeyTemp,@ClaimNumberTemp,@PolicyStatusKeyTemp,@AccountIDTemp
 --      WHILE @@FETCH_STATUS = 0
 --             begin
              
	--		  if EXISTS(SELECT * FROM ProfLiabClaimAgnstFirmLW WHERE PolicyKey in( select PolicyKey from Policy where AccountID=@AccountIDTemp and PolicyKey<@PolicyKeyTemp ) and NameOfClaimant in ('C & F','(C & F)'))
	--		  BEGIN
	--				update #ProfLiabClaimAgnstFirmLWTemp set isAllowedInsertUpdate='N' where Policykey=@PolicyKeyTemp
	--		  END
 --             FETCH NEXT FROM c1 into @PolicyKeyTemp,@ClaimNumberTemp,@PolicyStatusKeyTemp,@AccountIDTemp                    
 --             end
 --             CLOSE c1
 --             DEALLOCATE c1

	-- select * FROM #ProfLiabClaimAgnstFirmLWTemp --where isAllowedInsertUpdate<>'N'
	DECLARE @COUNTER INT = (SELECT COUNT(ROWNUMBER) FROM #ProfLiabClaimAgnstFirmLWTemp);
	DECLARE @ROW INT = 1;
	DECLARE @NotExist Char(1) ='N';
	Declare @ClaimNumber Varchar(50) = null;
	DEclare @CurrentStatus Varchar(50) = null,@ClaimDescription VARCHAR(500)
	DEclare @ClaimClosingDate Varchar(50) = null;
	DEclare @InsurerLossReserveCi NUMERIC(17,2);
	DEclare @InsurerLossReserveCiExisting NUMERIC(17,2);
	DEclare @InsurerLoss NUMERIC(17,2);
	DEclare @ExpensePaid NUMERIC(17,2);
	DEclare @ExpenseReserve NUMERIC(17,2);
	DEclare @TotalAmountPaid NUMERIC(17,2);
	DEclare @TotalIncurred Varchar(50) = null
	Declare @PolicyKey int = null 
	Declare @isAllowedInsertUpdate CHAR
	Declare @LastUpdateUserIDci INT
	Declare @LastUpdateTimeStampci VARCHAR(50)

	WHILE (@ROW <= @COUNTER)
	BEGIN	
		SELECT @ROW = ROWNUMBER, @PolicyKey=PolicyKey, @ClaimNumber=ClaimNumber, @CurrentStatus=CurrentStatus, @ClaimClosingDate=ClaimClosingDate, 
		@InsurerLossReserveCi=InsurerLossReserveCi, @InsurerLoss=InsurerLoss, @ExpensePaid=ExpensePaid, @ExpenseReserve=ExpenseReserve, @TotalAmountPaid=TotalAmountPaid, 
		@TotalIncurred=TotalIncurred,@ClaimDescription=ClaimDesc,@isAllowedInsertUpdate='Y',@LastUpdateUserIDci=LastUpdateUserID,
		@LastUpdateTimeStampci=LastUpdateTimeStamp FROM #ProfLiabClaimAgnstFirmLWTemp WHERE ROWNUMBER = @ROW ORDER BY ROWNUMBER
		--select @isAllowedInsertUpdate as isAllowedInsertUpdate
		IF(@isAllowedInsertUpdate<>'N')
		BEGIN
					if not exists (select 1 from ProfLiabClaimAgnstFirmLW  where ClaimNumber=@ClaimNumber)
					BEGIN
						Print 'Hi'
						SET @NotExist = 'Y'
						INSERT INTO ProfLiabClaimAgnstFirmLW (PolicyKey,VersionSequence, VersionKey, CurrentStatus,NameOfClaimant,ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
						ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,/*Signal,*/LastUpdateUserID,LastUpdateTimeStamp,DescOfClaim,CreatedDate,CreatedBy)
						SELECT PolicyKey,VersionSequence, VersionKey, CurrentStatus,NameOfClaimant + 
							CASE WHEN (CompanyCode = 'CNF') THEN '  (C & F)'
							WHEN (CompanyCode = 'ISMIE') THEN '  (ISMIE)'
							WHEN (CompanyCode = 'HNV') THEN '  (Hanover)'
							ELSE '  (Protexure)' END as CompanyCode,
						ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
						ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,/*Signal,*/LastUpdateUserID,LastUpdateTimeStamp,ClaimDesc,GETDATE(),LastUpdateUserID
						FROM #ProfLiabClaimAgnstFirmLWTemp where ClaimNumber=@ClaimNumber AND ROWNUMBER = @ROW
					end

					if exists (select 1 from ProfLiabClaimAgnstFirmLW  where ClaimNumber=@ClaimNumber /*and CurrentStatus != @CurrentStatus*/ and LastUpdateTimeStamp = (SELECT MAX(LastUpdateTimeStamp) from ProfLiabClaimAgnstFirmLW  where ClaimNumber=@ClaimNumber))
					BEGIN
						Print 'Bye'
						if(@NotExist = 'N')
						BEGIN
							Print 'Bye1'	
							--INSERT INTO ProfLiabClaimAgnstFirmLW (PolicyKey,VersionSequence, CurrentStatus,NameOfClaimant,ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
							--ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,Signal,LastUpdateUserID,LastUpdateTimeStamp)
							--SELECT PolicyKey,VersionSequence, CurrentStatus,NameOfClaimant + '  (C & F)',ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
							--ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,Signal,LastUpdateUserID,LastUpdateTimeStamp
							--FROM #ProfLiabClaimAgnstFirmLWTemp where ClaimNumber=@ClaimNumber

							select @InsurerLossReserveCiExisting = InsurerLossReserveCi from ProfLiabClaimAgnstFirmLW  where ClaimNumber=@ClaimNumber

							if ((@InsurerLossReserveCiExisting = 111 or @InsurerLossReserveCiExisting = 101 or @InsurerLossReserveCiExisting = 10) 
							and (@InsurerLossReserveCi != 111 and @InsurerLossReserveCi != 101 and @InsurerLossReserveCi != 10))
							BEGIN
								Set @InsurerLossReserveCi = @InsurerLossReserveCiExisting;
							END
				
							UPDATE ProfLiabClaimAgnstFirmLW SET CurrentStatus = @CurrentStatus, ClaimClosingDate = @ClaimClosingDate, InsurerLossReserveCi=@InsurerLossReserveCi, 
							InsurerLoss=@InsurerLoss, ExpensePaid=@ExpensePaid, ExpenseReserve=@ExpenseReserve, TotalAmountPaid=@TotalAmountPaid, 
							TotalIncurred = @TotalIncurred,DescOfClaim=@ClaimDescription,
							LastUpdateUserID = @LastUpdateUserIDci, LastUpdateTimeStamp = @LastUpdateTimeStampci WHERE ClaimNumber=@ClaimNumber --AND PolicyKey=@PolicyKey 
						End			
					End

					UPDATE ProfLiabClaimAgnstFirmLW SET Signal = CASE WHEN (InsurerLossReserveCi = 101) THEN 'Denial' WHEN (InsurerLossReserveCi = 111) THEN 'Extension' 
					WHEN (InsurerLossReserveCi = 10) THEN 'Potential' END WHERE ClaimNumber=@ClaimNumber  
					and InsurerLossReserveCi = CASE WHEN (InsurerLossReserveCi = 101) THEN 101 WHEN (InsurerLossReserveCi = 111) THEN 111 
					WHEN (InsurerLossReserveCi = 10) THEN 10 END --and (Signal is null or Signal = '')
		END
		-- SET your counter to -1
		SET @ROW = @ROW + 1
		SET @NotExist = 'N'
		SET @PolicyKey = null
		SET @ClaimNumber = null

	END

	Drop Table #ClaimsSummaryLW
	Drop Table #ProfLiabClaimAgnstFirmLWTemp
END






GO
