USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_creationdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[weeklyreport_creationdate]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_creationdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[weeklyreport_creationdate] AS' 
END
GO



ALTER PROCEDURE [dbo].[weeklyreport_creationdate] 
	@WeekFromDate varchar(10) , 
	@WeekToDate varchar(10) ,
	@FirstReviewUserID varchar(100),
	@WeekMarketableProductKey varchar(100),	
	@ProjectType varchar(5), 
	@TTotal int out,
    @NewTotal int out

 AS BEGIN

declare @allpolicy int
declare @underreview int
declare @declined int
declare @issued int
declare @rejected int
declare @issuedwithpremium int
declare @totalpremiumfromissued numeric(15,0)
declare @accepted int
declare @quoted int
declare @newqq int
declare @newfq int
declare @totalapps int
declare @monthofappcrtdate varchar(10)

declare @MinCreatedMonth int
declare @MaxCreatedMonth int
declare @MinCreatedYear int
declare @MaxCreatedYear int
declare @From_Date datetime 
declare	@To_Date datetime

CREATE TABLE #TempPolicyList (
	[CreatedMonth] [int],	
	[AllPolicy] [int]	,
    [UnderReview] [int] ,
    [Declined] [int] ,
    [Issued] [int] ,
    [Rejected] [int] ,
    [IssuedWithPremium] [int] ,
    [TotalPremiumFromIssued] [Numeric](15,0),
    [Accepted] [int] ,
    [Quoted] [int] ,
    [NewQQ] [int] ,
    [NewFQ] [int] ,
    [CreatedYear] [int],
    [TotalApps] [int],
	[MonthofAppcrtDate] varchar(10)
		 
) 

set @TTotal=0
set @NewTotal=0
set @From_Date = CAST(@WeekFromDate as datetime)
set @To_Date =CAST(@WeekToDate as datetime)
set @monthofappcrtdate = ''

if(@ProjectType = 'Lwy')
	set @WeekMarketableProductKey = 2

if(@ProjectType = 'Acc')
	Begin
		if(@FirstReviewUserID <> '')
		begin		
			while @From_Date <= @To_Date
				begin				
					select @MinCreatedMonth =  DATEPART (MONTH,@From_Date)
					select @MinCreatedYear =  DATEPART (YEAR,@From_Date)
					
					set @monthofappcrtdate = ''
					select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (2) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (4) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (5) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issuedwithpremium = count(*), @totalpremiumfromissued = sum(pt.TotalPremium) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (7) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (3) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsQuickQuote = 'Y' and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsFullQuote = 'Y' and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					
					select @totalapps =(@underreview+@declined+@issued+@rejected+@accepted+@quoted+@newfq)
		
					set @TTotal= @TTotal+@totalapps				
					set @NewTotal= @NewTotal+@newqq			
		
					select @monthofappcrtdate = REPLACE(RIGHT(CONVERT(VARCHAR(11), AppCreatedDate, 106), 8), ' ', ', ') from Policy where DATEPART (MONTH,AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,AppCreatedDate) = @MinCreatedYear and isUncompletedData = 'N' and MarketableProductKey = @WeekMarketableProductKey
						
					if(@monthofappcrtdate != ' ')
					begin
						insert into #TempPolicyList(CreatedMonth,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,CreatedYear,TotalApps,MonthofAppcrtDate) values(@MinCreatedMonth,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremiumfromissued,@accepted,@quoted,@newqq,@newfq,@MinCreatedYear,@totalapps,@monthofappcrtdate)
					end
					select @From_Date = DATEADD(month,1,@From_Date)	
						
				end
		end

	End

if(@ProjectType = 'Lwy')
	Begin
		if(@FirstReviewUserID <> '')
		begin		
			while @From_Date <= @To_Date
				begin				
					select @MinCreatedMonth =  DATEPART (MONTH,@From_Date)
					select @MinCreatedYear =  DATEPART (YEAR,@From_Date)
					
					set @monthofappcrtdate = ''
					select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (2) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (4) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (5) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issuedwithpremium = count(*), @totalpremiumfromissued = sum(pt.TotalPremium) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (7) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (3) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsQuickQuote = 'Y' and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsFullQuote = 'Y' and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					
					select @totalapps =(@underreview+@declined+@issued+@rejected+@accepted+@quoted+@newfq)
		
					set @TTotal= @TTotal+@totalapps				
					set @NewTotal= @NewTotal+@newqq			
		
					select @monthofappcrtdate = REPLACE(RIGHT(CONVERT(VARCHAR(11), AppCreatedDate, 106), 8), ' ', ', ') from Policy where DATEPART (MONTH,AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,AppCreatedDate) = @MinCreatedYear and isUncompletedData = 'N' and MarketableProductKey = @WeekMarketableProductKey
						
					if(@monthofappcrtdate != ' ')
					begin
						insert into #TempPolicyList(CreatedMonth,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,CreatedYear,TotalApps,MonthofAppcrtDate) values(@MinCreatedMonth,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremiumfromissued,@accepted,@quoted,@newqq,@newfq,@MinCreatedYear,@totalapps,@monthofappcrtdate)
					end
					select @From_Date = DATEADD(month,1,@From_Date)	
						
				end
		end

	End
	

if(@FirstReviewUserID = '' or @FirstReviewUserID is null)
	begin	
		while @From_Date <= @To_Date
			begin				
				select @MinCreatedMonth =  DATEPART (MONTH,@From_Date)
				select @MinCreatedYear =  DATEPART (YEAR,@From_Date)
				set @monthofappcrtdate = ''
				
				select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (2)
				select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (4)
				select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6)
				select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (5)
				select @issuedwithpremium = count(*), @totalpremiumfromissued = sum(pt.TotalPremium) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6)
				select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (7)
				select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (3)
				select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsQuickQuote = 'Y' and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1)
				select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsFullQuote = 'Y' and DATEPART (MONTH,p.AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,p.AppCreatedDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1)
				
				select @totalapps =(@underreview+@declined+@issued+@rejected+@accepted+@quoted+@newfq)
	
				set @TTotal= @TTotal+@totalapps				
				set @NewTotal= @NewTotal+@newqq			
				
				select @monthofappcrtdate = REPLACE(RIGHT(CONVERT(VARCHAR(11), AppCreatedDate, 106), 8), ' ', ', ') from Policy where DATEPART (MONTH,AppCreatedDate) = @MinCreatedMonth and DATEPART (YEAR,AppCreatedDate) = @MinCreatedYear and isUncompletedData = 'N' and MarketableProductKey = @WeekMarketableProductKey
				
				if(@monthofappcrtdate != ' ')
				begin
					insert into #TempPolicyList(CreatedMonth,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,CreatedYear,TotalApps,MonthofAppcrtDate) values(@MinCreatedMonth,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremiumfromissued,@accepted,@quoted,@newqq,@newfq,@MinCreatedYear,@totalapps,@monthofappcrtdate)
				end
				select @From_Date = DATEADD(month,1,@From_Date)	
						
			end			
	end

select * from #TempPolicyList
drop table #TempPolicyList

END
GO
