USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllemailsTemplatesData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchAllemailsTemplatesData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllemailsTemplatesData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchAllemailsTemplatesData] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FetchAllemailsTemplatesData]
	
AS
BEGIN
	

	select EmailTemplateID,TemplateName,TemplateCode,TemplateStatus,EmailType,TemplateCategory,
	CASE 
	WHEN AppType = 2 THEN 'Lawyers'
    WHEN AppType = 1 THEN 'Accountant'
    ELSE ''
	END as AppType,TemplateDescription,RecordType,LastUpdateTimeStamp,LastUpdateUserID,
	cast((select CONVERT(varchar(200), isnull(en.event_name,'')) + ',  '  from EMAIL_NOTIFICATIONS_NEW en 
where en.email_template=et.TemplateCode and en.IsCyber='Y' FOR XML PATH (''))as varchar(8000))  as dependency 
from Email_Templates et order by TemplateName asc
END




GO
