USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetQuoteListACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetQuoteListACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetQuoteListACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetQuoteListACC_p] AS' 
END
GO
--exec GetQuoteListACC_p 140900, 'Agent'
--select * from Policytransaction where policykey=120538 and transactionsequence=192795
ALTER PROCEDURE [dbo].[GetQuoteListACC_p]
(
@PolicyKey INT,
@User VARCHAR(100)
)

AS
BEGIN

DECLARE @endorsementCount INT,@InitialFinalizedTransactionSequence int,@TransactionTypeKey INT

SET @TransactionTypeKey=(select top 1 TransactionTypeKey from PolicyTransaction where PolicyKey=@PolicyKey)
SET @endorsementCount=(SELECT CASE WHEN count(TransactionTypeKey) is NOT NULL THEN count(TransactionTypeKey) else 0 END  AS endorsementCount FROM PolicyTransaction WHERE policykey=@PolicyKey and TransactionTypeKey>5)

update Policytransaction set TransactionTypeKey=@TransactionTypeKey where Policykey=@PolicyKey and TransactionTypeKey is null
--select @endorsementCount

CREATE TABLE #Temp1
(
DeductibleSequence					INT,
LimitSequence						INT,
DeductibleAmount					VARCHAR(100),
LimitAmount							VARCHAR(100),
CoverageSequence					INT,
TotalPremium						VARCHAR(100),
TotalPremiumFirstRange				VARCHAR(100),
TotalPolicyModifierPercentage		INT,
TotalPolicyTaxAmount				VARCHAR(100),
InvoicedPremium						VARCHAR(100),
ManualPremium						VARCHAR(10),
TransactionSequence					INT,
SOISequence							INT,
CoverageKey							INT,
AggregateDeductible					INT,
OccuranceDeductible					INT,
PolicyKey							INT,
MarketableProductKey				INT,
IsClaimExpensesType					VARCHAR(100),
ClaimExpensesTypeText				VARCHAR(100),
IsClaimOptionType					VARCHAR(100),
IsDollarDefenseText					VARCHAR(100),
IsDollarDefense						VARCHAR(10),
IsThisOptionFinalised				VARCHAR(10),
IsQuoteSelected						VARCHAR(10),
IsFirstQuote						VARCHAR(10),
RatingTraceSequence					INT,
IsTaxCalculation					varchar(10),
IsMinimumPremium					varchar(10),
TransactionTypeDesc					VARCHAR(100),
isShowQuote							CHAR
)

CREATE TABLE #Temp2
(
DeductibleSequence					INT,
LimitSequence						INT,
DeductibleAmount					VARCHAR(100),
LimitAmount							VARCHAR(100),
CoverageSequence					INT,
TotalPremium						VARCHAR(100),
TotalPremiumFirstRange				VARCHAR(100),
TotalPolicyModifierPercentage		INT,
TotalPolicyTaxAmount				VARCHAR(100),
InvoicedPremium						VARCHAR(100),
ManualPremium						VARCHAR(10),
TransactionSequence					INT,
SOISequence							INT,
CoverageKey							INT,
AggregateDeductible					INT,
OccuranceDeductible					INT,
PolicyKey							INT,
MarketableProductKey				INT,
IsClaimExpensesType					VARCHAR(100),
ClaimExpensesTypeText				VARCHAR(100),
IsClaimOptionType					VARCHAR(100),
IsDollarDefenseText					VARCHAR(100),
IsDollarDefense						VARCHAR(10),
IsThisOptionFinalised				VARCHAR(10),
IsQuoteSelected						VARCHAR(10),
IsFirstQuote						VARCHAR(10),
RatingTraceSequence					INT,
IsTaxCalculation					varchar(10),
IsMinimumPremium					varchar(10),
TransactionTypeDesc					VARCHAR(100),
EndorsementEffectiveDate			DATETIME,
EndorsementIssuedDate				DATETIME,
isShowQuote							CHAR
)
IF(@endorsementCount>0)
	BEGIN 
		print 'quote With endorsements'
		SET @InitialFinalizedTransactionSequence=(select top 1 PreviousFinalizedTransactionSequence from endorsementdetails where policykey=@PolicyKey order by EndorsementKey)
		--select @InitialFinalizedTransactionSequence as InitialFinalizedTransactionSequence
		IF(@User='Agent')
			BEGIN
			

			
			INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,SOISequence
			,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsDollarDefense,IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,
			RatingTraceSequence,IsTaxCalculation,IsMinimumPremium,TransactionTypeDesc,isShowQuote)
				select d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) as DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) as LimitAmount, pc.CoverageSequence,
				 dbo.getAmountFormat(pt.TotalPremium) as TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) as TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
				 dbo.getAmountFormat(pt.TotalPolicyTaxAmount) as TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) as InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) as ManualPremium, pc.TransactionSequence, pc.SOISequence, pc.CoverageKey,
				  pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimExpensesType,
				   (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesTypeText,(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) as IsClaimOptionType, 
				   (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) as IsDollarDefenseText, pc.IsDollarDefense as IsDollarDefense, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,null,q.IsMinimumPremium ,tt.TransactionTypeDesc, q.isShowQuote 
				   from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt ,TransactionType tt
				   where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
				   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and tt.TransactionTypeKey=pt.TransactionTypeKey
				   and pc.TransactionSequence=rt.TransactionSequence and q.IsQuoteSelected='Y' and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y'   and pt.TransactionTypeKey<5
			
			
			
			INSERT INTO #Temp2(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,SOISequence
			,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsDollarDefense,IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,
			RatingTraceSequence,IsTaxCalculation,IsMinimumPremium,TransactionTypeDesc,EndorsementEffectiveDate,EndorsementIssuedDate,isShowQuote)
				
				select d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) as DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) as LimitAmount, pc.CoverageSequence,
				 dbo.getAmountFormat(ed.PremiumVariation) AS TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) as TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
				 dbo.getAmountFormat(ed.TaxVariation) AS TotalPolicyTaxAmount, dbo.getAmountFormat(ed.PremiumVariation+ed.TaxVariation) AS InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) as ManualPremium, pc.TransactionSequence, pc.SOISequence, pc.CoverageKey,
				  pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimExpensesType,
				   (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesTypeText,(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) as IsClaimOptionType, 
				   (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) as IsDollarDefenseText, pc.IsDollarDefense as IsDollarDefense, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,null,q.IsMinimumPremium ,
				   tt.TransactionTypeDesc,ed.EndorsementEffectiveDate,ed.EndorsementIssuedDate, q.isShowQuote
				   from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt ,TransactionType tt,EndorsementDetails ed
				   where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
				   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence 
				   and pc.PolicyKey=rt.PolicyKey and tt.TransactionTypeKey=pt.TransactionTypeKey and ed.Policykey=pt.Policykey and ed.TransactionSequence=pt.TransactionSequence
				   and pc.TransactionSequence=rt.TransactionSequence and q.IsQuoteSelected='Y' and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y'   and pt.TransactionTypeKey>5
			
			END

		IF(@User='insured')
			BEGIN
			
					INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsDollarDefense,IsThisOptionFinalised,IsQuoteSelected,
					IsFirstQuote,RatingTraceSequence,IsTaxCalculation,IsMinimumPremium,TransactionTypeDesc,isShowQuote)
					select d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) as DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) as LimitAmount, pc.CoverageSequence, 
					dbo.getAmountFormat(pt.TotalPremium) as TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) as TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
					 dbo.getAmountFormat(pt.TotalPolicyTaxAmount) as TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) as InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) as ManualPremium, pc.TransactionSequence,
					  pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimExpensesType,
					   (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesTypeText,(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) as IsClaimOptionType,
					    (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) as IsDollarDefenseText, pc.IsDollarDefense as IsDollarDefense, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,null,q.IsMinimumPremium,tt.TransactionTypeDesc, q.isShowQuote 
						from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt 
						where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey 
					and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and q.IsQuoteSelected='Y' and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y'  and pt.TransactionTypeKey<5 and tt.TransactionTypeKey=pt.TransactionTypeKey
			END

				update #Temp1 set IsThisOptionFinalised='Y' where TransactionSequence=@InitialFinalizedTransactionSequence
	END


IF(@endorsementCount=0)
	BEGIN 
		print 'quote WithOUT endorsements'

		
		
		IF(@User='Agent')
			BEGIN
			

			
			INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,SOISequence
			,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsDollarDefense,IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,
			RatingTraceSequence,IsTaxCalculation,IsMinimumPremium,TransactionTypeDesc,isShowQuote)
				select d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) as DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) as LimitAmount, pc.CoverageSequence,
				 dbo.getAmountFormat(pt.TotalPremium) as TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) as TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage, 
				 dbo.getAmountFormat(pt.TotalPolicyTaxAmount) as TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) as InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) as ManualPremium, pc.TransactionSequence, pc.SOISequence, pc.CoverageKey,
				  pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimExpensesType,
				   (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesTypeText,(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) as IsClaimOptionType, 
				   (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) as IsDollarDefenseText, pc.IsDollarDefense as IsDollarDefense, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,null,q.IsMinimumPremium ,tt.TransactionTypeDesc, q.isShowQuote 
				   from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt ,TransactionType tt
				   where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
				   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and tt.TransactionTypeKey=pt.TransactionTypeKey
				   and pc.TransactionSequence=rt.TransactionSequence and q.IsQuoteSelected='Y' and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y'   and pt.TransactionTypeKey<=5
			
				
			END

		IF(@User='insured')
			BEGIN
			
					INSERT INTO #Temp1(DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,
					SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsDollarDefense,IsThisOptionFinalised,IsQuoteSelected,
					IsFirstQuote,RatingTraceSequence,IsTaxCalculation,IsMinimumPremium,TransactionTypeDesc,isShowQuote)
					select d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) as DeductibleAmount, dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) as LimitAmount, pc.CoverageSequence, 
					dbo.getAmountFormat(pt.TotalPremium) as TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) as TotalPremiumFirstRange, pt.TotalPolicyModifierPercentage,
					 dbo.getAmountFormat(pt.TotalPolicyTaxAmount) as TotalPolicyTaxAmount, dbo.getAmountFormat(pt.InvoicedPremium) as InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) as ManualPremium, pc.TransactionSequence,
					  pc.SOISequence, pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimExpensesType,
					   (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesTypeText,(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'Each Claim' END) as IsClaimOptionType,
					    (CASE pc.IsDollarDefense WHEN 'Y' THEN 'Manual' ELSE 'Auto' END) as IsDollarDefenseText, pc.IsDollarDefense as IsDollarDefense, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote, rt.RatingTraceSequence,null,q.IsMinimumPremium,tt.TransactionTypeDesc, q.isShowQuote 
						from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q, RatingTrace rt,TransactionType tt 
						where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey 
					and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and q.IsQuoteSelected='Y' and pc.PolicyKey = @PolicyKey and q.isShowQuote='Y' and pt.TransactionTypeKey<=5 and tt.TransactionTypeKey=pt.TransactionTypeKey
			END


	END

	DECLARE @PolicyKeyTemp int,@TransactionSequenceTemp int,@LimitSequenceTemp INT
	Declare c1 cursor for 	select PolicyKey,TransactionSequence,LimitSequence from #Temp1 where LimitSequence in(15,16,18)
	 	 
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKeyTemp ,@TransactionSequenceTemp ,@LimitSequenceTemp 		
	WHILE @@FETCH_STATUS = 0
		begin
		
		
		  update Quote set isShowQuote='N' where Policykey=@PolicyKeyTemp and TransactionSequence=@TransactionSequenceTemp
		  update #Temp1 set isShowQuote='N' where Policykey=@PolicyKeyTemp and TransactionSequence=@TransactionSequenceTemp
		
		FETCH NEXT FROM c1 into @PolicyKeyTemp ,@TransactionSequenceTemp ,@LimitSequenceTemp 			
		end
		CLOSE c1
		DEALLOCATE c1

	select * from #Temp1 where isShowQuote<>'N'
select DeductibleSequence,LimitSequence,DeductibleAmount,LimitAmount,CoverageSequence,TotalPremium,TotalPremiumFirstRange,TotalPolicyModifierPercentage,TotalPolicyTaxAmount,InvoicedPremium,ManualPremium,TransactionSequence,SOISequence,CoverageKey,AggregateDeductible,OccuranceDeductible,PolicyKey,MarketableProductKey,IsClaimExpensesType,ClaimExpensesTypeText,IsClaimOptionType,IsDollarDefenseText,IsDollarDefense,IsThisOptionFinalised,IsQuoteSelected,IsFirstQuote,RatingTraceSequence,TransactionTypeDesc,convert(varchar,EndorsementEffectiveDate,101) as EndorsementEffectiveDate,convert(varchar,EndorsementIssuedDate,101) as EndorsementIssuedDate,isShowQuote
 from #Temp2

DROP TABLE #Temp1
DROP TABLE #Temp2
END







GO
