USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequoteReportDataACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RequoteReportDataACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequoteReportDataACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RequoteReportDataACC_p] AS' 
END
GO

--exec [dbo].[BatchRatingForLawyers_Proc] '<request><requestdata><inet_project_id>LawyersIns</inet_project_id><updateCriteria></updateCriteria><filterCriteria><data><Limit>1000000/1000000</Limit><PolicyEffectiveDateTo>11/24/2018</PolicyEffectiveDateTo><PolicyType>NB</PolicyType><StateCode>IA</StateCode><PolicyEffectiveDateFrom>11/22/2018</PolicyEffectiveDateFrom></data></filterCriteria></requestdata></request>'
--InvestmentFinancialPlanningPercentage

--exec [dbo].[BatchRatingForLawyers_Proc] '<request><requestdata><inet_project_id>LawyersIns</inet_project_id><filterCriteria><data><PolicyEffectiveDateFrom>05/01/2018</PolicyEffectiveDateFrom><SubProducerNumber></SubProducerNumber><SubProduced>N</SubProduced><Limit>100000/300000</Limit><StateCode>AL</StateCode><PolicyType>NB</PolicyType><PolicyEffectiveDateTo>06/18/2018</PolicyEffectiveDateTo></data></filterCriteria></requestdata></request>'
--exec [RequoteReportDataACC_p] '09/01/2019', '09/30/2019', null,null, 0, 'http://localhost:8080/AccountantIns/RequotePolicy.jsp?PolicyKey=', null

ALTER PROCEDURE [dbo].[RequoteReportDataACC_p]
(
@PolicyEffectiveDateFrom varchar(10),
@PolicyEffectiveDateTo varchar(10),
@StateCode varchar(100),
@AOPString VARCHAR(800),
@requote_revenue INT,
@URL VARCHAR(800),
@requoteTransactionType INT

)

AS BEGIN

--select @inputXml

--declare @IssuedDateFrom datetime
--declare @IssuedDateTo datetime
--declare @PolicyType varchar(5)
--declare @StateCode varchar(5)
--declare @SubProduced varchar(5)
--declare @SubProducerNumber varchar(10)

declare @PolicyType varchar(10)

declare @SubProduced varchar(10)
declare @SubProducerNumber varchar(10)

declare @PolicyEffectiveDate varchar(10)
declare @Modifier int

declare @Limit varchar(500)
declare @AggregateLimit varchar(250)
declare @OccuranceLimit varchar(250)

CREATE TABLE #TempRevenue(
RevenueKey INT,
FromRevenueRange INT,
ToRevenueRange INT
)

INSERT INTO #TempRevenue VALUES(0,0,9000000)
INSERT INTO #TempRevenue VALUES(1,0,100000)
INSERT INTO #TempRevenue VALUES(2,100000,200000)
INSERT INTO #TempRevenue VALUES(3,200000,500000)
INSERT INTO #TempRevenue VALUES(4,750000,1000000)
INSERT INTO #TempRevenue VALUES(5,1000000,9000000)


CREATE TABLE #Temp2(
Policykey INT
)
DECLARE @LowRange INT,@highRange int

Select  @LowRange=FromRevenueRange,@highRange=ToRevenueRange   from #TempRevenue where RevenueKey=@requote_revenue

if(isNUll(@Limit,'') <> '')
	begin
		set @AggregateLimit = SUBSTRING(@Limit, 1, CHARINDEX('/', @Limit)-1)  
		set @OccuranceLimit = SUBSTRING(@Limit, CHARINDEX('/', @Limit)+1, LEN(@Limit)) 		
	end 

declare @sqlstm varchar(8000)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @PolicyKey int
declare @IsDollarDefense char(1)
declare @TransactionSequence int
declare @VersionSequence int
declare @StatusKey varchar(2) 
declare @PolicyStatusKey int
declare @TotalModifier int

DECLARE  @BusinessTaxServicesPercentage INT, @EstateTaxServicesPercentage INT, @IndividualTaxServicesPercentage INT, @BookKeepPercentage INT, @AuditNonpublicClientsPercentage INT,
	 @ReviewPercentage INT, @CompilationPercentage INT, @AgreedUponProceduresPercentage INT, @OtherAssurancePercentage INT, @LitigationSupportPercentage INT, @OtherConsultingPercentage INT, 
	 @ManagementConsultingBusinessPlanningPercentage INT, @ INT, @ComputerRelatedServicesPercentage INT, @BusinessValuationPercentage INT, @ForecastsProjectionsPercentage INT,
	 @MergersAndAcquisitionsPercentage INT, @BusinessManagementPercentage INT, @InvestmentFinancialPlanningPercentage INT, @SECWorkOtherThanAuditPercentage INT, @GeneralBusinessAdvicePercentage INT,
	 @ErisaPensionPlansPercentage INT, @TrusteeServicesPercentage INT, @OtherPercentage INT,@AuditPublicClientsPercentage INT



declare @LimitAmount varchar(50)
declare @DeductibleAmount varchar(50)
declare @IsClaimOptionType char(1)
declare @IsClaimExpensesType char(1) 
declare @NumberOfYearsWithFirm int

declare @Count int
declare @encryptedPolicyKey VARCHAR(200) 

CREATE TABLE #TempPolicyList (	
		[PolicyKey] [int],
		[TransactionSequence] [int],
		[VersionSequence] [int],
		[QuoteNumber] [varchar](20) ,
		EffectiveDate DATETIME,	
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](20) ,  
		[StateCode] [varchar](20),
		[StateDesc] [varchar](100),
		[CountyDesc] [varchar](50),
		[City] [varchar](50),

		[LimitAmount] [varchar](50) ,
		[DeductibleAmount] [varchar](50) ,
		[IsClaimOptionType] [char](1),
		[IsClaimExpensesType] [char](1) ,
		[IsDollarDefense] [char](1) ,
		[Modifier] [int] ,

		BusinessTaxServicesPercentage   INT,
		EstateTaxServicesPercentage	 INT,
		IndividualTaxServicesPercentage	 INT,
		BookKeepPercentage 	 INT,
		AuditPublicClientsPercentage INT,
		AuditNonpublicClientsPercentage		 INT,
		ReviewPercentage   	 INT,
		CompilationPercentage 	 INT,
		AgreedUponProceduresPercentage  INT,
		OtherAssurancePercentage    INT,
		LitigationSupportPercentage	 INT,
		OtherConsultingPercentage   INT,	
		ManagementConsultingBusinessPlanningPercentage  INT,
		ComputerRelatedServicesPercentage  INT,
		BusinessValuationPercentage  INT,
		ForecastsProjectionsPercentage  INT,
		MergersAndAcquisitionsPercentage  INT,
		BusinessManagementPercentage    INT,
		InvestmentFinancialPlanningPercentage  INT,
		SECWorkOtherThanAuditPercentage  INT,
		GeneralBusinessAdvicePercentage  INT,
		ErisaPensionPlansPercentage  INT,
		TrusteeServicesPercentage    INT,
		OtherPercentage  INT,
		IsFirmCarryingProfLiabilityIns  CHAR,
		TotalPremium VARCHAR(500),
		[Premium] [varchar](25) ,
		InsuredEmail VARCHAR(200),
		EmailLink VARCHAR(500),
		Address1 VARCHAR(500),
		Address2 VARCHAR(500),
		Zip VARCHAR(100),
		ContactName VARCHAR(100),
		InsuredName VARCHAR(200),
		isValidForRating CHAR,
		LimitSequence INT,
		ProducerCode VARCHAR(100),
		TransactionType VARCHAR(500),
		Status VARCHAR(100),
		QuoteType VARCHAR(100),
		[First Name] VARCHAR(100),
		[Last Name] VARCHAR(100),
		PolicyExpirationDate DATETIME,
		StatusKey INT,
		EligibleForRequote CHAR,
		AccountId INT,
		TotalCovModifierPercentage INT,
		IsQuoteLetterSend char,
		IsAppCompleted CHAR,
		IsPriorActDateFull  CHAR,
		PriorActDatePross DATETIME,
		AverageRevenue INT,
		Comment varchar(500),
		Limit   varchar(500),
		SecondaryEmail VARCHAR(300)
)

DECLARE @EffectiveDate DATETIME




--if(@PolicyEffectiveDateFrom is not null or @PolicyEffectiveDateTo is not null)
--begin
--	set @StatusKey = 6
--end 
declare @sqlstm1 varchar(8000)
declare @sqlstm2 varchar(8000)

print'Querry one done---------------->'
set @sqlstm = 'select  p.PolicyKey, pt.TransactionSequence, f.VersionSequence, p.QuoteNumber, p.PolicyEffectiveDate,p.PolicyNumber, 
adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.CountyDesc, adds.City,
pt.TotalPremium,a.AccountEmail,  adds.Address1,adds.Address2,adds.Zip+''-''+(case when adds.Zip4  is not null then adds.Zip4 else '''' END) as Zip,f.ContactPerson,a.AccountName,lt.LimitSequence,pt.ProducerCode,
 tt.TransactionTypeDesc,CASE when p.IsFullQuote = ''Y''  THEN ''Full Quote'' When  p.IsFullQuote = ''Y'' THEN ''QuickQuote'' END as QuoteType,st.StatusDesc
 ,pt.PolicyExpirationDate,pt.StatusKey,p.AccountId,pc.TotalCovModifierPercentage,f.IsAppCompleted,pl.IsPriorActDateFull,pl.PriorActDatePross,(select cast(sum(Amount)/3 as INT) from GrossRevenueForFirm where Policykey=p.PolicyKey) as AverageRevenue,f.IsFirmCarryingProfLiabilityIns
 ,case when pt.StatusKey=4 then f.comment else null end as comment
 ,PARSENAME(Convert(varchar,Convert(money,pc.AggregateLimit),1),2) +''/'' +PARSENAME(Convert(varchar,Convert(money,pc.OccuranceLimit),1),2) as Limit
 ,a.secondaryEmail
from PolicyTransaction pt 
 inner Join Policy p  on p.PolicyKey=pt.PolicyKey
 inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
 inner join Account a on a.AccountKey=aa.AccountKey
 inner Join Address adds on adds.AddressKey=aa.AddressKey
 inner join Firm f on p.PolicyKey=f.Policykey and f.versionsequence=(select max(versionsequence) from firm where Policykey=p.PolicyKey)
 inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
 inner join PolicyCoverage pc on pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence
 inner join Limits lt on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit and pc.CoverageKey=lt.CoverageKey
 inner join Transactiontype tt on pt.TransactionTypeKey=tt.TransactionTypeKey
 inner join status st on pt.StatusKey=st.StatusKey 
 inner join  ProfessionalLiabilityInsDetail pl on pl.PolicyKey=f.PolicyKey  and pl.VersionSequence=f.VersionSequence '

if(@AOPString is not null and @AOPString <> '')
begin

	set  @sqlstm = @sqlstm + 'inner join AreaOfPractice areaP on areaP.PolicyKey=f.PolicyKey and areaP.VersionSequence=f.VersionSequence
	where q.IsFirstQuote=''Y'' and f.IsRenewed is null and p.MarketableProductKey=1   and pt.statuskey not in(8) and  p.isUncompletedData=''N'' 
	and areaP.PercentageValue>0 and areaP.AOPKey in(select * from SplitString('''+@AOPString+''', '','')) '
	
end
else
BEGIN
	set  @sqlstm = @sqlstm + ' where q.IsFirstQuote=''Y'' and f.IsRenewed is null and p.MarketableProductKey=1   and pt.statuskey not in(8) and  p.isUncompletedData=''N'''
end

if((@PolicyEffectiveDateFrom is not null and @PolicyEffectiveDateTo is not null) and (@PolicyEffectiveDateFrom <>'' and @PolicyEffectiveDateTo <>''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between ''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateFrom) +''' and ''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateTo) + ''''
	
	
end
else
BEGIN
	set  @sqlstm = @sqlstm + 'and p.PolicyEffectiveDate<GETDATE()-30'
END

if((@PolicyEffectiveDateFrom is not null and @PolicyEffectiveDateFrom <>'') and (@PolicyEffectiveDateTo is null or @PolicyEffectiveDateTo ='' ))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate >=''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateFrom) + ''''

	
end

if((@PolicyEffectiveDateFrom is null or @PolicyEffectiveDateFrom ='') and (@PolicyEffectiveDateTo is not null and @PolicyEffectiveDateTo<>''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate <=''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateTo) + ''''
	
	
end


--set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select min(TransactionSequence) from Quote q where q.PolicyKey=p.PolicyKey)'

		
if(@requoteTransactionType is not null and @requoteTransactionType <> '')
begin
		if(@requoteTransactionType=1)
		BEGIN
			set  @sqlstm = @sqlstm + ' and p.PolicyStatusKey=2  and p.IsFullQuote=''Y'''
			
		END
		if(@requoteTransactionType=2)
		BEGIN
			set  @sqlstm = @sqlstm + ' and p.PolicyStatusKey=1  and p.IsFullQuote=''Y'''
			
		END
		if(@requoteTransactionType=3)
		BEGIN
			set  @sqlstm = @sqlstm + '  and pt.StatusKey=11 and p.IsQuickQuote=''Y'''
			
		END
		if(@requoteTransactionType=4)
		BEGIN
			set  @sqlstm = @sqlstm + ' and p.IsQuickQuote=''Y'''
			
		END
		
	--set  @sqlstm2 = @sqlstm2 + ' and adds.StateCode in(select * from SplitString('''+@StateCode+''', '',''))'
end
if(@StateCode is not null and @StateCode <> '')
begin
	set  @sqlstm = @sqlstm + ' and adds.StateCode in(select * from SplitString('''+@StateCode+''', '',''))'
	
end


set  @sqlstm = @sqlstm + 'and  pt.ProducerCode is null '
--IF(@ProducerCode1 is not null and @ProducerCode1='SubProduced')
--BEGIN
--	--Print 'Policies type ar subproduced'
--	set  @sqlstm = @sqlstm + 'and  pt.ProducerCode <>'''' and pt.ProducerCode is not null'

--END
	
--IF(@ProducerCode1 is not null and @ProducerCode1='Direct')	 
--BEGIN
--	--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
--set  @sqlstm = @sqlstm + 'and (pt.ProducerCode='''' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect=''Y''))'
	
--END
--set  @sqlstm = @sqlstm + ' and p.PolicyKey=73286'	

SET @sqlstm=@sqlstm+' group by p.PolicyKey,pt.PolicyKey, pt.TransactionSequence, f.VersionSequence, p.QuoteNumber, p.PolicyEffectiveDate, p.PolicyNumber, 
adds.StateCode,adds.StateCode, adds.CountyDesc, adds.City,pt.InvoicedPremium,a.AccountEmail,adds.Address1,adds.Address2,adds.zip,adds.Zip4,f.ContactPerson,a.AccountName,lt.LimitSequence,
pt.ProducerCode,tt.TransactionTypeDesc,p.IsFullQuote,p.IsQuickQuote,pt.StatusKey,st.StatusDesc,pt.TotalPremium,pt.PolicyExpirationDate,pt.StatusKey,p.AccountId,TotalCovModifierPercentage,IsAppCompleted,IsPriorActDateFull,PriorActDatePross,AverageRevenue,f.IsFirmCarryingProfLiabilityIns,f.comment,pc.AggregateLimit,pc.OccuranceLimit,a.secondaryEmail'


print @sqlstm

Insert into #TempPolicyList(PolicyKey, TransactionSequence, VersionSequence, QuoteNumber, EffectiveDate, PolicyNumber, StateCode, StateDesc, CountyDesc, City, TotalPremium,InsuredEmail,Address1,Address2,Zip,ContactName,InsuredName,LimitSequence,ProducerCode,TransactionType,QuoteType,Status,PolicyExpirationDate,StatusKey,AccountId,TotalCovModifierPercentage,IsAppCompleted,IsPriorActDateFull,PriorActDatePross,AverageRevenue,IsFirmCarryingProfLiabilityIns,Comment,Limit,SecondaryEmail) 
EXECUTE ( @sqlstm)



Insert into #Temp2(Policykey) select Policykey from #TempPolicyList where AverageRevenue between @LowRange and @highRange
--select * from #Temp2
delete from #TempPolicyList where Policykey not in(select Policykey from #Temp2)

DECLARE @ContactName VARCHAR(500)
DECLARE @FName VARCHAR(100)
DECLARE @LName VARCHAR(100)
DECLARE @AccountID INT
DECLARE @containsIndication CHAR
DECLARE @FullyCompleted CHAR
Declare @AccountName VARCHAR(500)
DECLARE @IsFirmHaveLawyersLiabilityInsurance CHAR
DECLARE @AopSum int
DECLARE @ContactPerson VARCHAR(500)
DECLARE @AttorneyCountComparison INT
DECLARE @PolicyStatusKeyComparison INT
DECLARE @AOPCount INT
DECLARE @VersionSequenceComparison INT
DECLARE @PreviousVersionSequence INT
DECLARE @CreatedDate DATETIME
DECLARE @DaysDiffenence INT
DECLARE @IsFirmPage CHAR
DECLARE @IsAopPage CHAR
DECLARE @IsPracticePage CHAR
DECLARE @IsCoveragePage CHAR
DECLARE @IsRenewFirmPage CHAR
DECLARE @City VARCHAR(100)
DECLARE @AccountIDComparison INT
DECLARE @EligibleForRequote CHAR

DECLARE @AggreegateLimit INT
DECLARE @TotalFirmPersonnel INT
DECLARE @IsFirmRenderingServices CHAR
DECLARE @IsSyndicationManagers CHAR
DECLARE @IsServedAsTrustee CHAR
DECLARE @IsAnyRegulatoryInquiry CHAR
DECLARE @IsClientTerminated CHAR
DECLARE @IsPublicTradedAudited CHAR
DECLARE @AnnualRevenue NUMERIC(15,0)
DECLARE @IsContractualRelationShip CHAR 
DECLARE @RevenuesFromLastYear INT
DECLARE @EstimatedRevenue INT
DECLARE @HaveInvestmentAuthorityFC CHAR
DECLARE @IsControlClientFunds CHAR
DECLARE @AccountKey INT
declare @IsBasicPage char(1)
declare @IsGeneralPage char(1)
declare @IsPracticeManagementPage char(1)
declare @IsSupplementPage char(1)
declare @IsAttestationPage char(1)
declare @IsComputerServicePage char(1)
declare @IsBusinessFundPage char(1)
DECLARE @IsApplicationCompleted char(1)
declare @IsRenewBasicInfoPage Char(1)
declare @AverageRevenue bigint
select @IsBasicPage=IsBasicPage,@IsGeneralPage=IsGeneralPage,@IsPracticeManagementPage=IsPracriceMangPage,
	@IsSupplementPage=IsSupplementPage,@IsAttestationPage=IsAttesationPage,@IsComputerServicePage=IsComputerServicePage,
	@IsBusinessFundPage=IsBusinessFundPage,@IsRenewBasicInfoPage=RenewBasicInfoPage
	from Firm where PolicyKey=@PolicyKey

	Declare c1 cursor for
	select PolicyKey, TransactionSequence, EffectiveDate,ContactName,StatusKey,AccountId from #TempPolicyList group by PolicyKey, TransactionSequence, VersionSequence,EffectiveDate,ContactName,StatusKey,AccountId
	 	   
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@EffectiveDate,@ContactName,@StatusKey,@AccountID
	WHILE @@FETCH_STATUS = 0
		begin
		set @EligibleForRequote='Y'
		--set @containsIndication='N'
		--if(@StatusKey<>11)
		--BEGIN
		--	SET @IndicationCount=(Select case when Count(pt.PolicyKey) is not null then Count(pt.PolicyKey) else 0 end as Indicationcount from PolicyTransaction pt Inner join  Policy p on p.PolicyKey=pt.PolicyKey where p.AccountID=@AccountID and pt.StatusKey=11)
			
		--	if(@IndicationCount>0)
		--	begin
		--		set @containsIndication='Y'
		--	END
		--END	
			--print 'Hi'
			--To Set AOP
			SET @VersionSequence=(Select Min(VersionSequence) from Firm Where PolicyKey=@PolicyKey)
			

			--DECLARE @EffectiveDate DATETIME='2017-09-01'
			DECLARE @YearDifference INT
			
			--SET @YearDifference=(SELECT DATEADD(year, 1, '2017/08/25'))
			SET @YearDifference=(SELECT DATEDIFF(year, convert(varchar, @EffectiveDate, 101),convert(varchar,  GETDATE(), 101)) )
			if(@YearDifference>0)
			BEGIN 
		--	print  @YearDifference
				SET @EffectiveDate=(SELECT DATEADD(year, @YearDifference, @EffectiveDate))
			END
			--select @EffectiveDate as EffectiveDate

			IF(convert(varchar, @EffectiveDate, 101)<convert(varchar,  GETDATE(), 101))
			BEGIN
				SET @EffectiveDate=(SELECT DATEADD(year, 1, @EffectiveDate))
			END
			SET @FName=(select top 1 * from SplitString(@ContactName,' '))
			SET @LName=(SELECT SUBSTRING(@ContactName, LEN(@FName)+1, LEN(@ContactName)))
			UPDATE #TempPolicyList set [First Name]=@FName,[Last Name]=@LName WHere PolicyKey=@PolicyKey
			UPDATE #TempPolicyList set PolicyEffectiveDate=@EffectiveDate WHere PolicyKey=@PolicyKey
			DECLARE @encryptedEffectiveDate varchar(1000)
			set @encryptedEffectiveDate=(select  dbo.EncryptString(convert(varchar, @EffectiveDate, 101)))
			SET @encryptedPolicyKey=(select dbo.EncryptString(@PolicyKey))
			
			SET @BusinessTaxServicesPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=1)
			SET @EstateTaxServicesPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=2)
			SET @IndividualTaxServicesPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=3)
			SET @BookKeepPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=4)
			SET @AuditPublicClientsPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=5)
			SET @AuditNonpublicClientsPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=6)
			SET @ReviewPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=7)
			SET @CompilationPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=8)
			SET @AgreedUponProceduresPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=9)
			SET @OtherAssurancePercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=10)
			SET @LitigationSupportPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=11)
			SET @OtherConsultingPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=12)
			SET @ManagementConsultingBusinessPlanningPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=13)
			SET @ComputerRelatedServicesPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=14)
			SET @BusinessValuationPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=15)
			SET @ForecastsProjectionsPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=16)
			SET @MergersAndAcquisitionsPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=17)
			SET @BusinessManagementPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=18)
			SET @InvestmentFinancialPlanningPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=19)
			SET @SECWorkOtherThanAuditPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=21)
			SET @GeneralBusinessAdvicePercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=22)
			SET @ErisaPensionPlansPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=23)
			SET @TrusteeServicesPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=24)
			SET @OtherPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=20)
			
			--print 'Hi1'	
			-- To set Modifier
			select @TotalModifier = sum(Percentage) from CoverageModifiers where policykey=@PolicyKey and TransactionSequence=@TransactionSequence
			--To set Coverage
			select @IsClaimOptionType = CASE WHEN IsClaimOptionType is Null OR IsClaimOptionType='' THEN 'N' ELSE IsClaimOptionType END 
			, @IsClaimExpensesType = CASE WHEN IsClaimExpensesType IS NULL OR IsClaimExpensesType='' THEN 'N' ELSE IsClaimExpensesType END,
			 @IsDollarDefense = CASE WHEN IsDollarDefense IS NOT NULL THEN IsDollarDefense ELSE 'N' END  , @LimitAmount = Convert(varchar,AggregateLimit)  +'/'+ Convert(varchar,OccuranceLimit), @DeductibleAmount = AggregateDeductible from PolicyCoverage where policykey=@PolicyKey and TransactionSequence=@TransactionSequence
			--print 'Hi2'
			--To set claim age
			set @Count = 1
			
			--print 'Hi3'
--<<<<<<<<---------------------------------------------------checking for Policy Completion-------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

		SET	@FullyCompleted='Y'
		SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
		SELECT @PolicyStatusKeyComparison=PolicyStatusKey,@AccountIDComparison=AccountID FROM Policy WHERE PolicyKey=@PolicyKey
		SET @VersionSequenceComparison=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PolicyKey)
		set @AccountName=(	SELECT AccountName FROM Account where accountkey=(SELECT top 1 AccountKey FROM PolicyTransaction WHERE PolicyKey=@PolicyKey))
		SET @AOPCount=(SELECT CASE WHEN Count(*) Is NULL then 0 else count(*) END From AreaOfPractice Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		SET @City=(select  top 1 City from address adr  inner join AccountAddress aa on aa.AddressKey=adr.AddressKey inner join PolicyTransaction pt on pt.AccountKey=aa.AccountKey  where Policykey=@PolicyKey)
		
		IF(@PolicyStatusKeyComparison=1)
		BEGIN
		print 'New business'
			IF(@CreatedDate<'2017-06-20')
				BEGIN
				print 'Old Flow'
						if(@IsBasicPage='Y' and @IsGeneralPage='Y')
						begin
								set @FullyCompleted = 'Y'
					
						END		
						if(@AuditPublicClientsPercentage > 0)
						begin
							if(@IsAttestationPage != 'Y')
							begin
								set @FullyCompleted='N'	
							end
						end

						if(@AuditNonpublicClientsPercentage> 0)
						begin
							if(@IsAttestationPage != 'Y')
							begin
								set @FullyCompleted='N'							
							end
						end

						if(@ComputerRelatedServicesPercentage > 0)
						begin
							if(@IsComputerServicePage != 'Y')
							begin
								set @FullyCompleted='N'						
							end
						end

						if(@BusinessManagementPercentage > 0)
						begin
							if(@IsBusinessFundPage != 'Y')
							begin
								set @FullyCompleted='N'							
							end
						end

						if(@InvestmentFinancialPlanningPercentage > 0)
						begin
							if(@IsSupplementPage != 'Y')
							begin
								set @FullyCompleted='N'							
							end
						end

						if(@AverageRevenue > 500000)
						begin
							if(@IsPracticeManagementPage != 'Y')
							begin
								set @FullyCompleted='N'							
							end
						end


							
				

				END
			
			ELSE
				BEGIN
				print 'New Flow'
						
						SET @AggreegateLimit=(SELECT top 1 AggregateLimit FROM PolicyCoverage where PolicyKey=@PolicyKey )
						--SELECT TotalFirmPersonnel,IsFirmRenderingServices,IsSyndicationManagers,IsServedAsTrustee ,IsClientTerminated,IsPublicTradedAudited,IsAnyRegulatoryInquiry,@AOPCount as AOPCount,@FullyCompleted as FullyCompleted  from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence

						SELECT @TotalFirmPersonnel=TotalFirmPersonnel,@IsFirmRenderingServices=IsFirmRenderingServices,@IsSyndicationManagers=IsSyndicationManagers,@IsServedAsTrustee=IsServedAsTrustee
						,@IsClientTerminated=IsClientTerminated,@IsPublicTradedAudited=IsPublicTradedAudited,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry
						from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence
				
							IF(@AOPCount<1)
								BEGIN
									print '100'
									SET @FullyCompleted='N'
								END
							SELECT @AopSum=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPractice where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				
							IF(@AccountName IS  NULL)
							BEGIN
								print @AccountName
								SET @FullyCompleted='N'
							END

							IF(@AggreegateLimit IS  NULL)
							BEGIN
								print '2'
							SET @FullyCompleted='N'
							END

							IF(@TotalFirmPersonnel IS NULL OR @TotalFirmPersonnel=0)
							BEGIN
								print '3'
								SET @FullyCompleted='N'
							END
						--	Select @AopSum as AopSum
							IF(@AopSum!=100)
							BEGIN
								print '4'
							SET @FullyCompleted='N'
							END
		
							IF(@IsFirmRenderingServices IS  NULL)
							BEGIN
								print '5'
								SET @FullyCompleted='N'
							END
				
							IF(@IsSyndicationManagers IS  NULL)
							BEGIN
								print '6'
								SET @FullyCompleted='N'
							END
		
							IF(@IsServedAsTrustee IS  NULL)
							BEGIN
								print '7'
								SET @FullyCompleted='N'
							END
							IF(@IsAnyRegulatoryInquiry IS  NULL)
							BEGIN
								print '8'
								SET @FullyCompleted='N'
							END
		
						--Supplements conditions check
			
					--select @FullyCompleted as beforeSupp

						SET @AnnualRevenue=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where Policykey=@PolicyKey))
						IF(@AnnualRevenue>500000 )
						BEGIN
				
							IF(@IsClientTerminated IS  NULL)
							BEGIN
								print '11'
								SET @FullyCompleted='N'
							END
						END

						IF(@InvestmentFinancialPlanningPercentage>0)
						BEGIN
							select @IsContractualRelationShip=IsContractualRelationShip from FinancialPlanningAndIAServiceSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
							IF(@IsContractualRelationShip IS  NULL)
							BEGIN
								print '12'
								SET @FullyCompleted='N'
							END
						END

						IF(@ComputerRelatedServicesPercentage>0)
						BEGIN
			

							SELECT @RevenuesFromLastYear=CASE WHEN sum(RevenuesFromLastYear) IS NOT NULL   THEN sum(RevenuesFromLastYear) ELSE 0  END,@EstimatedRevenue=CASE WHEN sum(EstimatedRevenue) IS NOT NULL   THEN sum(EstimatedRevenue) ELSE 0  END  FROM ITServicesSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
							IF(@RevenuesFromLastYear=0 AND @EstimatedRevenue=0)
							BEGIN
								print '13'
								SET @FullyCompleted='N'
							END
						END

						IF(@BusinessManagementPercentage >0)
						BEGIN
				
							SET @HaveInvestmentAuthorityFC=( SELECT HaveInvestmentAuthorityFC from FundsControlledSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence)
							IF(@HaveInvestmentAuthorityFC IS NULL)
							BEGIN
								print '14'
								SET @FullyCompleted='N'
							END
						END

						IF(@AuditNonpublicClientsPercentage >0)
						BEGIN
				
							IF(@IsPublicTradedAudited IS NULL)
							BEGIN
								print '14'
								SET @FullyCompleted='N'
							END
						END

			END
				

	END
	
	IF(@PolicyStatusKeyComparison=2)
	BEGIN
		PRINT 'IN RENEWAL FLOW'
	DECLARE @PreviousPolicyKey INT	
DECLARE @investmentPlanningOld INT
	DECLARE @computerServicesOld INT
	DECLARE @BusinessManagementOld INT
	DECLARE @auditOld INT

	SET @PreviousPolicyKey=(select p.policykey as PreviousPolicykey  FROM policy p inner join firm f on p.policykey=f.policykey and f.VersionSequence=(select max(VersionSequence) From firm where PolicyKey=f.PolicyKey) where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=@PolicyKey) AND policynumber is not null))
	
	SET @investmentPlanningOld  = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=19)
	if(@investmentPlanningOld is null)
	set @investmentPlanningOld=0
	SET @computerServicesOld =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=14)
	if(@computerServicesOld is null)
	set @computerServicesOld=0
	SET @BusinessManagementOld =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=18)
	if(@BusinessManagementOld is null)
	set @BusinessManagementOld=0
	SET @auditOld =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=6)
	if(@auditOld is null)
	set @auditOld=0
	

		
		DECLARE @AnnualRevenueSequence INT
	
		IF(@CreatedDate<'2017-06-20')
			BEGIN
					print 'Old Flow'
				if(@IsRenewBasicInfoPage = 'Y')
				begin
					set @FullyCompleted = 'Y'
					END
					
							if(@AuditPublicClientsPercentage> 5)
							begin
								if(@IsAttestationPage != 'Y')
								begin
									set @FullyCompleted='N'	
								end
							end

							if(@AuditNonpublicClientsPercentage > @auditOld+5)
							begin
								if(@IsAttestationPage != 'Y')
								begin
									set @FullyCompleted='N'							
								end
							end

							if(@ComputerRelatedServicesPercentage > @computerServicesOld+5)
							begin
								if(@IsComputerServicePage != 'Y')
								begin
									set @FullyCompleted='N'						
								end
							end

							if(@BusinessManagementPercentage > @BusinessManagementOld+5)
							begin
								if(@IsBusinessFundPage != 'Y')
								begin
									set @FullyCompleted='N'							
								end
							end

							if(@InvestmentFinancialPlanningPercentage > @investmentPlanningOld+5)
							begin
								if(@IsSupplementPage != 'Y')
								begin
									set @FullyCompleted='N'							
								end
							end

			END
		
		ELSE
			BEGIN				
					print 'New Flow'
		SET @investmentPlanningOld  = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=19)
		if(@investmentPlanningOld is null)
		set @investmentPlanningOld=0
		SET @computerServicesOld =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=14)
		if(@computerServicesOld is null)
		set @computerServicesOld=0
		SET @BusinessManagementOld =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=18)
		if(@BusinessManagementOld is null)
		set @BusinessManagementOld=0
		SET @auditOld =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop where aop.policykey=@PreviousPolicyKey  and aop.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aop.PolicyKey) and aop.AOPKey=6)
		if(@auditOld is null)
		set @auditOld=0

		--select @investmentPlanningOld as investSuppOld,@investSuppPercentage as investSuppOld,@computerSuppPercentage as compSupp	,@businessManagementSuppPercentage as BusinessSupp,@auditSuppPercentage as auditSupp
	
		
			SELECT @TotalFirmPersonnel=TotalFirmPersonnel,@IsFirmRenderingServices=IsFirmRenderingServices,@IsSyndicationManagers=IsSyndicationManagers,@IsServedAsTrustee=IsServedAsTrustee
			,@IsClientTerminated=IsClientTerminated,@IsPublicTradedAudited=IsPublicTradedAudited,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry,@IsControlClientFunds=IsControlClientFunds
			from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence
				--select IsFirmHaveLawyersLiabilityInsurance from firm where policykey=55425
				IF(@AOPCount<1)
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
				SELECT @AopSum=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPractice where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				
				
				--select @AopSum 
				
				

							
				IF(@AccountName IS  NULL)
				BEGIN
				--	print @AccountName
					SET @FullyCompleted='N'
				END

				
				

				IF(@TotalFirmPersonnel IS NULL OR @TotalFirmPersonnel=0 OR @IsControlClientFunds is NULL)
				BEGIN
				--	print '1'
					SET @FullyCompleted='N'
				END
				
				IF(@AopSum!=100)
				BEGIN
					--print '2'
					SET @FullyCompleted='N'
				END
		
				IF(@IsServedAsTrustee IS  NULL)
				BEGIN
				--	print '3'
					SET @FullyCompleted='N'
				END
		
				IF(@IsAnyRegulatoryInquiry IS  NULL)
				BEGIN
				--	print '4'
					SET @FullyCompleted='N'
				END
		
			

			IF((@investmentPlanningOld=0 AND @InvestmentFinancialPlanningPercentage>0)OR(@InvestmentFinancialPlanningPercentage>@investmentPlanningOld+5))
			BEGIN
			
				select @IsContractualRelationShip=IsContractualRelationShip from FinancialPlanningAndIAServiceSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@IsContractualRelationShip IS  NULL)
				BEGIN
				--	print '5'
					SET @FullyCompleted='N'
				END
			END

		IF((@computerServicesOld=0 AND @ComputerRelatedServicesPercentage>0)OR(@ComputerRelatedServicesPercentage>@computerServicesOld+5))
			BEGIN
			

				SELECT @RevenuesFromLastYear=CASE WHEN sum(RevenuesFromLastYear) IS NOT NULL   THEN sum(RevenuesFromLastYear) ELSE 0  END,@EstimatedRevenue=CASE WHEN sum(EstimatedRevenue) IS NOT NULL   THEN sum(EstimatedRevenue) ELSE 0  END  FROM ITServicesSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				--select @RevenuesFromLastYear,@EstimatedRevenue
				IF(@RevenuesFromLastYear=0 AND @EstimatedRevenue=0)
				BEGIN
				--	print '6'
					SET @FullyCompleted='N'
				END
			END

			IF((@BusinessManagementOld=0 AND @BusinessManagementPercentage>0)OR(@BusinessManagementPercentage >@BusinessManagementOld+5))
			BEGIN
				
				SET @HaveInvestmentAuthorityFC=( SELECT HaveInvestmentAuthorityFC from FundsControlledSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence)
				IF(@HaveInvestmentAuthorityFC IS NULL)
				BEGIN
				--	print '7'
					SET @FullyCompleted='N'
				END
			END

			IF((@AuditNonpublicClientsPercentage=0 AND @AuditNonpublicClientsPercentage>0)OR(@AuditNonpublicClientsPercentage >@auditOld+5))
			BEGIN
				
				IF(@IsSyndicationManagers IS NULL)
				BEGIN
				--	print '8'
					SET @FullyCompleted='N'
				END
			END
	
		
				
			END
	
	END
--<<<<<<<<<<<<<-------------------Policy Completion checking done------------------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


		--	print @PolicyKey
			update #TempPolicyList set [LimitAmount] = @LimitAmount , [DeductibleAmount] = @DeductibleAmount ,[IsClaimOptionType] = @IsClaimOptionType,
			[IsClaimExpensesType] = @IsClaimExpensesType , [IsDollarDefense] = @IsDollarDefense, [Modifier] = CASE WHEN @Modifier is not null and @Modifier <> '' and @Modifier <> 0 THEN @Modifier ELSE @TotalModifier END,
			[PolicyEffectiveDate] = CASE WHEN @PolicyEffectiveDate is not null and @PolicyEffectiveDate <> ''  THEN @PolicyEffectiveDate ELSE [PolicyEffectiveDate] END,
			BusinessTaxServicesPercentage = @BusinessTaxServicesPercentage , EstateTaxServicesPercentage = @EstateTaxServicesPercentage , IndividualTaxServicesPercentage = @IndividualTaxServicesPercentage ,
			BookKeepPercentage = @BookKeepPercentage , AuditNonpublicClientsPercentage = @AuditNonpublicClientsPercentage , ReviewPercentage = @ReviewPercentage , CompilationPercentage= @CompilationPercentage ,
			AgreedUponProceduresPercentage = @AgreedUponProceduresPercentage , OtherAssurancePercentage = @OtherAssurancePercentage , LitigationSupportPercentage = @LitigationSupportPercentage ,
			OtherConsultingPercentage = @OtherConsultingPercentage , ManagementConsultingBusinessPlanningPercentage = @ManagementConsultingBusinessPlanningPercentage , ComputerRelatedServicesPercentage = @ComputerRelatedServicesPercentage ,
			BusinessValuationPercentage = @BusinessValuationPercentage , ForecastsProjectionsPercentage = @ForecastsProjectionsPercentage , MergersAndAcquisitionsPercentage = @MergersAndAcquisitionsPercentage ,
			BusinessManagementPercentage = @BusinessManagementPercentage , InvestmentFinancialPlanningPercentage = @InvestmentFinancialPlanningPercentage , SECWorkOtherThanAuditPercentage = @SECWorkOtherThanAuditPercentage ,
			GeneralBusinessAdvicePercentage = @GeneralBusinessAdvicePercentage , ErisaPensionPlansPercentage = @ErisaPensionPlansPercentage , TrusteeServicesPercentage = @TrusteeServicesPercentage , OtherPercentage = @OtherPercentage ,
			AuditPublicClientsPercentage = @AuditPublicClientsPercentage ,
			EmailLink=concat(@URL+'',@encryptedPolicyKey+'&requotePolicyEffectiveDate='+@encryptedEffectiveDate),isValidForRating=@FullyCompleted,
			EligibleForRequote=(select dbo.ValidatePolicyForRquoteLW_p(@PolicyKey,@AccountId,@StatusKey))
			
			where PolicyKey = @PolicyKey
				
			FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@EffectiveDate,@ContactName,@StatusKey,@AccountID			
		end
		CLOSE c1
		DEALLOCATE c1
		print 'goning to remove polcies'

Delete from #TempPolicyList where StatusKey=6 --and PolicyExpirationDate>GETDATE()+30
Delete from #TempPolicyList where EligibleForRequote='N'


create table #IsQuoteLetterSend
(
	PolicyKey varchar(700),
	IsQuoted varchar(1)
)

print 1
 
	--select * from #TempPolicyList where PolicyKey = 8109---------------------------------------------------------------------------------------------------
	INSERT INTO #IsQuoteLetterSend(PolicyKey, IsQuoted)
	SELECT PolicyKey, IsQuoted
--	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchive da WITH(NOLOCK)
			INNER JOIN #TempPolicyList t WITH(NOLOCK) ON t.VersionSequence = da.VersionSequence
			AND t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1


	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey


select * from #TempPolicyList where isValidForRating='Y'
-- and policykey=96517 
order by Policykey 

drop table #TempPolicyList
drop table #TempRevenue
drop table #Temp2
END











GO
