USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NameAddressPolicyExtensionEndorsementLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[NameAddressPolicyExtensionEndorsementLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NameAddressPolicyExtensionEndorsementLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[NameAddressPolicyExtensionEndorsementLW_p] AS' 
END
GO
--exec NameAddressPolicyExtensionEndorsementLW_p 127073, 127468, 127244, 3, null, '2022-01-08', '2010-12-01', null, null, 'Law Offices of Carlos Diaz-Cobo updated', '35 Court St.', 'Freehold', '07728-5676', 12, 'Address 2 updated', 'Y', 3, '2021-12-27 16:43:16.44', 'Y'
ALTER PROCEDURE [dbo].[NameAddressPolicyExtensionEndorsementLW_p]
(
@PolicyKey int,
@AccountKey INT,
@AddressKey INT,
@UserNo int,
@NameAddressEndorsementDate DATETIME,
@PriorActEndorsementDate DATETIME,
@PriorActEndorsementPriorActDate DATETIME,
@PolicyExtendEndorsementEffectiveDate DATETIME,
@policyExtendExpirationDate DATETIME,
@nameAddressEndorsementAccountName VARCHAR(500),
@NameAddressEndorsementAddress1 VARCHAR(500),
@NameAddressEndorsementCity  VARCHAR(500),
@nameAddressEndorsementZipCode VARCHAR(20),
@EndorsementType INT,
@NameAddressEndorsementAddress2 VARCHAR(500),
@premiumCalulated CHAR,
@LastUpdateUserID INT,
@LastUpdateTimeStamptemp VARCHAR(100),
@isEnforcedPolicy Char
)
as begin


DECLARE @AccountKey_INSERTed INT,@VersionKey_Inserted INT
DECLARE @AddressKey_INSERTed INT
DECLARE @VersionSequence_INSERTed INT
DECLARE @TransactionSequence_INSERTed INT
DECLARE @CoverageSequence_INSERTed INT
DECLARE @AgentName varchar(100)
DECLARE @PolicyEffectiveDate datetime
DECLARE @StatusKey INT
DECLARE @PolicyExpirationDate datetime
DECLARE @TransactionExpirationDate datetime
DECLARE @maxAccountID INT
DECLARE @QuoteNumber varchar(100)
DECLARE @AppCreatedDate datetime
DECLARE @IsFirmHaveLawyersLiabilityInsurance char(20)
DECLARE @EndorsementEffectiveDate DATETIME

DECLARE @AggregateDeductible INT
DECLARE @LimitSequencePross INT
DECLARE @DeductibleSequencePross INT

DECLARE @IsClaimExpensesType char(1)

DECLARE @IsFirmPracticeInOtherState char(1)
DECLARE @IsProfDefenceExpense char(1)
DECLARE @IsRenewed char
DECLARE @AccountID INT
DECLARE @VersionSequence INT

DECLARE @finilazedTransactionSequence INT
DECLARE @isFinancialEndorsement CHAR='N'
begin try
DECLARE @LastUpdateTimeStamp VARCHAR(100)
SET @LastUpdateTimeStamp=(select convert(varchar, getdate(), 120))

IF(@EndorsementType=11)
BEGIN
SET @EndorsementEffectiveDate=@NameAddressEndorsementDate
END
IF(@EndorsementType=12)
BEGIN
 SET @EndorsementEffectiveDate=@PriorActEndorsementDate
END
IF(@EndorsementType=13)
BEGIN
SET @EndorsementEffectiveDate=@PolicyExtendEndorsementEffectiveDate
END

SELECT @AgentName=AgentName FROM UserDetails WHERE UserNo=@UserNo
--getting policyeffectivedate
SELECT @PolicyEffectiveDate= PolicyEffectiveDate FROM Policy WHERE policykey=@PolicyKey

SELECT @PolicyExpirationDate=PolicyExpirationDate,@TransactionExpirationDate= PolicyExpirationDate FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and
TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)

IF(@EndorsementType=13)
BEGIN
SET @PolicyExpirationDate=@policyExtendExpirationDate
END

INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)
Select @PolicyKey,@LastUpdateUserID,getdate(),@LastUpdateUserID,getdate(),'I' 

select @VersionKey_Inserted=IDENT_CURRENT('Version')

Update Policy set VersionKey=@VersionKey_Inserted,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE policykey=@PolicyKey

SELECT @VersionSequence=max(versionsequence) FROM firmlw WHERE policykey=@PolicyKey
---Code paste below
INSERT INTO firmlw(ContactPerson,ContactPhone,IsFirmCarryingProfLiabilityIns,IsPolicyExcludesCoverage,LastUPDATEUserID,LastUPDATETimeStamp,IsQuickQuoteByEmail,
IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsClientTerminated,FirstReviewUserID,LicenseNumber,IsQuotePage,PolicyKey,
YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,IsFirmProvidedLegalServiceToSecurity,
IsFirmHaveClientMoreThan25PercentOfBilling,PercentFROMFirstLargestRevenueClient,PercentFROMSecondLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,IsFirmCoverageForPreceedorFirms,
IsFirmHaveEquityINTGrtThan10,IsFirmPersServedAsOfficerInJoINTVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,IsAttorneyNotCoveredByProfLiability,
IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,
AttorneyDeclineForProfLiabilityDates,AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,
BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,
IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaINTiffPage,IsRealEstatePage,IsFinancialInsPage,IsINTellectPropPage,IsCorporatePage,
IsFirmMergedWithOtherFirm,IsAopPage,IsPracticePage,IsCoveragePage,IsFirmPage,IsApplINTToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByInsured,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,
IsRetreivalMailSent,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,QuoteEffectiveDate,QuoteExpiryDate,IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,
CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,QuoteComment,IsQuickQuoteMailSent,IsLicenseNumberUPDATEd,IssuedDate,
IsRealEstateCommercialPage,IsRealEstateResidentialPage,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityINTerestINTitleInsurance,
IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,
DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,IsRenewed,IsComingFROMSubProducer,MarketingId,IsAttorneyAddedDeleted,IsRenewFirmPage,
Is9010Policy,GrossFeesPaidRenew,IsRenewalReview,RenewalReviewComments,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,
isComingFROMUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,
provideMoneyManagementServices,custodyOrControlFunds,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,disbursementTransaction,peopleToDisburseFunds,
instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,secondayContactPerson,isQuoteByEmail,isNewApp,isAppCompleted,AnnualRevenueSequence,
FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident,isPolicyExcludeCoverage,isPolicyExcludeCoverageDescription,UnderwriterComment,PricingStatus,isCyberCoverageRequired,
haveFraudSecurityAwarenessProgram,needCyberCoverage,completedPageCommemnt,VersionKey,CreatedDate,IsAOPChange,isCannibSuppPage)

SELECT ContactPerson,ContactPhone,IsFirmCarryingProfLiabilityIns,IsPolicyExcludesCoverage,@LastUpdateUserID,@LastUpdateTimeStamp,IsQuickQuoteByEmail,
IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsClientTerminated,FirstReviewUserID,LicenseNumber,IsQuotePage,PolicyKey,
YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,IsFirmProvidedLegalServiceToSecurity,
IsFirmHaveClientMoreThan25PercentOfBilling,PercentFROMFirstLargestRevenueClient,PercentFROMSecondLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,IsFirmCoverageForPreceedorFirms,
IsFirmHaveEquityINTGrtThan10,IsFirmPersServedAsOfficerInJoINTVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,IsAttorneyNotCoveredByProfLiability,
IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,
AttorneyDeclineForProfLiabilityDates,AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,
BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,
IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaINTiffPage,IsRealEstatePage,IsFinancialInsPage,IsINTellectPropPage,IsCorporatePage,
IsFirmMergedWithOtherFirm,IsAopPage,IsPracticePage,IsCoveragePage,IsFirmPage,IsApplINTToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByInsured,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,
IsRetreivalMailSent,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,QuoteEffectiveDate,QuoteExpiryDate,IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,
@LastUpdateUserID,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,QuoteComment,IsQuickQuoteMailSent,IsLicenseNumberUPDATEd,IssuedDate,
IsRealEstateCommercialPage,IsRealEstateResidentialPage,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityINTerestINTitleInsurance,
IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,
DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,IsRenewed,IsComingFROMSubProducer,MarketingId,IsAttorneyAddedDeleted,IsRenewFirmPage,
Is9010Policy,GrossFeesPaidRenew,IsRenewalReview,RenewalReviewComments,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,
isComingFROMUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,
provideMoneyManagementServices,custodyOrControlFunds,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,disbursementTransaction,peopleToDisburseFunds,
instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,secondayContactPerson,isQuoteByEmail,isNewApp,isAppCompleted,AnnualRevenueSequence,
FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident,isPolicyExcludeCoverage,isPolicyExcludeCoverageDescription,UnderwriterComment,PricingStatus,isCyberCoverageRequired,
haveFraudSecurityAwarenessProgram,needCyberCoverage,completedPageCommemnt,@VersionKey_Inserted,@LastUpdateTimeStamp,IsAOPChange,isCannibSuppPage
 FROM firmlw WHERE policykey=@PolicyKey and VersionSequence=@VersionSequence

--getting newly INSERTed versionsequence here
SELECT @VersionSequence_INSERTed=IDENT_CURRENT('FirmLW')

---Code ended Here
 SELECT  @finilazedTransactionSequence=pt.TransactionSequence FROM policytransaction pt inner join Quote q on pt.PolicyKey=q.Policykey and pt.TransactionSequence=q.TransactionSequence
	WHERE pt.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'


UPDATE policytransaction SET TransactionExpirationDate=@EndorsementEffectiveDate WHERE Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

INSERT INTO PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,StatusKey,VersionSequence,TotalPolicyModifierPercentage,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@AccountKey, @EndorsementEffectiveDate,@endorsementType,@PolicyExpirationDate,@PolicyExpirationDate,
ProducerCode,SubInsuranceCarrier,StatusKey,@VersionSequence_INSERTed,TotalPolicyModifierPercentage,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence = @finilazedTransactionSequence 


SELECT @TransactionSequence_INSERTed=IDENT_CURRENT('PolicyTransaction')

DECLARE @UnearnedPremium	 numeric(10,2), @UnearnedTax	numeric(10,2) , @totalUnearnedPremium numeric(10,2), @prorataPremium numeric(10,5), @TotalPremiumFirstRange numeric(17,2)
DECLARE @premiumVariation numeric(17,2), @taxVariation numeric(17,2),@EndorsementPremium numeric(17,2), @EndorsementTax numeric(17,2),@TotalEndorsementPremium numeric(17,2)
DECLARE @OldPolicyPremium  numeric(17,2),@OldTax  numeric(17,2)

select @OldPolicyPremium=TotalPremium,@OldTax=TotalPolicyTaxAmount from Policytransaction where Policykey=@Policykey and TransactionSequence=@finilazedTransactionSequence

SELECT @UnearnedPremium=CAST(UnearnedPremium AS DECIMAL(10, 2)),@UnearnedTax=CAST(UnearnedTax AS DECIMAL(10, 2)),
@totalUnearnedPremium=CAST(totalUnearnedPremium AS DECIMAL(10,2)),
@prorataPremium=ProRatePremium,@TotalPremiumFirstRange=TotalPremiumFirstRange,@PremiumVariation=PremiumVariation,@TaxVariation=TaxVariation
  FROM PremiumCalculationBuffer WHERE Policykey=@PolicyKey
if(@PremiumVariation is null)
set @PremiumVariation=0
if(@TaxVariation is null)
set @TaxVariation=0

Set @EndorsementPremium=@OldPolicyPremium+(@premiumVariation)
SET @EndorsementTax=@OldTax+(@taxVariation)
Set @TotalEndorsementPremium=@EndorsementPremium+@EndorsementTax

if(@EndorsementPremium is null)
set @EndorsementPremium=0
if(@EndorsementTax is null)
set @EndorsementTax=0
if(@TotalEndorsementPremium is null)
set @TotalEndorsementPremium=0

INSERT INTO PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,ClassCode,
TotalCovModifierPercentage,OccuranceLimit,IsClaimOptionType,IsClaimExpensesType,AggregateLimit,OccuranceDeductible,AggregateDeductible,IsDollarDefense,Premium,TotalCoverageTaxAmount,InitialCovPremium,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate )
SELECT @PolicyKey,@TransactionSequence_INSERTed,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,ClassCode,
TotalCovModifierPercentage,OccuranceLimit,IsClaimOptionType,IsClaimExpensesType,AggregateLimit,OccuranceDeductible,AggregateDeductible,IsDollarDefense,Premium,TotalCoverageTaxAmount,InitialCovPremium ,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp
FROM PolicyCoverage WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

SELECT @CoverageSequence_INSERTed=IDENT_CURRENT('PolicyCoverage')
IF(@isEnforcedPolicy='Y')
BEGIN

		IF(( @EndorsementType=12 AND @premiumCalulated='Y') OR @EndorsementType=13)
		BEGIN

			SET @isFinancialEndorsement='Y'

				UPDATE PolicyTransaction SET TotalPremium= @EndorsementPremium,TotalPolicyTaxAmount= @EndorsementTax,InvoicedPremium=@TotalEndorsementPremium  
						,LastUPDATETimeStamp=@LastUpdateTimeStamp,LastUPDATEUserID=@LastUpdateUserID
				WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_INSERTed

				UPDATE PolicyCoverage SET Premium=@TotalEndorsementPremium,TotalCoverageTaxAmount=@EndorsementTax,
				InitialCovPremium=@EndorsementPremium,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID

				WHERE CoverageSequence=@CoverageSequence_INSERTed and TransactionSequence=@TransactionSequence_INSERTed and PolicyKey=@PolicyKey


				INSERT  INTO ClaimAgeLWEndorsement(PolicyKey,VersionSequence,Year,PartTime,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
				 Select PolicyKey,@VersionSequence,Year,PartTime,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp From ClaimAgeLW Where PolicyKey=@PolicyKey

				UPDATE ClaimAgeLWEndorsement Set VersionSequence=@VersionSequence_INSERTed,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where VersionSequence is null and PolicyKey=@PolicyKey

				Delete from ClaimAgeLW where PolicyKey=@PolicyKey
				insert into ClaimAgeLW(PolicyKey,Year,PartTime,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate) Select PolicyKey,Year,PartTime,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp from ClaimAgeLWEndorsement where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence_INSERTed

		END

--updating from component
--Commenting now--

		INSERT INTO Quote (PolicyKey,TransactionSequence,IsQuoteSELECTed,IsFirstQuote,IsMinimumPremium,TotalPremiumFirstRange,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)
		SELECT @PolicyKey,@TransactionSequence_INSERTed,'Y','N','N',TotalPremiumFirstRange,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp 
		FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

		INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,isFinancialEndirsement,LastUpdateTimeStamp,LastUpdateUserID,TransactionTypeKey,EndorsementIssuedDate,PremiumVariation,TaxVariation,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@isFinancialEndorsement,@LastUpdateTimeStamp,@LastUpdateUserID,@EndorsementType,@LastUpdateTimeStamp,@PremiumVariation,@TaxVariation,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

		UPDATE quote SET IsThisOptionFinalised=null,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence
		UPDATE quote SET IsThisOptionFinalised='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed
END
Else
	BEGIN
		INSERT INTO Quote (PolicyKey,TransactionSequence,IsQuoteSELECTed,IsFirstQuote,IsMinimumPremium,TotalPremiumFirstRange,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)
		SELECT @PolicyKey,@TransactionSequence_INSERTed,'Y','N','N',TotalPremiumFirstRange,LastUpdateTimeStamp,LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp
		 FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

		INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@LastUpdateTimeStamp,@LastUpdateUserID,@isFinancialEndorsement,@LastUpdateTimeStamp,@endorsementType,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

		UPDATE quote SET IsThisOptionFinalised=null,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID  WHERE PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence
		UPDATE quote SET IsThisOptionFinalised='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID  WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed
END


IF(@EndorsementType=11)
BEGIN

	SELECT @maxAccountID = AccountID  FROM Account WHERE AccountKey= @AccountKey

	--@ VARCHAR(20),
	UPDATE Account SET AccountName=@nameAddressEndorsementAccountName WHERE AccountKey=@AccountKey
	UPDATE Address SET Street=@NameAddressEndorsementAddress1,Address1=@NameAddressEndorsementAddress1,Address2=@NameAddressEndorsementAddress2,City=@NameAddressEndorsementCity,Zip=SUBSTRING(@nameAddressEndorsementZipCode,0,6),Zip4=SUBSTRING(@nameAddressEndorsementZipCode,7,10) where AddressKey=@AddressKey

	INSERT INTO NameAddressEndorsement(PolicyKey,Versionsequence,AccountKey,AddressKey,AccountName,WebSite,AccountEmail,LoginID,secondaryEmail,Address1,Address2,
	City,StateCode,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,LastUpdateTimeStamp,LastUpdateUserId,VersionKey,CreatedBy,CreatedDate)

	select @PolicyKey,@VersionSequence_INSERTed,@AccountKey,@AddressKey,ac.AccountName,ac.Website,ac.AccountEmail,ac.LoginID,ac.secondaryEmail,addr.Address1,addr.Address2,
	addr.City,addr.StateCode,addr.Zip,addr.Zip4, addr.HomePhone,addr.WorkPhone,addr.WorkExt,addr.MobilePhone,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
	from Account ac inner join AccountAddress aa on aa.AccountKey=ac.AccountKey inner join Address addr on addr.AddressKey=aa.AddressKey where ac.AccountKey=@AccountKey 
	
	UPDATE quote SET IsThisOptionFinalised='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID  WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed
	
	INSERT INTO RatingTrace (PolicyKey,TransactionSequence,XmlInputDatatoRating,XmlOutputDatafromRating,RatingDate,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)
	SELECT @PolicyKey,@TransactionSequence_INSERTed,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateTimeStamp,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp FROM RatingTrace WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence
END

--------------------------------------------------------------

UPDATE PremiumCalculationBuffer 
 set OldInvoicedPremium=(SELECT Invoicedpremium from policytransaction where Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence),
 PreviousfinilazedTransactionSequence=@finilazedTransactionSequence,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
 where Policykey=@PolicyKey
----------------------------------------------------------------------
--Now Commented
		
		DECLARE	@IsClaimOptionType VARCHAR(5),@IsClaimExpenseType VARCHAR(5),@AggregateLimit INT, @OccuranceLimit INT
		DECLARE @DeductibleAmount INT,@IsDollarDefense VARCHAR(5)

		SELECT @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType , @IsProfDefenceExpense=pc.IsDollarDefense FROM Quote q, PolicyCoverage pc 
        WHERE pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

        SELECT @LimitSequencePross=LimitSequence FROM Limits WHERE AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
        SELECT @DeductibleSequencePross = DeductibleSequence FROM Deductibles WHERE AggregateDeductible=@AggregateDeductible and CoverageKey=3
              
        INSERT INTO ProfessionalLiabilityInsDetailLW (LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,VersionSequence,IsPriorActDateFull,FirmYear,InsuranceCompanyNamePross,LimitSequencePross,PolicyKey,DeductibleSequencePross,LastUpdateUserID,LastUpdateTimeStamp,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate
		)
        SELECT LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,@VersionSequence_INSERTed,IsPriorActDateFull,
		FirmYear,InsuranceCompanyNamePross,LimitSequencePross,PolicyKey,DeductibleSequencePross,LastUpdateUserID,LastUpdateTimeStamp,IsProfDefenceExpense,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 FROM ProfessionalLiabilityInsDetailLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
              
        UPDATE FirmLW SET IsPolicyIncludeLateralHireCov = 'N',IsPolicyExcludesCoverage='N',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey = @PolicyKey and VersionSequence = @VersionSequence_INSERTed

  IF(@EndorsementType=12)
	BEGIN
		UPDATE ProfessionalLiabilityInsDetailLW set PriorActDatePross=@PriorActEndorsementPriorActDate,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey = @PolicyKey and VersionSequence = @VersionSequence_INSERTed

	END   
	  
INSERT INTO RatingTrace (PolicyKey,TransactionSequence,XmlInputDatatoRating,XmlOutputDatafromRating,RatingDate,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate	)
SELECT @PolicyKey,@TransactionSequence_INSERTed,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateTimeStamp,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp FROM PremiumCalculationBuffer WHERE PolicyKey = @PolicyKey 

---------------------------------------------
INSERT INTO AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOPKey,PercentageValue,AOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfPracticeLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------------------
INSERT INTO AttorneyDetailsLW(PolicyKey,VersionSequence,AttorneyName,LicensedStates,AnnualWorkedHours,
       NumberOfYearsInPractice,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,LastUPDATEUserID,
              LastUPDATETimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,PriorActDateAttorneysNew,isAttorneyEndorsed,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,AttorneyName,LicensedStates,AnnualWorkedHours,
              NumberOfYearsInPractice + 1,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
       @LastUpdateUserID,@LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,AttorneyPriorActDate,isAttorneyEndorsed,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp FROM AttorneyDetailsLW
              WHERE PolicyKey=@PolicyKey and VersionSequence= @VersionSequence



-----------------------------------------------------------------------------------------------

-----------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
INSERT INTO FirmInitLawsuitsLW(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
       IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUPDATEUserID,
              LastUPDATETimeStamp,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
              IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,
              @LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp FROM FirmInitLawsuitsLW
              WHERE  PolicyKey=@PolicyKey and VersionSequence= @VersionSequence

------------------------------------------------------------------------------------------------

--Bankruptc case details------------

INSERT INTO BankruptcyCasesDetailsLW (bankruptcyKey,Debtor,Creditor,Trustee,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT bankruptcyKey,Debtor,Creditor,Trustee,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM BankruptcyCasesDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--------------------------------------------------------------
---------------BankruptcyDetailsLW-------

INSERT INTO BankruptcyDetailsLW (PolicyKey,VersionSequence,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM BankruptcyDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------CollectionSupplement DAta---------------------------------------------------------------------------


INSERT INTO collectionsSuplimentDetailsLW(PolicyKey,VersionSequence,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM collectionsSuplimentDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------copyright trademark DAta---------------------------------------------------------------------------

INSERT INTO  CopyRightTrademarkDetailsLW(PolicyKey,VersionSequence,otherServices,otherServicesDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,otherServices,otherServicesDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM CopyRightTrademarkDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------Family Supplement data---------------------------------------------------------------------------

INSERT INTO  FamilyLawDetailsLW (PolicyKey,VersionSequence,FLAOPKey,PercentageValue,FLAOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,FLAOPKey,PercentageValue,FLAOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM FamilyLawDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------Financial Supplement data---------------------------------------------------------------------------
INSERT INTO FinancialInstitutionDetailsLW(PolicyKey,VersionSequence,equityINTerest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT  @PolicyKey,@VersionSequence_INSERTed,equityINTerest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM FinancialInstitutionDetailsLW  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


-----------------------------------Government Supplement data---------------------------------------------------------------------------
INSERT INTO GovernmentServicesDetails(ServiceName,ServicesProvided,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT ServiceName,ServicesProvided, @PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM GovernmentServicesDetails WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO   GovernmentSupplementDetailsLW	(providingBondWork,eminentDomainServices,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT providingBondWork,eminentDomainServices,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM  GovernmentSupplementDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

----------------------------------Copy ProdecessorFirmLW data----------------------------------
 INSERT INTO ProdecessorFirmLW(PolicyKey,VersionSequence,IsERPPurchased,FirmName,TypeOfEntity,
       DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,LastUPDATEUserID,
              LastUPDATETimeStamp,ERPExpDate,DateOfAcquisation,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,IsERPPurchased,FirmName,TypeOfEntity,
              DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
              LastUPDATEUserID,LastUPDATETimeStamp,ERPExpDate,DateOfAcquisation,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM ProdecessorFirmLW
              WHERE PolicyKey=@PolicyKey

---------------------------------------------------------------------------------------------

----------------------------------------Copying RealEstate Supplements Data-----------------------------------------------------------

INSERT INTO AreaOfPracticeRealEstateLW (PolicyKey,VersionSequence,AOPREKey,PercentageValue,AOPRECommentDesc,CommercialPercentageValue,AOPRECommCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOPREKey,PercentageValue,AOPRECommentDesc ,CommercialPercentageValue,AOPRECommCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfPracticeRealEstateLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO RealEastateDetailsLW (transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM	RealEastateDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------------------------Copying PlaINTiff Supplements Data---------------------------
INSERT INTO PlantiffSuppLW (PolicyKey,VersionSequence,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFROMOtherFirms,IsSETtlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUPDATEUserID,LastUPDATETimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByINTernet,
PerOfCasesSETtledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio ,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFROMOtherFirms,IsSETtlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUPDATEUserID,LastUPDATETimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByINTernet,
PerOfCasesSETtledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM PlantiffSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

 INSERT INTO AttorneyInPlaINTiffForFirmLW(PolicyKey,VersionSequence,PlaINTiffAttorneyName,PlaINTiffYrsExp,
              PlaINTiffPecOfTimeDev,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,PlaINTiffAttorneyName,PlaINTiffYrsExp,
              PlaINTiffPecOfTimeDev,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
			   FROM AttorneyInPlaINTiffForFirmLW
              WHERE  PolicyKey=@PolicyKey

INSERT INTO AreaOfLitigationForFirmLW (PolicyKey,VersionSequence,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfLitigationForFirmLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------Copying WIllsEstate Supplements Data--------------------------------------------------------
INSERT INTO WillsEstateServicesLW (PolicyKey,VersionSequence,WESKey,CheckedValue,WESCommentDesc,PercentageValue,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,WESKey,CheckedValue,WESCommentDesc ,PercentageValue,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillsEstateServicesLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO WillsTrustsEstateSuppLW (PolicyKey,VersionSequence,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUPDATEUserID,LastUPDATETimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFROMBank,IsApplCarryEmployeeDishonestyCoverage
,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUPDATEUserID,LastUPDATETimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFROMBank,IsApplCarryEmployeeDishonestyCoverage,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillsTrustsEstateSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO WillSTrustEstateLargestTrustsDetails (PolicyKey,VersionSequence,TrustName,TrustsType,AsSETsValue,BeneficiaryINTerest,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,TrustName,TrustsType,AsSETsValue,BeneficiaryINTerest,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillSTrustEstateLargestTrustsDetails  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
----------------------------------TAX Supplement Data--------------------------------------------------------------

INSERT INTO TaxSuppDetailsLW (TaxAOPKey,TaxAopDesc,revenuePercentage,PolicyKey,VersionSequence,TaxCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT TaxAOPKey,TaxAopDesc,revenuePercentage,@PolicyKey,@VersionSequence_INSERTed,TaxCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM TaxSuppDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------Populate Coverage Modifiers--------------------------
IF(@StatusKey=8)
BEGIN
INSERT INTO CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUPDATETimeStamp,LastUPDATEUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence)
SELECT @PolicyKey,Comment,@CoverageSequence_INSERTed,GETDATE(),@UserNo,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_INSERTed FROM CoverageModifiers WHERE PolicyKey = @PolicyKey and TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)  

END
end try
begin catch
prINT error_message()

rollback 
end catch
end
















GO
