USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDropDownDataForWorkQLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDropDownDataForWorkQLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDropDownDataForWorkQLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDropDownDataForWorkQLW_p] AS' 
END
GO
--exec [dbo].[GetDropDownDataForWorkQLW_p] 'helbert', 'AccountNamesearch',null
--exec [dbo].[GetDropDownDataForWorkQLW_p] 'k c  H ','AccountNamesearch',null
 
ALTER PROCEDURE [dbo].[GetDropDownDataForWorkQLW_p]
(
	@SEARCHVALUE VARCHAR(100),
	@SEARCHTYPE VARCHAR(100),
	@PRODUCERCODE VARCHAR(100)
)
AS
BEGIN
	Declare @IsSpecialChar VARCHAR(1)='N'
	Declare @IsSpecialCharIndex int=0

	CREATE TABLE #TEMP (
		ID INT IDENTITY(1,1),
		WQQuoteNumberSearch VARCHAR(100),
		WQPolicyNumberSearch VARCHAR(100),
		WQEmailSearch VARCHAR(100),
		AccountNamesearch VARCHAR(100),
	)
	if(@SEARCHTYPE = 'WQQuoteNumberSearch')
	BEGIN
		IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
		BEGIN
			INSERT INTO #TEMP (WQQuoteNumberSearch) SELECT DISTINCT TOP 10 QUOTENUMBER FROM POLICY WITH(NOLOCK) WHERE 
			QUOTENUMBER LIKE @SEARCHVALUE + '%' AND ISUNCOMPLETEDDATA != 'Y' AND MARKETABLEPRODUCTKEY=2 ORDER BY QUOTENUMBER ASC
		END
		ELSE
		BEGIN
			INSERT INTO #TEMP (WQQuoteNumberSearch) SELECT DISTINCT TOP 10 QUOTENUMBER FROM POLICY P WITH(NOLOCK) INNER JOIN POLICYTRANSACTION PT WITH(NOLOCK) ON P.POLICYKEY=PT.POLICYKEY 
			WHERE P.QUOTENUMBER LIKE @SEARCHVALUE + '%' AND P.ISUNCOMPLETEDDATA!='Y' AND PT.PRODUCERCODE = @PRODUCERCODE 
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY QUOTENUMBER ASC
		END
		select WQQuoteNumberSearch from #TEMP
	END
	
	if(@SEARCHTYPE = 'WQPolicyNumberSearch')
	BEGIN
		IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
		BEGIN
			INSERT INTO #TEMP (WQPolicyNumberSearch) SELECT DISTINCT TOP 10 POLICYNUMBER FROM POLICY WITH(NOLOCK) WHERE 
			POLICYNUMBER LIKE @SEARCHVALUE + '%' AND ISUNCOMPLETEDDATA != 'Y' AND MARKETABLEPRODUCTKEY=2 ORDER BY POLICYNUMBER ASC
		END
		ELSE
		BEGIN
			INSERT INTO #TEMP (WQPolicyNumberSearch) SELECT DISTINCT TOP 10 POLICYNUMBER FROM POLICY P WITH(NOLOCK) INNER JOIN POLICYTRANSACTION PT WITH(NOLOCK) ON P.POLICYKEY=PT.POLICYKEY 
			WHERE P.POLICYNUMBER LIKE @SEARCHVALUE + '%' AND P.ISUNCOMPLETEDDATA!='Y' AND PT.PRODUCERCODE = @PRODUCERCODE 
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY POLICYNUMBER ASC
		END
		select WQPolicyNumberSearch from #TEMP
	END
	
	if(@SEARCHTYPE = 'WQEmailSearch' or @SEARCHTYPE = 'AccountEmailSearch')
	BEGIN
		IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
		BEGIN
			INSERT INTO #TEMP (WQEmailSearch) SELECT DISTINCT TOP 10 AA.ACCOUNTEMAIL FROM ACCOUNT AA WITH(NOLOCK), POLICY P WITH(NOLOCK) WHERE 
			AA.ACCOUNTEMAIL LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID 
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY ACCOUNTEMAIL ASC
		END
		ELSE
		BEGIN
			INSERT INTO #TEMP (WQEmailSearch) SELECT DISTINCT TOP 10 AA.ACCOUNTEMAIL 
			FROM ACCOUNT AA WITH(NOLOCK) INNER JOIN POLICY P WITH(NOLOCK) ON P.ACCOUNTID=AA.ACCOUNTID INNER JOIN POLICYTRANSACTION PT WITH(NOLOCK) ON P.POLICYKEY=PT.POLICYKEY 
			WHERE AA.ACCOUNTEMAIL LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID AND PT.PRODUCERCODE=@PRODUCERCODE 
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY ACCOUNTEMAIL ASC
		END
		
		if(@SEARCHTYPE = 'WQEmailSearch')
		BEGIN
			select WQEmailSearch from #TEMP
		END
		if(@SEARCHTYPE = 'AccountEmailSearch')
		BEGIN
			select WQEmailSearch as AccountEmailSearch from #TEMP
		END
	END
	
	if(@SEARCHTYPE = 'AccountNamesearch' or @SEARCHTYPE = 'AccountNameSearchMA')
	BEGIN
	DECLARE @SEARCHTYPENew VARCHAR(1000)=@SEARCHVALUE
	DECLARE @SearchTemp		VARCHAR(1000)
	set @SearchTemp=@SEARCHTYPENew+'%'
		Set @SEARCHVALUE = dbo.[removeSpecialCharacter] (@SEARCHVALUE)
		Set @SEARCHVALUE = replace(@SEARCHVALUE, ' ','%')
		Print @SEARCHVALUE
		IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
		BEGIN

			INSERT INTO #TEMP (AccountNamesearch) SELECT DISTINCT top 5 AA.ACCOUNTNAME FROM ACCOUNT AA WITH(NOLOCK), POLICY P  WITH(NOLOCK)
			WHERE AA.AccountName like  @SearchTemp AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID 
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY ACCOUNTNAME ASC
			
			INSERT INTO #TEMP (AccountNamesearch) SELECT DISTINCT TOP 20 AA.ACCOUNTNAME FROM ACCOUNT AA WITH(NOLOCK), POLICY P WITH(NOLOCK)
			WHERE dbo.[removeSpecialCharacter] (AA.AccountName) LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END 
			AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID and  AA.AccountName<> @SEARCHTYPENew
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY ACCOUNTNAME ASC
		END
		ELSE
		BEGIN

			INSERT INTO #TEMP (AccountNamesearch) SELECT DISTINCT top 5 AA.ACCOUNTNAME 
			FROM ACCOUNT AA WITH(NOLOCK) INNER JOIN POLICY P WITH(NOLOCK) ON P.ACCOUNTID=AA.ACCOUNTID INNER JOIN POLICYTRANSACTION PT WITH(NOLOCK) ON P.POLICYKEY=PT.POLICYKEY 
			WHERE AA.AccountName like @SearchTemp	AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID AND PT.PRODUCERCODE=@PRODUCERCODE 
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY ACCOUNTNAME ASC

			INSERT INTO #TEMP (AccountNamesearch) SELECT DISTINCT TOP 20 AA.ACCOUNTNAME 
			FROM ACCOUNT AA WITH(NOLOCK) INNER JOIN POLICY P WITH(NOLOCK) ON P.ACCOUNTID=AA.ACCOUNTID INNER JOIN POLICYTRANSACTION PT WITH(NOLOCK) ON P.POLICYKEY=PT.POLICYKEY 
			WHERE dbo.[removeSpecialCharacter] (AA.AccountName) LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END 
			AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID AND PT.PRODUCERCODE=@PRODUCERCODE and  AA.AccountName<> @SEARCHTYPENew
			AND P.MARKETABLEPRODUCTKEY=2 ORDER BY ACCOUNTNAME ASC
		END
		if(@SEARCHTYPE = 'AccountNamesearch')
		BEGIN
			select distinct AccountNamesearch from #TEMP order by AccountNamesearch 
		END
		if(@SEARCHTYPE = 'AccountNameSearchMA')
		BEGIN
			select  distinct AccountNamesearch as AccountNameSearch from #TEMP order by AccountNamesearch 
		END
	END
	DROP TABLE #TEMP;

END
GO
