USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_CorporateCommercialSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_CorporateCommercialSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_CorporateCommercialSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_CorporateCommercialSupplement_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_CorporateCommercialSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	DECLARE @OtherLegalCorporateServices CHAR,@PubliclyRenderedServices CHAR,@LegalBusinessRelationshipServices CHAR,@AuthorityToDisburseFunds CHAR,@AcceptCompensation CHAR,@LegalServicesSecuritiesPayment CHAR,@PerformDueDiligence CHAR,@LegalServicesBankruptLiquidation CHAR
	select @OtherLegalCorporateServices=OtherLegalCorporateServices,@PubliclyRenderedServices=PubliclyRenderedServices,@LegalBusinessRelationshipServices=LegalBusinessRelationshipServices,@AuthorityToDisburseFunds=AuthorityToDisburseFunds,
	@AcceptCompensation=AcceptCompensation,@LegalServicesSecuritiesPayment=LegalServicesSecuritiesPayment,@PerformDueDiligence=PerformDueDiligence,@LegalServicesBankruptLiquidation=LegalServicesBankruptLiquidation
	 from CorporateCommBusineesSupplementLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence

	set @rule_id='OtherLegalCorporateServicesRule_Lawyers'
	if(@OtherLegalCorporateServices='Y')
		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Review corporate services that are being provided.','Review corporate services that are being provided.',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	set @rule_id='PubliclyRenderedServicesRule_Lawyers'
	if(@PubliclyRenderedServices='Y')
		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Providing services to publicly traded companies - Decline','Firms providing services to publicly traded companies are outside of our underwriting appetite.',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	set @rule_id='RegardToCorporateClientsRule_Lawyers'
	if(@LegalBusinessRelationshipServices='Y' OR @AuthorityToDisburseFunds='Y' OR  @AcceptCompensation='Y' OR @LegalServicesSecuritiesPayment='Y'  OR @PerformDueDiligence='Y')
		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm Corporate commercial practices outside of the common compensation or relationship practices.','Ask for additional information on the items where they answered yes, when it happened, how often and with what client.',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	set @rule_id='LegalServicesBankruptLiquidationRule_Lawyers'
	if(@LegalServicesBankruptLiquidation='Y')
		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Insolvent client in the past 2 years.','Ask for additional information on client, name, amount, and current status.',@LastUpdateUserID
	else
		exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	--IF(@PolicyStatusKey=1)
	--BEGIN
	--	print 'NB flow'
		
		
	
			
	
	--END

	--IF(@PolicyStatusKey=2)
	--BEGIN
	--		print 'Renewa Flow'
	--	select @otherServicesPrior=otherServices from CopyRightTrademarkDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
	--END
END



GO
