USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanPastClaimPageDataAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CleanPastClaimPageDataAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanPastClaimPageDataAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CleanPastClaimPageDataAcc_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[CleanPastClaimPageDataAcc_p]
( 
@PolicyKey INT,
@IsAnyRegulatoryInquiry CHAR,
@IsAwarenessOfAnyProfLiability CHAR,
@IsAwarenessOfAnyProfLiabilitySuitAgainst CHAR,
@IsFirmDeclinedOtherthanNonPayment CHAR
)
AS
BEGIN
DECLARE @PolicyStatusKey INT
DECLARE @VersionSequence INT
SET @PolicyStatusKey=(SELECT PolicyStatusKey From Policy Where PolicyKey=@PolicyKey)
SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FIRM Where Policykey=@PolicyKey)
	
		IF(@IsAnyRegulatoryInquiry IS NOT NULL AND @IsAnyRegulatoryInquiry='N')
			BEGIN
				UPDATE FIRM SET RegulatoryInquiryExaplain=NULL,RegulatoryInquiryComment=NULL WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END
		IF(@IsFirmDeclinedOtherthanNonPayment IS NOT NULL AND @IsFirmDeclinedOtherthanNonPayment='N')
			BEGIN
				UPDATE FIRM SET ReasonForDecline=NULL,ReasonForDeclineComment=NULL WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END
		IF(@IsAwarenessOfAnyProfLiability='N' AND @IsAwarenessOfAnyProfLiabilitySuitAgainst='N')
		BEGIN
			DELETE FROM ClaimIncidentSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
		
END

GO
