USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_BankruptcySupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_BankruptcySupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_BankruptcySupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_BankruptcySupplement_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_BankruptcySupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,	@AccountName varchar(100),	@Address1 VARCHAR(100),	@PolicyEffectiveDate DateTime,@previousPolicyKey INT,@previousVersionSequence INT
	DECLARE @representedDebtors CHAR,@preBankruptcyServices CHAR,@representedDebtorsPrior CHAR,@preBankruptcyServicesPrior CHAR,@disclosureStatementExplaining CHAR,@disclosureStatementExplainingPrior CHAR,@conspicuousStatement CHAR,@conspicuousStatementPrior CHAR

	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	select @representedDebtors=representedDebtors,@preBankruptcyServices=preBankruptcyServices,@disclosureStatementExplaining=disclosureStatementExplaining,@conspicuousStatement=conspicuousStatement
	from BankruptcyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='RepresentedDebtors_Lawyers'
		if(@representedDebtors='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Bankruptcy case with debt above $10M.','Over the last three years, what are the values of the three largest bankruptcy cases the firm has handled?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
		set @rule_id='PreBankruptcyServices_Lawyers'
		if(@preBankruptcyServices='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Connection with thrid party that provides debt relief or consolidation.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
		set @rule_id='BankruptcyDisclosureStatementExplaining_Lawyers'
		if( @disclosureStatementExplaining='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Bankruptcy - Firm does not have uniform disclosure statement.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='BankruptcyConspicuousStatement_Lawyers'
		if(@conspicuousStatement='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm does not have conspicuous statement.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
			select @representedDebtorsPrior=representedDebtors,@preBankruptcyServicesPrior=preBankruptcyServices,@disclosureStatementExplainingPrior=disclosureStatementExplaining,@conspicuousStatementPrior=conspicuousStatement 
		from BankruptcyDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence

		set @rule_id='RepresentedDebtorsRenewal_Lawyers'
		if(@representedDebtors='Y' and @representedDebtorsPrior='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Bankruptcy case with debt above $10M.','Over the last three years, what are the values of the three largest bankruptcy cases the firm has handled?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
		set @rule_id='PreBankruptcyServicesRenewal_Lawyers'
		if(@preBankruptcyServices='Y' and @preBankruptcyServicesPrior='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Connection with thrid party that provides debt relief or consolidation.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='BankruptcyDisclosureStatementExplainingRenewal_Lawyers'
		if((@disclosureStatementExplainingPrior is null or @disclosureStatementExplainingPrior='Y') and @disclosureStatementExplaining='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Bankruptcy - Firm does not have uniform disclosure statement.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='BankruptcyConspicuousStatementRenewal_Lawyers'
		if((@conspicuousStatementPrior is null or @conspicuousStatementPrior='Y') and @conspicuousStatement='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Bankruptcy - Firm does not have conspicuous statement.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
	END
END



GO
