USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FamilyLawSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_FamilyLawSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FamilyLawSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_FamilyLawSupplement_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_FamilyLawSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	DECLARE @assistedReproductiveTechnologyPercentage INT,@surrogacyPercentage INT,@DivorceAssetsOver5M INT,@OtherPercentage INT
	DECLARE @assistedReproductiveTechnologyPercentagePrior INT,@surrogacyPercentagePrior INT,@DivorceAssetsOver5MPrior INT,@OtherPercentagePrior INT,@OtherDesc VARCHAR,@OtherDescPrior VARCHAR
	SET @assistedReproductiveTechnologyPercentage=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=2 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
	SET @surrogacyPercentage=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=6 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
	SET @DivorceAssetsOver5M=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=5 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
	SET @OtherPercentage=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=7 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
	SET @OtherDesc=(select FLAOPCommentDesc from FamilyLawDetailsLW where FLAOPKey=7 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence )
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='validateFamilyLaw_Lawyers'
		if(@assistedReproductiveTechnologyPercentage>0 or @surrogacyPercentage>0 or @DivorceAssetsOver5M>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Applicant practices in higher risk area(s) of family law.','If applicant has Divorce over 5M, please provide number of divorce engagements over $5M. Please also provide the three highest divorce cases in the past three years.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='validateFamilyLawOtherAOP_Lawyers'
		if(@OtherPercentage>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Review other on the Family Law Supplement.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
	
			
	
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
			SET @assistedReproductiveTechnologyPercentagePrior=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=2 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence)
			SET @surrogacyPercentagePrior=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=6 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence)
			SET @DivorceAssetsOver5MPrior=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=5 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence)
			SET @OtherPercentagePrior=(select PercentageValue from FamilyLawDetailsLW where FLAOPKey=7 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence )
			SET @OtherDescPrior=(select FLAOPCommentDesc from FamilyLawDetailsLW where FLAOPKey=7 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence )
		set @rule_id='validateAssistedReproductiveTechnologyRenewalRule_Lawyers'
		if(@assistedReproductiveTechnologyPercentagePrior=0 and @assistedReproductiveTechnologyPercentage>0 )
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Applicant practices in higher risk area(s) of family law.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='validateSurrogacyRenewalRule_Lawyers'
		if(@surrogacyPercentagePrior=0 and @surrogacyPercentage>0 )
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Applicant practices in higher risk area(s) of family law.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='validateDivorceAssetsOver5MRenewalRule_Lawyers'
		if(@surrogacyPercentagePrior=0 and @surrogacyPercentage>0 )
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Applicant practices in higher risk area(s) of family law.','If applicant has Divorce over 5M, please provide number of divorce engagements over $5M. Please also provide the three highest divorce cases in the past three years.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='validateFamilyLawOtherAOPRenewalRule_Lawyers'
		if(@OtherPercentage<>@OtherPercentagePrior or @OtherDesc<>@OtherDescPrior)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Review other on the Family Law Supplement.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END




GO
