USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountHistory_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccountHistory_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountHistory_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccountHistory_Proc] AS' 
END
GO
--exec SearchAccountHistory_Proc 37195,'3'
ALTER PROCEDURE [dbo].[SearchAccountHistory_Proc] 
	@AccountID varchar(50), 
	@role_id varchar(2)

	   
   
 AS BEGIN

declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)

CREATE TABLE #TempPolicyList (
	[SN] [INT] IDENTITY(1,1),
    [PolicyKey] [int] ,
	[PolicyEffectiveDate] [datetime] ,	
	[PolicyNumber] [varchar](100) ,	
	[isUncompletedData] [char](1) ,
	[QuoteNumber] [varchar](20) ,
	[IsFullQuote] [char](1) ,
	[IsQuickQuote] [char](1) ,
	[IsBasicPage] [char](1),
	[IsGeneralPage] [char](1) ,
	[IsSupplementPage] [char](1) ,	
	[IsAttesationPage] [char](1) ,
	[IsComputerServicePage] [char](1) ,
	[IsBusinessFundPage] [char](1) ,
	[IsPracriceMangPage] [char](1) ,	
	[FirstReviewUserID] [varchar](100) ,
	[AccountKey] [int] ,
	[AddressKey] [int] ,
	[AccountID] [int] ,
	[AccountName] [varchar](100) ,
	[Address1] [varchar](100) ,
	[StateCode] [varchar](20),
	[StateDesc] [varchar](50),
	[TransactionSequence] [int] ,
	[VersionSequence] [int] ,
	[CoverageSequence] [int] ,
	[PolicyExpirationDate] [datetime] ,
	[Premium] [varchar](25) ,
	[StatusDesc] [varchar](100),
	[StatusKey] [int] ,
	[PolicyStatusKey] [int] ,
	[TransactionTypeKey] [int] ,
	[UserNo] [int] ,
	[AgentName] [varchar](50),
	[FullQuick] [varchar](50),
	[AppDays] int,
	[QuoteSelectedNo] int,
	[ManualQuoteSelectedNo] int,
	[ManualQuoteFinalisedNo] int,
	[IsQuickQuotePage] [char](1),
	[AppCreatedDate] [datetime],
	[RatingTraceSequence] int,
	[IsDollarDefense] [char] (1),
	[MarketableProductKey] int,
	[CoverageKey] int,
	[IsViewed] char(1),
	[CountyDesc] [varchar](50),
	[IsInsuredViewed] char(1),
	[IsRenewed] char(1),
	[CreatedType] varchar(50) ,
	isBrokerPolicy CHAR DEFAULT 'N'  ,
	BrokeragePolicyKey INT ,
	DecendentPolicyKey INT ,
	isRenewAsBrokerage CHAR ,
	CompanyKey INT,
	LOBDesc VARCHAR(100)            
) 
DECLARE @Company varchar(100)
if(@Company is null or  @Company='')
	begin
		exec  @Company= dbo.UserLoginSecurity_p @role_id
		if(@Company='0' or @role_id='8')
				set @Company=null
	end
set @sqlstm = 'select case when c.Code is not null and c.Code <>'''' then  p.quotenumber+'' (''+c.Code+'')'' else p.quotenumber end as quotenumber, p.PolicyNumber, p.IsFullQuote,
 p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays,
  p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode,
   (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
(CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
  pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsSupplementPage,f.IsAttesationPage,f.IsComputerServicePage,f.IsBusinessFundPage,
 f.IsPracriceMangPage,f.IsQuickQuotePage,f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, f.IsViewed,
  adds.CountyDesc, f.IsInsuredViewed, f.IsRenewed,f.CreatedType,(select top 1 pl.PolicyKey from Policy pl where AccountID=a.AccountID and pl.PolicyKey>p.PolicyKey order by pl.PolicyKey) as DecendentPolicyKey
   ,p.CompanyKey,''APL''
    from Policy p 
   inner join PolicyTransaction pt on p.PolicyKey = pt.PolicyKey
   inner join PolicyCoverage pc on pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence
   inner join Firm f on f.PolicyKey=pt.PolicyKey
   inner join  Account a on a.AccountKey=pt.AccountKey
   inner join  AccountAddress aa on aa.AccountKey=a.AccountKey
   Inner join Address adds on adds.AddressKey=aa.AddressKey
   left join Status s on s.StatusKey=pt.StatusKey
    left join Company c on c.CompanyKey=p.CompanyKey
   where  p.MarketableProductKey = 1 and pc.CoverageKey = 2 
	and   pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) 
	and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) 
	and f.versionsequence=(select max(versionsequence) from Firm with (nolock) where policykey=f.policykey)
	and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='+'''N'''+') and a.AccountID='+@AccountID+' '
if(@Company is not null and @Company <>'')
begin
	set  @sqlstm = @sqlstm + ' and p.CompanyKey in('''+@Company+''')'
											
end
begin
		set  @sqlstm = @sqlstm + ' group by c.Code, p.quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote,p.IsFullQuote, p.InsuredUpdateTimeStamp, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,  
	  pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, adds.Address1,p.PolicyStatusKey,s.StatusDesc,pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsSupplementPage,f.IsAttesationPage,f.IsComputerServicePage,f.IsBusinessFundPage,
 f.IsPracriceMangPage,f.IsQuickQuotePage,f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, f.IsViewed,
  adds.CountyDesc, f.IsInsuredViewed, f.IsRenewed,f.CreatedType,p.CompanyKey,pt.ProducerCode order by p.PolicyKey asc'
end

print @sqlstm
Insert into #TempPolicyList(QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,   TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage,IsSupplementPage,IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,IsPracriceMangPage, IsQuickQuotePage, FirstReviewUserID, VersionSequence, 
CoverageSequence, AppCreatedDate, MarketableProductKey, CoverageKey, IsViewed, CountyDesc, IsInsuredViewed, IsRenewed, CreatedType,DecendentPolicyKey,CompanyKey,LOBDesc) 
EXECUTE ( @sqlstm)  

DECLARE c1 CURSOR 	FOR
			SELECT  QuoteNumber,FirstReviewUserID,PolicyKey FROM #TempPolicyList  
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey
	WHILE @@FETCH_STATUS = 0
		BEGIN
			set @AgentName = ''
			
			if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
				begin
					select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID					
				end

			set @InvoicedPremium = ''
			select @InvoicedPremium = dbo.getAmountFormat(pt.InvoicedPremium) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @QuoteSelectedNo = count(*) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt, Quote q, RatingTrace rt where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc, Quote q, RatingTrace rt where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName, Premium = @InvoicedPremium, QuoteSelectedNo = @QuoteSelectedNo, ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo, RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
			
			FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey
		END


CLOSE c1
DEALLOCATE c1



declare @IsErpEndorsement char,@DecendentPolicyKey INT,@DecendentPolicyKeyStatus INT,@StatusKey INT,@isRenewAsBrokerage CHAR,@IsRenewed CHAR,@TransactionSequence INT,@VersionSequence INT

	Declare c1 cursor for
	select PolicyKey,TransactionSequence,VersionSequence,AccountID,DecendentPolicyKey,StatusKey,IsRenewed from #TempPolicyList
	   
	set @InvoicedPremium = ''
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@DecendentPolicyKey,@StatusKey,@IsRenewed
	WHILE @@FETCH_STATUS = 0
		begin
		set @IsErpEndorsement='N'
		--select EndorsementPremium from EndorsementDetails where policykey=57876 and versionsequence=(select max(versionsequence) from EndorsementDetails where policykey=57876)
			select @InvoicedPremium = EndorsementPremium from EndorsementDetails with (nolock) where PolicyKey = @PolicyKey and VersionSequence=(select max(VersionSequence) from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey)
			if(@InvoicedPremium <> '')
				begin
					If Exists(select * from CancellationEndorsement ce with (nolock) inner join PolicyTransaction pt with (nolock) on pt.PolicyKey=ce.PolicyKey and pt.TransactionSequence=ce.TransactionSequence where pt.StatusKey=8 and ce.CancellationTypeID=1 and pt.PolicyKey=@PolicyKey)
						begin
							update #TempPolicyList set Premium = dbo.getAmountFormat(0) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
						end
					else
						begin
							update #TempPolicyList set Premium = dbo.getAmountFormat(@InvoicedPremium) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
						end
				end
			set @InvoicedPremium = ''
			
			--If Exists(select * from PolicyTransaction pt with (nolock)  where pt.PolicyKey=@PolicyKey and pt.TransactionTypeKey=16)
			--			begin
			--				update #TempPolicyList set IsErpEndorsement='Y' where PolicyKey= @PolicyKey --and TransactionSequence = @TransactionSequence
			--	        end		

			--If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey and pt.TransactionTypeKey=16)
			--			begin

			--					DECLARE @AttorneyCount INT
			--					DECLARE @isDeathDisabilityERP CHAR
			--					DECLARE @isFirmERP CHAR
			--					DECLARE @isAttorneyRetiring CHAR

			--					Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey

			--					SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey))
								
			--					if(@AttorneyCount=1 and (@isFirmERP='Y' or @isAttorneyRetiring='Y' OR @isDeathDisabilityERP='Y'))
			--					begin
			--					--SELECT @AttorneyCount
			--						 set @IsErpEndorsement='Y'
									
			--					end
								
							
			--	        end

				if(@StatusKey=6 and @IsRenewed is null)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else if(@StatusKey=6 and @IsRenewed='Y')	
					begin
					--print 'HI2'
						Set @DecendentPolicyKeyStatus=(select top 1 statuskey from PolicyTransaction where PolicyKey=@DecendentPolicyKey)

						--select @PolicyKey as PolicyKey,@DecendentPolicyKey as DecendentPolicyKey,@DecendentPolicyKeyStatus as DecendentPolicyStatus
						if(@DecendentPolicyKeyStatus=4)
							set @isRenewAsBrokerage='Y'
						else 
							set @isRenewAsBrokerage='N'
					end	
				else if(@StatusKey=1 or @StatusKey=2 or @StatusKey=3 or @StatusKey=7 or @StatusKey=9 or @StatusKey=10)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else
					set @isRenewAsBrokerage='N'
				--update #TempPolicyList set  where PolicyKey= @PolicyKey
			
				update #TempPolicyList set isRenewAsBrokerage=@isRenewAsBrokerage where PolicyKey= @PolicyKey 		
			FETCH NEXT FROM c1 into  @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@DecendentPolicyKey,@StatusKey,@IsRenewed			
		end
		CLOSE c1
		DEALLOCATE c1


		if(@role_id <> 4)
		begin
			INSERT INTO #TempPolicyList(AccountID,PolicyNumber,BrokeragePolicyKey,PolicyEffectiveDate,PolicyExpirationDate,AccountName,StatusDesc,StateDesc,AppCreatedDate,FullQuick,Premium,FirstReviewUserID,AgentName,isBrokerPolicy,IsQuickQuote,IsFullQuote)
			Select AccountID,BrokeredPolicyNumber,BrokeragePolicyKey,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,st.StatusDesc_Brokerage,
			s.StateDesc,bkl.CreatedDate,'Brokerage',dbo.getAmountFormat(Premium) ,bkl.CreatedBy,ud.AgentName,'Y','N','Y'
			from BrokerageLW bkl
			 left join Status st on st.StatusKey=bkl.StatusKey
			 left join State s on s.StateCode=bkl.State
			 left join UserDetails ud on  ud.UserNo=bkl.CreatedBy
			where AccountID=@AccountID and UPPER(bkl.isArchived)=UPPER('False')
		end

--print @sqlstm
select * from #TempPolicyList
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END










GO
