USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FinancialInstitutionSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_FinancialInstitutionSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FinancialInstitutionSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_FinancialInstitutionSupplement_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_FinancialInstitutionSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	DECLARE @equityInterest CHAR,@servicesRelatedRegulatory CHAR
	select @equityInterest=equityInterest,@servicesRelatedRegulatory=servicesRelatedRegulatory from FinancialInstitutionDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		--set @rule_id='EquityInterestRule_Lawyers'
		--if(@equityInterest='Y')
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Financial Institution - had a loan or equity interest in financial institution to which they are providing services.','Decline.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		--set @rule_id='ServicesRelatedRegulatoryRule_Lawyers'
		--if(@servicesRelatedRegulatory='Y')
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Financial Institition - Performed services related to regulatory compliance.','Decline.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
	
			
	
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
			
		--set @rule_id='validateDivorceAssetsOver5MRenewalRule_Lawyers'
		--if(@surrogacyPercentagePrior=0 and @surrogacyPercentage>0 )
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Applicant practices in higher risk area(s) of family law.','If applicant has Divorce over 5M, please provide number of divorce engagements over $5M. Please also provide the three highest divorce cases in the past three years.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
	END
END



GO
