USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPolicyIndications_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetPolicyIndications_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPolicyIndications_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetPolicyIndications_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[GetPolicyIndications_p]
( 
	@PolicyKey int,
	@TransactionSequence int
 )  
 AS 
 BEGIN

 SELECT * INTO #Temp FROM (select d.DeductibleSequence,l.LimitSequence, dbo.getAmountFormat(pc.AggregateDeductible) as DeductibleAmount, 
 dbo.getAmountFormat(pc.AggregateLimit) +'/' +dbo.getAmountFormat(pc.OccuranceLimit) as LimitAmount, pc.CoverageSequence, dbo.getAmountFormat(pt.TotalPremium) 
 as TotalPremium, dbo.getAmountFormat(q.TotalPremiumFirstRange)+'-'+dbo.getAmountFormat(pt.TotalPremium) as TotalPremiumFirstRange,
  pt.TotalPolicyModifierPercentage, dbo.getAmountFormat(pt.TotalPolicyTaxAmount) as TotalPolicyTaxAmount,  dbo.getAmountFormat(pt.InvoicedPremium) 
  as InvoicedPremium, dbo.getAmountFormat(pc.ManualPremium) as ManualPremium,  pc.TransactionSequence, pc.SOISequence,
   pc.CoverageKey, pc.AggregateDeductible, pc.OccuranceDeductible, pc.PolicyKey, pc.MarketableProductKey, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Yes' 
   ELSE 'No' END) as IsClaimExpensesType, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, (CASE pc.IsDollarDefense WHEN 
   'Y' THEN 'Yes' ELSE 'No' END) as IsDollarDefenseText, pc.IsDollarDefense as IsDollarDefense, q.IsThisOptionFinalised, q.IsQuoteSelected, q.IsFirstQuote,
    rt.RatingTraceSequence,case when isnull(pc.ManualPremium,0)=0 then null else 'Y' end as IsManualPremium  from PolicyCoverage pc, PolicyTransaction pt, 
	Limits l,Deductibles d, Quote q, RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
	l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible and 
	d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and pc.PolicyKey=q.PolicyKey and 
	pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=rt.PolicyKey and pc.TransactionSequence=rt.TransactionSequence and pc.PolicyKey = @PolicyKey) as X

update #Temp set IsQuoteSelected = null 
update #Temp set IsQuoteSelected ='Y' where TransactionSequence = @TransactionSequence
select * from #Temp order by TransactionSequence desc

END

GO
