USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateLitigationSuppliment_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateLitigationSuppliment_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateLitigationSuppliment_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateLitigationSuppliment_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateLitigationSuppliment_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@NumberOfSuppotedStaffToPlantiff INT,
	@NumberOfInjuryCasesIn12Month INT,
	@PerOfCasesSettledBeforeTrail INT,
	@IsAppAcceptRefersFromOtherFirms CHAR,
	@IsRefAggrementReferToAppl CHAR,
	@IsAppReferToOtherLawFirms CHAR,
	@IsRefAggrementReferToApplRefersOut CHAR,
	@IsAppConfirmCarryProfLiabIns CHAR,
	@IsSettlementAggrementsUsed CHAR,
	@massTortOrClassAction CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@VersionKey INT

)
AS
BEGIN
	DECLARE @Count INT

	select @Count=count(*) from PlantiffSuppLW where POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
		if(@Count=0)
		begin
			insert into PlantiffSuppLW(NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,PerOfCasesSettledBeforeTrail,
			IsAppAcceptRefersFromOtherFirms,IsRefAggrementReferToAppl,IsAppReferToOtherLawFirms,IsRefAggrementReferToApplRefersOut,IsAppConfirmCarryProfLiabIns
			,IsSettlementAggrementsUsed,massTortOrClassAction,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			values(@NumberOfSuppotedStaffToPlantiff,@NumberOfInjuryCasesIn12Month,@PerOfCasesSettledBeforeTrail,
			@IsAppAcceptRefersFromOtherFirms,@IsRefAggrementReferToAppl,@IsAppReferToOtherLawFirms,@IsRefAggrementReferToApplRefersOut,
			@IsAppConfirmCarryProfLiabIns,@IsSettlementAggrementsUsed,@massTortOrClassAction,@PolicyKey,@VersionSequence,@LastUpdateUserID,@LastUpdateTimeStamp,
			@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp
			)
		end
		if(@Count>0)
		begin
			update PlantiffSuppLW set NumberOfSuppotedStaffToPlantiff=@NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month=@NumberOfInjuryCasesIn12Month,
			PerOfCasesSettledBeforeTrail=@PerOfCasesSettledBeforeTrail,IsAppAcceptRefersFromOtherFirms=@IsAppAcceptRefersFromOtherFirms,
			IsRefAggrementReferToAppl=@IsRefAggrementReferToAppl,IsAppReferToOtherLawFirms=@IsAppReferToOtherLawFirms,IsRefAggrementReferToApplRefersOut=@IsRefAggrementReferToApplRefersOut,
			IsAppConfirmCarryProfLiabIns=@IsAppConfirmCarryProfLiabIns,IsSettlementAggrementsUsed=@IsSettlementAggrementsUsed,massTortOrClassAction=@massTortOrClassAction,
			LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
			where  POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
		end

		IF NOT EXISTS (select AOLKey from AreaOfLitigationForFirmLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO AreaOfLitigationForFirmLW(AOLKey, PercentageOfRevenue,PercentageOfDefense,LargestCaseSize,AOLCommentDesc,DefenseCommentDesc,PolicyKey,
			VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				 doc.col.value('AOLKey[1]', 'int') AOLKey,
				doc.col.value('PercentageOfRevenue[1]', 'int') PercentageOfRevenue, 
				doc.col.value('PercentageOfDefense[1]', 'int') PercentageOfDefense, 
				doc.col.value('LargestCaseSize[1]', 'int') LargestCaseSize, 
				doc.col.value('AOLCommentDesc[1]', 'varchar(500)') AOLCommentDesc,
				doc.col.value('DefenseCommentDesc[1]', 'varchar(500)') DefenseCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID,@LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey, 
				doc.col.value('CreatedBy[1]', 'int') CreatedBy, 
				doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('AOLKey[1]', 'int') AOLKey,
				doc.col.value('PercentageOfRevenue[1]', 'int') PercentageOfRevenue, 
				doc.col.value('PercentageOfDefense[1]', 'int') PercentageOfDefense, 
				doc.col.value('LargestCaseSize[1]', 'int') LargestCaseSize, 
				doc.col.value('AOLCommentDesc[1]', 'varchar(500)') AOLCommentDesc,
				doc.col.value('DefenseCommentDesc[1]', 'varchar(500)') DefenseCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE alf
			SET 
			 alf.PercentageOfRevenue =tx.PercentageOfRevenue,
			 alf.PercentageOfDefense =tx.PercentageOfDefense,
			 alf.LargestCaseSize =tx.LargestCaseSize,
			 alf.AOLCommentDesc =tx.AOLCommentDesc,
			 alf.DefenseCommentDesc =tx.DefenseCommentDesc,
			 alf.LastUpdateUserID =tx.LastUpdateUserID,
			 alf.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM AreaOfLitigationForFirmLW alf
			inner join #temp_xml tx 
			on (alf.AOLKey=tx.AOLKey and alf.PolicyKey=tx.PolicyKey and alf.VersionSequence=tx.VersionSequence)
		END

	--DELETE FROM AreaOfLitigationForFirmLW WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

	--		INSERT INTO AreaOfLitigationForFirmLW(AOLKey, PercentageOfRevenue,PercentageOfDefense,LargestCaseSize,AOLCommentDesc,DefenseCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
	--		SELECT
	--			 doc.col.value('AOLKey[1]', 'int') AOLKey,
	--			doc.col.value('PercentageOfRevenue[1]', 'int') PercentageOfRevenue, 
	--			doc.col.value('PercentageOfDefense[1]', 'int') PercentageOfDefense, 
	--			doc.col.value('LargestCaseSize[1]', 'int') LargestCaseSize, 
	--			doc.col.value('AOLCommentDesc[1]', 'varchar(500)') AOLCommentDesc,
	--			doc.col.value('DefenseCommentDesc[1]', 'varchar(500)') DefenseCommentDesc, 
	--			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
	--			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
	--			@LastUpdateUserID,@LastUpdateTimeStamp
	--		FROM @xml.nodes('/Root/Root1') doc(col)
			
		
			
		UPDATE FIRMLW SET IsPlaintiffPage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where  POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
END



GO
