USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFinancialInstitutionDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateFinancialInstitutionDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFinancialInstitutionDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateFinancialInstitutionDetails_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertUpdateFinancialInstitutionDetails_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@equityInterest CHAR,
	@servicesRelatedRegulatory CHAR,
	@underRegulatoryReview CHAR,
	@haveBecomeBankruptInsolvent CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@VersionKey INT
)
	
AS
BEGIN
	DECLARE @Count INT
	SELECT @Count=Count(*) from FinancialInstitutionDetailsLW WHERE PolicyKey=@PolicyKey 
	IF(@count=0)
	BEGIN 
		INSERT INTO FinancialInstitutionDetailsLW (PolicyKey,VersionSequence,equityInterest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,
		LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		values(@PolicyKey,@VersionSequence,@equityInterest,@servicesRelatedRegulatory,@underRegulatoryReview,@haveBecomeBankruptInsolvent,
		@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
	END
	IF(@count>0)
	BEGIN
		UPDATE FinancialInstitutionDetailsLW SET equityInterest=@equityInterest,servicesRelatedRegulatory=@servicesRelatedRegulatory,underRegulatoryReview=@underRegulatoryReview,
							haveBecomeBankruptInsolvent=@haveBecomeBankruptInsolvent,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
						WHERE PolicyKey=@PolicyKey
	END
END



GO
