USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[insert_pone_batch_reports_p_java]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[insert_pone_batch_reports_p_java]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[insert_pone_batch_reports_p_java]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[insert_pone_batch_reports_p_java] AS' 
END
GO


ALTER procedure [dbo].[insert_pone_batch_reports_p_java](
	@module_name varchar(100),
	@report_name varchar(100),
	@search_xml varchar(8000),
	@user_id varchar(50),
	@roles varchar(100),
	@isemailnotificationrequired varchar(1),
	@last_updated_by varchar(50),
	@search_xml_desc varchar(8000),
	@projectname varchar(100)=null,
	@output_type char(1)=null,
	@search_name VARCHAR(100)
)-- with encryption
as
begin
	insert into pone_batch_reports(module_name, report_name, search_xml, [user_id], roles, isemailnotificationrequired, last_updated_by, last_updated_ts, request_date, search_xml_desc, project_name, output_type,search_name) 
		values(@module_name, @report_name, @search_xml, @user_id, @roles, @isemailnotificationrequired, '3', getdate(), getdate(), @search_xml_desc, @projectname, @output_type,@search_name)

end


GO
