USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GETAOPFIELDS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GETAOPFIELDS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GETAOPFIELDS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GETAOPFIELDS] AS' 
END
GO

-- exec GETAOPFIELDS 129339, 28195
ALTER PROCEDURE [dbo].[GETAOPFIELDS]
	@POLICYKEY INT,
	@VERSIONSEQUENCE INT
AS 
BEGIN
CREATE TABLE  #TEAMAOPFIELD
	(
		AOPSequence	INT,
		AOPDesc	VARCHAR(100),
		AOPKey INT,
		PercentageValue INT,
		AOPCommentDesc VARCHAR(8000),
		PolicyKey INT,
		VersionSequence INT,
		LastUpdateUserID INT,
		LastUpdateTimeStamp DateTime,
		RecordType CHAR,
			CreatedDate	DATETIME,
			CreatedBy	INT,
			VersionKey	INT
	)


INSERT INTO #TEAMAOPFIELD SELECT A.AOPSEQUENCE, A.AOPDESC, AP.* FROM AREAOFPRACTICE AP, AOP A WHERE AP.AOPKEY=A.AOPKEY 
AND AP.VERSIONSEQUENCE = @VERSIONSEQUENCE AND AP.POLICYKEY = @POLICYKEY ORDER BY A.AOPSEQUENCE ASC

UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 1 WHERE  AOPDesc = 'Business Tax Services'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 2 WHERE  AOPDesc = 'Estate Tax Services'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 3 WHERE  AOPDesc = 'Individual Tax Services'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 4 WHERE  AOPDesc = 'Bookkeeping / Write-up'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 5 WHERE  AOPDesc = 'Audit : Publicly-held clients' 
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 6 WHERE  AOPDesc = 'Audit : Non-public clients'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 7 WHERE  AOPDesc = 'Review'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 8 WHERE  AOPDesc = 'Compilation'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 9 WHERE  AOPDesc = 'Agreed Upon Procedures'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 10 WHERE  AOPDesc = 'Other Assurance Services'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 11 WHERE  AOPDesc = 'Litigation Support'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 12 WHERE  AOPDesc = 'General Business Advice'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 13 WHERE  AOPDesc = 'Other Consulting'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 14 WHERE  AOPDesc = 'Management Consulting / Business Planning'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 15 WHERE  AOPDesc = 'Computer Related Services'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 16 WHERE  AOPDesc = 'Business Valuation'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 17 WHERE  AOPDesc = 'Forecasts / Projections'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 18 WHERE  AOPDesc = 'Mergers / Acquisitions'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 19 WHERE  AOPDesc = 'Business Management'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 20 WHERE  AOPDesc = 'SEC Work other than Audit'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 21 WHERE  AOPDesc = 'Investment and Financial Planning'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 22 WHERE  AOPDesc = 'Erisa / Pension Plans'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 23 WHERE  AOPDesc = 'Trustee Services'
UPDATE  #TEAMAOPFIELD  SET  AOPSequence = 24 WHERE  AOPDesc = 'Other'

SELECT * FROM #TEAMAOPFIELD ORDER BY AOPSEQUENCE ASC

END



GO
