USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkqSearchAccountForLawyers_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[WorkqSearchAccountForLawyers_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkqSearchAccountForLawyers_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[WorkqSearchAccountForLawyers_Proc] AS' 
END
GO


--exec WorkqSearchAccountForLawyers_Proc 'Stapleton/Clark LLC','','',null,null,null, null,null,null,'2017-12-06 00:00:00.0', null,'8',null,'2021-01-01 00:00:00.0', null,null
--exec WorkqSearchAccountForLawyers_Proc 'TestPolicyBR01', '', ''','' ,'' ,'' , null,'' , '', '2017-12-06 00:00:00.0', null, 3,'' , '2021-01-01 00:00:00.0','' , 'Y', 'on', '2022-01-24 00:00:00.0'
--exec WorkqSearchAccountForLawyers_Proc '','','','' ,'QN-0171345',null , null,null ,null ,'2017-12-06 00:00:00.0', null, 3,null , '2021-01-01 00:00:00.0',null ,null , 'on', '2022-01-24 00:00:00.0'

ALTER PROCEDURE [dbo].[WorkqSearchAccountForLawyers_Proc] 
		@AccountName varchar(50) , 
		@StateCode varchar(10) , 
		@StatusKey varchar(2) , 
		@PolicyEffectiveDate varchar(10) , 
		@QuoteNumber_Search varchar(15),
		@PolicyNumber_Search varchar(20),
		@IsRenewed_search char(1),
		@NumberOfDays_search varchar(50),
		@PolicyEffectiveDate2 varchar(50) ,
		@litigationNewImplDate DATETIME,
		@ProducerCodefilter varchar(50),
		@role_id varchar(2) ,
		@EmailId varchar(150),
		@RenewalSupplementNewImplDate DATETIME,
		@Company  VARCHAR(20),
		@IsBrokered CHAR,
		@IsLostWorkQPolicy_search char(1),
		@bankruptcyImplementationDate DATETIME

AS BEGIN
 
declare  @sqlstm varchar(8000)
declare  @sqlstm1 varchar(8000),@AccountNameNew varchar(50) =@AccountName, @sqlstmBroker varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)

declare @TransactionSequence int
declare @VersionSequence int

declare @IsFullQuote varchar(1) 
declare @IsQuickQuote varchar(1)  
declare @DueForRenewal_search char(1),@isDecendentPolicyCompleted  CHAR

SET @IsFullQuote=null
SET @IsQuickQuote=null
SET @DueForRenewal_search=null

CREATE TABLE #TempPolicyList (
		SN INT IDENTITY(1,1),
		[PolicyKey] [int] ,
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](200) ,  
		[isUncompletedData] [char](1) ,
		[QuoteNumber] [varchar](20) ,
		[IsFullQuote] [char](1) ,
		[IsQuickQuote] [char](1) ,
		[IsBasicPage] [char](1),
		[IsGeneralPage] [char](1) ,
		[IsEntertainmentPage] [char](1) ,
		[IsTaxPage] [char](1) ,
		[IsEnvironmentalPage] [char](1) ,
		[IsSecuritiesPage] [char](1) ,
		[IsTitlePage] [char](1) ,
		[IsWillsEstatePage] [char](1) ,
		[IsPlaintiffPage] [char](1) ,
		[IsRealEstatePage] [char](1) ,
		[IsFinancialInsPage] [char](1) ,
		[IsIntellectPropPage] [char](1) ,
		[IsCorporatePage] [char](1) ,
		[FirstReviewUserID] [varchar](100) ,
		[AccountKey] [int] ,
		[AddressKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](500) ,
		[Address1] [varchar](500) ,
		[StateCode] [varchar](100),
		[StateDesc] [varchar](100),
		[TransactionSequence] [int] ,
		[VersionSequence] [int] ,
		[CoverageSequence] [int] ,
		[PolicyExpirationDate] [datetime] ,
		[Premium] [varchar](25) ,
		[StatusDesc] [varchar](100),
		[StatusKey] [int] ,
		[PolicyStatusKey] [int] ,
		[TransactionTypeKey] [int] ,
		[UserNo] [int] ,
		[AgentName] [varchar](200),
		[FullQuick] [varchar](50),
		[AppDays] int,
		[CountyDesc] [varchar](50),
		[AppCreatedDate] [datetime] ,
		[IsQuickQuotePage] [char](1),
		[NumberOfLawyers] [int],
		[IsFirmReferred] [char](1),
		[ManualQuoteSelectedNo] int,
		[ManualQuoteFinalisedNo] int,
		[RatingTraceSequence] int,
		[IsDollarDefense] [char] (1),
		[IsQuoteViewedByInsured] [char] (1),
		[IsViewed] [char] (1),
		[IsRenewed] char(1),
		[IsRenewalReview] char(1),
		[IsApplicationCompleted] char(1),
		[UWFlagCount] [int],
		[NameClearanceFlagCount] [int],
		[approveSubjective] [int],
		[isPricingApproved] char(1),
		[IsIndicationMailSent] char(1),
		[IsErpEndorsement] char(1),
		AccountPolicyCount INT,
		ClaimIcon VARCHAR(100),				
		isManualLostworkq char(10),
		lostworkqComment varchar(50),
		PricingStatus VARCHAR(10),
		IsQuoteLetterSend char(1),			
		isBrokerPolicy CHAR DEFAULT 'N',
		BrokeragePolicyKey INT,
		isRenewAsBrokerage CHAR    ,
		isConvertedPolicy CHAR DEFAULT 'N' ,
		LOBDesc VARCHAR(100),
		DecendentPolicyKey INT,
		CompanyKey INT,
		VersionKey INT,
		isAppCompleted CHAR,
		isDecendentPolicyCompleted CHAR,
		QuoteType VARCHAR(100),
		isBridgeApp CHAR
		  
)

if(@AccountName <> '')
      begin
            set  @AccountName = RTrim(LTrim(@AccountName))
            set  @AccountName = REPLACE( @AccountName, '''', '''''' )
      end
if(@QuoteNumber_Search <> '')
      begin
            set  @QuoteNumber_Search = RTrim(LTrim(@QuoteNumber_Search))
            set  @QuoteNumber_Search = REPLACE( @QuoteNumber_Search, '''', '''''' )
      end
if(@PolicyNumber_Search <> '')
      begin
            set  @PolicyNumber_Search = RTrim(LTrim(@PolicyNumber_Search))
            set  @PolicyNumber_Search = REPLACE( @PolicyNumber_Search, '''', '''''' )
      end
if(@EmailId <> '')
      begin
            set  @EmailId = RTrim(LTrim(@EmailId))
            set  @EmailId = REPLACE( @EmailId, '''', '''''' )
      end
if(@PolicyEffectiveDate <> '')
      begin
            set  @PolicyEffectiveDate = RTrim(LTrim(@PolicyEffectiveDate))
      end
if(@PolicyEffectiveDate2 <> '')
	begin
		set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
	end
if(@Company is null or  @Company='')
	begin
		exec  @Company= dbo.UserLoginSecurity_p @role_id
		--select @Company
		if(@Company='0')
				set @Company=null
	end
	--select @Company as Comapny
set @sqlstm = 'select pt.InvoicedPremium as Premium, case when c.Code is not null and c.Code <>'''' then  p.quotenumber+'' (''+c.Code+'')'' else p.quotenumber end as quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State with (nolock) where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,
f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,
f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,
f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview, (select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and ISNULL(rpt.ClearStatus,''N'') != ''C'' and rpt.RuleId = ''NameClearance_Lawyers'' and rpt.isArchived=''NO'') as [NameClearanceFlagCount],
(select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'') and isArchived=''NO'') as [approveSubjective],
f.isPricingApproved,f.IsIndicationMailSent,
(select count(PolicyKey) from Policy with (nolock) Where AccountID=p.AccountID) as AccountPolicyCount,f.isManualLostworkq,f.lostworkqComment,PricingStatus,(case when pc.AggregateLimit is not null and pc.AggregateLimit>=2000000 then ''Y'' else ''N'' END) as isRenewAsBrokerage,''LPL''
,(select top 1 pl.PolicyKey from Policy pl where AccountID=p.AccountID and pl.PolicyKey>p.PolicyKey and pl.isUncompletedData <> ''Y'' order by pl.PolicyKey) as DecendentPolicyKey,p.CompanyKey,p.VersionKey,f.isAppCompleted,f.isAppCompleted,p.QuoteType
from Policy p with (nolock),  Account a with (nolock), FirmLW f with (nolock), Address adds with (nolock),Status s with (nolock), PolicyTransaction pt with (nolock), 
AccountAddress aa with (nolock), PolicyCoverage pc with (nolock),Company c where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey 
 and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=2
and pt.TransactionSequence = pc.TransactionSequence 
and f.VersionSequence=(select max(versionsequence) from firmlw with (nolock) where policykey=p.PolicyKey) and c.CompanyKey=p.CompanyKey
 and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData = ''N'' ) '

if(@IsLostWorkQPolicy_search = '' or @IsLostWorkQPolicy_search is null)
 begin
	set  @sqlstm = @sqlstm + ' and (f.lostworkqComment is null or f.lostworkqComment = '''') '
 END

set @sqlstmBroker='Select AccountID,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,	(CASE bkl.TransactionTypeKey WHEN ''2'' 
   THEN 
		CASE isNull(bkl.ProducerCode,'''') WHEN '''' 
			THEN st.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(bkl.ProducerCode,'''') WHEN ''''
		THEN  st.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,	s.StateDesc ,bkl.CreatedDate,''Brokerage'',dbo.getAmountFormat(Premium) ,bkl.CreatedBy,	ud.AgentName ,''Y'',Address,''Y'' ,''N'',''N'',State,BrokeragePolicyKey,''N''
		,bkl.isConvertedPolicy,(select count(PolicyKey) from Policy with (nolock) Where AccountID=bkl.AccountID) as AccountPolicyCount,lb.LOBDesc_Brokerage,bkl.StatusKey from BrokerageLW bkl left join Status st on bkl.StatusKey=st.StatusKey left join State s on s.StateCode=bkl.State  inner join UserDetails ud on ud.UserNo=bkl.FirstReviewUserID  LEFT JOIN LOB lb on lb.LOBKey=bkl.LOBKey 
		where isArchived!=''True'''

--print @sqlstm
--'select cl.QuoteNumber,cl.SubmissionID,cl.PolicyPolicyEffectiveDate, a.AccountName, f.FirmID,adds.StateCode,adds.AddressID,a.AccountID,s.StatusDesc   from  Submission cl,  Account a, Firm f, Address adds,Status s where cl.AccountID= a.AccountID and  f.SubmissionID=cl.SubmissionID and  adds.AccountID = a.AccountID and PersonID is not null and s.StatusID =f.StatusID '
--set @isUncompletedData ='N'
--set @sqlstm =@sqlstm +' and p.isUncompletedData='''+@isUncompletedData+''''
if(@StatusKey <> 6 and @StatusKey <>8)
begin
            set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey =8)
begin
            set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'
end


if(@StatusKey <> 2)
begin
      if(@IsFullQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsFullQuote='''+@IsFullQuote+''''
      end
      
       if(@IsQuickQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsQuickQuote='''+@IsQuickQuote+''''
      end
end
if(@AccountName <> '')
begin
				set @sqlstm1=@sqlstm
				set @sqlstm1=@sqlstm1+ ' and a.AccountName= ''' + @AccountNameNew+ ''''
				Set @AccountName = dbo.[removeSpecialCharacter] (@AccountName)
				Set @AccountName = replace(@AccountName, ' ','%')
                set  @sqlstm = @sqlstm + ' and dbo.[removeSpecialCharacter] (a.AccountName) LIKE''' + CASE WHEN datalength(@AccountName) > 3 THEN '%' + @AccountName + '%' ELSE @AccountName + '%' END + ''' and a.AccountName<> ''' + @AccountNameNew+ ''''
				set @sqlstmBroker=@sqlstmBroker  + ' and dbo.[removeSpecialCharacter] (bkl.AccountName) LIKE''' + CASE WHEN datalength(@AccountName) > 3 THEN '%' + @AccountName + '%' ELSE @AccountName + '%' END + ''''
end
if(@EmailId <> '')
begin
                set  @sqlstm = @sqlstm + ' and a.AccountEmail LIKE'''+@EmailId +'%'+''''
				 set  @sqlstm1 = @sqlstm1 + ' and a.AccountEmail LIKE'''+@EmailId +'%'+''''
				Set @sqlstmBroker=@sqlstmBroker+' and bkl.Email LIKE'''+@EmailId +'%'+''''
end
if(@StateCode <> '')
begin
                set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				  set  @sqlstm1 = @sqlstm1 + ' and adds.StateCode='''+@StateCode +''''
				Set @sqlstmBroker=@sqlstmBroker+' and bkl.State='''+@StateCode +''''
end

if(@StatusKey <> 0)
begin
                set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''''
				set  @sqlstm1 = @sqlstm1 + ' and pt.StatusKey='''+ @StatusKey +''''
				Set @sqlstmBroker=@sqlstmBroker+' and bkl.StatusKey='''+@StatusKey +''''
end


if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
	set  @sqlstm1 = @sqlstm1 + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
	Set @sqlstmBroker=@sqlstmBroker+' and bkl.BrokerPolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
 end
-- To filter policy 30 days prior and 120 days later quick quote or indication
if((@StatusKey = 11 or @IsQuickQuote = 'Y') and (isNull(@PolicyEffectiveDate,'') = '' and isNull(@PolicyEffectiveDate2,'')=''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between dateadd(dd,-31,getdate()) and dateadd(dd,120,getdate())'
	set  @sqlstm1 = @sqlstm1 + ' and p.PolicyEffectiveDate between dateadd(dd,-31,getdate()) and dateadd(dd,120,getdate())'
 end

if(@QuoteNumber_Search <> '')
begin
                set  @sqlstm = @sqlstm + ' and p.QuoteNumber LIKE'''+@QuoteNumber_Search +'%'+''''
				set  @sqlstm1 = @sqlstm1 + ' and p.QuoteNumber LIKE'''+@QuoteNumber_Search +'%'+''''
				Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
end

if(@PolicyNumber_Search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
	set @sqlstm1 = @sqlstm1 + ' and p.PolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
	Set @sqlstmBroker=@sqlstmBroker+ ' and  bkl.BrokeredPolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
 end
 
if(@IsRenewed_search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
	set @sqlstm1 = @sqlstm1 + ' and p.PolicyStatusKey =''2'''
	Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
 end

 
 if(@Company is not null and @Company<>'')
begin
                set  @sqlstm = @sqlstm + ' and p.CompanyKey='''+ @Company +''''
				set  @sqlstm1 = @sqlstm1 + ' and p.CompanyKey='''+ @Company +''''
				
end


if(@NumberOfDays_search <> '')
	 begin
	print @NumberOfDays_search
if(@NumberOfDays_search <> 'Already Expired')
	begin	
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<='+cast(@NumberOfDays_search as varchar(10))+' and datediff(dd,getdate(),pt.policyexpirationdate)>''0'' and pt.StatusKey  =''6'''	
		set @sqlstm1 = @sqlstm1 + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<='+cast(@NumberOfDays_search as varchar(10))+' and datediff(dd,getdate(),pt.policyexpirationdate)>''0'' and pt.StatusKey  =''6'''	
		Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
	end
	if(@NumberOfDays_search = 'Already Expired')
	begin
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<''0'' and pt.StatusKey  =''6'''	
		set @sqlstm1 = @sqlstm1 + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<''0'' and pt.StatusKey  =''6'''	
		Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
	end
 end

--if(@ProducerCodefilter<>'')
--begin
--   set  @sqlstm = @sqlstm + ' and pt.ProducerCode='''+@ProducerCodefilter+''''
--end

if(@role_id = 7 and @ProducerCodefilter <> '')
begin
  set  @sqlstm = @sqlstm + ' and pt.ProducerCode='''+@ProducerCodefilter+''''
	set  @sqlstm1 = @sqlstm1 + ' and pt.ProducerCode='''+@ProducerCodefilter+''''
end

 set  @sqlstm = @sqlstm + '  group by pt.InvoicedPremium,c.Code,p.quotenumber ,p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote,  p.IsFullQuote, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode,p.InsuredUpdateTimeStamp,adds.Address1,
pt.ProducerCode, s.StatusDesc ,pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,
f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,
f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,
f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview, f.isPricingApproved,f.IsIndicationMailSent,p.AccountID,f.isManualLostworkq,f.lostworkqComment,PricingStatus,pc.AggregateLimit,p.CompanyKey,p.VersionKey,f.isAppCompleted,p.QuoteType  '

 set  @sqlstm1 = @sqlstm1 + '  group by pt.InvoicedPremium,c.Code,p.quotenumber ,p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote,  p.IsFullQuote, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode,p.InsuredUpdateTimeStamp,adds.Address1,
pt.ProducerCode, s.StatusDesc ,pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,
f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,
f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,
f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview, f.isPricingApproved,f.IsIndicationMailSent,p.AccountID,f.isManualLostworkq,f.lostworkqComment,PricingStatus,pc.AggregateLimit,p.CompanyKey,p.VersionKey,f.isAppCompleted,p.QuoteType  '

if(@StatusKey = 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc'
				set  @sqlstm1 = @sqlstm1 + ' order by p.AppCreatedDate desc'
end
if(@StatusKey != 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc'
				set  @sqlstm1 = @sqlstm1 + ' order by p.PolicyEffectiveDate asc'
end



if(@AccountName <> '')
begin
				
Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,
	TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,
	TransactionTypeKey,IsBasicPage,IsGeneralPage, IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,
	IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate,
	CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,UWFlagCount,NameClearanceFlagCount,approveSubjective,
	isPricingApproved,IsIndicationMailSent,AccountPolicyCount,isManualLostworkq,lostworkqComment,PricingStatus,isRenewAsBrokerage,LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey,IsApplicationCompleted,isAppCompleted,QuoteType) 
EXECUTE ( @sqlstm1)				
end
Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,
	TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,
	TransactionTypeKey,IsBasicPage,IsGeneralPage, IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,
	IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate,
	CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,UWFlagCount,NameClearanceFlagCount,approveSubjective,
	isPricingApproved,IsIndicationMailSent,AccountPolicyCount,isManualLostworkq,lostworkqComment,PricingStatus,isRenewAsBrokerage,LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey,IsApplicationCompleted,isAppCompleted,QuoteType) 
EXECUTE ( @sqlstm)
print @sqlstm

print @sqlstm1
print '										'
print '<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>'

print @sqlstmBroker
print '<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>'
print '										'
create table #IsQuoteLetterSend
(
	PolicyKey varchar(700),
	IsQuoted varchar(1)
)

INSERT INTO #IsQuoteLetterSend(PolicyKey, IsQuoted)
	SELECT PolicyKey, IsQuoted
--	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName is not null and da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchiveLW da WITH(NOLOCK) 
			INNER JOIN #TempPolicyList t WITH(NOLOCK) ON t.VersionSequence = da.VersionSequence
			AND t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1
	  
	
	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey

	Update #TempPolicyList set IsQuoteLetterSend='N' where IsQuoteLetterSend is null

	DROP TABLE #IsQuoteLetterSend

--1
update		tpl
set			tpl.AgentName = isnull(ud.AgentName, '')
			,tpl.UserNo = tpl.FirstReviewUserID
from		#TempPolicyList tpl
left join	UserDetails ud with (nolock) on ud.UserNo = tpl.FirstReviewUserID

--2
--if(@StatusKey=8)
--Begin
--update		tpl
--set			tpl.Premium = isnull(x.Premium,'')
--from		#TempPolicyList tpl
--left join	(	select		Premium = dbo.getAmountFormat(InvoicedPremium)
--							,PolicyKey
--				from		PolicyTransaction 
							
--				where PolicyExpirationDate = TransactionExpirationDate
--			) x on tpl.PolicyKey = x.PolicyKey
--END

update		tpl
set			tpl.Premium = isnull(x.Premium,'')
from		#TempPolicyList tpl
left join	(	select		Premium = dbo.getAmountFormat(pt.InvoicedPremium)
							,pt.PolicyKey
				from		PolicyTransaction pt with (nolock)
				inner join	Quote q with (nolock) on
							pt.PolicyKey=q.PolicyKey and
							pt.TransactionSequence=q.TransactionSequence and
							q.IsThisOptionFinalised='Y'
				
			) x on tpl.PolicyKey = x.PolicyKey


--3
update		tpl
set			tpl.ManualQuoteSelectedNo = isnull(x.ManualQuoteSelectedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteSelectedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsQuoteSelected='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--4
update		tpl
set			tpl.ManualQuoteFinalisedNo = isnull(x.ManualQuoteFinalisedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteFinalisedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsThisOptionFinalised='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--5
update		tpl
set			tpl.RatingTraceSequence = rt.RatingTraceSequence
from		#TempPolicyList tpl
inner join	PolicyTransaction pt with (nolock) on
			pt.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pt.PolicyKey=q.PolicyKey and
			pt.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--6
update		tpl
set			tpl.IsDollarDefense = pc.IsDollarDefense
from		#TempPolicyList tpl
inner join	PolicyCoverage pc with (nolock) on
			pc.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pc.PolicyKey=q.PolicyKey and
			pc.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--7
update		tpl
set			tpl.IsApplicationCompleted = isnull(x.IsApplicationCompleted, '')
from		#TempPolicyList tpl
left join	(
			select		tpl.PolicyKey,
						IsApplicationCompleted = min(
							case
								when p.PolicyStatusKey = 1
									then	(
												case
													when f.IsFirmPage = 'Y' and f.IsAopPage = 'Y' and f.IsPracticePage = 'Y' and f.IsCoveragePage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and f.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and f.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and f.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and f.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								when p.PolicyStatusKey = 2
									then	(
												case
													when f.IsRenewFirmPage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and f.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and f.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and f.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and f.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								else
									null
							end)
			from		#TempPolicyList tpl
			inner join	Policy p with (nolock) on p.PolicyKey = tpl.PolicyKey
			inner join	FirmLW f with (nolock) on f.PolicyKey = tpl.PolicyKey
			inner join	AreaOfPracticeLW apl with (nolock) on apl.PolicyKey = tpl.PolicyKey and apl.AOPKey in(18,20,27,24)
			group by	tpl.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--print @sqlstm

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>'2017-06-20'

--update #TempPolicyList
--set IsApplicationCompleted=(SELECT dbo.ValidateFullApplication(nat.PolicyKey,nat.AccountKey,@litigationNewImplDate,@RenewalSupplementNewImplDate,@bankruptcyImplementationDate))
--from #TempPolicyList tpl 
--inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey

--update #TempPolicyList set isAppCompleted=IsApplicationCompleted

DECLARE @LoopCounter INT = 1
DECLARE  @MaxCount INT  
DECLARE  @AccountKey INT  
DECLARE  @IsAppCompleted CHAR  
SELECT @MaxCount=count(*) FROM #NEWAPPTABLE
 --PRINT @MaxCount

WHILE(@LoopCounter <= @MaxCount)
BEGIN
	SET @PolicyKey=NULL
	SET @AccountKey=NULL
	SET @IsAppCompleted=NULL

	SELECT @PolicyKey=PolicyKey,@AccountKey=AccountKey From #NEWAPPTABLE Where ID=@LoopCounter
	SET @IsAppCompleted=(SELECT FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,'2017-12-06 00:00:00.0','2021-01-01',@bankruptcyImplementationDate))
	-- SELECT IsAppCompleted= 
	--SELECT	@PolicyKey,@AccountKey,@IsAppCompleted
	UPDATE #TempPolicyList SET IsApplicationCompleted=@IsAppCompleted,IsAppCompleted=@IsAppCompleted WHERE PolicyKey=@PolicyKey
   SET @LoopCounter  = @LoopCounter  + 1        

END
-- --select * from #NEWAPPTABLE 

--select * from #NEWAPPTABLE where Policykey=58801 	 order by id 
DECLARE @AccountID INT,@IsRenewed CHAR,@isRenewAsBrokerage CHAR='N',@Status INT,@DecendentPolicyKey INT,@DecendentPolicyKeyStatus INT,@PolicyPerAccountCount INT,@PLPOlicyCount INT,@PreviousFinalTransaction INT,@PreviousInvoicedPremium Numeric(10,2),@PresentInvoicedPremium Numeric(10,2)
DECLARE @P_TotalPremium NUMERIC(17,2),@P_TotalPolicyTaxAmount numeric(17,2),@QuoteType VARCHAR(100)
declare @IsErpEndorsement char
	Declare c1 cursor for
	select PolicyKey,TransactionSequence,VersionSequence,AccountID,StatusKey,IsRenewed,DecendentPolicyKey,QuoteType from #TempPolicyList
	 	   
	set @InvoicedPremium = ''
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Status,@IsRenewed,@DecendentPolicyKey,@QuoteType
	WHILE @@FETCH_STATUS = 0
		begin
		--select @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Status,@IsRenewed,@DecendentPolicyKey
		set @IsErpEndorsement='N'
		
		SET @isDecendentPolicyCompleted=(select top 1 CASE when isAppCompleted is not null then isAppCompleted else 'N' End from FirmLW with (nolock) where Policykey=@DecendentPolicyKey)
		update #TempPolicyList set isDecendentPolicyCompleted=@isDecendentPolicyCompleted where PolicyKey=@PolicyKey
		if(@QuoteType='BRG')
				update #TempPolicyList set isBridgeApp='Y' where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			else
				update #TempPolicyList set isBridgeApp='N' where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			
		If Exists(select top 1 PolicyKey from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey)
		begin
				select top 1 @PreviousFinalTransaction=PreviousFinalizedTransactionSequence 	from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey
				select @P_TotalPremium=TotalPremium,@P_TotalPolicyTaxAmount=TotalPolicyTaxAmount,@PreviousInvoicedPremium=InvoicedPremium from PolicyTransaction with (nolock) where PolicyKey=@PolicyKey and TransactionSequence=@PreviousFinalTransaction
				DECLARE @PremiumVariation Numeric(17,2)=0.0,@TaxVariation Numeric(17,2)=0.0
				DECLARE @P1 NUMERIC(17,2)=0.0,@T1 NUMERIC(17,2)=0.0,@EndorsementInvoicedPremium Numeric(17,2)
					DECLARE cursor10 CURSOR FOR   select PremiumVariation,TaxVariation from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey   and isFinancialEndirsement='Y'              
					OPEN cursor10;

					FETCH NEXT FROM cursor10 INTO  @PremiumVariation,@TaxVariation
					WHILE @@FETCH_STATUS = 0
						BEGIN
							--select @PremiumVariation,@TaxVariation
							set @P1=@P1+@PremiumVariation
							SET @T1=@T1+@TaxVariation
							FETCH NEXT FROM cursor10 INTO @PremiumVariation,@TaxVariation
						END;

					CLOSE cursor10;

					DEALLOCATE cursor10;
					set @EndorsementInvoicedPremium=@P1+@T1
			
				update #TempPolicyList set Premium = dbo.getAmountFormat(@PreviousInvoicedPremium+@EndorsementInvoicedPremium) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
			
			If Exists(select * from PolicyTransaction pt with (nolock)  where pt.PolicyKey=@PolicyKey and pt.TransactionTypeKey=16)
						begin

								DECLARE @AttorneyCount INT
								DECLARE @isDeathDisabilityERP CHAR
								DECLARE @isFirmERP CHAR
								DECLARE @isAttorneyRetiring CHAR

								Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails with (nolock) where Policykey=@PolicyKey

								SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW with (nolock) where Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from firmlw with (nolock) where PolicyKey=@PolicyKey))
								
								if(@AttorneyCount=1 and (@isFirmERP='Y' or @isAttorneyRetiring='Y' OR @isDeathDisabilityERP='Y'))
								begin
									 set @IsErpEndorsement='Y'
									
								end
								
							
				        end
			end
			

	set @InvoicedPremium = ''

				 if(@Status=6 and @IsRenewed is null)
					begin 
						print 'H1'
						set @isRenewAsBrokerage='Y'
					end
				else if(@Status=6 and @IsRenewed='Y')	
					begin
					print 'HI2'
						Set @DecendentPolicyKeyStatus=(select top 1 statuskey from PolicyTransaction with (nolock) where PolicyKey=@DecendentPolicyKey)

						--select @PolicyKey as PolicyKey,@DecendentPolicyKey as DecendentPolicyKey,@DecendentPolicyKeyStatus as DecendentPolicyStatus
							if(@DecendentPolicyKeyStatus!=6)
								set @isRenewAsBrokerage='Y'
								else
								set @isRenewAsBrokerage='N'
							
					end
				
				else
					set @isRenewAsBrokerage='N'

			set @PLPOlicyCount=(select case when count(*) is null then 0 else  count(*) END from Policy with (nolock) where AccountID=@AccountID)
			set @PolicyPerAccountCount=(select case when count(*) is null then 0 else  count(*) END from BrokerageLW  with (nolock) where AccountID=@AccountID)
			Update #TempPolicyList set AccountPolicyCount=(@PolicyPerAccountCount+@PLPOlicyCount ) where AccountID=@AccountID
			
				update #TempPolicyList set ClaimIcon=(SELECT dbo.ValidateClaimsLW(@PolicyKey,@AccountID)),IsErpEndorsement=@IsErpEndorsement,isRenewAsBrokerage=@isRenewAsBrokerage,isDecendentPolicyCompleted=@isDecendentPolicyCompleted where PolicyKey= @PolicyKey 
			FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Status,@IsRenewed,@DecendentPolicyKey,@QuoteType					
		end
		CLOSE c1
		DEALLOCATE c1



			update #TempPolicyList set IsErpEndorsement='N' where Policykey=140786

		if(@IsBrokered ='Y')
		begin
			if(@role_id <> '4')
			begin
				INSERT INTO #TempPolicyList(AccountID,PolicyNumber,PolicyEffectiveDate,PolicyExpirationDate,AccountName,StatusDesc,StateDesc,AppCreatedDate,FullQuick,Premium,
					FirstReviewUserID,AgentName,isBrokerPolicy,Address1,IsFullQuote,IsQuickQuote,isUncompletedData,StateCode,BrokeragePolicyKey,isRenewAsBrokerage,isConvertedPolicy,AccountPolicyCount,LOBDesc,StatusKey)
				EXECUTE(@sqlstmBroker)

			update #TempPolicyList set IsFullQuote='N',IsQuickQuote='Y' where StatusKey=11
		end

		end
if(@AccountName <> '')
begin
		select  * from #TempPolicyList group by SN,PolicyKey,PolicyEffectiveDate,PolicyNumber,isUncompletedData,QuoteNumber,IsFullQuote,IsQuickQuote,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,AccountKey,AddressKey,AccountID,AccountName,Address1,StateCode,StateDesc,TransactionSequence,VersionSequence,CoverageSequence,PolicyExpirationDate,Premium,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,UserNo,AgentName,FullQuick,AppDays,CountyDesc,AppCreatedDate,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,ManualQuoteSelectedNo,ManualQuoteFinalisedNo,RatingTraceSequence,IsDollarDefense,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,IsApplicationCompleted,UWFlagCount,NameClearanceFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,IsErpEndorsement,AccountPolicyCount,ClaimIcon,isManualLostworkq,lostworkqComment,PricingStatus,IsQuoteLetterSend,isBrokerPolicy,BrokeragePolicyKey,isRenewAsBrokerage,isConvertedPolicy,LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey,isAppCompleted,isDecendentPolicyCompleted,QuoteType,isBridgeApp
END
ELSE
BEGIN
select  * from #TempPolicyList group by SN,PolicyKey,PolicyEffectiveDate,PolicyNumber,isUncompletedData,QuoteNumber,IsFullQuote,IsQuickQuote,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,AccountKey,AddressKey,AccountID,AccountName,Address1,StateCode,StateDesc,TransactionSequence,VersionSequence,CoverageSequence,PolicyExpirationDate,Premium,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,UserNo,AgentName,FullQuick,AppDays,CountyDesc,AppCreatedDate,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,ManualQuoteSelectedNo,ManualQuoteFinalisedNo,RatingTraceSequence,IsDollarDefense,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,IsApplicationCompleted,UWFlagCount,NameClearanceFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,IsErpEndorsement,AccountPolicyCount,ClaimIcon,isManualLostworkq,lostworkqComment,PricingStatus,IsQuoteLetterSend,isBrokerPolicy,BrokeragePolicyKey,isRenewAsBrokerage,isConvertedPolicy,LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey,isAppCompleted,isDecendentPolicyCompleted,QuoteType,isBridgeApp

END
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END







GO
