USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Filter_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Filter_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Filter_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Filter_p] AS' 
END
GO
--exec Filter_p null, null, 1125, 3, 3, 3, 1
--truncate table ProfileFilter
ALTER PROCEDURE [dbo].[Filter_p]
(
  
	@PolicyStatusDesc VARCHAR(50), 
    @ProducerCode1 VARCHAR(50),
	@EligibleFirstReviewerfilter VARCHAR(500),
	@LastUpdateUserID INT,
	@UserNo INT,
	@BrokerKey VARCHAR(100),
	@CarrierKey VARCHAR(100),
	@isBrokered Char
)

AS

BEGIN

    SET NOCOUNT ON;

    
	if NOT EXISTS(select * from ProfileFilter where LastUpdateUserID=@LastUpdateUserID)
	BEGIN
	print 'insert'
		insert into  dbo.ProfileFilter(UserNo,PolicyStatusKey,Direct_SubProducedKey,FirstReviewerUserNo,LastUpdateUserID,LastUpdateTimeStamp,BrokerID,CarrierID,isBrokered) 
		values(@UserNo,@PolicyStatusDesc,@ProducerCode1,@EligibleFirstReviewerfilter
		,@LastUpdateUserID,GETDATE(),@BrokerKey,@CarrierKey,@isBrokered)
	END
	ELSE
	BEGIN
	print 'update'
		UPDATE dbo.ProfileFilter SET PolicyStatusKey=@PolicyStatusDesc,Direct_SubProducedKey=@ProducerCode1
		,FirstReviewerUserNo=@EligibleFirstReviewerfilter,LastUpdateTimeStamp=GETDATE(),BrokerID=@BrokerKey,CarrierID=@CarrierKey,isBrokered=@isBrokered
		WHERE LastUpdateUserID=@LastUpdateUserID
	END

    

   
    

END



GO
