USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LimitDeductiblesEndorsementLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[LimitDeductiblesEndorsementLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LimitDeductiblesEndorsementLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[LimitDeductiblesEndorsementLW_p] AS' 
END
GO
--exec LimitDeductiblesEndorsementLW_p 127626, 127736, 127492, 3, '2021-12-31', 9, 'N', 'Y', 500000, 1000000, 1000, null, '2021-12-27 17:01:40.367', 'Y'

ALTER PROCEDURE [dbo].[LimitDeductiblesEndorsementLW_p]
(
@PolicyKey INT,
@AccountKey INT,
@AddressKey INT,
@LastUpdateUserID INT,
@EndorsementEffectiveDate DATETIME,
@endorsementType INT,
@IsClaimOptionType VARCHAR(5),
@IsClaimExpenseType VARCHAR(5),
@AggregateLimit INT,
@OccuranceLimit INT,
@DeductibleAmount INT,
@IsDollarDefense VARCHAR(5),
@LastUpdateTimeStampTemp VARCHAR(100),
@isEnforcedPolicy Char


)
as begin


DECLARE @AccountKey_INSERTed INT
DECLARE @AddressKey_INSERTed INT
DECLARE @VersionSequence_INSERTed INT
DECLARE @TransactionSequence_INSERTed INT
DECLARE @CoverageSequence_INSERTed INT
DECLARE @AgentName varchar(100)
DECLARE @PolicyEffectiveDate datetime
DECLARE @StatusKey INT
DECLARE @PolicyExpirationDate datetime
DECLARE @TransactionExpirationDate datetime
DECLARE @maxAccountID INT
DECLARE @QuoteNumber varchar(100)
DECLARE @AppCreatedDate datetime
DECLARE @IsFirmHaveLawyersLiabilityInsurance char(20)


DECLARE @AggregateDeductible INT,@VersionKey_Inserted INT
DECLARE @LimitSequencePross INT
DECLARE @DeductibleSequencePross INT

DECLARE @IsClaimExpensesType char(1)

DECLARE @IsFirmPracticeInOtherState char(1)
DECLARE @IsProfDefenceExpense char(1)
DECLARE @IsRenewed char
DECLARE @AccountID INT
DECLARE @VersionSequence INT

DECLARE @finilazedTransactionSequence INT

begin try

DECLARE @LastUpdateTimeStamp VARCHAR(100)
SET @LastUpdateTimeStamp=(select convert(varchar, getdate(), 120))

SELECT @AgentName=AgentName FROM UserDetails WHERE UserNo=@LastUpdateUserID
--getting policyeffectivedate
SELECT @PolicyEffectiveDate= PolicyEffectiveDate FROM Policy WHERE policykey=@PolicyKey

SELECT @PolicyExpirationDate=PolicyExpirationDate,@TransactionExpirationDate= PolicyExpirationDate FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and
TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)

INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)
Select @PolicyKey,@LastUpdateUserID,getdate(),@LastUpdateUserID,getdate(),'I' 

select @VersionKey_Inserted=IDENT_CURRENT('Version')

Update Policy set VersionKey=@VersionKey_Inserted,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE policykey=@PolicyKey

SELECT @VersionSequence=max(versionsequence) FROM firmlw WHERE policykey=@PolicyKey
---Code paste below
INSERT INTO firmlw(ContactPerson,ContactPhone,IsFirmCarryingProfLiabilityIns,IsPolicyExcludesCoverage,LastUpdateUserID,LastUpdateTimeStamp,IsQuickQuoteByEmail,
IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsClientTerminated,FirstReviewUserID,LicenseNumber,IsQuotePage,PolicyKey,
YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,IsFirmProvidedLegalServiceToSecurity,
IsFirmHaveClientMoreThan25PercentOfBilling,PercentFROMFirstLargestRevenueClient,PercentFROMSecondLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,IsFirmCoverageForPreceedorFirms,
IsFirmHaveEquityINTGrtThan10,IsFirmPersServedAsOfficerInJoINTVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,IsAttorneyNotCoveredByProfLiability,
IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,
AttorneyDeclineForProfLiabilityDates,AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,
BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,
IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaINTiffPage,IsRealEstatePage,IsFinancialInsPage,IsINTellectPropPage,IsCorporatePage,
IsFirmMergedWithOtherFirm,IsAopPage,IsPracticePage,IsCoveragePage,IsFirmPage,IsApplINTToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByInsured,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,
IsRetreivalMailSent,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,QuoteEffectiveDate,QuoteExpiryDate,IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,
CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,QuoteComment,IsQuickQuoteMailSent,IsLicenseNumberUPDATEd,IssuedDate,
IsRealEstateCommercialPage,IsRealEstateResidentialPage,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityINTerestINTitleInsurance,
IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,
DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,IsRenewed,IsComingFROMSubProducer,MarketingId,IsAttorneyAddedDeleted,IsRenewFirmPage,
Is9010Policy,GrossFeesPaidRenew,IsRenewalReview,RenewalReviewComments,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,
isComingFROMUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,
provideMoneyManagementServices,custodyOrControlFunds,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,disbursementTransaction,peopleToDisburseFunds,
instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,secondayContactPerson,isQuoteByEmail,isNewApp,isAppCompleted,AnnualRevenueSequence,
FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident,isPolicyExcludeCoverage,isPolicyExcludeCoverageDescription,UnderwriterComment,PricingStatus,isCyberCoverageRequired,
haveFraudSecurityAwarenessProgram,needCyberCoverage,completedPageCommemnt,VersionKey,CreatedDate,IsAOPChange,isCannibSuppPage)

SELECT ContactPerson,ContactPhone,IsFirmCarryingProfLiabilityIns,IsPolicyExcludesCoverage,@LastUpdateUserID,@LastUpdateTimeStamp,IsQuickQuoteByEmail,
IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsClientTerminated,FirstReviewUserID,LicenseNumber,IsQuotePage,PolicyKey,
YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,IsFirmProvidedLegalServiceToSecurity,
IsFirmHaveClientMoreThan25PercentOfBilling,PercentFROMFirstLargestRevenueClient,PercentFROMSecondLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,IsFirmCoverageForPreceedorFirms,
IsFirmHaveEquityINTGrtThan10,IsFirmPersServedAsOfficerInJoINTVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,IsAttorneyNotCoveredByProfLiability,
IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,
AttorneyDeclineForProfLiabilityDates,AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,
BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,
IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaINTiffPage,IsRealEstatePage,IsFinancialInsPage,IsINTellectPropPage,IsCorporatePage,
IsFirmMergedWithOtherFirm,IsAopPage,IsPracticePage,IsCoveragePage,IsFirmPage,IsApplINTToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByInsured,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,
IsRetreivalMailSent,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,QuoteEffectiveDate,QuoteExpiryDate,IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,
CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,QuoteComment,IsQuickQuoteMailSent,IsLicenseNumberUPDATEd,IssuedDate,
IsRealEstateCommercialPage,IsRealEstateResidentialPage,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityINTerestINTitleInsurance,
IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,
DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,IsRenewed,IsComingFROMSubProducer,MarketingId,IsAttorneyAddedDeleted,IsRenewFirmPage,
Is9010Policy,GrossFeesPaidRenew,IsRenewalReview,RenewalReviewComments,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,
isComingFROMUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,
provideMoneyManagementServices,custodyOrControlFunds,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,disbursementTransaction,peopleToDisburseFunds,
instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,secondayContactPerson,isQuoteByEmail,isNewApp,isAppCompleted,AnnualRevenueSequence,
FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident,isPolicyExcludeCoverage,isPolicyExcludeCoverageDescription,UnderwriterComment,PricingStatus,isCyberCoverageRequired,
haveFraudSecurityAwarenessProgram,needCyberCoverage,completedPageCommemnt,@VersionKey_Inserted,@LastUpdateTimeStamp,IsAOPChange,isCannibSuppPage 
FROM firmlw WHERE policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from firmlw where policykey=@PolicyKey)

--getting newly INSERTed versionsequence here
SELECT @VersionSequence_INSERTed=max(VersionSequence) FROM firmlw WHERE policykey=@PolicyKey

---Code ended Here
 SELECT  @finilazedTransactionSequence=pt.TransactionSequence FROM policytransaction pt inner join Quote q on pt.PolicyKey=q.Policykey and pt.TransactionSequence=q.TransactionSequence
	WHERE pt.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'


UPDATE policytransaction SET TransactionExpirationDate=@EndorsementEffectiveDate WHERE Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

INSERT INTO PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,StatusKey,VersionSequence,TotalPolicyModifierPercentage,LastUpdateTimeStamp,LastUpdateUserID,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@AccountKey, @EndorsementEffectiveDate,@endorsementType,@PolicyExpirationDate,@PolicyExpirationDate,
ProducerCode,SubInsuranceCarrier,StatusKey,@VersionSequence_INSERTed,TotalPolicyModifierPercentage,@LastUpdateTimeStamp,@LastUpdateUserID,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
 FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence = @finilazedTransactionSequence 
SELECT @TransactionSequence_INSERTed=IDENT_CURRENT('PolicyTransaction')

INSERT INTO PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,
ClassCode,TotalCovModifierPercentage,Premium,TotalCoverageTaxAmount,InitialCovPremium,CreatedBy,CreatedDate)
SELECT @PolicyKey,@TransactionSequence_INSERTed,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,
ClassCode,TotalCovModifierPercentage,Premium,TotalCoverageTaxAmount,InitialCovPremium,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM PolicyCoverage
WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

SELECT @CoverageSequence_INSERTed=IDENT_CURRENT('PolicyCoverage')

INSERT INTO Quote (PolicyKey,TransactionSequence,IsQuoteSELECTed,IsFirstQuote,IsMinimumPremium,CreatedBy,CreatedDate)
SELECT @PolicyKey,@TransactionSequence_INSERTed,'Y','N','N',@LastUpdateUserID,@LastUpdateTimeStamp FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

DECLARE @UnearnedPremium	 numeric(10,2), @UnearnedTax	numeric(10,2) , @totalUnearnedPremium numeric(10,2), @prorataPremium numeric(10,5), @TotalPremiumFirstRange numeric(17,2)
DECLARE @premiumVariation numeric(17,2), @taxVariation numeric(17,2),@EndorsementPremium numeric(17,2), @EndorsementTax numeric(17,2),@TotalEndorsementPremium numeric(17,2)
DECLARE @OldPolicyPremium  numeric(17,2),@OldTax  numeric(17,2)

select @OldPolicyPremium=TotalPremium,@OldTax=TotalPolicyTaxAmount from Policytransaction where Policykey=@Policykey and TransactionSequence=@finilazedTransactionSequence

UPDATE PremiumCalculationBuffer  set OldInvoicedPremium=(SELECT Invoicedpremium from policytransaction where Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence),
	 PreviousfinilazedTransactionSequence=@finilazedTransactionSequence	 where Policykey=@PolicyKey

if(@isEnforcedPolicy='Y')
	begin
	
	

	SELECT @UnearnedPremium=CAST(UnearnedPremium AS DECIMAL(10, 2)),@UnearnedTax=CAST(UnearnedTax AS DECIMAL(10, 2)),@totalUnearnedPremium=CAST(totalUnearnedPremium AS DECIMAL(10,2))
	,@prorataPremium=ProRatePremium,@TotalPremiumFirstRange=TotalPremiumFirstRange ,@premiumVariation=PremiumVariation,@taxVariation=TaxVariation 
	FROM PremiumCalculationBuffer WHERE Policykey=@PolicyKey

	Set @EndorsementPremium=@OldPolicyPremium+(@premiumVariation)
	SET @EndorsementTax=@OldTax+(@taxVariation)
	Set @TotalEndorsementPremium=@EndorsementPremium+@EndorsementTax


	UPDATE PolicyTransaction SET TotalPremium= @EndorsementPremium,TotalPolicyTaxAmount= @EndorsementTax,InvoicedPremium=@TotalEndorsementPremium  
		,LastUPDATETimeStamp=@LastUpdateTimeStamp,LastUPDATEUserID=@LastUpdateUserID
	WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_INSERTed

	INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,PremiumVariation,TaxVariation,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
	VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@LastUpdateTimeStamp,@LastUpdateUserID,'Y',@LastUpdateTimeStamp,@endorsementType,@premiumVariation,@taxVariation,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp )

	
	UPDATE PolicyCoverage SET Premium=@TotalEndorsementPremium,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=getDate(),TotalCoverageTaxAmount=@EndorsementTax,
	InitialCovPremium=@EndorsementPremium,IsClaimOptionType=@IsClaimOptionType,IsClaimExpensesType=@IsClaimExpenseType,AggregateLimit=@AggregateLimit,
	OccuranceLimit=@OccuranceLimit,OccuranceDeductible=@DeductibleAmount,AggregateDeductible=@DeductibleAmount,IsDollarDefense=@IsDollarDefense
	WHERE CoverageSequence=@CoverageSequence_INSERTed and TransactionSequence=@TransactionSequence_INSERTed and PolicyKey=@PolicyKey

	UPDATE quote SET IsThisOptionFinalised=null WHERE PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

	UPDATE quote SET IsThisOptionFinalised='Y',TotalPremiumFirstRange=@UnearnedPremium,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=LastUpdateUserID
	WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed


	INSERT INTO RatingTrace (PolicyKey,TransactionSequence,XmlInputDatatoRating,XmlOutputDatafromRating,RatingDate,CreatedBy,CreatedDate)
	SELECT @PolicyKey,@TransactionSequence_INSERTed,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp FROM PremiumCalculationBuffer WHERE PolicyKey = @PolicyKey 

	

END


if(@isEnforcedPolicy='N')
	begin
			INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate,PremiumVariation,TaxVariation)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@LastUpdateTimeStamp,@LastUpdateUserID,'N',@LastUpdateTimeStamp,@endorsementType,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp,@premiumVariation,@taxVariation )

		UPDATE PolicyCoverage SET LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp,IsClaimOptionType=@IsClaimOptionType,IsClaimExpensesType=@IsClaimExpenseType,
		AggregateLimit=@AggregateLimit,		OccuranceLimit=@OccuranceLimit,OccuranceDeductible=@DeductibleAmount,AggregateDeductible=@DeductibleAmount,IsDollarDefense=@IsDollarDefense
		WHERE CoverageSequence=@CoverageSequence_INSERTed and TransactionSequence=@TransactionSequence_INSERTed and PolicyKey=@PolicyKey

		UPDATE quote SET TotalPremiumFirstRange=@EndorsementPremium,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=LastUpdateUserID
		WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed
	END




--updating from component

------------------------------------------------------------------------




----------------------------------------------------------------------
--Now Commented

SELECT @IsFirmHaveLawyersLiabilityInsurance= ISNULL(IsFirmHaveLawyersLiabilityInsurance,'N') FROM FirmLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 

       if(@IsFirmHaveLawyersLiabilityInsurance = 'N')
       begin
       
              SELECT @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType , @IsProfDefenceExpense=pc.IsDollarDefense FROM Quote q, PolicyCoverage pc 
              WHERE pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

              SELECT @LimitSequencePross=LimitSequence FROM Limits WHERE AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
              SELECT @DeductibleSequencePross = DeductibleSequence FROM Deductibles WHERE AggregateDeductible=@AggregateDeductible and CoverageKey=3
              
              INSERT INTO ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
				IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate)
              SELECT @PolicyKey,@VersionSequence_INSERTed,@PolicyEffectiveDate,(CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'DR' ELSE 'DA' END),PriorActDatePross,
              (CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'PC' ELSE 'AA' END),'N','Crum & Forster',@LimitSequencePross,@DeductibleSequencePross,@IsProfDefenceExpense,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
              FROM ProfessionalLiabilityInsDetailLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
              
              UPDATE FirmLW SET IsPolicyIncludeLateralHireCov = 'N',IsPolicyExcludesCoverage='N'
              WHERE PolicyKey = @PolicyKey and VersionSequence = @VersionSequence_INSERTed
       end    
       
       if(@IsFirmHaveLawyersLiabilityInsurance = 'Y')
       begin
              INSERT INTO ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
       IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,VersionKey,CreatedBy,CreatedDate)
              SELECT @PolicyKey,@VersionSequence_INSERTed,LimitAmount,DeductibleAmount,DATEADD(M,12,PolicyExpirationDatePross) as PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
       IsPerClaim,IsPriorActDateFull,FirmYear+1,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
              FROM ProfessionalLiabilityInsDetailLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
       end

---------------------------------------------
INSERT INTO AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOPKey,PercentageValue,AOPCommentDesc,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM AreaOfPracticeLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------------------
INSERT INTO AttorneyDetailsLW(PolicyKey,VersionSequence,AttorneyName,LicensedStates,AnnualWorkedHours,NumberOfYearsInPractice,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,LastUPDATEUserID,
              LastUPDATETimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,PriorActDateAttorneysNew,isAttorneyEndorsed,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,AttorneyName,LicensedStates,AnnualWorkedHours,NumberOfYearsInPractice + 1,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
       @LastUpdateUserID,@LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,AttorneyPriorActDate,isAttorneyEndorsed,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM AttorneyDetailsLW
              WHERE PolicyKey=@PolicyKey and VersionSequence= @VersionSequence



-----------------------------------------------------------------------------------------------

-----------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
INSERT INTO FirmInitLawsuitsLW(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
       IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUPDATEUserID,
              LastUPDATETimeStamp,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
              IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,
              LastUPDATEUserID,LastUPDATETimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM FirmInitLawsuitsLW
              WHERE  PolicyKey=@PolicyKey and VersionSequence= @VersionSequence

------------------------------------------------------------------------------------------------

-------------------------------------------------Bankruptcy data INSERTion---------------------------------------------

--Bankruptc case details------------

INSERT INTO BankruptcyCasesDetailsLW (bankruptcyKey,Debtor,Creditor,Trustee,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT bankruptcyKey,Debtor,Creditor,Trustee,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM BankruptcyCasesDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--------------------------------------------------------------
---------------BankruptcyDetailsLW-------

INSERT INTO BankruptcyDetailsLW (PolicyKey,VersionSequence,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM BankruptcyDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------CollectionSupplement DAta---------------------------------------------------------------------------


INSERT INTO collectionsSuplimentDetailsLW(PolicyKey,VersionSequence,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM collectionsSuplimentDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------copyright trademark DAta---------------------------------------------------------------------------

INSERT INTO  CopyRightTrademarkDetailsLW(PolicyKey,VersionSequence,otherServices,otherServicesDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,otherServices,otherServicesDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM CopyRightTrademarkDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------Family Supplement data---------------------------------------------------------------------------

INSERT INTO  FamilyLawDetailsLW (PolicyKey,VersionSequence,FLAOPKey,PercentageValue,FLAOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,FLAOPKey,PercentageValue,FLAOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM FamilyLawDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------Financial Supplement data---------------------------------------------------------------------------
INSERT INTO FinancialInstitutionDetailsLW(PolicyKey,VersionSequence,equityINTerest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT  @PolicyKey,@VersionSequence_INSERTed,equityINTerest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM FinancialInstitutionDetailsLW  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


-----------------------------------Government Supplement data---------------------------------------------------------------------------
INSERT INTO GovernmentServicesDetails(ServiceName,ServicesProvided,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT ServiceName,ServicesProvided, @PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM GovernmentServicesDetails WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO   GovernmentSupplementDetailsLW	(providingBondWork,eminentDomainServices,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT providingBondWork,eminentDomainServices,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM  GovernmentSupplementDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

----------------------------------Copy ProdecessorFirmLW data----------------------------------
 INSERT INTO ProdecessorFirmLW(PolicyKey,VersionSequence,IsERPPurchased,FirmName,TypeOfEntity,
       DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,LastUPDATEUserID,
              LastUPDATETimeStamp,ERPExpDate,DateOfAcquisation,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,IsERPPurchased,FirmName,TypeOfEntity,
              DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
              LastUPDATEUserID,LastUPDATETimeStamp,ERPExpDate,DateOfAcquisation,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM ProdecessorFirmLW
              WHERE PolicyKey=@PolicyKey

---------------------------------------------------------------------------------------------

----------------------------------------Copying RealEstate Supplements Data-----------------------------------------------------------

INSERT INTO AreaOfPracticeRealEstateLW (PolicyKey,VersionSequence,AOPREKey,PercentageValue,AOPRECommentDesc,CommercialPercentageValue,AOPRECommCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOPREKey,PercentageValue,AOPRECommentDesc ,CommercialPercentageValue,AOPRECommCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfPracticeRealEstateLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO RealEastateDetailsLW (transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM	RealEastateDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------------------------Copying PlaINTiff Supplements Data---------------------------
INSERT INTO PlantiffSuppLW (PolicyKey,VersionSequence,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFROMOtherFirms,IsSETtlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUPDATEUserID,LastUPDATETimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByINTernet,
PerOfCasesSETtledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio ,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFROMOtherFirms,IsSETtlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUPDATEUserID,LastUPDATETimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByINTernet,
PerOfCasesSETtledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM PlantiffSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

 INSERT INTO AttorneyInPlaINTiffForFirmLW(PolicyKey,VersionSequence,PlaINTiffAttorneyName,PlaINTiffYrsExp,
              PlaINTiffPecOfTimeDev,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,PlaINTiffAttorneyName,PlaINTiffYrsExp,
              PlaINTiffPecOfTimeDev,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
			   FROM AttorneyInPlaINTiffForFirmLW
              WHERE  PolicyKey=@PolicyKey

INSERT INTO AreaOfLitigationForFirmLW (PolicyKey,VersionSequence,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfLitigationForFirmLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------Copying WIllsEstate Supplements Data--------------------------------------------------------
INSERT INTO WillsEstateServicesLW (PolicyKey,VersionSequence,WESKey,CheckedValue,WESCommentDesc,PercentageValue,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,WESKey,CheckedValue,WESCommentDesc ,PercentageValue,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillsEstateServicesLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO WillsTrustsEstateSuppLW (PolicyKey,VersionSequence,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUPDATEUserID,LastUPDATETimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFROMBank,IsApplCarryEmployeeDishonestyCoverage
,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUPDATEUserID,LastUPDATETimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFROMBank,IsApplCarryEmployeeDishonestyCoverage,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillsTrustsEstateSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO WillSTrustEstateLargestTrustsDetails (PolicyKey,VersionSequence,TrustName,TrustsType,AsSETsValue,BeneficiaryINTerest,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,TrustName,TrustsType,AsSETsValue,BeneficiaryINTerest,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillSTrustEstateLargestTrustsDetails  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
----------------------------------TAX Supplement Data--------------------------------------------------------------

INSERT INTO TaxSuppDetailsLW (TaxAOPKey,TaxAopDesc,revenuePercentage,PolicyKey,VersionSequence,TaxCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT TaxAOPKey,TaxAopDesc,revenuePercentage,@PolicyKey,@VersionSequence_INSERTed,TaxCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM TaxSuppDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------Populate Coverage Modifiers--------------------------
IF(@StatusKey=8)
BEGIN
INSERT INTO CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUPDATETimeStamp,LastUPDATEUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence)
SELECT @PolicyKey,Comment,@CoverageSequence_INSERTed,GETDATE(),@LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_INSERTed FROM CoverageModifiers WHERE PolicyKey = @PolicyKey and TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)  

END
end try
begin catch
prINT error_message()

rollback 
end catch
end


















GO
