USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetProfessioanlLiabilityLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SetProfessioanlLiabilityLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetProfessioanlLiabilityLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SetProfessioanlLiabilityLW_p] AS' 
END
GO

--exec [dbo].[SetProfessioanlLiabilityLW_p]
ALTER PROCEDURE [dbo].[SetProfessioanlLiabilityLW_p]

AS
BEGIN
DECLARE @PolicyKey INT
DECLARE @PolicyKey_Parent INT
declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int
declare @VersionSequence int
declare @RenewOfPolicyNumber varchar(50)
declare @IsClaimExpensesType varchar(10)
declare @IsClaimOptionType varchar(10)
declare @IsDollarDefense varchar(10)
declare @count int = 0

	Declare c1 cursor for
       select distinct p.Policykey, p.RenewOfPolicyNumber from Policy p with (nolock)
	   inner join FirmLW  f with (nolock) on f.Policykey=p.PolicyKey 
	   inner join PolicyTransaction pt with (nolock) on p.policykey=pt.PolicyKey
       where p.isUncompletedData='N' and p.PolicyStatusKey=2 and p.MarketableProductKey=2
	   --and f.VersionSequence=(select min(versionsequence) from firmlw where policykey=p.PolicyKey)
       order by p.policykey          
       
       OPEN c1
       FETCH NEXT FROM c1 into @PolicyKey, @RenewOfPolicyNumber
       WHILE @@FETCH_STATUS = 0
              begin		
				if exists (select PolicyKey from Policy with (nolock) where PolicyNumber=@RenewOfPolicyNumber
					and isUncompletedData='N' and MarketableProductKey=2)	
				Begin
					select @PolicyKey_Parent=PolicyKey from Policy with (nolock) where PolicyNumber=@RenewOfPolicyNumber
					and isUncompletedData='N' and MarketableProductKey=2
					
					print '@count ' + CAST(@count AS NVARCHAR(100))
					
					
					select @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, 
					@IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType ,@IsDollarDefense=pc.IsDollarDefense					
					from Quote q with (nolock), PolicyCoverage pc with (nolock)
					where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey_Parent and q.IsThisOptionFinalised='Y'
					
					select @LimitSequencePross=LimitSequence from Limits with (nolock) where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
					select @DeductibleSequencePross = DeductibleSequence from Deductibles with (nolock) where AggregateDeductible=@AggregateDeductible and CoverageKey=3
					
					update ProfessionalLiabilityInsDetailLW set LimitSequencePross=@LimitSequencePross, DeductibleSequencePross=@DeductibleSequencePross,
					IsClaimExpLiability=@IsClaimExpensesType, IsPerClaim=@IsClaimOptionType, IsProfDefenceExpense=@IsDollarDefense
					where PolicyKey=@PolicyKey				
				End
				
				set @PolicyKey_Parent=''
				set @count = @count + 1
				FETCH NEXT FROM c1 into @PolicyKey, @RenewOfPolicyNumber                    
              end
        CLOSE c1
        DEALLOCATE c1

END

GO
