USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayBankruptcyCasesDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayBankruptcyCasesDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayBankruptcyCasesDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayBankruptcyCasesDetails_p] AS' 
END
GO
--exec DisplayBankruptcyCasesDetails_p 54709, 38554
ALTER PROCEDURE [dbo].[DisplayBankruptcyCasesDetails_p]
(
@PolicyKey INT,
@VersionSequnece INT
)
AS
BEGIN
	DECLARE @Count INT
	DECLARE @PolicyStatusKey INT
	SELECT @PolicyStatusKey=policystatuskey from policy where policykey=@PolicyKey

	CREATE TABLE #TEMPTable(
		bankruptcyKey INT,
		PolicyKey INT,
		VersionSequence INT,
		bankruptcyDesc VARCHAR(30),
		Debtor INT,
		Creditor INT,
		Trustee INT
		)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Debtor,Creditor,Trustee)Values(1,@PolicyKey,@VersionSequnece,'Last Completed Year:',NULL,NULL,NULL)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Debtor,Creditor,Trustee)Values(2,@PolicyKey,@VersionSequnece,'One Year Prior:',NULL,NULL,NULL)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Debtor,Creditor,Trustee)Values(3,@PolicyKey,@VersionSequnece,'Two Years Prior:',NULL,NULL,NULL)
		SELECT @Count=Count(*) from BankruptcyCasesDetailsLW where PolicyKey=@PolicyKey AND VersionSequence=@VersionSequnece
		
		IF(@Count>0)
		BEGIN

			DECLARE @LoopCounter INT =1
			WHILE ( @LoopCounter <= 3)
			BEGIN
				UPDATE #TEMPTable 
				SET Debtor = i.Debtor, 
					Creditor = i.Creditor,
					Trustee = i.Trustee
				FROM (
					SELECT Debtor,Creditor,Trustee
					FROM BankruptcyCasesDetailsLW WHERE bankruptcyKey=@LoopCounter and PolicyKey=@PolicyKey) i
					where bankruptcyKey=@LoopCounter
					
				SET @LoopCounter  = @LoopCounter  + 1
			END
		END
	
		if(@PolicyStatusKey=1)
		begin
			SELECT * FROM #TEMPTable
		end
		if(@PolicyStatusKey=2)
		begin
		SELECT * FROM #TEMPTable where bankruptcyKey=1
		end
END


GO
