USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePolicyTrancsationData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdatePolicyTrancsationData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePolicyTrancsationData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdatePolicyTrancsationData_p] AS' 
END
GO
--exec UpdatePolicyTrancsationData_p 68851,2,3
ALTER PROCEDURE [dbo].[UpdatePolicyTrancsationData_p] 
(
@PolicyKey INT,
@StatusKey INT,
@LastUpdateUserID INT
)
AS
BEGIN
DECLARE @PolicyEffecytiveDate DATETIME
DECLARE @PolicyExpirationDate DATETIME

SET @PolicyEffecytiveDate=(SELECT CONVERT(varchar, PolicyEffectiveDate, 110) as PolicyEffectiveDate FROM Policy where PolicyKey=@PolicyKey)
SET @PolicyExpirationDate=CONVERT(varchar, (SELECT DATEADD(year, 1, @PolicyEffecytiveDate) ),110)
--select @PolicyEffecytiveDate,@PolicyExpirationDate
update PolicyTransaction set StatusKey=@StatusKey,PolicyExpirationDate=@PolicyExpirationDate,LastUpdateUserID =@LastUpdateUserID,LastUpdateTimeStamp=GETDATE() where PolicyKey=@PolicyKey
END


GO
