USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SavePublicFiguresAjaxExpansions_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SavePublicFiguresAjaxExpansions_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SavePublicFiguresAjaxExpansions_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SavePublicFiguresAjaxExpansions_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[SavePublicFiguresAjaxExpansions_p]
	(
	@PolicyKey INT,
	@actAgentForPublicFigures CHAR,
	@provideProfessionalContract CHAR,
	@provideMoneyManagementServices CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
	UPDATE FIRMLW SET actAgentForPublicFigures=@actAgentForPublicFigures,
					provideProfessionalContract=@provideProfessionalContract,
					provideMoneyManagementServices=@provideMoneyManagementServices,
					LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
			WHERE PolicyKey=@PolicyKey
END


GO
