USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFeeSuitSupplementAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateFeeSuitSupplementAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFeeSuitSupplementAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateFeeSuitSupplementAC_p] AS' 
END
GO
ALTER  PROCEDURE [dbo].[InsertUpdateFeeSuitSupplementAC_p]
(
@PolicyKey INT,
@VersionSequence INT,
@xml XML,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey int
)
AS
BEGIN
		DELETE FROM FirmInitLawsuits WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

		INSERT INTO FirmInitLawsuits(AmountOfFeesSued, 
		--NamedDefendantsInSuit,DueDateFees,
		SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey	)
		SELECT
			doc.col.value('AmountOfFeesSued[1]', 'INT') AmountOfFeesSued,
			--doc.col.value('NamedDefendantsInSuit[1]', 'varchar(50)') NamedDefendantsInSuit ,
			--doc.col.value('DueDateFees[1]', 'DATETIME') DueDateFees ,
			doc.col.value('SuitFilesDateFees[1]', 'DATETIME') SuitFilesDateFees, 
			doc.col.value('IsAllegOfLegalMalPrac[1]', 'CHAR') IsAllegOfLegalMalPrac ,
			doc.col.value('FeeSuitDispositionKey[1]', 'INT') FeeSuitDispositionKey ,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			--doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID
			@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey	
		FROM @xml.nodes('/Root/Root1') doc(col)
			
		UPDATE FirmInitLawsuits SET LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey
END






GO
