USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAEWorkingPolicyList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetAEWorkingPolicyList]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAEWorkingPolicyList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetAEWorkingPolicyList] AS' 
END
GO
--exec GetAEWorkingPolicyList '2022-01-01', '2022-01-01'
ALTER PROCEDURE [dbo].[GetAEWorkingPolicyList] (
	@PolicyEffectiveDateFrom varchar(12),
	@PolicyEffectiveDateTo varchar(12)
)
AS
BEGIN
	CREATE TABLE #TempPolicyList ( 
		PolicyKey int, PolicyEffectiveDate DateTime, QuoteNumber varchar(200), AccountName varchar(200), FirstReviewer varchar(200), Status varchar(200), State varchar(200), IssuedBeforeEffectiveDays int, NewToUnderreviewDays int
	)

	insert into #TempPolicyList (PolicyKey, PolicyEffectiveDate, QuoteNumber, AccountName, FirstReviewer, Status, State, IssuedBeforeEffectiveDays)
	select p.PolicyKey, p.PolicyEffectiveDate, p.QuoteNumber, ac.AccountName, u.AgentName, ss.StatusDesc, s.StateDesc, DATEDIFF(DAY, fl.IssuedDate, p.PolicyEffectiveDate) 
	from accinsurancedb_dump.dbo.Policy p
	inner join accinsurancedb_dump.dbo.FirmLW fl on p.PolicyKey=fl.PolicyKey 
	inner join accinsurancedb_dump.dbo.PolicyTransaction pt on p.PolicyKey=pt.PolicyKey
	inner join accinsurancedb_dump.dbo.Account ac on pt.AccountKey = ac.AccountKey
	inner join accinsurancedb_dump.dbo.AccountAddress aa on aa.AccountKey = ac.AccountKey
	inner join accinsurancedb_dump.dbo.Address ad on ad.AddressKey = aa.AddressKey
	inner join accinsurancedb_dump.dbo.State s on s.StateCode = ad.StateCode
	inner join accinsurancedb_dump.dbo.Status ss on pt.StatusKey = ss.StatusKey
	inner join accinsurancedb_dump.dbo.UserDetails u on fl.FirstReviewUserID = u.UserNo
	where p.PolicyStatusKey = 2 and fl.isAppCompleted = 'Y' 
	and PolicyEffectiveDate >= @PolicyEffectiveDateFrom and PolicyEffectiveDate <= @PolicyEffectiveDateTo
	group by p.PolicyKey, p.PolicyEffectiveDate, p.QuoteNumber, ac.AccountName, u.AgentName, ss.StatusDesc, s.StateDesc, DATEDIFF(DAY, fl.IssuedDate, p.PolicyEffectiveDate) 
  
	Declare @MINPolicykey int=1, @MAXPolicykey int, @Policykey int

	set @MAXPolicykey = (select max(Policykey) from #TempPolicyList)

	set @MINPolicykey = (select min(Policykey) from #TempPolicyList)
	WHILE(@MINPolicykey <=  @MAXPolicykey)
	BEGIN
	 --print 's'
		set @Policykey = @MAXPolicykey

		Update #TempPolicyList set NewToUnderreviewDays = 
		(select DATEDIFF(DAY, AuditDateTime1, AuditDateTime2) as NewToUnderreviewDays from 
		(select top 1 pt.AuditDateTime as AuditDateTime1 
		from accinsurancedb_audit.dbo.PolicyTransaction_Audit pt
		inner join accinsurancedb_audit.dbo.Policy_Audit p on p.PolicyKey=pt.PolicyKey
		where pt.StatusKey = 1 and p.PolicyKey = @Policykey
		order by pt.AuditDateTime) a,
		(select top 1 pt.AuditDateTime as AuditDateTime2 
		from accinsurancedb_audit.dbo.PolicyTransaction_Audit pt
		inner join accinsurancedb_audit.dbo.Policy_Audit p on p.PolicyKey=pt.PolicyKey
		inner join accinsurancedb_audit.dbo.FirmLW_Audit fl on p.PolicyKey=fl.PolicyKey
		where pt.StatusKey = 2 and fl.FirstReviewUserID is not null and p.PolicyKey = @Policykey
		order by pt.AuditDateTime) b) where PolicyKey = @Policykey
	
		set @MAXPolicykey = (select max(Policykey) from #TempPolicyList where Policykey < @MAXPolicykey)  
	END

	select PolicyEffectiveDate, QuoteNumber, AccountName, FirstReviewer, Status, State, IssuedBeforeEffectiveDays, NewToUnderreviewDays from #TempPolicyList

	drop table #TempPolicyList
END

GO
