USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateWillsLargestTrustMattersAmountsData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateWillsLargestTrustMattersAmountsData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateWillsLargestTrustMattersAmountsData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateWillsLargestTrustMattersAmountsData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateWillsLargestTrustMattersAmountsData_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN

	IF NOT EXISTS (select * from WillsStateTrustValuesAmountsLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO WillsStateTrustValuesAmountsLW(PolicyKey, VersionSequence,AmountRangeKey,NumberOfMattersValued,
			LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('AmountRangeKey[1]', 'INT') AmountRangeKey,
				doc.col.value('NumberOfMattersValued[1]', 'INT') NumberOfMattersValued,
			
				@LastUpdateUserID,@LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey, 
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'VARCHAR(100)') CreatedDate
				FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
			
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('AmountRangeKey[1]', 'INT') AmountRangeKey,
				doc.col.value('NumberOfMattersValued[1]', 'INT') NumberOfMattersValued,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE wtelt
			SET 
			 wtelt.AmountRangeKey =tx.AmountRangeKey,
			 wtelt.NumberOfMattersValued =tx.NumberOfMattersValued,
			 wtelt.LastUpdateUserID =tx.LastUpdateUserID,
			 wtelt.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM WillsStateTrustValuesAmountsLW wtelt
			inner join #temp_xml tx 
			on (wtelt.AmountRangeKey=tx.AmountRangeKey and wtelt.PolicyKey=tx.PolicyKey and wtelt.VersionSequence=tx.VersionSequence)
		END




END




GO
