USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertEndorsedAttorniesData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertEndorsedAttorniesData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertEndorsedAttorniesData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertEndorsedAttorniesData_p] AS' 
END
GO
-- exec InsertEndorsedAttorniesData_p 129008, '<Root><Root1><AttorneyKey>178914</AttorneyKey><DesignationId>7</DesignationId><LastUpdateTimeStamp>2022-01-04 13:07:57.848</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><AttorneyName>John Joseph Wall Jr. </AttorneyName><combinedStates>CA</combinedStates><CreatedBy></CreatedBy><PriorActDateAttorneysNew></PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>CA</LicensedStates><NumberOfYearsInPractice>36</NumberOfYearsInPractice><VersionSequence>107732</VersionSequence><rownum>1</rownum><PolicyKey>129008</PolicyKey><IsNonRatedAttorney></IsNonRatedAttorney><isSaved>Y</isSaved><AnnualWorkedHours>2000</AnnualWorkedHours><CreatedDate></CreatedDate><AttorneyPriorActDate>01/20/1991</AttorneyPriorActDate><VersionKey>0</VersionKey></Root1><Root1><DesignationId>2</DesignationId><LastUpdateTimeStamp>2022-01-04 13:07:57.848</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><AttorneyName>Attorney2</AttorneyName><combinedStates>AL</combinedStates><PriorActDateAttorneysNew></PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>AL</LicensedStates><NumberOfYearsInPractice>10</NumberOfYearsInPractice><VersionSequence>107732</VersionSequence><PolicyKey>129008</PolicyKey><IsNonRatedAttorney></IsNonRatedAttorney><AnnualWorkedHours>1100</AnnualWorkedHours><AttorneyPriorActDate>12/12/2017</AttorneyPriorActDate></Root1></Root>', 3, 111349
ALTER PROCEDURE [dbo].[InsertEndorsedAttorniesData_p]
(
@PolicyKey INT,
@xml xml,
@LastUpdateUserID INT,
@VersionKey INT


)
AS
BEGIN
		
		DECLARE @lStates VARCHAR(100)
		CREATE TABLE #Temp
		(SN INT identity(1,1),
		lincensedStates VARCHAR(50)
		)
		CREATE TABLE #Temp1
		(SN INT identity(1,1),
		CompletelincensedStates VARCHAR(50)
		)

			
			
			INSERT INTO AttorneyDetailsLW(AttorneyName, DesignationId, LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,PriorActDateAttorneysNew,NumberOfYearsInPractice
			,PolicyKey,VersionSequence,LastUpdateUserID,IsNonRatedAttorney,isAttorneyEndorsed,VersionKey,CreatedBy,CreatedDate,LastUpdateTimeStamp)
			SELECT
				 doc.col.value('AttorneyName[1]', 'varchar(100)') AttorneyName,
				doc.col.value('DesignationId[1]', 'int') DesignationId, 
				doc.col.value('LicensedStates[1]', 'varchar(1000)') LicensedStates ,
				doc.col.value('AnnualWorkedHours[1]', 'int') AnnualWorkedHours ,
				doc.col.value('AttorneyPriorActDate[1]', 'datetime') AttorneyPriorActDate ,
				doc.col.value('PriorActDateAttorneysNew[1]', 'datetime') PriorActDateAttorneysNew ,
				doc.col.value('NumberOfYearsInPractice[1]', 'int') NumberOfYearsInPractice ,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence ,
				doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				doc.col.value('IsNonRatedAttorney[1]', 'char') IsNonRatedAttorney,
				doc.col.value('isAttorneyEndorsed[1]', 'char') isAttorneyEndorsed,
				@VersionKey,@LastUpdateUserID,getdate(),getdate()
				
			FROM @xml.nodes('/Root/Root1') doc(col)

			
				
			
			
			
			
			
END





GO
