USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateIsAppCompletedAccountIns_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateIsAppCompletedAccountIns_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateIsAppCompletedAccountIns_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateIsAppCompletedAccountIns_p] AS' 
END
GO
--exec ValidateIsAppCompletedAccountIns_p 59561, 59594
ALTER PROCEDURE [dbo].[ValidateIsAppCompletedAccountIns_p]
(
@PolicyKey INT,
@AccountKey INT
)
AS
	BEGIN

		DECLARE @FullyCompleted CHAR
		DECLARE @PolicyStatusKey INT
		DECLARE @PreviousPolicyKey INT
		DECLARE @PercentageOfRevenue INT
		DECLARE @PercentageOfDefense INT
		DECLARE @VersionSequence INT
		DECLARE @PreviousVersionSequence INT
		DECLARE @IsBasicPage CHAR
		DECLARE @RenewBasicInfoPage CHAR
		DECLARE @IsGeneralPage CHAR
		DECLARE @IsSupplementPage CHAR
		DECLARE @IsAttesationPage CHAR
		DECLARE @IsComputerServicePage CHAR
		DECLARE @IsBusinessFundPage CHAR
		DECLARE @IsPracriceMangPage CHAR
		DECLARE @AuditPCPercentage	INT
		DECLARE @AuditNPCPercentage	INT
		DECLARE @computerServicePercentage INT
		DECLARE @businessFundPercentage INT
		DECLARE @investFinencialPercentage INT
		DECLARE @AuditPCPercentageOLD	INT
		DECLARE @AuditNPCPercentageOLD	INT
		DECLARE @computerServicePercentageOLD INT
		DECLARE @businessFundPercentageOLD INT
		DECLARE @investFinencialPercentageOLD INT
		DECLARE @AverageRevenue INT
		SET	@FullyCompleted='Y'
		SELECT @PolicyStatusKey=PolicyStatusKey FROM Policy WHERE PolicyKey=@PolicyKey
		SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PolicyKey)
		SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PreviousPolicyKey)

		IF(@PolicyStatusKey=1)
		BEGIN
			--	PRINT 'IN NEW FLOW'
				select @AverageRevenue=AverageRevenue,@IsBasicPage=IsBasicPage,@IsGeneralPage=IsGeneralPage,@IsSupplementPage=IsSupplementPage,@IsAttesationPage=IsAttesationPage,
				@IsComputerServicePage=IsComputerServicePage,@IsBusinessFundPage=IsBusinessFundPage,@IsPracriceMangPage=IsPracriceMangPage
				from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence
				

				SET @AuditPCPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=5)
				SET @AuditNPCPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
				SET @computerServicePercentage=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=14)
				SET @businessFundPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
				SET @investFinencialPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=19)
				
			IF(@IsBasicPage<>'Y')
				BEGIN
					print '1'
					SET @FullyCompleted='N'
				END
			IF(@IsGeneralPage<>'Y')
				BEGIN
					print '2'
					SET @FullyCompleted='N'
				END
			 IF(@AuditPCPercentage>0 OR @AuditNPCPercentage>0)
				BEGIN
					IF(@IsAttesationPage<>'Y')
							BEGIN
							print '3'
							SET @FullyCompleted='N'
						END

				END

			 IF(@computerServicePercentage>0)
				BEGIN
				print 'computerServicePercentage'
					IF(@IsComputerServicePage<>'Y')
					BEGIN
						print '4'
						SET @FullyCompleted='N'
					END

				END

			 IF(@businessFundPercentage>0)
				BEGIN
				
					IF(@IsBusinessFundPage<>'Y')
					BEGIN
						print '5'
						SET @FullyCompleted='N'
					END

				END

			 IF(@investFinencialPercentage>0)
				BEGIN
				
					IF(@IsSupplementPage<>'Y')
					BEGIN
						print '6'
						SET @FullyCompleted='N'
					END
				END
			IF(@AverageRevenue>500000)
			BEGIN
				IF(@IsPracriceMangPage<>'Y')
					BEGIN
						print '7'
						SET @FullyCompleted='N'
					END
			END
	END
	
	IF(@PolicyStatusKey=2)
	BEGIN
	----exec ValidateIsAppCompletedAccountIns_p 60998, 61031
	DECLARE @IsControlClientFunds CHAR
		PRINT 'IN RENEWAL FLOW'
		select @RenewBasicInfoPage=RenewBasicInfoPage,@IsGeneralPage=IsGeneralPage,@IsSupplementPage=IsSupplementPage,@IsAttesationPage=IsAttesationPage,
				@IsComputerServicePage=IsComputerServicePage,@IsBusinessFundPage=IsBusinessFundPage,@IsPracriceMangPage=IsPracriceMangPage,@IsControlClientFunds=IsControlClientFunds
				from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence

		--SET @AuditPCPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=5)
		SET @AuditNPCPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
		SET @computerServicePercentage=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=14)
		SET @businessFundPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
		SET @investFinencialPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=19)
		--SET @AuditPCPercentageOLD  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence and AOPKey=5)
		SET @AuditNPCPercentageOLD =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=6)
		SET @computerServicePercentageOLD=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=14)
		SET @businessFundPercentageOLD =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=18)
		SET @investFinencialPercentageOLD =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=19)
			
		--if (currentPercentage - previousPercentage >= 5 || (previousPercentage==0 && currentPercentage>previousPercentage)) 
		IF((@AuditNPCPercentage-@AuditNPCPercentageOLD)>=5 OR (@AuditNPCPercentageOLD=0 AND (@AuditNPCPercentage>@AuditNPCPercentageOLD)))
			BEGIN
					IF(@IsAttesationPage<>'Y')
							BEGIN
							print '1'
							SET @FullyCompleted='N'
						END
			END

			IF((@computerServicePercentage-@computerServicePercentageOLD)>=5 OR (@computerServicePercentageOLD=0 AND (@computerServicePercentage>@computerServicePercentageOLD)))
			BEGIN
					IF(@IsComputerServicePage<>'Y')
							BEGIN
							print '2'
							SET @FullyCompleted='N'
						END
			END

			IF((@businessFundPercentage-@computerServicePercentageOLD)>=5 OR (@computerServicePercentageOLD=0 AND (@businessFundPercentage>@computerServicePercentageOLD)) OR @IsControlClientFunds='Y' )
			BEGIN
					IF(@IsBusinessFundPage<>'Y')
							BEGIN
							print '3'
							SET @FullyCompleted='N'
						END
			END

			IF((@investFinencialPercentage-@investFinencialPercentageOLD)>=5 OR (@investFinencialPercentageOLD=0 AND (@investFinencialPercentage>@investFinencialPercentageOLD)))
			BEGIN
					IF(@IsSupplementPage<>'Y')
							BEGIN
							print '4'
							SET @FullyCompleted='N'
						END
			END
	END
--	select IsBasicPage,IsGeneralPage,IsSupplementPage,IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,IsPracriceMangPage From Firm Where PolicyKey=@PolicyKey
	SELECT @FullyCompleted as CompletlyFilled
	
	END

GO
