USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePolicyCoverage_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdatePolicyCoverage_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePolicyCoverage_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdatePolicyCoverage_p] AS' 
END
GO
--exec UpdatePolicyCoverage_p 135330, 26, 'N', 18, 'N', 'Y', 3, 211417, 209748, 'N', '2022-04-29 16:20:42.381'
ALTER PROCEDURE [dbo].[UpdatePolicyCoverage_p](
@PolicyKey INT,
@LimitSequence INT,
@IsClaimExpensesType VARCHAR(10),
@DeductibleSequence INT,
@IsClaimOptionType VARCHAR(10),
@IsDollarDefense CHAR(1),
@LastUpdateUserID INT,
@TransactionSequence INT,
@CoverageSequence INT,
@IsFirmHaveLawyersLiabilityInsurance CHAR(1),
@LastUpdateTimeStamp VARCHAR(50),
@StateDesc VARCHAR(50),
@NevadaDoubleQuoteImplDate DATETIME
)
AS
BEGIN

	--Declare @PolicyExpirationDate DATETIME
	DECLARE @AggregateLimit INT
	DECLARE @OccuranceLimit INT
	DECLARE @AggregateDeductible INT
	DECLARE @OccuranceDeductible INT
	DECLARE @PolicyEffectiveDate DATETIME
	DECLARE @Count INT
	DECLARE @VersionSequence INT,@VersionKey INT
	DECLARE @TransactionSequenceNVQuote INT
	Declare @CreatedDate DATETIME
	DECLARE @TransactionSequence_Ins INT

	Select @CreatedDate=AppCreatedDate, @PolicyEffectiveDate=PolicyEffectiveDate,@VersionKey=VersionKey from policy where policykey=@PolicyKey
	Select @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit FROM Limits WHERE LimitSequence=@LimitSequence
	select @AggregateDeductible=AggregateDeductible,@OccuranceDeductible=OccuranceDeductible from Deductibles where DeductibleSequence=@DeductibleSequence
	select @PolicyEffectiveDate as PolicyEffectiveDate,@AggregateLimit as AggregateLimit,@OccuranceLimit as OccuranceLimit,@AggregateDeductible as AggregateDeductible,@OccuranceDeductible as OccuranceDeductible
	SELECT @VersionSequence=versionsequence from firmlw where policykey=@PolicyKey

	UPDATE PolicyCoverage set AggregateLimit=@AggregateLimit, OccuranceLimit=@OccuranceLimit, AggregateDeductible=@AggregateDeductible, OccuranceDeductible=@OccuranceDeductible,
	 IsManualPremium='N',IsClaimExpensesType=@IsClaimExpensesType,IsClaimOptionType=@IsClaimOptionType,IsDollarDefense=@IsDollarDefense,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where CoverageSequence = @CoverageSequence and TransactionSequence =@TransactionSequence and PolicyKey=@PolicyKey 
		 
	--DELETE FROM ProfessionalLiabilityInsDetailLW where policykey=@PolicyKey

	UPDATE FIRMLW  SET IsFirmHaveLawyersLiabilityInsurance=@IsFirmHaveLawyersLiabilityInsurance,IsCoveragePage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
	--update PolicyTransaction set PolicyExpirationDate=@LastUpdateTimeStamp,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID   where PolicyKey=@PolicyKey
	UPDATE Quote SET IsFirstQuote='Y',IsQuoteSelected='Y',IsMinimumPremium='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence

	SELECT @Count=count(*) FROM ProfessionalLiabilityInsDetailLW WHERE policykey=@PolicyKey
	IF(@Count=0)
	BEGIN
		INSERT INTO ProfessionalLiabilityInsDetailLW(PriorActDatePross,VersionSequence,PolicyKey,LastUpdateUserID,LastUpdateTimeStamp,
		IsProfDefenceExpense,IsPriorActDateFull,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyEffectiveDate,@VersionSequence,@PolicyKey,@LastUpdateUserID,@LastUpdateTimeStamp,'N','N',@VersionKey,@LastUpdateUserID,GetDate())
	END
	ELSE
	BEGIN
		UPDATE ProfessionalLiabilityInsDetailLW SET PriorActDatePross=@PolicyEffectiveDate,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,IsProfDefenceExpense='N',
		LimitAmount=null,DeductibleAmount=null,PolicyExpirationDatePross=null,ProInsPremium=null,IsClaimExpLiability=null,IsPerClaim=null,FirmYear=null,InsuranceCompanyNamePross=null,
		LimitSequencePross=null,DeductibleSequencePross=null,IsPriorActDateFull='N'
		 WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
	END

	IF(@StateDesc = 'NV' and @CreatedDate >= @NevadaDoubleQuoteImplDate)
	BEGIN
		SELECT @Count=count(*) FROM PolicyTransaction WHERE policykey=@PolicyKey
		IF(@Count=1)
		BEGIN
			insert into PolicyTransaction (PolicyKey, TransactionTypeKey, LastUpdateUserID, LastUpdateTimeStamp, PolicyExpirationDate, AccountKey, 
				ProducerCode, StatusKey, VersionSequence, RecordType, CreatedDate, CreatedBy, VersionKey)
			select PolicyKey, TransactionTypeKey, @LastUpdateUserID, @LastUpdateTimeStamp, PolicyExpirationDate, AccountKey, 
				ProducerCode, StatusKey, VersionSequence, 'I', GetDate(), @LastUpdateUserID, VersionKey 
			from PolicyTransaction WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
			SELECT top 1 @TransactionSequence_Ins=TransactionSequence from PolicyTransaction order by TransactionSequence desc

			insert into PolicyCoverage (PolicyKey, TransactionSequence, MarketableProductKey, CoverageKey,  LastUpdateUserID, LastUpdateTimeStamp, IsClaimOptionType, IsClaimExpensesType, 
				AggregateLimit, OccuranceLimit, OccuranceDeductible, AggregateDeductible, IsDollarDefense, IsManualPremium, RecordType, CreatedDate, CreatedBy)
			select PolicyKey, @TransactionSequence_Ins, MarketableProductKey, CoverageKey, @LastUpdateUserID, @LastUpdateTimeStamp, IsClaimOptionType, Case WHEN (@IsClaimExpensesType = 'N') THEN 'Y' ELSE 'N' END,  
				AggregateLimit, OccuranceLimit, OccuranceDeductible, AggregateDeductible, IsDollarDefense, IsManualPremium, 'I', GetDate(), @LastUpdateUserID 
			from PolicyCoverage WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence

			insert into Quote (PolicyKey, TransactionSequence, IsQuoteSelected, IsFirstQuote, IsMinimumPremium, LastUpdateTimeStamp, LastUpdateUserID, isShowQuote, 
				RecordType, CreatedDate, CreatedBy)
			select PolicyKey,  @TransactionSequence_Ins, IsQuoteSelected, 'N', IsMinimumPremium, @LastUpdateTimeStamp, @LastUpdateUserID, isShowQuote, 
				'I', GetDate(), @LastUpdateUserID 
			from Quote WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence

			insert into RatingTrace (PolicyKey, TransactionSequence, RatingDate, LastUpdateUserID, LastUpdateTimeStamp, 
				RecordType, CreatedDate, CreatedBy)
			select PolicyKey, @TransactionSequence_Ins, RatingDate, @LastUpdateUserID, @LastUpdateTimeStamp, 
				'I', GetDate(), @LastUpdateUserID 
			from RatingTrace WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
		END
		ELSE
		BEGIN

			Select top 1 @TransactionSequenceNVQuote=TransactionSequence from Quote where PolicyKey=@PolicyKey and IsFirstQuote='N'
			order by TransactionSequence

			UPDATE PolicyCoverage set AggregateLimit=@AggregateLimit, OccuranceLimit=@OccuranceLimit, AggregateDeductible=@AggregateDeductible, OccuranceDeductible=@OccuranceDeductible,
			IsManualPremium='N',IsClaimExpensesType=Case WHEN (@IsClaimExpensesType = 'N') THEN 'Y' ELSE 'N' END,IsClaimOptionType=@IsClaimOptionType,IsDollarDefense=@IsDollarDefense,
			LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequenceNVQuote

			UPDATE Quote SET IsFirstQuote='N',IsQuoteSelected='Y',IsMinimumPremium='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp 
			WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequenceNVQuote
		END
	END
END




GO
