USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EndorsementOptionsDisplayLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EndorsementOptionsDisplayLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EndorsementOptionsDisplayLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[EndorsementOptionsDisplayLW_p] AS' 
END
GO

--exec EndorsementOptionsDisplayLW_p @DecendingEffectiveDate 

--exec EndorsementOptionsDisplayLW_p 166020                                                                                                               
ALTER PROCEDURE [dbo].[EndorsementOptionsDisplayLW_p]
(
@PolicyKey INT
)
AS
BEGIN
CREATE TABLE #AccountStatusTracker
(
DecendingPolicyKey INT,
DecendingStatus INT,
isFullQuote CHAR,
DecendingEffectiveDate DateTime,
DecendingExpirationDate DateTime
)
CREATE TABLE #EndorsementOptionsDetails
(
isShowCancelltionEndorsement CHAR default 'Y',
isShowLimitEndorsement CHAR default 'Y',
isShowInsuranceCertificate CHAR default 'Y',
isShowNameAddressExtensionEndorsement CHAR default 'Y',
isShowAddChangeAttorneyEndorsement CHAR default 'Y',
isShowDeleteAttorneyEndorsement CHAR default 'Y',
isShowERPEndorsement CHAR default 'N',
isShowERPQuoteLetter CHAR default 'N',
isEnforcedPolicy CHAR default 'N',
isEndorsementEnable CHAR DEFAULT 'Y',
isPolicyExtensionOnExpired Char DEFAULT 'N',
anyDecendentPolicy CHAR DEFAULT 'Y',
isExceptionalCase CHAR DEFAULT 'N',
isShowPemiumCalculation CHAR DEFAULT 'Y',
isManualPremiumPolicy CHAR DEFAULT 'N'
)
Insert into #EndorsementOptionsDetails(isShowCancelltionEndorsement) values('Y')
DECLARE @isShowERPEndorsement CHAR='N', @isShowERPQuoteLetter CHAR='N',@EffectiveDate DATETIME,@Expirationdate DATETIME,@CurrentDate DATETIME,@isEnforcedPolicy CHAR='N'
DECLARE @isExceptionalCase CHAR='N',@StatusKey INT,@TransactionSequence INT,@AccountID INT,@DecendingPolicyKey INT,@DecendingStatus INT,@isShowCancelltionEndorsement CHAR ='Y'
DECLARE @isEndorsementEnable CHAR='Y',@isShowPemiumCalculation CHAR='Y',@CompanyKey INT
SELECT @CompanyKey=p.CompanyKey,@EffectiveDate=p.PolicyEffectiveDate,@Expirationdate=pt.PolicyExpirationDate,@CurrentDate=GETDATE(),@StatusKey=pt.StatusKey,@TransactionSequence=pt.TransactionSequence,@AccountID=p.AccountID FROM Policy p inner join PolicyTransaction pt on p.Policykey=pt.Policykey 
WHERE pt.Policykey=@PolicyKey and pt.TransactionSequence=(SELECT min(TransactionSequence) FROM policytransaction WHERE Policykey=@Policykey)
--select @CurrentDate as CurrentDAte,@EffectiveDate as EffectiveDate,@CurrentDate+129 as FutureBoundry,@CurrentDate-29 as LowerBoundry,@Expirationdate as Expirationdate
--IF((@CurrentDate+129<@EffectiveDate or @CurrentDate-29>@EffectiveDate) and @CurrentDate<@Expirationdate)
DECLARE @anyDecendentPolicy CHAR='Y'
DECLARE @decendentPolicyCount  int
DECLARE @DecendingEffectiveDate DateTime
DECLARE @DecendingExpirationDate DateTime
select ROW_NUMBER() OVER(ORDER BY pt.policykey ASC) AS SN,pt.Policykey,pt.statuskey,p.IsFullQuote into #tempDecendentPolicies from policy p
inner join PolicyTransaction pt on p.Policykey=pt.Policykey
where Accountid=(select Accountid from Policy where Policykey=@PolicyKey ) and p.policykey>@PolicyKey group by pt.Policykey,pt.statuskey,p.IsFullQuote order by pt.PolicyKey
select @decendentPolicyCount=case when count(policykey) is not null then count(policykey) else 0 END  from #tempDecendentPolicies 

DECLARE @decendentStatusKey int
DECLARE @IsFullQuote CHAR
if(@CurrentDate<=@Expirationdate)
begin
       set @isEnforcedPolicy='Y'
end

if(@decendentPolicyCount>0)
begin
select @decendentStatusKey=statuskey,@IsFullQuote=IsFullQuote from #tempDecendentPolicies where SN=1
end
--select * from #tempDecendentPolicies
IF(@decendentPolicyCount=0)
BEGIN
       SET @anyDecendentPolicy='N'
       
END
if(@decendentPolicyCount>0 and @IsFullQuote='Y' and @decendentStatusKey=6)
begin
SET @isShowPemiumCalculation='N'
END

IF(@isEnforcedPolicy='Y' or (@anyDecendentPolicy='Y' and @IsFullQuote='Y' ))
BEGIN
Print 'HI 1'
set @isShowERPEndorsement='Y'
set @isShowERPQuoteLetter='Y'
update #EndorsementOptionsDetails set isEnforcedPolicy='Y',isShowERPEndorsement='Y',isShowERPQuoteLetter='Y'
END

IF( @EffectiveDate>@CurrentDate)
BEGIN
Print 'HI 2'
set @isExceptionalCase='Y'
set @isShowERPEndorsement='N'
set @isShowERPQuoteLetter='N'

END

--select @isEnforcedPolicy,@anyDecendentPolicy
IF(@StatusKey=6 and @anyDecendentPolicy='Y')
BEGIN

SELECT Policykey  into #temp FROM Policy where Accountid=@AccountID and Policykey>@PolicyKey


INSERT INTO #AccountStatusTracker (DecendingPolicyKey,DecendingStatus,DecendingEffectiveDate,DecendingExpirationDate)
SELECT DISTINCT p.Policykey,Statuskey,p.PolicyEffectiveDate,pt.PolicyExpirationDate FROM PolicyTransaction  pt inner join Policy p on p.PolicyKey=pt.PolicyKey
WHERE pt.Policykey in(select PolicyKey from #temp)   ORDER BY Policykey DESC

       --select * from #AccountStatusTracker
       Declare c1 cursor for
                SELECT DecendingPolicyKey,DecendingStatus,DecendingEffectiveDate,DecendingExpirationDate FROM #AccountStatusTracker ORDER BY DecendingPolicyKey DESC
      
           
       
                 OPEN c1
                 FETCH NEXT FROM c1 into @DecendingPolicyKey,@DecendingStatus,@DecendingEffectiveDate,@DecendingExpirationDate         
                 WHILE @@FETCH_STATUS = 0
                             begin
                           IF((@DecendingStatus<>4 and @DecendingStatus<>5 and @DecendingStatus<>8)and @IsFullQuote='Y' and convert(varchar,  @DecendingEffectiveDate, 23) <=convert(varchar, GetDate(), 23))
                             BEGIN
                             
                             set @isShowCancelltionEndorsement='N'
                             END
                        -- select @DecendingPolicyKey,@DecendingStatus
                             FETCH NEXT FROM c1 into @DecendingPolicyKey,@DecendingStatus,@DecendingEffectiveDate,@DecendingExpirationDate                     
                             END
                             CLOSE c1
                             DEALLOCATE c1

UPDATE #EndorsementOptionsDetails set isShowCancelltionEndorsement=@isShowCancelltionEndorsement
drop table #temp
       END

DECLARE @AttorneyCount INT
DECLARE @isDeathDisabilityERP CHAR
DECLARE @isFirmERP CHAR
DECLARE @isAttorneyRetiring CHAR
DECLARE @isManualPremium CHAR
Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey

SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey))
--select @AttorneyCount,@isAttorneyRetiring,@isFirmERP
if(@AttorneyCount=1 and (@isFirmERP='Y' or @isAttorneyRetiring='Y'))
begin
print 'hello'
       SET @isEndorsementEnable='N'
--     set @isShowCancelltionEndorsement='N'
       
end
if(@anyDecendentPolicy='Y' and @isEnforcedPolicy='Y')
begin
if(@IsFullQuote='Y'  and  @decendentPolicyCount>0  and @decendentStatusKey=6)
begin
set @isExceptionalCase='Y'
end
else if(@IsFullQuote='Y'  and  @decendentPolicyCount>0  and @decendentStatusKey<>6)
begin
set @isExceptionalCase='N'
end
else
set @isExceptionalCase='N'
end

IF(@StatusKey=6 and @anyDecendentPolicy='N' and @isEnforcedPolicy='N')
BEGIN
       set @isShowERPEndorsement='Y'
       set @isShowERPQuoteLetter='Y'
END

IF(@StatusKey=6 and  @decendentPolicyCount>0  and @decendentStatusKey<>6)
BEGIN
       set @isShowERPEndorsement='Y'
       set @isShowERPQuoteLetter='Y'
END

update #EndorsementOptionsDetails set isEndorsementEnable=@isEndorsementEnable,anyDecendentPolicy=@anyDecendentPolicy,isExceptionalCase=@isExceptionalCase,
isShowERPEndorsement=@isShowERPEndorsement,isShowERPQuoteLetter=@isShowERPQuoteLetter,isShowPemiumCalculation=@isShowPemiumCalculation
--SELECT @isEnforcedPolicy
--Issued with Manual Premium
Print 'ji'
       
       IF Exists(Select * From EndorsementDetails where Policykey=@PolicyKey)
       BEGIN

              DECLARE @minimumTransactionSequence INT=(Select Min(PreviousFinalizedTransactionSequence) from EndorsementDetails Where Policykey=@PolicyKey)
              SET @isManualPremium=(Select CASE WHEN IsManualPremium is Not null Then IsManualPremium else 'N' END from PolicyCoverage Where PolicyKey=@PolicyKey and TransactionSequence=@minimumTransactionSequence)
       END
       else
		   BEGIN
		   print 'NEw'
				  SET @isManualPremium=(Select CASE WHEN IsManualPremium is Not null Then IsManualPremium else 'N' END from PolicyCoverage pc  Inner join Quote q on q.PolicyKey=pc.PolicyKey and pc.TransactionSequence=q.TransactionSequence Where pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y')
		   END
       Print @isManualPremium
       update #EndorsementOptionsDetails set isManualPremiumPolicy=@isManualPremium
       --if(@PolicyKey=97526)
       --begin
       --       update #EndorsementOptionsDetails set isEnforcedPolicy='Y',isPolicyExtensionOnExpired='Y'
       --end

       --if(@CompanyKey=3)
       --       update #EndorsementOptionsDetails set isShowERPEndorsement='N'

SELECT * FROM #EndorsementOptionsDetails 

drop table #tempDecendentPolicies
drop table #EndorsementOptionsDetails
END


GO
