USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFamilySupplimentDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateFamilySupplimentDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateFamilySupplimentDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateFamilySupplimentDetails_p] AS' 
END
GO
--exec InsertUpdateFamilySupplimentDetails_p 128310, 106897, '<Root><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>1</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>2</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>3</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>4</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>5</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>6</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>7</FLAOPKey><PercentageValue>100</PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc>hfdhfdhfd</FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1><Root1><LastUpdateUserID>3</LastUpdateUserID><PolicyKey>128310</PolicyKey><CreatedBy>3</CreatedBy><FLAOPKey>8</FLAOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-29 18:34:38.47</CreatedDate><FLAOPCommentDesc></FLAOPCommentDesc><VersionSequence>106897</VersionSequence><VersionKey>64</VersionKey></Root1></Root>', 3, '2021-11-29 18:34:38.47'
ALTER PROCEDURE [dbo].[InsertUpdateFamilySupplimentDetails_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50)
)
AS
BEGIN
	IF NOT EXISTS (select FLAOPKey from FamilyLawDetailsLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO FamilyLawDetailsLW(FLAOPKey, PercentageValue, FLAOPCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
			doc.col.value('FLAOPKey[1]', 'INT') FLAOPKey,
			doc.col.value('PercentageValue[1]', 'int') PercentageValue, 
			doc.col.value('FLAOPCommentDesc[1]', 'varchar(1000)') FLAOPCommentDesc,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
			@LastUpdateTimeStamp,
			doc.col.value('VersionKey[1]', 'int') VersionKey,
			doc.col.value('CreatedBy[1]', 'int') CreatedBy,
			doc.col.value('CreatedDate[1]', 'VARCHAR(100)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
			doc.col.value('FLAOPKey[1]', 'INT') FLAOPKey,
			doc.col.value('PercentageValue[1]', 'int') PercentageValue, 
			doc.col.value('FLAOPCommentDesc[1]', 'varchar(1000)') FLAOPCommentDesc,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
			@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE fld
			SET 
			 fld.PercentageValue =tx.PercentageValue,
			 fld.FLAOPCommentDesc =tx.FLAOPCommentDesc,
			 fld.LastUpdateUserID =tx.LastUpdateUserID,
			 fld.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM FamilyLawDetailsLW fld
			inner join #temp_xml tx 
			on (fld.FLAOPKey=tx.FLAOPKey and fld.PolicyKey=tx.PolicyKey and fld.VersionSequence=tx.VersionSequence)
		END

	--DELETE FROM FamilyLawDetailsLW WHERE POLICYKEY=@PolicyKey

	--INSERT INTO FamilyLawDetailsLW(FLAOPKey, PercentageValue, FLAOPCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
	--SELECT
	--		doc.col.value('FLAOPKey[1]', 'INT') FLAOPKey,
	--	doc.col.value('PercentageValue[1]', 'int') PercentageValue, 
	--	doc.col.value('FLAOPCommentDesc[1]', 'varchar(1000)') FLAOPCommentDesc ,
				
	--	doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
	--	doc.col.value('VersionSequence[1]', 'int') VersionSequence,
	--	doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
	--	@LastUpdateTimeStamp
	--FROM @xml.nodes('/Root/Root1') doc(col)
	--UPDATE FamilyLawDetailsLW SET LastUpdateTimeStamp=GETDATE() where PolicyKey=@PolicyKey
END



GO
