USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateProtexureFormGeneralData_ACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateProtexureFormGeneralData_ACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateProtexureFormGeneralData_ACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateProtexureFormGeneralData_ACC_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertUpdateProtexureFormGeneralData_ACC_p](
@LimitSequencePross INT = null,
@DeductibleSequencePross INT = null,
@IsClaimExpensesType VARCHAR(10),
@IsClaimOptionType VARCHAR(10),
@AccountEmail VARCHAR(100),
@InsuranceCompanyNamePross VARCHAR(100) = null,
@PolicyExpirationDatePross DATETIME = null,
@ProInsPremium numeric(18,2)  = null,
@IsPriorActDateFull CHAR,
@PriorActDatePross datetime = null,
@FirmYear INT = null,
@hasAnyFirmPersonnelReported CHAR,
@AccountName VARCHAR(200),
@ContactPerson VARCHAR(100),
@Address1 VARCHAR(300),
@StateCode VARCHAR(20),
@CountyDesc VARCHAR(20),
@City VARCHAR(50),
@Zip VARCHAR(50),
@WorkPhone VARCHAR(20),
@LastUpdateTimeStamp VARCHAR(50),
@LastUpdateUserID varchar(10),
@IsSignedEngagement CHAR,
@marketableproductkey INT,
@grossRevenueXML xml,
@aopXml xml

)
AS
BEGIN

	DECLARE @AggregateLimit INT, @OccuranceLimit INT, @AggregateDeductible INT, @OccuranceDeductible INT,@FormKey_Inserted INT

	SELECT @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit FROM limits WHERE LimitSequence=@LimitSequencePross
		SELECT @AggregateDeductible=AggregateDeductible,@OccuranceDeductible=OccuranceDeductible FROM Deductibles WHERE DeductibleSequence=@DeductibleSequencePross
	--BEGIN TRAN T1	
	INSERT INTO EstimateFormGeneralInfo(MarketableProductKey,AccountName,ContactPerson,Address1,StateCode,CountyDesc,City,Zip,WorkPhone,AccountEmail,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,IsClaimOptionType,IsClaimExpensesType,
				InsuranceCompanyNamePross,PolicyExpirationDatePross,ProInsPremium,IsPriorActDateFull,hasAnyFirmPersonnelReported,FirmYear,PriorActDatePross,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate,IsSignedEngagement)
	VALUES(@marketableproductkey,@AccountName,@ContactPerson,@Address1,@StateCode,@CountyDesc,@City,@Zip,@WorkPhone,@AccountEmail,@AggregateLimit,@OccuranceLimit,@OccuranceDeductible,@AggregateDeductible,@IsClaimOptionType,@IsClaimExpensesType,
		@InsuranceCompanyNamePross,@PolicyExpirationDatePross,@ProInsPremium,@IsPriorActDateFull,@hasAnyFirmPersonnelReported,@FirmYear,@PriorActDatePross,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp,@IsSignedEngagement)
	select @FormKey_Inserted=IDENT_CURRENT('EstimateFormGeneralInfo')


--	Inserting Attornyes data

	INSERT INTO EstimateFormGrossRevenue(GrossRevenueKey, YearEndDate, Amount,FormKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('GrossRevenueKey[1]', 'int') GrossRevenueKey,
				doc.col.value('YearEndDate[1]', 'VARCHAR(100)') YearEndDate,
				doc.col.value('Amount[1]', 'numeric(10,2)') Amount,
				@FormKey_Inserted ,
				@LastUpdateUserID,
				@LastUpdateTimeStamp,
				@LastUpdateUserID,
				@LastUpdateTimeStamp
			FROM @grossRevenueXML.nodes('/Root/Root1') doc(col)


		--Inserting AOP data

		INSERT INTO EstimateFormAOPDetails(AOPKey, PercentageValue,AOPCommentDesc, FormKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('AOPKey[1]', 'int') AOPKey,
				doc.col.value('percentageValue[1]', 'int') percentageValue,
				doc.col.value('AOPCommentDesc[1]', 'VARCHAR(500)') AOPCommentDesc,
				@FormKey_Inserted ,
				@LastUpdateUserID,
				@LastUpdateTimeStamp,
				@LastUpdateUserID,
				@LastUpdateTimeStamp
				
			FROM @aopXml.nodes('/Root/Root1') doc(col)
--commit
--COMMIT TRAN T1;




END





GO
