USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPolicyDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CopyPolicyDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPolicyDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CopyPolicyDataLW_p] AS' 
END
GO

--exec  CopyPolicyDataLW_p 126463, 126827, 126634, 105403, 1, '2025-09-09 16:51:18.142', '10/14/2025', 'Requote'
--exec CopyPolicyDataLW_p 139844,141547,140034,117755,3,'2022-10-18 15:49:46.673','09/30/2022','CopyPolicy'

ALTER procedure [dbo].[CopyPolicyDataLW_p]
(
@PolicyKey INT,@AccountKey INT,@AddressKey INT,@VersionSequence INT,@UserNo INT,@LastUpdateTimeStampTemp VARCHAR(500),@PolicyEffectiveDate VARCHAR(100),@moduleName VARCHAR(20)
)
AS BEGIN

DECLARE @PolicyKey_Inserted INT,@VersionKey_Inserted int,@AccountKey_Inserted INT,@AddressKey_Inserted INT,@VersionSequence_Inserted INT,@TransactionSequence_Inserted INT,@CoverageSequence_Inserted INT,@AgentName VARCHAR(100),@TransactionEffectiveDate DATETIME
DECLARE @PolicyExpirationDate DATETIME,@TransactionExpirationDate DATETIME,@maxAccountID INT,@QuoteNumber VARCHAR(100),@AppCreatedDate DATETIME,@AggregateLimit INT,@OccuranceLimit INT,@AggregateDeductible INT,@LimitSequencePross INT,@DeductibleSequencePross INT
DECLARE @IsClaimExpensesType CHAR(1),@IsClaimOptionType CHAR(1),@IsFirmPracticeInOtherState CHAR(1),@IsProfDefenceExpense CHAR(1),@PolicyPriorActDatePross DATETIME,@Status INT,@AccountID INT,@TransactionSequence INT,@LastUpdateTimeStamp DATETIME
DECLARE @isPolicyRequoted CHAR,@EffectiveDate DATETIME,@StatusKey INT,@DaysDifference INT,@isCopyPolicy CHAR='N'
SET @AccountID=(SELECT AccountID FROM Policy WHERE PolicyKey=@PolicyKey)
SET @isPolicyRequoted=(SELECT CASE WHEN isPolicyRequoted is not null THEN isPolicyRequoted ELSE 'N' END as isPolicyRequoted FROM FirmLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
select top 1 @StatusKey=StatusKey from PolicyTransaction where PolicyKey=@PolicyKey
--select @isPolicyRequoted
SET @EffectiveDate=@PolicyEffectiveDate
if(@moduleName='CopyPolicy')
begin
		DECLARE @YearDifference INT
			SET @YearDifference=(SELECT DATEDIFF(year, convert(varchar, @EffectiveDate, 101),convert(varchar,  GETDATE(), 101)) )
		if(@YearDifference>0)
		BEGIN 
		
			SET @EffectiveDate=(SELECT DATEADD(year, @YearDifference, @EffectiveDate))
				
		END

		--select convert(varchar, @EffectiveDate, 101),convert(varchar,  GETDATE(), 101)
		if(convert(varchar, @EffectiveDate, 101)<convert(varchar,  GETDATE(), 101))
			begin
				SET @EffectiveDate=(SELECT DATEADD(year, 1, @EffectiveDate))
			end
end


--select * from Policy where Accountid=@AccountID and Year(PolicyEffectiveDate)=year(getdate())
if exists(select * from Policy where Accountid=@AccountID and Year(PolicyEffectiveDate)>=year(getdate())  and isUncompletedData<>'Y')
begin
	Print 'Policy exists for present year'
	if exists(select * from Policy where Accountid=@AccountID and Year(PolicyEffectiveDate)>=year(getdate())+1  )
	begin
		Print 'Policy exists for next year year'
			set @isCopyPolicy='N'
	end
	else
		begin
			set @DaysDifference=(SELECT  DATEDIFF(day, (select  convert(varchar,PolicyEffectiveDate,101) from Policy where Accountid=@AccountID  and isUncompletedData<>'Y' and Year(PolicyEffectiveDate)=year(getdate()) group by PolicyEffectiveDate),convert(varchar,getdate(),101)) )
			if(@DaysDifference>90)
				set @isCopyPolicy='Y'
		end
end
else
Begin
	Print 'Policy doesn''t exist for present year'
	set @isCopyPolicy='Y'
end

--select @isCopyPolicy as isCopyPolicy

if( @isCopyPolicy= 'Y')
begin 
print 'hi***************************'
begin try

BEGIN TRANSACTION
if(@moduleName='Requote')
	update FirmLW set isPolicyRequoted='Y',LastUpdateUserID=@UserNo,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey=@PolicyKey

print 'Not Requoted'
set @LastUpdateTimeStamp=(SELECT GETDATE())
	PRINT 'Going to create new policy from existing data'
	SET @AppCreatedDate = convert(VARCHAR, GETDATE(), 101)
	PRINT 'Going to create new policy from existing data'
	SET @AppCreatedDate = convert(VARCHAR, GETDATE(), 101)

	SELECT @AgentName=AgentName FROM UserDetails WHERE UserNo=@UserNo

	PRINT('1')
	BEGIN
	INSERT INTO Account (AccountID,AccountName,Website,AccountEmail,AccountVersion,secondaryEmail,LastUpdateTimeStamp,LastUpdateUserID)
	SELECT @AccountID,AccountName,Website,AccountEmail,AccountVersion,secondaryEmail,@LastUpdateTimeStamp,@UserNo FROM Account 
	WHERE AccountKey= @AccountKey
	PRINT('2')
	SELECT @AccountKey_Inserted=IDENT_CURRENT('Account')

	INSERT INTO Address(Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc,otherPhone,Street,LastUpdateTimeStamp,LastUpdateUserID)
	SELECT			    Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc,otherPhone,Street,@LastUpdateTimeStamp,@UserNo 
	FROM Address WHERE AddressKey= @AddressKey
	PRINT('3')
	SELECT @AddressKey_Inserted=IDENT_CURRENT('Address')
	INSERT INTO AccountAddress(AccountKey,AddressKey,LastUpdateTimeStamp,LastUpdateUserID) values(@AccountKey_Inserted,@AddressKey_Inserted,@LastUpdateTimeStamp,@UserNo)
	------------ inserting data in policy table and generating PolicyKey
	PRINT('4')
	INSERT INTO Policy(AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,AppCreatedDate,LastUpdateUserID,LastUpdateTimeStamp,PolicyEffectiveDate,CompanyKey)
	SELECT @AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,ReasonStatusComment,ReasonStatusTypeKey,1,convert(DATETIME,GETDATE(),101),@UserNo,@LastUpdateTimeStamp,@EffectiveDate,CompanyKey 
	FROM Policy  WHERE PolicyKey= @PolicyKey
	PRINT('5')
	SELECT @PolicyKey_Inserted=IDENT_CURRENT('Policy')

	INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
	Select @PolicyKey_Inserted,@UserNo,getdate(),@UserNo,getdate() 

	select @VersionKey_Inserted=IDENT_CURRENT('Version')
	--select @VersionKey_Inserted as VersionKey

	Declare @StateCode VARCHAR(50),@CompanyKey_temp INT
	set @StateCode=(select stateCode from Address where AddressKey=@AddressKey_Inserted)

	SET @CompanyKey_temp=(select top 1 CompanyKey  from StateCompany where StateCode=@StateCode and MarketableProductKey= 2 and effectivedate <= @EffectiveDate and ExpirationDate >= @EffectiveDate
	order by EffectiveDate desc)

	SET @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)
	UPDATE Policy SET  QuoteNumber=@QuoteNumber,VersionKey=@VersionKey_Inserted,CompanyKey=@CompanyKey_temp WHERE PolicyKey=@PolicyKey_Inserted
	COMMIT
	END
	-------------------------------------------------------------------

	DECLARE @TransactionTypeKey						INT
	DECLARE @CompanyCode							VARCHAR(100)
	DECLARE @ProducerCode							VARCHAR(100)
	DECLARE @TotalPremium							numeric(17,2)
	DECLARE @TotalPolicyModifierPercentage			INT
	DECLARE @TotalPolicyTaxAmount					Numeric(17,2)
	DECLARE @InvoicedPremium						Numeric(17,2)
	DECLARE @SubInsuranceCarrier					VARCHAR(50)

	
      
		

	---Code paste below
	INSERT INTO FirmLW(PolicyKey,ContactPerson,ContactPhone,IsPolicyExcludesCoverage,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,
	LicenseNumber,YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,
	IsFirmProvidedLegalServiceToSecurity,IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromSecondLargestRevenueClient,
	ServicesRenderedSecondLargestRevenueClient,PolicyExcludeCoverageForAffiliatesDesc,
	IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,
	IsAttorneyNotCoveredByProfLiability,IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
	IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,AttorneyDeclineForProfLiabilityDates,
	AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,
	IsFirmHaveProcForFormersClients,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
	IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
	IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,
	IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,IsQuickQuoteMailSent,
	IssuedDate,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,
	IsFirmProvideInvestmentAdvice,ClientNameSecondLargestRevenueClient,DateRenderedSecondLargestRevenueClient,Is9010Policy,IsSpecialIssuance,SpecialIssuanceComments,
	withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,provideMoneyManagementServices,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,
	secondayContactPerson,isQuoteByEmail,isNewApp,isPolicyExcludeCoverage,isComingFromUWFlow,LastUpdateUserID,LastUpdateTimeStamp,IsFirmMergedWithOtherFirm,AnnualRevenueSequence,custodyOrControlFunds
	,needCyberCoverage,isServedAsCEOChairmanPresident,FirmInvestmentAdviceDesc,ClientNameFirstLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,PercentFromFirstLargestRevenueClient,
	DateRenderedFirstLargestRevenueClient,disbursementTransaction,peopleToDisburseFunds,instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,isRequotePolicy,VersionKey,CreatedDate)

	SELECT @PolicyKey_Inserted,ContactPerson,ContactPhone,IsPolicyExcludesCoverage,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,
	LicenseNumber,YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,
	IsFirmProvidedLegalServiceToSecurity,IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromSecondLargestRevenueClient,
	ServicesRenderedSecondLargestRevenueClient,PolicyExcludeCoverageForAffiliatesDesc,
	IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,
	IsAttorneyNotCoveredByProfLiability,IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
	IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,AttorneyDeclineForProfLiabilityDates,
	AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,
	IsFirmHaveProcForFormersClients,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
	IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
	IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,
	IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,IsQuickQuoteMailSent,
	IssuedDate,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,
	IsFirmProvideInvestmentAdvice,ClientNameSecondLargestRevenueClient,DateRenderedSecondLargestRevenueClient,Is9010Policy,IsSpecialIssuance,SpecialIssuanceComments,
	withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,provideMoneyManagementServices,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,
	secondayContactPerson,isQuoteByEmail,'Y',isPolicyExcludeCoverage,null,@UserNo,@LastUpdateTimeStamp,IsFirmMergedWithOtherFirm,AnnualRevenueSequence,custodyOrControlFunds
	,needCyberCoverage,isServedAsCEOChairmanPresident,FirmInvestmentAdviceDesc,ClientNameFirstLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,PercentFromFirstLargestRevenueClient,
	DateRenderedFirstLargestRevenueClient,disbursementTransaction,peopleToDisburseFunds,instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,'Y',@VersionKey_Inserted,getdate()
	FROM FirmLW WHERE PolicyKey= @PolicyKey and VersionSequence=@VersionSequence
	SELECT @VersionSequence_Inserted=IDENT_CURRENT('FirmLW')

	--Cursor for inserting data into multiple tables with new keys
	IF(@StatusKey=6 or @StatusKey=7)
		SET @TransactionSequence=(Select TransactionSequence from quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y')
	else
		SET @TransactionSequence=(Select TransactionSequence from quote where Policykey=@PolicyKey and IsFirstQuote='Y')
       
			PRINT('6')

				INSERT INTO PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,ProducerCode,SubInsuranceCarrier,StatusKey,LastUpdateUserID,LastUpdateTimeStamp,VersionSequence,VersionKey,CreatedDate)
				SELECT @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,1,ProducerCode,SubInsuranceCarrier,1,@UserNo,@LastUpdateTimeStamp,@VersionSequence_Inserted,@VersionKey_Inserted,getdate()
				FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence =@TransactionSequence 

				SELECT @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')
				update PolicyTransaction set ProducerCode=null where Policykey=@PolicyKey_Inserted and ProducerCode in('P0000007','P0000040','P0000041','P0000042','P0000031','P0000073','P0000001','P0000004','P0000087')
			PRINT('7')
				INSERT INTO PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
				IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
				Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,PrimaryAccess,ClassCode,IsDollarDefense,LastUpdateUserID,LastUpdateTimeStamp,CreatedDate)
				
				SELECT @PolicyKey_Inserted,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
				IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
				Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,PrimaryAccess,ClassCode,IsDollarDefense,@UserNo,@LastUpdateTimeStamp,getdate()
				 FROM PolicyCoverage WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence
				 PRINT('8')
				SELECT @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

				------------------------------------------------------------------------
				--inserting data into quote table
				INSERT INTO Quote (PolicyKey,TransactionSequence,QuoteEffectiveDate,QuoteExpiryDate,IsThisOptionFinalised,AcceptanceDate,IsQuoteSelected,IsFirstQuote,
				Comment,ClaimsMadeYearDesc,TotalPremiumFirstRange,IsMinimumPremium,QuoteDate,LastUpdateTimeStamp,LastUpdateUserID,isShowQuote,CreatedDate)
				SELECT @PolicyKey_Inserted,@TransactionSequence_Inserted,QuoteEffectiveDate,QuoteExpiryDate,IsThisOptionFinalised,AcceptanceDate,IsQuoteSelected,IsFirstQuote,
				Comment,ClaimsMadeYearDesc,TotalPremiumFirstRange,IsMinimumPremium,QuoteDate,@LastUpdateTimeStamp,@UserNo,isShowQuote,getdate()
				FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence =@TransactionSequence 
				PRINT('9')
				INSERT INTO RatingTrace (PolicyKey,TransactionSequence,LastUpdateTimeStamp,LastUpdateUserID,CreatedDate)
				SELECT @PolicyKey_Inserted,@TransactionSequence_Inserted,@LastUpdateTimeStamp,@UserNo,getdate()
				 FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence 
				------------------------------------------------------------------------
				PRINT('10')
				INSERT INTO ProfessionalLiabilityInsDetailLW(PolicyKey,VersionSequence,VersionKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,
				IsClaimExpLiability,PriorActDatePross,IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross
				,LastUpdateUserID,LastUpdateTimeStamp,IsProfDefenceExpense,RecordType,CreatedDate,CreatedBy)
				select @PolicyKey_Inserted,@VersionSequence_Inserted,@VersionKey_Inserted,NULL,NULL,NULL,NULL,
				NULL,PriorActDatePross,NULL,IsPriorActDateFull,FirmYear,NULL,NULL,NULL,
				@UserNo,GETDATE(),IsProfDefenceExpense,'I',GETDATE(),@UserNo
				From ProfessionalLiabilityInsDetailLW WHERE PolicyKey= @PolicyKey and VersionSequence=@VersionSequence


 

	PRINT('12')
	Declare @SmartSearchCount INT

	Select @SmartSearchCount=count(*) FROM SmartSearchValue WHERE policykey=@PolicyKey
	if(@SmartSearchCount is null OR @SmartSearchCount<1)
	BEGIN
		INSERT INTO SmartSearchValue(AOPKey,Percentage,PolicyKey,LastUpdateTimeStamp,LastUpdateUserID,CreatedDate)
		SELECT AOPKey,PercentageValue,@PolicyKey_Inserted,@LastUpdateTimeStamp,@UserNo,getdate() FROM AreaOfPracticeLW WHERE policykey=@PolicyKey 
		and VersionSequence=@VersionSequence and  PercentageValue>0
	 END
	else
	BEGIN
		INSERT INTO SmartSearchValue(AOPKey,Percentage,PolicyKey,LastUpdateTimeStamp,LastUpdateUserID,CreatedDate)
		SELECT AOPKey,Percentage,@PolicyKey_Inserted,@LastUpdateTimeStamp,@UserNo,getdate() FROM SmartSearchValue WHERE policykey=@PolicyKey 
	END

	INSERT INTO AreaOfPracticeLW(AOPKey,PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedDate)
		SELECT AOPKey,PercentageValue,AOPCommentDesc,@PolicyKey_Inserted,@VersionSequence_Inserted,@UserNo,@LastUpdateTimeStamp,@VersionKey_Inserted,getdate()
		FROM AreaOfPracticeLW WHERE policykey=@PolicyKey 
		PRINT('13')
	------------------------ CURSOR FOR COPYING ATTORNEYDETAILSLW DATA ------------------------------
	DECLARE @Attorneykey INT
	DECLARE c12 CURSOR  FOR
	SELECT Attorneykey FROM AttorneyDetailsLW WHERE PolicyKey=@PolicyKey
	open c12
	fetch next FROM c12 INTO @Attorneykey
	while @@FETCH_STATUS=0
	BEGIN
       
		   BEGIN
				  INSERT INTO AttorneyDetailsLW(PolicyKey,VersionSequence,AttorneyName,LicensedStates,AnnualWorkedHours,
					NumberOfYearsInPractice,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,LastUpdateUserID,
					LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,PriorActDateAttorneysNew,VersionKey,CreatedDate) 
				  SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,AttorneyName,LicensedStates,AnnualWorkedHours,
					  NumberOfYearsInPractice + (@YearDifference+1),NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
					   @UserNo,@LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,AttorneyPriorActDate,@VersionKey_Inserted,getdate() FROM AttorneyDetailsLW
				  WHERE Attorneykey=@Attorneykey and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
              
		   END
	fetch next FROM c12 INTO @Attorneykey
	END
	close c12
	deallocate c12
	PRINT('14')
	---------------------------------------------------------------------------------------------

	---------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------

	----------------------------------------------------------------------------------------------

	--------------------------CURSOR FOR COPYING FIRMINITLAWSUITDATA------------------------------------------------------------------------
	DECLARE @FirminitLawsuitsKey INT
	DECLARE c1 CURSOR  FOR
	SELECT FirminitLawsuitsKey FROM FirmInitLawsuitsLW WHERE PolicyKey=@PolicyKey
	open c1
	fetch next FROM c1 INTO @FirminitLawsuitsKey
	while @@FETCH_STATUS=0
	BEGIN
       
		   BEGIN
				  INSERT INTO FirmInitLawsuitsLW(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
		   IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUpdateUserID,
				  LastUpdateTimeStamp,VersionKey,CreatedDate) 
				  SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
				  IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,
				  LastUpdateUserID,LastUpdateTimeStamp,@VersionKey_Inserted,getdate()  FROM FirmInitLawsuitsLW
				  WHERE FirminitLawsuitsKey=@FirminitLawsuitsKey and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
              
		   END
	fetch next FROM c1 INTO @FirminitLawsuitsKey
	END
	close c1
	deallocate c1
	-------------------------------------------------Bankruptcy data insertion---------------------------------------------
	PRINT('15')
	---Bankruptc case details------------

	INSERT INTO BankruptcyCasesDetailsLW (bankruptcyKey,Debtor,Creditor,Trustee,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT bankruptcyKey,Debtor,Creditor,Trustee,@PolicyKey_Inserted,@VersionSequence_Inserted,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM BankruptcyCasesDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

	
	--------------------------------------------------------------
	-----------------BankruptcyDetailsLW-------
	PRINT('16')
	INSERT INTO BankruptcyDetailsLW (PolicyKey,VersionSequence,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM BankruptcyDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	PRINT('17')
	-------------------------------------CollectionSupplement DAta---------------------------------------------------------------------------

	PRINT('18')
	INSERT INTO collectionsSuplimentDetailsLW(PolicyKey,VersionSequence,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM collectionsSuplimentDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	PRINT('19')
	-------------------------------------copyright trademark DAta---------------------------------------------------------------------------
	
	INSERT INTO  CopyRightTrademarkDetailsLW(PolicyKey,VersionSequence,otherServices,otherServicesDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,otherServices,otherServicesDesc,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM CopyRightTrademarkDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	PRINT('20')
	-------------------------------------Family Supplement data---------------------------------------------------------------------------

	INSERT INTO  FamilyLawDetailsLW (PolicyKey,VersionSequence,FLAOPKey,PercentageValue,FLAOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,FLAOPKey,PercentageValue,FLAOPCommentDesc,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM FamilyLawDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	PRINT('21')
	-------------------------------------Financial Supplement data---------------------------------------------------------------------------
	INSERT INTO FinancialInstitutionDetailsLW(PolicyKey,VersionSequence,equityInterest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT  @PolicyKey_Inserted,@VersionSequence_Inserted,equityInterest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM FinancialInstitutionDetailsLW  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

	PRINT('22')
	-------------------------------------Government Supplement data---------------------------------------------------------------------------
	INSERT INTO GovernmentServicesDetails(ServiceName,ServicesProvided,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT ServiceName,ServicesProvided, @PolicyKey_Inserted,@VersionSequence_Inserted,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM GovernmentServicesDetails WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

	PRINT('23')
	INSERT INTO   GovernmentSupplementDetailsLW	(providingBondWork,eminentDomainServices,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT providingBondWork,eminentDomainServices,@PolicyKey_Inserted,@VersionSequence_Inserted,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM  GovernmentSupplementDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	------------------------------------ Copying ProfLiabClaimAgnstFirmLW data-------------------------------------------------------------
	PRINT('24')
	
	PRINT('25')
	-----------------------------------------------------------------------------------------------
	----------------------------------Copy ProdecessorFirmLW data----------------------------------

	DECLARE @ProdecessorFirmKey INT
	DECLARE c13 CURSOR  FOR
	SELECT ProdecessorFirmKey FROM ProdecessorFirmLW WHERE PolicyKey=@PolicyKey
	open c13
	fetch next FROM c13 INTO @ProdecessorFirmKey
	while @@FETCH_STATUS=0
	BEGIN
       
		   BEGIN
				  INSERT INTO ProdecessorFirmLW(PolicyKey,VersionSequence,IsERPPurchased,FirmName,TypeOfEntity,
		   DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,LastUpdateUserID,
				  LastUpdateTimeStamp,ERPExpDate,DateOfAcquisation,VersionKey,CreatedDate) 
				  SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,IsERPPurchased,FirmName,TypeOfEntity,
				  DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,@LastUpdateTimeStamp,
				  @UserNo,ERPExpDate,DateOfAcquisation,@VersionKey_Inserted,getdate() FROM ProdecessorFirmLW
				  WHERE ProdecessorFirmKey=@ProdecessorFirmKey and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
              
		   END
	fetch next FROM c13 INTO @ProdecessorFirmKey
	END
	close c13
	deallocate c13
	PRINT('26')
	---------------------------------------------------------------------------------------------

	----------------------------------------Copying RealEstate Supplements Data-----------------------------------------------------------

	INSERT INTO AreaOfPracticeRealEstateLW (PolicyKey,VersionSequence,AOPREKey,PercentageValue,AOPRECommentDesc,CommercialPercentageValue,AOPRECommCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,AOPREKey,PercentageValue,AOPRECommentDesc ,CommercialPercentageValue,AOPRECommCommentDesc,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM AreaOfPracticeRealEstateLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

	PRINT('27')
	INSERT INTO RealEastateDetailsLW (transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,@PolicyKey_Inserted,@VersionSequence_Inserted,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM	RealEastateDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	PRINT('28')
	-------------------------------------------------------Copying Plaintiff Supplements Data---------------------------
	INSERT INTO PlantiffSuppLW (PolicyKey,VersionSequence,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
	NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
	IsApplAdvertiseByRadio,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
	IsAppAcceptRefersFromOtherFirms,IsSettlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
	PerOfCasesReferToApplicant,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByInternet,
	PerOfCasesSettledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
	NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
	IsApplAdvertiseByRadio ,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
	IsAppAcceptRefersFromOtherFirms,IsSettlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
	PerOfCasesReferToApplicant,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByInternet,
	PerOfCasesSettledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,@VersionKey_Inserted,getdate()
	FROM PlantiffSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


	PRINT('29')
	INSERT INTO AreaOfLitigationForFirmLW (PolicyKey,VersionSequence,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate() 
	FROM AreaOfLitigationForFirmLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence



	PRINT('30')
	-----------------------------------Copying WIllsEstate Supplements Data--------------------------------------------------------
	INSERT INTO WillsEstateServicesLW (PolicyKey,VersionSequence,WESKey,CheckedValue,WESCommentDesc,PercentageValue,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,WESKey,CheckedValue,WESCommentDesc ,PercentageValue,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM WillsEstateServicesLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

	PRINT('31')
	INSERT INTO WillsTrustsEstateSuppLW (PolicyKey,VersionSequence,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,IsAttorneyServeAsExecutorTrustee,
	IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,IsApplEmployAccountants,IsApplEmployTaxAttorney,
	IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,LastUpdateUserID,LastUpdateTimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,
	IsApplAuthorizeToWithdrawFromBank,IsApplCarryEmployeeDishonestyCoverage,inPurchaseSaleSecurities,willEstatesHandledPastYear,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,IsAttorneyServeAsExecutorTrustee,
	IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,IsApplEmployAccountants,IsApplEmployTaxAttorney,
	IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,@UserNo,@LastUpdateTimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,
	IsApplAuthorizeToWithdrawFromBank,IsApplCarryEmployeeDishonestyCoverage,inPurchaseSaleSecurities,willEstatesHandledPastYear,@VersionKey_Inserted,getdate()
	FROM WillsTrustsEstateSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

	PRINT('32')
	INSERT INTO WillSTrustEstateLargestTrustsDetails (PolicyKey,VersionSequence,TrustName,TrustsType,AssetsValue,BeneficiaryInterest,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT @PolicyKey_Inserted,@VersionSequence_Inserted,TrustName,TrustsType,AssetsValue,BeneficiaryInterest,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM WillSTrustEstateLargestTrustsDetails  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	------------------------------------TAX Supplement Data--------------------------------------------------------------
	PRINT('33')
	INSERT INTO TaxSuppDetailsLW (TaxAOPKey,TaxAopDesc,revenuePercentage,PolicyKey,VersionSequence,TaxCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedDate)
	SELECT TaxAOPKey,TaxAopDesc,revenuePercentage,@PolicyKey_Inserted,@VersionSequence_Inserted,TaxCommentDesc,@LastUpdateTimeStamp,@UserNo,@VersionKey_Inserted,getdate()
	FROM TaxSuppDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	PRINT('34')
	-----------------Populate Coverage Modifiers--------------------------
	INSERT INTO CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUpdateTimeStamp,LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedDate)
	SELECT @PolicyKey_Inserted,Comment,@CoverageSequence_Inserted,@LastUpdateTimeStamp,@UserNo,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted,getdate() FROM CoverageModifiers WHERE PolicyKey = @PolicyKey and TransactionSequence =@TransactionSequence

	PRINT('35')
	-----------------Populate AdditionalFormDataLW--------------
	INSERT INTO AdditionalFormDataLW(PolicyKey,PredecessorFirmName_1,PriorActsDate_1,PredecessorFirmName_2,PriorActsDate_2,PredecessorFirmName_3,PriorActsDate_3,
	IsPredecessorFormSelected,PersonOrEntity_1,PersonOrEntity_2,PersonOrEntity_3,IsSpecifiedAttorneySelected,IsSpecificProfServicesSelected,DisputeRenderedOnBehalfOf,
	ClaimRenderedOnBehalfOf,IsPreviouFirmFormSelected,PreviousFirmName,IsSuitForFeesAction,PreviousAttorneyName_1,PreviousAttorneyName_2,PreviousAttorneyName_3,LastUpdateTimeStamp,LastUpdateUserID,CreatedDate)
	SELECT @PolicyKey_Inserted,PredecessorFirmName_1,PriorActsDate_1,PredecessorFirmName_2,PriorActsDate_2,PredecessorFirmName_3,PriorActsDate_3,
	IsPredecessorFormSelected,PersonOrEntity_1,PersonOrEntity_2,PersonOrEntity_3,IsSpecifiedAttorneySelected,IsSpecificProfServicesSelected,DisputeRenderedOnBehalfOf,
	ClaimRenderedOnBehalfOf,IsPreviouFirmFormSelected,PreviousFirmName,IsSuitForFeesAction,PreviousAttorneyName_1,PreviousAttorneyName_2,PreviousAttorneyName_3,@LastUpdateTimeStamp,@UserNo,getdate()
	FROM AdditionalFormDataLW WHERE PolicyKey = @PolicyKey

	--delete FROM ProfLiabClaimAgnstFirmLW WHERE PolicyKey=@PolicyKey_Inserted
	--INSERT INTO AttorneysInsurance()





	/**********************UPDATING STATECODES FOR LICENSESTATES**********************************************************************/

	Declare @CreateDate DATETIME
	Select @CreateDate=AppCreatedDate FROM policy WHERE policykey=@PolicyKey
	if(@CreateDate< '2017-06-21  00:00:00.000')
	BEGIN 



		CREATE TABLE #TEMPSTATES
			(
				StateCode VARCHAR(20),
				StateDesc VARCHAR(50)
			)
			INSERT INTO #TEMPSTATES  SELECT StateCode,replace(StateDesc,' ','') FROM STATE
			CREATE TABLE #TEMP
			(
				rownum INT identity,
				AttorneyKey INT
			)
			DECLARE @Count INT
			DECLARE @InitCount INT
			DECLARE @LoopCounter INT =1
			DECLARE @Attornykey INT
	
			INSERT INTO #TEMP SELECT  AttorneyKey FROM AttorneyDetailsLW WHERE PolicyKey=@PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
			SELECT @Count=count(*)	FROM 	#TEMP
			
					SET @LoopCounter=1
					WHILE ( @LoopCounter <= @Count)
					BEGIN

					SELECT @Attornykey= AttorneyKey FROM #TEMP WHERE rownum=@LoopCounter

						UPDATE t 
						SET t.LicensedStates = (SELECT distinct  cast(STUFF((SELECT distinct cast( ','+cast(sd.StateCode AS VARCHAR(8000)) AS VARCHAR(8000))                                                 
													FROM #TEMPSTATES sd 
													cross apply dbo.SplitString(replace(t.LicensedStates,' ',''),', ') s 
													inner join AttorneyDetailsLW t1 on t1.AttorneyKey = t.AttorneyKey  --and sd.StateDesc = 
													WHERE s.Items = sd.StateDesc
													FOR XML PATH('')) , 1, 1, '') AS VARCHAR(8000)))
						FROM AttorneyDetailsLW t WHERE t. AttorneyKey = @Attornykey

						SET @LoopCounter = @LoopCounter+1
				
					END

			
	END
	if(@CreateDate>= '2017-06-21  00:00:00.000')
	BEGIN
	Declare @StreetValue VARCHAR(500)
	SET @StreetValue=(SELECT Street FROM Address WHERE AddressKey=@AddressKey_Inserted)
	if (@StreetValue is null)
		UPDATE Address SET Address1= Address1,Street= Address1 WHERE AddressKey=@AddressKey_Inserted
	else
		UPDATE Address SET Address1= Street,Street= Street WHERE AddressKey=@AddressKey_Inserted
	END
	/************************************************************************************************/
	
	Declare @CoverageSequenceNew INT
	SET @CoverageSequenceNew=(Select top 1 CoverageSequence from PolicyCoverage where Policykey=@PolicyKey_Inserted)
	Declare @TransactionSequenceNew INT
	SET @TransactionSequenceNew=(Select top 1 TransactionSequence from PolicyTransaction where Policykey=@PolicyKey_Inserted)
	COMMIT TRANSACTION

	SELECT @PolicyKey_Inserted AS PolicyKey, @TransactionSequenceNew AS TransactionSequence,@CoverageSequenceNew AS CoverageSequence ,@AddressKey_Inserted AS AddressKey,@AccountKey_Inserted AS AccountKey,@VersionSequence_Inserted AS VersionSequence,@CreateDate as dumyDate

end try
begin catch
	print error_message()

	update FirmLW set @isPolicyRequoted=null where PolicyKey=@PolicyKey

	rollback TRANSACTION

end catch

end

if( @isCopyPolicy = 'N')
begin

	begin try
		   print 'Already Requoted'
       
		   select @AccountID=AccountID from Policy where PolicyKey = @PolicyKey
		 
		   select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence,p.AppCreatedDate as dumyDate
		   
		    from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
		   PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey
			and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  pt.TransactionSequence = pc.TransactionSequence 
			and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) 
			--and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N')
			 and a.AccountID=@AccountID and f.isRequotePolicy='Y' order by  PolicyKey desc
	end try
	begin catch
	print error_message()
	rollback 
	end catch
end
end


















GO
