USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateAllPagesSaved_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateAllPagesSaved_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateAllPagesSaved_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateAllPagesSaved_p] AS' 
END
GO
--exec ValidateAllPagesSaved_p 55425,55458
ALTER PROCEDURE [dbo].[ValidateAllPagesSaved_p]
(
@PolicyKey INT,
@AccountKey INT
)
AS
	BEGIN
		DECLARE @FullyCompleted CHAR
		Declare @AccountName VARCHAR(500)
		DECLARE @IsFirmHaveLawyersLiabilityInsurance CHAR
		DECLARE @IsFirmPracticeInOtherState char
		DECLARE @IsFirmHaveIndepDockets CHAR
		DECLARE @AopSum int
		DECLARE @IsFirmProvideInvestmentAdvice CHAR
		DECLARE @IsFirmCoverageForPreceedorFirms CHAR
		DECLARE @instructionsDocumentedReceivingParty CHAR
		DECLARE @IsPersonnelBeSubOfAnyInvest CHAR
		DECLARE @ContactPerson VARCHAR(500)
		DECLARE @AttorneyCount INT
		DECLARE @IsApplicantProvidesLegalServices CHAR
		Declare @bankruptcy INT
		Declare @collection INT
		Declare @financial INT
		Declare @goverment INT
		Declare @realestateComm INT
		Declare @realestateResi INT
		Declare @tax INT
		Declare @wills INT
		Declare @litigationvalue INT
		Declare @AnnualRevenue INT
		Declare @familyLaw INT
		DECLARE @Copyright INT
		
		SET	@FullyCompleted='Y'
		
		
		select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance,@IsFirmPracticeInOtherState=IsFirmPracticeInOtherState,
				@IsFirmHaveIndepDockets=IsFirmHaveIndepDockets,@IsFirmProvideInvestmentAdvice=IsFirmProvideInvestmentAdvice ,
				@IsFirmCoverageForPreceedorFirms=IsFirmCoverageForPreceedorFirms,@instructionsDocumentedReceivingParty=instructionsDocumentedReceivingParty,
				@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@ContactPerson=ContactPerson,@IsApplicantProvidesLegalServices=IsApplicantProvidesLegalServices
		from firmlw where policykey=55425
		--select IsFirmHaveLawyersLiabilityInsurance from firmlw where policykey=55425
		SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey
		SELECT @AccountName=AccountName FROM Account where accountkey=@AccountKey
		SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey
		

		SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=3)


		SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=31)
		SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=6)
		SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=12)
		SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=13)
		SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=20)
		SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=27)
		SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=22)
		SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=24)
		SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=18)
		SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and AOPKey=8)
		
		IF(@AccountName IS  NULL)
		BEGIN
			print @AccountName
			SET @FullyCompleted='N'
		END

		IF(@IsFirmHaveLawyersLiabilityInsurance IS  NULL)
		BEGIN
			print '2'
			SET @FullyCompleted='N'
		END

		IF(@AttorneyCount=0)
		BEGIN
			print '3'
			SET @FullyCompleted='N'
		END
		
		IF(@AopSum!=100)
		BEGIN
			print '4'
			SET @FullyCompleted='N'
		END
		
		IF(@IsApplicantProvidesLegalServices IS  NULL)
		BEGIN
			print '5'
			SET @FullyCompleted='N'
		END
		
		IF(@IsFirmHaveIndepDockets IS  NULL)
		BEGIN
			print '6'
			SET @FullyCompleted='N'
		END
		
		IF(@IsFirmProvideInvestmentAdvice IS  NULL)
		BEGIN
			print '7'
			SET @FullyCompleted='N'
		END
		
		IF(@IsFirmCoverageForPreceedorFirms IS  NULL)
		BEGIN
			print '8'
			SET @FullyCompleted='N'
		END
		
		
		
		IF(@IsPersonnelBeSubOfAnyInvest IS  NULL)
		BEGIN
			print '9'
			SET @FullyCompleted='N'
		END
	
		
		IF(@ContactPerson IS  NULL)
		BEGIN
			print '10'
			SET @FullyCompleted='N'
		END
		
		
	--Supplements conditions check
	Declare @representedDebtors CHAR 
	Declare @averageCases CHAR 
	Declare @otherServices  CHAR 
	Declare @FamilyAopSum INT 
	Declare @underRegulatoryReview CHAR 
	Declare @providingBondWork CHAR 
	Declare @IsAppAcceptRefersFromOtherFirms CHAR 
	Declare @attendClosings CHAR 
	Declare @TaxAopSum INT 
	Declare @IsAttorneyServeAsExecutorTrustee CHAR 

	 IF(@bankruptcy>35 )
	BEGIN
		select @representedDebtors=representedDebtors from BankruptcyDetailsLW 
		IF(@representedDebtors IS  NULL)
		BEGIN
			print '11'
			SET @FullyCompleted='N'
		END

	END

	IF(@collection>0)
	BEGIN
		select @averageCases=averageCases from collectionsSuplimentDetailsLW
		IF(@averageCases IS  NULL)
		BEGIN
			print '12'
			SET @FullyCompleted='N'
		END
	END

	IF(@Copyright>0)
	BEGIN
		select @otherServices=otherServices from CopyRightTrademarkDetailsLW
		IF(@otherServices IS  NULL)
		BEGIN
			print '13'
			SET @FullyCompleted='N'
		END
	END

	IF(@familyLaw >35)
	BEGIN
		SELECT  @FamilyAopSum=sum(percentagevalue) from FamilyLawDetailsLW
		IF(@FamilyAopSum=0)
		BEGIN
			print '14'
			SET @FullyCompleted='N'
		END
	END

	IF(@financial>0)
	BEGIN
		select @underRegulatoryReview=underRegulatoryReview from FinancialInstitutionDetailsLW 
		IF(@underRegulatoryReview IS  NULL)
		BEGIN
			print '15'
			SET @FullyCompleted='N'
		END
	END


	IF(@goverment>0)
	BEGIN
		SELECT @providingBondWork=providingBondWork from GovernmentSupplementDetailsLW
		IF(@providingBondWork IS  NULL)
		BEGIN
			print '16'
			SET @FullyCompleted='N'
		END
	END

	IF(@litigationvalue>0)
	BEGIN
		select @IsAppAcceptRefersFromOtherFirms=IsAppAcceptRefersFromOtherFirms from PlantiffSuppLW
		IF(@IsAppAcceptRefersFromOtherFirms IS  NULL)
		BEGIN
			print '17'
			SET @FullyCompleted='N'
		END
		
	END

	IF(@realestateComm>0 OR @realestateResi>0)
	BEGIN
		select @attendClosings=attendClosings from RealEastateDetailsLW
		IF(@attendClosings IS  NULL)
		BEGIN
			print '18'
			SET @FullyCompleted='N'
		END
	END

	IF(@wills>0)
	BEGIN
		select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW
		IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
		BEGIN
			print '19'
			SET @FullyCompleted='N'
		END
	END

	IF(@tax>25)
	BEGIN
		select @TaxAopSum=sum(revenuePercentage) from TaxSuppDetailsLW
		IF(@TaxAopSum=0)
		BEGIN
			print '20'
			SET @FullyCompleted='N'
		END
	END
	
	
	SELECT @FullyCompleted as CompletlyFilled
	
	END



GO
