USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FirmInfo_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_FirmInfo_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FirmInfo_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_FirmInfo_LW] AS' 
END
GO
--exec UWRules_FirmInfo_LW 143872, 146019, 53657, 144070, 121209, 2, 3
ALTER PROCEDURE [dbo].[UWRules_FirmInfo_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
		
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT=0,@previousVersionSequence INT=0,@IsAttorneyDeclineForProfLiability CHAR,@StateCode VARCHAR(50)
	DECLARE @isCannibSuppPage CHAR,@YearOfFirmEstablished INT, @TotalNumOfNonAttorneyStaff INT, @IsApplicantProvidesLegalServices CHAR, @IsFirmHaveBackupAttorney	CHAR,@counterClaimCount INT=0
	DECLARE @IsFirmMergedWithOtherFirm CHAR, @ApplicantProvidesLegalServicesDesc varchar(500), @IsApplIntToFinanAssests CHAR, @IsFirmCoverageForPreceedorFirms CHAR, @needCyberCoverage CHAR,@feeSuitsCount1 INT=0,@feeSuitsCount2 INT=0,@feeSuitsCount3 INT=0,@feeSuitsCount4 INT=0
	DECLARE @AttorneyCount INT, @AttorneyStaffRatio INT,@IsFirmHaveIndepDockets CHAR,@IsFirmHaveProcForFormersClients CHAR,@IsApplInitiatedLawsuitForFirm CHAR,@ClientNameFirstLargestRevenueClient varchar(200),@ClientNameSecondLargestRevenueClient varchar(200)
	DECLARE @IsFirmProvideInvestmentAdvice CHAR,@PercentFromFirstLargestRevenueClient INT,@PercentFromSecondLargestRevenueClient INT,@actAgentForPublicFigures CHAR,@provideProfessionalContract CHAR,@provideMoneyManagementServices char,@IsFirmProvidedLegalService CHAR,@isServedAsCEOChairmanPresident CHAR
	Declare @isPolicyExcludeCoverage CHAR,@IsPolicyIncludeLateralHireCov CHAR,@IsLawyerProfLiabClaimAgntAppl Char,@IsPersonnelBeSubOfAnyInvest CHAR,@IsAnyActOmmBecomeClaimAgntFirm CHAR,@ServicesRenderedFirstLargestRevenueClient char,@ServicesRenderedSecondLargestRevenueClient char
	DECLARE @custodyOrControlFunds CHAR,@disbursementTransaction INT,@peopleToDisburseFunds INT,@instructionsDocumentedReceivingParty CHAR,@doucumentedProtocolsAndAuthority CHAR,@ratedAttorneyCount INT
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey

	--SET @feeSuitsCount=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees) in(year(getdate()),year(getdate())-1,year(getdate())-2,year(getdate())-3))
		SET @feeSuitsCount1=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate()))
	SET @feeSuitsCount2=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-1)
	SET @feeSuitsCount3=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-2)
	SET @feeSuitsCount4=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-3)
	SET @counterClaimCount=(select	count(*) from FirmInitLawsuitsLW where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and IsAllegOfLegalMalPrac='Y' and  year(SuitFilesDateFees) in(year(getdate()),year(getdate())-1,year(getdate())-2,year(getdate())-3))
	SET @StateCode=(select StateCode from Address where AddressKey=@AddressKey)
	select @isCannibSuppPage=isCannibSuppPage,@YearOfFirmEstablished=YearOfFirmEstablished,@TotalNumOfNonAttorneyStaff=TotalNumOfNonAttorneyStaff,@IsApplicantProvidesLegalServices=IsApplicantProvidesLegalServices
		,@IsFirmHaveBackupAttorney=IsFirmHaveBackupAttorney,@IsFirmMergedWithOtherFirm=IsFirmMergedWithOtherFirm,@IsFirmCoverageForPreceedorFirms=IsFirmCoverageForPreceedorFirms,@IsFirmHaveIndepDockets=IsFirmHaveIndepDockets,
		@IsFirmHaveProcForFormersClients=IsFirmHaveProcForFormersClients,@IsApplInitiatedLawsuitForFirm=IsApplInitiatedLawsuitForFirm,@IsFirmProvideInvestmentAdvice=IsFirmProvideInvestmentAdvice
		,@PercentFromFirstLargestRevenueClient=PercentFromFirstLargestRevenueClient,@PercentFromSecondLargestRevenueClient=PercentFromSecondLargestRevenueClient
		,@actAgentForPublicFigures=actAgentForPublicFigures,@provideProfessionalContract=provideProfessionalContract,@provideMoneyManagementServices=provideMoneyManagementServices
		,@IsFirmProvidedLegalService=IsFirmProvidedLegalService,@isServedAsCEOChairmanPresident=isServedAsCEOChairmanPresident,@isPolicyExcludeCoverage=isPolicyExcludeCoverage,@IsPolicyIncludeLateralHireCov=IsPolicyIncludeLateralHireCov,
		@IsLawyerProfLiabClaimAgntAppl=IsLawyerProfLiabClaimAgntAppl,@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@IsAnyActOmmBecomeClaimAgntFirm=IsAnyActOmmBecomeClaimAgntFirm,
		@ServicesRenderedFirstLargestRevenueClient=ServicesRenderedFirstLargestRevenueClient,@ServicesRenderedSecondLargestRevenueClient=ServicesRenderedSecondLargestRevenueClient,@IsAttorneyDeclineForProfLiability=IsAttorneyDeclineForProfLiability,
		@custodyOrControlFunds=custodyOrControlFunds,@disbursementTransaction=disbursementTransaction,@peopleToDisburseFunds=peopleToDisburseFunds,@instructionsDocumentedReceivingParty=instructionsDocumentedReceivingParty,@doucumentedProtocolsAndAuthority=doucumentedProtocolsAndAuthority

		from FirmLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		DECLARE @numberOfAttorneys INT=0
		set @numberOfAttorneys=(select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		set @ratedAttorneyCount=(select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and (IsNonRatedAttorney<>'Y' or IsNonRatedAttorney is null))
		
		if(@custodyOrControlFunds='Y')
		begin
			
			set @rule_id='disbursementTransactionsFromClient_Lawyers'
			if(@disbursementTransaction>1000)
					exec SetFlagsLawyers_p @PolicyKey,@rule_id,'High Number of disbursement.','High Number of disbursement.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='authorityToDisburseFundsClientAccounts_Lawyers'
			if(@peopleToDisburseFunds>@numberOfAttorneys)
					exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Non- Attorney Authorizing Disbursment of Client funds.','Non- Attorney Authorizing Disbursment of Client funds.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='managementClientFundsConcerns_Lawyers'
			if(@instructionsDocumentedReceivingParty='N' or  @doucumentedProtocolsAndAuthority='N')
					exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Management of client funds, concerns.','Management of client funds, concerns.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		end
		else
			begin
				exec RESETFlagsLawyers_p @PolicyKey,'disbursementTransactionsFromClient_Lawyers'
				exec RESETFlagsLawyers_p @PolicyKey,'authorityToDisburseFundsClientAccounts_Lawyers'
				exec RESETFlagsLawyers_p @PolicyKey,'managementClientFundsConcerns_Lawyers'
		end
	
IF(@PolicyStatusKey=1)
	BEGIN

		print 'NB Flow'
		
		

		set @rule_id='isCannibSuppNB_Lawyers'
		if(@isCannibSuppPage='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Cannabis question is answered Yes.','What kind of work is the firm providing to the firm/firms that are involved in the cannabis industry.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkEstablishDateWithAttorneysHiringDate_Lawyers'
		if exists(select * from AttorneyDetailsLW where PolicyKey=@PolicyKey and year(AttorneyPriorActDate)<@YearOfFirmEstablished)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Year of hire prior to Year on Date Established. Potential career coverage issue.','Need details or previous firm on career coverage that has been afforded.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set  @AttorneyCount=(Select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		set @AttorneyStaffRatio=@AttorneyCount*3

		set @rule_id='attorneySupportStaffRatio_Lawyers'
			if(@AttorneyStaffRatio<@TotalNumOfNonAttorneyStaff)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Staff to attorney ratio greater than 3 to 1.','Are any support staff members doing lawyer work? How is each support staff member managed? How many full-time? How many part-time?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='isApplicantProvidesLegalServices_Lawyers'
			if(@IsApplicantProvidesLegalServices='Y')
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'If a firm is providing legal services under an entity other than the firm, it must be approved. What are they doing and why.','What is the nature of the relationship between this entity and the applicant firm? What legal services this entity provide? What legal services does the applicant provide to this entity?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='soloAttorneyAndNoBackup_Lawyers'
		if(@AttorneyCount=1 and @IsFirmHaveBackupAttorney<>'Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Backup preferred for a solo attorney.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkIsFirmMergedWithOtherFirmRenewNew_Lawyers'
		if(@IsFirmMergedWithOtherFirm='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has had an acquisition or merger in past 10 years.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='DoesFirmCoverageForPreceedorFirms_Lawyers'
		if(@IsFirmCoverageForPreceedorFirms='N' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has had an acquisition or merger in past 10 years and wants coverage for that firm.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsFirmHaveCenteralDocketOrDairySystem_Lawyers'
		if(@IsFirmHaveIndepDockets='N' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Lack of docket or diary system. Missing deadlines is a large source of claims.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='IsFirmHaveProcForFormersClientsNewApp_Lawyers'
		if(@IsFirmHaveProcForFormersClients='N' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'No process or procedure for checking conflicts of interest.','No explanation required.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkCountAndAmountOfFeeSuitNB_Lawyers'
		if(@feeSuitsCount1>1 or @feeSuitsCount2>1 or @feeSuitsCount3>1 or @feeSuitsCount4>1 or @counterClaimCount >0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'More than 1 fee suit per year in the past 3 years or fee suit with counter claim.','More than 1 fee suit per year in the past 3 years or fee suit with counter claim.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsFirmProvideInvestmentAdvice_Lawyers'
		if(@IsFirmProvideInvestmentAdvice='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Providing investment advice or making discretionary investments.','Does the firm utilize an investment professional to determine and execute the investments?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='TopTwoRevenueClientsNB_Lawyers'
		if(@PercentFromFirstLargestRevenueClient >50 or @PercentFromSecondLargestRevenueClient >50 )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large client more than 50%, was the work 1. insurance defense work; or 2. for a government or government agency; or 3. Payment related to a single specific engagement.','Determine the type of work and engagement done for the large client. Was the work performed by the firm 1. insurance defense work; or 2. for a government or government agency; or 3. Payment related to a single specific engagement.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	


		set @rule_id='actAgentForPublicFigures_Lawyers'
		if(@actAgentForPublicFigures='Y')
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Acting a an agent for a public figure.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='provideProfessionalContract_Lawyers'
		if(@provideProfessionalContract='Y')
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Providing business management/contracts for a public figure.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

	
		set @rule_id='provideMoneyManagementServices_Lawyers'
		if(@provideMoneyManagementServices='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Providing money management/investment advice for a public figure.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsFirmProvidedLegalServiceNewApp_Lawyers'
		if(@IsFirmProvidedLegalService='Y')
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Services are outside of ISMIE Authority','Decline (Outside of ISMIE Authority Guidelines).',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='isServedAsCEOChairmanPresidentNB_Lawyers'
		if(@isServedAsCEOChairmanPresident='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Services are outside of  ISMIE Authority (Referal required for exception).','Flag Questions (Who are the services for? What position is held? Describe nature of services provided to entity).',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	


	


		set @rule_id='IsPolicyExcludesCoverage_Lawyers'
		if(@isPolicyExcludeCoverage='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Coverage exclusion is attached to current policy.','Send UW copy of the endorsement.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='checkPolicyIncludeLateralHireCoverage_Lawyers'
		if(@IsPolicyIncludeLateralHireCov='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Lateral hire coverage on current policy.','Which attorney(s) is/are coverage sought? Complete predecessor firm supplement.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateRegulatroyIssues_Lawyers'
		if(@IsPersonnelBeSubOfAnyInvest='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Regulatory/Disciplinary Issue.','Obtain the details and current status or outcome.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateClaimAgainstFirm_Lawyers'
		if(@IsLawyerProfLiabClaimAgntAppl='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Claims History','Get a complete claims supplement along with a through description of the claim and when it was reported.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateActOmmissionFeeDispute_Lawyers'
		if(@IsAnyActOmmBecomeClaimAgntFirm='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Claims History','Get a complete claims supplement along with a through description of the claim and when it was reported.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateIsAttorneyDeclineForProfLiability_Lawyers'
		if(@IsAttorneyDeclineForProfLiability='Y' and @StateCode<>'MO')
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Professional liability non, renewed, declined or cancelled.','What company declined, canceled or non-renewed? Which one happened? What Reason was give? What date did this happen?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		
END

IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
		DECLARE @isServedAsCEOChairmanPresidentfromPrior CHAR,@PercentFromFirstLargestRevenueClientPrior INT,@PercentFromSecondLargestRevenueClientPrior INT,@ServicesRenderedFirstLargestRevenueClientPrior VARCHAR(300),@ServicesRenderedSecondLargestRevenueClientPrior VARCHAR(300)
		DECLARE @ClientNameFirstLargestRevenueClientPrior varchar(200),@ClientNameSecondLargestRevenueClientPrior varchar(200)
		select @isServedAsCEOChairmanPresidentfromPrior=isServedAsCEOChairmanPresident from Firmlw where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		set @rule_id='isCannibSuppRenewal_Lawyers'
		if(@isCannibSuppPage='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Cannabis question is answered Yes.','What kind of work are they doing and for what firms.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		

		set @rule_id='validateRegulatroyIssues_Lawyers'
		if(@IsPersonnelBeSubOfAnyInvest='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Regulatory/Disciplinary Issue.','Obtain the details and current status or outcome.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateClaimAgainstFirm_Lawyers'
		if(@IsLawyerProfLiabClaimAgntAppl='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Claims History.','Get a complete claims supplement along with a through description of the claim and when it was reported.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='validateActOmmissionFeeDispute_Lawyers'
		if(@IsAnyActOmmBecomeClaimAgntFirm='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Claims History.','Get a complete claims supplement along with a through description of the claim and when it was reported.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='majoritySuccessorInterest_Lawyers'
		if(@IsApplIntToFinanAssests='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Definition of Predecessor Firm Automatically covers firm.','If firm does not want coverage; we must specifically exlude the entity. Provide the name of the law firm.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
		set @rule_id='isServedAsCEOChairmanPresidentRB_Lawyers'
		if(@isServedAsCEOChairmanPresident is not null and @isServedAsCEOChairmanPresidentfromPrior <> @isServedAsCEOChairmanPresident)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm acting as General Counsel, CEO etc. for publically traded company.','What role does the attorney serve?  What is the name of the publicly traded company or financial institution? Does the firm and/or any personnel of the firm provide legal services to this entity?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='desireCoverageForAPredecessorFirm_Lawyers'
		if(@IsFirmCoverageForPreceedorFirms='Y' )
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Predecessor firm coverage requested.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
			
		set @rule_id='TopTwoRevenueClientsRenewal_Lawyers'
		if(@PercentFromFirstLargestRevenueClient-@PercentFromFirstLargestRevenueClientPrior>5 or @PercentFromSecondLargestRevenueClient-@PercentFromSecondLargestRevenueClientPrior>5  or @ServicesRenderedFirstLargestRevenueClient<>@ServicesRenderedFirstLargestRevenueClientPrior or @ServicesRenderedSecondLargestRevenueClient<>@ServicesRenderedSecondLargestRevenueClientPrior)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Increase in Large client more than 50%, was the work 1. insurance defense work; or 2. for a government or government agency; or 3. Payment related to a single specific engagement.','What services were performed for the client? (if description is not clear) Does applicant expect revenue from client to continue in the future?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	

		set @rule_id='checkCountAndAmountOfFeeSuitNB_Lawyers'
		if(@feeSuitsCount1>1 or @feeSuitsCount2>1 or @feeSuitsCount3>1 or @feeSuitsCount4>1 or @counterClaimCount >0)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'More than 1 fee suit per year in the past 3 years or fee suit with counter claim.','More than 1 fee suit per year in the past 3 years or fee suit with counter claim.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END






GO
