USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAppCompletedFlag_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAppCompletedFlag_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAppCompletedFlag_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAppCompletedFlag_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[UpdateAppCompletedFlag_p]
(
@PolicyKey INT,
@LitImplementationDate DATETIME,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50),
@RenewalSupplementNewImplDate DATETIME,
@isCannibSuppFlow CHAR,
@ElectronicInsuranceImplDate DATETIME,
@bankruptcyImplementationDate DATETIME
)	
AS
BEGIN
	DECLARE @isAppCompleted CHAR
	DECLARE @AccountKey INT
	SELECT top 1 @AccountKey=AccountKey from policytransaction where PolicyKey=@PolicyKey
	--Declare @tep_table table
	--(
	-- FullyCompleted CHAR
	--)
	--Insert into @tep_table Exec ValidateIsAppCompleted_p @PolicyKey,@AccountKey,@LitImplementationDate,@RenewalSupplementNewImplDate,@isCannibSuppFlow,@ElectronicInsuranceImplDate,@bankruptcyImplementationDate 

	--Select FullyCompleted as isAppCompleted From @tep_table

	SELECT FullyCompleted as isAppCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,@LitImplementationDate,@RenewalSupplementNewImplDate,@bankruptcyImplementationDate)
	--Select @isAppCompleted=FullyCompleted From @tep_table
	--PRINT @isAppCompleted
	--PRINT @AccountKey
	--if(@isAppCompleted='Y')
	--	begin
	--		update firmlw set isAppCompleted='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey=@Policykey
	--	end
	--else
	--	begin
	--		update firmlw set isAppCompleted=NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey=@Policykey
	--	end
END





GO
