USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateRealEstateDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateRealEstateDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateRealEstateDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateRealEstateDetails_p] AS' 
END
GO
--exec InsertUpdateRealEstateDetails_p  <Root><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>1</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>2</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>3</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>4</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>5</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>6</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>7</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>8</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>9</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>10</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>11</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>12</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>13</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>14</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>15</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>16</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>17</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>18</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>19</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>20</AOPREKey><AOPRECommCommentDesc>dsvdsvds</AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue></CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>21</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>22</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><AOPRECommentDesc></AOPRECommentDesc><PolicyKey>128297</PolicyKey><CreatedBy>3</CreatedBy><CommercialPercentageValue>10</CommercialPercentageValue><PercentageValue></PercentageValue><CreatedDate>2021-11-24 19:09:59.145</CreatedDate><AOPREKey>23</AOPREKey><AOPRECommCommentDesc></AOPRECommCommentDesc><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1></Root>, 0, 2214, 0, 21421, Y, Y, Y, 3, 2021-11-24 19:09:59.145
ALTER  PROCEDURE [dbo].[InsertUpdateRealEstateDetails_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml XML,
	@transactionsHandled12MonthsResi INT,
	@transactionsHandled12MonthsComm INT,
	@largestTransaction12MonthsResi INT,
	@largestTransaction12MonthsComm INT,
	@attendClosings CHAR,
	@includeSecuringFinancing CHAR,
	@useDisclosureForm CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@VersionKey INT
)
AS
BEGIN

	IF NOT EXISTS (select AOPREKey from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO AreaOfPracticeRealEstateLW(AOPREKey, PercentageValue, CommercialPercentageValue,AOPRECommentDesc,AOPRECommCommentDesc,PolicyKey,VersionSequence,
			LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				 doc.col.value('AOPREKey[1]', 'INT') AOPREKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('CommercialPercentageValue[1]', 'INT') CommercialPercentageValue ,
				doc.col.value('AOPRECommentDesc[1]', 'VARCHAR(500)') AOPRECommentDesc ,
				doc.col.value('AOPRECommCommentDesc[1]', 'VARCHAR(500)') AOPRECommCommentDesc ,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID,@LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey, 
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'VARCHAR(100)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('AOPREKey[1]', 'INT') AOPREKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('CommercialPercentageValue[1]', 'INT') CommercialPercentageValue ,
				doc.col.value('AOPRECommentDesc[1]', 'VARCHAR(500)') AOPRECommentDesc ,
				doc.col.value('AOPRECommCommentDesc[1]', 'VARCHAR(500)') AOPRECommCommentDesc ,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE apre
			SET 
			 apre.PercentageValue =tx.PercentageValue,
			 apre.CommercialPercentageValue =tx.CommercialPercentageValue,
			 apre.AOPRECommentDesc = tx.AOPRECommentDesc,
			 apre.AOPRECommCommentDesc = tx.AOPRECommCommentDesc,
			 apre.LastUpdateUserID =tx.LastUpdateUserID,
			 apre.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM AreaOfPracticeRealEstateLW apre
			inner join #temp_xml tx 
			on (apre.AOPREKey=tx.AOPREKey and apre.PolicyKey=tx.PolicyKey and apre.VersionSequence=tx.VersionSequence)
		END


		--DELETE FROM AreaOfPracticeRealEstateLW WHERE POLICYKEY=@PolicyKey

		--	INSERT INTO AreaOfPracticeRealEstateLW(AOPREKey, PercentageValue, CommercialPercentageValue,AOPRECommentDesc,AOPRECommCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
		--	SELECT
		--		 doc.col.value('AOPREKey[1]', 'INT') AOPREKey,
		--		doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
		--		doc.col.value('CommercialPercentageValue[1]', 'INT') CommercialPercentageValue ,
		--		doc.col.value('AOPRECommentDesc[1]', 'VARCHAR(500)') AOPRECommentDesc ,
		--		doc.col.value('AOPRECommCommentDesc[1]', 'VARCHAR(500)') AOPRECommCommentDesc ,
		--		doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
		--		doc.col.value('VersionSequence[1]', 'int') VersionSequence,
		--		@LastUpdateUserID,@LastUpdateTimeStamp
		--	FROM @xml.nodes('/Root/Root1') doc(col)
			
			DECLARE @Count INT
			SELECT @Count=count(*) FROM RealEastateDetailsLW WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
			IF(@Count=0)
			BEGIN
				INSERT INTO RealEastateDetailsLW (VersionSequence,PolicyKey,transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,
				largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
				VALUES(@VersionSequence,@PolicyKey,@transactionsHandled12MonthsResi,@transactionsHandled12MonthsComm,@largestTransaction12MonthsResi,
				@largestTransaction12MonthsComm,@attendClosings,@includeSecuringFinancing,@useDisclosureForm,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)

			END

			IF(@Count>0)
			BEGIN
				UPDATE RealEastateDetailsLW SET transactionsHandled12MonthsResi=@transactionsHandled12MonthsResi,
											transactionsHandled12MonthsComm=@transactionsHandled12MonthsComm,
											largestTransaction12MonthsResi=@largestTransaction12MonthsResi,
											largestTransaction12MonthsComm=@largestTransaction12MonthsComm,
											attendClosings=@attendClosings,includeSecuringFinancing=@includeSecuringFinancing,
											useDisclosureForm=@useDisclosureForm,LastUpdateUserID=@LastUpdateUserID,
											LastUpdateTimeStamp=@LastUpdateTimeStamp
										WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

			UPDATE FIRMLW SET IsRealEstateResidentialPage='Y',IsRealEstateCommercialPage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp 
			WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
END



GO
