USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_AccountantBatch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetRenewalReminderList_AccountantBatch]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_AccountantBatch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetRenewalReminderList_AccountantBatch] AS' 
END
GO

--exec GetRenewalReminderList_AccountantBatch
--select * from RenewalTable order by days policyexpirationdate desc
--delete from RenewalTable WHERE POLICYkey<=53219

--exec GetRenewalReminderList_AccountantBatch
ALTER PROCEDURE [dbo].[GetRenewalReminderList_AccountantBatch]
       
AS
BEGIN

delete from RenewalTable
exec ResetRenewalAccountantFlags_p

Declare @TodayDate DateTime = GETDATE();

if((DATENAME(dw,@TodayDate  )='Monday'))
begin
Declare @loopCount int=1, @maxLoopCount int=9,  @ForDays varchar(20)=''
WHILE(@maxLoopCount>=@loopCount)

       BEGIN
              SET @ForDays=CASE @loopCount WHEN 1 THEN '0' WHEN 2 THEN '5' WHEN 3 THEN '10' WHEN 4 THEN '15' WHEN 5 THEN '21'
              WHEN 6 THEN '30' WHEN 7 THEN '45'WHEN 8 THEN '60' WHEN 9 THEN '90' END

       select DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
       convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,f.isAppCompleted into #temp_renewal from Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
       PolicyCoverage pc,Quote q where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
       and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  and 
       pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
       pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
       and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y'  
	   and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 and q.IsThisOptionFinalised='Y') and
       
              pt.PolicyExpirationDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,@TodayDate  ),110)
                                                                                         WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,@TodayDate  ),110) 
                                                                                         WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,@TodayDate  ),110)
                                                                                         WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,@TodayDate  ),110)
                                                                                         WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,@TodayDate  ),110)
                                                                                         WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,@TodayDate  ),110)
                                                                                         WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,@TodayDate  ),110)
                                                                                         WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,@TodayDate  ),110)
                                                                                         WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,@TodayDate  ),110)
                                                                                  END AND

          pt.PolicyExpirationDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),@TodayDate  ,110) 
                                                                                   WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,@TodayDate  ),110) 
                                                                                   WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,@TodayDate  ),110)
                                                                                  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,@TodayDate  ),110)
                                                                                  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,@TodayDate  ),110) 
                                                                                   WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,@TodayDate  ),110) 
                                                                                   WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,@TodayDate  ),110) 
                                                                                   WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,@TodayDate  ),110) 
                                                                                   WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,@TodayDate  ),110) 
                                                                                  END 

															----pt.PolicyExpirationDate this changes have been implemented as per discussion with pat and ryan on 17-02-2023
																----this change based on purely days basis
       select DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,p.PolicyEffectiveDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
       convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate, convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted into #temp_renewal_1 from Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
       PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
       and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  and 
       pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
       pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
       and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 
	   and  pc.AggregateLimit < 200000000 and
       
              p.PolicyEffectiveDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,@TodayDate  ),110)
                                                                                  WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,@TodayDate  ),110) 
                                                                                  WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,@TodayDate  ),110)
                                                                                  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,@TodayDate  ),110)
                                                                                  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,@TodayDate  ),110)
                                                                                  WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,@TodayDate  ),110)
                                                                                  WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,@TodayDate  ),110)
                                                                                  WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,@TodayDate  ),110)
                                                                                  WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,@TodayDate  ),110)
                                                                                  END AND

              p.PolicyEffectiveDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),@TodayDate  ,110) 
                                                                                  WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,@TodayDate  ),110) 
                                                                                  WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,@TodayDate  ),110)
                                                                                  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,@TodayDate  ),110)
                                                                                  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,@TodayDate  ),110) 
                                                                                  WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,@TodayDate  ),110) 
                                                                                  WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,@TodayDate  ),110) 
                                                                                  WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,@TodayDate  ),110) 
                                                                                  WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,@TodayDate  ),110)  
                                                                                  END

declare @PolicyKey int
declare @IsCompletedApplication char(1) = 'N'

declare c1 cursor for
       select PolicyKey from #temp_renewal_1
       OPEN c1
              FETCH NEXT FROM c1 into @PolicyKey 
              WHILE @@FETCH_STATUS = 0
                     BEGIN
                     set @IsCompletedApplication = 'N'
                     exec CheckIfApplicationIsCompletedAccountNew_p @PolicyKey,@IsCompletedApplication output
                     print '@IsCompletedApplication  ' + @IsCompletedApplication

                     if(@IsCompletedApplication = 'Y')
                           delete from #temp_renewal_1 where PolicyKey = @PolicyKey

              FETCH NEXT FROM c1 into @PolicyKey

              END
       close c1
       deallocate c1
	   
              DECLARE @isFirmERP CHAR
              declare @PolicyKey2 int
              declare c3 cursor for
                        select PolicyKey from #temp_renewal
                        OPEN c3
                                    FETCH NEXT FROM c3 into @PolicyKey2 
                                         WHILE @@FETCH_STATUS = 0
                                                begin
                                                  Select @isFirmERP=isFirmERP from ErpEndorsementDetailsAcc where Policykey=@PolicyKey2
                                         
                                         If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey2 and pt.TransactionTypeKey=16)
                                         begin
                                         --print '1'
												if(@isFirmERP='Y')
													delete from #temp_renewal where PolicyKey = @PolicyKey

                                         end
                                         --if (@AttorneyCount=0)
                                         --begin
                                         --       update #temp_renewal set  isrenewed='Y' where PolicyKey= @PolicyKey2
                                         --end
                                    FETCH NEXT FROM c3 into @PolicyKey2

                                    END
                                     
                        close c3
                        deallocate c3

insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,secondaryEmail,isAppCompleted) 
select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate,tr.StateCode,tr.secondaryEmail,tr.isAppCompleted  from #temp_renewal tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null or tr.ProducerCode='' 

insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,secondaryEmail,isAppCompleted) 
select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.secondaryEmail,tr.isAppCompleted from #temp_renewal_1 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null or tr.ProducerCode='' 

drop table #temp_renewal
drop table #temp_renewal_1

SET @loopCount=@loopCount+1

end
end
else
begin

		select DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
       convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,f.isAppCompleted 
	   into #temp_renewal_2 from Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa, PolicyCoverage pc, Quote q 
	   where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
       and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  
	   and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) 
	   and  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
       and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y' 
	   and  pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 and q.IsThisOptionFinalised='Y') 
       and (CAST(pt.PolicyExpirationDate as date))in(CAST(@TodayDate  as date),CAST(@TodayDate  +5 as date),CAST(@TodayDate  +10 as date),CAST(@TodayDate  +15 as date), CAST(@TodayDate  +21  as date),
       CAST(@TodayDate  +30  as date),CAST(@TodayDate  +45 as date),CAST(@TodayDate  +60 as date),CAST(@TodayDate  +90 as date))

																 ----pt.PolicyExpirationDate this changes have been implemented as per discussion with pat and ryan on 17-02-2023
																----this change based on purely days basis
       select DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,p.PolicyEffectiveDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
       convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate, convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted 
	   into #temp_renewal_3 from Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc 
	   where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
       and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2 
	   and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) 
	   and  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
       and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 
	   and  pc.AggregateLimit < 200000000 
	   and (CAST(p.PolicyEffectiveDate as date)) in(CAST(@TodayDate   as date),CAST(@TodayDate  +5 as date),CAST(@TodayDate  +10 as date),CAST(@TodayDate  +15 as date), CAST(@TodayDate  +21  as date),
       CAST(@TodayDate  +30  as date),CAST(@TodayDate  +45 as date),CAST(@TodayDate  +60 as date),CAST(@TodayDate  +90  as date))


declare @PolicyKey1 int
declare @IsCompletedApplication1 char(1) = 'N'

declare c1 cursor for
       select PolicyKey from #temp_renewal_3
       OPEN c1
              FETCH NEXT FROM c1 into @PolicyKey1      
              WHILE @@FETCH_STATUS = 0
                     BEGIN
                     set @IsCompletedApplication1 = 'N'
                     exec CheckIfApplicationIsCompletedAccountNew_p @PolicyKey1,@IsCompletedApplication1 output
                     print '@IsCompletedApplication1  ' + @IsCompletedApplication1

                     if(@IsCompletedApplication1 = 'Y')
                           delete from #temp_renewal_3 where PolicyKey = @PolicyKey1

              FETCH NEXT FROM c1 into @PolicyKey1

              END
       close c1
       deallocate c1

	   
              declare @PolicyKey4 int
	   declare c3 cursor for
        select PolicyKey from #temp_renewal_2
        OPEN c3
                    FETCH NEXT FROM c3 into @PolicyKey4 
                            WHILE @@FETCH_STATUS = 0
                                begin
                                    Select @isFirmERP=isFirmERP from ErpEndorsementDetailsAcc where Policykey=@PolicyKey4
                                         
                            If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey4 and pt.TransactionTypeKey=16)
                            begin
                            --print '1'
								if(@isFirmERP='Y')
									delete from #temp_renewal_2 where PolicyKey = @PolicyKey

                            end
                            --if (@AttorneyCount=0)
                            --begin
                            --       update #temp_renewal set  isrenewed='Y' where PolicyKey= @PolicyKey4
                            --end
                    FETCH NEXT FROM c3 into @PolicyKey4

                    END
                                     
        close c3
        deallocate c3

       --select * from #temp_renewal_2 
insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,secondaryEmail,isAppCompleted) 
select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate,tr.StateCode,tr.secondaryEmail,tr.isAppCompleted  from #temp_renewal_2 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null or tr.ProducerCode='' 

insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,secondaryEmail,isAppCompleted) 
select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.secondaryEmail,tr.isAppCompleted from #temp_renewal_3 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null or tr.ProducerCode='' 

drop table #temp_renewal_2
drop table #temp_renewal_3
end


delete from RenewalTable where policykey in( select rt.policyKey from RenewalTable rt inner join Policytransaction pt  on rt.PolicyKey=pt.policykey where pt.StatusKey!=6 and rt.isAppCompleted like('%Y%'))
delete from RenewalTable where policykey in(select policykey from renewalemails where mydatetime4 in(CAST(@TodayDate  -1 as date),CAST(@TodayDate  -2 as date),CAST(@TodayDate  -3 as date),CAST(@TodayDate  -4 as date)))

--delete from RenewalTable where PolicyExpirationDate>='01/01/2022' and PolicyExpirationDate<='02/28/2022'
select * FROM RenewalTable order by Days
END
GO
