USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetGenerateQuoteLetterPDFXML]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetGenerateQuoteLetterPDFXML]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetGenerateQuoteLetterPDFXML]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetGenerateQuoteLetterPDFXML] AS' 
END
GO
--exec [SP_GetGenerateQuotePDFXML] 1
ALTER PROCEDURE [dbo].[SP_GetGenerateQuoteLetterPDFXML]
(	
	 @policyKey int = null,
	 @versionKey int = null,
	 @formId int = null,
	 @formVersionKey int = null,
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null


)
AS
BEGIN

DECLARE @policydata NVARCHAR(MAX)
SET @policydata =
	isNULL((SELECT 
	--select * from policy where policykey=3
	policyTransaction.StatusKey,policy.PolicyStatusKey,cast(policy.PolicyEffectiveDate as date) as PolicyEffectiveDate, cast(policyTransaction.PolicyExpirationDate as date) as PolicyExpirationDate,
	policy.PolicyNumber,policy.RenewOfPolicyNumber,policy.QuoteNumber,policy.FormId,policy.FormVersionKey, 
	cast(insuranceInformation.PriorActDate as date) as PriorActDate
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = @marketableProductCode and company.Code = @companyCode
	left join InsuranceInformation as insuranceInformation on policy.PolicyKey = insuranceInformation.PolicyKey and policy.VersionKey = insuranceInformation.VersionKey 
	left join PolicyTransaction as policyTransaction on policy.PolicyKey = policyTransaction.PolicyKey and policy.VersionKey = policyTransaction.VersionKey 
	where policy.PolicyKey =@policyKey FOR XML PATH('')),'')



CREATE TABLE #TEMPDATA
	(
		PolicyKey INT,VersionKey INT,FormId INT,FormVersionKey INT,TransactionSequence INT,
		CoverageSequence INT,QuoteKey INT,IsThisOptionFinalised varchar(100),
		IsQuoteSelected varchar(100),TotalDue varchar(100),Limits varchar(100),Deductibles varchar(100),
		DefenseExpenses varchar(100),ClaimOption varchar(100),DollarDefense varchar(100),TotalModifiers varchar(100),
		Taxamount varchar(100),Premium varchar(100),Type varchar(100),
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, policyTransaction.TransactionSequence, 
	policyCoverage.CoverageSequence, quote.QuoteKey, 
	CASE WHEN quote.IsThisOptionFinalised = null THEN ''N'' ELSE quote.IsThisOptionFinalised END as IsThisOptionFinalised, 
	quote.IsQuoteSelected, dbo.getAmountFormat(policyTransaction.InvoicedPremium),
	cast(dbo.getAmountFormat(policyCoverage.AggregateLimit) as varchar(20)) + ''/'' + cast(dbo.getAmountFormat(policyCoverage.OccuranceLimit) as varchar(20)) as Limits, 
	dbo.getAmountFormat(policyCoverage.AggregateDeductible) as Deductibles, 
	CASE WHEN policyCoverage.IsClaimExpensesType = ''Y'' THEN ''Outside'' ELSE ''Inside'' END as DefenseExpenses, 
	CASE WHEN policyCoverage.IsClaimOptionType = ''Y'' THEN ''Aggregate'' ELSE ''Each Claim'' END as ClaimOption, 
	CASE WHEN policyCoverage.IsDollarDefense = ''Y'' THEN ''Yes'' ELSE ''No'' END as DollarDefense, 
	policyTransaction.TotalPolicyModifierPercentage, dbo.getAmountFormat(policyTransaction.TotalPolicyTaxAmount) as Taxamount, dbo.getAmountFormat(policyTransaction.TotalPremium) as Premium, 
	CASE WHEN policyCoverage.IsManualPremium = ''Y'' THEN ''Manual'' ELSE ''Auto'' END as IsManualPremium
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + ''' 
	inner join PolicyTransaction as policyTransaction on policy.PolicyKey = policyTransaction.PolicyKey and policy.VersionKey = policyTransaction.VersionKey 
	inner join PolicyCoverage as policyCoverage on policy.PolicyKey = policyCoverage.PolicyKey  and policyTransaction.TransactionSequence =	policyCoverage.TransactionSequence 
	inner join Quote as quote on policy.PolicyKey = quote.PolicyKey  and policyTransaction.TransactionSequence = quote.TransactionSequence 
	WHERE policy.recordType <> ''D'' and policyTransaction.recordType <> ''D'' and policyCoverage.recordType <> ''D'' and quote.recordType <> ''D'' 
	and quote.IsShowQuote = ''Y'' ';

	IF(@policyKey is not null)
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND policyTransaction.PolicyKey = ' + cast(@policyKey as varchar(10));
		SET  @sqlstm = @sqlstm + ' AND policyCoverage.PolicyKey = ' + cast(@policyKey as varchar(10));
		SET  @sqlstm = @sqlstm + ' AND quote.PolicyKey = ' + cast(@policyKey as varchar(10));
	END
	
	SET  @sqlstm = @sqlstm + ' GROUP BY policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, policyTransaction.TransactionSequence, 
	policyCoverage.CoverageSequence, quote.QuoteKey, quote.IsThisOptionFinalised, quote.IsQuoteSelected, policyTransaction.InvoicedPremium,
	policyCoverage.AggregateLimit, policyCoverage.OccuranceLimit, policyCoverage.AggregateDeductible, policyCoverage.IsClaimExpensesType,
	policyCoverage.IsClaimOptionType, policyCoverage.IsDollarDefense, policyTransaction.TotalPolicyModifierPercentage, policyTransaction.TotalPolicyTaxAmount,
	policyTransaction.TotalPremium, policyCoverage.IsManualPremium'

	--print @sqlstm

	INSERT INTO #TEMPDATA (PolicyKey, VersionKey, FormId, FormVersionKey, TransactionSequence, CoverageSequence, QuoteKey, IsThisOptionFinalised, IsQuoteSelected, 
	TotalDue, Limits, Deductibles, DefenseExpenses, ClaimOption, DollarDefense, TotalModifiers, Taxamount, Premium, Type)
	EXECUTE (@sqlstm)
	

	--select * from #TEMPDATA 
	DECLARE @QuoteListdata NVARCHAR(MAX)
	set @QuoteListdata=ISNULL((select PolicyKey, VersionKey, FormId, FormVersionKey, TransactionSequence, CoverageSequence, QuoteKey, IsThisOptionFinalised, IsQuoteSelected, 
	TotalDue, Limits, Deductibles, DefenseExpenses, ClaimOption, DollarDefense, TotalModifiers, Taxamount, Premium, Type
	 from #TEMPDATA FOR XML PATH('data'),ROOT('QuoteList')),'')


DECLARE @test NVARCHAR(MAX)

set @test= @policydata + @QuoteListData
--SELECT CAST(@test AS XML) FOR XML PATH(''),ROOT('XML')

SELECT STUFF((SELECT CAST(@test AS XML) FOR XML PATH('') ), 1, 1, '') as XML

END









GO
