USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BatchJob_Producer_Modifier_Retention_Report]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BatchJob_Producer_Modifier_Retention_Report]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BatchJob_Producer_Modifier_Retention_Report]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[BatchJob_Producer_Modifier_Retention_Report] AS' 
END
GO
--exec BatchJob_Producer_Modifier_Retention_Report
ALTER proc [dbo].[BatchJob_Producer_Modifier_Retention_Report]
AS
begin

print 'stop'
--insert into pone_batch_reports (report_name, search_xml, request_date, last_updated_by, last_updated_ts, search_xml_desc, project_name, output_type, search_name)
--select report_id, search_xml,GETDATE(),3,GETDATE(),search_xml_desc,'AccountantIns','E',search_name 
--from reportsavedsearch where report_id = 'FetchAllAccountantData_new' 
----and search_name in ('2021 Actual To Plan','2021 AE Chart','2021 Producer Report','2021 Modifier')
--and search_id in(1167)

--insert into pone_batch_reports (report_name, search_xml, request_date, last_updated_by, last_updated_ts, search_xml_desc, project_name, output_type, search_name)
--select report_id, search_xml,GETDATE(),3,GETDATE(),search_xml_desc,'AccountantIns','E',search_name 
--from reportsavedsearch where report_id = 'FetchAllLawyersData_new' 
----and search_name in ('2021 Actual To Plan','2021 AE Chart','2021 Producer Report','2021 Modifier')
--and search_id in(1166,1174)
END




GO
