USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[policyCancellationReinstatementEndorsement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[policyCancellationReinstatementEndorsement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[policyCancellationReinstatementEndorsement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[policyCancellationReinstatementEndorsement_p] AS' 
END
GO
--exec policyCancellationReinstatementEndorsement_p 70550, 70590, 70580, 3, '2018-08-15', 3, 1
--exec policyCancellationReinstatementEndorsement_p 127600, 128048, 127773, 3, '2022-01-26', 1, null, 'Y'
ALTER PROCEDURE [dbo].[policyCancellationReinstatementEndorsement_p] 
(
	@PolicyKey int,
	@AccountKey INT,
	@AddressKey INT,
	@LastUpdateUserID int,
	@EndorsementEffectiveDate DATETIME,
	@CancellationID INT,
	@CancellationTypeID INT,
	@isEnforcedPolicy Char
)
as begin

	declare @AccountKey_Inserted int
	declare @AddressKey_Inserted int
	declare @VersionSequence_Inserted int
	declare @TransactionSequence_Inserted int
	declare @CoverageSequence_Inserted int
	declare @AgentName varchar(100)
	declare @PolicyEffectiveDate datetime
	declare @StatusKey int
	declare @PolicyExpirationDate datetime
	declare @TransactionExpirationDate datetime
	declare @maxAccountID int
	declare @QuoteNumber varchar(100)
	declare @AppCreatedDate datetime
	declare @IsFirmHaveLawyersLiabilityInsurance char(20)

	declare @AggregateLimit int
	declare @OccuranceLimit int
	declare @AggregateDeductible int
	declare @LimitSequencePross int
	declare @DeductibleSequencePross int

	declare @IsClaimExpensesType char(1)
	declare @IsClaimOptionType char(1)
	declare @IsFirmPracticeInOtherState char(1)
	declare @IsProfDefenceExpense char(1)
	declare @IsRenewed char
	declare @AccountID int
	declare @VersionSequence int
	declare @endorsementType INT
	DECLARE @finilazedTransactionSequence INT
	DECLARE @LastUpdateTimeStamp DATETIME=convert(varchar, GETDATE(), 101)
	begin try

		set @StatusKey=(select top 1 statuskey from policytransaction where policykey=@PolicyKey)
		select @StatusKey
		if(@StatusKey=6)
		BEGIN
			set @endorsementType=7
		END
		if(@StatusKey=8)
		BEGIN
			set @endorsementType=8
		END

		select @AgentName=AgentName from UserDetails where UserNo=@LastUpdateUserID
		--getting policyeffectivedate
		select @PolicyEffectiveDate= PolicyEffectiveDate From Policy Where policykey=@PolicyKey

		select @PolicyExpirationDate=PolicyExpirationDate,@TransactionExpirationDate= PolicyExpirationDate from PolicyTransaction where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)

		
		SELECT @VersionSequence=max(versionsequence) from Firm where policykey=@PolicyKey
		---Code paste below

		
		DECLARE @VersionKey_Inserted INT
		INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)Select @PolicyKey,@LastUpdateUserID,getdate(),@LastUpdateUserID,getdate(),'I' 
		select @VersionKey_Inserted=IDENT_CURRENT('Version')


		insert into Firm(ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,LastUpdateUserID,LastUpdateTimeStamp,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,FirstReviewUserID,PolicyKey,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,IsQuotePage,IsMailSent,Comment,IsLicenseNumberUpdated,QuoteEffectiveDate,QuoteExpiryDate,AcceptanceDate,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsViewed,IssuedDate,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,IsRenewed,QuoteComment,RenewBasicInfoPage,IsRenewFirmReferred,IsRenewalReview,RenewalReviewComments,AverageRevenue,SwapRevenueYear,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,PricingStatus,UnderwriterComment,QQRMLink,CreatedBy,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,MarketingId,isNewApp,IsThankYouEmailSend,IsFirmPage,IsCoveragePage,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,IsIndicationMailSent,IsAOPChange,isAppCompleted,completedPageCommemnt,IndicationSentDate,IsIndicationPage,lostworkqComment,oldAccountId,Versionkey)
		SELECT ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,@LastUpdateUserID,GETDATE(),IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,FirstReviewUserID,PolicyKey,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,IsQuotePage,IsMailSent,Comment,IsLicenseNumberUpdated,QuoteEffectiveDate,QuoteExpiryDate,AcceptanceDate,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsViewed,IssuedDate,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,IsRenewed,QuoteComment,RenewBasicInfoPage,IsRenewFirmReferred,IsRenewalReview,RenewalReviewComments,AverageRevenue,SwapRevenueYear,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,PricingStatus,UnderwriterComment,QQRMLink,@LastUpdateUserID,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,MarketingId,isNewApp,IsThankYouEmailSend,IsFirmPage,IsCoveragePage,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,IsIndicationMailSent,IsAOPChange,isAppCompleted,completedPageCommemnt,IndicationSentDate,IsIndicationPage,lostworkqComment,oldAccountId,@VersionKey_Inserted
		 from Firm where policykey=@PolicyKey and VersionSequence=@VersionSequence

		--getting newly INSERTed versionsequence here
		SELECT @VersionSequence_INSERTed=max(VersionSequence) FROM firm WHERE policykey=@PolicyKey

		---Code ended Here
		SELECT  @finilazedTransactionSequence=pt.TransactionSequence FROM policytransaction pt inner join Quote q on pt.PolicyKey=q.Policykey and pt.TransactionSequence=q.TransactionSequence WHERE pt.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'

		UPDATE policytransaction SET TransactionExpirationDate=@EndorsementEffectiveDate WHERE Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

		insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,ProducerCode,SubInsuranceCarrier,VersionSequence,TotalPolicyModifierPercentage,CreatedBy,CreatedDate,VersionKey)
		select @PolicyKey,@AccountKey, @EndorsementEffectiveDate,@endorsementType,@PolicyExpirationDate,@PolicyExpirationDate,ProducerCode,SubInsuranceCarrier,@VersionSequence_Inserted,TotalPolicyModifierPercentage,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted  from PolicyTransaction where PolicyKey = @PolicyKey and TransactionSequence =  @finilazedTransactionSequence 

		select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')
		declare @UnearnedPremium	numeric(10,2)
		declare @UnearnedTax	numeric(10,2) 
		declare @totalUnearnedPremium numeric(10,2)
		declare @prorataPremium numeric(10,2)
		declare @premiumVariation numeric(17,2)
		declare @taxVariation numeric(17,2)
		select @UnearnedPremium=CAST(UnearnedPremium AS DECIMAL(10, 2)),@UnearnedTax=CAST(UnearnedTax AS DECIMAL(10, 2)),@totalUnearnedPremium=CAST(totalUnearnedPremium AS DECIMAL(10, 2)),
		@prorataPremium=ProRatePremium,@premiumVariation=PremiumVariation,@taxVariation=TaxVariation 
		from PremiumCalculationBuffer Where Policykey=@PolicyKey

		if(@StatusKey=6)
		BEGIN
			
	
				insert into CancellationEndorsement (PolicyKey,CancellationReasonID,CancellationTypeID,LastUpdateUserID,LastUpdateTimeStamp,TransactionSequence,CreatedBy,CreatedDate)
				values(@PolicyKey,@CancellationID,@CancellationTypeID,@LastUpdateUserID,@LastUpdateTimeStamp,@TransactionSequence_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

				if(@isEnforcedPolicy='Y')
				begin
				update PolicyTransaction set StatusKey=8,TotalPremium= @UnearnedPremium,TotalPolicyTaxAmount= @UnearnedTax,InvoicedPremium=@totalUnearnedPremium  
						,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
				where PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_Inserted

				update PolicyTransaction set StatusKey=8 where PolicyKey = @PolicyKey

	

				INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,LastUpdateTimeStamp,LastUpdateUserID,EndorsementIssuedDate,isFinancialEndirsement,TransactionTypeKey,PremiumVariation,TaxVariation,EndorsementEffectiveDate,CreatedBy,CreatedDate,VersionKey)
										VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@prorataPremium,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp,'Y',@endorsementType,@premiumVariation,@taxVariation,@EndorsementEffectiveDate,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted )
				End

				if(@isEnforcedPolicy='N')
				begin
					update PolicyTransaction set StatusKey=8,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey = @PolicyKey 

					INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,LastUpdateTimeStamp,LastUpdateUserID,EndorsementIssuedDate,isFinancialEndirsement,TransactionTypeKey,EndorsementEffectiveDate,CreatedBy,CreatedDate,VersionKey)
					VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@prorataPremium,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp,'N',@endorsementType,@EndorsementEffectiveDate,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted )
				End

	
	
		END

		if(@StatusKey=8)
		BEGIN
		DECLARE @previousTotalPremium numeric(15,2)
		DECLARE @previousTotalPolicyTaxAmount numeric(15,2)
		DECLARE @previousInvoicedPremium numeric(15,2)
		SELECT @previousTotalPremium=TotalPremium,@previousTotalPolicyTaxAmount=TotalPolicyTaxAmount,@previousInvoicedPremium=InvoicedPremium 
		FROM PolicyTransaction where PolicyKey=@PolicyKey and TransactionSequence=(select max(PreviousFinalizedTransactionSequence)	as PreviousFinalizedTransactionSequence from endorsementdetails where Policykey=@PolicyKey )

		DECLARE @MaxSequence INT
		SET @MaxSequence=(select max(VersionSequence) from EndorsementDetails  where PolicyKey=@PolicyKey)

		if(@isEnforcedPolicy='Y')
			begin
		
				update PolicyTransaction set TotalPremium= @previousTotalPremium,TotalPolicyTaxAmount= @previousTotalPolicyTaxAmount,InvoicedPremium=@previousInvoicedPremium  
				,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
				where PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_Inserted

				UPDATE PolicyTransaction set StatusKey=6 where PolicyKey = @PolicyKey

				SET @totalUnearnedPremium=(select InvoicedPremium from policytransaction where PolicyKey=@PolicyKey 
				and TransactionSequence=(select PreviousFinalizedTransactionSequence from EndorsementDetails  where PolicyKey=@PolicyKey and VersionSequence=@MaxSequence ))

				INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,LastUpdateTimeStamp,LastUpdateUserID,PremiumVariation,TaxVariation,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
				VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@totalUnearnedPremium,'Y',@LastUpdateTimeStamp,@endorsementType,@LastUpdateTimeStamp,@LastUpdateUserID,@premiumVariation,@taxVariation,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

			End

		if(@isEnforcedPolicy='N')
			begin
		

				UPDATE PolicyTransaction set StatusKey=6,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey = @PolicyKey
		
				INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
				VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,null,'N',@LastUpdateTimeStamp,@endorsementType,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

			End
		END


		INSERT into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,
		OccuranceLimit,OccuranceDeductible,AggregateDeductible,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,PrimaryAccess,ClassCode,IsDollarDefense,TotalCovModifierPercentage,CreatedBy,CreatedDate) 
		select @PolicyKey,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,
		OccuranceLimit,OccuranceDeductible,AggregateDeductible,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,PrimaryAccess,ClassCode,IsDollarDefense,TotalCovModifierPercentage,@LastUpdateUserID,@LastUpdateTimeStamp 
		from PolicyCoverage where PolicyKey = @PolicyKey and TransactionSequence= @finilazedTransactionSequence 

		select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

		
		insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote,IsMinimumPremium,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)
			select @PolicyKey,@TransactionSequence_Inserted,IsQuoteSelected,null,null,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp
			from Quote where PolicyKey = @PolicyKey 	and IsThisOptionFinalised='Y'

			--update quote set IsThisOptionFinalised=null where PolicyKey=@PolicyKey and TransactionSequence= @finilazedTransactionSequence 

		if(@StatusKey=8 and @isEnforcedPolicy='Y')
		BEGIN
			update PolicyCoverage set Premium=@previousTotalPremium,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,TotalCoverageTaxAmount=@previousTotalPolicyTaxAmount,InitialCovPremium=@previousInvoicedPremium
			Where CoverageSequence=@CoverageSequence_Inserted and TransactionSequence=@TransactionSequence_Inserted and PolicyKey=@PolicyKey
	
		--update quote set IsThisOptionFinalised='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_Inserted
		END
		if(@StatusKey=6 and @isEnforcedPolicy='Y')
		BEGIN
			update PolicyCoverage set Premium=@totalUnearnedPremium,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,TotalCoverageTaxAmount=@UnearnedTax,InitialCovPremium=@UnearnedPremium
			Where CoverageSequence=@CoverageSequence_Inserted and TransactionSequence=@TransactionSequence_Inserted and PolicyKey=@PolicyKey
			------------------------------------------------------------------------

			--update quote set IsThisOptionFinalised='Y',TotalPremiumFirstRange=null,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey
			--	and TransactionSequence=@TransactionSequence_Inserted
		END



		insert into RatingTrace (PolicyKey,TransactionSequence,LastUpdateTimeStamp,LastUpdateUserID,XmlInputDatatoRating,XmlOutputDatafromRating,CreatedBy,CreatedDate)
		select @PolicyKey,@TransactionSequence_Inserted,@LastUpdateTimeStamp,@LastUpdateUserID,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateUserID,@LastUpdateTimeStamp
		from RatingTrace where Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

		----------------------------------------------------------------------
		--Now Commented
		INSERT INTO ProfessionalLiabilityInsDetail (InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,PolicyKey,VersionSequence,
		IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate,VersionKey)
		SELECT InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,PolicyKey,@VersionSequence_Inserted,
		IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,GETDATE(),@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted 
		 FROM ProfessionalLiabilityInsDetail WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		---------------------------------------------
		INSERT INTO AreaOfPractice (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
		SELECT @PolicyKey,@VersionSequence_INSERTed,AOPKey,PercentageValue,AOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 FROM AreaOfPractice WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		-----------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
		INSERT INTO FirmInitLawsuits(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees, IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUPDATEUserID, LastUPDATETimeStamp,VersionKey,CreatedBy,CreatedDate) 
		SELECT @PolicyKey,@VersionSequence_INSERTed,AmountOfFeesSued,DueDateFees,SuitFilesDateFees, IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey, LastUPDATEUserID,LastUPDATETimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM FirmInitLawsuits WHERE  PolicyKey=@PolicyKey and VersionSequence= @VersionSequence

		------------------------------------------------------------------------------------------------

		-------------------------------------------------SeperateEntitySupp Supplement data insertion---------------------------------------------

		insert into SeperateEntitySupp (EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe, TotalSupportStaffSe,DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,
		LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate,PolicyKey,VersionSequence,IsStaffIncludedInMain,IsRevenueIncludedInMain,VersionKey,CreatedBy,CreatedDate)
		select EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,DetailedDescSe, LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,
		LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate,PolicyKey,@VersionSequence_Inserted, IsStaffIncludedInMain,IsRevenueIncludedInMain,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from SeperateEntitySupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		-------------------------------------------------FundsControlledSupp Supplement data insertion---------------------------------------------

		insert into FundsControlledSupp (TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,NumberOfClientsFc,NumberOfFirmEmployeesFc,
		IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,ProvideNumberOfClientFc,ClientIndustryFc,PolicyKey,VersionSequence,ClientIndustryFcOthers,HaveInvestmentAuthorityFC,VersionKey,CreatedBy,CreatedDate)
		select TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,NumberOfClientsFc,NumberOfFirmEmployeesFc,
		IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,ProvideNumberOfClientFc,ClientIndustryFc,PolicyKey,@VersionSequence_Inserted,ClientIndustryFcOthers,HaveInvestmentAuthorityFC,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from FundsControlledSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------GrossRevenueForFirm Supplement data insertion---------------------------------------------

		insert into GrossRevenueForFirm (GrossRevenueKey, YearEndDate,Amount,PolicyKey,VersionSequence,VersionKey,CreatedBy,CreatedDate)
		select GrossRevenueKey, YearEndDate,Amount,PolicyKey,@VersionSequence_Inserted,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------TrusteeOrEstateSupp Supplement data insertion---------------------------------------------
		
		insert into TrusteeOrEstateSupp (NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,IsBeneficiaryInterestTrust,
		PolicyKey,VersionSequence,TypeofTrustKey,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,IsBeneficiaryInterestTrust,
		PolicyKey,@VersionSequence_Inserted,TypeofTrustKey,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from TrusteeOrEstateSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------OutsideInterestSupp Supplement data insertion---------------------------------------------
		
		insert into OutsideInterestSupp (ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
		AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,PolicyKey,VersionSequence,ClientIndustryOsiKeyOthers,
		ServiceIndustryOsiKeyOthers,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
		AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,PolicyKey,@VersionSequence_Inserted,ClientIndustryOsiKeyOthers,
		ServiceIndustryOsiKeyOthers,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from OutsideInterestSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------ClaimIncidentSupp Supplement data insertion---------------------------------------------
		
		insert into ClaimIncidentSupp (NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,ClaimNotifiedCiDate,
		AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,
		StepsTakenToPreventClaimCi,PolicyKey,VersionSequence,CurrentStatus,InsurerLossRevenue,IsClaimInSuit,InsurerLoss,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,ClaimNotifiedCiDate,
		AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,
		StepsTakenToPreventClaimCi,PolicyKey,@VersionSequence_Inserted,CurrentStatus,InsurerLossRevenue,IsClaimInSuit,InsurerLoss,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from ClaimIncidentSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------FinancialPlanningAndIAServiceSupp Supplement data insertion---------------------------------------------
		
		insert into FinancialPlanningAndIAServiceSupp (IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,IsOmissionsPolicy,IsAnyNonPublicInvestments,
		IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan,PolicyKey,VersionSequence,IsAnyReferralFeesInvestments,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,
		IsAnyEmployeeBenefitPlan,PolicyKey,@VersionSequence_Inserted,IsAnyReferralFeesInvestments,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		from FinancialPlanningAndIAServiceSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------Attestation Supplement data insertion---------------------------------------------
		
		insert into Attestation (FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,IsLastPeerReviewAtt,IndicatedRevenueInAttestation,PolicyKey,VersionSequence,
		LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,IsLastPeerReviewAtt,IndicatedRevenueInAttestation,PolicyKey,VersionSequence,LastPeerReviewAttComment,
		AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from Attestation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------

		-----------------Populate Coverage Modifiers--------------------------
		IF(@StatusKey=8)
		BEGIN
			INSERT INTO CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUPDATETimeStamp,LastUPDATEUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedBy,CreatedDate) 
			SELECT @PolicyKey,Comment,@CoverageSequence_INSERTed,GETDATE(),@LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_INSERTed,@LastUpdateUserID,@LastUpdateTimeStamp
			 FROM CoverageModifiers WHERE PolicyKey = @PolicyKey and TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)  
		END
	end try
	begin catch
		prINT error_message()
		rollback 
	end catch
end





GO
