USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateAppCompletionLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateAppCompletionLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateAppCompletionLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateAppCompletionLW_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

--exec ValidateAppCompletionLW_p 146765,68755, '2017-12-06 00:00:00.0', '2021-01-01','2021-01-01'
ALTER PROCEDURE [dbo].[ValidateAppCompletionLW_p]
	(
	@PolicyKey INT,
	@AccountKey INT,
	@LitImplementationDate DATETIME,
	@RenewalSupplementNewImplDate DATETIME,
	@bankruptcyImplementationDate DATETIME
	)
AS
BEGIN
DECLARE @isAppCompleted CHAR,@isAppCompletedSession CHAR,@VersionKey INT,@StatusKey INT
	
	set @StatusKey=(Select top 1 StatusKey from PolicyTransaction Where PolicyKey=@PolicyKey)
	if(@StatusKey=1 or @StatusKey=2)
	begin

		set @isAppCompletedSession=(Select isAppCompleted from FirmLW where PolicyKey=@PolicyKey)
		SET @VersionKey=(select VersionKey from Policy where PolicyKey=@PolicyKey)
		set @isAppCompleted=(SELECT top 1 FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,@LitImplementationDate,@RenewalSupplementNewImplDate,@bankruptcyImplementationDate))

		if(@isAppCompleted<>@isAppCompletedSession)
			update FirmLW set isAppCompleted=@isAppCompleted,LastUpdateTimeStamp=GETDATE() where PolicyKey=@PolicyKey and VersionKey=@VersionKey
	end
	
END

	


GO
