USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_BusinessManagementSupp_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_BusinessManagementSupp_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_BusinessManagementSupp_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_BusinessManagementSupp_ACC] AS' 
END
GO
--exec [UWRules_BusinessManagementSupp_ACC] 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_BusinessManagementSupp_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	Declare @HaveInvestmentAuthorityFC CHAR,@IsControlFundsForBusinessAndEntimentFc CHAR,@IsManagementServiceProvided CHAR,@IsFirmPersonnelBusinessManagerFc CHAR 
	
	select @HaveInvestmentAuthorityFC=HaveInvestmentAuthorityFC,@IsControlFundsForBusinessAndEntimentFc=IsControlFundsForBusinessAndEntimentFc,@IsManagementServiceProvided=IsManagementServiceProvided,@IsFirmPersonnelBusinessManagerFc=IsFirmPersonnelBusinessManagerFc
	 from FundsControlledSupp where Policykey=@PolicyKey and VersionSequence=@VersionSequence

	--select  @daysDifference
	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='doesFirmhaveDiscretionaryInvestment_Accountant'
		if(@HaveInvestmentAuthorityFC='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has discretionary investment authority of client funds.','Firm  has discretionary investment authority of client funds. Review the supplement and also determine what is the nature of the discretionary control and for how many clients. Is this for trusts that are controlled by the trust agreement or by the courts?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='provideBusinessManagementFamilyOfficeServices_Accountant'
		if(@IsControlFundsForBusinessAndEntimentFc='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is providing business/personal management or family office services or control funds for clients in the entertainment or sports industry. Outside of the programs appetite. Decline.','Firm is providing business/personal management or family office services or control funds for clients in the entertainment or sports industry. Outside of the programs appetite. Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='providedManagementServicesForInvestmentVentures_Accountant'
		if(@IsManagementServiceProvided='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm provided management services for investment ventures.','Firm provided management services for investment ventures.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id='doFirmPersonnelActasManagerCFOforClients_Accountant'
		if(@IsFirmPersonnelBusinessManagerFc='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm acting as a business manager or CFO for business clients. See exclusion 10b:  an officer, director, trustee, partner or other member of a governing body of any entity other than the Named Insured is excluded.','Firm acting as a business manager or CFO for business clients.  Determine if the accountants is an employee of the client and in what capacity.  May be excluded under 10b.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
END

	IF(@PolicyStatusKey=2)
	BEGIN
		--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		--Select @priorYearTotalFirmPersonnel=TotalFirmPersonnel from Firm where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		
		print 'Renewal Flow'

		
		set @rule_id='doesFirmhaveDiscretionaryInvestmentRenew_Accountant'
		if(@HaveInvestmentAuthorityFC='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm  has discretionary investment authority of client funds.','Firm  has discretionary investment authority of client funds. Review the supplement and also determine what is the nature of the discretionary control and for how many clients. Is this for trusts that are controlled by the trust agreement or by the courts?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='provideBusinessManagementFamilyOfficeServicesRenew_Accountant'
		if(@IsControlFundsForBusinessAndEntimentFc='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is providing business/personal management or family office services or control funds for clients in the entertainment or sports industry. Outside of the programs appetite. Decline.','Firm is providing business/personal management or family office services or control funds for clients in the entertainment or sports industry. Outside of the programs appetite. Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='providedManagementServicesForInvestmentVentures_Accountant'
		if(@IsManagementServiceProvided='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm provided management services for investment ventures.','Firm provided management services for investment ventures.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id='doFirmPersonnelActasManagerCFOforClientsRenew_Accountant'
		if(@IsFirmPersonnelBusinessManagerFc='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm acting as a business manager or CFO for business clients. See exclusion 10b:  an officer, director, trustee, partner or other member of a governing body of any entity other than the Named Insured is excluded.','Firm acting as a business manager or CFO for business clients.  Determine if the accountants is an employee of the client and in what capacity.  May be excluded under 10b.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END





GO
