USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[insertUpdateERPEndorsementDateACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[insertUpdateERPEndorsementDateACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[insertUpdateERPEndorsementDateACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[insertUpdateERPEndorsementDateACC_p] AS' 
END
GO
--exec insertUpdateERPEndorsementDateLW_p 74939, '2019-11-14','', null, null, null, null, null, 'Y', 5, 3155.0, 0.0, 3155.0, null, null, 'GA'
ALTER PROCEDURE [dbo].[insertUpdateERPEndorsementDateACC_p]
(
@PolicyKey	 INT,
@endorsementEffectiveDate	 DateTime,
@nameOfAccountant	VARCHAR(500),
@ceasedDate		DateTime,
@isInsuredWithUsFromPast	 Char,
@isDeathDisabilityERP	 CHAR,
@deathDisabilityFirmOrAccountantName	 varchar(500),
@deathDiablityCeasedDate	DateTime,
@isFirmERP	 Char,
@yearsOfERP		int,
@ERPPremium	 Numeric(15,2),
@ERPTax		Numeric(15,2),
@ERPTotalPremium numeric	(15,2),
@isAccountantRetiring CHAR,
@practicePortitonOfAccountant	 Numeric(5,2),
@StateCode VARCHAR(5),
@isSoloAccountant CHAR,
@LastUpdateTimeStamp VARCHAR(500),
@LastUpdateUserID int
)
AS
BEGIN
	DECLARE @VersionSequence INT
	DECLARE @VersionKey INT
	DECLARE @TransactionSequence INT
	SET @VersionSequence=(SELECT MAX(VersionSequence) from firmlw Where Policykey=@PolicyKey)
	SET @VersionKey=(SELECT VersionKey from Policy Where Policykey=@PolicyKey)
	SET @TransactionSequence=(SELECT Transactionsequence from PolicyTransaction where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	
	DECLARE @StatusKey INT
	DECLARE @TargetDate DATE
	DECLARE @ERPMonths INT
	DECLARE @ErpExpirationDate DATETIME
	DECLARE @SetErpExpirationDate DATETIME
	DECLARE @SetErpEffectiveDate DATETIME
	SET @ERPMonths=(SELECT CAST(@yearsOfERP AS Int)*12)
	
	SET @StatusKey=(SELECT top 1 Statuskey from PolicyTransaction where policykey=@Policykey)
	
	

	If(@StatusKey=8)	
	Begin
	SET @TargetDate=(select top 1 TransactionEffectiveDate from PolicyTransaction where  statuskey=8 and TransactionTypeKey=7 and PolicyKey=@PolicyKey order by TransactionEffectiveDate desc)
	end
if(@StateCode='AR') 
	Begin
	
		SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate+60))
	END
	else if(@StateCode='NH' and @yearsOfERP=1)
	Begin
	
	 BEGIN
	
		SET @ErpExpirationDate=(  select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate+60))

	 END

	

	END

	ELSE
	BEGIN
		 	 SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate))
	END


	if(@StatusKey=8)
	select @SetErpEffectiveDate=convert(varchar(10),  @TargetDate, 101),@SetErpExpirationDate=convert(varchar(10), @ErpExpirationDate, 101) 
	else 
	select @SetErpEffectiveDate=convert(varchar(10), @endorsementEffectiveDate, 101),@SetErpExpirationDate=convert(varchar(10), @ErpExpirationDate, 101) 
	
	INSERT INTO ErpEndorsementDetailsAcc(PolicyKey,VersionSequence,TransactionSequence,EndorsementEffectiveDate,AccountantName,isSoloAccountant,ceasedDate,isInsuredWithUsFromPast,
	practicePortitonOfAccountant,isDeathDisabilityERP,deathDisabilityFirmOrAccountantName,deathDiablityCeasedDate,isAccountantRetiring,isFirmERP,yearsOfERP,ERPPremium,ERPTax,ERPTotalPremium,ERPExpirationDate,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate,VersionKey)
	VALUES(@PolicyKey,@VersionSequence,@TransactionSequence,@endorsementEffectiveDate,@nameOfAccountant,@isSoloAccountant,@ceasedDate,@isInsuredWithUsFromPast,
	@practicePortitonOfAccountant,@isDeathDisabilityERP,@deathDisabilityFirmOrAccountantName,@deathDiablityCeasedDate,@isAccountantRetiring,@isFirmERP,@yearsOfERP,@ERPPremium,@ERPTax,@ERPTotalPremium,convert(varchar(10), @SetErpExpirationDate, 23),@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey )

	
	
END










GO
