USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RollbackIssuePolicyUpdateStateus_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RollbackIssuePolicyUpdateStateus_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RollbackIssuePolicyUpdateStateus_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RollbackIssuePolicyUpdateStateus_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[RollbackIssuePolicyUpdateStateus_p] (
@PolicyKey INT,
@VersionSequence INT,
@PolicyNumber VARCHAR(20),
@UserNo VARCHAR(100)
)
	
AS
BEGIN
	DECLARE @MarketableProductKey INT=(Select MarketableProductKey from Policy where PolicyKey=@PolicyKey)
	UPDATE Policy SET PolicyNumber=NULL,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@UserNo  WHERE PolicyKey=@PolicyKey
	UPDATE PolicyTransaction SET StatusKey=7,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@UserNo  where PolicyKey=@PolicyKey
	--UPDATE Firm SET IssuedDate=NULL ,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@USERNO  where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	IF(@MarketableProductKey=1)
	BEGIN
		UPDATE Firm SET IssuedDate=NULL ,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@USERNO  where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		DELETE FROM  DocumentArchive where PolicyKey=@PolicyKey and DocFileName like 'PolicyForm_%' and UploadedType='Auto'
	END
	IF(@MarketableProductKey=2)
	BEGIN
		UPDATE Firmlw SET IssuedDate=NULL ,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@USERNO  where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		DELETE FROM  DocumentArchive where PolicyKey=@PolicyKey and DocFileName like 'PolicyForm_%' and UploadedType='Auto'
	END
END


GO
