USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccLawStatusCleaner_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AccLawStatusCleaner_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccLawStatusCleaner_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AccLawStatusCleaner_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[AccLawStatusCleaner_p]
AS
BEGIN
   --Accounatnt
   delete from StatusCleanerLogs
 CREATE TABLE #TEMP
       (	
       SN INT IDENTITY(1,1),
       PolicyKey INT,
       StatusKey INT,
       Policyeffectivedate DATETIME,
       MarketproductKey INT,
	   IsIndicationMailSent CHAR(10),
	   IsQuickQuote char(10),
	   Comment varchar(50)
       )

	insert into  #TEMP  select p.policykey,pt.StatusKey, p.policyeffectivedate,p.MarketableProductKey,f.IsIndicationMailSent,p.IsQuickQuote,f.Comment from policy p
	inner join PolicyTransaction pt on pt.policykey=p.policykey
	inner join Firm f  on f.policykey=p.policykey
	where p.PolicyEffectiveDate<=GETDATE()-59 and statuskey in(1,2,9,10,11) and
	pt.transactionsequence=(select min(TransactionSequence) from PolicyTransaction where policykey=pt.PolicyKey)
	order by p.PolicyEffectiveDate desc

	--select PolicyEffectiveDate,PolicyKey from policy p where p.PolicyEffectiveDate<=GETDATE()-59


DECLARE @ROWCOUNT INT
SET @ROWCOUNT=(SELECT COUNT(*) FROM #TEMP)
--SELECT * FROM  #TEMP
--select * from status
DECLARE @INDEX INT=1
DECLARE @MARKETKEY INT=0
DECLARE @PolicyKey INT=0
DECLARE @StatusKey INT=0
DECLARE @IsIndicationMailSent CHAR(10)=''
DECLARE @IsQuickQuote CHAR(10)=''
Declare @CommentAcc varchar(50)

WHILE(@INDEX<=@ROWCOUNT)
BEGIN
SELECT @MARKETKEY=MarketproductKey,@PolicyKey=PolicyKey,@StatusKey=StatusKey,@IsIndicationMailSent=ISNULL(IsIndicationMailSent,'N'),@IsQuickQuote=ISNULL(IsQuickQuote,'N') FROM #TEMP WHere SN=@INDEX     

IF(@MARKETKEY=1)
BEGIN 
			PRINT 'Hi'+ CAST(@IsIndicationMailSent AS char(30))
			PRINT 'Bye' + CAST(@StatusKey AS varchar(30))
			--IF(@StatusKeyLaw=11)
			--BEGIN
			--	SET @Comment='never sent'
			--	Print 'never sent'
			--END
			--Else
			--BEGIN
			--	SET @Comment='never sent'
			--	Print 'never'
			--END
			IF(@StatusKey=11 and @IsIndicationMailSent <> 'Y' OR  ISNULL(@IsIndicationMailSent,'')='')
				BEGIN
				 SET @CommentAcc='never sent'
				END
			ELSE IF(@StatusKey=11 and @IsIndicationMailSent = 'Y')
			BEGIN
				 SET @CommentAcc='No Response'
				END

			ELSE IF (@StatusKey=1 and @IsQuickQuote='Y')
			BEGIN
				 SET @CommentAcc='not converted'
				END
			ELSE IF (@StatusKey=1 and @IsQuickQuote <> 'Y')
			BEGIN
				 SET @CommentAcc=NULL
				END
			
			ELSE
			BEGIN
				 SET @CommentAcc='never quoted'
				END				
					
    END
	--PRINT @Comment
	UPDATE FIRM SET lostworkqComment=@CommentAcc,LastUpdateTimeStamp=GETDATE() WHERE PolicyKey=@PolicyKey
	UPDATE #TEMP SET Comment=@CommentAcc WHERE PolicyKey=@PolicyKey   


SET @INDEX=@INDEX+1
END

insert into StatusCleanerLogs (PolicyKey,Policyeffectivedate,StatusKey,MarketproductKey,UpdatedDate,comment) 
		select tr.PolicyKey,tr.Policyeffectivedate,tr.StatusKey,tr.MarketproductKey,GETDATE(),tr.comment from #TEMP tr WHERE MarketproductKey in (1)
		 

	--delete from StatusCleanerLogs
	Drop table #TEMP


--Lawyers

 CREATE TABLE #TEMP2
       (
       SN INT IDENTITY(1,1),
       PolicyKey INT,
       StatusKey INT,
       Policyeffectivedate DATETIME,
       MarketproductKey INT,
	   IsIndicationMailSent CHAR(10),
	   IsQuickQuote char(10),
	   Comment varchar(50)
       )

	insert into  #TEMP2  select p.policykey,pt.StatusKey, p.policyeffectivedate,p.MarketableProductKey,fl.IsIndicationMailSent,p.IsQuickQuote,fl.Comment from policy p
	inner join PolicyTransaction pt on pt.policykey=p.policykey
	inner join Firmlw fl  on fl.policykey=p.policykey
	where p.PolicyEffectiveDate<=GETDATE()-59 and statuskey in(1,2,9,10,11) and fl.isManualLostworkq is NULL and
	pt.transactionsequence=(select min(TransactionSequence) from PolicyTransaction where policykey=pt.PolicyKey)
	order by p.PolicyEffectiveDate desc


DECLARE @ROWCOUNTLaw INT
SET @ROWCOUNTLaw=(SELECT COUNT(*) FROM #TEMP2)
--SELECT * FROM  #TEMP
--select * from status
DECLARE @INDEXLaw INT=1
DECLARE @MARKETKEYLaw INT=0
DECLARE @PolicyKeyLaw INT=0
DECLARE @StatusKeyLaw INT=0
DECLARE @IsIndicationMailSentLaw CHAR(10)=''
DECLARE @IsQuickQuoteLaw CHAR(10)=''
Declare @Comment varchar(50)

WHILE(@INDEXLaw<=@ROWCOUNTLaw)
BEGIN
SELECT @MARKETKEYLaw=MarketproductKey,@PolicyKeyLaw=PolicyKey,@StatusKeyLaw=StatusKey,@IsIndicationMailSentLaw=ISNULL(IsIndicationMailSent,'N'),@IsQuickQuoteLaw=ISNULL(IsQuickQuote,'N') FROM #TEMP2 WHere SN=@INDEXLaw     

IF(@MARKETKEYLaw=2)
BEGIN 
			PRINT 'Hi'+ CAST(@IsIndicationMailSentLaw AS char(30))
			PRINT 'Bye' + CAST(@StatusKeyLaw AS varchar(30))
			--IF(@StatusKeyLaw=11)
			--BEGIN
			--	SET @Comment='never sent'
			--	Print 'never sent'
			--END
			--Else
			--BEGIN
			--	SET @Comment='never sent'
			--	Print 'never'
			--END
			IF(@StatusKeyLaw=11 and @IsIndicationMailSentLaw <> 'Y' OR  ISNULL(@IsIndicationMailSentLaw,'')='')
				BEGIN
				 SET @Comment='never sent'
				END
			ELSE IF(@StatusKeyLaw=11 and @IsIndicationMailSentLaw = 'Y')
			BEGIN
				 SET @Comment='No Response'
				END
				
			ELSE IF (@StatusKeyLaw=1 and @IsQuickQuoteLaw='Y')
			BEGIN
				 SET @Comment='not converted'
				END
			ELSE IF (@StatusKeyLaw=1 and @IsQuickQuoteLaw <> 'Y')
			BEGIN
				 SET @Comment=NULL
				END
			
			ELSE
			BEGIN
				 SET @Comment='never quoted'
				END				
    END
	--PRINT @Comment
	UPDATE FIRMLW SET lostworkqComment=@Comment,LastUpdateTimeStamp=GETDATE() WHERE PolicyKey=@PolicyKeyLaw
	UPDATE #TEMP2 SET Comment=@Comment WHERE PolicyKey=@PolicyKeyLaw    


SET @INDEXLaw=@INDEXLaw+1
END

insert into StatusCleanerLogs (PolicyKey,Policyeffectivedate,StatusKey,MarketproductKey,UpdatedDate,comment) 
		select tr.PolicyKey,tr.Policyeffectivedate,tr.StatusKey,tr.MarketproductKey,GETDATE(),tr.comment from #TEMP2 tr WHERE MarketproductKey in (2)

Drop table #TEMP2

CREATE TABLE #TEMP4
       (
       SN INT IDENTITY(1,1),
       PolicyKey INT,
       StatusKey INT,
       Policyeffectivedate DATETIME,
       MarketproductKey INT,
	   DocType CHAR(50),
	   IsQuickQuote char(10),
	   Comment varchar(50)
       )
insert into  #TEMP4  select distinct p.policykey,pt.StatusKey, p.policyeffectivedate,p.MarketableProductKey,dlw.DocType,p.IsQuickQuote,fl.Comment from policy p
	inner join PolicyTransaction pt on pt.policykey=p.policykey
	inner join Firmlw fl  on fl.policykey=p.policykey
	inner join DocumentArchiveLW dlw on dlw.policykey=p.policykey
	where p.PolicyEffectiveDate<=GETDATE()-59 and statuskey in(3) and dlw.DocType='QL' and fl.isManualLostworkq is NULL and
	pt.transactionsequence=(select min(TransactionSequence) from PolicyTransaction where policykey=pt.PolicyKey)
	order by p.PolicyEffectiveDate desc

DECLARE @ROWCOUNTLaw4 INT
SET @ROWCOUNTLaw4=(SELECT COUNT(*) FROM #TEMP4)
--SELECT * FROM  #TEMP
--select * from status
DECLARE @INDEXLaw4 INT=1
DECLARE @MARKETKEYLaw4 INT=0
DECLARE @PolicyKeyLaw4 INT=0
DECLARE @StatusKeyLaw4 INT=0
DECLARE @DocType4 varchar(50)
Declare @Comment4 varchar(50)

WHILE(@INDEXLaw4<=@ROWCOUNTLaw4)
BEGIN
SELECT @MARKETKEYLaw4=MarketproductKey,@PolicyKeyLaw4=PolicyKey,@StatusKeyLaw4=StatusKey ,@DocType4=DocType FROM #TEMP4 WHere SN=@INDEXLaw4     

IF(@MARKETKEYLaw4=2)
BEGIN 
			
			
			IF(@StatusKeyLaw4=3 and @DocType4 = 'QL')
			BEGIN
				 SET @Comment4='Not Accepted'
				END
		
    END
	--PRINT @Comment
	UPDATE FIRMLW SET lostworkqComment=@Comment4,LastUpdateTimeStamp=GETDATE() WHERE PolicyKey=@PolicyKeyLaw4
	UPDATE #TEMP4 SET Comment=@Comment4 WHERE PolicyKey=@PolicyKeyLaw4    
	UPDATE PolicyTransaction SET statuskey=5,LastUpdateTimeStamp=GETDATE() WHERE PolicyKey=@PolicyKeyLaw4
	
SET @INDEXLaw4=@INDEXLaw4+1
END

insert into StatusCleanerLogs (PolicyKey,Policyeffectivedate,StatusKey,MarketproductKey,UpdatedDate,comment) 
		select tr4.PolicyKey,tr4.Policyeffectivedate,tr4.StatusKey,tr4.MarketproductKey,GETDATE(),tr4.comment from #TEMP4 tr4 WHERE MarketproductKey in (2)


select * from StatusCleanerLogs --WHERE MarketproductKey=1
	
	Drop table #TEMP4

END


 




GO
