USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OffriskAccountantEmail_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[OffriskAccountantEmail_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OffriskAccountantEmail_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[OffriskAccountantEmail_p] AS' 
END
GO



--select * from offriskEmail  order by Days
--exec OffriskAccountantEmail_p
ALTER PROCEDURE [dbo].[OffriskAccountantEmail_p] 

AS
BEGIN
 exec SetTransactionKeyForEndorsementACC_p
	 insert into offriskEmail(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyNumber,PolicyExpirationDate,status) 
	   Select  DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) AS Days,
			p.PolicyKey,f.ContactPerson, a.AccountName,a.AccountEmail, 
			--'pat.cosulich@amerinstpro.com',
			
			case when pt.StatusKey<>6 then ( select  policynumber from policy where policykey in (select max(policykey) from policy where accountid=(select AccountID from policy where policykey=p.policykey) and policynumber is not null and policykey!=p.PolicyKey)) else p.PolicyNumber end as PolicyNumber,
			CONVERT(VARCHAR(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,
			(CASE p.PolicyStatusKey WHEN '2'
			THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
			THEN s.StatusDesc + '(R)'
			ELSE s.StatusDesc + '(R) (P)' END 
			ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
			THEN  s.StatusDesc
			ELSE  s.StatusDesc + '(P)' END
			END) as StatusDesc
			 FROM Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
			PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
			and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  and 
			pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(SELECT MIN(TransactionSequence) FROM PolicyTransaction  WHERE PolicyKey=p.PolicyKey) and 
			pc.CoverageSequence=(SELECT min(CoverageSequence)FROM PolicyCoverage WHERE PolicyKey=p.PolicyKey) and   pt.PolicyKey in
			(SELECT PolicyKey FROM Policy WHERE isUncompletedData='N') 
			and ISNULL(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and ISNULL(f.IsRenewalReview,'') != 'Y'  and
			pt.PolicyExpirationDate >= CONVERT(VARCHAR(10),GETDATE(),110) and pt.PolicyExpirationDate =  CONVERT(VARCHAR(10),DATEADD(dd,14,GETDATE()),110) and (pt.ProducerCode is null or pt.ProducerCode in('P0000004','P0000001')) 
	   
	   UNION
			
			SELECT DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) AS Days,
			p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail,
			
			--'pat.cosulich@amerinstpro.com',
			case when pt.StatusKey<>6 then ( select  policynumber from policy where policykey in (select max(policykey) from policy where accountid=(select AccountID from policy where policykey=p.policykey) and policynumber is not null and policykey!=p.PolicyKey)) else p.PolicyNumber end as PolicyNumber,
			CONVERT(VARCHAR(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,
			(CASE p.PolicyStatusKey WHEN '2'
			THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
			THEN s.StatusDesc + '(R)'
			ELSE s.StatusDesc + '(R) (P)' END 
			ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
			THEN  s.StatusDesc
			ELSE  s.StatusDesc + '(P)' END
			END) as StatusDesc
			FROM Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
			PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
			and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  and 
			pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(SELECT MIN(TransactionSequence) FROM PolicyTransaction  WHERE PolicyKey=p.PolicyKey) and 
			pc.CoverageSequence=(SELECT min(CoverageSequence)FROM PolicyCoverage WHERE PolicyKey=p.PolicyKey) and   pt.PolicyKey in
			(SELECT PolicyKey FROM Policy WHERE isUncompletedData='N') and p.PolicyStatusKey = 2
			and ISNULL(f.IsRenewed,'') != 'Y' and pt.StatusKey not in (4,5,6,8,9,10) and ISNULL(f.IsRenewalReview,'') != 'Y'  and
			p.PolicyEffectiveDate >= CONVERT(VARCHAR(10),GETDATE(),110) and p.PolicyEffectiveDate =  CONVERT(VARCHAR(10),DATEADD(dd,14,GETDATE()),110) and (pt.ProducerCode is null or pt.ProducerCode in('P0000004','P0000001'))  ORDER BY  PolicyExpirationDate
			
END






GO
