USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchDataForBrokerageToPLAConversion_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchDataForBrokerageToPLAConversion_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchDataForBrokerageToPLAConversion_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchDataForBrokerageToPLAConversion_LW] AS' 
END
GO

--exec FetchDataForBrokerageToPLAConversion_LW 
ALTER Procedure  [dbo].[FetchDataForBrokerageToPLAConversion_LW] 
as begin
	print 'Test'
	--Truncate table  RenewalTable
	----updating isRenewed flag in brokerageLW
	--exec [BrokerageHanoverRenewalFlagUpdate_p]
	
	--if((DATENAME(dw,GETDATE())='Monday'))
	--begin

	--	Declare @loopCount int=1, @maxLoopCount int=9,  @ForDays varchar(20)='', @days int=0
	--	WHILE(@maxLoopCount>=@loopCount)

	--	   BEGIN
	--			  SET @ForDays=CASE @loopCount WHEN 1 THEN '0' WHEN 2 THEN '5' WHEN 3 THEN '10' WHEN 4 THEN '15' WHEN 5 THEN '21'
	--			  WHEN 6 THEN '30' WHEN 7 THEN '45'WHEN 8 THEN '60' WHEN 9 THEN '90' END

	--			  select DISTINCT br.ProducerCode,DATEDIFF(dd,GETDATE(),br.BrokerPolicyExpirationDate) As Days, br.BrokeragePolicyKey, br.AccountName, br.Email, state,
	--			  convert(varchar(50),BrokerPolicyExpirationDate,101) as PolicyExpirationDate,ss.StateDesc,br.BrokeredPolicyNumber,br.LOBKey into #temp_renewal
	--			   from BrokerageLW br
	--			   inner join State ss on br.State=ss.StateCode
	--			  where br.State in('IL','GA') and CarrierKey=14 and statuskey=6 and LOBKey in(2) and isRenewedAsPLAPolicy is null 
	--			   and br.BrokerPolicyEffectiveDate<'2024-05-01'
	--			  and br.BrokerPolicyExpirationDate>='2023-05-01' and  br.BrokerPolicyExpirationDate<'2025-05-01'
				 
	--			    and (br.isRenewed is null or br.isRenewed='N') and (ProducerCode is null or ProducerCode='')
	--				and 
	--			  BrokerPolicyExpirationDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,GETDATE()),110)
	--																						 WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,GETDATE()),110) 
	--																						 WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,GETDATE()),110)
	--																						 WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,GETDATE()),110)
	--																						 WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,GETDATE()),110)
	--																						 WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,GETDATE()),110)
	--																						 WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,GETDATE()),110)
	--																						 WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,GETDATE()),110)
	--																						 WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,GETDATE()),110)
	--																				  END AND

	--			BrokerPolicyExpirationDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),GETDATE(),110) 
	--																				   WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,GETDATE()),110) 
	--																				   WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,GETDATE()),110)
	--																				  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,GETDATE()),110)
	--																				  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,GETDATE()),110) 
	--																				   WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,GETDATE()),110) 
	--																				   WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,GETDATE()),110) 
	--																				   WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,GETDATE()),110) 
	--																				   WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,GETDATE()),110) 
	--																				  END 

 --    --        select DISTINCT pt.ProducerCode,case when PolicyExpirationDate is null then DATEDIFF(dd,GETDATE(),DATEADD(year, 1, p.PolicyEffectiveDate)) else DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) end As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
 --    --         convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted,ss.StateDesc,f.IsRenewed, p.PolicyNumber into #temp_renewal_2 from Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
 --    --         PolicyCoverage pc,State ss, Quote q  where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
 --    --         and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and ss.statecode=adds.statecode and
 --    --         pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
 --    --         pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
	--		  -- and adds.stateCode in('IL','GA') and p.PolicyEffectiveDate>='2023-05-01' and f.isConvertedFromBrokerageEmail='Y' and isConvertedFromBrokerage='Y' and (ProducerCode is null or ProducerCode='')
 --    --         and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey = 1 and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 2000000) and
         
 --    --         p.PolicyEffectiveDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,GETDATE()),110)
 --    --                                                                             WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,GETDATE()),110) 
 --    --                                                                             WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,GETDATE()),110)
 --    --                                                                             WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,GETDATE()),110)
 --    --                                                                             WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,GETDATE()),110)
 --    --                                                                             WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,GETDATE()),110)
 --    --                                                                             WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,GETDATE()),110)
 --    --                                                                             WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,GETDATE()),110)
 --    --                                                                             WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,GETDATE()),110)
 --    --                                                                             END AND

 --    --         p.PolicyEffectiveDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),GETDATE(),110) 
 --    --                                                                             WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,GETDATE()),110) 
 --    --                                                                             WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,GETDATE()),110)
 --    --                                                                             WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,GETDATE()),110)
 --    --                                                                             WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,GETDATE()),110) 
 --    --                                                                             WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,GETDATE()),110) 
 --    --                                                                             WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,GETDATE()),110) 
 --    --                                                                             WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,GETDATE()),110) 
 --    --                                                                             WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,GETDATE()),110)  
 --    --                                                                             END 
	--				--and p.PolicyEffectiveDate<'2024-05-01'

 --    --         declare @PolicyKey int
 --    --         declare @IsCompletedApplication char(1) = 'N'

 --    --         declare c1 cursor for
 --    --                   select PolicyKey from #temp_renewal_2
 --    --                   OPEN c1
 --    --                               FETCH NEXT FROM c1 into @PolicyKey 
 --    --                               WHILE @@FETCH_STATUS = 0
 --    --                                           BEGIN
 --    --                                           set @IsCompletedApplication = 'N'
 --    --                                           exec CheckIfApplicationIsCompletedNew_p @PolicyKey,@IsCompletedApplication output
 --    --                                           print '@IsCompletedApplication  ' + @IsCompletedApplication

 --    --                                           if(@IsCompletedApplication = 'Y')
 --    --                                                     delete from #temp_renewal_2 where PolicyKey = @PolicyKey

 --    --                               FETCH NEXT FROM c1 into @PolicyKey

 --    --                               END
 --    --                   close c1
 --    --                   deallocate c1

	--			  insert into RenewalTable(Days,PolicyKey,AccountName,AccountEmail,PolicyExpirationDate,StateCode,ProducerCode,StateDesc,PolicyNumber,LOBKey) 
	--			  select tr.Days,tr.BrokeragePolicyKey,tr.AccountName,tr.Email,tr.PolicyExpirationDate,tr.State ,tr.ProducerCode,tr.StateDesc,tr.BrokeredPolicyNumber,tr.LOBKey from #temp_renewal tr 

	--			  --  insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,secondaryEmail,ProducerCode,StateDesc,isrenewed,PolicyNumber) 
	--			  --select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.isAppCompleted,tr.secondaryEmail,tr.ProducerCode,tr.StateDesc,tr.IsRenewed,tr.PolicyNumber from #temp_renewal_2 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null or tr.ProducerCode='' 


	--				drop table #temp_renewal
	--				--drop table #temp_renewal_2

	--			  SET @loopCount=@loopCount+1
     
       
	--		end
	--end
	--else
	--begin
	--		select DISTINCT br.ProducerCode,DATEDIFF(dd,GETDATE(),br.BrokerPolicyExpirationDate) As Days, br.BrokeragePolicyKey, br.AccountName, br.Email, state,
	--		convert(varchar(50),BrokerPolicyExpirationDate,101) as PolicyExpirationDate,ss.StateDesc,br.BrokeredPolicyNumber,br.LOBKey into #temp_renewal_1
	--		from BrokerageLW br
	--		inner join State ss on br.State=ss.StateCode
	--		where br.State in('IL','GA') and CarrierKey=14 and statuskey=6 and LOBKey in(2) and isRenewedAsPLAPolicy is null 
	--		 and br.BrokerPolicyExpirationDate>='2023-05-01' and  br.BrokerPolicyExpirationDate<'2025-05-01'
	--		and (br.isRenewed is null or br.isRenewed='N') and (ProducerCode is null or ProducerCode='')
	--		and br.BrokerPolicyEffectiveDate<'2024-05-01'
	--		 and (CAST(BrokerPolicyExpirationDate as date))in(CAST(GETDATE()as date),CAST(GETDATE()+5 as date),CAST(GETDATE()+10 as date),CAST(GETDATE()+15 as date), CAST(GETDATE()+21  as date),
	--		CAST(GETDATE()+30  as date),CAST(GETDATE()+45 as date),CAST(GETDATE()+60 as date),CAST(GETDATE()+90 as date))


	--		  --select DISTINCT pt.ProducerCode,case when PolicyExpirationDate is null then DATEDIFF(dd,GETDATE(),DATEADD(year, 1, p.PolicyEffectiveDate)) else DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) end As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
 --    --         convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted,ss.StateDesc,f.IsRenewed, p.PolicyNumber into #temp_renewal_3 from Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
 --    --         PolicyCoverage pc,State ss, Quote q  where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
 --    --         and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and ss.statecode=adds.statecode and
 --    --         pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
 --    --         pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
	--		  --and f.isConvertedFromBrokerageEmail='Y' and isConvertedFromBrokerage='Y' and (ProducerCode is null or ProducerCode='')
 --    --         and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey = 1 and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 2000000) and
 --    --         (CAST(p.PolicyEffectiveDate as date)) in(CAST(GETDATE() as date),CAST(GETDATE()+5 as date),CAST(GETDATE()+10 as date),CAST(GETDATE()+15 as date), CAST(GETDATE()+21  as date),
 --    --         CAST(GETDATE()+30  as date),CAST(GETDATE()+45 as date),CAST(GETDATE()+60 as date),CAST(GETDATE()+90  as date)) and  adds.stateCode in('IL','GA') and p.PolicyEffectiveDate>='2023-05-01'
	--		  --and p.PolicyEffectiveDate<'2024-05-01'

 --    --         declare @PolicyKey1 int
 --    --         declare @IsCompletedApplication1 char(1) = 'N'

 --    --         declare c1 cursor for
 --    --                   select PolicyKey from #temp_renewal_3
 --    --                   OPEN c1
 --    --                               FETCH NEXT FROM c1 into @PolicyKey1 
 --    --                               WHILE @@FETCH_STATUS = 0
 --    --                                           BEGIN
 --    --                                           set @IsCompletedApplication1 = 'N'
 --    --                                           exec CheckIfApplicationIsCompletedNew_p @PolicyKey1,@IsCompletedApplication1 output
 --    --                                           print '@IsCompletedApplication1  ' + @IsCompletedApplication1

 --    --                                           if(@IsCompletedApplication1 = 'Y')
 --    --                                                     delete from #temp_renewal_3 where PolicyKey = @PolicyKey1

 --    --                               FETCH NEXT FROM c1 into @PolicyKey1

 --    --                               END
 --    --         close c1
 --    --         deallocate c1


	--		insert into RenewalTable(Days,PolicyKey,AccountName,AccountEmail,PolicyExpirationDate,StateCode,ProducerCode,StateDesc,PolicyNumber,LOBKey) 
	--		select tr.Days,tr.BrokeragePolicyKey,tr.AccountName,tr.Email,tr.PolicyExpirationDate,tr.State ,tr.ProducerCode,tr.StateDesc,tr.BrokeredPolicyNumber,tr.LOBKey from #temp_renewal_1 tr 

	--		  --insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,secondaryEmail,ProducerCode,StateDesc,isrenewed,PolicyNumber) 
 --    --   select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.isAppCompleted,tr.secondaryEmail,tr.ProducerCode,tr.StateDesc,tr.isrenewed,tr.PolicyNumber from #temp_renewal_3 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null or tr.ProducerCode='' 


	--		drop table #temp_renewal_1
	--		--drop table #temp_renewal_3
	--END

	--DECLARE @AccountID INT, @BrokeragePolicyExpirationDate DATETIME,@PLAPolicyKey INT,@PLAPolicyEffectivedate DATETIME,@Count int=0,@BrokeragePolicyKey INT
	--Declare c1 cursor for
	--select PolicyExpirationDate,PolicyKey from RenewalTable
	 
	--OPEN c1
	--FETCH NEXT FROM c1 into @BrokeragePolicyExpirationDate,@BrokeragePolicyKey
	--WHILE @@FETCH_STATUS = 0
	--	begin
	--			set @AccountID=(select AccountID from BrokerageLW where BrokeragePolicyKey=@BrokeragePolicyKey)
	--			if exists(select PolicyKey from Policy where AccountID=@AccountID)
	--			begin
				
	--				set @PLAPolicyKey=(select max(PolicyKey) from Policy where AccountID=@AccountID)
	--				set @PLAPolicyEffectivedate=(select PolicyEffectivedate from Policy where Policykey=@PLAPolicyKey)

			
	--				if(@PLAPolicyEffectivedate>=@BrokeragePolicyExpirationDate)
	--				begin
	--					--update brokerageLW set isRenewedAsPLAPolicy='Y',LastUpdateTimeStamp=getdate(),LastUpdateUserID=1166 where BrokeragePolicyKey=@BrokeragePolicyKey
	--					update RenewalTable set isrenewed='Y',LastUpdateTimeStamp=getdate(),LastUpdateUserID=1166 where PolicyKey=@BrokeragePolicyKey
	--				end
	--			end

	--	FETCH NEXT FROM c1 into @BrokeragePolicyExpirationDate,@BrokeragePolicyKey					
	--	end
	--	CLOSE c1
	--	DEALLOCATE c1

	--declare @EmailBody varchar(max)=''
 --   declare @EmailSubject varchar(1000)=''

	--SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
	--	FROM EMAIL_NOTIFICATIONS_NEW en
	--	INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
	--where event_name2 = 'RS_ISMIE_BRK'
	--and Period= case when @days <=30 THEN 30 else 31 end
	--and isCyber='Y'
	
	--update RenewalTable set EmailBody=@EmailBody, EmailSubject=@EmailSubject where PolicyKey in (select PolicyKey from RenewalTable)
	--delete from renewaltable where isrenewed='Y'
	--select distinct * from  RenewalTable order by days

END



GO
