USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdatePredecessorFirmSupplement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdatePredecessorFirmSupplement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdatePredecessorFirmSupplement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdatePredecessorFirmSupplement_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertUpdatePredecessorFirmSupplement_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50),
	@VersionKey INT
)
AS
BEGIN

	IF NOT EXISTS (select ProdecessorFirmKey from ProdecessorFirmLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO ProdecessorFirmLW(FirmName, DateOfAcquisation,TypeOfEntity,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
						IsERPPurchased,ERPExpDate,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('FirmName[1]', 'VARCHAR(100)') FirmName,
				case when doc.col.value('DateOfAcquisation[1]', 'DATETIME') ='' then null else  doc.col.value('DateOfAcquisation[1]', 'DATETIME') end as  DateOfAcquisation,
				doc.col.value('TypeOfEntity[1]', 'VARCHAR(100)') TypeOfEntity,
				doc.col.value('NumberOfAttorneyAtDiss[1]', 'int') NumberOfAttorneyAtDiss,
				doc.col.value('NumberOfAttorneyAtApplFirm[1]', 'INT') NumberOfAttorneyAtApplFirm,
				doc.col.value('InsurerAtDissolution[1]', 'VARCHAR(100)') InsurerAtDissolution,
				doc.col.value('IsERPPurchased[1]', 'CHAR') IsERPPurchased,
				case when doc.col.value('ERPExpDate[1]', 'DATETIME') ='' then null else  doc.col.value('ERPExpDate[1]', 'DATETIME') end as  ERPExpDate,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey,
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('LastUpdateUserID[1]', 'INT') LastUpdateUserID,
				doc.col.value('LastUpdateTimeStamp[1]', 'varchar(100)') LastUpdateTimeStamp,
				@VersionKey,
				@LastUpdateUserID,
				@LastUpdateTimeStamp
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('ProdecessorFirmKey[1]', 'int') ProdecessorFirmKey,
				doc.col.value('FirmName[1]', 'VARCHAR(100)') FirmName,
				case when doc.col.value('DateOfAcquisation[1]', 'DATETIME') ='' then null else  doc.col.value('DateOfAcquisation[1]', 'DATETIME') end as  DateOfAcquisation,
				doc.col.value('TypeOfEntity[1]', 'VARCHAR(100)') TypeOfEntity,
				doc.col.value('NumberOfAttorneyAtDiss[1]', 'int') NumberOfAttorneyAtDiss,
				doc.col.value('NumberOfAttorneyAtApplFirm[1]', 'INT') NumberOfAttorneyAtApplFirm,
				doc.col.value('InsurerAtDissolution[1]', 'VARCHAR(100)') InsurerAtDissolution,
				doc.col.value('IsERPPurchased[1]', 'CHAR') IsERPPurchased,
				case when doc.col.value('ERPExpDate[1]', 'DATETIME') ='' then null else  doc.col.value('ERPExpDate[1]', 'DATETIME') end as  ERPExpDate,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey,
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('LastUpdateUserID[1]', 'INT') LastUpdateUserID,
				doc.col.value('LastUpdateTimeStamp[1]', 'varchar(100)') LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE pfl
			SET
			 pfl.FirmName =tx.FirmName,
			 pfl.DateOfAcquisation =tx.DateOfAcquisation,
			 pfl.TypeOfEntity =tx.TypeOfEntity,
			 pfl.NumberOfAttorneyAtDiss=tx.NumberOfAttorneyAtDiss,
			 pfl.NumberOfAttorneyAtApplFirm=tx.NumberOfAttorneyAtApplFirm,
			 pfl.InsurerAtDissolution=tx.InsurerAtDissolution,
			 pfl.IsERPPurchased=tx.IsERPPurchased,
			 pfl.ERPExpDate=tx.ERPExpDate,
			 pfl.LastUpdateUserID=tx.LastUpdateUserID,
			 pfl.LastUpdateTimeStamp=tx.LastUpdateTimeStamp
			FROM ProdecessorFirmLW pfl
			inner join #temp_xml tx 
			on (pfl.ProdecessorFirmKey=tx.ProdecessorFirmKey and pfl.PolicyKey=tx.PolicyKey and pfl.VersionSequence=tx.VersionSequence)
		END

	
	--DELETE FROM ProdecessorFirmLW WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

	--		INSERT INTO ProdecessorFirmLW(FirmName, DateOfAcquisation,TypeOfEntity,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
	--					IsERPPurchased,ERPExpDate,LastUpdateUserID,PolicyKey,VersionSequence,LastUpdateTimeStamp)
	--		SELECT
	--			 doc.col.value('FirmName[1]', 'VARCHAR(100)') FirmName,
	--			doc.col.value('DateOfAcquisation[1]', 'DATETIME') DateOfAcquisation, 
	--			doc.col.value('TypeOfEntity[1]', 'VARCHAR(100)') TypeOfEntity, 
	--			doc.col.value('NumberOfAttorneyAtDiss[1]', 'int') NumberOfAttorneyAtDiss, 
	--			doc.col.value('NumberOfAttorneyAtApplFirm[1]', 'INT') NumberOfAttorneyAtApplFirm, 
	--			doc.col.value('InsurerAtDissolution[1]', 'VARCHAR(100)') InsurerAtDissolution, 
	--			doc.col.value('IsERPPurchased[1]', 'CHAR') IsERPPurchased, 
	--			doc.col.value('ERPExpDate[1]', 'DATETIME') ERPExpDate, 
	--			doc.col.value('LastUpdateUserID[1]', 'INT') LastUpdateUserID, 
	--			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
	--			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
	--			@LastUpdateTimeStamp
	--		FROM @xml.nodes('/Root/Root1') doc(col)
			
			--UPDATE ProdecessorFirmLW SET --LastUpdateTimeStamp=GETDATE() 
			--DateOfAcquisation =case when isnull(DateOfAcquisation,'1900-01-01 00:00:00.000') = '1900-01-01 00:00:00.000' then null else DateOfAcquisation end
			--,ERPExpDate =case when isnull(ERPExpDate,'1900-01-01 00:00:00.000') = '1900-01-01 00:00:00.000' then null else ERPExpDate end
			--,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
			--WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
		
END




GO
