USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccount_Proc_LostWorkqList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccount_Proc_LostWorkqList]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccount_Proc_LostWorkqList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccount_Proc_LostWorkqList] AS' 
END
GO

--exec SearchAccount_Proc_LostWorkqList null, 'N', 2, 'Y', null, 3, '2019-01-14', 'bookedCleaner'


ALTER PROCEDURE [dbo].[SearchAccount_Proc_LostWorkqList] 
	@PolicyEffectiveDate varchar(50) , 
	@IsQuickQuote varchar(1) , 
	@StatusKey varchar(2) , 
	@IsFullQuote varchar(1),
	@PolicyEffectiveDate2 varchar(50),
	@LastUpdateUserID int=null,
    @NewAppImplementationDate DateTime,
	@searchListAction varchar(100)
   
 AS BEGIN

declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)


declare @TransactionSequence int
declare @VersionSequence int


if(@PolicyEffectiveDate='' OR @PolicyEffectiveDate is null)
	BEGIN
	 --select @PolicyEffectiveDate=DATEADD(DAY,1,EOMONTH(GETDATE(),-2)), @PolicyEffectiveDate2=EOMONTH(GETDATE(),2)
	 select @PolicyEffectiveDate= FORMAT(getdate()-120,'MM-dd-yyyy'), @PolicyEffectiveDate2=FORMAT(getdate()+120,'MM-dd-yyyy')
	END

	

CREATE TABLE #TempPolicyList (
    [PolicyKey] [int] ,
	[PolicyEffectiveDate] [datetime] ,	
	[PolicyNumber] [varchar](20) ,	
	[isUncompletedData] [char](1) ,
	[QuoteNumber] [varchar](20) ,
	[IsFullQuote] [char](1) ,
	[IsQuickQuote] [char](1) ,

	[IsBasicPage] [char](1),
	[IsGeneralPage] [char](1) ,
	[IsSupplementPage] [char](1) ,	
	[IsAttesationPage] [char](1) ,
	[IsComputerServicePage] [char](1) ,
	[IsBusinessFundPage] [char](1) ,
	[IsPracriceMangPage] [char](1) ,	
	[FirstReviewUserID] [varchar](100) ,
	
	[AccountKey] [int] ,
	[AddressKey] [int] ,
	[AccountID] [int] ,
	[AccountName] [varchar](100) ,

	[Address1] [varchar](100) ,
	[StateCode] [varchar](20),
	[StateDesc] [varchar](50),
	[TransactionSequence] [int] ,
	[VersionSequence] [int] ,
	[CoverageSequence] [int] ,

	[PolicyExpirationDate] [datetime] ,

	[Premium] [varchar](25) ,
	[StatusDesc] [varchar](100),
	[StatusKey] [int] ,
	[PolicyStatusKey] [int] ,
	[TransactionTypeKey] [int] ,
	[UserNo] [int] ,
	[AgentName] [varchar](50),
	[FullQuick] [varchar](50),
	[AppDays] int,
	[QuoteSelectedNo] int,
	[ManualQuoteSelectedNo] int,
	[ManualQuoteFinalisedNo] int,
	[IsQuickQuotePage] [char](1),
	[AppCreatedDate] [datetime],
	[RatingTraceSequence] int,
	[IsDollarDefense] [char] (1),
	[MarketableProductKey] int,
	[CoverageKey] int,
	[IsViewed] char(1),
	[CountyDesc] [varchar](50),
	[IsInsuredViewed] char(1),
	[IsRenewed] char(1),
	[CreatedType] varchar(50),
	[IsRenewalReview] char(1),
	[RenewBasicInfoPage] char(1),
	[IsApplicationCompleted] char(1),
	[UWFlagCount] [int],
	[approveSubjective] [int],
	[isPricingApproved] char(1),
	[IsIndicationMailSent] char(1),
	[lostworkqComment] [varchar](100),
	AccountPolicyCount INT,
	CompanyKey INT,
	VersionKey INT,
) 





set @sqlstm = '
select pt.InvoicedPremium as Premium,p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
 pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsSupplementPage,f.IsAttesationPage,
  f.IsComputerServicePage,f.IsBusinessFundPage,f.IsPracriceMangPage,f.IsQuickQuotePage,f.FirstReviewUserID , f.VersionSequence,
   pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, f.IsViewed, adds.CountyDesc, f.IsInsuredViewed,
   f.IsRenewed,f.CreatedType,f.IsRenewalReview,f.RenewBasicInfoPage, (select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'')) as [approveSubjective],f.isPricingApproved,f.IsIndicationMailSent,f.lostworkqComment,
(select count(PolicyKey) from Policy Where AccountID=p.AccountID) as AccountPolicyCount,p.CompanyKey,p.VersionKey
   from Policy p
INNER JOIN PolicyTransaction pt ON  p.PolicyKey = pt.PolicyKey AND p.PolicyStatusKey=pt.TransactionTypeKey 
INNER JOIN Account a ON   a.AccountKey =pt.AccountKey
INNER JOIN Firm f ON f.PolicyKey = pt.PolicyKey
INNER JOIN Status s ON s.StatusKey =pt.StatusKey
INNER JOIN AccountAddress aa ON aa.AccountKey = a.AccountKey
INNER JOIN Address adds ON aa.AddressKey=adds.AddressKey
INNER JOIN PolicyCoverage pc ON f.PolicyKey = pc.PolicyKey AND  p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence
WHERE p.MarketableProductKey=1 
--AND pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey)
AND f.VersionSequence=(select max(versionsequence) from firm where policykey=p.PolicyKey)
AND pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='+'''N'''+')'



if(@StatusKey <> 6 and @StatusKey <>8)
begin
    set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey =8)
begin
    set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'
end

if(@StatusKey <> 15)
begin
	if(@IsFullQuote <> '')
	begin
		set  @sqlstm = @sqlstm + ' and p.IsFullQuote='''+@IsFullQuote+''''
	end
      
	if(@IsQuickQuote <> '')
	begin
		set  @sqlstm = @sqlstm + ' and p.IsQuickQuote='''+@IsQuickQuote+''''
	end
end

--------------------------------------lostworkqComment start
if(@StatusKey = 1)
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment=''No Response'' or f.lostworkqComment=''not converted'' or f.lostworkqComment=''never sent'')'
end

if(@StatusKey = 11 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment=''No Response'' or f.lostworkqComment=''not converted'')'
end


if(@StatusKey = 2 OR @StatusKey = 9 OR @StatusKey = 10 )
begin
	set  @sqlstm = @sqlstm + ' and f.isappcompleted=''Y'' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment=''never quoted'')'
end

if(@StatusKey = 3 )
begin
	set  @sqlstm = @sqlstm + ' and f.isappcompleted=''Y'' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment=''Not Accepted'')'
end

if(@StatusKey = 15 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey in (1,11) and (f.lostworkqComment=''No Response'')'
end

if(@StatusKey = 16 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey in (1,11) and (f.lostworkqComment=''not converted'')'
end

if(@StatusKey = 17 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey in (1) and (f.lostworkqComment=''never sent'')'
end

if(@StatusKey = 18 )
begin
	set  @sqlstm = @sqlstm + ' and f.isappcompleted=''Y'' and pt.StatusKey in (2,9,10) and (f.lostworkqComment=''never quoted'')'
end

if(@StatusKey = 19 )
begin
	set  @sqlstm = @sqlstm + ' and f.isappcompleted=''Y'' and pt.StatusKey in (3) and (f.lostworkqComment=''Not Accepted'')'
end
--------------------------------------lostworkqComment end

if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
 end
 
if(@StatusKey = 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc'
end
if(@StatusKey != 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc'
end


print @sqlstm

Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,
PolicyEffectiveDate, AccountName,   TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, 
StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage,IsSupplementPage,
IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,IsPracriceMangPage, IsQuickQuotePage, FirstReviewUserID, VersionSequence, 
CoverageSequence, AppCreatedDate, MarketableProductKey, CoverageKey, IsViewed, CountyDesc, IsInsuredViewed, IsRenewed, CreatedType,
IsRenewalReview,RenewBasicInfoPage,UWFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,lostworkqComment,AccountPolicyCount,CompanyKey,VersionKey) EXECUTE ( @sqlstm)  


DECLARE c1 CURSOR 	FOR
			SELECT  QuoteNumber,FirstReviewUserID,PolicyKey FROM #TempPolicyList  
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey
	WHILE @@FETCH_STATUS = 0
		BEGIN
			set @AgentName = ''
			set @IsApplicationCompleted = ''
			if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
				begin
					select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID					
				end

			set @InvoicedPremium = ''
			select @InvoicedPremium = dbo.getAmountFormat(pt.InvoicedPremium) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @QuoteSelectedNo = count(*) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt, Quote q, RatingTrace rt where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc, Quote q, RatingTrace rt where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			exec CheckIfApplicationIsCompletedAccount @PolicyKey, @IsApplicationCompleted output

			update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName, Premium = @InvoicedPremium, QuoteSelectedNo = @QuoteSelectedNo, ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo, RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense, IsApplicationCompleted=@IsApplicationCompleted where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
			
			FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey
		END

CLOSE c1
DEALLOCATE c1

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>@NewAppImplementationDate

update #TempPolicyList
set IsApplicationCompleted=(SELECT dbo.ValidateFullApplicationACC(nat.PolicyKey))
from #TempPolicyList tpl 
inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey

drop table #NEWAPPTABLE
--print @sqlstm
select * from #TempPolicyList
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END




GO
