USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetGenerateApplicationPDFXML]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetGenerateApplicationPDFXML]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetGenerateApplicationPDFXML]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetGenerateApplicationPDFXML] AS' 
END
GO
--exec [SP_GetGenerateApplicationPDFXML] 129203,5,2,1,'LAW','HNV'
ALTER PROCEDURE [dbo].[SP_GetGenerateApplicationPDFXML]
(	
	 @policyKey int = null,
	 @versionKey int = null,
	 @formId int = null,
	 @formVersionKey int = null,
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null


)
AS
BEGIN

DECLARE @policydata NVARCHAR(MAX)
SET @policydata =
	isNULL((SELECT 
	--select * from policy where policykey=3
	policyTransaction.StatusKey,policy.PolicyStatusKey,cast(policy.PolicyEffectiveDate as date) as PolicyEffectiveDate, cast(policyTransaction.PolicyExpirationDate as date) as PolicyExpirationDate,
	policy.PolicyNumber,policy.RenewOfPolicyNumber,policy.QuoteNumber,policy.FormId,policy.FormVersionKey,firmInformation.FirmInformationKey,
	firmInformation.FirmName,firmInformation.FirmType,firmInformation.FirmOtherType,firmInformation.StreetAddress,
	firmInformation.AddressLine2,firmInformation.State,firmInformation.City,firmInformation.County,firmInformation.ZipCode,firmInformation.Email,firmInformation.SecondaryEmail,
	firmInformation.Website,firmInformation.PhoneNumber,firmInformation.OtherPhone,firmInformation.SubProducer,cast(firmInformation.StartDate as date) as StartDate,
	firmInformation.IsYourPhysicalAddressSame,firmInformation.PhysicalStreetAddress,firmInformation.PhysicalAddressLine2,firmInformation.PhysicalState,firmInformation.PhysicalCity,
	firmInformation.PhysicalCounty,firmInformation.PhysicalZipCode,firmInformation.Doyoucurrentlycarryprofessionalliability,
	insuranceInformation.InsuranceInformationKey,insuranceInformation.InsuranceCompany,cast(insuranceInformation.PriorPolicyExpirationDate as date) as PriorPolicyExpirationDate,
	insuranceInformation.CurrentPremium,insuranceInformation.CurrentLimit,insuranceInformation.PriorInsDefenseExpensesInaddition,
	insuranceInformation.CurrentDeductible,insuranceInformation.PriorInsClaimOptionType,
	insuranceInformation.PriorFirstDollarDefense,cast(insuranceInformation.IsPriorActDateFull as date) as IsPriorActDateFull,cast(insuranceInformation.PriorActDate as date) as PriorActDate,
	insuranceInformation.FirmYear,insuranceInformation.LimitSequence,insuranceInformation.DeductibleSequence,insuranceInformation.IsDefenseExpensesInAddition,
	insuranceInformation.IsAnnualAggregate,insuranceInformation.FirstDollarDefense,insuranceInformation.TitleInsuranceAgency,
	insuranceInformation.YearFirmEstablished,
	bankruptcy.bankruptcyDetailsID,bankruptcy.CountOfLawyersForBankruptcy,bankruptcy.AverageYearsOfBankruptcyExperience,bankruptcy.DebtorRepresentation,bankruptcy.CreditorRepresentation,
	bankruptcy.AsTrustee,bankruptcy.BankruptcyOther,bankruptcy.BankruptcyOtherDesc,bankruptcy.HasProceduresToCertifyAccuracy,bankruptcy.ProceduresToCertifyAccuracyDesc,
	bankruptcy.HasRepresentedDebtors,bankruptcy.HasRepresentedTotalDebtors,bankruptcy.HasRepresentedDebtorsDesc,
	claimsupplement.profLiabClaimAgnstFirmKey,claimsupplement.ClaimLawyerAndFirm,claimsupplement.ClaimAdditionalDefendants,
	claimsupplement.ClaimClaimants,cast(claimsupplement.ClaimAllegedErrorDate as date) as ClaimAllegedErrorDate,claimsupplement.ClaimCarrier,
	cast(claimsupplement.ClaimReportedToCarrierDate as date) as ClaimReportedToCarrierDate,claimsupplement.ClaimStatus,
	claimsupplement.ClaimPaidLosses,claimsupplement.ClaimLossReserves,
	claimsupplement.ClaimPaidExpenses,claimsupplement.ClaimExpenseReserves,cast(claimsupplement.ClaimClosedDate as date) as  ClaimClosedDate,claimsupplement.ClaimClosedExpensesPaid,
	claimsupplement.ClaimClosedLossPaid,claimsupplement.ClaimAllegedActDescription,claimsupplement.ClaimPreventiveRecurrenceProcedures,collections.CollectionsID,
	collections.LawyersPerformCollectionWorkCount,collections.YearsOfExperience,collections.ConsumerCollections,collections.CommercialCollections,collections.MortgageForeclosures,
	collections.CasesHandledPast12Months,collections.DollarValueForCasesHandled,
	collections.MaximumValueForsingleCaseHandled,collections.ServicesFordebtPurchasers,collections.ServicesFordebtPurchasersDesc,collections.AcceptCollectionCases,
	collections.AcceptCollectionCasesDesc,collections.DoesVerifyComplianceFDCPA,collections.HasAllegedDebtVerified,
	collections.HasAllegedDebtVerifiedDesc,collections.HaveLettersAndCorrespondenceReviewed,collections.HaveLettersAndCorrespondenceReviewedDesc,
	collections.DoesUseFormalScript,collections.DoesUseFormalScriptDesc,collections.DoesPermitOutsideCollection,
	collections.DoesPermitOutsideCollectionDesc,collections.HasOwnershipInterest,collections.HasOwnershipInterestDesc,collections.HasAttorneysExecuted,collections.HasAttorneysExecutedDesc,
	commerciallaw.CommercialLawKey,commerciallaw.LawyersPerformBusinessTransaction,
	commerciallaw.AverageYears,commerciallaw.PartiesDesc,commerciallaw.HasRegulatoryMatters,commerciallaw.CommercialLawPercentage,commerciallaw.LargestTransaction,
	family.FamilyLawKey,family.FamilyLawNumbLawyersInFirm,family.FamilyLawAvgYrExp,family.FamilyLawSurrogacyService,
	family.FamilyLawSurrogacyServiceDesc,family.FamilyLawThreeLargestMaritalAssets,
	firmoperationsmanagement.FirmOperationsManagementKey,insuranceInformation.YearFirmEstablished as YearOfFirmEstablished,firmoperationsmanagement.TotalNumOfNonAttorneyStaff,
	firmoperationsmanagement.SoloAttorney,firmoperationsmanagement.SoloAttorneyName,
	firmoperationsmanagement.SoloAttorneyAddress,firmoperationsmanagement.SoloAttorneyState,firmoperationsmanagement.SoloAttorneyCity,
	firmoperationsmanagement.SoloAttorneyZipCode,firmoperationsmanagement.SoloAttorneyPhoneNumber,firmoperationsmanagement.MostRecentFiscalYear,firmoperationsmanagement.PreviousFiscalYear,
	firmoperationsmanagement.ConflictOfInterestSystem,firmoperationsmanagement.Computerized,
	firmoperationsmanagement.ConflictOfInterestPerformed,firmoperationsmanagement.FirmMaintainDCS,firmoperationsmanagement.FirmsDocketDesc,firmoperationsmanagement.ComputerizedCalendarDCS,
	firmoperationsmanagement.RedundanciesInInputDCS,firmoperationsmanagement.UpdatedDailyDCS,firmoperationsmanagement.UpdatedDailyDCSOther,firmoperationsmanagement.TrackLitigatedItemsDCS,
	firmoperationsmanagement.ClientEngagementLetter,firmoperationsmanagement.IncludeScopeOfService,firmoperationsmanagement.FirmsBillingPolicyProcedures,firmoperationsmanagement.NonEngageLetter,
	firmoperationsmanagement.DisEngageLetter,firmoperationsmanagement.ClientEngagementLetterDesc,firmoperationsmanagement.FirmWrittenClientIntake,
	firmoperationsmanagement.DisclosureOfConfidentialInformation,firmoperationsmanagement.ConflictsApproval,firmoperationsmanagement.DifficultyComplexProposedRep,
	firmoperationsmanagement.ExamineMatchBetweenPropRep,firmoperationsmanagement.LikelihoodOfSuccess,
	firmoperationsmanagement2.FirmOperationsManagement2Key,
	firmoperationsmanagement2.InterestMoreThan15Percent,firmoperationsmanagement2.ServeAsDirOffTrustee,firmoperationsmanagement2.FirmShareLetterHead,
	firmoperationsmanagement2.FirmShareLetterHeadAttachmentName,firmoperationsmanagement2.CollectionOfDelinquentFees,firmoperationsmanagement2.CoverageRequestedForPredecessorFirm,
	firmoperationsmanagement2.ClassActionMassTort,
	firmoperationsmanagement2.EntertainmentClientele,firmoperationsmanagement2.MarijuanaMedicalRecreational,firmoperationsmanagement2.Patent,firmoperationsmanagement2.SecuritiesPublicPrivate,
	firmoperationsmanagement2.WaterRights,firmoperationsmanagement2.LegalServicesDetails,firmoperationsmanagement2.ProfessionalServicesAsAccIns,firmoperationsmanagement2.
	ProfessionalServicesAsAccInsDetails,
	firmoperationsmanagement2.IsFirmBillingMoreThan25Percent,
	insuranceDefense.InsuranceDefenseKey,insuranceDefense.InsDefNumberOfLawyers,insuranceDefense.InsDefAvgExpYears,insuranceDefense.InsDefStatusReport,insuranceDefense.InsDefWrittenCorresp,
	insuranceDefense.InsDefPolicyLimitDemands,
	insuranceDefense.InsDefBadFaith,insuranceDefense.InsDefCoverageOpinions,insuranceDefense.InsDefLitigationAgainstCarrier,insuranceDefense.InsDefPersonalInjuryDefense,
	insuranceDefense.InsDefOther,insuranceDefense.InsDefOtherDesc,insuranceDefense.InsDefRecAdverseVerdict,insuranceDefense.InsDefRecAdverseVerdictDesc,
	insurancedefenseinfo.InsuranceDefenseInfoKey,insurancedefenseinfo.InsDefCarrierRep,insurancedefenseinfo.InsDefNumbCurrentFiles,insurancedefenseinfo.InsDefGrossBillAmt,
	insurancedefenseinfo.InsDefVenueStates,insurancedefenseinfo.InsDefNumbYrRepCarrier,
	oilandgas.OilAndGasKey,oilandgas.OilAndGasTitleSearches,
	oilandgas.OilAndGasOwnershipInterest,oilandgas.OilAndGasContractDrafting,oilandgas.OilAndGasContractDraftingDesc,oilandgas.OilAndGasEnvIssues,oilandgas.OilAndGasEnvIssuesDesc,
	oilandgas.OilAndGasLiens,oilandgas.OilAndGasLiensDesc,oilandgas.OilAndGasLoansSecured,
	oilandgas.OilAndGasLoansSecuredDesc,oilandgas.OilAndGasMineralLeases,oilandgas.OilAndGasMineralLeasesDesc,oilandgas.OilAndGasNaturallyOccuringRadioActvMtr,
	oilandgas.OilAndGasNaturallyOccuringRadioActvMtrDesc,
	oilandgas.OilAndGasPurchasesAndSaleAggrement,oilandgas.OilAndGasPurchasesAndSaleAggrementDesc,oilandgas.OilAndGasEnvLeases,
	oilandgas.OilAndGasEnvLeasesDesc,oilandgas.OilAndGasRoyaltyAgreements,oilandgas.OilAndGasRoyaltyAgreementsDesc,
	oilandgas.OilAndGasSeismicAgreements,oilandgas.OilAndGasSeismicAgreementsDesc,oilandgas.OilAndGasTaxation,oilandgas.OilAndGasTaxationDesc,oilandgas.OilAndGasTitleOpinions,
	oilandgas.OilAndGasTitleOpinionsDesc,oilandgas.OilAndGasValuationOfSubsurface,
	oilandgas.OilAndGasValuationOfSubsurfaceDesc,oilandgas.OilAndGasAopConjunction,oilandgas.OilAndGasAopConjunctionDesc,
	personalinjury.PlantiffSuppKey,personalinjury.PlaintiffNoOfLawyersAtFirm,personalinjury.PlaintiffNoOfPlaintiffInjuryCases,
	personalinjury.PlaintiffPercentageOfCases,personalinjury.PlaintiffWrittenReferral,personalinjury.PlaintiffWrittenReferralDesc,personalinjury.PlaintiffAvgDollarValue,
	personalinjury.PlaintiffLargestJudgementAward,
	policycoverage.CoverageSequence,policycoverage.IsClaimOptionType,
	policycoverage.IsClaimExpensesType,policycoverage.IsDollarDefense,policycoverage.AggregateLimit,policycoverage.OccuranceLimit,policycoverage.AggregateDeductible,
	policycoverage.OccuranceDeductible,policycoverage.TotalCovModifierPercentage,policycoverage.Premium,policycoverage.TotalCoverageTaxAmount,policycoverage.InitialCovPremium,
	policycoverage.ManualPremium,policycoverage.IsManualPremium,cast(policytransaction.TransactionEffectiveDate as date) as TransactionEffectiveDate,
	cast(policytransaction.TransactionExpirationDate as date) as TransactionExpirationDate,
	policytransaction.TotalPremium,policytransaction.TotalPolicyModifierPercentage,policytransaction.TotalPolicyTaxAmount,policytransaction.InvoicedPremium,
	realestate.RealEstateKey,realestate.RealEstNumberOfLawyers,realestate.RealEstAvgExperience,realestate.RealEstFormationInvolvement,realestate.RealEstFormationInvolvementDesc,
	realestate.RealEstLimitPart,realestate.RealEstSyndications,realestate.RealEstInvestmentTrusts,
	realestate.RealEstBusinessRel,realestate.RealEstBusinessRelDesc,realestate.RealEstPercentLegalFees,realestate.RealEstPercentLegalFeesDesc,
	titleagency.TitleAgencyKey,titleagency.TitleAgencyLegalName,titleagency.TitleAgencyDBA,
	cast(titleagency.TitleAgencyDate as date) as TitleAgencyDate,
	titleagency.TitleAgencyServicesRendered,titleagency.TitleAgencyFirmPercent,titleagency.TitleAgencyFirmPercentDesc,titleagency.TitleAgencyStates,
	titleagency.TitleAgencyInsurancePolicies,titleagency.TitleAgencyInsurancePoliciesDesc,titleagency.TitleAgencyUnderwriter,
	titleagency.TitleAgencyUnderwriterDesc,titleagency.TitleAgencyContractorsHired,titleagency.TitleAgencyContractorsHiredDesc,titleagency.TitleAgencyPastFiveYears,
	titleagency.TitleAgencyPastFiveYearsDesc,titleagency.TitleAgencyClaimSuit,
	titleagency.TitleAgencyLicenseSuspended,titleagency.TitleAgencyOmissionsInsurance,titleagency.TitleAgencyPriorActsCoverage,
	cast(titleagency.TitleAgencyPriorActsCoverageDate as date) as TitleAgencyPriorActsCoverageDate,
	willsestatetrusts.WillsEstateTrustsKey,willsestatetrusts.WillsETNumbOfLawyers,willsestatetrusts.WillsETAvgYearExp,
	willsestatetrusts.WillsETGiftAllowanceLawyerNumb,willsestatetrusts.WillsETInvestmentAdviceOnSalePurch,willsestatetrusts.WillsETInvestmentAdviceOnSalePurchDesc,
	willsestatetrusts.WillsETAnyPurchaseCompensation,willsestatetrusts.WillsETAnyFinAdvisor,willsestatetrusts.WillsETAnyFinAdvisorDesc,
	willsestatetrusts.WillsETAuthToWriteChecks,willsestatetrusts.WillsETCountersignaturesReq,willsestatetrusts.WillsETDocForConversation,willsestatetrusts.WillsETVideoTheExection,
	willsestatetrusts.WillsETMentalStatusEval,willsestatetrusts.WillsETVetPrepWitness,WillsETLargestAssestVal,
	willsestatetrusts.WillsETAvgAssestVal,willsestatetrusts.WillsETEstatePlanningPer,willsestatetrusts.WillsETWillDraft,willsestatetrusts.WillsETTrustDraft,
	willsestatetrusts.WillsETTaxPlanning,willsestatetrusts.WillsETMedicalDirPwrofAttorney,willsestatetrusts.WillsETEstatePlanningOther,
	willsestatetrusts.WillsETEstatePlanningOtherDesc,willsestatetrusts.WillsETEstateProbatePer,willsestatetrusts.WillsETEstateProbAdmin,willsestatetrusts.WillsETInheritComp,
	willsestatetrusts.WillsETTrustAdmin,willsestatetrusts.WillsETEstateLitPercentage,willsestatetrusts.WillsETContestsLit,willsestatetrusts.WillsETTrusteeLiab,
	willsestatetrusts.WillsETTrustLitigation,willsestatetrusts.WillsETOther,willsestatetrusts.WillsETOtherDesc,
	employment.EmploymentKey,employment.EmployementLawLawyersCount,employment.EmplotyementLawYearsOfExperience,employment.IsWhistleblowerCases,employment.IsFalseClaim,
	employment.IsEmployementOrCollectiveActionCase,employment.IsWageHourClaim,employment.IsCollectiveBargaining,employment.PastClaimOrCasesDesc,employment.HasInvolvedInNewsMediaReports,
	employment.MediaReportsInvolmentDesc,employment.EverReprsenetedPublicFigure,
	employment.EverReprsenetedPublicFigureDesc,
	disciplinary.DisciplinaryKey,disciplinary.ComplaitAttachment,disciplinary.ComplaitAttachmentName,disciplinary.LawyerNameInComplaint,
	cast(disciplinary.DisciplinaryNotificationDate as date) as DisciplinaryNotificationDate,disciplinary.InsuranceGoverningBody,
	disciplinary.HasInsuranceCarrierReported,disciplinary.ReportedInsuranceCarrierName,disciplinary.ReportedDate,disciplinary.MatterNotReportedDesc,disciplinary.HadComplaintMadeAfterFeeSuit,
	disciplinary.AllegationsComplaintDesc,outsideInterestSuppLW.OutsideInterestSuppLWKey,outsideInterestSuppLW.HasIndemnityAgreements,
	predecessorSupp.PredecessorSuppKey,predecessorSupp.DissolvedCircumstancesDesc,financialInstitution.FIAOPID,financialInstitution.LawyersCountPerformFinancialWork,
	financialInstitution.YearsOfExperienceForFinancialInstitution,
	financialInstitution.FinancialInstResidentialTitleWork,financialInstitution.FinancialInstCommercialTitleWork,financialInstitution.FinancialInstFinancialAdvisoryServices,
	financialInstitution.FinancialInstRegulatoryExaminations,
	financialInstitution.FinancialInstBankruptcyOrCollection,financialInstitution.FinancialInstTrusts,financialInstitution.FinancialInstOther,
	financialInstitution.FinancialInstOtherDesc,financialInstitution.HasInvolvedWithLoanTransactions,financialInstitution.HasprovidedTaxBenifitTransactions,feeSuitSupp.FeeSuitSuppKey,
	feeSuitSupp.AvoidCountersuitSteps,feeSuitSupp.PreventFutureFeesuitsStep,feeSuitSupp.HasFirmWaitMalpracticeAction,feeSuitSupp.MalpracticeActionDesc

	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = @marketableProductCode and company.Code = @companyCode
	left join FirmInformation as firmInformation on policy.PolicyKey = firmInformation.PolicyKey and policy.VersionKey = firmInformation.VersionKey 
	left join InsuranceInformation as insuranceInformation on policy.PolicyKey = insuranceInformation.PolicyKey and policy.VersionKey = insuranceInformation.VersionKey 
	--left join AttorneyDetailsLW as attorney on policy.PolicyKey = attorney.PolicyKey and policy.VersionKey = attorney.VersionKey 
	--left join AreaOfPracticeLW as AOP on policy.PolicyKey = AOP.PolicyKey and policy.VersionKey = AOP.VersionKey 
	left join BankruptcyDetailsLW as bankruptcy on policy.PolicyKey = bankruptcy.PolicyKey and policy.VersionKey = bankruptcy.VersionKey 
	left join ProfLiabClaimAgnstFirmLW as claimsupplement on policy.PolicyKey = claimsupplement.PolicyKey and policy.VersionKey = claimsupplement.VersionKey 
	left join CollectionsSuplimentDetailsLW as collections on policy.PolicyKey = collections.PolicyKey and policy.VersionKey = collections.VersionKey 
	left join CommercialLaw as commerciallaw on policy.PolicyKey = commerciallaw.PolicyKey and policy.VersionKey = commerciallaw.VersionKey 
	left join FamilyLaw as family on policy.PolicyKey = family.PolicyKey and policy.VersionKey = family.VersionKey 
	left join FirmOperationsManagement as firmoperationsmanagement on policy.PolicyKey = firmoperationsmanagement.PolicyKey and policy.VersionKey = firmoperationsmanagement.VersionKey 
	left join FirmOperationsManagement2 as firmoperationsmanagement2 on policy.PolicyKey = firmoperationsmanagement2.PolicyKey and policy.VersionKey = firmoperationsmanagement2.VersionKey 
	--left join FirmOperationsNonAttorneyStaff as fonas on policy.PolicyKey = fonas.PolicyKey and policy.VersionKey = fonas.VersionKey 
	left join InsuranceDefense as insuranceDefense on policy.PolicyKey = insuranceDefense.PolicyKey and policy.VersionKey = insuranceDefense.VersionKey 
	left join InsuranceDefenseInfo as insurancedefenseinfo on policy.PolicyKey = insurancedefenseinfo.PolicyKey and policy.VersionKey = insurancedefenseinfo.VersionKey 
	left join OilAndGas as oilandgas on policy.PolicyKey = oilandgas.PolicyKey and policy.VersionKey = oilandgas.VersionKey 
	--left join OilAndGasAttorneys as ogatt on policy.PolicyKey = ogatt.PolicyKey and policy.VersionKey = ogatt.VersionKey 
	left join PlantiffSuppLW as personalinjury on policy.PolicyKey = personalinjury.PolicyKey and policy.VersionKey = personalinjury.VersionKey 
	left join PolicyTransaction as policytransaction on policy.PolicyKey = policytransaction.PolicyKey and policy.VersionKey = policytransaction.VersionKey 
	left join PolicyCoverage as policycoverage on policy.PolicyKey = policycoverage.PolicyKey and policytransaction.TransactionSequence = policycoverage.TransactionSequence
	left join RealEastateDetailsLW as realestate on policy.PolicyKey = realestate.PolicyKey and policy.VersionKey = realestate.VersionKey 
	left join TitleAgency as titleagency on policy.PolicyKey = titleagency.PolicyKey and policy.VersionKey = titleagency.VersionKey 
	--left join TitleAgencyInfo as tai on policy.PolicyKey = tai.PolicyKey and policy.VersionKey = tai.VersionKey 
	left join WillsTrustsEstateSuppLW as willsestatetrusts on policy.PolicyKey = willsestatetrusts.PolicyKey and policy.VersionKey = willsestatetrusts.VersionKey
	 left join Employment as employment on policy.PolicyKey = employment.PolicyKey and policy.VersionKey = employment.VersionKey
	 left join Disciplinary as disciplinary on policy.PolicyKey = disciplinary.PolicyKey and policy.VersionKey = disciplinary.VersionKey
	 left join OutsideInterestSuppLW as outsideInterestSuppLW on policy.PolicyKey = outsideInterestSuppLW.PolicyKey and policy.VersionKey = outsideInterestSuppLW.VersionKey
	 left join PredecessorSupp as predecessorSupp on policy.PolicyKey = predecessorSupp.PolicyKey and policy.VersionKey = predecessorSupp.VersionKey
	 left join FinancialInstitutionDetailsLW as financialInstitution on policy.PolicyKey = financialInstitution.PolicyKey and policy.VersionKey = financialInstitution.VersionKey
	 left join FeeSuitSupp as feeSuitSupp on policy.PolicyKey = feeSuitSupp.PolicyKey and policy.VersionKey = feeSuitSupp.VersionKey
	 --left join Account as a on policy.PolicyKey = a.PolicyKey and policy.VersionKey = a.VersionKey 
	where firmInformation.PolicyKey =@policyKey FOR XML PATH('')),'')



DECLARE @Attorneydata NVARCHAR(MAX)
set @Attorneydata =
ISNULL((select AttorneyName,AttorneyDesignation,CAST(JoiningDate AS DATE) as JoiningDate,CAST(AttorneyRetroDate AS DATE) as AttorneyRetroDate,AnnualWorkedHours,LicensedStates,RegNumber,DateAdmitted from AttorneyDetailsLW where policykey=@policyKey FOR XML PATH('data'),ROOT('Attorneys')),'')

DECLARE @OilAndGasAttorneysdata NVARCHAR(MAX)
set @OilAndGasAttorneysdata = 
ISNULL((select OilAndGasNumberOfLawyers,OilAndGasYrsInMineralsExp,OilAndGasPercentageOfTimeDevoted from OilAndGasAttorneys where policykey=@policyKey FOR XML PATH('data'),ROOT('OilAndGasAttorneys')),'')




DECLARE @OilAndGasTopFiveClientsdata NVARCHAR(MAX)
set @OilAndGasTopFiveClientsdata = 
ISNULL((select * from OilAndGasTopFiveClients where policykey=@policyKey FOR XML PATH('data'),ROOT('OilAndGasTopFiveClients')),'')

DECLARE @PersonalInjuryInfodata NVARCHAR(MAX)
set @PersonalInjuryInfodata = 
ISNULL((select PlaintiffCategory, cast(PlaintiffPercentageCategory as varchar(20))+'%' as PlaintiffPercentageCategory ,PlaintiffAverageValueCase,PlaintiffHighestValues,PlaintiffYearsExperience,PlaintiffNumberLastYear from PersonalInjuryInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('PersonalInjuryInfo')),'')

DECLARE @LossInformationInfodata NVARCHAR(MAX)
set @LossInformationInfodata = 
ISNULL((select LossInforCCLable,LossInforCCInsurance,LossInforCCPolicyPeriod,LossInforCCLimits,LossInforCCDeductible,LossInforCCPremium,LossInforCCAttorneys,CAST(LossInforCCRetroactiveDate AS DATE) as LossInforCCRetroactiveDate from LossInformationInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('LossInformationInfo')),'')

DECLARE @LargestClientsInfodata NVARCHAR(MAX)
set @LargestClientsInfodata = 
ISNULL((select LargestClientName,LargestClientIndustry,LargestClientAOP,AnnualBillingPercentage,LargestCaseValue from LargestClientsInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('LargestClientsInfo')),'')



DECLARE @DisciplinaryInfodata NVARCHAR(MAX)
set @DisciplinaryInfodata = 
ISNULL((select ComplainantName,IsComplainantClient,IsComplainantThirdParty from DisciplinaryInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('DisciplinaryInfo')),'')

DECLARE @OutsideIntrestSuppInfodata NVARCHAR(MAX)
set @OutsideIntrestSuppInfodata = 
ISNULL((select LawyerName,OrgNameNature,PositionHeldWithAffiliationDate,ProffServicesDesc,PublicOrPrivate,CharitableOrCivicOrg,EquityIntrest,IsFirmClient,ClientAnnualIncome,IsDAndOInsurance from OutsideInterestSuppInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('OutsideInterestSuppInfo')),'')


DECLARE @PredecessorSuppInfodata NVARCHAR(MAX)
set @PredecessorSuppInfodata = 
ISNULL((select FirmNameForPreDecessorInfo,PredecessorLawyersName,CAST(EstablishedDate as Date) as EstablishedDate,Cast(DissoDate as Date) as DissoDate,ErpIssued,DissolutionLawyersCount from PredecessorSuppInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('PredecessorSuppInfo')),'')

DECLARE @RealEstatePracticeAreasdata NVARCHAR(MAX)
set @RealEstatePracticeAreasdata = 
ISNULL((select RealEstPracticeArea,cast(RealEstCurrentYear as varchar(20))+'%' as RealEstCurrentYear,cast(RealEstPreviousYear as varchar(20))+'%' as RealEstPreviousYear  from RealEstatePracticeAreas where policykey=@policyKey FOR XML PATH('data'),ROOT('RealEstatePracticeAreas')),'')


DECLARE @RealEstateBreakdowndata NVARCHAR(MAX)
set @RealEstateBreakdowndata = 
ISNULL((select RealEstBreakdown,cast(RealEstPercentageValue as varchar(20))+'%' as RealEstPercentageValue,RealEstAverageValue,RealEstHighestValue from RealEstateBreakdown where policykey=@policyKey FOR XML PATH('data'),ROOT('RealEstateBreakdown')),'')



DECLARE @TitleAgencyInfodata NVARCHAR(MAX)
set @TitleAgencyInfodata = 
ISNULL((select TitleAgencyEmpName,TitleAgencyEmpStatus,TitleAgencyEmpAttorney,TitleAgencyEmpAgent,TitleAgencyEmpEscrowAgt,TitleAgencyEmpAbstractor,TitleAgencyEmpOpinions from TitleAgencyInfo where policykey=@policyKey FOR XML PATH('data'),ROOT('TitleAgencyInfo')),'')

DECLARE @TitleAgencyGrossRevenuedata NVARCHAR(MAX)
set @TitleAgencyGrossRevenuedata = 
ISNULL((select TitleAgencyGrossRevenue,TitleAgencyGrossRevenueFiscalYear,TitleAgencyGrossRevenueEstimated from TitleAgencyGrossRevenue where policykey=@policyKey FOR XML PATH('data'),ROOT('TitleAgencyGrossRevenue')),'')

DECLARE @AreaOfPracticedata NVARCHAR(MAX)
set @AreaOfPracticedata = 
ISNULL((select AreaOfPracticeCode,PercentageValue,AOPCommentDesc from AreaOfPracticeLW where policykey=@policyKey FOR XML PATH('data'),ROOT('AreaOfPracticeLW')),'')


--drop table #TempPolicyList
CREATE TABLE #TempPolicyList 
	(
	PolicyKey int default 0,
	VersionKey int default 0,
	[AdmiraltyandMaritime] int default 0,
		[AlternateDisputeResolution] int default 0,
		[Appellate] int default 0,
		[BankingFinancialInstitution] int default 0,
		[BankruptcyDetailsLW] int default 0,
		[CivilCommercialLitigationDefense] int default 0,
		[CivilCommercialLitigationPlaintiff] int default 0,
		[CivilRightsDiscrimination] int default 0,
		[CollectionsSuplimentDetailsLW] int default 0,
		[CommercialLawBusinessTransactionsGT1M] int default 0,
		[CommercialLawBusinessTransactionsLT1M] int default 0,
		[CorporateFormation] int default 0,
		[EmployeeBenefitPlansERISA] int default 0,
		[EntertainmentLaw] int default 0,
		[EnvironmentalRegulatory] int default 0,
		[FamilyLawGT2m] int default 0,
		[FamilyLawLT2m] int default 0,
		[Immigration] int default 0,
		[InsuranceDefense] int default 0,
		[IntellectualPropertyCopyrightTrademark] int default 0,
		[IntellectualPropertyPatent] int default 0,
		[InternationalForeignLaw] int default 0,
		[LaborManagementRepresentation] int default 0,
		[LaborUnionRepresentation] int default 0,
		[LitigationDefensePlaintiff] int default 0,
		[LocalGovernmentMunicipal] int default 0,
		[MergersandAcquisitions] int default 0,
		[OilGasMineralRights] int default 0,
		[Other] int default 0,
		[PersonalContracts] int default 0,
		[PersonalInjuryDefense] int default 0,
		[PlaintiffLitigationClassActionMassTort] int default 0,
		[PlaintiffPersonalInjuryGT500K] int default 0,
		[PlaintiffPersonalInjuryLT500K] int default 0,
		[PublicUtilities] int default 0,
		[RealEstateGT1M] int default 0,
		[RealEstateLT1M] int default 0,
		[SchoolsEducationnotfinance] int default 0,
		[Securities] int default 0,
		[SocialSecurityDisabilityMedicare] int default 0,
		[TaxationCorporate] int default 0,
		[TaxationIndividual] int default 0,
		[TaxOpinions] int default 0,
		[Title] int default 0,
		[TribalLaw] int default 0,
		[WaterRights] int default 0,
		[WillsEstateTrustProbate2M] int default 0,
		[WillsEstateTrustProbate2M5M] int default 0,
		[WillsEstateTrustProbate5M] int default 0,
		[WorkersCompensationDefense] int default 0,
		[WorkersCompensationPlaintiff] int default 0,
		ConstructionLaw int default 0,
		CriminalDefense int default 0
	)
	INSERT INTO #TempPolicyList(PolicyKey,VersionKey) select PolicyKey, VersionKey from AreaOfPracticeLW where policykey=@policyKey group by PolicyKey,VersionKey

--drop table #TempPolicyList

	UPDATE t1
		  SET AdmiraltyandMaritime =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'AdmiraltyandMaritime'
	UPDATE t1
		  SET AlternateDisputeResolution =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'AlternateDisputeResolution'
	UPDATE t1
		  SET Appellate =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'Appellate'
	UPDATE t1
		  SET BankingFinancialInstitution =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'BankingFinancialInstitution'

   UPDATE t1
		  SET BankruptcyDetailsLW =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'BankruptcyDetailsLW'
	UPDATE t1
		  SET CivilCommercialLitigationDefense =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CivilCommercialLitigationDefense'

   UPDATE t1
		  SET CivilCommercialLitigationPlaintiff =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CivilCommercialLitigationPlaintiff'
	UPDATE t1
		  SET CivilRightsDiscrimination =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CivilRightsDiscrimination'

   UPDATE t1
		  SET CollectionsSuplimentDetailsLW =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CollectionsSuplimentDetailsLW'
	UPDATE t1
		  SET CommercialLawBusinessTransactionsGT1M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CommercialLawBusinessTransactionsGT1M'

  UPDATE t1
		  SET CommercialLawBusinessTransactionsLT1M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CommercialLawBusinessTransactionsLT1M'
	UPDATE t1
		  SET ConstructionLaw =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'ConstructionLaw'

   UPDATE t1
		  SET CorporateFormation =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CorporateFormation'
	UPDATE t1
		  SET CriminalDefense =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'CriminalDefense'

   UPDATE t1
		  SET EmployeeBenefitPlansERISA =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'EmployeeBenefitPlansERISA'
	UPDATE t1
		  SET EntertainmentLaw =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'EntertainmentLaw'

   UPDATE t1
		  SET EnvironmentalRegulatory =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'EnvironmentalRegulatory'
	UPDATE t1
		  SET FamilyLawGT2m =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'FamilyLawGT2m'

  UPDATE t1
		  SET FamilyLawLT2m =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'FamilyLawLT2m'
	UPDATE t1
		  SET Immigration =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'Immigration'

   UPDATE t1
		  SET InsuranceDefense =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'InsuranceDefense'
	UPDATE t1
		  SET IntellectualPropertyCopyrightTrademark =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'IntellectualPropertyCopyrightTrademark'

  UPDATE t1
		  SET IntellectualPropertyPatent =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'IntellectualPropertyPatent'
	UPDATE t1
		  SET InternationalForeignLaw =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'InternationalForeignLaw'

  UPDATE t1
		  SET LaborManagementRepresentation =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'LaborManagementRepresentation'
	UPDATE t1
		  SET LaborUnionRepresentation =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'LaborUnionRepresentation'

 UPDATE t1
		  SET LitigationDefensePlaintiff =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'LitigationDefensePlaintiff'
	UPDATE t1
		  SET LocalGovernmentMunicipal =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'LocalGovernmentMunicipal'

UPDATE t1
		  SET MergersandAcquisitions =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'MergersandAcquisitions'
UPDATE t1
		  SET OilGasMineralRights =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'OilGasMineralRights'
UPDATE t1
		  SET Other =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'Other'
UPDATE t1
		  SET PersonalContracts =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'PersonalContracts'
UPDATE t1
		  SET PersonalInjuryDefense =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'PersonalInjuryDefense'
UPDATE t1
		  SET PlaintiffLitigationClassActionMassTort =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'PlaintiffLitigationClassActionMassTort'
UPDATE t1
		  SET PlaintiffPersonalInjuryGT500K =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'PlaintiffPersonalInjuryGT500K'
UPDATE t1
		  SET PlaintiffPersonalInjuryLT500K =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'PlaintiffPersonalInjuryLT500K'
UPDATE t1
		  SET PublicUtilities =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'PublicUtilities'
UPDATE t1
		  SET RealEstateGT1M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'RealEstateGT1M'
UPDATE t1
		  SET RealEstateLT1M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'RealEstateLT1M'
UPDATE t1
		  SET SchoolsEducationnotfinance =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'SchoolsEducationnotfinance'
UPDATE t1
		  SET Securities =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'Securities'
UPDATE t1
		  SET SocialSecurityDisabilityMedicare =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'SocialSecurityDisabilityMedicare'
UPDATE t1
		  SET TaxationCorporate =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'TaxationCorporate'
UPDATE t1
		  SET TaxationIndividual =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'TaxationIndividual'
UPDATE t1
		  SET TaxOpinions =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'TaxOpinions'
UPDATE t1
		  SET Title =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'Title'
UPDATE t1
		  SET TribalLaw =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'TribalLaw'
UPDATE t1
		  SET WaterRights =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'WaterRights'
UPDATE t1
		  SET WillsEstateTrustProbate2M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'WillsEstateTrustProbate2M'
UPDATE t1
		  SET WillsEstateTrustProbate2M5M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'WillsEstateTrustProbate2M5M'
UPDATE t1
		  SET WillsEstateTrustProbate5M =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'WillsEstateTrustProbate5M'
UPDATE t1
		  SET WorkersCompensationDefense =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'WorkersCompensationDefense'
UPDATE t1
		  SET WorkersCompensationPlaintiff =  PercentageValue FROM AreaOfPracticeLW ap
				INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey and ap.VersionKey=t1.VersionKey WHERE ap.AreaOfPracticeCode = 'WorkersCompensationPlaintiff'

	--select  * from 	#TempPolicyList
	DECLARE @AOPdata NVARCHAR(MAX)
set @AOPdata = 
ISNULL((select * from #TempPolicyList where policykey=@policyKey FOR XML PATH('data'),ROOT('AOP')),'')

DECLARE @AOPTotal NVARCHAR(MAX)
set @AOPTotal = 
ISNULL((select  sum(PercentageValue) as Total from AreaOfPracticeLW  where policykey=@policyKey FOR XML PATH(''),ROOT('AOPTotal')),'')


DECLARE @WillsEstateTrustsPercentagedata NVARCHAR(MAX)
set @WillsEstateTrustsPercentagedata = 
ISNULL((select  WillsETClientsTotalAssets,cast(WillsETEstimatedPercentWork as varchar(20))+'%' as WillsETEstimatedPercentWork from WillsEstateTrustsPercentageWEPT  where policykey=@policyKey and WillsETClientsTotalAssets not in('WEPTTotal') FOR XML PATH('data'),ROOT('WillsEstateTrustsPercentage')),'')

DECLARE @EmploymentInfodata NVARCHAR(MAX)
set @EmploymentInfodata = 
ISNULL((select  EmployementLawClientName,EmployementLawIndustry,EmployementLawCaseValue,EmployementLawCaseStatus from EmploymentInfo  where policykey=@policyKey  FOR XML PATH('data'),ROOT('EmploymentInfo')),'')



DECLARE @FamilyLawInfodata NVARCHAR(MAX)
set @FamilyLawInfodata = 
ISNULL((select  FamilyLawValueOfMaritalAssets,FamilyLawEstimatedPercentage from FamilyLawInfo  where policykey=@policyKey  FOR XML PATH('data'),ROOT('FamilyLawInfo')),'')

	--select * from Fieldoption where FieldId=(SELECT FieldId FROM Field WHERE Name = 'AreaOfPracticeLW'
	--AND SubSectionId = (SELECT SubSectionId FROM SubSection WHERE Name = 'AreaOfPracticeLW'
	--AND SectionId = (SELECT SectionId FROM Section WHERE Name = 'AreaOfPracticeLW'
	--and FormId = (SELECT FormId FROM Form WHERE Name = 'CreateNewApplication' and FormId = 2 and formVersionKey = 1))))

DECLARE @FeeSuitSuppInfodata NVARCHAR(MAX)
set @FeeSuitSuppInfodata = 
ISNULL((select  FeeSuitClientName,cast(FeeSuitFilledDate as date) as FeeSuitFilledDate,FeeSuitAmount,FeeSuitStatus from FeeSuitSuppInfo  where policykey=@policyKey  FOR XML PATH('data'),ROOT('FeeSuitSuppInfo')),'')


DECLARE @InsuranceDefenseCategorydata NVARCHAR(MAX)
set @InsuranceDefenseCategorydata = 
ISNULL((select  InsDefCategory,InsDefPercentageOfCases,InsDefAverageValue,InsDefHighestValue from InsuranceDefenseCategory  where policykey=@policyKey  FOR XML PATH('data'),ROOT('InsuranceDefenseCategory')),'')

  Declare @tep_table table
	(
	 SupplyFlags  NVARCHAR(MAX)
	)
  Insert into @tep_table Exec  SP_GetAOPSupplementFlags  @policyKey

DECLARE @AOPSupplyFlags NVARCHAR(MAX)
set @AOPSupplyFlags=ISNULL((select replace(replace(SupplyFlags,'XML><data','AopVisibility'),'data></XML','AopVisibility') from @tep_table),'')

 
 -- Declare @QuoteList_table table
	--(
	-- QuoteList  NVARCHAR(MAX)
	--)
  --Insert into @QuoteList_table Exec  SP_GetQuoteDetailListData  2

--  DECLARE @QuoteListData NVARCHAR(MAX)
--set @QuoteListData=(select replace(replace(QuoteList,'XML>','QuoteList'),'</XML','QuoteList') from @QuoteList_table)


CREATE TABLE #TEMPDATA
	(
		PolicyKey INT,VersionKey INT,FormId INT,FormVersionKey INT,TransactionSequence INT,
		CoverageSequence INT,QuoteKey INT,IsThisOptionFinalised varchar(100),
		IsQuoteSelected varchar(100),TotalDue varchar(100),Limits varchar(100),Deductibles varchar(100),
		DefenseExpenses varchar(100),ClaimOption varchar(100),DollarDefense varchar(100),TotalModifiers varchar(100),
		Taxamount varchar(100),Premium varchar(100),Type varchar(100),
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, policyTransaction.TransactionSequence, 
	policyCoverage.CoverageSequence, quote.QuoteKey, 
	CASE WHEN quote.IsThisOptionFinalised = null THEN ''N'' ELSE quote.IsThisOptionFinalised END as IsThisOptionFinalised, 
	quote.IsQuoteSelected, dbo.getAmountFormat(policyTransaction.InvoicedPremium),
	cast(dbo.getAmountFormat(policyCoverage.AggregateLimit) as varchar(20)) + ''/'' + cast(dbo.getAmountFormat(policyCoverage.OccuranceLimit) as varchar(20)) as Limits, 
	dbo.getAmountFormat(policyCoverage.AggregateDeductible) as Deductibles, 
	CASE WHEN policyCoverage.IsClaimExpensesType = ''Y'' THEN ''Outside'' ELSE ''Inside'' END as DefenseExpenses, 
	CASE WHEN policyCoverage.IsClaimOptionType = ''Y'' THEN ''Aggregate'' ELSE ''Each Claim'' END as ClaimOption, 
	CASE WHEN policyCoverage.IsDollarDefense = ''Y'' THEN ''Yes'' ELSE ''No'' END as DollarDefense, 
	policyTransaction.TotalPolicyModifierPercentage, dbo.getAmountFormat(policyTransaction.TotalPolicyTaxAmount) as Taxamount, dbo.getAmountFormat(policyTransaction.TotalPremium) as Premium, 
	CASE WHEN policyCoverage.IsManualPremium = ''Y'' THEN ''Manual'' ELSE ''Auto'' END as IsManualPremium
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + '''  
	inner join PolicyTransaction as policyTransaction on policy.PolicyKey = policyTransaction.PolicyKey and policy.VersionKey = policyTransaction.VersionKey 
	inner join PolicyCoverage as policyCoverage on policy.PolicyKey = policyCoverage.PolicyKey  and policyTransaction.TransactionSequence =	policyCoverage.TransactionSequence 
	inner join Quote as quote on policy.PolicyKey = quote.PolicyKey and policyTransaction.TransactionSequence = quote.TransactionSequence 
	WHERE policy.recordType <> ''D'' and policyTransaction.recordType <> ''D'' and policyCoverage.recordType <> ''D'' and quote.recordType <> ''D'' 
	and quote.IsShowQuote = ''Y'' ';

	IF(@policyKey is not null)
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND policyTransaction.PolicyKey = ' + cast(@policyKey as varchar(10));
		SET  @sqlstm = @sqlstm + ' AND policyCoverage.PolicyKey = ' + cast(@policyKey as varchar(10));
		SET  @sqlstm = @sqlstm + ' AND quote.PolicyKey = ' + cast(@policyKey as varchar(10));
	END
	
	SET  @sqlstm = @sqlstm + ' GROUP BY policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, policyTransaction.TransactionSequence, 
	policyCoverage.CoverageSequence, quote.QuoteKey, quote.IsThisOptionFinalised, quote.IsQuoteSelected, policyTransaction.InvoicedPremium,
	policyCoverage.AggregateLimit, policyCoverage.OccuranceLimit, policyCoverage.AggregateDeductible, policyCoverage.IsClaimExpensesType,
	policyCoverage.IsClaimOptionType, policyCoverage.IsDollarDefense, policyTransaction.TotalPolicyModifierPercentage, policyTransaction.TotalPolicyTaxAmount,
	policyTransaction.TotalPremium, policyCoverage.IsManualPremium'

	--print @sqlstm

	INSERT INTO #TEMPDATA (PolicyKey, VersionKey, FormId, FormVersionKey, TransactionSequence, CoverageSequence, QuoteKey, IsThisOptionFinalised, IsQuoteSelected, 
	TotalDue, Limits, Deductibles, DefenseExpenses, ClaimOption, DollarDefense, TotalModifiers, Taxamount, Premium, Type)
	EXECUTE (@sqlstm)
	

	--select * from #TEMPDATA 
	DECLARE @QuoteListdata NVARCHAR(MAX)
	set @QuoteListdata=ISNULL((select PolicyKey, VersionKey, FormId, FormVersionKey, TransactionSequence, CoverageSequence, QuoteKey, IsThisOptionFinalised, IsQuoteSelected, 
	TotalDue, Limits, Deductibles, DefenseExpenses, ClaimOption, DollarDefense, TotalModifiers, Taxamount, Premium, Type
	 from #TEMPDATA FOR XML PATH('data'),ROOT('QuoteList')),'')

DECLARE @FinancialInstitutionInfodata NVARCHAR(MAX)
set @FinancialInstitutionInfodata = 
ISNULL((select  FinancialInstitutionName,FdiCorNCUA,FinancialInstClientPositionsHeld,EquityInterest,LoanApprovalInvolvement,SecurityServices,ServicesProvidedDetails from FinancialInstitutionInfo  where policykey=@policyKey  FOR XML PATH('data'),ROOT('FinancialInstitutionInfo')),'')



DECLARE @test NVARCHAR(MAX)

set @test=@policydata + @Attorneydata + @OilAndGasAttorneysdata + @OilAndGasTopFiveClientsdata + @PersonalInjuryInfodata + @LossInformationInfodata + @LargestClientsInfodata + @OutsideIntrestSuppInfodata + @PredecessorSuppInfodata + @RealEstatePracticeAreasdata + @RealEstateBreakdowndata + @TitleAgencyInfodata + @TitleAgencyGrossRevenuedata + @AreaOfPracticedata + @AOPdata + @AOPTotal + @WillsEstateTrustsPercentagedata + @EmploymentInfodata + @FamilyLawInfodata +@FeeSuitSuppInfodata + @InsuranceDefenseCategorydata + @AOPSupplyFlags + @QuoteListData
+ @FinancialInstitutionInfodata
--SELECT CAST(@test AS XML) FOR XML PATH(''),ROOT('XML')

SELECT STUFF((SELECT CAST(@test AS XML) FOR XML PATH('') ), 1, 1, '') as XML

END









GO
