USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetApplicationSecurityFlags]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetApplicationSecurityFlags]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetApplicationSecurityFlags]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetApplicationSecurityFlags] AS' 
END
GO
--exec SP_GetApplicationSecurityFlags 1,1
ALTER PROCEDURE [dbo].[SP_GetApplicationSecurityFlags]
(
@UserNo INT,
@RolesId INT
)

AS
	BEGIN
		SELECT (
		SELECT Profile, AdminPanel, LostWorkq, QuickQuote, Indication, CreateNewApplication, OffRisk, BulkAppDownload, Subproducer, Rerate, AccountManagement, Requote, ClaimSummery, Brokerage, 
		InsertAccess, UpdateAccess, DeleteAccess, ViewAccess, PrintAccess, DownloadAccess, UploadAccess, CopyAccess, UnderReviewAccess, UWReviewAccess, UWCompletedAccess, QuotedAccess, AcceptedAccess, 
		IssuedAccess, CancelledAccess, UnderWriterAccess, ChangeStatusAccess, CommentsAccess, HistoryAccess, FirstReviewerAccess, MoveLostWorkqAccess, AnotherQuoteAccess, ModifierAccess, 
		SendCompleteAppAccess, SendQuoteAccess, SendIndicationAccess, ConvertIndicationAccess, ConvertQuickQuoteAccess 
		FROM UserAccessRights userAccessRights inner join PageAccessRights pageAccessRights on userAccessRights.UserAccessRightsKey = pageAccessRights.UserAccessRightsKey
		where UserNo = @UserNo and RolesId = @RolesId FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML

END








GO
