USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SupplementFlowControlRenewal_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SupplementFlowControlRenewal_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SupplementFlowControlRenewal_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SupplementFlowControlRenewal_p] AS' 
END
GO
--exec SupplementFlowControlRenewal_p 119927, '2017-12-06 00:00:00.0', 'N', '2020-12-12 00:00:00.0'
ALTER PROCEDURE [dbo].[SupplementFlowControlRenewal_p]
(
@PolicyKey INT,
@LitImplementationDate DATETIME,
@IsCCBFlag VARCHAR(1),
@RenewalSupplementNewImplDate DATETIME
)
AS
BEGIN

DECLARE @PreviousPolicyKey INT
Declare @bankruptcy INT
Declare @collection INT
Declare @financial INT
Declare @goverment INT
Declare @realestateComm INT
Declare @realestateResi INT
Declare @tax INT
Declare @wills INT
Declare @litigationvalue INT
Declare @AnnualRevenue INT
Declare @familyLaw INT
DECLARE @Copyright INT
Declare @IsFirmMergedWithOtherFirm varchar(5)
DECLARE @PolicyStatusKey INT
Declare @bankruptcyOld INT
Declare @collectionOld INT
Declare @financialOld INT
Declare @govermentOld INT
Declare @realestateCommOld INT
Declare @realestateResiOld INT
Declare @taxOld INT
Declare @willsOld INT
Declare @litigationvalueOld INT
Declare @familyLawOld INT
DECLARE @CopyrightOld INT
DECLARE @litigationAOPSum INT
DECLARE @CreatedDate DATETIME
DECLARE @DaysDiffenence INT
Declare @corporateCommercialBusiness INT
Declare @EffectiveDate DATETIME

		SELECT @CreatedDate=AppCreatedDate,@EffectiveDate=Policyeffectivedate FROM POLICY WHERE PolicyKey=@PolicyKey
		SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
	
	
	

	CREATE TABLE #TEMP
	(
	isBankruptcy CHAR,
	isCollection CHAR,
	isCopyright CHAR,
	isFinancial CHAR,
	isFamilyLaw CHAR,
	isGoverment CHAR,
	isLitigation CHAR,
	isRealestate CHAR,
	isTax CHAR,
	isWillsTrust CHAR,
	isCCB CHAR
	)
	
	INSERT INTO #TEMP VALUES('N','N','N','N','N','N','N','N','N','N','N')

	SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
	---------------------------------------CURRENT POLICY SUPPLEMENTS---------------------------------------
	SET @bankruptcy  = (SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=3  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @collection =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=31  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @financial =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=12 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @goverment =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=13  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @realestateComm =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=20  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @realestateResi =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=27  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @tax =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=22  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @wills =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=24  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @litigationvalue =(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=18  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @familyLaw=(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=8  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @Copyright=(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=6  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	SET @corporateCommercialBusiness=(SELECT CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PolicyKey and ao.AOPKey=5  and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	
	SELECT @litigationAOPSum= sum( CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END ) from AreaOfPracticeLW where AOPKey in (55,56,57,59,60,61,62,63,67) and policykey=@PolicyKey
	---------------------------------------OLDER  POLICY SUPPLEMENTS---------------------------------------

	SET @bankruptcyOld  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=3 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@bankruptcyOld is null)
	set @bankruptcyOld=0
	SET @collectionOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=31 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@collectionOld is null)
	set @collectionOld=0
	SET @financialOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=12 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@financialOld is null)
	set @financialOld=0
	SET @govermentOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=13 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@govermentOld is null)
	set @govermentOld=0
	SET @realestateCommOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=20 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey)) 
	if(@realestateCommOld is null)
	set @realestateCommOld=0
	SET @realestateResiOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=27 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@realestateResiOld is null)
	set @realestateResiOld=0
	SET @taxOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=22 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@taxOld is null)
	set @taxOld=0
	SET @willsOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=24 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@willsOld is null)
	set @willsOld=0
	SET @litigationvalueOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=18 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@litigationvalueOld is null)
	set @litigationvalueOld=0
	SET @familyLawOld=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW ao where ao.policykey=@PreviousPolicyKey and ao.AOPKey=8 and  ao.VersionSequence=(select max(VersionSequence) From Firmlw where PolicyKey=ao.PolicyKey))
	if(@familyLawOld is null)
	set @familyLawOld=0
	
	
	------------------------------------------------------------------------------------------------------------------------
	
	Declare @LitigationSupplementPage CHAR

	IF(@DaysDiffenence<0)
		BEGIN
			IF(@litigationvalue>0)
				BEGIN
					SET @LitigationSupplementPage='Y'
				END
			ELSE
				BEGIN
					SET @LitigationSupplementPage='N'
				END
		END
	ELSE
		BEGIN
			IF(@litigationAOPSum>0)
				BEGIN
					SET @LitigationSupplementPage='Y'
				END
			ELSE
				BEGIN
					SET @LitigationSupplementPage='N'
				END
		END
	

	 IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35))
	BEGIN
		UPDATE #TEMP SET isBankruptcy='Y'
	END

	IF(@collection>@collectionOld)
	BEGIN
		UPDATE #TEMP SET isCollection='Y'
	END

	IF(@Copyright>0)
	BEGIN
		UPDATE #TEMP SET isCopyright='Y'
	END
	
	--IF((@familyLawOld>35 AND @familyLaw>@familyLawOld+10) OR (@familyLawOld<35 AND @familyLaw>35))
	IF(@familyLaw>35)
	BEGIN
		UPDATE #TEMP SET isFamilyLaw='Y'
	END
	
	IF(@financial>0)
	BEGIN
		UPDATE #TEMP SET isFinancial='Y'
	END


	IF (@govermentOld!= @goverment and @goverment> @govermentOld AND @goverment>10)
	BEGIN
		UPDATE #TEMP SET isGoverment='Y'
	END
	
	IF(@LitigationSupplementPage='Y')
	BEGIN
		UPDATE #TEMP SET isLitigation='Y'
	END

	IF(@tax>25 and @tax>@taxOld)
	BEGIN
		UPDATE #TEMP SET isTax='Y'
	END

if(@CreatedDate < @RenewalSupplementNewImplDate)
begin

	IF(@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')
	BEGIN
		UPDATE #TEMP SET isCCB='Y'		
	END

	IF(((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5)))
	BEGIN
		
		UPDATE #TEMP SET isRealestate='Y'
	END
	IF((( @realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)))
	BEGIN
		
		UPDATE #TEMP SET isRealestate='Y'
	END
	IF(@wills>@willsOld)
	BEGIN
		UPDATE #TEMP SET isWillsTrust='Y'
	END
	
	SELECT * FROM #TEMP

end
else
BEGIN
IF(@corporateCommercialBusiness > 0)
	BEGIN
		UPDATE #TEMP SET isCCB='Y'		
	END

	IF(@realestateComm>0)
	BEGIN
		
		UPDATE #TEMP SET isRealestate='Y'
	END
	IF(@realestateResi>0)
	BEGIN
		
		UPDATE #TEMP SET isRealestate='Y'
	END
	IF(@wills>0)
	BEGIN
		UPDATE #TEMP SET isWillsTrust='Y'
	END
	
	SELECT * FROM #TEMP
end


END








GO
