USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompletedAccountNew_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CheckIfApplicationIsCompletedAccountNew_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckIfApplicationIsCompletedAccountNew_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CheckIfApplicationIsCompletedAccountNew_p] AS' 
END
GO
--76205
--exec CheckIfApplicationIsCompletedAccount 58340,''
--exec CheckIfApplicationIsCompletedAccount 75956,''
ALTER PROCEDURE [dbo].[CheckIfApplicationIsCompletedAccountNew_p]
	@PolicyKey int,
	@IsApplicationCompleted char(1) = 'N' output 
	
AS
BEGIN

	DECLARE @AccountName VARCHAR(500),@AopSum int,@IsApplicantProvidesLegalServices CHAR,@investSuppPercentage	INT,@computerSuppPercentage	INT,@businessManagementSuppPercentage	INT,@auditSuppPercentage INT,@PolicyStatusKey INT,@PreviousPolicyKey INT,@PercentageOfRevenue INT,@PercentageOfDefense INT,@AOPCount INT,@VersionSequence INT,@PreviousVersionSequence INT,@CreatedDate DATETIME,@DaysDiffenence INT,@AopSum1 INT,@AggreegateLimit INT,@TotalFirmPersonnel INT,@IsFirmRenderingServices CHAR,@IsSyndicationManagers CHAR,@IsServedAsTrustee CHAR,@IsAnyRegulatoryInquiry CHAR,@IsClientTerminated CHAR,@IsPublicTradedAudited CHAR,@AnnualRevenue NUMERIC(15,0),@IsContractualRelationShip CHAR,@RevenuesFromLastYear INT,@EstimatedRevenue INT,@HaveInvestmentAuthorityFC CHAR,@IsControlClientFunds CHAR,@AccountKey INT
		
	SELECT @CreatedDate=AppCreatedDate,@PolicyStatusKey=PolicyStatusKey FROM POLICY WHERE PolicyKey=@PolicyKey
	SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
	SET @VersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PolicyKey)
	SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PreviousPolicyKey)
	SET @AccountKey=(SELECT TOP 1 AccountKey from PolicyTransaction where Policykey=@PolicyKey)
	SET @AOPCount=(SELECT Count(*) From AreaOfPractice Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @investSuppPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=19)
	SET @computerSuppPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=14)
	SET @businessManagementSuppPercentage=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
	SET @auditSuppPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
				
		IF(@PolicyStatusKey=1)
		BEGIN
			SET @IsApplicationCompleted='Y'
		--	PRINT 'NB'
			SET  @AccountName=(SELECT AccountName FROM Account where accountkey=@AccountKey)
			SET @AggreegateLimit=(SELECT top 1 AggregateLimit FROM PolicyCoverage where PolicyKey=@PolicyKey )
		
			SELECT @TotalFirmPersonnel=TotalFirmPersonnel,@IsFirmRenderingServices=IsFirmRenderingServices,@IsSyndicationManagers=IsSyndicationManagers,@IsServedAsTrustee=IsServedAsTrustee
			,@IsClientTerminated=IsClientTerminated,@IsPublicTradedAudited=IsPublicTradedAudited,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry
			from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence
				
				IF(@AOPCount<1)
					BEGIN
						print '100'
						SET @IsApplicationCompleted='N'
					END
				SELECT @AopSum=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPractice where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				
				IF(@AccountName IS  NULL)
				BEGIN
					print @AccountName
					SET @IsApplicationCompleted='N'
				END
				IF(@AggreegateLimit IS  NULL)
				BEGIN
					print '2'
				SET @IsApplicationCompleted='N'
				END

				IF(@TotalFirmPersonnel IS NULL OR @TotalFirmPersonnel=0)
				BEGIN
					print '3'
					SET @IsApplicationCompleted='N'
				END
				
				IF(@AopSum!=100)
				BEGIN
					print '4'
				SET @IsApplicationCompleted='N'
				END
		
				IF(@IsFirmRenderingServices IS  NULL)
				BEGIN
					print '5'
					SET @IsApplicationCompleted='N'
				END
				
				IF(@IsSyndicationManagers IS  NULL)
				BEGIN
					print '6'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsServedAsTrustee IS  NULL)
				BEGIN
					print '7'
					SET @IsApplicationCompleted='N'
				END
				IF(@IsAnyRegulatoryInquiry IS  NULL)
				BEGIN
					print '8'
					SET @IsApplicationCompleted='N'
				END
		
			--Supplements conditions check
			
			

			SET @AnnualRevenue=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where Policykey=@PolicyKey))
			IF(@AnnualRevenue>500000 )
			BEGIN
				
				IF(@IsClientTerminated IS  NULL)
				BEGIN
					print '11'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@investSuppPercentage>0)
			BEGIN
				select @IsContractualRelationShip=IsContractualRelationShip from FinancialPlanningAndIAServiceSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@IsContractualRelationShip IS  NULL)
				BEGIN
					print '12'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@computerSuppPercentage>0)
			BEGIN
			

				SELECT @RevenuesFromLastYear=CASE WHEN sum(RevenuesFromLastYear) IS NOT NULL   THEN sum(RevenuesFromLastYear) ELSE 0  END,@EstimatedRevenue=CASE WHEN sum(EstimatedRevenue) IS NOT NULL   THEN sum(EstimatedRevenue) ELSE 0  END  FROM ITServicesSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@RevenuesFromLastYear=0 AND @EstimatedRevenue=0)
				BEGIN
					print '13'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@businessManagementSuppPercentage >0)
			BEGIN
				
				SET @HaveInvestmentAuthorityFC=( SELECT HaveInvestmentAuthorityFC from FundsControlledSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence)
				IF(@HaveInvestmentAuthorityFC IS NULL)
				BEGIN
					print '14'
					SET @IsApplicationCompleted='N'
				END
			END

			IF(@auditSuppPercentage >0)
			BEGIN
				
				IF(@IsPublicTradedAudited IS NULL)
				BEGIN
					print '14'
					SET @IsApplicationCompleted='N'
				END
			END

		
	END
	IF(@PolicyStatusKey=2)
	BEGIN
		--PRINT 'RB'
		DECLARE @investmentPlanningOld INT
		DECLARE @computerServicesOld INT
		DECLARE @BusinessManagementOld INT
		DECLARE @auditOld INT
		SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=19)
		if(@investmentPlanningOld is null)
		set @investmentPlanningOld=0
		SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=14)
		if(@computerServicesOld is null)
		set @computerServicesOld=0
		SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18)
		if(@BusinessManagementOld is null)
		set @BusinessManagementOld=0
		SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6)
		if(@auditOld is null)
		set @auditOld=0

		--select @investmentPlanningOld as investSuppOld,@investSuppPercentage as investSuppOld,@computerSuppPercentage as compSupp	,@businessManagementSuppPercentage as BusinessSupp,@auditSuppPercentage as auditSupp
		SET  @AccountName=(SELECT AccountName FROM Account where accountkey=@AccountKey)
			SET @AggreegateLimit=(SELECT top 1 AggregateLimit FROM PolicyCoverage where PolicyKey=@PolicyKey )
		
			SELECT @TotalFirmPersonnel=TotalFirmPersonnel,@IsFirmRenderingServices=IsFirmRenderingServices,@IsSyndicationManagers=IsSyndicationManagers,@IsServedAsTrustee=IsServedAsTrustee
			,@IsClientTerminated=IsClientTerminated,@IsPublicTradedAudited=IsPublicTradedAudited,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry,@IsControlClientFunds=IsControlClientFunds
			from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence
				--select IsFirmHaveLawyersLiabilityInsurance from firm where policykey=55425
				IF(@AOPCount<1)
				BEGIN
					print '100'
					SET @IsApplicationCompleted='N'
				END
				SELECT @AopSum=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPractice where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				
				
				--select @AopSum 
				
				

							
				IF(@AccountName IS  NULL)
				BEGIN
					print @AccountName
					SET @IsApplicationCompleted='N'
				END

				
				

				IF(@TotalFirmPersonnel IS NULL OR @TotalFirmPersonnel=0 OR @IsControlClientFunds is NULL)
				BEGIN
					print '1'
					SET @IsApplicationCompleted='N'
				END
				
				IF(@AopSum!=100)
				BEGIN
					print '2'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsServedAsTrustee IS  NULL)
				BEGIN
					print '3'
					SET @IsApplicationCompleted='N'
				END
		
				IF(@IsAnyRegulatoryInquiry IS  NULL)
				BEGIN
					print '4'
					SET @IsApplicationCompleted='N'
				END
		
			

			IF((@investmentPlanningOld=0 AND @investSuppPercentage>0)OR(@investSuppPercentage>@investmentPlanningOld+5))
			BEGIN
			
				select @IsContractualRelationShip=IsContractualRelationShip from FinancialPlanningAndIAServiceSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@IsContractualRelationShip IS  NULL)
				BEGIN
					print '5'
					SET @IsApplicationCompleted='N'
				END
			END

		IF((@computerServicesOld=0 AND @computerSuppPercentage>0)OR(@computerSuppPercentage>@computerServicesOld+5))
			BEGIN
			

				SELECT @RevenuesFromLastYear=CASE WHEN sum(RevenuesFromLastYear) IS NOT NULL   THEN sum(RevenuesFromLastYear) ELSE 0  END,@EstimatedRevenue=CASE WHEN sum(EstimatedRevenue) IS NOT NULL   THEN sum(EstimatedRevenue) ELSE 0  END  FROM ITServicesSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				--select @RevenuesFromLastYear,@EstimatedRevenue
				IF(@RevenuesFromLastYear=0 AND @EstimatedRevenue=0)
				BEGIN
					print '6'
					SET @IsApplicationCompleted='N'
				END
			END

			IF((@BusinessManagementOld=0 AND @businessManagementSuppPercentage>0)OR(@businessManagementSuppPercentage >@BusinessManagementOld+5))
			BEGIN
				
				SET @HaveInvestmentAuthorityFC=( SELECT HaveInvestmentAuthorityFC from FundsControlledSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence)
				IF(@HaveInvestmentAuthorityFC IS NULL)
				BEGIN
					print '7'
					SET @IsApplicationCompleted='N'
				END
			END

			IF((@auditSuppPercentage=0 AND @auditSuppPercentage>0)OR(@auditSuppPercentage >@auditOld+5))
			BEGIN
				
				IF(@IsSyndicationManagers IS NULL)
				BEGIN
					print '8'
					SET @IsApplicationCompleted='N'
				END
			END
	
		
	END

	--select  @IsApplicationCompleted as IsCompleted
	return 
END




GO
