USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllLawyersData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchAllLawyersData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllLawyersData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchAllLawyersData] AS' 
END
GO

--exec FetchAllLawyersData  0
ALTER PROCEDURE [dbo].[FetchAllLawyersData]
(
	 @AccountID1 int
)
AS
SET NOCOUNT ON
BEGIN
	IF OBJECT_ID('tempdb..#TempPolicyList') IS NOT NULL
		DROP TABLE #TempPolicyList

	IF OBJECT_ID('tempdb..#IsQuoteLetterSend') IS NOT NULL
		DROP TABLE #IsQuoteLetterSend

	CREATE TABLE #TempPolicyList 
	(
		[PolicyKey] [int] ,
		[AccountID] [int],
		[QuoteNumber] [varchar](100) ,
		[AccountName] [varchar](100) ,
		[Status] [varchar](100) ,
		[State] [varchar](100) ,              
		[Limit] [varchar](100) ,
		[Deductible] [varchar](100),
		ClaimExpensesType [varchar](100),
		IsClaimOptionType [varchar](100),
		TotalPremium int, 
		InvoicedPremium int,    
		Modifier int,
		NoOfAttroney int,
		IsFirmCarryingProfLiabilityIns char(20),
		ExpiringCarrier [varchar](100) , 
		[LimitPross] [varchar](100) ,
		[DeductiblePross] [varchar](100),
		ProInsPremium int,
		IsPriorActDateFull [varchar](100),
		PriorActDatePross datetime,
		FirmYear int,      
		PolicyExpirationDatePross datetime,                
		IsFirmPage char(20),
		IsAopPage char(20),
		IsPracticePage char(20),
		IsCoveragePage char(20),
		IsTaxPage char(20),
		IsEnvironmentalPage char(20),
		IsTitlePage char(20),
		IsWillsEstatePage char(20),
		IsPlaintiffPage char(20),
		IsCorporatePage char(20),
		IsFinancialInsPage char(20),
		IsRealEstatePage char(20),
		PolicyEffectiveDate datetime,
		IsFirmPracticeInOtherState char(20),      
		IsFirmHaveClientInEntertainmentInd char(20),        
		IsAttorneyDeclineForProfLiability char(20),
		IsFirmProvidedLegalServiceToSecurity varchar(100), 
		IsFirmProvidedLegalServiceToInvestment varchar(100),
		IsFirmProvidedLegalServiceToMoney varchar(100),
		IsFirmProvidedLegalServiceToInvClient varchar(100),
		IsFirmHaveClientMoreThan25PercentOfBilling varchar(100),
		IsFirmHaveEquityIntGrtThan10 char(20), 
		IsPersonnelBeSubOfAnyInvest varchar(100),
		IsLawyerProfLiabClaimAgntAppl varchar(100),
		IsAnyActOmmBecomeClaimAgntFirm varchar(100),
		IsFirmMergedWithOtherFirm varchar(100),
		Comment varchar(1000),
		[AOP_Percentage_1] int,
		[AOP_Percentage_2] int,
		[AOP_Percentage_3] int,
		[AOP_Percentage_4] int,
		[AOP_Percentage_5] int,
		[AOP_Percentage_6] int,
		[AOP_Percentage_7] int,
		[AOP_Percentage_8] int,
		[AOP_Percentage_9] int,
		[AOP_Percentage_10] int,
		[AOP_Percentage_11] int,
		[AOP_Percentage_12] int,
		[AOP_Percentage_13] int,
		[AOP_Percentage_14] int,
		[AOP_Percentage_15] int,
		[AOP_Percentage_16] int,
		[AOP_Percentage_17] int,
		[AOP_Percentage_18] int,
		[AOP_Percentage_19] int,
		[AOP_Percentage_20] int,
		[AOP_Percentage_21] int,
		[AOP_Percentage_22] int,
		[AOP_Percentage_23] int,
		[AOP_Percentage_24] int,
		[AOP_Percentage_25] int,
		[OthersDesc] varchar(5000),
		[IsManualPremium] char(1),
		[SubProducerNumber] varchar(20),
		ResidentialPurchaseandSale int,
		CommercialPurchaseandSale int,
		MortgagesandDeed int,
		CondominiumsCooperativesandHomeownerAssociations int,
		HomeownerAssociations int,
		LandlordTenant int,
		PropertyValuationRealEstateTaxAbatement int,
		Foreclosures int,
		ConstructionWorkandMechanicsLiens int,
		LoanWorkouts int,
		LandUseDevelopment int,
		EminentDomainint int,
		SpeculativeRealEstate int,
		LimitedPartnerships int,
		RealEstateSyndications int,
		RealEstateTrusts int,
		OtherCommercial int,
		MortgagesandDeeds int,
		ForeclosureLoanWorkouts int,
		OtherResidential int,
		LoanWorkoutsResi int,
		IsApplInitiatedLawsuitForFirm char(1),
		PolicyStatus varchar(50),
		TotalNumOfNonAttorneyStaff int,
		PolicyNumber varchar(50),
		RenewOfPolicyNumber varchar(50),
		AccountEmail varchar(50),
		Is9010Policy char(1),
		IsAttorneyAddedDeleted char(1),
		Reviewer varchar(50),
		PolicyExpirationDate datetime,
		ContactPerson varchar(50),
		Address1 varchar(100),
		Address2 varchar(100),
		County varchar(50),
		Modifier1 int,
		Modifier2 int,
		Modifier3 int,
		IsDollarDefense char(1),
		Commercial int,
		Medical_Malpractise int,
		Other_Personal_Injury int,
		Products_Liability int,
		Professional_Liability_Non_Medical int,
		Toxic_Tort int,
		Workers_Compensation int,
		Other int,
		City varchar(50),
		CreatedDate datetime,
		ZipCode varchar(100),
		YearEndDate_1 varchar(50),
		Amount_1 varchar(50),
		YearEndDate_2 varchar(50),
		Amount_2 varchar(50),
		TotalModifiers int,
		NumberOfRatedAttorney int,
		VersionSequence int,
		IsQuoteLetterSend char(1),
		NotAcceptedDate datetime,
		IssuedDate datetime
	) 

	INSERT INTO #TempPolicyList(PolicyKey, AccountID, QuoteNumber, AccountName, [Status], [State],Limit, Deductible, ClaimExpensesType,IsClaimOptionType
		,TotalPremium, InvoicedPremium,IsFirmCarryingProfLiabilityIns,IsFirmPage,IsAopPage,IsPracticePage,IsCoveragePage,IsTaxPage,IsEnvironmentalPage,
		IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsCorporatePage,IsFinancialInsPage,IsRealEstatePage,
		PolicyEffectiveDate,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmHaveEquityIntGrtThan10,
		IsAttorneyDeclineForProfLiability,IsFirmProvidedLegalServiceToSecurity,IsFirmProvidedLegalServiceToInvestment,IsFirmProvidedLegalServiceToMoney,
		IsFirmProvidedLegalServiceToInvClient,IsFirmHaveClientMoreThan25PercentOfBilling,IsPersonnelBeSubOfAnyInvest,
		IsLawyerProfLiabClaimAgntAppl,IsAnyActOmmBecomeClaimAgntFirm,comment,IsFirmMergedWithOtherFirm,SubProducerNumber,IsApplInitiatedLawsuitForFirm
		,PolicyStatus,TotalNumOfNonAttorneyStaff,PolicyNumber,RenewOfPolicyNumber,AccountEmail,Is9010Policy,IsAttorneyAddedDeleted
		,Reviewer,PolicyExpirationDate,ContactPerson,Address1,Address2,County,IsDollarDefense,City,CreatedDate,ZipCode,VersionSequence,NotAcceptedDate,IssuedDate
		
		)
	select p.PolicyKey,a.AccountID, p.QuoteNumber, a.AccountName
		,(select StatusDesc from Status where StatusKey=pt.StatusKey) as Status
		,(select StateDesc from State where StateCode=adds.StateCode) as State,
		PARSENAME(Convert(varchar,Convert(money,pc.AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,pc.OccuranceLimit),1),2) as Limit,
		PARSENAME(Convert(varchar,Convert(money,pc.AggregateDeductible),1),2) as Deductible,
		(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesType,
		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'PerClaim' END) as IsClaimOptionType,
		pt.TotalPremium, pt.InvoicedPremium,f.IsFirmCarryingProfLiabilityIns,
		f.IsFirmPage,f.IsAopPage,f.IsPracticePage,f.IsCoveragePage,f.IsTaxPage,f.IsEnvironmentalPage,
		f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsCorporatePage,f.IsFinancialInsPage,f.IsRealEstatePage,
		p.PolicyEffectiveDate,f.IsFirmPracticeInOtherState,f.IsFirmHaveClientInEntertainmentInd,f.IsFirmHaveEquityIntGrtThan10,
		f.IsAttorneyDeclineForProfLiability,
		f.IsFirmProvidedLegalServiceToSecurity,f.IsFirmProvidedLegalServiceToInvestment,f.IsFirmProvidedLegalServiceToMoney,
		f.IsFirmProvidedLegalServiceToInvClient,f.IsFirmHaveClientMoreThan25PercentOfBilling,f.IsPersonnelBeSubOfAnyInvest,
		f.IsLawyerProfLiabClaimAgntAppl,f.IsAnyActOmmBecomeClaimAgntFirm,f.comment,f.IsFirmMergedWithOtherFirm,pt.ProducerCode,
		f.IsApplInitiatedLawsuitForFirm
		,(CASE p.PolicyStatusKey WHEN 1 THEN 'New Business' ELSE 'Renewal' END) as PolicyStatus
		,f.TotalNumOfNonAttorneyStaff,p.PolicyNumber,p.RenewOfPolicyNumber
		,a.AccountEmail,f.Is9010Policy,f.IsAttorneyAddedDeleted
		,(select AgentName from UserDetails where UserNo = f.FirstReviewUserID) as Reviewer
		,pt.PolicyExpirationDate,f.ContactPerson,adds.Address1,adds.Address2,adds.CountyDesc,pc.IsDollarDefense,adds.City,p.AppCreatedDate
		, isnull(adds.Zip,'') + ' ' +  isNull(adds.Zip4,'') as ZipCode, f.VersionSequence,
		(CASE WHEN pt.StatusKey = 5 THEN pt.LastUpdateTimeStamp END) as NotAcceptedDate,
		(CASE WHEN pt.StatusKey = 6 THEN pt.LastUpdateTimeStamp  END) as IssuedDate
	from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc
	where a.AccountKey =pt.AccountKey 
	and aa.AccountKey = a.AccountKey  
	and aa.AddressKey=adds.AddressKey 
	and f.PolicyKey = pt.PolicyKey 
	and s.StatusKey =pt.StatusKey 
	and p.PolicyKey = pt.PolicyKey 
	and f.PolicyKey = pc.PolicyKey 
	and p.PolicyKey = pc.PolicyKey 
	and p.MarketableProductKey = 2 
	and pc.CoverageKey = 3 
	and  pt.TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) 
	and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
                
	--select * from #TempPolicyList where PolicyKey = 8109---------------------------------------------------------------------------------------------------
	SELECT PolicyKey, IsQuoted
	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchiveLW da
			INNER JOIN #TempPolicyList t ON t.VersionSequence = da.VersionSequence
			AND t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1

	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey

	UPDATE t 
	SET ExpiringCarrier = ISNULL(pl.InsuranceCompanyNamePross,''),
		IsPriorActDateFull = CASE WHEN pl.IsPriorActDateFull = 'Y' THEN 'Full' 
							      WHEN pl.IsPriorActDateFull = 'N' THEN 'Prior Act'
								  ELSE ''
							 END,
		PriorActDatePross = pl.PriorActDatePross,
		FirmYear = ISNULL(pl.FirmYear,0),
		ProInsPremium = pl.ProInsPremium,
		PolicyExpirationDatePross = ISNULL(pl.PolicyExpirationDatePross,''),
		LimitPross = (SELECT PARSENAME(CONVERT(varchar,CONVERT(money,AggregateLimit),1),2) +'/' +PARSENAME(CONVERT(varchar,CONVERT(money,OccuranceLimit),1),2) 
					 FROM Limits 
					 WHERE LimitSequence=pl.LimitSequencePross),
		DeductiblePross= (SELECT PARSENAME(CONVERT(varchar,CONVERT(money,AggregateDeductible),1),2) 
						  FROM Deductibles 
						  WHERE DeductibleSequence=pl.DeductibleSequencePross)
	FROM ProfessionalLiabilityInsDetailLW pl
	INNER JOIN #TempPolicyList t ON t.PolicyKey = pl.PolicyKey

	--select * from #TempPolicyList--------------------------------------------------------------------------------------------------- 
	UPDATE t
	SET Modifier = Percentage
	FROM CoverageModifiers cm
	INNER JOIN #TempPolicyList t ON t.PolicyKey = cm.PolicyKey
	WHERE TransactionSequence IN (SELECT MIN(TransactionSequence) 
								  FROM CoverageModifiers cm2 
									INNER JOIN #TempPolicyList t ON t.policykey = cm2.PolicyKey 
								  GROUP BY cm2.policyKey 
								  )

	

	UPDATE t
	SET NumberOfRatedAttorney = (select COUNT(*) from AttorneyDetailsLW atr where t.PolicyKey = atr.PolicyKey
							and isNULL(atr.IsNonRatedAttorney,'') != 'Y'
							and atr.VersionSequence IN (SELECT MIN(cm2.VersionSequence) 
								  FROM AttorneyDetailsLW cm2 
									INNER JOIN #TempPolicyList t ON t.VersionSequence = cm2.VersionSequence
								  GROUP BY cm2.policyKey 
								  ))
	FROM  #TempPolicyList t 
	 
	UPDATE t
	SET NoOfAttroney = (select COUNT(*) from AttorneyDetailsLW atr where t.PolicyKey = atr.PolicyKey							
							and atr.VersionSequence IN (SELECT MIN(cm2.VersionSequence) 
								  FROM AttorneyDetailsLW cm2 
									INNER JOIN #TempPolicyList t ON t.VersionSequence = cm2.VersionSequence
								  GROUP BY cm2.policyKey 
								  ))
	FROM  #TempPolicyList t 


	--select * from #TempPolicyList order by PolicyKey--------------------------------------------------------------------------------------------------- 
	UPDATE t1
  SET AOP_Percentage_1 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 1
 UPDATE t1
  SET AOP_Percentage_2 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 2
 UPDATE t1
  SET AOP_Percentage_3 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 3
 UPDATE t1
  SET AOP_Percentage_4 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 4
 UPDATE t1
  SET AOP_Percentage_5 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 5
 UPDATE t1
  SET AOP_Percentage_6 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 6
 UPDATE t1
  SET AOP_Percentage_7 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 7
 UPDATE t1
  SET AOP_Percentage_8 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 8
 UPDATE t1
  SET AOP_Percentage_9 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 9
 UPDATE t1
  SET AOP_Percentage_10 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 10
 UPDATE t1
  SET AOP_Percentage_11 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 11
UPDATE t1
  SET AOP_Percentage_12 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 12
UPDATE t1
  SET AOP_Percentage_13 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 13
UPDATE t1
  SET AOP_Percentage_14 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 14
UPDATE t1
  SET AOP_Percentage_15 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 15
UPDATE t1
  SET AOP_Percentage_16 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 16
UPDATE t1
  SET AOP_Percentage_17 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 17
UPDATE t1
  SET AOP_Percentage_18 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 18
UPDATE t1
  SET AOP_Percentage_19 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 19
UPDATE t1
  SET AOP_Percentage_20 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 20
UPDATE t1
  SET AOP_Percentage_21 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 21
UPDATE t1
  SET AOP_Percentage_22 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 22
UPDATE t1
  SET AOP_Percentage_23 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 23
UPDATE t1
  SET AOP_Percentage_24 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 24
UPDATE t1
  SET AOP_Percentage_25 =  PercentageValue FROM AreaOfPracticeLW ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 25	
UPDATE t
	SET OthersDesc = AOPCommentDesc	FROM AreaOfPracticeLW aplw
	INNER JOIN #tempPolicyList t ON aplw.PolicyKey = t.PolicyKey	WHERE AOPKey = 25

--select * from #TempPolicyList-----------------------------------------------------------------------------

	UPDATE t
	SET IsManualPremium = ISNULL(pc.IsManualPremium,''),
		TotalPremium = pt.TotalPremium,
		InvoicedPremium = pt.InvoicedPremium
	FROM Quote q
	INNER JOIN PolicyCoverage pc ON pc.TransactionSequence = q.TransactionSequence
	INNER JOIN PolicyTransaction pt ON pt.TransactionSequence = q.Transactionsequence
	INNER JOIN #TempPolicyList t ON q.PolicyKey = t.PolicyKey
	WHERE q.IsThisOptionFinalised = 'Y'

	UPDATE t
	SET Limit =	  PARSENAME(CONVERT(varchar,CONVERT(money,AggregateLimit),1),2) +'/' +PARSENAME(CONVERT(varchar,CONVERT(money,OccuranceLimit),1),2) ,
		Deductible =   PARSENAME(CONVERT(varchar,CONVERT(money,AggregateDeductible),1),2),						
		ClaimExpensesType = CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END,								
		IsClaimOptionType =   CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE  'PerClaim' END
	FROM PolicyCoverage pc
	INNER JOIN Quote q ON pc.TransactionSequence = q.TransactionSequence
	INNER JOIN PolicyTransaction pt ON pt.TransactionSequence = q.TransactionSequence
	INNER JOIN #tempPolicyList t ON t.PolicyKey = pc.PolicyKey
	WHERE q.IsThisOptionFinalised = 'Y'

	--select * from #TempPolicyList-----------------------------------------------------------------------------

	UPDATE t
	SET ResidentialPurchaseandSale = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 1
	UPDATE t
	SET	CommercialPurchaseandSale = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 2
	UPDATE t
	SET	MortgagesandDeed = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 3
	UPDATE t
	SET	CondominiumsCooperativesandHomeownerAssociations = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 4
	UPDATE t
	SET	HomeownerAssociations = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 5
	UPDATE t
	SET	LandlordTenant = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 6
	UPDATE t
	SET	PropertyValuationRealEstateTaxAbatement = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 7
	UPDATE t
	SET	Foreclosures = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 8
	UPDATE t
	SET	ConstructionWorkandMechanicsLiens = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 9
	UPDATE t
	SET	LoanWorkouts = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 10
	UPDATE t
	SET	LandUseDevelopment = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 11
	UPDATE t
	SET	EminentDomainint = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 12
	UPDATE t
	SET	SpeculativeRealEstate = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 13
	UPDATE t
	SET	LimitedPartnerships = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 14
	UPDATE t
	SET	RealEstateSyndications = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 15
	UPDATE t
	SET	RealEstateTrusts = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 16
	UPDATE t
	SET	OtherCommercial = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 17
	UPDATE t
	SET	MortgagesandDeeds = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 18
	UPDATE t
	SET	ForeclosureLoanWorkouts = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 19
	UPDATE t
	SET	OtherResidential = PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 20
	UPDATE t
	SET	LoanWorkoutsResi =  PercentageValue FROM AreaOfPracticeRealEstateLW apre
		INNER JOIN #TempPolicyList t ON t.PolicyKey = apre.PolicyKey WHERE apre.AOPREKey = 21
	


	--select * from #TempPolicyList---------------------------------------------------------------------------------

	UPDATE t1 SET Modifier1 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 1
	UPDATE t1 SET Modifier2 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 2
	UPDATE t1 SET Modifier3 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 3


	UPDATE t SET TotalModifiers = t.Modifier1 + t.Modifier2 + t.Modifier3 from #TempPolicyList t 
	--select * from #TempPolicyList---------------------------------------------------------------------------------

	UPDATE t
	SET Commercial = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 4	
	UPDATE t
	SET	Medical_Malpractise = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 5
	UPDATE t
	SET	Other_Personal_Injury = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 6
	UPDATE t
	SET	Products_Liability = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 8
	
	UPDATE t
	SET	Professional_Liability_Non_Medical = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 9
	
	UPDATE t
	SET	Toxic_Tort = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 11
	
	UPDATE t
	SET	Workers_Compensation = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 12
	
	UPDATE t
	SET	Other = PercentageOfRevenue FROM AreaOfLitigationForFirmLW alff
	INNER JOIN AOLLW ao ON alff.AOLKey = ao.AOLKey		
	INNER JOIN #TempPolicyList t ON alff.PolicyKey = t.Policykey where alff.AOLKey = 13
	

	--------------------------------------------------------------------------

	UPDATE t
	SET YearEndDate_1 = YearEndDate, Amount_1 = Amount FROM GrossRevenueForFirmLW grff
	INNER JOIN #TempPolicyList t ON grff.PolicyKey = t.Policykey where grff.GrossRevenueKey = 1
	UPDATE t
	SET YearEndDate_2 = YearEndDate, Amount_2 = Amount FROM GrossRevenueForFirmLW grff
	INNER JOIN #TempPolicyList t ON grff.PolicyKey = t.Policykey where grff.GrossRevenueKey = 2

	--------------------------------------------------------------------------------------------
	SELECT  row_number() over(partition by PolicyKey order by IsQuoteLetterSend desc) as rid,
			PolicyKey
		,AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		,Limit
		, Deductible
		, ClaimExpensesType
		,IsClaimOptionType
		,TotalPremium
		,InvoicedPremium
		,Modifier
		,Modifier as Total_Modifier
		,NoOfAttroney
		,NumberOfRatedAttorney
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,CONVERT(varchar(20),PriorActDatePross,101) AS Policy_PriorActDatePross
		,CONVERT(varchar(20),PriorActDatePross,101) AS PriorActDatePross
		,FirmYear
		,ProInsPremium
		,CONVERT(varchar(20),PolicyExpirationDatePross,101) AS Policy_ExpirationDatePross
		,CONVERT(varchar(20),PolicyExpirationDatePross,101) AS PolicyExpirationDatePross
		,IsFirmPage
		,IsAopPage
		,IsPracticePage
		,IsCoveragePage
		,IsTaxPage
		,IsEnvironmentalPage
		,IsTitlePage
		,IsWillsEstatePage
		,IsPlaintiffPage
		,IsCorporatePage
		,IsFinancialInsPage
		,IsRealEstatePage
		,CONVERT(varchar(20),PolicyEffectiveDate,101) AS Policy_EffectiveDate
		,CONVERT(varchar(20),PolicyEffectiveDate,101) AS PolicyEffectiveDate
		,IsFirmPracticeInOtherState
		,IsFirmHaveClientInEntertainmentInd
		,IsFirmHaveEquityIntGrtThan10
		,IsAttorneyDeclineForProfLiability
		,IsFirmProvidedLegalServiceToSecurity
		,IsFirmProvidedLegalServiceToInvestment
		,IsFirmProvidedLegalServiceToMoney
		,IsFirmProvidedLegalServiceToInvClient
		,IsFirmHaveClientMoreThan25PercentOfBilling
		,IsPersonnelBeSubOfAnyInvest
		,IsLawyerProfLiabClaimAgntAppl
		,IsAnyActOmmBecomeClaimAgntFirm
		,REPLACE(REPLACE(Comment, CHAR(10),''),CHAR(13), '') as Comment,IsFirmMergedWithOtherFirm
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AOP_Percentage_25
		,REPLACE(REPLACE(OthersDesc, CHAR(13), ''), CHAR(10), '') as OthersDesc,IsManualPremium,SubProducerNumber
		,ResidentialPurchaseandSale
		,CommercialPurchaseandSale
		,MortgagesandDeed
		,CondominiumsCooperativesandHomeownerAssociations
		,HomeownerAssociations
		,LandlordTenant
		,PropertyValuationRealEstateTaxAbatement
		,Foreclosures
		,ConstructionWorkandMechanicsLiens
		,LoanWorkouts
		,LandUseDevelopment
		,EminentDomainint
		,SpeculativeRealEstate
		,LimitedPartnerships
		,RealEstateSyndications
		,RealEstateTrusts
		,OtherCommercial
		,MortgagesandDeeds
		,ForeclosureLoanWorkouts
		,OtherResidential
		,LoanWorkoutsResi
		,IsApplInitiatedLawsuitForFirm
		,PolicyStatus
		,TotalNumOfNonAttorneyStaff
		,PolicyNumber
		,RenewOfPolicyNumber
		,AccountEmail
		,Is9010Policy
		,IsAttorneyAddedDeleted
		,Reviewer
		,CONVERT(varchar(20),PolicyExpirationDate,101) AS Policy_ExpirationDate
		,CONVERT(varchar(20),PolicyExpirationDate,101) AS PolicyExpirationDate
		,ContactPerson
		,Address1
		,Address2
		,County
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,IsDollarDefense
		,Commercial
		,Medical_Malpractise
		,Other_Personal_Injury
		,Products_Liability
		,Professional_Liability_Non_Medical
		,Toxic_Tort
		,Workers_Compensation
		,Other
		,City
		,CONVERT(varchar(20),CreatedDate,101) AS Policy_CreatedDate
		,CONVERT(varchar(20),CreatedDate,101) AS CreatedDate
		, ZipCode
		,YearEndDate_1
		,CAST(Amount_1 as bigint) as Amount_1
		,YearEndDate_2
		,CAST(Amount_2 as bigint) as Amount_2
		
		,IsQuoteLetterSend
		,CONVERT(varchar(20),NotAcceptedDate,101) AS Policy_NotAcceptedDate
		,CONVERT(varchar(20),IssuedDate,101) AS Policy_IssuedDate
		FROM #TempPolicyList 
	--where policykey = 8109
	ORDER BY policykey, AccountID

END


GO
