USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateTaxSupplement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateTaxSupplement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateTaxSupplement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateTaxSupplement_p] AS' 
END
GO
ALTER  PROCEDURE [dbo].[InsertUpdateTaxSupplement_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml XML,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN

	IF NOT EXISTS (select TaxAOPKey from TaxSuppDetailsLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO TaxSuppDetailsLW(TaxAOPKey, revenuePercentage,TaxCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				 doc.col.value('TaxAOPKey[1]', 'INT') TaxAOPKey,
				doc.col.value('revenuePercentage[1]', 'INT') revenuePercentage, 
				doc.col.value('TaxCommentDesc[1]', 'VARCHAR(500)') TaxCommentDesc ,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence
				,@LastUpdateUserID,@LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey, 
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'VARCHAR(100)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('TaxAOPKey[1]', 'INT') TaxAOPKey,
				doc.col.value('revenuePercentage[1]', 'INT') revenuePercentage, 
				doc.col.value('TaxCommentDesc[1]', 'VARCHAR(500)') TaxCommentDesc ,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE tsd
			SET 
			 tsd.revenuePercentage =tx.revenuePercentage,
			 tsd.TaxCommentDesc =tx.TaxCommentDesc,
			 tsd.LastUpdateUserID =tx.LastUpdateUserID,
			 tsd.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM TaxSuppDetailsLW tsd
			inner join #temp_xml tx 
			on (tsd.TaxAOPKey=tx.TaxAOPKey and tsd.PolicyKey=tx.PolicyKey and tsd.VersionSequence=tx.VersionSequence)
		END


		--DELETE FROM TaxSuppDetailsLW WHERE POLICYKEY=@PolicyKey

		--	INSERT INTO TaxSuppDetailsLW(TaxAOPKey, revenuePercentage,TaxCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
		--	SELECT
		--		 doc.col.value('TaxAOPKey[1]', 'INT') TaxAOPKey,
		--		doc.col.value('revenuePercentage[1]', 'INT') revenuePercentage, 
		--		doc.col.value('TaxCommentDesc[1]', 'VARCHAR(500)') TaxCommentDesc ,
		--		doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
		--		doc.col.value('VersionSequence[1]', 'int') VersionSequence
		--		,@LastUpdateUserID,@LastUpdateTimeStamp
		--	FROM @xml.nodes('/Root/Root1') doc(col)
			

END



GO
