USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HouseKeepingUpdate_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[HouseKeepingUpdate_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HouseKeepingUpdate_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[HouseKeepingUpdate_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[HouseKeepingUpdate_p]
	(
	@PolicyKey INT,
	@AccountID INT,
	@AddressKey INT,
	@ContactPerson varchar(100),
	@Website varchar(100),
	@secondayContactPerson varchar(500),
	@otherPhone varchar(100),
	@secondaryEmail varchar(100),
	@isQuoteByEmail char,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50),
	@bankruptcyImplementationDate DATETIME
	)
AS
BEGIN
DECLARE @isAppCompleted CHAR,@AccountKey INT
Set @AccountKey=(select top 1 AccountKey from PolicyTransaction Where PolicyKey=@PolicyKey)
set @isAppCompleted=(SELECT top 1 FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,'2017-12-06 00:00:00.0','2021-01-01 00:00:00.0',@bankruptcyImplementationDate))

	UPDATE FIRMLW SET isAppCompleted=@isAppCompleted,ContactPerson=@ContactPerson, secondayContactPerson=@secondayContactPerson, isQuoteByEmail=@isQuoteByEmail,isFirmPage='Y', LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey

	UPDATE ACCOUNT SET secondaryEmail=@secondaryEmail, Website=@Website, LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE @AccountID=AccountID

	UPDATE ADDRESS SET otherPhone=@otherPhone, LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE AddressKey=@AddressKey
	
	UPDATE POLICY SET isUncompletedData='N', LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE POLICYKEY=@Policykey
	--UPDATE FirmLW SET isAppCompleted='Y' WHERE PolicyKey=@PolicyKey
END




GO
