USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateEstimationPremiumDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateEstimationPremiumDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateEstimationPremiumDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateEstimationPremiumDetails_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertUpdateEstimationPremiumDetails_p]
(
@PolicyKey INT
)
AS
BEGIN

Declare @TransactionSequence INT,@TotalPremium Numeric(17,5),@TotalPolicyTaxAmount Numeric(17,2),@InvoicedPremium  Numeric(17,2)
	
	Declare c1 cursor for
       select Policykey,TransactionSequence,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium from Policytransaction 		where Policykey=@PolicyKey order by PolicyKey
     
	   OPEN c1
       FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@TotalPremium,@TotalPolicyTaxAmount,@InvoicedPremium
       WHILE @@FETCH_STATUS = 0
              begin
              
			   
			
				
				IF NOT EXISTS(Select * from EstimationPremiumDetails where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence)
					BEGIN

						INSERT INTO EstimationPremiumDetails(EstimationType,MarketableProductKey,PolicyKey,TransactionSequence,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium) 
						Select 'Indication',p.MarketableProductKey,pt.PolicyKey,pt.TransactionSequence,pt.TotalPremium,pt.TotalPolicyTaxAmount,pt.InvoicedPremium 
						from Policytransaction pt 	inner join Policy p on pt.Policykey=p.Policykey where pt.Policykey=@Policykey and TransactionSequence=@TransactionSequence
			
					END
				else
					Begin
					IF NOT EXISTS(Select * from EstimationPremiumDetails where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence and TotalPremium=@TotalPremium and InvoicedPremium=@InvoicedPremium)
					BEGIN

						UPDATE EstimationPremiumDetails set TotalPremium=@TotalPremium,TotalPolicyTaxAmount=@TotalPolicyTaxAmount,InvoicedPremium=@InvoicedPremium
						where Policykey=@PolicyKey and TransactionSequence=@TransactionSequence
					END
			END
	


          FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@TotalPremium,@TotalPolicyTaxAmount,@InvoicedPremium
              end
              CLOSE c1
              DEALLOCATE c1

END


GO
