USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatabaseTransfersToISMIEPolicyInsert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DatabaseTransfersToISMIEPolicyInsert]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatabaseTransfersToISMIEPolicyInsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DatabaseTransfersToISMIEPolicyInsert] AS' 
END
GO

--exec DatabaseTransfersToISMIEPolicyInsert 
ALTER PROCEDURE [dbo].[DatabaseTransfersToISMIEPolicyInsert]
AS
BEGIN

	exec DatabaseTransfersToISMIEPolicyTruncate

	Create Table #TempInsertPolicies(
		ROWNUMBER int,
		AccountID int
	)

	insert into #TempInsertPolicies(ROWNUMBER, AccountID)
	select ROW_NUMBER() OVER(ORDER BY AccountID) AS ROWNUMBER,AccountID from(
	select distinct AccountID from Policy policy 
	inner join Company company on company.CompanyKey = policy.CompanyKey
	where company.Code = 'ISMIE') accounts
	order by accounts.AccountID

	--select * from #TempInsertPolicies
	--order by ROWNUMBER

	DECLARE @COUNTER INT = (SELECT COUNT(ROWNUMBER) FROM #TempInsertPolicies);
	DECLARE @ROW INT = 1;
	DECLARE @AddressKey varchar(500);
	DECLARE @AddressSQL varchar(500);
	
	Declare @AccountID int;

	WHILE (@ROW <= @COUNTER)
	BEGIN
		SELECT @ROW = ROWNUMBER, @AccountID=AccountID FROM #TempInsertPolicies WHERE ROWNUMBER = @ROW ORDER BY ROWNUMBER
		
		--print @AccountID
		
		insert into accinsurancedb_ISMIE.dbo.Account ([AccountKey],[AccountID],[AccountName],[Website],[AccountEmail],[AccountVersion],[LoginID],[secondaryEmail]) Select [AccountKey],[AccountID],[AccountName],[Website],[AccountEmail],[AccountVersion],[LoginID],[secondaryEmail] From Account Where AccountID = @AccountID;
		insert into accinsurancedb_ISMIE.dbo.Address ([AddressKey],[Address1],[Address2],[City],[StateCode],[AddressTypeKey],[Zip],[Zip4],[HomePhone],[WorkPhone],[WorkExt],[MobilePhone],[CountyDesc],[CountryDesc],[Street],[otherPhone],[countyKey],[cityKey]) Select [AddressKey],[Address1],[Address2],[City],[StateCode],[AddressTypeKey],[Zip],[Zip4],[HomePhone],[WorkPhone],[WorkExt],[MobilePhone],[CountyDesc],[CountryDesc],[Street],[otherPhone],[countyKey],[cityKey] From Address Where AddressKey IN (Select AddressKey From AccountAddress Where AccountKey IN (Select AccountKey From Account Where AccountID = @AccountID));
		insert into accinsurancedb_ISMIE.dbo.AccountAddress ([AccountKey],[AddressKey],[AccountAddressKey]) Select [AccountKey],[AddressKey],[AccountAddressKey] From AccountAddress Where AccountKey IN (Select AccountKey From Account Where AccountID = @AccountID);

		insert into accinsurancedb_ISMIE.dbo.Policy ([PolicyKey],[PolicyEffectiveDate],[AccountID],[PolicyNumber],[isUncompletedData],[QuoteNumber],[IsFullQuote],[IsQuickQuote],[MarketableProductKey],[ReasonStatusComment],[ReasonStatusTypeKey],[PolicyStatusKey],[InsuredUpdateTimeStamp],[AppCreatedDate],[RenewOfPolicyNumber],[QuoteType],[TransactionCount],[FormId],[FormVersionKey],[CompanyKey]) Select [PolicyKey],[PolicyEffectiveDate],[AccountID],[PolicyNumber],[isUncompletedData],[QuoteNumber],[IsFullQuote],[IsQuickQuote],[MarketableProductKey],[ReasonStatusComment],[ReasonStatusTypeKey],[PolicyStatusKey],[InsuredUpdateTimeStamp],[AppCreatedDate],[RenewOfPolicyNumber],[QuoteType],[TransactionCount],[FormId],[FormVersionKey],[CompanyKey] From Policy Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.Version Select * From Version Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.FirmLW ([ContactPerson],[ContactPhone],[IsFirmCarryingProfLiabilityIns],[IsPolicyExcludesCoverage],[IsQuickQuoteByEmail],[IsAnAgentCall],[ContactPhoneExt],[IsBasicPage],[IsGeneralPage],[IsEntertainmentPage],[IsClientTerminated],[FirstReviewUserID],[VersionSequence],[LicenseNumber],[IsQuotePage],[PolicyKey],[YearOfFirmEstablished],[IsFirmPracticeInOtherState],[IsFirmHaveClientInEntertainmentInd],[IsFirmInvolvedInClassActionCase],[IsFirmProvidedLegalServiceToSecurity],[IsFirmHaveClientMoreThan25PercentOfBilling],[PercentFromFirstLargestRevenueClient],[PercentFromSecondLargestRevenueClient],[ServicesRenderedFirstLargestRevenueClient],[ServicesRenderedSecondLargestRevenueClient],[IsFirmHaveLawyersLiabilityInsurance],[PolicyExcludeCoverageForAffiliatesDesc],[IsFirmCoverageForPreceedorFirms],[IsFirmHaveEquityIntGrtThan10],[IsFirmPersServedAsOfficerInJointVenture],[IsApplicantProvidesLegalServices],[ApplicantProvidesLegalServicesDesc],[IsAttorneyNotCoveredByProfLiability],[IsAppOfficeSharedWithAttorney],[TotalNumOfNonAttorneyStaff],[IsFirmHaveIndepDockets],[IsFirmRequireEngagementLetter],[IsNonEngagementLetterIssueToFirm],[IsPolicyProhibitAttorneyWithInvestment],[IsEmplRelativeToConfInfomation],[PercentofApplAcctRcbl],[IsApplInitiatedLawsuitForFirm],[IsAttorneyDeclineForProfLiability],[AttorneyDeclineForProfLiabilityDates],[AttorneyDeclineForProfLiabilityReasons],[IsIndependentContractor],[IsFirmHaveBackupAttorney],[PerOfGrossBillingsUnderContract],[BackupAttorneyName],[BackupAttorneyAddress],[BackupAttorneyPhoneNumber],[IsFirmHaveProcForFormersClients],[IsLawyerProfLiabClaimAgntAppl],[IsPersonnelBeSubOfAnyInvest],[IsAnyActOmmBecomeClaimAgntFirm],[ApplicantName],[IsApplRestWithManagement],[ApplRestWithManagementDesc],[PersonnelBeSubOfAnyInvestDate],[PersonnelBeSubOfAnyInvestDetails],[IsTaxPage],[IsEnvironmentalPage],[IsSecuritiesPage],[IsTitlePage],[IsWillsEstatePage],[IsPlaintiffPage],[IsRealEstatePage],[IsFinancialInsPage],[IsIntellectPropPage],[IsCorporatePage],[IsFirmMergedWithOtherFirm],[IsAopPage],[IsPracticePage],[IsCoveragePage],[IsFirmPage],[IsApplIntToFinanAssests],[IsPolicyIncludeLateralHireCov],[IsFirmProvidedLegalServiceToInvestment],[IsFirmProvidedLegalServiceToMoney],[IsFirmProvidedLegalServiceToInvClient],[BackupAttorneyAddress2],[NumberOfLawyers],[IsQuickQuotePage],[IsClaimInLastFiveYears],[QuoteEffectiveDate],[QuoteExpiryDate],[IsReceiveNewsLetter],[IsFirmReferred],[Comment],[ModifierComment],[IsQuoteViewedByInsured],[AcceptanceDate],[QuoteSentDate],[IsViewed],[IsTaxCalculation],[QuoteComment],[IsQuickQuoteMailSent],[IsLicenseNumberUpdated],[IssuedDate],[IsRealEstateCommercialPage],[IsRealEstateResidentialPage],[IsApplFirmWithDifferentLegalName],[ApplLegalNameAddressDesc],[IsFirmEquityInterestInTitleInsurance],[IsFirmProvidedLegalServiceDesc],[IsFirmProvidedLegalService],[IsFirmProvideInvestmentAdvice],[ClientNameFirstLargestRevenueClient],[ClientNameSecondLargestRevenueClient],[DateRenderedFirstLargestRevenueClient],[DateRenderedSecondLargestRevenueClient],[IsRenewed],[IsComingFromSubProducer],[MarketingId],[IsAttorneyAddedDeleted],[IsRenewFirmPage],[Is9010Policy],[GrossFeesPaidRenew],[IsRenewalReview],[RenewalReviewComments],[IsSpecialIssuance],[SpecialIssuanceComments],[IsOffRiskLetterUploaded],[isPricingApproved],[isComingFromUWFlow],[FollowUnderwriterFlow],[isRatingsChnaged],[ReferralCountHistory],[withdrawOrDisengaged],[actAgentForPublicFigures],[provideProfessionalContract],[provideMoneyManagementServices],[custodyOrControlFunds],[securityAwareness],[isFirmCoverageForPreceedorFirmsDescription],[disbursementTransaction],[peopleToDisburseFunds],[instructionsDocumentedReceivingParty],[doucumentedProtocolsAndAuthority],[secondayContactPerson],[isQuoteByEmail],[AnnualRevenueSequence],[FirmInvestmentAdviceDesc],[isServedAsCEOChairmanPresident],[isPolicyExcludeCoverage],[isPolicyExcludeCoverageDescription],[UnderwriterComment],[PricingStatus],[isCyberCoverageRequired],[haveFraudSecurityAwarenessProgram],[needCyberCoverage],[completedPageCommemnt],[NumberOfLawyers500],[NumberOfLawyers1000],[IsIndicationPage],[NameClearType],[NameClearDate],[isNameClearanceRequired],[IsFormDocumentSigned],[SubProducerComment],[IsThankYouEmailSend],[IsIndicationMailSent],[ModifierChecking],[FinalisedTransactionSequence],[IsAOPChange],[IndicationSentDate],[IsFirmProvidedLegalServiceCCB],[isPolicyWentToUnderwriting],[isCannibSuppPage]) Select [ContactPerson],[ContactPhone],[IsFirmCarryingProfLiabilityIns],[IsPolicyExcludesCoverage],[IsQuickQuoteByEmail],[IsAnAgentCall],[ContactPhoneExt],[IsBasicPage],[IsGeneralPage],[IsEntertainmentPage],[IsClientTerminated],[FirstReviewUserID],[VersionSequence],[LicenseNumber],[IsQuotePage],[PolicyKey],[YearOfFirmEstablished],[IsFirmPracticeInOtherState],[IsFirmHaveClientInEntertainmentInd],[IsFirmInvolvedInClassActionCase],[IsFirmProvidedLegalServiceToSecurity],[IsFirmHaveClientMoreThan25PercentOfBilling],[PercentFromFirstLargestRevenueClient],[PercentFromSecondLargestRevenueClient],[ServicesRenderedFirstLargestRevenueClient],[ServicesRenderedSecondLargestRevenueClient],[IsFirmHaveLawyersLiabilityInsurance],[PolicyExcludeCoverageForAffiliatesDesc],[IsFirmCoverageForPreceedorFirms],[IsFirmHaveEquityIntGrtThan10],[IsFirmPersServedAsOfficerInJointVenture],[IsApplicantProvidesLegalServices],[ApplicantProvidesLegalServicesDesc],[IsAttorneyNotCoveredByProfLiability],[IsAppOfficeSharedWithAttorney],[TotalNumOfNonAttorneyStaff],[IsFirmHaveIndepDockets],[IsFirmRequireEngagementLetter],[IsNonEngagementLetterIssueToFirm],[IsPolicyProhibitAttorneyWithInvestment],[IsEmplRelativeToConfInfomation],[PercentofApplAcctRcbl],[IsApplInitiatedLawsuitForFirm],[IsAttorneyDeclineForProfLiability],[AttorneyDeclineForProfLiabilityDates],[AttorneyDeclineForProfLiabilityReasons],[IsIndependentContractor],[IsFirmHaveBackupAttorney],[PerOfGrossBillingsUnderContract],[BackupAttorneyName],[BackupAttorneyAddress],[BackupAttorneyPhoneNumber],[IsFirmHaveProcForFormersClients],[IsLawyerProfLiabClaimAgntAppl],[IsPersonnelBeSubOfAnyInvest],[IsAnyActOmmBecomeClaimAgntFirm],[ApplicantName],[IsApplRestWithManagement],[ApplRestWithManagementDesc],[PersonnelBeSubOfAnyInvestDate],[PersonnelBeSubOfAnyInvestDetails],[IsTaxPage],[IsEnvironmentalPage],[IsSecuritiesPage],[IsTitlePage],[IsWillsEstatePage],[IsPlaintiffPage],[IsRealEstatePage],[IsFinancialInsPage],[IsIntellectPropPage],[IsCorporatePage],[IsFirmMergedWithOtherFirm],[IsAopPage],[IsPracticePage],[IsCoveragePage],[IsFirmPage],[IsApplIntToFinanAssests],[IsPolicyIncludeLateralHireCov],[IsFirmProvidedLegalServiceToInvestment],[IsFirmProvidedLegalServiceToMoney],[IsFirmProvidedLegalServiceToInvClient],[BackupAttorneyAddress2],[NumberOfLawyers],[IsQuickQuotePage],[IsClaimInLastFiveYears],[QuoteEffectiveDate],[QuoteExpiryDate],[IsReceiveNewsLetter],[IsFirmReferred],[Comment],[ModifierComment],[IsQuoteViewedByInsured],[AcceptanceDate],[QuoteSentDate],[IsViewed],[IsTaxCalculation],[QuoteComment],[IsQuickQuoteMailSent],[IsLicenseNumberUpdated],[IssuedDate],[IsRealEstateCommercialPage],[IsRealEstateResidentialPage],[IsApplFirmWithDifferentLegalName],[ApplLegalNameAddressDesc],[IsFirmEquityInterestInTitleInsurance],[IsFirmProvidedLegalServiceDesc],[IsFirmProvidedLegalService],[IsFirmProvideInvestmentAdvice],[ClientNameFirstLargestRevenueClient],[ClientNameSecondLargestRevenueClient],[DateRenderedFirstLargestRevenueClient],[DateRenderedSecondLargestRevenueClient],[IsRenewed],[IsComingFromSubProducer],[MarketingId],[IsAttorneyAddedDeleted],[IsRenewFirmPage],[Is9010Policy],[GrossFeesPaidRenew],[IsRenewalReview],[RenewalReviewComments],[IsSpecialIssuance],[SpecialIssuanceComments],[IsOffRiskLetterUploaded],[isPricingApproved],[isComingFromUWFlow],[FollowUnderwriterFlow],[isRatingsChnaged],[ReferralCountHistory],[withdrawOrDisengaged],[actAgentForPublicFigures],[provideProfessionalContract],[provideMoneyManagementServices],[custodyOrControlFunds],[securityAwareness],[isFirmCoverageForPreceedorFirmsDescription],[disbursementTransaction],[peopleToDisburseFunds],[instructionsDocumentedReceivingParty],[doucumentedProtocolsAndAuthority],[secondayContactPerson],[isQuoteByEmail],[AnnualRevenueSequence],[FirmInvestmentAdviceDesc],[isServedAsCEOChairmanPresident],[isPolicyExcludeCoverage],[isPolicyExcludeCoverageDescription],[UnderwriterComment],[PricingStatus],[isCyberCoverageRequired],[haveFraudSecurityAwarenessProgram],[needCyberCoverage],[completedPageCommemnt],[NumberOfLawyers500],[NumberOfLawyers1000],[IsIndicationPage],[NameClearType],[NameClearDate],[isNameClearanceRequired],[IsFormDocumentSigned],[SubProducerComment],[IsThankYouEmailSend],[IsIndicationMailSent],[ModifierChecking],[FinalisedTransactionSequence],[IsAOPChange],[IndicationSentDate],[IsFirmProvidedLegalServiceCCB],[isPolicyWentToUnderwriting],[isCannibSuppPage] From FirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.Firm ([ContactPerson],[ContactPhone],[IsFirmRenderingServices],[IsCoverageIncludedForThisEntity],[TotalFirmPersonnel],[IsAnyFirmMeargedOrAcquired],[IsReducedNumberOfOwners],[IsFirmCarryingProfLiabilityIns],[IsPriorAct],[IsFullPriorAct],[PriorActDate],[IsPolicyExcludesCoverage],[RetroDate],[RetroFirmName],[PercentOfRevenueFromLargestClient],[PercentOfRevenueFromSecondLargestClient],[ClientIndustryIDofLargestClient],[ClientIndustryIDofSecondLargestClient],[ServiceIndustryIDofLargestClient],[ServiceIndustryIDofSecondLargestClient],[IsQualityReviewOfferedByAICPA],[IsCommissionRecieved],[IsPublicTradedAudited],[IsServedAsTrustee],[IsPublicPrivateOfferingsDone],[PublicPrivateFirmName],[PublicPrivateYearsOfExperience],[IsInvestmentVenture],[IsDebtOrEquityFinancing],[IsManagementServiceProvided],[IsNonPublicInvestmentDone],[IsFirmRenderedServiceForAnyClient],[IsNonMonetaryCompensationRecieved],[CurrentValueNmc],[ClientNameNmc],[ClientIndustryNmcKey],[ServiceIndustryNmcKey],[MergedOrNumberComment],[IsFirmRenderedAuditOrAttestService],[IsSuitInstituted],[AgainstHowManyClients],[IsSignedEngagement],[IsControlClientFunds],[IsAnyRegulatoryInquiry],[IsAwarenessOfAnyProfLiability],[IsAwarenessOfAnyProfLiabilitySuitAgainst],[Email],[OtherLargestClientIndustry],[OtherLargestServiceIndustry],[OtherClientIndSecondLargestClient],[OtherServiceIndSecondLargestClient],[LastUpdateUserID],[LastUpdateTimeStamp],[IsFirmsRevenueMorethan25Percent],[IsFirmAttendedRiskMagtSeminarIn3Years],[RegulatoryInquiryExaplain],[RegulatoryInquiryComment],[IsFirmDeclinedOtherthanNonPayment],[ReasonForDecline],[ReasonForDeclineComment],[IsPredecessorsOrInvestVentures],[IsSyndicationManagers],[IsQuickQuoteByEmail],[IsAnAgentCall],[ContactPhoneExt],[IsRatingDone],[IsBasicPage],[IsGeneralPage],[IsSupplementPage],[IsClientTerminated],[IsAnyDeclination],[IsPolicyProhibiting],[IsWrittenAnyQualityControlDocument],[IsAttesationPage],[IsComputerServicePage],[OtherITServiceComment],[IsBusinessFundPage],[IsPracriceMangPage],[ServiceIndustryofLargestClient],[ServiceIndustryofSecondLargestClient],[FirstReviewUserID],[PolicyKey],[VersionSequence],[ClientIndustryNmcKeyOthers],[ServiceIndustryNmcKeyOthers],[LicenseNumber],[IsQuotePage],[Comment],[IsLicenseNumberUpdated],[QuoteEffectiveDate],[QuoteExpiryDate],[AcceptanceDate],[ModifierComment],[IsClaimsInLast5Year],[IsQuickQuotePage],[IsFirmReferred],[GeneralExplain],[GeneralComment],[IsViewed],[IssuedDate],[IsReceiveNewsLetter],[CreatedType],[IsInsuredViewed],[IsTaxCalculation],[IsRenewed],[QuoteComment],[RenewBasicInfoPage],[IsRenewFirmReferred],[IsRenewalReview],[RenewalReviewComments],[AverageRevenue],[SwapRevenueYear],[IsSpecialIssuance],[SpecialIssuanceComments],[IsOffRiskLetterUploaded],[isPricingApproved],[isComingFromUWFlow],[FollowUnderwriterFlow],[isRatingsChnaged],[ReferralCountHistory],[PricingStatus],[UnderwriterComment],[IsFirmHaveLawyersLiabilityInsurance],[QuoteSentDate],[MarketingId],[IsThankYouEmailSend],[IsFirmPage],[IsCoveragePage],[needCyberCoverage],[IsOrganisationInvestmentVentures],[IsArrangedDebtorEquity],[IsReferralsInvestmentVentures],[Totalpersonnel],[CPAPersonnel],[IsIndicationMailSent],[IsAOPChange],[completedPageCommemnt],[IndicationSentDate],[IsIndicationPage],[isPolicyWentToUnderwriting],[isFromInsureLink]) Select [ContactPerson],[ContactPhone],[IsFirmRenderingServices],[IsCoverageIncludedForThisEntity],[TotalFirmPersonnel],[IsAnyFirmMeargedOrAcquired],[IsReducedNumberOfOwners],[IsFirmCarryingProfLiabilityIns],[IsPriorAct],[IsFullPriorAct],[PriorActDate],[IsPolicyExcludesCoverage],[RetroDate],[RetroFirmName],[PercentOfRevenueFromLargestClient],[PercentOfRevenueFromSecondLargestClient],[ClientIndustryIDofLargestClient],[ClientIndustryIDofSecondLargestClient],[ServiceIndustryIDofLargestClient],[ServiceIndustryIDofSecondLargestClient],[IsQualityReviewOfferedByAICPA],[IsCommissionRecieved],[IsPublicTradedAudited],[IsServedAsTrustee],[IsPublicPrivateOfferingsDone],[PublicPrivateFirmName],[PublicPrivateYearsOfExperience],[IsInvestmentVenture],[IsDebtOrEquityFinancing],[IsManagementServiceProvided],[IsNonPublicInvestmentDone],[IsFirmRenderedServiceForAnyClient],[IsNonMonetaryCompensationRecieved],[CurrentValueNmc],[ClientNameNmc],[ClientIndustryNmcKey],[ServiceIndustryNmcKey],[MergedOrNumberComment],[IsFirmRenderedAuditOrAttestService],[IsSuitInstituted],[AgainstHowManyClients],[IsSignedEngagement],[IsControlClientFunds],[IsAnyRegulatoryInquiry],[IsAwarenessOfAnyProfLiability],[IsAwarenessOfAnyProfLiabilitySuitAgainst],[Email],[OtherLargestClientIndustry],[OtherLargestServiceIndustry],[OtherClientIndSecondLargestClient],[OtherServiceIndSecondLargestClient],[LastUpdateUserID],[LastUpdateTimeStamp],[IsFirmsRevenueMorethan25Percent],[IsFirmAttendedRiskMagtSeminarIn3Years],[RegulatoryInquiryExaplain],[RegulatoryInquiryComment],[IsFirmDeclinedOtherthanNonPayment],[ReasonForDecline],[ReasonForDeclineComment],[IsPredecessorsOrInvestVentures],[IsSyndicationManagers],[IsQuickQuoteByEmail],[IsAnAgentCall],[ContactPhoneExt],[IsRatingDone],[IsBasicPage],[IsGeneralPage],[IsSupplementPage],[IsClientTerminated],[IsAnyDeclination],[IsPolicyProhibiting],[IsWrittenAnyQualityControlDocument],[IsAttesationPage],[IsComputerServicePage],[OtherITServiceComment],[IsBusinessFundPage],[IsPracriceMangPage],[ServiceIndustryofLargestClient],[ServiceIndustryofSecondLargestClient],[FirstReviewUserID],[PolicyKey],[VersionSequence],[ClientIndustryNmcKeyOthers],[ServiceIndustryNmcKeyOthers],[LicenseNumber],[IsQuotePage],[Comment],[IsLicenseNumberUpdated],[QuoteEffectiveDate],[QuoteExpiryDate],[AcceptanceDate],[ModifierComment],[IsClaimsInLast5Year],[IsQuickQuotePage],[IsFirmReferred],[GeneralExplain],[GeneralComment],[IsViewed],[IssuedDate],[IsReceiveNewsLetter],[CreatedType],[IsInsuredViewed],[IsTaxCalculation],[IsRenewed],[QuoteComment],[RenewBasicInfoPage],[IsRenewFirmReferred],[IsRenewalReview],[RenewalReviewComments],[AverageRevenue],[SwapRevenueYear],[IsSpecialIssuance],[SpecialIssuanceComments],[IsOffRiskLetterUploaded],[isPricingApproved],[isComingFromUWFlow],[FollowUnderwriterFlow],[isRatingsChnaged],[ReferralCountHistory],[PricingStatus],[UnderwriterComment],[IsFirmHaveLawyersLiabilityInsurance],[QuoteSentDate],[MarketingId],[IsThankYouEmailSend],[IsFirmPage],[IsCoveragePage],[needCyberCoverage],[IsOrganisationInvestmentVentures],[IsArrangedDebtorEquity],[IsReferralsInvestmentVentures],[Totalpersonnel],[CPAPersonnel],[IsIndicationMailSent],[IsAOPChange],[completedPageCommemnt],[IndicationSentDate],[IsIndicationPage],[isPolicyWentToUnderwriting],[isFromInsureLink] From Firm Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);

		insert into accinsurancedb_ISMIE.dbo.PolicyTransaction ([PolicyKey],[TransactionSequence],[TransactionEffectiveDate],[TransactionTypeKey],[PolicyExpirationDate],[AccountKey],[TransactionExpirationDate],[ProducerCode],[TotalPremium],[StatusKey],[TotalPolicyModifierPercentage],[TotalPolicyTaxAmount],[InvoicedPremium],[SubInsuranceCarrier]) Select [PolicyKey],[TransactionSequence],[TransactionEffectiveDate],[TransactionTypeKey],[PolicyExpirationDate],[AccountKey],[TransactionExpirationDate],[ProducerCode],[TotalPremium],[StatusKey],[TotalPolicyModifierPercentage],[TotalPolicyTaxAmount],[InvoicedPremium],[SubInsuranceCarrier] From PolicyTransaction Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.Quote ([PolicyKey],[TransactionSequence],[QuoteEffectiveDate],[QuoteExpiryDate],[IsThisOptionFinalised],[AcceptanceDate],[IsQuoteSelected],[IsFirstQuote],[Comment],[ClaimsMadeYearDesc],[TotalPremiumFirstRange],[IsMinimumPremium],[QuoteDate],[isShowQuote],[QuoteKey]) Select [PolicyKey],[TransactionSequence],[QuoteEffectiveDate],[QuoteExpiryDate],[IsThisOptionFinalised],[AcceptanceDate],[IsQuoteSelected],[IsFirstQuote],[Comment],[ClaimsMadeYearDesc],[TotalPremiumFirstRange],[IsMinimumPremium],[QuoteDate],[isShowQuote],[QuoteKey] From Quote Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.RatingTrace ([PolicyKey],[TransactionSequence],[RatingTraceSequence],[XmlInputDatatoRating],[XmlOutputDatafromRating],[RatingDate]) Select [PolicyKey],[TransactionSequence],[RatingTraceSequence],[XmlInputDatatoRating],[XmlOutputDatafromRating],[RatingDate] From RatingTrace Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.PolicyCoverage ([CoverageSequence],[PolicyKey],[TransactionSequence],[MarketableProductKey],[CoverageKey],[Premium],[RetroActiveDate],[IsClaimOptionType],[IsClaimExpensesType],[SOISequence],[AggregateLimit],[OccuranceLimit],[OccuranceDeductible],[AggregateDeductible],[TotalCovModifierPercentage],[TotalCoverageTaxAmount],[InitialCovPremium],[Exposure],[RiskState],[RiskZip],[ERPDate],[Commission],[AttachmentPoint],[PrimaryAccess],[ClassCode],[IsDollarDefense],[ManualPremium],[IsManualPremium]) Select [CoverageSequence],[PolicyKey],[TransactionSequence],[MarketableProductKey],[CoverageKey],[Premium],[RetroActiveDate],[IsClaimOptionType],[IsClaimExpensesType],[SOISequence],[AggregateLimit],[OccuranceLimit],[OccuranceDeductible],[AggregateDeductible],[TotalCovModifierPercentage],[TotalCoverageTaxAmount],[InitialCovPremium],[Exposure],[RiskState],[RiskZip],[ERPDate],[Commission],[AttachmentPoint],[PrimaryAccess],[ClassCode],[IsDollarDefense],[ManualPremium],[IsManualPremium] From PolicyCoverage Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.CoverageModifiers ([PolicyKey],[TransactionSequence],[CoverageSequence],[ModifierKey],[Percentage],[Comment],[RenewalPercentage]) Select [PolicyKey],[TransactionSequence],[CoverageSequence],[ModifierKey],[Percentage],[Comment],[RenewalPercentage] From CoverageModifiers Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);

		insert into accinsurancedb_ISMIE.dbo.AdditionalFormDataLW ([FormDataKey],[PolicyKey],[PredecessorFirmName_1],[PriorActsDate_1],[PredecessorFirmName_2],[PriorActsDate_2],[PredecessorFirmName_3],[PriorActsDate_3],[IsPredecessorFormSelected],[PersonOrEntity_1],[PersonOrEntity_2],[PersonOrEntity_3],[IsSpecifiedAttorneySelected],[IsSpecificProfServicesSelected],[DisputeRenderedOnBehalfOf],[ClaimRenderedOnBehalfOf],[IsPreviouFirmFormSelected],[PreviousFirmName],[IsSuitForFeesAction],[PreviousAttorneyName_1],[PreviousAttorneyName_2],[PreviousAttorneyName_3]) Select [FormDataKey],[PolicyKey],[PredecessorFirmName_1],[PriorActsDate_1],[PredecessorFirmName_2],[PriorActsDate_2],[PredecessorFirmName_3],[PriorActsDate_3],[IsPredecessorFormSelected],[PersonOrEntity_1],[PersonOrEntity_2],[PersonOrEntity_3],[IsSpecifiedAttorneySelected],[IsSpecificProfServicesSelected],[DisputeRenderedOnBehalfOf],[ClaimRenderedOnBehalfOf],[IsPreviouFirmFormSelected],[PreviousFirmName],[IsSuitForFeesAction],[PreviousAttorneyName_1],[PreviousAttorneyName_2],[PreviousAttorneyName_3] From AdditionalFormDataLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.AreaOfLitigationForFirmLW Select * From AreaOfLitigationForFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.AreaOfPracticeLW ([AOPKey],[PercentageValue],[AOPCommentDesc],[PolicyKey],[AreaOfPracticeKey],[AreaOfPracticeCode]) Select [AOPKey],[PercentageValue],[AOPCommentDesc],[PolicyKey],[AreaOfPracticeKey],[AreaOfPracticeCode] From AreaOfPracticeLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.AreaOfPractice ([AOPKey],[PercentageValue],[AOPCommentDesc],[PolicyKey],[VersionSequence]) Select [AOPKey],[PercentageValue],[AOPCommentDesc],[PolicyKey],[VersionSequence] From AreaOfPractice Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);

		--insert into accinsurancedb_ISMIE.dbo.AreaOfPracticeRealEstateLW Select * From AreaOfPracticeRealEstateLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.AreaOfTaxPracticeLW Select * From AreaOfTaxPracticeLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.AttorneyDetailsLW ([AttorneyKey],[AttorneyName],[LicensedStates],[AnnualWorkedHours],[NumberOfYearsInPractice],[NumberOfYearsWithFirm],[NumberOfYearsMalpracticeCov],[AttorneyPriorActDate],[PolicyKey],[PriorActDate],[AttorneyDesignation],[DesignationId],[IsNonRatedAttorney],[PriorActDateAttorneysNew],[isAttorneyEndorsed],[JoiningDate],[AttorneyRetroDate],[RegNumber],[DateAdmitted]) Select [AttorneyKey],[AttorneyName],[LicensedStates],[AnnualWorkedHours],[NumberOfYearsInPractice],[NumberOfYearsWithFirm],[NumberOfYearsMalpracticeCov],[AttorneyPriorActDate],[PolicyKey],[PriorActDate],[AttorneyDesignation],[DesignationId],[IsNonRatedAttorney],[PriorActDateAttorneysNew],[isAttorneyEndorsed],[JoiningDate],[AttorneyRetroDate],[RegNumber],[DateAdmitted] From AttorneyDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.AttorneyEnvWorkLW Select * From AttorneyEnvWorkLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.AttorneyInEntertainForFirmLW Select * From AttorneyInEntertainForFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.AttorneyInPlaintiffForFirmLW ([AttorneyInPlaintiffKey],[PolicyKey],[PlaintiffAttorneyName],[PlaintiffYrsExp],[PlaintiffPecOfTimeDev]) Select [AttorneyInPlaintiffKey],[PolicyKey],[PlaintiffAttorneyName],[PlaintiffYrsExp],[PlaintiffPecOfTimeDev] From AttorneyInPlaintiffForFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.BankruptcyDetailsLW Select * From BankruptcyDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.BankruptcyCasesDetailsLW Select * From BankruptcyCasesDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.BankruptcyCasesDetailsLW_New Select * From BankruptcyCasesDetailsLW_New Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.CancellationEndorsement ([ID],[PolicyKey],[CancellationReasonID],[CancellationTypeID],[TransactionSequence]) Select [ID],[PolicyKey],[CancellationReasonID],[CancellationTypeID],[TransactionSequence] From CancellationEndorsement Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.CannabisSupplement Select * From CannabisSupplement Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ClaimAgeEstimation ([ClaimAgeEstimationKey],[PolicyKey],[NumberOfYearsWithFirm]) Select [ClaimAgeEstimationKey],[PolicyKey],[NumberOfYearsWithFirm] From ClaimAgeEstimation Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ClaimAgeLW ([PolicyKey],[Year],[PartTime],[AttorneyKey]) Select [PolicyKey],[Year],[PartTime],[AttorneyKey] From ClaimAgeLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ClaimAgeLWEndorsement ([PolicyKey],[Year],[PartTime]) Select [PolicyKey],[Year],[PartTime] From ClaimAgeLWEndorsement Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.collectionsSuplimentDetailsLW Select * From collectionsSuplimentDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.CommentDetail Select * From CommentDetail Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.ContractorEnvLW Select * From ContractorEnvLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.CopyRightTrademarkDetailsLW Select * From CopyRightTrademarkDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.CorpCommBusinessLW Select * From CorpCommBusinessLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.CorporateCommBusineesSupplementLW Select * From CorporateCommBusineesSupplementLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.DocumentArchiveLW Select * From DocumentArchiveLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.EndorsementDetails ([EndorsementKey],[PolicyKey],[TransactionSequence],[PreviousFinalizedTransactionSequence],[EndorsementPremium],[EndorsementInvoicedPremium],[isFinancialEndirsement],[PremiumVariation],[TaxVariation],[TransactionTypeKey],[EndorsementIssuedDate],[EndorsementEffectiveDate]) Select [EndorsementKey],[PolicyKey],[TransactionSequence],[PreviousFinalizedTransactionSequence],[EndorsementPremium],[EndorsementInvoicedPremium],[isFinancialEndirsement],[PremiumVariation],[TaxVariation],[TransactionTypeKey],[EndorsementIssuedDate],[EndorsementEffectiveDate] From EndorsementDetails Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.EnterSportsClientOfFirmLW Select * From EnterSportsClientOfFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.EntertainmentSportSuppLW Select * From EntertainmentSportSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.EnvironmentalSuppLW Select * From EnvironmentalSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ErpEndorsementDetails ([ErpKey],[PolicyKey],[TransactionSequence],[EndorsementEffectiveDate],[isAttorneyRetiring],[AttorneyKey],[ceasedDate],[isInsuredWithUsFromPast],[practicePortitonOfAttorney],[isDeathDisabilityERP],[deathDisabilityFirmOrAttorneyName],[deathDiablityCeasedDate],[isFirmERP],[yearsOfERP],[ERPPremium],[ERPTax],[ERPTotalPremium],[ERPExpirationDate]) Select [ErpKey],[PolicyKey],[TransactionSequence],[EndorsementEffectiveDate],[isAttorneyRetiring],[AttorneyKey],[ceasedDate],[isInsuredWithUsFromPast],[practicePortitonOfAttorney],[isDeathDisabilityERP],[deathDisabilityFirmOrAttorneyName],[deathDiablityCeasedDate],[isFirmERP],[yearsOfERP],[ERPPremium],[ERPTax],[ERPTotalPremium],[ERPExpirationDate] From ErpEndorsementDetails Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ErpEndorsementDetailsAcc ([ErpKey],[PolicyKey],[TransactionSequence],[EndorsementEffectiveDate],[isAccountantRetiring],[AccountantName],[isSoloAccountant],[ceasedDate],[isInsuredWithUsFromPast],[practicePortitonOfAccountant],[isDeathDisabilityERP],[deathDisabilityFirmOrAccountantName],[deathDiablityCeasedDate],[isFirmERP],[yearsOfERP],[ERPPremium],[ERPTax],[ERPTotalPremium],[ERPExpirationDate]) Select [ErpKey],[PolicyKey],[TransactionSequence],[EndorsementEffectiveDate],[isAccountantRetiring],[AccountantName],[isSoloAccountant],[ceasedDate],[isInsuredWithUsFromPast],[practicePortitonOfAccountant],[isDeathDisabilityERP],[deathDisabilityFirmOrAccountantName],[deathDiablityCeasedDate],[isFirmERP],[yearsOfERP],[ERPPremium],[ERPTax],[ERPTotalPremium],[ERPExpirationDate] From ErpEndorsementDetailsAcc Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);

		--insert into accinsurancedb_ISMIE.dbo.FamilyLawDetailsLW Select * From FamilyLawDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.FinancialInstitutionDetailsLW Select * From FinancialInstitutionDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.FinancialInstitutionLW Select * From FinancialInstitutionLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.FinancialInstSuppLW Select * From FinancialInstSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.FirmAnnualRevenueLW Select * From FirmAnnualRevenueLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.FirmEstimation ([FirmEstimationKey],[PolicyKey],[AccountName],[AccountEmail],[WorkPhone],[ProducerCode],[Street],[Zip],[Zip4],[StateCode],[CountyDesc],[City],[PolicyEffectiveDate],[PolicyExpirationDate],[NumberOfLawyers],[NumberOfLawyers500],[NumberOfLawyers1000]) Select [FirmEstimationKey],[PolicyKey],[AccountName],[AccountEmail],[WorkPhone],[ProducerCode],[Street],[Zip],[Zip4],[StateCode],[CountyDesc],[City],[PolicyEffectiveDate],[PolicyExpirationDate],[NumberOfLawyers],[NumberOfLawyers500],[NumberOfLawyers1000] From FirmEstimation Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.FirmEstimationACC ([FirmEstimationKey],[PolicyKey],[AccountName],[AccountEmail],[WorkPhone],[ProducerCode],[StateCode],[CountyDesc],[City],[PolicyEffectiveDate],[PolicyExpirationDate]) Select [FirmEstimationKey],[PolicyKey],[AccountName],[AccountEmail],[WorkPhone],[ProducerCode],[StateCode],[CountyDesc],[City],[PolicyEffectiveDate],[PolicyExpirationDate] From FirmEstimationACC Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);

		--insert into accinsurancedb_ISMIE.dbo.FirmInitLawsuitsLW Select * From FirmInitLawsuitsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.FirmPersonnelServedLW Select * From FirmPersonnelServedLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.FirmPracticeLocationLW Select * From FirmPracticeLocationLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.GovernmentServicesDetails Select * From GovernmentServicesDetails Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.GovernmentSupplementDetailsLW Select * From GovernmentSupplementDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.GrossRevenueForFirmLW ([GrossRevenueKey],[YearEndDate],[Amount],[PolicyKey]) Select [GrossRevenueKey],[YearEndDate],[Amount],[PolicyKey] From GrossRevenueForFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.GrossRevenueForFirm ([GrossRevenueKey],[YearEndDate],[Amount],[PolicyKey],[VersionSequence]) Select [GrossRevenueKey],[YearEndDate],[Amount],[PolicyKey],[VersionSequence] From GrossRevenueForFirm Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.IndicationModifiers ([PolicyKey],[ModifierKey],[Percentage]) Select [PolicyKey],[ModifierKey],[Percentage] From IndicationModifiers Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.NameAddressEndorsement ([ID],[PolicyKey],[AccountKey],[AddressKey],[AccountName],[WebSite],[AccountEmail],[LoginID],[secondaryEmail],[Address1],[Address2],[City],[StateCode],[Zip],[Zip4],[HomePhone],[WorkPhone],[WorkExt],[MobilePhone]) Select [ID],[PolicyKey],[AccountKey],[AddressKey],[AccountName],[WebSite],[AccountEmail],[LoginID],[secondaryEmail],[Address1],[Address2],[City],[StateCode],[Zip],[Zip4],[HomePhone],[WorkPhone],[WorkExt],[MobilePhone] From NameAddressEndorsement Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.NotaryEndorsementTable Select * From NotaryEndorsementTable Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.PaymentDetail Select * From PaymentDetail Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.PlantiffSuppLW Select * From PlantiffSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.PolicyFormLW ([FormID],[StateCode],[PolicyKey],[FormName],[FormDesc],[FormFooter],[FormType],[FormSequence]) Select [FormID],[StateCode],[PolicyKey],[FormName],[FormDesc],[FormFooter],[FormType],[FormSequence] From PolicyFormLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.PremiumCalculationBuffer ([PolicyKey],[XmlInputDatatoRating],[XmlOutputDatafromRating],[UnearnedPremium],[UnearnedTax],[totalUnearnedPremium],[TotalPremiumFirstRange],[OldInvoicedPremium],[PreviousfinilazedTransactionSequence],[ProRatePremium],[prorataPremium],[PremiumVariation],[TaxVariation]) Select [PolicyKey],[XmlInputDatatoRating],[XmlOutputDatafromRating],[UnearnedPremium],[UnearnedTax],[totalUnearnedPremium],[TotalPremiumFirstRange],[OldInvoicedPremium],[PreviousfinilazedTransactionSequence],[ProRatePremium],[prorataPremium],[PremiumVariation],[TaxVariation] From PremiumCalculationBuffer Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.PricingComment Select * From PricingComment Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.ProdecessorFirmLW Select * From ProdecessorFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ProfessionalLiabilityInsDetailLW ([LimitAmount],[DeductibleAmount],[PolicyExpirationDatePross],[ProInsPremium],[IsClaimExpLiability],[PriorActDatePross],[IsPerClaim],[IsPriorActDateFull],[FirmYear],[InsuranceCompanyNamePross],[LimitSequencePross],[PolicyKey],[DeductibleSequencePross],[IsProfDefenceExpense]) Select [LimitAmount],[DeductibleAmount],[PolicyExpirationDatePross],[ProInsPremium],[IsClaimExpLiability],[PriorActDatePross],[IsPerClaim],[IsPriorActDateFull],[FirmYear],[InsuranceCompanyNamePross],[LimitSequencePross],[PolicyKey],[DeductibleSequencePross],[IsProfDefenceExpense] From ProfessionalLiabilityInsDetailLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.ProfessionalLiabilityInsDetail ([InsuranceCompanyKey],[LimitAmount],[DeductibleAmount],[PolicyExpirationDatePross],[ProInsPremium],[IsClaimExpLiability],[PriorActDatePross],[IsPerClaim],[PolicyKey],[VersionSequence],[IsPriorActDateFull],[FirmYear],[InsuranceCompanyPILKeyOthers],[InsuranceCompanyNamePross],[LimitSequencePross],[DeductibleSequencePross],[IsProfDefenceExpense]) Select [InsuranceCompanyKey],[LimitAmount],[DeductibleAmount],[PolicyExpirationDatePross],[ProInsPremium],[IsClaimExpLiability],[PriorActDatePross],[IsPerClaim],[PolicyKey],[VersionSequence],[IsPriorActDateFull],[FirmYear],[InsuranceCompanyPILKeyOthers],[InsuranceCompanyNamePross],[LimitSequencePross],[DeductibleSequencePross],[IsProfDefenceExpense] From ProfessionalLiabilityInsDetail Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);

		insert into accinsurancedb_ISMIE.dbo.ProfLiabClaimAgnstFirmLW ([ProfLiabClaimAgnstFirmKey],[PolicyKey],[NameOfClaimant],[ClaimNotifiedDate],[DateOfAllegedError],[NameOfPersonnelINClaim],[DescOfClaim],[IsClaimReportedToInsComp],[NameOfInsComp],[DateReportedToInsComp],[InsurerLoss],[ClaimClosingDate],[TotalAmountPaid],[StepsTakenToPreventClaims],[ClaimantLastDemand],[IsClient],[CurrentStatus],[IsClaimInSuit],[ClaimNumber],[InsurerLossReserveCi],[ExpensePaid],[TotalIncurred],[Signal],[ExpenseReserve],[ClaimLawyerAndFirm],[ClaimAdditionalDefendants],[ClaimClaimants],[ClaimAllegedErrorDate],[ClaimCarrier],[ClaimReportedToCarrierDate],[ClaimStatus],[ClaimPaidLosses],[ClaimLossReserves],[ClaimPaidExpenses],[ClaimExpenseReserves],[ClaimClosedDate],[ClaimClosedExpensesPaid],[ClaimClosedLossPaid],[ClaimAllegedActDescription],[ClaimPreventiveRecurrenceProcedures]) Select [ProfLiabClaimAgnstFirmKey],[PolicyKey],[NameOfClaimant],[ClaimNotifiedDate],[DateOfAllegedError],[NameOfPersonnelINClaim],[DescOfClaim],[IsClaimReportedToInsComp],[NameOfInsComp],[DateReportedToInsComp],[InsurerLoss],[ClaimClosingDate],[TotalAmountPaid],[StepsTakenToPreventClaims],[ClaimantLastDemand],[IsClient],[CurrentStatus],[IsClaimInSuit],[ClaimNumber],[InsurerLossReserveCi],[ExpensePaid],[TotalIncurred],[Signal],[ExpenseReserve],[ClaimLawyerAndFirm],[ClaimAdditionalDefendants],[ClaimClaimants],[ClaimAllegedErrorDate],[ClaimCarrier],[ClaimReportedToCarrierDate],[ClaimStatus],[ClaimPaidLosses],[ClaimLossReserves],[ClaimPaidExpenses],[ClaimExpenseReserves],[ClaimClosedDate],[ClaimClosedExpensesPaid],[ClaimClosedLossPaid],[ClaimAllegedActDescription],[ClaimPreventiveRecurrenceProcedures] From ProfLiabClaimAgnstFirmLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		insert into accinsurancedb_ISMIE.dbo.QuotationEstimation ([QuotationEstimationKey],[PolicyKey],[TransactionSequence],[TotalPremium],[TotalPremiumFirstRange],[TotalPolicyTaxAmount],[InvoicedPremium],[TotalPolicyModifierPercentage],[IsClaimOptionType],[IsClaimExpensesType],[IsDollarDefense],[AggregateLimit],[OccuranceLimit],[AggregateDeductible],[OccuranceDeductible],[IsMinimumPremium],[XmlOutputDatafromRating],[XmlInputDatatoRating]) Select [QuotationEstimationKey],[PolicyKey],[TransactionSequence],[TotalPremium],[TotalPremiumFirstRange],[TotalPolicyTaxAmount],[InvoicedPremium],[TotalPolicyModifierPercentage],[IsClaimOptionType],[IsClaimExpensesType],[IsDollarDefense],[AggregateLimit],[OccuranceLimit],[AggregateDeductible],[OccuranceDeductible],[IsMinimumPremium],[XmlOutputDatafromRating],[XmlInputDatatoRating] From QuotationEstimation Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.RealEastateDetailsLW Select * From RealEastateDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.RealEstatePracticeAreas Select * From RealEstatePracticeAreas Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.RealEstateSuppLW Select * From RealEstateSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.RulePolicyTransaction Select * From RulePolicyTransaction Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.RuleComment Select * From RuleComment Where RulePolicyId IN (Select RulePolicyId From RulePolicyTransaction Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID));
		--insert into accinsurancedb_ISMIE.dbo.SingedDocument Select * From SingedDocument Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.TaxSuppDetailsLW Select * From TaxSuppDetailsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.TaxSuppLW Select * From TaxSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.WillsEstateServicesLW Select * From WillsEstateServicesLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.WillsStateTrustValuesAmountsLW Select * From WillsStateTrustValuesAmountsLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.WillSTrustEstateLargestTrustsDetails Select * From WillSTrustEstateLargestTrustsDetails Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		--insert into accinsurancedb_ISMIE.dbo.WillsTrustsEstateSuppLW Select * From WillsTrustsEstateSuppLW Where PolicyKey IN (Select Policykey From Policy Where AccountID = @AccountID);
		
		SET @ROW = @ROW + 1
	END
	drop table #TempInsertPolicies
	
	exec DatabaseTransfersToISMIEOtherPolicyDelete
	
	update accinsurancedb_ISMIE.dbo.Policy set PolicyStatusKey=2 where Policykey in(Select Policykey from MarkAsRenewal where MarketableProductKey=2 and CompanyKey=3)
	update accinsurancedb_ISMIE.dbo.PolicyTransaction set TransactionTypeKey=2 where Policykey in(Select Policykey from MarkAsRenewal where MarketableProductKey=2 and CompanyKey=3)

END
GO
