USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatabaseTransfersToISMIEPolicyTruncate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DatabaseTransfersToISMIEPolicyTruncate]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatabaseTransfersToISMIEPolicyTruncate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DatabaseTransfersToISMIEPolicyTruncate] AS' 
END
GO
--exec DatabaseTransfersToISMIEPolicyTruncate
ALTER PROCEDURE [dbo].[DatabaseTransfersToISMIEPolicyTruncate]
AS
BEGIN

	--DELETE FROM accinsurancedb_ISMIE.dbo.WillsTrustsEstateSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.WillSTrustEstateLargestTrustsDetails
	--DELETE FROM accinsurancedb_ISMIE.dbo.WillsStateTrustValuesAmountsLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.WillsEstateServicesLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.TaxSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.TaxSuppDetailsLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.SingedDocument
	--DELETE FROM accinsurancedb_ISMIE.dbo.RuleComment
	--DELETE FROM accinsurancedb_ISMIE.dbo.RulePolicyTransaction
	--DELETE FROM accinsurancedb_ISMIE.dbo.RealEstateSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.RealEstatePracticeAreas
	--DELETE FROM accinsurancedb_ISMIE.dbo.RealEastateDetailsLW
	DELETE FROM accinsurancedb_ISMIE.dbo.QuotationEstimation
	DELETE FROM accinsurancedb_ISMIE.dbo.ProfLiabClaimAgnstFirmLW
	DELETE FROM accinsurancedb_ISMIE.dbo.ProfessionalLiabilityInsDetail
	DELETE FROM accinsurancedb_ISMIE.dbo.ProfessionalLiabilityInsDetailLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.ProdecessorFirmLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.PricingComment
	DELETE FROM accinsurancedb_ISMIE.dbo.PremiumCalculationBuffer
	DELETE FROM accinsurancedb_ISMIE.dbo.PolicyFormLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.PlantiffSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.PaymentDetail
	--DELETE FROM accinsurancedb_ISMIE.dbo.NotaryEndorsementTable
	DELETE FROM accinsurancedb_ISMIE.dbo.NameAddressEndorsement
	DELETE FROM accinsurancedb_ISMIE.dbo.IndicationModifiers
	DELETE FROM accinsurancedb_ISMIE.dbo.GrossRevenueForFirm
	DELETE FROM accinsurancedb_ISMIE.dbo.GrossRevenueForFirmLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.GovernmentSupplementDetailsLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.GovernmentServicesDetails
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmPracticeLocationLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmPersonnelServedLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmInitLawsuitsLW
	DELETE FROM accinsurancedb_ISMIE.dbo.FirmEstimationACC
	DELETE FROM accinsurancedb_ISMIE.dbo.FirmEstimation
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmAnnualRevenueLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.FinancialInstSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.FinancialInstitutionLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.FinancialInstitutionDetailsLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.FamilyLawDetailsLW
	DELETE FROM accinsurancedb_ISMIE.dbo.ErpEndorsementDetailsAcc
	DELETE FROM accinsurancedb_ISMIE.dbo.ErpEndorsementDetails
	--DELETE FROM accinsurancedb_ISMIE.dbo.EnvironmentalSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.EntertainmentSportSuppLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.EnterSportsClientOfFirmLW
	DELETE FROM accinsurancedb_ISMIE.dbo.EndorsementDetails
	--DELETE FROM accinsurancedb_ISMIE.dbo.DocumentArchiveLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.CorporateCommBusineesSupplementLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.CorpCommBusinessLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.CopyRightTrademarkDetailsLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.ContractorEnvLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.CommentDetail
	--DELETE FROM accinsurancedb_ISMIE.dbo.collectionsSuplimentDetailsLW
	DELETE FROM accinsurancedb_ISMIE.dbo.ClaimAgeLWEndorsement
	DELETE FROM accinsurancedb_ISMIE.dbo.ClaimAgeLW
	DELETE FROM accinsurancedb_ISMIE.dbo.ClaimAgeEstimation
	--DELETE FROM accinsurancedb_ISMIE.dbo.CannabisSupplement
	DELETE FROM accinsurancedb_ISMIE.dbo.CancellationEndorsement
	--DELETE FROM accinsurancedb_ISMIE.dbo.BankruptcyDetailsLW
	DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyInPlaintiffForFirmLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyInEntertainForFirmLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyEnvWorkLW
	DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyDetailsLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfTaxPracticeLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfPracticeRealEstateLW
	DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfPractice
	DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfPracticeLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfLitigationForFirmLW
	DELETE FROM accinsurancedb_ISMIE.dbo.AdditionalFormDataLW



	DELETE FROM accinsurancedb_ISMIE.dbo.CoverageModifiers
	DELETE FROM accinsurancedb_ISMIE.dbo.PolicyCoverage
	DELETE FROM accinsurancedb_ISMIE.dbo.RatingTrace
	DELETE FROM accinsurancedb_ISMIE.dbo.Quote
	DELETE FROM accinsurancedb_ISMIE.dbo.PolicyTransaction

	DELETE FROM accinsurancedb_ISMIE.dbo.Firm
	DELETE FROM accinsurancedb_ISMIE.dbo.FirmLW
	--DELETE FROM accinsurancedb_ISMIE.dbo.Version
	DELETE FROM accinsurancedb_ISMIE.dbo.Policy

	DELETE FROM accinsurancedb_ISMIE.dbo.AccountAddress
	DELETE FROM accinsurancedb_ISMIE.dbo.Address
	DELETE FROM accinsurancedb_ISMIE.dbo.Account
	
End




GO
