USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanTrustOfficerPageDataAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CleanTrustOfficerPageDataAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanTrustOfficerPageDataAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CleanTrustOfficerPageDataAcc_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[CleanTrustOfficerPageDataAcc_p]
( 
@PolicyKey INT,
@IsServedAsTrustee CHAR,
@IsFirmRenderedServiceForAnyClient CHAR
)
AS
BEGIN
DECLARE @PolicyStatusKey INT
DECLARE @VersionSequence INT
SET @PolicyStatusKey=(SELECT PolicyStatusKey From Policy Where PolicyKey=@PolicyKey)
SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FIRM Where Policykey=@PolicyKey)
	IF(@PolicyStatusKey=1)
	BEGIN
		IF(@IsServedAsTrustee IS NOT NULL AND @IsServedAsTrustee='N')
			BEGIN
				DELETE FROM TrusteeOrEstateSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

		IF(@IsFirmRenderedServiceForAnyClient IS NOT NULL AND @IsFirmRenderedServiceForAnyClient='N')
		BEGIN
			
			DELETE FROM OutsideInterestSupp WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
	END	
END

GO
