USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_CopyrightTrademarkSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_CopyrightTrademarkSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_CopyrightTrademarkSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_CopyrightTrademarkSupplement_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_CopyrightTrademarkSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT
	--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	--DECLARE @otherServices CHAR,@otherServicesPrior CHAR
	--select @otherServices=otherServices from CopyRightTrademarkDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	--IF(@PolicyStatusKey=1)
	--BEGIN
	--	print 'NB flow'
	--	set @rule_id='OtherServices_Lawyers'
	--	if(@otherServices='Y')
	--		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Only searches and filings are within guidelines','No explanation needed.',@LastUpdateUserID
	--	else
	--		exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
	
			
	
	--END

	--IF(@PolicyStatusKey=2)
	--BEGIN
	--		print 'Renewa Flow'
	--	select @otherServicesPrior=otherServices from CopyRightTrademarkDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence

	--	set @rule_id='OtherServices_Lawyers'
	--	if(@otherServices='Y' and @otherServicesPrior='N')
	--		exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Only searches and filings are within guidelines','No explanation needed.',@LastUpdateUserID
	--	else
	--		exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
	
	--END
END




GO
