USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllPolicyDataAppDownload]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchAllPolicyDataAppDownload]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllPolicyDataAppDownload]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchAllPolicyDataAppDownload] AS' 
END
GO
--select * from state
--exec [FetchAllPolicyDataAppDownload] '05/01/2020', '05/31/2020', 'GA', 'Direct'
ALTER PROCEDURE [dbo].[FetchAllPolicyDataAppDownload] 
	 @EffectiveDateFrom VARCHAR(100),
	 @EffectiveDateTo VARCHAR(100),
	 @StateCode varchar(500),
	 @Producercode1	varchar(2000)=null

AS
BEGIN

	DECLARE @MarketableProductKey int
	DECLARE @accountid int
	DECLARE @status int
	declare  @sqlstm varchar(8000)


CREATE TABLE  #TempDirect_SubProducedKey
	(
		PolicyKey VARCHAR(20)
	)

IF(@ProducerCode1 is null or @ProducerCode1='')
	BEGIN
		--Print 'Producer code is null'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and p.PolicyEffectiveDate>=@EffectiveDateFrom
		 and p.PolicyEffectiveDate<=@EffectiveDateTo
	END
	IF(@ProducerCode1 is not null and @ProducerCode1='SubProduced')
	BEGIN
		--Print 'Policies type ar subproduced'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and p.PolicyEffectiveDate>=@EffectiveDateFrom
		 and p.PolicyEffectiveDate<=@EffectiveDateTo
		and  pt.ProducerCode <>'' and pt.ProducerCode is not null
	END
	
	IF(@ProducerCode1 is not null and @ProducerCode1='Direct')	 
	BEGIN
		--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and p.PolicyEffectiveDate>=@EffectiveDateFrom
		 and p.PolicyEffectiveDate<=@EffectiveDateTo
		and( pt.ProducerCode='' OR pt.ProducerCode is null 
		-- Asked by Pat 02/14/2019 
		 or pt.ProducerCode in (select ProducerCode from SubProducer where IsDriect='Y'))
	END
	IF(@ProducerCode1 is not null and @ProducerCode1 <> '' and @ProducerCode1!='Direct' and @ProducerCode1!='SubProduced')
	BEGIN
		--print 'Specific subproducer is specified'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode = @ProducerCode1		
	END
	
		set @sqlstm='SELECT  adds.Address1,adds.Address2,adds.CountyDesc,adds.City,(SELECT StateDesc FROM State WHERE StateCode=adds.StateCode) as StateDesc,adds.Zip as Zip,adds.Zip4 ,p.QuoteNumber, 
		p.PolicyNumber ,
		p.IsFullQuote, p.IsQuickQuote, dbo.removeSpecialCharacter(a.AccountName) as AccountName,
		DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,
		
		CONVERT(varchar(24),p.PolicyEffectiveDate,101) as PolicyEffectiveDate
		,a.AccountName, pt.TransactionSequence
		,CONVERT(varchar(24),pt.PolicyExpirationDate,101) as PolicyExpirationDate 
		, a.AccountID,
		
		a.AccountKey  ,adds.AddressKey, adds.StateCode,f.ContactPerson as ContactPerson,pt.ProducerCode,
		pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.FirstReviewUserID , 
		f.VersionSequence, pc.CoverageSequence, CONVERT(varchar(24),p.AppCreatedDate,101) as AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, 
		f.IsFirmReferred,f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview,p.PolicyEffectiveDate FROM Policy p,  Account a, FirmLW f, 
		Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and 
		aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and 
		s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey  and p.PolicyStatusKey=pt.TransactionTypeKey and 
		f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=2 and pt.TransactionSequence = 
		pc.TransactionSequence and pt.TransactionSequence=(SELECT min(TransactionSequence) FROM PolicyTransaction 
		WHERE PolicyKey=p.PolicyKey) and pt.PolicyKey in (SELECT PolicyKey FROM Policy WHERE isUncompletedData=''N'')
		 and f.VersionSequence=(select min(versionsequence) from firmlw where policyKey=f.PolicyKey) and 
		p.PolicyEffectiveDate>='''+@EffectiveDateFrom+'''
		 and p.PolicyEffectiveDate<='''+@EffectiveDateTo+'''
		 and IsQuickQuote=''N'' and IsFullQuote=''Y'' and pt.statuskey=6
		and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
		
		'
	
if(@StateCode <> '')
begin
              set  @sqlstm = @sqlstm + ' and adds.StateCode IN (SELECT items FROM Split('''+@StateCode +''','',''))'
end
set  @sqlstm = @sqlstm + 'order by p.PolicyEffectiveDate '
print @sqlstm
EXECUTE ( @sqlstm)
END






GO
