USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RectifyPolicyForm_Proc_Back]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RectifyPolicyForm_Proc_Back]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RectifyPolicyForm_Proc_Back]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RectifyPolicyForm_Proc_Back] AS' 
END
GO

--exec [dbo].[RectifyPolicyForm_Proc] 
ALTER PROCEDURE [dbo].[RectifyPolicyForm_Proc_Back]
 AS BEGIN
	declare @PolicyKey int
	Declare c1 cursor for
	
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where IssuedDate between '2018-04-10' and '2018-07-11'
	and p.PolicyEffectiveDate>'2018-04-09' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('AL','AR','AZ','DC','DE','ID','IN','KY','PA','MI','NJ')
	union
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where IssuedDate between '2018-04-10' and '2018-07-11'
	and p.PolicyEffectiveDate>'2018-06-24' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('MO','MT','NE','ND','NV','RI','SD','TN','TX','UT')
	union
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where IssuedDate between '2018-04-10' and '2018-07-11'
	and p.PolicyEffectiveDate>'2018-07-22' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('NM')
	union
	select distinct p.PolicyKey from Policy p
	inner join  firmlw f on p.policykey=f.policykey
	inner join PolicyTransaction pt on pt.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionID 
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
	inner join Accountaddress aa on pt.AccountKey=aa.AccountKey
	inner join address addr on addr.AddressKey=aa.AddressKey
	where IssuedDate between '2018-04-10' and '2018-07-11'
	and p.PolicyEffectiveDate>'2018-08-19' 
	and pt.StatusKey=6 and f.VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=p.PolicyKey)
	--and p.PolicyStatusKey=2 
	--and pt.ProducerCode is  not null 
	and q.IsThisOptionFinalised='Y'
	and addr.statecode in ('CO','GA','IA','IL','MA','ME','NH','OH','OR','WA','WI','WV')

	 	   
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey
	WHILE @@FETCH_STATUS = 0
		begin
			--update DocumentArchiveLW set DocTitle = 'Incorrect_' + DocTitle  where DocumentID in (
			delete from DocumentArchiveLW where DocumentID in (
			select DocumentID from DocumentArchiveLW where PolicyKey = @PolicyKey and DocType='PF' and UploadedType='Auto'
			and LastUpdateTimeStamp in 
			(select max(LastUpdateTimeStamp) from DocumentArchiveLW where PolicyKey = @PolicyKey and DocType='PF'))
			FETCH NEXT FROM c1 into @PolicyKey					
		end
		CLOSE c1
		DEALLOCATE c1

END

--select * from DocumentArchiveLW where PolicyKey=70330
GO
