USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsSummaryListDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetClaimsSummaryListDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetClaimsSummaryListDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetClaimsSummaryListDataLW_p] AS' 
END
GO
--exec GetClaimsSummaryListDataLW_p 47667
ALTER PROCEDURE [dbo].[GetClaimsSummaryListDataLW_p]
(
	@AccountID INT
)
AS
BEGIN

	SELECT ProfLiabClaimAgnstFirmKey, pca.PolicyKey, pca.VersionSequence, NameOfClaimant, ClaimNotifiedDate, DateOfAllegedError, 
	NameOfPersonnelINClaim, DescOfClaim, IsClaimReportedToInsComp,
	 CASE when  NameOfClaimant like('%(C & F)%') THen 'Crum & Foster'
	 else NameOfInsComp END as NameOfInsComp,
	 
	  DateReportedToInsComp, InsurerLoss, ClaimClosingDate, 
	TotalAmountPaid, StepsTakenToPreventClaims, ClaimantLastDemand, IsClient, 
	CASE WHEN (CurrentStatus = 'closed') THEN 'Closed' 
		WHEN (CurrentStatus = 'opened' or CurrentStatus = 'open') THEN 'Opened' 
		WHEN (CurrentStatus = 'reopen') THEN 'Reopen'
		WHEN (CurrentStatus = 'potential') THEN 'Potential'
		ELSE CurrentStatus END as CurrentStatus, IsClaimInSuit, 
	p.PolicyNumber as PolicyNumber, p.PolicyEffectiveDate as PolicyEffectiveDate, p.AccountID as AccountID, 
	ClaimNumber,InsurerLossReserveCi,ExpensePaid,dbo.getAmountFormat(TotalIncurred) as TotalIncurred, Signal,DescOfClaim as Description
	FROM Policy p, ProfLiabClaimAgnstFirmLW pca
	where p.PolicyKey = pca.PolicyKey and p.MarketableProductKey = 2  and p.AccountID = @AccountID
	

END






GO
