USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertProtexureFormAttorniesData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertProtexureFormAttorniesData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertProtexureFormAttorniesData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertProtexureFormAttorniesData_p] AS' 
END
GO
--exec InsertProtexureFormAttorniesData_p 1, '<Root><Root1><LastUpdateUserID>1100</LastUpdateUserID><AttorneyName>fjfgjfgj</AttorneyName><AnnualHours>1-500</AnnualHours><EstimateFormPolicyKey>4</EstimateFormPolicyKey><AttorneyPriorActDate>12/12/2201</AttorneyPriorActDate></Root1></Root>'
ALTER PROCEDURE [dbo].[InsertProtexureFormAttorniesData_p]
(
@addAttorneys INT,
@xml xml


)
AS
BEGIN
			INSERT INTO EstimateFormAttorneyDetails_LW(AttorneyName, AnnualHours, AttorneyPriorActDate,EstimateFormPolicyKey,LastUpdateUserID)
			SELECT
				doc.col.value('AttorneyName[1]', 'varchar(300)') AttorneyName,
				doc.col.value('AnnualHours[1]', 'VARCHAR(100)') AnnualHours,
				doc.col.value('AttorneyPriorActDate[1]', 'VARCHAR(100)') AttorneyPriorActDate,
				doc.col.value('EstimateFormPolicyKey[1]', 'int') EstimateFormPolicyKey,
				doc.col.value('LastUpdateUserID[1]', 'VARCHAR(100)') LastUpdateUserID
			FROM @xml.nodes('/Root/Root1') doc(col)
END



GO
