USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDatesDifferenceInDays_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDatesDifferenceInDays_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDatesDifferenceInDays_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDatesDifferenceInDays_p] AS' 
END
GO
--exec GetDatesDifferenceInDays_p '2023-04-01','2024-04-1','2023-04-01','2024-04-1'
ALTER PROCEDURE [dbo].[GetDatesDifferenceInDays_p]
(
@Date1 DATETIME,
@Date2 DATETIME,
@PolicyEffectiveDate DATETIME,
@PolicyExpirationDate DATETIME
)
	AS
BEGIN
SELECT DATEDIFF(day, @Date1, @Date2) AS EndorsementDays,DATEDIFF(day, @PolicyEffectiveDate, @PolicyExpirationDate) AS TermDays 
END




GO
