USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetERPExpirationDate_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetERPExpirationDate_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetERPExpirationDate_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetERPExpirationDate_p] AS' 
END
GO
--exec GetERPExpirationDate_p 77166,'NJ','4','2018-12-15' 	
ALTER PROCEDURE [dbo].[GetERPExpirationDate_p]
(
@PolicyKey int,
@StateCode VARCHAR(5),
@yearsOfERP VARCHAR(10),
@endorsementEffectiveDate  DATETIME
)
AS
BEGIN

	DECLARE @StatusKey INT
	DECLARE @TargetDate DATE
	DECLARE @ERPMonths INT
	DECLARE @ErpExpirationDate DATETIME
	SET @ERPMonths=(SELECT CAST(@yearsOfERP AS Int)*12)
	
	SET @StatusKey=(SELECT top 1 Statuskey from PolicyTransaction where policykey=@Policykey)
	
	--IF(@StatusKey=6)
	--Begin
	-- SET @TargetDate=(Select top 1 @endorsementEffectiveDate from PolicyTransaction Where PolicyKey=@Policykey)
	--end

	If(@StatusKey=8)	
	Begin
	SET @TargetDate=(select TransactionEffectiveDate from PolicyTransaction where  statuskey=8 and TransactionTypeKey=7 and PolicyKey=@PolicyKey)
	end

	--select * from state  AR,AK,NH
	if(@StateCode='AR') 
	Begin
		--SET @ERPMonths=@ERPMonths+2;
		SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate+60))
	END
	else if(@StateCode='NH' and @yearsOfERP=1)
	Begin
	-- IF(@ERPMonths=60)
	 BEGIN
		--SET @ERPMonths=@ERPMonths+2;
		SET @ErpExpirationDate=(  select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate+60))

	 END

	-- ELSE
	-- BEGIN
	--	 SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@TargetDate))
	-- END

	END

	ELSE
	BEGIN
		 	 SET @ErpExpirationDate=( select  DATEADD(month,@ERPMonths,@endorsementEffectiveDate))
	END


	if(@StatusKey=8)
	select convert(varchar(10),  @TargetDate, 101) as ERPEffective,convert(varchar(10), @ErpExpirationDate, 101) as ErpExpirationDate
	else 
	select convert(varchar(10), @endorsementEffectiveDate, 101) as ERPEffective,convert(varchar(10), @ErpExpirationDate, 101) as ErpExpirationDate
	

END

GO
