USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateAreaOfPracticeLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateAreaOfPracticeLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateAreaOfPracticeLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateAreaOfPracticeLW_p] AS' 
END
GO
-- exec InsertUpdateAreaOfPracticeLW_p 128297, 106883, '<Root><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>1</AOPKey><PercentageValue>25</PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>2</AOPKey><PercentageValue>25</PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>3</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>4</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>5</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>6</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>7</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>8</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>9</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>10</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>11</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>12</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>13</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>14</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>15</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>16</AOPKey><PercentageValue>20</PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>17</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>18</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>19</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>20</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>21</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>22</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>23</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>24</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>25</AOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>27</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>28</AOPKey><PercentageValue>20</PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>29</AOPKey><PercentageValue>10</PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>30</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>31</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>32</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>33</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>34</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>35</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>36</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>37</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>38</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>39</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>40</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>41</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>42</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>43</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>44</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>45</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>46</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>47</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>48</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>49</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>50</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>51</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>52</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>53</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>54</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>55</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>56</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>57</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>58</AOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>59</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>60</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>61</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>62</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>63</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>64</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>65</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>66</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>67</AOPKey><PercentageValue></PercentageValue><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>68</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>69</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>70</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>71</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1><Root1><PolicyKey>128297</PolicyKey><CreatedBy>40</CreatedBy><AOPKey>72</AOPKey><PercentageValue></PercentageValue><AOPCommentDesc></AOPCommentDesc><CreatedDate>2021-11-24 15:07:39.146</CreatedDate><VersionSequence>106883</VersionSequence><VersionKey>14</VersionKey></Root1></Root>', 40, '2021-11-24 15:07:39.146'
ALTER PROCEDURE [dbo].[InsertUpdateAreaOfPracticeLW_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN
	Declare @bankruptcy INT,@collection INT,@financial INT,@goverment INT,@realestateComm INT,@realestateResi INT,@tax INT,@wills INT,@litigationvalue INT,@corporateCommercialBusiness INT,@familyLaw INT,@Copyright INT,@litigationSum INT,@realEstateSum INT,@PolicyStatusKey INT
	DECLARE @WorkersCompensationPlaintiff INT,@CivilLitigationPlaintiff INT,@ConstructionLitigationPlaintiff INT,@CorporateCommercialBusinessLitigationPlaintiff INT,@MassTortLitigationClassActionsPlaintiff INT,@MedicalMalpracticePlaintiff INT,@NonMedicalMalpracticePlaintiff INT,@PersonalInjuryLitigationPlaintiff INT,@ProductLiabilityLitigationPlaintiff INT,@LitigationOtherPlaintiff INT
	
	DECLARE @VersionKey int=(Select VersionKey from Policy where PolicyKey=@PolicyKey)
	IF NOT EXISTS (select AOPKey from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO AreaOfPracticeLW(AOPKey, PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,VersionKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
			SELECT
				doc.col.value('AOPKey[1]', 'INT') AOPKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('AOPCommentDesc[1]', 'VARCHAR(500)') AOPCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@VersionKey,
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate,
				@LastUpdateUserID,@LastUpdateTimeStamp
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('AOPKey[1]', 'INT') AOPKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('AOPCommentDesc[1]', 'VARCHAR(500)') AOPCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey,
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE aop
			SET 
			 aop.PercentageValue =tx.PercentageValue,
			 aop.AOPCommentDesc =tx.AOPCommentDesc,
			 aop.LastUpdateUserID =tx.LastUpdateUserID,
			 aop.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM AreaOfPracticeLW aop
			inner join #temp_xml tx 
			on (aop.AOPKey=tx.AOPKey and aop.PolicyKey=tx.PolicyKey and aop.VersionSequence=tx.VersionSequence)

			--select 'fffg',* from #temp_xml

			Select AOPKey,PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp
			INTO #temp_xml1	from AreaOfPracticeLW where PolicyKey = @PolicyKey and VersionSequence = @VersionSequence

			INSERT INTO AreaOfPracticeLW(AOPKey,PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			Select distinct tx.AOPKey, tx.PercentageValue, tx.AOPCommentDesc, tx.PolicyKey, tx.VersionSequence, tx.LastUpdateUserID, tx.LastUpdateTimeStamp,@VersionKey,tx.CreatedBy,tx.CreatedDate
			from #temp_xml tx where tx.AOPKey not in (select AOPKey from #temp_xml1)
		END
		set @PolicyStatusKey=(select PolicyStatusKey from Policy where PolicyKey=@PolicyKey)
	--DELETE FROM AreaOfPracticeLW WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
	--INSERT INTO AreaOfPracticeLW(AOPKey, PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
	--SELECT
	--	doc.col.value('AOPKey[1]', 'INT') AOPKey,
	--	doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
	--	doc.col.value('AOPCommentDesc[1]', 'VARCHAR(500)') AOPCommentDesc, 
	--	doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
	--	doc.col.value('VersionSequence[1]', 'int') VersionSequence,
	--	@LastUpdateUserID,@LastUpdateTimeStamp
	--FROM @xml.nodes('/Root/Root1') doc(col)

	SET @bankruptcy  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=3)
	SET @collection =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=31)
	SET @Copyright=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=6)
	SET @financial =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=12)
	SET @goverment =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=13)
	SET @realestateComm =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=20)
	SET @realestateResi =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=27)
	SET @tax =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=22)
	SET @wills =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=24)
	SET @litigationvalue =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=18)
	SET @familyLaw=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=8)
	Set @corporateCommercialBusiness=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=5)
	
	Set @WorkersCompensationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=53)
	Set @CivilLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=55)
	Set @ConstructionLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=56)
	Set @CorporateCommercialBusinessLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=57)
	Set @MassTortLitigationClassActionsPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=59)
	Set @MedicalMalpracticePlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=60)
	Set @NonMedicalMalpracticePlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=61)
	Set @PersonalInjuryLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=62)
	Set @ProductLiabilityLitigationPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=63)
	Set @LitigationOtherPlaintiff=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=67)
	
	if(@bankruptcy is null or @bankruptcy='')
		set @bankruptcy=0
	if(@collection is null or @collection='')
		set @collection=0
	if(@Copyright is null or @Copyright='')
		set @Copyright=0
	if(@financial is null or @financial='')
		set @financial=0
	if(@goverment is null or @goverment='')
		set @goverment=0
	if(@realestateComm is null or @realestateComm='')
		set @realestateComm=0
	if(@realestateResi is null or @realestateResi='')
		set @realestateResi=0	
	if(@tax is null or @tax='')
		set @tax=0
	if(@wills is null or @wills='')
		set @wills=0	
	if(@familyLaw is null or @familyLaw='')
		set @familyLaw=0	
	if(@corporateCommercialBusiness is null or @corporateCommercialBusiness='')
		set @corporateCommercialBusiness=0	
	if(@litigationvalue is null or @litigationvalue='')
		set @litigationvalue=0			
	if(@WorkersCompensationPlaintiff is null or @WorkersCompensationPlaintiff='')
		set @WorkersCompensationPlaintiff=0			
	if(@CivilLitigationPlaintiff is null or @CivilLitigationPlaintiff='')
		set @CivilLitigationPlaintiff=0			
	if(@ConstructionLitigationPlaintiff is null or @ConstructionLitigationPlaintiff='')
		set @ConstructionLitigationPlaintiff=0		
	if(@CorporateCommercialBusinessLitigationPlaintiff is null or @CorporateCommercialBusinessLitigationPlaintiff='')
		set @CorporateCommercialBusinessLitigationPlaintiff=0	
	if(@MassTortLitigationClassActionsPlaintiff is null or @MassTortLitigationClassActionsPlaintiff='')
		set @MassTortLitigationClassActionsPlaintiff=0
	if(@MedicalMalpracticePlaintiff is null or @MedicalMalpracticePlaintiff='')
		set @MedicalMalpracticePlaintiff=0	
	if(@NonMedicalMalpracticePlaintiff is null or @NonMedicalMalpracticePlaintiff='')
		set @NonMedicalMalpracticePlaintiff=0	
	if(@PersonalInjuryLitigationPlaintiff is null or @PersonalInjuryLitigationPlaintiff='')
		set @PersonalInjuryLitigationPlaintiff=0		
	if(@ProductLiabilityLitigationPlaintiff is null or @ProductLiabilityLitigationPlaintiff='')
		set @ProductLiabilityLitigationPlaintiff=0			
	if(@LitigationOtherPlaintiff is null or @LitigationOtherPlaintiff='')
		set @LitigationOtherPlaintiff=0		
		
	set @litigationSum=	(@CivilLitigationPlaintiff+@ConstructionLitigationPlaintiff+@CorporateCommercialBusinessLitigationPlaintiff+@MassTortLitigationClassActionsPlaintiff+@MedicalMalpracticePlaintiff+@NonMedicalMalpracticePlaintiff+@PersonalInjuryLitigationPlaintiff+@ProductLiabilityLitigationPlaintiff+@LitigationOtherPlaintiff+@WorkersCompensationPlaintiff)
	set @realEstateSum=@realestateResi+@realestateComm
	
	--if(@PolicyStatusKey=1)
	--BEGIN
			IF(@litigationSum=0)
			BEGIN 
				DELETE FROM AreaOfLitigationForFirmLW WHERE policykey=@PolicyKey
				DELETE FROM PlantiffSuppLW WHERE policykey=@PolicyKey
			END
			IF(@bankruptcy<36)
			BEGIN 
				DELETE FROM BankruptcyDetailsLW WHERE policykey=@PolicyKey
				DELETE FROM BankruptcyCasesDetailsLW WHERE policykey=@PolicyKey
				DELETE FROM BankruptcyCasesDetailsLW_New WHERE policykey=@PolicyKey
			END
			IF(@collection=0)
			BEGIN 
					DELETE FROM collectionsSuplimentDetailsLW WHERE policykey=@PolicyKey
			END

			IF(@Copyright<6)
			BEGIN 
					DELETE FROM CopyRightTrademarkDetailsLW WHERE policykey=@PolicyKey
		
			END
			IF(@corporateCommercialBusiness=0)
			BEGIN 
				DELETE FROM CorporateCommBusineesSupplementLW WHERE policykey=@PolicyKey
		
			END
	
			IF(@familyLaw<36)
			BEGIN 
				DELETE FROM FamilyLawDetailsLW WHERE policykey=@PolicyKey
		

			END

			IF(@financial=0)
			BEGIN 
				DELETE FROM FinancialInstitutionDetailsLW WHERE policykey=@PolicyKey
			END

			IF(@goverment=0)
			BEGIN 
				DELETE FROM GovernmentSupplementDetailsLW WHERE policykey=@PolicyKey
				DELETE FROM GovernmentServicesDetails WHERE policykey=@PolicyKey
			END

			IF(@tax<26)
			BEGIN 
				DELETE FROM TaxSuppDetailsLW WHERE policykey=@PolicyKey
				DELETE FROM TaxSuppLW WHERE policykey=@PolicyKey
		
			END

			IF(@wills=0)
			BEGIN 
				DELETE FROM WillsEstateServicesLW WHERE policykey=@PolicyKey
				DELETE FROM WillSTrustEstateLargestTrustsDetails WHERE PolicyKey=@PolicyKey
				DELETE FROM WillsTrustsEstateSuppLW WHERE PolicyKey=@PolicyKey
				DELETE FROM  WillsStateTrustValuesAmountsLW  WHERE PolicyKey=@PolicyKey
			END

			IF(@realEstateSum=0)
			BEGIN 

		
					UPDATE AreaOfPracticeRealEstateLW SET PercentageValue=null,	AOPRECommentDesc=null,CommercialPercentageValue=null,	AOPRECommCommentDesc=null, LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
					UPDATE RealEastateDetailsLW	SET transactionsHandled12MonthsResi=null,largestTransaction12MonthsResi=null,transactionsHandled12MonthsComm=null,largestTransaction12MonthsComm=null, LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
			END		
		--END
	UPDATE FIRMLW SET IsAopPage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
	UPDATE POLICY SET isUncompletedData='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@Policykey
		
END






GO
