USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequoteReportDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RequoteReportDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequoteReportDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RequoteReportDataLW_p] AS' 
END
GO
--select * from Status
--exec RequoteReportDataLW_p '09/01/2024', '09/10/2024', null, null, null,'http://localhost:8080/LawyersIns/RequotePolicy.jsp?PolicyKey=', null, 'Direct'

ALTER PROCEDURE [dbo].[RequoteReportDataLW_p]
(
@PolicyEffectiveDateFrom varchar(10),
@PolicyEffectiveDateTo varchar(10),
@StateCode varchar(100),
@AOPString VARCHAR(800),
@AttorneyCount INT,
@URL VARCHAR(800),
@requoteTransactionType INT,
@Producercode1	varchar(2000)=null

)

AS BEGIN


--select @inputXml

--declare @IssuedDateFrom datetime
--declare @IssuedDateTo datetime
--declare @PolicyType varchar(5)
--declare @StateCode varchar(5)
--declare @SubProduced varchar(5)
--declare @SubProducerNumber varchar(10)

declare @PolicyType varchar(10),@SubProduced varchar(10),@SubProducerNumber varchar(10),@PolicyEffectiveDate varchar(10),@Modifier int,@Limit varchar(500),@AggregateLimit varchar(250),@OccuranceLimit varchar(250)


if(isNUll(@Limit,'') <> '')
	begin
		set @AggregateLimit = SUBSTRING(@Limit, 1, CHARINDEX('/', @Limit)-1)  
		set @OccuranceLimit = SUBSTRING(@Limit, CHARINDEX('/', @Limit)+1, LEN(@Limit)) 		
	end 

declare @sqlstm varchar(8000),@QuoteNumber varchar(20),@FirstReviewUserID varchar(50),@PolicyKey int,@IsDollarDefense char(1),@TransactionSequence int,@VersionSequence int,@StatusKey varchar(2) ,@PolicyStatusKey int,@TotalModifier int
declare @Administrative_Regulatory int,@Admiralty_Maritime int,@Alternative_Dispute_Resolution int,@Antitrust int,@Appellate_Practice int,@Aviation int
declare @Bankruptcy int,@Civil_Litigation_Defense int,@Civil_Litigation_Plaintiff int,@Civil_Rights_Discrimination int,@Collections_Repossession int,@Communications_Media int,@Construction int,@Construction_Litigation_Defense int,@Construction_Litigation_Plaintiff int,@Copyright_Trademark int,@Corporate_Commercial_Business int,@Corporate_Commercial_Litigation_Defense int,@Corporate_Commercial_Litigation_Plaintiff int,@Creditor_Debtor_Rights int,@Criminal_Defense int
declare @Education int,@Elder_Law int,@Employee_Benefits_ERISA int,@Employment int,@Entertainment_Sports int,@Environmental int,@Family_Law  int,@Financial_Institution_Banking_Finance int,@Government_Municipal_Zoning int ,@Healthcare int,@Insurance_Defense int,@Immigration int,@International int,@Investment_Counseling_Money_Management int
declare @Juvenile_Guardianship int,@Labor_Management int ,@Labor_Union int,@Mass_Tort_Class_Actions_Litigation_Defense int ,@Mass_Tort_Class_Actions_Litigation_Plaintiff int,@Medical_Malpractice_Defense int,@Medical_Malpractice_Plaintiff int ,@Mergers_Acquisitions int ,@Natural_Resources int ,@Non_Medical_Malpractice_Defense int ,@Non_Medical_Malpractice_Plaintiff int ,@Non_Profit_Charities int   ,@Other_Litigation_Defense int,@Other_Litigation_Plaintiff int,@Patent int  
declare @Personal_Injury_Litigation_Defense int ,@Personal_Injury_Litigation_Plaintiff int, @Product_Liability_Litigation_Defense int , @Product_Liability_Litigation_Plaintiff int, @Real_Estate_Commercial int
declare @Real_Estate_Residential int, @Securities int,@Social_Security_Disability int,@Tax int, @Traffic_DUI_DWI_Defense int,@Trusts_Estates_Wills_Probate int, @Utilities int ,@Workers_Compensation_Defense int
declare @Workers_Compensation_Plaintiff int, @Other int,@LimitAmount varchar(50),@DeductibleAmount varchar(50),@IsClaimOptionType char(1),@IsClaimExpensesType char(1) ,@NumberOfYearsWithFirm int,@ClaimAge_1 int,@ClaimAge_2 int,@ClaimAge_3 int,@ClaimAge_4 int,@ClaimAge_5 int,@ClaimAge_6 int,@ClaimAge_7 int,@ClaimAge_8 int,@ClaimAge_9 int,@ClaimAge_10 int,@Count int,@encryptedPolicyKey VARCHAR(200),@VersionKey int

CREATE TABLE #TempPolicyList (	
		[PolicyKey] [int],
		[TransactionSequence] [int],
		[VersionSequence] [int],
		[QuoteNumber] [varchar](20) ,
		EffectiveDate DATETIME,	
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](20) ,  
		[StateCode] [varchar](20),
		[StateDesc] [varchar](100),
		[CountyDesc] [varchar](50),
		[City] [varchar](50),
		[LimitAmount] [varchar](50) ,
		[DeductibleAmount] [varchar](50) ,
		[IsClaimOptionType] [char](1),
		[IsClaimExpensesType] [char](1) ,
		[IsDollarDefense] [char](1) ,
		[Modifier] [int] ,
		[NumberOfLawyers] [int] ,
		[NumberOfLawyers1000] [int] ,
		[NumberOfLawyers500] [int] ,
		[ClaimAge_1] [int] ,
		[ClaimAge_2] [int] ,
		[ClaimAge_3] [int] ,
		[ClaimAge_4] [int] ,
		[ClaimAge_5] [int] ,
		[ClaimAge_6] [int] ,
		[ClaimAge_7] [int] ,
		[ClaimAge_8] [int] ,
		[ClaimAge_9] [int] ,
		[ClaimAge_10] [int] ,		
		
		[Administrative_Regulatory] [int] ,
		[Admiralty_Maritime] [int] ,
		[Alternative_Dispute_Resolution] [int] ,
		[Antitrust] [int] ,
		[Appellate_Practice] [int] ,
		[Aviation] [int] ,

		[Bankruptcy] [int] ,
		[Civil_Litigation_Defense] [int] ,
		[Civil_Litigation_Plaintiff] [int] ,
		[Civil_Rights_Discrimination] [int] ,
		[Collections_Repossession] [int] ,
		[Communications_Media] [int] ,
		[Construction] [int] ,
		[Construction_Litigation_Defense] [int] ,
		[Construction_Litigation_Plaintiff] [int] ,
		[Copyright_Trademark] [int] ,
		[Corporate_Commercial_Business] [int] ,
		[Corporate_Commercial_Litigation_Defense] [int] ,
		[Corporate_Commercial_Litigation_Plaintiff] [int] ,
		[Creditor_Debtor_Rights] [int] ,
		[Criminal_Defense] [int] ,

		[Education] [int] ,
		[Elder_Law] [int] ,
		[Employee_Benefits_ERISA] [int] ,
		[Employment] [int] ,
		[Entertainment_Sports] [int] ,
		[Environmental] [int] ,
		[Family_Law] [int] ,
		[Financial_Institution_Banking_Finance] [int] ,
		[Government_Municipal_Zoning] [int] , 
		[Healthcare] [int] ,
		[Insurance_Defense] [int] ,
		[Immigration] [int] ,
		[International] [int] ,
		[Investment_Counseling_Money_Management] [int] ,

		[Juvenile_Guardianship] [int] ,
		[Labor_Management] [int] , 
		[Labor_Union] [int] ,
		[Mass_Tort_Class_Actions_Litigation_Defense] [int] , 
		[Mass_Tort_Class_Actions_Litigation_Plaintiff] [int] ,
		[Medical_Malpractice_Defense] [int] ,
		[Medical_Malpractice_Plaintiff] [int] , 
		[Mergers_Acquisitions] [int] , 
		[Natural_Resources] [int] , 
		[Non_Medical_Malpractice_Defense] [int] , 
		[Non_Medical_Malpractice_Plaintiff] [int] , 
		[Non_Profit_Charities] [int] ,   
		[Other_Litigation_Defense] [int] ,
		[Other_Litigation_Plaintiff] [int] ,
		[Patent] [int] ,  
		 
		[Personal_Injury_Litigation_Defense] [int] , 
		[Personal_Injury_Litigation_Plaintiff] [int] ,
		[Product_Liability_Litigation_Defense] [int] , 
		[Product_Liability_Litigation_Plaintiff] [int] ,
		[Real_Estate_Commercial] [int] ,
		[Real_Estate_Residential] [int] , 
		[Securities] [int] ,
		[Social_Security_Disability] [int] ,
		[Tax] [int] ,
		[Traffic_DUI_DWI_Defense] [int] , 
		[Trusts_Estates_Wills_Probate] [int] , 
		[Utilities] [int] ,  
		[Workers_Compensation_Defense] [int] ,
		[Workers_Compensation_Plaintiff] [int] , 
		[Other] [int] ,
		NumberOfAttorneys INT,
		TotalPremium VARCHAR(500),
		[Premium] [varchar](25) ,
		InsuredEmail VARCHAR(200),
		EmailLink VARCHAR(500),
		Address1 VARCHAR(500),
		Address2 VARCHAR(500),
		Zip VARCHAR(100),
		ContactName VARCHAR(100),
		InsuredName VARCHAR(200),
		isValidForRating CHAR,
		LimitSequence INT,
		ProducerCode VARCHAR(100),
		TransactionType VARCHAR(500),
		Status VARCHAR(100),
		QuoteType VARCHAR(100),
		[First Name] VARCHAR(100),
		[Last Name] VARCHAR(100),
		PolicyExpirationDate DATETIME,
		StatusKey INT,
		EligibleForRequote CHAR,
		AccountId INT,
		TotalCovModifierPercentage INT,
		IsQuoteLetterSend char,
		IsAppCompleted CHAR,
		Comment varchar(500),
		Limit   varchar(500),
		SecondaryEmail VARCHAR(300),
		VersionKey int
)

DECLARE @EffectiveDate DATETIME




--if(@PolicyEffectiveDateFrom is not null or @PolicyEffectiveDateTo is not null)
--begin
--	set @StatusKey = 6
--end 
declare @sqlstm1 varchar(8000)
declare @sqlstm2 varchar(8000)

print'Querry one done---------------->'
set @sqlstm = 'select p.PolicyKey, pt.TransactionSequence, f.VersionSequence, p.QuoteNumber, p.PolicyEffectiveDate,p.PolicyNumber, 
adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.CountyDesc, adds.City,
f.NumberOfLawyers, f.NumberOfLawyers1000, f.NumberOfLawyers500 ,pt.TotalPremium,a.AccountEmail,
 (select count(*) from AttorneyDetailsLW where PolicyKey=p.PolicyKey) as AttorneyCount,
 adds.Address1,adds.Address2,adds.zip+''-''+adds.Zip4 as Zip,f.ContactPerson,a.AccountName,lt.LimitSequence,pt.ProducerCode,
 tt.TransactionTypeDesc,CASE when p.IsFullQuote = ''Y''  THEN ''Full Quote'' When  p.IsFullQuote = ''Y'' THEN ''QuickQuote'' END as QuoteType,st.StatusDesc
 ,pt.PolicyExpirationDate,pt.StatusKey,p.AccountId,pc.TotalCovModifierPercentage,f.IsAppCompleted,
 case when pt.StatusKey=4 then f.comment else null end as comment
 ,PARSENAME(Convert(varchar,Convert(money,pc.AggregateLimit),1),2) +''/'' +PARSENAME(Convert(varchar,Convert(money,pc.OccuranceLimit),1),2) as Limit
 ,a.secondaryEmail,p.VersionKey
from PolicyTransaction pt 
 inner Join Policy p  on p.PolicyKey=pt.PolicyKey
 inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
 inner join Account a on a.AccountKey=aa.AccountKey
 inner Join Address adds on adds.AddressKey=aa.AddressKey
 inner join FirmLW f on p.PolicyKey=f.Policykey and f.versionsequence=(select max(versionsequence) from firmlw where Policykey=p.PolicyKey)
 inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence
 inner join PolicyCoverage pc on pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence
 inner join Limits lt on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit and pc.CoverageKey=lt.CoverageKey
 inner join Transactiontype tt on pt.TransactionTypeKey=tt.TransactionTypeKey
 inner join status st on pt.StatusKey=st.StatusKey'

if(@AOPString is not null and @AOPString <> '')
begin

	set  @sqlstm = @sqlstm + 'inner join AreaOfPracticeLW areaP on areaP.PolicyKey=f.PolicyKey and areaP.VersionSequence=f.VersionSequence
	where q.IsFirstQuote=''Y'' and f.IsRenewed is null and p.MarketableProductKey=2   and pt.statuskey not in(8) and  p.isUncompletedData=''N'' 
	and areaP.PercentageValue>0 and areaP.AOPKey in(select * from SplitString('''+@AOPString+''', '','')) '
	
end
else
BEGIN
	set  @sqlstm = @sqlstm + ' where q.IsFirstQuote=''Y'' and f.IsRenewed is null and p.MarketableProductKey=2   and pt.statuskey not in(8) and  p.isUncompletedData=''N'''
end

if((@PolicyEffectiveDateFrom is not null and @PolicyEffectiveDateTo is not null) and (@PolicyEffectiveDateFrom <>'' and @PolicyEffectiveDateTo <>''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between ''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateFrom) +''' and ''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateTo) + ''''
	
	
end
else
BEGIN
	set  @sqlstm = @sqlstm + 'and p.PolicyEffectiveDate<GETDATE()-30'
END

if((@PolicyEffectiveDateFrom is not null and @PolicyEffectiveDateFrom <>'') and (@PolicyEffectiveDateTo is null or @PolicyEffectiveDateTo ='' ))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate >=''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateFrom) + ''''

	
end

if((@PolicyEffectiveDateFrom is null or @PolicyEffectiveDateFrom ='') and (@PolicyEffectiveDateTo is not null and @PolicyEffectiveDateTo<>''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate <=''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateTo) + ''''
	
	
end


--set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select min(TransactionSequence) from Quote q where q.PolicyKey=p.PolicyKey)'

		
if(@requoteTransactionType is not null and @requoteTransactionType <> '')
begin
		if(@requoteTransactionType=1)
		BEGIN
			set  @sqlstm = @sqlstm + ' and p.PolicyStatusKey=2  and p.IsFullQuote=''Y'''
			
		END
		if(@requoteTransactionType=2)
		BEGIN
			set  @sqlstm = @sqlstm + ' and p.PolicyStatusKey=1  and p.IsFullQuote=''Y'''
			
		END
		if(@requoteTransactionType=3)
		BEGIN
			set  @sqlstm = @sqlstm + '  and pt.StatusKey=11 and p.IsQuickQuote=''Y'''
			
		END
		if(@requoteTransactionType=4)
		BEGIN
			set  @sqlstm = @sqlstm + ' and p.IsQuickQuote=''Y'''
			
		END
		
	--set  @sqlstm2 = @sqlstm2 + ' and adds.StateCode in(select * from SplitString('''+@StateCode+''', '',''))'
end
if(@StateCode is not null and @StateCode <> '')
begin
	set  @sqlstm = @sqlstm + ' and adds.StateCode in(select * from SplitString('''+@StateCode+''', '',''))'
	
end



IF(@ProducerCode1 is not null and @ProducerCode1='SubProduced')
BEGIN
	--Print 'Policies type ar subproduced'
	set  @sqlstm = @sqlstm + 'and  pt.ProducerCode <>'''' and pt.ProducerCode is not null'

END
	
IF(@ProducerCode1 is not null and @ProducerCode1='Direct')	 
BEGIN
	--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
set  @sqlstm = @sqlstm + 'and (pt.ProducerCode='''' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect=''Y''))'
	
END
--set  @sqlstm = @sqlstm + ' and p.PolicyKey=73286'	

SET @sqlstm=@sqlstm+' group by p.PolicyKey,pt.PolicyKey, pt.TransactionSequence, f.VersionSequence, p.QuoteNumber, p.PolicyEffectiveDate, p.PolicyNumber, 
adds.StateCode,adds.StateCode, adds.CountyDesc, adds.City,
f.NumberOfLawyers, f.NumberOfLawyers1000, f.NumberOfLawyers500 ,pt.InvoicedPremium,a.AccountEmail,adds.Address1,adds.Address2,adds.zip,adds.Zip4,f.ContactPerson,a.AccountName,lt.LimitSequence,
pt.ProducerCode,tt.TransactionTypeDesc,p.IsFullQuote,p.IsQuickQuote,pt.StatusKey,st.StatusDesc,pt.TotalPremium,pt.PolicyExpirationDate,pt.StatusKey,p.AccountId,TotalCovModifierPercentage,IsAppCompleted,f.comment,pc.AggregateLimit,pc.OccuranceLimit,a.secondaryEmail,p.VersionKey'


print @sqlstm

Insert into #TempPolicyList(PolicyKey, TransactionSequence, VersionSequence, QuoteNumber, EffectiveDate, PolicyNumber, StateCode, StateDesc, CountyDesc, City, NumberOfLawyers, NumberOfLawyers1000, NumberOfLawyers500,TotalPremium,InsuredEmail,NumberOfAttorneys,Address1,Address2,Zip,ContactName,InsuredName,LimitSequence,ProducerCode,TransactionType,QuoteType,Status,PolicyExpirationDate,StatusKey,AccountId,TotalCovModifierPercentage,IsAppCompleted,Comment,Limit,SecondaryEmail,VersionKey) 
EXECUTE ( @sqlstm)



DECLARE @noFTLawyer int
DECLARE @no1000Lawyers int
DECLARE @no500Lawyers int
DECLARE @NumberOfLayers INT
DECLARE @ContactName VARCHAR(500)
DECLARE @FName VARCHAR(100)
DECLARE @LName VARCHAR(100)
DECLARE @AccountID INT
DECLARE @containsIndication CHAR
DECLARE @FullyCompleted CHAR
Declare @AccountName VARCHAR(500)
DECLARE @IsFirmHaveLawyersLiabilityInsurance CHAR
DECLARE @AopSum int
DECLARE @ContactPerson VARCHAR(500)
DECLARE @AttorneyCountComparison INT
DECLARE @PolicyStatusKeyComparison INT
DECLARE @AOPCount INT
DECLARE @VersionSequenceComparison INT
DECLARE @PreviousVersionSequence INT
DECLARE @CreatedDate DATETIME
DECLARE @DaysDiffenence INT
DECLARE @IsFirmPage CHAR
DECLARE @IsAopPage CHAR
DECLARE @IsPracticePage CHAR
DECLARE @IsCoveragePage CHAR
DECLARE @IsRenewFirmPage CHAR
DECLARE @City VARCHAR(100)
DECLARE @AccountIDComparison INT
DECLARE @EligibleForRequote CHAR

	Declare c1 cursor for
	select PolicyKey, TransactionSequence, EffectiveDate,ContactName,StatusKey,AccountId,VersionKey from #TempPolicyList group by PolicyKey, TransactionSequence, VersionSequence,EffectiveDate,ContactName,StatusKey,AccountId,VersionKey
	 	   
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@EffectiveDate,@ContactName,@StatusKey,@AccountID,@VersionKey
	WHILE @@FETCH_STATUS = 0
		begin
		set @EligibleForRequote='Y'
		--set @containsIndication='N'
		--if(@StatusKey<>11)
		--BEGIN
		--	SET @IndicationCount=(Select case when Count(pt.PolicyKey) is not null then Count(pt.PolicyKey) else 0 end as Indicationcount from PolicyTransaction pt Inner join  Policy p on p.PolicyKey=pt.PolicyKey where p.AccountID=@AccountID and pt.StatusKey=11)
			
		--	if(@IndicationCount>0)
		--	begin
		--		set @containsIndication='Y'
		--	END
		--END	
			--print 'Hi'
			--To Set AOP
			SET @VersionSequence=(Select Min(VersionSequence) from Firmlw Where PolicyKey=@PolicyKey)
			set @ClaimAge_1 = 0
			set @ClaimAge_2=0
			set @ClaimAge_3=0
			set @ClaimAge_4=0
			set @ClaimAge_5=0
			set @ClaimAge_6=0
			set @ClaimAge_7=0
			set @ClaimAge_8=0
			set @ClaimAge_9=0
			set @ClaimAge_10=0
			set @no500Lawyers=0
			SET @no1000Lawyers=0
			SET @noFTLawyer=0
			SET @NumberOfLayers=(SELECT CASE WHEN count(*) is NULL then 0 ELSE count(*) END FROM AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence )
			 IF(@NumberOfLayers=1)
			 BEGIN
			  SET @noFTLawyer=1
			 END
			  IF(@NumberOfLayers>1)
			  BEGIN
				  SET @no500Lawyers=(SELECT CASE WHEN count(*) is NULL then 0 ELSE count(*) END FROM AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and AnnualWorkedHours<=500)
			    	SET @no1000Lawyers=(SELECT CASE WHEN count(*) is NULL then 0 ELSE count(*) END FROM AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and AnnualWorkedHours>500 and AnnualWorkedHours<=1000)
			    	SET @noFTLawyer=(SELECT CASE WHEN count(*) is NULL then 0 ELSE count(*) END FROM AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and AnnualWorkedHours>1000)
			  END

			--DECLARE @EffectiveDate DATETIME='2017-09-01'
			DECLARE @YearDifference INT
			
			--SET @YearDifference=(SELECT DATEADD(year, 1, '2017/08/25'))
			SET @YearDifference=(SELECT DATEDIFF(year, convert(varchar, @EffectiveDate, 101),convert(varchar,  GETDATE(), 101)) )
			if(@YearDifference>0)
			BEGIN 
		--	print  @YearDifference
				SET @EffectiveDate=(SELECT DATEADD(year, @YearDifference, @EffectiveDate))
			END
			--select @EffectiveDate as EffectiveDate

			IF(convert(varchar, @EffectiveDate, 101)<convert(varchar,  GETDATE(), 101))
			BEGIN
				SET @EffectiveDate=(SELECT DATEADD(year, 1, @EffectiveDate))
			END
			SET @FName=(select top 1 * from SplitString(@ContactName,' '))
			SET @LName=(SELECT SUBSTRING(@ContactName, LEN(@FName)+1, LEN(@ContactName)))
			UPDATE #TempPolicyList set [First Name]=@FName,[Last Name]=@LName WHere PolicyKey=@PolicyKey
			UPDATE #TempPolicyList set PolicyEffectiveDate=@EffectiveDate WHere PolicyKey=@PolicyKey
			DECLARE @encryptedEffectiveDate varchar(1000)
			set @encryptedEffectiveDate=(select  dbo.EncryptString(convert(varchar, @EffectiveDate, 101)))
			SET @encryptedPolicyKey=(select dbo.EncryptString(@PolicyKey))
			--select @PolicyKey as PolicyKey,@VersionSequence as VersionSequence,@PolicyEffectiveDate as PolicyEffectiveDate
			--print @PolicyKey
			--print @VersionSequence
			SET @Administrative_Regulatory  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=54  group by PercentageValue)
			SET @Admiralty_Maritime  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=28  group by PercentageValue)
			SET @Alternative_Dispute_Resolution  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=2  group by PercentageValue)
			SET @Antitrust  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=1  group by PercentageValue)
			SET @Appellate_Practice  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=29  group by PercentageValue)
			SET @Aviation  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=30  group by PercentageValue)
			SET @Bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=3  group by PercentageValue)
			SET @Civil_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=64 group by PercentageValue)
			SET @Civil_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=55 group by PercentageValue)
			SET @Civil_Rights_Discrimination  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=4 group by PercentageValue)
			SET @Collections_Repossession  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=31 group by PercentageValue)
			SET @Communications_Media  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=32 group by PercentageValue)
			SET @Construction  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=33 group by PercentageValue)
			SET @Construction_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=65 group by PercentageValue)
			SET @Construction_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=56 group by PercentageValue)
			SET @Copyright_Trademark  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=6group by PercentageValue)
			SET @Corporate_Commercial_Business  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=5 group by PercentageValue)
			SET @Corporate_Commercial_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=66 group by PercentageValue)
			SET @Corporate_Commercial_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=57 group by PercentageValue)
			SET @Creditor_Debtor_Rights  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=34 group by PercentageValue)
			SET @Criminal_Defense  = (select SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in (7,35))
			
			SET @Education  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=36 group by PercentageValue)
			SET @Elder_Law  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=9 group by PercentageValue)
			SET @Employee_Benefits_ERISA  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=11 group by PercentageValue)
			SET @Employment  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=37 group by PercentageValue)
			SET @Entertainment_Sports  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=38 group by PercentageValue)
			SET @Environmental  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=10 group by PercentageValue)
			SET @Family_Law  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=8 group by PercentageValue)
			SET @Financial_Institution_Banking_Finance  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=12 group by PercentageValue)
			SET @Government_Municipal_Zoning  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=13 group by PercentageValue)
			SET @Healthcare  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=39 group by PercentageValue)
			
			SET @Immigration  = (select SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in (14,40)  )


			SET @Insurance_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=41 group by PercentageValue)
			SET @International  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=42 group by PercentageValue)
			SET @Investment_Counseling_Money_Management  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=15 group by PercentageValue)
			SET @Juvenile_Guardianship  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=43 group by PercentageValue)
			SET @Labor_Management  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=44 group by PercentageValue)
			SET @Labor_Union  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=45 group by PercentageValue)
			SET @Mass_Tort_Class_Actions_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=68 group by PercentageValue)
			SET @Mass_Tort_Class_Actions_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=59 group by PercentageValue)
			SET @Medical_Malpractice_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=69 group by PercentageValue)
			SET @Medical_Malpractice_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=60 group by PercentageValue)
			SET @Mergers_Acquisitions  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=46 group by PercentageValue)
			SET @Natural_Resources  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=16 group by PercentageValue)
			
			SET @Non_Medical_Malpractice_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=70 group by PercentageValue)
			SET @Non_Medical_Malpractice_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=61 group by PercentageValue)
			SET @Non_Profit_Charities  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=47 group by PercentageValue)
			
			SET @Other_Litigation_Defense  = (select  SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in(18,58))
			SET @Other_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=67 group by PercentageValue)
			
			SET @Patent  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=48 group by PercentageValue)
			SET @Personal_Injury_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=71 group by PercentageValue)
			SET @Personal_Injury_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=62 group by PercentageValue)
			SET @Product_Liability_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=72 group by PercentageValue)
			SET @Product_Liability_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=63 group by PercentageValue)
			SET @Real_Estate_Commercial  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=20 group by PercentageValue)
			SET @Real_Estate_Residential  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=27 group by PercentageValue)
			SET @Securities  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=21 group by PercentageValue)
			SET @Social_Security_Disability  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=49 group by PercentageValue)
			SET @Tax  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=22 group by PercentageValue)
			SET @Traffic_DUI_DWI_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=50 group by PercentageValue)
			SET @Trusts_Estates_Wills_Probate  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=24 group by PercentageValue)
			print 'pass2'
			SET @Utilities  = (select SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in(19,51))
			
			SET @Workers_Compensation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=52 group by PercentageValue)
			SET @Workers_Compensation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=53 group by PercentageValue)
			SET @Other  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=25 group by PercentageValue)
			--print 'Hi1'	
			-- To set Modifier
			select @TotalModifier = sum(Percentage) from CoverageModifiers where policykey=@PolicyKey and TransactionSequence=@TransactionSequence
			--To set Coverage
			select @IsClaimOptionType = CASE WHEN IsClaimOptionType is Null OR IsClaimOptionType='' THEN 'N' ELSE IsClaimOptionType END 
			, @IsClaimExpensesType = CASE WHEN IsClaimExpensesType IS NULL OR IsClaimExpensesType='' THEN 'N' ELSE IsClaimExpensesType END,
			 @IsDollarDefense = IsDollarDefense, @LimitAmount = Convert(varchar,AggregateLimit)  +'/'+ Convert(varchar,OccuranceLimit), @DeductibleAmount = AggregateDeductible from PolicyCoverage where policykey=@PolicyKey and TransactionSequence=@TransactionSequence
			--print 'Hi2'
			--To set claim age
			set @Count = 1
			Declare c2 cursor for
				select Year from ClaimAgeLW where policykey=@PolicyKey 	   
				OPEN c2
				FETCH NEXT FROM c2 into @NumberOfYearsWithFirm
				WHILE @@FETCH_STATUS = 0
					begin
					Print CONVERT(VARCHAR(12), @Count)
					
					if(@Count = 1)
						begin
							set @ClaimAge_1 = @NumberOfYearsWithFirm
						end
					if(@Count = 2)
						begin
							set @ClaimAge_2 = @NumberOfYearsWithFirm
						end
					if(@Count = 3)
						begin
							set @ClaimAge_3 = @NumberOfYearsWithFirm
						end
					if(@Count = 4)
						begin
							set @ClaimAge_4 = @NumberOfYearsWithFirm
						end
					if(@Count = 5)
						begin
							set @ClaimAge_5 = @NumberOfYearsWithFirm
						end
					if(@Count = 6)
						begin
							set @ClaimAge_6 = @NumberOfYearsWithFirm
						end
					if(@Count = 7)
						begin
							set @ClaimAge_7 = @NumberOfYearsWithFirm
						end
					if(@Count = 8)
						begin
							set @ClaimAge_8 = @NumberOfYearsWithFirm
						end
					if(@Count = 9)
						begin
							set @ClaimAge_9 = @NumberOfYearsWithFirm
						end
					if(@Count = 10)
						begin
							set @ClaimAge_10 = @NumberOfYearsWithFirm
						end

						set @Count = @Count + 1
						FETCH NEXT FROM c2 into @NumberOfYearsWithFirm					
					end
			CLOSE c2
			DEALLOCATE c2
			--print 'Hi3'
--<<<<<<<<---------------------------------------------------checking for Policy Completion-------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

		
		SET	@FullyCompleted='Y'
		SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
		SELECT @PolicyStatusKeyComparison=PolicyStatusKey,@AccountIDComparison=AccountID FROM Policy WHERE PolicyKey=@PolicyKey
		SET @VersionSequenceComparison=(SELECT MAX(VersionSequence) FROM FirmLW WHERE PolicyKey=@PolicyKey)
		set @AccountName=(	SELECT AccountName FROM Account where accountkey=(SELECT top 1 AccountKey FROM PolicyTransaction WHERE PolicyKey=@PolicyKey))
		SET @AOPCount=(SELECT CASE WHEN Count(*) Is NULL then 0 else count(*) END From AreaOfPracticeLW Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		SET @City=(select  top 1 City from address adr  inner join AccountAddress aa on aa.AddressKey=adr.AddressKey inner join PolicyTransaction pt on pt.AccountKey=aa.AccountKey  where Policykey=@PolicyKey)
		IF(@PolicyStatusKeyComparison=1)
		BEGIN

			IF(@CreatedDate<'2017-06-20')
			BEGIN
			
				SELECT @IsFirmPage=IsFirmPage,@IsAopPage=IsAopPage,@IsPracticePage=IsPracticePage,@IsCoveragePage=IsCoveragePage
				FROM FIRMLW Where PolicyKey=@PolicyKey

				IF(@IsFirmPage<>'Y')
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
				IF(@City='' or @City is null)
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
				IF(@IsAopPage<>'Y')
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END

				IF(@IsPracticePage<>'Y')
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END


				IF(@IsCoveragePage<>'Y')
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END

			END
			ELSE
				BEGIN
				--	PRINT 'IN NEW FLOW'
					select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance 
					from firmlw where policykey=@PolicyKey and VersionSequence=@VersionSequence
				
					IF(@AOPCount<1)
					BEGIN
						--print '100'
						SET @FullyCompleted='N'
					END
					SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
					SELECT @AttorneyCountComparison=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AttorneyName is not null
		
					IF(@AccountName IS  NULL)
					BEGIN
					--	print @AccountName
						SET @FullyCompleted='N'
					END
					IF(@City='' or @City is null)
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
					IF(@IsFirmHaveLawyersLiabilityInsurance IS  NULL)
					BEGIN
						--print '2'
						SET @FullyCompleted='N'
					END

					IF(@AttorneyCountComparison=0)
					BEGIN
						--print '3'
						SET @FullyCompleted='N'
					END
		
					IF(@AopSum!=100)
					BEGIN
						--print '4'
						SET @FullyCompleted='N'
					END
			END

	END
	
	IF(@PolicyStatusKeyComparison=2)
	BEGIN
		--PRINT 'IN RENEWAL FLOW'
		

		DECLARE @IsAttorneyAddedDeleted CHAR
		DECLARE @AnnualRevenueSequence INT
	
		IF(@CreatedDate<'2017-06-20')
			BEGIN
				SELECT @IsRenewFirmPage=IsRenewFirmPage FROM FIRMLW Where PolicyKey=@PolicyKey

				IF(@IsRenewFirmPage<>'Y')
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
				IF(@City='' or @City is null)
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
		END
		
		ELSE
			BEGIN				
				select	@ContactPerson=ContactPerson,@IsAttorneyAddedDeleted=IsAttorneyAddedDeleted from firmlw where policykey=@PolicyKey and VersionSequence=@VersionSequence
					--IF(@AOPCount<1)
					--BEGIN
					--	--print '100'
					--	SET @FullyCompleted='N'
					--END
				SELECT @AopSum= case when sum(percentagevalue) is not null then  sum(percentagevalue) else 0 END from AreaOfPracticeLW where PolicyKey=@PolicyKey  and VersionSequence=@VersionSequence
				SELECT @AttorneyCountComparison=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey  and VersionSequence=@VersionSequence
				IF(@ContactPerson IS  NULL)
					BEGIN
					--	print '1'
						SET @FullyCompleted='N'
					END
					IF(@City='' or @City is null)
				BEGIN
					--print '100'
					SET @FullyCompleted='N'
				END
				IF(@AttorneyCountComparison=0)
					BEGIN
					--	print '2'
						SET @FullyCompleted='N'
					END
				IF(@AopSum!=100 )
					BEGIN
						print 'AOP sum is null for Policy'
						print @PolicyKey
						print @VersionSequence

						if(@FullyCompleted='Y')
						BEGIN
							DECLARE @PriorPolicyKey INT
							DECLARE @PriorVersionSequence INT
								SET @PriorPolicyKey=(select top 1 Policykey from policy where Policykey<@PolicyKey and AccountID=@AccountIDComparison order by PolicyKey desc)
								SET @PriorVersionSequence=(select min(VersionSequence)  from FirmLW where Policykey=@PriorPolicyKey)
							
							if exists(select * from AreaOfPracticeLW where Policykey=@PolicyKey)
							begin
								delete from AreaOfPracticeLW where Policykey=@PolicyKey
							end
							INSERT INTO AreaOfPracticeLW(AOPKey,PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,VersionKey) select  AOPKey,PercentageValue,AOPCommentDesc,@PolicyKey ,@VersionSequence,@VersionKey from AreaOfPracticeLW Where PolicyKey=@PriorPolicyKey  and VersionSequence=@PriorVersionSequence 
							--print @slqStmt
							--exec sp_executesql @slqStmt
						END
						ELSE
						BEGIN
								SET @FullyCompleted='N'
						END
					END
		
				
			END
	
	END
--<<<<<<<<<<<<<-------------------Policy Completion checking done------------------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		--	print @PolicyKey
			update #TempPolicyList set [LimitAmount] = @LimitAmount , [DeductibleAmount] = @DeductibleAmount ,[IsClaimOptionType] = @IsClaimOptionType,
			[IsClaimExpensesType] = @IsClaimExpensesType , [IsDollarDefense] = @IsDollarDefense, [Modifier] = CASE WHEN @Modifier is not null and @Modifier <> '' and @Modifier <> 0 THEN @Modifier ELSE @TotalModifier END,
			[PolicyEffectiveDate] = CASE WHEN @PolicyEffectiveDate is not null and @PolicyEffectiveDate <> ''  THEN @PolicyEffectiveDate ELSE [PolicyEffectiveDate] END,
			Administrative_Regulatory = @Administrative_Regulatory , Admiralty_Maritime = @Admiralty_Maritime , Alternative_Dispute_Resolution = @Alternative_Dispute_Resolution ,
			Antitrust = @Antitrust , Appellate_Practice = @Appellate_Practice , Aviation = @Aviation , Bankruptcy= @Bankruptcy ,
			Civil_Litigation_Defense = @Civil_Litigation_Defense , Civil_Litigation_Plaintiff = @Civil_Litigation_Plaintiff , Civil_Rights_Discrimination = @Civil_Rights_Discrimination ,
			Collections_Repossession = @Collections_Repossession , Communications_Media = @Communications_Media , Construction = @Construction ,
			Construction_Litigation_Defense = @Construction_Litigation_Defense , Construction_Litigation_Plaintiff = @Construction_Litigation_Plaintiff , Copyright_Trademark = @Copyright_Trademark ,
			Corporate_Commercial_Business = @Corporate_Commercial_Business , Corporate_Commercial_Litigation_Defense = @Corporate_Commercial_Litigation_Defense , Corporate_Commercial_Litigation_Plaintiff = @Corporate_Commercial_Litigation_Plaintiff ,
			Creditor_Debtor_Rights = @Creditor_Debtor_Rights , Criminal_Defense = @Criminal_Defense , Education = @Education , Elder_Law = @Elder_Law ,
			Employee_Benefits_ERISA = @Employee_Benefits_ERISA , Employment = @Employment , Entertainment_Sports = @Entertainment_Sports , Environmental = @Environmental ,
			Family_Law = @Family_Law , Financial_Institution_Banking_Finance = @Financial_Institution_Banking_Finance , Government_Municipal_Zoning = @Government_Municipal_Zoning ,
			Healthcare = @Healthcare , Insurance_Defense = @Insurance_Defense , Immigration = @Immigration , International = @International , Investment_Counseling_Money_Management = @Investment_Counseling_Money_Management ,
			Juvenile_Guardianship = @Juvenile_Guardianship , Labor_Management = @Labor_Management , Labor_Union = @Labor_Union , Mass_Tort_Class_Actions_Litigation_Defense = @Mass_Tort_Class_Actions_Litigation_Defense ,
			Mass_Tort_Class_Actions_Litigation_Plaintiff = @Mass_Tort_Class_Actions_Litigation_Plaintiff , Medical_Malpractice_Defense = @Medical_Malpractice_Defense , Medical_Malpractice_Plaintiff = @Medical_Malpractice_Plaintiff ,
			Mergers_Acquisitions = @Mergers_Acquisitions , Natural_Resources = @Natural_Resources , Non_Medical_Malpractice_Defense = @Non_Medical_Malpractice_Defense ,
			Non_Medical_Malpractice_Plaintiff = @Non_Medical_Malpractice_Plaintiff , Non_Profit_Charities = @Non_Profit_Charities , Other_Litigation_Defense = @Other_Litigation_Defense ,
			Other_Litigation_Plaintiff = @Other_Litigation_Plaintiff , Patent = @Patent , Personal_Injury_Litigation_Defense = @Personal_Injury_Litigation_Defense ,
			Personal_Injury_Litigation_Plaintiff = @Personal_Injury_Litigation_Plaintiff , Product_Liability_Litigation_Defense = @Product_Liability_Litigation_Defense , Product_Liability_Litigation_Plaintiff = @Product_Liability_Litigation_Plaintiff ,
			Real_Estate_Commercial = @Real_Estate_Commercial , Real_Estate_Residential = @Real_Estate_Residential , Securities = @Securities , Social_Security_Disability = @Social_Security_Disability ,
			Tax = @Tax, Traffic_DUI_DWI_Defense = @Traffic_DUI_DWI_Defense , Trusts_Estates_Wills_Probate = @Trusts_Estates_Wills_Probate , Utilities = @Utilities ,
			Workers_Compensation_Defense = @Workers_Compensation_Defense , Workers_Compensation_Plaintiff = @Workers_Compensation_Plaintiff, Other = @Other,
			ClaimAge_1 = @ClaimAge_1, ClaimAge_2 = @ClaimAge_2, ClaimAge_3 = @ClaimAge_3, ClaimAge_4 = @ClaimAge_4, ClaimAge_5 = @ClaimAge_5,
			ClaimAge_6 = @ClaimAge_6, ClaimAge_7 = @ClaimAge_7, ClaimAge_8 = @ClaimAge_8, ClaimAge_9 = @ClaimAge_9, ClaimAge_10 = @ClaimAge_10,
			EmailLink=concat(@URL+'',@encryptedPolicyKey+'&requotePolicyEffectiveDate='+@encryptedEffectiveDate),isValidForRating=@FullyCompleted,NumberOfLawyers=@noFTLawyer,NumberOfLawyers500=@no500Lawyers,
			NumberOfLawyers1000=@no1000Lawyers,EligibleForRequote=(select dbo.ValidatePolicyForRquoteLW_p(@PolicyKey,@AccountId,@StatusKey))
			
			where PolicyKey = @PolicyKey
				
			FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@EffectiveDate,@ContactName,@StatusKey,@AccountID,@VersionKey			
		end
		CLOSE c1
		DEALLOCATE c1
		print 'goning to remove polcies'
Delete from #TempPolicyList where StatusKey=6 --and PolicyExpirationDate>GETDATE()+30
Delete from #TempPolicyList where EligibleForRequote='N'


create table #IsQuoteLetterSend
(
	PolicyKey varchar(700),
	IsQuoted varchar(1)
)

print 1
                
	--select * from #TempPolicyList where PolicyKey = 8109---------------------------------------------------------------------------------------------------
	INSERT INTO #IsQuoteLetterSend(PolicyKey, IsQuoted)
	SELECT PolicyKey, IsQuoted
--	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchiveLW da WITH(NOLOCK)
			INNER JOIN #TempPolicyList t WITH(NOLOCK) ON t.VersionSequence = da.VersionSequence
			AND t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1


	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey

if(@AttorneyCount is not null and @AttorneyCount <> '')
begin
	if(@AttorneyCount=1)
	BEGIN
		select *  from #TempPolicyList  where NumberOfAttorneys =1  and  isValidForRating='Y' order by Policykey
	END
	if(@AttorneyCount=2)
	BEGIN
		select *  from #TempPolicyList  where NumberOfAttorneys =2 and  isValidForRating='Y'  order by Policykey
	END
	if(@AttorneyCount=3)
	BEGIN
		select *  from #TempPolicyList  where NumberOfAttorneys =3 and  isValidForRating='Y' order by Policykey
	END
	if(@AttorneyCount=4)
	BEGIN
		select *  from #TempPolicyList  where NumberOfAttorneys >3 and  isValidForRating='Y' order by Policykey
	END

	--select *  from #TempPolicyList  where NumberOfAttorneys in (select * from SplitString(@AttorneyCount, ',')) order by Policykey
end
else
BEGIN
select * from #TempPolicyList where isValidForRating='Y' 
--and PolicyKey in(71564)
order by Policykey --where policykey=57876
END
drop table #TempPolicyList

END












GO
