USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_RealEstateSupplement_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_RealEstateSupplement_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_RealEstateSupplement_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_RealEstateSupplement_LW] AS' 
END
GO
--exec UWRules_RealEstateSupplement_LW 160406, 163499, 87901, 160648, 136046, 2, 3
ALTER PROCEDURE [dbo].[UWRules_RealEstateSupplement_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT,@AttorneyCount INT=0
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	--select * from AOPRELW
	DECLARE @realestateComm numeric(10,2)=0,@realestateResi numeric(10,2)=0
	DECLARE @TitleOpinionsResiTercentage INT=0,@TitleOpinionsCommTercentage INT=0,@PurchaseSaleResiPercentage INT=0,@PurchaseSaleCommPercentage INT=0,@ForeclosuresLoanWorkoutsResi INT=0,@ForeclosuresLoanWorkoutsComm INT=0,@financial INT=0,@eminentDomainResi INT=0,@eminentDomainComm INT=0
	DECLARE @TitleOpinionsResiTercentagePrior INT=0,@TitleOpinionsCommTercentagePrior INT=0,@PurchaseSaleResiPercentagePrior INT=0,@PurchaseSaleCommPercentagePrior INT=0,@ForeclosuresLoanWorkoutsResiPrior INT=0,@ForeclosuresLoanWorkoutsCommPrior INT=0,@financialPrior INT=0,@eminentDomainResiPrior INT=0,@eminentDomainCommPrior INT=0
	DECLARE @SpeculativeRealEstateResi INT=0,@SpeculativeRealEstateComm INT=0,@RealEstateTrustResi INT=0,@RealEstateTrustComm INT=0,@OtherResi INT=0,@OtherComm INT=0
	DECLARE @SpeculativeRealEstateResiPrior INT=0,@SpeculativeRealEstateCommPrior INT=0,@RealEstateTrustResiPrior INT=0,@RealEstateTrustCommPrior INT=0,@OtherResiPrior INT=0,@OtherCommPrior INT=0
	DECLARE @transactionsHandled12MonthsResi numeric(10,2)=0,	@transactionsHandled12MonthsComm INT=0,@attendClosings CHAR,@includeSecuringFinancing CHAR,@useDisclosureForm CHAR
	DECLARE @transactionsHandled12MonthsResiPrior NUMERIC(10,2)=0,	@transactionsHandled12MonthsCommPrior INT=0,@attendClosingsPrior CHAR,@includeSecuringFinancingPrior CHAR,@useDisclosureFormPrior CHAR
	DECLARE @otherResiDesc VARCHAR(500),@otherCommDesc VARCHAR(500),@otherResiDescPrior VARCHAR(500),@otherCommDescPrior VARCHAR(500)
	set @AttorneyCount=(Select Count(*) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @financial =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=12)
	select @TitleOpinionsResiTercentage=PercentageValue,@TitleOpinionsCommTercentage=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=22
	select @PurchaseSaleResiPercentage=PercentageValue,@PurchaseSaleCommPercentage=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=1
	select @ForeclosuresLoanWorkoutsResi=PercentageValue,@ForeclosuresLoanWorkoutsComm=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=19
	select @eminentDomainResi=PercentageValue,@eminentDomainComm=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=12
	select @SpeculativeRealEstateResi=PercentageValue,@SpeculativeRealEstateComm=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=13
	select @RealEstateTrustResi=PercentageValue,@RealEstateTrustComm=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=16
	select @OtherResi=PercentageValue,@OtherComm=CommercialPercentageValue,@otherResiDesc=AOPRECommentDesc,@otherCommDesc=AOPRECommCommentDesc from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPREKey=20
	SET @realestateComm =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=20)
	SET @realestateResi =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=@VersionSequence and aopLW.AOPKey=27)
	
	select @transactionsHandled12MonthsResi=transactionsHandled12MonthsResi,@transactionsHandled12MonthsComm=transactionsHandled12MonthsComm,@attendClosings=attendClosings,@includeSecuringFinancing=includeSecuringFinancing,@useDisclosureForm=useDisclosureForm
	 from RealEastateDetailsLW 	where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	 --select @eminentDomainResi as eminentDomainResi,@eminentDomainComm as eminentDomainComm
	DECLARE @result1 numeric(10,2)=0,@result2 numeric(10,2)=0
	 if(@AttorneyCount>0)
		BEGIN
			
			if(@realestateResi>0)
				set @result1=(((@transactionsHandled12MonthsResi/@realestateResi)*100)/@AttorneyCount)
			if(@realestateComm>0)
				set @result2=(((@transactionsHandled12MonthsComm/@realestateComm)*100)/@AttorneyCount)
			END



	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='TitleOpinionsIndivisual_Lawyers'
		if(@TitleOpinionsResiTercentage>15 or @TitleOpinionsCommTercentage>10)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Title Opinions more than 15% of practice.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='TitleOpinionsSalePurchaseRule_Lawyers'
		if(@TitleOpinionsResiTercentage>@PurchaseSaleResiPercentage or @TitleOpinionsCommTercentage>@PurchaseSaleCommPercentage)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Title Opinions percentage greater than the purchase and sale percentage.','Are the opinions provided to other law firms or non real estate clients?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='ForeClosuresRule_Lawyers'
		if((@ForeclosuresLoanWorkoutsResi>10 or @ForeclosuresLoanWorkoutsComm>10) and @financial>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real estate foreclosure work. Review and determine who they are doing it on behalf of a financial institution.','Is the firm performing foreclosure services on behalf of a financial institution?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
		set @rule_id='eminentDomainNewApp_Lawyers'
		if(@eminentDomainResi>0 or @eminentDomainComm>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Providing eminent domain work in Real Estate.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='checkSpeculativeAop_Lawyers'
		if(@SpeculativeRealEstateResi>0 or @SpeculativeRealEstateComm>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Speculative Real Estate, Investment Trusts, or Real Estate Syndications is outside of authority.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='checkRealEstateTrustAop_Lawyers'
		if(@RealEstateTrustResi>0 or @RealEstateTrustComm>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real Estate Trusts are outside of authority.','Is the real estate trust for mere equity? Is the trust for investment purposes? Does the attorney maintain any interest in the trust?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='checkOtherAop_Lawyers'
		if(@OtherResi>0 or @OtherComm>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real Estate Other percentage.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		
		
			
			set @rule_id='ValidateCasesPerAttorneyRule_Lawyers'
			IF(@result1>200 or @result2>200)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large Real Estate Volume.','No explanation needed.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='AttendclosingsRule_Lawyers'
		if(@attendClosings='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Non attorney staff attending closings on behalf of the attorney.','How frequently do non attorney support staff attend closings? How many support staff attend closings? What experience does the support staff have managing closings?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='SecuringFinancingRenewalRule_Lawyers'
		if(@includeSecuringFinancing='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Securing financing for clients is not an attorney function.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='DisclosureFormRule_Lawyers'
		if(@useDisclosureForm='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real estate - not providing disclosure when acting in a dual capacity.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

	END

	IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewa Flow'

		select @TitleOpinionsResiTercentagePrior=PercentageValue,@TitleOpinionsCommTercentagePrior=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=22
		select @PurchaseSaleResiPercentagePrior=PercentageValue,@PurchaseSaleCommPercentagePrior=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=1
		select @ForeclosuresLoanWorkoutsResiPrior=PercentageValue,@ForeclosuresLoanWorkoutsCommPrior=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=19
		select @eminentDomainResiPrior=PercentageValue,@eminentDomainCommPrior=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=12
		select @SpeculativeRealEstateResiPrior=PercentageValue,@SpeculativeRealEstateCommPrior=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=13
		select @RealEstateTrustResiPrior=PercentageValue,@RealEstateTrustCommPrior=CommercialPercentageValue from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=16
		select @OtherResiPrior=PercentageValue,@OtherCommPrior=CommercialPercentageValue,@otherResiDescPrior=AOPRECommentDesc,@otherCommDescPrior=AOPRECommCommentDesc from AreaOfPracticeRealEstateLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence and AOPREKey=20

		select @transactionsHandled12MonthsResiPrior=transactionsHandled12MonthsResi,@transactionsHandled12MonthsCommPrior=transactionsHandled12MonthsComm,@attendClosingsPrior=attendClosings,@includeSecuringFinancingPrior=includeSecuringFinancing,@useDisclosureFormPrior=useDisclosureForm
		 from RealEastateDetailsLW 	where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence

			--	select @providingBondWorkPrior=providingBondWork,@eminentDomainServicesPrior=eminentDomainServices from GovernmentSupplementDetailsLW where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		if(@TitleOpinionsResiTercentagePrior is null or @TitleOpinionsResiTercentagePrior='')
			set @TitleOpinionsResiTercentagePrior=0		
		if(@TitleOpinionsCommTercentagePrior is null or @TitleOpinionsCommTercentagePrior='')
			set @TitleOpinionsCommTercentagePrior=0		
		if(@PurchaseSaleResiPercentagePrior is null or @PurchaseSaleResiPercentagePrior='')
			set @PurchaseSaleResiPercentagePrior=0		
		if(@PurchaseSaleCommPercentage is null or @PurchaseSaleCommPercentage='')
			set @PurchaseSaleCommPercentage=0		
		if(@ForeclosuresLoanWorkoutsResiPrior is null or @ForeclosuresLoanWorkoutsResiPrior='')
			set @ForeclosuresLoanWorkoutsResiPrior=0		
		if(@ForeclosuresLoanWorkoutsComm is null or @ForeclosuresLoanWorkoutsComm='')
			set @ForeclosuresLoanWorkoutsComm=0		
		if(@eminentDomainResiPrior is null or @eminentDomainResiPrior='')
			set @eminentDomainResiPrior=0		
		if(@eminentDomainCommPrior is null or @eminentDomainCommPrior='')
			set @eminentDomainCommPrior=0	
		if(@SpeculativeRealEstateResiPrior is null or @SpeculativeRealEstateResiPrior='')
			set @SpeculativeRealEstateResiPrior=0	

		if(@RealEstateTrustResiPrior is null or @RealEstateTrustResiPrior='')
			set @RealEstateTrustResiPrior=0	
		if(@RealEstateTrustComm is null or @RealEstateTrustComm='')
			set @RealEstateTrustComm=0	

		set @rule_id='TitleOpinionsIndivisualRenewal_Lawyers'
		if(@TitleOpinionsResiTercentage-@TitleOpinionsResiTercentagePrior>15 or @TitleOpinionsCommTercentage-@TitleOpinionsCommTercentagePrior>15 or @TitleOpinionsResiTercentage>@PurchaseSaleResiPercentage or @TitleOpinionsCommTercentage>@PurchaseSaleCommPercentage)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Title Opinions more than 15% of practice.','Does the firm provide title services to any clients for which it does not provide legal services?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='TitleOpinionsSalePurchaseRule_Lawyers'
		if(@TitleOpinionsResiTercentage>@PurchaseSaleResiPercentage or @TitleOpinionsCommTercentage>@PurchaseSaleCommPercentage)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Title Opinions percentage greater than the purchase and sale percentage.','Are the opinions provided to other law firms or non real estate clients?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='ForeClosuresRenewalRule_Lawyers'
		if((@ForeclosuresLoanWorkoutsResi>0 and  @ForeclosuresLoanWorkoutsResi-@ForeclosuresLoanWorkoutsResiPrior>10) or (@ForeclosuresLoanWorkoutsComm>0 and @ForeclosuresLoanWorkoutsComm-@ForeclosuresLoanWorkoutsCommPrior>10) and @financial>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real estate foreclosure work. Review and determine who they are doing it on behalf of a financial institution.','Is the firm performing foreclosure services on behalf of a financial institution?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id	
		
		--select @eminentDomainResiPrior as eminentDomainResiPrior,@eminentDomainResi as eminentDomainResi,@eminentDomainCommPrior as eminentDomainCommPrior, @eminentDomainComm as eminentDomainComm
		set @rule_id='eminentDomainRenewalNewApp_Lawyers'
		if((@eminentDomainResiPrior=0  and @eminentDomainResi>0) or (@eminentDomainCommPrior=0 and @eminentDomainComm>0))
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Eminent Domain work.','No explanation needed.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='checkSpeculativeAopRenewal_Lawyers'
		if((@SpeculativeRealEstateResi>0 and @SpeculativeRealEstateResi-@SpeculativeRealEstateResiPrior>0) or (@SpeculativeRealEstateComm>0 and @SpeculativeRealEstateComm-@SpeculativeRealEstateCommPrior>0))
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Speculative Real Estate, Investment Trusts, or Real Estate Syndications is outside of authority.','Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		
		--select @RealEstateTrustResi as RealEstateTrustResi,@RealEstateTrustResiPrior as RealEstateTrustResiPrior,@RealEstateTrustComm as RealEstateTrustComm,@RealEstateTrustCommPrior as RealEstateTrustCommPrior
		set @rule_id='checkRealEstateTrustAopRenwal_Lawyers'
		if(( @RealEstateTrustResi >0 and @RealEstateTrustResi-@RealEstateTrustResiPrior>0) or (@RealEstateTrustComm>0 and @RealEstateTrustComm-@RealEstateTrustCommPrior>0))
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real Estate Trusts are outside of authority.','Is the real estate trust for mere equity? Is the trust for investment purposes? Does the attorney maintain any interest in the trust?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		
	
		set @rule_id='checkOtherAopRenewal_Lawyers'
		if(@OtherResi-@OtherResiPrior>0 or @OtherComm-@OtherCommPrior>0 or @otherResiDesc<>@otherResiDescPrior or @otherCommDesc<>@otherCommDescPrior)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real Estate Other - review description.','Review description of other for completeness.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

	if(@AttorneyCount>0)
		BEGIN
			set @rule_id='ValidateCasesPerAttorneyRule_Lawyers'
			IF(@result1>200 or @result2>200)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large Real Estate Volume.','No explanation needed.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id		
		END

		set @rule_id='AttendclosingsRule_Lawyers'
		if(@attendClosings='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Non attorney staff attending closings on behalf of the attorney.','How frequently do non attorney support staff attend closings? How many support staff attend closings? What experience does the support staff have managing closings?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='SecuringFinancingRenewalRule_Lawyers'
		if(@includeSecuringFinancing='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Securing financing for clients is not an attorney function. Decline','Is a conflict waiver used every time financing services are provided?  How many times has the applicant secured financing for a client in the past year?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		


		set @rule_id='DisclosureFormRenewalRule1_Lawyers'
		if(@useDisclosureForm='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Real estate - not providing disclosure when acting in a dual capacity.','Why is the firm not using disclosure agreements?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

		set @rule_id='DisclosureFormRenewalRule2_Lawyers'
		if(@useDisclosureForm='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Dual Capacity, Does the firm obtain conflict waivers from each party in every situation?','Does the firm obtain conflict waivers from earch party in every situation?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id		

	END
END





GO
