USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatabaseTransfersToISMIEOtherPolicyDelete]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DatabaseTransfersToISMIEOtherPolicyDelete]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatabaseTransfersToISMIEOtherPolicyDelete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DatabaseTransfersToISMIEOtherPolicyDelete] AS' 
END
GO
--exec DatabaseTransfersToISMIEOtherPolicyDelete
ALTER PROCEDURE [dbo].[DatabaseTransfersToISMIEOtherPolicyDelete]
AS
BEGIN

	Create Table #TempDeletePolicies(
		AccountID int,
		PolicyKey int,
		AccountKey int,
		AddressKey int
	)

	insert into #TempDeletePolicies(AccountID,PolicyKey,AccountKey)
	select account.AccountID,policy.PolicyKey,account.AccountKey 
	from accinsurancedb_ISMIE.dbo.Policy policy 
	inner join accinsurancedb_ISMIE.dbo.Account account on account.AccountID = policy.AccountID 
	inner join accinsurancedb_ISMIE.dbo.PolicyTransaction pt on pt.PolicyKey = policy.PolicyKey and pt.AccountKey = account.AccountKey 
	inner join accinsurancedb_ISMIE.dbo.Company company on company.CompanyKey = policy.CompanyKey
	where company.Code not in ('CNF', 'ISMIE')
	order by account.AccountID

	update temp set AddressKey=accountAddress.AddressKey From accinsurancedb_ISMIE.dbo.AccountAddress accountAddress Inner Join #TempDeletePolicies temp on temp.AccountKey=accountAddress.AccountKey 

	--select * from #TempDeletePolicies

	--DELETE FROM accinsurancedb_ISMIE.dbo.WillsTrustsEstateSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies) 
	--DELETE FROM accinsurancedb_ISMIE.dbo.WillSTrustEstateLargestTrustsDetails WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.WillsStateTrustValuesAmountsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.WillsEstateServicesLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.TaxSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.TaxSuppDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.SingedDocument WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.RuleComment WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.RulePolicyTransaction WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.RealEstateSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.RealEstatePracticeAreas WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.RealEastateDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.QuotationEstimation WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ProfLiabClaimAgnstFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ProfessionalLiabilityInsDetail WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ProfessionalLiabilityInsDetailLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.ProdecessorFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.PricingComment WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.PremiumCalculationBuffer WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.PolicyFormLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.PlantiffSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.PaymentDetail WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.NotaryEndorsementTable WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.NameAddressEndorsement WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.IndicationModifiers WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.GrossRevenueForFirm WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.GrossRevenueForFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.GovernmentSupplementDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.GovernmentServicesDetails WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmPracticeLocationLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmPersonnelServedLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmInitLawsuitsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.FirmEstimationACC WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.FirmEstimation WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FirmAnnualRevenueLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FinancialInstSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FinancialInstitutionLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FinancialInstitutionDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.FamilyLawDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ErpEndorsementDetailsAcc WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ErpEndorsementDetails WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.EnvironmentalSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.EntertainmentSportSuppLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.EnterSportsClientOfFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.EndorsementDetails WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.DocumentArchiveLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.CorporateCommBusineesSupplementLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.CorpCommBusinessLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.CopyRightTrademarkDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.ContractorEnvLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.CommentDetail WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.collectionsSuplimentDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ClaimAgeLWEndorsement WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ClaimAgeLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.ClaimAgeEstimation WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.CannabisSupplement WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.CancellationEndorsement WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.BankruptcyDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyInPlaintiffForFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyInEntertainForFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyEnvWorkLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.AttorneyDetailsLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfTaxPracticeLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfPracticeRealEstateLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfPractice WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfPracticeLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.AreaOfLitigationForFirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.AdditionalFormDataLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)

	DELETE FROM accinsurancedb_ISMIE.dbo.CoverageModifiers WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.PolicyCoverage WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.RatingTrace WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.Quote WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.PolicyTransaction WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)

	DELETE FROM accinsurancedb_ISMIE.dbo.FirmLW WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.Firm WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)
	--DELETE FROM accinsurancedb_ISMIE.dbo.Version
	DELETE FROM accinsurancedb_ISMIE.dbo.Policy WHERE PolicyKey in (SELECT PolicyKey from #TempDeletePolicies)

	DELETE FROM accinsurancedb_ISMIE.dbo.AccountAddress WHERE AccountKey in (SELECT AccountKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.Address WHERE AddressKey in (SELECT AddressKey from #TempDeletePolicies)
	DELETE FROM accinsurancedb_ISMIE.dbo.Account WHERE AccountKey in (SELECT AccountKey from #TempDeletePolicies)
	
	drop table #TempDeletePolicies
End




GO
