USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCoverageModifiersRenewal_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateCoverageModifiersRenewal_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCoverageModifiersRenewal_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateCoverageModifiersRenewal_p] AS' 
END
GO

--exec UpdateCoverageModifiersRenewal_p
-- select 

ALTER PROCEDURE [dbo].[UpdateCoverageModifiersRenewal_p]

--@PolicyKey INT
--)
AS
BEGIN

	DECLARE @PolicyKey INT
	DECLARE @PreviousPolicykey INT
	DECLARE @Modifier1 INT
	DECLARE @Modifier2 INT
	DECLARE @Modifier3 INT
	DECLARE @Modifier4 INT
	DECLARE @Modifier5 INT
	DECLARE @ModifierComment VARCHAR(500)
	DECLARE @SpecialIssuanceComments VARCHAR(500)
	
	CREATE TABLE #TEMP
	(SN INT identity(1,1),
	PolicyKey INT,
	 PreviousPolicyKey INT,
	 Modifier1 INT, 
	 Modifier2 INT,
	 Modifier3 INT,
	 Modifier4 INT,
	 Modifier5 INT

	)
DECLARE db_cursor CURSOR FOR 
select pt.PolicyKey from policytransaction pt 
inner join Policy p on p.policykey=pt.policykey
inner join PolicyCoverage pc on pc.policykey=pt.policykey and pc.TransactionSequence=pt.TransactionSequence
where  p.MarketableProductKey = 2 and pc.CoverageKey = 3 and p.policystatuskey=2 and pt.statuskey in(1,2) and p.isUncompletedData<>'Y'
and pt.TransactionSequence=(select min(transactionsequence) from policytransaction where policykey=p.policykey) 




OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @PolicyKey

WHILE @@FETCH_STATUS = 0  
BEGIN  
     --Print 'hi'
	 select @PreviousPolicykey=max(p.policykey) from policy p inner join Firmlw f on p.PolicyKey=f.policykey
	inner join PolicyTransaction pt on p.policykey=pt.policykey
	where p.AccountID in(SELECT accountid FROM policy WHERE policykey=@PolicyKey ) and f.IsRenewed='Y' and p.PolicyNumber is NOT NULL and p.PolicyKey<@PolicyKey
	select @Modifier1=percentage from coveragemodifiers where policykey=@PreviousPolicykey and TransactionSequence=(select min(TransactionSequence) from CoverageModifiers where policykey=@PreviousPolicykey) and ModifierKey=1
	select @Modifier2=percentage from coveragemodifiers where policykey=@PreviousPolicykey and TransactionSequence=(select min(TransactionSequence) from CoverageModifiers where policykey=@PreviousPolicykey) and ModifierKey=2
	select @Modifier3=percentage from coveragemodifiers where policykey=@PreviousPolicykey and TransactionSequence=(select min(TransactionSequence) from CoverageModifiers where policykey=@PreviousPolicykey) and ModifierKey=3
	select @Modifier4=percentage from coveragemodifiers where policykey=@PreviousPolicykey and TransactionSequence=(select min(TransactionSequence) from CoverageModifiers where policykey=@PreviousPolicykey) and ModifierKey=4
	select @Modifier5=percentage from coveragemodifiers where policykey=@PreviousPolicykey and TransactionSequence=(select min(TransactionSequence) from CoverageModifiers where policykey=@PreviousPolicykey) and ModifierKey=5
	SELECT @SpecialIssuanceComments=SpecialIssuanceComments,@ModifierComment=ModifierComment from firmlw where policykey=@PreviousPolicykey
	Update coveragemodifiers set percentage=@Modifier1 where Policykey=@PolicyKey and ModifierKey=1
	Update coveragemodifiers set percentage=@Modifier2 where Policykey=@PolicyKey and ModifierKey=2
	Update coveragemodifiers set percentage=@Modifier3 where Policykey=@PolicyKey and ModifierKey=3
	Update coveragemodifiers set percentage=@Modifier4 where Policykey=@PolicyKey and ModifierKey=4
	Update coveragemodifiers set percentage=@Modifier5 where Policykey=@PolicyKey and ModifierKey=5
	Update firmlw set ModifierComment=@ModifierComment,SpecialIssuanceComments=@SpecialIssuanceComments where Policykey=@PolicyKey
	--INSERT INTO #TEMP (PolicyKey,PreviousPolicykey,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5) values(@PolicyKey,@PreviousPolicykey,@Modifier1,@Modifier2,@Modifier3,@Modifier4,@Modifier5)
      FETCH NEXT FROM db_cursor INTO  @PolicyKey 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor 
--SELECT * from #TEMP 
END


GO
