USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAOPFieldsIndication_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetAOPFieldsIndication_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAOPFieldsIndication_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetAOPFieldsIndication_p] AS' 
END
GO
-- exec GetAOPFieldsIndication_p null,null--QN-0079045 	
-- exec GetAOPFieldsIndication_p 77513,19913
ALTER PROCEDURE [dbo].[GetAOPFieldsIndication_p]
	@PolicyKey INT,
	@VersionSequence INT
AS 
BEGIN

CREATE TABLE  #TEAMAOPFIELD (AOPKey VARCHAR(100), AOPDesc VARCHAR(1000), AOP_Percentage int, PercentageValue int)

INSERT INTO #TEAMAOPFIELD(AOPKey,AOPDesc) 
SELECT AOPKey, AOPDesc from AOP d 

if(isNUll(@PolicyKey,0) = 0)
	BEGIN
		SELECT a.AOPKey, a.AOPDesc AS AOPDesc, t.PercentageValue as PercentageValue FROM #TEAMAOPFIELD t, AOP a 
		where a.AOPKey= t.AOPKey  ORDER BY t.AOPDesc
	END
ELSE
	BEGIN

		SELECT ap.AOPKey, a.AOPDesc AS AOPDesc, ap.PercentageValue as PercentageValue FROM AreaOfPractice ap, AOP a 
		where ap.AOPKey= a.AOPKey and ap.VersionSequence = @VersionSequence and ap.PolicyKey = @PolicyKey ORDER BY a.AOPDesc
	END

DROP TABLE #TEAMAOPFIELD

END




GO
