USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetEstimatePremiumLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetEstimatePremiumLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetEstimatePremiumLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetEstimatePremiumLW_p] AS' 
END
GO

-- select * from Policy where Policykey=111347
--select * from state
--exec GetEstimatePremiumLW_p 151535  ,'NV', 231861
ALTER PROCEDURE [dbo].[GetEstimatePremiumLW_p]
(
@PolicyKey INT,
@StateCode VARCHAR(100),
@TransactionSequence INT
)
       
AS
BEGIN

CREATE TABLE #TEMP(
LowestModifier INT,
HighestModifiers INT,
EffectiveDate DATETIME

)
DECLARE @miniumPremium INT, @AggregateLimit INT, @OccuranceLimit INT, @Deductible INT, @LowerMpd INT,@HigherMod INT, @InvoicedPremium INT,@cmFactor NUMERIC(10,2), @xml xml,@AttorneyCount INT,@IsFirmHaveLawyersLiabilityInsurance CHAR
SET @InvoicedPremium=(select pt.InvoicedPremium  from PolicyTransaction pt inner join Quote q on q.Policykey=pt.Policykey where q.TransactionSequence = pt.TransactionSequence and pt.Policykey=@PolicyKey and q.IsFirstQuote='Y' and pt.TransactionSequence = @TransactionSequence)
DECLARE @PolicyEffectiveDate DateTime=(select PolicyEffectiveDate from Policy Where PolicyKey=@PolicyKey)
SET @xml=(Select XmlOutputDatafromRating from ratingtrace where Policykey=@Policykey and TransactionSequence = @TransactionSequence)
--select @xml
SET @cmFactor=(SELECT doc.col.value('ClaimAgeFactor[1]', 'NUMERIC(10,2)') FROM @xml.nodes('/Response/PremiumInfoLW') doc(col))
--select @cmFactor
set @AttorneyCount=(Select count(AttorneyKey) from AttorneyDetailsLW where Policykey=@PolicyKey)
set @IsFirmHaveLawyersLiabilityInsurance=(select top 1 IsFirmHaveLawyersLiabilityInsurance from FirmLW where PolicyKey=@PolicyKey)


--Old Criteria state base qq range---------------------------------------
--IF Exists(Select LowestModifier FROM CoverageModifiersRange where StateCode=@StateCode and EffectiveDate<=@PolicyEffectiveDate and MarketableProductKey=2)
--BEGIN
--	INSERT INTO #TEMP(LowestModifier,HighestModifiers,EffectiveDate)Select Top 1 LowestModifier,HighestModifiers,EffectiveDate from CoverageModifiersRange where StateCode=@StateCode and EffectiveDate<=@PolicyEffectiveDate and MarketableProductKey=2
--END
--ELSE
--BEGIN
--	INSERT INTO #TEMP(LowestModifier,HighestModifiers,EffectiveDate)Select Top 1 LowestModifier,HighestModifiers,EffectiveDate from CoverageModifiersRange where StateCode='ALL' and EffectiveDate<=@PolicyEffectiveDate and MarketableProductKey=2
-- END
-- IF EXISTS(SELECT * from #TEMP)
-- BEGIN
--Select @LowerMpd=LowestModifier, @HigherMod=HighestModifiers from #TEMP 
--END
--ELSE
-- BEGIN
-- set @LowerMpd=-15
-- set @HigherMod=-5
-- END
 print @AttorneyCount
 print @IsFirmHaveLawyersLiabilityInsurance
------------------------------------------------------------------------------------------------------------------------------------------------------- 
-- IF(@cmFactor=0.45)
-- BEGIN
-- set @LowerMpd=0
-- set @HigherMod=5
-- END

-- IF(@AttorneyCount<3 OR @IsFirmHaveLawyersLiabilityInsurance='N')
-- BEGIN
--	set @LowerMpd=0
--	set @HigherMod=10
-- END

--ELSE
-- BEGIN
--	set @LowerMpd=-5
--	set @HigherMod=5
-- END

IF(@IsFirmHaveLawyersLiabilityInsurance='N')
 BEGIN
	set @LowerMpd=0
	set @HigherMod=5
 END

ELSE
 BEGIN
	set @LowerMpd=-20
	set @HigherMod=-10
 END

-- select @LowerMpd,@HigherMod
Select @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit from PolicyCoverage where Policykey=@PolicyKey  and TransactionSequence = @TransactionSequence
Select @miniumPremium=MinimumBasePremiumOutside from ratingdb.dbo.RatingMinimumPremium     where LOBKey=2 and StateCode=@StateCode  and  AggregateLimit=@OccuranceLimit  and OccuranceLimit=@AggregateLimit
      
	 if(@miniumPremium is null)
	 begin
		select @miniumPremium=MinimumBasePremiumOutside from ratingdb.dbo.RatingMinimumPremium     where LOBKey=2 and StateCode='ALL'   and  AggregateLimit=@OccuranceLimit  and OccuranceLimit=@AggregateLimit
	 end


	 DECLARE @lowerRage INT=round(@InvoicedPremium+((@InvoicedPremium*@LowerMpd)/100),-1)
	  DECLARE @higherRage INT=round(@InvoicedPremium+((@InvoicedPremium*@HigherMod)/100),-1)
--Select CASE  WHEN @lowerRage > @miniumPremium  THEN  dbo.getAmountFormat(@lowerRage) ELSE dbo.getAmountFormat(@miniumPremium)  END +' - '+dbo.getAmountFormat(@higherRage)   as EstimatePremiumRange
 if(@higherRage>@miniumPremium)
	   begin
		Select CASE  WHEN @lowerRage > @miniumPremium  THEN  dbo.getAmountFormat(@lowerRage) ELSE dbo.getAmountFormat(@miniumPremium)  END +' - '+dbo.getAmountFormat(@higherRage)   as EstimatePremiumRange
		end
		else
		begin
		select dbo.getAmountFormat(@miniumPremium) as EstimatePremiumRange
		end

 DROP TABLE #TEMP
END






GO
