USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetCommentDetailListData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetCommentDetailListData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetCommentDetailListData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetCommentDetailListData] AS' 
END
GO
--exec [SP_GetCommentDetailListData] 1
ALTER PROCEDURE [dbo].[SP_GetCommentDetailListData]
(	
	 @policyKey int = null,
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null
)
AS
BEGIN

	CREATE TABLE #TEMPDATA
	(
		PolicyKey INT,
		VersionKey INT,
		FormId INT,
		FormVersionKey INT,
		CommentKey INT,
		policyComment varchar(100),
		policyCommentDate DateTime
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, commentDetail.CommentKey, 
	commentDetail.CommentUploaded, commentDetail.CreatedDate 
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + ''' 
	inner join CommentDetail as commentDetail on policy.PolicyKey = commentDetail.PolicyKey and policy.VersionKey = commentDetail.VersionKey 
	WHERE policy.recordType <> ''D'' and commentDetail.recordType <> ''D'' ';
	
	IF(@policyKey is not null)
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND commentDetail.PolicyKey = ' + cast(@policyKey as varchar(10));
	END
	
	SET  @sqlstm = @sqlstm + ' GROUP BY policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, commentDetail.CommentKey, 
	commentDetail.CommentUploaded, commentDetail.CreatedDate'

	print @sqlstm

	INSERT INTO #TEMPDATA (PolicyKey,VersionKey,FormId,FormVersionKey,CommentKey,policyComment,policyCommentDate)
	EXECUTE (@sqlstm)
	
	--select * from #TEMPDATA 

	SELECT (select PolicyKey,VersionKey,FormId,FormVersionKey,CommentKey,policyComment,policyCommentDate from #TEMPDATA FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML
	--SELECT STUFF((select * from #TEMPDATA FOR XML PATH('') ), 1, 1, '') as XML
END




GO
