USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getLimitSequence_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[getLimitSequence_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getLimitSequence_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[getLimitSequence_p] AS' 
END
GO
--exec getLimitSequence_p 79559,8, 2
--select * from limits where coveragekey=2
ALTER PROCEDURE [dbo].[getLimitSequence_p] 
(
	@PolicyKey int,
	@LimitSequence int,
	@CoverageKey int
)
AS
BEGIN

	declare  @permittedlimits varchar(40)
	print @LimitSequence
	if(@LimitSequence = 6) 
	begin
		set @permittedlimits = '6,7,8,9,10'
	end 
	if(@LimitSequence = 7) 
	begin
	
		set @permittedlimits = '7,8,9,10,11,12,19'
	end 
	if(@LimitSequence = 8) 
	begin
		set @permittedlimits = '8,9,10,11,12,19'
	end
	if(@LimitSequence = 9) 
	begin
		set @permittedlimits = '9,10,11,12,19'
	end
	if(@LimitSequence = 10) 
	begin
		set @permittedlimits = '10,11,12,19'
	end
	if(@LimitSequence = 11) 
	begin
		set @permittedlimits = '11,12,19'
	end
	if(@LimitSequence = 12) 
	begin
		set @permittedlimits = '12,19'
	end

	select PARSENAME(Convert(varchar,Convert(money,l.AggregateLimit),1),2) +'/' +
	PARSENAME(Convert(varchar,Convert(money,l.OccuranceLimit),1),2) as LimitAmount,l.LimitSequence from Limits l
	 where CoverageKey=2 and LimitSequence in (select * from SplitString(@permittedlimits,','))

END


GO
