USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateSignedDocument_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateSignedDocument_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateSignedDocument_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateSignedDocument_p] AS' 
END
GO
--exec UpdateSignedDocument_p 44751, 66442, 'be5e5ace-867b-4bb9-a87e-a61f00fc9ac1','3a302ab0-241e-40c3-b188-26c72865453b','3896a4d6-2fa3-4245-83c1-a61f00fc9b58','1a11eada-6ac7-4dd3-a42d-fc77cefd4999','DocumentCompleted'
ALTER PROCEDURE [dbo].[UpdateSignedDocument_p] 
(
@PolicyKey INT,
@TransactionSequence INT,
@SignedDocumentID VARCHAR(100),
@SignedDocumentToken VARCHAR(100),
@SignatoryID VARCHAR(100),
@SignedAuthToken VARCHAR(100),
@DocumentStatus VARCHAR(100)
)	
AS
BEGIN
	DECLARE @SignedDocumentKey INT
	select top 1  @SignedDocumentKey=SignedDocumentKey from SingedDocument where SignedDocumentKey in(select SignedDocumentKey from SingedDocument  where TransactionSequence=@TransactionSequence) order by SignedDocumentKey DESC
	 update SingedDocument set  SignedDocumentID = @SignedDocumentID,SignedDocumentToken = @SignedDocumentToken ,SignatoryID = @SignatoryID ,SignedAuthToken = @SignedAuthToken ,OrderNumber =1234 ,DocumentStatus = @DocumentStatus  where SignedDocumentKey = @SignedDocumentKey and TransactionSequence = @TransactionSequence and PolicyKey = @PolicyKey 
	
	 END

GO
