USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAccountIdLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAccountIdLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAccountIdLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAccountIdLW_p] AS' 
END
GO
--exec UpdateAccountIDLW_p '36842,164950', 'linkAccounts', 3, '2024-07-09 20:23:15.375', 'N'
--exec UpdateAccountIDLW_p '161449,164948,164949', 'linkAccounts', 3, '2024-07-09 17:13:39.952', 'Y'
--exec UpdateAccountIDLW_p '36798,36798,36798', 'deLinkAccounts', 3, '2024-07-10 16:35:12.774', 'Y'
ALTER PROCEDURE [dbo].[UpdateAccountIdLW_p]
	(
	@strPolicyKey VARCHAR(800),
	@accountActivity VARCHAR(100),
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50),
	@isBrokered CHAR
	)
AS
BEGIN
CREATE TABLE #Temp1
	(
	--PolicyKey INT,
	AccountID INT,
	OldAccountId INT,
	AccountKey INT,
	isBrokerage CHAR
	)
CREATE TABLE #Temp
	(
	--PolicyKey INT,
	AccountID INT,
	OldAccountId INT,
	AccountKey INT,
	isBrokerage CHAR
	)
	
	DECLARE @AccountID INT, @PolicyKey	INT,@finalAccountID INT, @AccountKey INT,@OldAccountID INT,@AccountEmail varchar(500),@isBrokerage CHAR
	--select @strPolicyKey
	Insert into #Temp1(AccountID,isBrokerage,AccountKey) Select  distinct AccountID,'N',AccountKey from Account with(Nolock)  Where AccountID in(select items from SplitString(@strPolicyKey,',')) group by AccountID,AccountKey  order by AccountId 
	if(@isBrokered='Y')
		Insert into #Temp1(AccountID,isBrokerage,AccountKey)  Select distinct br.AccountID,'Y',ac.AccountKey from BrokerageLW br with(Nolock) Inner Join Account ac with(Nolock) on br.AccountID=ac.AccountID Where br.AccountID in(select items from SplitString(@strPolicyKey,',')) group by br.AccountID,ac.AccountKey order by AccountId 
	
	select * from #Temp1

	if(@accountActivity='linkAccounts')
	BEGIN
		PRINT 'link Accounts'
		
		SET @finalAccountID=(SELECT min(Accountid) FROM #Temp1)
	
		Declare c1 cursor for SELECT AccountID,AccountKey,isBrokerage FROM #Temp1
        OPEN c1
		   FETCH NEXT FROM c1 INTO @AccountID,@AccountKey,@isBrokerage
		   WHILE @@FETCH_STATUS = 0
			 BEGIN
			 --SELECT @AccountID as AccountID,@finalAccountID as finalAccountID, @AccountKey as AccountKey,@isBrokerage as isBrokerage
			  Set @PolicyKey=(Select top 1 PolicyKey From PolicyTransaction where AccountKey=@AccountKey)
			     if(@AccountID<>@finalAccountID and @isBrokerage<>'Y')
				 BEGIN
					  UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
					  UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountKey=@AccountKey
					   UPDATE Firmlw SET oldAccountId=@AccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
					 INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
					values(@PolicyKey,@finalAccountID,@AccountID,'Manual Merge','Lawyers Application account merge by authorize user',@LastUpdateUserID,@LastUpdateTimeStamp)
				END
				 if(@AccountID<>@finalAccountID and @isBrokerage='Y')
				 BEGIN
						UPDATE BrokerageLW SET AccountID=@finalAccountID,oldAccountID=AccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE AccountID =@AccountID
						UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountKey=@AccountKey
						
						INSERT INTO AccountPersistenceLogs(AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
						values(@finalAccountID,@AccountID,'Manual Merge','Lawyers Brokerage Application account merge by authorize user',@LastUpdateUserID,@LastUpdateTimeStamp)
				 END
            FETCH NEXT FROM c1 INTO @AccountID,@AccountKey,@isBrokerage                    
			END

			CLOSE c1
			DEALLOCATE c1

			

	END
		
	if(@accountActivity='deLinkAccounts')
	BEGIN
	 SELECT AccountID,AccountKey,isBrokerage  FROM #Temp1 group by AccountID,AccountKey,isBrokerage
		Set @finalAccountID=null
		set @PolicyKey=null
		Declare c1 cursor for SELECT AccountID,AccountKey,isBrokerage  FROM #Temp1
        OPEN c1
		   FETCH NEXT FROM c1 INTO @AccountID,@AccountKey,@isBrokerage
		   WHILE @@FETCH_STATUS = 0
			 BEGIN
			 
			
			 if(@isBrokerage<>'Y')
				 BEGIN
				 Set @PolicyKey=(Select top 1 PolicyKey From PolicyTransaction where AccountKey=@AccountKey)
				 set @finalAccountID=(Select TOP  1 CASE WHEN oldAccountID is NULL OR oldAccountID='' then 0 else oldAccountID END from firmlw where PolicyKey=@PolicyKey )
			--	SELECT 'Main Account',@PolicyKey as PolicyKey,@AccountID as AccountID,@finalAccountID as OldAccountID,@AccountKey as AccountKey		
				if(@finalAccountID is not null and @finalAccountID<>0)
					begin
							print 'Main Policy block'
						--  UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
						--  UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountKey=@AccountKey
						--   UPDATE Firmlw SET oldAccountId=@AccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey =@PolicyKey
						--INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
						--values(@PolicyKey,@AccountID,@finalAccountID,'Manual delink','Lawyers Application account delinked by authorize user',@LastUpdateUserID,@LastUpdateTimeStamp)
					END
			END
			 if(@isBrokerage='Y')
				 BEGIN
						set @finalAccountID=(Select TOP  1 CASE WHEN oldAccountID is NULL OR oldAccountID='' then 0 else oldAccountID END from BrokerageLW where AccountID=@AccountID )
						--	SELECT 'Brokerage Account',@AccountID as AccountID,@finalAccountID as OldAccountID,@AccountKey as AccountKey,@isBrokerage as isBrokerage 
					if(@finalAccountID is not null and @finalAccountID<>0)
					begin	
					print 'Brokerage block'
						--UPDATE BrokerageLW SET AccountID=@finalAccountID,oldAccountID=AccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE AccountID =@AccountID
						--UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountKey=@AccountKey
						
						--INSERT INTO AccountPersistenceLogs(AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
						--values(@finalAccountID,@AccountID,'Manual delink','Lawyers Brokerage Application account delinked by authorize user',@LastUpdateUserID,@LastUpdateTimeStamp)
					END
				 END

            FETCH NEXT FROM c1 INTO @AccountID,@AccountKey,@isBrokerage                   
			END
			CLOSE c1
			DEALLOCATE c1
	END

END






GO
