USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicy]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RenewPolicy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicy]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RenewPolicy] AS' 
END
GO

ALTER procedure [dbo].[RenewPolicy] 
@PolicyKey int,
@AccountKey int,
@AddressKey int,
@VersionSequence int,
@UserNo int

as begin

declare @PolicyKey_Inserted int
declare @AccountKey_Inserted int
declare @AddressKey_Inserted int
declare @VersionSequence_Inserted int
declare @TransactionSequence_Inserted int
declare @CoverageSequence_Inserted int
declare @AgentName varchar(100)
declare @PolicyEffectiveDate datetime
declare @TransactionEffectiveDate datetime
declare @PolicyExpirationDate datetime
declare @TransactionExpirationDate datetime
declare @maxAccountID int
declare @QuoteNumber varchar(100)
declare @AppCreatedDate datetime
declare @IsFirmCarryingProfLiabilityIns char(20)

declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int

declare @IsClaimExpensesType char(1)
declare @IsClaimOptionType char(1)
declare @ModifierComment varchar(5000)
declare @ModifierKey int
declare @ModifierPercentage int
declare @RenewalModifierPercentage int
declare @IsRenewed char
declare @AccountID int

select @IsRenewed=IsRenewed from Firm where PolicyKey = @PolicyKey

if(isnull(@IsRenewed,'') != 'Y')
begin 

begin try

print 'Not Renewed'

set @AppCreatedDate = convert(varchar, GETDATE(), 101)

select @AgentName=AgentName from UserDetails where UserNo=@UserNo
select @IsFirmCarryingProfLiabilityIns= ISNULL(IsFirmCarryingProfLiabilityIns,'N') from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 
if(@IsFirmCarryingProfLiabilityIns = 'N')
	begin
		set @IsFirmCarryingProfLiabilityIns = 'Y'
	end
	

select @PolicyEffectiveDate= PolicyExpirationDate,@TransactionEffectiveDate=PolicyExpirationDate,
@PolicyExpirationDate= DATEADD(M,12,PolicyExpirationDate),@TransactionExpirationDate= DATEADD(M,12,TransactionExpirationDate)
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)

select @maxAccountID = AccountID  from Account where AccountKey= @AccountKey

insert into Account (AccountID,AccountName,Website,AccountEmail,AccountVersion)
select @maxAccountID,AccountName,Website,AccountEmail,AccountVersion from Account where AccountKey= @AccountKey

select @AccountKey_Inserted=IDENT_CURRENT('Account')

insert into Address(Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc)
select Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc from Address where AddressKey= @AddressKey

select @AddressKey_Inserted=IDENT_CURRENT('Address')

insert into AccountAddress values(@AccountKey_Inserted,@AddressKey_Inserted)

insert into Policy(PolicyEffectiveDate,AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,InsuredUpdateTimeStamp,AppCreatedDate,RenewOfPolicyNumber)
select @PolicyEffectiveDate,@maxAccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,InsuredUpdateTimeStamp,@AppCreatedDate,PolicyNumber from Policy 
where PolicyKey= @PolicyKey

select @PolicyKey_Inserted=IDENT_CURRENT('Policy')
--set @QuoteNumber = 'QN-000' + @PolicyKey_Inserted
set @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)

update Policy set PolicyStatusKey=2,AppCreatedDate=GETDATE(), QuoteNumber=@QuoteNumber where PolicyKey=@PolicyKey_Inserted

insert into Firm(PolicyKey,ContactPerson,ContactPhone,IsFirmRenderingServices, IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,
IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,
RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,
ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,
IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,
IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,
ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,
IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,
OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,
RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,
IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,
IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,
IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,
LicenseNumber,Comment,IsLicenseNumberUpdated,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,
IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsReceiveNewsLetter,CreatedType,IsViewed,RenewBasicInfoPage,IsSpecialIssuance,SpecialIssuanceComments)
select @PolicyKey_Inserted,ContactPerson,ContactPhone,IsFirmRenderingServices, IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,
IsReducedNumberOfOwners,@IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,
RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,
ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,
IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,
IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,
ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,
IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,
OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,
RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,
IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,'N',IsClientTerminated,
IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,'N','N',OtherITServiceComment,'N',
IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,
LicenseNumber,Comment,IsLicenseNumberUpdated,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,
IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsReceiveNewsLetter,@AgentName,IsViewed,'N',IsSpecialIssuance,SpecialIssuanceComments from Firm where PolicyKey= @PolicyKey and VersionSequence=@VersionSequence

select @VersionSequence_Inserted=IDENT_CURRENT('Firm')

insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,CompanyCode,
ProducerCode,SubInsuranceCarrier)
select @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,2,@PolicyExpirationDate,@TransactionExpirationDate,CompanyCode,
ProducerCode,SubInsuranceCarrier
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey) 

select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')

update PolicyTransaction set StatusKey=1 where PolicyKey = @PolicyKey_Inserted

insert into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode from PolicyCoverage where PolicyKey = @PolicyKey and 
TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')


select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

--insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote)
--select @PolicyKey_Inserted,@TransactionSequence_Inserted,IsQuoteSelected,IsFirstQuote
--from Quote where PolicyKey = @PolicyKey and
--TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey) 

insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,IsQuoteSelected,'Y'
from Quote where PolicyKey = @PolicyKey and
IsThisOptionFinalised='Y'


insert into RatingTrace (PolicyKey,TransactionSequence)
select @PolicyKey_Inserted,@TransactionSequence_Inserted from RatingTrace where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)

select @IsFirmCarryingProfLiabilityIns= ISNULL(IsFirmCarryingProfLiabilityIns,'N') from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 

	if(@IsFirmCarryingProfLiabilityIns = 'N')
	begin
	
		select @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType from Quote q, PolicyCoverage pc 
		where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

		select @LimitSequencePross=LimitSequence from Limits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=2
		select @DeductibleSequencePross = DeductibleSequence from Deductibles where AggregateDeductible=@AggregateDeductible and CoverageKey=2
		
		insert into ProfessionalLiabilityInsDetail
		 (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross)
		select @PolicyKey_Inserted,@VersionSequence_Inserted,@PolicyEffectiveDate,@IsClaimExpensesType,PriorActDatePross,
		@IsClaimOptionType,'N','Crum & Forster',@LimitSequencePross,@DeductibleSequencePross
		from ProfessionalLiabilityInsDetail where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	
	end	
	
	if(@IsFirmCarryingProfLiabilityIns = 'Y')
	begin
		insert into ProfessionalLiabilityInsDetail (PolicyKey,VersionSequence,InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross)
		select @PolicyKey_Inserted,@VersionSequence_Inserted,InsuranceCompanyKey,LimitAmount,DeductibleAmount,DATEADD(M,12,PolicyExpirationDatePross) as PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,FirmYear+1,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross
		from ProfessionalLiabilityInsDetail where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	end


--insert into AreaOfPractice (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPKey,PercentageValue,AOPCommentDesc 
--from AreaOfPractice where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into AreaOfPractice (PolicyKey,VersionSequence,AOPKey)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPKey 
from AreaOfPractice where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into PersonnelAffiliation (PolicyKey,VersionSequence,PersonnelTypeKey,NumberOfPersonnel)
select @PolicyKey_Inserted,@VersionSequence_Inserted,PersonnelTypeKey,NumberOfPersonnel from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount)
select @PolicyKey_Inserted,@VersionSequence_Inserted,GrossRevenueKey,YearEndDate,Amount from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into ClaimIncidentSupp (PolicyKey,VersionSequence, NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,
ClaimNotifiedCiDate,AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,
ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,StepsTakenToPreventClaimCi,CurrentStatus)
select @PolicyKey_Inserted,@VersionSequence_Inserted, NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,
ClaimNotifiedCiDate,AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,
ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,StepsTakenToPreventClaimCi,CurrentStatus  from ClaimIncidentSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into PublicPrivateOfferingSupp (PolicyKey,VersionSequence,ClientNamePpo,ClientIndustryPpoKey,ServiceIndustryPpoKey,YearServiceRenderedPpo,SizeOfOfferingPpo,
FeesChargedPpo,TypeOfOfferingPpo,ClientIndustryPpoKeyOthers,ServiceIndustryPpoKeyOthers)
select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientNamePpo,ClientIndustryPpoKey,ServiceIndustryPpoKey,YearServiceRenderedPpo,SizeOfOfferingPpo,
FeesChargedPpo,TypeOfOfferingPpo,ClientIndustryPpoKeyOthers,ServiceIndustryPpoKeyOthers from PublicPrivateOfferingSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into SeperateEntitySupp ( PolicyKey,VersionSequence,EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,
DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate)
select @PolicyKey_Inserted,@VersionSequence_Inserted,EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,
DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate
from SeperateEntitySupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into FundsControlledSupp (PolicyKey,VersionSequence,TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,
NumberOfClientsFc,NumberOfFirmEmployeesFc,IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,
ProvideNumberOfClientFc,ClientIndustryFc,ClientIndustryFcOthers,HaveInvestmentAuthorityFC)
select @PolicyKey_Inserted,@VersionSequence_Inserted,TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,
NumberOfClientsFc,NumberOfFirmEmployeesFc,IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,
ProvideNumberOfClientFc,ClientIndustryFc,ClientIndustryFcOthers,HaveInvestmentAuthorityFC from FundsControlledSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into OutsideInterestSupp (PolicyKey,VersionSequence,ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,ClientIndustryOsiKeyOthers,
ServiceIndustryOsiKeyOthers)
select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,ClientIndustryOsiKeyOthers,
ServiceIndustryOsiKeyOthers from OutsideInterestSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into TrusteeOrEstateSupp (PolicyKey,VersionSequence,NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,
IsBeneficiaryInterestTrust,TypeofTrustKey)
select @PolicyKey_Inserted,@VersionSequence_Inserted,NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,
IsBeneficiaryInterestTrust,TypeofTrustKey from TrusteeOrEstateSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into FinancialPlanningAndIAServiceSupp (PolicyKey,VersionSequence,IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,
IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan)
select @PolicyKey_Inserted,@VersionSequence_Inserted,IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,
IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan from FinancialPlanningAndIAServiceSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into Attestation (PolicyKey,VersionSequence,FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,
IsLastPeerReviewAtt,IndicatedRevenueInAttestation,LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented)
select @PolicyKey_Inserted,@VersionSequence_Inserted,FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,
IsLastPeerReviewAtt,IndicatedRevenueInAttestation,LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented from Attestation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into AttestationAuditWork (PolicyKey,VersionSequence,ClientIndustryKey,AuditClients,ClientsAssetsOver,
NetLossForLastFYE)
select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientIndustryKey,AuditClients,ClientsAssetsOver,
NetLossForLastFYE from AttestationAuditWork where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into ITServicesSupp (PolicyKey,VersionSequence,RevenuesFromLastYear,EstimatedRevenue,IsAnnually,ITServiceCategoryKey)
select @PolicyKey_Inserted,@VersionSequence_Inserted,RevenuesFromLastYear,EstimatedRevenue,IsAnnually,ITServiceCategoryKey from ITServicesSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into FirmInitLawsuits(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,NamedDefendantsInSuit)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,NamedDefendantsInSuit from FirmInitLawsuits where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

update FirmInitLawsuits set isInheritedSuit='Y' where policykey=@PolicyKey_Inserted

insert into CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUpdateTimeStamp,LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence)
select @PolicyKey_Inserted,Comment,@CoverageSequence_Inserted,GETDATE(),@UserNo,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted from CoverageModifiers where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)  

declare c1 cursor for
	select ModifierKey,RenewalPercentage from CoverageModifiers where PolicyKey = @PolicyKey_Inserted
 OPEN c1
 FETCH NEXT FROM c1 into @ModifierKey ,@RenewalModifierPercentage
 WHILE @@FETCH_STATUS = 0
 BEGIN
 print @ModifierKey
 print @RenewalModifierPercentage
	if(@RenewalModifierPercentage != 0 )
		update CoverageModifiers set Percentage = @RenewalModifierPercentage where ModifierKey = @ModifierKey 
 FETCH NEXT FROM c1 into @ModifierKey ,@RenewalModifierPercentage
 END
CLOSE c1
DEALLOCATE c1

select @PolicyKey_Inserted as PolicyKey, @VersionSequence_Inserted as VersionSequence, @TransactionSequence_Inserted as TransactionSequence, @CoverageSequence_Inserted as CoverageSequence ,@AccountKey_Inserted as AccountKey,@AddressKey_Inserted as AddressKey
update Firm set IsRenewed='Y' where PolicyKey=@PolicyKey
end try
begin catch
print error_message()
rollback 
end catch
end

end

if(isnull(@IsRenewed,'') = 'Y')
begin

begin try
	print 'Already Renewed'
	
	select @AccountID=AccountID from Policy where PolicyKey = @PolicyKey
	select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') and a.AccountID=@AccountID order by  PolicyKey desc
end try
begin catch
print error_message()
rollback 
end catch
end

GO
