USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TabsWorkFlow_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TabsWorkFlow_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TabsWorkFlow_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[TabsWorkFlow_p] AS' 
END
GO
--exec TabsWorkFlow_p 147080, '12/06/2017', 'Y', '2021-01-01 00:00:00.0','2022-05-24 00:00:00.0'
--exec TabsWorkFlow_p 174358, '12/06/2017','Y', '2021-01-01 00:00:00.0', '2022-05-24 00:00:00.0'
ALTER PROCEDURE [dbo].[TabsWorkFlow_p]
(
@PolicyKey int,
@LitImplementationDate VARCHAR(20),
@IsCCBFlag VARCHAR(1),
@RenewalSupplementNewImplDate DATETIME,
@ElectronicInsuranceImplDate DATETIME
)
AS
BEGIN
Declare @bankruptcy INT,@collection INT,@financial INT,@goverment INT,@realestateComm INT,@realestateResi INT,@tax INT,@wills INT,@litigationvalue INT,@AnnualRevenue INT,@familyLaw INT,@Copyright INT,@IsFirmMergedWithOtherFirm varchar(5),
@PolicyStatusKey INT,@PreviousPolicyKey INT,@bankruptcyOld INT,@collectionOld INT,@financialOld INT,@govermentOld INT,@realestateCommOld INT,@realestateResiOld INT,@taxOld INT,@willsOld INT,@litigationvalueOld INT,@familyLawOld INT,
@CopyrightOld INT,@litigationAOPSum INT,@corporateCommercialBusiness INT,@CreatedDate DATETIME,@DaysDiffenence INT,@EffectiveDate DATETIME,@StateCode VARCHAR(30),@QuoteType VARCHAR(20)


		SELECT @CreatedDate=AppCreatedDate,@EffectiveDate=Policyeffectivedate,@QuoteType=QuoteType FROM POLICY WHERE PolicyKey=@PolicyKey
		
		SELECT @DaysDiffenence= DATEDIFF(d,convert(varchar(20),@LitImplementationDate,101),convert(varchar(20),@CreatedDate,101))
		--print @DaysDiffenence
		set @StateCode=(Select top 1 ad.StateCode from Address ad 
				inner join AccountAddress aad on ad.AddressKey=aad.AddressKey 
				inner join Account ac on aad.AccountKey=ac.AccountKey 
				inner join Policy p on ac.AccountID=p.AccountID 
				inner join PolicyTransaction pt on p.PolicyKey=pt.PolicyKey 
				where pt.AccountKey=ac.AccountKey and p.PolicyKey=@PolicyKey 
				order by ad.AddressKey desc)
	CREATE TABLE #Temp
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp9
	(
		
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp1
	(
		SN INT,
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp2
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)

	CREATE TABLE #Temp3
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp4
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp5
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp6
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)
	CREATE TABLE #Temp7
	(
		page_name VARCHAR(100),
		flag_for_supplment VARCHAr(1)
	)
	CREATE TABLE #Temp8
	(
		object_name VARCHAR(100),
		from_page varchar(100),
		object_name_desc varchar(500)
	)

	IF(@QuoteType is null or @QuoteType<>'BRG')
	BEGIN

	SET @PolicyStatusKey  = (select  PolicyStatusKey from Policy where policykey=@PolicyKey)
	SET @PreviousPolicyKey=(select p.policykey as PreviousPolicykey  FROM policy p inner join firmlw f on p.policykey=f.policykey and f.VersionSequence=(select max(VersionSequence) From firmlw where PolicyKey=f.PolicyKey) where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=@PolicyKey) AND policynumber is not null))
	SET @bankruptcy  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=3 group by PercentageValue)
	SET @collection =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=31 group by PercentageValue)
	SET @financial =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=12  group by PercentageValue)
	SET @goverment =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=13 group by PercentageValue)
	SET @realestateComm =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=20 group by PercentageValue)
	SET @realestateResi =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=27 group by PercentageValue)
	SET @tax =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=22 group by PercentageValue)
	SET @wills =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=24 group by PercentageValue)
	SET @IsFirmMergedWithOtherFirm =(select f.IsFirmMergedWithOtherFirm from firmlw f where f.VersionSequence=(select max(VersionSequence) From firmlw where PolicyKey=f.PolicyKey) and f.policykey=@PolicyKey)
	SET @litigationvalue =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18 group by PercentageValue)
	SET @familyLaw=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=8 group by PercentageValue)
	SET @Copyright=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6 group by PercentageValue)
	SET @AnnualRevenue =(select cast(replace(replace([lowerlimit],',',''),'+','') as int) lowerlimit from annualrevenuelimits where RevenueKey=(select CONVERT(INT, CASE WHEN IsNumeric(CONVERT(VARCHAR(12), f.AnnualRevenueSequence)) = 1 then CONVERT(VARCHAR(12), f.AnnualRevenueSequence) else 0 End) from firmlw f  where f.policykey=@PolicyKey and f.VersionSequence=(select max(VersionSequence) From firmlw where PolicyKey=f.PolicyKey)))
	Set @corporateCommercialBusiness=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=5 group by PercentageValue)
	
	----select aopkey,AopDescNew from AOPLW where AOPKey in (55,56,57,59,60,61,62,63,67)
	SELECT @litigationAOPSum= sum( CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END ) from AreaOfPracticeLW aopLW where aopLW.AOPKey in (55,56,57,59,60,61,62,63,67) and aopLW.policykey=@PolicyKey and  aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey)
	--print @litigationAOPSum
	SET @bankruptcyOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=3)
	if(@bankruptcyOld is null)
	set @bankruptcyOld=0
	SET @collectionOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=31)
	if(@collectionOld is null)
	set @collectionOld=0
	SET @financialOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=12)
	if(@financialOld is null)
	set @financialOld=0
	SET @govermentOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=13)
	if(@govermentOld is null)
	set @govermentOld=0
	SET @realestateCommOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=20)
	if(@realestateCommOld is null)
	set @realestateCommOld=0
	SET @realestateResiOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=27)
	if(@realestateResiOld is null)
	set @realestateResiOld=0
	SET @taxOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=22)
	if(@taxOld is null)
	set @taxOld=0
	SET @willsOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=24)
	if(@willsOld is null)
	set @willsOld=0
	SET @litigationvalueOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18)
	if(@litigationvalueOld is null)
	set @litigationvalueOld=0
	SET @familyLawOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=8)
	if(@familyLawOld is null)
	set @familyLawOld=0
	SET @CopyrightOld=(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPracticeLW aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPracticeLW where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6)
	if(@CopyrightOld is null)
	set @CopyrightOld=0
	
	Declare @LitigationSupplementPage CHAR

	IF(@DaysDiffenence<0)
		BEGIN
			IF(@litigationvalue>0)
				BEGIN
					SET @LitigationSupplementPage='Y'
				END
			ELSE
				BEGIN
					SET @LitigationSupplementPage='N'
				END
		END
	ELSE
		BEGIN
			IF(@litigationAOPSum>0)
				BEGIN
					SET @LitigationSupplementPage='Y'
				END
			ELSE
				BEGIN
					SET @LitigationSupplementPage='N'
				END
		END
	
	IF(@PolicyStatusKey=1)
	BEGIN

	
	BEGIN 
		INSERT INTO #Temp9 (object_name,from_page,object_name_desc) VALUES('FirmNewApp','FirmNewApp','About You');
	END
	--IF(@mainTab='aboutYou')
	BEGIN
		INSERT INTO #Temp (object_name, from_page,object_name_desc) VALUES('FirmNewApp', 'FirmNewApp','Will hold Firm Name');
		INSERT INTO #Temp (object_name, from_page,object_name_desc) VALUES('insuranceHistory', 'insuranceHistory','Insurance History/Coverage');	
	END
	
	----ELSE IF(@mainTab='Attorneys')
	BEGIN 
		INSERT INTO #Temp4 (object_name,from_page,object_name_desc) VALUES('Attorneys','Attorneys','Attorneys');
	END
	
	----ELSE IF(@mainTab='practiceArea')
	BEGIN 
		INSERT INTO #Temp5 (object_name,from_page,object_name_desc) VALUES('lawPractice','lawPractice','Area Of Practice');
	END
	--ELSE IF(@mainTab='supplements')
	---select @financial,@goverment,@litigationvalue

	BEGIN 
	
	 IF(@bankruptcy>35 )
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(1,'bankruptcySupplement', 'bankruptcySupplement','Bankruptcy');
	END

	IF(@collection>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(2,'collectionSupplement', 'collectionSupplement','Collection');
	END

	IF(@Copyright>0)
	BEGIN
	INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(3,'copyRightTrademarkSupplement', 'copyRightTrademarkSupplement','Copyright Trademark');
	END

	IF(@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(4,'CorporateCommercialBusinessSupplement', 'CorporateCommercialBusinessSupplement','Corporate Commercial Business');
	END

	IF(@familyLaw >35)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(5,'familylawsupplement', 'familylawsupplement','Family Law');
	END
	IF(@financial>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(6,'FinancialInstitutionSupplement', 'FinancialInstitutionSupplement','Financial Institution');
	END

	IF(@goverment>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(7,'GovernmentSupplement', 'GovernmentSupplement','Government');
	END
	
	IF(@LitigationSupplementPage='Y')
	BEGIN
	
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(8,'litigationSupplement', 'litigationSupplement','Plaintiff Litigation');
	END
	IF(@realestateComm>0 OR @realestateResi>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(9,'RealEstateSupplement', 'RealEstateSupplement','Real Estate');
	END
	IF(@wills>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(10,'WillsTrustProbationSupplment', 'WillsTrustProbationSupplment','Wills Trust Probate');
	END
	IF(@tax>25)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(11,'taxSupplement', 'taxSupplement','Tax');
	END
	
	
		
	
	
		--INSERT INTO #Temp1 (object_name, from_page,object_name_desc) VALUES('feesuitSupplement', 'feesuitSupplement','Fee Suit');
	
	END
	--ELSE IF(@mainTab='FirmInformation')
	BEGIN 

		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('aboutFirm', 'aboutFirm','About Your Firm');
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('practiceManagement', 'practiceManagement','Practice Management');
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('morePracticeManagement', 'morePracticeManagement','More Practice Management');
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('underwritingInfo', 'underwritingInfo','Underwriting Information');
		if(@StateCode = 'KS' and @CreatedDate >= @ElectronicInsuranceImplDate)
		BEGIN
			INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('electronicInsurance', 'electronicInsurance','Electronic Selection / Rejection');
		End
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('pastClaims', 'pastClaims','Past Claims');
	END
	
	--ELSE IF(@mainTab='housekeeping')
	BEGIN 
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('housekeeping','housekeeping','Housekeeping');
	END

	----ELSE IF(@mainTab='Quote')
	BEGIN 
		INSERT INTO #Temp6 (object_name,from_page,object_name_desc) VALUES('quoteOption','quoteOption','Quote');
	END

	 IF(@bankruptcy>35 OR @collection>0 OR ( @Copyright>0) OR @familyLaw >35  OR @financial>0 OR @goverment>0 OR @LitigationSupplementPage='Y' OR @realestateComm>0 OR @realestateResi>0 OR @wills>0 OR @tax>25
	 OR (@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')) 
	 BEGIN 
		INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','Y');
	 END
	 ELSE
	 BEGIN
	 INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','N');
	 END

	 BEGIN 
		INSERT INTO #Temp8 (object_name, from_page,object_name_desc) VALUES('aboutFirm', 'aboutFirm',' Firm Information');
	END
		SELECT * FROM #Temp
		SELECT object_name, from_page,object_name_desc FROM #Temp1 order by SN 
		SELECT * FROM #Temp2
		SELECT * FROM #Temp3
		SELECT * FROM #Temp4
		SELECT * FROM #Temp5
		SELECT * FROM #Temp6
		SELECT * FROM #Temp7
		SELECT * FROM #Temp8
		SELECT * FROM #Temp9
END
IF(@PolicyStatusKey=2) 
	
	BEGIN
	BEGIN 
		INSERT INTO #Temp9 (object_name,from_page,object_name_desc) VALUES('FirmNewApp','FirmNewApp','About You');
	END
	BEGIN
		INSERT INTO #Temp (object_name, from_page,object_name_desc) VALUES('FirmNewApp', 'FirmNewApp','Will hold Firm Name');
		--INSERT INTO #Temp (object_name, from_page,object_name_desc) VALUES('insuranceHistory', 'insuranceHistory','Insurance History/Coverage');	
	END
	
	----ELSE IF(@mainTab='Attorneys')
	BEGIN 
		INSERT INTO #Temp4 (object_name,from_page,object_name_desc) VALUES('Attorneys','Attorneys','Attorneys');
	END
	
	----ELSE IF(@mainTab='practiceArea')
	BEGIN 
		INSERT INTO #Temp5 (object_name,from_page,object_name_desc) VALUES('lawPractice','lawPractice','Area Of Practice');
	END

	--ELSE IF(@mainTab='supplements')
	---select @financial,@goverment,@litigationvalue

	BEGIN 

	 IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35))
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(1,'bankruptcySupplement', 'bankruptcySupplement','Bankruptcy');
	END

	IF(@collection>@collectionOld)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(2,'collectionSupplement', 'collectionSupplement','Collection');
	END

--	IF(@Copyright>0 AND @Copyright<=5)
	IF(@Copyright>0 )
	BEGIN
	INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(3,'copyRightTrademarkSupplement', 'copyRightTrademarkSupplement','Copyright Trademark');
	END

	--IF((@familyLawOld>35 AND @familyLaw>@familyLawOld+10) OR (@familyLawOld<35 AND @familyLaw>35))
	IF(@familyLaw>35 )
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(5,'familylawsupplement', 'familylawsupplement','Family Law');
	END
	IF(@financial>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(6,'FinancialInstitutionSupplement', 'FinancialInstitutionSupplement','Financial Institution');
	END


	--IF( ((@govermentOld<> @goverment) and (@govermentOld=0 and @goverment>0)) OR @goverment>10)
	IF(@govermentOld != @goverment and @goverment> @govermentOld AND @goverment>10)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(7,'GovernmentSupplement', 'GovernmentSupplement','Government');
	END
	IF(@LitigationSupplementPage='Y')
	BEGIN
	
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(8,'litigationSupplement', 'litigationSupplement','Plaintiff Litigation');
	END
	
	IF(@tax>25 and @tax>@taxOld)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(11,'taxSupplement', 'taxSupplement','Tax');
	END

if(@CreatedDate < @RenewalSupplementNewImplDate)
begin

	IF(@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(4,'CorporateCommercialBusinessSupplement', 'CorporateCommercialBusinessSupplement','Corporate Commercial Business');
	END

	IF(((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5))OR((@realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)))
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(9,'RealEstateSupplement', 'RealEstateSupplement','Real Estate');
	END

	IF(@wills>@willsOld)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(10,'WillsTrustProbationSupplment', 'WillsTrustProbationSupplment','Wills Trust Probate');
	END

	--IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35) OR @collection>@collectionOld OR  @Copyright>0 OR ((@familyLawOld>35 AND @familyLaw>@familyLawOld+10) OR (@familyLawOld<35 AND @familyLaw>35))  OR @financial>0 OR (@govermentOld != @goverment and @goverment> @govermentOld AND @goverment>10) OR @LitigationSupplementPage='Y' OR ((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5))OR((@realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)) OR @wills>@willsOld OR (@tax>25 and @tax>@taxOld)
	--	 OR (@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')) 
	IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35) OR @collection>@collectionOld OR  @Copyright>0 OR @familyLaw>35   OR @financial>0 OR (@govermentOld != @goverment and @goverment> @govermentOld AND @goverment>10) OR @LitigationSupplementPage='Y' OR ((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5))OR((@realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)) OR @wills>@willsOld OR (@tax>25 and @tax>@taxOld)
		 OR (@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')) 
	 BEGIN 
		INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','Y');
	 END
	 ELSE
	 BEGIN
	 INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','N');
	 END


	end
	
else
begin

	IF(@corporateCommercialBusiness > 0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(4,'CorporateCommercialBusinessSupplement', 'CorporateCommercialBusinessSupplement','Corporate Commercial Business');
	END

	IF((@realestateComm>0) OR (@realestateResi>0))
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(9,'RealEstateSupplement', 'RealEstateSupplement','Real Estate');
	END
	IF(@wills>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(10,'WillsTrustProbationSupplment', 'WillsTrustProbationSupplment','Wills Trust Probate');
	END


	IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35) OR @collection>@collectionOld OR  @Copyright>0 OR  @familyLaw>35  OR @financial>0 OR (@govermentOld != @goverment and @goverment> @govermentOld AND @goverment>10) OR @LitigationSupplementPage='Y' OR (@realestateComm>0) OR (@realestateResi>0) OR (@wills>0) OR (@corporateCommercialBusiness > 0)) 
	 BEGIN 
		INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','Y');
	 END
	 ELSE
	 BEGIN
	 INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','N');
	 END
	
end	
	
		--INSERT INTO #Temp1 (object_name, from_page,object_name_desc) VALUES('feesuitSupplement', 'feesuitSupplement','Fee Suit');
	
	END
	--ELSE IF(@mainTab='FirmInformation')
	BEGIN 
		
		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('practiceManagement', 'practiceManagement','Practice Management');
		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('morePracticeManagement', 'morePracticeManagement','More Practice Management');
		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('underwritingInfo', 'underwritingInfo','Underwriting Information');
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('pastClaims', 'pastClaims','Claims');
		if(@StateCode = 'KS' and @CreatedDate >= @ElectronicInsuranceImplDate)
		BEGIN
			INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('electronicInsurance', 'electronicInsurance','Electronic Selection / Rejection');
		END
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('AboutFirmRenewal', 'AboutFirmRenewal','About Your Firm');
	END
	
	--ELSE IF(@mainTab='housekeeping')
	BEGIN 
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('housekeeping','housekeeping','Housekeeping');
	END

	----ELSE IF(@mainTab='Quote')
	BEGIN 
		INSERT INTO #Temp6 (object_name,from_page,object_name_desc) VALUES('quoteOption','quoteOption','Quote');
	END

	  BEGIN 
		INSERT INTO #Temp8 (object_name, from_page,object_name_desc) VALUES('pastClaims', 'pastClaims',' Firm Information');
	END




		SELECT * FROM #Temp
		SELECT object_name, from_page,object_name_desc FROM #Temp1 order by SN
		SELECT * FROM #Temp2
		SELECT * FROM #Temp3
		SELECT * FROM #Temp4
		SELECT * FROM #Temp5
		SELECT * FROM #Temp6
		SELECT * FROM #Temp7
		SELECT * FROM #Temp8
		SELECT * FROM #Temp9
	END

END

ELSE
BEGIN
BEGIN 
		INSERT INTO #Temp9 (object_name,from_page,object_name_desc) VALUES('FirmNewApp','FirmNewApp','About You');
	END
	--IF(@mainTab='aboutYou')
	BEGIN
		INSERT INTO #Temp (object_name, from_page,object_name_desc) VALUES('FirmNewApp', 'FirmNewApp','Will hold Firm Name');
		INSERT INTO #Temp (object_name, from_page,object_name_desc) VALUES('insuranceHistory', 'insuranceHistory','Insurance History/Coverage');	
	END
	
	----ELSE IF(@mainTab='Attorneys')
	BEGIN 
		INSERT INTO #Temp4 (object_name,from_page,object_name_desc) VALUES('Attorneys','Attorneys','Attorneys');
	END
	
	----ELSE IF(@mainTab='practiceArea')
	BEGIN 
		INSERT INTO #Temp5 (object_name,from_page,object_name_desc) VALUES('lawPractice','lawPractice','Area Of Practice');
	END
	--ELSE IF(@mainTab='supplements')
	---select @financial,@goverment,@litigationvalue

	BEGIN 
	
	 IF(@bankruptcy>35 )
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(1,'bankruptcySupplement', 'bankruptcySupplement','Bankruptcy');
	END

	IF(@collection>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(2,'collectionSupplement', 'collectionSupplement','Collection');
	END

	IF(@Copyright>0)
	BEGIN
	INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(3,'copyRightTrademarkSupplement', 'copyRightTrademarkSupplement','Copyright Trademark');
	END

	IF(@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(4,'CorporateCommercialBusinessSupplement', 'CorporateCommercialBusinessSupplement','Corporate Commercial Business');
	END

	IF(@familyLaw >35)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(5,'familylawsupplement', 'familylawsupplement','Family Law');
	END
	IF(@financial>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(6,'FinancialInstitutionSupplement', 'FinancialInstitutionSupplement','Financial Institution');
	END

	IF(@goverment>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(7,'GovernmentSupplement', 'GovernmentSupplement','Government');
	END
	
	IF(@LitigationSupplementPage='Y')
	BEGIN
	
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(8,'litigationSupplement', 'litigationSupplement','Plaintiff Litigation');
	END
	IF(@realestateComm>0 OR @realestateResi>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(9,'RealEstateSupplement', 'RealEstateSupplement','Real Estate');
	END
	IF(@wills>0)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(10,'WillsTrustProbationSupplment', 'WillsTrustProbationSupplment','Wills Trust Probate');
	END
	IF(@tax>25)
	BEGIN
		INSERT INTO #Temp1 (SN,object_name, from_page,object_name_desc) VALUES(11,'taxSupplement', 'taxSupplement','Tax');
	END
	
	
		
	
	
		--INSERT INTO #Temp1 (object_name, from_page,object_name_desc) VALUES('feesuitSupplement', 'feesuitSupplement','Fee Suit');
	
	END
	--ELSE IF(@mainTab='FirmInformation')
	BEGIN 

		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('aboutFirm', 'aboutFirm','About Your Firm');
		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('practiceManagement', 'practiceManagement','Practice Management');
		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('morePracticeManagement', 'morePracticeManagement','More Practice Management');
		--INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('underwritingInfo', 'underwritingInfo','Underwriting Information');
		--if(@StateCode = 'KS' and @CreatedDate >= @ElectronicInsuranceImplDate)
		--BEGIN
		--	INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('electronicInsurance', 'electronicInsurance','Electronic Selection / Rejection');
		--End
		INSERT INTO #Temp2 (object_name, from_page,object_name_desc) VALUES('pastClaims', 'pastClaims','Past Claims');
	END
	
	--ELSE IF(@mainTab='housekeeping')
	BEGIN 
		INSERT INTO #Temp3 (object_name,from_page,object_name_desc) VALUES('housekeeping','housekeeping','Housekeeping');
	END

	----ELSE IF(@mainTab='Quote')
	BEGIN 
		INSERT INTO #Temp6 (object_name,from_page,object_name_desc) VALUES('quoteOption','quoteOption','Quote');
	END

	 IF(@bankruptcy>35 OR @collection>0 OR ( @Copyright>0) OR @familyLaw >35  OR @financial>0 OR @goverment>0 OR @LitigationSupplementPage='Y' OR @realestateComm>0 OR @realestateResi>0 OR @wills>0 OR @tax>25
	 OR (@corporateCommercialBusiness > 0 and @IsCCBFlag = 'Y')) 
	 BEGIN 
		INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','Y');
	 END
	 ELSE
	 BEGIN
	 INSERT INTO #Temp7 (page_name,flag_for_supplment) VALUES('supplement','N');
	 END

	 BEGIN 
		INSERT INTO #Temp8 (object_name, from_page,object_name_desc) VALUES('pastClaims', 'pastClaims',' Firm Information');
	END
		SELECT * FROM #Temp
		SELECT object_name, from_page,object_name_desc FROM #Temp1 order by SN 
		SELECT * FROM #Temp2
		SELECT * FROM #Temp3
		SELECT * FROM #Temp4
		SELECT * FROM #Temp5
		SELECT * FROM #Temp6
		SELECT * FROM #Temp7
		SELECT * FROM #Temp8
		SELECT * FROM #Temp9
Print 'BRG Block'
END
END



GO
