USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAopDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertAopDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAopDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertAopDataLW_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertAopDataLW_p]
(
	@PolicyKey INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN
	
	DELETE FROM SmartSearchValue WHERE POLICYKEY=@PolicyKey

			INSERT INTO SmartSearchValue(AOPKey, Percentage,PercentageOld,PolicyKey,IsEdit,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			SELECT
					doc.col.value('AOPKey[1]', 'INT') AOPKey,
					doc.col.value('Percentage[1]', 'INT') Percentage, 
					doc.col.value('PercentageOld[1]', 'INT') PercentageOld, 
					doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
					doc.col.value('IsEdit[1]', 'char') IsEdit,
					doc.col.value('CreatedBy[1]', 'int') CreatedBy, 
					doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate,
					@LastUpdateUserID,@LastUpdateTimeStamp
			FROM @xml.nodes('/Root/Root1') doc(col)
			
		UPDATE SmartSearchValue SET PercentageOld = NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey AND PercentageOld = 0
		UPDATE SmartSearchValue SET Percentage = NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey AND Percentage = 0
		
END




GO
