USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllAccountantData_new]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchAllAccountantData_new]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchAllAccountantData_new]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchAllAccountantData_new] AS' 
END
GO

--exec FetchAllAccountantData_new null, null,'Y','FetchAllAccountantData_new', null, null,'2021-05-31','2021-05-31', null
ALTER PROCEDURE [dbo].[FetchAllAccountantData_new]
(	
	 @page_size int = null,      
     @page_number int =null,      
     @flag_for_pagination varchar(3)=null,
	 @report_id varchar(200)=null,    
	 @AccountID1 int,
	 @output_type varchar(100)=null, 
	 @WeekFromDate_D datetime = null,
	 @WeekToDate_D datetime = null,
	 @DirectSubProduced varchar(20) = null 
)
AS
SET NOCOUNT ON
begin

	Declare @report_output varchar(max)       
	DECLARE @total_page int      
	DECLARE @modulo int      
	DECLARE @count int=0      
	DECLARE @period INT    
	

	IF OBJECT_ID('tempdb..#TempPolicyList') IS NOT NULL
		DROP TABLE #TempPolicyList

	SET @WeekFromDate_D = ISNULL(NULLIF(@WeekFromDate_D, ''), '1900-01-01')
	SET @WeekToDate_D = ISNULL(NULLIF(@WeekToDate_D, ''), '3000-01-01')
	--SET @DirectSubProduced = ISNULL(NULLIF(@DirectSubProduced, ''), '')

   CREATE TABLE #TEMP_REPORT      
	 (      
	    ID INT IDENTITY(1,1),
	    Status varchar(100),
		State varchar(50),
		Limit varchar(50),
		Deductible1 varchar(50),
		ClaimExpensesType varchar(50),
		--TotalPremium varchar(50),
		TotalPremium numeric(15,0),
		InvoicedPremium numeric(15,0),
		IsPublicTradedAudited char(1),
		IsPublicPrivateOfferingsDone char(1),
		IsInvestmentVenture char(1) , 
		IsSyndicationManagers char(1),
		IsFirmRenderedAuditOrAttestService char(1),
		IsManagementServiceProvided char(1),
		IsCommissionRecieved char(1),
		IsDebtOrEquityFinancing char(1),
		IsNonPublicInvestmentDone char(1),
		IsServedAsTrustee char(1), 
		IsFirmRenderedServiceForAnyClient char(1),
		IsFirmCarryingProfLiabilityIns char(1), 
		Comment varchar(8000),
		IsBasicPage char(1),
		IsRenewed char(1), 
		IsSuitInstituted char(1),
		IsAwarenessOfAnyProfLiability char(1),
		IsAwarenessOfAnyProfLiabilitySuitAgainst char(1), 
		ContactPerson varchar(80),
		TotalFirmPersonnel int,
		AccountEmail varchar(100),
		AccountID int, 
		AccountName varchar(100),
		PolicyEffectiveDate datetime, 
		PolicyKey int, 
		QuoteNumber varchar(20), 
		PolicyStatus varchar(20), 
		PolicyNumber varchar(20), 
		RenewOfPolicyNumber varchar(20), 
		AppCreatedDate datetime,
		Address1 varchar(100), 
		Address2 varchar(100), 
		City varchar(60), 
		Zip varchar(5), 
		County1 varchar(50),
		--County varchar(50),
		SubProducerNumber varchar(50), 
		PolicyExpirationDate datetime,
		Reviewer varchar(50),
		ClaimOptionType varchar(50),
		ExpiringCarrier varchar(50),
		IsPriorActDateFull varchar(20),
		PriorActDatePross datetime,
		FirmYear int,
		ProInsPremium numeric(15,0),
        PolicyExpirationDatePross datetime,
        LimitPross varchar(50),
        DeductiblePross varchar(50),
		Modifier int,
		Amount1 varchar(50),
		Amount2 varchar(50),
		Amount3 varchar(50),
		--Amount1 numeric(15,2),
		--Amount2 numeric(15,2),
		--Amount3 numeric(15,2),
		AOP_Percentage_1 int,
        AOP_Percentage_2 int,
        AOP_Percentage_3 int,
        AOP_Percentage_4 int,
        AOP_Percentage_5 int,
        AOP_Percentage_6 int,
        AOP_Percentage_7 int,
        AOP_Percentage_8 int,
        AOP_Percentage_9 int,
        AOP_Percentage_10 int,
        AOP_Percentage_11 int,
        AOP_Percentage_12 int,
        AOP_Percentage_13 int,
        AOP_Percentage_14 int,
        AOP_Percentage_15 int,
        AOP_Percentage_16 int,
        AOP_Percentage_17 int,
        AOP_Percentage_18 int,
        AOP_Percentage_19 int,
        AOP_Percentage_20 int,
        AOP_Percentage_21 int,
        AOP_Percentage_22 int,
        AOP_Percentage_23 int,
        AOP_Percentage_24 int,
		Modifier1 int,
		Modifier2 int,
		Modifier3 int,
		TotalModifiers int,
		CreatedDate varchar(100)
		--CreatedDate datetime
		,IsQuoteLetterSend	 varchar(100)
		,Policy_NotAcceptedDate								 varchar(100)
		,Policy_IssuedDate									 varchar(100)
		,year_PolicyEffectiveDate							 varchar(100)
		,month_PolicyEffectiveDate							 varchar(100)
		,DirectSubproduced									 varchar(100)
		,AOPFactor varchar(20)
		,CMFactor varchar(20)
		,FTEFactor varchar(20)
		,DeclinedComment									 varchar(1000)
		,WorkPhone											 varchar(100)
		,AnnualRevenue										VARCHAR(100)
		,FirstReviewerName									VARCHAR(100)
		,IsIndicationMailSent								CHAR
		,IndicationSentDate									VARCHAR(100)
		,FromIndication										 CHAR
		,isDirect											CHAR
		,QuoteSendDate								varchar(700)
		,isAutoQuote										CHAR
		,isComingThroughUnderwriting						CHAR
		,IndicationPremium									INT
		,isRequotePolicy									CHAR
		,QQ													CHAR
		,QQPremium											INT
		,ClaimsCount										INT
		,TotalIncurred										Numeric(17,2)
		,PaymentMode										VARCHAR(100)
		,Company											VARCHAR(100)
		,SecondaryEmail							VARCHAR(100)
		,MarkAsRenewal										CHAR
		,VersionKey											INT
	 )      
       
      
 CREATE TABLE #TEMP_REPORT_ALL      
	 (      
	    ID INT IDENTITY(1,1),
	    Status varchar(100),
		State varchar(50),
		Limit varchar(50),
		Deductible1 varchar(50),
		ClaimExpensesType varchar(50),
	--	TotalPremium varchar(50),
		TotalPremium numeric(15,0),
		InvoicedPremium numeric(15,0),
		IsPublicTradedAudited char(1),
		IsPublicPrivateOfferingsDone char(1),
		IsInvestmentVenture char(1) , 
		IsSyndicationManagers char(1),
		IsFirmRenderedAuditOrAttestService char(1),
		IsManagementServiceProvided char(1),
		IsCommissionRecieved char(1),
		IsDebtOrEquityFinancing char(1),
		IsNonPublicInvestmentDone char(1),
		IsServedAsTrustee char(1), 
		IsFirmRenderedServiceForAnyClient char(1),
		IsFirmCarryingProfLiabilityIns char(1), 
		Comment varchar(8000),
		IsBasicPage char(1),
		IsRenewed char(1), 
		IsSuitInstituted char(1),
		IsAwarenessOfAnyProfLiability char(1),
		IsAwarenessOfAnyProfLiabilitySuitAgainst char(1), 
		ContactPerson varchar(80),
		TotalFirmPersonnel int,
		AccountEmail varchar(100),
		AccountID int, 
		AccountName varchar(100),
		PolicyEffectiveDate datetime, 
		PolicyKey int, 
		QuoteNumber varchar(20), 
		PolicyStatus varchar(20), 
		PolicyNumber varchar(20), 
		RenewOfPolicyNumber varchar(20), 
		AppCreatedDate datetime,
		Address1 varchar(100), 
		Address2 varchar(100), 
		City varchar(60), 
		Zip varchar(5), 
		County1 varchar(50),
		SubProducerNumber varchar(50), 
		PolicyExpirationDate datetime,
		Reviewer varchar(50),
		ClaimOptionType varchar(50),
		ExpiringCarrier varchar(50),
		IsPriorActDateFull varchar(20),
		PriorActDatePross datetime,
		FirmYear int,
		ProInsPremium numeric(15,0),
        PolicyExpirationDatePross datetime,
        LimitPross varchar(50),
        DeductiblePross varchar(50),
		Modifier int,
		Amount1 varchar(50),
		Amount2 varchar(50),
		Amount3 varchar(50),
		--Amount1 numeric(15,2),
		--Amount2 numeric(15,2),
		--Amount3 numeric(15,2),
		AOP_Percentage_1 int,
        AOP_Percentage_2 int,
        AOP_Percentage_3 int,
        AOP_Percentage_4 int,
        AOP_Percentage_5 int,
        AOP_Percentage_6 int,
        AOP_Percentage_7 int,
        AOP_Percentage_8 int,
        AOP_Percentage_9 int,
        AOP_Percentage_10 int,
        AOP_Percentage_11 int,
        AOP_Percentage_12 int,
        AOP_Percentage_13 int,
        AOP_Percentage_14 int,
        AOP_Percentage_15 int,
        AOP_Percentage_16 int,
        AOP_Percentage_17 int,
        AOP_Percentage_18 int,
        AOP_Percentage_19 int,
        AOP_Percentage_20 int,
        AOP_Percentage_21 int,
        AOP_Percentage_22 int,
        AOP_Percentage_23 int,
        AOP_Percentage_24 int,
		Modifier1 int,
		Modifier2 int,
		Modifier3 int,
		TotalModifiers int,
		CreatedDate Varchar(100)
		--CreatedDate datetime
		,IsQuoteLetterSend									 varchar(100)
		,Policy_NotAcceptedDate								 varchar(100)
		,Policy_IssuedDate									 varchar(100)
		,year_PolicyEffectiveDate							 varchar(100)
		,month_PolicyEffectiveDate							 varchar(100)
		,DirectSubproduced									 varchar(100)
		,AOPFactor varchar(20)
		,CMFactor varchar(20)
		,FTEFactor varchar(20)
		,DeclinedComment									 varchar(1000)
		,WorkPhone											 varchar(100)
		,AnnualRevenue										VARCHAR(100)
		,FirstReviewerName									VARCHAR(100)
		,IsIndicationMailSent								CHAR
		,IndicationSentDate									VARCHAR(100)
		,FromIndication										 CHAR
		,isDirect											CHAR
		,QuoteSendDate								varchar(700)
		,isAutoQuote										CHAR
		,isComingThroughUnderwriting						CHAR
		,IndicationPremium									INT
		,isRequotePolicy									CHAR
		,QQ													CHAR
		,QQPremium											INT
		,ClaimsCount										INT
		,TotalIncurred										Numeric(17,2)
		,PaymentMode										VARCHAR(100)
		,Company											VARCHAR(100)
		,SecondaryEmail										VARCHAR(100)
		,MarkAsRenewal										CHAR
		,VersionKey											INT
	 )   

	CREATE TABLE #TempPolicyList
	(
		SN INT IDENTITY(1,1),
		Status varchar(100),
		State varchar(50),
		Limit varchar(50),
		Deductible1 varchar(50),
		ClaimExpensesType varchar(50),
		--TotalPremium varchar(50),
		TotalPremium numeric(15,0),
		InvoicedPremium numeric(15,0),
		IsPublicTradedAudited char(1),
		IsPublicPrivateOfferingsDone char(1),
		IsInvestmentVenture char(1) , 
		IsSyndicationManagers char(1),
		IsFirmRenderedAuditOrAttestService char(1),
		IsManagementServiceProvided char(1),
		IsCommissionRecieved char(1),
		IsDebtOrEquityFinancing char(1),
		IsNonPublicInvestmentDone char(1),
		IsServedAsTrustee char(1), 
		IsFirmRenderedServiceForAnyClient char(1),
		IsFirmCarryingProfLiabilityIns char(1), 
		Comment varchar(8000),
		IsBasicPage char(1),
		IsRenewed char(1), 
		IsSuitInstituted char(1),
		IsAwarenessOfAnyProfLiability char(1),
		IsAwarenessOfAnyProfLiabilitySuitAgainst char(1), 
		ContactPerson varchar(80),
		TotalFirmPersonnel int,
		AccountEmail varchar(100),
		AccountID int, 
		AccountName varchar(100),
		PolicyEffectiveDate datetime, 
		PolicyKey int, 
		QuoteNumber varchar(20), 
		PolicyStatus varchar(20), 
		PolicyNumber varchar(20), 
		RenewOfPolicyNumber varchar(20), 
		AppCreatedDate datetime,
		Address1 varchar(100), 
		Address2 varchar(100), 
		City varchar(60), 
		Zip varchar(5), 
		County1 varchar(50),
		SubProducerNumber varchar(50), 
		PolicyExpirationDate datetime,
		Reviewer varchar(50),
		ClaimOptionType varchar(50),
		ExpiringCarrier varchar(50),
		IsPriorActDateFull varchar(20),
		PriorActDatePross datetime,
		FirmYear int,
		ProInsPremium numeric(15,0),
        PolicyExpirationDatePross datetime,
        LimitPross varchar(50),
        DeductiblePross varchar(50),
		Modifier int,
		Amount1 varchar(50),
		Amount2 varchar(50),
		Amount3 varchar(50),
		--Amount1 numeric(15,2),
		--Amount2 numeric(15,2),
		--Amount3 numeric(15,2),
		AOP_Percentage_1 int,
        AOP_Percentage_2 int,
        AOP_Percentage_3 int,
        AOP_Percentage_4 int,
        AOP_Percentage_5 int,
        AOP_Percentage_6 int,
        AOP_Percentage_7 int,
        AOP_Percentage_8 int,
        AOP_Percentage_9 int,
        AOP_Percentage_10 int,
        AOP_Percentage_11 int,
        AOP_Percentage_12 int,
        AOP_Percentage_13 int,
        AOP_Percentage_14 int,
        AOP_Percentage_15 int,
        AOP_Percentage_16 int,
        AOP_Percentage_17 int,
        AOP_Percentage_18 int,
        AOP_Percentage_19 int,
        AOP_Percentage_20 int,
        AOP_Percentage_21 int,
        AOP_Percentage_22 int,
        AOP_Percentage_23 int,
        AOP_Percentage_24 int,
--		InvoicedPremium int,
		Modifier1 int,
		Modifier2 int,
		Modifier3 int,
		TotalModifiers int,
		CreatedDate datetime,
		VersionSequence int,
		IsQuoteLetterSend char(1),
		NotAcceptedDate datetime,
		IssuedDate datetime,
		DirectSubproduced varchar(20),
		RatingOutPutXML varchar(8000),
		RatingInPutXML varchar(8000),
		AOPFactor varchar(50),
		CMFactor varchar(20),
		FTEFactor varchar(20),
		DeclinedComment varchar(1000)
		,WorkPhone											 varchar(100)
		,AnnualRevenue										VARCHAR(100)
		,FirstReviewerName									VARCHAR(100)
		,IsIndicationMailSent								CHAR
		,IndicationSentDate									VARCHAR(100)
		,FromIndication										 CHAR
		,isDirect											CHAR
		,QuoteSendDate								varchar(700)
		,isAutoQuote										CHAR
		,isComingThroughUnderwriting						CHAR
		,IndicationPremium									INT
		,InitialTransactionSequence							INT
		,isRequotePolicy									CHAR
		,QQ													CHAR
		,QuoteType											varchar(50)
		,QQPremium										INT
		,ClaimsCount										INT
		,TotalIncurred										Numeric(17,2)
		,PaymentMode										VARCHAR(100)
		,Company											VARCHAR(100)
		,SecondaryEmail										VARCHAR(100)
		,MarkAsRenewal										CHAR
		,VersionKey											INT
	)

--exec SynchVersionSequenceForDumpACC_p @WeekFromDate_D,@WeekToDate_D
	INSERT INTO #TempPolicyList(Status,		State,		Limit,		Deductible1,		ClaimExpensesType,
		TotalPremium,		InvoicedPremium,		IsPublicTradedAudited,		IsPublicPrivateOfferingsDone,
		IsInvestmentVenture, 		IsSyndicationManagers,		IsFirmRenderedAuditOrAttestService,
		IsManagementServiceProvided,		IsCommissionRecieved,		IsDebtOrEquityFinancing,
		IsNonPublicInvestmentDone,		IsServedAsTrustee, 		IsFirmRenderedServiceForAnyClient,
		IsFirmCarryingProfLiabilityIns, 		Comment,		IsBasicPage,		IsRenewed, 
		IsSuitInstituted,		IsAwarenessOfAnyProfLiability,		IsAwarenessOfAnyProfLiabilitySuitAgainst, 
		ContactPerson,		TotalFirmPersonnel, AccountEmail,		AccountID, AccountName,
		PolicyEffectiveDate, PolicyKey, QuoteNumber, PolicyStatus, PolicyNumber, RenewOfPolicyNumber, AppCreatedDate,
		Address1, Address2, City, Zip, County1,		SubProducerNumber, PolicyExpirationDate,	Reviewer, ClaimOptionType, CreatedDate,VersionSequence,NotAcceptedDate,IssuedDate,DirectSubproduced,RatingOutPutXML,DeclinedComment,
		WorkPhone,AnnualRevenue,FirstReviewerName,IsIndicationMailSent,IndicationSentDate,FromIndication,isDirect,isAutoQuote,isComingThroughUnderwriting
		,InitialTransactionSequence,isRequotePolicy,QQ,QuoteType,ClaimsCount,TotalIncurred,PaymentMode,Company,SecondaryEmail,VersionKey
		)
	SELECT (select StatusDesc from Status where StatusKey=pt.StatusKey) as Status
		, (select StateDesc from State where StateCode=adds.StateCode) as State
		, PARSENAME(Convert(varchar,Convert(money,pc.AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,pc.OccuranceLimit),1),2) as Limit
		, PARSENAME(Convert(varchar,Convert(money,pc.AggregateDeductible),1),2) as Deductible1
		,(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as ClaimExpensesType
		, pt.TotalPremium, pt.InvoicedPremium
		, f.IsPublicTradedAudited,f.IsPublicPrivateOfferingsDone,f.IsInvestmentVenture, f.IsSyndicationManagers,f.IsFirmRenderedAuditOrAttestService,f.IsManagementServiceProvided
		, f.IsCommissionRecieved, f.IsDebtOrEquityFinancing,f.IsNonPublicInvestmentDone,f.IsServedAsTrustee, f.IsFirmRenderedServiceForAnyClient,f.IsFirmCarryingProfLiabilityIns
		, f.Comment,f.IsBasicPage,f.IsRenewed, f.IsSuitInstituted,f.IsAwarenessOfAnyProfLiability,f.IsAwarenessOfAnyProfLiabilitySuitAgainst, f.ContactPerson,f.TotalFirmPersonnel
		, a.AccountEmail,a.AccountID,a.AccountName
		, p.PolicyEffectiveDate, p.PolicyKey,p.QuoteNumber,(CASE p.PolicyStatusKey WHEN 1 THEN 'New Business' ELSE 'Renewal' END) as PolicyStatus,p.PolicyNumber,p.RenewOfPolicyNumber,p.AppCreatedDate 
		, adds.Address1,adds.Address2,adds.City,adds.Zip,adds.CountyDesc
		, pt.ProducerCode as SubProducerNumber,pt.PolicyExpirationDate
		, (select AgentName from UserDetails where UserNo = f.FirstReviewUserID) as Reviewer
		, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Annual Aggregate' ELSE 'Per Claim' END) as ClaimOptionType, p.AppCreatedDate,
		f.VersionSequence,
		(CASE WHEN pt.StatusKey = 5 THEN pt.LastUpdateTimeStamp END) as NotAcceptedDate,f.IssuedDate,
		(CASE WHEN pt.ProducerCode='' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect='Y') THEN 'Direct' ELSE 'Subproduced' END) as DirectSubproduced,
		(case when (select IsThisOptionFinalised from Quote where PolicyKey=p.PolicyKey and IsThisOptionFinalised='Y') = 'Y'
		then
		(select top 1 XmlOutputDatafromRating from RatingTrace where PolicyKey=p.PolicyKey and TransactionSequence=(select top 1 TransactionSequence from Quote where PolicyKey=p.PolicyKey and IsThisOptionFinalised='Y'))
		else
		(select top 1 XmlOutputDatafromRating from RatingTrace where PolicyKey=p.PolicyKey)
		end) as RatingOutPutXML
		/*,(case when (select IsThisOptionFinalised from Quote where PolicyKey=p.PolicyKey and IsThisOptionFinalised='Y') = 'Y'
		then
		(select XmlInputDatatoRating from RatingTrace where PolicyKey=p.PolicyKey and TransactionSequence=(select TransactionSequence from Quote where PolicyKey=p.PolicyKey and IsThisOptionFinalised='Y'))
		else
		(select top 1 XmlInputDatatoRating from RatingTrace where PolicyKey=p.PolicyKey)
		end) as RatingInPutXML*/
		--select * from status
		,(select f.Comment from Firm f where f.PolicyKey=pt.PolicyKey and pt.StatusKey=4) as DeclinedComment,adds.WorkPhone,(select  FORMAT(Amount, '$##,##,##,#####')  from GrossRevenueForFirm where GrossRevenueKey=1 and PolicyKey=p.PolicyKey and versionsequence=f.versionsequence) as AnnualRevenue,
		(select AgentName from UserDetails  WITH(NOLOCK) where UserNo=f.FirstReviewUserID) as AgentName,f.IsIndicationMailSent,f.IndicationSentDate
		,CASE WHEN f.IsIndicationPage ='' or f.IsIndicationPage is null THEN 'N' ELSE f.IsIndicationPage END as IsIndicationPage,
		(select CASE WHEN IsDriect ='' or IsDriect is null THEN 'N' ELSE IsDriect END from subproducer where ProducerCode=pt.producercode) as IsDriect,null,null, (select min(TransactionSequence) from PolicyTransaction where Policykey=p.PolicyKey) as InitialTransactionSequence,f.isRequotePolicy		
		,(CASE WHEN p.QuoteType IS NOT NULL AND p.QuoteType='QQ' THEN 'Y' ELSE 'N' END) as QQ,p.QuoteType,
		(select count(ClaimIncidentSuppKey)  from ClaimIncidentSupp where PolicyKey in(select Policykey from Policy where AccountID=p.AccountID)) as ClaimCount,
		--(select sum(TotalIncurred)   from ClaimIncidentSupp where PolicyKey in(select Policykey from Policy where AccountID=p.AccountID)) as TotalIncurred,
		null,
		(select top 1  Case When PaymentMode='ach' then  'ACH'  When PaymentMode='paypal' then  'Credit / Debit' when PaymentMode='finance' then  'Finance'
		 when PaymentMode='eft' then  'Manual Check'  when PaymentMode='AuthorizeDotNet' then 'Credit / Debit' else PaymentMode END as PaymentMode from PaymentDetail where Policykey=p.Policykey order by PaymentDetailId desc ),
		 (Select Code from Company where CompanyKey=p.CompanyKey),a.secondaryEmail,p.VersionKey
	
    FROM Policy p WITH(NOLOCK), Account a WITH(NOLOCK), Firm f WITH(NOLOCK), Address adds WITH(NOLOCK),Status s WITH(NOLOCK), PolicyTransaction pt WITH(NOLOCK), AccountAddress aa WITH(NOLOCK), PolicyCoverage pc WITH(NOLOCK)
    WHERE a.AccountKey =pt.AccountKey 
	and aa.AccountKey = a.AccountKey  
	and aa.AddressKey=adds.AddressKey 
	and f.PolicyKey = pt.PolicyKey 
	and f.VersionSequence=pt.VersionSequence 
	and s.StatusKey =pt.StatusKey 
	and p.PolicyKey = pt.PolicyKey 
	and f.PolicyKey = pc.PolicyKey 
	and p.PolicyKey = pc.PolicyKey 
	and p.MarketableProductKey = 1 
	and pc.CoverageKey = 2 
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where PolicyKey=p.PolicyKey) 
	and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage WITH(NOLOCK) where PolicyKey=p.PolicyKey)
    and p.isUncompletedData='N' 
	and f.VersionSequence=(select min(VersionSequence) from firm where policykey=p.PolicyKey)
	and (isnull(p.PolicyEffectiveDate,'1900-01-01') between @WeekFromDate_D and @WeekToDate_D)
	and ( @DirectSubProduced is null or @DirectSubProduced = '' or 
		(CASE WHEN pt.producercode =' ' or pt.producercode is null THEN 'Direct' ELSE 'Subproduced' END) = @DirectSubProduced )


		DECLARE @output_xml xml
		DECLARE @policy varchar(15)
		DECLARE @ratingXMLCount int
		DECLARE @aopfactor varchar(10)
		DECLARE @cmfactor varchar(10)
		set @policy = 0;
		select @ratingXMLCount = count(*) from #TempPolicyList
		while(@ratingXMLCount > 0)
		BEGIN
		select top 1 @output_xml = RatingOutPutXML, @policy = PolicyKey from #TempPolicyList where PolicyKey > @policy order by PolicyKey
		if @output_xml is NOT NULL 
		begin		
			select @aopfactor = doc.col.value('AOPFactor[1]', 'varchar(10)'),
			@cmfactor = doc.col.value('CMFactor[1]', 'varchar(10)')
			from @output_xml.nodes('/Response/PremiumInfo') as doc(col)

			if (@aopfactor is not null and @aopfactor <> '') or (@cmfactor is not null and @cmfactor <> '')
			begin
			update #TempPolicyList set AOPFactor=@aopfactor,CMFactor=@cmfactor
			 where PolicyKey=@policy;
			end
		end
		--else
		--begin
		--	update #TempPolicyList set AOPFactor=NULL where PolicyKey=@policy;
		--end
		set @ratingXMLCount = @ratingXMLCount - 1;
		end

		/*DECLARE @input_xml xml
		DECLARE @ratinginputXMLCount int
		DECLARE @ftefactor varchar(10)
		set @policy = 0;
		select @ratinginputXMLCount = count(*) from #TempPolicyList
		while(@ratinginputXMLCount > 0)
		BEGIN
		select top 1 @input_xml = RatingInPutXML, @policy = PolicyKey from #TempPolicyList where PolicyKey > @policy order by PolicyKey
		if @input_xml is NOT NULL 
		begin		
			select @ftefactor = doc.col.value('FullTimeEquivalent[1]', 'varchar(10)')
			from @input_xml.nodes('/PIMWebService/AccountantsInfo') as doc(col)
			if @ftefactor is not null and @ftefactor <> ''
			begin
			update #TempPolicyList set FTEFactor=@ftefactor
			 where PolicyKey=@policy;
			end
		end
		--else
		--begin
		--	update #TempPolicyList set AOPFactor=NULL where PolicyKey=@policy;
		--end
		set @ratinginputXMLCount = @ratinginputXMLCount - 1;
		end*/



	SELECT PolicyKey, IsQuoted
	INTO #IsQuoteLetterSend 
	FROM(
		SELECT *,ROW_NUMBER() OVER(PARTITION BY PolicyKey ORDER BY IsQuoted DESC) AS rid
		FROM(
			SELECT distinct CASE WHEN da.DocFileName LIKE 'QuoteLetter%' THEN 'Y' ELSE 'N' END as IsQuoted
							,t.PolicyKey, da.DocFileName
			FROM DocumentArchive da
			INNER JOIN #TempPolicyList t ON t.VersionSequence = da.VersionSequence
			AND t.PolicyKey = da.PolicyKey 
			)x
		)y 
	WHERE rid = 1

	UPDATE t 
	SET IsQuoteLetterSend = IsQuoted
	FROM #IsQuoteLetterSend a
	INNER JOIN #TempPolicyList t On a.PolicyKey = t.PolicyKey
	
	UPDATE t1
	SET ExpiringCarrier = pl.InsuranceCompanyNamePross, 
		IsPriorActDateFull = CASE WHEN pl.IsPriorActDateFull = 'Y' THEN 'Full'
								  WHEN pl.IsPriorActDateFull = 'N' THEN 'Prior Act'
								  ELSE ''
							 END,
		PriorActDatePross = pl.PriorActDatePross,
		FirmYear = ISNULL(pl.FirmYear,0), 
		ProInsPremium = pl.ProInsPremium,
        PolicyExpirationDatePross = ISNULL(pl.PolicyExpirationDatePross,''),
        LimitPross = (SELECT PARSENAME(CONVERT(varchar,CONVERT(money,AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,OccuranceLimit),1),2) 
					  FROM Limits 
					  WHERE LimitSequence = pl.LimitSequencePross),
        DeductiblePross= (SELECT PARSENAME(CONVERT(varchar,CONVERT(money,AggregateDeductible),1),2) 
						  FROM Deductibles 
						  WHERE DeductibleSequence=pl.DeductibleSequencePross)
    FROM ProfessionalLiabilityInsDetail pl
		INNER JOIN #TempPolicyList t1 ON t1.PolicyKey = pl.PolicyKey

UPDATE t1
		  SET IndicationPremium =  CAST(ep.InvoicedPremium AS int) FROM QuotationEstimationACC ep
				INNER JOIN  #TempPolicyList t1 ON ep.PolicyKey = t1.PolicyKey and ep.Transactionsequence=t1.InitialTransactionSequence and t1.QuoteType='IND'
UPDATE t1
		  SET QQPremium =  CAST(ep.InvoicedPremium AS int) FROM QuotationEstimationACC ep
				INNER JOIN  #TempPolicyList t1 ON ep.PolicyKey = t1.PolicyKey and ep.Transactionsequence=t1.InitialTransactionSequence and t1.QuoteType='QQ'
    
	UPDATE t1
	SET Modifier = Percentage
	FROM CoverageModifiers cm
	INNER JOIN #TempPolicyList t1 ON t1.PolicyKey = cm.PolicyKey
	WHERE TransactionSequence IN (SELECT MIN(TransactionSequence) 
								  FROM CoverageModifiers cm2 
									INNER JOIN #TempPolicyList t1 ON t1.policykey = cm2.PolicyKey 
								  GROUP BY cm2.policyKey 
								  )

	UPDATE t1
	SET t1.VersionKey = f.VersionKey FROM Firm f INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = f.PolicyKey WHERE f.VersionKey=t1.VersionKey
	

	UPDATE t1
	SET Amount1 = Amount FROM GrossRevenueForFirm grf INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = grf.PolicyKey WHERE grf.GrossRevenueKey = 1
	
	UPDATE t1
	SET Amount2 = Amount FROM GrossRevenueForFirm grf INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = grf.PolicyKey WHERE grf.GrossRevenueKey = 2

	UPDATE t1
	SET Amount3 = Amount FROM GrossRevenueForFirm grf INNER JOIN #TempPolicyList t1
	ON t1.PolicyKey = grf.PolicyKey WHERE grf.GrossRevenueKey = 3

 

  UPDATE t1
  SET AOP_Percentage_1 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 1
 UPDATE t1
  SET AOP_Percentage_2 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 2
 UPDATE t1
  SET AOP_Percentage_3 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 3
 UPDATE t1
  SET AOP_Percentage_4 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 4
 UPDATE t1
  SET AOP_Percentage_5 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 5
 UPDATE t1
  SET AOP_Percentage_6 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 6
 UPDATE t1
  SET AOP_Percentage_7 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 7
 UPDATE t1
  SET AOP_Percentage_8 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 8
 UPDATE t1
  SET AOP_Percentage_9 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 9
 UPDATE t1
  SET AOP_Percentage_10 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 10
 UPDATE t1
  SET AOP_Percentage_11 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 11
UPDATE t1
  SET AOP_Percentage_12 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 12
UPDATE t1
  SET AOP_Percentage_13 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 13
UPDATE t1
  SET AOP_Percentage_14 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 14
UPDATE t1
  SET AOP_Percentage_15 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 15
UPDATE t1
  SET AOP_Percentage_16 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 16
UPDATE t1
  SET AOP_Percentage_17 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 17
UPDATE t1
  SET AOP_Percentage_18 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 18
UPDATE t1
  SET AOP_Percentage_19 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 19
UPDATE t1
  SET AOP_Percentage_20 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 20
UPDATE t1
  SET AOP_Percentage_21 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 21
UPDATE t1
  SET AOP_Percentage_22 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 22
UPDATE t1
  SET AOP_Percentage_23 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 23
UPDATE t1
  SET AOP_Percentage_24 =  PercentageValue FROM AreaOfPractice ap 
		INNER JOIN  #TempPolicyList t1 ON ap.PolicyKey = t1.PolicyKey WHERE ap.AOPKey = 24


	


	UPDATE t
	SET TotalPremium = pt.TotalPremium,
		InvoicedPremium = pt.InvoicedPremium
	FROM Quote q
	INNER JOIN PolicyCoverage pc ON pc.TransactionSequence = q.TransactionSequence
	INNER JOIN PolicyTransaction pt ON pt.TransactionSequence = q.Transactionsequence
	INNER JOIN #TempPolicyList t ON q.PolicyKey = t.PolicyKey
	WHERE q.IsThisOptionFinalised = 'Y'

	UPDATE t
	SET Limit =	  PARSENAME(CONVERT(varchar,CONVERT(money,AggregateLimit),1),2) +'/' +PARSENAME(CONVERT(varchar,CONVERT(money,OccuranceLimit),1),2) ,
		Deductible1 =   PARSENAME(CONVERT(varchar,CONVERT(money,AggregateDeductible),1),2),						
		ClaimExpensesType = CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END,								
		ClaimOptionType =   CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE  'PerClaim' END
	FROM PolicyCoverage pc
	INNER JOIN Quote q ON pc.TransactionSequence = q.TransactionSequence
	INNER JOIN PolicyTransaction pt ON pt.TransactionSequence = q.TransactionSequence
	INNER JOIN #tempPolicyList t ON t.PolicyKey = pc.PolicyKey
	WHERE q.IsThisOptionFinalised = 'Y'

	--select * from #TempPolicyList---------------------------------------------------------------------------


	UPDATE t1 SET Modifier1 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 1
	UPDATE t1 SET Modifier2 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 2
	UPDATE t1 SET Modifier3 = Percentage from CoverageModifiers cm INNER JOIN
	#TempPolicyList t1 on t1.PolicyKey = cm.PolicyKey where cm.ModifierKey = 3

	UPDATE t SET TotalModifiers = t.Modifier1 + t.Modifier2 + t.Modifier3 from #TempPolicyList t 

	update #TempPolicyList SET DeclinedComment = null where Status not like 'Declined'


	UPDATE t
	SET TotalModifiers = grff.TotalCovModifierPercentage FROM PolicyCoverage grff	
	INNER JOIN #TempPolicyList t ON grff.PolicyKey = t.Policykey where	t.FromIndication ='Y'

	Update #TempPolicyList set MarkAsRenewal='Y' where PolicyKey in(select PolicyKey from MarkAsRenewal where CompanyKey=3 and MarketableProductKey=1)		
		update #TempPolicyList set MarkAsRenewal='N' where PolicyKey Not in(select PolicyKey from MarkAsRenewal where CompanyKey=3 and MarketableProductKey=1)		

	---select Status,DeclinedComment from #TempPolicyList
	DECLARE @PolicyKey INT
	DECLARE @MaxCount INT
	DECLARE @finalizedCount INT 
	DECLARE @finalizedTransactionSequence INT 
	DECLARE @IsQuoteLetterSend CHAR
	DECLARE @QUploadedtime VARCHAR(700)
	DECLARE @LoopCounter INT = 1
	SET @MaxCount=(SELECT COUNT(*) FROM #TempPolicyList)
	WHILE(@LoopCounter <= @MaxCount)
		BEGIN
		 Select @PolicyKey=PolicyKey,@IsQuoteLetterSend=IsQuoteLetterSend From #TempPolicyList where SN=@LoopCounter
			SET @finalizedCount=(SELECT CASE When count(*) is NULL THEN 0 ELSE Count(*) END as count From QUOTE Where Policykey=@PolicyKey and IsThisOptionFinalised='Y')
				if(@finalizedCount>0)
				BEGIN
					SET @finalizedTransactionSequence=(SELECT top 1 Transactionsequence from quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y')
				
					UPDATE t
					SET t.Limit = PARSENAME(Convert(varchar,Convert(money,pc.AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,pc.OccuranceLimit),1),2),
					t.Deductible1=PARSENAME(Convert(varchar,Convert(money,pc.AggregateDeductible),1),2),
					t.ClaimExpensesType=(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END),
					t.ClaimOptionType=(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Aggregate' ELSE 'PerClaim' END)
					FROM PolicyCoverage pc
					INNER JOIN #TempPolicyList t ON t.PolicyKey = pc.PolicyKey WHERE pc.TransactionSequence =@finalizedTransactionSequence and pc.PolicyKey=@PolicyKey

				END
				if(@IsQuoteLetterSend='Y')
				begin
					set @QUploadedtime=(select top 1 CONVERT(VARCHAR, CONVERT(DATE, UploadedTime), 101) as  UploadedTime FROM DocumentArchive where DocFileName LIKE 'QuoteLetter%'  and UploadedType='Auto' and UploadedType='Auto' and policykey=@PolicyKey order by DocumentID desc )
					UPDATE #TempPolicyList SET QuoteSendDate=@QUploadedtime WHERE PolicyKey=@PolicyKey
				end
				SET @LoopCounter  = @LoopCounter  + 1       
		END
	insert into #TEMP_REPORT_ALL      
	 ( 
	     PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible1
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,PriorActDatePross
		,FirmYear
		,ProInsPremium
		,PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,PolicyEffectiveDate
		,Address1
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,CreatedDate
		,TotalFirmPersonnel
		,Comment 
		,IsQuoteLetterSend ,
	          Policy_NotAcceptedDate ,
	          Policy_IssuedDate ,
	          year_PolicyEffectiveDate ,
	          month_PolicyEffectiveDate ,
	          DirectSubproduced,
			  AOPFactor,
			  CMFactor,
			  FTEFactor,
			  DeclinedComment
			  ,WorkPhone			
			  ,AnnualRevenue		
			  ,FirstReviewerName	
			  ,IsIndicationMailSent
			  ,IndicationSentDate
			  ,FromIndication	
			  ,isDirect
			  ,QuoteSendDate
			  ,isAutoQuote								
			,isComingThroughUnderwriting	
			,IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium	
			,ClaimsCount
			,TotalIncurred	
			,PaymentMode
			,Company	
			,SecondaryEmail	
			,MarkAsRenewal		
			,VersionKey					
	 )



	SELECT PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible1
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,convert(varchar(20),PriorActDatePross,101) as PriorActDatePross
		,FirmYear
		,ProInsPremium
		,convert(varchar(20),PolicyExpirationDatePross,101) as PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,convert(varchar(20),PolicyEffectiveDate,101) as PolicyEffectiveDate
		,Address1
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,convert(varchar(20),PolicyExpirationDate,101) as PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,Convert(varchar(20),CreatedDate,101) as CreatedDate
		,TotalFirmPersonnel
		,REPLACE(REPLACE(Comment, CHAR(10),''),CHAR(13), '') as Comment 
		,IsQuoteLetterSend
		,CONVERT(varchar(20),NotAcceptedDate,101) AS Policy_NotAcceptedDate
		,CONVERT(varchar(20),IssuedDate,101) AS Policy_IssuedDate
		,year(PolicyEffectiveDate) as year_PolicyEffectiveDate
		,convert(varchar(3),DATENAME(month,PolicyEffectiveDate)) + '-' + Right(Cast(Year(PolicyEffectiveDate) As varchar(4)),2) as month_PolicyEffectiveDate
		,DirectSubproduced,AOPFactor,
			  CMFactor,
			  FTEFactor,
		 DeclinedComment
		 ,WorkPhone			
		 ,AnnualRevenue		
		 ,FirstReviewerName	
		 ,IsIndicationMailSent
			  ,IndicationSentDate	
			  ,FromIndication
			  ,isDirect
			  ,QuoteSendDate
			  ,isAutoQuote								
			,isComingThroughUnderwriting	
			,IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium	
			,ClaimsCount
			,TotalIncurred	
			,PaymentMode
			,Company
			,SecondaryEmail
			,MarkAsRenewal
			,VersionKey
	FROM #TempPolicyList 
	ORDER BY AccountID

--paging

	if (@flag_for_pagination='Y' and @page_size is not null and @page_number is not null)      
	begin      
 
   
		 set @page_number= isnull(@page_number,1)      
		 set @page_size=isnull(@page_size,100)      
      
		 set @modulo=(select count(*) from #TEMP_REPORT_ALL) % @page_size      
		 if(@modulo=0)      
		 begin      
		    set @total_page=(select count(*) from #TEMP_REPORT_ALL) / @page_size      
		 end      
		 else 
			set @total_page=((select count(*) from #TEMP_REPORT_ALL) / @page_size)+1      
      
		 if(@total_page<@page_number)      
		 begin       
		 set @page_number=1      
		 end      
  
  
		  insert into #TEMP_REPORT      
			 (
			  PolicyKey
				, AccountID
				, QuoteNumber
				, AccountName
				, Status
				, State
				, Limit
				, Deductible1
				, ClaimExpensesType
				, ClaimOptionType
				, TotalPremium
				,InvoicedPremium
				,Modifier
				,Amount1
				,Amount2
				,Amount3
				,IsFirmCarryingProfLiabilityIns
				,ExpiringCarrier
				,LimitPross
				,DeductiblePross
				,IsPriorActDateFull
				,PriorActDatePross
				,FirmYear
				,ProInsPremium
				,PolicyExpirationDatePross
				,IsPublicTradedAudited
				,IsPublicPrivateOfferingsDone
				,IsInvestmentVenture
				,IsSyndicationManagers
				,IsFirmRenderedAuditOrAttestService
				,IsManagementServiceProvided
				,IsCommissionRecieved
				,IsDebtOrEquityFinancing
				,IsNonPublicInvestmentDone
				,IsServedAsTrustee
				,IsFirmRenderedServiceForAnyClient
				,AOP_Percentage_1
				,AOP_Percentage_2
				,AOP_Percentage_3
				,AOP_Percentage_4
				,AOP_Percentage_5
				,AOP_Percentage_6
				,AOP_Percentage_7
				,AOP_Percentage_8
				,AOP_Percentage_9
				,AOP_Percentage_10
				,AOP_Percentage_11
				,AOP_Percentage_12
				,AOP_Percentage_13
				,AOP_Percentage_14
				,AOP_Percentage_15
				,AOP_Percentage_16
				,AOP_Percentage_17
				,AOP_Percentage_18
				,AOP_Percentage_19
				,AOP_Percentage_20
				,AOP_Percentage_21
				,AOP_Percentage_22
				,AOP_Percentage_23
				,AOP_Percentage_24
				,AccountEmail
				,PolicyEffectiveDate
				,Address1
				,Address2
				,City
				,Zip
				,IsBasicPage
				,IsRenewed
				,SubProducerNumber
				,IsSuitInstituted
				,IsAwarenessOfAnyProfLiability
				,IsAwarenessOfAnyProfLiabilitySuitAgainst
				,PolicyStatus
				,PolicyNumber
				,RenewOfPolicyNumber
				,Reviewer
				,PolicyExpirationDate
				,ContactPerson
				,County1
				,Modifier1
				,Modifier2
				,Modifier3
				,TotalModifiers
				,CreatedDate
				,TotalFirmPersonnel
				,Comment
				,IsQuoteLetterSend						
		,Policy_NotAcceptedDate					
		,Policy_IssuedDate						
		,year_PolicyEffectiveDate				
		,month_PolicyEffectiveDate				
		,DirectSubproduced
		,AOPFactor,
			  CMFactor,
			  FTEFactor,
			  DeclinedComment
			  ,WorkPhone			
			  ,AnnualRevenue		
			  ,FirstReviewerName	
			  ,IsIndicationMailSent
			  ,IndicationSentDate	
			  ,FromIndication
			  ,isDirect
			  ,QuoteSendDate
			  ,isAutoQuote								
			,isComingThroughUnderwriting	
			,IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium	
			,ClaimsCount
			,TotalIncurred	
			,PaymentMode
			,Company
			,SecondaryEmail
			,MarkAsRenewal
			,VersionKey
			 )      
select  
  PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible1
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,PriorActDatePross
		,FirmYear
		,ProInsPremium
		,PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,PolicyEffectiveDate
		,Address1
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,CreatedDate
		,TotalFirmPersonnel
		,Comment
		,IsQuoteLetterSend						
		,Policy_NotAcceptedDate					
		,Policy_IssuedDate						
		,year_PolicyEffectiveDate				
		,month_PolicyEffectiveDate				
		,DirectSubproduced
		,AOPFactor,
			  CMFactor,
			  FTEFactor,
			  DeclinedComment
			  ,WorkPhone			
			  ,AnnualRevenue		
			  ,FirstReviewerName	
			  ,IsIndicationMailSent
			  ,IndicationSentDate	
			  ,FromIndication
			  ,isDirect
			  ,QuoteSendDate
			  ,isAutoQuote								
			,isComingThroughUnderwriting	,
			IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium	
			,ClaimsCount
			,TotalIncurred	
			,PaymentMode
			,Company,
			SecondaryEmail
			,MarkAsRenewal
			,VersionKey
 from #TEMP_REPORT_ALL a  
 order by a.AccountID      
 OFFSET (isnull(@page_number,1) -1) * isnull(@page_size,100) ROWS      
 FETCH NEXT isnull(@page_size,100) ROWS ONLY      
 end      
 else      
       
  insert into #TEMP_REPORT      
 (
  PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible1
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,PriorActDatePross
		,FirmYear
		,ProInsPremium
		,PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,PolicyEffectiveDate
		,Address1
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,CreatedDate
		,TotalFirmPersonnel
		,Comment
		,IsQuoteLetterSend						
		,Policy_NotAcceptedDate					
		,Policy_IssuedDate						
		,year_PolicyEffectiveDate				
		,month_PolicyEffectiveDate				
		,DirectSubproduced
		,AOPFactor,
			  CMFactor,
			  FTEFactor,
			  DeclinedComment
			  ,WorkPhone			
			  ,AnnualRevenue		
			  ,FirstReviewerName	
			  ,IsIndicationMailSent
		,IndicationSentDate
		,FromIndication
		,isDirect
		,QuoteSendDate
		,isAutoQuote								
			,isComingThroughUnderwriting	
			,IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium	
			,ClaimsCount
			,TotalIncurred	
			,PaymentMode
			,Company
			,SecondaryEmail
			,MarkAsRenewal
			,VersionKey
 )      
  select 
	  PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible1
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,PriorActDatePross
		,FirmYear
		,ProInsPremium
		,PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,PolicyEffectiveDate
		,Address1
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,CreatedDate
		,TotalFirmPersonnel
		,Comment
		,IsQuoteLetterSend						
		,Policy_NotAcceptedDate					
		,Policy_IssuedDate						
		,year_PolicyEffectiveDate				
		,month_PolicyEffectiveDate				
		,DirectSubproduced
		,AOPFactor,
			  CMFactor,
			  FTEFactor,
			  DeclinedComment
			  ,WorkPhone			
			  ,AnnualRevenue		
			  ,FirstReviewerName	
			  ,IsIndicationMailSent
			  ,IndicationSentDate	
			  ,FromIndication
			  ,isDirect
			  ,QuoteSendDate
			  ,isAutoQuote								
			,isComingThroughUnderwriting	
			,IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium	
			,ClaimsCount
			,TotalIncurred	
			,PaymentMode
			,Company
			,SecondaryEmail
			,MarkAsRenewal
			,VersionKey
 from #TEMP_REPORT_ALL a  
 order by a.AccountID  

 /*------------------------- GENERATING XML ---------------------------------*/      
       
   if(@output_type='xml') 
   
   begin     
     print'efs' 
     set @report_output = '<'+ @report_id + '_RESULT>'      
      
   set @count= (select count(*)from #TEMP_REPORT)      
   if(@count=0)      
   begin  
   set @report_output   = @report_output + isnull(  (select top 1    
	ISNULL('','') as   PolicyKey                                 ,    
	ISNULL('','') as   AccountID								 ,
	ISNULL('','') as   QuoteNumber								 ,
	ISNULL('','') as   AccountName								 ,
	ISNULL('','') as   Status									 ,
	ISNULL('','') as   State									 ,
	ISNULL('','') as   Limit									 ,
	ISNULL('','') as   Deductible1								 ,
	ISNULL('','') as   ClaimExpensesType						 ,
	ISNULL('','') as   ClaimOptionType							 ,
	ISNULL('','') as   TotalPremium								 ,
	ISNULL('','') as   InvoicedPremium							 ,
	ISNULL('','') as   Modifier									 ,
	ISNULL('','') as   Amount1									 ,
	ISNULL('','') as   Amount2									 ,
	ISNULL('','') as   Amount3									 ,
	ISNULL('','') as   IsFirmCarryingProfLiabilityIns			 ,
	ISNULL('','') as   ExpiringCarrier							 ,
	ISNULL('','') as   LimitPross								 ,
	ISNULL('','') as   DeductiblePross							 ,
	ISNULL('','') as   IsPriorActDateFull						 ,
	ISNULL('','') as   PriorActDatePross						 ,
	ISNULL('','') as   FirmYear									 ,
	ISNULL('','') as   ProInsPremium							 ,
	ISNULL('','') as   PolicyExpirationDatePross				 ,
	ISNULL('','') as   IsPublicTradedAudited					 ,
	ISNULL('','') as   IsPublicPrivateOfferingsDone				 ,
	ISNULL('','') as   IsInvestmentVenture						 ,
	ISNULL('','') as   IsSyndicationManagers					 ,
	ISNULL('','') as   IsFirmRenderedAuditOrAttestService		 ,
	ISNULL('','') as   IsManagementServiceProvided				 ,
	ISNULL('','') as   IsCommissionRecieved						 ,
	ISNULL('','') as   IsDebtOrEquityFinancing					 ,
	ISNULL('','') as   IsNonPublicInvestmentDone				 ,
	ISNULL('','') as   IsServedAsTrustee						 ,
	ISNULL('','') as   IsFirmRenderedServiceForAnyClient		 ,
	ISNULL('','') as   AOP_Percentage_1							 ,
	ISNULL('','') as   AOP_Percentage_2							 ,
	ISNULL('','') as   AOP_Percentage_3							 ,
	ISNULL('','') as   AOP_Percentage_4							 ,
	ISNULL('','') as   AOP_Percentage_5							 ,
	ISNULL('','') as   AOP_Percentage_6							 ,
	ISNULL('','') as   AOP_Percentage_7							 ,
	ISNULL('','') as   AOP_Percentage_8							 ,
	ISNULL('','') as   AOP_Percentage_9							 ,
	ISNULL('','') as   AOP_Percentage_10						 ,
	ISNULL('','') as   AOP_Percentage_11						 ,
	ISNULL('','') as   AOP_Percentage_12						 ,
	ISNULL('','') as   AOP_Percentage_13						 ,
	ISNULL('','') as   AOP_Percentage_14						 ,
	ISNULL('','') as   AOP_Percentage_15						 ,
	ISNULL('','') as   AOP_Percentage_16						 ,
	ISNULL('','') as   AOP_Percentage_17						 ,
	ISNULL('','') as   AOP_Percentage_18						 ,
	ISNULL('','') as   AOP_Percentage_19						 ,
	ISNULL('','') as   AOP_Percentage_20						 ,
	ISNULL('','') as   AOP_Percentage_21						 ,
	ISNULL('','') as   AOP_Percentage_22						 ,
	ISNULL('','') as   AOP_Percentage_23						 ,
	ISNULL('','') as   AOP_Percentage_24						 ,
	ISNULL('','') as   AccountEmail								 ,
	ISNULL('','') as   PolicyEffectiveDate						 ,
	ISNULL('','') as   Address1									 ,
	ISNULL('','') as   Address2									 ,
	ISNULL('','') as   City										 ,
	ISNULL('','') as   Zip										 ,
	ISNULL('','') as   IsBasicPage								 ,
	ISNULL('','') as   IsRenewed								 ,
	ISNULL('','') as   SubProducerNumber						 ,
	ISNULL('','') as   IsSuitInstituted							 ,
	ISNULL('','') as   IsAwarenessOfAnyProfLiability			 ,
	ISNULL('','') as   IsAwarenessOfAnyProfLiabilitySuitAgainst	 ,
	ISNULL('','') as   PolicyStatus								 ,
	ISNULL('','') as   PolicyNumber								 ,
	ISNULL('','') as   RenewOfPolicyNumber						 ,
	ISNULL('','') as   Reviewer									 ,
	ISNULL('','') as   PolicyExpirationDate						 ,
	ISNULL('','') as   ContactPerson							 ,
	ISNULL('','') as   County1								 ,
	ISNULL('','') as   Modifier1								 ,
	ISNULL('','') as   Modifier2								 ,
	ISNULL('','') as   Modifier3								 ,
	ISNULL('','') as   TotalModifiers							 ,
	ISNULL('','') as   CreatedDate								 ,
	ISNULL('','') as   TotalFirmPersonnel						 ,
	ISNULL('','') as   Comment 									 ,
	ISNULL('','') as IsQuoteLetterSend							,
	ISNULL('','') as Policy_NotAcceptedDate						,
	ISNULL('','') as Policy_IssuedDate							,
	ISNULL('','') as year_PolicyEffectiveDate					,
	ISNULL('','') as month_PolicyEffectiveDate					,
	ISNULL('','') as DirectSubproduced							,
	ISNULL('','') as AOPFactor									,
	ISNULL('','') as CMFactor									,
	ISNULL('','') as FTEFactor									,
	ISNULL('','') as DeclinedComment							,
	ISNULL('','') as WorkPhone									,
	ISNULL('','') as AnnualRevenue								,
	ISNULL('','') as FirstReviewerName							,
ISNULL('','') as IsIndicationMailSent							,
ISNULL('','') as IndicationSentDate								,
ISNULL('','') as FromIndication									,
ISNULL('','') as isDirect			,
ISNULL('','') as QuoteSendDate						
 , ISNULL('','') as isAutoQuote								
, ISNULL('','') as isComingThroughUnderwriting	
,ISNULL('','') as IndicationPremium
,ISNULL('','') as isRequotePolicy
,ISNULL('','') as QQ
,ISNULL('','') as QQPremium
,ISNULL('','') as ClaimsCount
,ISNULL('','') as TotalIncurred	
,ISNULL('','') as PaymentMode
,ISNULL('','') as Company
,ISNULL('','') as SecondaryEmail		
,ISNULL('','') as MarkAsRenewal							
,ISNULL('','') as VersionKey		
  for XML PATH('DATA_NODE'),root('AIM308')),'')       
 end      
 else      
  set @report_output   = @report_output + isnull(  (select
  PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		, Deductible1
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,PriorActDatePross
		,FirmYear
		,ProInsPremium
		,PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,PolicyEffectiveDate
		,Address1
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,CreatedDate
		,TotalFirmPersonnel
		,Comment
		,IsQuoteLetterSend						
		,Policy_NotAcceptedDate					
		,Policy_IssuedDate						
		,year_PolicyEffectiveDate				
		,month_PolicyEffectiveDate				
		,DirectSubproduced
		,AOPFactor,
		CMFactor,
		FTEFactor,
		DeclinedComment
		,WorkPhone			
		,AnnualRevenue		
		,FirstReviewerName	
		,IsIndicationMailSent
			  ,IndicationSentDate	
			  ,FromIndication
			  ,isDirect
			  ,QuoteSendDate
			  ,isAutoQuote								
			,isComingThroughUnderwriting
			,IndicationPremium	
			,isRequotePolicy
			,QQ
			,QQPremium
			,ClaimsCount	
		,TotalIncurred	
		,PaymentMode	
		,Company,
		SecondaryEmail
		,MarkAsRenewal
		,VersionKey
 from #TEMP_REPORT a        
 for XML PATH('DATA_NODE'),root('AIM308')),'')      
  set @report_output = @report_output +  '</'+ @report_id + '_RESULT>'   
 select  @report_output as xml;  


  /*------------------------  OUTPUT FOR PAGINATION --------------------*/      
       
 if (@flag_for_pagination='Y')      
 begin
     
   if(@page_size is null and @page_number is null)
 begin
 set @page_number=1
 set @page_size=1
 set @total_page=1
 end

 set @report_output=''    
   set @report_output = '<'+ @report_id + '_RESULT>'    
      
 set @report_output   = @report_output + isnull((select top 1  @page_number as PAGE_NUMBER,      
   @page_size as PAGE_SIZE,      
   isnull ((select count(*) from #TEMP_REPORT_ALL),0) as TOTAL_RECORD,      
   isnull(((@page_number -1) * @page_size)+1,1) AS START_INDEX,      
   case when isnull(((@page_number) * @page_size),1)> isnull ((select count(*) from #TEMP_REPORT_ALL),0)      
   then isnull ((select count(*) from #TEMP_REPORT_ALL),0) else isnull(((@page_number) * @page_size),1)      
   end AS END_INDEX,      
   isnull (@total_page,0 )as TOTAL_PAGE      
   --from #TEMP_REPORT          
  for XML PATH('DATA_NODE'),root('PAGE_DETAIL')),'')  
  
        
 set @report_output = @report_output +  '</'+ @report_id + '_RESULT>'      
      
 select @report_output as xml; 
   
 end      
              
  end
else    
begin

select    
  PolicyKey
		, AccountID
		, QuoteNumber
		, AccountName
		, Status
		, State
		, Limit
		--, Deductible1
		,CAST(replace(Deductible1,',','') as bigint) as Deductible1	
		, ClaimExpensesType
		, ClaimOptionType
		, TotalPremium
		,InvoicedPremium
		,cast(InvoicedPremium as bigint)as Invoiced_Premium
		,Modifier
		,Amount1
		,Amount2
		,Amount3
		,IsFirmCarryingProfLiabilityIns
		,ExpiringCarrier
		,LimitPross
		,DeductiblePross
		,IsPriorActDateFull
		,PriorActDatePross
		,FirmYear
		,ProInsPremium
		,PolicyExpirationDatePross
		,IsPublicTradedAudited
		,IsPublicPrivateOfferingsDone
		,IsInvestmentVenture
		,IsSyndicationManagers
		,IsFirmRenderedAuditOrAttestService
		,IsManagementServiceProvided
		,IsCommissionRecieved
		,IsDebtOrEquityFinancing
		,IsNonPublicInvestmentDone
		,IsServedAsTrustee
		,IsFirmRenderedServiceForAnyClient
		,AOP_Percentage_1
		,AOP_Percentage_2
		,AOP_Percentage_3
		,AOP_Percentage_4
		,AOP_Percentage_5
		,AOP_Percentage_6
		,AOP_Percentage_7
		,AOP_Percentage_8
		,AOP_Percentage_9
		,AOP_Percentage_10
		,AOP_Percentage_11
		,AOP_Percentage_12
		,AOP_Percentage_13
		,AOP_Percentage_14
		,AOP_Percentage_15
		,AOP_Percentage_16
		,AOP_Percentage_17
		,AOP_Percentage_18
		,AOP_Percentage_19
		,AOP_Percentage_20
		,AOP_Percentage_21
		,AOP_Percentage_22
		,AOP_Percentage_23
		,AOP_Percentage_24
		,AccountEmail
		,PolicyEffectiveDate
		,Address1 
		,Address2
		,City
		,Zip
		,IsBasicPage
		,IsRenewed
		,SubProducerNumber
		,IsSuitInstituted
		,IsAwarenessOfAnyProfLiability
		,IsAwarenessOfAnyProfLiabilitySuitAgainst
		,PolicyStatus
		,PolicyNumber
		,RenewOfPolicyNumber
		,Reviewer
		,PolicyExpirationDate
		,ContactPerson
		,County1
		,Modifier1
		,Modifier2
		,Modifier3
		,TotalModifiers
		,CreatedDate
		,TotalFirmPersonnel
		,Comment   
		,IsQuoteLetterSend						
		,Policy_NotAcceptedDate					
		,Policy_IssuedDate						
		,year_PolicyEffectiveDate				
		,month_PolicyEffectiveDate				
		,DirectSubproduced
		,AOPFactor,
		CMFactor,
		FTEFactor,
		DeclinedComment
		,WorkPhone			
		,AnnualRevenue		
		,FirstReviewerName	
		,IsIndicationMailSent
		,IndicationSentDate
		 ,FromIndication
		 ,isDirect
		 ,QuoteSendDate
		 ,isAutoQuote								
			,isComingThroughUnderwriting	
			,IndicationPremium
			,isRequotePolicy
			,QQ
			,QQPremium
			,ClaimsCount	
		,TotalIncurred	
		,PaymentMode	
		,Company
		,SecondaryEmail
		,MarkAsRenewal
		,VersionKey
 from #TEMP_REPORT a 


 /*------------------------  OUTPUT FOR PAGINATION --------------------*/      
       
 if (@flag_for_pagination='Y')      
 begin 

 if(@page_size is null and @page_number is null)
 begin
 set @page_number=1
 set @page_size=1
 set @total_page=1
 end


 select top 1  @page_number as PAGE_NUMBER,      
   @page_size as PAGE_SIZE,      
   isnull ((select count(*) from #TEMP_REPORT_ALL),0) as TOTAL_RECORD,      
   isnull(((@page_number -1) * @page_size)+1,1) AS START_INDEX,      
   case when isnull(((@page_number) * @page_size),1)> isnull ((select count(*) from #TEMP_REPORT_ALL),0)      
   then isnull ((select count(*) from #TEMP_REPORT_ALL),0) else isnull(((@page_number) * @page_size),1)      
   end AS END_INDEX,      
   isnull (@total_page,0 )as TOTAL_PAGE 
 end
end    

drop table #TEMP_REPORT
drop table #TEMP_REPORT_ALL 

END
















GO
