USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetRenewalAccountantFlags_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetRenewalAccountantFlags_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetRenewalAccountantFlags_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetRenewalAccountantFlags_p] AS' 
END
GO
--EXEC ResetRenewalAccountantFlags_p
ALTER PROCEDURE [dbo].[ResetRenewalAccountantFlags_p]
AS
BEGIN
	CREATE TABLE #Temp
	(
	SN INT IDENTITY(1,1),
	AccountID INT
	)
	CREATE TABLE #Temp1
	(
	SN INT IDENTITY(1,1),
	PolicyKey INT,
	StatusKey INT,
	AccountID INT,
	PolicyExpirationDate DATETIME,
	IsRenewed CHAR
	)
	DECLARE @MaxCount INT
	DECLARE @PolicyKey INT
	DECLARE @StatusKey INT
	DECLARE @PolicyExpDateFrom DATETIME
	DECLARE  @PolicyExpDateTo DATETIME
	SELECT @PolicyExpDateFrom=DATEADD(day,-90, GETDATE()),@PolicyExpDateTo= DATEADD(day,90, GETDATE())
	--select @PolicyExpDateFrom,@PolicyExpDateTo
	
	insert into #Temp select distinct p.Accountid from Policy p inner join  PolicyTransaction pt on p.PolicyKey=pt.PolicyKey
	 Where pt.PolicyExpirationDate BETWEEN  @PolicyExpDateFrom and  @PolicyExpDateTo
	
	--SELECT * FROM #TEMP
	 SET @MaxCount=(SELECT COUNT(*) FROM #TEMP)
	
	DECLARE @LoopCounter INT = 1
	WHILE(@LoopCounter <= @MaxCount)
		BEGIN
		 
		   SELECT @PolicyKey=MAX(PolicyKey) FROM Policy 
		    WHERE AccountID = (SELECT AccountID FROM #Temp where SN=@LoopCounter)

			insert into #temp1(PolicyKey,statuskey,accountID,IsRenewed,PolicyExpirationDate) 
			select p.PolicyKey,Pt.statuskey,p.accountID,f.IsRenewed,pt.PolicyExpirationDate
			 from Policy p inner join Policytransaction pt
				on pt.PolicyKey=p.PolicyKey 
			inner join Firm f on f.Policykey=p.Policykey
			where p.policykey=@PolicyKey  and pt.TransactionSequence=(select max(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)
			and f.VersionSequence=(select max(VersionSequence) from firm where PolicyKey=@PolicyKey)
			 SET @LoopCounter  = @LoopCounter  + 1        
		END
		DELETE FROM #TEMP1 where Statuskey!=6 
		 --SELECT policykey FROM #TEMP1 where PolicyExpirationDate<=@PolicyExpDateTo and IsRenewed='Y' order by PolicyExpirationDate
		 update firm set IsRenewed=null where  policykey in(SELECT PolicyKey FROM #TEMP1 where PolicyExpirationDate<=@PolicyExpDateTo and IsRenewed='Y')
END

GO
