USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateCorporateCommBusineesSupplementLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateCorporateCommBusineesSupplementLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateCorporateCommBusineesSupplementLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateCorporateCommBusineesSupplementLW_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[InsertUpdateCorporateCommBusineesSupplementLW_p]
	(
		@PolicyKey INT,
		@VersionSequence INT,
		@LastUpdateUserID varchar(100) ,
		@LastUpdateTimeStamp datetime ,
		@OtherLegalCorporateServices CHAR,
		@CorporateServiceDesc1 VARCHAR(500),
		@CorporateServiceDesc2 VARCHAR(500),
		@CorporateServiceDesc3 VARCHAR(500),
		@CorporateServicePercentage1 NUMERIC(17,2),
		@CorporateServicePercentage2 NUMERIC(17,2),
		@CorporateServicePercentage3 NUMERIC(17,2),
		@PubliclyRenderedServices CHAR,
		@PubliclyRenderedServicesDesc VARCHAR(1000),
		@LegalBusinessRelationshipServices CHAR,
		@AuthorityToDisburseFunds CHAR,
		@AcceptCompensation CHAR,
		@LegalServicesSecuritiesPayment CHAR,
		@PerformDueDiligence CHAR,
		@DetailedDescCorporateServices VARCHAR(1000),
		@LegalServicesBankruptLiquidation CHAR,
		@VersionKey INT
	)
AS
BEGIN
	
	IF NOT EXISTS(SELECT * FROM CorporateCommBusineesSupplementLW WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	BEGIN
		INSERT INTO CorporateCommBusineesSupplementLW(PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,OtherLegalCorporateServices,CorporateServiceDesc1,CorporateServiceDesc2,CorporateServiceDesc3,CorporateServicePercentage1,
		CorporateServicePercentage2,CorporateServicePercentage3,PubliclyRenderedServices,PubliclyRenderedServicesDesc,LegalBusinessRelationshipServices,AuthorityToDisburseFunds,AcceptCompensation,
		LegalServicesSecuritiesPayment,PerformDueDiligence,DetailedDescCorporateServices,LegalServicesBankruptLiquidation,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@VersionSequence,@LastUpdateUserID,@LastUpdateTimeStamp,@OtherLegalCorporateServices,@CorporateServiceDesc1,@CorporateServiceDesc2,@CorporateServiceDesc3,@CorporateServicePercentage1,
		@CorporateServicePercentage2,@CorporateServicePercentage3,@PubliclyRenderedServices,@PubliclyRenderedServicesDesc,@LegalBusinessRelationshipServices,@AuthorityToDisburseFunds,@AcceptCompensation,
		@LegalServicesSecuritiesPayment,@PerformDueDiligence,@DetailedDescCorporateServices,@LegalServicesBankruptLiquidation,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
	END
	Else
	Begin
		UPDATE CorporateCommBusineesSupplementLW set LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,OtherLegalCorporateServices=@OtherLegalCorporateServices,CorporateServiceDesc1=@CorporateServiceDesc1,
		CorporateServiceDesc2=@CorporateServiceDesc2,CorporateServiceDesc3=@CorporateServiceDesc3,CorporateServicePercentage1=@CorporateServicePercentage1,
		CorporateServicePercentage2=@CorporateServicePercentage2,CorporateServicePercentage3=@CorporateServicePercentage3,PubliclyRenderedServices=@PubliclyRenderedServices,PubliclyRenderedServicesDesc=@PubliclyRenderedServicesDesc,
		LegalBusinessRelationshipServices=@LegalBusinessRelationshipServices,AuthorityToDisburseFunds=@AuthorityToDisburseFunds,AcceptCompensation=@AcceptCompensation,
		LegalServicesSecuritiesPayment=@LegalServicesSecuritiesPayment,PerformDueDiligence=@PerformDueDiligence,DetailedDescCorporateServices=@DetailedDescCorporateServices,LegalServicesBankruptLiquidation=@LegalServicesBankruptLiquidation
		where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	End
	IF (@OtherLegalCorporateServices = 'N')
	BEGIN
		UPDATE CorporateCommBusineesSupplementLW set CorporateServiceDesc1=null,CorporateServiceDesc2=null,CorporateServiceDesc3=null,
		CorporateServicePercentage1=null,CorporateServicePercentage2=null,CorporateServicePercentage3=null
		where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	END
	IF (@PubliclyRenderedServices = 'N')
	BEGIN
		UPDATE CorporateCommBusineesSupplementLW set PubliclyRenderedServicesDesc=null
		where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	END
	--IF (@PerformDueDiligence = 'N')
	--BEGIN
	--	UPDATE CorporateCommBusineesSupplementLW set DetailedDescCorporateServices=null
	--	where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	--END
END





GO
