USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCoverageMokdifiersLW_P]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateCoverageMokdifiersLW_P]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCoverageMokdifiersLW_P]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateCoverageMokdifiersLW_P] AS' 
END
GO
--select * from state

ALTER PROCEDURE [dbo].[UpdateCoverageMokdifiersLW_P]
(
@PolicyKey INT,
@StateCode VARCHAR(30),
@VersionSequence INT
)

AS
BEGIN
print 'Hello'
	--IF(@StateCode<>'NM' and @StateCode<>'OK' and @StateCode<>'WA')
	--BEGIN
	--	DECLARE @MinTransactionSequence INT=(Select Min(TransactionSequence) FROM PolicyTransaction Where Policykey=@PolicyKey)
	--	DECLARE @AttorneyCount INT =(select count(*) from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence)
	--	
	--	IF(@AttorneyCount<3)
	--	BEGIN
	--		DECLARE @TotalCovModifiers INT=(SELECT  SUM(Percentage) from CoverageModifiers where Policykey=@PolicyKey and TransactionSequence=@MinTransactionSequence)
	--		DECLARE @ExistingPercentage INT
	--		DECLARE @ModifierComment VARCHAR(500)=(Select ModifierComment From FIRMLW Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	--		IF(@StateCode='MO' AND @TotalCovModifiers<=15)
	--		BEGIN
	--		
	--			SET @ExistingPercentage=(Select Percentage From CoverageModifiers where Policykey=@PolicyKey and TransactionSequence=@MinTransactionSequence and ModifierKey=3)
	--			SET @ExistingPercentage=@ExistingPercentage+10
	--			SET @ModifierComment='1-2 Attorney debit'
	--			UPDATE CoverageModifiers SET Percentage=@ExistingPercentage  where Policykey=@PolicyKey and ModifierKey=3
	--			UPDATE FIRMLW SET ModifierComment=@ModifierComment Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	--		END
	--		IF(@StateCode<>'MO' AND @TotalCovModifiers<=15)
	--		BEGIN
	--			SET @ExistingPercentage=(Select Percentage From CoverageModifiers where Policykey=@PolicyKey and TransactionSequence=@MinTransactionSequence and ModifierKey=2)
	--			SET @ExistingPercentage=@ExistingPercentage+10
	--			SET @ModifierComment='1-2 Attorney debit'
	--			UPDATE CoverageModifiers SET Percentage=@ExistingPercentage  where Policykey=@PolicyKey and ModifierKey=2
	--			UPDATE FIRMLW SET ModifierComment=@ModifierComment Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	--		END
	--
	--	END
	--END
END



GO
