USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertProtexureFormAopDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertProtexureFormAopDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertProtexureFormAopDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertProtexureFormAopDataLW_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertProtexureFormAopDataLW_p] AS
GO
