USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateUserLogin_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateUserLogin_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateUserLogin_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateUserLogin_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[ValidateUserLogin_p]
(
@UserLoginKey VARCHAR(50),
@UserEmail VARCHAR(100)
)
AS
BEGIN

select UserLoginID from UserSessionLogin WITH(NOLOCK) where UserEmail = @UserEmail and UserLoginKey = @UserLoginKey

END

GO
