USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPolicyDetailsForRenewalLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetPolicyDetailsForRenewalLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPolicyDetailsForRenewalLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetPolicyDetailsForRenewalLW_p] AS' 
END
GO
--exec GetPolicyDetailsForRenewalLW_p 77212
ALTER PROCEDURE [dbo].[GetPolicyDetailsForRenewalLW_p]
	(
	@PolicyKey INT
	)
AS
BEGIN


CREATE TABLE #TempTransaction
		(
		SN INT IDENTITY(1,1),
		PolicyKey INT,
		TransactionTypeKey INT,
		TransactionSequence INT,
		VersionSequence INT
		)
		CREATE TABLE #TempFirm
		(
		SN INT IDENTITY(1,1),
		PolicyKey INT,
		VersionSequence INT
		)

		insert into #TempTransaction(PolicyKey,TransactionTypeKey) SELECT distinct Policykey,TransactionTypekey FROM PolicyTransaction  WHERE Policykey=@PolicyKey  and TransactionTypeKey<7 
		insert into #TempTransaction(PolicyKey,TransactionTypeKey,TransactionSequence) SELECT distinct Policykey,TransactionTypekey,TransactionSequence FROM PolicyTransaction  WHERE Policykey=@PolicyKey  and TransactionTypeKey>6 order by TransactionSequence
		insert into #TempFirm(PolicyKey,VersionSequence) SELECT PolicyKey,VersionSequence FROM Firmlw WHERE Policykey=@PolicyKey order by VersionSequence
		
		UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   #TempTransaction T1 
		JOIN #TempFirm T2 ON T1.SN = T2.SN 
		
		UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   PolicyTransaction T1 
		JOIN #TempTransaction T2 ON T1.PolicyKey = T2.PolicyKey and T1.TransactionTypeKey=T2.TransactionTypeKey WHERE T1.TransactionTypeKey<7

		UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   PolicyTransaction T1 
		JOIN #TempTransaction T2 ON T1.PolicyKey = T2.PolicyKey and T1.TransactionTypeKey=T2.TransactionTypeKey and T1.TransactionSequence=T2.TransactionSequence
		WHERE T1.TransactionTypeKey>6

		--SELECT * FROM #TempTransaction
		TRUNCATE TABLE #TempTransaction
		TRUNCATE TABLE #TempFirm

		SELECT aa.AccountKey,aa.AddressKey,f.VersionSequence,f.IsRenewed, adds.CountyDesc, adds.City, adds.StateCode,pt.StatusKey 
		FROM Policy p, Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc ,Quote Q
		WHERE a.AccountKey =pt.AccountKey and   aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey 
		and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and  pt.TransactionSequence = pc.TransactionSequence
		and p.PolicyKey=q.PolicyKey and q.TransactionSequence=pt.TransactionSequence
		 --and pt.TransactionSequence=(SELECT min(TransactionSequence) FROM PolicyTransaction  WHERE PolicyKey=p.PolicyKey) 
		--and pc.CoverageSequence=(SELECT min(CoverageSequence)FROM PolicyCoverage WHERE PolicyKey=p.PolicyKey)   
		and q.IsThisOptionFinalised='Y'
		and   pt.PolicyKey in (SELECT PolicyKey FROM Policy WHERE isUncompletedData='N') 
		and  f.VersionSequence=pt.VersionSequence and p.PolicyKey = @PolicyKey

		
END


GO
