USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetLimtsForInsuredFullQuoteLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetLimtsForInsuredFullQuoteLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetLimtsForInsuredFullQuoteLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetLimtsForInsuredFullQuoteLW_p] AS' 
END
GO

--exec GetLimtsForInsuredFullQuoteLW_p 129779
ALTER PROCEDURE [dbo].[GetLimtsForInsuredFullQuoteLW_p] 
(
	@PolicyKey int,
	@AggregateLimit int,
	@OccuranceLimit int

)
AS
BEGIN
DECLARE @CurrentLimitSequence INT
DECLARE @PolicyStatusKey INT
SET @PolicyStatusKey=(Select PolicyStatusKey From Policy Where PolicyKey=@PolicyKey)
set @CurrentLimitSequence=(select l.LimitSequence from Limits l 
inner join PolicyCoverage pc on pc.AggregateLimit=l.AggregateLimit and pc.OccuranceLimit = l.OccuranceLimit and l.CoverageKey=pc.CoverageKey
inner join Quote q on q.PolicyKey=pc.PolicyKey

where  pc.PolicyKey = @PolicyKey and q.IsFirstQuote='Y' and q.TransactionSequence=pc.TransactionSequence )


IF(@CurrentLimitSequence IS  NULL)
BEGIN 
	SET @CurrentLimitSequence=0
END
IF(@PolicyKey is null)
BEGIN 
	SET @PolicyKey = 1;
END
--select * from quote where policykey=@PolicyKey
--select * from PolicyCoverage where policykey=82970
--select @CurrentLimitSequence
--set @CurrentLimitSequence=35

IF(@PolicyStatusKey=1 or @PolicyKey =1)
BEGIN
print 'NEW'
select PARSENAME(Convert(varchar,Convert(money,l.AggregateLimit),1),2) +'/' +PARSENAME(Convert(varchar,Convert(money,l.OccuranceLimit),1),2) as LimitAmount,l.LimitSequence
 from  Limits l where CoverageKey=3 and l.AggregateLimit <= @AggregateLimit and l.OccuranceLimit <=  @OccuranceLimit
END
IF(@PolicyStatusKey=2)
BEGIN
		if( @CurrentLimitSequence>33)
		begin 
		select PARSENAME(Convert(varchar,Convert(money,l.AggregateLimit),1),2) +'/' +
			PARSENAME(Convert(varchar,Convert(money,l.OccuranceLimit),1),2) as LimitAmount,l.LimitSequence from Limits l
			 where CoverageKey=3 and LimitSequence =@CurrentLimitSequence 
		end
		else
		begin
			select PARSENAME(Convert(varchar,Convert(money,l.AggregateLimit),1),2) +'/' +
			PARSENAME(Convert(varchar,Convert(money,l.OccuranceLimit),1),2) as LimitAmount,l.LimitSequence from Limits l
			 where CoverageKey=3 and LimitSequence >=@CurrentLimitSequence and LimitSequence<=36
		end
	END
END







GO
