USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayTaxSupplmentData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayTaxSupplmentData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayTaxSupplmentData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayTaxSupplmentData_p] AS' 
END
GO
--exec DisplayTaxSupplmentData_p 52569
ALTER PROCEDURE [dbo].[DisplayTaxSupplmentData_p]
(
@PolicyKey INT
)
AS
BEGIN
	DECLARE @Count INT
	
	CREATE TABLE #TEMPTable(
		sequence CHAR,
		TaxAOPKey INT,
		TaxAopDesc VARCHAR(500),
		revenuePercentage INT,
		TaxCommentDesc VARCHAR(500)
		)
		INSERT INTO #TEMPTable (sequence,TaxAOPKey,TaxAopDesc)select  CHAR(row_number() over( order by TaxAOPKey)+64) ,TaxAOPKey,TaxAopDesc  from TaxSuppLKULW
		SELECT @Count=Count(*) from TaxSuppDetailsLW where PolicyKey=@PolicyKey
		DECLARE @LoopCounter INT =1
			WHILE (@LoopCounter <= @Count)
			BEGIN
				UPDATE #TEMPTable 
				SET revenuePercentage = i.revenuePercentage,
					TaxCommentDesc=i.TaxCommentDesc
				FROM (
					SELECT revenuePercentage,TaxCommentDesc
					FROM TaxSuppDetailsLW WHERE POLICYKEY=@PolicyKey and TaxAOPKey=@LoopCounter ) i
					WHERE TaxAOPKey=@LoopCounter 
				SET @LoopCounter  = @LoopCounter  + 1
		END
		SELECT TaxAOPKey,sequence+'.  '+TaxAopDesc as TaxAopDesc,revenuePercentage FROM #TEMPTable
END

GO
