USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanMorePracticeManagementDataAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CleanMorePracticeManagementDataAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CleanMorePracticeManagementDataAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CleanMorePracticeManagementDataAcc_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[CleanMorePracticeManagementDataAcc_p]
( 
@PolicyKey INT,
@IsSuitInstituted CHAR,
@IsPolicyExcludesCoverage CHAR
)
AS
BEGIN
DECLARE @PolicyStatusKey INT
DECLARE @VersionSequence INT
SET @PolicyStatusKey=(SELECT PolicyStatusKey From Policy Where PolicyKey=@PolicyKey)
SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FIRM Where Policykey=@PolicyKey)
	IF(@PolicyStatusKey=1)
	BEGIN
		IF(@IsSuitInstituted IS NOT NULL AND @IsSuitInstituted='N')
			BEGIN
				DELETE FROM FirmInitLawsuits WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
			END

		IF(@IsPolicyExcludesCoverage IS NOT NULL AND @IsPolicyExcludesCoverage='N')
		BEGIN
			
			UPDATE FIRM SET RetroFirmName=NULL  WHERE  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
	END	
END

GO
