USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountantFormAttachment_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AccountantFormAttachment_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountantFormAttachment_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AccountantFormAttachment_p] AS' 
END
GO
--exec AccountantFormAttachment_p '135816', 'CA', '2022-05-30 00:00:00.0', 'N', 'Y'
--exec AccountantFormAttachment_p '135356', 'FL', '06/08/2022', 'N','Y'

ALTER PROCEDURE [dbo].[AccountantFormAttachment_p] 
	@policyKey  varchar(10),
	@stateCode varchar(10),
	@effectiveDateTemp varchar(100),
	@IsFinalisedOption char(1),
	@isNewFormChanges char(1)
AS
BEGIN
	 DECLARE @effectiveDate VARCHAR(100)
	 IF(@effectiveDateTemp is not null AND @effectiveDateTemp!='')
	 BEGIN
	  set @effectiveDate=@effectiveDateTemp
	 END

	 ELSE
	 BEGIN
		 set @effectiveDate=(select CONVERT(VARCHAR(10), Policyeffectivedate, 101) as Policyeffectivedate from policy where policykey=@policyKey)
	 END
	CREATE table #temppolicydata
	(
	IsClaimOptionType char(1),
	IsClaimExpensesType char(1),
	IsDollarDefense char(1),
	IsManualPremium char(1),
	AggregateLimit int,
	OccuranceLimit int
	)

	CREATE table #temppolicyform(
		FormID varchar(50),
		FormName varchar(200),
		FormDesc varchar(2000),
		FormFooter varchar(200),
		FormSequence int,
		FormType char(1)	
	)
	CREATE table #tempstatepolicyform(
		FormID varchar(50),
		FormName varchar(200),
		FormDesc varchar(2000),
		FormFooter varchar(200),
		FormSequence int,
		FormType char(1)
	)
	CREATE table #tempfinal(
		FormID varchar(50),
		FormName varchar(200),
		FormDesc varchar(2000),
		FormFooter varchar(200),
		FormSequence int,
		FormType char(1)		
	)
	
	declare @sqlquery varchar(1000)
	declare @query varchar(1000)	
	declare @IsClaimOptionType char(1)
	declare @IsClaimExpenseType char(1)
	declare @IsManualQuote char(1)
	declare @IsDollarDefense char(1)
	declare @IsClaimOptionTypeFlag char(1)
	declare @IsClaimExpenseTypeFlag char(1)
	declare @IsManualQuoteFlag char(1)
	declare @IsDollarDefenseFlag char(1)
	declare @IsClaimExpenseInsideFlag char(1)
	declare @PolicyStatusKey int
	declare @IsAppOfficeSharedWithAttorney char(1)
	declare @MTTaxAmmount numeric(18,3) = 0
	declare @XmlRatingData varchar(max)
	declare @AggregateLimit int
	declare @OccuranceLimit int
	declare @DefenseOutsideAndLimitLessThan1M char(1)
	declare @DefenseOutsideAndLimitGreaterThan1M char(1)
	declare @NDStateRuleFlag char(1) 

	set @IsClaimOptionTypeFlag = 'N'
	set @IsClaimExpenseTypeFlag = 'N'
	set @IsManualQuoteFlag = 'N'
	set @IsDollarDefenseFlag = 'N'
	set @IsClaimExpenseInsideFlag='N'
	set @DefenseOutsideAndLimitLessThan1M='N'
	set @DefenseOutsideAndLimitGreaterThan1M='N'
	set @NDStateRuleFlag='N'

	declare @IsPredecessorFormSelected char(1) = 'N'
	declare @IsSpecifiedAttorneySelected char(1) = 'N'
	declare @IsSpecificProfServicesSelected char(1) = 'N'
	declare @IsPreviouFirmFormSelected char(1) = 'N'
	declare @IsSuitForFeesAction char(1) = 'N'
	DECLARE @CompanyKey VARCHAR(20) =(Select CASE when  CompanyKey <>3 then 1 else CompanyKey End as CompanyKey from Policy where PolicyKey=@PolicyKey)
	 select @XmlRatingData=XmlOutputDatafromRating from RatingTrace where PolicyKey = @policyKey

	 set @sqlquery = 'select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from Form where EffectiveDate =  (select max(EffectiveDate) from Form where CompanyKey='+@CompanyKey+' and EffectiveDate <= '''+@effectiveDate+''') order by FormSequence '
	 insert into #temppolicyform(FormID,FormName,FormDesc,FormFooter,FormSequence,FormType)  Execute( @sqlquery) 

	 set @sqlquery = 'select FormID,FormName,FormDesc,FormFooter,StateFormType, FormSequence from StateForm where StateCode='''+@stateCode+''' and EffectiveDate =  (select max(EffectiveDate) from StateForm where CompanyKey='+@CompanyKey+' and StateCode='''+@stateCode+''' and  EffectiveDate <= '''+@effectiveDate+''') order by FormSequence '
	 insert into #tempstatepolicyform(FormID,FormName,FormDesc,FormFooter,FormType,FormSequence)  Execute( @sqlquery)


	 


	 set @query = ''
	 if(isNUll(@IsFinalisedOption,'')!='Y')
	 begin
	 set @query = 'select pc.IsClaimOptionType,pc.IsClaimExpensesType,pc.IsDollarDefense,pc.IsManualPremium,pc.AggregateLimit,pc.OccuranceLimit from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected=''Y'' and pc.PolicyKey = '+@policyKey+' '
	 end
	 if(isNUll(@IsFinalisedOption,'')='Y')
	 begin
	 set @query = 'select pc.IsClaimOptionType,pc.IsClaimExpensesType,pc.IsDollarDefense,pc.IsManualPremium,pc.AggregateLimit,pc.OccuranceLimit from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected=''Y'' and q.IsThisOptionFinalised=''Y'' and pc.PolicyKey = '+@policyKey+' '
	 end

	 insert into #temppolicydata(IsClaimOptionType,IsClaimExpensesType,IsDollarDefense,IsManualPremium,AggregateLimit,OccuranceLimit) execute(@query)

	 Declare c1 cursor for
	 select IsClaimOptionType,IsClaimExpensesType,IsDollarDefense,IsManualPremium,AggregateLimit,OccuranceLimit from #temppolicydata	   
	
	OPEN c1
	FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit
	WHILE @@FETCH_STATUS = 0
		begin
			print  '@IsClaimOptionType Value is '  + @IsClaimOptionType 
			print  '@IsClaimExpenseType Value is '  + @IsClaimExpenseType
			print  '@IsClaimExpenseType Value is '  + @IsManualQuote
			print  '@IsDollarDefense Value is '  + @IsDollarDefense
			print  '--------------------------------------------------------------------'
			if(isNull(@IsClaimOptionType,'') = 'Y')
				begin
					set @IsClaimOptionTypeFlag = 'Y'
				end
			if(isNull(@IsClaimExpenseType,'') = 'Y')
				begin
					set @IsClaimExpenseTypeFlag = 'Y'
				end
			if(isNull(@IsManualQuote,'') = 'Y')
				begin
					set @IsManualQuoteFlag = 'Y'
				end
			if(isNull(@IsDollarDefense,'') = 'Y')
				begin
					set @IsDollarDefenseFlag = 'N' -- dollar defense is always N in Accountants
				end

			if(isNull(@IsClaimExpenseType,'') = 'N')
				begin
					set @IsClaimExpenseInsideFlag = 'Y'
				end
			if(isNull(@IsClaimExpenseType,'') = 'Y' and @AggregateLimit < 1000000 )
			begin
				set @DefenseOutsideAndLimitLessThan1M = 'Y'
			end
			if(isNull(@IsClaimExpenseType,'') = 'Y' and @AggregateLimit >= 1000000 )
			begin
				set @DefenseOutsideAndLimitGreaterThan1M = 'Y'
			end

			if(isNull(@IsClaimExpenseType,'') = 'N' and @AggregateLimit >= 1000000 )
			begin
				set @NDStateRuleFlag = 'Y'
			end
--select @AggregateLimit
		--print  '@IsClaimExpenseInsideFlag Value is '  + @IsClaimExpenseInsideFlag
		FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit					
		end
		CLOSE c1
		DEALLOCATE c1
			
		If(@CompanyKey<>3)
			Begin
					if(@IsClaimExpenseTypeFlag != 'Y' or @stateCode = 'MA'  or @stateCode= 'NM')
					begin
						delete from #temppolicyform where FormID = 'APL - 104 (12/09)'
					end

					if(@IsDollarDefenseFlag != 'Y')
					begin
						delete from #temppolicyform where FormID = 'APL - 103 - 2009'
					end

					if(@IsClaimOptionTypeFlag != 'Y' or @stateCode = 'MA' or @stateCode = 'CT')
					begin
						delete from #temppolicyform where FormID = 'APL - 105 (03/13)'
					end

					--print '@DefenseOutsideAndLimitGreaterThan1M='+@DefenseOutsideAndLimitGreaterThan1M+' @DefenseOutsideAndLimitLessThan1M='+@DefenseOutsideAndLimitLessThan1M
					if(@DefenseOutsideAndLimitGreaterThan1M != 'Y' and @stateCode = 'OK')
					begin
						print ' going to delete APL - 104 (12/09)'
						delete from #temppolicyform where FormID = 'APL - 104 (12/09)'
					end

					delete from #temppolicyform where FormID = 'APL - 106 - 2010'
			
				-- Above code removes the Country Specific Form

				-- Below code will remove the state specific forms depending upon the rules

					if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'MA')
					begin
						delete from #tempstatepolicyform where FormID = 'APL - 104 - MA (12/09)'	
					end

					if(@DefenseOutsideAndLimitLessThan1M != 'Y' and @stateCode = 'OK')
					begin
					print ' going to delete - APL - 104 (12/09)'
						delete from #tempstatepolicyform where FormID = 'OK - APL - 104 (12/09)'	
					end
		
					if(@IsDollarDefenseFlag != 'Y' and @stateCode = 'MA')
					begin
						delete from #tempstatepolicyform where FormID = 'APL - 103 - MA - 2009'	
					end

					if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'MA')
					begin
						delete from #tempstatepolicyform where FormID = 'MA - APL-105 (03/13)'	
					end

					if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'PA')
					begin
						delete from #tempstatepolicyform where FormID = 'APL - AMEND - PA - 2009 #2'
						delete from #tempstatepolicyform where FormID = 'APL - AMEND - PA - 2009 #3'
					end

					if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'NM')
					begin
						delete from #tempstatepolicyform where FormID = 'APL - NM Amendatory (03/13)'				
					end

					if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'AK')
					begin
						delete from #tempstatepolicyform where FormID ='FM 2.0.1033'	
					end

					if(@NDStateRuleFlag != 'Y' and @stateCode = 'ND')
					begin
						delete from #tempstatepolicyform where FormID = 'MO 42 001 06 15'				
					end

					if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'AK')
					begin
			
						delete from #tempstatepolicyform where FormID = 'MI 43 002 06 15'
				
					end

					if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'CT')
					begin
						delete from #tempstatepolicyform where FormID = 'CT APL-105 (03/13)'	
					end
			
			

					if(@stateCode = 'KY')
					begin
						declare @hDoc int
						EXEC sp_xml_preparedocument @hDoc OUTPUT, @XmlRatingData

						SELECT @MTTaxAmmount=MTTaxAmmount FROM OPENXML(@hdoc, 'Response/PremiumInfoLW', 3)  WITH (MTTaxAmmount numeric(18,3) 'MTTaxAmmount'  )          
						if(isNUll(@MTTaxAmmount,'') != 0)
						begin
							delete from #tempstatepolicyform where FormID = 'KY Tax Form (12/08)'
						end
					end

					if(@isNewFormChanges='Y')
					BEGIN
						if(@stateCode = 'FL' or @stateCode = 'MT' or @stateCode = 'VT' )
						BEGIN
							delete from #temppolicyform where Formid='APL - 108 (11/18)'
							delete from #temppolicyform where Formid='APL - 124 (11/18)'
							delete from #temppolicyform where Formid='APL - 129 (11/18)'
						END
						if(@stateCode = 'AK')
						BEGIN
							delete from #temppolicyform where Formid='APL - 108 (11/18)'
						End
					END
					--select * from Form where effectivedate='2019-05-01'
					--select * from #temppolicyform

				/*
		
			

					if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'PA')
					begin
						delete from #tempstatepolicyform where FormID = 'LPL - NOTICE - PA # 2 (09/10)'
						delete from #tempstatepolicyform where FormID = 'LPL - NOTICE - PA #1 (09/10)'
					end

					if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'WY')
					begin
						delete from #tempstatepolicyform where FormID = 'LPL - AMEND - WY #2 - (09/10)'				
					end
					if(@IsManualQuoteFlag != 'Y' and @stateCode = 'OH')
					begin
						delete from #tempstatepolicyform where FormID = 'LPL - 116 - OH (09/10)'	
					end
					if(@stateCode = 'NJ')
					begin
						delete from #tempstatepolicyform where FormID = 'LPL - NOTICE - NJ (09/10)'	
					end

					select @PolicyStatusKey=PolicyStatusKey from Policy where PolicyKey=@PolicyKey
					if(@stateCode='CT')
					begin
						if(@PolicyStatusKey = 1)
						begin
							delete from #tempstatepolicyform where FormID = 'LPL CT - 131 (08-13)'
						end
						if(@PolicyStatusKey = 2)
						begin
							delete from #tempstatepolicyform where FormID = 'LPL - CT - 101 (09/10)'
						end
					end
					if(@stateCode='FL')
					begin
						if(@PolicyStatusKey = 1)
						begin
							delete from #tempstatepolicyform where FormID = 'LPL FL - 131 (08-13)'
						end
						if(@PolicyStatusKey = 2)
						begin
							delete from #tempstatepolicyform where FormID = 'LPL - FL - 101 (09/10)'
						end
					end

		

			
					*/
	
		END

	IF(@CompanyKey=3)
		BEGIN
				if(@IsClaimExpenseTypeFlag != 'Y' or @stateCode = 'MA'  or @stateCode= 'NM')
					begin
						delete from #temppolicyform where FormID = 'AAA - 04 - F002 (04/01/2022)'
					end

					
					if(@IsClaimOptionTypeFlag != 'Y' or @stateCode = 'MA' or @stateCode = 'CT')
					begin
						delete from #temppolicyform where FormID = 'AAA - 04 - F003 (04/01/2022)'
					end

					
					if(@DefenseOutsideAndLimitGreaterThan1M != 'Y' and @stateCode = 'OK')
					begin
						print ' going to delete AAA - 04 - F002 (04/01/2022)'
						delete from #temppolicyform where FormID = 'AAA - 04 - F002 (04/01/2022)'
					end

					
				-- Above code removes the Country Specific Form

				-- Below code will remove the state specific forms depending upon the rules

					--if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'MA')
					--begin
					--	delete from #tempstatepolicyform where FormID = 'APL - 104 - MA (12/09)'	
					--end

					--if(@DefenseOutsideAndLimitLessThan1M != 'Y' and @stateCode = 'OK')
					--begin
					--print ' going to delete - APL - 104 (12/09)'
					--	delete from #tempstatepolicyform where FormID = 'OK - APL - 104 (12/09)'	
					--end
		
					if(@IsDollarDefenseFlag != 'Y' and @stateCode = 'CA')
					begin
						delete from #tempstatepolicyform where FormID = 'AAA - 04 - F011 (04/01/2022)'	
					end

					--if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'MA')
					--begin
					--	delete from #tempstatepolicyform where FormID = 'MA - APL-105 (03/13)'	
					--end

					

					--if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'NM')
					--begin
					--	delete from #tempstatepolicyform where FormID = 'APL - NM Amendatory (03/13)'				
					--end

					--if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'AK')
					--begin
					--	delete from #tempstatepolicyform where FormID ='FM 2.0.1033'	
					--end

					--if(@NDStateRuleFlag != 'Y' and @stateCode = 'ND')
					--begin
					--	delete from #tempstatepolicyform where FormID = 'MO 42 001 06 15'				
					--end

					--if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'AK')
					--begin
			
					--	delete from #tempstatepolicyform where FormID = 'MI 43 002 06 15'
				
					--end

					--if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'CT')
					--begin
					--	delete from #tempstatepolicyform where FormID = 'CT APL-105 (03/13)'	
					--end
			
			

					

					
						if(@stateCode = 'FL' or @stateCode = 'MT' or @stateCode = 'VT' )
						BEGIN
							delete from #temppolicyform where Formid='AAA - 04 - F007 (04/01/2022) '
							delete from #temppolicyform where Formid='AAA - 04 - F012 (04/01/2022)'
							delete from #temppolicyform where Formid='AAA - 04 - F018 (04/01/2022)'
						END
						if(@stateCode = 'AK')
						BEGIN
							delete from #temppolicyform where Formid='AAA - 04 - F007 (04/01/2022) '
						End
					
		END

	 insert into #tempfinal select * from #temppolicyform 
	 insert into #tempfinal select * from #tempstatepolicyform 
	
	 
	 delete from PolicyForm where PolicyKey=@policyKey
	 declare @FormID varchar(50)
	 declare @FormName varchar(200)
	 declare @FormDesc varchar(2000)
	 declare @FormFooter varchar(50)
	 declare @FormSequence int
	 declare @FormType char(1)

	declare c2 cursor for
		select FormID,FormName,FormDesc,FormFooter,FormType, FormSequence from #tempfinal 
	OPEN c2
	FETCH NEXT FROM c2 into @FormID,@FormName,@FormDesc,@FormFooter,@FormType, @FormSequence
	WHILE @@FETCH_STATUS = 0
	begin
		insert into PolicyForm(PolicyKey,StateCode,FormID,FormName,FormDesc,FormFooter,LastUpdateTimeStamp,FormType, FormSequence)
		values(@policyKey,@stateCode,@FormID,@FormName,@FormDesc,@FormFooter,GETDATE(),@FormType, @FormSequence)
	FETCH NEXT FROM c2 into @FormID,@FormName,@FormDesc,@FormFooter,@FormType, @FormSequence
	end
	CLOSE c2
	DEALLOCATE c2

	select * from PolicyForm where PolicyKey=@policyKey order by FormSequence 

	 drop table #temppolicydata
	 drop table #temppolicyform
	 drop  table #tempstatepolicyform
	 drop table #tempfinal
END








GO
