USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubproducerFormDetailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubproducerFormDetailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubproducerFormDetailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SubproducerFormDetailsLW_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[SubproducerFormDetailsLW_p]
(
	@ProducerName VARCHAR(50),
	@NewCommission VARCHAR(50),
	@RenewalCommission VARCHAR(50),
	@State VARCHAR(50),
	@StreetAddress varchar(100),
	@SPZip varchar(50),
	@SPCity VARCHAR(100),
	@Producer_email VARCHAR(100),
	@SPPhoneNumber VARCHAR(100),
	@ProducerCode VARCHAR(100),
	@Date_added DateTime,
	@SendQuoteLetter varchar(10),
	@SendRenewalSolicitation varchar(10),
	@Archive varchar(10),
	@SubProducerAccess varchar(10),
	@Signature VARCHAR(100),
	@SPContactName VARCHAR(50),
	@SPWebsite VARCHAR(50),
	@Fax Varchar(50),
	@file_path Varchar(500),
	@IndicationAccess CHAR,
	@BillingContactName VARCHAR(500),
	@BillingContactNumber VARCHAR(20),
	@BillingContactEmail VARCHAR(100),
	@creditCardAccess CHAR,
	@IsDriect CHAR,
	@SubProducerPolicyIssuedAccess CHAR,
	@ProducerAbbr VARCHAR(20)
)
AS
BEGIN
	if not exists (Select ProducerCode from SubProducer where ProducerCode = @ProducerCode)
    Begin
            INSERT INTO  SubProducer (ProducerName, NewCommission, RenewalCommission, State, StreetAddress, SPZip, SPCity, Producer_email, SPPhoneNumber, ProducerCode, Date_added,
			SendQuoteLetter, SendRenewalSolicitation, Archive, SubProducerAccess, Signature, SPContactName, SPWebsite, Fax, LogoImagePath, IndicationAccess, BillingContactName,
			BillingContactNumber, BillingContactEmail, creditCardAccess, IsDriect, SubProducerPolicyIssuedAccess, ProducerAbbr)  
			VALUES (  @ProducerName, @NewCommission, @RenewalCommission, @State, @StreetAddress, @SPZip, @SPCity, @Producer_email, @SPPhoneNumber, upper(@ProducerCode),
			@Date_added, @SendQuoteLetter, @SendRenewalSolicitation, @Archive, @SubProducerAccess, @Signature, @SPContactName, @SPWebsite, @Fax, @file_path, @IndicationAccess,
			@BillingContactName, @BillingContactNumber, @BillingContactEmail, @creditCardAccess, @IsDriect, @SubProducerPolicyIssuedAccess, @ProducerAbbr )  

			if not exists (Select ProducerCode from SubProducer_lku where ProducerCode = @ProducerCode)
			Begin
				Insert into SubProducer_lku(ProducerCode,ProducerCompanyName,Accountant,Lawyers,IsSendRenewalEmail) values(upper(@ProducerCode),@ProducerName,'Y','Y',@SendRenewalSolicitation)
			END
	END  
   
	Else
	BEGIN
			Update SubProducer set

			ProducerName=@ProducerName, NewCommission=@NewCommission, RenewalCommission=@RenewalCommission, State= @State, StreetAddress= @StreetAddress, SPZip=@SPZip, SPCity=@SPCity,
			Producer_email= @Producer_email, SPPhoneNumber=@SPPhoneNumber, ProducerCode=@ProducerCode, Date_added=@Date_added, SendQuoteLetter=@SendQuoteLetter,
			SendRenewalSolicitation=@SendRenewalSolicitation, Archive= @Archive, SubProducerAccess=@SubProducerAccess, Signature=@Signature , SPContactName =@SPContactName,
			SPWebsite=@SPWebsite, Fax=@Fax, LogoImagePath=@file_path, IndicationAccess=@IndicationAccess, BillingContactName =@BillingContactName, BillingContactNumber =@BillingContactNumber,
			BillingContactEmail =@BillingContactEmail, creditCardAccess=@creditCardAccess, IsDriect=@IsDriect, SubProducerPolicyIssuedAccess=@SubProducerPolicyIssuedAccess,
			ProducerAbbr = @ProducerAbbr
			where ProducerCode=@ProducerCode

			UPDATE SubProducer_lku set ProducerCompanyName=@ProducerName, IsSendRenewalEmail=@SendRenewalSolicitation where ProducerCode=@ProducerCode
	END

END 


--select * from SubProducer




GO
