USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParseXMLToRequestAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ParseXMLToRequestAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParseXMLToRequestAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ParseXMLToRequestAC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[ParseXMLToRequestAC_p]
(
@PolicyKey INT
)
AS BEGIN

declare @feeResponseXML varchar(max) 

SELECT @feeResponseXML=XmlOutputDatafromRating from PremiumCalculationBuffer where PolicyKey=@PolicyKey

DECLARE @feeResponse XML
SET @feeResponse = CAST(CAST(@feeResponseXML AS VARCHAR(MAX)) AS XML)


DECLARE @info TABLE(
	BaseRate                          VARCHAR(100),
    StateFactor						  VARCHAR(100),
    SizeFactor						  VARCHAR(100),
    AOPFactor						  VARCHAR(100),
    ILFactor						  VARCHAR(100),
    DeductibleFactor				  VARCHAR(100),
    CMFactor						  VARCHAR(100),
    ClaimsMadeYearDesc				  VARCHAR(100),
    ERPFactor						  VARCHAR(100),
    ModifiedBaseLimitPremium		  VARCHAR(100),
    BaseLimitPremiumAfterDeductibles  VARCHAR(100),
    MinimumPremiumValue				  VARCHAR(100),
    FinalBaseLimitPremium			  VARCHAR(100),
    MTTaxAmmount					  VARCHAR(100),
    CountyTaxAmmount				  VARCHAR(100),
    State1TaxAmmount				  VARCHAR(100),
    State2TaxAmmount				  VARCHAR(100),
    FinalBaseLimitPremiumWithTax	  VARCHAR(100),
    SchduleRatingModifier1			  VARCHAR(100),
    SchduleRatingModifier2			  VARCHAR(100),
    SchduleRatingModifier3			  VARCHAR(100),
    AverageRevenueAmount			  VARCHAR(100),
    TotalSM							  VARCHAR(100),
    Total_tax						  VARCHAR(100),
    Interim_Modification_Factor		  VARCHAR(100),
    Modification_Factor				  VARCHAR(100),
    Intrim_Base_Premium				  VARCHAR(100),
    MTTaxPercentage				      VARCHAR(100),
    CountyTaxPercentage				  VARCHAR(100),
    State1Percentage				  VARCHAR(100),
    State2Percentage				  VARCHAR(100),
    IsMinimumPremium				  VARCHAR(100),
    ActualFinalBaseLimitPremium		  VARCHAR(100)
	)

	INSERT INTO @info
	(
	BaseRate                           ,                      
	StateFactor						   ,
	SizeFactor						   ,
	AOPFactor						   ,
	ILFactor						   ,
	DeductibleFactor				   ,
	CMFactor						   ,
	ClaimsMadeYearDesc				   ,
	ERPFactor						   ,
	ModifiedBaseLimitPremium		   ,
	BaseLimitPremiumAfterDeductibles   ,
	MinimumPremiumValue				   ,
	FinalBaseLimitPremium			   ,
	MTTaxAmmount					   ,
	CountyTaxAmmount				   ,
	State1TaxAmmount				   ,
	State2TaxAmmount				   ,
	FinalBaseLimitPremiumWithTax	   ,
	SchduleRatingModifier1			   ,
	SchduleRatingModifier2			   ,
	SchduleRatingModifier3			   ,
	AverageRevenueAmount			   ,
	TotalSM							   ,
	Total_tax						   ,
	Interim_Modification_Factor		   ,
	Modification_Factor				   ,
	Intrim_Base_Premium				   ,
	MTTaxPercentage				       ,
	CountyTaxPercentage				   ,
	State1Percentage				   ,
	State2Percentage				   ,
	IsMinimumPremium				   ,
	ActualFinalBaseLimitPremium		   
	)
	SELECT
	BaseRate= e.value('(BaseRate/text())[1]', 'varchar(100)'),                      
	StateFactor	= e.value('(StateFactor/text())[1]', 'varchar(100)'),
	SizeFactor	=	e.value('(SizeFactor/text())[1]', 'varchar(100)')				   ,
	AOPFactor	=	e.value('(AOPFactor/text())[1]', 'varchar(100)')				   ,
	ILFactor=		e.value('(ILFactor/text())[1]', 'varchar(100)')				   ,
	DeductibleFactor= e.value('(DeductibleFactor/text())[1]', 'varchar(100)')				   ,
	CMFactor=	e.value('(CMFactor/text())[1]', 'varchar(100)')					   ,
	ClaimsMadeYearDesc	=	e.value('(ClaimsMadeYearDesc/text())[1]', 'varchar(100)')		   ,
	ERPFactor	=	e.value('(ERPFactor/text())[1]', 'varchar(100)')				   ,
	ModifiedBaseLimitPremium=	e.value('(ModifiedBaseLimitPremium/text())[1]', 'varchar(100)')	   ,
	BaseLimitPremiumAfterDeductibles=e.value('(BaseLimitPremiumAfterDeductibles/text())[1]', 'varchar(100)')   ,
	MinimumPremiumValue	=	e.value('(MinimumPremiumValue/text())[1]', 'varchar(100)')		   ,
	FinalBaseLimitPremium	=e.value('(FinalBaseLimitPremium/text())[1]', 'varchar(100)')		   ,
	MTTaxAmmount	=	e.value('(MTTaxAmmount/text())[1]', 'varchar(100)')			   ,
	CountyTaxAmmount=	e.value('(CountyTaxAmmount/text())[1]', 'varchar(100)')			   ,
	State1TaxAmmount=	e.value('(State1TaxAmmount/text())[1]', 'varchar(100)')			   ,
	State2TaxAmmount=	e.value('(State2TaxAmmount/text())[1]', 'varchar(100)')			   ,
	FinalBaseLimitPremiumWithTax=	e.value('(FinalBaseLimitPremiumWithTax/text())[1]', 'varchar(100)')   ,
	SchduleRatingModifier1=		e.value('(SchduleRatingModifier1/text())[1]', 'varchar(100)')	   ,
	SchduleRatingModifier2=		e.value('(SchduleRatingModifier2/text())[1]', 'varchar(100)')	   ,
	SchduleRatingModifier3=		e.value('(SchduleRatingModifier3/text())[1]', 'varchar(100)')	   ,
	AverageRevenueAmount=		e.value('(AverageRevenueAmount/text())[1]', 'varchar(100)')	   ,
	TotalSM	=					e.value('(TotalSM/text())[1]', 'varchar(100)')	   ,
	Total_tax	=	e.value('(Total_tax/text())[1]', 'varchar(100)')				   ,
	Interim_Modification_Factor	=e.value('(Interim_Modification_Factor/text())[1]', 'varchar(100)')	   ,
	Modification_Factor	=	e.value('(Modification_Factor/text())[1]', 'varchar(100)')		   ,
	Intrim_Base_Premium	=	e.value('(Intrim_Base_Premium/text())[1]', 'varchar(100)')		   ,
	MTTaxPercentage	=		e.value('(MTTaxPercentage/text())[1]', 'varchar(100)')	       ,
	CountyTaxPercentage	=	e.value('(CountyTaxPercentage/text())[1]', 'varchar(100)')		   ,
	State1Percentage=		e.value('(State1Percentage/text())[1]', 'varchar(100)')		   ,
	State2Percentage=		e.value('(State2Percentage/text())[1]', 'varchar(100)')	       ,
	IsMinimumPremium=		e.value('(IsMinimumPremium/text())[1]', 'varchar(100)'),
	ActualFinalBaseLimitPremium	=	e.value('(ActualFinalBaseLimitPremium/text())[1]', 'varchar(100)')   



FROM @feeResponse.nodes('/Response/PremiumInfo') AS x(e)

select * from @info
END

GO
