USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateQuoteAddition_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateQuoteAddition_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateQuoteAddition_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateQuoteAddition_p] AS' 
END
GO
--exec ValidateQuoteAddition_p 107290, 7, 5, 2, 'N', 'N', 'N'
ALTER PROCEDURE [dbo].[ValidateQuoteAddition_p]
(
	@PolicyKey INT,
	@LimitSequence INT,
	@DeductibleSequence INT, 
	@CoverageKey INT,
	@IsClaimExpensesType CHAR,
	@IsDollarDefense CHAR,
	@IsClaimOptionType CHAR,
	@IsManualPremium Char
)
AS
BEGIN

DECLARE @AggregateLimit INT,@OccuranceLimit INT,@OccuranceDeductible INT,@AggregateDeductible INT,@AggregateLimitTemp INT,@OccuranceLimitTemp INT,@OccuranceDeductibleTemp INT,@AggregateDeductibleTemp INT

Select @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit from Limits where LimitSequence=@LimitSequence and CoverageKey=@CoverageKey
select @OccuranceDeductible=OccuranceDeductible,@AggregateDeductible=AggregateDeductible from Deductibles where DeductibleSequence=@DeductibleSequence and CoverageKey=@CoverageKey

DECLARE @IsClaimExpensesTypeTemp CHAR,@IsDollarDefenseTemp CHAR,@IsClaimOptionTypeTemp CHAR,@DuplicateQuote CHAR='N'
SET @DuplicateQuote='N'
IF(@IsManualPremium='N')
BEGIN
Declare c1 cursor for
		select AggregateLimit,OccuranceLimit,AggregateDeductible,OccuranceDeductible,IsClaimExpensesType,IsClaimOptionType,(case when IsDollarDefense is not null then IsDollarDefense else 'N' end) as IsDollarDefense from PolicyCoverage where Policykey=@PolicyKey order by TransactionSequence
           
       
       OPEN c1
       FETCH NEXT FROM c1 into @AggregateLimitTemp,@OccuranceLimitTemp,@OccuranceDeductibleTemp,@AggregateDeductibleTemp,@IsClaimExpensesTypeTemp,@IsClaimOptionTypeTemp,@IsDollarDefenseTemp
       WHILE @@FETCH_STATUS = 0
              begin
              
			 if(@AggregateLimit=@AggregateLimitTemp AND @OccuranceLimit=@OccuranceLimitTemp AND @OccuranceDeductible=@OccuranceDeductibleTemp AND @AggregateDeductible=@AggregateDeductibleTemp AND @IsClaimExpensesType=@IsClaimExpensesTypeTemp
				AND @IsClaimOptionType=@IsClaimOptionTypeTemp AND @IsDollarDefense=@IsDollarDefenseTemp)
			BEGIN
				SET @DuplicateQuote='Y'
			END
			
              FETCH NEXT FROM c1 into  @AggregateLimitTemp,@OccuranceLimitTemp,@OccuranceDeductibleTemp,@AggregateDeductibleTemp,@IsClaimExpensesTypeTemp,@IsClaimOptionTypeTemp,@IsDollarDefenseTemp                     
              end
              CLOSE c1
              DEALLOCATE c1

END
Select @DuplicateQuote as duplicateQuote

END



GO
