USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetZohoPremiumLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetZohoPremiumLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetZohoPremiumLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetZohoPremiumLW_p] AS' 
END
GO
--exec GetZohoPremiumLW_p 100906
ALTER PROCEDURE [dbo].[GetZohoPremiumLW_p]
(
	@PolicyKey int
)
AS
BEGIN

Declare @InvoicedPremium int;
Declare @TransactionSequence int;

select TOP 1 @InvoicedPremium = InvoicedPremium, @TransactionSequence = pt.TransactionSequence from Quote q , PolicyTransaction pt 
 where q.PolicyKey = pt.PolicyKey and q.TransactionSequence = pt.TransactionSequence 
 and q.IsThisOptionFinalised = 'Y' and q.PolicyKey = @PolicyKey order by q.TransactionSequence

if(@InvoicedPremium is null or @InvoicedPremium = '')
BEGIN
select TOP 1 @InvoicedPremium = InvoicedPremium, @TransactionSequence = pt.TransactionSequence from Quote q , PolicyTransaction pt, PolicyCoverage PC 
 where q.PolicyKey = pt.PolicyKey and pc.PolicyKey = q.PolicyKey and pc.TransactionSequence = q.TransactionSequence 
 and q.TransactionSequence = pt.TransactionSequence and pc.IsManualPremium = 'Y' 
 and q.PolicyKey = @PolicyKey order by q.TransactionSequence
 END
 if(@InvoicedPremium is null or @InvoicedPremium = '')
BEGIN
 select TOP 1 @InvoicedPremium = InvoicedPremium, @TransactionSequence = pt.TransactionSequence from Quote q , PolicyTransaction pt, PolicyCoverage PC 
 where q.PolicyKey = pt.PolicyKey and pc.PolicyKey = q.PolicyKey and pc.TransactionSequence = q.TransactionSequence 
 and q.TransactionSequence = pt.TransactionSequence and (pc.IsManualPremium = 'N' or pc.IsManualPremium is null)
 and q.PolicyKey = @PolicyKey order by q.TransactionSequence
 End

 if(@InvoicedPremium is null or @InvoicedPremium = '')
BEGIN
 select TOP 1 @InvoicedPremium = InvoicedPremium, @TransactionSequence = pt.TransactionSequence from Quote q , PolicyTransaction pt, PolicyCoverage PC 
 where q.PolicyKey = pt.PolicyKey and pc.PolicyKey = q.PolicyKey and pc.TransactionSequence = q.TransactionSequence 
 and q.TransactionSequence = pt.TransactionSequence and q.PolicyKey = @PolicyKey order by q.TransactionSequence
 End

 select @InvoicedPremium as InvoicedPremium, @TransactionSequence as TransactionSequence
END


GO
