USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePastClaims_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdatePastClaims_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePastClaims_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdatePastClaims_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[UpdatePastClaims_p](
@PolicyKey INT,
@IsPersonnelBeSubOfAnyInvest CHAR,
@IsLawyerProfLiabClaimAgntAppl	CHAR,
@IsAnyActOmmBecomeClaimAgntFirm CHAR,
@IsAttorneyDeclineForProfLiability CHAR,
@IsPolicyExcludesCoverage CHAR,
@LastUpdateUserID INT,
@PersonnelBeSubOfAnyInvestDate DATETIME,
@PersonnelBeSubOfAnyInvestDetails VARCHAR(500),
@AttorneyDeclineForProfLiabilityDates DATETIME,
@AttorneyDeclineForProfLiabilityReasons VARCHAR(500),
@LastUpdateTimeStamp VARCHAR(50)
)
AS
DECLARE @Count int
BEGIN
	
	if(@IsPersonnelBeSubOfAnyInvest is not null and @IsLawyerProfLiabClaimAgntAppl is not null and @IsAnyActOmmBecomeClaimAgntFirm is not null)
	BEGIN
	UPDATE FIRMLW SET IsPersonnelBeSubOfAnyInvest=@IsPersonnelBeSubOfAnyInvest,IsLawyerProfLiabClaimAgntAppl=@IsLawyerProfLiabClaimAgntAppl,IsAnyActOmmBecomeClaimAgntFirm=@IsAnyActOmmBecomeClaimAgntFirm,
			IsAttorneyDeclineForProfLiability=@IsAttorneyDeclineForProfLiability,IsPolicyExcludesCoverage=@IsPolicyExcludesCoverage,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,
			PersonnelBeSubOfAnyInvestDate=@PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails=@PersonnelBeSubOfAnyInvestDetails,AttorneyDeclineForProfLiabilityDates=@AttorneyDeclineForProfLiabilityDates,
			AttorneyDeclineForProfLiabilityReasons=@AttorneyDeclineForProfLiabilityReasons
			WHERE policykey=@PolicyKey
	END
END


GO
