USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsureDetailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertInsureDetailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsureDetailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertInsureDetailsLW_p] AS' 
END
GO
--exec InsertInsureDetailsLW_p 128297, 128792, 128792, 128470, 'TestMultiComp001', null, 'TestMultiComp001', 'AK', 'TestMultiComp001', 'TestMultiComp001', '21666-2714', '11/30/2021', '(324)234-3223','' , 3, 'TestMultiComp001', null, null,'' , '2021-11-22 18:38:36.92', 'Agent', 1, 'TestMultiComp001@test.com', 1
ALTER PROCEDURE [dbo].[InsertInsureDetailsLW_p]
	(
	@Policykey INT,
	@AccountID INT,
	@AccountKey INT,
	@AddresKey INT,
	@AccountName varchar(100),
	@Address1 VARCHAR(100),
	@Street VARCHAR(100),
	@StateCode VARCHAR(20),
	@CountyDesc VARCHAR(100),
	@City VARCHAR(100),
	@Zip VARCHAR(20),
	@PolicyEffectiveDate DateTime,
	@WorkPhone VARCHAR(20),
	@ProducerCode VARCHAR(50),
	@LastUpdateUserID int,
	@Address2 VARCHAR(100),
	@NameClearType VARCHAR(50),
	@NameClearDate DateTime,
	@isNameClearanceRequired VARCHAR(10),
	@LastUpdateTimeStamp VARCHAR(50),
	@UserType VARCHAR(10),
	@StatusKey INT,
	@AccountEmail VARCHAR(100),
	@CompanyKey INT,
	@CompanyAsPerState INT,
	@ElectronicInsuranceImplDate DATETIME
	)
AS
BEGIN

	

	if(@AccountName != '' AND @AccountName is not NULL)
	set @AccountName = REPLACE(@AccountName, '''', '''''');
	
	if(@Address1 != '' AND @Address1 is not NULL)
	set @Address1 = REPLACE(@Address1, '''', '''''');
	
	if(@Street != '' AND @Street is not NULL)
	set @Street = REPLACE(@Street, '''', '''''');
	
	if(@CountyDesc != '' AND @CountyDesc is not NULL)
	set @CountyDesc = REPLACE(@CountyDesc, '''', '''''');
	
	if(@City != '' AND @City is not NULL)
	set @City = REPLACE(@City, '''', '''''');
	
	if(@Address2 != '' AND @Address2 is not NULL)
	set @Address2 = REPLACE(@Address2, '''', '''''');
	
	if(@AccountEmail != '' AND @AccountEmail is not NULL)
	set @AccountEmail = REPLACE(@AccountEmail, '''', '''''');
	
	if(@Zip != '' AND @Zip is not NULL)
	set @Zip = REPLACE(@Zip, '''', '''''');
	
	if(@WorkPhone != '' AND @WorkPhone is not NULL)
	set @WorkPhone = REPLACE(@WorkPhone, '''', '''''');	
	
	if(@ProducerCode='SPACE' or @ProducerCode is null)
	set @ProducerCode=''
	
	if(@Address1 is null)
	set @Address1 = ''
	
	if(@Street is null)
	set @Street = ''
	
	if(@Address2 is null)
	set @Address2 = ''
	
	if(@CompanyKey is null or @CompanyKey='')
	set @CompanyKey=@CompanyAsPerState

	Declare @PolicyStatusKey INT
	Declare @FirstReviewUserID VARCHAR(10)
	DECLARE @PolicyExpirationDate DATETIME =(Select Top 1 PolicyExpirationDate from PolicyTransaction where Policykey=@Policykey)
	DECLARE @ProjectedExpiryDate DATETIME=CONVERT(char(8), DATEADD(year, 1, @PolicyEffectiveDate ),112)
	DECLARE @CurrentExpiryDate DATETIME=CONVERT(char(8), @PolicyExpirationDate, 112)
	DECLARE @PriorActDate varchar(100),@EffectiveDate varchar(100)
	DECLARE @IsFirmHaveLawyersLiabilityInsurance CHAR=(select IsFirmHaveLawyersLiabilityInsurance from firmlw where Policykey=@Policykey)
	Declare @CreatedDate DATETIME

	SELECT @CreatedDate=AppCreatedDate, @PolicyStatusKey=PolicyStatusKey FROM POLICY WHERE POLICYKEY=@Policykey

	SELECT @FirstReviewUserID = FirstReviewUserID FROM FIRMLW WHERE POLICYKEY=@Policykey
	
	Declare @POLICYSQL VARCHAR(4000);
	Declare @ACCOUNTSQL VARCHAR(4000);
	Declare @ADDRESSSQL VARCHAR(4000);
	Declare @FIRMLWSQL VARCHAR(4000);
	Declare @PolicyTransactionSQL VARCHAR(4000);
	
	SET @POLICYSQL = 'UPDATE POLICY SET ';
	SET @POLICYSQL = @POLICYSQL + 'isUncompletedData = ''N'', PolicyEffectiveDate = ''' + CONVERT(varchar(50),@PolicyEffectiveDate) + ''', IsQuickQuote=''N'', IsFullQuote=''Y'',CompanyKey='+cast(@CompanyKey as varchar)+', ';
	IF(@UserType='insured')
	BEGIN
		SET @POLICYSQL = @POLICYSQL + 'InsuredUpdateTimeStamp = ''' + @LastUpdateTimeStamp + ''', ';
	END
	SET @POLICYSQL = @POLICYSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ', LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	print(@POLICYSQL);
	
	SET @ACCOUNTSQL = 'UPDATE ACCOUNT SET ';
	SET @ACCOUNTSQL = @ACCOUNTSQL + 'AccountName=''' + @AccountName + ''', AccountEmail=''' + @AccountEmail + ''', ';
	SET @ACCOUNTSQL = @ACCOUNTSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ',LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE AccountKey=' + CONVERT(varchar(10),@AccountKey);
	print(@ACCOUNTSQL);
	
	SET @ADDRESSSQL = 'UPDATE ADDRESS SET ';
	SET @ADDRESSSQL = @ADDRESSSQL + 'Zip=''' + SUBSTRING(@Zip,0,6) + ''', Zip4=''' + SUBSTRING(@Zip,7,10) + ''', StateCode=''' + @StateCode + ''', CountyDesc=''' + @CountyDesc + ''', ';
	SET @ADDRESSSQL = @ADDRESSSQL + 'City = ''' + @City + ''', WorkPhone = ''' + @WorkPhone + ''', Address2 = ''' + @Address2 + ''', ';
	IF(@PolicyStatusKey=1)
	BEGIN
		SET @ADDRESSSQL = @ADDRESSSQL + 'Address1=''' + @Street + ''', Street=''' + @Street + ''', ';
	END
	IF(@PolicyStatusKey=2)
	BEGIN
		SET @ADDRESSSQL = @ADDRESSSQL + 'Address1=''' + @Address1 + ''', Street=''' + @Address1 + ''', ';
	END
	SET @ADDRESSSQL = @ADDRESSSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ', LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + '''  WHERE AddressKey=' + CONVERT(varchar(10),@AddresKey);
	
	print(@ADDRESSSQL);
	
	SET @FIRMLWSQL = 'UPDATE FIRMLW SET ';
	SET @FIRMLWSQL = @FIRMLWSQL + 'isNewApp=''Y'', ';
	IF(@NameClearType != '' AND @NameClearType is not NULL AND @NameClearDate != '' AND @NameClearDate is not NULL AND @isNameClearanceRequired != '' AND @isNameClearanceRequired is not NULL)
	BEGIN
		SET @FIRMLWSQL = @FIRMLWSQL + 'NameClearType = ''' + @NameClearType + ''', NameClearDate = ''' + CONVERT(varchar(50),@NameClearDate) + ''', isNameClearanceRequired = ''' + @isNameClearanceRequired + ''', ';
	END
	IF(@StatusKey = 1 and @UserType='Agent' and @FirstReviewUserID is null)
	BEGIN
		SET @FIRMLWSQL = @FIRMLWSQL + 'FirstReviewUserID = ' + CONVERT(varchar(10),@LastUpdateUserID) + ', IsViewed=''Y'', ';
	END
	SET @FIRMLWSQL = @FIRMLWSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ',LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	print(@FIRMLWSQL);
	
	SET @PolicyTransactionSQL = 'UPDATE PolicyTransaction set ';
	
	IF(@StatusKey = 1 and @UserType='Agent')
	BEGIN
		SET @PolicyTransactionSQL = @PolicyTransactionSQL + 'StatusKey=2, ';
		
	END

	IF(@PolicyExpirationDate is NULL OR @CurrentExpiryDate<>@ProjectedExpiryDate)
			BEGIN
			
				SET @PolicyTransactionSQL = @PolicyTransactionSQL + ' PolicyExpirationDate= '''+ CONVERT(varchar(50), DATEADD(year, 1, @PolicyEffectiveDate )) + ''',';
			END
	SET @PolicyTransactionSQL = @PolicyTransactionSQL + ' ProducerCode=''' + @ProducerCode + ''', ';
	SET @PolicyTransactionSQL = @PolicyTransactionSQL + 'LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''', LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID)  + '  WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	
	print(@PolicyTransactionSQL);
	EXECUTE(@POLICYSQL);
	EXECUTE(@ACCOUNTSQL);
	EXECUTE(@ADDRESSSQL);
	EXECUTE(@FIRMLWSQL);
	EXECUTE(@PolicyTransactionSQL);
	select @IsFirmHaveLawyersLiabilityInsurance
	if(@IsFirmHaveLawyersLiabilityInsurance is not null and @IsFirmHaveLawyersLiabilityInsurance='N')
	begin
		select @PriorActDate=convert(varchar,p.PolicyEffectiveDate,101),@EffectiveDate=convert(varchar,PriorActDatePross,101) from ProfessionalLiabilityInsDetailLW pl inner join Policy p on p.PolicyKey=pl.PolicyKey where p.Policykey=@Policykey 
		select @PriorActDate,@EffectiveDate
		if(@PriorActDate!=@EffectiveDate)
		begin
			update ProfessionalLiabilityInsDetailLW set PriorActDatePross=@PolicyEffectiveDate,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@Policykey
		end
	end
	
	-----Electronic Tab
	if(@CreatedDate >= @ElectronicInsuranceImplDate)
	BEGIN
		DECLARE @IsElectronicDeliveryRejection char
		DECLARE @IsElectronicAndPaperDelivery char
		DECLARE @SpecialIssuanceComments VARCHAR(500)
		
		select @SpecialIssuanceComments = SpecialIssuanceComments from FirmLW where PolicyKey=@Policykey
		select @IsElectronicDeliveryRejection = IsElectronicDeliveryRejection, @IsElectronicAndPaperDelivery = IsElectronicAndPaperDelivery from ElectronicInsurance where PolicyKey=@Policykey

		if(@StateCode != 'KS')
		BEGIN
			--update Firmlw SET IsSpecialIssuance=null, SpecialIssuanceComments = null where Policykey=@PolicyKey
			DELETE FROM ElectronicInsurance WHERE policykey=@PolicyKey
		END
		ELSE
		if(@StateCode = 'KS')
		BEGIN
			if(@IsElectronicAndPaperDelivery = 'Y' OR @isElectronicDeliveryRejection = 'Y')
			BEGIN
				IF(@IsElectronicAndPaperDelivery = 'Y' AND (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '' or @SpecialIssuanceComments NOT LIKE '%Insured has opted to receiving electronic delivery and mailings for documents%'))
				BEGIN
					--print 's3'
					update Firmlw SET IsSpecialIssuance='Y', SpecialIssuanceComments = Case when (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '') then '' ELSE @SpecialIssuanceComments + ' ' end + 'Insured has opted to receiving electronic delivery and mailings for documents. They must be mailed hard copies of all documentation.' where Policykey=@PolicyKey
				END
				ELSE IF(@isElectronicDeliveryRejection = 'Y' AND (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '' or @SpecialIssuanceComments NOT LIKE '%Insured has opted out of receiving electronic delivery for documents%'))
				BEGIN
					--print 's4'
					update Firmlw SET IsSpecialIssuance='Y', SpecialIssuanceComments = Case when (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '') then '' ELSE @SpecialIssuanceComments + ' ' end + 'Insured has opted out of receiving electronic delivery for documents and must be mailed hard copies of all documentation.' where Policykey=@PolicyKey
				END
			END
		END
	END
END


GO
