USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCompanyList_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetCompanyList_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCompanyList_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetCompanyList_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec GetCompanyList_p 'UT',2,null
ALTER PROCEDURE [dbo].[GetCompanyList_p]
	(
	@StateCode VARCHAR(20),
	@MarketableProductKey INT,
	@PolicyEffectiveDate DATETIME
	)
AS
BEGIN
	--select @PolicyEffectiveDate

	if(@PolicyEffectiveDate is null or @PolicyEffectiveDate='')
		set @PolicyEffectiveDate=(select GETDATE())
	CREATE TABLE #TEMPCompany
	(
	CompanyKey INT
	)
	INSERT INTO #TEMPCompany(CompanyKey)
	select top 1 CompanyKey  from StateCompany with (nolock) where StateCode=@StateCode and MarketableProductKey= @MarketableProductKey 
	and   effectivedate<= @PolicyEffectiveDate
	and   ExpirationDate>= @PolicyEffectiveDate
	 order by EffectiveDate desc

	
	 IF not Exists(select CompanyKey from #TEMPCompany)
	 begin
		 INSERT into #TEMPCompany (CompanyKey)values(null)

	 end
	  Select CompanyKey as CompanyAsPerState,CompanyKey from #TEMPCompany
	  drop table   #TEMPCompany
END



GO
