USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateCrumFosterReportAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CreateCrumFosterReportAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateCrumFosterReportAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CreateCrumFosterReportAcc_p] AS' 
END
GO
--exec CreateCrumFosterReportAcc_p 'effectivedate','2023-01-01','2023-12-30',3
ALTER PROCEDURE [dbo].[CreateCrumFosterReportAcc_p]
@SearchType VARCHAR(100),
@FromDate DATETIME,
@ToDate DATETIME,
@CompanyKey INT

AS
BEGIN
	exec UpdateVersionSequenceAcc_p @SearchType,@FromDate,@ToDate
	DECLARE @Commission numeric(17,2)=0.21

	CREATE TABLE #TEMP
	(
		SN INT Identity(1,1),
		IsIndicationPage CHAR,
		AccountID INT,
		PolicyEffectiveDate DATETIME,
		TransactionEffectiveDate	DATETIME,
		AccountName VARCHAR(500),
		PolicyExpirationDate DATETIME,
		StateDesc VARCHAR(100),
		Address1  VARCHAR(500),
		Address2  VARCHAR(500),
		City  VARCHAR(100),
		Zip  VARCHAR(100),
		TotalPremium Numeric(17,2),
		TotalPolicyTaxAmount Numeric(17,2),
		InvoicedPremium Numeric(17,2),
		AggregateLimit INT,
		OccuranceLimit INT,
		AggregateDeductible INT,
		IsClaimExpensesType VARCHAR(50),
		IsClaimOptionType VARCHAR(50),
		PriorActDatePross DATETIME,
		IsFirmCarryingProfLiabilityIns CHAR,
		PolicyKey INT,
		IsPriorActDateFull CHAR,
		IssuedDate DATETIME,
		PaymentMode VARCHAR(100),
		PolicyNumber VARCHAR(500),
		ContactPerson VARCHAR(500),
		PolicyStatus VARCHAR(500),
		RenewOfPolicyNumber VARCHAR(500),
		Is9010Policy CHAR,
		ProducerCode VARCHAR(500),
		IsDollarDefense CHAR,
		TransactionTypeKey INT,
		isFinancialEndorsement CHAR,
		ERPExpirationDate VARCHAR(500),
		VersionSequence int,
		Transactionsequence INT,
		FirstReviewer VARCHAR(500),
		Company VARCHAR(100),
		MarkAsRenewal VARCHAR(50),
		Commission  Numeric(17,2),
		NetPremium Numeric(17,2),
		TotalDue Numeric(17,2)
			)

	CREATE TABLE #TempPolicyKey
	(PolicyKey INT)

	CREATE TABLE #TEMP1
	(
		IsIndicationPage CHAR,
		AccountID INT,
		PolicyEffectiveDate DATETIME,
		TransactionEffectiveDate	DATETIME,
		AccountName VARCHAR(500),
		PolicyExpirationDate DATETIME,
		StateDesc VARCHAR(100),
		Address1  VARCHAR(500),
		Address2  VARCHAR(500),
		City  VARCHAR(100),
		Zip  VARCHAR(100),
		TotalPremium Numeric(17,2),
		TotalPolicyTaxAmount Numeric(17,2),
		InvoicedPremium Numeric(17,2),
		AggregateLimit INT,
		OccuranceLimit INT,
		AggregateDeductible INT,
		IsClaimExpensesType VARCHAR(50),
		IsClaimOptionType VARCHAR(50),
		PriorActDatePross DATETIME,
		IsFirmCarryingProfLiabilityIns CHAR,
		PolicyKey INT,
		IsPriorActDateFull CHAR,
		IssuedDate DATETIME,
		PaymentMode VARCHAR(100),
		PolicyNumber VARCHAR(500),
		ContactPerson VARCHAR(500),
		PolicyStatus VARCHAR(500),
		RenewOfPolicyNumber VARCHAR(500),
		Is9010Policy CHAR,
		ProducerCode VARCHAR(500),
		IsDollarDefense CHAR,
		TransactionTypeKey INT,
		isFinancialEndorsement CHAR,
		ERPExpirationDate VARCHAR(500),
		VersionSequence int,
		Transactionsequence INT,
		FirstReviewer VARCHAR(500),
		Company VARCHAR(100)
			)

	IF(@SearchType='effectivedate')
	BEGIN
		INSERT INTO #TEMP1(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,Transactionsequence,FirstReviewer,Company
		 )
		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  ,
		a.AccountName,	case when  convert(varchar, pt.PolicyExpirationDate, 101) is null then (select top 1 policyexpirationdate from policytransaction where policykey=pt.Policykey and VersionSequence=pt.VersionSequence) else  convert(varchar, pt.PolicyExpirationDate, 101) end as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip, 	(case When pt.TotalPremium is not null then pt.TotalPremium else 0.0 end) as  TotalPremium, (case When pt.TotalPolicyTaxAmount is not null then pt.TotalPolicyTaxAmount else 0.0 end) as  TotalPolicyTaxAmount	, 
		(case when pt.InvoicedPremium is not null then pt.InvoicedPremium else 0.0 end) as InvoicedPremium,		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	
		(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType,
		 	convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 	f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 	p.PolicyKey, 	pl.IsPriorActDateFull, 	convert(varchar,f.IssuedDate, 101) as IssuedDate, 
		pd.PaymentMode, 	p.PolicyNumber, 	f.ContactPerson,  	p.RenewOfPolicyNumber, 	
		 pt.ProducerCode, pc.IsDollarDefense,f.VersionSequence,(Case When pt.TransactionTypeKey is not null then TransactionTypeKey else p.PolicyStatusKey end ) as TransactionTypeKey,pt.Transactionsequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,
		 c.Code
		from Policy p 
		inner join PolicyTransaction pt WITH (NOLOCK) on p.PolicyKey = pt.PolicyKey 
		inner join Firm  f WITH (NOLOCK) on f.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionSequence
		inner join PolicyCoverage pc WITH (NOLOCK) on  p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		left join (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail group by policyKey) pd on pd.PolicyKey=p.PolicyKey 
		left join ProfessionalLiabilityInsDetail pl on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence  
		inner join Status s WITH (NOLOCK) on s.StatusKey=pt.StatusKey  inner join Account a on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		left join Company c WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		where  p.isUncompletedData='N' and    convert(varchar,  p.PolicyEffectiveDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, p.PolicyEffectiveDate, 23)<=convert(varchar, @ToDate, 23)
		and  pt.StatusKey in(6,8) and 	p.MarketableProductKey = 1 and pc.CoverageKey = 2 and p.CompanyKey=@CompanyKey
		order by p.PolicyEffectiveDate


		


		Insert into #TempPolicyKey(PolicyKey) select Policykey from #temp1 where TransactionTypeKey>6 group by PolicyKey
		
		
		 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,Transactionsequence,FirstReviewer,Company
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company 
		 from #temp1 t1
		inner join Quote q WITH (NOLOCK) on q.PolicyKey=t1.PolicyKey and q.TransactionSequence=t1.TransactionSequence and q.IsThisOptionFinalised='Y'
		and t1.PolicyKey not in(Select PolicyKey from #TempPolicyKey)



		 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,Transactionsequence,FirstReviewer,Company
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company from #temp1 t1 
		 where Transactionsequence=(select min(PreviousFinalizedTransactionSequence) from EndorsementDetails where Policykey=t1.Policykey)
			and t1.PolicyKey  in(Select PolicyKey from #TempPolicyKey)



		INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,TransactionEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType,PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,TransactionTypeKey,isFinancialEndorsement,VersionSequence,FirstReviewer,Company)

		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  , convert(varchar, pt.TransactionEffectiveDate, 101) as TransactionEffectiveDate,a.AccountName,	convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip, (case	when ed.PremiumVariation is not null then ed.PremiumVariation else 0.0 end) as PremiumVariation, (case when ed.TaxVariation is not null then ed.TaxVariation else 0.0 end) as TaxVariation, (case when ed.PremiumVariation+ed.TaxVariation is not null then ed.PremiumVariation+ed.TaxVariation else 0.0 end),
		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, 
		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, 	convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 
		f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 	p.PolicyKey, 	pl.IsPriorActDateFull,
		 	convert(varchar,ed.EndorsementIssuedDate, 101) as IssuedDate, 
			p.PolicyNumber, 	f.ContactPerson,  	p.RenewOfPolicyNumber, 	
		pt.ProducerCode, pc.IsDollarDefense,ed.TransactionTypeKey,ed.isFinancialEndirsement,ed.VersionSequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,
		c.Code
		 from EndorsementDetails ed
		inner join Policy p WITH (NOLOCK)on p.PolicyKey=ed.PolicyKey 
		inner join PolicyTransaction pt WITH (NOLOCK)on pt.PolicyKey=ed.PolicyKey and pt.TransactionSequence=ed.TransactionSequence and ed.TransactionTypeKey=pt.TransactionTypeKey
		inner join Firm f WITH (NOLOCK)on pt.Policykey=f.PolicyKey and f.VersionSequence=pt.VersionSequence
		inner join PolicyCoverage pc WITH (NOLOCK) on  p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		inner join Status s WITH (NOLOCK) on s.StatusKey=pt.StatusKey 
		 inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		left join ProfessionalLiabilityInsDetail pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence  
		left join Company c  WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		where    convert(varchar,  ed.EndorsementEffectiveDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, ed.EndorsementEffectiveDate, 23)<=convert(varchar, @ToDate, 23)
		and p.MarketableProductKey=1 and pc.CoverageKey = 2 and p.CompanyKey=@CompanyKey
		order by ed.endorsementeffectivedate


	
	
	END
	IF(@SearchType='createdate')
	BEGIN


	select p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate,convert(varchar, pt.TransactionEffectiveDate, 101) as TransactionEffectiveDate, a.AccountName, convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
	(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.Address1, adds.Address2, adds.City, adds.Zip, pt.TotalPremium, pt.TotalPolicyTaxAmount, pt.InvoicedPremium, 
	pc.AggregateLimit, pc.OccuranceLimit, pc.AggregateDeductible, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, 
	(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross,
	f.IsFirmCarryingProfLiabilityIns as IsFirmCarryingProfLiabilityIns, p.PolicyKey, pl.IsPriorActDateFull, convert(varchar,f.IssuedDate, 101) as IssuedDate, pd.PaymentMode, p.PolicyNumber, 
	f.ContactPerson, (select TransactionTypeDesc from TransactionType where TransactionTypeKey=p.PolicyStatusKey)as PolicyStatus, p.RenewOfPolicyNumber, pt.ProducerCode 
	from Policy p, Firm f, PolicyTransaction pt, PolicyCoverage pc, Quote q, PaymentDetail pd, ProfessionalLiabilityInsDetail pl, Status s, AccountAddress aa, Account a, Address adds 
	where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey=p.PolicyKey and p.PolicyKey = pt.PolicyKey 
	and p.PolicyKey = pc.PolicyKey and p.PolicyKey = q.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence and pt.TransactionSequence=q.TransactionSequence
	 and pd.PolicyKey=p.PolicyKey and pl.PolicyKey=p.PolicyKey and s.StatusKey=pt.StatusKey and q.IsThisOptionFinalised='Y' and pt.StatusKey=6 and p.MarketableProductKey = 1 
	 and pc.CoverageKey = 2 and p.isUncompletedData='N' and p.AppCreatedDate>=@FromDate and p.AppCreatedDate <=@ToDate order by p.AppCreatedDate

		
	END
	IF(@SearchType='issuedate')
	BEGIN

	
	INSERT INTO #TEMP1(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType , PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,TransactionSequence,FirstReviewer,Company
		 )
		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate,a.AccountName,case when  convert(varchar, pt.PolicyExpirationDate, 101) is null then (select top 1 policyexpirationdate from policytransaction where policykey=pt.Policykey and VersionSequence=pt.VersionSequence) else  convert(varchar, pt.PolicyExpirationDate, 101) end as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.Address1, adds.Address2, adds.City, adds.Zip, (case When pt.TotalPremium is not null then pt.TotalPremium else 0.0 end) as  TotalPremium, (case When pt.TotalPolicyTaxAmount is not null then pt.TotalPolicyTaxAmount else 0.0 end) as  TotalPolicyTaxAmount	, 
		(case When pt.InvoicedPremium is not null then pt.InvoicedPremium else 0.0 end) as  InvoicedPremium , 
		pc.AggregateLimit, pc.OccuranceLimit, pc.AggregateDeductible,  (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType,  
		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType,  convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 
		f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns,   p.PolicyKey, pl.IsPriorActDateFull, convert(varchar,f.IssuedDate, 101) as IssuedDate,   pd.PaymentMode,  
		p.PolicyNumber,  f.ContactPerson,   p.RenewOfPolicyNumber, pt.ProducerCode, pc.IsDollarDefense ,f.VersionSequence  ,(Case When pt.TransactionTypeKey is not null then TransactionTypeKey else p.PolicyStatusKey end ) as TransactionTypeKey ,
		pt.TransactionSequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,c.Code
		from Policy p  
		 inner join PolicyCoverage pc on   p.PolicyKey = pc.PolicyKey     
		inner join PolicyTransaction pt on  pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence
		
		inner join Firm f  WITH (NOLOCK) on  f.PolicyKey=p.PolicyKey  and f.VersionSequence=pt.VersionSequence
		left join (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail group by policyKey) pd on pd.PolicyKey=p.PolicyKey
		left join ProfessionalLiabilityInsDetail pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence 
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey	
		inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey	
		left join Company c  WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		where  convert(varchar, f.IssuedDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, f.IssuedDate, 23)<=convert(varchar, @ToDate, 23)
		and pc.CoverageKey = 2 and   pt.StatusKey in(6,8) and  p.PolicyKey = pt.PolicyKey and p.MarketableProductKey = 1 and p.isUncompletedData='N'   and p.CompanyKey=@CompanyKey
		order by p.PolicyEffectiveDate

		
		Insert into #TempPolicyKey(PolicyKey) select Policykey from #temp1 where TransactionTypeKey>6 group by PolicyKey
		
		
		 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType , PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,TransactionSequence,FirstReviewer,Company
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,	IsClaimExpensesType,IsClaimOptionType, PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company from #temp1 t1
		inner join Quote q on q.PolicyKey=t1.PolicyKey and q.TransactionSequence=t1.TransactionSequence 
		where q.IsThisOptionFinalised='Y' and t1.PolicyKey not in(Select PolicyKey from #TempPolicyKey)



		 	 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType , PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,TransactionSequence,FirstReviewer,Company
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,	IsClaimExpensesType,IsClaimOptionType, PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company from #temp1 t1 
		 where Transactionsequence=(select min(PreviousFinalizedTransactionSequence) from EndorsementDetails where Policykey=t1.Policykey)
			and t1.PolicyKey  in(Select PolicyKey from #TempPolicyKey)





		INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,TransactionEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType,PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,TransactionTypeKey,isFinancialEndorsement,VersionSequence,FirstReviewer,Company)

		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  , convert(varchar, pt.TransactionEffectiveDate, 101) as TransactionEffectiveDate,a.AccountName,	convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip, 	 (case	when ed.PremiumVariation is not null then ed.PremiumVariation else 0.0 end) as PremiumVariation, (case when ed.TaxVariation is not null then ed.TaxVariation else 0.0 end) as TaxVariation, (case when ed.PremiumVariation+ed.TaxVariation is not null then ed.PremiumVariation+ed.TaxVariation else 0.0 end),
		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, 
		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, 	convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 
		f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 	p.PolicyKey, 	pl.IsPriorActDateFull,
		 	convert(varchar,ed.EndorsementIssuedDate, 101) as IssuedDate, 
			p.PolicyNumber, 	f.ContactPerson,  	p.RenewOfPolicyNumber, 	
		 pt.ProducerCode, pc.IsDollarDefense,ed.TransactionTypeKey,ed.isFinancialEndirsement,ed.VersionSequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,
		 c.Code
		 from EndorsementDetails ed
		inner join Policy p  WITH (NOLOCK) on p.PolicyKey=ed.PolicyKey 
		inner join PolicyTransaction pt  WITH (NOLOCK) on pt.PolicyKey=ed.PolicyKey and pt.TransactionSequence=ed.TransactionSequence and ed.TransactionTypeKey=pt.TransactionTypeKey
		inner join Firm f  WITH (NOLOCK) on pt.Policykey=f.PolicyKey and f.VersionSequence=pt.VersionSequence
		inner join PolicyCoverage pc  WITH (NOLOCK) on   p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey 
		 inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		left join ProfessionalLiabilityInsDetail pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence  
		left join Company c  WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		where  convert(varchar, ed.EndorsementIssuedDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, ed.EndorsementIssuedDate, 23)<=convert(varchar, @ToDate, 23)
		and p.MarketableProductKey=1 and pc.CoverageKey = 2 and p.CompanyKey=@CompanyKey
		order by ed.EndorsementIssuedDate


END

DECLARE @Counter INT=1,@LIMIT INT=(select count(*) from #TEMP) 
SET @Counter=1
WHILE ( @Counter <= @LIMIT)
BEGIN
    PRINT 'The counter value is = ' + CONVERT(VARCHAR,@Counter)
	--select * from #TEMP where sn=@Counter

	update #Temp set Commission=(TotalPremium*@Commission),NetPremium=TotalPremium-(TotalPremium*@Commission),TotalDue=(TotalPremium-(TotalPremium*@Commission))+TotalPolicyTaxAmount 
    SET @Counter  = @Counter  + 1
END
--UPDATE t1
--			set t1.Commission=(t2.TotalPremium*@Commission),t1.NetPremium=t2.TotalPremium-(t2.TotalPremium*@Commission),t1.TotalDue=(t2.TotalPremium-(t2.TotalPremium*@Commission))+t2.TotalPolicyTaxAmount
--			FROM #TEMP t1 INNER JOIN #TEMP t2 on t1.PolicyKey=t2.PolicyKey


		UPDATE t1
		  SET t1.PolicyStatus =  ed.TransactiontypedescForReport FROM TransactionType ed
				INNER JOIN  #TEMP t1 ON ed.TransactionTypeKey = t1.TransactionTypeKey--  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=ed.VersionSequence and ed.isFinancialEndirsement is null

UPDATE t1
		  SET t1.ERPExpirationDate =  case When erp.ERPExpirationDate  is null then 'Unlimited' else convert(varchar(10), erp.ERPExpirationDate, 23)  END FROM ErpEndorsementDetailsAcc erp
				INNER JOIN  #TEMP t1 ON erp.PolicyKey = t1.PolicyKey  WHERE t1.TransactionTypeKey=16 and t1.PolicyKey=erp.PolicyKey --and t1.TransactionSequence=erp.TransactionSequence
				
		UPDATE t1
		  SET t1.PolicyStatus =  'Free ERP' FROM EndorsementDetails ed
				INNER JOIN  #TEMP t1 ON ed.PolicyKey = t1.PolicyKey  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=ed.VersionSequence and ed.isFinancialEndirsement='N'
		
		UPDATE t1
		  SET t1.PolicyStatus =  'Free ERP' FROM EndorsementDetails ed
				INNER JOIN  #TEMP t1 ON ed.PolicyKey = t1.PolicyKey  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=ed.VersionSequence and ed.isFinancialEndirsement is null

	--Delete from #TEMP where TransactionTypeKey=14 and isFinancialEndorsement='N'
	--Delete from #TEMP where TransactionTypeKey=15 and isFinancialEndorsement='N'
	--select * from #TempPolicyKey

	--Update t1
	--set t1.PolicyExpirationDate= min(pt.PolicyExpirationDate) 
	--from PolicyTransaction pt
	----==select t1.PolicyExpirationDate, min(pt.PolicyExpirationDate) from PolicyTransaction pt
	--inner join  #TEMP t1 ON pt.PolicyKey=t1.PolicyKey and pt.VersionID=t1.VersionSequence 
	--where t1.PolicyExpirationDate is null 
	--and t1.TransactionTypeKey<6
	-- group by pt.PolicyExpirationDate
	update #TEMP set MarkAsRenewal='Y' where PolicyKey in(select PolicyKey from MarkAsRenewal where CompanyKey=3 and MarketableProductKey=1)
	Select IsIndicationPage,AccountID,convert(varchar(10), PolicyEffectiveDate, 101) as PolicyEffectiveDate,convert(varchar(10), TransactionEffectiveDate, 101) as TransactionEffectiveDate,AccountName,convert(varchar(10), PolicyExpirationDate, 101) as PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType,convert(varchar(10), PriorActDatePross, 101) as PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,convert(varchar(10), IssuedDate, 101) as  IssuedDate,PaymentMode,PolicyNumber,ContactPerson,PolicyStatus,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,TransactionTypeKey,isFinancialEndorsement
		,case when isdate(ERPExpirationDate)=1 then convert(varchar(10),cast(ERPExpirationDate as date),101) else  ERPExpirationDate end as ERPExpirationDate,VersionSequence,FirstReviewer,Company,Case when MarkAsRenewal is null then 'N' else 'Y' End as MarkAsRenewal 
	,Commission,NetPremium,TotalDue
	from #TEMP order by PolicyKey
	DROP Table #TempPolicyKey
	DROP TABLE #temp1
	DROP TABLE #TEMP
END















GO
