USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LawyersFormAttachmentAuto_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[LawyersFormAttachmentAuto_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LawyersFormAttachmentAuto_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[LawyersFormAttachmentAuto_p] AS' 
END
GO
-- select * from quote where policykey=83122
--select case when IsThisOptionFinalised is not null then IsThisOptionFinalised else 'N' END as IsThisOptionFinalised from quote where policykey=83122 and IsThisOptionFinalised!='Y'
--exec LawyersFormAttachment_p '65582', 'NM', '06/16/2018', 'N','Y'
--exec LawyersFormAttachmentAuto_p '133152', 'TX', '2021-09-22 00:00:00.0', 'Y'
ALTER PROCEDURE [dbo].[LawyersFormAttachmentAuto_p] 
	@policyKey  varchar(10),
	@stateCode varchar(10),
	@effectiveDate varchar(100),
	@IsNewFiling char(1)
AS
BEGIN
	-- To Disable New Filing
	--set @IsNewFiling = 'N'

	CREATE table #temppolicydata
	(
	IsClaimOptionType char(1),
	IsClaimExpensesType char(1),
	IsDollarDefense char(1),
	IsManualPremium char(1),
	AggregateLimit int,
	OccuranceLimit int,
	LimitSequence int
	)

	CREATE table #temppolicyform(
		FormID varchar(50),
		FormName varchar(200),
		FormDesc varchar(2000),
		FormFooter varchar(200),
		FormSequence int,
		FormType char(1)	
	)
	CREATE table #tempstatepolicyform(
		FormID varchar(50),
		FormName varchar(200),
		FormDesc varchar(2000),
		FormFooter varchar(200),
		FormSequence int,
		FormType char(1)
	)
	CREATE table #tempfinal(
		FormID varchar(50),
		FormName varchar(200),
		FormDesc varchar(2000),
		FormFooter varchar(200),
		FormSequence int,
		FormType char(1)		
	)
	
	declare @sqlquery varchar(1500)
	declare @query varchar(1500)	
	declare @IsClaimOptionType char(1)
	declare @IsClaimExpenseType char(1)
	declare @IsManualQuote char(1)
	declare @IsDollarDefense char(1)
	declare @IsClaimOptionTypeFlag char(1)
	declare @IsClaimExpenseTypeFlag char(1)
	declare @IsManualQuoteFlag char(1)
	declare @IsDollarDefenseFlag char(1)
	declare @IsClaimExpenseInsideFlag char(1)
	declare @PolicyStatusKey int
	declare @IsAppOfficeSharedWithAttorney char(1)
	declare @MTTaxAmmount numeric(18,3) = 0
	declare @CountyTaxAmmount numeric(18,3) = 0
	declare @XmlRatingData varchar(max)
	declare @AggregateLimit int
	declare @OccuranceLimit int
	declare @IsClaimInsideAndLimitGreaterThan1M char(1)
	declare @LimitSequence int
	declare @IsLimitGreaterThan500K char(1)

	set @IsClaimOptionTypeFlag = 'N'
	set @IsClaimExpenseTypeFlag = 'N'
	set @IsManualQuoteFlag = 'N'
	set @IsDollarDefenseFlag = 'N'	
	set @IsClaimExpenseInsideFlag='N'
	set @IsClaimInsideAndLimitGreaterThan1M='N'
	set @IsLimitGreaterThan500K='N'

	declare @IsPredecessorFormSelected char(1) = 'N'
	declare @IsSpecifiedAttorneySelected char(1) = 'N'
	declare @IsSpecificProfServicesSelected char(1) = 'N'
	declare @IsPreviouFirmFormSelected char(1) = 'N'
	declare @IsSuitForFeesAction char(1) = 'N'
	declare @hDoc int
	DECLARE @IsFinalisedOption char(1)='N'
	DECLARE @CompanyKey VARCHAR(20) =(Select CompanyKey from Policy where PolicyKey=@PolicyKey)
	 select @XmlRatingData=XmlOutputDatafromRating from RatingTrace where PolicyKey = @policyKey

	 --set @sqlquery = 'select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from FormLW where EffectiveDate = (select max(EffectiveDate) from FormLW where EffectiveDate <= '''+@effectiveDate+''') order by FormSequence '
	 --insert into #temppolicyform(FormID,FormName,FormDesc,FormFooter,FormSequence,FormType)  Execute( @sqlquery)

	 IF EXISTS (select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from FormLW where StateCode=@stateCode and EffectiveDate = (select max(EffectiveDate) from FormLW where StateCode=@stateCode and  EffectiveDate <= @effectiveDate and CompanyKey=@CompanyKey))
		BEGIN
			insert into #temppolicyform(FormID,FormName,FormDesc,FormFooter,FormSequence,FormType)  select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from FormLW where StateCode=@stateCode and EffectiveDate = (select max(EffectiveDate) from FormLW where StateCode=@stateCode and  EffectiveDate <= @effectiveDate  and CompanyKey=@CompanyKey) order by FormSequence
		END
	ELSE
		BEGIN
			insert into #temppolicyform(FormID,FormName,FormDesc,FormFooter,FormSequence,FormType)  select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from FormLW where StateCode='ALL' and EffectiveDate = (select max(EffectiveDate) from FormLW where StateCode='ALL' and  EffectiveDate <= @effectiveDate  and CompanyKey=@CompanyKey) order by FormSequence
		END

	 set @sqlquery = 'select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from StateFormLW where StateCode='''+@stateCode+''' and EffectiveDate = (select max(EffectiveDate) from StateFormLW where StateCode='''+@stateCode+''' and  EffectiveDate <= '''+@effectiveDate+'''  and CompanyKey='''+@CompanyKey+''') order by FormSequence'
	print @sqlquery
	 insert into #tempstatepolicyform(FormID,FormName,FormDesc,FormFooter,FormSequence,FormType)  Execute( @sqlquery)

	-- set @sqlquery = 'select FormID,FormName,FormDesc,FormFooter from FormLW where EffectiveDate =  (select max(EffectiveDate) from FormLW where EffectiveDate <= '''+@effectiveDate+''')  and FormType=''A'' order by FormSequence'
	-- insert into #tempadditional(FormID,FormName,FormDesc,FormFooter)  Execute( @sqlquery)

	 set @query = ''
	 if(isNUll(@IsFinalisedOption,'')!='Y')
	 begin
	 set @query = 'select CASE WHEN pc.IsClaimOptionType is null or pc.IsClaimOptionType='''' Then ''N'' ELSE pc.IsClaimOptionType END as IsClaimOptionType,
				CASE WHEN pc.IsClaimExpensesType is null or pc.IsClaimExpensesType='''' Then ''N'' ELSE pc.IsClaimExpensesType END as IsClaimExpensesType,
				 CASE WHEN pc.IsDollarDefense is null or pc.IsDollarDefense='''' Then ''N'' ELSE pc.IsDollarDefense END as IsDollarDefense,pc.IsManualPremium,
				pc.AggregateLimit,pc.OccuranceLimit,l.LimitSequence from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected=''Y'' and pc.PolicyKey = '+@policyKey+' '
	 end
	 if(isNUll(@IsFinalisedOption,'')='Y')
	 begin
	 set @query = 'select CASE WHEN pc.IsClaimOptionType is null or pc.IsClaimOptionType='''' Then ''N'' ELSE pc.IsClaimOptionType END as IsClaimOptionType,
				CASE WHEN pc.IsClaimExpensesType is null or pc.IsClaimExpensesType='''' Then ''N'' ELSE pc.IsClaimExpensesType END as IsClaimExpensesType,
				 CASE WHEN pc.IsDollarDefense is null or pc.IsDollarDefense='''' Then ''N'' ELSE pc.IsDollarDefense END as IsDollarDefense,
				pc.IsManualPremium,
				pc.AggregateLimit,pc.OccuranceLimit,l.LimitSequence from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected=''Y'' and q.IsThisOptionFinalised=''Y'' and pc.PolicyKey = '+@policyKey+' '
	 end
	 --print @query
	 insert into #temppolicydata(IsClaimOptionType,IsClaimExpensesType,IsDollarDefense,IsManualPremium,AggregateLimit,OccuranceLimit,LimitSequence) execute(@query)

	 --select * from #temppolicydata

	 Declare c1 cursor for
	 select IsClaimOptionType,IsClaimExpensesType,IsDollarDefense,IsManualPremium,AggregateLimit,OccuranceLimit,LimitSequence from #temppolicydata	   
	
	OPEN c1
	FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit,@LimitSequence
	WHILE @@FETCH_STATUS = 0
		begin
			--print  '@IsClaimOptionType Value is '  + @IsClaimOptionType 
			--print  '@IsClaimExpenseType Value is '  + @IsClaimExpenseType
			--print  '@IsClaimExpenseType Value is '  + @IsManualQuote
			--print  '@IsDollarDefense Value is '  + @IsDollarDefense
			--print  '--------------------------------------------------------------------'
			if(isNull(@IsClaimOptionType,'') = 'Y')
				begin
					set @IsClaimOptionTypeFlag = 'Y'
				end
			if(isNull(@IsClaimExpenseType,'') = 'Y')
				begin
					set @IsClaimExpenseTypeFlag = 'Y'
				end
			if(isNull(@IsManualQuote,'') = 'Y')
				begin
					set @IsManualQuoteFlag = 'Y'
				end
			if(isNull(@IsDollarDefense,'') = 'Y')
				begin
					set @IsDollarDefenseFlag = 'Y'
				end
			
			if(isNull(@IsClaimExpenseType,'') = 'N')
				begin
					set @IsClaimExpenseInsideFlag = 'Y'
				end
			if(isNull(@IsClaimExpenseType,'') = 'N' and (@AggregateLimit >= 1000000 or @stateCode='ND'))
				begin
					set @IsClaimInsideAndLimitGreaterThan1M = 'Y'
				end			
			if(@LimitSequence > 27)
				begin
					set @IsLimitGreaterThan500K = 'Y'
				end
			
						
		FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit,@LimitSequence					
		end
		CLOSE c1
		DEALLOCATE c1
			IF(@CompanyKey='1')
			BEGIN
			IF(@IsNewFiling = 'Y')
			Begin
				if(@IsClaimExpenseTypeFlag != 'Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 102 (04/17)'	
				end
				if(@IsDollarDefenseFlag != 'Y' or  @IsClaimOptionTypeFlag != 'N')
				begin
					delete from #temppolicyform where FormID = 'LPL - 103 (04/17)'
				end
				
				if(@IsClaimOptionTypeFlag != 'Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 104 (04/17)'
				end
				if(@IsClaimOptionTypeFlag != 'Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 117 (04/17)'
				end
				if(@stateCode = 'NJ')
				begin
					delete from #temppolicyform where FormID = 'LPL - 103 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 104 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 117 (04/17)'					
				end
				if(@stateCode = 'NM')
				begin
					delete from #temppolicyform where FormID = 'LPL - 102 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 103 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 104 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 117 (04/17)'	
					delete from #temppolicyform where FormID = 'LPL - 102 (04/19)'
					delete from #temppolicyform where FormID = 'LPL - 103 (04/19)'
					delete from #temppolicyform where FormID = 'LPL - 104 (04/19)'		
							
				end
				if(@IsDollarDefenseFlag = 'Y' and @IsClaimOptionTypeFlag = 'Y')
				begin
					--Attach 117
					delete from #temppolicyform where FormID = 'LPL - 104 (04/17)'	
				end

				if(@IsDollarDefenseFlag = 'N' and @IsClaimOptionTypeFlag = 'Y')
				begin
					--Attach 104
					delete from #temppolicyform where FormID = 'LPL - 117 (04/17)'	
				end	
						
				select @IsAppOfficeSharedWithAttorney=IsAppOfficeSharedWithAttorney from FirmLW where PolicyKey = @policyKey
				if(isNull(@IsAppOfficeSharedWithAttorney,'') != 'Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 106 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 106 (04/19)'		
				end
				
				select @IsPredecessorFormSelected=IsPredecessorFormSelected, @IsSpecifiedAttorneySelected=IsSpecifiedAttorneySelected, @IsSpecificProfServicesSelected=IsSpecificProfServicesSelected, @IsPreviouFirmFormSelected=IsPreviouFirmFormSelected, @IsSuitForFeesAction=IsSuitForFeesAction from AdditionalFormDataLW where PolicyKey=@policyKey
				if(isNUll(@IsPredecessorFormSelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 107 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 107 (04/19)'
				end
				if(isNUll(@IsSpecifiedAttorneySelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 108 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 108 (04/19)'
				end
				if(isNUll(@IsSpecificProfServicesSelected,'')!='Y')
				begin
				delete from #temppolicyform where FormID = 'LPL - 120 (04/17)'
				delete from #temppolicyform where FormID = 'LPL - 120 (04/19)'
				end
				if(isNUll(@IsSuitForFeesAction,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 135 (04/17)'
					delete from #temppolicyform where FormID = 'LPL - 135 (04/19)'
				end	
				if(@stateCode='WA')
				begin
					--Attach 117
					--delete from #temppolicyform where FormID = 'LPL - WA (04/17)'	
					delete from #tempstatepolicyform where FormID = 'LPL - WA (04/17)'	
				end
				if(@stateCode = 'VT')
				begin
					delete from #temppolicyform where FormID = 'LPL - 102 (04/17)'										
				end	
			-- Above code removes the Country Specific Form

			-- Below code will remove the state specific forms depending upon the rules
			--Group1	
				if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'NJ')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - 117 (04/17) NJ'	
				end
				if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'AK')
				begin				
					delete from #tempstatepolicyform where FormID ='FM 2.0.1033 03 12'
				end
				if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'AK')
				begin				
					delete from #tempstatepolicyform where FormID = 'MI 43 002 06 15'
				end	
				if(@IsClaimExpenseInsideFlag = 'N' and @stateCode = 'AR')
				begin
					delete from #tempstatepolicyform where FormID = 'MO 42 003 04 17'
				end
			--Group2				
				if(@IsClaimInsideAndLimitGreaterThan1M != 'Y' and @stateCode = 'ND')
				begin
					delete from #tempstatepolicyform where FormID = 'MO 42 001 04 17'	
				end
				if(@IsClaimExpenseInsideFlag = 'N' and @stateCode = 'MT')
				begin
					delete from #tempstatepolicyform where FormID = 'MO 42 004 04 17'	
				end
			--Group3
				if(@IsLimitGreaterThan500K = 'Y' and @stateCode = 'NM')
				begin		
					delete from #tempstatepolicyform where FormID = 'LPL - AMEND - NM1 (04-17)'					
				end
				if(@IsLimitGreaterThan500K = 'N' and @stateCode = 'NM')
				begin		
					delete from #tempstatepolicyform where FormID = 'LPL - AMEND - NM2 (04-17)'
					delete from #tempstatepolicyform where FormID = 'MO 42 002 04 17'
				end
				if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'NM')
				begin		
					delete from #tempstatepolicyform where FormID = 'LPL - 117 (04-17)'					
				end
			--Group4
				if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'MA')
				begin				
					delete from #tempstatepolicyform where FormID ='LPL - 102 (04/17)'
				end
				if(@IsDollarDefenseFlag != 'Y' and @stateCode = 'MA')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - 103 (04/17)'	
				end
				if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'MA')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - 104 (04/17)'	
				end
				--Group5
				if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'AK')
				begin				
					delete from #tempstatepolicyform where FormID ='FM 2.0.1033 03 12'
				end
				if(@IsClaimExpenseTypeFlag = 'Y' and @stateCode = 'AK')
				begin				
					delete from #tempstatepolicyform where FormID ='MI 43 002 06 15'
				end
				if(@IsClaimExpenseInsideFlag = 'N' and @stateCode = 'WY')
				begin				
					delete from #tempstatepolicyform where FormID ='MO 42 005 04 17'
				end

				
				--Form attachment for NM2 ratings its a temporary fix
		DECLARE @COUNT INT
		SET @COUNT=(SELECT case when count(FormID) is null then 0 else count(FormID) end from #tempstatepolicyform where FormID in(select formid from StateFormLW where statecode='NM' and EffectiveDate='2019-06-01'))
		if(@COUNT>0)
		BEGIN
			
			CREATE table #tempNM
			(
			SN0 int identity(1,1),
			FormID VARCHAR(500)
			)
			DECLARE @aggregateFormAttached CHAR(1)
			set @aggregateFormAttached='N'
			DECLARE @IsClaimOptionTypeNew CHAR
			DECLARE @IsClaimExpensesTypeNew CHAR
			DECLARE @IsDollarDefenseNew CHAR
			DECLARE @LimitSequenceNew INT
			 Declare c4 cursor for
				 select IsClaimOptionType,IsClaimExpensesType,IsDollarDefense,LimitSequence from #temppolicydata	   
	
				OPEN c4
				FETCH NEXT FROM c4 into @IsClaimOptionTypeNew,@IsClaimExpensesTypeNew,@IsDollarDefenseNew,@LimitSequenceNew
				WHILE @@FETCH_STATUS = 0
					begin
					print 'going to NM2'
			
						if(@stateCode = 'NM' and @IsDollarDefenseNew = 'Y' and @IsClaimExpensesTypeNew='Y' )
							begin		
								INSERT INTO	#tempNM(FormID)Values('LPL-AMEND-NM1 (04-19)')
						end
							if(@LimitSequenceNew >= 25 and @stateCode = 'NM' and @IsDollarDefenseNew = 'N' and  @IsClaimExpensesTypeNew='N')
							begin	
									INSERT INTO	#tempNM(FormID)Values('LPL-AMEND-NM2 (04-19)')
									INSERT INTO	#tempNM(FormID)Values('MO 42 002 04 19')
							end
							if(@LimitSequenceNew >= 25  and @stateCode = 'NM' and @IsDollarDefenseNew = 'Y' and  @IsClaimExpensesTypeNew='N')
							begin		
									INSERT INTO	#tempNM(FormID)Values('LPL-AMEND-NM3 (04-19)')
									INSERT INTO	#tempNM(FormID)Values('MO 42 006 04 19')
							end
							if(@LimitSequenceNew >= 25 and @stateCode = 'NM' and @IsDollarDefenseNew = 'N' and  @IsClaimExpensesTypeNew='Y')
							begin		
								INSERT INTO	#tempNM(FormID)Values('LPL-AMEND-NM4 (04-19)')
								INSERT INTO	#tempNM(FormID)Values('MO 42 007 04 19')
							end
							if(@stateCode = 'NM' and  @IsClaimOptionTypeNew='Y' and @aggregateFormAttached='N')
							begin		
								INSERT INTO	#tempNM(FormID)Values('LPL-117 (04-19) NM')
								set @aggregateFormAttached='Y'
							end
						FETCH NEXT FROM c4 into @IsClaimOptionTypeNew,@IsClaimExpensesTypeNew,@IsDollarDefenseNew,@LimitSequenceNew			
					end
					CLOSE c4
					DEALLOCATE c4
					--select @aggregateFormAttached as aggregateFormAttached
					if(@aggregateFormAttached='N')
					BEGIN
									delete from #temppolicyform where FormID = 'LPL-117 (04-19) NM'	
					END
						delete from #tempstatepolicyform where FormID not in(select FormID from #tempNM)
				END

			End
			ELSE
			Begin
				delete from #temppolicyform where FormID = 'LPL - 105 (09/10)'

				if(@IsClaimExpenseTypeFlag != 'Y' or  @stateCode = 'VT' or @stateCode = 'MA')
				begin
					delete from #temppolicyform where FormID = 'LPL - 102 (09/10)'	
				end
				if(@IsClaimOptionTypeFlag != 'Y' or  @stateCode = 'MA')
				begin
					delete from #temppolicyform where FormID = 'LPL - 104  (03/13)'	
				end
				if(@IsDollarDefenseFlag != 'Y'  or  @stateCode = 'MA' or  @stateCode = 'NM' or  @stateCode = 'NJ')
				begin
					delete from #temppolicyform where FormID = 'LPL - 103  (03/13)'	
				end			
				select @IsAppOfficeSharedWithAttorney=IsAppOfficeSharedWithAttorney from FirmLW where PolicyKey = @policyKey
				if(isNull(@IsAppOfficeSharedWithAttorney,'') != 'Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 106 (09/10)'	
				end
				if(@stateCode = 'MA')
				begin
					delete from #temppolicyform where FormID = 'LPL - 129 (08/13)'	
				end	


				select @IsPredecessorFormSelected=IsPredecessorFormSelected, @IsSpecifiedAttorneySelected=IsSpecifiedAttorneySelected, @IsSpecificProfServicesSelected=IsSpecificProfServicesSelected, @IsPreviouFirmFormSelected=IsPreviouFirmFormSelected, @IsSuitForFeesAction=IsSuitForFeesAction  from AdditionalFormDataLW where PolicyKey=@policyKey
				print @IsPredecessorFormSelected
				print '-----'
				if(isNUll(@IsPredecessorFormSelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 107 (09/10)'
				end
				if(isNUll(@IsSpecifiedAttorneySelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 108 (09/10)'
				end
				if(isNUll(@IsSpecificProfServicesSelected,'')!='Y')
				begin
				delete from #temppolicyform where FormID = 'LPL - 120 (03/11)'
				end
				if(isNUll(@IsPreviouFirmFormSelected,'')!='Y')
				begin
				delete from #temppolicyform where FormID = 'LPL - 121 (03/12)'
				end
				if(isNUll(@IsSuitForFeesAction,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'LPL - 135 (03/14)'
				end
		
			-- Above code removes the Country Specific Form
			-- Below code will remove the state specific forms depending upon the rules

			
				if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'MA')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL-102 (09/10) MA - USF'	
				end
				if(@IsDollarDefenseFlag != 'Y' and @stateCode = 'MA')
				begin
					delete from #tempstatepolicyform where FormID = 'MA - LPL - 103 (03/13)'	
				end
				if(@IsClaimOptionTypeFlag != 'Y' and @stateCode = 'MA')
				begin
					delete from #tempstatepolicyform where FormID = 'MA - LPL-104 (03/13)'	
				end
				if(@stateCode = 'MA')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - 105 (09/10) MA - USF'	
				end

				if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'PA')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - NOTICE - PA # 2 (09/10)'
					delete from #tempstatepolicyform where FormID = 'LPL - NOTICE - PA #1 (09/10)'
				end

				if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'WY')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - AMEND - WY #2 - (09/10)'				
				end
				if(@IsManualQuoteFlag != 'Y' and @stateCode = 'OH')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - 116 - OH (09/10)'	
				end
				if(@stateCode = 'NJ')
				begin
					delete from #tempstatepolicyform where FormID = 'LPL - NOTICE - NJ (09/10)'	
				end

				select @PolicyStatusKey=PolicyStatusKey from Policy where PolicyKey=@PolicyKey
				if(@stateCode='CT')
				begin
					if(@PolicyStatusKey = 1)
					begin
						delete from #tempstatepolicyform where FormID = 'LPL CT - 131 (08-13)'
					end
					if(@PolicyStatusKey = 2)
					begin
						delete from #tempstatepolicyform where FormID = 'LPL - CT - 101 (09/10)'
					end
				end
				if(@stateCode='FL')
				begin
					if(@PolicyStatusKey = 1)
					begin
						delete from #tempstatepolicyform where FormID = 'LPL FL - 131 (08-13)'
					end
					if(@PolicyStatusKey = 2)
					begin
						delete from #tempstatepolicyform where FormID = 'LPL - FL - 101 (09/10)'
					end
				end

				if(@stateCode = 'KY')
				begin
					--declare @hDoc int
					EXEC sp_xml_preparedocument @hDoc OUTPUT, @XmlRatingData

					SELECT @MTTaxAmmount=MTTaxAmmount FROM OPENXML(@hdoc, 'Response/PremiumInfoLW', 3)  WITH (MTTaxAmmount numeric(18,3) 'MTTaxAmmount'  )          
					SELECT @CountyTaxAmmount=CountyTaxAmmount FROM OPENXML(@hdoc, 'Response/PremiumInfoLW', 3)  WITH (CountyTaxAmmount numeric(18,3) 'CountyTaxAmmount'  )
					if(isNUll(@MTTaxAmmount,'') = 0)
					begin
						if(isNUll(@CountyTaxAmmount,'') = 0)
						begin
							delete from #tempstatepolicyform where FormID = 'KY Tax Form (12/08)'
						end
					end
				end
				Print @IsClaimInsideAndLimitGreaterThan1M
				if(@IsClaimInsideAndLimitGreaterThan1M != 'Y' and @stateCode = 'ND')
				begin
				
					delete from #tempstatepolicyform where FormID = 'MO 42 001 06 15'
				end

				if(@IsClaimExpenseTypeFlag != 'Y' and @stateCode = 'AK')
				begin
				
					delete from #tempstatepolicyform where FormID ='FM 2.0.1033 03 12'
				end

				if(@IsClaimExpenseInsideFlag != 'Y' and @stateCode = 'AK')
				begin
				
					delete from #tempstatepolicyform where FormID = 'MI 43 002 06 15'
				end
	
			End

			END

			IF(@CompanyKey='3')
			BEGIN
				Print 'ISMIE Form Attachment Flow'
				

				if(@IsClaimExpenseTypeFlag != 'Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F004  (09/01/2021)'	
				end
				if(@IsDollarDefenseFlag != 'Y' or  @IsClaimOptionTypeFlag != 'N')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F005  (09/01/2021)'
				end
				
				
				if(@stateCode = 'NJ')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F005  (09/01/2021)'
					delete from #temppolicyform where FormID = 'ALA - 04 - F006  (09/01/2021)'
					
				end
				
				if(@IsClaimOptionTypeFlag != 'Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F006  (09/01/2021)'	
				end
				if(@IsClaimOptionTypeFlag != 'Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F014  (09/01/2021)'	
				end
				if(@IsDollarDefenseFlag = 'Y' and @IsClaimOptionTypeFlag = 'Y')
				begin
					--Attach 117
					delete from #temppolicyform where FormID = 'ALA - 04 - F006  (09/01/2021)'	
				end

				if(@IsDollarDefenseFlag = 'N' and @IsClaimOptionTypeFlag = 'Y')
				begin
					--Attach 104
					delete from #temppolicyform where FormID = 'ALA - 04 - F014  (09/01/2021)'	
				end	
						
				select @IsAppOfficeSharedWithAttorney=IsAppOfficeSharedWithAttorney from FirmLW where PolicyKey = @policyKey
				if(isNull(@IsAppOfficeSharedWithAttorney,'') != 'Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F008  (09/01/2021)'
					
				end
				
				select @IsPredecessorFormSelected=IsPredecessorFormSelected, @IsSpecifiedAttorneySelected=IsSpecifiedAttorneySelected, @IsSpecificProfServicesSelected=IsSpecificProfServicesSelected, @IsPreviouFirmFormSelected=IsPreviouFirmFormSelected, @IsSuitForFeesAction=IsSuitForFeesAction from AdditionalFormDataLW where PolicyKey=@policyKey
				if(isNUll(@IsPredecessorFormSelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F009  (09/01/2021)'
					
				end
				if(isNUll(@IsSpecifiedAttorneySelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F010  (09/01/2021)'
					
				end
				if(isNUll(@IsSpecificProfServicesSelected,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F037  (09/01/2021)'
				end
				--if(isNUll(@IsPreviouFirmFormSelected,'')!='Y')
				--begin
				--	delete from #temppolicyform where FormID = 'ALA - 04 - 121 (09/01/2021)'
				--end
				if(isNUll(@IsSuitForFeesAction,'')!='Y')
				begin
					delete from #temppolicyform where FormID = 'ALA - 04 - F017  (09/01/2021)'
				
				end	
				

			END
		--	select * from #temppolicyform 
		--	select * from #tempstatepolicyform
	 insert into  #tempfinal select * from #temppolicyform 
	 insert into #tempfinal select * from #tempstatepolicyform
	
	 
	 delete from PolicyFormLW where PolicyKey=@policyKey
	 declare @FormID varchar(50)
	 declare @FormName varchar(200)
	 declare @FormDesc varchar(2000)
	 declare @FormFooter varchar(50)
	 declare @FormSequence int
	 declare @FormType char(1)

	declare c2 cursor for
		select FormID,FormName,FormDesc,FormFooter,FormSequence,FormType from #tempfinal
	OPEN c2
	FETCH NEXT FROM c2 into @FormID,@FormName,@FormDesc,@FormFooter,@FormSequence,@FormType
	WHILE @@FETCH_STATUS = 0
	begin
		insert into PolicyFormLW(PolicyKey,StateCode,FormID,FormName,FormDesc,FormFooter,LastUpdateTimeStamp,FormSequence,FormType)
		values(@policyKey,@stateCode,@FormID,@FormName,@FormDesc,@FormFooter,GETDATE(),@FormSequence,@FormType)
	FETCH NEXT FROM c2 into @FormID,@FormName,@FormDesc,@FormFooter,@FormSequence,@FormType
	end
	CLOSE c2
	DEALLOCATE c2

	select ROW_NUMBER() OVER (ORDER BY PolicyKey ASC) AS ROWID,FormID,StateCode,PolicyKey,FormName,FormDesc,LastUpdateUserID,LastUpdateTimeStamp,FormFooter,FormType,FormSequence,RecordType,CreatedDate,CreatedBy  from PolicyFormLW where PolicyKey=@policyKey order by FormSequence

	 drop table #temppolicydata
	 drop table #temppolicyform
	 drop  table #tempstatepolicyform
	 drop table #tempfinal
END














GO
