USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAttorneyInsuranceInfo_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertAttorneyInsuranceInfo_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAttorneyInsuranceInfo_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertAttorneyInsuranceInfo_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertAttorneyInsuranceInfo_p]
(
@PolicyKey INT,
@insuranceCarrierFirstAttoryneyInsurance VARCHAR(500),
@policyPeriodFirstAttoryneyInsurance VARCHAR(500),
@limitDeductibleFirstAttoryneyInsurance VARCHAR(500),
@numberOfAttorneysFirstAttoryneyInsurance INT,
@premiumFirstAttoryneyInsurance INT,
@insuranceCarrierSecondAttorneyInsurance  VARCHAR(500),
@policyPeriodSecondAttorneyInsurance VARCHAR(500),
@limitDeductibleSecondAttorneyInsurance  VARCHAR(500),
@numberOfAttorneysSecondAttorneyInsurance INT,
@premiumSecondAttorneyInsurance INT,
@insuranceCarrierThirdAttorneyInsurance  VARCHAR(500),
@policyPeriodThirdAttorneyInsurance VARCHAR(500),
@limitDeductibleThirdAttorneyInsurance  VARCHAR(500),
@numberOfAttorneysForThirdAttorneyInsurance INT,
@premiumThirdAttorneyInsurance INT,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50)
)
	
AS
BEGIN
	DECLARE @Count INT=0
	SELECT @COUNT=count(*) FROM AttorneysInsurance WHERE POLICYKEY=@PolicyKey
	
	IF(@Count=0)
		BEGIN
		INSERT INTO AttorneysInsurance (insuranceCarrierFirstAttoryneyInsurance,policyPeriodFirstAttoryneyInsurance,
		limitDeductibleFirstAttoryneyInsurance,numberOfAttorneysFirstAttoryneyInsurance,premiumFirstAttoryneyInsurance,insuranceCarrierSecondAttorneyInsurance,
		policyPeriodSecondAttorneyInsurance,limitDeductibleSecondAttorneyInsurance,numberOfAttorneysSecondAttorneyInsurance,premiumSecondAttorneyInsurance,
		insuranceCarrierThirdAttorneyInsurance,policyPeriodThirdAttorneyInsurance,limitDeductibleThirdAttorneyInsurance,numberOfAttorneysForThirdAttorneyInsurance,
		premiumThirdAttorneyInsurance,policyKey,LastUpdateUserID,LastUpdateTimeStamp)
		values(@insuranceCarrierFirstAttoryneyInsurance,@policyPeriodFirstAttoryneyInsurance,@limitDeductibleFirstAttoryneyInsurance
		,@numberOfAttorneysFirstAttoryneyInsurance,@premiumFirstAttoryneyInsurance,@insuranceCarrierSecondAttorneyInsurance,@policyPeriodSecondAttorneyInsurance,
		@limitDeductibleSecondAttorneyInsurance,@numberOfAttorneysSecondAttorneyInsurance,@premiumSecondAttorneyInsurance,@insuranceCarrierThirdAttorneyInsurance,
		@policyPeriodThirdAttorneyInsurance,@limitDeductibleThirdAttorneyInsurance,@numberOfAttorneysForThirdAttorneyInsurance,@premiumThirdAttorneyInsurance,@PolicyKey,@LastUpdateUserID,@LastUpdateTimeStamp);

		END
	ELSE
		BEGIN
		UPDATE AttorneysInsurance SET insuranceCarrierFirstAttoryneyInsurance=@insuranceCarrierFirstAttoryneyInsurance,
			policyPeriodFirstAttoryneyInsurance=@policyPeriodFirstAttoryneyInsurance,
			limitDeductibleFirstAttoryneyInsurance=@limitDeductibleFirstAttoryneyInsurance,
			numberOfAttorneysFirstAttoryneyInsurance=@numberOfAttorneysFirstAttoryneyInsurance,
			premiumFirstAttoryneyInsurance=@premiumFirstAttoryneyInsurance,
			insuranceCarrierSecondAttorneyInsurance=@insuranceCarrierSecondAttorneyInsurance,
			policyPeriodSecondAttorneyInsurance=@policyPeriodSecondAttorneyInsurance,
			limitDeductibleSecondAttorneyInsurance=@limitDeductibleSecondAttorneyInsurance,
			numberOfAttorneysSecondAttorneyInsurance=@numberOfAttorneysSecondAttorneyInsurance,
			premiumSecondAttorneyInsurance=@premiumSecondAttorneyInsurance,
			insuranceCarrierThirdAttorneyInsurance=@insuranceCarrierThirdAttorneyInsurance,
			policyPeriodThirdAttorneyInsurance=@policyPeriodThirdAttorneyInsurance,
			limitDeductibleThirdAttorneyInsurance=@limitDeductibleThirdAttorneyInsurance,
			numberOfAttorneysForThirdAttorneyInsurance=@numberOfAttorneysForThirdAttorneyInsurance,
			premiumThirdAttorneyInsurance=@premiumThirdAttorneyInsurance,
			LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
		WHERE PolicyKey=@PolicyKey
		END


END


GO
