USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertClaimAgeDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertClaimAgeDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertClaimAgeDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertClaimAgeDetails_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertClaimAgeDetails_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml
	
	

)
AS
BEGIN
	
	DELETE FROM ClaimAgeLW WHERE POLICYKEY=@PolicyKey

			INSERT INTO ClaimAgeLW(Year, PartTime,PolicyKey)
			SELECT
				
				doc.col.value('Year[1]', 'INT') Year,
				doc.col.value('PartTime[1]', 'VARCHAR') PartTime,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey
			 FROM @xml.nodes('/Root/Root1') doc(col)
			
			
		
END

GO
