USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SynchronizeReportsData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SynchronizeReportsData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SynchronizeReportsData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SynchronizeReportsData_p] AS' 
END
GO
--exec SynchronizeReportsData_p
ALTER PROCEDURE [dbo].[SynchronizeReportsData_p]
AS
BEGIN
	
	print 'd'
	Update t
	set t.archive_date=pb.archive_date,t.report_file_name=pb.report_file_name,t.isarchived=pb.isarchived
	from accinsurancedb.dbo.pone_batch_reports t inner join accinsurancedb_dump.dbo.pone_batch_reports pb on t.batchreport_id=pb.batchreport_id
	-- delete from accinsurancedb.dbo.pone_batch_reports   where batchreport_id  not in(select batchreport_id from accinsurancedb_dump.dbo.pone_batch_reports) and isarchived='Y'
--select * from accinsurancedb.dbo.pone_batch_reports   where batchreport_id  not in(select batchreport_id from accinsurancedb_dump.dbo.pone_batch_reports) and isarchived='Y'

	CREATE TABLE #BATCHREPORT(
	ReportID INT
	)
	
	INSERT INTO #BATCHREPORT(ReportID)SELECT batchreport_id from accinsurancedb.dbo.pone_batch_reports where isarchived is null

	DECLARE @BatchReportID INT
	
Declare c1 cursor for
       select ReportID from #BATCHREPORT
           
       
       OPEN c1
       FETCH NEXT FROM c1 into @BatchReportID
       WHILE @@FETCH_STATUS = 0
              begin
              
				IF NOT EXISTS(select * from  accinsurancedb_dump.dbo.pone_batch_reports where batchreport_id=@BatchReportID)
				BEGIN
					 INSERT INTO accinsurancedb_dump.dbo.pone_batch_reports(report_name,search_xml,request_date,last_updated_by,last_updated_ts,search_xml_desc,project_name,output_type)
					SELECT report_name,search_xml,request_date,last_updated_by,last_updated_ts,search_xml_desc,project_name,output_type
					from accinsurancedb.dbo.pone_batch_reports where batchreport_id=@BatchReportID
				END
              FETCH NEXT FROM c1 into @BatchReportID                     
              end
              CLOSE c1
              DEALLOCATE c1

	
	DROP TABLE #BATCHREPORT
	
	
	
END
--select * from pone_batch_reports
--delete from pone_batch_reports where isarchived is null
--DBCC CHECKIDENT ('pone_batch_reports', RESEED, 1202);  
--delete from 
GO
