USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[realEstateCommercial_SP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[realEstateCommercial_SP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[realEstateCommercial_SP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[realEstateCommercial_SP] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[realEstateCommercial_SP] 
(
@PolicyKey INT
)
-- exec realEstateCommercial_SP 63594
AS
BEGIN


declare @realEstateCommercial varchar(10)
declare @realEstateResidential varchar(10)

select @realEstateCommercial = (case when Percentage > 0 then  'Y' else 'N' end)
from SmartSearchValue ssv
inner join AOPLW al on al.AOPKey =  ssv.AOPKey
where PolicyKey=@PolicyKey	 and al.AOPDescNew = 'Real Estate Commercial'


select @realEstateResidential = (case when Percentage > 0 then  'Y' else 'N' end)
from SmartSearchValue ssv
inner join AOPLW al on al.AOPKey =  ssv.AOPKey
where PolicyKey=@PolicyKey	 and al.AOPDescNew = 'Real Estate Residential'


select @realEstateCommercial as realEstateCommercial,@realEstateResidential as realEstateResidential  


END



GO
