USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConvertBrokerageToPLA_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ConvertBrokerageToPLA_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConvertBrokerageToPLA_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ConvertBrokerageToPLA_LW] AS' 
END
GO

--exec ConvertBrokerageToPLA_LW 7214, 1
ALTER procedure [dbo].[ConvertBrokerageToPLA_LW] 
@BrokeragePolicyKey int,
@UserNo int


as begin

if exists(select * from brokeragelw where BrokeragePolicyKey=@BrokeragePolicyKey)
begin
	print 'Brokerage data exist'
	declare @PolicyKey_Inserted int,@VersionKey_Inserted int,@Policykey INT,@Status INT,@MonthCount INT,@AccountEmail VARCHAR(200),@IsPriorActDateFull CHAR,@FirmYear INT
	declare @AccountKey_Inserted int, @AddressKey_Inserted int,@VersionSequence_Inserted int,@TransactionSequence_Inserted int, @CoverageSequence_Inserted int
	declare @AgentName varchar(100), @PolicyEffectiveDate datetime,@EffectiveDate datetime,@TransactionEffectiveDate datetime,@PolicyExpirationDate datetime
	declare @TransactionExpirationDate datetime, @maxAccountID int, @QuoteNumber varchar(100),@AppCreatedDate datetime, @IsFirmHaveLawyersLiabilityInsurance char(20)
	declare @CompanyKey int,@AggregateLimit int,@OccuranceLimit int,@AggregateDeductible int,@LimitSequencePross int,@DeductibleSequencePross int,@PolicyPriorActDatePross DATETIME
	declare @IsClaimExpensesType char(1), @IsClaimOptionType char(1), @IsFirmPracticeInOtherState char(1),@IsProfDefenceExpense char(1),@IsRenewed char, @AccountID int, @PresentDate DATETIME,@ProInsPremium numeric(15,4) 

	select top 1 @Status=Statuskey,@IsRenewed=isRenewedAsPLAPolicy,@EffectiveDate=BrokerPolicyEffectiveDate,@PresentDate=GETDATE(),@MonthCount= DATEDIFF(month, @EffectiveDate, getdate()) from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey
	PRINT @IsRenewed

	if(@UserNo is null or @UserNo='')
	set @UserNo=0;
	--select @CurrentYear,@EffectiveYear
	if( @Status=6 AND isnull(@IsRenewed,'') != 'Y'
	)
	begin 
		begin try

		BEGIN TRANSACTION

		print 'Not Renewed'
		update BrokerageLW set isRenewedAsPLAPolicy='Y' where BrokeragePolicyKey = @BrokeragePolicyKey
		set @AppCreatedDate = convert(varchar, GETDATE(), 101)
		select @AgentName=AgentName from UserDetails where UserNo=@UserNo
		set @IsFirmHaveLawyersLiabilityInsurance = 'Y'
       

		select @maxAccountID = AccountID,@PolicyEffectiveDate= BrokerPolicyExpirationDate,@TransactionEffectiveDate=BrokerPolicyExpirationDate,
		@PolicyExpirationDate= DATEADD(M,12,BrokerPolicyExpirationDate),@TransactionExpirationDate= DATEADD(M,12,BrokerPolicyExpirationDate),
		@AccountEmail=Email  from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey
  
		insert into Account (AccountID,AccountName,AccountEmail,AccountVersion,CreatedBy,CreatedDate)
		select @maxAccountID,AccountName,Email,1,@UserNo,getdate() from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey

		select @AccountKey_Inserted=IDENT_CURRENT('Account')

		print '1'
		insert into Address(Address1,street,Address2,City,StateCode,AddressTypeKey,WorkPhone,CreatedBy,CreatedDate,zip,Zip4)
		select			    Address,Address,Address2,City,State,1,Phone,@UserNo,getdate(),substring(Zip, 0,6), substring(Zip, 7,10) 
		from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey

		select @AddressKey_Inserted=IDENT_CURRENT('Address')
		print '2'
		insert into AccountAddress (AccountKey,AddressKey,CreatedBy,CreatedDate) values(@AccountKey_Inserted,@AddressKey_Inserted,@UserNo,getdate())

		insert into Policy(PolicyEffectiveDate,AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
		PolicyStatusKey,AppCreatedDate,RenewOfPolicyNumber,CompanyKey,CreatedBy,CreatedDate)
		select @PolicyEffectiveDate,@maxAccountID,'N','Y','N',2,
		1,@AppCreatedDate,BrokeredPolicyNumber,3,@UserNo,getdate() from BrokerageLW 
		where BrokeragePolicyKey = @BrokeragePolicyKey
		print '3'

		select @PolicyKey_Inserted=IDENT_CURRENT('Policy')

		INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
		Select @PolicyKey_Inserted,@UserNo,getdate(),@UserNo,getdate() 
		print '4'
		select @VersionKey_Inserted=IDENT_CURRENT('Version')
		--select @VersionKey_Inserted as VersionKey
		select @AppCreatedDate = AppCreatedDate from  Policy where  PolicyKey= @PolicyKey_Inserted

		--set @QuoteNumber = 'QN-000' + @PolicyKey_Inserted
		set @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)

		---Code paste below
		insert into FirmLW(PolicyKey,createdby,VersionKey,CreatedDate,isConvertedFromBrokerage,IsFirmHaveLawyersLiabilityInsurance,isConvertedFromBrokerageEmail,isNewApp)

		SELECT @PolicyKey_Inserted,@UserNo,@VersionKey_Inserted,getdate(),'Y','Y','Y','Y' 
		from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey

		select @VersionSequence_Inserted=IDENT_CURRENT('FirmLW')
		print '5'
		---Code ended Here

		insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
		ProducerCode,VersionSequence,VersionKey,StatusKey)
		select @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,1,@PolicyExpirationDate,@TransactionExpirationDate,
		(case when ProducerCode='' then null else ProducerCode END),@VersionSequence_Inserted,@VersionKey_Inserted,1
		from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey


		select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')
		print '6'
		update Policy set QuoteNumber=@QuoteNumber,VersionKey=@VersionKey_Inserted where PolicyKey=@PolicyKey_Inserted


		select @AggregateLimit=brl.AggregateLimit,@OccuranceLimit= brl.OccuranceLimit ,@AggregateDeductible=brd.AggregateDeductible,@IsClaimExpensesType=brc.IsClaimOptionType,@IsClaimOptionType=brc.IsClaimExpensesType,@IsProfDefenceExpense=brc.IsDollarDefense,
		@ProInsPremium=br.Premium
		from BrokerageLW br
		inner join BrokeragePolicyCoverage brc on brc.BrokeragePolicyKey=br.BrokeragePolicyKey
		inner join BrokerageLimits brl on brl.LimitSequence=brc.LimitSequence
		inner join brokerageDeductibles brd on brd.DeductibleSequence=brc.DeductibleSequence
		where br.BrokeragePolicyKey=@BrokeragePolicyKey

		select @LimitSequencePross=LimitSequence from Limits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
		select @DeductibleSequencePross = DeductibleSequence from Deductibles where AggregateDeductible=@AggregateDeductible and CoverageKey=3
 				

		insert into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,CreatedBy,CreatedDate,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense)
							select @PolicyKey_Inserted,@TransactionSequence_Inserted,2,3,@UserNo,getdate(),@AggregateLimit,@OccuranceLimit,@AggregateDeductible,@IsClaimExpensesType,@IsClaimOptionType,@IsProfDefenceExpense 

		select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')
		print '7'
		------------------------------------------------------------------------
		insert into Quote (PolicyKey,TransactionSequence,CreatedBy,CreatedDate,IsFirstQuote,IsQuoteSelected)
		select @PolicyKey_Inserted,@TransactionSequence_Inserted,@UserNo,getdate(),'Y','Y'
		print '8'
		select @LimitSequencePross = LimitSequence from Limits lt inner join PolicyCoverage pc
		on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit 
		 where lt.CoverageKey=3 
		 and PolicyKey = @PolicyKey 
		 and TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')

		insert into RatingTrace (PolicyKey,TransactionSequence,CreatedBy,CreatedDate)
		select @PolicyKey_Inserted,@TransactionSequence_Inserted,@UserNo,getdate() 
		   print '9'  
   
		 select @IsPriorActDateFull=IsPriorActDateFull,@FirmYear=FirmYear,@PolicyPriorActDatePross=PriorActDatePross from ProfessionalLiabilityInsDetailLW
		 where Policykey in(select max(pt.PolicyKey)  from PolicyTransaction pt
			inner join Account ac on ac.AccountKey=pt.AccountKey
			where AccountEmail=@AccountEmail and pt.PolicyKey<@PolicyKey_Inserted)  
   
		insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate,InsuranceCompanyNamePross,ProInsPremium,FirmYear)
					select @PolicyKey_Inserted,@VersionSequence_Inserted,@PolicyEffectiveDate,(CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'DR' ELSE 'DA' END),@PolicyPriorActDatePross,
					(CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'PC' ELSE 'AA' END),@IsPriorActDateFull,@LimitSequencePross,@DeductibleSequencePross,@IsProfDefenceExpense,@VersionKey_Inserted,@UserNo,getdate(),'Hanover',@ProInsPremium,@FirmYear
		
		print '10'
		/************************************************************************************************/
		COMMIT
		select @PolicyKey_Inserted as PolicyKey, @TransactionSequence_Inserted as TransactionSequence,@CoverageSequence_Inserted as CoverageSequence ,  @AddressKey_Inserted as AddressKey,@AccountKey_Inserted as AccountKey,@VersionSequence_Inserted as VersionSequence,@AppCreatedDate as dumyDate 


		end try
		begin catch
			print error_message()
			--update FirmLW set IsRenewed=NULL where PolicyKey=@PolicyKey
			update BrokerageLW set isRenewedAsPLAPolicy=NULL where BrokeragePolicyKey = @BrokeragePolicyKey
			rollback 

		end catch
	end

	end

	if( @Status<>6 OR isnull(@IsRenewed,'') = 'Y')
	begin

		begin try
			   print 'Already Renewed'
       
			   select @AccountID=AccountID from BrokerageLW where BrokeragePolicyKey = @BrokeragePolicyKey
				 select @PolicyKey=max(policykey) from Policy where AccountID =@AccountID
			   select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence,p.AppCreatedDate as dumyDate
				from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc 
				where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey =@PolicyKey and a.AccountID=@AccountID order by  PolicyKey desc
		end try
		begin catch
			print error_message()
			rollback 
		end catch

	
	END
ELSE
	BEGIN
		print 'FQ data exist'
		  select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence,p.AppCreatedDate as dumyDate
				from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc 
				where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey =@BrokeragePolicyKey 
	END
END


















GO
