USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayPriorPolicyGrossRevenueACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayPriorPolicyGrossRevenueACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayPriorPolicyGrossRevenueACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayPriorPolicyGrossRevenueACC_p] AS' 
END
GO
--exec [DisplayPriorPolicyGrossRevenueACC_p] 150298	, 131928	
ALTER PROCEDURE [dbo].[DisplayPriorPolicyGrossRevenueACC_p]
(
@PolicyKey INT,
@VersionKey INT
)
	
AS
BEGIN
	DECLARE @PreviousPolicykey INT,@previousVersionSequence INT,@NBYearEndDate VARCHAR(20)	

	select top 1 @PreviousPolicykey=p.policykey ,@previousVersionSequence=f.VersionSequence  FROM policy p 
	inner join firm f on p.policykey=f.policykey 
	where p.PolicyKey in (select MAX(PolicyKey) From policy where accountid in(select accountid from policy where policykey=@PolicyKey) AND policynumber is not null and  PolicyKey<@PolicyKey ) 
	group by f.VersionSequence,p.policykey order by VersionSequence desc
	

	set @NBYearEndDate=(select gf.YearEndDate  from GrossRevenueForFirm gf Where Policykey=@PreviousPolicykey and VersionSequence=@previousVersionSequence and GrossRevenueKey = 1)
if(@NBYearEndDate is null or @NBYearEndDate='')
begin
	--select @PreviousPolicykey,@previousVersionSequence
	DECLARE @YEAR INT,@month INT

	SELECT @month=SUBSTRING(YearEndDate,0, (CHARINDEX('/',YearEndDate))),@YEAR=SUBSTRING(YearEndDate, (CHARINDEX('/',YearEndDate))+1,LEN(YearEndDate))
	 from   GrossRevenueForFirm where PolicyKey =@PreviousPolicykey and VersionSequence=@previousVersionSequence  and GrossRevenueKey=3
	 
	 update GrossRevenueForFirm set YearEndDate=CAST(@month AS VARCHAR(10))+'/'+CAST((@YEAR+2) AS VARCHAR(10)) where  PolicyKey =@PreviousPolicykey and VersionSequence=@previousVersionSequence and GrossRevenueKey=1
	update GrossRevenueForFirm set YearEndDate=CAST(@month AS VARCHAR(10))+'/'+CAST((@YEAR+1) AS VARCHAR(10)) where  PolicyKey = @PreviousPolicykey and VersionSequence=@previousVersionSequence and GrossRevenueKey=2
	

end

	select gf.YearEndDate as NBYearEndDate, gf.Amount as NBAmount from GrossRevenueForFirm gf Where Policykey=@PreviousPolicykey and VersionSequence=@previousVersionSequence and GrossRevenueKey = 1

END









GO
