USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_by_state]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[weeklyreport_by_state]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_by_state]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[weeklyreport_by_state] AS' 
END
GO
ALTER PROCEDURE [dbo].[weeklyreport_by_state]
 @WeekFromDate varchar(10) , 
 @WeekToDate varchar(10),
 @FirstReviewUserID varchar(100),
 @WeekMarketableProductKey varchar(50),
 @ProjectType varchar(5),  
 @SumTotal int out,
 @UnderReviewTotal int out,
 @DeclinedTotal int out,
 @QuotedNewTotal int out,
 @IssuedTotal int out,
 @HitRatioSum varchar(30) out,
 @PendingTotal int out,
 @RejectedTotal int out,
 @Totalofsumpremium varchar(30) out	

 AS BEGIN
 
declare @allpolicy int
declare @underreview int
declare @declined int
declare @issued int
declare @rejected int
declare @issuedwithpremium int
declare @totalpremiumfromissued bigint
declare @accepted int
declare @quoted int
declare @newqq int
declare @newfq int
declare @StateCode varchar(20)
declare @StateName varchar(60)
declare @underreviewnew int
declare @pending int
declare @quotednew int
declare @hitratio varchar(30)
declare @totalPremium varchar(25)
declare @sumtotalofpremium bigint
declare @totalapps int

declare @MinCreatedMonth int
declare @MinCreatedYear int
declare @MaxCreatedMonth int
declare @MaxCreatedYear int
declare @From_Date datetime 
declare	@To_Date datetime


CREATE TABLE #TempPolicyList (
	[StateName] varchar(60),
	[AllPolicy] [int]	,
    [UnderReview] [int] ,
    [Declined] [int] ,
    [Issued] [int] ,
    [Rejected] [int] ,
    [IssuedWithPremium] [int] ,
    [TotalPremiumFromIssued] varchar(25),
    [Accepted] [int] ,
    [Quoted] [int] ,
    [NewQQ] [int] ,
    [NewFQ] [int] ,
    [TotalApps] [int],
    [UnderReviewNew] [int],
    [Pending] [int],
    [QuotedNew] [int],
    [HitRatio] varchar(30),
    [PremiumFromIssued] [bigint],		 
) 

set @SumTotal=0
set @UnderReviewTotal=0
set @DeclinedTotal=0
set @QuotedNewTotal =0
set @IssuedTotal =0
set @PendingTotal =0
set @RejectedTotal =0
set @sumtotalofpremium=0


if(@ProjectType = 'Lwy')
	set @WeekMarketableProductKey = 2

if(@ProjectType = 'Acc')
	Begin
		if(@FirstReviewUserID <> '')
		begin		 
		  
			declare c1 cursor for
			select adds.StateCode from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID group by adds.StateCode order by adds.StateCode
				  
			open c1
				fetch next from c1 into @StateCode
					while @@FETCH_STATUS = 0
						begin
												
						select @MinCreatedMonth =  DATEPART (MONTH,@WeekFromDate)
						select @MinCreatedYear =  DATEPART (YEAR,@WeekFromDate)	
						
						select @MaxCreatedMonth =  DATEPART (MONTH,@WeekToDate)
						select @MaxCreatedYear =  DATEPART (YEAR,@WeekToDate)
						
						select @allpolicy =  count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @underreview = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (2) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @declined = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (4) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @issued = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @rejected = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (5) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @issuedwithpremium =  count(*),@totalpremiumfromissued = isnull(sum(pt.TotalPremium),0)from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
										
						set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium								 
							   
						select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
						select @Totalofsumpremium=dbo.getAmountFormat(@Totalofsumpremium);
									
						select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
						select @totalPremium=dbo.getAmountFormat(@totalPremium);								
									
						select @accepted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (7) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @quoted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (3) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @newqq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsQuickQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @newfq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsFullQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						
						select @underreviewnew =(@underreview+@newfq)
						select @pending=(@accepted+@quoted)
						select @quotednew=(@pending+@issued+@rejected)								
						select @totalapps =(@underreviewnew+@declined+@quotednew)						
																				
						set @SumTotal = @SumTotal + @totalapps						
						set @UnderReviewTotal=@underreviewnew+@UnderReviewTotal				
						set @DeclinedTotal=@declined+@DeclinedTotal							
											
						set @QuotedNewTotal =@QuotedNewTotal+@quotednew						
						set @IssuedTotal = @issued+@IssuedTotal					
						set @PendingTotal =@pending+@PendingTotal
						set @RejectedTotal =@rejected+@RejectedTotal
								
										
						if(@quotednew!=0)
						BEGIN 
							select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'	
										
						END
						ELSE
							select @hitratio='0%';
									
							if(@QuotedNewTotal!=0)
							BEGIN
									select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'	
							END
							ELSE
									select @HitRatioSum = '0%';
									
									select @StateName = StateDesc from State where StateCode = @StateCode
									print @StateName
									
									insert into #TempPolicyList(StateName,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,PremiumFromIssued) values(@StateName,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@totalpremiumfromissued)
								
								fetch next from c1 into @StateCode
							end
				
				close c1
				deallocate c1
						
		end

	End

if(@ProjectType = 'Lwy')
	Begin			
		if(@FirstReviewUserID <> '')
		begin		 
		  
			declare c1 cursor for
			select adds.StateCode from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID group by adds.StateCode order by adds.StateCode
				  
			open c1
				fetch next from c1 into @StateCode
					while @@FETCH_STATUS = 0
						begin
												
						select @MinCreatedMonth =  DATEPART (MONTH,@WeekFromDate)
						select @MinCreatedYear =  DATEPART (YEAR,@WeekFromDate)	
						
						select @MaxCreatedMonth =  DATEPART (MONTH,@WeekToDate)
						select @MaxCreatedYear =  DATEPART (YEAR,@WeekToDate)
						
						select @allpolicy =  count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @underreview = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (2) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @declined = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (4) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @issued = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @rejected = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (5) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @issuedwithpremium =  count(*),@totalpremiumfromissued = isnull(sum(pt.TotalPremium),0)from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
										
						set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium								 
							   
						select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
						select @Totalofsumpremium=dbo.getAmountFormat(@Totalofsumpremium);
									
						select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
						select @totalPremium=dbo.getAmountFormat(@totalPremium);								
									
						select @accepted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (7) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @quoted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (3) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @newqq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsQuickQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @newfq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q, FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsFullQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						
						select @underreviewnew =(@underreview+@newfq)
						select @pending=(@accepted+@quoted)
						select @quotednew=(@pending+@issued+@rejected)								
						select @totalapps =(@underreviewnew+@declined+@quotednew)						
																				
						set @SumTotal = @SumTotal + @totalapps						
						set @UnderReviewTotal=@underreviewnew+@UnderReviewTotal				
						set @DeclinedTotal=@declined+@DeclinedTotal							
											
						set @QuotedNewTotal =@QuotedNewTotal+@quotednew						
						set @IssuedTotal = @issued+@IssuedTotal					
						set @PendingTotal =@pending+@PendingTotal
						set @RejectedTotal =@rejected+@RejectedTotal
								
										
						if(@quotednew!=0)
						BEGIN 
							select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'	
										
						END
						ELSE
							select @hitratio='0%';
									
							if(@QuotedNewTotal!=0)
							BEGIN
									select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'	
							END
							ELSE
									select @HitRatioSum = '0%';
									
									select @StateName = StateDesc from State where StateCode = @StateCode
									print @StateName
									
									insert into #TempPolicyList(StateName,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,PremiumFromIssued) values(@StateName,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@totalpremiumfromissued)
								
								fetch next from c1 into @StateCode
							end
				
				close c1
				deallocate c1
						
		end
	End

if(@FirstReviewUserID = '' or @FirstReviewUserID is null)
	begin		 
	 
			declare c2 cursor for
			select adds.StateCode from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.MarketableProductKey = @WeekMarketableProductKey group by adds.StateCode order by adds.StateCode 
		  
			open c2
			fetch next from c2 into @StateCode
				while @@FETCH_STATUS = 0
					begin
						select @MinCreatedMonth =  DATEPART (MONTH,@WeekFromDate)
						select @MinCreatedYear =  DATEPART (YEAR,@WeekFromDate)	
							
						select @MaxCreatedMonth =  DATEPART (MONTH,@WeekToDate)
						select @MaxCreatedYear =  DATEPART (YEAR,@WeekToDate)							
						  							
						select @allpolicy =  count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @underreview = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (2) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @declined = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (4) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @issued = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @rejected = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (5) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @issuedwithpremium =  count(*), @totalpremiumfromissued = isnull(sum(pt.TotalPremium),0) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (6) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						
						set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
				   
						select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
						select @Totalofsumpremium=dbo.getAmountFormat(@Totalofsumpremium);
						
						select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
						select @totalPremium=dbo.getAmountFormat(@totalPremium);					
					
						select @accepted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (7) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @quoted = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (3) and adds.StateCode= @StateCode and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @newqq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsQuickQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
						select @newfq = count(*) from Address adds,AccountAddress aa, PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and aa.AccountKey = pt.AccountKey  and aa.AddressKey=adds.AddressKey and pt.StatusKey in (1) and adds.StateCode= @StateCode and p.IsFullQuote = 'Y' and p.MarketableProductKey = @WeekMarketableProductKey and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) >= @WeekFromDate and cast(convert(varchar, p.PolicyEffectiveDate, 101) as datetime) <= @WeekToDate
												
						select @underreviewnew =(@underreview+@newfq)
						select @pending=(@accepted+@quoted)
						select @quotednew=(@pending+@issued+@rejected)
							
						select @totalapps =(@underreviewnew+@declined+@quotednew)								
											
						set @SumTotal = @SumTotal + @totalapps						
						set @UnderReviewTotal=@underreviewnew+@UnderReviewTotal				
						set @DeclinedTotal=@declined+@DeclinedTotal	
										
						set @QuotedNewTotal =@QuotedNewTotal+@quotednew						
						set @IssuedTotal = @issued+@IssuedTotal					
						set @PendingTotal =@pending+@PendingTotal
						set @RejectedTotal =@rejected+@RejectedTotal
					
							
						if(@quotednew!=0)
						BEGIN 
						
							select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'	
							
						END
						ELSE
						select @hitratio='0%';
					
						
						if(@QuotedNewTotal!=0)
						BEGIN
							select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'	
						END
						ELSE
						select @HitRatioSum = '0%';
						
						
						select @StateName = StateDesc from State where StateCode = @StateCode
						insert into #TempPolicyList(StateName,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,PremiumFromIssued) values(@StateName,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@totalpremiumfromissued)
						
						fetch next from c2 into @StateCode
					end
					
				close c2
				deallocate c2
			

		end

select * from #TempPolicyList
drop table #TempPolicyList

END

GO
