USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateBrokeragePolicyNumberPrefix_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ValidateBrokeragePolicyNumberPrefix_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateBrokeragePolicyNumberPrefix_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ValidateBrokeragePolicyNumberPrefix_p] AS' 
END
GO
-- select PolicyNumberPrefix from BrokeragePolicyNumberPrefix where CarrierKey=14 and LOBKey=2
--exec ValidateBrokeragePolicyNumberPrefix_p 14, 2, 'LHY H516669 01'
ALTER PROCEDURE [dbo].[ValidateBrokeragePolicyNumberPrefix_p]
	(
	@CarrierKey INT,
	@LOBKey INT,
	@BrokeragePolicyNumber VARCHAR(100)
	)
AS
BEGIN
	CREATE Table #Temp
	(
		Prefix varchar(50)
	)
	DECLARE @isValidPolicyNumber VARCHAR(50) ='True',@PolicyNumberPrefix VARCHAR(20),@PrefixCode VARCHAR(10),@ErrorMessage VARCHAR(200)=null
	INSERT INTO #Temp(Prefix) select UPPER(REPLACE(PolicyNumberPrefix,' ',''))  from BrokeragePolicyNumberPrefix where CarrierKey=@CarrierKey and LOBKey=@LOBKey
	select * from #Temp
	IF EXISTS(select * from #Temp)
	BEGIN
			
			
			SET @PrefixCode=(select UPPER(REPLACE(SUBSTRING(@BrokeragePolicyNumber,1,3),' ','')))
			IF EXISTS(select * from #Temp where Prefix=@PrefixCode)			
				SET @isValidPolicyNumber='True'

			ELSE 
				BEGIN
					SET @isValidPolicyNumber='False'
					SET @ErrorMessage='Invalid Policy number, should start with '+@PolicyNumberPrefix+''
				END
	END
	drop table #Temp
	select @isValidPolicyNumber AS isValidPolicyNumber,@ErrorMessage as BrokeragePolicyPrefixErrorMessage
END



GO
