USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayLargestTrustData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayLargestTrustData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayLargestTrustData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayLargestTrustData_p] AS' 
END
GO
--exec DisplayLargestTrustData_p 82972, 63983
ALTER PROCEDURE [dbo].[DisplayLargestTrustData_p]
(
@PolicyKey INT,
@VersionSequnece INT
)
AS
BEGIN
	DECLARE @Count INT
	
	CREATE TABLE #TEMPTable(
		ID int,
		PolicyKey INT,
		VersionSequence INT,
		LargestTrustsKey INT,
		TrustName VARCHAR(1000),
		TrustsType VARCHAR(500),
		AssetsValue NUMERIC,
		BeneficiaryInterest CHAR
		)

		CREATE TABLE #TEMPTable1(
		ROWID int,
		LargestTrustsKey INT,
		TrustName VARCHAR(1000),
		TrustsType VARCHAR(500),
		AssetsValue NUMERIC,
		BeneficiaryInterest CHAR
		)

		INSERT INTO #TEMPTable (ID,PolicyKey,VersionSequence,LargestTrustsKey,TrustName,TrustsType,AssetsValue,BeneficiaryInterest)Values(1,@PolicyKey,@VersionSequnece,NULL,NULL,NULL,NULL,NULL)
		INSERT INTO #TEMPTable (ID,PolicyKey,VersionSequence,LargestTrustsKey,TrustName,TrustsType,AssetsValue,BeneficiaryInterest)Values(2,@PolicyKey,@VersionSequnece,NULL,NULL,NULL,NULL,NULL)
		INSERT INTO #TEMPTable (ID,PolicyKey,VersionSequence,LargestTrustsKey,TrustName,TrustsType,AssetsValue,BeneficiaryInterest)Values(3,@PolicyKey,@VersionSequnece,NULL,NULL,NULL,NULL,NULL)
		SELECT @Count=Count(*) from WillSTrustEstateLargestTrustsDetails where PolicyKey=@PolicyKey AND VersionSequence=@VersionSequnece
		
		IF(@Count>0)
		BEGIN

			insert into #TEMPTable1 (ROWID,LargestTrustsKey,TrustName,TrustsType,AssetsValue,BeneficiaryInterest) select ROW_NUMBER() OVER (ORDER BY PolicyKey ASC) AS ROWID,
						LargestTrustsKey,TrustName,TrustsType,AssetsValue,BeneficiaryInterest FROM WillSTrustEstateLargestTrustsDetails WHERE POLICYKEY=@PolicyKey AND VersionSequence=@VersionSequnece
				
			DECLARE @LoopCounter INT =1
			WHILE ( @LoopCounter <= 3)
			BEGIN
				UPDATE #TEMPTable 
				SET LargestTrustsKey = i.LargestTrustsKey, 
					TrustName = i.TrustName, 
					TrustsType = i.TrustsType,
					AssetsValue = i.AssetsValue,
					BeneficiaryInterest = i.BeneficiaryInterest   
					
				FROM (
					SELECT LargestTrustsKey, TrustName,TrustsType,AssetsValue,BeneficiaryInterest
					FROM #TEMPTable1  WHERE ROWID=@LoopCounter) i
					WHERE ID=@LoopCounter
					
					
				SET @LoopCounter  = @LoopCounter  + 1
			END
		END
	
	SELECT * FROM #TEMPTable
	
	drop table #TEMPTable
END


GO
