USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BatchRatingForLawyers_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BatchRatingForLawyers_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BatchRatingForLawyers_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[BatchRatingForLawyers_Proc] AS' 
END
GO

--exec [dbo].[BatchRatingForLawyers_Proc] '<request><requestdata><inet_project_id>LawyersIns</inet_project_id><updateCriteria></updateCriteria><filterCriteria><data><Limit>1000000/1000000</Limit><PolicyEffectiveDateTo>11/24/2018</PolicyEffectiveDateTo><PolicyType>NB</PolicyType><StateCode>IA</StateCode><PolicyEffectiveDateFrom>11/22/2018</PolicyEffectiveDateFrom></data></filterCriteria></requestdata></request>'

--exec [dbo].[BatchRatingForLawyers_Proc] '<request><requestdata><filterCriteria><data><PolicyEffectiveDateFrom>07/01/2020</PolicyEffectiveDateFrom><PolicyEffectiveDateTo>07/31/2020</PolicyEffectiveDateTo><PolicyType></PolicyType><StateCode></StateCode><SubProducerNumber></SubProducerNumber><SubProduced></SubProduced><Limit></Limit></data></filterCriteria><inet_project_id>LawyersIns</inet_project_id></requestdata></request>'

ALTER PROCEDURE [dbo].[BatchRatingForLawyers_Proc] 
	@inputXml xml
AS BEGIN

--select @inputXml

--declare @IssuedDateFrom datetime
--declare @IssuedDateTo datetime
--declare @PolicyType varchar(5)
--declare @StateCode varchar(5)
--declare @SubProduced varchar(5)
--declare @SubProducerNumber varchar(10)

declare @PolicyEffectiveDateFrom varchar(10)
declare @PolicyEffectiveDateTo varchar(10)
declare @PolicyType varchar(10)
declare @StateCode varchar(10)
declare @SubProduced varchar(10)
declare @SubProducerNumber varchar(10)

declare @PolicyEffectiveDate varchar(10)
declare @Modifier int

declare @Limit varchar(500)
declare @AggregateLimit varchar(250)
declare @OccuranceLimit varchar(250)

	--SELECT	
	--	@IssuedDateFrom = doc.col.value('PolicyEffectiveDateFrom[1]', 'datetime') ,
	--	@IssuedDateTo = doc.col.value('PolicyEffectiveDateTo[1]', 'datetime') ,
	--	@PolicyType = doc.col.value('PolicyType[1]', 'varchar(5)') ,
	--	@StateCode = doc.col.value('StateCode[1]', 'varchar(5)') ,
	--	@SubProduced = doc.col.value('SubProduced[1]', 'varchar(5)'),
	--	@SubProducerNumber = doc.col.value('SubProducerNumber[1]', 'varchar(10)')		
	--FROM @inputXml.nodes('/request/requestdata/filterCriteria/data') doc(col)

	--SELECT	
	--	@PolicyEffectiveDate = doc.col.value('PolicyEffectiveDate[1]', 'datetime') ,
	--	@Modifier = doc.col.value('Modifier[1]', 'int')		
	--FROM @inputXml.nodes('/request/requestdata/updateCriteria/data') doc(col)

	SELECT	
		@PolicyEffectiveDateFrom = doc.col.value('PolicyEffectiveDateFrom[1]', 'varchar(10)') ,
		@PolicyEffectiveDateTo = doc.col.value('PolicyEffectiveDateTo[1]', 'varchar(10)') ,
		@PolicyType = doc.col.value('PolicyType[1]', 'varchar(10)') ,
		@StateCode = doc.col.value('StateCode[1]', 'varchar(10)') ,
		@SubProduced = doc.col.value('SubProduced[1]', 'varchar(10)'),
		@SubProducerNumber = doc.col.value('SubProducerNumber[1]', 'varchar(10)'),	
		@Limit = doc.col.value('Limit[1]', 'varchar(500)')	,
		@Modifier = doc.col.value('ModifierUpdate[1]', 'int')		
	FROM @inputXml.nodes('/request/requestdata/filterCriteria/data') doc(col)

	--SELECT	
	--	@PolicyEffectiveDate = doc.col.value('PolicyEffectiveDate[1]', 'varchar(10)') ,
	--	@Modifier = doc.col.value('Modifier[1]', 'int')		
	--FROM @inputXml.nodes('/request/requestdata/updateCriteria/data') doc(col)

--select @PolicyEffectiveDate as PolicyEffDate, @Modifier as Modifier
--select CASE WHEN @PolicyEffectiveDate is not null and @PolicyEffectiveDate <> ''  THEN @PolicyEffectiveDate END as PolicyEffDate
--select @IssuedDateFrom, @IssuedDateTo, @PolicyType, @StateCode, @SubProduced, @PolicyEffectiveDate, @Modifier, @SubProducerNumber

if(isNUll(@Limit,'') <> '')
	begin
		set @AggregateLimit = SUBSTRING(@Limit, 1, CHARINDEX('/', @Limit)-1)  
		set @OccuranceLimit = SUBSTRING(@Limit, CHARINDEX('/', @Limit)+1, LEN(@Limit)) 		
	end 

declare @sqlstm varchar(8000)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @PolicyKey int
declare @IsDollarDefense char(1)
declare @TransactionSequence int
declare @VersionSequence int
declare @StatusKey varchar(2) 
declare @PolicyStatusKey int
declare @TotalModifier int

declare @Administrative_Regulatory int
declare @Admiralty_Maritime int
declare @Alternative_Dispute_Resolution int
declare @Antitrust int
declare @Appellate_Practice int
declare @Aviation int

declare @Bankruptcy int
declare @Civil_Litigation_Defense int
declare @Civil_Litigation_Plaintiff int
declare @Civil_Rights_Discrimination int
declare @Collections_Repossession int
declare @Communications_Media int
declare @Construction int
declare @Construction_Litigation_Defense int
declare @Construction_Litigation_Plaintiff int
declare @Copyright_Trademark int
declare @Corporate_Commercial_Business int
declare @Corporate_Commercial_Litigation_Defense int
declare @Corporate_Commercial_Litigation_Plaintiff int
declare @Creditor_Debtor_Rights int
declare @Criminal_Defense int

declare @Education int
declare @Elder_Law int
declare @Employee_Benefits_ERISA int
declare @Employment int
declare @Entertainment_Sports int
declare @Environmental int
declare @Family_Law  int
declare @Financial_Institution_Banking_Finance int
declare @Government_Municipal_Zoning int 
declare @Healthcare int
declare @Insurance_Defense int
declare @Immigration int
declare @International int
declare @Investment_Counseling_Money_Management int

declare @Juvenile_Guardianship int
declare @Labor_Management int 
declare @Labor_Union int
declare @Mass_Tort_Class_Actions_Litigation_Defense int 
declare @Mass_Tort_Class_Actions_Litigation_Plaintiff int
declare @Medical_Malpractice_Defense int
declare @Medical_Malpractice_Plaintiff int 
declare @Mergers_Acquisitions int 
declare @Natural_Resources int 
declare @Non_Medical_Malpractice_Defense int 
declare @Non_Medical_Malpractice_Plaintiff int 
declare @Non_Profit_Charities int   
declare @Other_Litigation_Defense int
declare @Other_Litigation_Plaintiff int
declare @Patent int  
		 
declare @Personal_Injury_Litigation_Defense int 
declare @Personal_Injury_Litigation_Plaintiff int
declare @Product_Liability_Litigation_Defense int 
declare @Product_Liability_Litigation_Plaintiff int
declare @Real_Estate_Commercial int
declare @Real_Estate_Residential int 
declare @Securities int
declare @Social_Security_Disability int
declare @Tax int
declare @Traffic_DUI_DWI_Defense int 
declare @Trusts_Estates_Wills_Probate int 
declare @Utilities int  
declare @Workers_Compensation_Defense int
declare @Workers_Compensation_Plaintiff int 
declare @Other int

declare @LimitAmount varchar(50)
declare @DeductibleAmount varchar(50)
declare @IsClaimOptionType char(1)
declare @IsClaimExpensesType char(1) 
declare @NumberOfYearsWithFirm int
declare @ClaimAge_1 int
declare @ClaimAge_2 int
declare @ClaimAge_3 int
declare @ClaimAge_4 int
declare @ClaimAge_5 int
declare @ClaimAge_6 int
declare @ClaimAge_7 int
declare @ClaimAge_8 int
declare @ClaimAge_9 int
declare @ClaimAge_10 int
declare @Count int
declare @NumberOfLawyers int
declare @FullTimeEquivalent Numeric(10,2)
declare @InitTransactionSequence int,@nonZeroAOPCount INT
CREATE TABLE #TempPolicyList (	
		[PolicyKey] [int],
		[TransactionSequence] [int],
		[VersionSequence] [int],
		[QuoteNumber] [varchar](20) ,
		[AccountName] [VARCHAR](500)	,
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](20) ,  
		[StateCode] [varchar](20),
		[StateDesc] [varchar](100),
		[CountyDesc] [varchar](50),
		[City] [varchar](50),

		[LimitAmount] [varchar](50) ,
		[DeductibleAmount] [varchar](50) ,
		[IsClaimOptionType] [char](1),
		[IsClaimExpensesType] [char](1) ,
		[IsDollarDefense] [char](1) ,
		[Modifier] [int] ,

		[NumberOfLawyers] [int] ,
		[NumberOfLawyers1000] [int] ,
		[NumberOfLawyers500] [int] ,
		[ClaimAge_1] [int] ,
		[ClaimAge_2] [int] ,
		[ClaimAge_3] [int] ,
		[ClaimAge_4] [int] ,
		[ClaimAge_5] [int] ,
		[ClaimAge_6] [int] ,
		[ClaimAge_7] [int] ,
		[ClaimAge_8] [int] ,
		[ClaimAge_9] [int] ,
		[ClaimAge_10] [int] ,		
		
		[Administrative_Regulatory] [int] ,
		[Admiralty_Maritime] [int] ,
		[Alternative_Dispute_Resolution] [int] ,
		[Antitrust] [int] ,
		[Appellate_Practice] [int] ,
		[Aviation] [int] ,

		[Bankruptcy] [int] ,
		[Civil_Litigation_Defense] [int] ,
		[Civil_Litigation_Plaintiff] [int] ,
		[Civil_Rights_Discrimination] [int] ,
		[Collections_Repossession] [int] ,
		[Communications_Media] [int] ,
		[Construction] [int] ,
		[Construction_Litigation_Defense] [int] ,
		[Construction_Litigation_Plaintiff] [int] ,
		[Copyright_Trademark] [int] ,
		[Corporate_Commercial_Business] [int] ,
		[Corporate_Commercial_Litigation_Defense] [int] ,
		[Corporate_Commercial_Litigation_Plaintiff] [int] ,
		[Creditor_Debtor_Rights] [int] ,
		[Criminal_Defense] [int] ,

		[Education] [int] ,
		[Elder_Law] [int] ,
		[Employee_Benefits_ERISA] [int] ,
		[Employment] [int] ,
		[Entertainment_Sports] [int] ,
		[Environmental] [int] ,
		[Family_Law] [int] ,
		[Financial_Institution_Banking_Finance] [int] ,
		[Government_Municipal_Zoning] [int] , 
		[Healthcare] [int] ,
		[Insurance_Defense] [int] ,
		[Immigration] [int] ,
		[International] [int] ,
		[Investment_Counseling_Money_Management] [int] ,

		[Juvenile_Guardianship] [int] ,
		[Labor_Management] [int] , 
		[Labor_Union] [int] ,
		[Mass_Tort_Class_Actions_Litigation_Defense] [int] , 
		[Mass_Tort_Class_Actions_Litigation_Plaintiff] [int] ,
		[Medical_Malpractice_Defense] [int] ,
		[Medical_Malpractice_Plaintiff] [int] , 
		[Mergers_Acquisitions] [int] , 
		[Natural_Resources] [int] , 
		[Non_Medical_Malpractice_Defense] [int] , 
		[Non_Medical_Malpractice_Plaintiff] [int] , 
		[Non_Profit_Charities] [int] ,   
		[Other_Litigation_Defense] [int] ,
		[Other_Litigation_Plaintiff] [int] ,
		[Patent] [int] ,  
		 
		[Personal_Injury_Litigation_Defense] [int] , 
		[Personal_Injury_Litigation_Plaintiff] [int] ,
		[Product_Liability_Litigation_Defense] [int] , 
		[Product_Liability_Litigation_Plaintiff] [int] ,
		[Real_Estate_Commercial] [int] ,
		[Real_Estate_Residential] [int] , 
		[Securities] [int] ,
		[Social_Security_Disability] [int] ,
		[Tax] [int] ,
		[Traffic_DUI_DWI_Defense] [int] , 
		[Trusts_Estates_Wills_Probate] [int] , 
		[Utilities] [int] ,  
		[Workers_Compensation_Defense] [int] ,
		[Workers_Compensation_Plaintiff] [int] , 
		[Other] [int] ,
		[OldPremium] [varchar](25) ,	
		[Premium] [varchar](25) ,	
		[NewEffectiveDate] [DATETIME],
		FullTimeEquivalent numeric(10,1),
		PolicyStatusKey int	,
		InitTransactionSequence INT,
		IsManualPremium CHAR,
		OldModifiers INT,
		DirectSubproduced VARCHAR(100)
)
CREATE TABLE  #TempDirect_SubProducedKey
	(
		PolicyKey VARCHAR(20)
	)

	IF(@SubProduced is null or @SubProduced='')
	BEGIN
		--Print 'Producer code is null'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
	END
	IF(@SubProduced is not null and @SubProduced='SubProduced')
	BEGIN
		--Print 'Policies type ar subproduced'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
		and  pt.ProducerCode <>'' and pt.ProducerCode is not null
	END
	
	IF(@SubProduced is not null and @SubProduced='Direct')	 
	BEGIN
		--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' 
		and( pt.ProducerCode='' OR pt.ProducerCode is null 
		-- Asked by Pat 02/14/2019 
		 or pt.ProducerCode in (select ProducerCode from SubProducer where IsDriect='Y'))
	END
	IF(@SubProduced is not null and @SubProduced <> '' and @SubProduced!='Direct' and @SubProduced!='SubProduced')
	BEGIN
		--print 'Specific subproducer is specified'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode = @SubProduced		
	END

--if(@PolicyEffectiveDateFrom is not null or @PolicyEffectiveDateTo is not null)
--begin
--	set @StatusKey = 6
--end 

set @sqlstm = 'select p.PolicyKey, pt.TransactionSequence, f.VersionSequence,p.PolicyStatusKey, p.QuoteNumber,a.AccountName,p.PolicyEffectiveDate, p.PolicyNumber ,
adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.CountyDesc, adds.City,
 null,f.NumberOfLawyers1000, f.NumberOfLawyers500,pt.invoicedPremium,(select min(transactionsequence) from Policytransaction where Policykey=p.PolicyKey) as InitTransactionSequence,
 case when pc.IsManualPremium is null then ''N'' else pc.IsManualPremium END as IsManualPremium,pc.TotalCovModifierPercentage,(CASE WHEN pt.ProducerCode='''' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect=''Y'') THEN ''Direct'' ELSE ''Subproduced'' END) as DirectSubproduced
from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, Limits l,
AccountAddress aa , PolicyCoverage pc
 where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey 
 and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
 and p.PolicyKey = pt.PolicyKey 

 and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=2
and pt.TransactionSequence = pc.TransactionSequence 
and f.VersionSequence=(select max(versionsequence) from firmlw where policykey=p.PolicyKey)
 and pt.PolicyKey in (select PolicyKey 
from Policy where isUncompletedData='+'''N'''+') 
and l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and l.CoverageKey = pc.CoverageKey
and pt.StatusKey=6
and pt.TransactionSequence=(select TransactionSequence from Quote q where q.PolicyKey=p.PolicyKey and q.IsThisOptionFinalised=''Y'')
and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey) 

'

if((@PolicyEffectiveDateFrom is not null and @PolicyEffectiveDateTo is not null) and (@PolicyEffectiveDateFrom <>'' and @PolicyEffectiveDateTo <>''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between ''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateFrom) +''' and ''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateTo) + ''''
end

if((@PolicyEffectiveDateFrom is not null and @PolicyEffectiveDateFrom <>'') and (@PolicyEffectiveDateTo is null or @PolicyEffectiveDateTo ='' ))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate >=''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateFrom) + ''''
end

if((@PolicyEffectiveDateFrom is null or @PolicyEffectiveDateFrom ='') and (@PolicyEffectiveDateTo is not null and @PolicyEffectiveDateTo<>''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate <=''' + CONVERT(VARCHAR(12), @PolicyEffectiveDateTo) + ''''
end

--if(@StatusKey = 6 or @StatusKey = 8)
--	begin
--		  set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q where q.PolicyKey=p.PolicyKey and q.IsThisOptionFinalised=''Y'')'
--	end
--else
--	begin
--		  set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select min(TransactionSequence) from Quote q where q.PolicyKey=p.PolicyKey)'
--	end

--if((@PolicyType is null or @PolicyType = '') or (@PolicyType is not null and @PolicyType = 'NB'))
--begin 
--	set  @PolicyStatusKey = 1
--end
--if(@PolicyType is not null and @PolicyType = 'RB')
--begin
--	set  @PolicyStatusKey = 2
--end
--set  @sqlstm = @sqlstm + ' and p.PolicyStatusKey =' + CONVERT(VARCHAR(12), @PolicyStatusKey)

if(@StateCode <> '')
begin
              set  @sqlstm = @sqlstm + ' and adds.StateCode IN (SELECT items FROM Split('''+@StateCode +''','',''))'
end





if(@SubProduced is not null and @SubProduced = 'Y')
begin
	set  @sqlstm = @sqlstm + ' and pt.ProducerCode is not null'
end
if(@SubProducerNumber is not null and @SubProducerNumber <> '')
begin
	set  @sqlstm = @sqlstm + ' and pt.ProducerCode =''' + CONVERT(VARCHAR(12), @SubProducerNumber) + ''''
end
--if(@Limit is not null and @Limit <> '')
--begin
--	set  @sqlstm = @sqlstm + ' and pc.AggregateLimit =''' + CONVERT(VARCHAR(12), @AggregateLimit) + '''' + ' and pc.OccuranceLimit =''' + CONVERT(VARCHAR(12), @OccuranceLimit) + ''''
--end


print @sqlstm

Insert into #TempPolicyList(PolicyKey, TransactionSequence, VersionSequence,PolicyStatusKey, QuoteNumber, AccountName,PolicyEffectiveDate, PolicyNumber, StateCode, StateDesc, CountyDesc, City, NumberOfLawyers, NumberOfLawyers1000, NumberOfLawyers500,OldPremium,InitTransactionSequence,IsManualPremium,OldModifiers,DirectSubproduced) 
EXECUTE ( @sqlstm)
--print 'Hi'

	Declare c1 cursor for
	select PolicyKey, TransactionSequence, VersionSequence,InitTransactionSequence from #TempPolicyList
	 	   
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence,@InitTransactionSequence
	WHILE @@FETCH_STATUS = 0
		begin
			--print 'Hi'
			--To Set AOP
			set @nonZeroAOPCount= (select CASE WHEN count(AOPKEY) IS NOT NULL and count(AOPKEY) <> ''  THEN count(AOPKEY) ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and PercentageValue>0)
			SET @Administrative_Regulatory  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=54)
			SET @Admiralty_Maritime  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=28)
			SET @Alternative_Dispute_Resolution  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=2)
			SET @Antitrust  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=1)
			SET @Appellate_Practice  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=29)
			SET @Aviation  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=30)
			SET @Bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=3)
			SET @Civil_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=64)
			SET @Civil_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=55)
			SET @Civil_Rights_Discrimination  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=4)
			SET @Collections_Repossession  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=31)
			SET @Communications_Media  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=32)
			SET @Construction  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=33)
			SET @Construction_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=65)
			SET @Construction_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=56)
			SET @Copyright_Trademark  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=6)
			SET @Corporate_Commercial_Business  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=5)
			SET @Corporate_Commercial_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=66)
			SET @Corporate_Commercial_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=57)
			SET @Creditor_Debtor_Rights  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=34)
			SET @Criminal_Defense  = (select SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in (7,35))
			
			SET @Education  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=36)
			SET @Elder_Law  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=9)
			SET @Employee_Benefits_ERISA  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=11)
			SET @Employment  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=37)
			SET @Entertainment_Sports  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=38)
			SET @Environmental  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=10)
			SET @Family_Law  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=8)
			SET @Financial_Institution_Banking_Finance  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=12)
			SET @Government_Municipal_Zoning  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=13)
			SET @Healthcare  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=39)
			
			SET @Immigration  = (select SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in (14,40))
			
			SET @Insurance_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=41)
			SET @International  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=42)
			SET @Investment_Counseling_Money_Management  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=15)
			SET @Juvenile_Guardianship  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=43)
			SET @Labor_Management  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=44)
			SET @Labor_Union  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=45)
			SET @Mass_Tort_Class_Actions_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=68)
			SET @Mass_Tort_Class_Actions_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=59)
			SET @Medical_Malpractice_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=69)
			SET @Medical_Malpractice_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=60)
			SET @Mergers_Acquisitions  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=46)
			SET @Natural_Resources  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=16)
			
			SET @Non_Medical_Malpractice_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=70)
			SET @Non_Medical_Malpractice_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=61)
			SET @Non_Profit_Charities  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=47)
			
			SET @Other_Litigation_Defense  = (select  SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in(18,58))
			SET @Other_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=67)
			
			SET @Patent  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=48)
			SET @Personal_Injury_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=71)
			SET @Personal_Injury_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=62)
			SET @Product_Liability_Litigation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=72)
			SET @Product_Liability_Litigation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=63)
			SET @Real_Estate_Commercial  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=20)
			SET @Real_Estate_Residential  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=27)
			SET @Securities  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=21)
			SET @Social_Security_Disability  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=49)
			SET @Tax  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=22)
			SET @Traffic_DUI_DWI_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=50)
			SET @Trusts_Estates_Wills_Probate  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=24)
			
			SET @Utilities  = (select SUM(ISNULL(PercentageValue,0)) from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in(19,51))
			
			SET @Workers_Compensation_Defense  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=52)
			SET @Workers_Compensation_Plaintiff  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=53)
			SET @Other  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=25)
			--print 'Hi1'	
			-- To set Modifier
			Declare @output_xml xml=(select top 1 XmlInputDatatoRating from RatingTrace where PolicyKey=@PolicyKey)
			select @NumberOfLawyers=doc.col.value('NumberOfLawyers[1]', 'varchar(10)')	,
			@ClaimAge_1=doc.col.value('ClaimAge_1[1]', 'varchar(10)'),
			@ClaimAge_2=doc.col.value('ClaimAge_2[1]', 'varchar(10)'),
			@ClaimAge_3=doc.col.value('ClaimAge_3[1]', 'varchar(10)'),
			@ClaimAge_4=doc.col.value('ClaimAge_4[1]', 'varchar(10)'),
			@ClaimAge_5=doc.col.value('ClaimAge_5[1]', 'varchar(10)'),
			@ClaimAge_6=doc.col.value('ClaimAge_6[1]', 'varchar(10)'),
			@ClaimAge_7=doc.col.value('ClaimAge_7[1]', 'varchar(10)'),
			@ClaimAge_8=doc.col.value('ClaimAge_8[1]', 'varchar(10)'),
			@ClaimAge_9=doc.col.value('ClaimAge_9[1]', 'varchar(10)'),
			@ClaimAge_10=doc.col.value('ClaimAge_10[1]', 'varchar(10)'),
			@FullTimeEquivalent=doc.col.value('FullTimeEquivalent[1]', 'varchar(10)')
			from @output_xml.nodes('/PIMWebService/LawyersInfo') as doc(col)
			set @TotalModifier=(select   sum(Percentage) from CoverageModifiers where policykey=@PolicyKey and TransactionSequence=@InitTransactionSequence)
			--select @TotalModifier as totalModifier,@nonZeroAOPCount as nonZeroAOPCount
			if(@TotalModifier is null or @TotalModifier='')
			begin
				print '1'
				set @TotalModifier=0
			end
			
			if(@nonZeroAOPCount=3 or @nonZeroAOPCount=4)
				begin
					
					set @TotalModifier=@TotalModifier+5
				end

			if(@nonZeroAOPCount=5 or @nonZeroAOPCount=6)
				begin
				print '6'
					set @TotalModifier=@TotalModifier+10
				end
			if(@nonZeroAOPCount>=7)
				begin
				print '7'
					set @TotalModifier=@TotalModifier+15
				end
			if(@Trusts_Estates_Wills_Probate>0)
				begin
					set @TotalModifier=@TotalModifier+10
				end
			if(@TotalModifier<-5)
			begin
				set @TotalModifier=-5
			end
			if(@TotalModifier>25)
			begin
				set @TotalModifier=25
			end
			--To se
			--To set Coverage
			select @IsClaimOptionType = IsClaimOptionType, @IsClaimExpensesType = IsClaimExpensesType, @IsDollarDefense = IsDollarDefense, @LimitAmount = Convert(varchar,AggregateLimit)  +'/'+ Convert(varchar,OccuranceLimit), @DeductibleAmount = AggregateDeductible from PolicyCoverage where policykey=@PolicyKey and TransactionSequence=@TransactionSequence
			--print 'Hi2'
			--To set claim age
			--set @Count = 1
			--Declare c2 cursor for
			--	select Year from ClaimAgeLW where policykey=@PolicyKey 	   
			--	OPEN c2
			--	FETCH NEXT FROM c2 into @NumberOfYearsWithFirm
			--	WHILE @@FETCH_STATUS = 0
			--		begin
			--		Print CONVERT(VARCHAR(12), @Count)

			--		if(@Count = 1)
			--			begin
			--				set @ClaimAge_1 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 2)
			--			begin
			--				set @ClaimAge_2 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 3)
			--			begin
			--				set @ClaimAge_3 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 4)
			--			begin
			--				set @ClaimAge_4 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 5)
			--			begin
			--				set @ClaimAge_5 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 6)
			--			begin
			--				set @ClaimAge_6 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 7)
			--			begin
			--				set @ClaimAge_7 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 8)
			--			begin
			--				set @ClaimAge_8 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 9)
			--			begin
			--				set @ClaimAge_9 = @NumberOfYearsWithFirm
			--			end
			--		if(@Count = 10)
			--			begin
			--				set @ClaimAge_10 = @NumberOfYearsWithFirm
			--			end

			--			set @Count = @Count + 1
			--			FETCH NEXT FROM c2 into @NumberOfYearsWithFirm					
			--		end
			--CLOSE c2
			--DEALLOCATE c2
			--print 'Hi3'
			--------------------------------
			
			update #TempPolicyList set [LimitAmount] = @LimitAmount , [DeductibleAmount] = @DeductibleAmount ,[IsClaimOptionType] = @IsClaimOptionType,
			[IsClaimExpensesType] = @IsClaimExpensesType , [IsDollarDefense] = @IsDollarDefense, [Modifier] = CASE WHEN @Modifier is not null and @Modifier <> '' and @Modifier <> 0 THEN @Modifier ELSE @TotalModifier END,
			[PolicyEffectiveDate] = CASE WHEN @PolicyEffectiveDate is not null and @PolicyEffectiveDate <> ''  THEN @PolicyEffectiveDate ELSE [PolicyEffectiveDate] END,
			Administrative_Regulatory = @Administrative_Regulatory , Admiralty_Maritime = @Admiralty_Maritime , Alternative_Dispute_Resolution = @Alternative_Dispute_Resolution ,
			Antitrust = @Antitrust , Appellate_Practice = @Appellate_Practice , Aviation = @Aviation , Bankruptcy= @Bankruptcy ,
			Civil_Litigation_Defense = @Civil_Litigation_Defense , Civil_Litigation_Plaintiff = @Civil_Litigation_Plaintiff , Civil_Rights_Discrimination = @Civil_Rights_Discrimination ,
			Collections_Repossession = @Collections_Repossession , Communications_Media = @Communications_Media , Construction = @Construction ,
			Construction_Litigation_Defense = @Construction_Litigation_Defense , Construction_Litigation_Plaintiff = @Construction_Litigation_Plaintiff , Copyright_Trademark = @Copyright_Trademark ,
			Corporate_Commercial_Business = @Corporate_Commercial_Business , Corporate_Commercial_Litigation_Defense = @Corporate_Commercial_Litigation_Defense , Corporate_Commercial_Litigation_Plaintiff = @Corporate_Commercial_Litigation_Plaintiff ,
			Creditor_Debtor_Rights = @Creditor_Debtor_Rights , Criminal_Defense = @Criminal_Defense , Education = @Education , Elder_Law = @Elder_Law ,
			Employee_Benefits_ERISA = @Employee_Benefits_ERISA , Employment = @Employment , Entertainment_Sports = @Entertainment_Sports , Environmental = @Environmental ,
			Family_Law = @Family_Law , Financial_Institution_Banking_Finance = @Financial_Institution_Banking_Finance , Government_Municipal_Zoning = @Government_Municipal_Zoning ,
			Healthcare = @Healthcare , Insurance_Defense = @Insurance_Defense , Immigration = @Immigration , International = @International , Investment_Counseling_Money_Management = @Investment_Counseling_Money_Management ,
			Juvenile_Guardianship = @Juvenile_Guardianship , Labor_Management = @Labor_Management , Labor_Union = @Labor_Union , Mass_Tort_Class_Actions_Litigation_Defense = @Mass_Tort_Class_Actions_Litigation_Defense ,
			Mass_Tort_Class_Actions_Litigation_Plaintiff = @Mass_Tort_Class_Actions_Litigation_Plaintiff , Medical_Malpractice_Defense = @Medical_Malpractice_Defense , Medical_Malpractice_Plaintiff = @Medical_Malpractice_Plaintiff ,
			Mergers_Acquisitions = @Mergers_Acquisitions , Natural_Resources = @Natural_Resources , Non_Medical_Malpractice_Defense = @Non_Medical_Malpractice_Defense ,
			Non_Medical_Malpractice_Plaintiff = @Non_Medical_Malpractice_Plaintiff , Non_Profit_Charities = @Non_Profit_Charities , Other_Litigation_Defense = @Other_Litigation_Defense ,
			Other_Litigation_Plaintiff = @Other_Litigation_Plaintiff , Patent = @Patent , Personal_Injury_Litigation_Defense = @Personal_Injury_Litigation_Defense ,
			Personal_Injury_Litigation_Plaintiff = @Personal_Injury_Litigation_Plaintiff , Product_Liability_Litigation_Defense = @Product_Liability_Litigation_Defense , Product_Liability_Litigation_Plaintiff = @Product_Liability_Litigation_Plaintiff ,
			Real_Estate_Commercial = @Real_Estate_Commercial , Real_Estate_Residential = @Real_Estate_Residential , Securities = @Securities , Social_Security_Disability = @Social_Security_Disability ,
			Tax = @Tax, Traffic_DUI_DWI_Defense = @Traffic_DUI_DWI_Defense , Trusts_Estates_Wills_Probate = @Trusts_Estates_Wills_Probate , Utilities = @Utilities ,
			Workers_Compensation_Defense = @Workers_Compensation_Defense , Workers_Compensation_Plaintiff = @Workers_Compensation_Plaintiff, Other = @Other,
			ClaimAge_1 = @ClaimAge_1, ClaimAge_2 = @ClaimAge_2, ClaimAge_3 = @ClaimAge_3, ClaimAge_4 = @ClaimAge_4, ClaimAge_5 = @ClaimAge_5,
			ClaimAge_6 = @ClaimAge_6, ClaimAge_7 = @ClaimAge_7, ClaimAge_8 = @ClaimAge_8, ClaimAge_9 = @ClaimAge_9, ClaimAge_10 = @ClaimAge_10,
			NumberOfLawyers=@NumberOfLawyers,NewEffectiveDate=DATEADD(year, 1, PolicyEffectiveDate),FullTimeEquivalent=@FullTimeEquivalent
			
			where PolicyKey = @PolicyKey
				
			FETCH NEXT FROM c1 into @PolicyKey, @TransactionSequence, @VersionSequence,@InitTransactionSequence					
		end
		CLOSE c1
		DEALLOCATE c1


select dbo.removeSpecialCharacter(AccountName) as AccountName,PolicyKey,TransactionSequence,VersionSequence,PolicyStatusKey,QuoteNumber,CONVERT(VARCHAR(10), CONVERT(datetime, PolicyEffectiveDate, 109), 101) as PolicyEffectiveDate,CONVERT(VARCHAR(10), CONVERT(datetime, NewEffectiveDate, 109), 101) as NewPolicyEffectiveDate,PolicyNumber,StateCode,StateDesc,CountyDesc,City,LimitAmount,DeductibleAmount,IsClaimOptionType,IsClaimExpensesType,IsDollarDefense,Modifier,NumberOfLawyers,NumberOfLawyers1000,NumberOfLawyers500,ClaimAge_1,ClaimAge_2,ClaimAge_3,ClaimAge_4,ClaimAge_5,ClaimAge_6,ClaimAge_7,ClaimAge_8,ClaimAge_9,ClaimAge_10,FullTimeEquivalent,Administrative_Regulatory,Admiralty_Maritime,Alternative_Dispute_Resolution,Antitrust,Appellate_Practice,Aviation,Bankruptcy,Civil_Litigation_Defense,Civil_Litigation_Plaintiff,Civil_Rights_Discrimination,Collections_Repossession,Communications_Media,Construction,Construction_Litigation_Defense,Construction_Litigation_Plaintiff,Copyright_Trademark,Corporate_Commercial_Business,Corporate_Commercial_Litigation_Defense,Corporate_Commercial_Litigation_Plaintiff,Creditor_Debtor_Rights,Criminal_Defense,Education,Elder_Law,Employee_Benefits_ERISA,Employment,Entertainment_Sports,Environmental,Family_Law,Financial_Institution_Banking_Finance,Government_Municipal_Zoning,Healthcare,Insurance_Defense,Immigration,International,Investment_Counseling_Money_Management,Juvenile_Guardianship,Labor_Management,Labor_Union,Mass_Tort_Class_Actions_Litigation_Defense,Mass_Tort_Class_Actions_Litigation_Plaintiff,Medical_Malpractice_Defense,Medical_Malpractice_Plaintiff,Mergers_Acquisitions,Natural_Resources,Non_Medical_Malpractice_Defense,Non_Medical_Malpractice_Plaintiff,Non_Profit_Charities,Other_Litigation_Defense,Other_Litigation_Plaintiff,Patent,Personal_Injury_Litigation_Defense,Personal_Injury_Litigation_Plaintiff,Product_Liability_Litigation_Defense,Product_Liability_Litigation_Plaintiff,Real_Estate_Commercial,Real_Estate_Residential,Securities,Social_Security_Disability,Tax,Traffic_DUI_DWI_Defense,Trusts_Estates_Wills_Probate,Utilities,Workers_Compensation_Defense,Workers_Compensation_Plaintiff,Other,OldPremium,Premium,IsManualPremium,OldModifiers,DirectSubproduced
 from #TempPolicyList order by PolicyKey --5where policykey=88265
drop table #TempPolicyList

END










GO
