USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_effectivedate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[weeklyreport_effectivedate]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_effectivedate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[weeklyreport_effectivedate] AS' 
END
GO
ALTER PROCEDURE [dbo].[weeklyreport_effectivedate]
 @WeekFromDate varchar(10) , 
 @WeekToDate varchar(10),
 @FirstReviewUserID varchar(100),
 @WeekMarketableProductKey varchar(50),
 @ProjectType varchar(5), 
 @SumTotal int out,
 @UnderReviewTotal int out, 
 @DeclinedTotal int out,
 @QuotedNewTotal int out,
 @IssuedTotal int out,
 @HitRatioSum varchar(30) out,
 @PendingTotal int out,
 @RejectedTotal int out,
 @Totalofsumpremium varchar(30) out	

 AS BEGIN

declare @allpolicy int
declare @underreview int
declare @declined int
declare @issued int
declare @rejected int
declare @issuedwithpremium int
declare @totalpremiumfromissued numeric(15,0)
declare @totalpremiumfromissuedNB numeric(15,0)
declare @totalpremiumfromissuedRen numeric(15,0)
declare @accepted int
declare @quoted int
declare @newqq int
declare @newfq int
declare @totalapps int
declare @underreviewnew int
declare @pending int
declare @quotednew int
declare @hitratio varchar(30) 
declare @sumtotalofpremium bigint

declare @MinCreatedMonth int
declare @MaxCreatedMonth int
declare @MinCreatedYear int
declare @MaxCreatedYear int

declare @totalPremium varchar(25)
declare @monthofpolicyeff varchar(10)
declare @From_Date datetime 
declare	@To_Date datetime

CREATE TABLE #TempPolicyList (
    [MonthNo] int,
    [YearNo] int,
    [AllPolicy] [int]	,
    [UnderReview] [int] ,
    [Declined] [int] ,
    [Issued] [int] ,
    [Rejected] [int] ,
    [IssuedWithPremium] [int] ,
    [TotalPremiumFromIssued] varchar(25),
    [Accepted] [int] ,
    [Quoted] [int] ,
    [NewQQ] [int] ,
    [NewFQ] [int] ,
    [TotalApps] [int],
    [UnderReviewNew] [int] ,
    [Pending][int],
    [QuotedNew] [int] ,
    [HitRatio]varchar(30),
    [MonthOfPolicyEff] varchar(10),
    [PremiumFromIssued] [bigint],
    [PremiumFromIssuedNB] [bigint],
    [PremiumFromIssuedRen] [bigint]
    
		 
) 
set @SumTotal=0
set @UnderReviewTotal=0
set @DeclinedTotal =0
set @QuotedNewTotal =0
set @IssuedTotal =0
set @PendingTotal=0
set @RejectedTotal=0
set @sumtotalofpremium=0
set @Totalofsumpremium=0
set @totalpremiumfromissuedNB=0
set @totalpremiumfromissuedRen=0

select @From_Date = CAST(@WeekFromDate as datetime)
select @To_Date =CAST(@WeekToDate as datetime)

if(@ProjectType = 'Lwy')
		set @WeekMarketableProductKey = 2

if(@ProjectType = 'Acc')
	Begin
		if(@FirstReviewUserID <> '')
		begin
			while @From_Date <= @To_Date		
				begin
					
					select @MinCreatedYear =  DATEPART (YEAR,@From_Date)
					select @MinCreatedMonth =  DATEPART (MONTH,@From_Date)				
					
					select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (2) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (4) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (5) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issuedwithpremium = count(*), @totalpremiumfromissued = isnull(sum(pt.TotalPremium),0) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					
					set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
								   
					select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
					select @Totalofsumpremium = dbo.getAmountFormat(@Totalofsumpremium);	
			
					select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
					select @totalPremium=dbo.getAmountFormat(@totalPremium);

					select @monthofpolicyeff = REPLACE(RIGHT(CONVERT(VARCHAR(11), policyeffectivedate, 106), 8), ' ', '. ') from Policy where datepart(month,policyeffectivedate)=@MinCreatedMonth and DATEPART (YEAR,policyEffectiveDate) = @MinCreatedYear and isUncompletedData = 'N' and MarketableProductKey = @WeekMarketableProductKey
					
					select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (7) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (3) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.IsQuickQuote = 'Y' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (1) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.IsFullQuote = 'Y' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (1) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					
					select @underreviewnew =(@underreview+@newfq)
					set @UnderReviewTotal= @UnderReviewTotal+@underreviewnew				
					
					select @pending = (@accepted+@quoted)
					select @quotednew =(@pending+@issued+@rejected)
					
					set @DeclinedTotal = @DeclinedTotal+@declined
					
					select @totalapps =(@underreviewnew+@declined+@quotednew)
					
					set @QuotedNewTotal = @QuotedNewTotal+@quotednew					
					set @SumTotal= @SumTotal+@totalapps					
					set @IssuedTotal=@issued+@IssuedTotal					
					set @PendingTotal =@pending+@PendingTotal					
					set @RejectedTotal= @rejected+@RejectedTotal	
					
					if(@quotednew!=0)
						BEGIN 								
						select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'							
						END
					   ELSE
						select @hitratio='0%';
						
						if(@QuotedNewTotal!=0)
						BEGIN
						select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'	
						END
						ELSE
						select @HitRatioSum = '0%';						
							
					if(@allpolicy != 0)
						begin
							insert into #TempPolicyList(MonthNo,YearNo,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,MonthOfPolicyEff,PremiumFromIssued) values(@MinCreatedMonth,@MinCreatedYear,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@monthofpolicyeff,@totalpremiumfromissued)
						end
					select @From_Date = DATEADD(month,1,@From_Date)						
						
				end

		end

	End
	
if(@ProjectType = 'Lwy')
	Begin
		if(@FirstReviewUserID <> '')
		begin
			while @From_Date <= @To_Date		
				begin
					
					select @MinCreatedYear =  DATEPART (YEAR,@From_Date)
					select @MinCreatedMonth =  DATEPART (MONTH,@From_Date)				
					
					select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (2) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (4) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (5) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @issuedwithpremium = count(*), @totalpremiumfromissued = isnull(sum(pt.TotalPremium),0) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					
					set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
								   
					select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
					select @Totalofsumpremium = dbo.getAmountFormat(@Totalofsumpremium);	
			
					select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
					select @totalPremium=dbo.getAmountFormat(@totalPremium);

					select @monthofpolicyeff = REPLACE(RIGHT(CONVERT(VARCHAR(11), policyeffectivedate, 106), 8), ' ', '. ') from Policy where datepart(month,policyeffectivedate)=@MinCreatedMonth and DATEPART (YEAR,policyEffectiveDate) = @MinCreatedYear and isUncompletedData = 'N' and MarketableProductKey = @WeekMarketableProductKey
					
					select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (7) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (3) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.IsQuickQuote = 'Y' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (1) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.IsFullQuote = 'Y' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (1) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
					
					select @underreviewnew =(@underreview+@newfq)
					set @UnderReviewTotal= @UnderReviewTotal+@underreviewnew				
					
					select @pending = (@accepted+@quoted)
					select @quotednew =(@pending+@issued+@rejected)
					
					set @DeclinedTotal = @DeclinedTotal+@declined
					
					select @totalapps =(@underreviewnew+@declined+@quotednew)
					
					set @QuotedNewTotal = @QuotedNewTotal+@quotednew					
					set @SumTotal= @SumTotal+@totalapps					
					set @IssuedTotal=@issued+@IssuedTotal					
					set @PendingTotal =@pending+@PendingTotal					
					set @RejectedTotal= @rejected+@RejectedTotal	
					
								
					
					if(@quotednew!=0)
						BEGIN 								
						select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'							
						END
					   ELSE
						select @hitratio='0%';
						
						if(@QuotedNewTotal!=0)
						BEGIN
						select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'	
						END
						ELSE
						select @HitRatioSum = '0%';						
							
					if(@allpolicy != 0)
						begin
							insert into #TempPolicyList(MonthNo,YearNo,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,MonthOfPolicyEff,PremiumFromIssued) values(@MinCreatedMonth,@MinCreatedYear,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@monthofpolicyeff,@totalpremiumfromissued)
						end
					select @From_Date = DATEADD(month,1,@From_Date)						
						
				end

		end

	End
	
		

if(@FirstReviewUserID = '' or @FirstReviewUserID is null)
	begin		
		while @From_Date <= @To_Date		
			begin
				
				select @MinCreatedYear =  DATEPART (YEAR,@From_Date)
				select @MinCreatedMonth =  DATEPART (MONTH,@From_Date)
				
				select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (2) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (4) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (5) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @issuedwithpremium = count(*),  @totalpremiumfromissued = isnull(sum(pt.TotalPremium),0) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				
				select @totalpremiumfromissuedNB = isnull(sum(pt.TotalPremium),0) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and p.PolicyStatusKey=1 and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @totalpremiumfromissuedRen = isnull(sum(pt.TotalPremium),0) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N'  and p.PolicyStatusKey=2 and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (6) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				
				set @sumtotalofpremium= cast(@totalpremiumfromissued as numeric(15,0)) + @sumtotalofpremium
							   
				select @Totalofsumpremium = cast(@sumtotalofpremium as varchar(20));
				select @Totalofsumpremium = dbo.getAmountFormat(@Totalofsumpremium);	
					
				select @totalPremium = cast(@totalpremiumfromissued as varchar(20));
				select @totalPremium=dbo.getAmountFormat(@totalPremium);						

				select @monthofpolicyeff = REPLACE(RIGHT(CONVERT(VARCHAR(11), policyeffectivedate, 106), 8), ' ', '. ') from Policy where datepart(month,policyeffectivedate)=@MinCreatedMonth and DATEPART (YEAR,policyEffectiveDate) = @MinCreatedYear and isUncompletedData = 'N'  and PolicyStatusKey=1 and MarketableProductKey = @WeekMarketableProductKey
										
				select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (7) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (3) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.IsQuickQuote = 'Y' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (1) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.IsFullQuote = 'Y' and DATEPART (MONTH,p.PolicyEffectiveDate) = @MinCreatedMonth and pt.StatusKey in (1) and DATEPART (YEAR,p.PolicyEffectiveDate) = @MinCreatedYear and p.MarketableProductKey = @WeekMarketableProductKey
				
				select @underreviewnew =(@underreview+@newfq)
				set @UnderReviewTotal= @UnderReviewTotal+@underreviewnew
				
				select @pending = (@accepted+@quoted)
				select @quotednew =(@pending+@issued+@rejected)
				
				set @DeclinedTotal = @DeclinedTotal+@declined
				
				select @totalapps =(@underreviewnew+@declined+@quotednew)
				set @QuotedNewTotal = @QuotedNewTotal+@quotednew					
				set @SumTotal= @SumTotal+@totalapps					
				set @IssuedTotal=@issued+@IssuedTotal					
				set @PendingTotal =@pending+@PendingTotal					
				set @RejectedTotal= @rejected+@RejectedTotal			
							
				
				if(@quotednew!=0)
					BEGIN 								
					select @hitratio=ltrim(STR(cast(@issued as decimal)/cast(@quotednew as decimal)*100,200,0))+'%'							
					END
				   ELSE
					select @hitratio='0%';
					
					if(@QuotedNewTotal!=0)
					BEGIN
					select @HitRatioSum = ltrim(STR(cast(@IssuedTotal as decimal)/cast(@QuotedNewTotal as decimal)*100,200,0))+'%'	
					END
					ELSE
					select @HitRatioSum = '0%';
						
				if(@allpolicy != 0)
					begin
						insert into #TempPolicyList(MonthNo,YearNo,AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,UnderReviewNew,Pending,QuotedNew,HitRatio,MonthOfPolicyEff,PremiumFromIssued,PremiumFromIssuedNB,PremiumFromIssuedRen) values(@MinCreatedMonth,@MinCreatedYear,@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremium,@accepted,@quoted,@newqq,@newfq,@totalapps,@underreviewnew,@pending,@quotednew,@hitratio,@monthofpolicyeff,@totalpremiumfromissued,@totalpremiumfromissuedNB,@totalpremiumfromissuedRen)
					end
				
				select @From_Date = DATEADD(month,1,@From_Date)						
				
					
			end	
	end	
	
	select * from #TempPolicyList
	drop table #TempPolicyList

END

GO
