USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAOPDetailsAfterDelete_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAOPDetailsAfterDelete_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAOPDetailsAfterDelete_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAOPDetailsAfterDelete_p] AS' 
END
GO
--select * from aoplw
--EXEC UpdateAOPDetailsAfterDelete_p 54733,20 	
ALTER PROCEDURE [dbo].[UpdateAOPDetailsAfterDelete_p]
(
	@PolicyKey INT,
	@AOPKey INT,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
	
AS
BEGIN
	UPDATE AreaOfPracticeLW set PercentageValue=null,AOPCommentDesc=null, LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AOPKey=@AOPKey and PolicyKey=@PolicyKey
	IF(@AOPKey=18)
	BEGIN 
		DELETE FROM AreaOfLitigationForFirmLW WHERE policykey=@PolicyKey
		DELETE FROM PlantiffSuppLW WHERE policykey=@PolicyKey
	END
	IF(@AOPKey=3)
	BEGIN 
		DELETE FROM BankruptcyDetailsLW WHERE policykey=@PolicyKey
		DELETE FROM BankruptcyCasesDetailsLW WHERE policykey=@PolicyKey
	END
	IF(@AOPKey=31)
	BEGIN 
		DELETE FROM BankruptcyDetailsLW WHERE policykey=@PolicyKey
		DELETE FROM BankruptcyCasesDetailsLW WHERE policykey=@PolicyKey
		DELETE FROM BankruptcyCasesDetailsLW_New WHERE policykey=@PolicyKey
	END

	IF(@AOPKey=6)
	BEGIN 
		DELETE FROM collectionsSuplimentDetailsLW WHERE policykey=@PolicyKey
		
	END
	IF(@AOPKey=5)
	BEGIN 
		DELETE FROM CorporateCommBusineesSupplementLW WHERE policykey=@PolicyKey
		
	END
	IF(@AOPKey=3)
	BEGIN 
		DELETE FROM CopyRightTrademarkDetailsLW WHERE policykey=@PolicyKey
	END

	IF(@AOPKey=8)
	BEGIN 
		DELETE FROM FamilyLawDetailsLW WHERE policykey=@PolicyKey
		

	END

	IF(@AOPKey=12)
	BEGIN 
		DELETE FROM FinancialInstitutionDetailsLW WHERE policykey=@PolicyKey
	END

	IF(@AOPKey=13)
	BEGIN 
		DELETE FROM GovernmentSupplementDetailsLW WHERE policykey=@PolicyKey
		DELETE FROM GovernmentServicesDetails WHERE policykey=@PolicyKey
	END

	IF(@AOPKey=22)
	BEGIN 
		DELETE FROM TaxSuppDetailsLW WHERE policykey=@PolicyKey
		DELETE FROM TaxSuppLW WHERE policykey=@PolicyKey
		
	END

	IF(@AOPKey=24)
	BEGIN 
		DELETE FROM WillsEstateServicesLW WHERE policykey=@PolicyKey
		DELETE FROM WillSTrustEstateLargestTrustsDetails WHERE PolicyKey=@PolicyKey
		DELETE FROM WillsTrustsEstateSuppLW WHERE PolicyKey=@PolicyKey
		DELETE FROM  WillsStateTrustValuesAmountsLW  WHERE PolicyKey=@PolicyKey
	END

	IF(@AOPKey=20 OR @AOPKey=27)
	BEGIN 

		IF(@AOPKey=20)
		BEGIN 
			UPDATE AreaOfPracticeRealEstateLW SET CommercialPercentageValue=null,	AOPRECommCommentDesc=null, LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
			UPDATE RealEastateDetailsLW	SET transactionsHandled12MonthsComm=null,largestTransaction12MonthsComm=null, LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
		END

		IF(@AOPKey=27)
		BEGIN 
				UPDATE AreaOfPracticeRealEstateLW SET PercentageValue=null,	AOPRECommentDesc=null,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
				UPDATE RealEastateDetailsLW	SET transactionsHandled12MonthsResi=null,largestTransaction12MonthsResi=null,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE PolicyKey=@PolicyKey
		END
		
		DECLARE @Count INT
		Select @Count=count(*) from SmartSearchValue Where AOPKEY in(20,27) and PolicyKey=@PolicyKey
		SELECt @Count
		IF(@Count=0)
		BEGIN
			UPDATE RealEastateDetailsLW SET attendClosings=NULL,includeSecuringFinancing=NULL,	useDisclosureForm=NULL, LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
		END
	END
	
END




GO
