USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetSubProducerFormList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetSubProducerFormList]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetSubProducerFormList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetSubProducerFormList] AS' 
END
GO
ALTER PROCEDURE [dbo].[GetSubProducerFormList] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ProducerName,ProducerCode,State,SPCity,SPZip,SPContactName,SPPhoneNumber,NewCommission,RenewalCommission,SubProducerAccess from SubProducer order by ProducerCode
END


GO
