USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchDataResult_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SmartSearchDataResult_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchDataResult_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SmartSearchDataResult_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[SmartSearchDataResult_p]
(
@aopSearch VARCHAR(100),
@PolicyKey INT,
@LitImplementationDate DATETIME
)
AS
BEGIN
	
	DECLARE @CreatedDate DATETIME
	DECLARE @DaysDiffenence INT
	SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
	SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
	

	if(@DaysDiffenence<0)
	BEGIN
		select  SUBSTRING(aa.AOPDescNew, CHARINDEX('.',aa.AOPDescNew) + 1, LEN(aa.AOPDescNew))  as AopSearch, aa.Aopkey as AOPKey  from AOPLW aa where AOPKey in(select AOPKey from SmartSearch where Keyword like  '%' + @aopSearch + '%' and (KeywordType='C' OR KeywordType='B')) and AOPKey not in(7,17,23,40)order by AopSearch asc  
	END
	ELSE
	BEGIN
		select  SUBSTRING(aa.AOPDescNew, CHARINDEX('.',aa.AOPDescNew) + 1, LEN(aa.AOPDescNew))  as AopSearch, aa.Aopkey as AOPKey  from AOPLW aa where AOPKey in(select AOPKey from SmartSearch where Keyword like  '%' + @aopSearch + '%' and (KeywordType='C' OR KeywordType='A')) and AOPKey not in(7,17,23,40)order by AopSearch asc  
	END
	
	
	END

GO
