USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sp_GetEmailsTemplatesData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Sp_GetEmailsTemplatesData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sp_GetEmailsTemplatesData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Sp_GetEmailsTemplatesData] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec Sp_GetEmailsTemplatesData 'QuoteLetter', 'HNV'
ALTER PROCEDURE [dbo].[Sp_GetEmailsTemplatesData](
	@EventName varchar(20),
	@CompanyCode varchar(20)
)
	
AS
BEGIN
	select Event_Name, emailNotifications.Description, Subject, Email_template, Attachment_content, TemplateName, TemplateDescription, TemplateBody, TemplateCode
	from Company company inner join EMAIL_NOTIFICATIONS_NEW emailNotifications
	on company.CompanyKey=emailNotifications.CompanyKey  inner join  Email_Templates emailTemplates on emailNotifications.Email_template=emailTemplates.TemplateCode
	where emailNotifications.Event_Name = @EventName and company.Code= @CompanyCode
  
END








GO
