USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccount_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccount_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccount_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccount_Proc] AS' 
END
GO

--exec SearchAccount_Proc null,null, 8, null, null, 'N', 'Y', null, null, null, null, null, null, null, null, 3, '2019-01-14', null, null
--exec SearchAccount_Proc null,'' , 8, null, null, 'N', 'Y', null, null, null, null, null, null, null, null, 3, '2019-01-14', null, null, null, '3'


--exec SearchAccount_Proc null,null , 2, null, null, 'N', 'Y', null, null, null, null, null,null , null, null, 3, '2019-01-14',null ,null , null, '3'


ALTER PROCEDURE [dbo].[SearchAccount_Proc] 
	@AccountName varchar(50) , 
	@StateCode varchar(100) , 
	@StatusKey varchar(2) , 
	@PolicyEffectiveDate varchar(50) , 
	@PolicyNumber varchar(15)  ,
	@IsQuickQuote varchar(1) , 
	@IsFullQuote varchar(1),
	@PolicyNumber_Search varchar(20),
	@IsRenewed_search char(1),
	@DueForRenewal_search char(1),
	@NumberOfDays_search varchar(50),
	@PolicyEffectiveDate2 varchar(50),
	@ProducerCodefilter	varchar(1000),
	@EligibleFirstReviewerfilter varchar(1000)=null,
	@Producercode1	varchar(2000)=null,
	@LastUpdateUserID int=null,
    @NewAppImplementationDate DateTime,
	@SearchAppCreatedDateFrom varchar(50),
	@SearchAppCreatedDateTo varchar(50),
	@Company_search varchar(200),
	@role_id varchar(20)
   
 AS BEGIN

declare  @sqlstm varchar(8000), @sqlstmBroker varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)
declare @isBrokered char='N'

declare @TransactionSequence int
declare @VersionSequence int
	
	if((@SearchAppCreatedDateFrom <> '' AND @SearchAppCreatedDateFrom is not null) AND (@PolicyEffectiveDate = '' OR @PolicyEffectiveDate is null))
	BEGIN
		set @PolicyEffectiveDate = '1950-01-01'
	END
	if((@SearchAppCreatedDateTo <> '' AND @SearchAppCreatedDateTo is not null) AND (@PolicyEffectiveDate2 = '' OR @PolicyEffectiveDate2 is null))
	BEGIN
		select @PolicyEffectiveDate2=FORMAT(getdate()+730,'MM-dd-yyyy')
	END
	
	if(@PolicyEffectiveDate='' OR @PolicyEffectiveDate is null)
	BEGIN
		select @PolicyEffectiveDate= FORMAT(getdate()-30,'MM-dd-yyyy')
	END
	if(@PolicyEffectiveDate2='' OR @PolicyEffectiveDate2 is null)
	BEGIN
		select @PolicyEffectiveDate2=FORMAT(getdate()+120,'MM-dd-yyyy')
	END
	if((@PolicyEffectiveDate='' OR @PolicyEffectiveDate is null) and (@PolicyEffectiveDate2='' OR @PolicyEffectiveDate2 is null))
	BEGIN
		select @PolicyEffectiveDate= FORMAT(getdate()-30,'MM-dd-yyyy'), @PolicyEffectiveDate2=FORMAT(getdate()+120,'MM-dd-yyyy')	 
	END

	if Exists(select 1 from ProfileFilter_ACC where LastUpdateUserID=@LastUpdateUserID)
	BEGIN
		Select @IsRenewed_search=PolicyStatusKey, @ProducerCode1=Direct_SubProducedKey,
		@EligibleFirstReviewerfilter=FirstReviewerUserNo from ProfileFilter_ACC where LastUpdateUserID=@LastUpdateUserID
	END
	
	if(@SearchAppCreatedDateFrom = '' OR @SearchAppCreatedDateFrom is null)
	BEGIN
		set @SearchAppCreatedDateFrom = (select CONVERT(VARCHAR(10),'1950-01-01', 101))
		
	END
	if(@SearchAppCreatedDateTo = '' OR @SearchAppCreatedDateTo is null)
	BEGIN
		set @SearchAppCreatedDateTo = (select  CONVERT(VARCHAR(25),GETDATE(), 21))
	--	set @SearchAppCreatedDateFrom= 
	END

CREATE TABLE #TempPolicyList (
    [PolicyKey] [int] ,
	[PolicyEffectiveDate] [datetime] ,	
	[PolicyNumber] [varchar](20) ,	
	[isUncompletedData] [char](1) ,
	[QuoteNumber] [varchar](200) ,
	[IsFullQuote] [char](1) ,
	[IsQuickQuote] [char](1) ,

	[IsBasicPage] [char](1),
	[IsGeneralPage] [char](1) ,
	[IsSupplementPage] [char](1) ,	
	[IsAttesationPage] [char](1) ,
	[IsComputerServicePage] [char](1) ,
	[IsBusinessFundPage] [char](1) ,
	[IsPracriceMangPage] [char](1) ,	
	[FirstReviewUserID] [varchar](100) ,
	
	[AccountKey] [int] ,
	[AddressKey] [int] ,
	[AccountID] [int] ,
	[AccountName] [varchar](100) ,

	[Address1] [varchar](100) ,
	[StateCode] [varchar](20),
	[StateDesc] [varchar](50),
	[TransactionSequence] [int] ,
	[VersionSequence] [int] ,
	[CoverageSequence] [int] ,

	[PolicyExpirationDate] [datetime] ,

	[Premium] [varchar](25) ,
	[StatusDesc] [varchar](100),
	[StatusKey] [int] ,
	[PolicyStatusKey] [int] ,
	[TransactionTypeKey] [int] ,
	[UserNo] [int] ,
	[AgentName] [varchar](50),
	[FullQuick] [varchar](50),
	[AppDays] int,
	[QuoteSelectedNo] int,
	[ManualQuoteSelectedNo] int,
	[ManualQuoteFinalisedNo] int,
	[IsQuickQuotePage] [char](1),
	[AppCreatedDate] [datetime],
	[RatingTraceSequence] int,
	[IsDollarDefense] [char] (1),
	[MarketableProductKey] int,
	[CoverageKey] int,
	[IsViewed] char(1),
	[CountyDesc] [varchar](50),
	[IsInsuredViewed] char(1),
	[IsRenewed] char(1),
	[CreatedType] varchar(50),
	[IsRenewalReview] char(1),
	[RenewBasicInfoPage] char(1),
	[IsApplicationCompleted] char(1),
	[UWFlagCount] [int],
	[approveSubjective] [int],
	[isPricingApproved] char(1),
	[IsIndicationMailSent] char(1),
	AccountPolicyCount INT,
	ClaimIcon VARCHAR(100),
	MinTransactionSequence INT,
	isBrokerPolicy CHAR DEFAULT 'N',
	BrokeragePolicyKey INT ,    
	isRenewAsBrokerage CHAR,
	isConvertedPolicy CHAR DEFAULT 'N',
	LOBDesc VARCHAR(100),
	DecendentPolicyKey INT,
	CompanyKey INT,
	VersionKey INT,
	CompanyDesc VARCHAR(100),
	isAppCompleted CHAR,
	isDecendentPolicyCompleted CHAR
) 

 if(@Company_search is null or @Company_search='')
	begin
              exec  @Company_search= dbo.UserLoginSecurity_p @role_id
			if(@Company_search='0')
				set @Company_search=null
	end
if(@AccountName <> '')
	begin
		set  @AccountName = RTrim(LTrim(@AccountName))
		set  @AccountName = REPLACE( @AccountName, '''', '''''' )
	end
if(@PolicyNumber <> '')
	begin
		set  @PolicyNumber = RTrim(LTrim(@PolicyNumber))
		set  @PolicyNumber = REPLACE( @PolicyNumber, '''', '''''' )
	end
if(@PolicyEffectiveDate <> '')
	begin
		set  @PolicyEffectiveDate = RTrim(LTrim(@PolicyEffectiveDate))
	end
if(@PolicyEffectiveDate2 <> '')
	begin
		set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
	end
if(@SearchAppCreatedDateFrom <> '')
	begin
		set  @SearchAppCreatedDateFrom = RTrim(LTrim(@SearchAppCreatedDateFrom))
	end
if(@SearchAppCreatedDateTo <> '')
	begin
		set  @SearchAppCreatedDateTo = RTrim(LTrim(@SearchAppCreatedDateTo))
	end

	CREATE TABLE  #TempDirect_SubProducedKey
	(
		PolicyKey VARCHAR(20)
	)

	IF(@ProducerCode1 is null or @ProducerCode1='')
	BEGIN
		--Print 'Producer code is null'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt  WITH (NOLOCK)  on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=1 and p.isUncompletedData='N'
	END
	IF(@ProducerCode1 is not null and @ProducerCode1='SubProduced')
	BEGIN
		--Print 'Policies type ar subproduced'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt WITH (NOLOCK)  on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=1 and p.isUncompletedData='N'
		and  pt.ProducerCode <>'' and pt.ProducerCode is not null
	END
	
	IF(@ProducerCode1 is not null and @ProducerCode1='Direct')	 
	BEGIN
		--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt  WITH (NOLOCK) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=1 and p.isUncompletedData='N' 
		and( pt.ProducerCode='' OR pt.ProducerCode is null 
		-- Asked by Pat 02/14/2019 
		 or pt.ProducerCode in (select ProducerCode from SubProducer where IsDriect='Y'))
	END
	IF(@ProducerCode1 is not null and @ProducerCode1 <> '' and @ProducerCode1!='Direct' and @ProducerCode1!='SubProduced')
	BEGIN
		--print 'Specific subproducer is specified'
		INSERT INTO #TempDirect_SubProducedKey
		SELECT DISTINCT p.PolicyKey FROM Policy p 
		inner join PolicyTransaction pt  WITH (NOLOCK) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=1 and p.isUncompletedData='N' and pt.ProducerCode = @ProducerCode1		
	END

set @sqlstm = '
select dbo.getAmountFormat(pt.InvoicedPremium) as Premium,case when c.Code is not null and c.Code <>'''' then  p.quotenumber+'' (''+c.Code+'')'' else p.quotenumber end as quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
 pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsSupplementPage,f.IsAttesationPage,
  f.IsComputerServicePage,f.IsBusinessFundPage,f.IsPracriceMangPage,f.IsQuickQuotePage,f.FirstReviewUserID , f.VersionSequence,
   pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, f.IsViewed, adds.CountyDesc, f.IsInsuredViewed,
   f.IsRenewed,f.CreatedType,f.IsRenewalReview,f.RenewBasicInfoPage, (select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'')) as [approveSubjective],f.isPricingApproved,f.IsIndicationMailSent,
(select count(PolicyKey) from Policy Where AccountID=p.AccountID) as AccountPolicyCount,(select min(TransactionSequence) from Policytransaction where Policykey=p.PolicyKey) as MinTransactionSequence,''N'',null,''APL''
,(select top 1 pl.PolicyKey from Policy pl where AccountID=p.AccountID and pl.PolicyKey>p.PolicyKey order by pl.PolicyKey) as DecendentPolicyKey,p.CompanyKey,p.VersionKey,c.Code
   from Policy p
INNER JOIN PolicyTransaction pt  WITH (NOLOCK) ON  p.PolicyKey = pt.PolicyKey --AND p.PolicyStatusKey=pt.TransactionTypeKey 
INNER JOIN Account a  WITH (NOLOCK) ON   a.AccountKey =pt.AccountKey
INNER JOIN Firm f  WITH (NOLOCK) ON f.PolicyKey = pt.PolicyKey
INNER JOIN Status s  WITH (NOLOCK) ON s.StatusKey =pt.StatusKey
INNER JOIN AccountAddress aa  WITH (NOLOCK) ON aa.AccountKey = a.AccountKey
INNER JOIN Address adds  WITH (NOLOCK) ON aa.AddressKey=adds.AddressKey
INNER JOIN PolicyCoverage pc WITH (NOLOCK)  ON f.PolicyKey = pc.PolicyKey AND  p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence
LEFT JOIN Company c on c.CompanyKey=p.CompanyKey
LEFT JOIN Split('''+ISNULL(@ProducerCodefilter,'')+''','','') L ON L.items = pt.ProducerCode
LEFT JOIN Split('''+ISNULL(@EligibleFirstReviewerfilter,'')+''','','') L1 ON CASE WHEN '''+ISNULL(@EligibleFirstReviewerfilter,'')+''' <> '''' THEN L1.items ELSE  (ISNULL(NULLIF('''+ISNULL(@EligibleFirstReviewerfilter,'')+''',''''),f.FirstReviewUserID)) END = f.FirstReviewUserID
WHERE p.MarketableProductKey=1 
AND ISNULL(L.items,'''') = CASE WHEN NULLIF('''+ISNULL(@ProducerCodefilter,'')+''','''') IS  NULL THEN  '''' ELSE NULLIF(L.items,'''') END
AND ISNULL(L1.items,'''') = CASE WHEN NULLIF('''+ISNULL(@EligibleFirstReviewerfilter,'')+''','''') IS  NULL THEN  '''' ELSE NULLIF(L1.items,'''') END 
and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey) 
--AND pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey)
AND f.VersionSequence=(select max(versionsequence) from firm where policykey=p.PolicyKey)
AND pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='+'''N'''+')'



if(@StatusKey <> 6 and @StatusKey <>8)
begin
            set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey =8)
begin
            set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'

			
end 

--print @sqlstm

if(@StatusKey <> 2)
begin
      if(@IsFullQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsFullQuote='''+@IsFullQuote+''''
      end
      
       if(@IsQuickQuote <> '')
      begin
            set  @sqlstm = @sqlstm + ' and p.IsQuickQuote='''+@IsQuickQuote+''''
      end
end
if(@AccountName <> '')
begin
                set  @sqlstm = @sqlstm + ' and a.AccountName LIKE''%'+@AccountName +'%'+''''
end
if(@StateCode <> '')
begin

                --set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				set  @sqlstm = @sqlstm + ' and adds.StateCode IN (SELECT items FROM Split('''+@StateCode +''','',''))'
end
if(@Company_search  is not null and @Company_search<> '')

begin
		set  @sqlstm = @sqlstm + ' and p.CompanyKey  IN (SELECT items FROM Split('''+@Company_search +''','',''))'
end
--if(@StatusKey <> 0)
--begin
--                set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''''
--end



if(@StatusKey in(1,2,3,4,5,6,7,8,9,10,11))
begin

	 if(@IsQuickQuote ='Y' and @StatusKey in (1,11) )
		  begin
            set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment not in(''never sent'',''No Response'',''not converted'') or f.lostworkqComment is null or f.lostworkqComment = '''')'

	 end
	 if(@IsFullQuote ='Y' and @StatusKey in (1) )
		  begin
            set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment not in(''never quoted'',''No Response'') or f.lostworkqComment is null or f.lostworkqComment = '''')'

	 end
	if(@StatusKey =5)
	begin
    set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment <> ''Not Accepted'' or f.lostworkqComment is null or f.lostworkqComment = '''')'
	end
	if(@StatusKey in (2,9,10))
	begin
    set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (f.lostworkqComment <> ''never quoted'' or f.lostworkqComment is null or f.lostworkqComment = '''')'
	end
	if(@StatusKey in (3,4,6,7,8))
	begin
	 set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' '
  
	end

end







if(@StatusKey not in(1,2,3,4,5,6,7,8,9,10,11) and @StatusKey <> 0)
begin
                set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''''

end


if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate >= '''+@PolicyEffectiveDate +''' and p.PolicyEffectiveDate <= '''+@PolicyEffectiveDate2 + ''''
 end
 
 if(@SearchAppCreatedDateFrom <> '' and @SearchAppCreatedDateTo <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.AppCreatedDate >= '''+@SearchAppCreatedDateFrom +''' and p.AppCreatedDate <= '''+@SearchAppCreatedDateTo + ''''
 end

if((@StatusKey = 11 or @IsQuickQuote = 'Y') and (isNull(@PolicyEffectiveDate,'') = '' and isNull(@PolicyEffectiveDate2,'')=''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate >= dateadd(dd,-31,getdate()) and p.PolicyEffectiveDate <= dateadd(dd,120,getdate())'
 end

if(@PolicyNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and p.QuoteNumber LIKE'''+@PolicyNumber +'%'+''''
end

if(@PolicyNumber_Search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
 end
 

if(@IsRenewed_search <> '')
 begin
	if(@IsRenewed_search='1')--New
	BEGIN
		set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''1'''
	END
	ELSE if(@IsRenewed_search='2')--Renew
	BEGIN
		set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
	END	
 end
 
if(@NumberOfDays_search <> '')
	 begin
	print @NumberOfDays_search
if(@NumberOfDays_search <> 'Already Expired')
	begin	
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<='+cast(@NumberOfDays_search as varchar(10))+' and datediff(dd,getdate(),pt.policyexpirationdate)>''0'' and pt.StatusKey  =''6'''	
	end
	if(@NumberOfDays_search = 'Already Expired')
	begin
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<''0'' and pt.StatusKey  =''6'''	
	end
 end
 --@IsQuickQuote,@IsFullQuote
--if(@StatusKey = 1)
--begin
--                set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc'
--end
--if(@StatusKey != 1)
--begin
--                set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc'
--end


if(@StatusKey = 1 or @IsQuickQuote ='Y')
begin
	set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc, PolicyKey'
end
--if(@StatusKey != 1 and @IsQuickQuote!='Y')
else
begin
	set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc, PolicyKey'
end





print @sqlstm
if(@isBrokered !='Y' or @isBrokered is null or @isBrokered = '') 
 begin
Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,
PolicyEffectiveDate, AccountName,   TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, 
StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage,IsSupplementPage,
IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,IsPracriceMangPage, IsQuickQuotePage, FirstReviewUserID, VersionSequence, 
CoverageSequence, AppCreatedDate, MarketableProductKey, CoverageKey, IsViewed, CountyDesc, IsInsuredViewed, IsRenewed, CreatedType,
IsRenewalReview,RenewBasicInfoPage,UWFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,AccountPolicyCount,MinTransactionSequence,isBrokerPolicy,BrokeragePolicyKey,
LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey,CompanyDesc) EXECUTE ( @sqlstm)  

END


set @sqlstmBroker='Select AccountID,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,	(CASE bkl.TransactionTypeKey WHEN ''2'' 
   THEN 
		CASE isNull(bkl.ProducerCode,'''') WHEN '''' 
			THEN st.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(bkl.ProducerCode,'''') WHEN ''''
		THEN  st.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,	s.StateDesc ,bkl.CreatedDate,''Brokerage'',Premium ,bkl.CreatedBy,	ud.AgentName ,''Y'',Address,''Y'' ,''N'',''N'',State,BrokeragePolicyKey,bkl.StatusKey,bkl.isConvertedPolicy,(select count(PolicyKey) from Policy Where AccountID=bkl.AccountID) as AccountPolicyCount,lb.LOBDesc_Brokerage
		from BrokerageLW bkl left join Status st on bkl.StatusKey=st.StatusKey left join State s on s.StateCode=bkl.State  left join UserDetails ud on ud.UserNo=bkl.FirstReviewUserID LEFT JOIN LOB lb on lb.LOBKey=bkl.LOBKey  where isArchived!=''True'''

 
 
 set @sqlstmBroker = @sqlstmBroker + ' and bkl.StatusKey='+ @StatusKey


 
if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstmBroker = @sqlstmBroker + ' and bkl.BrokerPolicyEffectiveDate >= '''+@PolicyEffectiveDate +''' and bkl.BrokerPolicyEffectiveDate <= '''+@PolicyEffectiveDate2 + ''''
 end

  if(@SearchAppCreatedDateFrom <> '' and @SearchAppCreatedDateTo <> '')
 begin--Cast('06/01/2020' as Date)
	set  @sqlstmBroker = @sqlstmBroker + ' and CONVERT(varchar, CAST(bkl.CreatedDate as Date),120) >= '''+ CONVERT(varchar, CAST(@SearchAppCreatedDateFrom as Date),120) +''' and CONVERT(varchar, CAST(bkl.CreatedDate as Date),120) <= '''+CONVERT(varchar, CAST(@SearchAppCreatedDateTo as Date),120) + ''''
 end


 if(@StateCode <> '')
begin
                --set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				set  @sqlstmBroker = @sqlstmBroker + ' and bkl.State IN (SELECT items FROM Split('''+@StateCode +''','',''))'
end

 if(@EligibleFirstReviewerfilter <> '')
begin
                --set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				set  @sqlstmBroker = @sqlstmBroker + ' and ud.UserNo IN (SELECT items FROM Split('''+@EligibleFirstReviewerfilter +''','',''))'
end


DECLARE @AccountID INT,@InitTransactionSequence INT,@InitPremium Numeric(17,2),@Premium VARCHAR(100),@isRenewAsBrokerage CHAR='N',@DecendentPolicyKey INT,@DecendentPolicyKeyStatus INT,@PolicyPerAccountCount INT,@PLPOlicyCount INT,@IsRenewed CHAR,@isDecendentPolicyCompleted CHAR
DECLARE @P_TotalPremium NUMERIC(17,2),@P_TotalPolicyTaxAmount numeric(17,2),@PreviousInvoicedPremium Numeric(10,2),@PresentInvoicedPremium Numeric(10,2),@PreviousFinalTransaction INT
DECLARE c1 CURSOR 	FOR
			SELECT  QuoteNumber,FirstReviewUserID,PolicyKey,AccountID,Premium,StatusKey,MinTransactionSequence,IsRenewed,DecendentPolicyKey FROM #TempPolicyList  
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey,@AccountID,@Premium,@StatusKey,@InitTransactionSequence,@IsRenewed,@DecendentPolicyKey
	WHILE @@FETCH_STATUS = 0
		BEGIN
			set @AgentName = ''
			SET @isDecendentPolicyCompleted=(select top 1 CASE when isAppCompleted is not null then isAppCompleted else 'N' End from Firm where Policykey=@DecendentPolicyKey)
			set @IsApplicationCompleted = ''
			if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
				begin
					select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID					
				end

			set @InvoicedPremium = ''
			select @InvoicedPremium = dbo.getAmountFormat(pt.InvoicedPremium) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @QuoteSelectedNo = count(*) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt, Quote q, RatingTrace rt where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc, Quote q, RatingTrace rt where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			exec CheckIfApplicationIsCompletedAccount @PolicyKey, @IsApplicationCompleted output

			update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName, QuoteSelectedNo = @QuoteSelectedNo, ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo, RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense, IsApplicationCompleted=@IsApplicationCompleted where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
			update #TempPolicyList set ClaimIcon=(SELECT dbo.ValidateClaimsAcc(@PolicyKey,@AccountID)) where PolicyKey= @PolicyKey 
			
	

			set @P_TotalPremium=0.0
			set @P_TotalPolicyTaxAmount=0.0
			SET @isDecendentPolicyCompleted=(select top 1 CASE when isAppCompleted is not null then isAppCompleted else 'N' End from FirmLW WITH(NOLOCK) where Policykey=@DecendentPolicyKey)
			
				
		If Exists(select top 1 PolicyKey from EndorsementDetails  where PolicyKey=@PolicyKey)
		begin
		Print 'hi'
				select top 1 @PreviousFinalTransaction=PreviousFinalizedTransactionSequence 	from EndorsementDetails WITH(NOLOCK) where PolicyKey=@PolicyKey
				select @P_TotalPremium=TotalPremium,@P_TotalPolicyTaxAmount=TotalPolicyTaxAmount,@PreviousInvoicedPremium=InvoicedPremium from PolicyTransaction WITH(NOLOCK) where PolicyKey=@PolicyKey and TransactionSequence=@PreviousFinalTransaction
				DECLARE @PremiumVariation Numeric(17,2)=0.0,@TaxVariation Numeric(17,2)=0.0
				DECLARE @P1 NUMERIC(17,2)=0.0,@T1 NUMERIC(17,2)=0.0,@EndorsementInvoicedPremium Numeric(17,2)
					DECLARE cursor10 CURSOR FOR   select PremiumVariation,TaxVariation from EndorsementDetails WITH(NOLOCK) where PolicyKey=@PolicyKey   and isFinancialEndirsement='Y'              
					OPEN cursor10;

					FETCH NEXT FROM cursor10 INTO  @PremiumVariation,@TaxVariation
					WHILE @@FETCH_STATUS = 0
						BEGIN
							--select @PremiumVariation,@TaxVariation
							set @P1=@P1+@PremiumVariation
							SET @T1=@T1+@TaxVariation
							FETCH NEXT FROM cursor10 INTO @PremiumVariation,@TaxVariation
						END;

					CLOSE cursor10;

					DEALLOCATE cursor10;
					set @EndorsementInvoicedPremium=@P1+@T1
				--select @EndorsementInvoicedPremium,@PreviousInvoicedPremium+@EndorsementInvoicedPremium
				update #TempPolicyList set Premium = dbo.getAmountFormat(@PreviousInvoicedPremium+@EndorsementInvoicedPremium)  where PolicyKey = @PolicyKey --and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
			
		
			end
			
	set @InvoicedPremium=''	


		if(@Premium is null or @Premium='' and @StatusKey=3)
			begin
				set @InitPremium=(select InvoicedPremium from PolicyTransaction where TransactionSequence=@InitTransactionSequence and PolicyKey=@PolicyKey)
				update #TempPolicyList set Premium=dbo.getAmountFormat(@InitPremium) where PolicyKey=@PolicyKey
			end
		
		 if(@StatusKey=6 and @IsRenewed is null)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else if(@StatusKey=6 and @IsRenewed='Y')	
					begin
					print 'HI2'
						Set @DecendentPolicyKeyStatus=(select top 1 statuskey from PolicyTransaction where PolicyKey=@DecendentPolicyKey)

						--select @PolicyKey as PolicyKey,@DecendentPolicyKey as DecendentPolicyKey,@DecendentPolicyKeyStatus as DecendentPolicyStatus
								if(@DecendentPolicyKeyStatus!=6)
									set @isRenewAsBrokerage='Y'
								else
								set @isRenewAsBrokerage='N'
							
					end	
				else if(@StatusKey=1 or @StatusKey=2 or @StatusKey=3 or @StatusKey=7 or @StatusKey=9 or @StatusKey=10)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else
					set @isRenewAsBrokerage='N'
			set @PLPOlicyCount=(select case when count(*) is null then 0 else  count(*) END from Policy where AccountID=@AccountID)
			set @PolicyPerAccountCount=(select case when count(*) is null then 0 else  count(*) END from BrokerageLW where AccountID=@AccountID)
			Update #TempPolicyList set AccountPolicyCount=(@PolicyPerAccountCount+@PLPOlicyCount ) where AccountID=@AccountID
			update #TempPolicyList set isRenewAsBrokerage=@isRenewAsBrokerage,isDecendentPolicyCompleted=@isDecendentPolicyCompleted where PolicyKey= @PolicyKey 
			
			FETCH NEXT FROM c1 into  @QuoteNumber ,@FirstReviewUserID, @PolicyKey,@AccountID,@Premium,@StatusKey,@InitTransactionSequence,@IsRenewed,@DecendentPolicyKey
		END

		


CLOSE c1
DEALLOCATE c1

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>@NewAppImplementationDate

update #TempPolicyList
set IsApplicationCompleted=(SELECT FullyCompleted from ValidateFullApplicationACC(nat.PolicyKey))
from #TempPolicyList tpl 
inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey

drop table #NEWAPPTABLE
--print @sqlstm
update #TempPolicyList set isAppCompleted=IsApplicationCompleted
select * from #TempPolicyList
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END













GO
