USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateUserInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateUserInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateUserInfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateUserInfo] AS' 
END
GO
--exec UpdateUserInfo  'Acc', 'qn-0160044', 'test Deal Auto quote', '4443test', '', '(345)435-4353', '', '08/31/2025', '', 'testDealAutoquote@testDealAutoquote.com', '', 0, 'CA', 'Alameda', 'rrrrr', '45435', '4353', '', '', 3, '2024-09-11 21:34:57.627', 2, ''
ALTER PROCEDURE [dbo].[UpdateUserInfo]
	@ProjectType varchar(20), 
	@QuoteNumber varchar(50),	
	@AccountName varchar(100),
	@Address1 varchar(100),
	@Address2 varchar(100),
	@WorkPhone varchar(100),
	@WorkExt varchar(50),
	@PolicyExpirationDate datetime,
	@PriorActDatePross datetime,
	@AccountEmail varchar(50),
	@ProducerCode_admin varchar(50),
	@FirstReviewerId varchar(50),
	@StateCode varchar(50),
	@CountyDesc varchar(50),
	@City varchar(50),
	@Zip varchar(10),
	@Zip4 varchar(10),
	@ContactPerson_admin varchar(50),
	@secondaryEmail_admin VARCHAR(200),
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(500),
	@StatusKey INT,
	@InsuranceCompanyNamePross varchar(100),
	@ProInsPremium_admin varchar(100)
	
AS
BEGIN
declare @AccountID int
declare @AccountKey int
declare @AddressKey int
declare @PolicyKey int,@ProducerCode VARCHAR(100),@SecondaryEmail VARCHAR(500)

select @PolicyKey=PolicyKey from Policy where QuoteNumber=@QuoteNumber
select top 1 @AccountKey=AccountKey from PolicyTransaction where PolicyKey=@PolicyKey
select @AddressKey=AddressKey from AccountAddress where AccountKey=@AccountKey

select top 1 @SecondaryEmail=a.secondaryEmail,@ProducerCode=pt.producercode  from Account a inner Join PolicyTransaction pt on pt.AccountKey=a.AccountKey inner join Policy p on p.PolicyKey=pt.PolicyKey where p.PolicyKey=@PolicyKey

if(@StatusKey <> '')
	begin
		set  @AccountName = RTrim(LTrim(@AccountName))
		update Account set AccountName = @AccountName,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AccountKey = @AccountKey 
	end

	
if(@AccountName <> '')
	begin
		set  @AccountName = RTrim(LTrim(@AccountName))
		update Account set AccountName = @AccountName,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AccountKey = @AccountKey 
	end
if(@Address1 <> '')
	begin
		set  @Address1 = RTrim(LTrim(@Address1))
		update Address set Address1 = @Address1,Street=@Address1,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@Address2 <> '')
	begin
		set  @Address2 = RTrim(LTrim(@Address2))
		update Address set Address2 = @Address2,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@StateCode <> '')
	begin
		update Address set StateCode =@StateCode,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@CountyDesc <> '')
	begin
		set  @CountyDesc = RTrim(LTrim(@CountyDesc))
		if(@CountyDesc = 'EMPTY')
		begin
			set @CountyDesc = null
		end
		update Address set CountyDesc =@CountyDesc,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@City <> '')
	begin
		set  @City = RTrim(LTrim(@City))
		if(@City = 'EMPTY')
		begin
			set @City = null
		end
		update Address set City = @City,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@Zip <> '')
begin
	begin
		set  @Zip = RTrim(LTrim(@Zip))
		update Address set Zip =@Zip,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
end
if(@Zip4 <> '')
begin
	begin
		set  @Zip4 = RTrim(LTrim(@Zip4))
		if(@Zip4 = '0')
		begin
			set @Zip4 = null
		end
		update Address set Zip4 =@Zip4,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
end


if(@WorkPhone <> '')
	begin
		set  @WorkPhone = RTrim(LTrim(@WorkPhone))
		update Address set WorkPhone = @WorkPhone,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@WorkExt <> '')
	begin
		set  @WorkExt = RTrim(LTrim(@WorkExt))
		update Address set WorkExt = @WorkExt,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AddressKey = @AddressKey 
	end
if(@PolicyExpirationDate <> '')
	begin
		set  @PolicyExpirationDate = RTrim(LTrim(@PolicyExpirationDate))
		update PolicyTransaction set PolicyExpirationDate = @PolicyExpirationDate,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
	end
if(RTrim(LTrim(@StatusKey)) <> '')
	begin
		update PolicyTransaction set StatusKey = @StatusKey,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
	end
if(@PriorActDatePross <> '')
	begin
		set  @PriorActDatePross = RTrim(LTrim(@PriorActDatePross))
		if(@ProjectType='Acc')
		begin
			update ProfessionalLiabilityInsDetail set PriorActDatePross = @PriorActDatePross, IsPriorActDateFull = 'N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
		end 
		if(@ProjectType='Lwy')
		begin
			update ProfessionalLiabilityInsDetailLW set PriorActDatePross = @PriorActDatePross, IsPriorActDateFull = 'N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
		end 
	end

if(@ProInsPremium_admin <> '')
	begin
		
		if(@ProjectType='Acc')
		begin
			update ProfessionalLiabilityInsDetail set ProInsPremium=CAST(@ProInsPremium_admin AS numeric(10,2)),LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
		end 
		if(@ProjectType='Lwy')
		begin
			update ProfessionalLiabilityInsDetailLW set ProInsPremium=CAST(@ProInsPremium_admin AS numeric(10,2)),LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
		end 
	end
set  @InsuranceCompanyNamePross = RTrim(LTrim(@InsuranceCompanyNamePross))
if(@ProjectType='Acc')
begin
	update ProfessionalLiabilityInsDetail set InsuranceCompanyNamePross = @InsuranceCompanyNamePross,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
end 
if(@ProjectType='Lwy')
begin
	update ProfessionalLiabilityInsDetailLW set InsuranceCompanyNamePross = @InsuranceCompanyNamePross,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
end 

if(@AccountEmail <> '')
	begin
		set  @AccountEmail = RTrim(LTrim(@AccountEmail))
		update Account set AccountEmail = @AccountEmail,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AccountKey = @AccountKey 
	end

if(@SecondaryEmail is null)
begin
--print' ***f*****hi*'
	set @SecondaryEmail = '';
end
if(@secondaryEmail_admin <> @SecondaryEmail )
begin
		--select @secondaryEmail_admin as secondaryEmail_admin,@SecondaryEmail as SecondaryEmail
	--print' ************hi*'
	if(@secondaryEmail_admin<>'' and @secondaryEmail_admin is not null)
	begin
		set  @secondaryEmail_admin = RTrim(LTrim(@secondaryEmail_admin))
		update Account set secondaryEmail = @secondaryEmail_admin,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AccountKey = @AccountKey 
		end
	else
	begin
		update Account set secondaryEmail =null,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where AccountKey = @AccountKey 
	end
end
if(@ProducerCode is null)
begin
	set @ProducerCode = '';
end
if(@ProducerCode_admin <> @ProducerCode)
	begin
		set  @ProducerCode_admin = RTrim(LTrim(@ProducerCode_admin))
		update PolicyTransaction set ProducerCode = @ProducerCode_admin,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
	end
if(@FirstReviewerId <> '0')
	begin
		if(@ProjectType='Acc')
		begin
			set  @FirstReviewerId = RTrim(LTrim(@FirstReviewerId))
			update Firm set FirstReviewUserID = @FirstReviewerId,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
		end 
		if(@ProjectType='Lwy')
		begin
			set  @FirstReviewerId = RTrim(LTrim(@FirstReviewerId))
			update FirmLW set FirstReviewUserID = @FirstReviewerId,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey  
		end 
	end

	if(@ContactPerson_admin <> '')
	begin
		if(@ProjectType='Acc')
		begin
			set  @ContactPerson_admin = RTrim(LTrim(@ContactPerson_admin))
			update Firm set ContactPerson = @ContactPerson_admin,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey 
		end 
		if(@ProjectType='Lwy')
		begin
			set  @ContactPerson_admin = RTrim(LTrim(@ContactPerson_admin))
			update FirmLW set ContactPerson = @ContactPerson_admin,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where PolicyKey = @PolicyKey  
		end 
	end

END
 




GO
