USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateTrusteeOrEstateSupplementAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateTrusteeOrEstateSupplementAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateTrusteeOrEstateSupplementAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateTrusteeOrEstateSupplementAC_p] AS' 
END
GO
ALTER  PROCEDURE [dbo].[InsertUpdateTrusteeOrEstateSupplementAC_p]
(
@PolicyKey INT,
@VersionSequence INT,
@xml XML,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey INT
)
AS
BEGIN
		DELETE FROM TrusteeOrEstateSupp WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

		INSERT INTO TrusteeOrEstateSupp(NameOfTrust, TypeofTrustKey,ValueOfAssetsTrust,IsBeneficiaryInterestTrust,PolicyKey,VersionSequence,CreatedBy,CreatedDate,VersionKey)
		SELECT
			doc.col.value('NameOfTrust[1]', 'varchar(50)') NameOfTrust,
			doc.col.value('TypeofTrustKey[1]', 'INT') TypeofTrustKey ,
			doc.col.value('ValueOfAssetsTrust[1]', 'NUMERIC') ValueOfAssetsTrust ,
			doc.col.value('IsBeneficiaryInterestTrust[1]', 'CHAR') IsBeneficiaryInterestTrust,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey
				
		FROM @xml.nodes('/Root/Root1') doc(col)
			
		--UPDATE TrusteeOrEstateSupp SET LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey
END





GO
