USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateCannabisSupplementLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateCannabisSupplementLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateCannabisSupplementLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateCannabisSupplementLW_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
---CannabisSupplement
ALTER PROCEDURE [dbo].[InsertUpdateCannabisSupplementLW_p]
(
@PolicyKey								INT,
@VersionSequence						INT,
@LastUpdateUserID						VARCHAR(50),	
@LastUpdateTimeStamp					DATETIME,
@distributionWareinghouseCases			CHAR,
@cannibsLicensing						CHAR,
@canniabisInvestmentServices			CHAR,
@StateOrLocalCompliance					CHAR,
@IntellectualProperty					CHAR,
@NegotiatePurchaseContracts				CHAR,
@RepresentClientLitigation				CHAR,
@CannibsOther							CHAR,
@CannibsOtherDesc						VARCHAR(4000),
@VersionKey INT
)
AS
BEGIN
	
	IF NOT EXISTS(SELECT * FROM CannabisSupplement WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		BEGIN

			INSERT INTO CannabisSupplement(PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,distributionWareinghouseCases,cannibsLicensing,canniabisInvestmentServices,StateOrLocalCompliance
			,IntellectualProperty,NegotiatePurchaseContracts,RepresentClientLitigation,CannibsOther,CannibsOtherDesc,VersionKey,CreatedBy,CreatedDate)
			VALUES(@PolicyKey,@VersionSequence,@LastUpdateUserID,@LastUpdateTimeStamp,@distributionWareinghouseCases,@cannibsLicensing,@canniabisInvestmentServices,@StateOrLocalCompliance
			,@IntellectualProperty,@NegotiatePurchaseContracts,@RepresentClientLitigation,@CannibsOther,@CannibsOtherDesc,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
		END
	ELSE
		BEGIN

			UPDATE CannabisSupplement SET PolicyKey=@PolicyKey,VersionSequence=@VersionSequence,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,distributionWareinghouseCases=@distributionWareinghouseCases,
			cannibsLicensing=@cannibsLicensing,canniabisInvestmentServices=@canniabisInvestmentServices,StateOrLocalCompliance=@StateOrLocalCompliance,IntellectualProperty=@IntellectualProperty,NegotiatePurchaseContracts=@NegotiatePurchaseContracts,
			RepresentClientLitigation=@RepresentClientLitigation,CannibsOther=@CannibsOther,CannibsOtherDesc=@CannibsOtherDesc 
			WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
END



GO
