USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_ComputerRelatedSupp_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_ComputerRelatedSupp_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_ComputerRelatedSupp_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_ComputerRelatedSupp_ACC] AS' 
END
GO
--exec [UWRules_ComputerRelatedSupp_ACC] 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_ComputerRelatedSupp_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@previousPolicyKey INT,@previousVersionSequence INT,@RevenuesFromLastYear INT,@EstimatedRevenue INT
	select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
	
	SET @RevenuesFromLastYear=(select sum(RevenuesFromLastYear) from ITServicesSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ITServiceCategoryKey not in(1,2))
	if(@RevenuesFromLastYear is null)
		set @RevenuesFromLastYear=0
	SET @EstimatedRevenue=(select sum(EstimatedRevenue) from ITServicesSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence  and ITServiceCategoryKey not in(1,2))
	if(@EstimatedRevenue is null)
		set @EstimatedRevenue=0

	IF(@PolicyStatusKey=1)
	BEGIN
		print 'NB flow'
		set @rule_id='computerRelatedServicesAmountInRevenues_Accountant'
		if(@RevenuesFromLastYear>0 or @EstimatedRevenue>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Computer Related Services AOP - Firm Recommending, selling or training, Installing custom software/hardware, Performing system maintenance or Other. Recommending or selling okay if accouting package related and for current clients. Anything else is a decline.','Determine if they are providng installation of package software or recommending or a reseller of software and hardware that it is for accounting and it is for their current clients. Any custom software or system maintenance is a decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
	END

	IF(@PolicyStatusKey=2)
	BEGIN
			print 'Renewa Flow'
				set @rule_id='computerRelatedServicesAmountInRevenuesRenew_Accountant'
		if(@RevenuesFromLastYear>0 or @EstimatedRevenue>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Computer Related Services AOP - Firm Recommending, selling or training, Installing custom software/hardware, Performing system maintenance or Other. Recommending or selling okay if accouting package related and for current clients. Anything else is a decline.','Determine if they are providng installation of package software or recommending or a reseller of software and hardware that it is for accounting and it is for their current clients. Any custom software or system maintenance is a decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END

END



GO
