USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDeletedAttorneysDetailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDeletedAttorneysDetailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDeletedAttorneysDetailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDeletedAttorneysDetailsLW_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[GetDeletedAttorneysDetailsLW_p]
(
@PolicyKey Int,
@DeletedAttorneysKey VARCHAR(1000)
)
AS
BEGIN
DECLARE @PolicyEffectiveDate DATETIME
SET 	@PolicyEffectiveDate=(Select convert(varchar(20),PolicyEffectiveDate,101) from Policy where PolicyKey=@PolicyKey)
SELECT ad.*, convert(varchar(20),GetDate(),101) as TransactionEffectiveDate,@PolicyEffectiveDate as  EffectiveDateOfPolicy
FROM AttorneyDetailsLw ad where ad.PolicyKey=@PolicyKey and ad.AttorneyKey in(select * from SplitString(@DeletedAttorneysKey, ','))

END

GO
