USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetPolicyIssuedReport_Acc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_GetPolicyIssuedReport_Acc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetPolicyIssuedReport_Acc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_GetPolicyIssuedReport_Acc] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_GetPolicyIssuedReport_Acc]
@fromDate DATETIME,
@toDate DATETIME
AS
BEGIN
	--Declare @fromDate DATETIME, @toDate DATETIME
	--SET @fromDate='2017-11-15'
	--SET @toDate='2017-11-15'
	--SELECT DISTINCT PT.PolicyKey as [Policy],CONVERT(VARCHAR(10),F.IssuedDate, 101) as [Issued Date],S.StatusDesc as [Status] from PolicyTransaction PT
	--INNER JOIN Firm F ON PT.PolicyKey=F.PolicyKey
	--INNER JOIN Status S ON S.StatusKey=PT.StatusKey
	--where PT.StatusKey=6 and F.IssuedDate>=@fromDate and F.IssuedDate<=@toDate
	DECLARE @SearchType VARCHAR(100)
	SET @SearchType='issuedate'
	exec UpdateVersionSequenceAcc_p @SearchType,@fromDate,@toDate
	select convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  , a.AccountName, convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.Address1, adds.Address2, adds.City, adds.Zip, pt.TotalPremium, pt.TotalPolicyTaxAmount, 
pt.InvoicedPremium, pc.AggregateLimit, pc.OccuranceLimit, pc.AggregateDeductible, (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType,
 (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross,
 f.IsFirmCarryingProfLiabilityIns as IsFirmCarryingProfLiabilityIns, p.PolicyKey, pl.IsPriorActDateFull, convert(varchar,f.IssuedDate, 101) as IssuedDate, case when pd.PaymentMode='eft' then 'Manual Check' else pd.PaymentMode END as PaymentMode,
   p.PolicyNumber,  f.ContactPerson,  (CASE p.PolicyStatusKey WHEN '2' THEN 'Renewal' ELSE 'NB' END) as PolicyStatus,  p.RenewOfPolicyNumber,  pt.ProducerCode from Policy p,
    Firm f, PolicyTransaction pt, PolicyCoverage pc, Quote q,  (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail group by policyKey) pd,
	 ProfessionalLiabilityInsDetail pl, Status s, AccountAddress aa, Account a, Address adds where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and
	  aa.AddressKey=adds.AddressKey and f.PolicyKey=p.PolicyKey and p.PolicyKey = pt.PolicyKey and p.PolicyKey = pc.PolicyKey and p.PolicyKey = q.PolicyKey and
	   pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence and pt.TransactionSequence=q.TransactionSequence and pd.PolicyKey=p.PolicyKey and
	    pl.PolicyKey=p.PolicyKey and s.StatusKey=pt.StatusKey and q.IsThisOptionFinalised='Y' and pt.StatusKey=6 and p.MarketableProductKey = 1 and pc.CoverageKey = 2 and
		 p.isUncompletedData='N' and  f.IssuedDate  >=@fromDate and   f.IssuedDate  <=@toDate and pt.CompanyCode is null or pt.CompanyCode ='1'   order by p.PolicyEffectiveDate



END


GO
