USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountForLawyers_Proc_LostWorkqList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccountForLawyers_Proc_LostWorkqList]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountForLawyers_Proc_LostWorkqList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccountForLawyers_Proc_LostWorkqList] AS' 
END
GO
--exec SearchAccountForLawyers_Proc_LostWorkqList null, 'N', 5, 'Y','' , '2017-12-06 00:00:00.0', 3, 20, 1
--exec SearchAccountForLawyers_Proc_LostWorkqList null, 'Y', 11, 'N',null,'2017-12-06 00:00:00.0', 3, 500, 1, '2021-01-01 00:00:00.0'

ALTER PROCEDURE [dbo].[SearchAccountForLawyers_Proc_LostWorkqList] 
		@PolicyEffectiveDate varchar(10) , 
		@IsQuickQuote varchar(1) ,
		@StatusKey varchar(2) , 
		@IsFullQuote varchar(1) ,
		@PolicyEffectiveDate2 varchar(50) ,
		@litigationNewImplDate DATETIME,
		@LastUpdateUserID int=null,
		@PageSize int,
		@PageNumber int,
		@RenewalSupplementNewImplDate DATETIME

 AS BEGIN
 declare @bankruptcyImplementationDate DATETIME='2017-12-06 00:00:00.0'
declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)

declare @TransactionSequence int
declare @VersionSequence int


	
	if((@PolicyEffectiveDate='' OR @PolicyEffectiveDate is null) and (@PolicyEffectiveDate2='' OR @PolicyEffectiveDate2 is null))
	BEGIN
		select @PolicyEffectiveDate= FORMAT(getdate()-120,'MM-dd-yyyy'), @PolicyEffectiveDate2=FORMAT(getdate()+120,'MM-dd-yyyy')	 
	END

CREATE TABLE #TempPolicyList (
		[PolicyKey] [int] ,
		[PolicyEffectiveDate] [datetime] ,
		[PolicyNumber] [varchar](20) ,  
		[isUncompletedData] [char](1) ,
		[QuoteNumber] [varchar](20) ,
		[IsFullQuote] [char](1) ,
		[IsQuickQuote] [char](1) ,
		[IsBasicPage] [char](1),
		[IsGeneralPage] [char](1) ,
		[IsEntertainmentPage] [char](1) ,
		[IsTaxPage] [char](1) ,
		[IsEnvironmentalPage] [char](1) ,
		[IsSecuritiesPage] [char](1) ,
		[IsTitlePage] [char](1) ,
		[IsWillsEstatePage] [char](1) ,
		[IsPlaintiffPage] [char](1) ,
		[IsRealEstatePage] [char](1) ,
		[IsFinancialInsPage] [char](1) ,
		[IsIntellectPropPage] [char](1) ,
		[IsCorporatePage] [char](1) ,
		[FirstReviewUserID] [varchar](50) ,
		[AccountKey] [int] ,
		[AddressKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](100) ,
		[Address1] [varchar](100) ,
		[StateCode] [varchar](20),
		[StateDesc] [varchar](100),
		[TransactionSequence] [int] ,
		[VersionSequence] [int] ,
		[CoverageSequence] [int] ,
		[PolicyExpirationDate] [datetime] ,
		[Premium] [varchar](25) ,
		[StatusDesc] [varchar](100),
		[StatusKey] [int] ,
		[PolicyStatusKey] [int] ,
		[TransactionTypeKey] [int] ,
		[UserNo] [int] ,
		[AgentName] [varchar](50),
		[FullQuick] [varchar](50),
		[AppDays] int,
		[CountyDesc] [varchar](50),
		[AppCreatedDate] [datetime] ,
		[IsQuickQuotePage] [char](1),
		[NumberOfLawyers] [int],
		[IsFirmReferred] [char](1),
		[ManualQuoteSelectedNo] int,
		[ManualQuoteFinalisedNo] int,
		[RatingTraceSequence] int,
		[IsDollarDefense] [char] (1),
		[IsQuoteViewedByInsured] [char] (1),
		[IsViewed] [char] (1),
		[IsRenewed] char(1),
		[IsRenewalReview] char(1),
		[IsApplicationCompleted] char(1),
		[UWFlagCount] [int],
		[approveSubjective] [int],
		[isPricingApproved] char(1),
		[IsIndicationMailSent] char(1),
		[IsErpEndorsement] char(1),
		AccountPolicyCount INT,
		lostworkqComment varchar(1000)
)


	
set @sqlstm = '
select pt.InvoicedPremium as Premium,p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN 
		CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=pt.ProducerCode) WHEN ''Y''
					THEN s.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE s.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER with (nolock) WHERE PRODUCERCODE=pt.ProducerCode) WHEN ''Y''
					THEN s.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE s.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,fl.IsBasicPage,fl.IsGeneralPage,fl.IsEntertainmentPage,fl.IsTaxPage,fl.IsEnvironmentalPage,
fl.IsSecuritiesPage,fl.IsTitlePage,fl.IsWillsEstatePage,fl.IsPlaintiffPage,fl.IsRealEstatePage,fl.IsFinancialInsPage,fl.IsIntellectPropPage,fl.IsCorporatePage,
fl.FirstReviewUserID , fl.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,fl.IsQuickQuotePage, fl.NumberOfLawyers, fl.IsFirmReferred,
fl.IsQuoteViewedByInsured,fl.IsViewed,fl.IsRenewed,fl.IsRenewalReview, (select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt with (nolock) where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'' and isArchived=''NO'')) as [approveSubjective],fl.isPricingApproved,fl.IsIndicationMailSent,
(select count(PolicyKey) from Policy with (nolock) Where AccountID=p.AccountID) as AccountPolicyCount,fl.lostworkqComment
from Policy p with (nolock)
INNER JOIN PolicyTransaction pt with (nolock) ON  p.PolicyKey = pt.PolicyKey --AND p.PolicyStatusKey=pt.TransactionTypeKey 
INNER JOIN Account a with (nolock) ON   a.AccountKey =pt.AccountKey
INNER JOIN FirmLW fl with (nolock) ON fl.PolicyKey = pt.PolicyKey
INNER JOIN Status s with (nolock) ON s.StatusKey =pt.StatusKey
INNER JOIN AccountAddress aa with (nolock) ON aa.AccountKey = a.AccountKey
INNER JOIN Address adds with (nolock) ON aa.AddressKey=adds.AddressKey
INNER JOIN PolicyCoverage pc with (nolock) ON fl.PolicyKey = pc.PolicyKey AND  p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence
WHERE p.MarketableProductKey=2 
AND fl.VersionSequence=(select max(versionsequence) from firmlw with (nolock) where policykey=p.PolicyKey)
AND pt.PolicyKey in (select PolicyKey from Policy with (nolock) where isUncompletedData='+'''N'''+')'

print @sqlstm

if(@StatusKey <> 6 and @StatusKey <>8)
begin
	set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey = 8)
begin
	set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'
end


if(@StatusKey <> 15)
begin
	if(@IsFullQuote <> '')
	begin
		set  @sqlstm = @sqlstm + ' and p.IsFullQuote='''+@IsFullQuote+''''
	end
      
	if(@IsQuickQuote <> '')
	begin
		set  @sqlstm = @sqlstm + ' and p.IsQuickQuote='''+@IsQuickQuote+''''
	end
end

--------------------------------------lostworkqComment start
if(@StatusKey = 1)
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (fl.lostworkqComment=''No Response'' or fl.lostworkqComment=''not converted'' or fl.lostworkqComment=''never sent'')'
end

if(@StatusKey = 11 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''' and (fl.lostworkqComment=''No Response'' or fl.lostworkqComment=''not converted'')'
end


if(@StatusKey = 2 OR @StatusKey = 9 OR @StatusKey = 10 )
begin
	set  @sqlstm = @sqlstm + ' and fl.isappcompleted=''Y'' and pt.StatusKey='''+ @StatusKey +''' and (fl.lostworkqComment=''never quoted'')'
end

if(@StatusKey = 3 )
begin
	set  @sqlstm = @sqlstm + ' and fl.isappcompleted=''Y'' and pt.StatusKey='''+ @StatusKey +''' and (fl.lostworkqComment=''Not Accepted'')'
end

if(@StatusKey = 15 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey in (1,11) and (fl.lostworkqComment=''No Response'')'
end

if(@StatusKey = 16 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey in (1,11) and (fl.lostworkqComment=''not converted'')'
end

if(@StatusKey = 17 )
begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey in (1) and (fl.lostworkqComment=''never sent'')'
end

if(@StatusKey = 18 )
begin
	set  @sqlstm = @sqlstm + ' and fl.isappcompleted=''Y'' and pt.StatusKey in (2,9,10) and (fl.lostworkqComment=''never quoted'')'
end

if(@StatusKey = 19 )
begin
	set  @sqlstm = @sqlstm + ' and fl.isappcompleted=''Y'' and pt.StatusKey in (3) and (fl.lostworkqComment=''Not Accepted'')'
end
--------------------------------------lostworkqComment end

if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
 end
-- To filter policy 30 days prior and 120 days later quick quote or indication
if((@StatusKey = 11 or @IsQuickQuote = 'Y') and (isNull(@PolicyEffectiveDate,'') = '' and isNull(@PolicyEffectiveDate2,'')=''))
begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between dateadd(dd,-31,getdate()) and dateadd(dd,120,getdate())'
 end


--if(@PolicyStatusDesc <> '')
-- begin
--	set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
-- end



if(@StatusKey = 1)
begin
	set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc, PolicyKey'
end
if(@StatusKey != 1)
begin
	set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc, PolicyKey'
end

if(@PageSize != 0)
begin
	set @sqlstm = @sqlstm + '  OFFSET ' + cast((@PageSize * (@PageNumber-1)) as varchar(5))+' ROWS  FETCH NEXT '+cast(@PageSize as varchar(5))+' ROWS ONLY;'
end

print @sqlstm
--set @sqlstm = @sqlstm + ' DROP TABLE #TempDirect_SubProducedKey'


Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,
	TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,
	TransactionTypeKey,IsBasicPage,IsGeneralPage, IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,
	IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate,
	CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,UWFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,AccountPolicyCount,lostworkqComment) 
EXECUTE ( @sqlstm)


--1
update		tpl
set			tpl.AgentName = isnull(ud.AgentName, '')
			,tpl.UserNo = tpl.FirstReviewUserID
from		#TempPolicyList tpl
left join	UserDetails ud with (nolock) on ud.UserNo = tpl.FirstReviewUserID

--2
--if(@StatusKey=8)
--Begin
--update		tpl
--set			tpl.Premium = isnull(x.Premium,'')
--from		#TempPolicyList tpl
--left join	(	select		Premium = dbo.getAmountFormat(InvoicedPremium)
--							,PolicyKey
--				from		PolicyTransaction 
							
--				where PolicyExpirationDate = TransactionExpirationDate
--			) x on tpl.PolicyKey = x.PolicyKey
--END

update		tpl
set			tpl.Premium = isnull(x.Premium,'')
from		#TempPolicyList tpl
left join	(	select		Premium = dbo.getAmountFormat(pt.InvoicedPremium)
							,pt.PolicyKey
				from		PolicyTransaction pt with (nolock)
				inner join	Quote q with (nolock) on
							pt.PolicyKey=q.PolicyKey and
							pt.TransactionSequence=q.TransactionSequence and
							q.IsThisOptionFinalised='Y'
				
			) x on tpl.PolicyKey = x.PolicyKey


--3
update		tpl
set			tpl.ManualQuoteSelectedNo = isnull(x.ManualQuoteSelectedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteSelectedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsQuoteSelected='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--4
update		tpl
set			tpl.ManualQuoteFinalisedNo = isnull(x.ManualQuoteFinalisedNo,0)
from		#TempPolicyList tpl
left join	(	select		ManualQuoteFinalisedNo = count(*)
							,PolicyKey = pc.PolicyKey
				from		PolicyCoverage pc with (nolock)
				inner join	Quote q with (nolock) on
							pc.PolicyKey=q.PolicyKey and
							pc.TransactionSequence=q.TransactionSequence and
							pc.IsDollarDefense='Y' and
							q.IsThisOptionFinalised='Y'
				group by	pc.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--5
update		tpl
set			tpl.RatingTraceSequence = rt.RatingTraceSequence
from		#TempPolicyList tpl
inner join	PolicyTransaction pt with (nolock) on
			pt.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pt.PolicyKey=q.PolicyKey and
			pt.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--6
update		tpl
set			tpl.IsDollarDefense = pc.IsDollarDefense
from		#TempPolicyList tpl
inner join	PolicyCoverage pc with (nolock) on
			pc.PolicyKey = tpl.PolicyKey
inner join	Quote q with (nolock) on
			pc.PolicyKey=q.PolicyKey and
			pc.TransactionSequence=q.TransactionSequence and
			q.IsThisOptionFinalised='Y'
inner join	RatingTrace rt with (nolock) on
			rt.PolicyKey=q.PolicyKey and
			rt.TransactionSequence=q.TransactionSequence

--7
update		tpl
set			tpl.IsApplicationCompleted = isnull(x.IsApplicationCompleted, '')
from		#TempPolicyList tpl
left join	(
			select		tpl.PolicyKey,
						IsApplicationCompleted = min(
							case
								when p.PolicyStatusKey = 1
									then	(
												case
													when fl.IsFirmPage = 'Y' and fl.IsAopPage = 'Y' and fl.IsPracticePage = 'Y' and fl.IsCoveragePage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and fl.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and fl.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and fl.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and fl.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								when p.PolicyStatusKey = 2
									then	(
												case
													when fl.IsRenewFirmPage = 'Y'
														then	(
																	case
																		when apl.AOPKey = 18 and apl.PercentageValue > 0 and fl.IsPlaintiffPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 20 and apl.PercentageValue > 0 and fl.IsRealEstateCommercialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 27 and apl.PercentageValue > 0 and fl.IsRealEstateResidentialPage != 'Y'
																			then	'N'
																		when apl.AOPKey = 24 and apl.PercentageValue > 0 and fl.IsWillsEstatePage != 'Y'
																			then	'N'
																		else
																			'Y'
																	end
																)
													else
														null
												end
											)
								else
									null
							end)
			from		#TempPolicyList tpl
			inner join	Policy p with (nolock) on p.PolicyKey = tpl.PolicyKey
			inner join	FirmLW fl with (nolock) on fl.PolicyKey = tpl.PolicyKey
			inner join	AreaOfPracticeLW apl with (nolock) on apl.PolicyKey = tpl.PolicyKey and apl.AOPKey in(18,20,27,24)
			group by	tpl.PolicyKey
			) x on x.PolicyKey = tpl.PolicyKey

--print @sqlstm

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>'2017-06-20'

--update #TempPolicyList
--set IsApplicationCompleted=(SELECT dbo.ValidateFullApplication(nat.PolicyKey,nat.AccountKey,@litigationNewImplDate,@RenewalSupplementNewImplDate,'2017-12-06 00:00:00.0'))
--from #TempPolicyList tpl 
--inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey

DECLARE @LoopCounter INT = 1
DECLARE  @MaxCount INT  
DECLARE  @AccountKey INT  
DECLARE  @IsAppCompleted CHAR  
SELECT @MaxCount=count(*) FROM #NEWAPPTABLE
 --PRINT @MaxCount

WHILE(@LoopCounter <= @MaxCount)
BEGIN
	SET @PolicyKey=NULL
	SET @AccountKey=NULL
	SET @IsAppCompleted=NULL

	SELECT @PolicyKey=PolicyKey,@AccountKey=AccountKey From #NEWAPPTABLE Where ID=@LoopCounter
	SET @IsAppCompleted=(SELECT FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,'2017-12-06 00:00:00.0','2021-01-01',@bankruptcyImplementationDate))
	-- SELECT IsAppCompleted= 
	--SELECT	@PolicyKey,@AccountKey,@IsAppCompleted
	UPDATE #TempPolicyList SET IsApplicationCompleted=@IsAppCompleted WHERE PolicyKey=@PolicyKey
   SET @LoopCounter  = @LoopCounter  + 1        

END
-- --select * from #NEWAPPTABLE 

--select * from #NEWAPPTABLE where Policykey=58801 	 order by id 

	Declare c1 cursor for
	select PolicyKey,TransactionSequence,VersionSequence from #TempPolicyList
	 	   
	set @InvoicedPremium = ''
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence
	WHILE @@FETCH_STATUS = 0
		begin
		--select EndorsementPremium from EndorsementDetails where policykey=57876 and versionsequence=(select max(versionsequence) from EndorsementDetails where policykey=57876)
			select @InvoicedPremium = EndorsementPremium from EndorsementDetails with (nolock) where PolicyKey = @PolicyKey and VersionSequence=(select max(VersionSequence) from EndorsementDetails where PolicyKey=@PolicyKey)
			if(@InvoicedPremium <> '')
				begin
					If Exists(select * from CancellationEndorsement ce with (nolock) inner join PolicyTransaction pt with (nolock) on pt.PolicyKey=ce.PolicyKey and pt.TransactionSequence=ce.TransactionSequence where pt.StatusKey=8 and ce.CancellationTypeID=1 and pt.PolicyKey=@PolicyKey)
						begin
							update #TempPolicyList set Premium = dbo.getAmountFormat(0) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
						end
					else
						begin
							update #TempPolicyList set Premium = dbo.getAmountFormat(@InvoicedPremium) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
						end
				end

			set @InvoicedPremium = ''	

			If Exists(select * from PolicyTransaction pt with (nolock) where pt.PolicyKey=@PolicyKey and pt.TransactionTypeKey=16)
						begin
							update #TempPolicyList set IsErpEndorsement='Y' where PolicyKey= @PolicyKey --and TransactionSequence = @TransactionSequence
				        end
			FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence					
		end
		CLOSE c1
		DEALLOCATE c1


select * from #TempPolicyList --where policykey=57876
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END


GO
