USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateVersionSequence_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateVersionSequence_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateVersionSequence_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateVersionSequence_p] AS' 
END
GO
--Exec UpdateVersionSequence_p
ALTER PROCEDURE [dbo].[UpdateVersionSequence_p]
	
AS
BEGIN
print 'hello'
--UPDATE T1
--SET    VersionID = T2.VersionSequence
--FROM   PolicyTransaction T1 
--JOIN Firm T2 ON T1.PolicyKey = T2.Policykey
--Where t1.TransactionTypeKey<6 and t1.versionid is null    

--UPDATE T1
--SET    VersionID = T2.VersionSequence
--FROM   PolicyTransaction T1 
--JOIN FirmLW T2 ON T1.PolicyKey = T2.Policykey
--Where t1.TransactionTypeKey<6 and t1.versionid is null    

END

GO
