USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaveUpdateBankruptcy]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SaveUpdateBankruptcy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaveUpdateBankruptcy]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SaveUpdateBankruptcy] AS' 
END
GO
--exec SaveUpdateBankruptcy 129142, 107547, 50, 50, 'N', 'N', 'N', 'N', 'N', 'N', 3, '2022-01-04 17:49:06.285', '111099', 'N'
ALTER PROCEDURE [dbo].[SaveUpdateBankruptcy]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@personalBankrupties INT,
	@commercialBankruptcies INT,
	@representedDebtors CHAR,
	@preBankruptcyServices CHAR,
	@dueDiligenceProcess CHAR,
	@reviewProcedureForCertification CHAR,
	@disclosureStatementExplaining CHAR,
	@conspicuousStatement CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@VersionKey INT,
	@companyFinance char
)
AS
BEGIN
DECLARE @Count INT
	SELECT @Count=count(*) from BankruptcyDetailsLW where PolicyKey=@PolicyKey  and VersionSequence=@VersionSequence
	IF(@Count=0)
	BEGIN
		INSERT INTO BankruptcyDetailsLW (personalBankrupties,commercialBankruptcies,
		representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,
		conspicuousStatement,policyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,companyFinance,VersionKey)
		VALUES(@personalBankrupties,@commercialBankruptcies,@representedDebtors,@preBankruptcyServices,
		@dueDiligenceProcess,@reviewProcedureForCertification,@disclosureStatementExplaining,@conspicuousStatement,@policyKey,@VersionSequence,@LastUpdateUserID,@LastUpdateTimeStamp,@companyFinance,@VersionKey)
	END
	IF(@Count>0)
	BEGIN
			UPDATE BankruptcyDetailsLW SET					
			personalBankrupties=@personalBankrupties, 
			commercialBankruptcies=@commercialBankruptcies,
			representedDebtors=@representedDebtors, 
			preBankruptcyServices=@preBankruptcyServices, 
			dueDiligenceProcess=@dueDiligenceProcess, 
			reviewProcedureForCertification=@reviewProcedureForCertification,
			disclosureStatementExplaining=@disclosureStatementExplaining, 
			conspicuousStatement=@conspicuousStatement,
			LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,
			companyFinance=@companyFinance,
			VersionKey=@VersionKey
			WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence 

	END
END

select * from BankruptcyDetailsLW where policykey=129142


GO
