USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPLPoliciesDataToBrokerageLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CopyPLPoliciesDataToBrokerageLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPLPoliciesDataToBrokerageLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CopyPLPoliciesDataToBrokerageLW_p] AS' 
END
GO
--truncate table BrokerageLW
--select * from BrokerageLW 
--exec CopyPLPoliciesDataToBrokerageLW_p
ALTER PROCEDURE [dbo].[CopyPLPoliciesDataToBrokerageLW_p]
	
AS
BEGIN

	DECLARE @FromDate DATETIME,@ToDate DATETIME
	
		--SET @FromDate='2020-08-01'
		--SET @ToDate='2020-08-31'
	SET @FromDate=(select CONVERT(varchar,dateadd(d,-(day(dateadd(m,-1,getdate()-2))),dateadd(m,-1,getdate()-1)),101))
	set @FromDate=(select DATEADD(MONTH,2,@FromDate))
	set @FromDate=(select DATEADD(YEAR,-1,@FromDate))
	set @ToDate=(select CONVERT(varchar,DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)),101))
	set @ToDate=(select DATEADD(MONTH,2,@ToDate))
	set @ToDate=(select DATEADD(YEAR,-1,@ToDate))
	--select @FromDate,@ToDate

	DECLARE @AccountID INT,@AccountName VARCHAR(500),@Address VARCHAR(500),@Address2 VARCHAR(500),@City varchar(100),@State varchar(100),@Zip varchar(100),@Phone varchar(100),@Email varchar(100),
	@BrokerPolicyEffectiveDate DATETIME,@ExpiringPolicyNumber VARCHAR(100),@ExpiringPremium numeric(17,2),@LOBKey INT,@ExpiringCarrier VARCHAR(200),@TransactionTypeKey INT,@ExpiringPolicyEffectiveDate DATETIME,
	@CreatedBy VARCHAR(50),@CreatedDate DATETIME,@LastUpdateTimeStamp DATETIME,@isConvertedPolicy CHAR,@StatusKey INT,@PLPolicyKey INT,@PolicyCount INT,@ExpiringPolicyExpirationDate DATETIME

	Declare @AggregateLimit INT,@OccuranceLimit INT,@IsClaimExpensesType Char,@IsClaimOptionType CHAR,@IsDollarDefense CHAR,@AggregateDeductible INT,@LimitSequence INT,@DeductibelSequence INT,@BrokeragePolicyKey_Inserted INT,@TransactionSequence INT

			
			--select @StatusKey,@MinTransactionSequence,@FinalizedTs
	

	Declare c1 cursor for
	select --p.PolicyKey,ac.AccountKey,ads.AddressKey,
	p.AccountID,ac.AccountName, ads.Address1,ads.Address2 ,	ads.City,ads.StateCode,case when ads.Zip4 is not null and ads.Zip4<>'' then ads.Zip+''+ads.Zip4 else ads.Zip end as Zip
	,ads.WorkPhone,ac.AccountEmail,DATEADD(year, 1,p.PolicyEffectiveDate),p.PolicyNumber,pt.InvoicedPremium,2,'USFIC' as ExpiringCarrier,2,
	p.PolicyEffectiveDate,pt.PolicyExpirationDate,5,getdate(),getdate(),'Y',1,p.PolicyKey,pt.TransactionSequence

	
	from Policy p 
	inner join Policytransaction pt on p.PolicyKey=pt.PolicyKey
	inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
	inner join Account ac on ac.AccountKey=aa.AccountKey
	inner join Address ads on ads.AddressKey=aa.AddressKey
	inner join Quote q on q.PolicyKey=pt.PolicyKey and q.TransactionSequence=pt.TransactionSequence and q.IsThisOptionFinalised='Y'
	where pt.StatusKey=6 and pt.TransactionTypeKey!=16 and ads.StateCode in('CO','FL','GA','HI','IL','NM','WV')
	and p.PolicyEffectiveDate Between @FromDate and @ToDate and p.MarketableProductKey=2
	group by --p.PolicyKey,ac.AccountKey,ads.AddressKey,
	p.AccountID,ac.AccountName,ads.Address1,ads.Address2,ads.City,ads.StateCode,ads.Zip,ads.Zip4
	,ads.WorkPhone,ac.AccountEmail,p.PolicyEffectiveDate,p.PolicyNumber,pt.InvoicedPremium,pt.PolicyExpirationDate,p.PolicyKey,pt.TransactionSequence
	order by p.PolicyEffectiveDate

	 	   
	
	OPEN c1
	FETCH NEXT FROM c1 into  @AccountID,@AccountName,@Address,@Address2,@City ,@State ,@Zip ,@Phone ,@Email ,@BrokerPolicyEffectiveDate ,@ExpiringPolicyNumber ,@ExpiringPremium ,@LOBKey,@ExpiringCarrier,@TransactionTypeKey,@ExpiringPolicyEffectiveDate ,
						@ExpiringPolicyExpirationDate,@CreatedBy ,@CreatedDate ,@LastUpdateTimeStamp ,@isConvertedPolicy,@StatusKey,@PLPolicyKey,@TransactionSequence 
	WHILE @@FETCH_STATUS = 0
		begin
		
			set @PolicyCount=(select case when count(*) is not null and count(*)<>'' then count(0) else 0 end from BrokerageLW where AccountName=@AccountName and  Phone=@Phone and Email=@Email and State=@State and AccountID=@AccountID)
			IF(@PolicyCount=0)
			BEGIN
			--print 'hi'
				Insert into BrokerageLW(AccountID,AccountName,Address,Address2,City,State,Zip,Phone,Email,BrokerPolicyEffectiveDate,ExpiringPolicyNumber,
				ExpiringPremium,LOBKey,ExpiringCarrier,TransactionTypeKey,ExpiringPolicyEffectiveDate,ExpiringPolicyExpirationDate,CreatedBy,CreatedDate,LastUpdateTimeStamp,isConvertedPolicy,StatusKey,PLPolicyKey)
				select  @AccountID,@AccountName,@Address,@Address2,@City ,@State ,@Zip ,@Phone ,@Email ,@BrokerPolicyEffectiveDate ,@ExpiringPolicyNumber ,@ExpiringPremium ,@LOBKey,@ExpiringCarrier,@TransactionTypeKey,@ExpiringPolicyEffectiveDate ,
						@ExpiringPolicyExpirationDate,@CreatedBy ,@CreatedDate ,@LastUpdateTimeStamp ,@isConvertedPolicy,@StatusKey,@PLPolicyKey 

		


					select @BrokeragePolicyKey_Inserted=IDENT_CURRENT('BrokerageLW')

							Select @AggregateLimit=pc.AggregateLimit,@OccuranceLimit=pc.OccuranceLimit,@AggregateDeductible=pc.AggregateDeductible,@IsClaimExpensesType=pc.IsClaimExpensesType,@IsClaimOptionType=pc.IsClaimOptionType,@IsDollarDefense=pc.IsDollarDefense 
					from PolicyCoverage pc 	where pc.PolicyKey=@PLPolicyKey and pc.TransactionSequence=@TransactionSequence

					set @LimitSequence=(select LimitSequence from BrokerageLimits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit)
					set @DeductibelSequence=(select DeductibleSequence from BrokerageDeductibles where AggregateDeductible=@AggregateDeductible)

				Insert into BrokeragePolicyCoverage(BrokeragePolicyKey,LimitSequence,DeductibleSequence,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense,LastUpdateTimeStamp)
				Values(@BrokeragePolicyKey_Inserted,@LimitSequence,@DeductibelSequence,@IsClaimExpensesType,@IsClaimOptionType,@IsDollarDefense,@LastUpdateTimeStamp)
				
			END

				FETCH NEXT FROM c1 into  @AccountID,@AccountName,@Address,@Address2,@City ,@State ,@Zip ,@Phone ,@Email ,
						@BrokerPolicyEffectiveDate ,@ExpiringPolicyNumber ,@ExpiringPremium ,@LOBKey,@ExpiringCarrier,@TransactionTypeKey,@ExpiringPolicyEffectiveDate ,@ExpiringPolicyExpirationDate,
						@CreatedBy ,@CreatedDate ,@LastUpdateTimeStamp ,@isConvertedPolicy,@StatusKey,@PLPolicyKey ,@TransactionSequence	
		end
		CLOSE c1
		DEALLOCATE c1


END

--select * from brokerageLW








GO
