USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsuranceHistoryAndCoverageAC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertInsuranceHistoryAndCoverageAC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsuranceHistoryAndCoverageAC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertInsuranceHistoryAndCoverageAC] AS' 
END
GO
--exec InsertInsuranceHistoryAndCoverageAC  52616,'Y','2017-03-15',5000,'DR',null,'PC',36456,'Y',3333,'Test1004',29,19,3,'Y',79369,78820,29,'N',19,'N','Y'
ALTER PROCEDURE [dbo].[InsertInsuranceHistoryAndCoverageAC](
@PolicyKey INT,
@IsFirmCarryingProfLiabilityIns VARCHAR(30) = null,
@PolicyExpirationDatePross DATETIME = null,
@ProInsPremium numeric(18,2)  = null,
@IsClaimExpLiability varchar(10) = null,
@PriorActDatePross datetime = null,
@IsPerClaim VARCHAR(10) = null,
@VersionSequence INT = null,
@FirmYear INT = null,
@InsuranceCompanyNamePross VARCHAR(100) = null,
@LimitSequencePross INT = null,
@DeductibleSequencePross INT = null,
@TransactionSequence INT=null,
@CoverageSequence INT=NULL,
@LimitSequence INT,
@IsClaimExpensesType VARCHAR(10),
@DeductibleSequence INT,
@IsClaimOptionType VARCHAR(10),
@IsPriorActDateFull CHAR,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey INT
)
AS
BEGIN
	Declare @PolicyExpirationDate DATETIME
	DECLARE @AggregateLimit INT
	DECLARE @OccuranceLimit INT
	DECLARE @AggregateDeductible INT
	DECLARE @OccuranceDeductible INT
	DECLARE @Count INT
	IF(@IsFirmCarryingProfLiabilityIns='Y')
		BEGIN
		SELECT @Count=count(*) FROM ProfessionalLiabilityInsDetail WHERE policykey=@PolicyKey

		IF(@Count=0)
		BEGIN
			INSERT INTO ProfessionalLiabilityInsDetail (LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,VersionSequence,
			FirmYear,InsuranceCompanyNamePross,LimitSequencePross,PolicyKey,DeductibleSequencePross,LastUpdateUserID,LastUpdateTimeStamp,IsPriorActDateFull,CreatedBy,CreatedDate,VersionKey)
			VALUES (NULL,NUll,@PolicyExpirationDatePross,@ProInsPremium,@IsClaimExpLiability,@PriorActDatePross,@IsPerClaim,@VersionSequence,@FirmYear,@InsuranceCompanyNamePross,@LimitSequencePross,@PolicyKey,@DeductibleSequencePross,
			@LastUpdateUserID,@LastUpdateTimeStamp,@IsPriorActDateFull,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey)
		END
		IF(@Count>0)
		BEGIN
			UPDATE ProfessionalLiabilityInsDetail SET PolicyExpirationDatePross=@PolicyExpirationDatePross,ProInsPremium=@ProInsPremium,IsClaimExpLiability=@IsClaimExpLiability,
			PriorActDatePross=@PriorActDatePross,IsPerClaim=@IsPerClaim,FirmYear=@FirmYear,InsuranceCompanyNamePross=@InsuranceCompanyNamePross,IsPriorActDateFull=@IsPriorActDateFull,
			LimitSequencePross=@LimitSequencePross,DeductibleSequencePross=@DeductibleSequencePross,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE policykey=@PolicyKey AND VersionSequence=@VersionSequence
		END 
		SELECT @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit FROM limits WHERE LimitSequence=@LimitSequence

		SELECT @AggregateDeductible=AggregateDeductible,@OccuranceDeductible=OccuranceDeductible FROM Deductibles WHERE DeductibleSequence=@DeductibleSequence
		UPDATE PolicyCoverage SET AggregateLimit=@AggregateLimit, OccuranceLimit=@OccuranceLimit,
			 AggregateDeductible=@AggregateDeductible, OccuranceDeductible=@OccuranceDeductible,
				IsManualPremium='N',IsClaimExpensesType=@IsClaimExpensesType,IsClaimOptionType=@IsClaimOptionType,
				LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
		WHERE CoverageSequence = @CoverageSequence and TransactionSequence =@TransactionSequence and PolicyKey=@PolicyKey 

		UPDATE FIRM  SET IsFirmCarryingProfLiabilityIns=@IsFirmCarryingProfLiabilityIns,IsCoveragePage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey

		--UPDATE PolicyTransaction SET PolicyExpirationDate=@LastUpdateTimeStamp,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID   WHERE PolicyKey=@PolicyKey
		UPDATE Quote SET IsFirstQuote='Y',IsQuoteSelected='Y',IsMinimumPremium='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
	END
END





GO
