USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateunderwritingInfo_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateunderwritingInfo_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateunderwritingInfo_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateunderwritingInfo_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[UpdateunderwritingInfo_p]
	(
	@PolicyKey INT,
	@isPolicyExcludeCoverage CHAR,
	@isPolicyExcludeCoverageDescription VARCHAR(200),
	@IsPolicyIncludeLateralHireCov CHAR,
	@custodyOrControlFunds CHAR,
	@securityAwareness CHAR,
	@disbursementTransaction INT,
	@peopleToDisburseFunds INT,
	@instructionsDocumentedReceivingParty CHAR,
	@doucumentedProtocolsAndAuthority CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
	UPDATE POLICY SET isUncompletedData='N' WHERE POLICYKEY=@Policykey
	UPDATE FIRMLW SET isPolicyExcludeCoverage=@isPolicyExcludeCoverage,
					isPolicyExcludeCoverageDescription=@isPolicyExcludeCoverageDescription,
					IsPolicyIncludeLateralHireCov=@IsPolicyIncludeLateralHireCov,
					custodyOrControlFunds=@custodyOrControlFunds,
					securityAwareness=@securityAwareness,
					disbursementTransaction=@disbursementTransaction,
					peopleToDisburseFunds=@peopleToDisburseFunds,
					instructionsDocumentedReceivingParty=@instructionsDocumentedReceivingParty,
					doucumentedProtocolsAndAuthority=@doucumentedProtocolsAndAuthority,
					LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
			WHERE PolicyKey=@PolicyKey
END


GO
