USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForBrokersLW_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchCountForBrokersLW_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForBrokersLW_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchCountForBrokersLW_Proc] AS' 
END
GO

ALTER PROCEDURE [dbo].[SearchCountForBrokersLW_Proc] 
 		@StateCodefilter varchar(2000)=null,		
		@EffectiveDateFrom datetime=null,
		@EffectiveDateTo datetime=null,		
		@PolicyStatusDesc varchar(20)=null,
		@ProducerCodefilter	VARCHAR(2000) = NULL,
		@ProducerCode1 varchar(2000)=null,
		@EligibleFirstReviewerfilter varchar(1000)=null,
		@LastUpdateUserID int=null,
		@SearchAppCreatedDateFrom datetime=null,
		@SearchAppCreatedDateTo datetime=null,
		@CoverageKey int=null
AS 
set nocount on
BEGIN
	Declare @StateCodefilterTemp varchar(2000)=null,              
	@EffectiveDateFromTemp datetime=null,
	@EffectiveDateToTemp datetime=null,             
	@PolicyStatusDescTemp varchar(20)=null,
	@ProducerCodefilterTemp VARCHAR(2000) = NULL,
	@ProducerCode1Temp varchar(2000)=null,
	@EligibleFirstReviewerfilterTemp varchar(1000)=null,
	@LastUpdateUserIDTemp int=null,
	@SearchAppCreatedDateFromTemp datetime=null,
	@SearchAppCreatedDateToTemp datetime=null,
	@CoverageKeyTemp int=null
		
	set @StateCodefilterTemp = @StateCodefilter                   
	set @EffectiveDateFromTemp = @EffectiveDateFrom                      
	set @EffectiveDateToTemp = @EffectiveDateTo                   
	set @PolicyStatusDescTemp = @PolicyStatusDesc                 
	set @ProducerCodefilterTemp = @ProducerCodefilter                    
	set @ProducerCode1Temp = @ProducerCode1                       
	set @EligibleFirstReviewerfilterTemp = @EligibleFirstReviewerfilter        
	set @LastUpdateUserIDTemp = @LastUpdateUserID                 
	set @SearchAppCreatedDateFromTemp = @SearchAppCreatedDateFrom        
	set @SearchAppCreatedDateToTemp = @SearchAppCreatedDateTo       
	set @CoverageKeyTemp = @CoverageKey
	
	if((@SearchAppCreatedDateFromTemp <> '' AND @SearchAppCreatedDateFromTemp is not null) AND (@EffectiveDateFromTemp = '' OR @EffectiveDateFromTemp is null))
	BEGIN
		set @EffectiveDateFromTemp = '1950-01-01'
	END
	if((@SearchAppCreatedDateToTemp <> '' AND @SearchAppCreatedDateToTemp is not null) AND (@EffectiveDateToTemp = '' OR @EffectiveDateToTemp is null))
	BEGIN
		select @EffectiveDateToTemp=FORMAT(getdate()+730,'MM-dd-yyyy')
	END
	
	if(@EffectiveDateFromTemp='' OR @EffectiveDateFromTemp is null)
	BEGIN
		select @EffectiveDateFromTemp= FORMAT(getdate()-30,'MM-dd-yyyy')
	END
	if(@EffectiveDateToTemp='' OR @EffectiveDateToTemp is null)
	BEGIN
		select @EffectiveDateToTemp=FORMAT(getdate()+120,'MM-dd-yyyy')
	END
	if((@EffectiveDateFromTemp='' OR @EffectiveDateFromTemp is null) and (@EffectiveDateToTemp='' OR @EffectiveDateToTemp is null))
	BEGIN
		select @EffectiveDateFromTemp= FORMAT(getdate()-30,'MM-dd-yyyy'), @EffectiveDateToTemp=FORMAT(getdate()+120,'MM-dd-yyyy')	 
	END
		
	if Exists(select 1 from ProfileFilter where LastUpdateUserID=@LastUpdateUserIDTemp)
	BEGIN
		Select @PolicyStatusDescTemp=PolicyStatusKey, @ProducerCode1Temp=Direct_SubProducedKey,
		@EligibleFirstReviewerfilterTemp=FirstReviewerUserNo from ProfileFilter with (nolock) where LastUpdateUserID=@LastUpdateUserIDTemp
	END
	
	if(@SearchAppCreatedDateFromTemp = '' OR @SearchAppCreatedDateFromTemp is null)
	BEGIN
		set @SearchAppCreatedDateFromTemp = '1950-01-01'
	END
	if(@SearchAppCreatedDateToTemp = '' OR @SearchAppCreatedDateToTemp is null)
	BEGIN
		set @SearchAppCreatedDateToTemp = getdate()
	END

	--select   @PolicyStatusDescTemp,@ProducerCode1Temp

	CREATE TABLE  #TempDirect_SubProducedKey
	(
		PolicyKey VARCHAR(20)
	)
	--IF(@ProducerCode1Temp is null or @ProducerCode1Temp='')
	--BEGIN
	--	--Print 'Producer code is null'
	--	INSERT INTO #TempDirect_SubProducedKey
	--	SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
	--	inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
	--END
	--IF(@ProducerCode1Temp is not null and @ProducerCode1Temp='SubProduced')
	--BEGIN
	--	--Print 'Policies type ar subproduced'
	--	INSERT INTO #TempDirect_SubProducedKey
	--	SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
	--	inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N'
	--	and  pt.ProducerCode <>'' and pt.ProducerCode is not null
	--END
	
	--IF(@ProducerCode1Temp is not null and @ProducerCode1Temp='Direct')	 
	--BEGIN
	--	--Print 'direct and P40,P41,P42,P31,P01,P04 are selected '
	--	INSERT INTO #TempDirect_SubProducedKey
	--	SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
	--	inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode='' OR pt.ProducerCode is null 
	--	-- Asked by Pat 02/14/2019
	--	 or pt.ProducerCode in (select ProducerCode from SubProducer where IsDriect='Y')
	--END
	--IF(@ProducerCode1Temp is not null and @ProducerCode1Temp <> '' and @ProducerCode1Temp!='Direct' and @ProducerCode1Temp!='SubProduced')
	--BEGIN
	--	--print 'Specific subproducer is specified'
	--	INSERT INTO #TempDirect_SubProducedKey
	--	SELECT DISTINCT p.PolicyKey FROM Policy p with (nolock) 
	--	inner join PolicyTransaction pt with (nolock) on p.PolicyKey= pt.PolicyKey where p.MarketableProductKey=2 and p.isUncompletedData='N' and pt.ProducerCode = @ProducerCode1Temp		
	--END
	
	--CREATE TABLE  #TempAccountKey
	--(
	--	AccountKey VARCHAR(20)
	--)
	--IF(@StateCodefilterTemp is NULL OR @StateCodefilterTemp='')
	--BEGIN
	--	INSERT INTO #TempAccountKey
	--	SELECT aa.AccountKey FROM Account a with (nolock),AccountAddress aa with (nolock), Address adds with (nolock),State st with (nolock) 
	--	WHERE aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey AND St.StateCode=adds.StateCode
	--END
	--ELSE
	--BEGIN
	--	INSERT INTO #TempAccountKey
	--	SELECT aa.AccountKey 
	--	FROM Account a,AccountAddress aa with (nolock), Address adds with (nolock),State st with (nolock) 
	--	WHERE aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey AND St.StateCode=adds.StateCode
	--	and st.StateCode in(select items from Split(@StateCodefilterTemp,','))
	--END

	--Pending
	declare @IndicationCount int=0, @PendingCount int=0,@BookedCount int=0,@AbandonedCount int=0,@DeclinedCount int=0,@RejectCount int=0,@IssuedCount int=0,@AcceptedCount int=0,@CancelledCount int=0,@QuickQuoteCount int=0,@UWReviewCount int=0,@UWCompletedCount int=0, @TotalCount int=0

	--select pt.StatusKey,pt.PolicyKey,pt.TransactionSequence,Accountkey,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate,
	--convert(varchar, p.PolicyEffectiveDate, 101) as AppCreatedDate,PolicyStatusKey,pt.ProducerCode,fl.lostworkqComment,fl.IssuedDate,IsFullQuote,IsQuickQuote  
	--into #tempCount from Policy p WITH(NOLOCK)
	--INNER JOIN  PolicyTransaction pt WITH(NOLOCK) ON pt.PolicyKey=p.PolicyKey 
	--INNER JOIN PolicyCoverage pc WITH(NOLOCK) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	--INNER JOIN FirmLW fl WITH(NOLOCK) ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW WITH(NOLOCK) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW WITH(NOLOCK) where PolicyKey=p.PolicyKey)
	--LEFT JOIN Split(@EligibleFirstReviewerfilterTemp,',') L ON CASE WHEN @EligibleFirstReviewerfilterTemp <> '' THEN L.items ELSE  (ISNULL(NULLIF(@EligibleFirstReviewerfilterTemp,''),fl.FirstReviewUserID)) END = fl.FirstReviewUserID
	--LEFT JOIN Split(@ProducerCodefilterTemp,',') L1 on l1.items = pt.ProducerCode	
	--where
	-- p.MarketableProductKey = 2 
	-- and pc.CoverageKey = 3
	--and p.isUncompletedData='N' 
	--and p.PolicyEffectiveDate>=@EffectiveDateFromTemp and p.PolicyEffectiveDate<=@EffectiveDateToTemp
	--and p.AppCreatedDate>=@SearchAppCreatedDateFromTemp and p.AppCreatedDate<=@SearchAppCreatedDateToTemp
	--and p.PolicyStatusKey=CASE WHEN @PolicyStatusDescTemp is null or @PolicyStatusDescTemp='' THEN p.PolicyStatusKey ELSE @PolicyStatusDescTemp END
	--AND ISNULL(L.items,'') = CASE WHEN NULLIF(@EligibleFirstReviewerfilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L.items,'') END 
	--AND ISNULL(L1.items,'') = CASE WHEN NULLIF(@ProducerCodefilterTemp,'') IS  NULL THEN  '' ELSE NULLIF(L1.items,'') END 
	--and pt.PolicyKey in(SELECT PolicyKey FROM #TempDirect_SubProducedKey)
	--AND pt.AccountKey in(SELECT AccountKey FROM #TempAccountKey)

	--select count(t.PolicyKey) as total,t.StatusKey into #tempNew from  #tempCount t
	--where StatusKey in (2,9,10) and (t.lostworkqComment <> 'never quoted' or t.lostworkqComment is null or t.lostworkqComment = '') and IsFullQuote='Y' and IsQuickQuote='N'
	--and t.TransactionSequence= CASE When t.StatusKey in (2,9,10) Then (select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where PolicyKey=t.PolicyKey) END
	--Group By t.StatusKey



	--select @BookedCount=  count(BrokeragePolicyKey) from BrokerageLW where StatusKey=2
	--select @UWReviewCount= total from #tempNew where StatusKey=9
	--select @UWCompletedCount= total from #tempNew where StatusKey=10

	--select count(t.PolicyKey) as total,t.StatusKey into #tempNew2 from  #tempCount t
	--where StatusKey in (3,4,6,7,8) and IsFullQuote='Y' and IsQuickQuote='N'
	--and t.TransactionSequence= CASE When t.StatusKey in (3,4,7) Then (select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where PolicyKey=t.PolicyKey) WHEN t.StatusKey in (6,8)Then (select TransactionSequence from Quote q WITH(NOLOCK) where q.PolicyKey=t.PolicyKey  and q.IsThisOptionFinalised='Y') END
	--Group By t.StatusKey

	
	select @AbandonedCount=count(BrokeragePolicyKey) from BrokerageLW where StatusKey=2
	--select @DeclinedCount=  count(BrokeragePolicyKey) from BrokerageLW where StatusKey=4
	select @IssuedCount= count(BrokeragePolicyKey) from BrokerageLW where StatusKey=6
	select @AcceptedCount= count(BrokeragePolicyKey) from BrokerageLW where StatusKey=7
	select @CancelledCount= count(BrokeragePolicyKey) from BrokerageLW where StatusKey=6
	

	


	select @TotalCount=(@IndicationCount+@PendingCount+@BookedCount+@AbandonedCount+@DeclinedCount+@RejectCount+@IssuedCount+@AcceptedCount+@CancelledCount+
	@UWReviewCount+@UWCompletedCount+@QuickQuoteCount)
	
	select @IndicationCount as indicationCount, @PendingCount as pending, @BookedCount as booked, @AbandonedCount as abandoned,@DeclinedCount as declined, 
	@RejectCount as reject, @IssuedCount as issued, @AcceptedCount as accepted, @CancelledCount as cancelled, @QuickQuoteCount as quickquote,
	 @UWReviewCount as uwreview, @UWCompletedCount as uwcompleted, @TotalCount as totalsubmissions
	
	
END









GO
