USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDataForInsured_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDataForInsured_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDataForInsured_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDataForInsured_p] AS' 
END
GO
--exec  GetDataForInsured_p 2252
ALTER PROCEDURE [dbo].[GetDataForInsured_p]
(
@PolicyKey INT
)
AS
BEGIN
	DECLARE @VersionSequence INT
	DECLARE @TransactionSequence INT
	DECLARE @AccountKey Int
	DECLARE @AddressKey INT
	DECLARE @StatusKey INT
	DECLARE @Accountid INT
	DECLARE @IndicationCount INT
	DECLARE @TransactionVersionSequence int
	SET @VersionSequence=(SELECT max(VersionSequence) from firm where PolicyKey=@Policykey)
	SET @TransactionVersionSequence=(SELECT min(VersionSequence) from PolicyTransaction where PolicyKey=@Policykey)
	Set @StatusKey=(Select top 1 Statuskey from PolicyTransaction where Policykey=@PolicyKey)
	SET @Accountid=(Select AccountId from Policy Where Policykey=@PolicyKey)
	IF(@StatusKey!=4 or @StatusKey!=5 or @StatusKey!=6 OR @StatusKey!=8)
	BEGIN
		 IF NOT EXISTS(select * from Policytransaction where VersionSequence=@TransactionVersionSequence and Policykey=@PolicyKey)
		 BEGIN
			update policytransaction set VersionSequence=@VersionSequence where  PolicyKey=@Policykey
		END
	END
	
	SELECT @TransactionSequence=TransactionSequence,@AccountKey=AccountKey from PolicyTransaction where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	SELECT @AddressKey=AddressKey From AccountAddress Where AccountKey=@AccountKey
	
	Set @IndicationCount=(select CASE When count(Policykey) is not null then  count(Policykey) else 0 END  from Policytransaction where Policykey in(Select Policykey From Policy where Accountid=@Accountid) and StatusKey=11)
	
	Select p.*,adds.*,f.*,pc.*,@TransactionSequence as TransactionSequence,@AccountKey as AddressKey,pt.AccountKey,@VersionSequence as VersionSequence,@IndicationCount as IndicationCount From Address adds
	inner join  AccountAddress aa on aa.AddressKey=adds.AddressKey
	inner join PolicyTransaction pt on pt.AccountKey=aa.AccountKey
	inner join PolicyCoverage pc on pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence
	Inner join Firm f on f.PolicyKey=pt.PolicyKey and f.VersionSequence=pt.VersionSequence
	inner join Policy p on p.PolicyKey=f.PolicyKey
	Where pt.PolicyKey=@PolicyKey and pt.TransactionSequence=@TransactionSequence
END





GO
