USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_PracticeManagement_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_PracticeManagement_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_PracticeManagement_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_PracticeManagement_ACC] AS' 
END
GO
--exec UWRules_PracticeManagement_ACC 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_PracticeManagement_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@TotalFirmPersonnel INT,@priorYearTotalFirmPersonnel INT,@previousPolicyKey INT,@previousVersionSequence INT,@StateCode VARCHAR(50)
	DECLARE @IsFirmRenderingServices CHAR,@IsFirmsRevenueMorethan25Percent CHAR,@IsAnyFirmMeargedOrAcquired CHAR,@IsControlClientFunds CHAR,@IsReferralsInvestmentVentures CHAR,@IsServedAsTrustee CHAR,@IsFirmRenderedServiceForAnyClient CHAR,
	@IsSyndicationManagers CHAR,@IsNonPublicInvestmentDone CHAR,@IsAllegOfLegalMalPracCount INT,@IsAnyRegulatoryInquiry CHAR,@IsAwarenessOfAnyProfLiability CHAR,@IsAwarenessOfAnyProfLiabilitySuitAgainst CHAR,@IsFirmDeclinedOtherthanNonPayment CHAR,
	@IsPolicyExcludesCoverage CHAR
	DECLARE @feeSuitsCount1 INT=0,@feeSuitsCount2 INT=0,@feeSuitsCount3 INT=0,@feeSuitsCount4 INT=0,@totalFeesuitCount INT,@feesuitAmountSumPriorYear INT,@feesuitAmountSumPriorYear1 INT,@feesuitAmountSumPriorYear2 INT,@feesuitAmountSumPriorYear3 INT,@feesuitAmountSumPriorYear4 INT
	
	select @StateCode=StateCode from Address where AddressKey=@AddressKey
	select @IsFirmRenderingServices=IsFirmRenderingServices,@IsFirmsRevenueMorethan25Percent=IsFirmsRevenueMorethan25Percent,@IsAnyFirmMeargedOrAcquired=IsAnyFirmMeargedOrAcquired,@IsControlClientFunds=IsControlClientFunds,
	@IsReferralsInvestmentVentures=IsReferralsInvestmentVentures,@IsServedAsTrustee=IsServedAsTrustee,@IsFirmRenderedServiceForAnyClient=IsFirmRenderedServiceForAnyClient,@IsSyndicationManagers=IsSyndicationManagers,
	@IsNonPublicInvestmentDone=IsNonPublicInvestmentDone,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry,@IsAwarenessOfAnyProfLiability=IsAwarenessOfAnyProfLiability,@IsAwarenessOfAnyProfLiabilitySuitAgainst=IsAwarenessOfAnyProfLiabilitySuitAgainst,
	@IsFirmDeclinedOtherthanNonPayment=IsFirmDeclinedOtherthanNonPayment,@IsPolicyExcludesCoverage=IsPolicyExcludesCoverage
	 from Firm 	where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	
	SET @feeSuitsCount1=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate()))
	if(@feeSuitsCount1 is null)
		set @feeSuitsCount1=0
	SET @feeSuitsCount2=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-1)
	if(@feeSuitsCount2 is null)
		set @feeSuitsCount2=0
	SET @feeSuitsCount3=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-2)
	if(@feeSuitsCount3 is null)
		set @feeSuitsCount3=0
	SET @feeSuitsCount4=(select	count(*) from FirmInitLawsuits where  PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-3)
	if(@feeSuitsCount4 is null)
		set @feeSuitsCount4=0
	SET @totalFeesuitCount=(@feeSuitsCount1+@feeSuitsCount2+@feeSuitsCount3+@feeSuitsCount4)
	
	set @feesuitAmountSumPriorYear1=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate()))
	if(@feesuitAmountSumPriorYear1 is null)
		set @feesuitAmountSumPriorYear1=0
	set @feesuitAmountSumPriorYear2=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-1)
	if(@feesuitAmountSumPriorYear2 is null)
		set @feesuitAmountSumPriorYear2=0
	set @feesuitAmountSumPriorYear3=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-2)
	if(@feesuitAmountSumPriorYear3 is null)
		set @feesuitAmountSumPriorYear3=0
	set @feesuitAmountSumPriorYear4=(select	sum(AmountOfFeesSued) from FirmInitLawsuits where  Policykey=@PolicyKey and VersionSequence=@VersionSequence and year(SuitFilesDateFees)=year(getdate())-3)
	if(@feesuitAmountSumPriorYear4 is null)
		set @feesuitAmountSumPriorYear4=0

	set @IsAllegOfLegalMalPracCount=(select count(FirminitLawsuitsKey) from FirmInitLawsuits where IsAllegOfLegalMalPrac='Y' and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)

	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='officersConductBusinessUnderSeparateEntity_Accountant'
		if(@IsFirmRenderingServices='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm providing services under separate entity name.','Separate Entity: Get and explaination of what it is and what does and why the need for the separate entity. Does it have its own insurance. Need to understand the relationship.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='lastYearFirmRevenue_Accountant'
		if(@IsFirmsRevenueMorethan25Percent='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large client above 40%. Review if the firm is providing audit services to a large client. Conflict of interest in rendering and audit opinion.','Large client above 39%. Obtain the name and kind of client - how are they handling conflict of interest. Are they providing audit services.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='anySolePractitionerAccountingFirm_Accountant'
		if(@IsAnyFirmMeargedOrAcquired='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has mergered or acquired a firm.','Review details with client to determine if the acquired firm is  covered with a tail or if they are included in the prior acts?  Need to understand the other firms practice.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='controlOrDisburseClientFunds_Accountant'
		if(@IsControlClientFunds='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm controls or disburses client funds.','Determine for how many clients, amounts and the circumstances and under what condiitons and controls.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='OrganizePromoteReferInvestInvestmentVentures_Accountant'
		if(@IsReferralsInvestmentVentures='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is organizing, promoting or referring others to invest in investment ventures or Arranging deebet or equity financing. Outside the UW appetite of the program.Decline.','Firm is organizing, promoting or referring others to invest in investment ventures or Arranged debit or equity financing, acted as a business broker, underwritten the offering of public or private securities, or prepared fairness opinions. Outside the UW appetite of the program. Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='investmentFundsHedgeFundsMutualFunds_Accountant'
		if(@IsSyndicationManagers='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is providing services to investment funds, hedge funds, mutual funds or syndication managers and is outside the UW appetite of the program. Decline.','Firm is providing services to investment funds, hedge funds, mutual funds or syndication managers and is outside the UW appetite of the program. Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmPersonnelPredecessorsInvestedNonpublicInvestment_Accountant'
		if(@IsNonPublicInvestmentDone='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm invests in  nonpublic investment venture in which a client has also invested.','Firm invests in  nonpublic investment venture in which a client has also invested.  Obtain  the details and circumstances.Understand and document if there is a potential conflict of interest.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='servingTrusteeCotrusteeExecutor_Accountant'
		if(@IsServedAsTrustee='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is serving as trustee, co-trustee, executor, administrator or personal representative for a  client.','Firm is serving as trustee, co-trustee, executor, administrator or personal representative for a  client. Review supplement - if the applicant is a beneficiary of a personal trust valued in excess of $500,000 - it is a Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='servingOfficerDirectorPartner_Accountant'
		if(@IsFirmRenderedServiceForAnyClient='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is serving as an officer, director, partner, manager or other member of a client''s governing body.','Firm is serving as an officer, director, partner, manager or other member of a client''s governing body.  Review supplement.  If the industry type is: Banks, Broker/Dealers,Investment Companies and Funds, Hedge Funds, Mutual Funds, Syndication Mangers - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkCountOfFeeSuitInPastYears_Lawyers'
		if(@totalFeesuitCount>3)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'More than 3 fee suites in the past 3 years.','Insure that the fee suit supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkAmountOfFeesSued_Accountant'
		if(@feesuitAmountSumPriorYear1>25000 or @feesuitAmountSumPriorYear2>25000 or @feesuitAmountSumPriorYear3>25000 or @feesuitAmountSumPriorYear3>25000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Annual Fee suit amount in the past 3 years greater than $25,000.','Insure that the fee suit supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkCounterClaimORAllegation_Accountant'
		if(@IsAllegOfLegalMalPracCount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Fee suit with counter claim or allegation of malpractice.','Fee suit with counter claim or allegation of malpractice.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsAnyRegulatoryInquiry_Accountant'
		if(@IsAnyRegulatoryInquiry='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has a regulatory investigations, suspensions or criminal charges.','Determine the circumstances and disposition of the regulatory investigation, suspension or criminal charge.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsAwarenessOfAnyProfLiability_Accountant'
		if(@IsAwarenessOfAnyProfLiability='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Reported Claim.','Make sure the supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='IsAwarenessOfAnyProfLiabilitySuitAgainst_Accountant'
		if(@IsAwarenessOfAnyProfLiabilitySuitAgainst='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Potential Claim.','Make sure the supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
		set @rule_id='FirmDeclinedCancelledNnonrenewedProfessionalLiability_Accountant'
		if(@IsFirmDeclinedOtherthanNonPayment='Y' and @StateCode<>'MO')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm declined, cancelled or non-renewed.','Get a detailed explanation of the circumstances around the declination, cancellation or non renewal.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='policyExcludeCoveragePredecessorFirmAffiliatesClients_Accountant'
		if(@IsPolicyExcludesCoverage='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Exclusions on the prior policy.','Review explanation - obtain copy of exclusion from prior policy.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		
END

	IF(@PolicyStatusKey=2)
	BEGIN
		select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		
		print 'Renewal Flow'

		set @rule_id='hasFirmEnteredEngagementServingTrusteeCoTrusteeRenew_Accountant'
		if(@IsServedAsTrustee='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is serving as trustee, co-trustee, executor, administrator or personal representative for a  client.','Firm is serving as trustee, co-trustee, executor, administrator or personal representative for a client. Review supplement - if the applicant is a beneficiary of a personal trust valued in excess of $500,000 - it is a Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmEnteredEngagementServingOfficerDirectorRenew_Accountant'
		if(@IsFirmRenderedServiceForAnyClient='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm is serving as an officer, director, partner, manager or other member of a client''s governing body.','Firm is serving as an officer, director, partner, manager or other member of a client''s governing body.  Review supplement.  If the industry type is: Banks, Broker/Dealers,Investment Companies and Funds, Hedge Funds, Mutual Funds, Syndication Mangers - Decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		
		set @rule_id='checkCountOfFeeSuitInPastYears_Accountant'
		if(@totalFeesuitCount>3)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Fee suits for more than 3 or the annual ammount paid is greater than 25,000.','Insure that the fee suit supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='checkAmountOfFeesSuedRenew_Accountant'
		if(@feesuitAmountSumPriorYear>25000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Fee suits for more than 3 or the annual ammount paid is greater than 25,000.','Amount of fee suits are above $25,000.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			

		set @rule_id='regulatoryInvestigationInquirySuspendedPracticeChargedRenew_Accountant'
		if(@IsAnyRegulatoryInquiry='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has a regulatory investigations, suspensions or criminal charges.','Determine the circumstances and disposition of the regulatory investigation, suspension or criminal charge.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='anyAccountantsProfessionalLiabilityClaimsMadeAgainstFirmRenew_Accountant'
		if(@IsAwarenessOfAnyProfLiability='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Reported Claim.','Make sure the supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='anyActOmissionFeeDisputeBasisOfClaimAgainstFirmRenew_Accountant'
		if(@IsAwarenessOfAnyProfLiabilitySuitAgainst='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Potential Claim.','Make sure the supplement is complete.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


	END
END







GO
