USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayTrusteeOrEstateAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayTrusteeOrEstateAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayTrusteeOrEstateAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayTrusteeOrEstateAC_p] AS' 
END
GO
--exec DisplayTrusteeOrEstateAC_p 79667, 20986
ALTER PROCEDURE [dbo].[DisplayTrusteeOrEstateAC_p]
(
@PolicyKey INT,
@VersionSequence INT
)
AS
BEGIN
	CREATE TABLE #tempfesuit
	(
		ROWID int,
		TrusteeOrEstateSuppKey INT,
		PolicyKey INT,
		VersionSequence INT,
		NameOfTrust varchar(100),
		TypeofTrustKey INT,
		ValueOfAssetsTrust NUMERIC,
		IsBeneficiaryInterestTrust CHAR,
		isSaved CHAR
	)
	
	CREATE TABLE #TEMPTable1
	(
		ROWID int,
		TrusteeOrEstateSuppKey INT,
		NameOfTrust varchar(100),
		TypeofTrustKey INT,
		ValueOfAssetsTrust NUMERIC,
		IsBeneficiaryInterestTrust CHAR
	)
	DECLARE @Count INT
	DECLARE @InitCount INT
	DECLARE @LoopCounter INT =1
	DECLARE @isSaved CHAR='Y'
	SELECT @Count=count(*) FROM TrusteeOrEstateSupp WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
	if(@Count<=1)
		BEGIN
			Set @InitCount=1
		END
	ELSE
		BEGIN
			Set @InitCount=@Count
		END
	WHILE (@LoopCounter <= @InitCount)
		BEGIN
			INSERT INTO #tempfesuit(ROWID,TrusteeOrEstateSuppKey,PolicyKey,VersionSequence,NameOfTrust,TypeofTrustKey,ValueOfAssetsTrust,IsBeneficiaryInterestTrust,isSaved)
			VALUES(@LoopCounter,null,@PolicyKey,@VersionSequence,null,null,null,null,@isSaved)
			SET @LoopCounter  = @LoopCounter  + 1
		END	
	IF(@Count>0)
		BEGIN
			INSERT INTO #TEMPTable1(ROWID,TrusteeOrEstateSuppKey,NameOfTrust,TypeofTrustKey,ValueOfAssetsTrust,IsBeneficiaryInterestTrust)
			SELECT ROW_NUMBER() OVER (ORDER BY PolicyKey ASC) AS ROWID,TrusteeOrEstateSuppKey,NameOfTrust,TypeofTrustKey,ValueOfAssetsTrust,IsBeneficiaryInterestTrust
			FROM TrusteeOrEstateSupp WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
		END
	SET @LoopCounter=1
	WHILE ( @LoopCounter <= @InitCount)
		BEGIN
			UPDATE #tempfesuit 
			SET 
				TrusteeOrEstateSuppKey=i.TrusteeOrEstateSuppKey,
				NameOfTrust = i.NameOfTrust, 
				TypeofTrustKey = i.TypeofTrustKey, 
				ValueOfAssetsTrust = i.ValueOfAssetsTrust, 
				IsBeneficiaryInterestTrust = i.IsBeneficiaryInterestTrust
			FROM(SELECT TrusteeOrEstateSuppKey,NameOfTrust,TypeofTrustKey,ValueOfAssetsTrust,IsBeneficiaryInterestTrust FROM #TEMPTable1 WHERE ROWID=@LoopCounter) i
			WHERE ROWID=@LoopCounter
			SET @LoopCounter  = @LoopCounter  + 1
		END
	SELECT ROWID,TrusteeOrEstateSuppKey,PolicyKey,VersionSequence,NameOfTrust,TypeofTrustKey,dbo.getAmountFormat(ValueOfAssetsTrust) as ValueOfAssetsTrust,IsBeneficiaryInterestTrust,isSaved FROM #tempfesuit
END



GO
