USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertReferralCountHistoryAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertReferralCountHistoryAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertReferralCountHistoryAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertReferralCountHistoryAcc_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertReferralCountHistoryAcc_p] 
(
	@PolicyKey INT,
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS

BEGIN
		BEGIN TRY
			BEGIN TRAN

				DECLARE @count INT
				
				SELECT @count=count(*) FROM RulePolicyTransaction WHERE PolicyKey=@PolicyKey and  isArchived='NO'

				UPDATE FIRM SET isAppCompleted='Y',ReferralCountHistory=@count,isComingFromUWFlow='NO',FollowUnderwriterFlow='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey 
				
				UPDATE RulePolicyTransaction SET RuleStatus='OLD',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey and RuleStatus='NEW'
				
				UPDATE PolicyTransaction set StatusKey=9,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey
				
				COMMIT TRAN

		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
		END CATCH
 END



GO
