USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateRenewAboutFirmDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateRenewAboutFirmDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateRenewAboutFirmDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateRenewAboutFirmDetails_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertUpdateRenewAboutFirmDetails_p]
(
@PolicyKey INT,
@IsFirmMergedWithOtherFirm CHAR,
@AnnualRevenueSequence INT,
@IsFirmCoverageForPreceedorFirms CHAR,
@isServedAsCEOChairmanPresident CHAR,
@IsFirmHaveClientMoreThan25PercentOfBilling CHAR,
@ClientNameFirstLargestRevenueClient VARCHAR(50),
@ServicesRenderedFirstLargestRevenueClient VARCHAR(100),
@PercentFromFirstLargestRevenueClient NUMERIC,
@ClientNameSecondLargestRevenueClient  VARCHAR(50),
@ServicesRenderedSecondLargestRevenueClient VARCHAR(100),
@PercentFromSecondLargestRevenueClient INT,
@DateRenderedSecondLargestRevenueClient  INT,
@custodyOrControlFunds CHAR,
@disbursementTransaction INT,
@peopleToDisburseFunds INT,
@instructionsDocumentedReceivingParty CHAR,
@doucumentedProtocolsAndAuthority CHAR,
@haveFraudSecurityAwarenessProgram CHAR,
@needCyberCoverage CHAR,
@DateRenderedFirstLargestRevenueClient INT,
@IsApplIntToFinanAssests CHAR,
@isCannibSuppPage CHAR,
@IsApplInitiatedLawsuitForFirm char,
@bankruptcyImplementationDate DATETIME
)
	
AS
BEGIN
DECLARE @isAppCompleted CHAR,@AccountKey INT
Set @AccountKey=(select top 1 AccountKey from PolicyTransaction Where PolicyKey=@PolicyKey)
set @isAppCompleted=(SELECT FullyCompleted from dbo.ValidateFullApplication(@PolicyKey,@AccountKey,'2017-12-06 00:00:00.0','2021-01-01 00:00:00.0',@bankruptcyImplementationDate))
	IF(@needCyberCoverage is NULL OR @needCyberCoverage='')
	BEGIN
		SET @needCyberCoverage='N'
	END
		UPDATE FIRMLW SET
			IsFirmMergedWithOtherFirm=@IsFirmMergedWithOtherFirm,
			AnnualRevenueSequence=@AnnualRevenueSequence,
			IsFirmCoverageForPreceedorFirms=@IsFirmCoverageForPreceedorFirms,
			isServedAsCEOChairmanPresident=@isServedAsCEOChairmanPresident,
			IsFirmHaveClientMoreThan25PercentOfBilling=@IsFirmHaveClientMoreThan25PercentOfBilling,
			ClientNameFirstLargestRevenueClient=@ClientNameFirstLargestRevenueClient,
			ServicesRenderedFirstLargestRevenueClient=@ServicesRenderedFirstLargestRevenueClient,
			PercentFromFirstLargestRevenueClient=@PercentFromFirstLargestRevenueClient,
			ClientNameSecondLargestRevenueClient=@ClientNameSecondLargestRevenueClient, 
			ServicesRenderedSecondLargestRevenueClient=@ServicesRenderedSecondLargestRevenueClient,
			PercentFromSecondLargestRevenueClient=@PercentFromSecondLargestRevenueClient,
			DateRenderedSecondLargestRevenueClient=@DateRenderedSecondLargestRevenueClient,
			custodyOrControlFunds=@custodyOrControlFunds, 
			disbursementTransaction=@disbursementTransaction,
			peopleToDisburseFunds=@peopleToDisburseFunds,
			instructionsDocumentedReceivingParty=@instructionsDocumentedReceivingParty,
			doucumentedProtocolsAndAuthority=@doucumentedProtocolsAndAuthority,
			haveFraudSecurityAwarenessProgram=@haveFraudSecurityAwarenessProgram,
			needCyberCoverage=@needCyberCoverage,
			DateRenderedFirstLargestRevenueClient=@DateRenderedFirstLargestRevenueClient,
			IsApplIntToFinanAssests=@IsApplIntToFinanAssests,isCannibSuppPage=@isCannibSuppPage,IsApplInitiatedLawsuitForFirm=@IsApplInitiatedLawsuitForFirm,
			isAppCompleted=@isAppCompleted,
			LastUpdateTimeStamp=getdate()
		WHERE PolicyKey=@PolicyKey
		IF(@isCannibSuppPage IS NULL OR @isCannibSuppPage='N')
			delete from CannabisSupplement where Policykey=@Policykey

END



GO
