USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayFeeSuitDataAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayFeeSuitDataAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayFeeSuitDataAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayFeeSuitDataAC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[DisplayFeeSuitDataAC_p]
(
@PolicyKey INT,
@VersionSequence INT
)
AS
BEGIN
	CREATE TABLE #tempfesuit
	(
		ROWID int,
		FirminitLawsuitsKey INT,
		PolicyKey INT,
		VersionSequence INT,
		--NamedDefendantsInSuit varchar(55),
		--DueDateFees DATETIME,
		AmountOfFeesSued NUMERIC,
		SuitFilesDateFees DATETIME,
		IsAllegOfLegalMalPrac CHAR,
		FeeSuitDispositionKey INT,
		
		isSaved CHAR
	)
	
	CREATE TABLE #TEMPTable1
	(
		ROWID int,
		FirminitLawsuitsKey INT,
		--NamedDefendantsInSuit varchar(55),
		--DueDateFees DATETIME,
		AmountOfFeesSued NUMERIC,
		SuitFilesDateFees DATETIME,
		IsAllegOfLegalMalPrac CHAR,
		FeeSuitDispositionKey INT
	)
	DECLARE @Count INT
	DECLARE @InitCount INT
	DECLARE @LoopCounter INT =1
	DECLARE @isSaved CHAR='Y'
SELECT @Count=count(*) FROM FirmInitLawsuits WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
			if(@Count<=1)
			BEGIN
				Set @InitCount=1
			END
			ELSE
			BEGIN
				Set @InitCount=@Count
			END

				WHILE ( @LoopCounter <= @InitCount)
					BEGIN
						INSERT INTO #tempfesuit(ROWID,FirminitLawsuitsKey,PolicyKey,VersionSequence,
						--NamedDefendantsInSuit,DueDateFees,
						AmountOfFeesSued,SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey,isSaved)
						VALUES(@LoopCounter,null,@PolicyKey,@VersionSequence,
						--null,null,
						null,null,null,null,@isSaved)
						SET @LoopCounter  = @LoopCounter  + 1
					END
			
			
			IF(@Count>0)
			BEGIN
					INSERT INTO #TEMPTable1(ROWID,FirminitLawsuitsKey,
					--NamedDefendantsInSuit,DueDateFees,
					AmountOfFeesSued,SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey)
					SELECT   ROW_NUMBER() OVER (ORDER BY PolicyKey ASC) AS ROWID,FirminitLawsuitsKey,
					--NamedDefendantsInSuit,DueDateFees,
					AmountOfFeesSued,SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey
					FROM FirmInitLawsuits WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
			END
			SET @LoopCounter=1
			WHILE ( @LoopCounter <= @InitCount)
			BEGIN
				UPDATE #tempfesuit 
				SET 
					FirminitLawsuitsKey=i.FirminitLawsuitsKey,
					--NamedDefendantsInSuit = i.NamedDefendantsInSuit, 
					--DueDateFees = i.DueDateFees, 
					AmountOfFeesSued = i.AmountOfFeesSued, 
					SuitFilesDateFees = i.SuitFilesDateFees,
					IsAllegOfLegalMalPrac = i.IsAllegOfLegalMalPrac,
					FeeSuitDispositionKey = i.FeeSuitDispositionKey   
					
				FROM (
					SELECT FirminitLawsuitsKey,
					--NamedDefendantsInSuit,DueDateFees,
					AmountOfFeesSued,SuitFilesDateFees,IsAllegOfLegalMalPrac,FeeSuitDispositionKey
					FROM #TEMPTable1 WHERE ROWID=@LoopCounter) i
					WHERE ROWID=@LoopCounter
				SET @LoopCounter  = @LoopCounter  + 1
			END
			SELECT * FROM #tempfesuit
END



GO
