USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertupdateReportFrameworkSavedSearch_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertupdateReportFrameworkSavedSearch_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertupdateReportFrameworkSavedSearch_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertupdateReportFrameworkSavedSearch_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[InsertupdateReportFrameworkSavedSearch_p] 
(
@search_name VARCHAR(1000),
@report_id VARCHAR(500),
@search_xml VARCHAR(8000),
@last_updated_by VARCHAR(50),
@last_updated_ts DATETIME,
@search_xml_desc VARCHAR(5000),
@created_by VARCHAR(50),
@isglobal CHAR
)
AS
BEGIN
	
	if exists( select * from reportsavedsearch where search_name=@search_name and report_id=@report_id)
	begin
			update reportsavedsearch set search_name=@search_name,report_id=@report_id,search_xml=@search_xml,last_updated_by=@last_updated_by,
			last_updated_ts=@last_updated_ts,search_xml_desc=@search_xml_desc,created_by=@created_by,isglobal=@isglobal
			where search_name=@search_name and report_id=@report_id
			--delete from reportsavedsearch where report_id=@report_id and search_name=@search_name 
		 -- insert into reportsavedsearch(search_name,report_id,search_xml,last_updated_by,last_updated_ts,search_xml_desc,created_by,isglobal)
		 -- values(@search_name,@report_id,@search_xml,@last_updated_by,@last_updated_ts,@search_xml_desc,@created_by,@isglobal)

	end
	else
	 begin
			insert into reportsavedsearch(search_name,report_id,search_xml,last_updated_by,last_updated_ts,search_xml_desc,created_by,isglobal)
		  values(@search_name,@report_id,@search_xml,@last_updated_by,@last_updated_ts,@search_xml_desc,@created_by,@isglobal)
	end
END


GO
