USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateDocumentTable]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateDocumentTable]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateDocumentTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateDocumentTable] AS' 
END
GO
ALTER PROCEDURE [dbo].[UpdateDocumentTable]
(
@QuoteNumber VARCHAR(5000),
@DocTitle VARCHAR(5000),
@Comment VARCHAR(5000),
@DocFileName VARCHAR(5000),
@DocUrl VARCHAR(5000),
@UploadedType VARCHAR(5000),
@DocType VARCHAR(5000)

)
AS
BEGIN
BEGIN TRANSACTION;  
DECLARE @PolicyKey INT,@VersionSequence INT
select @PolicyKey=p.PolicyKey,@VersionSequence=f.VersionSequence from Policy p inner join Firmlw f on f.PolicyKey=p.PolicyKey where p.QuoteNumber=@QuoteNumber
--select @VersionSequence as VS,@DocTitle as DT,@Comment as Cmt,@DocFileName as DFN,3 as USerID,@PolicyKey as PolicyKey,GETDATE(),@DocType as DocType,@DocUrl as DocURL,@UploadedType as UT,GETDATE()
    insert into DocumentArchiveLW(VersionSequence,DocTitle,Comment,DocFileName,LastUpdateUserID,PolicyKey,LastUpdateTimeStamp,DocType,DocUrl,UploadedType,UploadedTime)
							values(@VersionSequence,@DocTitle,@Comment,@DocFileName,3,@PolicyKey,GETDATE(),@DocType,@DocUrl,@UploadedType,GETDATE())
	COMMIT TRANSACTION;  
END


GO
