USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAddressInfoLaw_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAddressInfoLaw_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAddressInfoLaw_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAddressInfoLaw_p] AS' 
END
GO
--exec UpdateAddressInfoLaw_p  55490 	 	
ALTER PROCEDURE [dbo].[UpdateAddressInfoLaw_p]
(
@PolicyKey INT)
AS
BEGIN
	DECLARE @ADDRESSKEY INT
	DECLARE @PreviousPolicykey INT
	DECLARE @OldAddressKey INT
	DECLARE @ZipCode1 varchar(20)
	DECLARE @ZipCode2 varchar(20)
	DECLARE @ADDRESS VARCHAR(500)
	DECLARE @STREET VARCHAR(100)
	DECLARE @Buffer VARCHAR
	select @PreviousPolicykey=p.policykey FROM policy p inner join firmlw f on p.policykey=f.policykey where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid in(select accountid from policy where policykey=@PolicyKey)
					AND policynumber is not null)
	--select @ADDRESSKEY=AddressKey from address where addresskey in(select addresskey from  AccountAddress where AccountKey in(select AccountKey from policytransaction  where policykey=@PreviousPolicykey))
	select @ZipCode1=zip,@ZipCode2= zip4,@STREET=Street,@ADDRESS=Address1 from address where addresskey in(select addresskey from  AccountAddress where AccountKey in(select AccountKey from policytransaction  where policykey=@PreviousPolicykey))
	select @ADDRESSKEY=AddressKey from address where addresskey in(select addresskey from  AccountAddress where AccountKey in(select AccountKey from policytransaction  where policykey=@PolicyKey))
	--UPDATE Address set Address1=@ADDRESS where AddressKey=@ADDRESSKEY
	select * from address where addresskey=@ADDRESSKEY
	--select @ZipCode1,@ZipCode2,@STREET,@ADDRESS
END

GO
