USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertReferralCountHistory_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertReferralCountHistory_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertReferralCountHistory_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertReferralCountHistory_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertReferralCountHistory_p] 
(
	@PolicyKey INT,
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS

BEGIN
		UPDATE RulePolicyTransaction SET RuleStatus='OLD',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey 
		UPDATE PolicyTransaction SET StatusKey=9,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID WHERE PolicyKey=@PolicyKey 
		
		DECLARE @count INT
		SET @count=(SELECT count(*) FROM RulePolicyTransaction WHERE PolicyKey=@PolicyKey and  isArchived='NO')
		UPDATE FirmLW SET ReferralCountHistory=@count,isComingFromUWFlow='NO',FollowUnderwriterFlow='Y',
		LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID,isAppCompleted='Y',isPolicyWentToUnderwriting='Y'  where PolicyKey=@PolicyKey
	
 END





GO
