USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FirmInfo_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_FirmInfo_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_FirmInfo_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_FirmInfo_ACC] AS' 
END
GO
--exec UWRules_FirmInfo_ACC 136436, 137827, 89687, 136620, 30655, 2, '3'
ALTER PROCEDURE [dbo].[UWRules_FirmInfo_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@TotalFirmPersonnel INT,@priorYearTotalFirmPersonnel INT,@previousPolicyKey INT,@previousVersionSequence INT
	Declare @Amount_1 int,@Amount_2 INT,@Amount_3 INT,@AverageRevenue INT,@priorYearAmount_1 INT,@IsAnyFirmMeargedOrAcquired CHAR,@IsControlClientFunds CHAR,@IsFirmsRevenueMorethan25Percent CHAR,@PercentOfRevenueFromLargestClient INT
	Select @TotalFirmPersonnel=TotalFirmPersonnel,@IsAnyFirmMeargedOrAcquired=IsAnyFirmMeargedOrAcquired,@IsControlClientFunds=IsControlClientFunds,@IsFirmsRevenueMorethan25Percent=IsFirmsRevenueMorethan25Percent,
	@PercentOfRevenueFromLargestClient=PercentOfRevenueFromLargestClient from Firm where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	SET @Amount_1=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @Amount_2=(select Amount from GrossRevenueForFirm where GrossRevenueKey=2 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	SET @Amount_3=(select Amount from GrossRevenueForFirm where GrossRevenueKey=3 and PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
	set @AverageRevenue=(@Amount_1+@Amount_2+@Amount_3)/3

	--select  @daysDifference
	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='totalNoOfPerson_Accountant'
		if(@TotalFirmPersonnel>15)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large firm. Total number of firm personell is above 15 people.','Total number of firm personell is above 15 people. Large firm.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='annualRevenueLastBusinessYear_Accountant'
		if(@AverageRevenue<20000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Revenue - Firm is below 20,000 may be part -time.','Revenue - Firm is either below 20,000 determine if they are part-time or moonlighting.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='annualRevenueLastThreeBusinessYear_Accountant'
		if(@AverageRevenue>5000000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Revenue greater than 5M','Revenue greater than 5M - must be refered.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
END

	IF(@PolicyStatusKey=2)
	BEGIN
	DECLARE @priorYearAmount_1_20Percent NUMERIC(12,3) 
		select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		Select @priorYearTotalFirmPersonnel=TotalFirmPersonnel from Firm where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		SET @priorYearAmount_1=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence)
		print 'Renewal Flow'
		set @priorYearAmount_1_20Percent= (@priorYearAmount_1*0.2)
		--select @priorYearAmount_1,@priorYearAmount_1_20Percent as priorYearAmount_1_20Percent
		set @rule_id='totalNoOfPersonRenew_Accountant'
		if((@TotalFirmPersonnel-@priorYearTotalFirmPersonnel)>15)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large firm. Total number of firm personell is above 15 people.','Total number of firm personell is above 15 people. Large firm.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='annualRevenueLastBusinessYearRenew_Accountant'
		if(@Amount_1<20000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Revenue - Firm is below 20,000 may be part -time.','Revenue - Firm is either below 20,000 determine if they are part-time or moonlighting.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='annualRevenueLastCompletedBusinessYear_Accountant'
		if(@Amount_1>5000000)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large firm - revenue above 5M.','Revenue - Firm is above 5M in revenue.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='annualDecreaseBy20ErcentFromLastYear_Accountant'
		if((@priorYearAmount_1-@Amount_1)>@priorYearAmount_1_20Percent)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Revenue has decrease by more than 20%.','Inquire as to the large decrease in revenue.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
			
		set @rule_id='anySolePractitionerAccountingFirm_Accountant'
		if(@IsAnyFirmMeargedOrAcquired='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm has mergered or acquired a firm.','Review details with client to determine if the acquired firm is  covered with a tail or if they are included in the prior acts?  Need to understand the other firm practice.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='controlOrDisburseClientFunds_Accountant'
		if(@IsControlClientFunds='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm controls or disburses client funds.','Determine for how many clients, amounts and the circumstances and under what condiitons and controls.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='lastYearFirmRevenue_Accountant'
		if(@IsFirmsRevenueMorethan25Percent='Y' and @PercentOfRevenueFromLargestClient>39 )
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Large client above 39%. Review if the  firm is providing audit services to a large client. Conflict of interest in rendering and audit opinion.','Large client above 39%. Obtain the name and kind of client - how are they handling conflict of interest. Are they providing audit services.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	END
END





GO
