USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_LawyersSubProducerBatch_OLD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetRenewalReminderList_LawyersSubProducerBatch_OLD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_LawyersSubProducerBatch_OLD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetRenewalReminderList_LawyersSubProducerBatch_OLD] AS' 
END
GO

--exec GetRenewalReminderList_LawyersSubProducerBatch_OLD
--select * from subproducer where ProducerCode in ('P0000005','P0000050','P0000012')
--Update SubProducer set Signature = NULL
--Update SubProducer set SendRenewalSolicitation='Y',SubProducerAccess='Y' where ProducerCode in ('P0000005','P0000050','P0000012')
--Update SubProducer set SendRenewalSolicitation='N',SubProducerAccess='N' where ProducerCode not in ('P0000005','P0000050','P0000012')


ALTER PROCEDURE [dbo].[GetRenewalReminderList_LawyersSubProducerBatch_OLD]
AS
BEGIN
delete from RenewalTable
exec ResetRenewalAccountantFlags_p

Declare @TodayDate DateTime = GETDATE();

select * into #temp_SubProducer from SubProducer
Update #temp_SubProducer set Signature = NULL
Update #temp_SubProducer set SendRenewalSolicitation='Y',SubProducerAccess='Y' where ProducerCode in ('P0000005','P0000050','P0000012')
Update #temp_SubProducer set SendRenewalSolicitation='N',SubProducerAccess='N' where ProducerCode not in ('P0000005','P0000050','P0000012')

if((DATENAME(dw,@TodayDate  )='Monday'))
begin

Declare @loopCount int=1, @maxLoopCount int=9,  @ForDays varchar(20)=''
WHILE(@maxLoopCount>=@loopCount)

	BEGIN
		SET @ForDays=CASE @loopCount WHEN 1 THEN '0' WHEN 2 THEN '5' WHEN 3 THEN '10' WHEN 4 THEN '15' WHEN 5 THEN '21'
		  WHEN 6 THEN '30' WHEN 7 THEN '45'WHEN 8 THEN '60' WHEN 9 THEN '90' END
		 
		
		select DISTINCT pt.ProducerCode ,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail,a.secondaryEmail
		,adds.stateCode,sub.SPPhoneNumber,sub.ProducerName,sub.SPContactName,sub.Producer_email,sub.Fax,sub.Signature,sub.SPWebsite,sub.SendRenewalSolicitation,sub.SPConatctEmailId,sub.SubProducerAccess,sub.SignatureText,sub.EmailSignature,sub.SignatureText3,sub.SignatureText2,
		convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,f.isAppCompleted,f.isrenewed 
		into #temp_renewal_4
		from Policy p
		join  Account a on a.AccountID = p.AccountID
		join AccountAddress aa on aa.AccountKey = a.AccountKey
		join Address adds on adds.AddressKey = aa.AddressKey
		join PolicyTransaction pt on pt.PolicyKey = p.PolicyKey and pt.AccountKey = aa.AccountKey  
		join PolicyCoverage pc on pc.PolicyKey = p.PolicyKey and pt.TransactionSequence = pc.TransactionSequence
		join FirmLW f on f.policykey = pc.PolicyKey
		join Quote q on q.policykey = pc.PolicyKey
		join Status s on s.StatusKey = pt.StatusKey
		join #temp_SubProducer sub on sub.ProducerCode = pt.ProducerCode
		where 
		p.MarketableProductKey = 2 and pc.CoverageKey = 3   
		and pt.TransactionSequence=(select min(TransactionSequence) 
		from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
		pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) 
		and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
		and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y'  
		--and adds.stateCode not in('NM','CO','IL','GA','HI','LA','WV')
		and adds.stateCode in('AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'ID', 'IL', 'IN', 'KS', 'MA', 'MI', 'MN', 'MO', 'NC', 'NJ', 'NV', 'OH', 'PA', 'SC', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI') 
		 and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 and q.IsThisOptionFinalised='Y') and

		pt.PolicyExpirationDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,@TodayDate  ),110)
													WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,@TodayDate  ),110) 
													WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,@TodayDate  ),110)
													WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,@TodayDate  ),110)
													WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,@TodayDate  ),110)
													WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,@TodayDate  ),110)
													WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,@TodayDate  ),110)
													WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,@TodayDate  ),110)
													WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,@TodayDate  ),110)
												END AND

	  pt.PolicyExpirationDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),@TodayDate  ,110) 
												 WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,@TodayDate  ),110) 
												 WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,@TodayDate  ),110)
												 WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,@TodayDate  ),110)
												 WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,@TodayDate  ),110) 
												 WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,@TodayDate  ),110) 
												 WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,@TodayDate  ),110) 
												 WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,@TodayDate  ),110) 
												 WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,@TodayDate  ),110) 
												END 

				DECLARE @AttorneyCount INT
				DECLARE @isDeathDisabilityERP CHAR
				DECLARE @isFirmERP CHAR
				DECLARE @isAttorneyRetiring CHAR
				declare @PolicyKey2 int


				DECLARE @AttorneyCount4 INT
				DECLARE @isDeathDisabilityERP4 CHAR
				DECLARE @isFirmERP4 CHAR
				DECLARE @isAttorneyRetiring4 CHAR
				declare @PolicyKey4 int
				declare c4 cursor for
			   select PolicyKey from #temp_renewal_4
			   OPEN c4
					  FETCH NEXT FROM c4 into @PolicyKey4 
						WHILE @@FETCH_STATUS = 0
							begin
							  Select @isAttorneyRetiring4=isAttorneyRetiring,@isDeathDisabilityERP4=isDeathDisabilityERP,@isFirmERP4=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey4

						SET @AttorneyCount4=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@policykey4 and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey4)and isAttorneyEndorsed<>'Y')
						
						If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey4 and pt.TransactionTypeKey=16)
						begin
						print '1'
							if(@isFirmERP4='Y' or (@isAttorneyRetiring4='Y' and @AttorneyCount4=0))
								update #temp_renewal_4 set  isrenewed='Y' where PolicyKey= @PolicyKey4 --and TransactionSequence = @TransactionSequence

						end
						--if (@AttorneyCount=0)
						--begin
						--	update #temp_renewal_4 set  isrenewed='Y' where PolicyKey= @PolicyKey4
						--end
					  FETCH NEXT FROM c4 into @PolicyKey4

					  END
					  
			   close c4
			   deallocate c4

		
      select  DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail,a.secondaryEmail
		, adds.stateCode,sub.SPPhoneNumber,sub.ProducerName,sub.SPContactName,sub.Producer_email,sub.Fax,sub.Signature,sub.SPWebsite,sub.SendRenewalSolicitation,sub.SPConatctEmailId,sub.SubProducerAccess,sub.SignatureText,sub.EmailSignature,sub.SignatureText3,sub.SignatureText2,
		convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted,f.IsRenewed 
		into #temp_renewal_5 
		from Policy p
		join  Account a on a.AccountID = p.AccountID
		join AccountAddress aa on aa.AccountKey = a.AccountKey
		join Address adds on adds.AddressKey = aa.AddressKey
		join PolicyTransaction pt on pt.PolicyKey = p.PolicyKey and pt.AccountKey = aa.AccountKey  
		join PolicyCoverage pc on pc.PolicyKey = p.PolicyKey and pt.TransactionSequence = pc.TransactionSequence
		join FirmLW f on f.policykey = pc.PolicyKey
		join Quote q on q.policykey = pc.PolicyKey
		join Status s on s.StatusKey = pt.StatusKey
		join #temp_SubProducer sub on sub.ProducerCode = pt.ProducerCode

		where
		p.MarketableProductKey = 2 and pc.CoverageKey = 3  and 
		pt.TransactionSequence = pc.TransactionSequence 
		and pt.TransactionSequence=(select min(TransactionSequence) 
		from PolicyTransaction  
		where PolicyKey=p.PolicyKey) and 
		pc.CoverageSequence=(select min(CoverageSequence)
		from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
		and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 
		--and adds.stateCode not in('NM','CO','IL','GA','HI','LA','WV','FL') 
		and adds.stateCode in('AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'ID', 'IL', 'IN', 'KS', 'MA', 'MI', 'MN', 'MO', 'NC', 'NJ', 'NV', 'OH', 'PA', 'SC', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI') 
		and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 ) and

		p.PolicyEffectiveDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,@TodayDate  ),110)
												WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,@TodayDate  ),110) 
												WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,@TodayDate  ),110)
												WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,@TodayDate  ),110)
												WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,@TodayDate  ),110)
												WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,@TodayDate  ),110)
												WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,@TodayDate  ),110)
												WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,@TodayDate  ),110)
												WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,@TodayDate  ),110)
												END AND

		p.PolicyEffectiveDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),@TodayDate  ,110) 
												WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,@TodayDate  ),110) 
												WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,@TodayDate  ),110)
												WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,@TodayDate  ),110)
												WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,@TodayDate  ),110) 
												WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,@TodayDate  ),110) 
												WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,@TodayDate  ),110) 
												WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,@TodayDate  ),110) 
												WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,@TodayDate  ),110)  
												END
												
		--declare @PolicyKey int
		--declare @IsCompletedApplication char(1) = 'N'


				declare @PolicyKey5 int
				declare @IsCompletedApplication5 char(1) = 'N'

				declare c5 cursor for
			   select PolicyKey from #temp_renewal_5
			   OPEN c5
					  FETCH NEXT FROM c5 into @PolicyKey5 
					  WHILE @@FETCH_STATUS = 0
							 BEGIN
							 set @IsCompletedApplication5 = 'N'
							 exec CheckIfApplicationIsCompletedNew_p @PolicyKey5,@IsCompletedApplication5 output
							 print '@IsCompletedApplication5  ' + @IsCompletedApplication5

							 if(@IsCompletedApplication5 = 'Y')
								   delete from #temp_renewal_5 where PolicyKey = @PolicyKey5

					  FETCH NEXT FROM c5 into @PolicyKey5

					  END
			   close c5
			   deallocate c5

	
		 insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,ProducerCode,SPPhoneNumber,ProducerName,SPContactName,Producer_email,Fax,Signature,SPWebsite,SendRenewalSolicitation,SPConatctEmailId,SubProducerAccess,SignatureText,EmailSignature,SignatureText3,secondaryEmail,SignatureText2,isrenewed) 
		select  tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate,tr.StateCode ,tr.isAppCompleted,tr.ProducerCode,tr.SPPhoneNumber,tr.ProducerName,tr.SPContactName,tr.Producer_email,tr.Fax,tr.Signature,tr.SPWebsite,tr.SendRenewalSolicitation,tr.SPConatctEmailId,tr.SubProducerAccess,tr.SignatureText,tr.EmailSignature,tr.SignatureText3,tr.secondaryEmail,tr.SignatureText2,tr.IsRenewed
		from #temp_renewal_4 tr 
		left join #temp_SubProducer sp on sp.ProducerCode = tr.ProducerCode where sp.SendRenewalSolicitation='Y' 

		insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,ProducerCode,SPPhoneNumber,ProducerName,SPContactName,Producer_email,Fax,Signature,SPWebsite,SendRenewalSolicitation,SPConatctEmailId,SubProducerAccess,SignatureText,EmailSignature,SignatureText3,secondaryEmail,SignatureText2,isrenewed) 
		select  tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.isAppCompleted,tr.ProducerCode,tr.SPPhoneNumber,tr.ProducerName,tr.SPContactName,tr.Producer_email,tr.Fax,tr.Signature,tr.SPWebsite,tr.SendRenewalSolicitation,tr.SPConatctEmailId,tr.SubProducerAccess,tr.SignatureText,tr.EmailSignature,tr.SignatureText3,tr.secondaryEmail,tr.SignatureText2,tr.IsRenewed
		from #temp_renewal_5 tr left join #temp_SubProducer sp on sp.ProducerCode = tr.ProducerCode where sp.SendRenewalSolicitation='Y' 


		drop table #temp_renewal_4
		drop table #temp_renewal_5

		SET @loopCount=@loopCount+1
	END
end
else
	begin

		select DISTINCT pt.ProducerCode ,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail,a.secondaryEmail
		, adds.stateCode,sub.SPPhoneNumber,sub.ProducerName,sub.SPContactName,sub.Producer_email,sub.Fax,sub.Signature,sub.SPWebsite,sub.SendRenewalSolicitation,sub.SPConatctEmailId,sub.SubProducerAccess,sub.SignatureText,sub.EmailSignature,sub.SignatureText3,sub.SignatureText2,
		convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,f.isAppCompleted,f.IsRenewed 
		into #temp_renewal_6
		from Policy p
		join  Account a on a.AccountID = p.AccountID
		join AccountAddress aa on aa.AccountKey = a.AccountKey
		join Address adds on adds.AddressKey = aa.AddressKey
		join PolicyTransaction pt on pt.PolicyKey = p.PolicyKey and pt.AccountKey = aa.AccountKey  
		join PolicyCoverage pc on pc.PolicyKey = p.PolicyKey and pt.TransactionSequence = pc.TransactionSequence
		join FirmLW f on f.policykey = pc.PolicyKey
		join Quote q on q.policykey = pc.PolicyKey
		join Status s on s.StatusKey = pt.StatusKey
		join #temp_SubProducer sub on sub.ProducerCode = pt.ProducerCode
		where 
		--a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey 
		--and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
		--and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
		p.MarketableProductKey = 2 and pc.CoverageKey = 3   
		--and pt.TransactionSequence = pc.TransactionSequence 
		and pt.TransactionSequence=(select min(TransactionSequence) 
		from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
		pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) 
		and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
		and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y'  
		--and adds.stateCode not in('NM','CO','IL','GA','HI','LA','WV','FL') 
		and adds.stateCode in('AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'ID', 'IL', 'IN', 'KS', 'MA', 'MI', 'MN', 'MO', 'NC', 'NJ', 'NV', 'OH', 'PA', 'SC', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI') 
		and  pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 and q.IsThisOptionFinalised='Y') and 
		--(CAST(pt.PolicyExpirationDate as date))in(CAST(@TodayDate  +45 as date))
		(CAST(pt.PolicyExpirationDate as date))in(CAST(@TodayDate  as date),CAST(@TodayDate  +5 as date),CAST(@TodayDate  +10 as date),CAST(@TodayDate  +15 as date), CAST(@TodayDate  +21  as date),
		CAST(@TodayDate  +30  as date),CAST(@TodayDate  +45 as date),CAST(@TodayDate  +60 as date),CAST(@TodayDate  +90 as date))

			DECLARE @AttorneyCount6 INT
			DECLARE @isDeathDisabilityERP6 CHAR
			DECLARE @isFirmERP6 CHAR
			DECLARE @isAttorneyRetiring6 CHAR
			declare @PolicyKey6 int
		declare c6 cursor for
			   select PolicyKey from #temp_renewal_6
			   OPEN c6
					  FETCH NEXT FROM c6 into @PolicyKey6 
						WHILE @@FETCH_STATUS = 0
							begin
							 Select @isAttorneyRetiring6=isAttorneyRetiring,@isDeathDisabilityERP6=isDeathDisabilityERP,@isFirmERP6=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey6

						SET @AttorneyCount6=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@policykey6 and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey6)and isAttorneyEndorsed<>'Y')
						
						If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey6 and pt.TransactionTypeKey=16)
						begin
						print '1'
							if(@isFirmERP6='Y' or (@isAttorneyRetiring6='Y' and @AttorneyCount6=0))
								update #temp_renewal_6 set  isrenewed='Y' where PolicyKey= @PolicyKey6 --and TransactionSequence = @TransactionSequence

						end
						--if (@AttorneyCount6=0)
						--begin
						--	update #temp_renewal_6 set  isrenewed='Y' where PolicyKey= @PolicyKey6
						--end

					  FETCH NEXT FROM c6 into @PolicyKey6

					  END
					  
			   close c6
			   deallocate c6
		
		select  DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail,a.secondaryEmail
		,adds.stateCode,sub.SPPhoneNumber,sub.ProducerName,sub.SPContactName,sub.Producer_email,sub.Fax,sub.Signature,sub.SPWebsite,sub.SendRenewalSolicitation,sub.SPConatctEmailId,sub.SubProducerAccess,sub.SignatureText,sub.EmailSignature,sub.SignatureText3,sub.SignatureText2,
		convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted,f.IsRenewed
		into #temp_renewal_7
		--from Policy p,#temp_SubProducer sub,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
		--PolicyCoverage pc 
		from Policy p
		join  Account a on a.AccountID = p.AccountID
		join AccountAddress aa on aa.AccountKey = a.AccountKey
		join Address adds on adds.AddressKey = aa.AddressKey
		join PolicyTransaction pt on pt.PolicyKey = p.PolicyKey and pt.AccountKey = aa.AccountKey  
		join PolicyCoverage pc on pc.PolicyKey = p.PolicyKey and pt.TransactionSequence = pc.TransactionSequence
		join FirmLW f on f.policykey = pc.PolicyKey
		join Quote q on q.policykey = pc.PolicyKey
		join Status s on s.StatusKey = pt.StatusKey
		join #temp_SubProducer sub on sub.ProducerCode = pt.ProducerCode

		where
		-- a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
		--and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
		p.MarketableProductKey = 2 and pc.CoverageKey = 3  and 
		pt.TransactionSequence = pc.TransactionSequence 
		and pt.TransactionSequence=(select min(TransactionSequence) 
		from PolicyTransaction  
		where PolicyKey=p.PolicyKey) and 
		pc.CoverageSequence=(select min(CoverageSequence)
		from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
		and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 
		--and adds.stateCode not in('NM','CO','IL','GA','HI','LA','WV','FL') 
		and adds.stateCode in('AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'ID', 'IL', 'IN', 'KS', 'MA', 'MI', 'MN', 'MO', 'NC', 'NJ', 'NV', 'OH', 'PA', 'SC', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI') 
		and  pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000) and
		--(CAST(p.PolicyEffectiveDate as date)) in(CAST(@TodayDate  +45 as date))
		(CAST(p.PolicyEffectiveDate as date)) in(CAST(@TodayDate   as date),CAST(@TodayDate  +5 as date),CAST(@TodayDate  +10 as date),CAST(@TodayDate  +15 as date), CAST(@TodayDate  +21  as date),
		CAST(@TodayDate  +30  as date),CAST(@TodayDate  +45 as date),CAST(@TodayDate  +60 as date),CAST(@TodayDate  +90  as date))

		
		
		--declare @PolicyKey1 int
		--declare @IsCompletedApplication1 char(1) = 'N'

		declare @PolicyKey7 int
		declare @IsCompletedApplication7 char(1) = 'N'

		declare c7 cursor for
			   select PolicyKey from #temp_renewal_7
			   OPEN c7
					  FETCH NEXT FROM c7 into @PolicyKey7
					  WHILE @@FETCH_STATUS = 0
							 BEGIN
							 set @IsCompletedApplication7 = 'N'
							 exec CheckIfApplicationIsCompletedNew_p @PolicyKey7,@IsCompletedApplication7 output
							 print '@IsCompletedApplication7  ' + @IsCompletedApplication7

							 if(@IsCompletedApplication7 = 'Y')
								   delete from #temp_renewal_7 where PolicyKey = @PolicyKey7

					  FETCH NEXT FROM c7 into @PolicyKey7

					  END
			   close c7
			   deallocate c7

       insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,ProducerCode,SPPhoneNumber,ProducerName,SPContactName,Producer_email,Fax,Signature,SPWebsite,SendRenewalSolicitation,SPConatctEmailId,SubProducerAccess,SignatureText,EmailSignature,SignatureText3,secondaryEmail,SignatureText2,isrenewed) 
		select  tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate,tr.StateCode ,tr.isAppCompleted,tr.ProducerCode,tr.SPPhoneNumber,tr.ProducerName,tr.SPContactName,tr.Producer_email,tr.Fax,tr.Signature,tr.SPWebsite,tr.SendRenewalSolicitation,tr.SPConatctEmailId,tr.SubProducerAccess,tr.SignatureText,tr.EmailSignature,tr.SignatureText3,tr.secondaryEmail,tr.SignatureText2,tr.IsRenewed
		from #temp_renewal_6 tr 
		left join #temp_SubProducer sp on sp.ProducerCode = tr.ProducerCode where sp.SendRenewalSolicitation='Y' 

		insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,ProducerCode,SPPhoneNumber,ProducerName,SPContactName,Producer_email,Fax,Signature,SPWebsite,SendRenewalSolicitation,SPConatctEmailId,SubProducerAccess,SignatureText,EmailSignature,SignatureText3,secondaryEmail,SignatureText2,isrenewed) 
		select  tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.isAppCompleted,tr.ProducerCode,tr.SPPhoneNumber,tr.ProducerName,tr.SPContactName,tr.Producer_email,tr.Fax,tr.Signature,tr.SPWebsite,tr.SendRenewalSolicitation,tr.SPConatctEmailId,tr.SubProducerAccess,tr.SignatureText,tr.EmailSignature,tr.SignatureText3,tr.secondaryEmail,tr.SignatureText2,tr.IsRenewed
		from #temp_renewal_7 tr left join #temp_SubProducer sp on sp.ProducerCode = tr.ProducerCode where sp.SendRenewalSolicitation='Y' 



		--drop table #temp_renewal_2
		--drop table #temp_renewal_3
		drop table #temp_renewal_6
		drop table #temp_renewal_7

	end

	delete from RenewalTable where policykey in( select rt.policyKey from RenewalTable rt inner join Policytransaction pt  on rt.PolicyKey=pt.policykey
	where pt.StatusKey!=6 and rt.isAppCompleted like('%Y%'))
	delete from RenewalTable where policykey in(select policykey from renewalemails where mydatetime4 in(CAST(@TodayDate  -1 as date),CAST(@TodayDate  -2 as date),CAST(@TodayDate  -3 as date),CAST(@TodayDate  -4 as date)))
	--delete from renewaltable where producercode in(select producercode from SubProducer where IsDriect='N') 
	--and statecode in('NM','CO','IL','GA','HI','LA','WV')
	delete from renewaltable where isrenewed='Y'
	select  * from  RenewalTable order by days

	--select * from RenewalTable rt  where  (rt.ProducerCode  not in (select ProducerCode from #temp_SubProducer) or ProducerCode is null) and Days > 0 order by Days
	 --select * from  RenewalTable where ProducerCode is not null
	--truncate table  RenewalTable 
	--	Update RenewalTable set AccountEmail='shaik.khasid@duckcreek.com',secondaryEmail='shaik.khasid@duckcreek.com',Producer_email='shaik.khasid@duckcreek.com' where days>0
	--select * from SubproducerUserdetails
END






GO
