USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW_Rectify]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProfessionalLiabilityInsDetailLW_Rectify]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW_Rectify]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ProfessionalLiabilityInsDetailLW_Rectify] AS' 
END
GO

--exec [dbo].[ProfessionalLiabilityInsDetailLW_Rectify] 
ALTER procedure [dbo].[ProfessionalLiabilityInsDetailLW_Rectify] 
AS BEGIN

declare @PolicyKey int
declare @VersionSequence int
declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int

declare @IsClaimExpensesType char(1)
declare @IsClaimOptionType char(1)
declare @IsFirmPracticeInOtherState char(1)
declare @IsProfDefenceExpense char(1)
declare @IsRenewed char
declare @AccountID int

DECLARE @PolicyPriorActDatePross DATETIME
DECLARE @PolicyExpirationDate DATETIME

DECLARE c1 CURSOR  FOR
	select p.PolicyKey, f.VersionSequence from Policy p
	INNER JOIN FirmLW f ON p.policykey=f.policykey
	INNER JOIN PolicyTransaction pt on pt.PolicyKey=p.Policykey 
	where p.MarketableProductKey=2 and 	p.isUncompletedData='N' 
	and pt.StatusKey not in (4,5,8)
	and f.IsFirmHaveLawyersLiabilityInsurance is not null and pt.TransactionSequence=
	(select min(transactionsequence) from PolicyTransaction where Policykey=pt.policykey)
	and p.PolicyKey not in (select PolicyKey from ProfessionalLiabilityInsDetailLW) order by p.PolicyEffectiveDate 

Open c1
	fetch next from c1 into @PolicyKey, @VersionSequence
	while @@FETCH_STATUS=0
		begin       
			begin
				select @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, 
				@IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType , @IsProfDefenceExpense=pc.IsDollarDefense from Quote q, PolicyCoverage pc 
				where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'
			
				select @LimitSequencePross=LimitSequence from Limits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
				select @DeductibleSequencePross = DeductibleSequence from Deductibles where AggregateDeductible=@AggregateDeductible and CoverageKey=3

				select @PolicyPriorActDatePross=PolicyEffectiveDate from Policy where PolicyKey in(select min(PolicyKey) from Policy where AccountID =(select AccountID from Policy where PolicyKey=@PolicyKey))
				
				insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
				IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense)
				select @PolicyKey, @VersionSequence, @PolicyExpirationDate, (CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'DR' ELSE 'DA' END), @PolicyPriorActDatePross,
				(CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'PC' ELSE 'AA' END), 'N', 'Crum & Forster', @LimitSequencePross, @DeductibleSequencePross, @IsProfDefenceExpense
      		end
		fetch next from c1 into @PolicyKey, @VersionSequence
		end
Close c1
Deallocate c1

        
END			
GO
