USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ManageUserDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ManageUserDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ManageUserDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ManageUserDetails_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[ManageUserDetails_p]
(
@ProducerCode VARCHAR(50),
@AccountEmail VARCHAR(100),
@AgentName VARCHAR(100)
)
AS
BEGIN
--SELECT COUNT(*) FROM UserDetails WHERE AgentEmail=@AccountEmail
IF(@AccountEmail is not null OR @AccountEmail<>'')
BEGIN
DECLARE @UserCount INT=1
SET @UserCount=(SELECT COUNT(*) FROM UserDetails WHERE AgentEmail=@AccountEmail)
PRINT @UserCount

IF(@UserCount=0)
	BEGIN
PRINT @UserCount
	--select * from userdetails
		INSERT INTO UserDetails (AgentEmail,AgentName,IsActiveAgent,EligibleFirstReviewer,AliasEmail)VALUES(@AccountEmail,@AgentName,'Y','Y',@AccountEmail)
		IF(@ProducerCode is not null or @ProducerCode!='')
		BEGIN
			DECLARE @UserNo INT
			SET @UserNo=(Select UserNo from UserDetails where AgentEmail=@AccountEmail)
			INSERT INTO SubproducerUserdetails (UserNo,ProducerCode,LastupdateUserId,LastupdateTimestamp)
			VALUES(@UserNo,@ProducerCode,3,GETDATE())
		END
	END

END
END
GO
