USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LimitDeductiblesEndorsement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[LimitDeductiblesEndorsement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LimitDeductiblesEndorsement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[LimitDeductiblesEndorsement_p] AS' 
END
GO
--exec LimitDeductiblesEndorsement_p 126972, 127362, 127143, 3, '2021-12-31', 9, 'Y', 'Y', 1000000, 1000000, 5000, null, '2021-12-22 14:07:26.228', 'Y'

ALTER PROCEDURE [dbo].[LimitDeductiblesEndorsement_p]
(
@PolicyKey INT,
@AccountKey INT,
@AddressKey INT,
@LastUpdateUserID INT,
@EndorsementEffectiveDate DATETIME,
@endorsementType INT,
@IsClaimOptionType VARCHAR(5),
@IsClaimExpenseType VARCHAR(5),
@AggregateLimit INT,
@OccuranceLimit INT,
@DeductibleAmount INT,
@IsDollarDefense VARCHAR(5),
@LastUpdateTimeStamp VARCHAR(100),
@isEnforcedPolicy Char
)
as begin


	DECLARE @AccountKey_INSERTed INT
	DECLARE @AddressKey_INSERTed INT
	DECLARE @VersionSequence_INSERTed INT
	DECLARE @TransactionSequence_INSERTed INT
	DECLARE @CoverageSequence_INSERTed INT
	DECLARE @AgentName varchar(100)
	DECLARE @PolicyEffectiveDate datetime
	DECLARE @StatusKey INT
	DECLARE @PolicyExpirationDate datetime
	DECLARE @TransactionExpirationDate datetime
	DECLARE @maxAccountID INT
	DECLARE @QuoteNumber varchar(100)
	DECLARE @AppCreatedDate datetime
	DECLARE @IsFirmCarryingProfLiabilityIns char(20)
	DECLARE @AggregateDeductible INT
	DECLARE @LimitSequencePross INT
	DECLARE @DeductibleSequencePross INT
	DECLARE @IsClaimExpensesType char(2)
	DECLARE @IsFirmPracticeInOtherState char(1)
	DECLARE @IsProfDefenceExpense VARCHAR(5)
	DECLARE @IsRenewed char
	DECLARE @AccountID INT
	DECLARE @VersionSequence INT
	DECLARE @finilazedTransactionSequence INT

	begin try

		SELECT @AgentName=AgentName FROM UserDetails WHERE UserNo=@LastUpdateUserID
		--getting policyeffectivedate
		SELECT @PolicyEffectiveDate= PolicyEffectiveDate FROM Policy WHERE policykey=@PolicyKey

		SELECT @PolicyExpirationDate=PolicyExpirationDate,@TransactionExpirationDate= PolicyExpirationDate FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)

		SELECT @VersionSequence=max(versionsequence) FROM firm WHERE policykey=@PolicyKey
		---Code paste below

		DECLARE @VersionKey_Inserted INT
		INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)Select @PolicyKey,@LastUpdateUserID,getdate(),@LastUpdateUserID,getdate() ,'I'
		select @VersionKey_Inserted=IDENT_CURRENT('Version')


		insert into Firm(ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,LastUpdateUserID,LastUpdateTimeStamp,IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,FirstReviewUserID,PolicyKey,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,IsQuotePage,IsMailSent,Comment,IsLicenseNumberUpdated,QuoteEffectiveDate,QuoteExpiryDate,AcceptanceDate,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsViewed,IssuedDate,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,IsRenewed,QuoteComment,RenewBasicInfoPage,IsRenewFirmReferred,IsRenewalReview,RenewalReviewComments,AverageRevenue,SwapRevenueYear,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,PricingStatus,UnderwriterComment,QQRMLink,CreatedBy,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,MarketingId,isNewApp,IsThankYouEmailSend,IsFirmPage,IsCoveragePage,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,IsIndicationMailSent,IsAOPChange,isAppCompleted,completedPageCommemnt,IndicationSentDate,IsIndicationPage,lostworkqComment,oldAccountId,VersionKey)
		SELECT ContactPerson,ContactPhone,IsFirmRenderingServices,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,IsAnyFirmMeargedOrAcquired,IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,IsServedAsTrustee,IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,IsManagementServiceProvided,IsNonPublicInvestmentDone,IsFirmRenderedServiceForAnyClient,IsNonMonetaryCompensationRecieved,CurrentValueNmc,ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,IsSuitInstituted,AgainstHowManyClients,IsSignedEngagement,IsControlClientFunds,IsAnyRegulatoryInquiry,IsAwarenessOfAnyProfLiability,IsAwarenessOfAnyProfLiabilitySuitAgainst,Email,OtherLargestClientIndustry,OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,@LastUpdateUserID,GETDATE(),IsFirmsRevenueMorethan25Percent,IsFirmAttendedRiskMagtSeminarIn3Years,RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,IsSyndicationManagers,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsRatingDone,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,OtherITServiceComment,IsBusinessFundPage,IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,FirstReviewUserID,PolicyKey,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,LicenseNumber,IsQuotePage,IsMailSent,Comment,IsLicenseNumberUpdated,QuoteEffectiveDate,QuoteExpiryDate,AcceptanceDate,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsViewed,IssuedDate,IsReceiveNewsLetter,CreatedType,IsInsuredViewed,IsTaxCalculation,IsRenewed,QuoteComment,RenewBasicInfoPage,IsRenewFirmReferred,IsRenewalReview,RenewalReviewComments,AverageRevenue,SwapRevenueYear,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,PricingStatus,UnderwriterComment,QQRMLink,@LastUpdateUserID,IsFirmHaveLawyersLiabilityInsurance,QuoteSentDate,MarketingId,isNewApp,IsThankYouEmailSend,IsFirmPage,IsCoveragePage,needCyberCoverage,IsOrganisationInvestmentVentures,IsArrangedDebtorEquity,IsReferralsInvestmentVentures,Totalpersonnel,CPAPersonnel,IsIndicationMailSent,IsAOPChange,isAppCompleted,completedPageCommemnt,IndicationSentDate,IsIndicationPage,lostworkqComment,oldAccountId,@VersionKey_Inserted
		 from Firm where policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where policykey=@PolicyKey)

		--getting newly INSERTed versionsequence here
		SELECT @VersionSequence_INSERTed=max(VersionSequence) FROM firm WHERE policykey=@PolicyKey

		---Code ended Here
		SELECT  @finilazedTransactionSequence=pt.TransactionSequence FROM policytransaction pt inner join Quote q on pt.PolicyKey=q.Policykey and pt.TransactionSequence=q.TransactionSequence WHERE pt.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'

		UPDATE policytransaction SET TransactionExpirationDate=@EndorsementEffectiveDate WHERE Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

	
		INSERT INTO PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,ProducerCode,SubInsuranceCarrier,StatusKey,
		VersionSequence,TotalPolicyModifierPercentage,CreatedBy,CreatedDate,VersionKey)
		SELECT @PolicyKey,@AccountKey, @EndorsementEffectiveDate,@endorsementType,@PolicyExpirationDate,@PolicyExpirationDate,
		ProducerCode,SubInsuranceCarrier,StatusKey,@VersionSequence_INSERTed,TotalPolicyModifierPercentage,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted 
		FROM PolicyTransaction WHERE PolicyKey = @PolicyKey and TransactionSequence = @finilazedTransactionSequence 




		SELECT @TransactionSequence_INSERTed=IDENT_CURRENT('PolicyTransaction')

		INSERT INTO PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,
			ClassCode,TotalCovModifierPercentage,Premium,TotalCoverageTaxAmount,InitialCovPremium,CreatedBy,CreatedDate )
		SELECT @PolicyKey,@TransactionSequence_INSERTed,MarketableProductKey,CoverageKey,RetroActiveDate,SOISequence,Exposure,RiskState,RiskZip,ERPDate,AttachmentPoINT,PrimaryAccess,ClassCode,
		TotalCovModifierPercentage,Premium,TotalCoverageTaxAmount,InitialCovPremium,@LastUpdateUserID,@LastUpdateTimeStamp FROM PolicyCoverage WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence

		SELECT @CoverageSequence_INSERTed=IDENT_CURRENT('PolicyCoverage')

		INSERT INTO Quote (PolicyKey,TransactionSequence,IsQuoteSELECTed,IsFirstQuote,IsMinimumPremium,CreatedBy,CreatedDate)
		SELECT @PolicyKey,@TransactionSequence_INSERTed,'Y','N','N',@LastUpdateUserID,@LastUpdateTimeStamp FROM Quote WHERE PolicyKey = @PolicyKey and TransactionSequence=@finilazedTransactionSequence


		UPDATE PremiumCalculationBuffer  set OldInvoicedPremium=(SELECT Invoicedpremium from policytransaction where Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence),
			 PreviousfinilazedTransactionSequence=@finilazedTransactionSequence	 where Policykey=@PolicyKey
		
		
		DECLARE @UnearnedPremium	 numeric(10,2), @UnearnedTax	numeric(10,2) , @totalUnearnedPremium numeric(10,2), @prorataPremium numeric(10,5), @TotalPremiumFirstRange numeric(17,2)
		DECLARE @premiumVariation numeric(17,2), @taxVariation numeric(17,2),@EndorsementPremium numeric(17,2), @EndorsementTax numeric(17,2),@TotalEndorsementPremium numeric(17,2)
		DECLARE @OldPolicyPremium  numeric(17,2),@OldTax  numeric(17,2)


		select @OldPolicyPremium=TotalPremium,@OldTax=TotalPolicyTaxAmount from Policytransaction where Policykey=@Policykey and TransactionSequence=@finilazedTransactionSequence
		
		SELECT @UnearnedPremium=CAST(UnearnedPremium AS DECIMAL(10, 2)),@UnearnedTax=CAST(UnearnedTax AS DECIMAL(10, 2)),@totalUnearnedPremium=CAST(totalUnearnedPremium AS DECIMAL(10,2))
			,@prorataPremium=ProRatePremium,@TotalPremiumFirstRange=TotalPremiumFirstRange ,@premiumVariation=(case when PremiumVariation is null then 0 else PremiumVariation end),@taxVariation=(case when TaxVariation is null then 0 else TaxVariation end)
			FROM PremiumCalculationBuffer WHERE Policykey=@PolicyKey
			
			if(@PremiumVariation is null)
			set @PremiumVariation=0
			if(@TaxVariation is null)
			set @TaxVariation=0

		Set @EndorsementPremium=@OldPolicyPremium+(@premiumVariation)
		SET @EndorsementTax=@OldTax+(@taxVariation)
		Set @TotalEndorsementPremium=@EndorsementPremium+@EndorsementTax

		if(@EndorsementPremium is null)
		set @EndorsementPremium=0
		if(@EndorsementTax is null)
		set @EndorsementTax=0
		if(@TotalEndorsementPremium is null)
		set @TotalEndorsementPremium=0

		if(@isEnforcedPolicy='Y')
			begin
			
			UPDATE PolicyTransaction SET TotalPremium= @EndorsementPremium,TotalPolicyTaxAmount= @EndorsementTax,InvoicedPremium=@TotalEndorsementPremium  
				,LastUPDATETimeStamp=@LastUpdateTimeStamp,LastUPDATEUserID=@LastUpdateUserID
			WHERE PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_INSERTed

			INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,isFinancialEndirsement,EndorsementIssuedDate,
			TransactionTypeKey,PremiumVariation,TaxVariation,EndorsementEffectiveDate,CreatedBy,CreatedDate,VersionKey)
			VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@LastUpdateTimeStamp,@LastUpdateUserID,'Y',@LastUpdateTimeStamp,@endorsementType,@premiumVariation,@taxVariation,
			@EndorsementEffectiveDate,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted )

	
			UPDATE PolicyCoverage SET Premium=@EndorsementPremium,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=getDate(),TotalCoverageTaxAmount=@EndorsementPremium,
			InitialCovPremium=@TotalEndorsementPremium,IsClaimOptionType=@IsClaimOptionType,IsClaimExpensesType=@IsClaimExpenseType,AggregateLimit=@AggregateLimit,
			OccuranceLimit=@OccuranceLimit,OccuranceDeductible=@DeductibleAmount,AggregateDeductible=@DeductibleAmount,IsDollarDefense=@IsDollarDefense
			WHERE CoverageSequence=@CoverageSequence_INSERTed and TransactionSequence=@TransactionSequence_INSERTed and PolicyKey=@PolicyKey

			UPDATE quote SET IsThisOptionFinalised=null WHERE PolicyKey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

			UPDATE quote SET IsThisOptionFinalised='Y',TotalPremiumFirstRange=@UnearnedPremium,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=LastUpdateUserID
			WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed


			INSERT INTO RatingTrace (PolicyKey,TransactionSequence,XmlInputDatatoRating,XmlOutputDatafromRating,RatingDate,CreatedBy,CreatedDate)
			SELECT @PolicyKey,@TransactionSequence_INSERTed,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp FROM PremiumCalculationBuffer WHERE PolicyKey = @PolicyKey 

	

END


if(@isEnforcedPolicy='N')
	begin
			INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,EndorsementInvoicedPremium,LastUpdateTimeStamp,LastUpdateUserID,
			isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,EndorsementEffectiveDate,CreatedBy,CreatedDate,VersionKey)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@EndorsementPremium,@TotalEndorsementPremium,@LastUpdateTimeStamp,
		@LastUpdateUserID,'N',@LastUpdateTimeStamp,@endorsementType,@EndorsementEffectiveDate,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted )

		UPDATE PolicyCoverage SET LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp,IsClaimOptionType=@IsClaimOptionType,IsClaimExpensesType=@IsClaimExpenseType,
		AggregateLimit=@AggregateLimit,		OccuranceLimit=@OccuranceLimit,OccuranceDeductible=@DeductibleAmount,AggregateDeductible=@DeductibleAmount,IsDollarDefense=@IsDollarDefense
		WHERE CoverageSequence=@CoverageSequence_INSERTed and TransactionSequence=@TransactionSequence_INSERTed and PolicyKey=@PolicyKey

		UPDATE quote SET TotalPremiumFirstRange=@UnearnedPremium,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=LastUpdateUserID
		WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_INSERTed
END

		--Now Commented

		SELECT @IsFirmCarryingProfLiabilityIns= ISNULL(IsFirmCarryingProfLiabilityIns,'N') FROM firm WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 

		if(@IsFirmCarryingProfLiabilityIns = 'N')
		begin

			  SELECT @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType ,
			   @IsProfDefenceExpense=pc.IsDollarDefense FROM Quote q, PolicyCoverage pc WHERE pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

			  SELECT @LimitSequencePross=LimitSequence FROM Limits WHERE AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=2

			  SELECT @DeductibleSequencePross = DeductibleSequence FROM Deductibles WHERE AggregateDeductible=@AggregateDeductible and CoverageKey=2
			  
			  INSERT INTO ProfessionalLiabilityInsDetail (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,
			  LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate,VersionKey)
			  SELECT @PolicyKey,@VersionSequence_INSERTed,@PolicyEffectiveDate,(CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'N' ELSE 'Y' END),PriorActDatePross,(CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'N' ELSE 'Y' END),IsPriorActDateFull,InsuranceCompanyNamePross,
			  @LimitSequencePross,@DeductibleSequencePross,@IsProfDefenceExpense,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted 
			   FROM ProfessionalLiabilityInsDetail WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
 
			  UPDATE firm SET IsPolicyExcludesCoverage='N' WHERE PolicyKey = @PolicyKey and VersionSequence = @VersionSequence_INSERTed

		end    
			   
		if(@IsFirmCarryingProfLiabilityIns = 'Y')
		begin

			  INSERT INTO ProfessionalLiabilityInsDetail (PolicyKey,VersionSequence,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,IsPriorActDateFull,FirmYear,
			  InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate,VersionKey)
			  SELECT @PolicyKey,@VersionSequence_INSERTed,LimitAmount,DeductibleAmount,DATEADD(M,12,PolicyExpirationDatePross) as PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross, IsPerClaim,IsPriorActDateFull,
			  FirmYear,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted 
			  FROM ProfessionalLiabilityInsDetail WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		end

		---------------------------------------------
		INSERT INTO AreaOfPractice (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
		SELECT @PolicyKey,@VersionSequence_INSERTed,AOPKey,PercentageValue,AOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 FROM AreaOfPractice WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		-----------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
		INSERT INTO FirmInitLawsuits(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees, IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUPDATEUserID, LastUPDATETimeStamp,VersionKey,CreatedBy,CreatedDate) 
		SELECT @PolicyKey,@VersionSequence_INSERTed,AmountOfFeesSued,DueDateFees,SuitFilesDateFees, IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey, LastUPDATEUserID,LastUPDATETimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM FirmInitLawsuits WHERE  PolicyKey=@PolicyKey and VersionSequence= @VersionSequence

		------------------------------------------------------------------------------------------------

		-------------------------------------------------SeperateEntitySupp Supplement data insertion---------------------------------------------

		insert into SeperateEntitySupp (EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe, TotalSupportStaffSe,DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,
		LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate,PolicyKey,VersionSequence,IsStaffIncludedInMain,IsRevenueIncludedInMain,VersionKey,CreatedBy,CreatedDate)
		select EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,DetailedDescSe, LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,
		LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate,PolicyKey,@VersionSequence_Inserted, IsStaffIncludedInMain,IsRevenueIncludedInMain,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from SeperateEntitySupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		-------------------------------------------------FundsControlledSupp Supplement data insertion---------------------------------------------

		insert into FundsControlledSupp (TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,NumberOfClientsFc,NumberOfFirmEmployeesFc,
		IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,ProvideNumberOfClientFc,ClientIndustryFc,PolicyKey,VersionSequence,ClientIndustryFcOthers,HaveInvestmentAuthorityFC,VersionKey,CreatedBy,CreatedDate)
		select TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,NumberOfClientsFc,NumberOfFirmEmployeesFc,
		IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,ProvideNumberOfClientFc,ClientIndustryFc,PolicyKey,@VersionSequence_Inserted,ClientIndustryFcOthers,HaveInvestmentAuthorityFC,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from FundsControlledSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------GrossRevenueForFirm Supplement data insertion---------------------------------------------

		insert into GrossRevenueForFirm (GrossRevenueKey, YearEndDate,Amount,PolicyKey,VersionSequence,VersionKey,CreatedBy,CreatedDate)
		select GrossRevenueKey, YearEndDate,Amount,PolicyKey,@VersionSequence_Inserted,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------TrusteeOrEstateSupp Supplement data insertion---------------------------------------------
		
		insert into TrusteeOrEstateSupp (NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,IsBeneficiaryInterestTrust,
		PolicyKey,VersionSequence,TypeofTrustKey,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,IsBeneficiaryInterestTrust,
		PolicyKey,@VersionSequence_Inserted,TypeofTrustKey,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from TrusteeOrEstateSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------OutsideInterestSupp Supplement data insertion---------------------------------------------
		
		insert into OutsideInterestSupp (ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
		AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,PolicyKey,VersionSequence,ClientIndustryOsiKeyOthers,
		ServiceIndustryOsiKeyOthers,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
		AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,PolicyKey,@VersionSequence_Inserted,ClientIndustryOsiKeyOthers,
		ServiceIndustryOsiKeyOthers,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		 from OutsideInterestSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------ClaimIncidentSupp Supplement data insertion---------------------------------------------
		
		insert into ClaimIncidentSupp (NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,ClaimNotifiedCiDate,
		AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,
		StepsTakenToPreventClaimCi,PolicyKey,VersionSequence,CurrentStatus,InsurerLossRevenue,IsClaimInSuit,InsurerLoss,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,ClaimNotifiedCiDate,
		AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,
		StepsTakenToPreventClaimCi,PolicyKey,@VersionSequence_Inserted,CurrentStatus,InsurerLossRevenue,IsClaimInSuit,InsurerLoss,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from ClaimIncidentSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------FinancialPlanningAndIAServiceSupp Supplement data insertion---------------------------------------------
		
		insert into FinancialPlanningAndIAServiceSupp (IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,IsOmissionsPolicy,IsAnyNonPublicInvestments,
		IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan,PolicyKey,VersionSequence,IsAnyReferralFeesInvestments,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,
		IsAnyEmployeeBenefitPlan,PolicyKey,@VersionSequence_Inserted,IsAnyReferralFeesInvestments,@LastUpdateUserID,GETDATE(),@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
		from FinancialPlanningAndIAServiceSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------
		
		-------------------------------------------------Attestation Supplement data insertion---------------------------------------------
		
		insert into Attestation (FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,IsLastPeerReviewAtt,IndicatedRevenueInAttestation,PolicyKey,VersionSequence,
		LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		select FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,IsLastPeerReviewAtt,IndicatedRevenueInAttestation,PolicyKey,VersionSequence,LastPeerReviewAttComment,
		AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
		from Attestation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		------------------------------------------------------------------------------------------------

		-----------------Populate Coverage Modifiers--------------------------
		IF(@StatusKey=8)
		BEGIN
			INSERT INTO CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUPDATETimeStamp,LastUPDATEUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedBy,CreatedDate) 
			SELECT @PolicyKey,Comment,@CoverageSequence_INSERTed,GETDATE(),@LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_INSERTed,@LastUpdateUserID,@LastUpdateTimeStamp
			 FROM CoverageModifiers WHERE PolicyKey = @PolicyKey and TransactionSequence = (SELECT min(TransactionSequence) FROM PolicyTransaction WHERE PolicyKey=@PolicyKey)  
		END
	end try
	begin catch
		prINT error_message()
		rollback 
	end catch
end




GO
