USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_WorkqStatusCount]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_WorkqStatusCount]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_WorkqStatusCount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_WorkqStatusCount] AS' 
END
GO
--exec [SP_WorkqStatusCount] 'LAW', 'HNV'
ALTER PROCEDURE [dbo].[SP_WorkqStatusCount]
(	
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null
)
AS
BEGIN

	CREATE TABLE #TEMPDATA
	(
		policyStatusCount INT,
		policyStatus varchar(150)
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT count(policy.PolicyKey) policyStatusCount, (SELECT Code FROM Status WHERE StatusKey = policyTransaction.StatusKey) as policyStatus  
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + ''' 
	inner join PolicyTransaction as policyTransaction on policy.PolicyKey = policyTransaction.PolicyKey and policy.VersionKey = policyTransaction.VersionKey 
	inner join PolicyCoverage as policyCoverage on policy.PolicyKey = policyCoverage.PolicyKey  and policyTransaction.TransactionSequence = policyCoverage.TransactionSequence 
	inner join Quote as quote on policy.PolicyKey = quote.PolicyKey  and policyTransaction.TransactionSequence = quote.TransactionSequence 
	and quote.TransactionSequence = (select min(TransactionSequence) from Quote where PolicyKey = policy.PolicyKey )
	WHERE policy.recordType <> ''D'' ';
	
	SET  @sqlstm = @sqlstm + ' GROUP BY policyTransaction.StatusKey'

	print @sqlstm

	INSERT INTO #TEMPDATA (policyStatusCount,policyStatus)
	EXECUTE (@sqlstm)


	--select * from #TEMPDATA 

	SELECT (select policyStatusCount,policyStatus from #TEMPDATA FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML
	--SELECT STUFF((select * from #TEMPDATA FOR XML PATH('') ), 1, 1, '') as XML
END




GO
