USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPoneBatchReportsList_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetPoneBatchReportsList_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPoneBatchReportsList_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetPoneBatchReportsList_p] AS' 
END
GO

ALTER procedure [dbo].[GetPoneBatchReportsList_p]
as
BEGIN

CREATE TABLE #tempreport
 (
  tempreport_id INT IDENTITY,
  batchreport_id INT,
  module_name VARCHAR(100),
  report_name VARCHAR(155),
  search_xml VARCHAR(MAX),
  request_date DATETIME,
  search_xml_desc VARCHAR(8000),
  user_id VARCHAR(155),
  last_updated_by VARCHAR(100),
  isarchived CHAR(1),
  project_name VARCHAR(100),
  output_type VARCHAR(50)
 )


 --SELECT * FROM #LARGEREPORTS

INSERT INTO #tempreport
 (
  batchreport_id ,
  module_name,
  report_name,
  search_xml,
  request_date,
  search_xml_desc,
  user_id,
  last_updated_by,
  isarchived,
  project_name,
  output_type
 )
 select pbr.batchreport_id, 
 pbr.module_name, 
 pbr.report_name, 
 pbr.search_xml, 
 pbr.request_date, 
 pbr.search_xml_desc, 
 (select AgentName from UserDetails where [UserNo]=pbr.last_updated_by) as user_id, 
 (select AgentName from UserDetails where [UserNo]=pbr.last_updated_by) last_updated_by, 
 pbr.isarchived, 
 pbr.project_name, 
 pbr.output_type 
 from pone_batch_reports pbr where isnull(isarchived,'')!='Y'
 



	  SELECT top 10
	  tempreport_id,
	  batchreport_id ,
	  module_name,
	  report_name,
	  search_xml,
	  request_date,
	  search_xml_desc,
	  user_id,
	  last_updated_by,
	  isarchived,
	  project_name,
	  output_type
	  FROM #tempreport
	  ORDER BY tempreport_id ASC

  DROP TABLE #tempreport
END








GO
