USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateFinalisedQuoteLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateFinalisedQuoteLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateFinalisedQuoteLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateFinalisedQuoteLW_p] AS' 
END
GO

--exec UpdateFinalisedQuoteLW_p 82799	
ALTER PROCEDURE [dbo].[UpdateFinalisedQuoteLW_p]
(
	@Policykey INT
)
	AS
BEGIN
	Declare @FinalisedTransactionSequence INT 
	Declare @Count INT 
	SET @FinalisedTransactionSequence=(select top 1 FinalisedTransactionSequence from firmlw where policykey=@Policykey)
	SET @Count=(select count(*) from Quote where policykey=@Policykey and IsThisOptionFinalised='Y')

	IF((@FinalisedTransactionSequence IS NOT NULL OR @FinalisedTransactionSequence <> '') AND @Count = 0)
		BEGIN
			begin tran
			update Quote set IsThisOptionFinalised=null where PolicyKey=@Policykey
			update Quote set IsThisOptionFinalised='Y',IsQuoteSelected='Y' where PolicyKey=@Policykey and TransactionSequence=@FinalisedTransactionSequence
			commit tran
		END	
END


--select FinalisedTransactionSequence,* from firmlw where policykey=82799
--select * from Quote where policykey=82799 and IsThisOptionFinalised='Y'


--select * from PolicyCoverage where policykey=82799



GO
