USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EndorsementOptionsDisplayACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EndorsementOptionsDisplayACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EndorsementOptionsDisplayACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[EndorsementOptionsDisplayACC_p] AS' 
END
GO
--exec EndorsementOptionsDisplayLW_p @DecendingEffectiveDate 

--exec EndorsementOptionsDisplayLW_p 74139 		 		 	 		 	 	 	 	 	 	
ALTER PROCEDURE [dbo].[EndorsementOptionsDisplayACC_p]
(
 @PolicyKey INT
)
AS
BEGIN
CREATE TABLE #AccountStatusTracker
(
DecendingPolicyKey INT,
DecendingStatus INT,
isFullQuote CHAR,
DecendingEffectiveDate DateTime,
DecendingExpirationDate DateTime
)
CREATE TABLE #EndorsementOptionsDetails
(
isShowCancelltionEndorsement CHAR default 'Y',
isShowLimitEndorsement CHAR default 'Y',
isShowInsuranceCertificate CHAR default 'Y',
isShowNameAddressExtensionEndorsement CHAR default 'Y',
isShowERPEndorsement CHAR default 'N',
isShowERPQuoteLetter CHAR default 'N',
isEnforcedPolicy CHAR default 'N',
isEndorsementEnable CHAR DEFAULT 'Y',
isPolicyExtensionOnExpired Char DEFAULT 'N',
anyDecendentPolicy CHAR DEFAULT 'Y',
isExceptionalCase CHAR DEFAULT 'N',
isShowPemiumCalculation CHAR DEFAULT 'Y',
isManualPremiumPolicy CHAR DEFAULT 'N'
)
Insert into #EndorsementOptionsDetails(isShowCancelltionEndorsement) values('Y')
DECLARE @isShowERPEndorsement CHAR='N'
DECLARE @isShowERPQuoteLetter CHAR='N'
DECLARE @EffectiveDate DATETIME
DECLARE @Expirationdate DATETIME
DECLARE @CurrentDate DATETIME
DECLARE @isEnforcedPolicy CHAR='N'
DECLARE @isExceptionalCase CHAR='N'
DECLARE @StatusKey INT
DECLARE @TransactionSequence INT
DECLARE @AccountID INT
DECLARE @DecendingPolicyKey INT
DECLARE @DecendingStatus INT
DECLARE @isShowCancelltionEndorsement CHAR ='Y'
DECLARE @isEndorsementEnable CHAR='Y'
DECLARE @isShowPemiumCalculation CHAR='Y',@CompanyKey INT
SELECT @CompanyKey=p.CompanyKey,@EffectiveDate=p.PolicyEffectiveDate,@Expirationdate=pt.PolicyExpirationDate,@CurrentDate=GETDATE(),@StatusKey=pt.StatusKey,@TransactionSequence=pt.TransactionSequence,@AccountID=p.AccountID FROM Policy p inner join PolicyTransaction pt on p.Policykey=pt.Policykey 
WHERE pt.Policykey=@PolicyKey and pt.TransactionSequence=(SELECT min(TransactionSequence) FROM policytransaction WHERE Policykey=@Policykey)

DECLARE @anyDecendentPolicy CHAR='Y'
DECLARE @decendentPolicyCount  int
DECLARE @DecendingEffectiveDate DateTime
DECLARE @DecendingExpirationDate DateTime
DECLARE @isManualPremium CHAR

select ROW_NUMBER() OVER(ORDER BY pt.policykey ASC) AS SN,pt.Policykey,pt.statuskey,p.IsFullQuote into #tempDecendentPolicies from policy p
inner join PolicyTransaction pt on p.Policykey=pt.Policykey
where Accountid=(select Accountid from Policy where Policykey=@PolicyKey ) and p.policykey>@PolicyKey and isUncompletedData='N' group by pt.Policykey,pt.statuskey,p.IsFullQuote order by pt.PolicyKey
select @decendentPolicyCount=case when count(policykey) is not null then count(policykey) else 0 END  from #tempDecendentPolicies 

DECLARE @decendentStatusKey int
DECLARE @IsFullQuote CHAR
if(@decendentPolicyCount>0)
begin
select @decendentStatusKey=statuskey,@IsFullQuote=IsFullQuote from #tempDecendentPolicies where SN=1
end
--select * from #tempDecendentPolicies
IF(@decendentPolicyCount=0)
BEGIN
	SET @anyDecendentPolicy='N'
	
END
if(@decendentPolicyCount>0 and @IsFullQuote='Y' and @decendentStatusKey=6)
begin
SET @isShowPemiumCalculation='N'
END

IF(@CurrentDate<=@Expirationdate )
BEGIN
set @isEnforcedPolicy='Y'
set @isShowERPEndorsement='Y'
set @isShowERPQuoteLetter='Y'
update #EndorsementOptionsDetails set isEnforcedPolicy='Y',isShowERPEndorsement='Y',isShowERPQuoteLetter='Y'
END

IF( @EffectiveDate>@CurrentDate)
BEGIN
set @isExceptionalCase='Y'
set @isShowERPEndorsement='N'
set @isShowERPQuoteLetter='N'

END

IF(@CurrentDate<=@Expirationdate+60 and @anyDecendentPolicy<>'Y' )
BEGIN
print 'hi'
set @isShowERPEndorsement='Y'
set @isShowERPQuoteLetter='Y'
END
IF(@CurrentDate<=@Expirationdate+60 and @anyDecendentPolicy='Y' )
BEGIN
print 'hi1'

--select @decendentStatusKey
if(@decendentStatusKey<>6)
BEGIN
set @isShowERPEndorsement='Y'
set @isShowERPQuoteLetter='Y'
END
else
begin

set @isShowERPEndorsement='N'
set @isShowERPQuoteLetter='N'
end
END

--select @isEnforcedPolicy,@anyDecendentPolicy
IF(@StatusKey=6 and @anyDecendentPolicy='Y')
BEGIN



INSERT INTO #AccountStatusTracker (DecendingPolicyKey,DecendingStatus,DecendingEffectiveDate,DecendingExpirationDate)
SELECT DISTINCT p.Policykey,Statuskey,p.PolicyEffectiveDate,pt.PolicyExpirationDate FROM PolicyTransaction  pt inner join Policy p on p.PolicyKey=pt.PolicyKey
WHERE pt.Policykey in(SELECT Policykey FROM Policy where Accountid=@AccountID and Policykey>@PolicyKey)   ORDER BY Policykey DESC

	--select * from #AccountStatusTracker
	Declare c1 cursor for
		  SELECT DecendingPolicyKey,DecendingStatus,DecendingEffectiveDate,DecendingExpirationDate FROM #AccountStatusTracker ORDER BY DecendingPolicyKey DESC
      
           
       
		   OPEN c1
		   FETCH NEXT FROM c1 into @DecendingPolicyKey,@DecendingStatus,@DecendingEffectiveDate,@DecendingExpirationDate         
		   WHILE @@FETCH_STATUS = 0
				  begin
				  IF(@DecendingStatus<>8 and @IsFullQuote='Y' and convert(varchar,  @DecendingEffectiveDate, 23) <=convert(varchar, GetDate(), 23))
				  BEGIN
				  
				  set @isShowCancelltionEndorsement='N'
				  END
				    IF(@DecendingStatus=6 and @IsFullQuote='Y')
				  BEGIN
				  
				    set @isShowCancelltionEndorsement='N'
				  END
			  --  select @DecendingPolicyKey,@DecendingStatus
				  FETCH NEXT FROM c1 into @DecendingPolicyKey,@DecendingStatus,@DecendingEffectiveDate,@DecendingExpirationDate                     
				  END
				  CLOSE c1
				  DEALLOCATE c1

UPDATE #EndorsementOptionsDetails set isShowCancelltionEndorsement=@isShowCancelltionEndorsement
	END


if(@anyDecendentPolicy='Y' and @isEnforcedPolicy='Y')
begin
if(@IsFullQuote='Y')
set @isExceptionalCase='Y'
else
set @isExceptionalCase='N'
end

IF(@StatusKey=6 and @anyDecendentPolicy='N' and @isEnforcedPolicy='N')
BEGIN
	set @isShowERPEndorsement='Y'
	set @isShowERPQuoteLetter='Y'
END 

update #EndorsementOptionsDetails set isEndorsementEnable=@isEndorsementEnable,anyDecendentPolicy=@anyDecendentPolicy,isExceptionalCase=@isExceptionalCase,
isShowERPEndorsement=@isShowERPEndorsement,isShowERPQuoteLetter=@isShowERPQuoteLetter,isShowPemiumCalculation=@isShowPemiumCalculation
--SELECT @isEnforcedPolicy

IF Exists(Select * From EndorsementDetails where Policykey=@PolicyKey)
	BEGIN

		DECLARE @minimumTransactionSequence INT=(Select Min(PreviousFinalizedTransactionSequence) from EndorsementDetails Where Policykey=@PolicyKey)
		SET @isManualPremium=(Select CASE WHEN IsDollarDefense is Not null Then IsDollarDefense else 'N' END from PolicyCoverage Where PolicyKey=@PolicyKey and TransactionSequence=@minimumTransactionSequence)
	END
	else
	BEGIN
	--print 'NEw'
		SET @isManualPremium=(Select CASE WHEN IsDollarDefense is Not null Then IsDollarDefense else 'N' END from PolicyCoverage pc  Inner join Quote q on q.PolicyKey=pc.PolicyKey and pc.TransactionSequence=q.TransactionSequence Where pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y')
	END
	--Print @isManualPremium
	update #EndorsementOptionsDetails set isManualPremiumPolicy=@isManualPremium

       --if(@CompanyKey=3)
       --       update #EndorsementOptionsDetails set isShowCancelltionEndorsement = 'N', isShowLimitEndorsement = 'N',  isShowNameAddressExtensionEndorsement = 'N', isShowERPEndorsement = 'N', isShowERPQuoteLetter = 'N',isShowInsuranceCertificate = 'Y'
SELECT * FROM #EndorsementOptionsDetails 
drop table #tempDecendentPolicies
 drop table #EndorsementOptionsDetails
END













GO
