USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateProfLiabClaimAgnstFirmLWData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateProfLiabClaimAgnstFirmLWData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateProfLiabClaimAgnstFirmLWData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateProfLiabClaimAgnstFirmLWData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateProfLiabClaimAgnstFirmLWData_p](@PolicyKey INT,@VersionSequence INT,@NameOfClaimant VARCHAR(500),@IsClient CHAR,@IsClaimInSuit CHAR,@ClaimNotifiedDate DATETIME,@DateOfAllegedError DATETIME,@NameOfPersonnelINClaim VARCHAR(500),@IsClaimReportedToInsComp CHAR,@NameOfInsComp VARCHAR(120),@DateReportedToInsComp DATETIME,@InsurerLoss NUMERIC,@ClaimantLastDemand NUMERIC,@CurrentStatus VARCHAR(50),@ClaimClosingDate DATETIME,@TotalAmountPaid NUMERIC,@StepsTakenToPreventClaims VARCHAR(500),@LastUpdateUserID INT,@DescOfClaim varchar(500),@LastUpdateTimeStamp VARCHAR(50),@VersionKey INT)ASBEGIN	 INSERT INTO ProfLiabClaimAgnstFirmLW(PolicyKey,VersionSequence,NameOfClaimant,IsClient,IsClaimInSuit,ClaimNotifiedDate,DateOfAllegedError,NameOfPersonnelINClaim,	 IsClaimReportedToInsComp,NameOfInsComp,DateReportedToInsComp,InsurerLoss,ClaimantLastDemand,CurrentStatus,ClaimClosingDate,TotalAmountPaid,StepsTakenToPreventClaims,	LastUpdateUserID,LastUpdateTimeStamp,DescOfClaim,VersionKey,CreatedBy,CreatedDate)		VALUES(@PolicyKey,@VersionSequence,@NameOfClaimant,@IsClient,@IsClaimInSuit,@ClaimNotifiedDate,@DateOfAllegedError,@NameOfPersonnelINClaim,		@IsClaimReportedToInsComp,@NameOfInsComp,@DateReportedToInsComp,@InsurerLoss,@ClaimantLastDemand,@CurrentStatus,@ClaimClosingDate,@TotalAmountPaid,		@StepsTakenToPreventClaims,@LastUpdateUserID,@LastUpdateTimeStamp,@DescOfClaim,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)END


GO
