USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayBankruptcyCasesDetails_New_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayBankruptcyCasesDetails_New_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayBankruptcyCasesDetails_New_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayBankruptcyCasesDetails_New_p] AS' 
END
GO
--exec DisplayBankruptcyCasesDetails_New_p 129286, 107656
ALTER PROCEDURE [dbo].[DisplayBankruptcyCasesDetails_New_p]
(
@PolicyKey INT,
@VersionSequnece INT
)
AS
BEGIN
	DECLARE @Count INT
	DECLARE @PolicyStatusKey INT
	SELECT @PolicyStatusKey=policystatuskey from policy where policykey=@PolicyKey

	CREATE TABLE #TEMPTable(
		bankruptcyKey INT,
		PolicyKey INT,
		VersionSequence INT,
		bankruptcyDesc VARCHAR(100),
		Percentage INT,
		AverageCaseValue INT
		
		)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Percentage,AverageCaseValue)Values(1,@PolicyKey,@VersionSequnece,'Bankruptcy Representation - Consumer',NULL,NULL)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Percentage,AverageCaseValue)Values(2,@PolicyKey,@VersionSequnece,'Bankruptcy Representation - Commercial',NULL,NULL)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Percentage,AverageCaseValue)Values(3,@PolicyKey,@VersionSequnece,'Bankruptcy Trustee - Consumer',NULL,NULL)
		INSERT INTO #TEMPTable (bankruptcyKey,PolicyKey,VersionSequence,bankruptcyDesc,Percentage,AverageCaseValue)Values(4,@PolicyKey,@VersionSequnece,'Bankruptcy Trustee - Commercial',NULL,NULL)
		SELECT @Count=Count(*) from BankruptcyCasesDetailsLW_New where PolicyKey=@PolicyKey AND VersionSequence=@VersionSequnece
		
		IF(@Count>0)
		BEGIN

			DECLARE @LoopCounter INT =1
			WHILE ( @LoopCounter <= 4)
			BEGIN
				UPDATE #TEMPTable 
				SET Percentage = i.Percentage, 
					AverageCaseValue = i.AverageCaseValue
					
				FROM (
					SELECT Percentage,AverageCaseValue
					FROM BankruptcyCasesDetailsLW_New WHERE bankruptcyKey=@LoopCounter and PolicyKey=@PolicyKey) i
					where bankruptcyKey=@LoopCounter
					
				SET @LoopCounter  = @LoopCounter  + 1
			END
		END
	
		if(@PolicyStatusKey=1)
		begin
			SELECT * FROM #TEMPTable
		end
		if(@PolicyStatusKey=2)
		begin
		SELECT * FROM #TEMPTable --where bankruptcyKey=1
		end
END



GO
