USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountManagementSearchLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AccountManagementSearchLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountManagementSearchLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[AccountManagementSearchLW_p] AS' 
END
GO
--exec AccountManagementSearchLW_p 'Grayson & Associates, P.C.','','','','','','Y'
--exec AccountManagementSearchLW_p 'Law Office Of Bradley P. Olson','','','','','','Y'
ALTER PROCEDURE [dbo].[AccountManagementSearchLW_p]
	(
	
	@AccountName varchar(50) , 
	@AccountNumber varchar(20),
	@EmailId varchar(150), 
	@PolicyEffectiveMonthYear varchar(10) , 
	@PhoneNumber Varchar(100),
	@StateCode VARCHAR(50),
	@isBrokered CHAR
	)
AS
BEGIN
	CREATE TABLE #TempAccountsList (
	
		[PolicyKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](100) ,
		QuoteNumber VARCHAR(500),
		[PolicyEffectiveDate] [datetime] ,
		AccountEmail VARCHAR(500),
		[Address] [varchar](100) ,
		[State] [varchar](100),
		PhoneNumber VARCHAR(100),
		Status VARCHAR(100),
		ProducerCode VARCHAR(100),
		OldAccountNumber INT,
		isBrokeragePolicy CHAR

)

CREATE TABLE #TempAccountsList2 (
	SN int Identity(10,1),
		[PolicyKey] [int] ,
		[AccountID] [int] ,
		[AccountName] [varchar](100) ,
		QuoteNumber VARCHAR(500),
		[PolicyEffectiveDate] [datetime] ,
		AccountEmail VARCHAR(500),
		[Address] [varchar](100) ,
		[State] [varchar](100),
		PhoneNumber VARCHAR(100),
		Status VARCHAR(100),
		ProducerCode VARCHAR(100),
		OldAccountNumber INT,
		isBrokeragePolicy CHAR

)
declare  @sqlstm varchar(8000),@sqlstmBrokerage varchar(8000)
if(@AccountName <> '')
      begin
            set  @AccountName = RTrim(LTrim(@AccountName))
            set  @AccountName = REPLACE( @AccountName, '''', '''''' )
      end


if(@EmailId <> '')
      begin
            set  @EmailId = RTrim(LTrim(@EmailId))
            set  @EmailId = REPLACE( @EmailId, '''', '''''' )
      end
if(@PolicyEffectiveMonthYear <> '')
      begin
            set  @PolicyEffectiveMonthYear = RTrim(LTrim(@PolicyEffectiveMonthYear))
      end


set @sqlstm = 'select p.AccountID,UPPER(at.AccountName),at.AccountEmail,(adds.Address1+''  ''+adds.Address2) as Address,
(select StateDesc from State where statecode=adds.StateCode) as State,adds.WorkPhone,CASE WHEN pt.ProducerCode is null or pt.ProducerCode='''' then null else pt.ProducerCode END,f.oldAccountID,''N''
From Policy p
Inner Join PolicyTransaction pt With (nolock) on pt.PolicyKey=p.PolicyKey 
Inner join Account at With (nolock) on at.AccountKey=pt.AccountKey
Inner Join AccountAddress act With (nolock) on act.AccountKey=pt.AccountKey
Inner Join Address adds With (nolock) on adds.AddressKey=act.AddressKey
Inner Join Firmlw f With (nolock) on f.PolicyKey=p.PolicyKey
Where pt.TransactionSequence=(select MIN(transactionsequence) from PolicyTransaction With (nolock) where PolicyKey=p.PolicyKey) and p.MarketableProductKey=2 and isUncompletedData<>''Y''
and f.VersionSequence=(select MIN(VersionSequence) from FirmLW With (nolock) where PolicyKey=p.PolicyKey)
'
set @sqlstmBrokerage='select AccountID,UPPER(AccountName),Email,(Address+''  ''+Address2) as Address,
StateDesc as State,Phone,ProducerCode,br.oldAccountID,''Y''
From BrokerageLW br
left join State st on st.StateCode=br.State
where 1=1
'


if(@AccountName <> '')
begin
                set  @sqlstm = @sqlstm + ' and at.AccountName LIKE'''+@AccountName +'%'+''''
				 set  @sqlstmBrokerage = @sqlstmBrokerage + ' and br.AccountName LIKE'''+@AccountName +'%'+''''
end
if(@EmailId <> '')
begin
                set  @sqlstm = @sqlstm + ' and at.AccountEmail LIKE'''+@EmailId +'%'+''''
				set  @sqlstmBrokerage = @sqlstmBrokerage + ' and br.Email LIKE'''+@EmailId +'%'+''''
end

if(@AccountNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and p.AccountID='''+@AccountNumber +''''
				 set  @sqlstmBrokerage = @sqlstmBrokerage + ' and br.AccountID='''+@AccountNumber +''''
end
if(@PhoneNumber <> '')
begin
                set  @sqlstm = @sqlstm + ' and adds.WorkPhone='''+@PhoneNumber +''''
				set  @sqlstmBrokerage = @sqlstmBrokerage + ' and br.Phone='''+@PhoneNumber +''''
end
if(@StateCode <> '')
begin
                set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
				 set  @sqlstmBrokerage = @sqlstmBrokerage + ' and br.State='''+@StateCode +''''
end
if(@PolicyEffectiveMonthYear <> '')
begin
              DECLARE @month VARCHAR(10)
			   DECLARE @Year VARCHAR(10)
			  SET @Month=(select SUBSTRING (@PolicyEffectiveMonthYear,0, CHARINDEX('/',@PolicyEffectiveMonthYear)))
			  SET @Year=(select SUBSTRING (@PolicyEffectiveMonthYear, CHARINDEX('/',@PolicyEffectiveMonthYear)+1,7))
			    set  @sqlstm = @sqlstm + ' and YEAR(PolicyEffectiveDate)='''+@Year +''''
				set  @sqlstm = @sqlstm + ' and MONTH(PolicyEffectiveDate)='''+@month +''''


				
			    set  @sqlstmBrokerage = @sqlstmBrokerage + ' and YEAR(BrokerPolicyEffectiveDate)='''+@Year +''''
				set  @sqlstmBrokerage = @sqlstmBrokerage + ' and MONTH(BrokerPolicyEffectiveDate)='''+@month +''''
end
 set  @sqlstm = @sqlstm + '
 group by p.AccountID,at.AccountName,at.AccountEmail,adds.Address1,adds.Address2,adds.StateCode,adds.WorkPhone,pt.ProducerCode,f.oldAccountID
  '
  set  @sqlstmBrokerage = @sqlstmBrokerage + '
  group by  AccountID,AccountName,Email,Address,Address2,StateDesc,Phone,ProducerCode,br.oldAccountID
   '
--SELECT Policykey,PolicyEffectiveDate FROM Policy WHERE YEAR(PolicyEffectiveDate) = '2011' AND MONTH(PolicyEffectiveDate) = '6'
INSERT INTO #TempAccountsList(AccountID,AccountName,AccountEmail,Address,State,PhoneNumber,ProducerCode,OldAccountNumber,isBrokeragePolicy)
EXECUTE ( @sqlstm)
print @sqlstm
--update #TempAccountsList set isBrokeragePolicy='N'

--print @sqlstm
if(@isBrokered='Y')
begin
INSERT INTO #TempAccountsList(AccountID,AccountName,AccountEmail,Address,State,PhoneNumber,ProducerCode,OldAccountNumber,isBrokeragePolicy)
EXECUTE ( @sqlstmBrokerage)
--update #TempAccountsList set isBrokeragePolicy='Y'
print @sqlstmBrokerage
end




Insert into #TempAccountsList2(AccountName,AccountID,isBrokeragePolicy)
select RTRIM(LTRIM(AccountName)),AccountID ,isBrokeragePolicy 
from #TempAccountsList --order by AccountID,PolicyKey
group by AccountName,AccountID,isBrokeragePolicy


select SN,AccountName as FirmName,AccountID as AccountNumber,AccountID,AccountName,isBrokeragePolicy 
from #TempAccountsList2 --order by AccountID,PolicyKey
order by isBrokeragePolicy,SN

Drop Table #TempAccountsList
Drop Table #TempAccountsList2
END



GO
