USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchDataForBusinessClients_ClientLoad_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchDataForBusinessClients_ClientLoad_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchDataForBusinessClients_ClientLoad_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchDataForBusinessClients_ClientLoad_LW] AS' 
END
GO
--select issueddate from firmlw where Policykey=98821
--select * from PolicyTransaction where Policykey=98821
--exec [FetchDataForBusinessClients_ClientLoad_LW] 'effectivedate','2024-01-01','2024-01-15',3
ALTER PROCEDURE [dbo].[FetchDataForBusinessClients_ClientLoad_LW]
@SearchType VARCHAR(100),
@FromDate DATETIME,
@ToDate DATETIME,
@CompanyKey INT

AS
BEGIN
	--exec UpdateVersionSequenceLW_p @SearchType,@FromDate,@ToDate
	DECLARE @Commission numeric(17,2)=0.21
	CREATE TABLE #TEMP
	(
		IsIndicationPage CHAR,
		AccountID INT,
		PolicyEffectiveDate DATETIME,
		TransactionEffectiveDate	DATETIME,
		AccountName VARCHAR(500),
		PolicyExpirationDate DATETIME,
		StateDesc VARCHAR(100),
		Address1  VARCHAR(500),
		Address2  VARCHAR(500),
		City  VARCHAR(100),
		Zip  VARCHAR(100),
		TotalPremium Numeric(17,2),
		TotalPolicyTaxAmount Numeric(17,2),
		InvoicedPremium Numeric(17,2),
		AggregateLimit INT,
		OccuranceLimit INT,
		AggregateDeductible INT,
		IsClaimExpensesType VARCHAR(50),
		IsClaimOptionType VARCHAR(50),
		PriorActDatePross DATETIME,
		IsFirmCarryingProfLiabilityIns CHAR,
		PolicyKey INT,
		IsPriorActDateFull CHAR,
		IssuedDate DATETIME,
		PaymentMode VARCHAR(100),
		PolicyNumber VARCHAR(500),
		ContactPerson VARCHAR(500),
		PolicyStatus VARCHAR(500),
		RenewOfPolicyNumber VARCHAR(500),
		Is9010Policy CHAR,
		ProducerCode VARCHAR(500),
		IsDollarDefense CHAR,
		TransactionTypeKey INT,
		isFinancialEndorsement CHAR,
		ERPExpirationDate VARCHAR(500),
		VersionSequence int,
		Transactionsequence INT,
		FirstReviewer VARCHAR(500),
		Company VARCHAR(100),
		MarkAsRenewal VARCHAR(50),
		Commission  Numeric(17,2),
		NetPremium Numeric(17,2),
		TotalDue Numeric(17,2),
		County VARCHAR(100),
		WorkPhone VARCHAR(50),
		IsDirect VARCHAR(10),
		SPAddress VARCHAR(500),
		Contact_FirstName VARCHAR(200),
		Contact_LastName VARCHAR(200),
		Contact_PhoneNo VARCHAR(50),
		Contact_Email VARCHAR(100),
		PolicyBusinessType VARCHAR(100)
		)

			CREATE TABLE #TempPolicyKey
			(PolicyKey INT)

	CREATE TABLE #TEMP1
	(
		IsIndicationPage CHAR,
		AccountID INT,
		PolicyEffectiveDate DATETIME,
		TransactionEffectiveDate	DATETIME,
		AccountName VARCHAR(500),
		PolicyExpirationDate DATETIME,
		StateDesc VARCHAR(100),
		Address1  VARCHAR(500),
		Address2  VARCHAR(500),
		City  VARCHAR(100),
		Zip  VARCHAR(100),
		TotalPremium Numeric(17,2),
		TotalPolicyTaxAmount Numeric(17,2),
		InvoicedPremium Numeric(17,2),
		AggregateLimit INT,
		OccuranceLimit INT,
		AggregateDeductible INT,
		IsClaimExpensesType VARCHAR(50),
		IsClaimOptionType VARCHAR(50),
		PriorActDatePross DATETIME,
		IsFirmCarryingProfLiabilityIns CHAR,
		PolicyKey INT,
		IsPriorActDateFull CHAR,
		IssuedDate DATETIME,
		PaymentMode VARCHAR(100),
		PolicyNumber VARCHAR(500),
		ContactPerson VARCHAR(500),
		PolicyStatus VARCHAR(500),
		RenewOfPolicyNumber VARCHAR(500),
		Is9010Policy CHAR,
		ProducerCode VARCHAR(500),
		IsDollarDefense CHAR,
		TransactionTypeKey INT,
		isFinancialEndorsement CHAR,
		ERPExpirationDate VARCHAR(500),
		VersionSequence int,
		Transactionsequence INT,
		FirstReviewer VARCHAR(500),
		Company VARCHAR(100),
		County VARCHAR(300),
		WorkPhone VARCHAR(50),
		IsDirect VARCHAR(10),
		SPAddress VARCHAR(500),
		Contact_FirstName VARCHAR(200),
		Contact_LastName VARCHAR(200),
		Contact_PhoneNo VARCHAR(50),
		Contact_Email VARCHAR(100),
		PolicyBusinessType VARCHAR(100)
			)

	IF(@SearchType='effectivedate')
	BEGIN



	 INSERT INTO #TEMP1(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,Transactionsequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		 )
		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  ,
		a.AccountName,	convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip, 	(case When pt.TotalPremium is not null then pt.TotalPremium else 0.0 end) as  TotalPremium, (case When pt.TotalPolicyTaxAmount is not null then pt.TotalPolicyTaxAmount else 0.0 end) as  TotalPolicyTaxAmount	, 
		(case when pt.InvoicedPremium is not null then pt.InvoicedPremium else 0.0 end) as InvoicedPremium,		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	
		(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType,
		 	convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 	f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 	p.PolicyKey, 	pl.IsPriorActDateFull, 	convert(varchar,f.IssuedDate, 101) as IssuedDate, 
		pd.PaymentMode, 	p.PolicyNumber, 	f.ContactPerson,  	p.RenewOfPolicyNumber, 	
		f.Is9010Policy, pt.ProducerCode, pc.IsDollarDefense,f.VersionSequence,(Case When pt.TransactionTypeKey is not null then TransactionTypeKey else p.PolicyStatusKey end ) as TransactionTypeKey,pt.Transactionsequence,
		(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,c.Code,adds.CountyDesc, dbo.removeSpecialCharacter(adds.WorkPhone),
		(CASE WHEN pt.ProducerCode='' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect='Y') THEN 'Yes' ELSE 'No' END),
		(Case when p.PolicyStatusKey=1 then 'New' else 'Renew' end)
		
		from Policy p inner join PolicyTransaction pt on p.PolicyKey = pt.PolicyKey and p.isUncompletedData='N'
		 and    convert(varchar,  p.PolicyEffectiveDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, p.PolicyEffectiveDate, 23)<=convert(varchar, @ToDate, 23)
		and pt.StatusKey=6 and 	p.MarketableProductKey = 2 
		--and p.CompanyKey=@CompanyKey
		inner join FirmLW f  WITH (NOLOCK) on f.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionSequence
		inner join PolicyCoverage pc  WITH (NOLOCK) on pc.CoverageKey = 3 and p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		left join (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail group by policyKey) pd on pd.PolicyKey=p.PolicyKey 
		left join ProfessionalLiabilityInsDetailLW pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence  
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey  inner join Account a on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		left join Company c  WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		order by p.PolicyEffectiveDate

		Insert into #TempPolicyKey(PolicyKey) select Policykey from #temp1 where TransactionTypeKey>6 group by PolicyKey
		
		
		 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,Transactionsequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		  from #temp1 t1
		inner join Quote q on q.PolicyKey=t1.PolicyKey and q.TransactionSequence=t1.TransactionSequence and q.IsThisOptionFinalised='Y'
		and t1.PolicyKey not in(Select PolicyKey from #TempPolicyKey)



		 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,Transactionsequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,
		IsClaimExpensesType,IsClaimOptionType ,
		 PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		  from #temp1 t1 
		 where Transactionsequence=(select min(PreviousFinalizedTransactionSequence) from EndorsementDetails where Policykey=t1.Policykey)
			and t1.PolicyKey  in(Select PolicyKey from #TempPolicyKey)



		INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,TransactionEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType,PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,TransactionTypeKey,isFinancialEndorsement,VersionSequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType)

		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  , convert(varchar, pt.TransactionEffectiveDate, 101) as TransactionEffectiveDate,a.AccountName,	
		convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip,
		 (case	when ed.PremiumVariation is not null then ed.PremiumVariation else 0.0 end) as PremiumVariation, 		(case when ed.TaxVariation is not null then ed.TaxVariation else 0.0 end) as TaxVariation,
		  (case when ed.PremiumVariation+ed.TaxVariation is not null then ed.PremiumVariation+ed.TaxVariation else 0.0 end),		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	
		  (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, 		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, 	
		  convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 		f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 	p.PolicyKey, 	pl.IsPriorActDateFull,
		 	convert(varchar,ed.EndorsementIssuedDate, 101) as IssuedDate, p.PolicyNumber, 	f.ContactPerson,  	p.RenewOfPolicyNumber,	f.Is9010Policy, pt.ProducerCode, pc.IsDollarDefense,ed.TransactionTypeKey,ed.isFinancialEndirsement,
			ed.VersionSequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,c.Code,adds.CountyDesc, dbo.removeSpecialCharacter(WorkPhone),
			(CASE WHEN pt.ProducerCode='' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect='Y') THEN 'Yes' ELSE 'No' END),
			(Case when p.PolicyStatusKey=1 then 'New' else 'Renew' end)
		 from EndorsementDetails ed
		inner join Policy p  WITH (NOLOCK) on p.PolicyKey=ed.PolicyKey 
		inner join PolicyTransaction pt  WITH (NOLOCK) on pt.PolicyKey=ed.PolicyKey and pt.TransactionSequence=ed.TransactionSequence and ed.TransactionTypeKey=pt.TransactionTypeKey
		inner join Firmlw f  WITH (NOLOCK) on pt.Policykey=f.PolicyKey and f.VersionKey=pt.VersionKey 
		inner join PolicyCoverage pc  WITH (NOLOCK) on pc.CoverageKey = 3 and p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey 
		inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		left join ProfessionalLiabilityInsDetailLW pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence  
		left join Company c  WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		where    convert(varchar,  ed.EndorsementEffectiveDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, ed.EndorsementEffectiveDate, 23)<=convert(varchar, @ToDate, 23)
		and p.MarketableProductKey=2 
		--and p.CompanyKey=@CompanyKey
		order by ed.endorsementeffectivedate

		
	END
	IF(@SearchType='createdate')
	BEGIN
		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate,convert(varchar, pt.TransactionEffectiveDate, 101) as TransactionEffectiveDate, a.AccountName,	convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip, 	pt.TotalPremium, 	pt.TotalPolicyTaxAmount, pt.InvoicedPremium, 
		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType,
		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, 	convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 
		p.PolicyKey, 	pl.IsPriorActDateFull, 	convert(varchar,f.IssuedDate, 101) as IssuedDate, pd.PaymentMode, 	p.PolicyNumber, 	f.ContactPerson, 
		(select TransactionTypeDesc from TransactionType where TransactionTypeKey=pt.TransactionTypeKey)as PolicyStatus, p.RenewOfPolicyNumber,  pt.ProducerCode, pc.IsDollarDefense 
		from Policy p inner join PolicyTransaction pt on p.PolicyKey = pt.PolicyKey and p.isUncompletedData='N' and  p.AppCreatedDate >=@FromDate and p.AppCreatedDate <=@ToDate and pt.StatusKey=6 and 	p.MarketableProductKey = 2 
		inner join FirmLW f  WITH (NOLOCK) on f.PolicyKey=p.PolicyKey and f.VersionSequence=pt.VersionSequence inner join PolicyCoverage pc on pc.CoverageKey = 3 and p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		inner join Quote q  WITH (NOLOCK) on p.PolicyKey = q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and	q.IsThisOptionFinalised='Y' 
		left join (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail group by policyKey) pd on pd.PolicyKey=p.PolicyKey
		left join ProfessionalLiabilityInsDetailLW pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey  and pl.VersionSequence=pt.VersionSequence 
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey  
		inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey 
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		--inner join TransactionType tt on pt.TransactionTypeKey=tt.TransactionTypeKey
		order by p.PolicyEffectiveDate
	END
	IF(@SearchType='issuedate')
	BEGIN


	INSERT INTO #TEMP1(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType , PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,TransactionSequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		 )
		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate,a.AccountName, convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,adds.Address1, adds.Address2, adds.City, adds.Zip, (case When pt.TotalPremium is not null then pt.TotalPremium else 0.0 end) as  TotalPremium, (case When pt.TotalPolicyTaxAmount is not null then pt.TotalPolicyTaxAmount else 0.0 end) as  TotalPolicyTaxAmount	, 
		(case When pt.InvoicedPremium is not null then pt.InvoicedPremium else 0.0 end) as  InvoicedPremium , 
		pc.AggregateLimit, pc.OccuranceLimit, pc.AggregateDeductible,  (CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType,  
		(CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType,  convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross, 
		f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns,   p.PolicyKey, pl.IsPriorActDateFull, convert(varchar,f.IssuedDate, 101) as IssuedDate,   pd.PaymentMode,  
		p.PolicyNumber,  f.ContactPerson,   p.RenewOfPolicyNumber, pt.ProducerCode, pc.IsDollarDefense ,f.VersionSequence  ,(Case When pt.TransactionTypeKey is not null then TransactionTypeKey else p.PolicyStatusKey end ) as TransactionTypeKey ,
		pt.TransactionSequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,c.Code,adds.CountyDesc, dbo.removeSpecialCharacter(WorkPhone),
		(CASE WHEN pt.ProducerCode='' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect='Y') THEN 'Yes' ELSE 'No' END),
		(case when p.PolicyStatusKey=1 then 'New' else 'Renew' end) 
		from Policy p   inner join PolicyCoverage pc on pc.CoverageKey = 3 and  p.PolicyKey = pc.PolicyKey     
		
		inner join PolicyTransaction pt on  pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence
		and  pt.StatusKey=6 and  p.PolicyKey = pt.PolicyKey and p.MarketableProductKey = 2 and p.isUncompletedData='N'   
		inner join FirmLW f  WITH (NOLOCK) on  f.PolicyKey=p.PolicyKey  and f.VersionSequence=pt.VersionSequence
		left join (select policyKey, PaymentMode=max(PaymentMode) from PaymentDetail group by policyKey) pd on pd.PolicyKey=p.PolicyKey
		left join ProfessionalLiabilityInsDetailLW pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence 
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey	
		inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey	
		left join Company c  WITH (NOLOCK) on c.CompanyKey=p.CompanyKey
		where  convert(varchar, f.IssuedDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, f.IssuedDate, 23)<=convert(varchar, @ToDate, 23) 
		--and p.CompanyKey=@CompanyKey
		order by p.PolicyEffectiveDate

		
		Insert into #TempPolicyKey(PolicyKey) select Policykey from #temp1 where TransactionTypeKey>6 group by PolicyKey
		
		
		 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType , PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,TransactionSequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,	IsClaimExpensesType,IsClaimOptionType, PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		  from #temp1 t1
		inner join Quote q on q.PolicyKey=t1.PolicyKey and q.TransactionSequence=t1.TransactionSequence 
		where q.IsThisOptionFinalised='Y' and t1.PolicyKey not in(Select PolicyKey from #TempPolicyKey)



		 	 INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType , PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,TransactionSequence,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		 ) 
		 select IsIndicationPage,AccountID,PolicyEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,	IsClaimExpensesType,IsClaimOptionType, PriorActDatePross,IsFirmCarryingProfLiabilityIns,t1.PolicyKey,IsPriorActDateFull,IssuedDate,
		 PaymentMode,PolicyNumber,ContactPerson,RenewOfPolicyNumber,ProducerCode,IsDollarDefense,VersionSequence,TransactionTypeKey,t1.Transactionsequence,Company,County,WorkPhone,IsDirect,PolicyBusinessType
		  from #temp1 t1 
		 where Transactionsequence=(select min(PreviousFinalizedTransactionSequence) from EndorsementDetails where Policykey=t1.Policykey)
			and t1.PolicyKey  in(Select PolicyKey from #TempPolicyKey)





		INSERT INTO #TEMP(IsIndicationPage,AccountID,PolicyEffectiveDate,TransactionEffectiveDate,AccountName,PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip,TotalPremium,TotalPolicyTaxAmount,
		 InvoicedPremium,AggregateLimit,OccuranceLimit,AggregateDeductible,IsClaimExpensesType,IsClaimOptionType,PriorActDatePross,IsFirmCarryingProfLiabilityIns,PolicyKey,IsPriorActDateFull,IssuedDate,
		 PolicyNumber,ContactPerson,RenewOfPolicyNumber,Is9010Policy,ProducerCode,IsDollarDefense,TransactionTypeKey,isFinancialEndorsement,VersionSequence,FirstReviewer,Company,County,WorkPhone,IsDirect,PolicyBusinessType)

		select f.IsIndicationPage,p.AccountID,convert(varchar, p.PolicyEffectiveDate, 101) as PolicyEffectiveDate  , convert(varchar, pt.TransactionEffectiveDate, 101) as TransactionEffectiveDate,a.AccountName,	convert(varchar, pt.PolicyExpirationDate, 101) as PolicyExpirationDate,
		(select StateDesc from State where StateCode=adds.StateCode) StateDesc,	adds.Address1, 	adds.Address2, 	adds.City, 	adds.Zip, 	 (case	when ed.PremiumVariation is not null then ed.PremiumVariation else 0.0 end) as PremiumVariation, (case when ed.TaxVariation is not null then ed.TaxVariation else 0.0 end) as TaxVariation, (case when ed.PremiumVariation+ed.TaxVariation is not null then ed.PremiumVariation+ed.TaxVariation else 0.0 end),
		pc.AggregateLimit, 	pc.OccuranceLimit, 	pc.AggregateDeductible, 	(CASE pc.IsClaimExpensesType WHEN 'Y' THEN 'Outside' ELSE 'Inside' END) as IsClaimExpensesType, (CASE pc.IsClaimOptionType WHEN 'Y' THEN 'Yes' ELSE 'No' END) as IsClaimOptionType, 
		convert(varchar, pl.PriorActDatePross, 101) as PriorActDatePross,f.IsFirmHaveLawyersLiabilityInsurance as IsFirmCarryingProfLiabilityIns, 	p.PolicyKey, 	pl.IsPriorActDateFull,convert(varchar,ed.EndorsementIssuedDate, 101) as IssuedDate, 
			p.PolicyNumber, 	f.ContactPerson,  	p.RenewOfPolicyNumber,f.Is9010Policy, pt.ProducerCode, pc.IsDollarDefense,ed.TransactionTypeKey,ed.isFinancialEndirsement,ed.VersionSequence,(select agentname from UserDetails where UserNo=f.FirstReviewUserID) as FirstReviewer,
			c.Code,adds.CountyDesc, dbo.removeSpecialCharacter(WorkPhone),(CASE WHEN pt.ProducerCode='' OR pt.ProducerCode is null  or pt.ProducerCode in (select producercode from SubProducer where IsDriect='Y') THEN 'Yes' ELSE 'No' END),
			(case when p.PolicyStatusKey=1 then 'New' else 'Renew' end) 
		 from EndorsementDetails ed
		inner join Policy p  WITH (NOLOCK) on p.PolicyKey=ed.PolicyKey 
		inner join PolicyTransaction pt  WITH (NOLOCK) on pt.PolicyKey=ed.PolicyKey and pt.TransactionSequence=ed.TransactionSequence and ed.TransactionTypeKey=pt.TransactionTypeKey
		inner join Firmlw f  WITH (NOLOCK) on pt.Policykey=f.PolicyKey and f.VersionKey=pt.VersionKey 
		inner join PolicyCoverage pc  WITH (NOLOCK) on pc.CoverageKey = 3 and p.PolicyKey = pc.PolicyKey and pt.PolicyKey=pc.PolicyKey and pt.TransactionSequence=pc.TransactionSequence 
		inner join Status s  WITH (NOLOCK) on s.StatusKey=pt.StatusKey 
		 inner join Account a  WITH (NOLOCK) on a.AccountKey =pt.AccountKey
		inner join AccountAddress aa  WITH (NOLOCK) on aa.AccountKey = a.AccountKey 
		inner join Address adds  WITH (NOLOCK) on aa.AddressKey=adds.AddressKey 
		left join ProfessionalLiabilityInsDetailLW pl  WITH (NOLOCK) on pl.PolicyKey=pt.PolicyKey and pl.VersionSequence=pt.VersionSequence  
		left join Company c on c.CompanyKey=p.CompanyKey
		where  convert(varchar, ed.EndorsementIssuedDate, 23) >=convert(varchar, @FromDate, 23) and convert(varchar, ed.EndorsementIssuedDate, 23)<=convert(varchar, @ToDate, 23)
		and p.MarketableProductKey=2 
		--and p.CompanyKey=@CompanyKey
		order by ed.EndorsementIssuedDate

	

	END

	UPDATE t1
			set t1.Commission=(t2.TotalPremium*@Commission),t1.NetPremium=t2.TotalPremium-(t2.TotalPremium*@Commission),t1.TotalDue=(t2.TotalPremium-(t2.TotalPremium*@Commission))+t2.TotalPolicyTaxAmount
			FROM #TEMP t1 INNER JOIN #TEMP t2 on t1.PolicyKey=t2.PolicyKey

	UPDATE t1
		  SET t1.PolicyStatus =  ed.TransactiontypedescForReport FROM TransactionType ed
				INNER JOIN  #TEMP t1 ON ed.TransactionTypeKey = t1.TransactionTypeKey--  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=ed.VersionSequence and ed.isFinancialEndirsement is null

	UPDATE t1
		  SET t1.ERPExpirationDate =  case When erp.ERPExpirationDate  is null then 'Unlimited' else convert(varchar(10), erp.ERPExpirationDate, 23)  END FROM ErpEndorsementDetails erp
				INNER JOIN  #TEMP t1 ON erp.PolicyKey = t1.PolicyKey  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=erp.VersionSequence
				
		UPDATE t1
		  SET t1.PolicyStatus =  'Free ERP' FROM EndorsementDetails ed
				INNER JOIN  #TEMP t1 ON ed.PolicyKey = t1.PolicyKey  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=ed.VersionSequence and ed.isFinancialEndirsement='N'
		
		UPDATE t1
		  SET t1.PolicyStatus =  'Free ERP' FROM EndorsementDetails ed
				INNER JOIN  #TEMP t1 ON ed.PolicyKey = t1.PolicyKey  WHERE t1.TransactionTypeKey=16 and t1.VersionSequence=ed.VersionSequence and ed.isFinancialEndirsement is null
	
		UPDATE t1
		  SET t1.SPAddress  =  sp.StreetAddress FROM SubProducer sp
				INNER JOIN  #TEMP t1 ON sp.ProducerCode = t1.ProducerCode  WHERE IsDirect='No'

		UPDATE t1
		  SET t1.Contact_FirstName  =  SUBSTRING(sp.ContactPerson, 1, CASE WHEN CHARINDEX(' ', sp.ContactPerson)>0 THEN CHARINDEX(' ', sp.ContactPerson) - 1 ELSE LEN(sp.ContactPerson) END ),
		  t1.Contact_LastName= REVERSE(SUBSTRING(REVERSE(sp.ContactPerson), 1, CASE WHEN CHARINDEX(' ', REVERSE(sp.ContactPerson))>0 THEN CHARINDEX(' ', REVERSE(sp.ContactPerson)) - 1 ELSE LEN(REVERSE(sp.ContactPerson)) END ) )
		  FROM FirmLW sp
				INNER JOIN  #TEMP t1 ON sp.PolicyKey = t1.PolicyKey  WHERE IsDirect='Yes'
		
		UPDATE t1
		 SET t1.Contact_FirstName  =  SUBSTRING(SPContactName, 1, CASE WHEN CHARINDEX(' ', SPContactName)>0 THEN CHARINDEX(' ', SPContactName) - 1 ELSE LEN(SPContactName) END ),
		  t1.Contact_LastName= REVERSE(SUBSTRING(REVERSE(SPContactName), 1, CASE WHEN CHARINDEX(' ', REVERSE(SPContactName))>0 THEN CHARINDEX(' ', REVERSE(SPContactName)) - 1 ELSE LEN(REVERSE(SPContactName)) END ) )
		   FROM SubProducer sp
				INNER JOIN  #TEMP t1 ON sp.ProducerCode = t1.ProducerCode  WHERE IsDirect='No'


	Delete from #TEMP where TransactionTypeKey=14 and isFinancialEndorsement='N'
	Delete from #TEMP where TransactionTypeKey=15 and isFinancialEndorsement='N'
	--select * from #TempPolicyKey

	update #TEMP set MarkAsRenewal='Y' where PolicyKey in(select PolicyKey from MarkAsRenewal where CompanyKey=3 and MarketableProductKey=2)
	
	DECLARE @ClientType VARCHAR(100)='Insured',@InvoicePageBreak VARCHAR(100)='Policy',@StateMentPageBreak VARCHAR(100)='Account',@StatementLayout VARCHAR(100)='No Statement',@BusinessType_YES VARCHAR(20)='Yes',@BusinessType_No VARCHAR(20)='No',@Country VARCHAR(100)='United States of America'
	 DECLARE @PremiumPayableType VARCHAR(20)='CA',@CommissionType VARCHAR(50)='%',@CommissionPercentage varchar(100)='21%',@BPAY_PPAY_Type1 VARCHAR(50)='PPAY',@BPAY_PPAY_ProdCredit1 VARCHAR(50)='100',@BPAY_PPAY_CommissionType1 VARCHAR(50)='!',
	 @BPAY_PPAY_Percentage1 VARCHAR(50)='0',@Prospective_Contracted VARCHAR(100)='Contracted',@Business_Agriculture VARCHAR(20)='No',@Business_Benifits VARCHAR(20)='No',@Business_Bonds VARCHAR(20)='No',@Business_Commercial VARCHAR(20)='Yes',@Business_Finencial VARCHAR(20)='No',@Business_Health varchar(20)='No',
	 @Business_Personal varchar(20)='No',@Business_Other varchar(20)='No',@PopulateMainBusinessContact VARCHAR(20)='Yes',@MainBusinessAddress VARCHAR(20)='Yes'

	
	Select
	
	 AccountID,convert(varchar(10), PolicyEffectiveDate, 101) as PolicyEffectiveDate,convert(varchar(10), TransactionEffectiveDate, 101) as TransactionEffectiveDate,AccountName,convert(varchar(10), PolicyExpirationDate, 101) as PolicyExpirationDate,StateDesc,Address1,Address2,City,Zip
	,TotalPremium,TotalPolicyTaxAmount,InvoicedPremium
		  ,@ClientType as ClientType,@InvoicePageBreak as InvoicePageBreak ,@StateMentPageBreak as  StateMentPageBreak,@StatementLayout as StatementLayout,@BusinessType_YES as BusinessType_YES,@BusinessType_No as BusinessType_No,@Country as Country,County,WorkPhone,
		  IsDirect,SPAddress,Contact_FirstName,Contact_LastName,Contact_PhoneNo,Contact_Email
	,@Business_Agriculture as Business_Agriculture,@Business_Benifits as Business_Benifits ,
	@Business_Bonds as Business_Bonds,@Business_Commercial as Business_Commercial,@Business_Finencial as Business_Finencial,@Business_Health as Business_Health,@Business_Personal as Business_Personal,@Business_Other as Business_Other,@PopulateMainBusinessContact as PopulateMainBusinessContact,@MainBusinessAddress as MainBusinessAddress,AccountName as MainBusinessContact,
	IsDirect as IsShowPrimaryContactFromAccount,IsDirect as PrimaryContact_UseAccountAddress
	from #TEMP order by PolicyKey

	DROP Table #TempPolicyKey
	DROP TABLE #temp1
	DROP TABLE #TEMP
END













GO
