USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdatecopyRightTrademarkSupplement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdatecopyRightTrademarkSupplement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdatecopyRightTrademarkSupplement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdatecopyRightTrademarkSupplement_p] AS' 
END
GO
--alter table CopyRightTrademarkDetailsLW alter column otherServicesDesc varchar(1000)
--select * from CopyRightTrademarkDetailsLW where Policykey=64582
ALTER PROCEDURE [dbo].[InsertUpdatecopyRightTrademarkSupplement_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@otherServices CHAR,
	@otherServicesDesc VARCHAR(1000),
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50),
	@VersionKey INT
)
AS
BEGIN
	DECLARE @Count INT
	SELECT @Count=count(*) FROM CopyRightTrademarkDetailsLW WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
	IF(@Count>0)
	BEGIN
		UPDATE CopyRightTrademarkDetailsLW SET otherServices=@otherServices,otherServicesDesc=@otherServicesDesc,
		LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,VersionKey=@VersionKey
		WHERE	PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
	END
	ELSE
	BEGIN
		INSERT INTO	CopyRightTrademarkDetailsLW (PolicyKey,VersionSequence,otherServices,otherServicesDesc,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@VersionSequence,@otherServices,@otherServicesDesc,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
	END
END



GO
