USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetInsuredDetailsForAdditionalEndorsementLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetInsuredDetailsForAdditionalEndorsementLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetInsuredDetailsForAdditionalEndorsementLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetInsuredDetailsForAdditionalEndorsementLW_p] AS' 
END
GO


-- exec GetInsuredDetailsForAdditionalEndorsementLW_p '2019-04-10','2020-07-10'
ALTER PROCEDURE [dbo].[GetInsuredDetailsForAdditionalEndorsementLW_p]
	(
	@effectiveDate_From varchar(100),
	@effectiveDate_To varchar(100)
	)
AS
BEGIN


select  PolicyKey,QuoteNumber,AccountName,ContactPerson,AccountEmail,PolicyNumber,PolicyEffectiveDate,PolicyExpirationDate,ProducerCode,Subject,body,AttachmentFilePath from NotaryEndorsementTable
order by PolicyKey

--Select top 2   p.PolicyKey,p.QuoteNumber,a.AccountName,F.ContactPerson,a.AccountEmail
--,p.PolicyNumber, CONVERT(varchar,P.PolicyEffectiveDate,101) as PolicyEffectiveDate,CONVERT(varchar,pt.PolicyExpirationDate,101) as PolicyExpirationDate,pt.ProducerCode 
--,(select subject from EMAIL_NOTIFICATIONS_NEW where event_name='Covid19_endorsement' ) as Subject,(select body from EMAIL_NOTIFICATIONS_NEW where event_name='Covid19_endorsement') as body,'C:/Covid19/'+
--(CASE when pt.ProducerCode is not null then pt.ProducerCode else 'Direct' END)
----'Direct'
--+'/LPL-182_'+p.QuoteNumber+'.pdf'	 as AttachmentFilePath
--From Account a
--inner join PolicyTransaction pt on a.AccountKey=pt.AccountKey
--inner join Firmlw f on f.PolicyKey=pt.Policykey
--Inner join Policy p on p.Policykey=f.Policykey
--where p.PolicyEffectiveDate>=CONVERT(varchar,@effectiveDate_From,101) and  p.PolicyEffectiveDate<= CONVERT(varchar,@effectiveDate_To,101)
----and pt.ProducerCode not in('P0000007','P0000031','P0000040','P0000041','P0000042','P0000087','P0000012','P0000050','P0000005','P0000032')
--and pt.Producercode is null
--and pt.StatusKey=6
--group by  p.policykey,p.QuoteNumber,a.AccountName,F.ContactPerson,a.AccountEmail,p.PolicyNumber,P.PolicyEffectiveDate,pt.PolicyExpirationDate,pt.ProducerCode
--order by p.PolicyKey
END




GO
