USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForLawyersCleaner_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchCountForLawyersCleaner_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForLawyersCleaner_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchCountForLawyersCleaner_Proc] AS' 
END
GO


--exec SearchCountForLawyersCleaner_Proc 
ALTER PROCEDURE [dbo].[SearchCountForLawyersCleaner_Proc] 
 			
		@EffectiveDateFrom datetime=null,
		@EffectiveDateTo datetime=null,		
		@LastUpdateUserID int=null
		
AS 
BEGIN
	if((@EffectiveDateFrom='' OR @EffectiveDateFrom is null) and (@EffectiveDateTo='' OR @EffectiveDateTo is null))
	BEGIN
		select @EffectiveDateFrom= FORMAT(getdate()-120,'MM-dd-yyyy'), @EffectiveDateTo=FORMAT(getdate()+120,'MM-dd-yyyy')	 
	END
		print @EffectiveDateFrom
		print @EffectiveDateTo
	--Pending
	declare @IndicationCount int=0, @QuickQuoteCount int=0, @NewCount int=0, @UnderReviewCount int=0, @UWReviewCount int=0,@UWCompletedCount int=0, 
	@QuotedCount int=0, @AcceptedCount int=0, @IssuedCount int=0, @DeclinedCount int=0, @CancelledCount int=0, 
	
	@NotResponseList int=0, @NeverConvertedList int=0, @NeverSentList int=0, @NeverQuotedlistCount int=0, @NotAcceptedList int=0, 
	
	@TotalStatusCount int=0, @TotalCommentCount int=0
	
	------No Response-----------
	select count(pt.StatusKey) Total,pt.StatusKey into #tempNoResponse from Policy p with (nolock)
	INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
	where p.MarketableProductKey = 2 
	and pc.CoverageKey = 3
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
	and p.IsFullQuote='N'
	and p.IsQuickQuote='Y'
	and pt.StatusKey in (1,11) --QQ, Indication
	and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
	and fl.lostworkqComment='No Response' 
	Group By pt.StatusKey
	
	If Exists(select Total from #tempNoResponse where StatusKey=11) 
	BEGIN
		select @IndicationCount= SUM(Total) from #tempNoResponse where StatusKey=11 --Indication
	End

	If Exists(select Total from #tempNoResponse where StatusKey=1) 
	BEGIN
		select @QuickQuoteCount= SUM(Total) from #tempNoResponse where StatusKey=1 --QQ
	End


	------No Response-----------
	select count(pt.StatusKey) Total,pt.StatusKey into #tempNoResponseNew from Policy p with (nolock)
	INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
	where p.MarketableProductKey = 2 
	and pc.CoverageKey = 3
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
	and p.IsFullQuote='Y'
	and p.IsQuickQuote='N'
	and pt.StatusKey in (1) --New
	and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
	and fl.lostworkqComment='No Response' 
	Group By pt.StatusKey
	

	If Exists(select Total from #tempNoResponseNew where StatusKey=1) 
	BEGIN
		select @NewCount= SUM(Total) from #tempNoResponseNew where StatusKey=1 --New
	END

	If Exists(select Total from #tempNoResponse) 
	BEGIN
		select @NotResponseList = SUM(Total) from #tempNoResponse --
		select @NotResponseList = (SUM(Total) + @NotResponseList) from #tempNoResponseNew --
	END

	------not converted-----------
	select count(pt.StatusKey) Total,pt.StatusKey into #tempnotconverted from Policy p with (nolock)
	INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
	where p.MarketableProductKey = 2 
	and pc.CoverageKey = 3
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
	and p.IsFullQuote='N'
	and p.IsQuickQuote='Y'
	and pt.StatusKey in (1,11) --QQ, Indication
	and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
	and fl.lostworkqComment='not converted' 
	Group By pt.StatusKey
	
	
	If Exists(select Total from #tempnotconverted where StatusKey=11) 
	BEGIN
		select @IndicationCount = (SUM(Total) + @IndicationCount) from #tempnotconverted where StatusKey=11 --Indication
	END
	If Exists(select Total from #tempnotconverted where StatusKey=1) 
	BEGIN
		select @QuickQuoteCount = (SUM(Total) + @QuickQuoteCount) from #tempnotconverted where StatusKey=1 --QQ
	END
	
	If Exists(select Total from #tempnotconverted) 
	BEGIN
		select @NeverConvertedList = SUM(Total) from #tempnotconverted --
	END


	------never sent-----------
	select count(pt.StatusKey) Total,pt.StatusKey into #tempneversent from Policy p with (nolock)
	INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
	where p.MarketableProductKey = 2 
	and pc.CoverageKey = 3
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
	and p.IsFullQuote='N'
	and p.IsQuickQuote='Y'
	and pt.StatusKey in (1) --QQ
	and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
	and fl.lostworkqComment='never sent' 
	Group By pt.StatusKey

	
	If Exists(select Total from #tempneversent where StatusKey=1) 
	BEGIN
		select @QuickQuoteCount = (SUM(Total) + @QuickQuoteCount) from #tempneversent where StatusKey=1 --QQ
	END
	
	If Exists(select Total from #tempneversent) 
	BEGIN
		select @NeverSentList = SUM(Total) from #tempneversent --
	END


	------never quoted-----------
	select count(pt.StatusKey) Total,pt.StatusKey into #tempneverquoted from Policy p with (nolock)
	INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
	where p.MarketableProductKey = 2 
	and pc.CoverageKey = 3
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
	and p.IsFullQuote='Y'
	and p.IsQuickQuote='N'
	and pt.StatusKey in (2,9,10) --UnderReview, UWReview, UWCompleted
	and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
	and fl.lostworkqComment='never quoted' 
	and fl.isappcompleted='Y'
	Group By pt.StatusKey
	
	
	If Exists(select Total from #tempneverquoted where StatusKey=2) 
	BEGIN
		select @UnderReviewCount = SUM(Total) from #tempneverquoted where StatusKey=2 --UnderReview
	END
	If Exists(select Total from #tempneverquoted where StatusKey=9) 
	BEGIN
		select @UWReviewCount = SUM(Total) from #tempneverquoted where StatusKey=9 --UWReview
	END
	If Exists(select Total from #tempneverquoted where StatusKey=10) 
	BEGIN
		select @UWCompletedCount = SUM(Total) from #tempneverquoted where StatusKey=10 --UWCompleted
	END
	
	If Exists(select Total from #tempneverquoted) 
	BEGIN
		select @NeverQuotedlistCount = SUM(Total) from #tempneverquoted --
	END


	------Not Accepted-----------
	select count(pt.StatusKey) Total,pt.StatusKey into #tempNotAccepted from Policy p with (nolock)
	INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
	INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
	INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
	where p.MarketableProductKey = 2 
	and pc.CoverageKey = 3
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
	and p.isUncompletedData='N' 
	and p.IsFullQuote='Y'
	and p.IsQuickQuote='N'
	and pt.StatusKey in (3) --quoted
	and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
	and fl.lostworkqComment='Not Accepted' 
	and fl.isappcompleted='Y'
	Group By pt.StatusKey

	
	If Exists(select Total from #tempNotAccepted where StatusKey=3) 
	BEGIN
		select @QuotedCount = SUM(Total) from #tempNotAccepted where StatusKey=3 --quoted
	END
	
	If Exists(select Total from #tempNotAccepted) 
	BEGIN
		select @NotAcceptedList = SUM(Total) from #tempNotAccepted --
	END

	
	select @TotalStatusCount=(@IndicationCount + @QuickQuoteCount + @NewCount + @UnderReviewCount + @UWReviewCount + @UWCompletedCount + 
	@QuotedCount + @AcceptedCount + @IssuedCount + @DeclinedCount + @CancelledCount)

	select @TotalCommentCount=(@NotResponseList +  @NeverConvertedList +  @NeverSentList +  @NeverQuotedlistCount +  @NotAcceptedList)

	select @IndicationCount as indicationCountCleaner, @QuickQuoteCount as quickquoteCleaner, @NewCount as pendingCleaner, @UnderReviewCount as bookedCleaner, 
	@UWReviewCount as uwreviewCleaner, @UWCompletedCount as uwcompletedCleaner, @QuotedCount as abandonedlistCleaner, 

	@NotResponseList as NotOpenedCleaner, @NeverConvertedList as NeverConvertedCleaner, @NeverSentList as NeverSentCleaner, 
	@NeverQuotedlistCount as NeverQuotedCleaner, @NotAcceptedList as rejectlistCleaner, 

	@TotalStatusCount as totalsubmissionsCleaner, @TotalCommentCount as totalsubmissionsComment 

	--select * from #tempCount
	DROP TABLE #tempNoResponse
	DROP TABLE #tempNoResponseNew
	DROP TABLE #tempnotconverted
	DROP TABLE #tempneversent
	DROP TABLE #tempneverquoted
	DROP TABLE #tempNotAccepted
END

GO
