USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateWillsLargestTrustData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateWillsLargestTrustData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateWillsLargestTrustData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateWillsLargestTrustData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateWillsLargestTrustData_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN
	
	IF NOT EXISTS (select LargestTrustsKey from WillSTrustEstateLargestTrustsDetails where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO WillSTrustEstateLargestTrustsDetails(PolicyKey, VersionSequence,TrustName,TrustsType,AssetsValue,BeneficiaryInterest,
			LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('TrustName[1]', 'VARCHAR(1000)') TrustName,
				doc.col.value('TrustsType[1]', 'VARCHAR(500)') TrustsType,
				doc.col.value('AssetsValue[1]', 'int') AssetsValue,
				doc.col.value('BeneficiaryInterest[1]', 'CHAR') BeneficiaryInterest,
				@LastUpdateUserID,@LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey, 
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'VARCHAR(100)') CreatedDate
				FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('LargestTrustsKey[1]', 'INT') LargestTrustsKey,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('TrustName[1]', 'VARCHAR(1000)') TrustName,
				doc.col.value('TrustsType[1]', 'VARCHAR(500)') TrustsType,
				doc.col.value('AssetsValue[1]', 'int') AssetsValue,
				doc.col.value('BeneficiaryInterest[1]', 'CHAR') BeneficiaryInterest,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE wtelt
			SET 
			 wtelt.TrustName =tx.TrustName,
			 wtelt.TrustsType =tx.TrustsType,
			 wtelt.AssetsValue =tx.AssetsValue,
			 wtelt.BeneficiaryInterest =tx.BeneficiaryInterest,
			 wtelt.LastUpdateUserID =tx.LastUpdateUserID,
			 wtelt.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM WillSTrustEstateLargestTrustsDetails wtelt
			inner join #temp_xml tx 
			on (wtelt.LargestTrustsKey=tx.LargestTrustsKey and wtelt.PolicyKey=tx.PolicyKey and wtelt.VersionSequence=tx.VersionSequence)
		END



	--DELETE FROM WillSTrustEstateLargestTrustsDetails WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

	--		INSERT INTO WillSTrustEstateLargestTrustsDetails(PolicyKey, VersionSequence,TrustName,TrustsType,AssetsValue,BeneficiaryInterest,LastUpdateUserID,LastUpdateTimeStamp)
	--		SELECT
	--				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
	--				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
	--				doc.col.value('TrustName[1]', 'VARCHAR(1000)') TrustName,
	--				doc.col.value('TrustsType[1]', 'VARCHAR(500)') TrustsType,
	--				doc.col.value('AssetsValue[1]', 'int') AssetsValue,
	--				doc.col.value('BeneficiaryInterest[1]', 'CHAR') BeneficiaryInterest,
	--				@LastUpdateUserID,@LastUpdateTimeStamp
	--					FROM @xml.nodes('/Root/Root1') doc(col)
		
END



GO
