USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[revenueClientsAjaxExpansions_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[revenueClientsAjaxExpansions_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[revenueClientsAjaxExpansions_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[revenueClientsAjaxExpansions_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[revenueClientsAjaxExpansions_p]
	(
	@PolicyKey INT,
	@ClientNameFirstLargestRevenueClient VARCHAR(500),
	@ServicesRenderedFirstLargestRevenueClient VARCHAR(500),
	@PercentFromFirstLargestRevenueClient INT,
	@DateRenderedFirstLargestRevenueClient INT,
	@ClientNameSecondLargestRevenueClient VARCHAR(500),
	@ServicesRenderedSecondLargestRevenueClient VARCHAR(500),
	@PercentFromSecondLargestRevenueClient INT,
	@DateRenderedSecondLargestRevenueClient INT,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
	UPDATE FIRMLW SET ClientNameFirstLargestRevenueClient=@ClientNameFirstLargestRevenueClient,
					ServicesRenderedFirstLargestRevenueClient=@ServicesRenderedFirstLargestRevenueClient,
					PercentFromFirstLargestRevenueClient=@PercentFromFirstLargestRevenueClient,
					DateRenderedFirstLargestRevenueClient=@DateRenderedFirstLargestRevenueClient,
					ClientNameSecondLargestRevenueClient=@ClientNameSecondLargestRevenueClient,
					ServicesRenderedSecondLargestRevenueClient=@ServicesRenderedSecondLargestRevenueClient,
					PercentFromSecondLargestRevenueClient=@PercentFromSecondLargestRevenueClient,
					DateRenderedSecondLargestRevenueClient=@DateRenderedSecondLargestRevenueClient,
					LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
			WHERE PolicyKey=@PolicyKey
END


GO
