USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateOutsideInterestSupplementAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateOutsideInterestSupplementAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateOutsideInterestSupplementAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateOutsideInterestSupplementAC_p] AS' 
END
GO
ALTER  PROCEDURE [dbo].[InsertUpdateOutsideInterestSupplementAC_p]
(
@PolicyKey INT,
@VersionSequence INT,
@xml XML,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey INT
)
AS
BEGIN
		DELETE FROM OutsideInterestSupp WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

		INSERT INTO OutsideInterestSupp(ClientNameOsi, EntityNameOsi,ClientIndustryOsiKey,PositionHeldOsi,DOInsuranceOsi,PercentEquityInterestofOsi,ServiceIndustryOsiKey,IndividualListedServicesOsi,PolicyKey,
		VersionSequence,CreatedBy,CreatedDate,VersionKey)
		SELECT
			doc.col.value('ClientNameOsi[1]', 'varchar(80)') ClientNameOsi,
			doc.col.value('EntityNameOsi[1]', 'varchar(80)') EntityNameOsi ,
			doc.col.value('ClientIndustryOsiKey[1]', 'INT') ClientIndustryOsiKey ,
			doc.col.value('PositionHeldOsi[1]', 'varchar(80)') PositionHeldOsi,
			doc.col.value('DOInsuranceOsi[1]', 'varchar(15)') DOInsuranceOsi ,
			doc.col.value('PercentEquityInterestofOsi[1]', 'INT') PercentEquityInterestofOsi ,
			doc.col.value('ServiceIndustryOsiKey[1]', 'INT') ServiceIndustryOsiKey,
			doc.col.value('IndividualListedServicesOsi[1]', 'varchar(15)') IndividualListedServicesOsi,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey
				
		FROM @xml.nodes('/Root/Root1') doc(col)
		
		--UPDATE OutsideInterestSupp SET LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey
END





GO
