USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicyLW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RenewPolicyLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicyLW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RenewPolicyLW] AS' 
END
GO
ALTER procedure [dbo].[RenewPolicyLW] 
@PolicyKey int,
@AccountKey int,
@AddressKey int,
@VersionSequence int,
@UserNo int

as begin

declare @PolicyKey_Inserted int
declare @AccountKey_Inserted int
declare @AddressKey_Inserted int
declare @VersionSequence_Inserted int
declare @TransactionSequence_Inserted int
declare @CoverageSequence_Inserted int
declare @AgentName varchar(100)
declare @PolicyEffectiveDate datetime
declare @TransactionEffectiveDate datetime
declare @PolicyExpirationDate datetime
declare @TransactionExpirationDate datetime
declare @maxAccountID int
declare @QuoteNumber varchar(100)
declare @AppCreatedDate datetime
declare @IsFirmHaveLawyersLiabilityInsurance char(20)

declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int

declare @IsClaimExpensesType char(1)
declare @IsClaimOptionType char(1)
declare @IsFirmPracticeInOtherState char(1)
declare @IsProfDefenceExpense char(1)
declare @IsRenewed char
declare @AccountID int

select @IsRenewed=IsRenewed from FirmLW where PolicyKey = @PolicyKey

if(isnull(@IsRenewed,'') != 'Y')
begin 

begin try

print 'Not Renewed'

set @AppCreatedDate = convert(varchar, GETDATE(), 101)

select @AgentName=AgentName from UserDetails where UserNo=@UserNo
select @IsFirmHaveLawyersLiabilityInsurance= ISNULL(IsFirmHaveLawyersLiabilityInsurance,'N') from FirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 
if(@IsFirmHaveLawyersLiabilityInsurance = 'N')
	begin
		set @IsFirmHaveLawyersLiabilityInsurance = 'Y'
	end

select @PolicyEffectiveDate= PolicyExpirationDate,@TransactionEffectiveDate=PolicyExpirationDate,
@PolicyExpirationDate= DATEADD(M,12,PolicyExpirationDate),@TransactionExpirationDate= DATEADD(M,12,TransactionExpirationDate)
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)

select @maxAccountID = AccountID  from Account where AccountKey= @AccountKey

insert into Account (AccountID,AccountName,Website,AccountEmail,AccountVersion)
select @maxAccountID,AccountName,Website,AccountEmail,AccountVersion from Account where AccountKey= @AccountKey

select @AccountKey_Inserted=IDENT_CURRENT('Account')

insert into Address(Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc)
select Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc from Address where AddressKey= @AddressKey

select @AddressKey_Inserted=IDENT_CURRENT('Address')

insert into AccountAddress values(@AccountKey_Inserted,@AddressKey_Inserted)

insert into Policy(PolicyEffectiveDate,AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,InsuredUpdateTimeStamp,AppCreatedDate,RenewOfPolicyNumber)
select @PolicyEffectiveDate,@maxAccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,InsuredUpdateTimeStamp,@AppCreatedDate,PolicyNumber from Policy 
where PolicyKey= @PolicyKey

select @PolicyKey_Inserted=IDENT_CURRENT('Policy')
--set @QuoteNumber = 'QN-000' + @PolicyKey_Inserted
set @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)

update Policy set PolicyStatusKey=2, QuoteNumber=@QuoteNumber where PolicyKey=@PolicyKey_Inserted

---Code paste below
insert into FirmLW(PolicyKey,ContactPerson,ContactPhone,IsPolicyExcludesCoverage,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,
LicenseNumber,YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,
IsFirmProvidedLegalServiceToSecurity,IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromFirstLargestRevenueClient,PercentFromSecondLargestRevenueClient,
ServicesRenderedFirstLargestRevenueClient,ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,
IsFirmCoverageForPreceedorFirms,IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,
IsAttorneyNotCoveredByProfLiability,IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,AttorneyDeclineForProfLiabilityDates,
AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,
IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsFirmMergedWithOtherFirm,IsApplIntToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,
IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,IsQuickQuoteMailSent,
IssuedDate,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,
IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,Is9010Policy,IsSpecialIssuance,SpecialIssuanceComments)


select @PolicyKey_Inserted,ContactPerson,ContactPhone,IsPolicyExcludesCoverage,IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,
LicenseNumber,YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,
IsFirmProvidedLegalServiceToSecurity,IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromFirstLargestRevenueClient,PercentFromSecondLargestRevenueClient,
ServicesRenderedFirstLargestRevenueClient,ServicesRenderedSecondLargestRevenueClient,@IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,
IsFirmCoverageForPreceedorFirms,IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,
IsAttorneyNotCoveredByProfLiability,IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,AttorneyDeclineForProfLiabilityDates,
AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,
IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsFirmMergedWithOtherFirm,IsApplIntToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,
IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,@AgentName,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,IsQuickQuoteMailSent,
IssuedDate,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,
IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,'N',IsSpecialIssuance,SpecialIssuanceComments from FirmLW where PolicyKey= @PolicyKey and VersionSequence=@VersionSequence

select @VersionSequence_Inserted=IDENT_CURRENT('FirmLW')

---Code ended Here

insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,CompanyCode,
ProducerCode,SubInsuranceCarrier)
select @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,2,@PolicyExpirationDate,@TransactionExpirationDate,CompanyCode,
ProducerCode,SubInsuranceCarrier
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey) 

select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')

update PolicyTransaction set StatusKey=1 where PolicyKey = @PolicyKey_Inserted

insert into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,IsDollarDefense)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,IsDollarDefense from PolicyCoverage where PolicyKey = @PolicyKey and 
TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')

select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

------------------------------------------------------------------------
insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,IsQuoteSelected,'Y'
from Quote where PolicyKey = @PolicyKey and
IsThisOptionFinalised='Y'


insert into RatingTrace (PolicyKey,TransactionSequence)
select @PolicyKey_Inserted,@TransactionSequence_Inserted from RatingTrace where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)
------------------------------------------------------------------------
select @IsFirmHaveLawyersLiabilityInsurance= ISNULL(IsFirmHaveLawyersLiabilityInsurance,'N') from FirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 

	if(@IsFirmHaveLawyersLiabilityInsurance = 'N')
	begin
	
		select @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType , @IsProfDefenceExpense=pc.IsDollarDefense from Quote q, PolicyCoverage pc 
		where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

		select @LimitSequencePross=LimitSequence from Limits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=3
		select @DeductibleSequencePross = DeductibleSequence from Deductibles where AggregateDeductible=@AggregateDeductible and CoverageKey=3
		
		insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,IsProfDefenceExpense)
		select @PolicyKey_Inserted,@VersionSequence_Inserted,@PolicyEffectiveDate,(CASE WHEN isNull(@IsClaimExpensesType,'N')='N' THEN 'DR' ELSE 'DA' END),PriorActDatePross,
		(CASE WHEN isnull(@IsClaimOptionType,'N') = 'N' THEN 'PC' ELSE 'AA' END),'N','Crum & Forster',@LimitSequencePross,@DeductibleSequencePross,@IsProfDefenceExpense
		from ProfessionalLiabilityInsDetailLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
		
		update FirmLW set IsPolicyIncludeLateralHireCov = 'N',IsPolicyExcludesCoverage='N'
		where PolicyKey = @PolicyKey_Inserted and VersionSequence = @VersionSequence_Inserted
	end	
	
	if(@IsFirmHaveLawyersLiabilityInsurance = 'Y')
	begin
		insert into ProfessionalLiabilityInsDetailLW (PolicyKey,VersionSequence,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross)
		select @PolicyKey_Inserted,@VersionSequence_Inserted,LimitAmount,DeductibleAmount,DATEADD(M,12,PolicyExpirationDatePross) as PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,FirmYear+1,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross
		from ProfessionalLiabilityInsDetailLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	end

---------------------------------------------
insert into AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPKey,PercentageValue,AOPCommentDesc 
from AreaOfPracticeLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------------------
------------------------ CURSOR FOR COPYING ATTORNEYDETAILSLW DATA ------------------------------
declare @Attorneykey int
DECLARE c1 CURSOR  FOR
select Attorneykey from AttorneyDetailsLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @Attorneykey
while @@FETCH_STATUS=0
begin
	
	begin
		insert into AttorneyDetailsLW(PolicyKey,VersionSequence,AttorneyName,LicensedStates,AnnualWorkedHours,
		NumberOfYearsInPractice,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,LastUpdateUserID,
		LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney) 
		select @PolicyKey_Inserted,@VersionSequence_Inserted,AttorneyName,LicensedStates,AnnualWorkedHours,
		NumberOfYearsInPractice + 1,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
		LastUpdateUserID,LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney from AttorneyDetailsLW
		where Attorneykey=@Attorneykey and PolicyKey=@PolicyKey
		
	end
fetch next from c1 into @Attorneykey
end
close c1
deallocate c1

---------------------------------------------------------------------------------------------

---------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
declare @FirmPracticeLocationKey int
DECLARE c1 CURSOR  FOR
select FirmPracticeLocationKey from FirmPracticeLocationLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @FirmPracticeLocationKey
while @@FETCH_STATUS=0
begin
	
	begin
		insert into FirmPracticeLocationLW(PolicyKey,VersionSequence,FPLAddress,FPLCity,FPLCounty,
		FPLZip,NumberOfAttorneys,NumberOfOtherEmployees,NumberOfBillabeHours,LastUpdateUserID,
		LastUpdateTimeStamp,FPLStateCode,FPLZip4) 
		select @PolicyKey_Inserted,@VersionSequence_Inserted,FPLAddress,FPLCity,FPLCounty,
		FPLZip,NumberOfAttorneys,NumberOfOtherEmployees,NumberOfBillabeHours,
		LastUpdateUserID,LastUpdateTimeStamp,FPLStateCode,FPLZip4 from FirmPracticeLocationLW
		where FirmPracticeLocationKey=@FirmPracticeLocationKey and PolicyKey=@PolicyKey
		
	end
fetch next from c1 into @FirmPracticeLocationKey
end
close c1
deallocate c1

----------------------------------------------------------------------------------------------

------------------------CURSOR FOR COPYING FIRMINITLAWSUITDATA------------------------------------------------------------------------
declare @FirminitLawsuitsKey int
DECLARE c1 CURSOR  FOR
select FirminitLawsuitsKey from FirmInitLawsuitsLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @FirminitLawsuitsKey
while @@FETCH_STATUS=0
begin
	
	begin
		insert into FirmInitLawsuitsLW(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
		IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUpdateUserID,
		LastUpdateTimeStamp) 
		select @PolicyKey_Inserted,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
		IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,
		LastUpdateUserID,LastUpdateTimeStamp  from FirmInitLawsuitsLW
		where FirminitLawsuitsKey=@FirminitLawsuitsKey and PolicyKey=@PolicyKey
		
	end
fetch next from c1 into @FirminitLawsuitsKey
end
close c1
deallocate c1
----------------------------------------------------------------------------------------------

---------------------------------- Copying ProfLiabClaimAgnstFirmLW data-------------------------------------------------------------
declare @ProfLiabClaimAgnstFirmKey int
DECLARE c1 CURSOR  FOR
select ProfLiabClaimAgnstFirmKey from ProfLiabClaimAgnstFirmLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @ProfLiabClaimAgnstFirmKey
while @@FETCH_STATUS=0
begin
	
	begin
		insert into ProfLiabClaimAgnstFirmLW(PolicyKey,VersionSequence,NameOfClaimant,ClaimNotifiedDate,DateOfAllegedError,
		NameOfPersonnelINClaim,DescOfClaim,IsClaimReportedToInsComp,NameOfInsComp,LastUpdateUserID,
		LastUpdateTimeStamp,DateReportedToInsComp,InsurerLoss,ClaimClosingDate,TotalAmountPaid,StepsTakenToPreventClaims,
		ClaimantLastDemand,IsClient,CurrentStatus,IsClaimInSuit) 
		select @PolicyKey_Inserted,@VersionSequence_Inserted,NameOfClaimant,ClaimNotifiedDate,DateOfAllegedError,
		NameOfPersonnelINClaim,DescOfClaim,IsClaimReportedToInsComp,NameOfInsComp,
		LastUpdateUserID,LastUpdateTimeStamp,DateReportedToInsComp,InsurerLoss,ClaimClosingDate,
		TotalAmountPaid,StepsTakenToPreventClaims,ClaimantLastDemand,IsClient,CurrentStatus,IsClaimInSuit  from ProfLiabClaimAgnstFirmLW
		where ProfLiabClaimAgnstFirmKey=@ProfLiabClaimAgnstFirmKey and PolicyKey=@PolicyKey
		
	end
fetch next from c1 into @ProfLiabClaimAgnstFirmKey
end
close c1
deallocate c1

-----------------------------------------------------------------------------------------------
----------------------------------Copy ProdecessorFirmLW data----------------------------------

declare @ProdecessorFirmKey int
DECLARE c1 CURSOR  FOR
select ProdecessorFirmKey from ProdecessorFirmLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @ProdecessorFirmKey
while @@FETCH_STATUS=0
begin
	
	begin
		insert into ProdecessorFirmLW(PolicyKey,VersionSequence,IsERPPurchased,FirmName,TypeOfEntity,
		DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,LastUpdateUserID,
		LastUpdateTimeStamp,ERPExpDate,DateOfAcquisation) 
		select @PolicyKey_Inserted,@VersionSequence_Inserted,IsERPPurchased,FirmName,TypeOfEntity,
		DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
		LastUpdateUserID,LastUpdateTimeStamp,ERPExpDate,DateOfAcquisation from ProdecessorFirmLW
		where ProdecessorFirmKey=@ProdecessorFirmKey and PolicyKey=@PolicyKey
		
	end
fetch next from c1 into @ProdecessorFirmKey
end
close c1
deallocate c1


----------------------------------------Copy GrossRevenueForFirmLW data---------------------------------------------------------
insert into GrossRevenueForFirmLW (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount)
select @PolicyKey_Inserted,@VersionSequence_Inserted,GrossRevenueKey,YearEndDate,Amount from GrossRevenueForFirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


--declare @GrossRevenueKey int
--DECLARE c1 CURSOR  FOR
--select GrossRevenueKey from GrossRevenueForFirmLW where PolicyKey=@PolicyKey
--open c1
--fetch next from c1 into @GrossRevenueKey
--while @@FETCH_STATUS=0
--begin
	
--	begin
--		insert into GrossRevenueForFirmLW(PolicyKey,VersionSequence,YearEndDate,Amount) 
--		select @PolicyKey_Inserted,@VersionSequence_Inserted,YearEndDate,Amount from GrossRevenueForFirmLW
--		where GrossRevenueKey=@GrossRevenueKey and PolicyKey=@PolicyKey
		
--	end
--fetch next from c1 into @GrossRevenueKey
--end
--close c1
--deallocate c1
--------------------------------------Copying RealEstate Supplements Data-----------------------------------------------------------

insert into AreaOfPracticeRealEstateLW (PolicyKey,VersionSequence,AOPREKey,PercentageValue,AOPRECommentDesc)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPREKey,PercentageValue,AOPRECommentDesc 
from AreaOfPracticeRealEstateLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-------------------------------------------------------Copying Plaintiff Supplements Data---------------------------
insert into PlantiffSuppLW (PolicyKey,VersionSequence,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFromOtherFirms,IsSettlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUpdateUserID,LastUpdateTimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByInternet,
PerOfCasesSettledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc)
select @PolicyKey_Inserted,@VersionSequence_Inserted,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio ,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFromOtherFirms,IsSettlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUpdateUserID,LastUpdateTimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByInternet,
PerOfCasesSettledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc
from PlantiffSuppLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


declare @AttorneyInPlaintiffKey int
DECLARE c1 CURSOR  FOR
select AttorneyInPlaintiffKey from AttorneyInPlaintiffForFirmLW where PolicyKey=@PolicyKey
open c1
fetch next from c1 into @AttorneyInPlaintiffKey
while @@FETCH_STATUS=0
begin
	
	begin
		insert into AttorneyInPlaintiffForFirmLW(PolicyKey,VersionSequence,PlaintiffAttorneyName,PlaintiffYrsExp,
		PlaintiffPecOfTimeDev) 
		select @PolicyKey_Inserted,@VersionSequence_Inserted,PlaintiffAttorneyName,PlaintiffYrsExp,
		PlaintiffPecOfTimeDev from AttorneyInPlaintiffForFirmLW
		where AttorneyInPlaintiffKey=@AttorneyInPlaintiffKey and PolicyKey=@PolicyKey
		
	end
fetch next from c1 into @AttorneyInPlaintiffKey
end
close c1
deallocate c1

insert into AreaOfLitigationForFirmLW (PolicyKey,VersionSequence,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc 
from AreaOfLitigationForFirmLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence








-----------------------------------Copying WIllsEstate Supplements Data--------------------------------------------------------
insert into WillsEstateServicesLW (PolicyKey,VersionSequence,WESKey,CheckedValue,WESCommentDesc)
select @PolicyKey_Inserted,@VersionSequence_Inserted,WESKey,CheckedValue,WESCommentDesc 
from WillsEstateServicesLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


insert into WillsTrustsEstateSuppLW (PolicyKey,VersionSequence,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUpdateUserID,LastUpdateTimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFromBank,IsApplCarryEmployeeDishonestyCoverage)
select @PolicyKey_Inserted,@VersionSequence_Inserted,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUpdateUserID,LastUpdateTimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFromBank,IsApplCarryEmployeeDishonestyCoverage
from WillsTrustsEstateSuppLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
------------------------------------------------------------------------------------------------

-----------------Populate Coverage Modifiers--------------------------
insert into CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUpdateTimeStamp,LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence)
select @PolicyKey_Inserted,Comment,@CoverageSequence_Inserted,GETDATE(),@UserNo,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted from CoverageModifiers where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)  


-----------------Populate AdditionalFormDataLW--------------
insert into AdditionalFormDataLW(PolicyKey,PredecessorFirmName_1,PriorActsDate_1,PredecessorFirmName_2,PriorActsDate_2,PredecessorFirmName_3,PriorActsDate_3,
IsPredecessorFormSelected,PersonOrEntity_1,PersonOrEntity_2,PersonOrEntity_3,IsSpecifiedAttorneySelected,IsSpecificProfServicesSelected,DisputeRenderedOnBehalfOf,
ClaimRenderedOnBehalfOf,IsPreviouFirmFormSelected,PreviousFirmName,IsSuitForFeesAction,PreviousAttorneyName_1,PreviousAttorneyName_2,PreviousAttorneyName_3)
select @PolicyKey_Inserted,PredecessorFirmName_1,PriorActsDate_1,PredecessorFirmName_2,PriorActsDate_2,PredecessorFirmName_3,PriorActsDate_3,
IsPredecessorFormSelected,PersonOrEntity_1,PersonOrEntity_2,PersonOrEntity_3,IsSpecifiedAttorneySelected,IsSpecificProfServicesSelected,DisputeRenderedOnBehalfOf,
ClaimRenderedOnBehalfOf,IsPreviouFirmFormSelected,PreviousFirmName,IsSuitForFeesAction,PreviousAttorneyName_1,PreviousAttorneyName_2,PreviousAttorneyName_3
from AdditionalFormDataLW where PolicyKey = @PolicyKey


select @PolicyKey_Inserted as PolicyKey, @VersionSequence_Inserted as VersionSequence, @TransactionSequence_Inserted as TransactionSequence, @CoverageSequence_Inserted as CoverageSequence ,@AccountKey_Inserted as AccountKey,@AddressKey_Inserted as AddressKey
update FirmLW set IsRenewed='Y' where PolicyKey=@PolicyKey
end try
begin catch
print error_message()

rollback 
end catch
end

end

if(isnull(@IsRenewed,'') = 'Y')
begin

begin try
	print 'Already Renewed'
	
	select @AccountID=AccountID from Policy where PolicyKey = @PolicyKey
	select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') and a.AccountID=@AccountID order by  PolicyKey desc
end try
begin catch
print error_message()
rollback 
end catch

end

GO
