USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAopDataACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertAopDataACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAopDataACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertAopDataACC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertAopDataACC_p]
(
	@PolicyKey INT,
	@xml xml,
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN
	
	DELETE FROM SmartSearchValueACC WHERE POLICYKEY=@PolicyKey

			INSERT INTO SmartSearchValueACC(AOPKey, Percentage,PercentageOld,PolicyKey,IsEdit)
			SELECT
					doc.col.value('AOPKey[1]', 'INT') AOPKey,
					doc.col.value('Percentage[1]', 'INT') Percentage, 
					doc.col.value('PercentageOld[1]', 'INT') PercentageOld, 
					doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
					doc.col.value('IsEdit[1]', 'char') IsEdit
			FROM @xml.nodes('/Root/Root1') doc(col)
			
		UPDATE SmartSearchValueACC SET PercentageOld = NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey AND PercentageOld = 0
		UPDATE SmartSearchValueACC SET Percentage = NULL,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey AND Percentage = 0
END




GO
