USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RestToPriorYearsAOP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RestToPriorYearsAOP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RestToPriorYearsAOP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RestToPriorYearsAOP] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--drop procedure ResttoPriorYearsAOP
--exec ResttoPriorYearsAOP 133304 	 	 
--select * from Policy where Policynumber='580-338001-8'
ALTER PROCEDURE [dbo].[RestToPriorYearsAOP]
	(
		@PolicyKey INT,
		@VersionSequence INT,
		@LastUpdateUserID VARCHAR(20),
		@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
--select * from Policy where PolicyKey=133304 	
	DECLARE @PreviousPolicyKey INT,@previousVersionSequence INT,@VersionKey INT,@AcountID INT
	select  @VersionKey=VersionKey,@AcountID=AccountID from Policy WITH (NOLOCK) where PolicyKey=@PolicyKey
	select @PreviousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p WITH (NOLOCK) inner join firmlw f WITH (NOLOCK) on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy  WITH (NOLOCK) where   accountid =@AcountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey

	select @PreviousPolicyKey as PreviousPolicyKey

	DELETE from SmartSearchValue where PolicyKey=@PolicyKey
	
	insert into SmartSearchValue(AOPKey,Percentage,PercentageOld,PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
	select AOPKey,PercentageValue,PercentageValue,@PolicyKey,@LastUpdateUserID,@LastUpdateTimeStamp ,@LastUpdateUserID,@LastUpdateTimeStamp
	 from AreaOfPracticeLW  WITH (NOLOCK) where policykey=@PreviousPolicyKey and VersionSequence=@previousVersionSequence and  PercentageValue>0

	 DELETE from AreaOfPracticeLW where PolicyKey=@PolicyKey

	insert into AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,VersionKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
	select @PolicyKey,@VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp ,@LastUpdateUserID,@LastUpdateTimeStamp
	 From  AreaOfPracticeLW  WITH (NOLOCK) where PolicyKey = @PreviousPolicyKey and VersionSequence= @previousVersionSequence


	 Update FirmLW set LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID,  IsAOPChange = 'N' where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	

END



GO
