USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateAOPFields_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateAOPFields_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateAOPFields_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateAOPFields_p] AS' 
END
GO
ALTER  PROCEDURE [dbo].[InsertUpdateAOPFields_p]
(
@PolicyKey INT,
@VersionSequence INT,
@xml XML
)
AS
BEGIN
		DELETE FROM AreaOfPracticeLW WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

		INSERT INTO AreaOfPracticeLW(AOPKey, PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence)
		SELECT
			doc.col.value('AOPKey[1]', 'INT') AOPKey,
			doc.col.value('PercentageValue[1]', 'INT') PercentageValue ,
			doc.col.value('AOPCommentDesc[1]', 'VARCHAR(100)') AOPCommentDesc ,
			doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			doc.col.value('VersionSequence[1]', 'int') VersionSequence

				
		FROM @xml.nodes('/Root/Root1') doc(col)
			

END

GO
