USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAttorniesData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertAttorniesData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertAttorniesData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertAttorniesData_p] AS' 
END
GO
--exec InsertAttorniesData_p 174024, 150211, 2, '<Root><Root1><AttorneyKey>246557</AttorneyKey><DesignationId>2</DesignationId><LastUpdateTimeStamp>2025-06-12 19:07:16.996</LastUpdateTimeStamp><LastUpdateUserID>1100</LastUpdateUserID><AttorneyName>Attorney1</AttorneyName><combinedStates>AL,CA</combinedStates><CreatedBy></CreatedBy><PriorActDateAttorneysNew></PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>AL,CA</LicensedStates><NumberOfYearsInPractice>20</NumberOfYearsInPractice><VersionSequence>150211</VersionSequence><rownum>1</rownum><PolicyKey>174024</PolicyKey><IsNonRatedAttorney></IsNonRatedAttorney><isSaved>Y</isSaved><AnnualWorkedHours>2000</AnnualWorkedHours><CreatedDate></CreatedDate><AttorneyPriorActDate>01/01/2001</AttorneyPriorActDate><VersionKey>157356</VersionKey></Root1><Root1><AttorneyKey>246558</AttorneyKey><DesignationId>4</DesignationId><LastUpdateTimeStamp>2025-06-12 19:07:16.996</LastUpdateTimeStamp><LastUpdateUserID>1100</LastUpdateUserID><AttorneyName>Attorney2</AttorneyName><combinedStates>AL,AZ,CA</combinedStates><CreatedBy></CreatedBy><PriorActDateAttorneysNew></PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>AL,AZ,CA</LicensedStates><NumberOfYearsInPractice>30</NumberOfYearsInPractice><VersionSequence>150211</VersionSequence><rownum>2</rownum><PolicyKey>174024</PolicyKey><IsNonRatedAttorney></IsNonRatedAttorney><isSaved>Y</isSaved><AnnualWorkedHours>4000</AnnualWorkedHours><CreatedDate></CreatedDate><AttorneyPriorActDate>02/02/2002</AttorneyPriorActDate><VersionKey>157356</VersionKey></Root1></Root>', '1100', '2025-06-12 19:07:16.996'
ALTER PROCEDURE [dbo].[InsertAttorniesData_p]
(
@PolicyKey INT,
@VersionSequence INT,
@addAttorneys INT,
@xml xml,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50)

)
AS
BEGIN
DECLARE @AttorneyCount int=(select count(AttorneyKey) from AttorneyDetailsLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		IF (@AttorneyCount=0 or @AttorneyCount<>@addAttorneys)
		BEGIN
		DELETE FROM AttorneyDetailsLW WHERE POLICYKEY=@PolicyKey
			INSERT INTO AttorneyDetailsLW(AttorneyName, DesignationId, LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,
			PriorActDateAttorneysNew,NumberOfYearsInPractice,IsNonRatedAttorney,PolicyKey,VersionSequence,VersionKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('AttorneyName[1]', 'varchar(100)') AttorneyName,
				doc.col.value('DesignationId[1]', 'int') DesignationId, 
				doc.col.value('LicensedStates[1]', 'varchar(1000)') LicensedStates,
				doc.col.value('AnnualWorkedHours[1]', 'int') AnnualWorkedHours,
				doc.col.value('AttorneyPriorActDate[1]', 'datetime') AttorneyPriorActDate,
				doc.col.value('PriorActDateAttorneysNew[1]', 'datetime') PriorActDateAttorneysNew,
				doc.col.value('NumberOfYearsInPractice[1]', 'int') NumberOfYearsInPractice,
				doc.col.value('IsNonRatedAttorney[1]', 'char') IsNonRatedAttorney,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('VersionKey[1]', 'int') VersionKey,
				doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				doc.col.value('LastUpdateTimeStamp[1]', 'varchar(100)') LastUpdateTimeStamp,
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('AttorneyKey[1]', 'int') AttorneyKey,
				doc.col.value('AttorneyName[1]', 'varchar(100)') AttorneyName,
				doc.col.value('DesignationId[1]', 'int') DesignationId, 
				doc.col.value('LicensedStates[1]', 'varchar(100)') LicensedStates,
				doc.col.value('AnnualWorkedHours[1]', 'int') AnnualWorkedHours,
				doc.col.value('AttorneyPriorActDate[1]', 'datetime') AttorneyPriorActDate,
				doc.col.value('PriorActDateAttorneysNew[1]', 'datetime') PriorActDateAttorneysNew,
				doc.col.value('NumberOfYearsInPractice[1]', 'int') NumberOfYearsInPractice,
				doc.col.value('IsNonRatedAttorney[1]', 'char') IsNonRatedAttorney,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('VersionKey[1]', 'int') VersionKey,
				doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				doc.col.value('LastUpdateTimeStamp[1]', 'varchar(100)') LastUpdateTimeStamp,
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)
			--select * from #temp_xml
			UPDATE adl
			SET
			 adl.AttorneyName =tx.AttorneyName,
			 adl.DesignationId =tx.DesignationId,
			 adl.LicensedStates =tx.LicensedStates,
			 adl.AnnualWorkedHours=tx.AnnualWorkedHours,
			 adl.AttorneyPriorActDate=tx.AttorneyPriorActDate,
			 adl.PriorActDateAttorneysNew=tx.PriorActDateAttorneysNew,
			 adl.NumberOfYearsInPractice=tx.NumberOfYearsInPractice,
			 adl.IsNonRatedAttorney=tx.IsNonRatedAttorney,
			 adl.LastUpdateUserID=tx.LastUpdateUserID,
			 adl.LastUpdateTimeStamp=tx.LastUpdateTimeStamp
			FROM AttorneyDetailsLW adl
			inner join #temp_xml tx 
			on (adl.AttorneyKey=tx.AttorneyKey and adl.PolicyKey=tx.PolicyKey and adl.VersionSequence=tx.VersionSequence)

			--select 'fffg',* from #temp_xml
			INSERT INTO AttorneyDetailsLW(AttorneyName, DesignationId, LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,
			PriorActDateAttorneysNew,NumberOfYearsInPractice,IsNonRatedAttorney,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			Select AttorneyName, DesignationId, LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,
			PriorActDateAttorneysNew,NumberOfYearsInPractice,IsNonRatedAttorney,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate
			from #temp_xml tx where tx.PolicyKey = @PolicyKey and tx.VersionSequence = @VersionSequence and (tx.AttorneyKey is null or tx.AttorneyKey = '')
		END

			--DELETE FROM AttorneyDetailsLW WHERE POLICYKEY=@PolicyKey

			--INSERT INTO AttorneyDetailsLW(AttorneyName, DesignationId, LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,
			--PriorActDateAttorneysNew,NumberOfYearsInPractice,IsNonRatedAttorney,PolicyKey,VersionSequence,VersionKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate)
			--SELECT
			--	doc.col.value('AttorneyName[1]', 'varchar(100)') AttorneyName,
			--	doc.col.value('DesignationId[1]', 'int') DesignationId, 
			--	doc.col.value('LicensedStates[1]', 'varchar(1000)') LicensedStates,
			--	doc.col.value('AnnualWorkedHours[1]', 'int') AnnualWorkedHours,
			--	doc.col.value('AttorneyPriorActDate[1]', 'datetime') AttorneyPriorActDate,
			--	doc.col.value('PriorActDateAttorneysNew[1]', 'datetime') PriorActDateAttorneysNew,
			--	doc.col.value('NumberOfYearsInPractice[1]', 'int') NumberOfYearsInPractice,
			--	doc.col.value('IsNonRatedAttorney[1]', 'char') IsNonRatedAttorney,
			--	doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			--	doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			--	doc.col.value('VersionKey[1]', 'int') VersionKey,
			--	doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
			--	doc.col.value('LastUpdateTimeStamp[1]', 'varchar(100)') LastUpdateTimeStamp,
			--	doc.col.value('CreatedBy[1]', 'int') CreatedBy,
			--	doc.col.value('CreatedDate[1]', 'varchar(100)') CreatedDate
			--FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE POLICY SET isUncompletedData='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@Policykey
			
END





GO
