USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateGovernmentServicesDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateGovernmentServicesDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateGovernmentServicesDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateGovernmentServicesDetails_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateGovernmentServicesDetails_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@providingBondWork CHAR,
	@eminentDomainServices CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@VersionKey INT

)
AS
BEGIN

	IF NOT EXISTS (select GovtServiceKey from GovernmentServicesDetails where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO GovernmentServicesDetails(ServiceName, ServicesProvided,PolicyKey,VersionSequence,
			LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				 doc.col.value('ServiceName[1]', 'VARCHAR(1000)') ServiceName,
				doc.col.value('ServicesProvided[1]', 'VARCHAR(100)') ServicesProvided, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				@LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'int') VersionKey,
				doc.col.value('CreatedBy[1]', 'int') CreatedBy,
				doc.col.value('CreatedDate[1]', 'VARCHAR(100)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('GovtServiceKey[1]', 'INT') GovtServiceKey,
				doc.col.value('ServiceName[1]', 'VARCHAR(1000)') ServiceName,
				doc.col.value('ServicesProvided[1]', 'VARCHAR(100)') ServicesProvided, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE gsd
			SET 
			 gsd.ServiceName =tx.ServiceName,
			 gsd.ServicesProvided =tx.ServicesProvided,
			 gsd.LastUpdateUserID =tx.LastUpdateUserID,
			 gsd.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM GovernmentServicesDetails gsd
			inner join #temp_xml tx 
			on (gsd.GovtServiceKey=tx.GovtServiceKey and gsd.PolicyKey=tx.PolicyKey and gsd.VersionSequence=tx.VersionSequence)
		END


	--DELETE FROM GovernmentServicesDetails WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

			--INSERT INTO GovernmentServicesDetails(ServiceName, ServicesProvided,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp)
			--SELECT
			--	 doc.col.value('ServiceName[1]', 'VARCHAR(1000)') ServiceName,
			--	doc.col.value('ServicesProvided[1]', 'VARCHAR(100)') ServicesProvided, 
			--	doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
			--	doc.col.value('VersionSequence[1]', 'int') VersionSequence,
			--	doc.col.value('LastUpdateUserID[1]', 'int') LastUpdateUserID,
			--	@LastUpdateTimeStamp
			--FROM @xml.nodes('/Root/Root1') doc(col)
			
		DECLARE @Count INT
		select @Count=count(*) from GovernmentSupplementDetailsLW where POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
		if(@Count=0)
		begin
			insert into GovernmentSupplementDetailsLW(providingBondWork,eminentDomainServices,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			values(@providingBondWork,@eminentDomainServices,@PolicyKey,@VersionSequence,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
		end
		if(@Count>0)
		begin
			update GovernmentSupplementDetailsLW set providingBondWork=@providingBondWork,eminentDomainServices=@eminentDomainServices,
			LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
			where  POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence
		end
END



GO
