USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_AboutYou_LW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_AboutYou_LW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_AboutYou_LW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_AboutYou_LW] AS' 
END
GO
--exec UWRules_AboutYou_LW 135015,1,'TestREferrals01 Pobox','04/15/2022',3
ALTER PROCEDURE [dbo].[UWRules_AboutYou_LW]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS BEGIN
SET NOCOUNT ON;
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,	@AccountName varchar(500),	
	@Address1 VARCHAR(100),	@PolicyEffectiveDate DateTime,@previousPolicyKey INT,@previousVersionSequence INT,@prevousAccountName Varchar(500),@aopCount INT=0
	,@attorneyCount int=0
	set @AccountName=(select AccountName from Account where AccountKey=@AccountKey)
	set @Address1=(select Address1 from Address where AddressKey=@AddressKey)
	set @PolicyEffectiveDate=(select PolicyEffectiveDate from Policy where PolicyKey=@PolicyKey)
	SET @daysDifference=(SELECT DATEDIFF(Day,  getdate(),@PolicyEffectiveDate) )

	set @aopCount=(select count(AOPKey) from AreaOfPracticeLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence and PercentageValue>0)
	if(@aopCount is null)
		set @aopCount=0

	set @attorneyCount=(select count(AttorneyKey) from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence )
	if(@attorneyCount is null)
		set @attorneyCount=0

		select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firmlw f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		select top 1 @prevousAccountName=  ac.AccountName from Account ac inner join PolicyTransaction pt on pt.AccountKey=ac.AccountKey where pt.PolicyKey=@previousPolicyKey 

		DECLARE  @TempPolicyList TABLE (Address varchar(500))
		DECLARE @POBoxCoount int
		INSERT into @TempPolicyList(Address) select replace(replace(replace(replace(replace(@Address1,' ',''),'.',''),'-',''),'&',''),'#','')
		set @POBoxCoount=(select count(*)  from @TempPolicyList where address like '%POBOX%' )
	
		set @rule_id='validateFirmAddress_Lawyers'
		if(@POBoxCoount>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The address must be a physical address not a PO box.','In addition to the PO box, get a physical address.',@LastUpdateUserID
		
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='validateSoloAttorneyWithmoreThan4AOPs_Lawyers'
		if(@attorneyCount=1 and @aopCount>3)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Solo Atty with 4+ AOPS.','Outside of ISMIE underwriting authority',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='validateEffectiveDateWithCurrentDateNewBusiness_Lawyers'
		if(@daysDifference<0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The effective date cannot be after the current date.','Date not within approved range.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='validateEffectiveDateWithDaysNewBusiness_Lawyers'
		if(@daysDifference>60)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Effective date cannot be more than 60 days prior to the current date for New Business.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


	END

	IF(@PolicyStatusKey=2)
	BEGIN
			set @rule_id='validateFirmNameChageRenewBusiness_Lawyers'
			if(@AccountName<>@prevousAccountName)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'The firm has changed their name and will need to be reviewed.','',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			set @rule_id='validateEffectiveDateWithDaysReNewBusiness_Lawyers'
			if(@daysDifference<-90)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Effective date cannot be more than 90 days prior to the current date for Renewal.','',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END

GO
