USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkqSearchAccountForAccountantLostWorkq_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[WorkqSearchAccountForAccountantLostWorkq_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkqSearchAccountForAccountantLostWorkq_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[WorkqSearchAccountForAccountantLostWorkq_Proc] AS' 
END
GO
--exec WorkqSearchAccountForAccountantLostWorkq_Proc null,null,null,null,'QN-0068512',null,null,null,null

ALTER PROCEDURE [dbo].[WorkqSearchAccountForAccountantLostWorkq_Proc] 
	    @PolicyEffectiveDate varchar(10) , 
		@PolicyEffectiveDate2 varchar(50), 
	    @NewAppImplementationDate DateTime

 AS BEGIN

declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)


CREATE TABLE #TempPolicyList (
    [PolicyKey] [int] ,
	[PolicyEffectiveDate] [datetime] ,	
	[PolicyNumber] [varchar](20) ,	
	[isUncompletedData] [char](1) ,
	[QuoteNumber] [varchar](20) ,
	[IsFullQuote] [char](1) ,
	[IsQuickQuote] [char](1) ,

	[IsBasicPage] [char](1),
	[IsGeneralPage] [char](1) ,
	[IsSupplementPage] [char](1) ,	
	[IsAttesationPage] [char](1) ,
	[IsComputerServicePage] [char](1) ,
	[IsBusinessFundPage] [char](1) ,
	[IsPracriceMangPage] [char](1) ,	
	[FirstReviewUserID] [varchar](100) ,
	
	[AccountKey] [int] ,
	[AddressKey] [int] ,
	[AccountID] [int] ,
	[AccountName] [varchar](100) ,

	[Address1] [varchar](100) ,
	[StateCode] [varchar](20),
	[StateDesc] [varchar](50),
	[TransactionSequence] [int] ,
	[VersionSequence] [int] ,
	[CoverageSequence] [int] ,

	[PolicyExpirationDate] [datetime] ,

	[Premium] [varchar](25) ,
	[StatusDesc] [varchar](100),
	[StatusKey] [int] ,
	[PolicyStatusKey] [int] ,
	[TransactionTypeKey] [int] ,
	[UserNo] [int] ,
	[AgentName] [varchar](50),
	[FullQuick] [varchar](50),
	[AppDays] int,
	[QuoteSelectedNo] int,
	[ManualQuoteSelectedNo] int,
	[ManualQuoteFinalisedNo] int,
	[IsQuickQuotePage] [char](1),
	[AppCreatedDate] [datetime],
	[RatingTraceSequence] int,
	[IsDollarDefense] [char] (1),
	[MarketableProductKey] int,
	[CoverageKey] int,
	[IsViewed] char(1),
	[CountyDesc] [varchar](50),
	[IsInsuredViewed] char(1),
	[IsRenewed] char(1),
	[CreatedType] varchar(50),
	[IsRenewalReview] char(1),
	[RenewBasicInfoPage] char(1),
	[IsApplicationCompleted] char(1),
	[UWFlagCount] [int],
	[approveSubjective] [int],
	[isPricingApproved] char(1),
	[IsIndicationMailSent] char(1),
	[lostworkqComment] [varchar](100)  ,
	AccountPolicyCount INT,

) 



set @sqlstm = 'select p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
  pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsSupplementPage,f.IsAttesationPage,
  f.IsComputerServicePage,f.IsBusinessFundPage,f.IsPracriceMangPage,f.IsQuickQuotePage,f.FirstReviewUserID , f.VersionSequence,
   pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, f.IsViewed, adds.CountyDesc, f.IsInsuredViewed,
   f.IsRenewed,f.CreatedType,f.IsRenewalReview,f.RenewBasicInfoPage, (select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'')) as [approveSubjective],f.isPricingApproved,f.IsIndicationMailSent,f.lostworkqComment,
(select count(PolicyKey) from Policy Where AccountID=p.AccountID) as AccountPolicyCount
   from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey
    and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
	and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2 
	and  pt.TransactionSequence = pc.TransactionSequence 
	and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) 
	and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey)
	and f.VersionSequence=(select max(versionsequence) from firm where policykey=p.PolicyKey)
	and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='+'''N'''+')and (f.lostworkqComment=''not converted'' or f.lostworkqComment=''never quoted'' or f.lostworkqComment = ''No Response'' or f.lostworkqComment = ''never sent'') and pt.StatusKey in(1,2,9,10,11)'



--if(@PolicyEffectiveDate <> '' )
-- begin
--	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate='''+@PolicyEffectiveDate +''''
-- end

if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
 end

print @sqlstm

Insert into #TempPolicyList(QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,   TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage,IsSupplementPage,IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,IsPracriceMangPage, IsQuickQuotePage, FirstReviewUserID, VersionSequence, CoverageSequence, AppCreatedDate, MarketableProductKey, CoverageKey, IsViewed, CountyDesc, IsInsuredViewed, IsRenewed, CreatedType,IsRenewalReview,RenewBasicInfoPage,UWFlagCount,approveSubjective,isPricingApproved,IsIndicationMailSent,lostworkqComment,AccountPolicyCount) EXECUTE ( @sqlstm)  




DECLARE c1 CURSOR 	FOR
			SELECT  QuoteNumber,FirstReviewUserID,PolicyKey FROM #TempPolicyList  
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey
	WHILE @@FETCH_STATUS = 0
		BEGIN
			set @AgentName = ''
			set @IsApplicationCompleted = ''
			if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
				begin
					select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID					
				end

			set @InvoicedPremium = ''
			select @InvoicedPremium = dbo.getAmountFormat(pt.InvoicedPremium) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @QuoteSelectedNo = count(*) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt, Quote q, RatingTrace rt where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc, Quote q, RatingTrace rt where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			exec CheckIfApplicationIsCompletedAccount @PolicyKey, @IsApplicationCompleted output

			update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName, Premium = @InvoicedPremium, QuoteSelectedNo = @QuoteSelectedNo, ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo, RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense, IsApplicationCompleted=@IsApplicationCompleted where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
			
			FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey
		END


CLOSE c1
DEALLOCATE c1

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>@NewAppImplementationDate

update #TempPolicyList
set IsApplicationCompleted=(SELECT dbo.ValidateFullApplicationACC(nat.PolicyKey))
from #TempPolicyList tpl 
inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey

drop table #NEWAPPTABLE
--UPDATE T1 SET    VersionID = T2.VersionSequence FROM   PolicyTransaction T1 JOIN Firm T2 ON T1.PolicyKey = T2.Policykey Where t1.TransactionTypeKey<6 

--UPDATE T1 SET    VersionID = T2.VersionSequence FROM   PolicyTransaction T1 JOIN FirmLW T2 ON T1.PolicyKey = T2.Policykey Where t1.TransactionTypeKey<6  
--print @sqlstm
select * from #TempPolicyList
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END

GO
