USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAttorneyLicensedStates_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAttorneyLicensedStates_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAttorneyLicensedStates_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAttorneyLicensedStates_p] AS' 
END
GO
--select * from AttorneyDetailsLW where policykey=55407 	 	 	 	
--exec UpdateAttorneyLicensedStates_p 55407 	
ALTER PROCEDURE [dbo].[UpdateAttorneyLicensedStates_p]
(
@PolicyKey INT
)
AS
BEGIN

	CREATE TABLE #TEMPSTATES
	(
		StateCode VARCHAR(20),
		StateDesc VARCHAR(50)
	)
	INSERT INTO #TEMPSTATES  SELECT StateCode,replace(StateDesc,' ','') FROM STATE
	CREATE TABLE #TEMP
	(
		rownum int identity,
		AttorneyKey INT
	)
	DECLARE @Count INT
	DECLARE @InitCount INT
	DECLARE @LoopCounter INT =1
	DECLARE @Attornykey int
	
	INSERT INTO #TEMP SELECT  AttorneyKey FROM AttorneyDetailsLW WHERE PolicyKey=@PolicyKey
	SELECT @Count=count(*)	from 	#TEMP
			
			SET @LoopCounter=1
			WHILE ( @LoopCounter <= @Count)
			BEGIN

			select @Attornykey= AttorneyKey from #TEMP where rownum=@LoopCounter

				update t 
				set t.LicensedStates = (SELECT distinct  cast(STUFF((SELECT distinct cast( ','+cast(sd.StateCode as varchar(8000)) as varchar(8000))                                                 
											FROM #TEMPSTATES sd 
											cross apply dbo.SplitString(replace(t.LicensedStates,' ',''),', ') s 
											inner join AttorneyDetailsLW t1 on t1.AttorneyKey = t.AttorneyKey  --and sd.StateDesc = 
											where s.Items = sd.StateDesc
											FOR XML PATH('')) , 1, 1, '') as varchar(8000)))
				from AttorneyDetailsLW t where t. AttorneyKey = @Attornykey

				set @LoopCounter = @LoopCounter+1
				
			END
			---select * from #TEMPSTATES
			
END

GO
