USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsuranceHistoryAndCoverage]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertInsuranceHistoryAndCoverage]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsuranceHistoryAndCoverage]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertInsuranceHistoryAndCoverage] AS' 
END
GO
--exec InsertInsuranceHistoryAndCoverage  52616,'Y','2017-03-15',5000,'DR',null,'PC',36456,'Y',3333,'Test1004',29,19,3,'Y',79369,78820,29,'N',19,'N','Y'
ALTER PROCEDURE [dbo].[InsertInsuranceHistoryAndCoverage](
@PolicyKey INT,
@IsFirmHaveLawyersLiabilityInsurance VARCHAR(30) = null,
@PolicyExpirationDatePross DATETIME = null,
@ProInsPremium numeric(18,2)  = null,
@IsClaimExpLiability varchar(10) = null,
@PriorActDatePross datetime = null,
@IsPerClaim VARCHAR(10) = null,
@VersionSequence INT = null,
@IsPriorActDateFull CHAR,
@FirmYear INT = null,
@InsuranceCompanyNamePross VARCHAR(100) = null,
@LimitSequencePross INT = null,
@DeductibleSequencePross INT = null,
@LastUpdateUserID INT = null,
@IsProfDefenceExpense CHAR(1) = null,
@TransactionSequence INT=null,
@CoverageSequence INT=NULL,
@LimitSequence INT,
@IsClaimExpensesType VARCHAR(10),
@DeductibleSequence INT,
@IsClaimOptionType VARCHAR(10),
@IsDollarDefense CHAR(1),
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey INT,
@StateDesc VARCHAR(50),
@NevadaDoubleQuoteImplDate DATETIME
)
AS
BEGIN
	Declare @PolicyExpirationDate DATETIME
	DECLARE @AggregateLimit INT
	DECLARE @OccuranceLimit INT
	DECLARE @AggregateDeductible INT
	DECLARE @OccuranceDeductible INT
	DECLARE @Count INT
	DECLARE @TransactionSequenceNVQuote INT
	DECLARE @TransactionSequence_Ins INT
	Declare @AppCreatedDate DATETIME

	IF(@IsFirmHaveLawyersLiabilityInsurance='Y')
	BEGIN
	
		Select @AppCreatedDate=AppCreatedDate from policy where policykey=@PolicyKey
		SELECT @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit FROM limits WHERE LimitSequence=@LimitSequence
		SELECT @AggregateDeductible=AggregateDeductible,@OccuranceDeductible=OccuranceDeductible FROM Deductibles WHERE DeductibleSequence=@DeductibleSequence

		UPDATE PolicyCoverage SET AggregateLimit=@AggregateLimit, OccuranceLimit=@OccuranceLimit,
		AggregateDeductible=@AggregateDeductible, OccuranceDeductible=@OccuranceDeductible,
		IsManualPremium='N',IsClaimExpensesType=@IsClaimExpensesType,IsClaimOptionType=@IsClaimOptionType,
		IsDollarDefense=@IsDollarDefense,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
		WHERE CoverageSequence = @CoverageSequence and TransactionSequence =@TransactionSequence and PolicyKey=@PolicyKey 

		UPDATE FIRMLW  SET IsFirmHaveLawyersLiabilityInsurance=@IsFirmHaveLawyersLiabilityInsurance,IsCoveragePage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey

		UPDATE Quote SET IsFirstQuote='Y',IsQuoteSelected='Y',IsMinimumPremium='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp  WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence

		SELECT @Count=count(*) FROM ProfessionalLiabilityInsDetailLW WHERE policykey=@PolicyKey
		IF(@Count=0)
		BEGIN
		
			INSERT INTO ProfessionalLiabilityInsDetailLW (LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,VersionSequence,IsPriorActDateFull,
			FirmYear,InsuranceCompanyNamePross,LimitSequencePross,PolicyKey,DeductibleSequencePross,LastUpdateUserID,LastUpdateTimeStamp,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate)
			VALUES (NULL,NUll,@PolicyExpirationDatePross,@ProInsPremium,@IsClaimExpLiability,@PriorActDatePross,@IsPerClaim,@VersionSequence,@IsPriorActDateFull,@FirmYear,@InsuranceCompanyNamePross,
			@LimitSequencePross,@PolicyKey,@DeductibleSequencePross,@LastUpdateUserID,@LastUpdateTimeStamp,@IsProfDefenceExpense,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp);
		END
		IF(@Count>0)
		BEGIN
			UPDATE ProfessionalLiabilityInsDetailLW SET PolicyExpirationDatePross=@PolicyExpirationDatePross,ProInsPremium=@ProInsPremium,IsClaimExpLiability=@IsClaimExpLiability,
			PriorActDatePross=@PriorActDatePross,IsPerClaim=@IsPerClaim,IsPriorActDateFull=@IsPriorActDateFull,FirmYear=@FirmYear,InsuranceCompanyNamePross=@InsuranceCompanyNamePross,
			LimitSequencePross=@LimitSequencePross,DeductibleSequencePross=@DeductibleSequencePross,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,
			IsProfDefenceExpense=@IsProfDefenceExpense WHERE policykey=@PolicyKey AND VersionSequence=@VersionSequence
		END

		IF(@StateDesc = 'NV' and @AppCreatedDate >= @NevadaDoubleQuoteImplDate)
		BEGIN
			SELECT @Count=count(*) FROM PolicyTransaction WHERE policykey=@PolicyKey
			IF(@Count=1)
			BEGIN
				insert into PolicyTransaction (PolicyKey, TransactionTypeKey, LastUpdateUserID, LastUpdateTimeStamp, PolicyExpirationDate, AccountKey, 
					ProducerCode, StatusKey, VersionSequence, RecordType, CreatedDate, CreatedBy, VersionKey)
				select PolicyKey, TransactionTypeKey, @LastUpdateUserID, @LastUpdateTimeStamp, PolicyExpirationDate, AccountKey, 
					ProducerCode, StatusKey, VersionSequence, 'I', GetDate(), @LastUpdateUserID, VersionKey 
				from PolicyTransaction WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
				SELECT top 1 @TransactionSequence_Ins=TransactionSequence from PolicyTransaction order by TransactionSequence desc

				insert into PolicyCoverage (PolicyKey, TransactionSequence, MarketableProductKey, CoverageKey,  LastUpdateUserID, LastUpdateTimeStamp, IsClaimOptionType, IsClaimExpensesType, 
					AggregateLimit, OccuranceLimit, OccuranceDeductible, AggregateDeductible, IsDollarDefense, IsManualPremium, RecordType, CreatedDate, CreatedBy)
				select PolicyKey, @TransactionSequence_Ins, MarketableProductKey, CoverageKey, @LastUpdateUserID, @LastUpdateTimeStamp, IsClaimOptionType, Case WHEN (@IsClaimExpensesType = 'N') THEN 'Y' ELSE 'N' END,  
					AggregateLimit, OccuranceLimit, OccuranceDeductible, AggregateDeductible, IsDollarDefense, IsManualPremium, 'I', GetDate(), @LastUpdateUserID 
				from PolicyCoverage WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence

				insert into Quote (PolicyKey, TransactionSequence, IsQuoteSelected, IsFirstQuote, IsMinimumPremium, LastUpdateTimeStamp, LastUpdateUserID, isShowQuote, 
					RecordType, CreatedDate, CreatedBy)
				select PolicyKey,  @TransactionSequence_Ins, IsQuoteSelected, 'N', IsMinimumPremium, @LastUpdateTimeStamp, @LastUpdateUserID, isShowQuote, 
					'I', GetDate(), @LastUpdateUserID 
				from Quote WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence

				insert into RatingTrace (PolicyKey, TransactionSequence, RatingDate, LastUpdateUserID, LastUpdateTimeStamp, 
					RecordType, CreatedDate, CreatedBy)
				select PolicyKey, @TransactionSequence_Ins, RatingDate, @LastUpdateUserID, @LastUpdateTimeStamp, 
					'I', GetDate(), @LastUpdateUserID 
				from RatingTrace WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
			END
			ELSE
			BEGIN

				Select top 1 @TransactionSequenceNVQuote=TransactionSequence from Quote where PolicyKey=@PolicyKey and IsFirstQuote='N'
				order by TransactionSequence

				UPDATE PolicyCoverage set AggregateLimit=@AggregateLimit, OccuranceLimit=@OccuranceLimit, AggregateDeductible=@AggregateDeductible, OccuranceDeductible=@OccuranceDeductible,
				IsManualPremium='N',IsClaimExpensesType=Case WHEN (@IsClaimExpensesType = 'N') THEN 'Y' ELSE 'N' END,IsClaimOptionType=@IsClaimOptionType,IsDollarDefense=@IsDollarDefense,
				LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequenceNVQuote

				UPDATE Quote SET IsFirstQuote='N',IsQuoteSelected='Y',IsMinimumPremium='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp 
				WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequenceNVQuote
			END
		END
	END
END



GO
