USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchLawyersHistory_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchLawyersHistory_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchLawyersHistory_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchLawyersHistory_Proc] AS' 
END
GO

--exec SearchLawyersHistory_Proc 183563,null , 3
ALTER PROCEDURE [dbo].[SearchLawyersHistory_Proc] 
(
                @AccountID varchar(50),
				@ProducerCode varchar(500),
				@role_id varchar(2)

 )              
   
 AS BEGIN

declare  @sqlstm varchar(8000)
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @TransactionSequence int
declare @VersionSequence int

CREATE TABLE #TempPolicyList (
				[SN] [INT] IDENTITY(1,1),
                [PolicyKey] [int] ,
                [PolicyEffectiveDate] [datetime] ,            
                [PolicyNumber] [varchar](100) ,  
                [isUncompletedData] [char](1) ,
                [QuoteNumber] [varchar](20) ,
                [IsFullQuote] [char](1) ,
                [IsQuickQuote] [char](1) ,

                [IsBasicPage] [char](1),
                [IsGeneralPage] [char](1) ,
                [IsEntertainmentPage] [char](1) ,
                [IsTaxPage] [char](1) ,
                [IsEnvironmentalPage] [char](1) ,
                [IsSecuritiesPage] [char](1) ,
                [IsTitlePage] [char](1) ,
                [IsWillsEstatePage] [char](1) ,
                [IsPlaintiffPage] [char](1) ,
                [IsRealEstatePage] [char](1) ,
                [IsFinancialInsPage] [char](1) ,
                [IsIntellectPropPage] [char](1) ,
                [IsCorporatePage] [char](1) ,
                [FirstReviewUserID] [varchar](50) ,
                [AccountKey] [int] ,
                [AddressKey] [int] ,
                [AccountID] [int] ,
                [AccountName] [varchar](100) ,
				 [Address1] [varchar](100) ,
                [StateCode] [varchar](20),
                [StateDesc] [varchar](100),
                [TransactionSequence] [int] ,
                [VersionSequence] [int] ,
                [CoverageSequence] [int] ,
				[PolicyExpirationDate] [datetime] ,
				 [Premium] [varchar](25) ,
                [StatusDesc] [varchar](100),
                [StatusKey] [int] ,
                [PolicyStatusKey] [int] ,
                [TransactionTypeKey] [int] ,
                [UserNo] [int] ,
                [AgentName] [varchar](50),
                [FullQuick] [varchar](50),
                [AppDays] int,
                [CountyDesc] [varchar](50),
                [AppCreatedDate] [datetime] ,
                [IsQuickQuotePage] [char](1),
                [NumberOfLawyers] [int],
                [IsFirmReferred] [char](1),
                [ManualQuoteSelectedNo] int,
                [ManualQuoteFinalisedNo] int,                   
                [RatingTraceSequence] int,
                [IsDollarDefense] [char] (1),
                [IsQuoteViewedByInsured] [char] (1),
                [IsViewed] [char] (1),
                [IsRenewed] char(1),
				[IsRenewalReview] char(1),
				[IsErpEndorsement] char(1),
				[ProducerCode] VARCHAR(50),
				ClaimIcon VARCHAR(100)     ,
				isBrokerPolicy CHAR DEFAULT 'N'  ,
				BrokeragePolicyKey INT ,
				DecendentPolicyKey INT ,
				isRenewAsBrokerage CHAR ,
				CompanyKey INT,
				IsApplicationCompleted char(1),  
				isAppCompleted Char,
				isDecendentPolicyCompleted CHAR,
				LOBDesc VARCHAR(100),     
				MinTransactionSequence INT,
				QuoteType VARCHAR(100),
				isBridgeApp CHAR 
        ) 
DECLARE @Company varchar(100)
if(@Company is null or  @Company='')
	begin
		exec  @Company= dbo.UserLoginSecurity_p @role_id
		if(@Company='0' or @role_id='8')
				set @Company=null
	end
	--select  @Company
set @sqlstm = 'select case when c.Code is not null and c.Code <>'''' then  p.quotenumber+'' (''+c.Code+'')'' else p.quotenumber end as quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
(CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,f.IsSecuritiesPage,f.IsTitlePage,
f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,f.FirstReviewUserID , f.VersionSequence,
 pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,
 f.IsRenewalReview,pt.ProducerCode ,(select top 1 pl.PolicyKey from Policy pl where AccountID=a.AccountID and pl.PolicyKey>p.PolicyKey order by pl.PolicyKey) as DecendentPolicyKey,p.CompanyKey,f.isAppCompleted,f.isAppCompleted,''LPL'',
 (select min(TransactionSequence) from Policytransaction with (nolock) where Policykey=p.PolicyKey) as MinTransactionSequence,QuoteType

 from Policy p with (nolock)
  inner join  FirmLW f with (nolock) on f.PolicyKey = p.PolicyKey
  inner join  PolicyTransaction pt with (nolock) on pt.PolicyKey=f.PolicyKey
  inner join   Account a with (nolock) on a.AccountKey =pt.AccountKey 
 inner join  AccountAddress aa with (nolock) on aa.AccountKey=a.AccountKey
 inner join  Address adds with (nolock)  on adds.AddressKey=aa.AddressKey
 left join Status s with (nolock) on pt.StatusKey=s.StatusKey
 inner join PolicyCoverage pc with (nolock) on pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence
 left join Company c on c.CompanyKey=p.CompanyKey

 where
    pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
    and pt.PolicyKey in (select PolicyKey from Policy with (nolock) where isUncompletedData='+'''N'''+') 
	and f.versionsequence=(select max(versionsequence) from FirmLW with (nolock) where policykey=f.policykey)
	 and a.AccountID='+@AccountID+' '

if(@Company is not null and @Company <>'')
begin
	set  @sqlstm = @sqlstm + ' and p.CompanyKey in('''+@Company+''')'
											
end
begin
		set  @sqlstm = @sqlstm + ' group by c.Code, p.quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote,p.IsFullQuote, p.InsuredUpdateTimeStamp, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,  
	  pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, adds.Address1,p.PolicyStatusKey,s.StatusDesc,pt.StatusKey,
	  p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,f.IsSecuritiesPage,f.IsTitlePage,
f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,f.FirstReviewUserID , f.VersionSequence,
 pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,
 f.IsRenewalReview,pt.ProducerCode ,p.CompanyKey,f.isAppCompleted,f.isAppCompleted,QuoteType order by p.PolicyKey asc'
end



print @sqlstm


Insert into #TempPolicyList(QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,   
TransactionSequence, PolicyExpirationDate,  AccountID, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage,
 IsEntertainmentPage,IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,
 FirstReviewUserID,VersionSequence,CoverageSequence,AppCreatedDate, CountyDesc,IsQuickQuotePage,NumberOfLawyers,IsFirmReferred,IsQuoteViewedByInsured,IsViewed,IsRenewed,IsRenewalReview,
 ProducerCode,DecendentPolicyKey,CompanyKey,IsApplicationCompleted,isAppCompleted,LOBDesc,MinTransactionSequence,QuoteType)
 EXECUTE ( @sqlstm)  

DECLARE c1 CURSOR       FOR
                            SELECT  QuoteNumber,FirstReviewUserID,PolicyKey FROM #TempPolicyList  
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID,@PolicyKey
                WHILE @@FETCH_STATUS = 0
                                BEGIN
                                                set @AgentName = ''
                                                
                                                if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
                                                                begin
                                                                                select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID                                                                      
                                                                end
                                                
                                                                                                set @InvoicedPremium = ''
                                                                                                select @InvoicedPremium = dbo.getAmountFormat(pt.InvoicedPremium) from PolicyTransaction pt with (nolock), Quote q with (nolock) where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                                                                
                                                                                                
                                                                                                select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc with (nolock), Quote q with (nolock) where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
                                                                                                select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc with (nolock), Quote q with (nolock) where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                                                                
                                                                                                select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt with (nolock), Quote q with (nolock), RatingTrace rt with (nolock) where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                                                                select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc with (nolock), Quote q with (nolock), RatingTrace rt with (nolock) where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
                                                
                                                update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName, Premium = @InvoicedPremium ,ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo, RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
                                                                        
                                                FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID,@PolicyKey
                                END


CLOSE c1
DEALLOCATE c1
--print @sqlstm
--Declare c1 cursor for
--	select PolicyKey,TransactionSequence,VersionSequence from #TempPolicyList
	
	declare @IsErpEndorsement char,@DecendentPolicyKey INT,@DecendentPolicyKeyStatus INT,@StatusKey INT,@isRenewAsBrokerage CHAR,@IsRenewed CHAR,@isDecendentPolicyCompleted char
	DECLARE @Premium varchar(100),@InitTransactionSequence INT,@InitPremium Numeric(17,2),@PolicyPerAccountCount INT,@PLPOlicyCount INT
	DECLARE @PreviousInvoicedPremium Numeric(10,2),@PresentInvoicedPremium Numeric(10,2),@PreviousFinalTransaction INT
	DECLARE @P_TotalPremium NUMERIC(17,2),@P_TotalPolicyTaxAmount numeric(17,2),@QuoteType Varchar(100)
	Declare c1 cursor for
	select PolicyKey,TransactionSequence,VersionSequence,AccountID,Premium,StatusKey,MinTransactionSequence,IsRenewed,DecendentPolicyKey,QuoteType from #TempPolicyList

	   
	set @InvoicedPremium = ''
	OPEN c1
	FETCH NEXT FROM c1 into @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Premium,@StatusKey,@InitTransactionSequence,@IsRenewed,@DecendentPolicyKey,@QuoteType		
	WHILE @@FETCH_STATUS = 0
		begin
		if(@QuoteType is not null and @QuoteType='BRG')
			update #TempPolicyList set isBridgeApp='Y' where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		 else
			  update #TempPolicyList set isBridgeApp='N' where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		set @IsErpEndorsement='N'
	
	set @P_TotalPremium=0.0
		set @P_TotalPolicyTaxAmount=0.0
			SET @isDecendentPolicyCompleted=(select top 1 CASE when isAppCompleted is not null then isAppCompleted else 'N' End from FirmLW WITH(NOLOCK) where Policykey=@DecendentPolicyKey)
			
				
		If Exists(select top 1 PolicyKey from EndorsementDetails  where PolicyKey=@PolicyKey)
		begin
		Print 'hi'
				select top 1 @PreviousFinalTransaction=PreviousFinalizedTransactionSequence 	from EndorsementDetails WITH(NOLOCK) where PolicyKey=@PolicyKey
				select @P_TotalPremium=TotalPremium,@P_TotalPolicyTaxAmount=TotalPolicyTaxAmount,@PreviousInvoicedPremium=InvoicedPremium from PolicyTransaction WITH(NOLOCK) where PolicyKey=@PolicyKey and TransactionSequence=@PreviousFinalTransaction
				DECLARE @PremiumVariation Numeric(17,2)=0.0,@TaxVariation Numeric(17,2)=0.0
				DECLARE @P1 NUMERIC(17,2)=0.0,@T1 NUMERIC(17,2)=0.0,@EndorsementInvoicedPremium Numeric(17,2)
					DECLARE cursor10 CURSOR FOR   select PremiumVariation,TaxVariation from EndorsementDetails WITH(NOLOCK) where PolicyKey=@PolicyKey   and isFinancialEndirsement='Y'              
					OPEN cursor10;

					FETCH NEXT FROM cursor10 INTO  @PremiumVariation,@TaxVariation
					WHILE @@FETCH_STATUS = 0
						BEGIN
							--select @PremiumVariation,@TaxVariation
							set @P1=@P1+@PremiumVariation
							SET @T1=@T1+@TaxVariation
							FETCH NEXT FROM cursor10 INTO @PremiumVariation,@TaxVariation
						END;

					CLOSE cursor10;

					DEALLOCATE cursor10;
					set @EndorsementInvoicedPremium=@P1+@T1
			
				update #TempPolicyList set Premium = dbo.getAmountFormat(@PreviousInvoicedPremium+@EndorsementInvoicedPremium)  where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence
			
			If Exists(select * from PolicyTransaction pt WITH(NOLOCK) where pt.PolicyKey=@PolicyKey and pt.TransactionTypeKey=16)
						begin

								DECLARE @AttorneyCount INT
								DECLARE @isDeathDisabilityERP CHAR
								DECLARE @isFirmERP CHAR
								DECLARE @isAttorneyRetiring CHAR

								Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails WITH(NOLOCK) where Policykey=@PolicyKey

								SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW WITH(NOLOCK) where Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey))
								
								if(@AttorneyCount=1 and (@isFirmERP='Y' or @isAttorneyRetiring='Y' OR @isDeathDisabilityERP='Y'))
								begin
									 set @IsErpEndorsement='Y'
									
								end
								
							
				        end
			end




				if(@StatusKey=6 and @IsRenewed is null)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else if(@StatusKey=6 and @IsRenewed='Y')	
					begin
					--print 'HI2'
						Set @DecendentPolicyKeyStatus=(select top 1 statuskey from PolicyTransaction where PolicyKey=@DecendentPolicyKey)

						--select @PolicyKey as PolicyKey,@DecendentPolicyKey as DecendentPolicyKey,@DecendentPolicyKeyStatus as DecendentPolicyStatus
						if(@DecendentPolicyKeyStatus=4)
							set @isRenewAsBrokerage='Y'
						else 
							set @isRenewAsBrokerage='N'
					end	
				else if(@StatusKey=1 or @StatusKey=2 or @StatusKey=3 or @StatusKey=7 or @StatusKey=9 or @StatusKey=10)
					begin 
						set @isRenewAsBrokerage='Y'
					end
				else
					set @isRenewAsBrokerage='N'
				--update #TempPolicyList set  where PolicyKey= @PolicyKey
			
				update #TempPolicyList set isDecendentPolicyCompleted=@isDecendentPolicyCompleted,IsErpEndorsement=@IsErpEndorsement,isRenewAsBrokerage=@isRenewAsBrokerage,ClaimIcon=(SELECT dbo.ValidateClaimsLW(@PolicyKey,@AccountID)) where PolicyKey= @PolicyKey 		
			FETCH NEXT FROM c1 into  @PolicyKey,@TransactionSequence,@VersionSequence,@AccountID,@Premium,@StatusKey,@InitTransactionSequence,@IsRenewed,@DecendentPolicyKey,@QuoteType	
		end
		CLOSE c1
		DEALLOCATE c1

		if(@role_id <> 4)
		begin
			INSERT INTO #TempPolicyList(AccountID,PolicyNumber,BrokeragePolicyKey,PolicyEffectiveDate,PolicyExpirationDate,AccountName,StatusDesc,StateDesc,AppCreatedDate,FullQuick,Premium,FirstReviewUserID,AgentName,
			isBrokerPolicy,IsQuickQuote,IsFullQuote,StatusKey,LOBDesc)
			Select AccountID,BrokeredPolicyNumber,BrokeragePolicyKey,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,

			(CASE bkl.TransactionTypeKey WHEN '2'
		   THEN CASE isNull(bkl.ProducerCode,'') WHEN '' 
					THEN st.StatusDesc_Brokerage + '(R)'
					ELSE st.StatusDesc_Brokerage + '(R) (P)' END 
				ELSE CASE isNull(bkl.ProducerCode,'') WHEN ''
				THEN  st.StatusDesc_Brokerage
				ELSE  st.StatusDesc_Brokerage + '(P)' END
				  END) as StatusDesc_Brokerage,
			
						
			
			
			s.StateDesc,bkl.CreatedDate,'Brokerage',dbo.getAmountFormat(Premium),bkl.CreatedBy,ud.AgentName,'Y','N','Y',bkl.StatusKey,lb.LOBDesc_Brokerage
			from BrokerageLW bkl
			 left join Status st on st.StatusKey=bkl.StatusKey
			 left join State s on s.StateCode=bkl.State
			 left join UserDetails ud on  ud.UserNo=bkl.CreatedBy
			 LEFT JOIN LOB lb on lb.LOBKey=bkl.LOBKey
			where AccountID=@AccountID and UPPER(bkl.isArchived)=UPPER('False')
		end


		if(@ProducerCode!=null or @ProducerCode!='')
		begin
			select * from #TempPolicyList where ProducerCode=@ProducerCode
		end
		Else
		Begin
			select * from #TempPolicyList
		END

drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END
























GO
