USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_AuditSupp_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_AuditSupp_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_AuditSupp_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_AuditSupp_ACC] AS' 
END
GO
--exec [UWRules_AuditSupp_ACC] 136436, 137827, 89687, 136620, 30655, 2, '3'
ALTER PROCEDURE [dbo].[UWRules_AuditSupp_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@priorYearTotalFirmPersonnel INT,@previousPolicyKey INT,@previousVersionSequence INT
	Declare @FirmRenderedAuditAtt INT,@IsPublicTradedAudited CHAR,@IsFirmHaveAWrittenPolicyAtt CHAR,@TotalFirmPersonnel INT,@IsSecondPartnerReviewAtt Char,@IsAuditEngagementsAtt CHAR,@IsAualityReviewAtt CHAR,@IsLastPeerReviewAtt CHAR,
	@IsSyndicationManagers CHAR ,@IsDebtOrEquityFinancing CHAR,@banksLendingInstitutions INT,@brokersDealers INT,@insuranceCompanies INT,@investmentCompaniesFunds INT
	
	select @FirmRenderedAuditAtt=FirmRenderedAuditAtt,@IsFirmHaveAWrittenPolicyAtt=IsFirmHaveAWrittenPolicyAtt,@IsSecondPartnerReviewAtt=IsSecondPartnerReviewAtt,@IsAuditEngagementsAtt=IsAuditEngagementsAtt
	,@IsAualityReviewAtt=IsAualityReviewAtt,@IsLastPeerReviewAtt=IsLastPeerReviewAtt,@IsLastPeerReviewAtt=IsLastPeerReviewAtt
	 from Attestation where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	select @IsPublicTradedAudited=IsPublicTradedAudited,@TotalFirmPersonnel=TotalFirmPersonnel,@IsSyndicationManagers=IsSyndicationManagers,@IsDebtOrEquityFinancing=IsDebtOrEquityFinancing 
	from firm where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	--select  @daysDifference

	set @banksLendingInstitutions=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=2)
	set @brokersDealers=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=3)
	set @insuranceCompanies=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=9)
	set @investmentCompaniesFunds=(select AuditClients from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and ClientIndustryKey=10)
	
	
	
	IF(@PolicyStatusKey=1)
	BEGIN

		set @rule_id='banksBrokersInsuranceCompaniesInvestmentCompanies_Accountant'
		if(@banksLendingInstitutions>0 or @brokersDealers>0 or @insuranceCompanies>0 or @investmentCompaniesFunds>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Audit - non public - Firm does work for  Banks, Lending Institutions, Broker/Dealers, Insurance Companies, Investment companies & Funds, or Publically Traded companies. These are ouside of our authority.','Audit Non Public - If Banks and Lending Institutions. Broker/Dealers, Insurance Companies, Investment companies, or Publically Traded companies, it must be referred to ISMIE and will most likely be a decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id


		set @rule_id='howManyClientsFirmRenderedAuditAttestation_Accountant'
		if(@FirmRenderedAuditAtt>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Audit or attest services for clients that have subsequently declared or filed bankruptcy, defaulted on a debt obligation, or became insolvent.','Audit or attest services for clients that have subsequently declared or filed bankruptcy, defaulted on a debt obligation, or became insolvent. Determine what the firm''s audit opinion was prior to the client filing bankruptcy or became insolvent. How long has the firm  had the client?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='isPublicTradedAuditedReferral_Accountant'
		if(@IsPublicTradedAudited='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Audits of SEC regulated entities. - Decline.','Audit of SEC regulated entites.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='auditRelatedCPETraining_Accountant'
		if(@IsFirmHaveAWrittenPolicyAtt='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm does not have a written policy on audit-related CPE training, including required courses and CPE hours per year specific to audit services.','Firm performing audit should have specific CPE training geared to audit services. Find out why not.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='doesSecondPartnerReviewAuditWorkpapers_Accountant'
		if(@TotalFirmPersonnel>1 and @IsSecondPartnerReviewAtt='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm provides audit services with no partner review.','Firm provides audit services with no partner review. Need to understand the nature of the audits the firm is doing.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
	
		set @rule_id='doesSecondPartnerCommitteeApproveSignOof_Accountant'
		if(@TotalFirmPersonnel>1 and @IsAuditEngagementsAtt='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Multi partner firm accepting audit engagments with no partner review.','Multi partner firm accepting audit engagments with no partner review. Need to understand the nature of the audits the firm is doing.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmUndergonePeerQualityReview_Accountant'
		if( @IsAualityReviewAtt='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'No peer review in the past 3 years.','No peer review in the past 3 years.  Determine why the firm has not had a peer review.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmlastpeerreviewmodifiedqualified_Accountant'
		if( @IsLastPeerReviewAtt='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Peer review modified, qualified, or adverse.','Peer review modified, qualified, or adverse.  Review description and determine if procedures have been put in place to correct deficiencies.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

			
END

	IF(@PolicyStatusKey=2)
	BEGIN
		--select @previousPolicyKey=p.policykey ,@previousVersionSequence=max(f.VersionSequence) FROM policy p inner join firm f on p.policykey=f.policykey	where p.PolicyKey in (select MAX(PolicyKey) From policy where   accountid=@AccountID AND policynumber is not null and  PolicyKey<@PolicyKey ) group by f.VersionSequence,p.policykey
		--Select @priorYearTotalFirmPersonnel=TotalFirmPersonnel from Firm where PolicyKey=@previousPolicyKey and VersionSequence=@previousVersionSequence
		
		print 'Renewal Flow'
		--select @banksLendingInstitutions,@brokersDealers,@insuranceCompanies,@investmentCompaniesFunds
		set @rule_id='banksBrokersInsuranceCompaniesInvestmentCompaniesRenew_Accountant'
		if(@banksLendingInstitutions>0 or @brokersDealers>0 or @insuranceCompanies>0 or @investmentCompaniesFunds>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Audit - non public - Firm does work for  Banks, Lending Institutions, Broker/Dealers, Insurance Companies, Investment companies & Funds, or Publically Traded companies. These are ouside of our authority.','Audit Non Public - If Banks and Lending Institutions. Broker/Dealers, Insurance Companies, Investment companies, or Publically Traded companies, it must be referred to ISMIE and will most likely be a decline.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmlastpeerreviewmodifiedqualified_Accountant'
		if( @FirmRenderedAuditAtt>0)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Audit or attest services for clients that have subsequently declared or filed bankruptcy, defaulted on a debt obligation, or became insolvent.','Audit or attest services for clients that have subsequently declared or filed bankruptcy, defaulted on a debt obligation, or became insolvent.  Determine what the firm''s audit opinion was prior to the client filing bankruptcy or became insolvent.  How long has the firm  had the client?',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
		set @rule_id='hasFirmUndergonePeerQualityReviewRenew_Accountant'
		if( @IsAualityReviewAtt='N')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'No peer review in the past 3 years.','No peer review in the past 3 years. Determine why the firm has not had a peer review.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmlastpeerreviewmodifiedqualifiedRenew_Accountant'
		if( @IsLastPeerReviewAtt='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Peer review modified, qualified, or adverse.','Peer review modified, qualified, or adverse.  Review description and determine if procedures have been put in place to correct deficiencies.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='investmentFundsHedgeFundsMutualFunds_Accountant'
		if( @IsSyndicationManagers='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm provided services to investment funds, hedge funds, mutual funds or syndication managers? - Decline.','Firm provided services to investment funds, hedge funds, mutual funds or syndication managers?  Outside of our underwriting authority.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='hasFirmArrangedFinancingBusinessBrokerOfferingPublicPrivateSecurities_Accountant'
		if( @IsDebtOrEquityFinancing='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Firm arranged debt or equity financing, acted as a business broker, underwritten the offering of public or private securities, or prepared fairness opinions?  Decline.','Firm arranged debt or equity financing, acted as a business broker, underwritten the offering of public or private securities, or prepared fairness opinions? Outside UW Authority.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END





GO
