USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateMorePracticeManagement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateMorePracticeManagement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateMorePracticeManagement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateMorePracticeManagement_p] AS' 
END
GO
-- exec UpdateMorePracticeManagement_p 82438, 'N', 'N', 'N', 'N', 'N', null, 'N', null, null, null, null, null, null, null, null, null, null, null, null, 3, '2019-05-14 20:09:52.679'
ALTER PROCEDURE [dbo].[UpdateMorePracticeManagement_p](
@PolicyKey INT,
@IsFirmProvideInvestmentAdvice CHAR,
@IsFirmHaveClientMoreThan25PercentOfBilling	CHAR,
@IsFirmHaveClientInEntertainmentInd CHAR,
@IsFirmProvidedLegalService CHAR,
@IsAppOfficeSharedWithAttorney CHAR,
@FirmInvestmentAdviceDesc VARCHAR(500),
@isServedAsCEOChairmanPresident CHAR,
@IsFirmProvidedLegalServiceDesc varchar(200),
@ClientNameFirstLargestRevenueClient VARCHAR(500),
@ServicesRenderedFirstLargestRevenueClient VARCHAR(500),
@PercentFromFirstLargestRevenueClient INT,
@DateRenderedFirstLargestRevenueClient INT,
@ClientNameSecondLargestRevenueClient VARCHAR(500),
@ServicesRenderedSecondLargestRevenueClient VARCHAR(500),
@PercentFromSecondLargestRevenueClient INT,
@DateRenderedSecondLargestRevenueClient INT,
@actAgentForPublicFigures CHAR,
@provideProfessionalContract CHAR,
@provideMoneyManagementServices CHAR,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50)
)
AS
DECLARE @Count int
BEGIN

	if(@FirmInvestmentAdviceDesc != '' AND @FirmInvestmentAdviceDesc is not NULL)
	set @FirmInvestmentAdviceDesc = REPLACE(@FirmInvestmentAdviceDesc, '''', '''''');
	
	if(@IsFirmProvidedLegalServiceDesc != '' AND @IsFirmProvidedLegalServiceDesc is not NULL)
	set @IsFirmProvidedLegalServiceDesc = REPLACE(@IsFirmProvidedLegalServiceDesc, '''', '''''');
	
	if(@ClientNameFirstLargestRevenueClient != '' AND @ClientNameFirstLargestRevenueClient is not NULL)
	set @ClientNameFirstLargestRevenueClient = REPLACE(@ClientNameFirstLargestRevenueClient, '''', '''''');
	
	if(@ServicesRenderedFirstLargestRevenueClient != '' AND @ServicesRenderedFirstLargestRevenueClient is not NULL)
	set @ServicesRenderedFirstLargestRevenueClient = REPLACE(@ServicesRenderedFirstLargestRevenueClient, '''', '''''');
	
	if(@ClientNameSecondLargestRevenueClient != '' AND @ClientNameSecondLargestRevenueClient is not NULL)
	set @ClientNameSecondLargestRevenueClient = REPLACE(@ClientNameSecondLargestRevenueClient, '''', '''''');
	
	if(@ServicesRenderedSecondLargestRevenueClient != '' AND @ServicesRenderedSecondLargestRevenueClient is not NULL)
	set @ServicesRenderedSecondLargestRevenueClient = REPLACE(@ServicesRenderedSecondLargestRevenueClient, '''', '''''');
	
	IF(@IsFirmProvideInvestmentAdvice is NULL )
	BEGIN
		SET @IsFirmProvideInvestmentAdvice = ''
	END
	IF(@IsFirmHaveClientMoreThan25PercentOfBilling is NULL )
	BEGIN
		SET @IsFirmHaveClientMoreThan25PercentOfBilling = ''
	END
	IF(@IsFirmHaveClientInEntertainmentInd is NULL )
	BEGIN
		SET @IsFirmHaveClientInEntertainmentInd = ''
	END
	IF(@IsFirmProvidedLegalService is NULL )
	BEGIN
		SET @IsFirmProvidedLegalService = ''
	END
	IF(@IsAppOfficeSharedWithAttorney is NULL )
	BEGIN
		SET @IsAppOfficeSharedWithAttorney = ''
	END
	IF(@isServedAsCEOChairmanPresident is NULL )
	BEGIN
		SET @isServedAsCEOChairmanPresident = ''
	END
	IF(@ClientNameSecondLargestRevenueClient is NULL )
	BEGIN
		SET @ClientNameSecondLargestRevenueClient = ''
	END
	IF(@ServicesRenderedSecondLargestRevenueClient is NULL )
	BEGIN
		SET @ServicesRenderedSecondLargestRevenueClient = ''
	END
	IF(@ClientNameFirstLargestRevenueClient is NULL )
	BEGIN
		SET @ClientNameFirstLargestRevenueClient = ''
	END
	IF(@ServicesRenderedFirstLargestRevenueClient is NULL )
	BEGIN
		SET @ServicesRenderedFirstLargestRevenueClient = ''
	END
	IF(@FirmInvestmentAdviceDesc is NULL )
	BEGIN
		SET @FirmInvestmentAdviceDesc = ''
	END
	IF(@IsFirmProvidedLegalServiceDesc is NULL )
	BEGIN
		SET @IsFirmProvidedLegalServiceDesc = ''
	END
	IF(@actAgentForPublicFigures is NULL )
	BEGIN
		SET @actAgentForPublicFigures = ''
	END
	IF(@provideProfessionalContract is NULL )
	BEGIN
		SET @provideProfessionalContract = ''
	END
	IF(@provideMoneyManagementServices is NULL )
	BEGIN
		SET @provideMoneyManagementServices = ''
	END
	Declare @FIRMLWSQL VARCHAR(4000);

	SET @FIRMLWSQL = 'UPDATE FIRMLW SET ';
	  
	SET @FIRMLWSQL = @FIRMLWSQL + 'IsPracticePage = ''Y'', ';
	
	SET @FIRMLWSQL = @FIRMLWSQL + 'IsFirmProvideInvestmentAdvice = ''' + @IsFirmProvideInvestmentAdvice + ''', IsFirmHaveClientMoreThan25PercentOfBilling = ''' + @IsFirmHaveClientMoreThan25PercentOfBilling + ''', IsFirmHaveClientInEntertainmentInd = ''' + @IsFirmHaveClientInEntertainmentInd + ''', IsFirmProvidedLegalService = ''' + @IsFirmProvidedLegalService + ''', IsAppOfficeSharedWithAttorney = ''' + @IsAppOfficeSharedWithAttorney + ''', FirmInvestmentAdviceDesc= ''' + @FirmInvestmentAdviceDesc + ''', isServedAsCEOChairmanPresident= ''' + @isServedAsCEOChairmanPresident + ''', IsFirmProvidedLegalServiceDesc= ''' + @IsFirmProvidedLegalServiceDesc + ''', ';
	
	IF(@IsFirmHaveClientMoreThan25PercentOfBilling = 'Y')
	BEGIN
		SET @FIRMLWSQL = @FIRMLWSQL + 'ClientNameFirstLargestRevenueClient = ''' + @ClientNameFirstLargestRevenueClient + ''', ServicesRenderedFirstLargestRevenueClient = ''' + @ServicesRenderedFirstLargestRevenueClient + ''', ';
		
		IF(@PercentFromFirstLargestRevenueClient != '' AND @PercentFromFirstLargestRevenueClient is not NULL )
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'PercentFromFirstLargestRevenueClient = ''' + CONVERT(varchar(10),@PercentFromFirstLargestRevenueClient) + ''', ';
		END
		ELSE
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'PercentFromFirstLargestRevenueClient = '''', ';
		END
		
		IF(@DateRenderedFirstLargestRevenueClient != '' AND @DateRenderedFirstLargestRevenueClient is not NULL )
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'DateRenderedFirstLargestRevenueClient = ''' + CONVERT(varchar(10),@DateRenderedFirstLargestRevenueClient) + ''', ';
		END
		ELSE
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'DateRenderedFirstLargestRevenueClient = '''', ';
		END
		
		SET @FIRMLWSQL = @FIRMLWSQL + 'ClientNameSecondLargestRevenueClient = ''' + @ClientNameSecondLargestRevenueClient + ''', ServicesRenderedSecondLargestRevenueClient = ''' + @ServicesRenderedSecondLargestRevenueClient + ''', ';
		
		IF(@PercentFromSecondLargestRevenueClient != '' AND @PercentFromSecondLargestRevenueClient is not NULL )
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'PercentFromSecondLargestRevenueClient = ''' + CONVERT(varchar(10),@PercentFromSecondLargestRevenueClient) + ''', ';
		END
		ELSE
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'PercentFromSecondLargestRevenueClient = '''', ';
		END
		
		IF(@DateRenderedSecondLargestRevenueClient != '' AND @DateRenderedSecondLargestRevenueClient is not NULL )
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'DateRenderedSecondLargestRevenueClient = ''' + CONVERT(varchar(10),@DateRenderedSecondLargestRevenueClient) + ''', '; 
		END
		ELSE
		BEGIN
			SET @FIRMLWSQL = @FIRMLWSQL + 'DateRenderedSecondLargestRevenueClient = '''', ';
		END
	END
	
	IF(@IsFirmHaveClientInEntertainmentInd = 'Y')
	BEGIN
		SET @FIRMLWSQL = @FIRMLWSQL + 'actAgentForPublicFigures = ''' + @actAgentForPublicFigures + ''', provideProfessionalContract = ''' + @provideProfessionalContract + ''', provideMoneyManagementServices = ''' + @provideMoneyManagementServices + ''', ';
	END
	
	SET @FIRMLWSQL = @FIRMLWSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ',LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	print(@FIRMLWSQL);
	
	EXECUTE(@FIRMLWSQL);

	--UPDATE FIRMLW SET IsFirmProvideInvestmentAdvice=@IsFirmProvideInvestmentAdvice,IsFirmHaveClientMoreThan25PercentOfBilling=@IsFirmHaveClientMoreThan25PercentOfBilling,IsFirmHaveClientInEntertainmentInd=@IsFirmHaveClientInEntertainmentInd,
	--		IsFirmProvidedLegalService=@IsFirmProvidedLegalService,IsAppOfficeSharedWithAttorney=@IsAppOfficeSharedWithAttorney,IsPracticePage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,
	--		FirmInvestmentAdviceDesc=@FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident=@isServedAsCEOChairmanPresident,IsFirmProvidedLegalServiceDesc=@IsFirmProvidedLegalServiceDesc
	--		WHERE policykey=@PolicyKey


	--		UPDATE FIRMLW SET ClientNameFirstLargestRevenueClient=@ClientNameFirstLargestRevenueClient,
	--				ServicesRenderedFirstLargestRevenueClient=@ServicesRenderedFirstLargestRevenueClient,
	--				PercentFromFirstLargestRevenueClient=@PercentFromFirstLargestRevenueClient,
	--				DateRenderedFirstLargestRevenueClient=@DateRenderedFirstLargestRevenueClient,
	--				ClientNameSecondLargestRevenueClient=@ClientNameSecondLargestRevenueClient,
	--				ServicesRenderedSecondLargestRevenueClient=@ServicesRenderedSecondLargestRevenueClient,
	--				PercentFromSecondLargestRevenueClient=@PercentFromSecondLargestRevenueClient,
	--				DateRenderedSecondLargestRevenueClient=@DateRenderedSecondLargestRevenueClient,
	--				LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
	--		WHERE PolicyKey=@PolicyKey



	--		UPDATE FIRMLW SET actAgentForPublicFigures=@actAgentForPublicFigures,
	--				provideProfessionalContract=@provideProfessionalContract,
	--				provideMoneyManagementServices=@provideMoneyManagementServices,
	--				LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
	--		WHERE PolicyKey=@PolicyKey
	
END





GO
