USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RESETFlagsLawyers_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RESETFlagsLawyers_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RESETFlagsLawyers_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RESETFlagsLawyers_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[RESETFlagsLawyers_p]
(
@PolicyKey INT,
@ruleId VARCHAR(100)
)
AS
BEGIN
	DECLARE @count int
	DECLARE @RulePolicyId int
	SELECT @count=count(*) from RulePolicyTransaction WHERE PolicyKey=@PolicyKey and RuleId=@ruleId and isArchived='NO'
	SELECT @RulePolicyId=RulePolicyId from RulePolicyTransaction WHERE PolicyKey=@PolicyKey and RuleId=@ruleId and isArchived='NO'
	--select @count
	IF(@count>0)
	BEGIN
		UPDATE RulePolicyTransaction set isArchived='YES',LastUpdateTimeStamp=GETDATE() where RulePolicyId=@RulePolicyId and PolicyKey=@PolicyKey
	END
END


GO
