USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IssuePolicyUpdateStateus_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[IssuePolicyUpdateStateus_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IssuePolicyUpdateStateus_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[IssuePolicyUpdateStateus_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[IssuePolicyUpdateStateus_p] (
@PolicyKey INT,
@VersionSequence INT,
@PolicyNumber VARCHAR(20),
@UserNo VARCHAR(50)
)
	
AS
BEGIN
	IF(@PolicyNumber is not null)
	BEGIN
		UPDATE Policy SET PolicyNumber=@PolicyNumber,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@UserNo  WHERE PolicyKey=@PolicyKey
		UPDATE PolicyTransaction SET StatusKey=6,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@UserNo  where PolicyKey=@PolicyKey 
		--UPDATE Firm SET IssuedDate= CONVERT(VARCHAR(10), SYSDATETIME(), 110) ,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@USERNO  where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		DECLARE @MarketableProductKey INT=(Select MarketableProductKey from Policy where PolicyKey=@PolicyKey)
		IF(@MarketableProductKey=1)
		BEGIN
			UPDATE Firm SET IssuedDate= CONVERT(VARCHAR(10), SYSDATETIME(), 110) ,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@USERNO  where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
		IF(@MarketableProductKey=2)
		BEGIN
			UPDATE Firmlw SET IssuedDate= CONVERT(VARCHAR(10), SYSDATETIME(), 110) ,LastUpdateTimeStamp=GETDATE(),LastUpdateUserID=@USERNO  where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		END
	END
END



GO
