USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountWithSameEmail]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchAccountWithSameEmail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchAccountWithSameEmail]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchAccountWithSameEmail] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SearchAccountWithSameEmail]
	@AccountKey int
	
AS
BEGIN

declare @AccountEmail varchar(200)

select @AccountEmail=AccountEmail from Account where AccountKey = @AccountKey

select a.AccountEmail,a.LoginID,p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN 'Y' THEN 'FullQuote' ELSE 'QuickQuote' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN '2' 
   THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
			THEN s.StatusDesc + '(R)'
			ELSE s.StatusDesc + '(R) (P)' END 
		ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + '(P)' END
		  END) as StatusDesc, (case when f.IsRegistrationPage = 'Y' then 'Yes' else 'No' end) as IsRegistered,
pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsEntertainmentPage,f.IsTaxPage,f.IsEnvironmentalPage,f.IsSecuritiesPage,f.IsTitlePage,f.IsWillsEstatePage,f.IsPlaintiffPage,f.IsRealEstatePage,f.IsFinancialInsPage,f.IsIntellectPropPage,f.IsCorporatePage,f.FirstReviewUserID , f.VersionSequence, pc.CoverageSequence, p.AppCreatedDate,  adds.CountyDesc,f.IsQuickQuotePage, f.NumberOfLawyers, f.IsFirmReferred,f.IsQuoteViewedByInsured,f.IsViewed,f.IsRenewed,f.IsRenewalReview from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey  and p.PolicyStatusKey=pt.TransactionTypeKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey=2 and pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N')
and (a.AccountEmail=@AccountEmail or a.LoginID = @AccountEmail)
END

GO
