USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateWillsTrustProbationSupplmentData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateWillsTrustProbationSupplmentData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateWillsTrustProbationSupplmentData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateWillsTrustProbationSupplmentData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateWillsTrustProbationSupplmentData_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@IsAttorneyServeAsExecutorTrustee CHAR,
	@inPurchaseSaleSecurities CHAR,
	@willEstatesHandledPastYear INT,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50),
	@ActingAsTrustee CHAR,
	@beneficiaryInterestWillsTrust CHAR,
	@CertifiedInvestmentDecisions CHAR,
	@VersionKey INT
) 
AS
BEGIN
	DECLARE @Count INT

	IF NOT EXISTS (select WESKey from WillsEstateServicesLW where PolicyKey=@PolicyKey and VersionSequence = @VersionSequence)
		BEGIN
			INSERT INTO WillsEstateServicesLW(WESKey, PercentageValue,WESCommentDesc,PolicyKey,VersionSequence,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
			SELECT
				doc.col.value('WESKey[1]', 'INT') WESKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('WESCommentDesc[1]', 'VARCHAR(1000)') WESCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID, @LastUpdateTimeStamp,
				doc.col.value('VersionKey[1]', 'INT') VersionKey,
				doc.col.value('CreatedBy[1]', 'INT') CreatedBy, 
				doc.col.value('CreatedDate[1]', 'VARCHAR(1000)') CreatedDate
			FROM @xml.nodes('/Root/Root1') doc(col)
		END
	ELSE
		BEGIN
			
			SELECT
				doc.col.value('WESKey[1]', 'INT') WESKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('WESCommentDesc[1]', 'VARCHAR(1000)') WESCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID LastUpdateUserID, 
				@LastUpdateTimeStamp LastUpdateTimeStamp
			INTO #temp_xml
			FROM @xml.nodes('/Root/Root1') doc(col)

			UPDATE wes
			SET 
			 wes.PercentageValue =tx.PercentageValue,
			 wes.WESCommentDesc =tx.WESCommentDesc,
			 wes.LastUpdateUserID =tx.LastUpdateUserID,
			 wes.LastUpdateTimeStamp =tx.LastUpdateTimeStamp
			FROM WillsEstateServicesLW wes
			inner join #temp_xml tx 
			on (wes.WESKey=tx.WESKey and wes.PolicyKey=tx.PolicyKey and wes.VersionSequence=tx.VersionSequence)
		END


		
		SELECT @Count=count(*) FROM WillsTrustsEstateSuppLW WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		IF(@Count>0)
		BEGIN
			UPDATE WillsTrustsEstateSuppLW SET IsAttorneyServeAsExecutorTrustee=@IsAttorneyServeAsExecutorTrustee,
				inPurchaseSaleSecurities=@inPurchaseSaleSecurities,willEstatesHandledPastYear=@willEstatesHandledPastYear,
				LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,ActingAsTrustee=@ActingAsTrustee,beneficiaryInterestWillsTrust=@beneficiaryInterestWillsTrust,CertifiedInvestmentDecisions=@CertifiedInvestmentDecisions
			WHERE PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence
		END
		IF(@Count=0)
		BEGIN
			INSERT INTO WillsTrustsEstateSuppLW(PolicyKey,VersionSequence,IsAttorneyServeAsExecutorTrustee,inPurchaseSaleSecurities,willEstatesHandledPastYear,
			LastUpdateUserID,LastUpdateTimeStamp,ActingAsTrustee,beneficiaryInterestWillsTrust,CertifiedInvestmentDecisions,VersionKey,CreatedBy,CreatedDate)
			VALUES(@PolicyKey,@VersionSequence,@IsAttorneyServeAsExecutorTrustee,@inPurchaseSaleSecurities,@willEstatesHandledPastYear,
			@LastUpdateUserID,@LastUpdateTimeStamp,@ActingAsTrustee,@beneficiaryInterestWillsTrust,@CertifiedInvestmentDecisions,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
		END
		UPDATE FIRMLW SET IsWillsEstatePage='Y', LastUpdateUserID=@LastUpdateUserID, LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE  PolicyKey=@PolicyKey AND VersionSequence=@VersionSequence		
END




GO
