USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAllCommentList_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetAllCommentList_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAllCommentList_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetAllCommentList_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[GetAllCommentList_p]
(
@PolicyKey int,
@RuleId varchar(150)
)
AS
BEGIN
	 select RuleCommnetId,comment,(select agentname from userdetails where userno=ActionTakenBy) as UploadedBy,ActionTakenBy,CONVERT(VARCHAR(40),TimeStamp,120) as TimeStamp from rulecomment  where rulepolicyid in (SELECT rulepolicyid FROM RulePolicyTransaction WHERE  policykey=@Policykey and ruleid=@RuleId) order by TimeStamp
END
GO
