USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAttorneyData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetAttorneyData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetAttorneyData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetAttorneyData_p] AS' 
END
GO
--exec GetAttorneyData_p 87035 	
ALTER PROCEDURE [dbo].[GetAttorneyData_p]
(
@PolicyKey Int
)
AS
BEGIN
	CREATE TABLE #Temp
	(
	rownum INT,
	AttorneyKey INT,
	AttorneyName VARCHAR(100),
	DesignationId INT,
	LicensedStates VARCHAR(200),
	AnnualWorkedHours INT,
	AttorneyPriorActDate DATETIME,
	PriorActDateAttorneysNew DATETIME,
	NumberOfYearsInPractice INT,
	IsNonRatedAttorney CHAR,
	isSaved CHAR,
	combinedStates VARCHAR(200),
	isAttorneyEndorsed char,
	VersionKey INT,
	CreatedBy INT,
	CreatedDate DateTime
	)
	DECLARE @isSaved CHAR='Y'
	DECLARE @VersionSequence INT
	
	SET @VersionSequence=(select max(VersionSequence) FROM AttorneyDetailsLW WITH (NOLOCK) WHERE PolicyKey=@PolicyKey)
	INSERT INTO #Temp(rownum,AttorneyKey,AttorneyName,DesignationId,LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,PriorActDateAttorneysNew,
	NumberOfYearsInPractice,IsNonRatedAttorney,isSaved,combinedStates,isAttorneyEndorsed,VersionKey,CreatedBy,CreatedDate)

	SELECT row_number() OVER(order by AttorneyKey) as rownum,AttorneyKey,AttorneyName,DesignationId,LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,
	PriorActDateAttorneysNew,NumberOfYearsInPractice,
	(CASE WHEN IsNonRatedAttorney='' OR  IsNonRatedAttorney IS NULL THEN 'N'  ELSE IsNonRatedAttorney END) as NonRatedAttorney,
	@isSaved,LicensedStates as combinedStates,isAttorneyEndorsed,VersionKey,CreatedBy,CreatedDate
	FROM AttorneyDetailsLW WITH (NOLOCK) WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and isAttorneyEndorsed<>'Y'
	--Print @VersionSequence
	SELECT * FROM #Temp
END





GO
