USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyExtentionDateValidationLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PolicyExtentionDateValidationLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyExtentionDateValidationLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[PolicyExtentionDateValidationLW_p] AS' 
END
GO
--exec PolicyExtentionDateValidationLW_p '2020-01-05','2019-01-01'
ALTER PROCEDURE [dbo].[PolicyExtentionDateValidationLW_p]
(
@PolicyExpirationDate DATE,
@PolicyExtendExpirationDate	DATE
)
AS
BEGIN
	DECLARE @PolicyExtensionLimitDate DATETIME=(SELECT DATEADD(month, 6, @PolicyExpirationDate))
	--SELECT @PolicyExtendExpirationDate,@PolicyExtensionLimitDate
	DECLARE @ErrorMessage VARCHAR(800)='NO ERROR';
	IF(@PolicyExtendExpirationDate>@PolicyExtensionLimitDate)
	BEGIN
		SET @ErrorMessage='New policy expiration date can''t exceed six months to current expiration date'
	END
	IF(@PolicyExtendExpirationDate<@PolicyExpirationDate)
	BEGIN
		SET @ErrorMessage='Requested policy expiration date can''t be less than of current policy expiration date'
	END
	SELECT @ErrorMessage as ErrorMessage,convert(varchar(20),@PolicyExtendExpirationDate,101) as policyExtendExpirationDate,convert(varchar(20),@PolicyExpirationDate,101) as PolicyExpirationDate
END

GO
