USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_Accountant_NA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetRenewalReminderList_Accountant_NA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_Accountant_NA]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetRenewalReminderList_Accountant_NA] AS' 
END
GO





--exec GetRenewalReminderList_Accountant

--select * from RenewalTable order by days policyexpirationdate desc
--delete from RenewalTable

ALTER PROCEDURE [dbo].[GetRenewalReminderList_Accountant_NA]
	
AS
BEGIN



	

select pt.ProducerCode,DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, 
convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate into #temp_renewal from Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  and 
pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y'  and



--for below 30days
--pt.PolicyExpirationDate > CONVERT(VARCHAR(10),GETDATE(),110) and 
--pt.PolicyExpirationDate < = CONVERT(VARCHAR(10),DATEADD(dd,21,GETDATE()),110) 
--for 23 to 30 days 
--pt.PolicyExpirationDate >  CONVERT(VARCHAR(10),DATEADD(dd,23,GETDATE()),110) and 
--pt.PolicyExpirationDate <=   CONVERT(VARCHAR(10),DATEADD(dd,30,GETDATE()),110) 
--for 38 to 45 days 
--pt.PolicyExpirationDate >  CONVERT(VARCHAR(10),DATEADD(dd,38,GETDATE()),110) and 
--pt.PolicyExpirationDate <= CONVERT(VARCHAR(10),DATEADD(dd,45,GETDATE()),110) 
--For 53 days and 60 days
--pt.PolicyExpirationDate >  CONVERT(VARCHAR(10),DATEADD(dd,53,GETDATE()),110) and 
--pt.PolicyExpirationDate <= CONVERT(VARCHAR(10),DATEADD(dd,60,GETDATE()),110) 
--for 83 days and 90 days
pt.PolicyExpirationDate >  CONVERT(VARCHAR(10),DATEADD(dd,83,GETDATE()),110) and 
pt.PolicyExpirationDate <= CONVERT(VARCHAR(10),DATEADD(dd,90,GETDATE()),110) 

--select tr.* from #temp_renewal tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null 

select pt.ProducerCode,DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, 
convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate, convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate into #temp_renewal_1 from Policy p,  Account a,   Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2  and 
pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 and


--for less than 21 days 
--pt.PolicyExpirationDate >   CONVERT(VARCHAR(10),DATEADD(dd,366,GETDATE()),110) and 
--pt.PolicyExpirationDate < =  CONVERT(VARCHAR(10),DATEADD(dd,386,GETDATE()),110) 
--for 23 to 30 days 
--pt.PolicyExpirationDate >   CONVERT(VARCHAR(10),DATEADD(dd,388,GETDATE()),110) and 
--pt.PolicyExpirationDate <= CONVERT(VARCHAR(10),DATEADD(dd,395,GETDATE()),110)
--for 38 to 45 days 
--pt.PolicyExpirationDate >   CONVERT(VARCHAR(10),DATEADD(dd,403,GETDATE()),110) and 
--pt.PolicyExpirationDate <=   CONVERT(VARCHAR(10),DATEADD(dd,410,GETDATE()),110)
--for 53 to 60 days
--pt.PolicyExpirationDate >   CONVERT(VARCHAR(10),DATEADD(dd,418,GETDATE()),110) and 
--pt.PolicyExpirationDate < =  CONVERT(VARCHAR(10),DATEADD(dd,425,GETDATE()),110) 
--for 83 to 90 days
pt.PolicyExpirationDate >   CONVERT(VARCHAR(10),DATEADD(dd,448,GETDATE()),110) and 
pt.PolicyExpirationDate < =  CONVERT(VARCHAR(10),DATEADD(dd,455,GETDATE()),110) 

--select tr.* from #temp_renewal_1 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null 



declare @PolicyKey int
declare @IsCompletedApplication char(1) = 'N'

declare c1 cursor for
	select PolicyKey from #temp_renewal_1
	OPEN c1
		FETCH NEXT FROM c1 into @PolicyKey	
		WHILE @@FETCH_STATUS = 0
			BEGIN
			set @IsCompletedApplication = 'N'
			exec CheckIfApplicationIsCompletedAccount @PolicyKey,@IsCompletedApplication output
			print '@IsCompletedApplication  ' + @IsCompletedApplication

			if(@IsCompletedApplication = 'Y')
				delete from #temp_renewal_1 where PolicyKey = @PolicyKey

		FETCH NEXT FROM c1 into @PolicyKey

		END
	close c1
	deallocate c1

insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate) 
select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate from #temp_renewal tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null 

insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate) 
select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate from #temp_renewal_1 tr left join SubProducer_lku sp on sp.ProducerCode = tr.ProducerCode where sp.IsSendRenewalEmail='Y' or tr.ProducerCode is null 

drop table #temp_renewal
drop table #temp_renewal_1
	
END



GO
