USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PriorYearAopData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PriorYearAopData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PriorYearAopData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[PriorYearAopData_p] AS' 
END
GO
--exec PriorYearAopData_p 62197

ALTER PROCEDURE [dbo].[PriorYearAopData_p]
(
@PolicyKey INT
)
AS
BEGIN
	DECLARE @PreviousPolicykey INT
	
		--SELECT  @PreviousPolicykey=p.policykey   FROM policy p inner join PolicyTransaction f on p.policykey=f.policykey 
		--WHERE p.PolicyKey in (SELECT MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey )
		--AND policynumber is not null)
		select @PreviousPolicykey=max(p.policykey) from policy p WITH (NOLOCK) inner join Firmlw f WITH (NOLOCK)  on p.PolicyKey=f.policykey
		inner join PolicyTransaction pt WITH (NOLOCK)  on p.policykey=pt.policykey
		where p.AccountID in(SELECT accountid FROM policy WITH (NOLOCK)  WHERE policykey=@PolicyKey ) and f.IsRenewed='Y' and p.PolicyNumber is NOT NULL and p.PolicyKey<@PolicyKey
		
		PRINT @PreviousPolicykey
		--SELECT aop.Aopdescnew as AOPDesc, smv.Percentage as priorYearPercentage FROM SmartSearchValue smv inner join AOPLw aop on smv.AOPKey=aop.AOPKey   WHERE PolicyKey=@PreviousPolicykey order by aop.Aopdescnew
		CREATE TABLE #Temp
		(
		DisplaySequence INT,
		SmartSearchID INT,
		AOPKey	INT,
		AopDesc VARCHAR(100),
		Percentage	INT,
		PolicyKey INT
		)	
	
		INSERT INTO #Temp (DisplaySequence,SmartSearchID,AopDesc,AOPKey,Percentage,PolicyKey)
		SELECT  row_number() over(order by SmartSearchID) as rownum ,SmartSearchID,aop.AOPDescNew as AopDesc,aop.AOPKey,Percentage,PolicyKey FROM SmartSearchValue sm WITH (NOLOCK)  
		Inner Join AOPLW aop WITH (NOLOCK)  on sm.AOPKey=aop.AOPKey WHERE PolicyKey=@PreviousPolicykey order by  AopDesc
		--select ss.Aopkey as Aopkey,AOPDescNew as AOPDesc,ss.percentage as percentage from SmartSearchValue ss left join AOPLW al on al.AOPKey=ss.AOPkey where ss.policykey=#PolicyKey#  order by AOPDesc
		UPDATE #Temp SET DisplaySequence=1000 WHERE AOPKey=25

		SELECT  SmartSearchID,DisplaySequence,Aopkey, AOPDesc as DescAOP,percentage as priorYearPercentage,PolicyKey FROM #Temp   
		ORDER BY DisplaySequence
END


GO
