USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePolicyCoverageAC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdatePolicyCoverageAC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePolicyCoverageAC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdatePolicyCoverageAC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[UpdatePolicyCoverageAC_p](
@PolicyKey INT,
@LimitSequence INT,
@IsClaimExpensesType VARCHAR(10),
@DeductibleSequence INT,
@IsClaimOptionType VARCHAR(10),
@TransactionSequence INT,
@CoverageSequence INT,
@IsFirmHaveLawyersLiabilityInsurance CHAR(1),
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50),
@VersionKey INT
)
AS
BEGIN

	--Declare @PolicyExpirationDate DATETIME
	DECLARE @AggregateLimit INT
	DECLARE @OccuranceLimit INT
	DECLARE @AggregateDeductible INT
	DECLARE @OccuranceDeductible INT
	DECLARE @PolicyEffectiveDate DATETIME
	DECLARE @Count INT
	DECLARE @VersionSequence INT
			Select @PolicyEffectiveDate=PolicyEffectiveDate from policy where policykey=@PolicyKey
			Select @AggregateLimit=AggregateLimit,@OccuranceLimit=OccuranceLimit FROM Limits WHERE LimitSequence=@LimitSequence
			select @AggregateDeductible=AggregateDeductible,@OccuranceDeductible=OccuranceDeductible from Deductibles where DeductibleSequence=@DeductibleSequence
			select @PolicyEffectiveDate as PolicyEffectiveDate,@AggregateLimit as AggregateLimit,@OccuranceLimit as OccuranceLimit,@AggregateDeductible as AggregateDeductible,@OccuranceDeductible as OccuranceDeductible
			SELECT @VersionSequence=versionsequence from firm where policykey=@PolicyKey
			UPDATE PolicyCoverage set AggregateLimit=@AggregateLimit, OccuranceLimit=@OccuranceLimit, AggregateDeductible=@AggregateDeductible, OccuranceDeductible=@OccuranceDeductible,
			 IsManualPremium='N',IsClaimExpensesType=@IsClaimExpensesType,IsClaimOptionType=@IsClaimOptionType,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where CoverageSequence = @CoverageSequence and TransactionSequence =@TransactionSequence and PolicyKey=@PolicyKey 
				 
			DELETE FROM ProfessionalLiabilityInsDetail where policykey=@PolicyKey
	
			UPDATE firm  SET IsFirmHaveLawyersLiabilityInsurance=@IsFirmHaveLawyersLiabilityInsurance,IsCoveragePage='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey
			--update PolicyTransaction set PolicyExpirationDate=@LastUpdateTimeStamp,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID   where PolicyKey=@PolicyKey
			UPDATE Quote SET IsFirstQuote='Y',IsQuoteSelected='Y',IsMinimumPremium='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence
		
			SELECT @Count=count(*) FROM ProfessionalLiabilityInsDetail WHERE policykey=@PolicyKey

			IF(@Count=0)
			BEGIN
		
				 INSERT INTO ProfessionalLiabilityInsDetail(PriorActDatePross,VersionSequence,PolicyKey,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate,VersionKey)
				VALUES(@PolicyEffectiveDate,@VersionSequence,@PolicyKey,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey);
				
			END

	END




GO
