USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FillQuoteExpiryDateLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FillQuoteExpiryDateLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FillQuoteExpiryDateLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FillQuoteExpiryDateLW_p] AS' 
END
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--drop procedure  FillQuoteExpiryDate
--exec FillQuoteExpiryDateLW_p 110702 	
ALTER PROCEDURE [dbo].[FillQuoteExpiryDateLW_p](
@PolicyKey INT
)
AS
BEGIN
	
	SET NOCOUNT ON;

DECLARE @QuoteEffectiveDate DATETIME,@QuoteExpirationDate DATETIME,@PolicyEffectivedate DATETIME,@QuoteEffectiveDateUpdated DATETIME,@daysDiff INT
SET @QuoteEffectiveDate=(SELECT GETDATE())
SET @PolicyEffectiveDate=(Select PolicyEffectiveDate from Policy where Policykey=@Policykey)
--set @PolicyEffectivedate='2020-07-10 00:00:00.000'
SET @QuoteEffectiveDateUpdated=(SELECT DATEADD(month, 2, @QuoteEffectiveDate))
 SET @daysDiff= (SELECT DATEDIFF(DAY, @PolicyEffectiveDate,@QuoteEffectiveDateUpdated))
-- select @QuoteEffectiveDateUpdated as QuoteEffectiveDateUpdated,@PolicyEffectiveDate as PolicyEffectiveDate,@daysDiff as DaysDiff
 if(@daysDiff<=0)
 BEGIN
	set @QuoteExpirationDate=@QuoteEffectiveDateUpdated
 END
 ELSE
 Begin
	set @QuoteExpirationDate=@PolicyEffectivedate
 END

 select  convert(varchar, @QuoteExpirationDate, 101) as QuoteExpiryDate

END


GO
