USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OffRiskLawyers_proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[OffRiskLawyers_proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OffRiskLawyers_proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[OffRiskLawyers_proc] AS' 
END
GO
--exec OffRiskLawyers_proc '01/18/2018','01/31/2018',''
ALTER PROCEDURE [dbo].[OffRiskLawyers_proc]
(
	@PolicyExpirationDate_From VARCHAR(100),
	@PolicyExpirationDate_To VARCHAR(100),
	@StatusKey int
)
AS
BEGIN
	
	IF(@PolicyExpirationDate_From = '' or @PolicyExpirationDate_From is null )
	BEGIN
		set	@PolicyExpirationDate_From =CONVERT(VARCHAR(10),GETDATE(),110)
	END
	IF(@PolicyExpirationDate_To = ''  or @PolicyExpirationDate_To is null)
	BEGIN
		set @PolicyExpirationDate_To=CONVERT(VARCHAR(10),DATEADD(dd,14,GETDATE()),110)
	END

	
	CREATE table #offriskdata
		(
		IsOffRiskLetterUploaded varchar(30),
		QuoteNumber varchar(50),
		StatusDesc varchar(50),
		ProducerCode varchar(50),	
		Days int,
		PolicyKey	int,
		ContactPerson varchar(100),	
		AccountName	varchar(100),
		AccountEmail varchar(100),	
		PolicyEffectiveDate datetime,	
		PolicyExpirationDate datetime
		)
		
			insert into #offriskdata SELECT f.IsOffRiskLetterUploaded ,p.QuoteNumber,
			
			--(SELECT StatusDesc FROM Status WHERE StatusKey =  pt.StatusKey) AS StatusDesc,
			(CASE p.PolicyStatusKey WHEN '2'
			THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
			THEN s.StatusDesc + '(R)'
			ELSE s.StatusDesc + '(R) (P)' END 
			ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
			THEN  s.StatusDesc
			ELSE  s.StatusDesc + '(P)' END
			END) as StatusDesc,

			pt.ProducerCode,DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) AS Days,
			p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, p.PolicyEffectiveDate,
			CONVERT(VARCHAR(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate FROM Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
			PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
			and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and 
			pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(SELECT MIN(TransactionSequence) FROM PolicyTransaction  WHERE PolicyKey=p.PolicyKey) and 
			pc.CoverageSequence=(SELECT min(CoverageSequence)FROM PolicyCoverage WHERE PolicyKey=p.PolicyKey) and   pt.PolicyKey in
			(SELECT PolicyKey FROM Policy WHERE isUncompletedData='N') 
			and ISNULL(f.IsRenewed,'') != 'Y' and pt.StatusKey in (6) and ISNULL(f.IsRenewalReview,'') != 'Y'  and
			pt.PolicyExpirationDate >= @PolicyExpirationDate_From and pt.PolicyExpirationDate <=  @PolicyExpirationDate_To 
			
			UNION
			
			SELECT f.IsOffRiskLetterUploaded, p.QuoteNumber,
			
			--(SELECT StatusDesc FROM Status WHERE StatusKey =  pt.StatusKey) AS StatusDesc,
			(CASE p.PolicyStatusKey WHEN '2'
			THEN CASE isNull(pt.ProducerCode,'') WHEN '' 
			THEN s.StatusDesc + '(R)'
			ELSE s.StatusDesc + '(R) (P)' END 
			ELSE CASE isNull(pt.ProducerCode,'') WHEN ''
			THEN  s.StatusDesc
			ELSE  s.StatusDesc + '(P)' END
			END) as StatusDesc,

			pt.ProducerCode,DATEDIFF(dd,GETDATE(),pt.PolicyExpirationDate) AS Days,
			p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, p.PolicyEffectiveDate,
			CONVERT(VARCHAR(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate FROM Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
			PolicyCoverage pc WHERE a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
			and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and 
			pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(SELECT MIN(TransactionSequence) FROM PolicyTransaction  WHERE PolicyKey=p.PolicyKey) and 
			pc.CoverageSequence=(SELECT min(CoverageSequence)FROM PolicyCoverage WHERE PolicyKey=p.PolicyKey) and   pt.PolicyKey in
			(SELECT PolicyKey FROM Policy WHERE isUncompletedData='N') and p.PolicyStatusKey = 2
			and ISNULL(f.IsRenewed,'') != 'Y' and pt.StatusKey  in (1,2,3,5,7,9,10) and ISNULL(f.IsRenewalReview,'') != 'Y'  and
			p.PolicyEffectiveDate >= @PolicyExpirationDate_From and p.PolicyEffectiveDate <=  @PolicyExpirationDate_To  ORDER BY  PolicyExpirationDate
			
	IF(@StatusKey ='' or @StatusKey is null)
	BEGIN
		select * from #offriskdata
	END
	
	IF(@StatusKey =1)
	BEGIN
		select * from #offriskdata where ProducerCode is not null
	END
	IF(@StatusKey =2)
	BEGIN
		select * from #offriskdata where ProducerCode is null
	END

END
GO
