USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClearSupplementFlagsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ClearSupplementFlagsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClearSupplementFlagsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ClearSupplementFlagsLW_p] AS' 
END
GO
--exec ValidateIndivisualPageData_p 73365, 73406, '2017-12-06 00:00:00.0'
ALTER PROCEDURE [dbo].[ClearSupplementFlagsLW_p]
(
@PolicyKey INT,
@LitImplementationDate DATETIME,
@RenewalSupplementNewImplDate DATETIME
)
AS
	BEGIN
		
		Declare @bankruptcy INT
		Declare @collection INT
		Declare @financial INT
		Declare @goverment INT
		Declare @realestateComm INT
		Declare @realestateResi INT
		Declare @tax INT
		Declare @wills INT
		Declare @litigationvalue INT
		Declare @AnnualRevenue INT
		Declare @familyLaw INT
		DECLARE @Copyright INT
		DECLARE @PolicyStatusKey INT

		Declare @bankruptcyOld INT
		Declare @collectionOld INT
		Declare @financialOld INT
		Declare @govermentOld INT
		Declare @realestateCommOld INT
		Declare @realestateResiOld INT
		Declare @taxOld INT
		Declare @willsOld INT
		Declare @litigationvalueOld INT
		Declare @familyLawOld INT
		DECLARE @CopyrightOld INT
		DECLARE @PreviousPolicyKey INT
		DECLARE @PercentageOfRevenue INT
		DECLARE @PercentageOfDefense INT
	
		DECLARE @AOPCount INT
		DECLARE @VersionSequence INT
		DECLARE @PreviousVersionSequence INT
		DECLARE @litigationAOPSum INT
		DECLARE @CreatedDate DATETIME
		DECLARE @DaysDiffenence INT
		DECLARE @AopSum1 INT
		Declare @EffectiveDate DATETIME

		SELECT @CreatedDate=AppCreatedDate,@EffectiveDate=PolicyEffectiveDate FROM POLICY WHERE PolicyKey=@PolicyKey
		SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
		
		SELECT @PolicyStatusKey=PolicyStatusKey FROM Policy WHERE PolicyKey=@PolicyKey
		SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WHERE PolicyKey=@PolicyKey)
		SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WHERE PolicyKey=@PreviousPolicyKey)
		
		SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
		SELECT @litigationAOPSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey in (55,56,57,59,60,61,62,63,67)
						
		Declare @LitigationSupplementPage CHAR

		DECLARE @PercentageOfCivilPaintiff INT
		DECLARE @PercentageOfConstructionPaintiff INT			
		DECLARE @PercentageOfCorCommBusinessPaintiff INT
		DECLARE @PercentageOfMassTortPaintiff INT
		DECLARE @PercentageOfMedicalMalPaintiff INT
		DECLARE @PercentageOfNonMedicalMalPaintiff INT
		DECLARE @PercentageOfPersInjuryPaintiff INT
		DECLARE @PercentageOfProdLiabilityPaintiff INT
		DECLARE @PercentageOfOtherPaintiff INT
		DECLARE @NumberOfSuppotedStaffToPlantiff INT
		Declare @NewLitigationFlow CHAR
		

		--Before Litigation Implementation
		IF(@DaysDiffenence<0)
			BEGIN
				IF(@litigationvalue>0)
					BEGIN
						SET @LitigationSupplementPage='Y'
					END
				ELSE
					BEGIN
						SET @LitigationSupplementPage='N'
					END
				SET @NewLitigationFlow='N'
				
			END
		ELSE
			BEGIN
				IF(@litigationAOPSum>0)
					BEGIN
						SET @LitigationSupplementPage='Y'
					END
				ELSE
					BEGIN
						SET @LitigationSupplementPage='N'
					END
				SET @NewLitigationFlow='Y'
				
			END
	
		print @LitigationSupplementPage	
		print @NewLitigationFlow	

		SET @AOPCount=(SELECT Count(*) From AreaOfPracticeLW Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		CREATE TABLE #Temp
			(
				CleanBankruptcySuppReferrals				CHAR,
				CleancollectionSuppReferrals				CHAR,
				CleanCopyrightSuppReferrals					CHAR,
				CleanFamilyLawSuppReferrals					CHAR,
				CleanFinancialSuppReferrals					CHAR,
				CleanGovernmentSuppReferrals				CHAR,
				CleanlitigationSuppReferrals				CHAR,
				CleanRealEstateSuppReferrals				CHAR,
				CleanWillStateSuppTrustReferrals			CHAR,
				CleanTaxSuppReferrals						CHAR
			)
			
IF (NOT EXISTS (SELECT * FROM AreaOfPracticeLW WHERE PolicyKey = @PolicyKey) 
                     and EXISTS (SELECT * FROM SmartSearchValue WHERE PolicyKey = @PolicyKey))
              Begin
                     Insert into AreaOfPracticeLW (AOPKey, PercentageValue, PolicyKey, VersionSequence, AOPCommentDesc) 
                     select AOPKey, Percentage PercentageValue, @PolicyKey PolicyKey, @VersionSequence VersionSequence, 'Auto' from SmartSearchValue where PolicyKey=@PolicyKey
                     Union
                     select AOPKey, 0 as PercentageValue, @PolicyKey PolicyKey, @VersionSequence VersionSequence, 'Auto' from AOPLW where AOPKey not in 
                     (select AOPKey from SmartSearchValue where PolicyKey=@PolicyKey)
              End


		IF(@PolicyStatusKey=1)
		BEGIN
		
			
			INSERT INTO #Temp(CleanBankruptcySuppReferrals,CleancollectionSuppReferrals,CleanCopyrightSuppReferrals,CleanFamilyLawSuppReferrals,CleanFinancialSuppReferrals,
			CleanGovernmentSuppReferrals,CleanlitigationSuppReferrals,CleanRealEstateSuppReferrals,CleanWillStateSuppTrustReferrals,CleanTaxSuppReferrals)
			--	PRINT 'IN NEW FLOW'
			Values('Y','Y','Y','Y','Y','Y','Y','Y','Y','Y')
			
			SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=3)
			SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=31)
			SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
			SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=12)
			SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=13)
			SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=20)
			SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=27)
			SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=22)
			SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=24)
			SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
			SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=8)
				
			
			IF(@bankruptcy>35 )
			BEGIN
					print '11'
					UPDATE #TEMP SET CleanBankruptcySuppReferrals='N'
			
			END

			IF(@collection>0)
			BEGIN
				
					UPDATE #TEMP SET CleancollectionSuppReferrals='N'
				
			END

			IF(@Copyright>0 AND @Copyright<=5)
			BEGIN
				UPDATE #TEMP SET CleanCopyrightSuppReferrals='N'
				
			END

			IF(@familyLaw >35)
			BEGIN
				UPDATE #TEMP SET CleanFamilyLawSuppReferrals='N'
				
			END

			IF(@financial>0)
			BEGIN
				UPDATE #TEMP SET CleanFinancialSuppReferrals='N'
			END
			
			IF(@goverment>0)
			BEGIN
				UPDATE #TEMP SET CleanGovernmentSuppReferrals='N'
			END

		
			IF(@LitigationSupplementPage='Y' and @NewLitigationFlow='N')
			BEGIN
				
					UPDATE #TEMP SET CleanlitigationSuppReferrals='N'
				
			END

			IF(@realestateComm>0 OR @realestateResi>0)
			BEGIN
				UPDATE #TEMP SET CleanRealEstateSuppReferrals='N'
				
			END

			IF(@wills>0)
			BEGIN
				UPDATE #TEMP SET CleanWillStateSuppTrustReferrals='N'
			END
			
			IF(@tax>25)
			BEGIN
				UPDATE #TEMP SET CleanTaxSuppReferrals='Y'
			
			END

			IF( @LitigationSupplementPage='Y' and @NewLitigationFlow='Y')
			BEGIN
				
					UPDATE #TEMP SET CleanlitigationSuppReferrals='N'
				
			END		
				--SELECT * FROM #Temp
	END
	
	IF(@PolicyStatusKey=2)
	BEGIN

			INSERT INTO #Temp(CleanBankruptcySuppReferrals,CleancollectionSuppReferrals,CleanCopyrightSuppReferrals,CleanFamilyLawSuppReferrals,CleanFinancialSuppReferrals,
			CleanGovernmentSuppReferrals,CleanlitigationSuppReferrals,CleanRealEstateSuppReferrals,CleanWillStateSuppTrustReferrals,CleanTaxSuppReferrals)
			--	PRINT 'IN NEW FLOW'
			Values('Y','Y','Y','Y','Y','Y','Y','Y','Y','Y')
		--PRINT 'IN RENEWAL FLOW'
			SET @bankruptcyOld  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence and AOPKey=3)
			IF(@bankruptcyOld IS NULL OR @bankruptcyOld='')
				SET @bankruptcyOld=0
			SET @collectionOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=31)
			IF(@collectionOld IS NULL OR @collectionOld='')
				SET @collectionOld=0
			SET @financialOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=12)
			IF(@financialOld IS NULL OR @financialOld='')
				SET @financialOld=0
			SET @govermentOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=13)
			IF(@govermentOld IS NULL OR @govermentOld='')
				SET @govermentOld=0
			SET @realestateCommOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=20)
				IF(@realestateCommOld IS NULL OR @realestateCommOld='')
				SET @realestateCommOld=0
			SET @realestateResiOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=27)
				IF(@realestateResiOld IS NULL OR @realestateResiOld='')
				SET @realestateResiOld=0
			SET @taxOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=22)
				IF(@taxOld IS NULL OR @taxOld='')
				SET @taxOld=0
			SET @willsOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=24)
				IF(@willsOld IS NULL OR @willsOld='')
				SET @willsOld=0
			SET @litigationvalueOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=18)
			IF(@litigationvalueOld IS NULL OR @litigationvalueOld='')
				SET @litigationvalueOld=0
			SET @familyLawOld=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW where policykey=@PreviousPolicyKey and VersionSequence=@PreviousVersionSequence  and AOPKey=8)
			IF(@familyLawOld IS NULL OR @familyLawOld='')
				SET @familyLawOld=0


		DECLARE @IsAttorneyAddedDeleted CHAR
		DECLARE @AnnualRevenueSequence INT
		DECLARE @haveFraudSecurityAwarenessProgram CHAR
						
	
		

				SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence and AOPKey=3)
				SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=31)
				SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=6)
				SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=12)
				SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=13)
				SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=20)
				SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=27)
				SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=22)
				SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=24)
				SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=18)
				SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW where policykey=@PolicyKey  and VersionSequence=@VersionSequence  and AOPKey=8)
		
				
		
		--select @bankruptcyOld,@bankruptcy
			--Supplements conditions check
			
			IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35))
				BEGIN
				
					UPDATE #TEMP SET CleanBankruptcySuppReferrals='N'
				
			END

			IF(@collection>@collectionOld)
			BEGIN
				
					UPDATE #TEMP SET CleancollectionSuppReferrals='N'
				
			END

			IF(@Copyright>0)
			BEGIN
					UPDATE #TEMP SET CleanCopyrightSuppReferrals='N'
				
			END

			IF((@familyLawOld>35 AND @familyLaw>@familyLawOld+10) OR (@familyLawOld<35 AND @familyLaw>35)) 
			BEGIN
				UPDATE #TEMP SET CleanFamilyLawSuppReferrals='N'
			END

			IF(@financial>0)
			BEGIN
					UPDATE #TEMP SET CleanFinancialSuppReferrals='N'
			END


			IF(@govermentOld!= @goverment and @goverment> @govermentOld AND @goverment>10)
			BEGIN
					UPDATE #TEMP SET CleanGovernmentSuppReferrals='N'
			END
			
			IF(@LitigationSupplementPage='Y' and @NewLitigationFlow='N')
			BEGIN
			
					UPDATE #TEMP SET CleanlitigationSuppReferrals='N'
			
		
			END
			IF( @LitigationSupplementPage='Y'  and @NewLitigationFlow='Y')
			BEGIN
				
					UPDATE #TEMP SET CleanlitigationSuppReferrals='N'
			
			END	

			IF(@tax>@taxOld)
			BEGIN
				
					UPDATE #TEMP SET CleanTaxSuppReferrals='N'
				
			END

     if(@CreatedDate < @RenewalSupplementNewImplDate)
	  BEGIN	

			IF(((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5)) OR (( @realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)))
			BEGIN
			
					UPDATE #TEMP SET CleanRealEstateSuppReferrals='N'
				
			END

			IF(@wills>@willsOld)
			BEGIN
				
				UPDATE #TEMP SET CleanWillStateSuppTrustReferrals='N'
				
			END


	end		
	else
	  begin
	  
	  	IF((@realestateComm>0) OR (@realestateResi>0))
			BEGIN
			
					UPDATE #TEMP SET CleanRealEstateSuppReferrals='N'
				
			END

			IF(@wills>0)
			BEGIN
				
				UPDATE #TEMP SET CleanWillStateSuppTrustReferrals='N'
				
			END

	end 
		
	END

SELECT * FROM #Temp
	
	
	END










GO
