USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateVersionSequenceAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateVersionSequenceAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateVersionSequenceAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateVersionSequenceAcc_p] AS' 
END
GO
--exec UpdateVersionSequenceAcc_p 'effectivedate','2019-01-01','2019-05-01'
ALTER PROCEDURE [dbo].[UpdateVersionSequenceAcc_p]
@SearchType VARCHAR(100),
@FromDate VARCHAR(100),
@ToDate VARCHAR(100)
AS
BEGIN

DECLARE @sqlstmt VARCHAR(8000),@sqlstmt1 VARCHAR(8000)
DECLARE @PolicyKey INT

if(@ToDate is null or @ToDate = '')
Begin
	set @ToDate = (select GETDATE());
End

IF(@SearchType='effectivedate')
BEGIN
SET @sqlstmt='select distinct pt.Policykey from PolicyTransaction pt     WITH (NOLOCK)  inner join Firm  F   WITH (NOLOCK) on f.Policykey=pt.PolicyKey inner join Policy p   WITH (NOLOCK) on p.policykey=pt.PolicyKey    where p.isUncompletedData=''N'' and p.PolicyEffectiveDate>=convert(varchar,cast('''+@FromDate+''' as datetime),23) and p.PolicyEffectiveDate<=convert(varchar, cast('''+@ToDate+''' as datetime),23) order by pt.policykey'
SET @sqlstmt1='select distinct pt.Policykey from PolicyTransaction pt    WITH (NOLOCK)   inner join EndorsementDetails  F   WITH (NOLOCK) on f.Policykey=pt.PolicyKey inner join Policy p   WITH (NOLOCK) on p.policykey=pt.PolicyKey    where p.MarketableProductKey = 1 and  p.isUncompletedData=''N'' and f.EndorsementEffectiveDate>=convert(varchar,cast('''+@FromDate+''' as datetime),23) and f.EndorsementEffectiveDate<=convert(varchar, cast('''+@ToDate+''' as datetime),23) order by pt.policykey'
END

IF(@SearchType='createdate')
BEGIN
SET @sqlstmt='select distinct pt.Policykey from PolicyTransaction pt      WITH (NOLOCK)  inner join Firm  F   WITH (NOLOCK) on f.Policykey=pt.PolicyKey inner join Policy p   WITH (NOLOCK) on p.policykey=pt.PolicyKey    where p.isUncompletedData=''N'' and p.AppCreatedDate>=convert(varchar,cast('''+@FromDate+''' as datetime),23) and p.AppCreatedDate<=convert(varchar, cast('''+@ToDate+''' as datetime),23) order by pt.policykey'
END


IF(@SearchType='issuedate')
BEGIN
SET @sqlstmt='select distinct pt.Policykey from PolicyTransaction pt      WITH (NOLOCK) inner join Firm  F   WITH (NOLOCK) on f.Policykey=pt.PolicyKey inner join Policy p   WITH (NOLOCK) on p.policykey=pt.PolicyKey    where p.MarketableProductKey = 1 and p.isUncompletedData=''N'' and f.IssuedDate>=convert(varchar,cast('''+@FromDate+''' as datetime),23) and f.IssuedDate<=convert(varchar, cast('''+@ToDate+''' as datetime),23) order by pt.policykey'
SET @sqlstmt1='select distinct pt.Policykey from PolicyTransaction pt      WITH (NOLOCK) inner join EndorsementDetails  F   WITH (NOLOCK) on f.Policykey=pt.PolicyKey inner join Policy p   WITH (NOLOCK) on p.policykey=pt.PolicyKey    where p.MarketableProductKey = 2 and  p.isUncompletedData=''N'' and f.EndorsementIssuedDate>=convert(varchar,cast('''+@FromDate+''' as datetime),23) and f.EndorsementIssuedDate<=convert(varchar, cast('''+@ToDate+''' as datetime),23) order by pt.policykey'
END
print @sqlstmt
print @sqlstmt1
CREATE TABLE #TEMP
(PolicyKey INT)


CREATE TABLE #TempTransaction
              (
              SN INT IDENTITY(1,1),
              PolicyKey INT,
              TransactionTypeKey INT,
              TransactionSequence INT,
              VersionSequence INT
              )
              CREATE TABLE #TempFirm
              (
              SN INT IDENTITY(1,1),
              PolicyKey INT,
              VersionSequence INT
              )
INSERT INTO #TEMP(PolicyKey) EXECUTE (@sqlstmt)
INSERT INTO #TEMP(PolicyKey) EXECUTE (@sqlstmt1)
--SELECT * FROM #TEMP

Declare c1 cursor for
		select Policykey from #TEMP
           
       
       OPEN c1
       FETCH NEXT FROM c1 into @PolicyKey
       WHILE @@FETCH_STATUS = 0
              begin
              
              insert into #TempTransaction(PolicyKey,TransactionTypeKey) select distinct Policykey,TransactionTypekey from PolicyTransaction   WITH (NOLOCK)  where Policykey=@PolicyKey  and TransactionTypeKey<7 
              insert into #TempTransaction(PolicyKey,TransactionTypeKey,TransactionSequence) select distinct Policykey,TransactionTypekey,TransactionSequence from PolicyTransaction   WITH (NOLOCK)  where Policykey=@PolicyKey  and TransactionTypeKey>6 order by TransactionSequence
              insert into #TempFirm(PolicyKey,VersionSequence) Select PolicyKey,VersionSequence From Firm   WITH (NOLOCK) Where Policykey=@PolicyKey order by VersionSequence
              
              UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   #TempTransaction T1 
              JOIN #TempFirm T2 ON T1.SN = T2.SN 
              
              UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   PolicyTransaction T1 
              JOIN #TempTransaction T2 ON T1.PolicyKey = T2.PolicyKey and T1.TransactionTypeKey=T2.TransactionTypeKey where T1.TransactionTypeKey<7

              UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   PolicyTransaction T1 
              JOIN #TempTransaction T2 ON T1.PolicyKey = T2.PolicyKey and T1.TransactionTypeKey=T2.TransactionTypeKey and T1.TransactionSequence=T2.TransactionSequence
              Where T1.TransactionTypeKey>6
			  
			  --UPDATE PolicyTransaction set VersionSequence=(select VersionSequence From #TempFirm Where SN=1 and Policykey=@Policykey) Where Policykey=@Policykey and TransactionTypeKey is null
     --         SELECT * from #TempTransaction
			  --SELECT *  FROM #TempFirm
              TRUNCATE TABLE #TempTransaction
              TRUNCATE TABLE #TempFirm

              FETCH NEXT FROM c1 into @PolicyKey                     
              end
              CLOSE c1
              DEALLOCATE c1

print 'TEST'
END



GO
