USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDropDownDataForWorkQACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDropDownDataForWorkQACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDropDownDataForWorkQACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDropDownDataForWorkQACC_p] AS' 
END
GO
--exec [dbo].[GetDropDownDataForWorkQACC_p] 'Pet!','AccountNamesearch',null

ALTER PROCEDURE [dbo].[GetDropDownDataForWorkQACC_p]
(
       @SEARCHVALUE VARCHAR(100),
       @SEARCHTYPE VARCHAR(100),
       @PRODUCERCODE VARCHAR(100)
)
AS
BEGIN
       Declare @IsSpecialChar VARCHAR(1)='N'
       Declare @IsSpecialCharIndex int=0

       CREATE TABLE #TEMP (
              WQQuoteNumberSearch VARCHAR(100),
              WQPolicyNumberSearch VARCHAR(100),
              WQAccountEmailSearch VARCHAR(100),
              AccountNamesearch VARCHAR(100),
       )
       if(@SEARCHTYPE = 'WQQuoteNumberSearch')
       BEGIN
              IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
              BEGIN
                     INSERT INTO #TEMP (WQQuoteNumberSearch) SELECT DISTINCT TOP 10 QUOTENUMBER FROM POLICY p with (nolock) WHERE 
                     QUOTENUMBER LIKE @SEARCHVALUE + '%' AND ISUNCOMPLETEDDATA != 'Y' AND MARKETABLEPRODUCTKEY=1 ORDER BY QUOTENUMBER ASC
              END
              ELSE
              BEGIN
                     INSERT INTO #TEMP (WQQuoteNumberSearch) SELECT DISTINCT TOP 10 QUOTENUMBER FROM POLICY P  with (nolock) INNER JOIN POLICYTRANSACTION PT with (nolock) ON P.POLICYKEY=PT.POLICYKEY 
                     WHERE P.QUOTENUMBER LIKE @SEARCHVALUE + '%' AND P.ISUNCOMPLETEDDATA!='Y' AND PT.PRODUCERCODE = @PRODUCERCODE 
                     AND P.MARKETABLEPRODUCTKEY=1 ORDER BY QUOTENUMBER ASC
              END
              select WQQuoteNumberSearch from #TEMP
       END
       
       if(@SEARCHTYPE = 'WQPolicyNumberSearch')
       BEGIN
              IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
              BEGIN
                     INSERT INTO #TEMP (WQPolicyNumberSearch) SELECT DISTINCT TOP 10 POLICYNUMBER FROM POLICY with (nolock) WHERE 
                     POLICYNUMBER LIKE @SEARCHVALUE + '%' AND ISUNCOMPLETEDDATA != 'Y' AND MARKETABLEPRODUCTKEY=1 ORDER BY POLICYNUMBER ASC
              END
              ELSE
              BEGIN
                     INSERT INTO #TEMP (WQPolicyNumberSearch) SELECT DISTINCT TOP 10 POLICYNUMBER FROM POLICY P with (nolock) INNER JOIN POLICYTRANSACTION PT with (nolock) ON P.POLICYKEY=PT.POLICYKEY 
                     WHERE P.POLICYNUMBER LIKE @SEARCHVALUE + '%' AND P.ISUNCOMPLETEDDATA!='Y' AND PT.PRODUCERCODE = @PRODUCERCODE 
                     AND P.MARKETABLEPRODUCTKEY=1 ORDER BY POLICYNUMBER ASC
              END
              select WQPolicyNumberSearch from #TEMP
       END
       
       if(@SEARCHTYPE = 'WQAccountEmailSearch')
       BEGIN
              IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
              BEGIN
                     INSERT INTO #TEMP (WQAccountEmailSearch) SELECT DISTINCT TOP 10 AA.ACCOUNTEMAIL FROM ACCOUNT AA with (nolock), POLICY P with (nolock)WHERE 
                     AA.ACCOUNTEMAIL LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID 
                     AND P.MARKETABLEPRODUCTKEY=1 ORDER BY ACCOUNTEMAIL ASC
              END
              ELSE
              BEGIN
                     INSERT INTO #TEMP (WQAccountEmailSearch) SELECT DISTINCT TOP 10 AA.ACCOUNTEMAIL 
                     FROM ACCOUNT AA with (nolock) INNER JOIN POLICY P with (nolock) ON P.ACCOUNTID=AA.ACCOUNTID INNER JOIN POLICYTRANSACTION PT with (nolock) ON P.POLICYKEY=PT.POLICYKEY 
                     WHERE AA.ACCOUNTEMAIL LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID AND PT.PRODUCERCODE=@PRODUCERCODE 
                     AND P.MARKETABLEPRODUCTKEY=1 ORDER BY ACCOUNTEMAIL ASC
              END
              select WQAccountEmailSearch from #TEMP
       END
       
       if(@SEARCHTYPE = 'AccountNamesearch')
       BEGIN
              
              Set @SEARCHVALUE = dbo.[removeSpecialCharacter] (@SEARCHVALUE)
              Set @SEARCHVALUE = replace(@SEARCHVALUE, ' ','%')
              Print @SEARCHVALUE
              IF(@PRODUCERCODE = '' OR @PRODUCERCODE is null)
              BEGIN
                     INSERT INTO #TEMP (AccountNamesearch) SELECT DISTINCT TOP 20 AA.ACCOUNTNAME FROM ACCOUNT AA with (nolock), POLICY P  with (nolock)
                     WHERE dbo.[removeSpecialCharacter] (AA.AccountName) LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END 
                     AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID 
                     AND P.MARKETABLEPRODUCTKEY=1 ORDER BY ACCOUNTNAME ASC
              END
              ELSE
              BEGIN
                     INSERT INTO #TEMP (AccountNamesearch) SELECT DISTINCT TOP 20 AA.ACCOUNTNAME 
                     FROM ACCOUNT AA with (nolock) INNER JOIN POLICY P with (nolock) ON P.ACCOUNTID=AA.ACCOUNTID INNER JOIN POLICYTRANSACTION PT ON P.POLICYKEY=PT.POLICYKEY 
                     WHERE dbo.[removeSpecialCharacter] (AA.AccountName) LIKE CASE WHEN datalength(@SEARCHVALUE) > 3 THEN '%' + @SEARCHVALUE + '%' ELSE @SEARCHVALUE + '%' END 
                     AND P.ISUNCOMPLETEDDATA!='Y' AND P.ACCOUNTID = AA.ACCOUNTID AND PT.PRODUCERCODE=@PRODUCERCODE 
                     AND P.MARKETABLEPRODUCTKEY=1 ORDER BY ACCOUNTNAME ASC
              END
              select AccountNamesearch from #TEMP
       END
       DROP TABLE #TEMP;

END

GO
