USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaveUpdateCollectionsSupliment_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SaveUpdateCollectionsSupliment_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaveUpdateCollectionsSupliment_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SaveUpdateCollectionsSupliment_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[SaveUpdateCollectionsSupliment_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@averageCases INT,
	@consumerCollections INT,
	@commercialollections INT,
	@individualCollections INT,
	@personnelToCollectDebts CHAR,
	@servicesToPurchasers CHAR,
	@claimsOrSuitsFDCPA CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp varchar(50),
	@VersionKey INT

)
	
AS
BEGIN
	DECLARE @Count INT
	SELECT @Count=Count(*) from collectionsSuplimentDetailsLW WHERE POLICYKEY=@PolicyKey 
	IF(@count=0)
	BEGIN 
		INSERT INTO collectionsSuplimentDetailsLW (PolicyKey,VersionSequence,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,
		servicesToPurchasers,claimsOrSuitsFDCPA,LastUpdateUserID,LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate)
		values(@PolicyKey,@VersionSequence,@averageCases,@consumerCollections,@commercialollections,@individualCollections,@personnelToCollectDebts,@servicesToPurchasers,@claimsOrSuitsFDCPA
		,@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey,@LastUpdateUserID,@LastUpdateTimeStamp)
	END
	IF(@count>0)
	BEGIN
		UPDATE collectionsSuplimentDetailsLW SET averageCases=@averageCases,consumerCollections=@consumerCollections,commercialollections=@commercialollections,
							individualCollections=@individualCollections,personnelToCollectDebts=@personnelToCollectDebts,servicesToPurchasers=@servicesToPurchasers,
							claimsOrSuitsFDCPA=@claimsOrSuitsFDCPA,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
						WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	END
END



GO
