USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCyberInformation_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateCyberInformation_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCyberInformation_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateCyberInformation_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[UpdateCyberInformation_p]
	(
	@PolicyKey INT,
	@disbursementTransaction INT,
	@peopleToDisburseFunds INT,
	@instructionsDocumentedReceivingParty CHAR,
	@doucumentedProtocolsAndAuthority CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
	)
AS
BEGIN
	UPDATE FIRMLW SET disbursementTransaction=@disbursementTransaction,
					peopleToDisburseFunds=@peopleToDisburseFunds,
					instructionsDocumentedReceivingParty=@instructionsDocumentedReceivingParty,
					doucumentedProtocolsAndAuthority=@doucumentedProtocolsAndAuthority,
					LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
			WHERE PolicyKey=@PolicyKey
END


GO
