USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SyncVersionSequenceForPolicyLW_P]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SyncVersionSequenceForPolicyLW_P]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SyncVersionSequenceForPolicyLW_P]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SyncVersionSequenceForPolicyLW_P] AS' 
END
GO
--exec SetTransactionKeyForEndorsementLW_p 128888
ALTER PROCEDURE [dbo].[SyncVersionSequenceForPolicyLW_P]
(
@PolicyKeyTemp int
)
AS
BEGIN
DECLARE @PolicyKey INT
CREATE TABLE #TempTransaction
              (
              SN INT IDENTITY(1,1),
              PolicyKey INT,
              TransactionTypeKey INT,
              TransactionSequence INT,
              VersionSequence INT
              )
              CREATE TABLE #TempFirm
              (
              SN INT IDENTITY(1,1),
              PolicyKey INT,
              VersionSequence INT
              )
Declare c1 cursor for
       select distinct pt.Policykey from PolicyTransaction pt inner join FirmLW  F on f.Policykey=pt.PolicyKey inner join Policy p on p.policykey=pt.PolicyKey
       where p.isUncompletedData='N' and pt.PolicyKey=@PolicyKeyTemp
		  order by pt.policykey
           
       
       OPEN c1
       FETCH NEXT FROM c1 into @PolicyKey
       WHILE @@FETCH_STATUS = 0
              begin
              
              insert into #TempTransaction(PolicyKey,TransactionTypeKey) select distinct Policykey,TransactionTypekey from PolicyTransaction  where Policykey=@PolicyKey  and TransactionTypeKey<7 
              insert into #TempTransaction(PolicyKey,TransactionTypeKey,TransactionSequence) select distinct Policykey,TransactionTypekey,TransactionSequence from PolicyTransaction  where Policykey=@PolicyKey  and TransactionTypeKey>6 order by TransactionSequence
              insert into #TempFirm(PolicyKey,VersionSequence) Select PolicyKey,VersionSequence From Firmlw Where Policykey=@PolicyKey order by VersionSequence
              
              UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   #TempTransaction T1 
              JOIN #TempFirm T2 ON T1.SN = T2.SN 
              
              UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   PolicyTransaction T1 
              JOIN #TempTransaction T2 ON T1.PolicyKey = T2.PolicyKey and T1.TransactionTypeKey=T2.TransactionTypeKey where T1.TransactionTypeKey<7

              UPDATE T1 SET    T1.VersionSequence = T2.VersionSequence FROM   PolicyTransaction T1 
              JOIN #TempTransaction T2 ON T1.PolicyKey = T2.PolicyKey and T1.TransactionTypeKey=T2.TransactionTypeKey and T1.TransactionSequence=T2.TransactionSequence
              Where T1.TransactionTypeKey>6
			  
			  UPDATE PolicyTransaction set VersionSequence=(select VersionSequence From #TempFirm Where SN=1 and Policykey=@Policykey) Where Policykey=@Policykey and TransactionTypeKey is null
             -- SELECT * from #TempTransaction
			--  SELECT *  FROM #TempFirm
              TRUNCATE TABLE #TempTransaction
              TRUNCATE TABLE #TempFirm

              FETCH NEXT FROM c1 into @PolicyKey                     
              end
              CLOSE c1
              DEALLOCATE c1

END




GO
