USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SmartSearchData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SmartSearchData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[SmartSearchData_p]
(
@aopSearch VARCHAR(100),
@PolicyKey INT,
@LitImplementationDate DATETIME
)
AS
BEGIN
	CREATE TABLE #Temp
	(
		AOPKEY INT
		
	)
	DECLARE @count int
	DECLARE @CreatedDate DATETIME
	DECLARE @DaysDiffenence INT
	SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
	SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
	print @DaysDiffenence
	if(@DaysDiffenence<0)
	BEGIN
		select @count=count(*) from SmartSearch WITH (NOLOCK) where Keyword like '%'+@aopSearch+ '%'  and  (KeywordType='C' OR KeywordType='B')
	END 

	ELSE
	BEGIN
		select @count=count(*) from SmartSearch WITH (NOLOCK) where Keyword like '%'+@aopSearch+ '%'  and  (KeywordType='C' OR KeywordType='A')
	END

	IF(@count>0)
	BEGIN
		if(@DaysDiffenence<0)
		BEGIN
			INSERT INTO #Temp(AOPKEY) select distinct  AOPKey from SmartSearch WITH (NOLOCK) where Keyword like '%'+@aopSearch+ '%' --  and (KeywordType='C' OR KeywordType='B') order by AOPKEY   
			select  SUBSTRING(aa.AOPDescNew, CHARINDEX('.',aa.AOPDescNew) + 1, LEN(aa.AOPDescNew))  as AopSearch, aa.Aopkey as AOPKey  from AOPLW aa WITH (NOLOCK) where AOPKey in(select AOPKey from SmartSearch WITH (NOLOCK) where AOPKEY in(SELECT AOPKEY FROM #Temp)   and (KeywordType='C' OR KeywordType='B')) and AOPKey not in(7,17,23,40)order by AopSearch asc  
		END
		ELSE
		BEGIN
			INSERT INTO #Temp(AOPKEY)  select distinct  AOPKey from SmartSearch WITH (NOLOCK) where Keyword like '%'+@aopSearch+ '%'  -- and  (KeywordType='C' OR KeywordType='A') order by AOPKEY
			select  SUBSTRING(aa.AOPDescNew, CHARINDEX('.',aa.AOPDescNew) + 1, LEN(aa.AOPDescNew))  as AopSearch, aa.Aopkey as AOPKey  from AOPLW aa WITH (NOLOCK) where AOPKey in(select AOPKey from SmartSearch WITH (NOLOCK) where AOPKEY in(SELECT AOPKEY FROM #Temp) and (KeywordType='C' OR KeywordType='A')) and AOPKey not in(7,17,23,40)order by AopSearch asc  	
		END
	END
	ELSE
		BEGIN
			SELECT 'No match found'  as AopSearch
		END
	
	--select  * from SmartSearch where KeyWord in (SELECT AopSearch FROM #Temp)
	--select * from #Temp
	END



GO
