USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokerageHanoverRenewalFlagUpdate_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BrokerageHanoverRenewalFlagUpdate_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokerageHanoverRenewalFlagUpdate_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[BrokerageHanoverRenewalFlagUpdate_p] AS' 
END
GO
--exec [BrokerageHanoverRenewalFlagUpdate_p]
ALTER PROCEDURE [dbo].[BrokerageHanoverRenewalFlagUpdate_p]
	
AS
BEGIN
DECLARE @AccountID INT,@BrokeragePolicyKey int,@AccountName VARCHAR(200),@Email VARCHAR(200),@IsRenewed CHAR,@count int=0,@StatusKey INT,@BrokeragePolicyKeyString VARCHAR(1000)=''
	Declare c1 cursor for
	select AccountID,BrokeragePolicyKey,AccountName,Email,isRenewed,StatusKey from Brokeragelw where StatusKey=6 and  Accountid !=0 and isArchived !='True' and isRenewed is null 
	--and AccountName='Beran Law Office PC LLO' 
	order by Email
	 	   
	
	OPEN c1
	FETCH NEXT FROM c1 into  @AccountID ,@BrokeragePolicyKey ,@AccountName ,@Email,@IsRenewed,	@StatusKey	
	
	WHILE @@FETCH_STATUS = 0
		begin
				if exists(select BrokeragePolicyKey from BrokerageLW where AccountID=@AccountID  and BrokeragePolicyKey>@BrokeragePolicyKey and isArchived !='True' )
				begin
					--set @count=@count+1
					--set @BrokeragePolicyKeyString=@BrokeragePolicyKeyString+','+CAST(@BrokeragePolicyKey AS varchar)
					Update BrokerageLW set isRenewed='Y',LastUpdateTimeStamp=getdate(),LastUpdateUserID=1166 where BrokeragePolicyKey=@BrokeragePolicyKey
				end
		
		
			FETCH NEXT FROM c1 into @AccountID ,@BrokeragePolicyKey ,@AccountName ,@Email,@IsRenewed,@StatusKey				
		end
		CLOSE c1
		DEALLOCATE c1
END

GO
