USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetQuoteExpirationDate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SetQuoteExpirationDate]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetQuoteExpirationDate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SetQuoteExpirationDate] AS' 
END
GO
--exec SetQuoteExpirationDate 137901, '2022-08-24'
ALTER PROCEDURE [dbo].[SetQuoteExpirationDate]
(
@PolicyKey int,
@EndorsementEffectiveDate DATETIME
)
AS
BEGIN

	DECLARE @StatusKey INT
	DECLARE @TargetDate DATE

	SET @StatusKey=(SELECT top 1 Statuskey from PolicyTransaction where policykey=@Policykey)

	IF(@StatusKey=6)
	Begin
	 SET @TargetDate=(Select top 1 PolicyExpirationDate from PolicyTransaction Where PolicyKey=@PolicyKey)
	end

	If(@StatusKey=8)
	Begin
	SET @TargetDate=(select top 1 TransactionEffectiveDate from PolicyTransaction where  statuskey=8 and TransactionTypeKey=7 and PolicyKey=@PolicyKey order by TransactionEffectiveDate desc)
	
	select convert(varchar(10), DATEADD(day,59,@TargetDate), 101) as ERPQuoteExpirationDate,IsClaimExpensesType from PolicyCoverage pc
	inner join Quote q on q.PolicyKey=pc.Policykey and pc.TransactionSequence=q.TransactionSequence
	where pc.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'
	end

	IF(@StatusKey=6)
	Begin
	select convert(varchar(10), DATEADD(day,59,@EndorsementEffectiveDate), 101) as ERPQuoteExpirationDate,IsClaimExpensesType from PolicyCoverage pc
	inner join Quote q on q.PolicyKey=pc.Policykey and pc.TransactionSequence=q.TransactionSequence
	where pc.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'
	END

END

GO
