USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetEstimatePremium_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetEstimatePremium_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetEstimatePremium_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetEstimatePremium_p] AS' 
END
GO
--exec GetEstimatePremium_p 177276
ALTER PROCEDURE [dbo].[GetEstimatePremium_p]
(
@PolicyKey INT
)
       
AS
BEGIN
              
       
select dbo.getAmountFormat(cast((pt.TotalPremium) as int)-cast(((pt.TotalPremium*15)/100) as int))+' - '+dbo.getAmountFormat(cast((pt.TotalPremium) as int)-cast(((pt.TotalPremium*5)/100) as int)) as EstimatePremiumRange , dbo.getAmountFormat(TotalPremium) as TotalPremium
from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey

       
END


GO
