USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAboutFirm_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAboutFirm_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAboutFirm_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAboutFirm_p] AS' 
END
GO
--exec UpdateAboutFirm_p 123137, 102388, 1997, 5, 4, 'N', null, 'N', 3, null, null, null, 'N', 'Y'
ALTER PROCEDURE [dbo].[UpdateAboutFirm_p](
@PolicyKey INT,
@VersionSequence INT,
@YearOfFirmEstablished INT,
@AnnualRevenueSequence INT,
@TotalNumOfNonAttorneyStaff INT,
@IsApplicantProvidesLegalServices CHAR,
@IsFirmHaveBackupAttorney	CHAR,
@IsFirmMergedWithOtherFirm CHAR,
@LastUpdateUserID VARCHAR(100),
@ApplicantProvidesLegalServicesDesc varchar(500),
@IsApplIntToFinanAssests CHAR,
@IsFirmCoverageForPreceedorFirms CHAR,
@needCyberCoverage CHAR,
@LastUpdateTimeStamp datetime,
@isCannibSuppPage CHAR
)
AS
BEGIN
	
	IF(@needCyberCoverage is NULL OR @needCyberCoverage='')
	BEGIN
		SET @needCyberCoverage='N'
	END
	IF(@IsFirmMergedWithOtherFirm='N')
	BEGIN
		SET @IsApplIntToFinanAssests=null
		SET @IsFirmCoverageForPreceedorFirms=null
	END
	UPDATE POLICY SET isUncompletedData='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@Policykey
	UPDATE FIRMLW SET YearOfFirmEstablished=@YearOfFirmEstablished,TotalNumOfNonAttorneyStaff=@TotalNumOfNonAttorneyStaff,IsApplicantProvidesLegalServices=@IsApplicantProvidesLegalServices,AnnualRevenueSequence=@AnnualRevenueSequence,
			IsFirmHaveBackupAttorney=@IsFirmHaveBackupAttorney,IsFirmMergedWithOtherFirm=@IsFirmMergedWithOtherFirm,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,ApplicantProvidesLegalServicesDesc=@ApplicantProvidesLegalServicesDesc,
			IsApplIntToFinanAssests=@IsApplIntToFinanAssests,IsFirmCoverageForPreceedorFirms=@IsFirmCoverageForPreceedorFirms,needCyberCoverage=@needCyberCoverage,isCannibSuppPage=@isCannibSuppPage
			WHERE policykey=@PolicyKey
	if(@isCannibSuppPage='N')
	delete from CannabisSupplement where Policykey=@PolicyKey and VersionSequence=@VersionSequence
END





GO
