USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkqSearchAccountForAccountant_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[WorkqSearchAccountForAccountant_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkqSearchAccountForAccountant_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[WorkqSearchAccountForAccountant_Proc] AS' 
END
GO
--exec WorkqSearchAccountForAccountant_Proc 'Joe M Tucker, CPA, P.C.',null,null,null,null,null, null,null,null,'2019-01-14',null ,'3'
-- exec	WorkqSearchAccountForAccountant_Proc null, null, null, null, 'QN-0176854', null, null, null, null, '2019-01-14', null, 3, null, null, null
ALTER PROCEDURE [dbo].[WorkqSearchAccountForAccountant_Proc] 
	    @AccountName varchar(50) , 
		@StateCode varchar(10) , 
		@StatusKey varchar(2) , 
		@PolicyEffectiveDate varchar(10) , 
		@PolicyNumber varchar(15),
		@PolicyNumber_Search varchar(20),
		@IsRenewed_search char(1),
		@NumberOfDays_search varchar(50),
		@PolicyEffectiveDate2 varchar(50), 
	    @NewAppImplementationDate DateTime,
		@EmailId varchar(150),
		@role_id varchar(2) ,
		@Company  VARCHAR(20),
		@IsBrokered CHAR,
		@IsLostWorkQPolicy_search char(1)

   
 AS BEGIN

declare  @sqlstm varchar(8000), @sqlstmBroker varchar(8000),@AccountNameNew varchar(50) =@AccountName
declare  @isUncompletedData  varchar(1)
declare @QuoteNumber varchar(20)
declare @FirstReviewUserID varchar(50)
declare @AgentName varchar(50)
declare @InvoicedPremium varchar(25)
declare @PolicyKey int
declare @QuoteSelectedNo int
declare @ManualQuoteSelectedNo int
declare @ManualQuoteFinalisedNo int
declare @RatingTraceSequence int
declare @IsDollarDefense char(1)
declare @IsApplicationCompleted char(1)


CREATE TABLE #TempPolicyList (
    [PolicyKey] [int] ,
	[PolicyEffectiveDate] [datetime] ,	
	[PolicyNumber] [varchar](20) ,	
	[isUncompletedData] [char](1) ,
	[QuoteNumber] [varchar](100) ,
	[IsFullQuote] [char](1) ,
	[IsQuickQuote] [char](1) ,

	[IsBasicPage] [char](1),
	[IsGeneralPage] [char](1) ,
	[IsSupplementPage] [char](1) ,	
	[IsAttesationPage] [char](1) ,
	[IsComputerServicePage] [char](1) ,
	[IsBusinessFundPage] [char](1) ,
	[IsPracriceMangPage] [char](1) ,	
	[FirstReviewUserID] [varchar](100) ,
	
	[AccountKey] [int] ,
	[AddressKey] [int] ,
	[AccountID] [int] ,
	[AccountName] [varchar](100) ,

	[Address1] [varchar](100) ,
	[StateCode] [varchar](20),
	[StateDesc] [varchar](50),
	[TransactionSequence] [int] ,
	[VersionSequence] [int] ,
	[CoverageSequence] [int] ,

	[PolicyExpirationDate] [datetime] ,

	[Premium] [varchar](25) ,
	[StatusDesc] [varchar](100),
	[StatusKey] [int] ,
	[PolicyStatusKey] [int] ,
	[TransactionTypeKey] [int] ,
	[UserNo] [int] ,
	[AgentName] [varchar](50),
	[FullQuick] [varchar](50),
	[AppDays] int,
	[QuoteSelectedNo] int,
	[ManualQuoteSelectedNo] int,
	[ManualQuoteFinalisedNo] int,
	[IsQuickQuotePage] [char](1),
	[AppCreatedDate] [datetime],
	[RatingTraceSequence] int,
	[IsDollarDefense] [char] (1),
	[MarketableProductKey] int,
	[CoverageKey] int,
	[IsViewed] char(1),
	[CountyDesc] [varchar](50),
	[IsInsuredViewed] char(1),
	[IsRenewed] char(1),
	[CreatedType] varchar(50),
	[IsRenewalReview] char(1),
	[RenewBasicInfoPage] char(1),
	[IsApplicationCompleted] char(1),
	[UWFlagCount] [int],
	[approveSubjective] [int],
	[isPricingApproved] char(1),
	[IsIndicationMailSent] char(1) ,
	AccountPolicyCount INT,
	ClaimIcon VARCHAR(100),
	isBrokerPolicy CHAR DEFAULT 'N',
	BrokeragePolicyKey INT,
	isRenewAsBrokerage CHAR    ,
	isConvertedPolicy CHAR DEFAULT 'N' ,
	LOBDesc VARCHAR(100),
	DecendentPolicyKey INT,
	CompanyKey INT,
	VersionKey INT,
	isAppCompleted CHAR,
	isDecendentPolicyCompleted CHAR
		  
) 


if(@AccountName <> '')
	begin
		set  @AccountName = RTrim(LTrim(@AccountName))
		set  @AccountName = REPLACE( @AccountName, '''', '''''' )
	end
if(@PolicyNumber is not null and @PolicyNumber <> '')
	begin
		set  @PolicyNumber = RTrim(LTrim(@PolicyNumber))
		set  @PolicyNumber = REPLACE( @PolicyNumber, '''', '''''' )
		set @StatusKey=(select distinct StatusKey from PolicyTransaction pt inner join Policy p on p.PolicyKey=pt.Policykey where p.QuoteNumber=@PolicyNumber)
	end
if(@PolicyNumber_Search <> '')
      begin
            set  @PolicyNumber_Search = RTrim(LTrim(@PolicyNumber_Search))
            set  @PolicyNumber_Search = REPLACE( @PolicyNumber_Search, '''', '''''' )
      end
if(@EmailId <> '')
      begin
            set  @EmailId = RTrim(LTrim(@EmailId))
            set  @EmailId = REPLACE( @EmailId, '''', '''''' )
      end
if(@PolicyEffectiveDate <> '')
	begin
		set  @PolicyEffectiveDate = RTrim(LTrim(@PolicyEffectiveDate))
	end
if(@PolicyEffectiveDate2 <> '')
	begin
		set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
	end
if(@Company is null or  @Company='')
	begin
		exec  @Company= dbo.UserLoginSecurity_p @role_id
		--select @Company
		if(@Company='0')
				set @Company=null
	end

set @sqlstm = 'select dbo.getAmountFormat(pt.InvoicedPremium) as Premium,case when c.Code is not null and c.Code <>'''' then  p.quotenumber+'' (''+c.Code+'')'' else p.quotenumber end as quotenumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote, (CASE p.IsFullQuote WHEN ''Y'' THEN ''FullQuote'' ELSE ''QuickQuote'' END) as FullQuick, DATEDIFF(dd, p.InsuredUpdateTimeStamp, GETDATE()) as AppDays, p.PolicyKey,p.isUncompletedData ,p.PolicyEffectiveDate, a.AccountName,   pt.TransactionSequence, pt.PolicyExpirationDate,  a.AccountID, a.AccountKey  ,adds.AddressKey, adds.StateCode, (select StateDesc from State where StateCode=adds.StateCode) StateDesc, adds.Address1,
 (CASE p.PolicyStatusKey WHEN ''2'' 
   THEN CASE isNull(pt.ProducerCode,'''') WHEN '''' 
			THEN s.StatusDesc + ''(R)''
			ELSE s.StatusDesc + ''(R) (P)'' END 
		ELSE CASE isNull(pt.ProducerCode,'''') WHEN ''''
		THEN  s.StatusDesc
		ELSE  s.StatusDesc + ''(P)'' END
		  END) as StatusDesc,
  pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,f.IsBasicPage,f.IsGeneralPage,f.IsSupplementPage,f.IsAttesationPage,
  f.IsComputerServicePage,f.IsBusinessFundPage,f.IsPracriceMangPage,f.IsQuickQuotePage,f.FirstReviewUserID , f.VersionSequence,
   pc.CoverageSequence, p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, f.IsViewed, adds.CountyDesc, f.IsInsuredViewed,
   f.IsRenewed,f.CreatedType,f.IsRenewalReview,f.RenewBasicInfoPage, (select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and rpt.isArchived = ''NO''),
(select count (*) from RulePolicyTransaction rpt where rpt.policykey =p.policykey and (rpt.ClearStatus=''CS'' or rpt.ClearStatus=''AI'')) as [approveSubjective],f.isPricingApproved,f.IsIndicationMailSent,
(select count(PolicyKey) from Policy Where AccountID=p.AccountID) as AccountPolicyCount,(case when pc.AggregateLimit is not null and pc.AggregateLimit>=2000000 then ''Y'' else ''N'' END) as isRenewAsBrokerage,''APL''
,(select top 1 pl.PolicyKey from Policy pl where AccountID=p.AccountID and pl.PolicyKey>p.PolicyKey and pl.isUncompletedData <> ''Y'' order by pl.PolicyKey) as DecendentPolicyKey,p.CompanyKey,p.VersionKey
   from Policy p  WITH (NOLOCK) ,  Account a WITH (NOLOCK) , Firm f WITH (NOLOCK) , Address adds WITH (NOLOCK) ,Status s WITH (NOLOCK) , PolicyTransaction pt WITH (NOLOCK) , AccountAddress aa , PolicyCoverage pc WITH (NOLOCK),Company c   where a.AccountKey =pt.AccountKey
    and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
	and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2 
	and  pt.TransactionSequence = pc.TransactionSequence and c.CompanyKey=p.CompanyKey
	and pc.TransactionSequence=pt.TransactionSequence
	and f.VersionSequence=(select max(versionsequence) from firm where policykey=p.PolicyKey)
	and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData = ''N'' ) ' 

 if(@IsLostWorkQPolicy_search = '' or @IsLostWorkQPolicy_search is null)
 begin
	set  @sqlstm = @sqlstm + ' and (f.lostworkqComment is null or f.lostworkqComment = '''') '
 END


set @sqlstmBroker='Select AccountID,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,	(CASE bkl.TransactionTypeKey WHEN ''2'' 
   THEN 
		CASE isNull(bkl.ProducerCode,'''') WHEN '''' 
			THEN st.StatusDesc + ''(R)''
			ELSE
				CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''(R) LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(R) (P)''
				END 
		END
		ELSE CASE isNull(bkl.ProducerCode,'''') WHEN ''''
		THEN  st.StatusDesc
		ELSE  CASE (SELECT SUBPRODUCERACCESS FROM SUBPRODUCER WHERE PRODUCERCODE=bkl.ProducerCode) WHEN ''Y''
					THEN st.StatusDesc + ''LESSTHANfont color="red" GREATERTHAN (P) LESSTHAN/fontGREATERTHAN''
					ELSE st.StatusDesc + ''(P)''
				END 
		 END
		  END) as StatusDesc,	s.StateDesc ,bkl.CreatedDate,''Brokerage'',dbo.getAmountFormat(Premium) ,bkl.CreatedBy,	ud.AgentName ,''Y'',Address,''Y'' ,''N'',''N'',State,BrokeragePolicyKey,''N''
		,bkl.isConvertedPolicy,(select count(PolicyKey) from Policy with (nolock) Where AccountID=bkl.AccountID) as AccountPolicyCount,lb.LOBDesc_Brokerage from BrokerageLW bkl left join Status st on bkl.StatusKey=st.StatusKey left join State s on s.StateCode=bkl.State  inner join UserDetails ud on ud.UserNo=bkl.FirstReviewUserID  LEFT JOIN LOB lb on lb.LOBKey=bkl.LOBKey 
		where isArchived!=''True'''

if(@StatusKey is null or @StatusKey='' or  (@StatusKey <> 6 and @StatusKey <>8))
begin
            set  @sqlstm = @sqlstm + 'and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey) '
end

if(@StatusKey = 6 OR @StatusKey =8)
begin
            set  @sqlstm = @sqlstm + ' and pt.TransactionSequence=(select TransactionSequence from Quote q with (nolock) where q.PolicyKey=p.PolicyKey  and q.IsThisOptionFinalised=''Y'')'
end



if(@AccountName <> '')
begin
	Set @AccountName = dbo.[removeSpecialCharacter] (@AccountName)
	Set @AccountName = replace(@AccountName, ' ','%')
	set @sqlstm = @sqlstm + ' and dbo.[removeSpecialCharacter] (a.AccountName) LIKE''' + CASE WHEN datalength(@AccountName) > 3 THEN '%' + @AccountName + '%' ELSE @AccountName + '%' END + ''''
	set @sqlstmBroker=@sqlstmBroker+' and bkl.AccountName=''' + @AccountNameNew+ ''''
end

if(@EmailId <> '')
begin
    set  @sqlstm = @sqlstm + ' and a.AccountEmail LIKE'''+@EmailId +'%'+''''
	Set @sqlstmBroker=@sqlstmBroker+' and bkl.Email LIKE'''+@EmailId +'%'+''''
end
if(@StateCode <> '')
 begin
	set  @sqlstm = @sqlstm + ' and adds.StateCode='''+@StateCode +''''
	Set @sqlstmBroker=@sqlstmBroker+' and bkl.State='''+@StateCode +''''
 end
 
if(@StatusKey <> 0)
 begin
	set  @sqlstm = @sqlstm + ' and pt.StatusKey='''+ @StatusKey +''''
	Set @sqlstmBroker=@sqlstmBroker+' and bkl.StatusKey='''+@StatusKey +''''
 end
 
--if(@PolicyEffectiveDate <> '' )
-- begin
--	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate='''+@PolicyEffectiveDate +''''
-- end

if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.PolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
	Set @sqlstmBroker=@sqlstmBroker+' and bkl.BrokerPolicyEffectiveDate between '''+@PolicyEffectiveDate +''' and '''+@PolicyEffectiveDate2 + ''''
 end



if(@PolicyNumber <> '')
 begin
	set  @sqlstm = @sqlstm + ' and p.QuoteNumber LIKE'''+@PolicyNumber +'%'+''''
	Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
 end
 
 if(@PolicyNumber_Search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
	Set @sqlstmBroker=@sqlstmBroker+ ' and  bkl.BrokeredPolicyNumber LIKE'''+@PolicyNumber_Search+'%'+''''
 end
 
 if(@IsRenewed_search <> '')
 begin
	set @sqlstm = @sqlstm + ' and p.PolicyStatusKey =''2'''
	Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
 end

  if(@Company is not null and @Company<>'')
begin
                set  @sqlstm = @sqlstm + ' and p.CompanyKey='''+ @Company +''''
				--set  @sqlstm1 = @sqlstm1 + ' and p.CompanyKey='''+ @Company +''''
				
end
 if(@NumberOfDays_search <> '')
 begin
	print @NumberOfDays_search
	if(@NumberOfDays_search <> 'Already Expired')
	begin	
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<='+cast(@NumberOfDays_search as varchar(10))+' and datediff(dd,getdate(),pt.policyexpirationdate)>''0'' and pt.StatusKey  =''6'''	
		Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
	end
	if(@NumberOfDays_search = 'Already Expired')
	begin
		set @sqlstm = @sqlstm + 'and isnull(f.IsRenewed,'''')  != ''Y'' and datediff(dd,getdate(),pt.policyexpirationdate)<''0'' and pt.StatusKey  =''6'''	
		Set @sqlstmBroker=@sqlstmBroker+ ' and  1=2'
	end
 end
 
--if(@IsFullQuote = 'N' and @IsQuickQuote = 'Y')
if(@StatusKey = 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.AppCreatedDate desc'
end
if(@StatusKey != 1)
begin
                set  @sqlstm = @sqlstm + ' order by p.PolicyEffectiveDate asc'
end

print @sqlstm

print @sqlstmBroker
Insert into #TempPolicyList(Premium,QuoteNumber, PolicyNumber, IsFullQuote, IsQuickQuote, FullQuick, AppDays, PolicyKey,isUncompletedData ,PolicyEffectiveDate, AccountName,   TransactionSequence, PolicyExpirationDate,  AccountID
, AccountKey  ,AddressKey, StateCode, StateDesc, Address1 ,StatusDesc,StatusKey,PolicyStatusKey,TransactionTypeKey,IsBasicPage,IsGeneralPage,IsSupplementPage,IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,IsPracriceMangPage, 
IsQuickQuotePage, FirstReviewUserID, VersionSequence, CoverageSequence, AppCreatedDate, MarketableProductKey, CoverageKey, IsViewed, CountyDesc, IsInsuredViewed, IsRenewed, CreatedType,IsRenewalReview,RenewBasicInfoPage,UWFlagCount,
approveSubjective,isPricingApproved,IsIndicationMailSent,AccountPolicyCount,isRenewAsBrokerage,LOBDesc,DecendentPolicyKey,CompanyKey,VersionKey) 
EXECUTE ( @sqlstm)  




DECLARE @AccountID INT,@TransactionSequence INT,@IsRenewed CHAR,@isRenewAsBrokerage CHAR='N',@Status INT,@DecendentPolicyKey INT,@DecendentPolicyKeyStatus INT,@PolicyPerAccountCount INT,@PLPOlicyCount INT,@isDecendentPolicyCompleted CHAR
DECLARE @P_TotalPremium NUMERIC(17,2),@P_TotalPolicyTaxAmount numeric(17,2),@PreviousFinalTransaction INT,@PreviousInvoicedPremium Numeric(10,2),@PresentInvoicedPremium Numeric(10,2),@Premium VARCHAR(100),@InitPremium Numeric(17,2)
DECLARE c1 CURSOR 	FOR
			SELECT  QuoteNumber,FirstReviewUserID,PolicyKey,AccountID,TransactionSequence,StatusKey,IsRenewed,DecendentPolicyKey,Premium from #TempPolicyList
OPEN c1

FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey,@AccountID,@TransactionSequence,@Status,@IsRenewed,@DecendentPolicyKey,@Premium
	WHILE @@FETCH_STATUS = 0
		BEGIN
			set @AgentName = ''
			set @IsApplicationCompleted = ''
			SET @isDecendentPolicyCompleted=(select top 1 CASE when isAppCompleted is not null then isAppCompleted else 'N' End from Firm where Policykey=@DecendentPolicyKey)
			if (@FirstReviewUserID != '') and  (@FirstReviewUserID is not null)
				begin
					select @AgentName = AgentName from UserDetails where UserNo = @FirstReviewUserID					
				end

	
		If Exists(select top 1 PolicyKey from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey)
		begin
				select top 1 @PreviousFinalTransaction=PreviousFinalizedTransactionSequence 	from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey
				select @P_TotalPremium=TotalPremium,@P_TotalPolicyTaxAmount=TotalPolicyTaxAmount,@PreviousInvoicedPremium=InvoicedPremium from PolicyTransaction with (nolock) where PolicyKey=@PolicyKey and TransactionSequence=@PreviousFinalTransaction
				DECLARE @PremiumVariation Numeric(17,2)=0.0,@TaxVariation Numeric(17,2)=0.0
				DECLARE @P1 NUMERIC(17,2)=0.0,@T1 NUMERIC(17,2)=0.0,@EndorsementInvoicedPremium Numeric(17,2)
					DECLARE cursor10 CURSOR FOR   select PremiumVariation,TaxVariation from EndorsementDetails with (nolock) where PolicyKey=@PolicyKey   and isFinancialEndirsement='Y'              
					OPEN cursor10;

					FETCH NEXT FROM cursor10 INTO  @PremiumVariation,@TaxVariation
					WHILE @@FETCH_STATUS = 0
						BEGIN
							--select @PremiumVariation,@TaxVariation
							set @P1=@P1+@PremiumVariation
							SET @T1=@T1+@TaxVariation
							FETCH NEXT FROM cursor10 INTO @PremiumVariation,@TaxVariation
						END;

					CLOSE cursor10;

					DEALLOCATE cursor10;
					set @EndorsementInvoicedPremium=@P1+@T1
			
				update #TempPolicyList set Premium = dbo.getAmountFormat(@PreviousInvoicedPremium+@EndorsementInvoicedPremium) where PolicyKey = @PolicyKey and TransactionSequence = @TransactionSequence --and VersionSequence = @VersionSequence

			end
			

			set @InvoicedPremium = ''
		
			
			select @QuoteSelectedNo = count(*) from PolicyTransaction pt, Quote q where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteSelectedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsQuoteSelected='Y' and q.PolicyKey = @PolicyKey
			select @ManualQuoteFinalisedNo = count(*) from PolicyCoverage pc, Quote q where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.IsDollarDefense='Y' and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			select @RatingTraceSequence = rt.RatingTraceSequence from PolicyTransaction pt, Quote q, RatingTrace rt where pt.PolicyKey=q.PolicyKey and pt.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			select @IsDollarDefense = pc.IsDollarDefense from PolicyCoverage pc, Quote q, RatingTrace rt where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and rt.TransactionSequence=q.TransactionSequence and q.IsThisOptionFinalised='Y' and q.PolicyKey = @PolicyKey
			
			exec CheckIfApplicationIsCompletedAccount @PolicyKey, @IsApplicationCompleted output

			update #TempPolicyList set UserNo = @FirstReviewUserID, AgentName =  @AgentName,QuoteSelectedNo = @QuoteSelectedNo, ManualQuoteSelectedNo = @ManualQuoteSelectedNo, ManualQuoteFinalisedNo = @ManualQuoteFinalisedNo, RatingTraceSequence=@RatingTraceSequence, IsDollarDefense=@IsDollarDefense, IsApplicationCompleted=@IsApplicationCompleted where QuoteNumber = @QuoteNumber and PolicyKey = @PolicyKey
			update #TempPolicyList set ClaimIcon=(SELECT dbo.ValidateClaimsAcc(@PolicyKey,@AccountID)) where PolicyKey= @PolicyKey 
		
		 if(@Status=6 and @IsRenewed is null)
					begin 
						print 'H1'
						set @isRenewAsBrokerage='Y'
					end
				else if(@Status=6 and @IsRenewed='Y')	
					begin
					print 'HI2'
						Set @DecendentPolicyKeyStatus=(select top 1 statuskey from PolicyTransaction where PolicyKey=@DecendentPolicyKey)

						--select @PolicyKey as PolicyKey,@DecendentPolicyKey as DecendentPolicyKey,@DecendentPolicyKeyStatus as DecendentPolicyStatus
							if(@DecendentPolicyKeyStatus!=6)
								set @isRenewAsBrokerage='Y'
								else
								set @isRenewAsBrokerage='N'
							
					end
				
				else
					set @isRenewAsBrokerage='N'

			set @PLPOlicyCount=(select case when count(*) is null then 0 else  count(*) END from Policy where AccountID=@AccountID)
			set @PolicyPerAccountCount=(select case when count(*) is null then 0 else  count(*) END from BrokerageLW where AccountID=@AccountID)
			Update #TempPolicyList set AccountPolicyCount=(@PolicyPerAccountCount+@PLPOlicyCount ) where AccountID=@AccountID
			Update #TempPolicyList set AccountPolicyCount=(@PolicyPerAccountCount+@PLPOlicyCount ) where AccountID=@AccountID
			
				update #TempPolicyList set isRenewAsBrokerage=@isRenewAsBrokerage,isDecendentPolicyCompleted=@isDecendentPolicyCompleted where PolicyKey= @PolicyKey 
			FETCH NEXT FROM c1 into @QuoteNumber ,@FirstReviewUserID, @PolicyKey,@AccountID,@TransactionSequence,@Status,@IsRenewed,@DecendentPolicyKey,@Premium
		END


CLOSE c1
DEALLOCATE c1

CREATE TABLE #NEWAPPTABLE
(
	id INT Identity(1,1),
	PolicyKey INT,
	AccountKey INT,
	AppCreatedDate DATETIME
)
--select * from #TempPolicyList 
INSERT INTO #NEWAPPTABLE(PolicyKey,AccountKey,AppCreatedDate) SELECT PolicyKey,AccountKey,AppCreatedDate FROM #TempPolicyList WHERE AppCreatedDate>@NewAppImplementationDate

update #TempPolicyList
set IsApplicationCompleted=(SELECT FullyCompleted from ValidateFullApplicationACC(nat.PolicyKey))
from #TempPolicyList tpl 
inner join #NEWAPPTABLE nat on tpl.PolicyKey = nat.PolicyKey

drop table #NEWAPPTABLE

	if(@IsBrokered ='Y')
		begin
			if(@role_id <> 4)
					begin
					INSERT INTO #TempPolicyList(AccountID,PolicyNumber,PolicyEffectiveDate,PolicyExpirationDate,AccountName,StatusDesc,StateDesc,AppCreatedDate,FullQuick,Premium,
						FirstReviewUserID,AgentName,isBrokerPolicy,Address1,IsFullQuote,IsQuickQuote,isUncompletedData,StateCode,BrokeragePolicyKey,isRenewAsBrokerage,isConvertedPolicy,AccountPolicyCount,LOBDesc)
					EXECUTE(@sqlstmBroker)
					end
		END
--UPDATE T1 SET    VersionID = T2.VersionSequence FROM   PolicyTransaction T1 JOIN Firm T2 ON T1.PolicyKey = T2.Policykey Where t1.TransactionTypeKey<6 

--UPDATE T1 SET    VersionID = T2.VersionSequence FROM   PolicyTransaction T1 JOIN FirmLW T2 ON T1.PolicyKey = T2.Policykey Where t1.TransactionTypeKey<6  
--print @sqlstm
update #TempPolicyList set isAppCompleted=IsApplicationCompleted
select * from #TempPolicyList
drop table #TempPolicyList

--EXECUTE ( @sqlstm)
END














GO
