USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateAreaOfPracticeACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateAreaOfPracticeACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateAreaOfPracticeACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateAreaOfPracticeACC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateAreaOfPracticeACC_p]
(
	@PolicyKey INT,
	@VersionSequence INT,
	@xml xml,
	@LastUpdateUserID int,
	@LastUpdateTimeStamp VARCHAR(50),
	@VersionKey INT
)
AS
BEGIN
	DECLARE @investmentPlanning INT,@computerServices INT,@BusinessManagement INT,@audit INT,@AnnualRevenue INT,@IsControlClientFunds CHAR,@PolicyStatusKey INT
	DELETE FROM AreaOfPractice WHERE POLICYKEY=@PolicyKey and VersionSequence=@VersionSequence

			INSERT INTO AreaOfPractice(AOPKey, PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence,CreatedBy,CreatedDate,VersionKey)
			SELECT
				 doc.col.value('AOPKey[1]', 'INT') AOPKey,
				doc.col.value('PercentageValue[1]', 'INT') PercentageValue, 
				doc.col.value('AOPCommentDesc[1]', 'VARCHAR(500)') AOPCommentDesc, 
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence,
				@LastUpdateUserID,@LastUpdateTimeStamp,@VersionKey
			FROM @xml.nodes('/Root/Root1') doc(col)
			
	
		--UPDATE AreaOfPractice SET LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@PolicyKey
	select @IsControlClientFunds=IsControlClientFunds,@PolicyStatusKey=PolicyStatusKey from Firm f with(nolock) inner join Policy p with(nolock) on f.PolicyKey=p.PolicyKey where f.PolicyKey=@PolicyKey and f.VersionSequence=@VersionSequence
	SET @AnnualRevenue=(select Amount from GrossRevenueForFirm with(nolock) where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm with(nolock) where Policykey=@PolicyKey))
	IF(@AnnualRevenue<500000)
		Update FIRM SET IsNonMonetaryCompensationRecieved=null,IsClientTerminated=NULL,IsAnyDeclination=null,IsPolicyProhibiting=null,IsWrittenAnyQualityControlDocument=null,CurrentValueNmc=null,ClientIndustryNmcKey=null,
		  ClientNameNmc=null,ServiceIndustryNmcKey=null,IsReducedNumberOfOwners=null where Policykey=@PolicyKey and VersionSequence=@VersionSequence
	
	SET @investmentPlanning  = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop with(nolock) where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=19)
	if(@investmentPlanning is null)
		set @investmentPlanning=0
	if(@investmentPlanning=0)
		delete from FinancialPlanningAndIAServiceSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		
	SET @computerServices = (select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop with(nolock) where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=14)
	if(@computerServices is null)
		set @computerServices=0
	if(@computerServices=0)
		delete from  ITServicesSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence	

	SET @BusinessManagement =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop with(nolock) where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=18)
	if(@BusinessManagement is null)
		set @BusinessManagement=0
	IF(@BusinessManagement=0 and @IsControlClientFunds='N')
		delete from FundsControlledSupp where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence

	SET @audit =(select CASE WHEN aop.PercentageValue IS NOT NULL and aop.PercentageValue <> ''  THEN aop.PercentageValue ELSE 0  END from AreaOfPractice aop with(nolock) where aop.policykey=@PolicyKey  and aop.VersionSequence=@VersionSequence and aop.AOPKey=6)
	if(@audit is null)
		set @audit=0
	IF(@audit=0)
	begin
		delete from Attestation where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		delete from AttestationAuditWork where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
		if(@PolicyStatusKey=2)
		update FIRM set IsPublicTradedAudited=null,IsSyndicationManagers=null,IsDebtOrEquityFinancing=null where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	END
END


 

GO
