USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsStateTrustValuesAmountsLWDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[WillsStateTrustValuesAmountsLWDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsStateTrustValuesAmountsLWDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[WillsStateTrustValuesAmountsLWDetails_p] AS' 
END
GO

-- exec WillsStateTrustValuesAmountsLWDetails_p 123614, 102833
ALTER PROCEDURE [dbo].[WillsStateTrustValuesAmountsLWDetails_p]
	@PolicyKey INT,
	@VersionSequence INT
AS
BEGIN
	
	CREATE TABLE #TEMP
	(
		AmountRangeKey INT ,
		AmountRangeDesc VARCHAR(100),
		NumberOfMattersValued INT
	)

	INSERT INTO #TEMP(AmountRangeKey,AmountRangeDesc) select AmountRangeKey,AmountRangeDesc from WillsStateTrustAmountsLW_LKU

	If exists(select * from WillsStateTrustValuesAmountsLW where Policykey=@Policykey and VersionSequence=@VersionSequence)
	begin
	UPDATE t1
		  SET t1.NumberOfMattersValued =  wst.NumberOfMattersValued FROM WillsStateTrustValuesAmountsLW wst
				INNER JOIN  #TEMP t1 ON wst.AmountRangeKey = t1.AmountRangeKey  WHERE wst.PolicyKey=@PolicyKey and wst.VersionSequence=@VersionSequence
	end
	select * from #TEMP
END


GO
