USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetBrokeragePolicyDetails_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetBrokeragePolicyDetails_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetBrokeragePolicyDetails_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetBrokeragePolicyDetails_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[GetBrokeragePolicyDetails_p]
(

	@CarrierKey VARCHAR(100),
	@BrokerPolicyEffectiveDate DATETIME,
	@BrokerPolicyExpirationDate DATETIME,
	@AccountName VARCHAR(100),
	@Address VARCHAR(500),
	@State VARCHAR(20),
	@City VARCHAR(100),
	@Zip VARCHAR(50),
	@Phone VARCHAR(100),
	@Email VARCHAR(500),
	@LOBKey INT,
	@BrokerKey VARCHAR(100),
	@Commission Numeric(10,2),
	@ExpiringPolicyNumber VARCHAR(100),
	@StatusKey INT,
	@Premium Numeric(17,2),
	@PremiumTaxes Numeric(17,2),
	@AccountID INT,
	@TransactionTypeKey INT,
	@Fees Numeric(17,2),
	@Address2 VArchar(500)
	
)
AS
BEGIN
	
	Declare @POLICYSQL VARCHAR(4000)='SELECT BrokeragePolicyKey,AccountID From BrokerageLW WHere 1=1 and '

	If(@CarrierKey !='' and @CarrierKey is not null)
		set @POLICYSQL=@POLICYSQL+'and CarrierKey='''+@CarrierKey+''''
	if(@BrokerPolicyEffectiveDate !='' and @BrokerPolicyEffectiveDate is not null)
		set @POLICYSQL=@POLICYSQL+' and BrokerPolicyEffectiveDate='''+cast(@BrokerPolicyEffectiveDate as varchar)+''''
	if(@BrokerPolicyExpirationDate !='' and @BrokerPolicyExpirationDate is not null)
		set @POLICYSQL=@POLICYSQL+' and BrokerPolicyExpirationDate='''+cast(@BrokerPolicyExpirationDate as varchar)+''''
	if(@AccountName !='' and @AccountName is not null)
		set @POLICYSQL=@POLICYSQL+' AccountName='''+@AccountName+''''
	if(@State !='' and @State is not null)
		set @POLICYSQL=@POLICYSQL+' and State='''+@State+''''
	if(@City !='' and @City is not null)
		set @POLICYSQL=@POLICYSQL+' and City='''+@City+''''
	if(@Zip !='' and @Zip is not null)
		set @POLICYSQL=@POLICYSQL+' and Zip='''+@Zip+''''
	if(@Phone !='' and @Phone is not null)
		set @POLICYSQL=@POLICYSQL+'and Phone='''+@Phone+''''
	if(@Address !='' and @Address is not null)
		set @POLICYSQL=@POLICYSQL+' and Address='''+@Address+''''
	if(@Address2 !='' and @Address2 is not null)
		set @POLICYSQL=@POLICYSQL+' and Address2='''+@Address2+''''
	if(@Email !='' and @Email is not null)
		set @POLICYSQL=@POLICYSQL+' and Email='''+@Email+''''
	if(@BrokerKey !='' and @BrokerKey is not null)
		set @POLICYSQL=@POLICYSQL+' and BrokerKey='+CAST(@BrokerKey AS varchar)+''
	if( @Commission is not null)
		set @POLICYSQL=@POLICYSQL+' and Commission='+cast(@Commission as varchar)+''
	if(@StatusKey is not null)
		set @POLICYSQL=@POLICYSQL+' and StatusKey='+cast(@StatusKey as varchar)+''
	if (@Premium is not null)
		set @POLICYSQL=@POLICYSQL+' and Premium='+cast(@Premium as varchar)+''
	if( @PremiumTaxes is not null)
		set @POLICYSQL=@POLICYSQL+' and PremiumTax='+cast(@PremiumTaxes as varchar)+''
	if(@LOBKey !='' and @LOBKey is not null)
		set @POLICYSQL=@POLICYSQL+' and LOBKey='+CAST(@LOBKey AS varchar)+''
	if( @AccountID is not null)
		set @POLICYSQL=@POLICYSQL+' and AccountID='+cast(@AccountID as varchar)+''
	if( @Fees is not null)
		set @POLICYSQL=@POLICYSQL+' and Fees='+cast(@Fees as varchar)+''
	if( @TransactionTypeKey is not null)
		set @POLICYSQL=@POLICYSQL+' and TransactionTypeKey='+cast(@TransactionTypeKey as varchar)+''
	if(@ExpiringPolicyNumber !='' and @ExpiringPolicyNumber is not null)
		set @POLICYSQL=@POLICYSQL+' and ExpiringPolicyNumber='''+@ExpiringPolicyNumber+''''


		print @POLICYSQL
	EXECUTE(@POLICYSQL);
	
END


GO
