USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchBrokeragePoliciesCountLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchBrokeragePoliciesCountLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchBrokeragePoliciesCountLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchBrokeragePoliciesCountLW_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec FetchBrokeragePoliciesCountLW_p 20, 1, 'John D. Carey, LLC', '', '', '', null, ''

ALTER PROCEDURE [dbo].[FetchBrokeragePoliciesCountLW_p]
	@PageSize int,
	@PageNumber int,
	@AccountName varchar(50), 
	@PolicyNumber varchar(15),
	@PolicyEffectiveDate varchar(10), 
	@PolicyEffectiveDate2 varchar(50), 
	@StateCode varchar(500), 
	@StatusKey varchar(2)
AS
BEGIN

if(@AccountName <> '')
begin
    set  @AccountName = RTrim(LTrim(@AccountName))
    set  @AccountName = REPLACE( @AccountName, '''', '''''' )
end
if(@PolicyNumber <> '')
begin
    set  @PolicyNumber = RTrim(LTrim(@PolicyNumber))
    set  @PolicyNumber = REPLACE( @PolicyNumber, '''', '''''' )
end
if(@PolicyEffectiveDate <> '')
begin
    set  @PolicyEffectiveDate = RTrim(LTrim(@PolicyEffectiveDate))
end
if(@PolicyEffectiveDate2 <> '')
begin
	set  @PolicyEffectiveDate2 = RTrim(LTrim(@PolicyEffectiveDate2))
end

	create table #TempBrokerageLW(
		BrokeragePolicyKey int,
		AccountID int,
		CarrierDesc varchar(100),
		BrokeredPolicyNumber varchar(100),
		BrokerPolicyEffectiveDate DATETIME,
		BrokerPolicyExpirationDate DATETIME,
		AccountName varchar(100),
		Address varchar(500),
		State varchar(100),
		City varchar(100),
		Zip varchar(100),
		Phone varchar(100),
		Email varchar(100),
		LOBKey int,
		haveProfessionalLiabilityInsurance varchar(100),
		PLEffectiveDate DATETIME,
		PLExpirationDate DATETIME,
		PLPolicyNumber varchar(100),
		TotalCalculatedPremium varchar(100),
		PremiumSort Numeric(17,2),
		ContractComments varchar(100),
		ExpiringCarrier varchar(100),
		Broker varchar(100),
		ExpiringPolicyNumber varchar(100),
		Commission Numeric(17,2),
		StatusKey int,
		Premium Numeric(17,2),
		PremiumTax Numeric(17,2),
		StateDesc varchar(100),
		LOB varchar(100),
		Status varchar(100),
		FirstReviewer varchar(100),
		AccountPolicyCount int,
		CreatedDate DATETIME,
		isConvertedPolicy varchar(100)
	)
	
	SET NOCOUNT ON;
	DECLARE @sqlstm varchar(5000)
	DECLARE @sqlstmresult varchar(5000)
	set @sqlstm=' select BrokeragePolicyKey,AccountID,ck.CarrierDesc,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,Address,State,City,Zip,Phone,Email,bl.LOBKey,haveProfessionalLiabilityInsurance,
		PLEffectiveDate,PLExpirationDate,PLPolicyNumber,dbo.getAmountFormat(TotalCalculatedPremium) as TotalCalculatedPremium,TotalCalculatedPremium as PremiumSort,ContractComments,ExpiringCarrier,bkl.BrokerDesc as Broker,ExpiringPolicyNumber,Commission,bl.StatusKey,Premium,PremiumTax,StateDesc,
		blb.LOBDesc_Brokerage as LOB,bs.StatusDesc as Status,ud.AgentName as  FirstReviewer ,((select count(PolicyKey) from Policy Where AccountID=bl.AccountID) +(select count(BrokeragePolicyKey) from BrokerageLW Where AccountID=bl.AccountID)) as AccountPolicyCount,bkl.CreatedDate,isConvertedPolicy
		from BrokerageLW bl  
		left join State st on st.StateCode=bl.State 
		left join LOB blb on blb.LOBKey=bl.LOBKey 
		left join Status bs on bs.StatusKey=bl.StatusKey  
		Left Join UserDetails ud on ud.UserNo=bl.FirstReviewUserID
		left join Carrier_lku ck on ck.CarrierKey=bl.CarrierKey
		left join Broker_lku bkl on bkl.BrokerKey=bl.BrokerKey
		where bl.isArchived!=''True'' order by CreatedDate desc '

	

	insert into #TempBrokerageLW(BrokeragePolicyKey,AccountID,CarrierDesc,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,
	AccountName,Address,State,City,Zip,Phone,Email,LOBKey,haveProfessionalLiabilityInsurance,PLEffectiveDate,PLExpirationDate,PLPolicyNumber,
	TotalCalculatedPremium,PremiumSort,ContractComments,ExpiringCarrier,Broker,ExpiringPolicyNumber,Commission,StatusKey,Premium,PremiumTax,
	StateDesc,LOB,Status,FirstReviewer,AccountPolicyCount,bkl.CreatedDate,isConvertedPolicy)
	execute(@sqlstm)

	set @sqlstmresult = ' select count(*) as BrokeragePolicyCount from #TempBrokerageLW where 1 = 1 '

	if(@AccountName <> '')
	begin
        set  @sqlstmresult = @sqlstmresult + ' and AccountName LIKE ''%'+@AccountName +'%'+''''
	end

	if(@PolicyNumber <> '')
	begin
		set @sqlstmresult = @sqlstmresult + ' and BrokeredPolicyNumber LIKE '''+@PolicyNumber+'%'+''''
	end

	if(@PolicyEffectiveDate <> '' and @PolicyEffectiveDate2 <> '')
	begin
		set @sqlstmresult = @sqlstmresult + ' and BrokerPolicyEffectiveDate >= '''+@PolicyEffectiveDate +''' and BrokerPolicyEffectiveDate <= '''+@PolicyEffectiveDate2 + ''''
	end

	if(@StateCode <> '')
	begin
		set  @sqlstmresult = @sqlstmresult + ' and State IN (SELECT items FROM Split('''+@StateCode +''','',''))'
	end

	if(@StatusKey <> '')
	begin
		set  @sqlstmresult = @sqlstmresult + ' and StatusKey = ''' + @StatusKey + ''''
	end

	if(@PageSize != 0)
	begin
		set @sqlstmresult = @sqlstmresult + ' order by   BrokeragePolicyCount desc  OFFSET ' + cast((@PageSize * (@PageNumber-1)) as varchar(5))+' ROWS  FETCH NEXT '+cast(@PageSize as varchar(5))+' ROWS ONLY;'
	end 

	print @sqlstmresult
	execute(@sqlstmresult)
	
	drop table #TempBrokerageLW
END







GO
