USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_QuoteOptions_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_QuoteOptions_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_QuoteOptions_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_QuoteOptions_ACC] AS' 
END
GO
--exec UWRules_QuoteOptions_ACC 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_QuoteOptions_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID INT
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,@PolicyEffectiveDate DateTime,@PolicyExpirationDatePross DATETIME,@moreThan5000Count INT
	
	Set @moreThan5000Count=(select count(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey and InvoicedPremium>5000)
	IF(@PolicyStatusKey=1)
	BEGIN
	print 'NB Flow'
		
		--set @rule_id='validateExpirationDateNewBusiness_Lawyers'
		--if(@daysDifference <> 0)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Expiration date on current insurance different than effective date requested.','Why is the submission late?  If more than 90 (NB) or 60 (Renewal) explain that we cannot quote them that far out.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id
END

	IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
			set @rule_id='renewalPremiumComparision_Lawyers'
			if(@moreThan5000Count>1)
				exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Premium above 5,000.','Premium above 5,000 must be approved by UW.',@LastUpdateUserID
			else
				exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END




GO
