USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCompanyListACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetCompanyListACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCompanyListACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetCompanyListACC_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[GetCompanyListACC_p]
    @StateCode VARCHAR(20),
    @MarketableProductKey INT,
    @PolicyEffectiveDate VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EffectiveDate DATETIME;
    DECLARE @CompanyKey INT;

    IF NULLIF(LTRIM(RTRIM(@PolicyEffectiveDate)), '') IS NULL
        SET @EffectiveDate = GETDATE();
    ELSE
        SET @EffectiveDate = CONVERT(DATETIME, @PolicyEffectiveDate, 101); -- MM/dd/yyyy

    SELECT TOP (1)
        @CompanyKey = CompanyKey
    FROM dbo.StateCompany WITH (NOLOCK)
    WHERE StateCode = @StateCode
      AND MarketableProductKey = @MarketableProductKey
      AND EffectiveDate <= @EffectiveDate
      AND ExpirationDate >= @EffectiveDate
    ORDER BY EffectiveDate DESC;

    SELECT
        @CompanyKey AS CompanyAsPerState,
        @CompanyKey AS CompanyKey;
END;
GO
