USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertClaimsSummaryACC_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertClaimsSummaryACC_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertClaimsSummaryACC_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertClaimsSummaryACC_p] AS' 
END
GO
-- exec InsertClaimsSummaryACC_p '<Root><Root1><ClaimNumber>001245-1 </ClaimNumber><DtPolicyEffective>20-Feb-2024</DtPolicyEffective><DtPolicyExpiration>20-Feb-2025</DtPolicyExpiration><Description>Claim - alleges Insured failed to file a NY state</Description><PolicyNumber>AAA-04-000251-02 </PolicyNumber><DtDOL>15-Apr-2019</DtDOL><InsdName>Harry Szafranski </InsdName><DtReported>15-May-2024</DtReported><TotalPaidLossOcc>5048.0</TotalPaidLossOcc><TotalClaimAmount>46500.0</TotalClaimAmount><ExpReserveOcc>25000.0</ExpReserveOcc><OutstandingReserveOcc>16452.0</OutstandingReserveOcc><RiskState>NY</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001382 </ClaimNumber><DtPolicyEffective>26-Jul-2024</DtPolicyEffective><DtPolicyExpiration>26-Jul-2025</DtPolicyExpiration><Description>Claim - alleges Insured failed to timely file a t</Description><PolicyNumber>AAA-04-000452-02 </PolicyNumber><DtDOL>14-Aug-2023</DtDOL><InsdName>Accsol, Inc. DBA Business Solutions </InsdName><DtReported>14-Nov-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>TX</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>30-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001309 </ClaimNumber><DtPolicyEffective>16-Jan-2024</DtPolicyEffective><DtPolicyExpiration>16-Jan-2025</DtPolicyExpiration><Description>Claim - alleges Insured failed to timely file pay</Description><PolicyNumber>AAA-04-000497-01 </PolicyNumber><DtDOL>21-Jun-2024</DtDOL><InsdName>Buckendorf, Haynes, CPA LLC </InsdName><DtReported>21-Jun-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>1584.25</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CO</RiskState><ExpPaidOcc>1584.25</ExpPaidOcc><DtClaimClosed>13-Aug-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001251 </ClaimNumber><DtPolicyEffective>01-Dec-2023</DtPolicyEffective><DtPolicyExpiration>16-Dec-2024</DtPolicyExpiration><Description>Claim - alleges Insured filed incorrect form on c</Description><PolicyNumber>AAA-04-000160-02 </PolicyNumber><DtDOL>15-Apr-2022</DtDOL><InsdName>Termulo and Associates, PLLC </InsdName><DtReported>15-Feb-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>705.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>WA</RiskState><ExpPaidOcc>705.0</ExpPaidOcc><DtClaimClosed>13-Sep-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001209 </ClaimNumber><DtPolicyEffective>10-Oct-2023</DtPolicyEffective><DtPolicyExpiration>10-Oct-2024</DtPolicyExpiration><Description>Claim - alleges Insured filed tax documents late </Description><PolicyNumber>AAA-04-000470-01 </PolicyNumber><DtDOL>16-Apr-2020</DtDOL><InsdName>Anthony Sykes and Co., Inc </InsdName><DtReported>29-Nov-2023</DtReported><TotalPaidLossOcc>1575.0</TotalPaidLossOcc><TotalClaimAmount>1575.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001305 </ClaimNumber><DtPolicyEffective>01-Oct-2023</DtPolicyEffective><DtPolicyExpiration>01-Oct-2024</DtPolicyExpiration><Description>Claim - alleges Insured made errors in payroll ca</Description><PolicyNumber>AAA-04-000086-02 </PolicyNumber><DtDOL>12-Dec-2023</DtDOL><InsdName>Herrmann and Loll, P.C. </InsdName><DtReported>14-Jun-2024</DtReported><TotalPaidLossOcc>1289.0</TotalPaidLossOcc><TotalClaimAmount>126289.0</TotalClaimAmount><ExpReserveOcc>100000.0</ExpReserveOcc><OutstandingReserveOcc>25000.0</OutstandingReserveOcc><RiskState>PA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001298 </ClaimNumber><DtPolicyEffective>15-Jul-2023</DtPolicyEffective><DtPolicyExpiration>15-Jul-2024</DtPolicyExpiration><Description>Claim - alleges the Insured failed to timely file</Description><PolicyNumber>AAA-04-000441-02 </PolicyNumber><DtDOL>18-Apr-2022</DtDOL><InsdName>Chuck Rinkey, Ltd. </InsdName><DtReported>31-May-2024</DtReported><TotalPaidLossOcc>3835.0</TotalPaidLossOcc><TotalClaimAmount>3835.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>MN</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001155 </ClaimNumber><DtPolicyEffective>22-Jan-2023</DtPolicyEffective><DtPolicyExpiration>22-Jan-2024</DtPolicyExpiration><Description>Claim - alleging the Insured filed a tax filing l</Description><PolicyNumber>AAA-04-000283-01 </PolicyNumber><DtDOL>17-Dec-2021</DtDOL><InsdName>Kimberly Perry, CPA </InsdName><DtReported>12-Sep-2023</DtReported><TotalPaidLossOcc>6000.0</TotalPaidLossOcc><TotalClaimAmount>6000.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001352 </ClaimNumber><DtPolicyEffective>10-Dec-2023</DtPolicyEffective><DtPolicyExpiration>10-Dec-2024</DtPolicyExpiration><Description>Claim - Insured carryover was incorrect causing p</Description><PolicyNumber>AAA-04-000192-02 </PolicyNumber><DtDOL>20-May-2024</DtDOL><InsdName>Karen Havens CPA </InsdName><DtReported>17-Sep-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>5600.0</TotalClaimAmount><ExpReserveOcc>4600.0</ExpReserveOcc><OutstandingReserveOcc>1000.0</OutstandingReserveOcc><RiskState>IA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001330 </ClaimNumber><DtPolicyEffective>06-Mar-2024</DtPolicyEffective><DtPolicyExpiration>06-Mar-2025</DtPolicyExpiration><Description>Claim - Insured filed multiple tax filings late i</Description><PolicyNumber>AAA-04-000334-02 </PolicyNumber><DtDOL>06-Oct-2022</DtDOL><InsdName>Vanessa L Blevins, CPA and Company, LLC </InsdName><DtReported>12-Aug-2024</DtReported><TotalPaidLossOcc>7366.0</TotalPaidLossOcc><TotalClaimAmount>28500.0</TotalClaimAmount><ExpReserveOcc>8500.0</ExpReserveOcc><OutstandingReserveOcc>12634.0</OutstandingReserveOcc><RiskState>OH</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001195 </ClaimNumber><DtPolicyEffective>14-May-2023</DtPolicyEffective><DtPolicyExpiration>14-May-2024</DtPolicyExpiration><Description>Claim - Insured underreported clients income resu</Description><PolicyNumber>AAA-04-000351-01 </PolicyNumber><DtDOL>24-Oct-2022</DtDOL><InsdName>Santoro Services Inc </InsdName><DtReported>10-Nov-2023</DtReported><TotalPaidLossOcc>4513.0</TotalPaidLossOcc><TotalClaimAmount>4513.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>PA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001351 </ClaimNumber><DtPolicyEffective>31-Dec-2023</DtPolicyEffective><DtPolicyExpiration>31-Dec-2024</DtPolicyExpiration><Description>Claim - Insureds software was compromised causing</Description><PolicyNumber>AAA-04-000216-02 </PolicyNumber><DtDOL>13-Sep-2024</DtDOL><InsdName>Bruce Baldwin </InsdName><DtReported>13-Sep-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>25000.0</TotalClaimAmount><ExpReserveOcc>25000.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>IA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001260 </ClaimNumber><DtPolicyEffective>20-Jan-2024</DtPolicyEffective><DtPolicyExpiration>20-Mar-2024</DtPolicyExpiration><Description>Potential Claim - alleges Insured failed to notif</Description><PolicyNumber>AAA-04-000291-02 </PolicyNumber><DtDOL>30-Apr-2024</DtDOL><InsdName>Thomas J. O''Malley III, CPA, A Professional Corporation </InsdName><DtReported>01-Mar-2024</DtReported><TotalPaidLossOcc>15152.5</TotalPaidLossOcc><TotalClaimAmount>36020.0</TotalClaimAmount><ExpReserveOcc>10000.0</ExpReserveOcc><OutstandingReserveOcc>10867.5</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001245 </ClaimNumber><DtPolicyEffective>20-Feb-2023</DtPolicyEffective><DtPolicyExpiration>20-Feb-2024</DtPolicyExpiration><Description>Potential Claim - alleges Insured failed to prope</Description><PolicyNumber>AAA-04-000251-01 </PolicyNumber><DtDOL>04-Oct-2022</DtDOL><InsdName>Harry Szafranski </InsdName><DtReported>24-Jan-2024</DtReported><TotalPaidLossOcc>8180.5</TotalPaidLossOcc><TotalClaimAmount>56500.0</TotalClaimAmount><ExpReserveOcc>25000.0</ExpReserveOcc><OutstandingReserveOcc>23319.5</OutstandingReserveOcc><RiskState>NJ</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001225 </ClaimNumber><DtPolicyEffective>01-Nov-2023</DtPolicyEffective><DtPolicyExpiration>01-Nov-2024</DtPolicyExpiration><Description>Potential Claim - alleges Insured may be penalize</Description><PolicyNumber>AAA-04-000479-01 </PolicyNumber><DtDOL>02-Jan-2024</DtDOL><InsdName>SOS Business Services </InsdName><DtReported>02-Jan-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>30-Sep-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001344 </ClaimNumber><DtPolicyEffective>20-Sep-2023</DtPolicyEffective><DtPolicyExpiration>20-Sep-2024</DtPolicyExpiration><Description>Potential Claim - alleges Insured mis-valued basi</Description><PolicyNumber>AAA-04-000399-02 </PolicyNumber><DtDOL>29-Aug-2024</DtDOL><InsdName>Jorge Perazzo CPA Accountancy Corporation </InsdName><DtReported>29-Aug-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>1000.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>1000.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001216 </ClaimNumber><DtPolicyEffective>30-Dec-2022</DtPolicyEffective><DtPolicyExpiration>30-Dec-2023</DtPolicyExpiration><Description>Potential Claim - alleges insureds data storage w</Description><PolicyNumber>AAA-04-000183-01 </PolicyNumber><DtDOL>14-Dec-2023</DtDOL><InsdName>Ashley Brown and Smith, CPAs </InsdName><DtReported>18-Dec-2023</DtReported><TotalPaidLossOcc>9036.0</TotalPaidLossOcc><TotalClaimAmount>9036.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>FL</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>06-Aug-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001138 </ClaimNumber><DtPolicyEffective>01-Aug-2022</DtPolicyEffective><DtPolicyExpiration>01-Aug-2023</DtPolicyExpiration><Description>Potential Claim - alleging Insured made improper </Description><PolicyNumber>AAA-04-000027-01 </PolicyNumber><DtDOL>12-Jul-2020</DtDOL><InsdName>James D. Carlson CPA, dba Carlson and Company, Chartered </InsdName><DtReported>25-Jul-2023</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>FL</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001315 </ClaimNumber><DtPolicyEffective>01-Jul-2023</DtPolicyEffective><DtPolicyExpiration>01-Jul-2024</DtPolicyExpiration><Description>Potential Claim - Insured bacame awre clients hav</Description><PolicyNumber>AAA-04-000407-01 </PolicyNumber><DtDOL>01-Mar-2024</DtDOL><InsdName>Spann and Associates </InsdName><DtReported>24-Jun-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001363 </ClaimNumber><DtPolicyEffective>08-May-2024</DtPolicyEffective><DtPolicyExpiration>08-May-2025</DtPolicyExpiration><Description>Potential Claim - Insured filed clients form 5227</Description><PolicyNumber>AAA-04-000360-02 </PolicyNumber><DtDOL>15-Mar-2024</DtDOL><InsdName>John S. Curtin CPA Chartered </InsdName><DtReported>17-Oct-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>15000.0</TotalClaimAmount><ExpReserveOcc>14000.0</ExpReserveOcc><OutstandingReserveOcc>1000.0</OutstandingReserveOcc><RiskState>MD</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001338 </ClaimNumber><DtPolicyEffective>17-Sep-2023</DtPolicyEffective><DtPolicyExpiration>17-Sep-2024</DtPolicyExpiration><Description>Potential Claim - insured filed corp tax form lat</Description><PolicyNumber>AAA-04-000057-02 </PolicyNumber><DtDOL>01-Dec-2023</DtDOL><InsdName>Roche, Head and Associates </InsdName><DtReported>22-Aug-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>22500.0</TotalClaimAmount><ExpReserveOcc>20000.0</ExpReserveOcc><OutstandingReserveOcc>2500.0</OutstandingReserveOcc><RiskState>NC</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001124 </ClaimNumber><DtPolicyEffective>01-Jan-2023</DtPolicyEffective><DtPolicyExpiration>01-Jan-2024</DtPolicyExpiration><Description>Potential Claim - Insured may have misapplied the</Description><PolicyNumber>AAA-04-000099-01 </PolicyNumber><DtDOL>17-Apr-2023</DtDOL><InsdName>Dennis L. Oberhelmen </InsdName><DtReported>22-Jun-2023</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CO</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001103 </ClaimNumber><DtPolicyEffective>01-Sep-2022</DtPolicyEffective><DtPolicyExpiration>01-Sep-2023</DtPolicyExpiration><Description>Potential Claim - Insureds computer system was co</Description><PolicyNumber>AAA-04-000039-01 </PolicyNumber><DtDOL>05-Mar-2023</DtDOL><InsdName>JSG Financial </InsdName><DtReported>04-May-2023</DtReported><TotalPaidLossOcc>5841.0</TotalPaidLossOcc><TotalClaimAmount>30841.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>IL</RiskState><ExpPaidOcc>25000.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001169 </ClaimNumber><DtPolicyEffective>25-Jan-2023</DtPolicyEffective><DtPolicyExpiration>25-Jan-2024</DtPolicyExpiration><Description>Potential Claims - alleges Insured filed a tax re</Description><PolicyNumber>AAA-04-000253-01 </PolicyNumber><DtDOL>28-Aug-2023</DtDOL><InsdName>Michael D. Riggs, CPA </InsdName><DtReported>02-Oct-2023</DtReported><TotalPaidLossOcc>4410.0</TotalPaidLossOcc><TotalClaimAmount>40000.0</TotalClaimAmount><ExpReserveOcc>30000.0</ExpReserveOcc><OutstandingReserveOcc>5590.0</OutstandingReserveOcc><RiskState>IL</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001226 </ClaimNumber><DtPolicyEffective>01-Jan-2024</DtPolicyEffective><DtPolicyExpiration>01-Jan-2025</DtPolicyExpiration><Description>Regulatory - alleges Insured failed to meet a dea</Description><PolicyNumber>AAA-04-000247-02 </PolicyNumber><DtDOL>31-Mar-2020</DtDOL><InsdName>Gary Spoon CPA PC </InsdName><DtReported>03-Jan-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>MD</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>06-Aug-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001175-1 </ClaimNumber><DtPolicyEffective>07-Feb-2023</DtPolicyEffective><DtPolicyExpiration>07-Feb-2024</DtPolicyExpiration><Description>Regulatory - claims Insured had a conflict of int</Description><PolicyNumber>AAA-04-000303-01 </PolicyNumber><DtDOL>05-Oct-2023</DtDOL><InsdName>Marlen Munoz, C.P.A., P.A. </InsdName><DtReported>09-Oct-2023</DtReported><TotalPaidLossOcc>1555.5</TotalPaidLossOcc><TotalClaimAmount>1555.5</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>FL</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001333 </ClaimNumber><DtPolicyEffective>01-Sep-2023</DtPolicyEffective><DtPolicyExpiration>01-Sep-2024</DtPolicyExpiration><Description>Regulatory Complaint - alleges Insured had a conf</Description><PolicyNumber>AAA-04-000051-02 </PolicyNumber><DtDOL>04-Jun-2024</DtDOL><InsdName>Gindler, Chappell, Morrison and Co., P.C. </InsdName><DtReported>12-Aug-2024</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>12500.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>12500.0</OutstandingReserveOcc><RiskState>TX</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001080 </ClaimNumber><DtPolicyEffective>24-Jan-2023</DtPolicyEffective><DtPolicyExpiration>24-Jan-2024</DtPolicyExpiration><Description>Regulatory Complaint - alleging Insured failed to</Description><PolicyNumber>AAA-04-000274-01 </PolicyNumber><DtDOL>15-Mar-2023</DtDOL><InsdName>Seattle Tax Group LLC </InsdName><DtReported>15-Mar-2023</DtReported><TotalPaidLossOcc>2029.0</TotalPaidLossOcc><TotalClaimAmount>2029.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>WA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001299 </ClaimNumber><DtPolicyEffective>01-Dec-2023</DtPolicyEffective><DtPolicyExpiration>01-Dec-2024</DtPolicyExpiration><Description>Subpoena - Insured has been subpoenaed to testify</Description><PolicyNumber>AAA-04-000477-01 </PolicyNumber><DtDOL>11-May-2024</DtDOL><InsdName>Roy and Company </InsdName><DtReported>31-May-2024</DtReported><TotalPaidLossOcc>4669.0</TotalPaidLossOcc><TotalClaimAmount>10000.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>5331.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001175 </ClaimNumber><DtPolicyEffective>07-Feb-2023</DtPolicyEffective><DtPolicyExpiration>07-Feb-2024</DtPolicyExpiration><Description>Subpoena - Insured ordered to testify in a busine</Description><PolicyNumber>AAA-04-000303-01 </PolicyNumber><DtDOL>09-Oct-2023</DtDOL><InsdName>Marlen Munoz, C.P.A., P.A. </InsdName><DtReported>09-Oct-2023</DtReported><TotalPaidLossOcc>23757.67</TotalPaidLossOcc><TotalClaimAmount>23757.67</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>FL</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001174 </ClaimNumber><DtPolicyEffective>01-Sep-2023</DtPolicyEffective><DtPolicyExpiration>01-Sep-2024</DtPolicyExpiration><Description>Subpoena - requests tax records Clients tax recor</Description><PolicyNumber>AAA-04-000444-02 </PolicyNumber><DtDOL>29-Sep-2023</DtDOL><InsdName>Webster, Duke and Co. </InsdName><DtReported>13-Oct-2023</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>NC</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001098 </ClaimNumber><DtPolicyEffective>31-Dec-2022</DtPolicyEffective><DtPolicyExpiration>31-Dec-2023</DtPolicyExpiration><Description>Subpoena requesting tax and accounting documents</Description><PolicyNumber>AAA-04-000216-01 </PolicyNumber><DtDOL>18-Apr-2023</DtDOL><InsdName>Lashier Bonefas Baldwin and Co., P.C. </InsdName><DtReported>26-Apr-2023</DtReported><TotalPaidLossOcc>0.0</TotalPaidLossOcc><TotalClaimAmount>0.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>IA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001080-1 </ClaimNumber><DtPolicyEffective>24-Jan-2023</DtPolicyEffective><DtPolicyExpiration>24-Jan-2024</DtPolicyExpiration><Description>Subpoena requesting tax returns and correspondenc</Description><PolicyNumber>AAA-04-000274-01 </PolicyNumber><DtDOL>29-Jun-2023</DtDOL><InsdName>Seattle Tax Group LLC </InsdName><DtReported>06-Jul-2023</DtReported><TotalPaidLossOcc>2451.0</TotalPaidLossOcc><TotalClaimAmount>2451.0</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>WA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001311 </ClaimNumber><DtPolicyEffective>15-Jul-2023</DtPolicyEffective><DtPolicyExpiration>15-Jul-2024</DtPolicyExpiration><Description>Suit - alleges Insured was involved in a loan sch</Description><PolicyNumber>AAA-04-000431-02 </PolicyNumber><DtDOL>01-Mar-2023</DtDOL><InsdName>Thomas M Owen CPA, PLLC </InsdName><DtReported>27-Jun-2024</DtReported><TotalPaidLossOcc>11650.0</TotalPaidLossOcc><TotalClaimAmount>71000.0</TotalClaimAmount><ExpReserveOcc>1000.0</ExpReserveOcc><OutstandingReserveOcc>58350.0</OutstandingReserveOcc><RiskState>WA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed></DtClaimClosed><ClaimFileStatusOcc>O</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001228 </ClaimNumber><DtPolicyEffective>01-Oct-2023</DtPolicyEffective><DtPolicyExpiration>01-Oct-2024</DtPolicyExpiration><Description>Suit - alleges Insured was negligent in filing 20</Description><PolicyNumber>AAA-04-000035-02 </PolicyNumber><DtDOL>01-May-2020</DtDOL><InsdName>Sue DeJonge Accounting </InsdName><DtReported>03-Jan-2024</DtReported><TotalPaidLossOcc>3851.45</TotalPaidLossOcc><TotalClaimAmount>8351.45</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>IL</RiskState><ExpPaidOcc>4500.0</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001327 </ClaimNumber><DtPolicyEffective>29-Jan-2024</DtPolicyEffective><DtPolicyExpiration>29-Jan-2025</DtPolicyExpiration><Description>Suit - alleges the Insured failed to advise the e</Description><PolicyNumber>AAA-04-000502-01 </PolicyNumber><DtDOL>01-Sep-2017</DtDOL><InsdName>MG Accounting - CPA </InsdName><DtReported>05-Aug-2024</DtReported><TotalPaidLossOcc>2567.5</TotalPaidLossOcc><TotalClaimAmount>2567.5</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>CA</RiskState><ExpPaidOcc>0.0</ExpPaidOcc><DtClaimClosed>14-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1><Root1><ClaimNumber>001053 </ClaimNumber><DtPolicyEffective>09-Jul-2022</DtPolicyEffective><DtPolicyExpiration>09-Jul-2023</DtPolicyExpiration><Description>Suit - Insured is alleged to have failed to file </Description><PolicyNumber>AAA-04-000002-01 </PolicyNumber><DtDOL>15-Dec-2022</DtDOL><InsdName>Mike Manoloff PC dba Mike Manoloff CPA </InsdName><DtReported>18-Dec-2022</DtReported><TotalPaidLossOcc>41489.13</TotalPaidLossOcc><TotalClaimAmount>92269.76</TotalClaimAmount><ExpReserveOcc>0.0</ExpReserveOcc><OutstandingReserveOcc>0.0</OutstandingReserveOcc><RiskState>TX</RiskState><ExpPaidOcc>50780.63</ExpPaidOcc><DtClaimClosed>04-Nov-2024</DtClaimClosed><ClaimFileStatusOcc>C</ClaimFileStatusOcc><CompanyCode>ISMIE</CompanyCode></Root1></Root>', 3, '2024-12-05 01:52:04.758'
ALTER PROCEDURE [dbo].[InsertClaimsSummaryACC_p]
(
	@xml xml,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN

	Create Table #ClaimsSummaryLW (
		ClaimsSummaryLWKey int IDENTITY(1,1) PRIMARY KEY,
		ClaimFileStatusOcc VARCHAR(150),
		InsdName VARCHAR(150),
		CompanyCode VARCHAR(150),
		RiskState VARCHAR(150),
		DtPolicyEffective VARCHAR(150),
		DtPolicyExpiration VARCHAR(150),
		ClaimNumber VARCHAR(150),
		PolicyNumber VARCHAR(150),
		DtDOL VARCHAR(150),
		DtReported VARCHAR(150),
		DtClaimClosed VARCHAR(150),
		OutstandingReserveOcc NUMERIC(17,2),
		TotalPaidLossOcc NUMERIC(17,2),
		ExpPaidOcc NUMERIC(17,2),
		ExpReserveOcc NUMERIC(17,2),
		TotalClaimAmount NUMERIC(17,2),
		ClaimDesc VARCHAR(500)
	)

	Create Table #ClaimIncidentSuppTemp (
		ROWNUMBER int,
		PolicyKey int,
		VersionSequence int,
		VersionKey int,
		CurrentStatus VARCHAR(150),
		NameOfClaimant VARCHAR(150),
		CompanyCode VARCHAR(150),
		ClaimNumber VARCHAR(150),
		DateOfAllegedError VARCHAR(150),
		DateReportedToInsComp VARCHAR(150),
		ClaimClosingDate VARCHAR(150),
		InsurerLossReserveCi NUMERIC(17,2),
		InsurerLoss NUMERIC(17,2),
		ExpensePaid NUMERIC(17,2),
		ExpenseReserve NUMERIC(17,2),
		TotalAmountPaid NUMERIC(17,2),
		TotalIncurred NUMERIC(17,2),
		--Signal VARCHAR(150),
		LastUpdateUserID int ,
		LastUpdateTimeStamp VARCHAR(150),
		ClaimDesc VARCHAR(500),
		PolicyStatusKey INT,
		AccountID INT,
		isAllowedInsertUpdate CHAR default 'Y'
	)
	

	INSERT INTO #ClaimsSummaryLW(ClaimFileStatusOcc,InsdName,CompanyCode,RiskState,DtPolicyEffective,DtPolicyExpiration,ClaimNumber,PolicyNumber,
	DtDOL,DtReported,DtClaimClosed,OutstandingReserveOcc,TotalPaidLossOcc,ExpPaidOcc,ExpReserveOcc,TotalClaimAmount,ClaimDesc)
	SELECT
			doc.col.value('ClaimFileStatusOcc[1]', 'VARCHAR(150)') ClaimFileStatusOcc,
			doc.col.value('InsdName[1]', 'VARCHAR(150)') InsdName, 
			doc.col.value('CompanyCode[1]', 'VARCHAR(150)') CompanyCode,
			doc.col.value('RiskState[1]', 'VARCHAR(150)') RiskState, 
			doc.col.value('DtPolicyEffective[1]', 'VARCHAR(150)') DtPolicyEffective, 
			doc.col.value('DtPolicyExpiration[1]', 'VARCHAR(150)') DtPolicyExpiration,
			doc.col.value('ClaimNumber[1]', 'VARCHAR(150)') ClaimNumber,
			doc.col.value('PolicyNumber[1]', 'VARCHAR(150)') PolicyNumber,
			doc.col.value('DtDOL[1]', 'VARCHAR(150)') DtDOL,
			doc.col.value('DtReported[1]', 'VARCHAR(150)') DtReported,
			doc.col.value('DtClaimClosed[1]', 'VARCHAR(150)') DtClaimClosed,
			doc.col.value('OutstandingReserveOcc[1]', 'NUMERIC(10,2)') OutstandingReserveOcc,
			doc.col.value('TotalPaidLossOcc[1]', 'NUMERIC(10,2)') TotalPaidLossOcc,
			doc.col.value('ExpPaidOcc[1]', 'NUMERIC(10,2)') ExpPaidOcc,
			doc.col.value('ExpReserveOcc[1]', 'NUMERIC(10,2)') ExpReserveOcc,
			doc.col.value('TotalClaimAmount[1]', 'NUMERIC(10,2)') TotalClaimAmount,
			doc.col.value('Description[1]', 'VARCHAR(500)') Description
	FROM @xml.nodes('/Root/Root1') doc(col)
		
	--Select * from #ClaimsSummaryLW
	
	
	INSERT INTO #ClaimIncidentSuppTemp (ROWNUMBER, PolicyKey,VersionSequence, VersionKey, CurrentStatus,NameOfClaimant,CompanyCode,ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
	ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,/*Signal,*/LastUpdateUserID,LastUpdateTimeStamp,ClaimDesc)
	SELECT  ROWNUMBER, PolicyKey, VersionSequence, VersionKey, ClaimFileStatusOcc, 
	InsdName,CompanyCode, ClaimNumber, DtDOL, DtReported, DtClaimClosed, OutstandingReserveOcc, TotalPaidLossOcc, 
	ExpPaidOcc, ExpReserveOcc,(TotalPaidLossOcc+ExpPaidOcc), TotalClaimAmount,/*Signal,*/LastUpdateUserID, LastUpdateTimeStamp,ClaimDesc FROM (
	SELECT
	cs.ClaimsSummaryLWKey as ROWNUMBER, p.PolicyKey, fl.VersionSequence,  p.VersionKey,
			CASE WHEN (ClaimFileStatusOcc = 'C') THEN 'closed' 
				WHEN (ClaimFileStatusOcc = 'O') THEN 'opened' 
				WHEN (ClaimFileStatusOcc = 'R') THEN 'reopen'
				WHEN (ClaimFileStatusOcc = 'P') THEN 'potential' 
				ELSE ClaimFileStatusOcc END as ClaimFileStatusOcc, 
	InsdName,CompanyCode, ClaimNumber, DtDOL, DtReported, DtClaimClosed, OutstandingReserveOcc, TotalPaidLossOcc, ExpPaidOcc, ExpReserveOcc, TotalClaimAmount, 
		
	@LastUpdateUserID as LastUpdateUserID, @LastUpdateTimeStamp as LastUpdateTimeStamp,ClaimDesc
	FROM #ClaimsSummaryLW cs, Policy p, Firm fl
	where cs.PolicyNumber = CASE WHEN (CompanyCode = 'CNF') THEN REPLACE(SUBSTRING(p.PolicyNumber, 1, 10), '-', '') 
								WHEN (CompanyCode = 'ISMIE') THEN p.PolicyNumber 
								ELSE p.PolicyNumber END
	and p.PolicyNumber is not null and p.PolicyNumber <> '' and p.MarketableProductKey = 1 
	and p.PolicyKey = fl.PolicyKey) b /*WHERE b.ROWNUMBER = 1*/ ORDER BY b.ROWNUMBER
	
		--Select * from #ClaimIncidentSuppTemp

	DECLARE @COUNTER INT = (SELECT COUNT(ROWNUMBER) FROM #ClaimIncidentSuppTemp);
	DECLARE @ROW INT = 1;
	DECLARE @NotExist Char(1) ='N';
	Declare @ClaimNumber Varchar(50) = null;
	DEclare @CurrentStatus Varchar(50) = null,@ClaimDescription VARCHAR(500)
	DEclare @ClaimClosingDate Varchar(50) = null;
	DEclare @InsurerLossReserveCi NUMERIC(17,2);
	DEclare @InsurerLossReserveCiExisting NUMERIC(17,2);
	DEclare @InsurerLoss NUMERIC(17,2);
	DEclare @ExpensePaid NUMERIC(17,2);
	DEclare @ExpenseReserve NUMERIC(17,2);
	DEclare @TotalAmountPaid NUMERIC(17,2);
	DEclare @TotalIncurred Varchar(50) = null
	Declare @PolicyKey int = null 
	Declare @isAllowedInsertUpdate CHAR
	Declare @LastUpdateUserIDci INT
	Declare @LastUpdateTimeStampci VARCHAR(50)

	WHILE (@ROW <= @COUNTER)
	BEGIN	
		SELECT @ROW = ROWNUMBER, @PolicyKey=PolicyKey, @ClaimNumber=ClaimNumber, @CurrentStatus=CurrentStatus, @ClaimClosingDate=ClaimClosingDate, 
		@InsurerLossReserveCi=InsurerLossReserveCi, @InsurerLoss=InsurerLoss, @ExpensePaid=ExpensePaid, @ExpenseReserve=ExpenseReserve, @TotalAmountPaid=TotalAmountPaid, 
		@TotalIncurred=TotalIncurred,@ClaimDescription=ClaimDesc,@isAllowedInsertUpdate=isAllowedInsertUpdate,@LastUpdateUserIDci=LastUpdateUserID,
		@LastUpdateTimeStampci=LastUpdateTimeStamp FROM #ClaimIncidentSuppTemp WHERE ROWNUMBER = @ROW ORDER BY ROWNUMBER
		
		IF(@isAllowedInsertUpdate<>'N')
		BEGIN
					if not exists (select 1 from ClaimIncidentSupp  where ClaimNumber=@ClaimNumber)
					BEGIN
						Print 'Hi'
						SET @NotExist = 'Y'
						INSERT INTO ClaimIncidentSupp (PolicyKey,VersionSequence, VersionKey, CurrentStatus,NameOfClaimantCi,ClaimNumber,AllegedErrorCiDate,ReportedCiDate,ClosingCiDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalClaimExpensesCi,TotalIncurred,/*Signal,*/LastUpdateUserID,LastUpdateTimeStamp,DescOfClaimCi)
						SELECT PolicyKey,VersionSequence, VersionKey, CurrentStatus,NameOfClaimant + 
							CASE WHEN (CompanyCode = 'CNF') THEN '  (C & F)'
							WHEN (CompanyCode = 'ISMIE') THEN '  (ISMIE)'
							WHEN (CompanyCode = 'HNV') THEN '  (Hanover)'
							ELSE '  (Protexure)' END as CompanyCode,
						ClaimNumber,DateOfAllegedError,DateReportedToInsComp,
						ClaimClosingDate,InsurerLossReserveCi,InsurerLoss,ExpensePaid,ExpenseReserve,TotalAmountPaid,TotalIncurred,/*Signal,*/LastUpdateUserID,LastUpdateTimeStamp,ClaimDesc
						FROM #ClaimIncidentSuppTemp where ClaimNumber=@ClaimNumber AND ROWNUMBER = @ROW
					end

					if exists (select 1 from ClaimIncidentSupp  where ClaimNumber=@ClaimNumber /*and CurrentStatus != @CurrentStatus*/ and LastUpdateTimeStamp = (SELECT MAX(LastUpdateTimeStamp) from ClaimIncidentSupp  where ClaimNumber=@ClaimNumber))
					BEGIN
						Print 'Bye'
						if(@NotExist = 'N')
						BEGIN
							Print 'Bye1'	
							
							select @InsurerLossReserveCiExisting = InsurerLossReserveCi from ClaimIncidentSupp  where ClaimNumber=@ClaimNumber

							if ((@InsurerLossReserveCiExisting = 111 or @InsurerLossReserveCiExisting = 101 or @InsurerLossReserveCiExisting = 10) 
							and (@InsurerLossReserveCi != 111 and @InsurerLossReserveCi != 101 and @InsurerLossReserveCi != 10))
							BEGIN
								Set @InsurerLossReserveCi = @InsurerLossReserveCiExisting;
							END
				
							UPDATE ClaimIncidentSupp SET CurrentStatus = @CurrentStatus, ClosingCiDate = @ClaimClosingDate, InsurerLossReserveCi=@InsurerLossReserveCi, 
							InsurerLoss=@InsurerLoss, ExpensePaid=@ExpensePaid, ExpenseReserve=@ExpenseReserve, TotalClaimExpensesCi=@TotalAmountPaid, 
							TotalIncurred = @TotalIncurred,DescOfClaimCi=@ClaimDescription,
							LastUpdateUserID = @LastUpdateUserIDci, LastUpdateTimeStamp = @LastUpdateTimeStampci WHERE ClaimNumber=@ClaimNumber 
						End			
					End

					UPDATE ClaimIncidentSupp SET Signal = CASE WHEN (InsurerLossReserveCi = 101) THEN 'Denial' WHEN (InsurerLossReserveCi = 111) THEN 'Extension' 
					WHEN (InsurerLossReserveCi = 10) THEN 'Potential' END WHERE ClaimNumber=@ClaimNumber  
					and InsurerLossReserveCi = CASE WHEN (InsurerLossReserveCi = 101) THEN 101 WHEN (InsurerLossReserveCi = 111) THEN 111 
					WHEN (InsurerLossReserveCi = 10) THEN 10 END --and (Signal is null or Signal = '')
		END
		-- SET your counter to -1
		SET @ROW = @ROW + 1
		SET @NotExist = 'N'
		SET @PolicyKey = null
		SET @ClaimNumber = null

	END

	Drop Table #ClaimsSummaryLW
	Drop Table #ClaimIncidentSuppTemp
END





GO
