USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_InsuranceHistory_ACC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UWRules_InsuranceHistory_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UWRules_InsuranceHistory_ACC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UWRules_InsuranceHistory_ACC] AS' 
END
GO
--exec UWRules_InsuranceHistory_ACC 135017, 136033, 136033, 135195, 113235, 1, 3
ALTER PROCEDURE [dbo].[UWRules_InsuranceHistory_ACC]
(
	@PolicyKey INT,
	@AccountKey INT,
	@AccountID INT,
	@AddressKey INT,
	@VersionSequence INT,
	@PolicyStatusKey INT,
	@LastUpdateUserID VARCHAR(50)
)
AS
BEGIN
	DECLARE @rule_id varchar(200),@toolTip varchar(500),@description varchar(500),@daysDifference INT,@PolicyEffectiveDate DateTime,@PolicyExpirationDatePross DATETIME,@IsFirmHaveLawyersLiabilityInsurance CHAR,
	@IsPriorActDateFull CHAR,@FirmYear INT,@CurrentLimitSequence INT,@PriorLimitSequence INT,@IsFirmCarryingProfLiabilityIns CHAR
	select @IsFirmCarryingProfLiabilityIns=IsFirmCarryingProfLiabilityIns  from Firm where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	select  @IsPriorActDateFull=IsPriorActDateFull,@FirmYear=FirmYear from ProfessionalLiabilityInsDetail pl left join Policy p
	on p.PolicyKey=pl.PolicyKey where pl.PolicyKey=@PolicyKey and pl.VersionSequence=@VersionSequence
	
	set @CurrentLimitSequence=(select LimitSequence from Policycoverage pc inner join Limits lt on lt.CoverageKey=pc.CoverageKey and pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit where PolicyKey=@PolicyKey)
	set @PriorLimitSequence=(select LimitSequencePross from ProfessionalLiabilityInsDetail where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)

	SET @daysDifference=(SELECT DATEDIFF(Day, @PolicyExpirationDatePross,@PolicyEffectiveDate) )

	--select  @daysDifference
	IF(@PolicyStatusKey=1)
	BEGIN
		
		set @rule_id='ValidateForPriorCopyofPolicy_Accountant'
		if(@IsFirmHaveLawyersLiabilityInsurance='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Confirm that copy of current policy is received.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='fullPriorActDateInsuranceCoverage_Accountant'
		if(@IsPriorActDateFull='Y' and @FirmYear<10)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Full prior acts requires 10 years of continuous insurance.','Full prior acts requires 10 years of continuous insurance - Optain copy of the dec page from prior carrier.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		
		set @rule_id='validateNonBareFirmsNewBusiness_Accountant'
		if(@IsFirmCarryingProfLiabilityIns='Y')
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Confirm that copy of current policy is received.','',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		--set @rule_id='validateLimitsNewBusiness_Accountant'
		--if((@CurrentLimitSequence-@PriorLimitSequence)>2)
		--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Limits more than 2 step above current limit or below current limit.','Limit: Why are they looking for the major increase in coverage - 2 steps above their current limit. Or below current limit.',@LastUpdateUserID
		--else
		--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

		set @rule_id='ValidateReductionOfLimit_Accountant'
		if(@PriorLimitSequence>@CurrentLimitSequence)
			exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Requesting limit below expiring limit.','Requires reduction in limit advisory signature.',@LastUpdateUserID
		else
			exec RESETFlagsLawyers_p @PolicyKey,@rule_id
		
END

	IF(@PolicyStatusKey=2)
	BEGIN
		print 'Renewal Flow'
			--set @rule_id='validateEffectiveDateWithDaysReNewBusiness_Lawyers'
			--if(@daysDifference<-90)
			--	exec SetFlagsLawyers_p @PolicyKey,@rule_id,'Effective date cannot be more than 90 days prior to the current date for Renewal.','',@LastUpdateUserID
			--else
			--	exec RESETFlagsLawyers_p @PolicyKey,@rule_id

	END
END






GO
