USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDocumentDetils_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDocumentDetils_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDocumentDetils_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDocumentDetils_p] AS' 
END
GO
--exec [GetDocumentDetils_p] 4671, null, 3
--exec [GetDocumentDetils_p] 4671, null, 3
ALTER PROCEDURE [dbo].[GetDocumentDetils_p]
	(
		@Account INT,
		@BrokeragePolicyKey INT,
		@role_id varchar(2) 
	)
AS
BEGIN
CREATE TABLE #TempDocs
(
DocumentID	INT,
DocTitle	VARCHAR(200),
Comment	VARCHAR(1000),
DocFileName	VARCHAR(200),
DocType	VARCHAR(100),
DocUrl	VARCHAR(500),
UploadedType	VARCHAR(200),
UploadedTime VARCHAR(200),
uploadDate VARCHAR(200),
PolicyKey INT,
BrokeragePolicyKey INT
,VersionSequence  INT
,isBrokerageDoc CHAR
)
	declare @Company varchar(100)
	--print 'HI'
              exec  @Company= dbo.UserLoginSecurity_p @role_id
			  --select @Company
			 if(@Company='0' or @role_id='8')
				set @Company=null

	CREATE TABLE  #TempCompany
	(
		PolicyKey VARCHAR(20)
	)
	
	IF(@Company is NULL OR @Company='')
	BEGIN

		INSERT INTO #TempCompany
		SELECT PolicyKey from Policy 
			where MarketableProductKey = 1
			-- and isUncompletedData='N'
			  and AccountID = @Account
	END
	ELSE
	BEGIN
		INSERT INTO #TempCompany
		SELECT PolicyKey from Policy  where  CompanyKey in(select items from Split(@Company,',')) and MarketableProductKey = 1 
	--	and isUncompletedData='N'
		 and AccountID = @Account
	END
	print 'Hi'
	if(@Account is not null)
	BEGIN
		INSERT INTO #TempDocs(DocumentID,DocTitle,Comment,DocFileName,DocType,DocUrl,UploadedType,UploadedTime,uploadDate,PolicyKey,isBrokerageDoc)
			select DocumentID, DocTitle, dal.Comment, DocFileName, DocType, DocUrl, UploadedType, concat(convert(varchar(10),cast (UploadedTime as datetime),101), ' ' + convert(varchar(10),cast (UploadedTime as datetime),108)) as UploadedTime,
			CONVERT(varchar, cast (UploadedTime as datetime), 111)+' '+CONVERT(varchar, cast (UploadedTime as datetime), 108),dal.PolicyKey,'N'
			from DocumentArchive dal inner join firm f on dal.PolicyKey=f.PolicyKey where dal.PolicyKey in  (select PolicyKey from #TempCompany) 
			group by DocumentID, DocTitle, dal.Comment, DocFileName, DocType, DocUrl, UploadedType,UploadedTime,dal.PolicyKey
			 order by DocumentID desc
		
		if(@role_id <> 4)
		begin

			if( @Account is null and @BrokeragePolicyKey is not null and @BrokeragePolicyKey<>'')
				begin
					INSERT INTO #TempDocs(DocumentID,DocTitle,Comment,DocFileName,DocType,DocUrl,UploadedType,UploadedTime,uploadDate,BrokeragePolicyKey,isBrokerageDoc)
					select DocumentID, DocTitle, Comment, DocFileName, DocType, DocUrl, UploadedType,  concat(convert(varchar(10),cast (UploadedTime as datetime),101), ' ' + convert(varchar(10),cast (UploadedTime as datetime),108)) as UploadedTime, CONVERT(varchar, cast (UploadedTime as datetime), 111)+' '+CONVERT(varchar, cast (UploadedTime as datetime), 108),BrokeragePolicyKey,'Y' from BrokerageDocumentLW where BrokeragePolicyKey in (select BrokeragePolicyKey from BrokerageLW where AccountID = @Account)  order by DocumentID desc
				end
			else
				begin
						INSERT INTO #TempDocs(DocumentID,DocTitle,Comment,DocFileName,DocType,DocUrl,UploadedType,UploadedTime,uploadDate,BrokeragePolicyKey,isBrokerageDoc)
					select DocumentID, DocTitle, Comment, DocFileName, DocType, DocUrl, UploadedType,  concat(convert(varchar(10),cast (UploadedTime as datetime),101), ' ' + convert(varchar(10),cast (UploadedTime as datetime),108)) as UploadedTime, CONVERT(varchar, cast (UploadedTime as datetime), 111)+' '+CONVERT(varchar, cast (UploadedTime as datetime), 108),BrokeragePolicyKey,'Y' from BrokerageDocumentLW where BrokeragePolicyKey in (select BrokeragePolicyKey from BrokerageLW where AccountID = @Account)  order by DocumentID desc
			
				end
				
		 end
	END

	ELSE
		BEGIN
			if(@role_id <> 4)
			begin
			
				INSERT INTO #TempDocs(DocumentID,DocTitle,Comment,DocFileName,DocType,DocUrl,UploadedType,UploadedTime,uploadDate,BrokeragePolicyKey,isBrokerageDoc)
				select DocumentID, DocTitle, Comment, DocFileName, DocType, DocUrl, UploadedType,  concat(convert(varchar(10),cast (UploadedTime as datetime),101), ' ' + convert(varchar(10),cast (UploadedTime as datetime),108)) as UploadedTime, CONVERT(varchar, cast (UploadedTime as datetime), 111)+' '+CONVERT(varchar, cast (UploadedTime as datetime), 108),BrokeragePolicyKey,'Y' from BrokerageDocumentLW where BrokeragePolicyKey=@BrokeragePolicyKey   order by DocumentID desc
		
			end
		END
	select DocumentID,DocTitle,Comment,DocFileName,DocType,DocUrl,UploadedType,UploadedTime,CAST(uploadDate AS DATE) as uploadDate,PolicyKey,VersionSequence,BrokeragePolicyKey,isBrokerageDoc  from #TempDocs order by uploadDate desc
	DROP TABLE #TempDocs
END










GO
