USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAttorneysForDeleteEndorsement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateAttorneysForDeleteEndorsement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateAttorneysForDeleteEndorsement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateAttorneysForDeleteEndorsement_p] AS' 
END
GO
--exec UpdateAttorneysForDeleteEndorsement_p 128759, '<Root><Root1><AttorneyKey>179331</AttorneyKey><DesignationId>5</DesignationId><LastUpdateTimeStamp>2021-12-23 15:31:12.211</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><AttorneyName>Andrew Cherkasky</AttorneyName><combinedStates>CA,IL</combinedStates><CreatedBy>3</CreatedBy><PriorActDateAttorneysNew>11/01/2012</PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>CA,IL</LicensedStates><NumberOfYearsInPractice>17</NumberOfYearsInPractice><VersionSequence>107719</VersionSequence><rownum>1</rownum><PolicyKey>128759</PolicyKey><IsNonRatedAttorney>N</IsNonRatedAttorney><isSaved>Y</isSaved><AnnualWorkedHours>1000</AnnualWorkedHours><CreatedDate>12/23/2021</CreatedDate><AttorneyPriorActDate>11/01/2012</AttorneyPriorActDate><VersionKey>111301</VersionKey></Root1><Root1><AttorneyKey>179332</AttorneyKey><DesignationId>5</DesignationId><LastUpdateTimeStamp>2021-12-23 15:31:12.211</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><AttorneyName>Catherine Cherkasky</AttorneyName><combinedStates>CA,IL</combinedStates><CreatedBy>3</CreatedBy><PriorActDateAttorneysNew>01/15/2014</PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>CA,IL</LicensedStates><NumberOfYearsInPractice>14</NumberOfYearsInPractice><VersionSequence>107719</VersionSequence><rownum>2</rownum><PolicyKey>128759</PolicyKey><IsNonRatedAttorney>N</IsNonRatedAttorney><isSaved>Y</isSaved><AnnualWorkedHours>1000</AnnualWorkedHours><CreatedDate>12/23/2021</CreatedDate><AttorneyPriorActDate>01/15/2014</AttorneyPriorActDate><VersionKey>111301</VersionKey></Root1><Root1><AttorneyKey>179333</AttorneyKey><DesignationId>1</DesignationId><LastUpdateTimeStamp>2021-12-23 15:31:12.211</LastUpdateTimeStamp><LastUpdateUserID>3</LastUpdateUserID><AttorneyName>Joshua Traeger</AttorneyName><combinedStates>MI</combinedStates><CreatedBy>3</CreatedBy><PriorActDateAttorneysNew>03/01/2020</PriorActDateAttorneysNew><isAttorneyEndorsed>N</isAttorneyEndorsed><LicensedStates>MI</LicensedStates><NumberOfYearsInPractice>14</NumberOfYearsInPractice><VersionSequence>107719</VersionSequence><rownum>3</rownum><PolicyKey>128759</PolicyKey><IsNonRatedAttorney>N</IsNonRatedAttorney><isSaved>Y</isSaved><AnnualWorkedHours>1500</AnnualWorkedHours><CreatedDate>12/23/2021</CreatedDate><AttorneyPriorActDate>03/01/2020</AttorneyPriorActDate><VersionKey>111301</VersionKey></Root1></Root>', 3, '2021-12-23 15:31:12.211'
ALTER PROCEDURE [dbo].[UpdateAttorneysForDeleteEndorsement_p]
(
@PolicyKey INT,
@xml xml,
@LastUpdateUserID int ,
@LastUpdateTimeStamp datetime,
@VersionKey INT

)
AS
BEGIN
		
		DECLARE @lStates VARCHAR(100)
		CREATE TABLE #Temp
		(SN INT identity(1,1),
		lincensedStates VARCHAR(50)
		)
		CREATE TABLE #Temp1
		(SN INT identity(1,1),
		CompletelincensedStates VARCHAR(50)
		)

			

			INSERT INTO AttorneyDetailsLW(AttorneyName, DesignationId, LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,PriorActDateAttorneysNew,NumberOfYearsInPractice
			,PolicyKey,VersionSequence,IsNonRatedAttorney,isAttorneyEndorsed,VersionKey,LastUpdateUserID,LastUpdateTimeStamp)
			SELECT
				 doc.col.value('AttorneyName[1]', 'varchar(100)') AttorneyName,
				doc.col.value('DesignationId[1]', 'int') DesignationId, 
				doc.col.value('LicensedStates[1]', 'varchar(1000)') LicensedStates ,
				doc.col.value('AnnualWorkedHours[1]', 'int') AnnualWorkedHours ,
				doc.col.value('AttorneyPriorActDate[1]', 'datetime') AttorneyPriorActDate ,
				doc.col.value('PriorActDateAttorneysNew[1]', 'datetime') PriorActDateAttorneysNew ,
				doc.col.value('NumberOfYearsInPractice[1]', 'int') NumberOfYearsInPractice ,
				doc.col.value('PolicyKey[1]', 'int') PolicyKey, 
				doc.col.value('VersionSequence[1]', 'int') VersionSequence ,
				doc.col.value('IsNonRatedAttorney[1]', 'char') IsNonRatedAttorney,
				doc.col.value('isAttorneyEndorsed[1]', 'char') isAttorneyEndorsed,
				@VersionKey,
				@LastUpdateUserID,
				@LastUpdateTimeStamp
				
			FROM @xml.nodes('/Root/Root1') doc(col)

			--UPDATE AttorneyDetailsLW SET LastUpdateTimeStamp=GETDATE() where PolicyKey=@PolicyKey
				
			
			
			
			
			
END







GO
