USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCybercoverageEmailDataLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetCybercoverageEmailDataLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCybercoverageEmailDataLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetCybercoverageEmailDataLW_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec GetCybercoverageEmailDataLW_p 'CT'
ALTER PROCEDURE [dbo].[GetCybercoverageEmailDataLW_p]
	(
	@StateCode VARCHAR(20)
	)
AS
BEGIN

	CREATE TABLE #CyberCoverageData
	(
	EventName VARCHAR(100),
	StateDesc VARCHAR(100),
	StateCode VARCHAR(20)	
	)
	--INSERT INTO #CyberCoverageData (EventName,StateDesc,StateCode)
	--select 'RLI_Email',StateDesc,StateCode from State where StateDesc in('Alabama','Alaska','Arkansas','California','Colorado','Delaware','District of Columbia','Florida','Hawaii','Idaho','Indiana','Iowa','Kansas','Kentucky','Maine','Mississippi','Montana','Nebraska','Nevada','New Mexico','North Carolina','North Dakota','Oklahoma','Rhode Island','South Dakota','Tennessee','Utah','Vermont','West Virginia','Wisconsin','Wyoming')

	--INSERT INTO #CyberCoverageData (EventName,StateDesc,StateCode)
	--select 'CyberCoverage_Email',StateDesc,StateCode from State where StateDesc in('Arizona','Connecticut','Georgia','Illinois','Louisiana','Maryland','Massachusetts','Michigan','Minnesota','Missouri','New Hampshire','New Jersey','New York','Ohio','Oregon','Pennsylvania','South Carolina','Texas','Virginia','Washington')

	
	--select  email_notification_id,event_name,description,subject,body,type,last_updated_by,last_updated_ts,subject_dynamicvalues,body_dynamicvalues,from_role_desc,to_role_desc,cc_role_desc,email_template,attachment_content from email_notifications_new where event_name=(Select EventName from #CyberCoverageData where StateCode=@StateCode)
		select  email_notification_id,event_name,description,subject,body,type,last_updated_by,last_updated_ts,subject_dynamicvalues,body_dynamicvalues,from_role_desc,to_role_desc,cc_role_desc,email_template,attachment_content from email_notifications_new where event_name in('CyberCoverage_Email_Lawyers','CyberCoverage_Email_Protexure')
	DROP table #CyberCoverageData
END





GO
