USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayRealEstateData_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DisplayRealEstateData_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisplayRealEstateData_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DisplayRealEstateData_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[DisplayRealEstateData_p]
(
@PolicyKey INT
)
AS
BEGIN
	DECLARE @Count INT
	
	CREATE TABLE #TEMPTable(
		sequence CHAR,
		AOPREKey INT,
		AOPREDesc VARCHAR(500),
		PercentageValue INT,
		AOPRECommentDesc VARCHAR(500),
		AOPRECommCommentDesc VARCHAR(500),
		CommercialPercentageValue INT
		)
		INSERT INTO #TEMPTable (sequence,AOPREKey,AOPREDesc)select  CHAR(row_number() over( order by NewAppAOPSequence)+64) ,AOPREKey,LTRIM(SUBSTRING(AOPREDesc, CHARINDEX('.',AOPREDesc) + 1, LEN(AOPREDesc))) as AOPDesc from AOPRELW where AOPREKey in(1,22,19,7,12,6,4,23,11,13,16,20) 	
		SELECT @Count=Count(*) from AreaOfPracticeRealEstateLW where PolicyKey=@PolicyKey
		IF(@Count>0)
		BEGIN

			DECLARE @LoopCounter INT =1
			WHILE ( @LoopCounter <= @Count)
			BEGIN
				UPDATE #TEMPTable 
				SET PercentageValue = i.PercentageValue, 
					AOPRECommentDesc = i.AOPRECommentDesc ,
					CommercialPercentageValue=i.CommercialPercentageValue,
					AOPRECommCommentDesc=i.AOPRECommCommentDesc
				FROM (
					SELECT AOPREKey,PercentageValue,AOPRECommentDesc, CommercialPercentageValue,AOPRECommCommentDesc
					FROM AreaOfPracticeRealEstateLW WHERE POLICYKEY=@PolicyKey) i
				WHERE 
					i.AOPREKey= #TEMPTable.AOPREKey and i.AOPREKey=@LoopCounter


				SET @LoopCounter  = @LoopCounter  + 1
			END
		END
	
	UPDATE #TEMPTable SET AOPREDesc='Purchase and Sale' WHERE AOPREKey=1
	UPDATE #TEMPTable SET AOPREDesc='Speculative Real Estate, Limited Partnerships, Real Estate Syndications' WHERE AOPREKey=13

	SELECT * FROM #TEMPTable
END


GO
