USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetAOPSupplementFlags]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetAOPSupplementFlags]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetAOPSupplementFlags]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetAOPSupplementFlags] AS' 
END
GO
--exec SP_GetAOPSupplementFlags 129205  
ALTER PROCEDURE [dbo].[SP_GetAOPSupplementFlags]
(
@PolicyKey INT
)

AS
	BEGIN
		Create Table #TempAOPPercentageValue(
		AreaOfPracticeCode varchar(100),
		IsShowAreaOfPractice varchar(100),
	);	
		insert into #TempAOPPercentageValue (AreaOfPracticeCode,IsShowAreaOfPractice)
		select AreaOfPracticeCode, CASE WHEN PercentageValue IS NOT NULL and PercentageValue>0  THEN 'Y' ELSE 'N'  END as PercentageValue 
		from AreaOfPracticeLW where policykey=@PolicyKey --and AreaOfPracticeCode='Bankruptcy'
		--select * from #TempAOPPercentageValue

		SELECT (
	select 
		--AdmiraltyandMaritime as IsAdmiraltyandMaritime,
		--AlternateDisputeResolution as IsAlternateDisputeResolution,
		--Appellate as IsAppellate,
		BankingFinancialInstitution as IsFinancialInstitution,
		Bankruptcy as IsBankruptcy,
		--CivilCommercialLitigationDefense as IsCivilCommercialLitigationDefense,
		--CivilCommercialLitigationPlaintiff as IsCivilCommercialLitigationPlaintiff,
		--CivilRightsDiscrimination as IsCivilRightsDiscrimination,
		Collections as IsCollections,
		CASE WHEN CommercialLawBusinessTransactionsGT1M = 'Y' OR CommercialLawBusinessTransactionsLT1M = 'Y' THEN 'Y' ELSE 'N'  END as IsCommercialLaw,
		--CommercialLawBusinessTransactionsLT1M as IsCommercialLawBusinessTransactionsLT1M,
		--ConstructionLaw as IsConstructionLaw,
		--CorporateFormation as IsCorporateFormation,
		--CriminalDefense as IsCriminalDefense,
		EmployeeBenefitPlansERISA as IsEmployment,
		--EntertainmentLaw as IsEntertainmentLaw,
		--EnvironmentalRegulatory as IsEnvironmentalRegulatory,
		CASE WHEN FamilyLawGT2m = 'Y' OR FamilyLawLT2m = 'Y' THEN 'Y' ELSE 'N'  END as IsFamilyLaw,
		--FamilyLawLT2m as IsFamilyLawLT2m,
		--Immigration as IsImmigration,
		InsuranceDefense as IsInsuranceDefense,
		--IntellectualPropertyCopyrightTrademark as IsIntellectualPropertyCopyrightTrademark,
		--IntellectualPropertyPatent as IsIntellectualPropertyPatent,
		--InternationalForeignLaw as IsInternationalForeignLaw,
		--LaborManagementRepresentation as IsLaborManagementRepresentation,
		--LaborUnionRepresentation as IsLaborUnionRepresentation,
		--LitigationDefensePlaintiff as IsLitigationDefensePlaintiff,
		--LocalGovernmentMunicipal as IsLocalGovernmentMunicipal,
		--MergersandAcquisitions as IsMergersandAcquisitions,
		OilGasMineralRights as IsOilGas,
		--Other as IsOther,
		--PersonalContracts as IsPersonalContracts,
		--PersonalInjuryDefense as IsPersonalInjury,
		--PlaintiffLitigationClassActionMassTort as IsPlaintiffLitigationClassActionMassTort,
		--PlaintiffPersonalInjuryGT500K as IsPlaintiffPersonalInjuryGT500K,
		--PlaintiffPersonalInjuryLT500K as IsPlaintiffPersonalInjuryLT500K,
		CASE WHEN PlaintiffPersonalInjuryGT500K = 'Y' OR PlaintiffPersonalInjuryLT500K = 'Y' THEN 'Y' ELSE 'N'  END as IsPersonalInjury,
		--PublicUtilities as IsPublicUtilities,
		CASE WHEN RealEstateGT1M = 'Y' OR RealEstateLT1M = 'Y' THEN 'Y' ELSE 'N'  END as IsRealEstate,
		--RealEstateLT1M as IsRealEstateLT1M,
		--SchoolsEducationnotfinance as IsSchoolsEducationnotfinance,
		--Securities as IsSecurities,
		--SocialSecurityDisabilityMedicare as IsSocialSecurityDisabilityMedicare,
		--TaxationCorporate as IsTaxationCorporate,
		--TaxationIndividual as IsTaxationIndividual,
		--TaxOpinions as IsTaxOpinions,
		Title as IsTitleAgency,
		--TribalLaw as IsTribalLaw,
		--WaterRights as IsWaterRights,
		CASE WHEN WillsEstateTrustProbate2M = 'Y' OR WillsEstateTrustProbate2M5M = 'Y' OR WillsEstateTrustProbate5M = 'Y' THEN 'Y' ELSE 'N'  END as IsWillsEstateTrust
		--WillsEstateTrustProbate2M5M as IsWillsEstateTrustProbate2M5M,
		--WillsEstateTrustProbate5M as IsWillsEstateTrustProbate5M
		--WorkersCompensationDefense as IsWorkersCompensationDefense,
		--WorkersCompensationPlaintiff as IsWorkersCompensationPlaintiff
		from
		(
		  select IsShowAreaOfPractice, AreaOfPracticeCode
		  from #TempAOPPercentageValue
		) d
		pivot
		(
		  max(IsShowAreaOfPractice)
		  for AreaOfPracticeCode in (AdmiraltyandMaritime,AlternateDisputeResolution,Appellate,BankingFinancialInstitution,Bankruptcy,
			CivilCommercialLitigationDefense,CivilCommercialLitigationPlaintiff,CivilRightsDiscrimination,Collections,
			CommercialLawBusinessTransactionsGT1M,CommercialLawBusinessTransactionsLT1M,ConstructionLaw,CorporateFormation,
			CriminalDefense,EmployeeBenefitPlansERISA,EntertainmentLaw,EnvironmentalRegulatory,FamilyLawGT2m,FamilyLawLT2m,
			Immigration,InsuranceDefense,IntellectualPropertyCopyrightTrademark,IntellectualPropertyPatent,InternationalForeignLaw,
			LaborManagementRepresentation,LaborUnionRepresentation,LitigationDefensePlaintiff,LocalGovernmentMunicipal,
			MergersandAcquisitions,OilGasMineralRights,Other,PersonalContracts,PersonalInjuryDefense,
			PlaintiffLitigationClassActionMassTort,PlaintiffPersonalInjuryGT500K,PlaintiffPersonalInjuryLT500K,PublicUtilities,
			RealEstateGT1M,RealEstateLT1M,SchoolsEducationnotfinance,Securities,SocialSecurityDisabilityMedicare,
			TaxationCorporate,TaxationIndividual,TaxOpinions,Title,TribalLaw,WaterRights,WillsEstateTrustProbate2M,
			WillsEstateTrustProbate2M5M,WillsEstateTrustProbate5M,WorkersCompensationDefense,WorkersCompensationPlaintiff
			)) piv FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML

END







GO
