USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetQuoteDates_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SetQuoteDates_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetQuoteDates_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SetQuoteDates_p] AS' 
END
GO
--select versionsequence from firmlw where policykey=60246
-- exec SetQuoteDates_p 60246,43224,''
ALTER PROCEDURE [dbo].[SetQuoteDates_p]
(
@PolicyKey INT,
@VersionSequence INT,
@Comment VARCHAR(500)
)

AS
BEGIN
	DECLARE @PolicyEffeciveDate DATETIME
	DECLARE @DaysDiffenence INT
	DECLARE @QuoteEffectiveDate DATETIME
	DECLARE @QuoteExpirationDate DATETIME

	SELECT @PolicyEffeciveDate=PolicyEffectiveDate From Policy Where PolicyKey=@PolicyKey
	SET @QuoteEffectiveDate= getdate()--convert(datetime, GETDATE(), 121)
	SET @QuoteExpirationDate=DATEADD(month, 2, @QuoteEffectiveDate)
	SELECT @DaysDiffenence= DATEDIFF(d,@QuoteExpirationDate,@PolicyEffeciveDate)
	select @DaysDiffenence
	--SELECT  @QuoteEffectiveDate ,@QuoteExpirationDate,@PolicyEffeciveDate,@DaysDiffenence
	IF(@DaysDiffenence<60 OR @DaysDiffenence<0)
	BEGIN
		--PRINT 'QuoteExpirationDate'
		update FirmLW Set QuoteEffectiveDate=@QuoteEffectiveDate, QuoteExpiryDate=@PolicyEffeciveDate, Comment=@Comment, QuoteSentDate=@QuoteEffectiveDate where VersionSequence = @VersionSequence and PolicyKey = @PolicyKey
		
	END
	ELSE
	BEGIN
		--PRINT 'PolicyEffeciveDate'
		update FirmLW Set QuoteEffectiveDate=@QuoteEffectiveDate, QuoteExpiryDate=@QuoteExpirationDate, Comment=@Comment, QuoteSentDate=@QuoteEffectiveDate where VersionSequence = @VersionSequence and PolicyKey = @PolicyKey
	END
END
GO
