USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[policyCancellationReinstatementEndorsementLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[policyCancellationReinstatementEndorsementLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[policyCancellationReinstatementEndorsementLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[policyCancellationReinstatementEndorsementLW_p] AS' 
END
GO
--exec policyCancellationReinstatementEndorsementLW_p 127068, 127463, 127239, 3, '2021-12-31', 2, 2, '2021-12-27 14:17:54.579','Y'
ALTER PROCEDURE [dbo].[policyCancellationReinstatementEndorsementLW_p] 
(
@PolicyKey int,
@AccountKey INT,
@AddressKey INT,
@LastUpdateUserID int,
@EndorsementEffectiveDate DATETIME,
@CancellationID INT,
@CancellationTypeID INT,
@LastUpdateTimeStamp VARCHAR(100),
@isEnforcedPolicy Char

)
as begin


declare @AccountKey_Inserted int
declare @AddressKey_Inserted int
declare @VersionSequence_Inserted int
declare @TransactionSequence_Inserted int
declare @CoverageSequence_Inserted int
declare @AgentName varchar(100)
declare @PolicyEffectiveDate datetime
declare @StatusKey int
declare @PolicyExpirationDate datetime
declare @TransactionExpirationDate datetime
declare @maxAccountID int
declare @QuoteNumber varchar(100)
declare @AppCreatedDate datetime
declare @IsFirmHaveLawyersLiabilityInsurance char(20)

declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int

declare @IsClaimExpensesType char(1)
declare @IsClaimOptionType char(1)
declare @IsFirmPracticeInOtherState char(1)
declare @IsProfDefenceExpense char(1)
declare @IsRenewed char
declare @AccountID int
declare @VersionSequence int
declare @endorsementType INT
DECLARE @finilazedTransactionSequence INT,@VersionKey_Inserted INT

begin try

--DECLARE @LastUpdateTimeStamp VARCHAR(100)
--SET @LastUpdateTimeStamp=(select convert(varchar, getdate(), 120))
select @StatusKey=statuskey from policytransaction where policykey=@PolicyKey
if(@StatusKey=6)
BEGIN
set @endorsementType=7
END

if(@StatusKey=8)
BEGIN
set @endorsementType=8
END

select @AgentName=AgentName from UserDetails where UserNo=@LastUpdateUserID
--getting policyeffectivedate
select @PolicyEffectiveDate= PolicyEffectiveDate From Policy Where policykey=@PolicyKey

select @PolicyExpirationDate=PolicyExpirationDate,@TransactionExpirationDate= PolicyExpirationDate from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)

INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)
Select @PolicyKey,@LastUpdateUserID,getdate(),@LastUpdateUserID,getdate(),'I' 
select @VersionKey_Inserted=IDENT_CURRENT('Version')

Update Policy set VersionKey=@VersionKey_Inserted,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE policykey=@PolicyKey

SET @VersionSequence=(Select max(VersionSequence) from firmlw where policykey=@PolicyKey)
---Code paste below
insert into firmlw(ContactPerson,ContactPhone,IsFirmCarryingProfLiabilityIns,IsPolicyExcludesCoverage,LastUpdateUserID,LastUpdateTimeStamp,IsQuickQuoteByEmail,
IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsClientTerminated,FirstReviewUserID,LicenseNumber,IsQuotePage,PolicyKey,
YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,IsFirmProvidedLegalServiceToSecurity,
IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromFirstLargestRevenueClient,PercentFromSecondLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,IsFirmCoverageForPreceedorFirms,
IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,IsAttorneyNotCoveredByProfLiability,
IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,
AttorneyDeclineForProfLiabilityDates,AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,
BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,
IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,
IsFirmMergedWithOtherFirm,IsAopPage,IsPracticePage,IsCoveragePage,IsFirmPage,IsApplIntToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByInsured,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,
IsRetreivalMailSent,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,QuoteEffectiveDate,QuoteExpiryDate,IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,
CreatedBy,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,QuoteComment,IsQuickQuoteMailSent,IsLicenseNumberUpdated,IssuedDate,
IsRealEstateCommercialPage,IsRealEstateResidentialPage,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,
IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,
DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,IsRenewed,IsComingFromSubProducer,MarketingId,IsAttorneyAddedDeleted,IsRenewFirmPage,
Is9010Policy,GrossFeesPaidRenew,IsRenewalReview,RenewalReviewComments,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,
isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,
provideMoneyManagementServices,custodyOrControlFunds,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,disbursementTransaction,peopleToDisburseFunds,
instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,secondayContactPerson,isQuoteByEmail,isNewApp,isAppCompleted,AnnualRevenueSequence,
FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident,isPolicyExcludeCoverage,isPolicyExcludeCoverageDescription,UnderwriterComment,PricingStatus,isCyberCoverageRequired,
haveFraudSecurityAwarenessProgram,needCyberCoverage,completedPageCommemnt,VersionKey,CreatedDate,IsAOPChange,isCannibSuppPage)

SELECT ContactPerson,ContactPhone,IsFirmCarryingProfLiabilityIns,IsPolicyExcludesCoverage,@LastUpdateUserID,@LastUpdateTimeStamp,IsQuickQuoteByEmail,
IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsEntertainmentPage,IsClientTerminated,FirstReviewUserID,LicenseNumber,IsQuotePage,PolicyKey,
YearOfFirmEstablished,IsFirmPracticeInOtherState,IsFirmHaveClientInEntertainmentInd,IsFirmInvolvedInClassActionCase,IsFirmProvidedLegalServiceToSecurity,
IsFirmHaveClientMoreThan25PercentOfBilling,PercentFromFirstLargestRevenueClient,PercentFromSecondLargestRevenueClient,ServicesRenderedFirstLargestRevenueClient,
ServicesRenderedSecondLargestRevenueClient,IsFirmHaveLawyersLiabilityInsurance,PolicyExcludeCoverageForAffiliatesDesc,IsFirmCoverageForPreceedorFirms,
IsFirmHaveEquityIntGrtThan10,IsFirmPersServedAsOfficerInJointVenture,IsApplicantProvidesLegalServices,ApplicantProvidesLegalServicesDesc,IsAttorneyNotCoveredByProfLiability,
IsAppOfficeSharedWithAttorney,TotalNumOfNonAttorneyStaff,IsFirmHaveIndepDockets,IsFirmRequireEngagementLetter,IsNonEngagementLetterIssueToFirm,
IsPolicyProhibitAttorneyWithInvestment,IsEmplRelativeToConfInfomation,PercentofApplAcctRcbl,IsApplInitiatedLawsuitForFirm,IsAttorneyDeclineForProfLiability,
AttorneyDeclineForProfLiabilityDates,AttorneyDeclineForProfLiabilityReasons,IsIndependentContractor,IsFirmHaveBackupAttorney,PerOfGrossBillingsUnderContract,
BackupAttorneyName,BackupAttorneyAddress,BackupAttorneyPhoneNumber,IsFirmHaveProcForFormersClients,IsLawyerProfLiabClaimAgntAppl,IsPersonnelBeSubOfAnyInvest,
IsAnyActOmmBecomeClaimAgntFirm,ApplicantName,IsApplRestWithManagement,ApplRestWithManagementDesc,PersonnelBeSubOfAnyInvestDate,PersonnelBeSubOfAnyInvestDetails,
IsTaxPage,IsEnvironmentalPage,IsSecuritiesPage,IsTitlePage,IsWillsEstatePage,IsPlaintiffPage,IsRealEstatePage,IsFinancialInsPage,IsIntellectPropPage,IsCorporatePage,
IsFirmMergedWithOtherFirm,IsAopPage,IsPracticePage,IsCoveragePage,IsFirmPage,IsApplIntToFinanAssests,IsPolicyIncludeLateralHireCov,IsFirmProvidedLegalServiceToInvestment,
IsFirmProvidedLegalServiceToMoney,IsFirmProvidedLegalServiceToInvClient,BackupAttorneyAddress2,CommentsByInsured,CommentsByAgent,IsLoginMailSent,IsMailSent,IsRegistrationPage,
IsRetreivalMailSent,NumberOfLawyers,IsQuickQuotePage,IsClaimInLastFiveYears,QuoteEffectiveDate,QuoteExpiryDate,IsReceiveNewsLetter,IsFirmReferred,Comment,ModifierComment,
@LastUpdateUserID,IsQuoteViewedByInsured,AcceptanceDate,QuoteSentDate,IsViewed,IsTaxCalculation,QuoteComment,IsQuickQuoteMailSent,IsLicenseNumberUpdated,IssuedDate,
IsRealEstateCommercialPage,IsRealEstateResidentialPage,IsApplFirmWithDifferentLegalName,ApplLegalNameAddressDesc,IsFirmEquityInterestInTitleInsurance,
IsFirmProvidedLegalServiceDesc,IsFirmProvidedLegalService,IsFirmProvideInvestmentAdvice,ClientNameFirstLargestRevenueClient,ClientNameSecondLargestRevenueClient,
DateRenderedFirstLargestRevenueClient,DateRenderedSecondLargestRevenueClient,IsRenewed,IsComingFromSubProducer,MarketingId,IsAttorneyAddedDeleted,IsRenewFirmPage,
Is9010Policy,GrossFeesPaidRenew,IsRenewalReview,RenewalReviewComments,IsSpecialIssuance,SpecialIssuanceComments,ipfsQuoteNumber,IsOffRiskLetterUploaded,isPricingApproved,
isComingFromUWFlow,FollowUnderwriterFlow,isRatingsChnaged,ReferralCountHistory,withdrawOrDisengaged,actAgentForPublicFigures,provideProfessionalContract,
provideMoneyManagementServices,custodyOrControlFunds,securityAwareness,isFirmCoverageForPreceedorFirmsDescription,disbursementTransaction,peopleToDisburseFunds,
instructionsDocumentedReceivingParty,doucumentedProtocolsAndAuthority,secondayContactPerson,isQuoteByEmail,isNewApp,isAppCompleted,AnnualRevenueSequence,
FirmInvestmentAdviceDesc,isServedAsCEOChairmanPresident,isPolicyExcludeCoverage,isPolicyExcludeCoverageDescription,UnderwriterComment,PricingStatus,isCyberCoverageRequired,
haveFraudSecurityAwarenessProgram,needCyberCoverage,completedPageCommemnt,@VersionKey_Inserted,@LastUpdateTimeStamp,IsAOPChange,isCannibSuppPage
 from firmlw where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence

--getting newly inserted versionsequence here
select @VersionSequence_Inserted=IDENT_CURRENT('FirmLW')

---Code ended Here
 SELECT  @finilazedTransactionSequence=pt.TransactionSequence FROM policytransaction pt inner join Quote q on pt.PolicyKey=q.Policykey and pt.TransactionSequence=q.TransactionSequence
	WHERE pt.Policykey=@PolicyKey and q.IsThisOptionFinalised='Y'



update policytransaction set TransactionExpirationDate=@EndorsementEffectiveDate where Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence

insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,VersionSequence,TotalPolicyModifierPercentage,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
select @PolicyKey,@AccountKey, @EndorsementEffectiveDate,@endorsementType,@PolicyExpirationDate,@PolicyExpirationDate,
ProducerCode,SubInsuranceCarrier,@VersionSequence_Inserted,TotalPolicyModifierPercentage,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence =  @finilazedTransactionSequence 


select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')
declare @UnearnedPremium	numeric(10,2)
declare @UnearnedTax	numeric(10,2) 
declare @totalUnearnedPremium numeric(10,2)
declare @prorataPremium numeric(10,2)
declare @premiumVariation numeric(17,2)
declare @taxVariation numeric(17,2)
select @UnearnedPremium=CAST(UnearnedPremium AS DECIMAL(10, 2)),@UnearnedTax=CAST(UnearnedTax AS DECIMAL(10, 2)),@totalUnearnedPremium=CAST(totalUnearnedPremium AS DECIMAL(10, 2)),
@prorataPremium=ProRatePremium,@premiumVariation=PremiumVariation,@taxVariation=TaxVariation 
from PremiumCalculationBuffer Where Policykey=@PolicyKey
if(@StatusKey=6)
BEGIN
	insert into CancellationEndorsement (PolicyKey,CancellationReasonID,CancellationTypeID,LastUpdateUserID,LastUpdateTimeStamp,TransactionSequence,CreatedBy,CreatedDate)
	values(@PolicyKey,@CancellationID,@CancellationTypeID,@LastUpdateUserID,@LastUpdateTimeStamp,@TransactionSequence_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

	if(@isEnforcedPolicy='Y')
	begin
	update PolicyTransaction set StatusKey=8,TotalPremium= @UnearnedPremium,TotalPolicyTaxAmount= @UnearnedTax,InvoicedPremium=@totalUnearnedPremium  
			,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
	where PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_Inserted

	update PolicyTransaction set StatusKey=8 where PolicyKey = @PolicyKey

	

	INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,LastUpdateTimeStamp,LastUpdateUserID,EndorsementIssuedDate,isFinancialEndirsement,TransactionTypeKey,PremiumVariation,TaxVariation,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
	VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@totalUnearnedPremium,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp,'Y',@endorsementType,@premiumVariation,@taxVariation,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)
	End

	if(@isEnforcedPolicy='N')
	begin
		update PolicyTransaction set StatusKey=8,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey = @PolicyKey 

		INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,LastUpdateTimeStamp,LastUpdateUserID,EndorsementIssuedDate,isFinancialEndirsement,TransactionTypeKey,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@totalUnearnedPremium,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp,'N',@endorsementType,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)
	End

	
END

if(@StatusKey=8)
BEGIN
DECLARE @previousTotalPremium numeric(15,2)
DECLARE @previousTotalPolicyTaxAmount numeric(15,2)
DECLARE @previousInvoicedPremium numeric(15,2)
SELECT @previousTotalPremium=TotalPremium,@previousTotalPolicyTaxAmount=TotalPolicyTaxAmount,@previousInvoicedPremium=InvoicedPremium FROM PolicyTransaction where PolicyKey=@PolicyKey and TransactionSequence=(select max(PreviousFinalizedTransactionSequence)	as PreviousFinalizedTransactionSequence from endorsementdetails where Policykey=@PolicyKey )
DECLARE @MaxSequence INT
SET @MaxSequence=(select max(VersionSequence) from EndorsementDetails  where PolicyKey=@PolicyKey)

if(@isEnforcedPolicy='Y')
	begin
		
		update PolicyTransaction set TotalPremium= @previousTotalPremium,TotalPolicyTaxAmount= @previousTotalPolicyTaxAmount,InvoicedPremium=@previousInvoicedPremium  
		,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
		where PolicyKey = @PolicyKey and TransactionSequence=@TransactionSequence_Inserted

		UPDATE PolicyTransaction set StatusKey=6 where PolicyKey = @PolicyKey

		SET @totalUnearnedPremium=(select InvoicedPremium from policytransaction where PolicyKey=@PolicyKey 
		and TransactionSequence=(select PreviousFinalizedTransactionSequence from EndorsementDetails  where PolicyKey=@PolicyKey and VersionSequence=@MaxSequence ))

		INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,LastUpdateTimeStamp,LastUpdateUserID,PremiumVariation,TaxVariation,EndorsementEffectiveDate,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,@totalUnearnedPremium,'Y',@LastUpdateTimeStamp,@endorsementType,@LastUpdateTimeStamp,@LastUpdateUserID,@premiumVariation,@taxVariation,@EndorsementEffectiveDate,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

	End

if(@isEnforcedPolicy='N')
	begin
		

		UPDATE PolicyTransaction set StatusKey=6,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey = @PolicyKey
		
		INSERT INTO EndorsementDetails(PolicyKey,TransactionSequence,VersionSequence,PreviousFinalizedTransactionSequence,EndorsementPremium,isFinancialEndirsement,EndorsementIssuedDate,TransactionTypeKey,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
		VALUES(@PolicyKey,@TransactionSequence_Inserted,@VersionSequence_Inserted,@finilazedTransactionSequence,null,'N',@LastUpdateTimeStamp,@endorsementType,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp)

	End
END



 
INSERT into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,IsDollarDefense,TotalCovModifierPercentage,LastUpdateTimeStamp,LastUpdateUserID,Premium,TotalCoverageTaxAmount,InitialCovPremium,CreatedBy,CreatedDate)
select @PolicyKey,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,IsDollarDefense,TotalCovModifierPercentage,@LastUpdateTimeStamp,@LastUpdateUserID,Premium,TotalCoverageTaxAmount,InitialCovPremium,@LastUpdateUserID,@LastUpdateTimeStamp from PolicyCoverage where PolicyKey = @PolicyKey and 
TransactionSequence= @finilazedTransactionSequence 

select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote,IsMinimumPremium,LastUpdateTimeStamp,LastUpdateUserID,CreatedBy,CreatedDate)
	select @PolicyKey,@TransactionSequence_Inserted,IsQuoteSelected,'N','N',@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateUserID,@LastUpdateTimeStamp
	from Quote where PolicyKey = @PolicyKey 	and IsThisOptionFinalised='Y'

	update quote set IsThisOptionFinalised=null where PolicyKey=@PolicyKey and TransactionSequence= @finilazedTransactionSequence 

if(@StatusKey=8 and @isEnforcedPolicy='Y')
BEGIN
	update PolicyCoverage set Premium=@previousTotalPremium,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,TotalCoverageTaxAmount=@previousTotalPolicyTaxAmount,InitialCovPremium=@previousInvoicedPremium
	Where CoverageSequence=@CoverageSequence_Inserted and TransactionSequence=@TransactionSequence_Inserted and PolicyKey=@PolicyKey
	
update quote set IsThisOptionFinalised='Y',LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey and TransactionSequence=@TransactionSequence_Inserted
END
if(@StatusKey=6 and @isEnforcedPolicy='Y')
BEGIN
	update PolicyCoverage set Premium=@totalUnearnedPremium,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,TotalCoverageTaxAmount=@UnearnedTax,InitialCovPremium=@UnearnedPremium
	Where CoverageSequence=@CoverageSequence_Inserted and TransactionSequence=@TransactionSequence_Inserted and PolicyKey=@PolicyKey
	------------------------------------------------------------------------

	update quote set IsThisOptionFinalised='Y',TotalPremiumFirstRange=null,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID where PolicyKey=@PolicyKey 	and TransactionSequence=@TransactionSequence_Inserted
END



insert into RatingTrace (PolicyKey,TransactionSequence,LastUpdateTimeStamp,LastUpdateUserID,XmlInputDatatoRating,XmlOutputDatafromRating,CreatedBy,CreatedDate)
select @PolicyKey,@TransactionSequence_Inserted,@LastUpdateTimeStamp,@LastUpdateUserID,XmlInputDatatoRating,XmlOutputDatafromRating,@LastUpdateUserID,@LastUpdateTimeStamp
 from RatingTrace where Policykey=@PolicyKey and TransactionSequence=@finilazedTransactionSequence
----------------------------------------------------------------------

          
--Now Commented
INSERT INTO ProfessionalLiabilityInsDetailLW (LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
IsPerClaim,VersionSequence,IsPriorActDateFull,FirmYear,InsuranceCompanyNamePross,LimitSequencePross,PolicyKey,DeductibleSequencePross,LastUpdateUserID,LastUpdateTimeStamp,IsProfDefenceExpense,VersionKey,CreatedBy,CreatedDate
)
SELECT LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,IsPerClaim,@VersionSequence_INSERTed,IsPriorActDateFull,
FirmYear,InsuranceCompanyNamePross,LimitSequencePross,PolicyKey,DeductibleSequencePross,@LastUpdateUserID,@LastUpdateTimeStamp,IsProfDefenceExpense,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp
FROM ProfessionalLiabilityInsDetailLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
          
 
       
      

---------------------------------------------
insert into AreaOfPracticeLW (PolicyKey,VersionSequence,AOPKey,PercentageValue,AOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
select @PolicyKey,@VersionSequence_Inserted,AOPKey,PercentageValue,AOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
from AreaOfPracticeLW where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------------------
insert into AttorneyDetailsLW(PolicyKey,VersionSequence,AttorneyName,LicensedStates,AnnualWorkedHours,
       NumberOfYearsInPractice,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,LastUpdateUserID,
              LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,PriorActDateAttorneysNew,isAttorneyEndorsed,VersionKey,CreatedBy,CreatedDate) 
              select @PolicyKey,@VersionSequence_Inserted,AttorneyName,LicensedStates,AnnualWorkedHours,
              NumberOfYearsInPractice + 1,NumberOfYearsWithFirm,NumberOfYearsMalpracticeCov,AttorneyPriorActDate,
       LastUpdateUserID,LastUpdateTimeStamp,PriorActDate,AttorneyDesignation,DesignationId,IsNonRatedAttorney,AttorneyPriorActDate,isAttorneyEndorsed,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp from AttorneyDetailsLW
              where PolicyKey=@PolicyKey and VersionSequence= @VersionSequence


-----------------------------------------------------------------------------------------------

-----------------------------------------CURSOR FOR COPYING FIRMPRIMARYLOCATIONDATA-------------
insert into FirmInitLawsuitsLW(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
       IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,LastUpdateUserID,
              LastUpdateTimeStamp,VersionKey,CreatedBy,CreatedDate) 
              select @PolicyKey,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,
              IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,
              LastUpdateUserID,LastUpdateTimeStamp,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  from FirmInitLawsuitsLW
              where  PolicyKey=@PolicyKey and VersionSequence= @VersionSequence

------------------------------------------------------------------------------------------------

--Bankruptc case details------------

INSERT INTO BankruptcyCasesDetailsLW (bankruptcyKey,Debtor,Creditor,Trustee,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT bankruptcyKey,Debtor,Creditor,Trustee,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM BankruptcyCasesDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--------------------------------------------------------------
---------------BankruptcyDetailsLW-------

INSERT INTO BankruptcyDetailsLW (PolicyKey,VersionSequence,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,personalBankrupties,commercialBankruptcies,representedDebtors,preBankruptcyServices,dueDiligenceProcess,reviewProcedureForCertification,disclosureStatementExplaining,conspicuousStatement,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM BankruptcyDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------CollectionSupplement DAta---------------------------------------------------------------------------


INSERT INTO collectionsSuplimentDetailsLW(PolicyKey,VersionSequence,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,averageCases,consumerCollections,commercialollections,individualCollections,personnelToCollectDebts,servicesToPurchasers,claimsOrSuitsFDCPA,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM collectionsSuplimentDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------copyright trademark DAta---------------------------------------------------------------------------

INSERT INTO  CopyRightTrademarkDetailsLW(PolicyKey,VersionSequence,otherServices,otherServicesDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,otherServices,otherServicesDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM CopyRightTrademarkDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------Family Supplement data---------------------------------------------------------------------------

INSERT INTO  FamilyLawDetailsLW (PolicyKey,VersionSequence,FLAOPKey,PercentageValue,FLAOPCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,FLAOPKey,PercentageValue,FLAOPCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM FamilyLawDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------Financial Supplement data---------------------------------------------------------------------------
INSERT INTO FinancialInstitutionDetailsLW(PolicyKey,VersionSequence,equityINTerest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT  @PolicyKey,@VersionSequence_INSERTed,equityINTerest,servicesRelatedRegulatory,underRegulatoryReview,haveBecomeBankruptInsolvent,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM FinancialInstitutionDetailsLW  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


-----------------------------------Government Supplement data---------------------------------------------------------------------------
INSERT INTO GovernmentServicesDetails(ServiceName,ServicesProvided,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT ServiceName,ServicesProvided, @PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM GovernmentServicesDetails WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO   GovernmentSupplementDetailsLW	(providingBondWork,eminentDomainServices,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT providingBondWork,eminentDomainServices,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM  GovernmentSupplementDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

----------------------------------Copy ProdecessorFirmLW data----------------------------------
 INSERT INTO ProdecessorFirmLW(PolicyKey,VersionSequence,IsERPPurchased,FirmName,TypeOfEntity,
       DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,LastUPDATEUserID,
              LastUPDATETimeStamp,ERPExpDate,DateOfAcquisation,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,IsERPPurchased,FirmName,TypeOfEntity,
              DissolutionDate,NumberOfAttorneyAtDiss,NumberOfAttorneyAtApplFirm,InsurerAtDissolution,
              LastUPDATEUserID,LastUPDATETimeStamp,ERPExpDate,DateOfAcquisation,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp  FROM ProdecessorFirmLW
              WHERE PolicyKey=@PolicyKey

---------------------------------------------------------------------------------------------

----------------------------------------Copying RealEstate Supplements Data-----------------------------------------------------------

INSERT INTO AreaOfPracticeRealEstateLW (PolicyKey,VersionSequence,AOPREKey,PercentageValue,AOPRECommentDesc,CommercialPercentageValue,AOPRECommCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOPREKey,PercentageValue,AOPRECommentDesc ,CommercialPercentageValue,AOPRECommCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfPracticeRealEstateLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO RealEastateDetailsLW (transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,PolicyKey,VersionSequence,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT transactionsHandled12MonthsResi,transactionsHandled12MonthsComm,largestTransaction12MonthsResi,largestTransaction12MonthsComm,attendClosings,includeSecuringFinancing,useDisclosureForm,@PolicyKey,@VersionSequence_INSERTed,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM	RealEastateDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------------------------------------------Copying PlaINTiff Supplements Data---------------------------
INSERT INTO PlantiffSuppLW (PolicyKey,VersionSequence,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFROMOtherFirms,IsSETtlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUPDATEUserID,LastUPDATETimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByINTernet,
PerOfCasesSETtledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,NumberOfAttorneyInPlantiffWork,PercentOfAttorneyTimeDevToPlantiff,
NumberOfSuppotedStaffToPlantiff,NumberOfInjuryCasesIn12Month,NumberOfInjuryHandleByAttorney,IsApplAdvertiseByTelevision,
IsApplAdvertiseByRadio ,IsApplAdvertiseByNewspaper,IsApplAdvertiseByYellowpages,IsRefAggrementReferToAppl,IsRefAggrementReferToApplRefersOut,
IsAppAcceptRefersFROMOtherFirms,IsSETtlementAggrementsUsed,IsApplAcceptCasesToStatuteOfLim,PerOfCasesBeforeTrail,PerOfCasesTriedToConclusion,
PerOfCasesReferToApplicant,LastUPDATEUserID,LastUPDATETimeStamp,IsAppConfirmCarryProfLiabIns,IsApplAdvertiseByMagazine,IsApplAdvertiseByINTernet,
PerOfCasesSETtledBeforeTrail,IsAppReferToOtherLawFirms,IsApplAcceptCasesToStatuteOfLimDesc,massTortOrClassAction,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM PlantiffSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

 INSERT INTO AttorneyInPlaINTiffForFirmLW(PolicyKey,VersionSequence,PlaINTiffAttorneyName,PlaINTiffYrsExp,
              PlaINTiffPecOfTimeDev,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate) 
              SELECT @PolicyKey,@VersionSequence_INSERTed,PlaINTiffAttorneyName,PlaINTiffYrsExp,
              PlaINTiffPecOfTimeDev,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
			   FROM AttorneyInPlaINTiffForFirmLW
              WHERE  PolicyKey=@PolicyKey

INSERT INTO AreaOfLitigationForFirmLW (PolicyKey,VersionSequence,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,AOLKey,PercentageOfRevenue,AverageCaseSize,LargestCaseSize,AOLCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM AreaOfLitigationForFirmLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

---------------------------------Copying WIllsEstate Supplements Data--------------------------------------------------------
INSERT INTO WillsEstateServicesLW (PolicyKey,VersionSequence,WESKey,CheckedValue,WESCommentDesc,PercentageValue,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,WESKey,CheckedValue,WESCommentDesc ,PercentageValue,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillsEstateServicesLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO WillsTrustsEstateSuppLW (PolicyKey,VersionSequence,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUPDATEUserID,LastUPDATETimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFROMBank,IsApplCarryEmployeeDishonestyCoverage
,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,NumberOfEstateOver1Million,NumberOfEstateOver5Million,NumberOfEstateOver10Million,
IsAttorneyServeAsExecutorTrustee,IsApplProvideInvestAdviceToClient,IsMemCertLegalSpecialist,IsApplPolicyReviewBySecondAttorney,IsApplTaxInConjucWithTrustWork,
IsApplEmployAccountants,IsApplEmployTaxAttorney,IsFirmNotRequireTaxAdvice,IsApplObtainCertificate,ListOfAttWithNameServicesClient,
LastUPDATEUserID,LastUPDATETimeStamp,IsApplHaveControlOverFunds,IsCounterSignatureRequired,IsApplAuthorizeToWithdrawFROMBank,IsApplCarryEmployeeDishonestyCoverage,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillsTrustsEstateSuppLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence


INSERT INTO WillSTrustEstateLargestTrustsDetails (PolicyKey,VersionSequence,TrustName,TrustsType,AsSETsValue,BeneficiaryINTerest,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT @PolicyKey,@VersionSequence_INSERTed,TrustName,TrustsType,AsSETsValue,BeneficiaryINTerest,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM WillSTrustEstateLargestTrustsDetails  WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
----------------------------------TAX Supplement Data--------------------------------------------------------------

INSERT INTO TaxSuppDetailsLW (TaxAOPKey,TaxAopDesc,revenuePercentage,PolicyKey,VersionSequence,TaxCommentDesc,LastUpdateTimeStamp,LastUpdateUserID,VersionKey,CreatedBy,CreatedDate)
SELECT TaxAOPKey,TaxAopDesc,revenuePercentage,@PolicyKey,@VersionSequence_INSERTed,TaxCommentDesc,@LastUpdateTimeStamp,@LastUpdateUserID,@VersionKey_Inserted,@LastUpdateUserID,@LastUpdateTimeStamp 
FROM TaxSuppDetailsLW WHERE PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

-----------------Populate Coverage Modifiers--------------------------
IF(@StatusKey=8)
BEGIN
insert into CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUpdateTimeStamp,LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence)
select @PolicyKey,Comment,@CoverageSequence_Inserted,@LastUpdateTimeStamp,@LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted from CoverageModifiers where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)  


END
end try
begin catch
print error_message()

rollback 
end catch
end


















GO
