USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LinkPoliciesAccountLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[LinkPoliciesAccountLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LinkPoliciesAccountLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[LinkPoliciesAccountLW_p] AS' 
END
GO
--exec [LinkPoliciesAccountLW_p] 86132, '(562)436-9201','2918-06-04 00:00:00.000','applicant@tsyslaw.com','Taubman Simpson Young & Sulentor', 3,'2019-05-31 18:59:22.276','CA'
ALTER PROCEDURE [dbo].[LinkPoliciesAccountLW_p]
	(
	@currentPolicyKey INT,
	@workPhone VARCHAR(30),
	@policyEffectiveDate DATETIME,
	@accountEmail VARCHAR(300),
	@AccountName VARCHAR(500),
	@LastUpdateUserID int,
	@StateCode VARCHAR(50)
	)
AS
BEGIN
	--link account on basis of AccountEmail
	DECLARE @AccountID INT
	DECLARE @AccountKey INT
	DECLARE @PolicyKey	INT
	DECLARE @PolicyStatusKey INT
	DECLARE @CurrentAccountID INT
	DECLARE @FinalStateCode VARCHAR(50)
	DECLARE @FinalAccountName VARCHAR(100)
	SET @PolicyStatusKey=(SELECT PolicyStatusKey from Policy Where PolicyKey=@currentPolicyKey)
	DECLARE @LastUpdateTimeStamp DATETIME
	set @LastUpdateTimeStamp=(select GETDATE())
	--going to link accounts only in case of new business
	IF(@PolicyStatusKey=1)
	BEGIN

			SET @CurrentAccountID=(SELECT AccountID FROM Policy WHERE PolicyKey=@currentPolicyKey)
	
			CREATE TABLE #Temp
			(AccountID int	)
			--print @CurrentAccountID
			INSERT INTO #Temp(AccountID) SELECT distinct ac.AccountID FROM PolicyTransaction pt WITH (NOLOCK) 	
		
				inner join Account ac WITH (NOLOCK) on pt.AccountKey=ac.AccountKey
						Inner join Policy p on pt.PolicyKey=p.PolicyKey and p.AccountID=ac.AccountID
				 WHERE ac.AccountEmail=@accountEmail and ac.AccountID!=@CurrentAccountID  and p.isUncompletedData='N'
				 ORDER BY ac.AccountID
	
			DECLARE @sameEmailAccountCount INT
			SET @sameEmailAccountCount=(SELECT count(*) FROM #Temp)
			DECLARE @finalAccountID INT
			--Mering AccountID on the basis of Same email id
			--SELECT * FROM #temp
			IF(@sameEmailAccountCount>0)
			BEGIN
				print 'going to merge on basis of email'
				SET @finalAccountID=(SELECT top 1 Accountid FROM #Temp ORDER BY AccountID)
	
		
				Declare c1 cursor for SELECT AccountID FROM #Temp
				OPEN c1
				   FETCH NEXT FROM c1 INTO @AccountID
				   WHILE @@FETCH_STATUS = 0
					 BEGIN
						
						IF(@AccountID<>@finalAccountID)
						BEGIN
						  UPDATE Firmlw SET oldAccountId=@AccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey in(SELECT Policykey FROM Policy WITH (NOLOCK) WHERE AccountID=@AccountID)
						  UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey in(SELECT Policykey FROM Policy WITH (NOLOCK) WHERE AccountID=@AccountID)
						  UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountID=@AccountID
					--	  SELECT @AccountID as AccountID,@finalAccountID as finalAccountID
						INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
						values(@currentPolicyKey,@finalAccountID,@AccountID,'Auto Merge','Merge due  to similar email address For other than current Policy Accounts',@LastUpdateUserID,@LastUpdateTimeStamp)
						END
					FETCH NEXT FROM c1 INTO @AccountID                     
					END
					CLOSE c1
					DEALLOCATE c1

					UPDATE Firmlw SET oldAccountId=@CurrentAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey=@currentPolicyKey
					UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey=@currentPolicyKey
					UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountID=@CurrentAccountID
					INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
						values(@currentPolicyKey,@finalAccountID,@CurrentAccountID,'Auto Merge','Merge due  to similar email address for current policy Account',@LastUpdateUserID,@LastUpdateTimeStamp)

			END
			--ENDing of Mering AccountID on the basis of Same email id
			ELSE
			BEGIN

			Truncate table #Temp
				INSERT INTO #Temp(AccountID)  SELECT distinct ac.AccountID FROM Account ac
					 inner join AccountAddress aa on aa.AccountKey=ac.AccountKey	
					 inner join PolicyTransaction pt on pt.AccountKey=aa.AccountKey
					 inner join Policy p on p.PolicyKey=pt.PolicyKey
					 inner join Address addr on addr.AddressKey=aa.AddressKey
				WHERE addr.WorkPhone=@workPhone and ac.AccountID!=@CurrentAccountID and p.isUncompletedData='N'
				ORDER BY ac.AccountID
			DECLARE @sameprimaryPhoneNumberCount INT
			SET @sameprimaryPhoneNumberCount=(SELECT count(*) FROM #Temp)

			IF(@sameprimaryPhoneNumberCount=1)
				BEGIN
						print 'going to merge on basis of singal phone number'
						SET	 @finalAccountID =(SELECT top 1 Accountid FROM #Temp ORDER BY AccountID)
						select distinct @FinalStateCode=adds.StateCode,@FinalAccountName=a.AccountName from address adds 
							inner join AccountAddress aa on aa.AddressKey=adds.AddressKey
							inner join Account a on a.AccountKey=aa.AccountKey where a.Accountid=@finalAccountID	
						Select @FinalStateCode as FinalStateCode,@FinalAccountName as FinalAccountName
						if(@StateCode=@FinalStateCode and @AccountName=@FinalAccountName)
						BEGIN
							UPDATE Firmlw SET oldAccountId=@CurrentAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey=@currentPolicyKey
							UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey=@currentPolicyKey
							UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountID=@CurrentAccountID
						  --SELECT (SELECT AccountID FROM Policy WHERE Policykey=@currentPolicyKey) as AccountID,@finalAccountID as finalAccountID
							INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
							values(@currentPolicyKey,@finalAccountID,@CurrentAccountID,'Auto Merge','Merge due  to similar singal phone number already exist',@LastUpdateUserID,@LastUpdateTimeStamp)
						END
						Else
						BEGIN

						INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
							values(@currentPolicyKey,@finalAccountID,@CurrentAccountID,'Candidate for Merge','Policy can''t be merged because Phone number was matched to singal account but state or Account name was not matched',@LastUpdateUserID,@LastUpdateTimeStamp)
						
						END
				END

			IF(@sameprimaryPhoneNumberCount>1)
				BEGIN
					print 'validate on basis of phone number and Policyeffective date'
					Truncate table #Temp
					DECLARE @samePhoneNumEffectiveDateCount INT
		
						INSERT INTO #Temp(AccountID) SELECT distinct p.AccountID FROM Policy p
							inner Join PolicyTransaction pt on p.Policykey=pt.PolicyKey
							inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
							inner join Address addr on addr.AddressKey=aa.AddressKey
							WHERE addr.WorkPhone=@workPhone and p.PolicyEffectiveDate=@policyEffectiveDate and p.AccountID!=@CurrentAccountID and p.isUncompletedData='N' ORDER BY p.AccountID
							--SELECT * FROM #Temp
						SET @samePhoneNumEffectiveDateCount=(SELECT count(*) FROM #Temp)
						IF(@samePhoneNumEffectiveDateCount>0)
						BEGIN
							DECLARE @samePhoneNumEffectiveDateAccountCount INT
							Truncate table #Temp
				
							INSERT INTO #Temp(AccountID) SELECT distinct p.AccountID FROM Policy p
							inner Join PolicyTransaction pt on p.Policykey=pt.PolicyKey
							inner Join Account a on a.AccountKey=pt.AccountKey
							inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
							inner join Address addr on addr.AddressKey=aa.AddressKey
							WHERE addr.WorkPhone=@workPhone and p.PolicyEffectiveDate=@policyEffectiveDate and a.AccountName=@AccountName and p.AccountID!=@CurrentAccountID and p.isUncompletedData='N'
							ORDER BY p.AccountID
							print 'found match'
							--SELECT * FROM #Temp
						SET @samePhoneNumEffectiveDateAccountCount=(SELECT count(*) FROM #Temp)
						IF(@samePhoneNumEffectiveDateAccountCount>0)
							BEGIN
								print 'Going to  merge on basis AccountName,Workphone and PolicyEffectiveDate '
									SET @finalAccountID=(SELECT top 1 Accountid FROM #Temp ORDER BY AccountID)
	
					
						
									Declare c2 cursor for SELECT AccountID FROM #Temp
									OPEN c2
									FETCH NEXT FROM c2 INTO @AccountID
																	WHILE @@FETCH_STATUS = 0
										 BEGIN
											  print 'merging accounts as we have found match for effective date ,account name and workphone'
											  IF(@AccountID<>@finalAccountID)
												BEGIN
											  UPDATE Firmlw SET oldAccountId=@AccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp  WHERE Policykey in(SELECT Policykey FROM Policy WITH (NOLOCK) WHERE AccountID=@AccountID)
											  UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey in(SELECT Policykey FROM Policy WITH (NOLOCK) WHERE AccountID=@AccountID)
											  UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountID=@AccountID
											  --SELECT @AccountID as AccountIDnew,@finalAccountID as finalAccountIDNew
											  INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
											values(@currentPolicyKey,@finalAccountID,@AccountID,'Auto Merge','merging accounts as we have found match for effective date ,account name and workphone for other than current account',@LastUpdateUserID,@LastUpdateTimeStamp)
				
												END
											 FETCH NEXT FROM c2 INTO @AccountID                     
										 END
									CLOSE c2
									DEALLOCATE c2

							UPDATE Firmlw SET oldAccountId=@CurrentAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey=@currentPolicyKey
							UPDATE Policy SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE Policykey=@currentPolicyKey
							UPDATE Account SET AccountID=@finalAccountID,LastUPDATEUserID=@LastUpdateUserID,LastUPDATETimeStamp=@LastUpdateTimeStamp WHERE AccountID=@CurrentAccountID
							 INSERT INTO AccountPersistenceLogs(PolicyKey,AccountID,OldAccountID,MergeType,AccountMergeReason,LastupdateduserID,Lastupdatetimestamp) 
											values(@currentPolicyKey,@finalAccountID,@CurrentAccountID,'Auto Merge','merging accounts as we have found match for effective date ,account name and workphone for  current account',@LastUpdateUserID,@LastUpdateTimeStamp)
				
							END
						END
				END
	END
	
END

END


GO
