USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getExistingPolicyLW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[getExistingPolicyLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getExistingPolicyLW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[getExistingPolicyLW] AS' 
END
GO
ALTER PROCEDURE [dbo].[getExistingPolicyLW]
 @AccountEmail varchar(100) 	

 AS BEGIN

select a.*,p.PolicyKey,pt.TransactionSequence,f.VersionSequence, p.QuoteNumber, p.PolicyNumber, p.IsFullQuote, p.IsQuickQuote,adds.StateCode,(CASE p.IsFullQuote WHEN 'Y' THEN 'FullQuote' ELSE 'QuickQuote' END) as FullQuick, (select StateDesc from State where StateCode=adds.StateCode) StateDesc,s.StatusDesc,pt.StatusKey,f.FirstReviewUserID,a.AccountID, a.AccountKey  ,adds.AddressKey ,adds.Address1, s.StatusDesc,pt.StatusKey,p.PolicyStatusKey,pt.TransactionTypeKey,pc.CoverageSequence,
 p.AppCreatedDate, p.MarketableProductKey, pc.CoverageKey, (CASE p.IsFullQuote WHEN 'Y' THEN 'FullQuote' ELSE 'QuickQuote' END) as QuoteType, (select PolicyStatusDesc from PolicyStatus where PolicyStatusKey = p.PolicyStatusKey ) as PolicyStatusDesc,(select AgentName from UserDetails where UserNo = f.FirstReviewUserID) as FirstReviewer, f.*
   from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt,  AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
  f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
   pt.TransactionSequence = pc.TransactionSequence and  pt.TransactionSequence=(select min(TransactionSequence) 
  from PolicyTransaction where PolicyKey=p.PolicyKey) and  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage 
  where PolicyKey=p.PolicyKey) and p.isUncompletedData='N' and a.AccountEmail =  @AccountEmail
  and p.PolicyKey in (
    
 select p.PolicyKey from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt,  AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
  f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
  p.MarketableProductKey = 1 and pc.CoverageKey = 2 and  pt.TransactionSequence = pc.TransactionSequence and  pt.TransactionSequence=(select min(TransactionSequence) 
  from PolicyTransaction where PolicyKey=p.PolicyKey) and  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage 
  where PolicyKey=p.PolicyKey) and p.isUncompletedData='N' and a.AccountEmail =  @AccountEmail   union   
  
  select p.PolicyKey from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt, 
  AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and 
  aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
  f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey 
  and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
  p.MarketableProductKey = 1 and pc.CoverageKey = 2 and  
  pt.TransactionSequence = pc.TransactionSequence and 
  pt.TransactionSequence=(select min(TransactionSequence) 
  from PolicyTransaction where PolicyKey=p.PolicyKey) and 
  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage 
  where PolicyKey=p.PolicyKey) and p.isUncompletedData= 'N'
  and a.LoginId =  @AccountEmail  union   
  
 select p.PolicyKey from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, 
  AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and 
  aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
  f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey 
  and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
  p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  
  pt.TransactionSequence = pc.TransactionSequence and 
  pt.TransactionSequence=(select min(TransactionSequence) 
  from PolicyTransaction where PolicyKey=p.PolicyKey) and 
  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage 
  where PolicyKey=p.PolicyKey) and p.isUncompletedData='N'
  and a.AccountEmail = @AccountEmail  union   
  
   select p.PolicyKey from Policy p,  Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, 
  AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and 
  aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and 
  f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey 
  and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and 
  p.MarketableProductKey = 2 and pc.CoverageKey = 3 and  
  pt.TransactionSequence = pc.TransactionSequence and 
  pt.TransactionSequence=(select min(TransactionSequence) 
  from PolicyTransaction where PolicyKey=p.PolicyKey) and 
  pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage 
  where PolicyKey=p.PolicyKey) and p.isUncompletedData='N'
  and a.LoginID =  @AccountEmail  
  )

END


GO
