USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetZohoNameClearanceFlagInJack_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetZohoNameClearanceFlagInJack_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetZohoNameClearanceFlagInJack_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetZohoNameClearanceFlagInJack_p] AS' 
END
GO
--exec GetZohoNameClearanceFlagInJack_p 113101,'testzoho06122022@testzoho06122022.com','testzoho 06122022','CA','(565)454-5454', 1
--select * from status
ALTER PROCEDURE [dbo].[GetZohoNameClearanceFlagInJack_p]
(
	@PolicyKey INT,
	@Account_Email VARCHAR(150),
	@Account_Name VARCHAR(150),
	@StateCode VARCHAR(150),
	@Phone VARCHAR(150),
	@MarketableProductKey INT
)
AS
BEGIN
	CREATE TABLE #Temp
	(
	PolicyKey INT	,
	PolicyEffectiveDate DAteTime
	)
	--validating indication and quick quote data
	Insert into #Temp(PolicyKey,PolicyEffectiveDate)
		select  p.PolicyKey,p.PolicyEffectiveDate from Account ac, AccountAddress aa, Address ad, Policy p, PolicyTransaction pt 
	where p.isUncompletedData = 'N' and ad.AddressKey = aa.AddressKey and aa.AccountKey = ac.AccountKey  and p.AccountID = ac.AccountID and p.PolicyKey = pt.PolicyKey 
	and p.PolicyStatusKey = 1 and 	 p.IsQuickQuote = 'Y' and pt.statuskey in(1,11)
	and p.MarketableProductKey = @MarketableProductKey 
	and p.PolicyKey != @PolicyKey 
	and (ac.AccountEmail = @Account_Email or (ac.AccountName = @Account_Name and ad.StateCode = @StateCode) or 
	(ac.AccountName = @Account_Name and ad.WorkPhone = @Phone))
	--and CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)>=CONVERT(VARCHAR(10), getdate()-180, 120)  and CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)<=CONVERT(VARCHAR(10), getdate()+60, 120) 
	and getdate()>=cast(DATEADD(day, -180, CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)) as Date)  and getdate()<=cast(DATEADD(day, 60, CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)) as Date)
	group by  p.PolicyKey,p.PolicyEffectiveDate

	--Validating full quote other than issued policies
	Insert into #Temp(PolicyKey,PolicyEffectiveDate)
	select  p.PolicyKey,p.PolicyEffectiveDate from Account ac, AccountAddress aa, Address ad, Policy p, PolicyTransaction pt 
	where p.isUncompletedData = 'N' and ad.AddressKey = aa.AddressKey and aa.AccountKey = ac.AccountKey  and p.AccountID = ac.AccountID and p.PolicyKey = pt.PolicyKey 
	and pt.statuskey in(1,2,9,10,4,5,8,3.7) and p.IsFullQuote = 'Y'
	and p.MarketableProductKey = @MarketableProductKey 
	and p.PolicyKey != @PolicyKey 
	and (ac.AccountEmail = @Account_Email or (ac.AccountName = @Account_Name and ad.StateCode = @StateCode) or 
	(ac.AccountName = @Account_Name and ad.WorkPhone = @Phone))
	--and CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)>=CONVERT(VARCHAR(10), getdate()-180, 120)  and CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)<=CONVERT(VARCHAR(10), getdate()+60, 120) 
	and getdate()>=cast(DATEADD(day, -180, CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)) as Date)  and getdate()<=cast(DATEADD(day, 60, CONVERT(VARCHAR(10), p.PolicyEffectiveDate, 120)) as Date)
	group by  p.PolicyKey,p.PolicyEffectiveDate

	
	--Validating issued policies 
	Insert into #Temp(PolicyKey,PolicyEffectiveDate)
	select  p.PolicyKey,p.PolicyEffectiveDate from Account ac, AccountAddress aa, Address ad, Policy p, PolicyTransaction pt 
	where p.isUncompletedData = 'N' and ad.AddressKey = aa.AddressKey and aa.AccountKey = ac.AccountKey  and p.AccountID = ac.AccountID and p.PolicyKey = pt.PolicyKey 
	and p.IsFullQuote = 'Y' and pt.statuskey=6
	and p.MarketableProductKey = @MarketableProductKey 
	and p.PolicyKey != @PolicyKey 
	and (ac.AccountEmail = @Account_Email or (ac.AccountName = @Account_Name and ad.StateCode = @StateCode) or 
	(ac.AccountName = @Account_Name and ad.WorkPhone = @Phone))
	and CONVERT(VARCHAR(10), getdate()+60, 120)<=CONVERT(VARCHAR(10), DATEADD(day, 60, pt.PolicyExpirationDate), 120)
	group by  p.PolicyKey,p.PolicyEffectiveDate

	--validating issued policies having ERP endorsement
	Insert into #Temp(PolicyKey,PolicyEffectiveDate)
	select  p.PolicyKey,p.PolicyEffectiveDate from Account ac, AccountAddress aa, Address ad, Policy p, PolicyTransaction pt 
	where p.isUncompletedData = 'N' and ad.AddressKey = aa.AddressKey and aa.AccountKey = ac.AccountKey  and p.AccountID = ac.AccountID and p.PolicyKey = pt.PolicyKey 
	and p.IsFullQuote = 'Y' and pt.statuskey=6  and TransactionTypeKey=16
	and p.MarketableProductKey = @MarketableProductKey 
	and p.PolicyKey != @PolicyKey
	and (ac.AccountEmail = @Account_Email or (ac.AccountName = @Account_Name and ad.StateCode = @StateCode) or 
	(ac.AccountName = @Account_Name and ad.WorkPhone = @Phone))
		group by  p.PolicyKey,p.PolicyEffectiveDate 

	Select top 1 Policykey  from #Temp 
	--Select *  from #Temp 
	DROP table #Temp
END






GO
