USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetDocumentListData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetDocumentListData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetDocumentListData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetDocumentListData] AS' 
END
GO
--exec [SP_GetDocumentListData] 129206 ,'LAW','HNV'
ALTER PROCEDURE [dbo].[SP_GetDocumentListData]
(	
	 @policyKey int = null,
	 @marketableProductCode varchar(50) = null,
	 @companyCode varchar(50) = null
)
AS
BEGIN

	CREATE TABLE #TEMPDATA
	(
		PolicyKey INT,
		VersionKey INT,
		FormId INT,
		FormVersionKey INT,
		documentID INT,
		docTitle varchar(100),
		policyDocumentDate DateTime,
		comment varchar(100),
		uploadedType varchar(100)
	)

	declare  @sqlstm varchar(8000);
	
	SET @sqlstm = 'SELECT policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, documentArchiveLW.DocumentID, documentArchiveLW.DocTitle, 
	documentArchiveLW.CreatedDate, documentArchiveLW.Comment, documentArchiveLW.UploadedType 
	FROM MarketableProduct as marketableProduct 
	CROSS JOIN Company as company 
	inner join Policy as policy on company.CompanyKey = policy.CompanyKey 
	and marketableProduct.MarketableProductKey = policy.MarketableProductKey 
	and marketableProduct.Code = ''' + @marketableProductCode + ''' and company.Code = ''' + @companyCode + ''' 
	inner join DocumentArchiveLW as documentArchiveLW on policy.PolicyKey = documentArchiveLW.PolicyKey and policy.VersionKey = documentArchiveLW.VersionKey 
	WHERE policy.recordType <> ''D'' and documentArchiveLW.recordType <> ''D'' ';
	
	IF(@policyKey is not null and @policyKey <> 0)
	BEGIN
		SET  @sqlstm = @sqlstm + ' AND documentArchiveLW.PolicyKey = ' + cast(@policyKey as varchar(10));
	END
	
	SET  @sqlstm = @sqlstm + ' GROUP BY policy.PolicyKey, policy.VersionKey, policy.FormId, policy.FormVersionKey, documentArchiveLW.DocumentID, documentArchiveLW.DocTitle, 
	documentArchiveLW.CreatedDate, documentArchiveLW.Comment, documentArchiveLW.UploadedType'

	print @sqlstm

	INSERT INTO #TEMPDATA (PolicyKey,VersionKey,FormId,FormVersionKey,documentID,docTitle,policyDocumentDate,comment,uploadedType)
	EXECUTE (@sqlstm)
	
	--select * from #TEMPDATA 

	SELECT (select PolicyKey,VersionKey,FormId,FormVersionKey,documentID,docTitle,policyDocumentDate,comment,uploadedType from #TEMPDATA FOR XML path ('data'), ROOT ('XML'), ELEMENTS)  as XML
	--SELECT STUFF((select * from #TEMPDATA FOR XML PATH('') ), 1, 1, '') as XML
END




GO
