USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDataForPolicyNumber_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDataForPolicyNumber_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDataForPolicyNumber_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetDataForPolicyNumber_p] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec GetDataForPolicyNumber_p 145265, 2
--145265
ALTER PROCEDURE [dbo].[GetDataForPolicyNumber_p]
@PolicyKey INT,
@MarketableProductKey INT
AS
BEGIN
if(@MarketableProductKey is null or @MarketableProductKey='')
begin
	set @MarketableProductKey=(select MarketableProductKey from Policy where Policykey=@PolicyKey)

end

--select @MarketableProductKey
DECLARE @lastIssuedPoliyNumber VARCHAR(50),@lastIssuedPoliyNumberForAccount VARCHAR(50),@comapnyAccountCount INT,@policyStatusKey INT,@AccountID INT,@CompanyKey INT
	SET @AccountID=(select AccountID from Policy where Policykey=@PolicyKey)
	Select @policyStatusKey=PolicyStatusKey,@CompanyKey=CompanyKey from Policy where PolicyKey=@PolicyKey
	SET @lastIssuedPoliyNumber=(select max(PolicyNumber) as PolicyNumber from Policy  where MarketableProductKey = @MarketableProductKey and CompanyKey=@CompanyKey)
	SET @lastIssuedPoliyNumberForAccount=(select max(PolicyNumber) as PolicyNumber from Policy  where MarketableProductKey = @MarketableProductKey and CompanyKey=@CompanyKey and AccountID=@AccountID)
	
	SET @comapnyAccountCount=(Select count(PolicyKey) from Policy 
	 where AccountID=@AccountID and CompanyKey=@CompanyKey  and isFullQuote='Y' and isUncompletedData='N' and PolicyNumber is not null)

	select @lastIssuedPoliyNumber as PolicyNumber,@policyStatusKey as policyStatusKey,@comapnyAccountCount as comapnyAccountCount,@lastIssuedPoliyNumberForAccount as lastIssuedPoliyNumberForAccount
	, SUBSTRING(@lastIssuedPoliyNumberForAccount,1,13) as LastIssuedPoliyNumberForAccountWithoutSuffix,SUBSTRING(@lastIssuedPoliyNumberForAccount,15,16) as OldSuffix

END

/*
lastIssuedPoliyNumber	policyStatusKey	comapnyAccountCount
TESTSEQ24	1	1

*/



GO
