USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateClaimSuppWithQQ_lw]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateClaimSuppWithQQ_lw]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateClaimSuppWithQQ_lw]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateClaimSuppWithQQ_lw] AS' 
END
GO
ALTER PROCEDURE [dbo].[UpdateClaimSuppWithQQ_lw]
	(
	@PolicyKey INT,
	@VersionSequence INT,
	@VersionKey INT,
	@hasAnyFirmPersonnelReported CHAR,
	@LastUpdateUserID VARCHAR(100),
	@LastUpdateTimeStamp VARCHAR(200)
	)
		
AS
BEGIN
	
		Update FirmLW set IsPersonnelBeSubOfAnyInvest=@hasAnyFirmPersonnelReported,IsLawyerProfLiabClaimAgntAppl=@hasAnyFirmPersonnelReported,LastUpdateTimeStamp=@LastUpdateTimeStamp,LastUpdateUserID=@LastUpdateUserID
		where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
	
	
END
 



GO
