USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_LawyersBatch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetRenewalReminderList_LawyersBatch]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRenewalReminderList_LawyersBatch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetRenewalReminderList_LawyersBatch] AS' 
END
GO


--exec GetRenewalReminderList_LawyersBatch

ALTER PROCEDURE [dbo].[GetRenewalReminderList_LawyersBatch]
@URL  varchar(1000)='abc',
@VideoURL varchar(1000)='abc'
AS
BEGIN

delete from RenewalTable
exec ResetRenewalAccountantFlags_p

Declare @TodayDate DateTime = GETDATE();

if((DATENAME(dw,@TodayDate  )='Monday'))
begin

Declare @loopCount int=1, @maxLoopCount int=9,  @ForDays varchar(20)='', @days int=0
WHILE(@maxLoopCount>=@loopCount)

       BEGIN
              SET @ForDays=CASE @loopCount WHEN 1 THEN '0' WHEN 2 THEN '5' WHEN 3 THEN '10' WHEN 4 THEN '15' WHEN 5 THEN '21'
              WHEN 6 THEN '30' WHEN 7 THEN '45'WHEN 8 THEN '60' WHEN 9 THEN '90' END

              select DISTINCT pt.ProducerCode ,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
              convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,f.isAppCompleted,ss.StateDesc,f.isrenewed,p.PolicyNumber into #temp_renewal from Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
              PolicyCoverage pc,State ss,Quote q where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
              and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and ss.statecode=adds.statecode and
              pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
              pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
              and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y'  
			  and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 and q.IsThisOptionFinalised='Y') and
           
              pt.PolicyExpirationDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,@TodayDate  ),110)
                                                                                         WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,@TodayDate  ),110) 
                                                                                         WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,@TodayDate  ),110)
                                                                                         WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,@TodayDate  ),110)
                                                                                         WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,@TodayDate  ),110)
                                                                                         WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,@TodayDate  ),110)
                                                                                         WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,@TodayDate  ),110)
                                                                                         WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,@TodayDate  ),110)
                                                                                         WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,@TodayDate  ),110)
                                                                                  END AND

          pt.PolicyExpirationDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),@TodayDate  ,110) 
                                                                                   WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,@TodayDate  ),110) 
                                                                                   WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,@TodayDate  ),110)
                                                                                  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,@TodayDate  ),110)
                                                                                  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,@TodayDate  ),110) 
                                                                                   WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,@TodayDate  ),110) 
                                                                                   WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,@TodayDate  ),110) 
                                                                                   WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,@TodayDate  ),110) 
                                                                                   WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,@TodayDate  ),110) 
                                                                                  END 

																----pt.PolicyExpirationDate this changes have been implemented as per discussion with pat and ryan on 17-02-2023
																----this change based on purely days basis
              select DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,p.PolicyEffectiveDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
              convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted,ss.StateDesc,f.IsRenewed, p.PolicyNumber into #temp_renewal_1 from Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , 
              PolicyCoverage pc,State ss, Quote q  where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
              and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and ss.statecode=adds.statecode and
              pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) and 
              pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
              and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 
			  and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000) and
         
              p.PolicyEffectiveDate>= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),DATEADD(dd,-2,@TodayDate  ),110)
                                                                                  WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,3,@TodayDate  ),110) 
                                                                                  WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,8,@TodayDate  ),110)
                                                                                  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,13,@TodayDate  ),110)
                                                                                  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,19,@TodayDate  ),110)
                                                                                  WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,28,@TodayDate  ),110)
                                                                                  WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,43,@TodayDate  ),110)
                                                                                  WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,58,@TodayDate  ),110)
                                                                                  WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,88,@TodayDate  ),110)
                                                                                  END AND

              p.PolicyEffectiveDate<= CASE @ForDays  WHEN '0' THEN CONVERT(VARCHAR(10),@TodayDate  ,110) 
                                                                                  WHEN '5' THEN CONVERT(VARCHAR(10),DATEADD(dd,5,@TodayDate  ),110) 
                                                                                  WHEN '10' THEN CONVERT(VARCHAR(10),DATEADD(dd,10,@TodayDate  ),110)
                                                                                  WHEN '15' THEN CONVERT(VARCHAR(10),DATEADD(dd,15,@TodayDate  ),110)
                                                                                  WHEN '21' THEN CONVERT(VARCHAR(10),DATEADD(dd,21,@TodayDate  ),110) 
                                                                                  WHEN '30' THEN CONVERT(VARCHAR(10),DATEADD(dd,30,@TodayDate  ),110) 
                                                                                  WHEN '45' THEN CONVERT(VARCHAR(10),DATEADD(dd,45,@TodayDate  ),110) 
                                                                                  WHEN '60' THEN CONVERT(VARCHAR(10),DATEADD(dd,60,@TodayDate  ),110) 
                                                                                  WHEN '90' THEN CONVERT(VARCHAR(10),DATEADD(dd,90,@TodayDate  ),110)  
                                                                                  END 

              declare @PolicyKey int
              declare @IsCompletedApplication char(1) = 'N'

              declare c1 cursor for
                        select PolicyKey from #temp_renewal_1
                        OPEN c1
                                    FETCH NEXT FROM c1 into @PolicyKey 
                                    WHILE @@FETCH_STATUS = 0
                                                BEGIN
                                                set @IsCompletedApplication = 'N'
                                                exec CheckIfApplicationIsCompletedNew_p @PolicyKey,@IsCompletedApplication output
                                                print '@IsCompletedApplication  ' + @IsCompletedApplication

                                                if(@IsCompletedApplication = 'Y')
                                                          delete from #temp_renewal_1 where PolicyKey = @PolicyKey

                                    FETCH NEXT FROM c1 into @PolicyKey

                                    END
                        close c1
                        deallocate c1

              DECLARE @AttorneyCount INT
              DECLARE @isDeathDisabilityERP CHAR
              DECLARE @isFirmERP CHAR
              DECLARE @isAttorneyRetiring CHAR
              declare @PolicyKey2 int
              declare c3 cursor for
                        select PolicyKey from #temp_renewal
                        OPEN c3
                                    FETCH NEXT FROM c3 into @PolicyKey2 
                                         WHILE @@FETCH_STATUS = 0
                                                begin
                                                  Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey2

                                         SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@policykey2 and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey2)and isAttorneyEndorsed<>'Y')
                                         
                                         If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey2 and pt.TransactionTypeKey=16)
                                         begin
                                         --print '1'
												if(@isFirmERP='Y' or (@isAttorneyRetiring='Y' and @AttorneyCount=0))
													update #temp_renewal set  isrenewed='Y' where PolicyKey= @PolicyKey2 --and TransactionSequence = @TransactionSequence

                                         end
                                         --if (@AttorneyCount=0)
                                         --begin
                                         --       update #temp_renewal set  isrenewed='Y' where PolicyKey= @PolicyKey2
                                         --end
                                    FETCH NEXT FROM c3 into @PolicyKey2

                                    END
                                     
                        close c3
                        deallocate c3

              insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,secondaryEmail,ProducerCode,StateDesc,isrenewed,PolicyNumber) 
         select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate,tr.StateCode ,tr.isAppCompleted,tr.secondaryEmail,tr.ProducerCode,tr.StateDesc,tr.isrenewed,tr.PolicyNumber from #temp_renewal tr left join SubProducer sp on sp.ProducerCode = tr.ProducerCode where (sp.SendRenewalSolicitation = 'Y' and sp.IsDriect = 'Y') or tr.ProducerCode is null or tr.ProducerCode='' 

        insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,secondaryEmail,ProducerCode,StateDesc,isrenewed,PolicyNumber) 
        select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.isAppCompleted,tr.secondaryEmail,tr.ProducerCode,tr.StateDesc,tr.IsRenewed,tr.PolicyNumber from #temp_renewal_1 tr left join SubProducer sp on sp.ProducerCode = tr.ProducerCode where (sp.SendRenewalSolicitation = 'Y' and sp.IsDriect = 'Y') or tr.ProducerCode is null or tr.ProducerCode='' 

              drop table #temp_renewal
              drop table #temp_renewal_1

              SET @loopCount=@loopCount+1
       --select * from  RenewalTable order by days
       
       END
end
else
       begin
           
              select DISTINCT pt.ProducerCode ,DATEDIFF(dd,@TodayDate  ,pt.PolicyExpirationDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
              convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,f.isAppCompleted,ss.StateDesc,f.isrenewed, p.PolicyNumber 
			  into #temp_renewal_2 from Policy p,  Account a,   FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc,State ss, Quote q  
			  where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
              and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and ss.statecode=adds.statecode 
			  and pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) 
			  and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
              and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey = 6 and isnull(f.IsRenewalReview,'') != 'Y'  
			  and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000 and q.IsThisOptionFinalised='Y') 
			  and (CAST(pt.PolicyExpirationDate as date))in(CAST(@TodayDate  as date),CAST(@TodayDate  +5 as date),CAST(@TodayDate  +10 as date),CAST(@TodayDate  +15 as date), CAST(@TodayDate  +21  as date),
              CAST(@TodayDate  +30  as date),CAST(@TodayDate  +45 as date),CAST(@TodayDate  +60 as date),CAST(@TodayDate  +90 as date))
              
       
              declare c3 cursor for
                        select PolicyKey from #temp_renewal_2
                        OPEN c3
                                    FETCH NEXT FROM c3 into @PolicyKey2 
                                         WHILE @@FETCH_STATUS = 0
                                                begin
                                                Select @isAttorneyRetiring=isAttorneyRetiring,@isDeathDisabilityERP=isDeathDisabilityERP,@isFirmERP=isFirmERP from ErpEndorsementDetails where Policykey=@PolicyKey2

                                         SET @AttorneyCount=(Select CASE WHEN count(*) IS NULL OR  count(*)='' then 0 else count(*) END from AttorneyDetailsLW where Policykey=@policykey2 and VersionSequence=(select max(VersionSequence) from firmlw where PolicyKey=@PolicyKey2)and isAttorneyEndorsed<>'Y')
                                         
                                         If Exists(select * from PolicyTransaction pt  where pt.PolicyKey=@PolicyKey2 and pt.TransactionTypeKey=16)
                                         begin
                                         --print '1'
												if(@isFirmERP='Y' or (@isAttorneyRetiring='Y' and @AttorneyCount=0))
													update #temp_renewal_2 set  isrenewed='Y' where PolicyKey= @PolicyKey2 --and TransactionSequence = @TransactionSequence

                                         end
                                         --if (@AttorneyCount=0)
                                         --begin
                                         --       update #temp_renewal_2 set  isrenewed='Y' where PolicyKey= @PolicyKey2
                                         --end

                                    FETCH NEXT FROM c3 into @PolicyKey2

                                    END
                                    
                        close c3
                        deallocate c3

																	----pt.PolicyExpirationDate this changes have been implemented as per discussion with pat and ryan on 17-02-2023
																----this change based on purely days basis

              select DISTINCT pt.ProducerCode,DATEDIFF(dd,@TodayDate  ,p.PolicyEffectiveDate) As Days, p.PolicyKey,f.ContactPerson, a.AccountName, a.AccountEmail, adds.stateCode,a.secondaryEmail,
              convert(varchar(50),pt.PolicyExpirationDate,101) as PolicyExpirationDate,convert(varchar(50),p.PolicyEffectiveDate,101) as PolicyEffectiveDate,f.isAppCompleted,ss.StateDesc,f.IsRenewed, p.PolicyNumber 
			  into #temp_renewal_3 from Policy p, Account a, FirmLW f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc,State ss, Quote q  
			  where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey 
              and  p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 2 and pc.CoverageKey = 3  and ss.statecode=adds.statecode 
			  and pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction  where PolicyKey=p.PolicyKey) 
			  and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and   pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') 
              and isnull(f.IsRenewed,'') != 'Y' and pt.StatusKey in (1,2) and isnull(f.IsRenewalReview,'') != 'Y' and p.PolicyStatusKey != 1 
			  and pt.PolicyKey in (select PolicyKey from PolicyCoverage where AggregateLimit < 200000000) 
			  and (CAST(p.PolicyEffectiveDate as date)) in(CAST(@TodayDate   as date),CAST(@TodayDate  +5 as date),CAST(@TodayDate  +10 as date),CAST(@TodayDate  +15 as date), CAST(@TodayDate  +21  as date),
              CAST(@TodayDate  +30  as date),CAST(@TodayDate  +45 as date),CAST(@TodayDate  +60 as date),CAST(@TodayDate  +90  as date))

              declare @PolicyKey1 int
              declare @IsCompletedApplication1 char(1) = 'N'

              declare c1 cursor for
                        select PolicyKey from #temp_renewal_3
                        OPEN c1
                                    FETCH NEXT FROM c1 into @PolicyKey1 
                                    WHILE @@FETCH_STATUS = 0
                                                BEGIN
                                                set @IsCompletedApplication1 = 'N'
                                                exec CheckIfApplicationIsCompletedNew_p @PolicyKey1,@IsCompletedApplication1 output
                                                print '@IsCompletedApplication1  ' + @IsCompletedApplication1

                                                if(@IsCompletedApplication1 = 'Y')
                                                          delete from #temp_renewal_3 where PolicyKey = @PolicyKey1

                                    FETCH NEXT FROM c1 into @PolicyKey1

                                    END
              close c1
              deallocate c1


              insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,secondaryEmail,ProducerCode,StateDesc,isrenewed,PolicyNumber) 
        select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyExpirationDate,tr.StateCode ,tr.isAppCompleted,tr.secondaryEmail,tr.ProducerCode,tr.StateDesc,tr.isrenewed,tr.PolicyNumber from #temp_renewal_2 tr left join SubProducer sp on sp.ProducerCode = tr.ProducerCode where (sp.SendRenewalSolicitation = 'Y' and sp.IsDriect = 'Y') or tr.ProducerCode is null or tr.ProducerCode='' 

        insert into RenewalTable(Days,PolicyKey,ContactPerson,AccountName,AccountEmail,PolicyExpirationDate,StateCode,isAppCompleted,secondaryEmail,ProducerCode,StateDesc,isrenewed,PolicyNumber) 
        select tr.Days,tr.PolicyKey,tr.ContactPerson,tr.AccountName,tr.AccountEmail,tr.PolicyEffectiveDate,tr.StateCode,tr.isAppCompleted,tr.secondaryEmail,tr.ProducerCode,tr.StateDesc,tr.isrenewed,tr.PolicyNumber from #temp_renewal_3 tr left join SubProducer sp on sp.ProducerCode = tr.ProducerCode where (sp.SendRenewalSolicitation = 'Y' and sp.IsDriect = 'Y') or tr.ProducerCode is null or tr.ProducerCode='' 

              drop table #temp_renewal_2
              drop table #temp_renewal_3
       end
       
       --delete from renewaltable where policykey in(83832,79594,82382,83898)
       
       delete from RenewalTable where policykey in( select rt.policyKey from RenewalTable rt inner join Policytransaction pt  on rt.PolicyKey=pt.policykey where pt.StatusKey!=6 and rt.isAppCompleted like('%Y%'))
       delete from RenewalTable where policykey in(select policykey from renewalemails where mydatetime4 in(CAST(@TodayDate  -1 as date),CAST(@TodayDate  -2 as date),CAST(@TodayDate  -3 as date),CAST(@TodayDate  -4 as date)))
       --delete from renewaltable where producercode in(select producercode from SubProducer where IsDriect='N') and statecode in('NM','CO','IL','GA','HI','LA','WV','FL')

	   Create Table #TempPolicyMoreThen1AttrAND3AOP (
				PolicyKey int,
		)
		INSERT INTO #TempPolicyMoreThen1AttrAND3AOP (PolicyKey)
		select PolicyKey from AttorneyDetailsLW where PolicyKey in (select PolicyKey from RenewalTable ) group by PolicyKey
		HAVING count(AttorneyKey) = 1

		INSERT INTO #TempPolicyMoreThen1AttrAND3AOP (PolicyKey)
		select PolicyKey from AreaOfPracticeLW where PolicyKey in (select PolicyKey from RenewalTable ) and PercentageValue>0 group by PolicyKey
		HAVING count(AOPKey) > 3

		delete from ExclPolicy1AttrANDMoreThen3AOPLogs where CreatedDate > CAST(@TodayDate AS DATE)
		INSERT INTO ExclPolicy1AttrANDMoreThen3AOPLogs (MarketableProductKey,PolicyKey)
		select 1, PolicyKey from #TempPolicyMoreThen1AttrAND3AOP group by PolicyKey HAVING count(PolicyKey) > 1

		delete from RenewalTable where policykey in (select PolicyKey from #TempPolicyMoreThen1AttrAND3AOP group by PolicyKey HAVING count(PolicyKey) > 1)

		drop Table #TempPolicyMoreThen1AttrAND3AOP

       declare @PolicyKeyStr varchar(100) 
       declare @StateCode char(2)
       declare @PolicyExpirationDate varchar(100)
       declare @isCyber char(2)
       declare @EmailBody varchar(max)=''
       declare @EmailSubject varchar(1000)=''
       declare @ContactPerson varchar(100)=''   
       declare @ProducerName varchar(100)='Protexure Lawyers'
       declare @SignatureText varchar(100)='Protexure Lawyers'
       declare @Email varchar(100)='For assistance, please contact the Protexure Renewals team at Renewals@Protexure.com'
       declare @SPPhoneNumber varchar(100)='877-569-4111'
       declare @Fax varchar(100)='440-333-3214'
       declare @SPWebsite varchar(100)='www.protexurelawyers.com'
       declare @EmailSignature varchar(1000)=''
       declare @StateDesc varchar(50)=''

   --select * from EMAIL_NOTIFICATIONS_NEW where IsCyber='Y'

       declare c1 cursor for
       select PolicyKey, StateCode, PolicyExpirationDate, ContactPerson, Days,StateDesc from RenewalTable order by days
       OPEN c1
        FETCH NEXT FROM c1 into @PolicyKeyStr,@StateCode,@PolicyExpirationDate,@ContactPerson, @days,@StateDesc
        WHILE @@FETCH_STATUS = 0
		BEGIN
			select @isCyber=isnull(needCyberCoverage,'N') from FirmLW where PolicyKey=@PolicyKeyStr
			Set @isCyber='Y'

            if(@StateCode in ('AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'ID', 'IL', 'IN', 'KS', 'MA', 'MI', 'MN', 'MO', 'NC', 'NJ', 'NV', 'OH', 'PA', 'SC', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI'))
			BEGIN
				if (@days > 0 and @days <= 10) 
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE10' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber) 
					and event_name2 = 'RS_ISMIE10'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
				END
				else if (@days > 10 and @days <= 20)
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE60' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%') 
					and event_name2 = 'RS_ISMIE60'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%'
				END
				else if (@days > 20 and @days <= 29)
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE45' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber) 
					and event_name2 = 'RS_ISMIE45'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
				END
				else if (@days = 30)
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE60' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%') 
					and event_name2 = 'RS_ISMIE60'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%'
				END 
				else if (@days > 30 and @days <= 45)
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE45' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber) 
					and event_name2 = 'RS_ISMIE45'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
				END 
				else if (@days > 45 and @days <= 60)
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE60' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%') 
					and event_name2 = 'RS_ISMIE60'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%'
				END 
				else if (@days > 60 and @days <= 90)
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE90' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%') 
					and event_name2 = 'RS_ISMIE90'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
					and StateCode like '%'+@StateCode+'%'
				END 
				else 
				BEGIN
					SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
					FROM EMAIL_NOTIFICATIONS_NEW en
					INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
					where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
					where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
					and event_name2 = 'RS_ISMIE0' and Period= case when @days <=30 THEN 30 else 31 end 
					and isCyber=@isCyber) 
					and event_name2 = 'RS_ISMIE0'
					and Period= case when @days <=30 THEN 30 else 31 end
					and isCyber=@isCyber
				END
			END
			else
			BEGIN
				SELECT @EmailBody=et.TemplateBody, @EmailSubject=[subject]
				FROM EMAIL_NOTIFICATIONS_NEW en
				INNER JOIN email_templates et ON et.TemplateCode=en.email_template 
				where en.EffectiveDate=(select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
				where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
				and event_name2 = 'RS_ISMIE60' and Period= case when @days <=30 THEN 30 else 31 end 
				and isCyber=@isCyber
				and StateCode like '%'+@StateCode+'%') 
				and event_name2 = 'RS_ISMIE60'
				and Period= case when @days <=30 THEN 30 else 31 end
				and isCyber=@isCyber
				and StateCode like '%'+@StateCode+'%'
			END					  

            select @EmailSignature=[body] from EMAIL_NOTIFICATIONS_NEW where EffectiveDate=(
            select max(EffectiveDate) from EMAIL_NOTIFICATIONS_NEW 
            where EffectiveDate <=convert(datetime, @PolicyExpirationDate, 111)
            and event_name='Signature_Direct') and event_name='Signature_Direct'

            set @EmailSignature = Replace(@EmailSignature,'{SignatureText}',@SignatureText)
            set @EmailSignature = Replace(@EmailSignature,'{Email}',@Email)
            set @EmailSignature = Replace(@EmailSignature,'{SPPhoneNumber}',@SPPhoneNumber)
            set @EmailSignature = Replace(@EmailSignature,'{Fax}',@Fax)
            set @EmailSignature = Replace(@EmailSignature,'{SPWebsite}',@SPWebsite)
            --print '@@PolicyKeyStr ' + @PolicyKeyStr +' @EmailBody ' + @EmailBody +' @EmailSubject '+ @EmailSubject
            set @EmailBody = Replace(@EmailBody,'{ContactPerson}',@ContactPerson)
            set @EmailBody = Replace(@EmailBody,'{PolicyExpirationDate}',@PolicyExpirationDate)
                           
            set @EmailBody = Replace(@EmailBody,'{AppURL}',@URL+@PolicyKeyStr)
            set @EmailBody = Replace(@EmailBody,'{ProducerName}',@ProducerName)
            set @EmailBody = Replace(@EmailBody,'{EmailSignature}',@EmailSignature)
            set @EmailBody = Replace(@EmailBody,'{VideoURL}',@VideoURL)
            set @EmailBody = Replace(@EmailBody,'{SPPhoneNumber}',@SPPhoneNumber)
            set @EmailBody = Replace(@EmailBody,'{StateDesc}',@StateDesc)

                                                         

            update RenewalTable set EmailBody=@EmailBody, EmailSubject=@EmailSubject where PolicyKey=@PolicyKeyStr
            set @EmailBody=''; set @EmailSubject=''; set @EmailSignature=''

			FETCH NEXT FROM c1 into @PolicyKeyStr,@StateCode,@PolicyExpirationDate,@ContactPerson,@days,@StateDesc

        END
                     
       close c1
       deallocate c1
       --delete from renewaltable where producercode in(select producercode from SubProducer where IsDriect='N') and statecode in('NM','CO','IL','GA','HI','LA','WV','FL')
       delete from renewaltable where isrenewed='Y'
		--delete from RenewalTable where Days > 60 and Days <= 90

	   update RenewalTable set Days = 60 where StateCode not in ('AZ', 'CO', 'FL', 'IN', 'KS', 'MI', 'MO', 'NV', 'NJ', 'OH', 'PA', 'SC', 'TX', 'UT', 'WA', 'ID', 'TN', 'VA', 'CT', 'GA',
	    'IL', 'MA', 'MN', 'NC', 'WI')

       select * from RenewalTable order by Days
       
END









GO
