USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCoverageMokdifiersQQLW_P]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateCoverageMokdifiersQQLW_P]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateCoverageMokdifiersQQLW_P]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateCoverageMokdifiersQQLW_P] AS' 
END
GO
--select * from state
--exec UpdateCoverageMokdifiersQQLW_P 111950, 'CO', 91779
ALTER PROCEDURE [dbo].[UpdateCoverageMokdifiersQQLW_P]
(
@PolicyKey INT,
@StateCode VARCHAR(30),
@VersionSequence INT,
@LastUpdateUserID INT,
@LastUpdateTimeStamp DATETIME
)

AS
BEGIN
print 'Hello'
       --DECLARE @Count INT=(SELECT  CASE WHEN Count(*) IS NOT NULL THEN  Count(*) else 0 END   from CoverageModifiers where Policykey=@PolicyKey)
       --IF(@Count=0)
       --BEGIN
       --     Insert into CoverageModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) Values(@PolicyKey,1,0,@LastUpdateUserID,@LastUpdateTimeStamp)
       --     Insert into CoverageModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) Values(@PolicyKey,2,0,@LastUpdateUserID,@LastUpdateTimeStamp)
       --     Insert into CoverageModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) Values(@PolicyKey,3,0,@LastUpdateUserID,@LastUpdateTimeStamp)
       --     Insert into CoverageModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) Values(@PolicyKey,4,0,@LastUpdateUserID,@LastUpdateTimeStamp)
       --     Insert into CoverageModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) Values(@PolicyKey,5,0,@LastUpdateUserID,@LastUpdateTimeStamp)
       --     Insert into CoverageModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp) Values(@PolicyKey,6,0,@LastUpdateUserID,@LastUpdateTimeStamp)
       --END

       --IF(@StateCode<>'NM' and @StateCode<>'OK' and @StateCode<>'WA')
       --BEGIN
       --     DECLARE @MinTransactionSequence INT=(Select Min(TransactionSequence) FROM PolicyTransaction Where Policykey=@PolicyKey)
       --     DECLARE @AttorneyCount INT =(select count(*) from AttorneyDetailsLW where Policykey=@PolicyKey and VersionSequence=@VersionSequence)
              
       --     IF(@AttorneyCount<3)
       --     BEGIN
       --            DECLARE @TotalCovModifiers INT=(SELECT  SUM(Percentage) from CoverageModifiers where Policykey=@PolicyKey and TransactionSequence=@MinTransactionSequence)
       --            DECLARE @ExistingPercentage INT
       --            DECLARE @ModifierComment VARCHAR(500)=(Select ModifierComment From FIRMLW Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
       --            IF(@StateCode='MO' AND @TotalCovModifiers<=20)
       --            BEGIN
                     
       --                   SET @ExistingPercentage=(Select Percentage From CoverageModifiers where Policykey=@PolicyKey and TransactionSequence=@MinTransactionSequence and ModifierKey=3)
       --                   SET @ExistingPercentage=@ExistingPercentage+5
       --                   SET @ModifierComment=@ModifierComment+', Firm Characteristic debit'
       --                   UPDATE CoverageModifiers SET Percentage=@ExistingPercentage  where Policykey=@PolicyKey and ModifierKey=3
       --                   UPDATE FIRMLW SET ModifierComment=@ModifierComment Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
       --            END
       --            IF(@StateCode<>'MO' AND @TotalCovModifiers<=20)
       --            BEGIN
       --                   SET @ExistingPercentage=(Select Percentage From CoverageModifiers where Policykey=@PolicyKey and TransactionSequence=@MinTransactionSequence and ModifierKey=2)
       --                   SET @ExistingPercentage=@ExistingPercentage+5
       --                   SET @ModifierComment=@ModifierComment+', Firm Characteristic debit'
       --                   UPDATE CoverageModifiers SET Percentage=@ExistingPercentage  where Policykey=@PolicyKey and ModifierKey=2
       --                   UPDATE FIRMLW SET ModifierComment=@ModifierComment Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
       --            END

       --     END
       --END
END




GO
