USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePracticeManagement_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdatePracticeManagement_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdatePracticeManagement_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdatePracticeManagement_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[UpdatePracticeManagement_p](
@PolicyKey INT,
@VersionSequence INT,
@IsFirmHaveIndepDockets CHAR,
@IsFirmHaveProcForFormersClients	CHAR,
@IsFirmRequireEngagementLetter CHAR,
@IsNonEngagementLetterIssueToFirm CHAR,
@withdrawOrDisengaged CHAR,
@IsApplInitiatedLawsuitForFirm CHAR,
@LastUpdateUserID INT,
@LastUpdateTimeStamp VARCHAR(50)
)
AS
DECLARE @Count int
BEGIN
	
	
	UPDATE FIRMLW SET IsFirmHaveIndepDockets=@IsFirmHaveIndepDockets,IsFirmHaveProcForFormersClients=@IsFirmHaveProcForFormersClients,IsFirmRequireEngagementLetter=@IsFirmRequireEngagementLetter,
			IsNonEngagementLetterIssueToFirm=@IsNonEngagementLetterIssueToFirm,withdrawOrDisengaged=@withdrawOrDisengaged,IsApplInitiatedLawsuitForFirm=@IsApplInitiatedLawsuitForFirm,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp
			WHERE policykey=@PolicyKey
	UPDATE POLICY SET isUncompletedData='N',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE POLICYKEY=@Policykey
END


GO
