USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateIndicationModifierAcc_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertUpdateIndicationModifierAcc_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpdateIndicationModifierAcc_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertUpdateIndicationModifierAcc_p] AS' 
END
GO
ALTER PROCEDURE [dbo].[InsertUpdateIndicationModifierAcc_p]
(
@PolicyKey INT,
@SchduleRatingModifier1 INT,
@SchduleRatingModifier2 INT,
@SchduleRatingModifier3 INT,
@SchduleRatingModifier4 INT,
@SchduleRatingModifier5 INT,
@SchduleRatingModifier6 INT,
@LastUpdateUserID int,
@LastUpdateTimeStamp VARCHAR(50)
)
AS
BEGIN
	DECLARE @Count INT=0
	IF(@SchduleRatingModifier1  is Null)
	BEGIN
		SET @SchduleRatingModifier1=0
	END
	IF(@SchduleRatingModifier2  is Null)
	BEGIN
		SET @SchduleRatingModifier2=0
	END
	IF(@SchduleRatingModifier3  is Null)
	BEGIN
		SET @SchduleRatingModifier3=0
	END
	IF(@SchduleRatingModifier4  is Null)
	BEGIN
		SET @SchduleRatingModifier4=0
	END
	IF(@SchduleRatingModifier5  is Null)
	BEGIN
		SET @SchduleRatingModifier5=0
	END
	IF(@SchduleRatingModifier6  is Null)
	BEGIN
		SET @SchduleRatingModifier6=0
	END
	SET @Count=(SELECT CASE WHEN Count(*) IS null THEN 0 ELSE COUNT(*) END From IndicationModifiers WHere PolicyKey=@PolicyKey)
	IF(@Count=0)
	BEGIN
	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate) 
	Values(@PolicyKey,1,@SchduleRatingModifier1,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate) 
	Values(@PolicyKey,2,@SchduleRatingModifier2,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate) 
	Values(@PolicyKey,3,@SchduleRatingModifier3,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate) 
	Values(@PolicyKey,4,@SchduleRatingModifier4,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate) 
	Values(@PolicyKey,5,@SchduleRatingModifier5,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)

	Insert into IndicationModifiers(PolicyKey,ModifierKey,Percentage,LastUpdateUserID,LastUpdateTimeStamp,CreatedBy,CreatedDate) 
	Values(@PolicyKey,6,@SchduleRatingModifier6,@LastUpdateUserID,@LastUpdateTimeStamp,@LastUpdateUserID,@LastUpdateTimeStamp)
	END

	ELSE
	BEGIN
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier1  WHERE ModifierKey=1 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier2  WHERE ModifierKey=2 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier3  WHERE ModifierKey=3 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier4  WHERE ModifierKey=4 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier5  WHERE ModifierKey=5 and  PolicyKey=@PolicyKey 
		UPDATE IndicationModifiers Set Percentage=@SchduleRatingModifier6  WHERE ModifierKey=6 and  PolicyKey=@PolicyKey 
	END
END



GO
