USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateReferralCountHistory_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UpdateReferralCountHistory_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateReferralCountHistory_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UpdateReferralCountHistory_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[UpdateReferralCountHistory_p] 
(
	@PolicyKey INT,
	@UserNo INT
)
AS

BEGIN
		UPDATE RulePolicyTransaction SET RuleStatus='OLD' WHERE PolicyKey=@PolicyKey 
		--UPDATE PolicyTransaction SET StatusKey=9 WHERE PolicyKey=@PolicyKey 
		
		DECLARE @count INT
		SET @count=(SELECT count(*) FROM RulePolicyTransaction WHERE PolicyKey=@PolicyKey and  isArchived='NO')
		UPDATE FirmLW SET ReferralCountHistory=@count,LastUpdateTimeStamp=getdate(),LastUpdateUserID=@UserNo where PolicyKey=@PolicyKey
	
 END



GO
