USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsuredRenewaletailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertInsuredRenewaletailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInsuredRenewaletailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertInsuredRenewaletailsLW_p] AS' 
END
GO
--exec InsertInsuredRenewaletailsLW_p 129334, 41217, 129932, 129514, 'Law Office of Matthew H. Raty', '9699 S. Quindaro Rd.', null, 'UT', 'Salt Lake', 'Sandy', 'devjit.sahota@duckcreek.com','' , '84070-', null, 'Matthew Raty', '(801)495-2252', 'mraty119044@ratylaw.com', '', '', '', 'P0000087', null, null, 3, '2021-12-22 10:22:30.184', 'Agent', 1,1
ALTER PROCEDURE [dbo].[InsertInsuredRenewaletailsLW_p]
(
	@Policykey INT,
	@AccountID INT,
	@AccountKey INT,
	@AddresKey INT,
	@AccountName varchar(100),
	@Address1 VARCHAR(100),
	@Street VARCHAR(100),
	@StateCode VARCHAR(20),
	@CountyDesc VARCHAR(100),
	@City VARCHAR(100),
	@secondaryEmail varchar(100),
	@Address2 VARCHAR(100),
	@Zip VARCHAR(20),
	@isQuoteByEmail char,
	@ContactPerson varchar(100),
	@WorkPhone varchar(20),
	@AccountEmail varchar(100),
	@Website varchar(100),
	@secondayContactPerson varchar(500),
	@otherPhone varchar(100),
	@ProducerCode VARCHAR(50),
	@IsClaimExpensesType CHAR,
	@IsDollarDefense CHAR,
	@LastUpdateUserID INT,
	@LastUpdateTimeStamp VARCHAR(50),
	@UserType VARCHAR(10),
	@StatusKey INT,
	@CompanyKey INT,
	@CompanyAsPerState INT,
	@ElectronicInsuranceImplDate DATETIME
)
	AS
BEGIN
	
	if(@AccountName != '' AND @AccountName is not NULL)
	set @AccountName = REPLACE(@AccountName, '''', '''''');
	
	if(@Address1 != '' AND @Address1 is not NULL)
	set @Address1 = REPLACE(@Address1, '''', '''''');
	
	if(@Street != '' AND @Street is not NULL)
	set @Street = REPLACE(@Street, '''', '''''');
	
	if(@CountyDesc != '' AND @CountyDesc is not NULL)
	set @CountyDesc = REPLACE(@CountyDesc, '''', '''''');
	
	if(@City != '' AND @City is not NULL)
	set @City = REPLACE(@City, '''', '''''');
	
	if(@Address2 != '' AND @Address2 is not NULL)
	set @Address2 = REPLACE(@Address2, '''', '''''');
	
	if(@AccountEmail != '' AND @AccountEmail is not NULL)
	set @AccountEmail = REPLACE(@AccountEmail, '''', '''''');
	
	if(@secondaryEmail != '' AND @secondaryEmail is not NULL)
	set @secondaryEmail = REPLACE(@secondaryEmail, '''', '''''');
	
	if(@isQuoteByEmail != '' AND @isQuoteByEmail is not NULL)
	set @isQuoteByEmail = REPLACE(@isQuoteByEmail, '''', '''''');
	
	if(@ContactPerson != '' AND @ContactPerson is not NULL)
	set @ContactPerson = REPLACE(@ContactPerson, '''', '''''');
	
	if(@Website != '' AND @Website is not NULL)
	set @Website = REPLACE(@Website, '''', '''''');
	
	if(@Zip != '' AND @Zip is not NULL)
	set @Zip = REPLACE(@Zip, '''', '''''');
	
	if(@WorkPhone != '' AND @WorkPhone is not NULL)
	set @WorkPhone = REPLACE(@WorkPhone, '''', '''''');
	
	if(@secondayContactPerson != '' AND @secondayContactPerson is not NULL)
	set @secondayContactPerson = REPLACE(@secondayContactPerson, '''', '''''');
	
	if(@otherPhone != '' AND @otherPhone is not NULL)
	set @otherPhone = REPLACE(@otherPhone, '''', '''''');

	if(@CompanyKey is null or @CompanyKey='')
	set @CompanyKey=@CompanyAsPerState
	
	if(@ProducerCode='SPACE' or @ProducerCode is null)
	set @ProducerCode=''
	
	if(@Address1 is null)
	set @Address1 = ''
	
	if(@Street is null)
	set @Street = ''
	
	if(@Address2 is null)
	set @Address2 = ''
	
	if(@secondaryEmail is null)
	set @secondaryEmail = ''
	
	if(@Website is null)
	set @Website = ''
	
	if(@otherPhone is null)
	set @otherPhone = ''
	
	if(@ContactPerson is null)
	set @ContactPerson = ''
	
	if(@secondayContactPerson is null)
	set @secondayContactPerson = ''
	
	if(@isQuoteByEmail is null)
	set @isQuoteByEmail = ''
	

	Declare @PolicyStatusKey INT 
	Declare @CreatedDate DATETIME

	SELECT @CreatedDate=AppCreatedDate, @PolicyStatusKey=PolicyStatusKey FROM POLICY WHERE POLICYKEY=@Policykey
	
	Declare @POLICYSQL VARCHAR(4000);
	Declare @ACCOUNTSQL VARCHAR(4000);
	Declare @ADDRESSSQL VARCHAR(4000);
	Declare @FIRMLWSQL VARCHAR(4000);
	Declare @PolicyTransactionSQL VARCHAR(4000);

	SET @POLICYSQL = 'UPDATE POLICY SET ';
	SET @POLICYSQL = @POLICYSQL + 'isUncompletedData = ''N'', IsQuickQuote=''N'', IsFullQuote=''Y'', CompanyKey='+cast(@CompanyKey as varchar)+', ';
	IF(@UserType='insured')
	BEGIN
		SET @POLICYSQL = @POLICYSQL + 'InsuredUpdateTimeStamp = ''' + @LastUpdateTimeStamp + ''', ';
	END
	SET @POLICYSQL = @POLICYSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ', LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	print(@POLICYSQL);
	
	--UPDATE POLICY SET isUncompletedData='N',IsQuickQuote='N',IsFullQuote='Y',LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp 
	--WHERE POLICYKEY=@Policykey
	
	SET @ACCOUNTSQL = 'UPDATE ACCOUNT SET ';
	SET @ACCOUNTSQL = @ACCOUNTSQL + 'AccountName=''' + @AccountName + ''', AccountEmail=''' + @AccountEmail + ''', secondaryEmail=''' + @secondaryEmail + ''', Website=''' + @Website + ''', ';
	SET @ACCOUNTSQL = @ACCOUNTSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ',LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE AccountKey=' + CONVERT(varchar(10),@AccountKey);
	print(@ACCOUNTSQL);

	--UPDATE ACCOUNT SET AccountName=@AccountName,AccountEmail=@AccountEmail, secondaryEmail=@secondaryEmail,Website=@Website,
	--LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE AccountID=@AccountKey

	SET @ADDRESSSQL = 'UPDATE ADDRESS SET ';
	SET @ADDRESSSQL = @ADDRESSSQL + 'Zip=''' + SUBSTRING(@Zip,0,6) + ''', Zip4=''' + SUBSTRING(@Zip,7,10) + ''', StateCode=''' + @StateCode + ''', CountyDesc=''' + @CountyDesc + ''', ';
	SET @ADDRESSSQL = @ADDRESSSQL + 'City = ''' + @City + ''', WorkPhone = ''' + @WorkPhone + ''', otherPhone = ''' + @otherPhone + ''', Address2 = ''' + @Address2 + ''', ';
	IF(@PolicyStatusKey=1)
	BEGIN
		SET @ADDRESSSQL = @ADDRESSSQL + 'Address1=''' + @Street + ''', Street=''' + @Street + ''', ';
	END
	IF(@PolicyStatusKey=2)
	BEGIN
		SET @ADDRESSSQL = @ADDRESSSQL + 'Address1=''' + @Address1 + ''', Street=''' + @Address1 + ''', ';
	END
	SET @ADDRESSSQL = @ADDRESSSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ', LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + '''  WHERE AddressKey=' + CONVERT(varchar(10),@AddresKey);
	
	print(@ADDRESSSQL);
	
	--UPDATE ADDRESS SET Zip=SUBSTRING(@Zip,0,6),Zip4=SUBSTRING(@Zip,7,10),Address1=@Address1, Address2=@Address2,Street=@Street,StateCode=@StateCode, 
	--CountyDesc=@CountyDesc,City=@City, WorkPhone=@WorkPhone,otherPhone=@otherPhone,LastUpdateUserID=@LastUpdateUserID,
	--LastUpdateTimeStamp=@LastUpdateTimeStamp WHERE AddressKey=@AddresKey;
	
	SET @FIRMLWSQL = 'UPDATE FIRMLW SET ';
	SET @FIRMLWSQL = @FIRMLWSQL + 'isNewApp=''Y'', isFirmPage=''Y'', IsThankYouEmailSend=''Y'', ContactPerson = ''' + @ContactPerson + ''', ';
	SET @FIRMLWSQL = @FIRMLWSQL + 'secondayContactPerson = ''' + @secondayContactPerson + ''', isQuoteByEmail = ''' + @isQuoteByEmail + ''', ';
	IF(@StatusKey = 1 and @LastUpdateUserID <> 1)
	BEGIN
		SET @FIRMLWSQL = @FIRMLWSQL + 'FirstReviewUserID = ' + CONVERT(varchar(10),@LastUpdateUserID) + ', ';
	END
	SET @FIRMLWSQL = @FIRMLWSQL + 'LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + ',LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''' WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	print(@FIRMLWSQL);
	
	--UPDATE FIRMLW SET ContactPerson=@ContactPerson,secondayContactPerson=@secondayContactPerson, isQuoteByEmail=@isQuoteByEmail,isFirmPage='Y',
	--LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp,isNewApp='Y',IsThankYouEmailSend='Y' WHERE POLICYKEY=@Policykey 
	
	SET @PolicyTransactionSQL = 'UPDATE PolicyTransaction set ';
	IF(@StatusKey = 1 and @LastUpdateUserID <> 1)
	BEGIN
		SET @PolicyTransactionSQL = @PolicyTransactionSQL + 'StatusKey=2,';
	END	
	SET @PolicyTransactionSQL = @PolicyTransactionSQL +' ProducerCode=''' + @ProducerCode + ''', ';
	SET @PolicyTransactionSQL = @PolicyTransactionSQL + 'LastUpdateTimeStamp=''' + @LastUpdateTimeStamp + ''', LastUpdateUserID=' + CONVERT(varchar(10),@LastUpdateUserID) + '  WHERE POLICYKEY=' + CONVERT(varchar(10),@Policykey);
	print(@PolicyTransactionSQL);
	
	
	
	EXECUTE(@POLICYSQL);
	EXECUTE(@ACCOUNTSQL);
	EXECUTE(@ADDRESSSQL);
	EXECUTE(@FIRMLWSQL);
	EXECUTE(@PolicyTransactionSQL);

	IF(@IsClaimExpensesType IS NOT NULL OR @IsClaimExpensesType<>'')
	BEGIN
		Update PolicyCoverage set isClaimExpensesType=@IsClaimExpensesType,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where  TransactionSequence=(select min(transactionsequence) from PolicyCoverage where policykey=@PolicyKey)
	END
	IF(@IsDollarDefense IS NOT NULL OR @IsDollarDefense<>'')
	BEGIN
		Update PolicyCoverage set IsDollarDefense=@IsDollarDefense,LastUpdateUserID=@LastUpdateUserID,LastUpdateTimeStamp=@LastUpdateTimeStamp where  TransactionSequence=(select min(transactionsequence) from PolicyCoverage where policykey=@PolicyKey)
	END

	if(@CreatedDate >= @ElectronicInsuranceImplDate)
	BEGIN
		-----Electronic Tab
		DECLARE @IsElectronicDeliveryRejection char
		DECLARE @IsElectronicAndPaperDelivery char
		DECLARE @SpecialIssuanceComments VARCHAR(500)
		
		select @SpecialIssuanceComments = SpecialIssuanceComments from FirmLW where PolicyKey=@Policykey
		select @IsElectronicDeliveryRejection = IsElectronicDeliveryRejection, @IsElectronicAndPaperDelivery = IsElectronicAndPaperDelivery from ElectronicInsurance where PolicyKey=@Policykey

		if(@StateCode != 'KS')
		BEGIN
			--update Firmlw SET IsSpecialIssuance=null, SpecialIssuanceComments = null where Policykey=@PolicyKey
			DELETE FROM ElectronicInsurance WHERE policykey=@PolicyKey
		END
		ELSE
		if(@StateCode = 'KS')
		BEGIN
			if(@IsElectronicAndPaperDelivery = 'Y' OR @isElectronicDeliveryRejection = 'Y')
			BEGIN
				IF(@IsElectronicAndPaperDelivery = 'Y' AND (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '' or @SpecialIssuanceComments NOT LIKE '%Insured has opted to receiving electronic delivery and mailings for documents%'))
				BEGIN
					--print 's3'
					update Firmlw SET IsSpecialIssuance='Y', SpecialIssuanceComments = Case when (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '') then '' ELSE @SpecialIssuanceComments + ' ' end + 'Insured has opted to receiving electronic delivery and mailings for documents. They must be mailed hard copies of all documentation.' where Policykey=@PolicyKey
				END
				ELSE IF(@isElectronicDeliveryRejection = 'Y' AND (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '' or @SpecialIssuanceComments NOT LIKE '%Insured has opted out of receiving electronic delivery for documents%'))
				BEGIN
					--print 's4'
					update Firmlw SET IsSpecialIssuance='Y', SpecialIssuanceComments = Case when (@SpecialIssuanceComments is null or @SpecialIssuanceComments = '') then '' ELSE @SpecialIssuanceComments + ' ' end + 'Insured has opted out of receiving electronic delivery for documents and must be mailed hard copies of all documentation.' where Policykey=@PolicyKey
				END
			END
		END
	END
END


GO
