USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyDetailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BrokeragePolicyDetailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyDetailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[BrokeragePolicyDetailsLW_p] AS' 
END
GO
--exec BrokeragePolicyDetailsLW_p 848, 22, '2021-11-03', 'HK & Company, An Accountancy', '675 Mariners Island Blvd', 'CA', 'San Mateo', '94404', '(650)525-1988', 'kevinh@hkcpafirm.com', 5, null, null, null, null, null, null, 3, 15.00, null, 1, 485.0, 0.0, 3, '2021-12-03 15:46:02.627', null, '2022-11-03', 30596, null, null, null, 1, 0.0, 485.0, 3, 'Suite 108', 'N', 127865, 'N', null, 1, 4, 'N', 'N', null
--exec BrokeragePolicyDetailsLW_p null, '53', '2024-07-11','Keenan, Ciccitto & Associates, LLP', 'Address1', 'PA', 'City','17450-0001', '(610)489-6170', 'rkeenan@keenanlaw.com', 8, N, null, null, null, null, null, 2, 17.50, null, 6, 1060.0, 5.0, 3, '2024-07-11 17:08:51.548', 'ALS NHJK 00102', '2025-07-11', null, null, null, null, 1, 25.0, 1090.0, 1, 'Address2', null, null, 'N', null, 11, 8, 'N', 'N', 'Y'
ALTER PROCEDURE [dbo].[BrokeragePolicyDetailsLW_p]
	(
	@BrokeragePolicyKey INT,
	@CarrierKey VARCHAR(100),
	@BrokerPolicyEffectiveDate DATETIME,
	@AccountName VARCHAR(100),
	@Address VARCHAR(500),
	@State VARCHAR(20),
	@City VARCHAR(100),
	@Zip VARCHAR(50),
	@Phone VARCHAR(100),
	@Email VARCHAR(500),
	@LOBKey INT,
	@haveProfessionalLiabilityInsurance CHAR,
	@PLEffectiveDate DATETIME,
	@PLExpirationDate DATETIME,
	@PLPolicyNumber VARCHAR(100),
	@ContractComments varchar(500),
	@ExpiringCarrier varchar(100),
	@BrokerKey VARCHAR(100),
	@Commission Numeric(10,2),
	@ExpiringPolicyNumber VARCHAR(100),
	@StatusKey INT,
	@Premium Numeric(17,2),
	@PremiumTaxes Numeric(17,2),
	@LastUpdateUserID VARCHAR(20),
	@LastUpdateTimeStamp VARCHAR(500),
	@BrokeredPolicyNumber  VARCHAR(100),
	@BrokerPolicyExpirationDate DATETIME,
	@AccountIDTemp INT,
	@ExpiringPremium Numeric(17,2),
	@ExpiringPolicyEffectiveDate DATETIME,
	@ExpiringPolicyExpirationDate DATETIME,
	@TransactionTypeKey INT,
	@Fees Numeric(17,2),
	@TotalCalculatedPremium Numeric(17,2),
	@BrokeragePaymentType INT,
	@Address2 VArchar(500),
	@RenewAsBrokerage CHAR,
	@PolicyKey INT,
	@isConvertedPolicy CHAR,
	@ProducerCode VARCHAR(100),
	@LimitSequence INT,
	@DeductibleSequence INT,
	@IsClaimExpensesType CHAR,
	@IsClaimOptionType CHAR,
	@IsDollarDefense CHAR
	
	)
AS
BEGIN
SET QUOTED_IDENTIFIER OFF
--Select @AccountName as AccountName 
SET QUOTED_IDENTIFIER OFF
	DECLARE @AccountID INT,@FirstReviewUserID VARCHAR(100),@PLPolicyKey INT,@isPLRenewalPolicy char,@isRenewed CHAR,@PolicyIssuedDate DateTime,@BrokeragePolicyKey_Inserted INT,@AccountKey_Inserted INT
	DECLARE @IssuedDate DATETIME,@isNewAccountID CHAR
	if(@StatusKey=6)
	begin
		Print '1'
	 set @PolicyIssuedDate=(select getdate())
	end
	if(@TotalCalculatedPremium is null )
	BEGIN
		Print '2'
		if(@Premium is null)
			BEGIN
				set @Premium=0.0
			end
		if(@PremiumTaxes is null )
			begin
				set @PremiumTaxes=0.0
			end
		if(@Fees is null )
			begin
				set @Fees=0.0
			end
	set @TotalCalculatedPremium=@Premium+@PremiumTaxes+@Fees
	END
	IF(@AccountIDTemp is null)
	BEGIN
				Print '3'
			IF(@PLPolicyNumber is not null and @PLPolicyNumber<>'')
			BEGIN
				Print '4'
				SET @AccountID=(Select AccountID from Policy Where PolicyNumber=@PLPolicyNumber)
			END
			ELSE IF (@Email is NOT NULL OR @Email<>'')
				BEGIN
					Print '5'
					SET @AccountID=(Select Distinct AccountID from Account where AccountEmail=@Email)
				END
			ELSE 
				BEGIN
					
						if(@AccountName  is not null and @AccountName<>'')
							BEGIN
								Print '6'
								IF(@Phone is not null and @Phone<>'')
									BEGIN
										SET @AccountID=(SELECT distinct p.AccountID FROM Policy p 	inner Join PolicyTransaction pt on p.Policykey=pt.PolicyKey
														inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
														inner join Address addr on addr.AddressKey=aa.AddressKey
														WHERE addr.WorkPhone=@Phone)
									END
									ELSE
										BEGIN
										Print '7'
											SET @AccountID=(SELECT distinct p.AccountID FROM Policy p 	inner Join PolicyTransaction pt on p.Policykey=pt.PolicyKey
														inner join AccountAddress aa on aa.AccountKey=pt.AccountKey
														inner join Address addr on addr.AddressKey=aa.AddressKey
														WHERE addr.StateCode=@State)
										END
							END

				END
			if(@AccountID is not null)
			begin
				Print '8'
						SET @isNewAccountID='N'
				end
			ELSE
				Begin
					SET @isNewAccountID='Y'
				END
		END
		ELSE
			BEGIN
			Print '9'
				SET @AccountID=@AccountIDTemp
				SET @isNewAccountID='N'
			END
	

	if not exists (Select BrokeragePolicyKey from BrokerageLW where BrokeragePolicyKey=@BrokeragePolicyKey)
    Begin
		Print '10'
			IF(@BrokeredPolicyNumber is not null and @StatusKey<>8)
			BEGIN	
				SET @StatusKey=6
		
			END

			IF(@StatusKey=6)
				BEGIN
					Print '11'
					set @IssuedDate=(select getdate())
				END
			else
				begin
					Print '12'
					set @IssuedDate=null
				end
				--Print @AccountID
				--Print @isNewAccountID
					INSERT INTO Account (LastUpdateUserID,LastUpdateTimeStamp,AccountName,Website,AccountEmail,AccountVersion,LoginID,secondaryEmail,RecordType,CreatedDate,CreatedBy)
								Select @LastUpdateUserID,@LastUpdateTimeStamp,@AccountName,null,@Email,1,null,null,'I',@LastUpdateTimeStamp,@LastUpdateUserID

						select @AccountKey_Inserted=IDENT_CURRENT('Account')
					
					if (@isNewAccountID='N')
						Begin
							update Account set AccountID=@AccountID where AccountKey=@AccountKey_Inserted
							--SET @AccountID=@AccountKey_Inserted
						End
					Else
						Begin
							update Account set AccountID=@AccountKey_Inserted where AccountKey=@AccountKey_Inserted
							SET @AccountID=@AccountKey_Inserted
						End

				INSERT INTO [dbo].BrokerageLW (AccountID,CreatedDate,CreatedBy,LastUpdateUserID,LastUpdateTimeStamp,CarrierKey,BrokeredPolicyNumber,BrokerPolicyEffectiveDate,BrokerPolicyExpirationDate,AccountName,
				Address,Address2,State,City,Zip,Phone,Email,LOBKey,haveProfessionalLiabilityInsurance,PLEffectiveDate,PLExpirationDate,PLPolicyNumber,ContractComments,ExpiringCarrier,BrokerKey,ExpiringPolicyNumber,
				Commission,StatusKey,Premium,PremiumTax,ExpiringPremium,ExpiringPolicyEffectiveDate,ExpiringPolicyExpirationDate,TransactionTypeKey,Fees,TotalCalculatedPremium,BrokeragePaymentTypeKey,FirstReviewUserID,isPLRenewalPolicy,PLPolicyKey,isConvertedPolicy,ProducerCode,IssuedDate,AccountKey)
										VALUES (@AccountID, @LastUpdateTimeStamp,@LastUpdateUserID, @LastUpdateUserID,@LastUpdateTimeStamp, @CarrierKey,@BrokeredPolicyNumber,@BrokerPolicyEffectiveDate,@BrokerPolicyExpirationDate, @AccountName,
				@Address,@Address2,@State,@City,@Zip,@Phone,@Email,@LOBKey,@haveProfessionalLiabilityInsurance,@PLEffectiveDate,@PLExpirationDate,@PLPolicyNumber,@ContractComments,@ExpiringCarrier,@BrokerKey,@ExpiringPolicyNumber,
				@Commission,@StatusKey,@Premium,@PremiumTaxes,@ExpiringPremium,@ExpiringPolicyEffectiveDate,@ExpiringPolicyExpirationDate,@TransactionTypeKey,@Fees,@TotalCalculatedPremium,@BrokeragePaymentType,@LastUpdateUserID,@RenewAsBrokerage,@PolicyKey,@isConvertedPolicy,@ProducerCode,@IssuedDate,@AccountKey_Inserted)
		
				select @BrokeragePolicyKey_Inserted=IDENT_CURRENT('BrokerageLW')
				Insert into BrokeragePolicyCoverage(BrokeragePolicyKey,LimitSequence,DeductibleSequence,IsClaimExpensesType,IsClaimOptionType,IsDollarDefense,LastUpdateTimeStamp,LastUpdateUserID)
				Values(@BrokeragePolicyKey_Inserted,@LimitSequence,@DeductibleSequence,@IsClaimExpensesType,@IsClaimOptionType,@IsDollarDefense,@LastUpdateTimeStamp,@LastUpdateUserID)

				if(@PolicyKey is not null and @RenewAsBrokerage='Y')
				begin
					Print '13'
					set @isRenewed=(select distinct isRenewed from Firmlw where Policykey=@PolicyKey)

					if(@isRenewed is null)
					begin
						update firmlw set isRenewed='Y' where Policykey=@PolicyKey
					end
			end
	END  
   
Else
	BEGIN
		Print '14'
	if(@LastUpdateTimeStamp is  null)
	set @LastUpdateTimeStamp=getdate()
	IF(@BrokeredPolicyNumber is not null and @StatusKey<>8)
		SET @StatusKey=6
	select @FirstReviewUserID=FirstReviewUserID,@PLPolicyKey=PLPolicyKey,@IssuedDate=IssuedDate from BrokerageLW where BrokeragePolicyKey=@BrokeragePolicyKey
	Declare @POLICYSQLUPDATE VARCHAR(4000)='UPDATE BrokerageLW SET'
	--select @AccountName as AccountName

	if(@AccountName !='' and @AccountName is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+' AccountName='''+@AccountName+''''
	if(@LastUpdateTimeStamp !='' and @LastUpdateTimeStamp is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',LastUpdateTimeStamp='''+@LastUpdateTimeStamp+''''
	if(@LastUpdateUserID !='' and @LastUpdateUserID is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',LastUpdateUserID='''+@LastUpdateUserID+''''
	if(@CarrierKey !='' and @CarrierKey is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',CarrierKey='''+@CarrierKey+''''
	else
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',CarrierKey=NULL'
	if(@State !='' and @State is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',State='''+@State+''''
	if(@City !='' and @City is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',City='''+@City+''''
	if(@Email !='' and @Email is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Email='''+@Email+''''
	if(@Zip !='' and @Zip is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Zip='''+@Zip+''''
	if(@Phone !='' and @Phone is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Phone='''+@Phone+''''
	if(@LOBKey !='' and @LOBKey is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',LOBKey='+CAST(@LOBKey AS varchar)+''
	if(@haveProfessionalLiabilityInsurance !='' and @haveProfessionalLiabilityInsurance is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',haveProfessionalLiabilityInsurance='''+@haveProfessionalLiabilityInsurance+''''
		print @POLICYSQLUPDATE
	if( @BrokeredPolicyNumber is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokeredPolicyNumber='''+@BrokeredPolicyNumber+''''
		else
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokeredPolicyNumber=NULL'
	if(@BrokerPolicyEffectiveDate !='' and @BrokerPolicyEffectiveDate is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokerPolicyEffectiveDate='''+cast(@BrokerPolicyEffectiveDate as varchar)+''''
	if(@BrokerPolicyExpirationDate !='' and @BrokerPolicyExpirationDate is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokerPolicyExpirationDate='''+cast(@BrokerPolicyExpirationDate as varchar)+''''
	if(@PLEffectiveDate !='' and @PLEffectiveDate is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',PLEffectiveDate='''+cast(@PLEffectiveDate as varchar)+''''
	if(@PLExpirationDate !='' and @PLExpirationDate is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',PLExpirationDate='''+cast(@PLExpirationDate as varchar)+''''
	if(@PLPolicyNumber !='' and @PLPolicyNumber is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',PLPolicyNumber='''+@PLPolicyNumber+''''
	if(@ContractComments !='' and @ContractComments is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ContractComments='''+@ContractComments+''''
	if(@ExpiringCarrier !='' and @ExpiringCarrier is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ExpiringCarrier='''+@ExpiringCarrier+''''
	if(@ExpiringPolicyEffectiveDate !='' and @ExpiringPolicyEffectiveDate is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ExpiringPolicyEffectiveDate='''+cast(@ExpiringPolicyEffectiveDate as varchar)+''''
	if(@ExpiringPolicyExpirationDate !='' and @ExpiringPolicyExpirationDate is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ExpiringPolicyExpirationDate='''+cast(@ExpiringPolicyExpirationDate as varchar)+''''
	if(@ExpiringPolicyNumber !='' and @ExpiringPolicyNumber is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ExpiringPolicyNumber='''+@ExpiringPolicyNumber+''''
	if(@Address !='' and @Address is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Address='''+@Address+''''
	if(@Address2 !='' and @Address2 is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Address2='''+@Address2+''''
	if(@ProducerCode !='' and @ProducerCode is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ProducerCode='''+@ProducerCode+''''
	if(@BrokerKey !='' and @BrokerKey is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokerKey='+CAST(@BrokerKey AS varchar)+''
	Else
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokerKey=NULL'
	if( @Commission is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Commission='+cast(@Commission as varchar)+''
	--if(@StatusKey is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',StatusKey='+cast(@StatusKey as varchar)+''
	if (@Premium is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Premium='+cast(@Premium as varchar)+''
	if( @PremiumTaxes is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',PremiumTax='+cast(@PremiumTaxes as varchar)+''
	if(@ExpiringPremium is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',ExpiringPremium='+cast(@ExpiringPremium as varchar)+''
	if( @Fees is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',Fees='+cast(@Fees as varchar)+''
	if( @TransactionTypeKey is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',TransactionTypeKey='+cast(@TransactionTypeKey as varchar)+''
	if( @TotalCalculatedPremium is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',TotalCalculatedPremium='+cast(@TotalCalculatedPremium as varchar)+''
	if(@BrokeragePaymentType is not null)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',BrokeragePaymentTypeKey='+cast(@BrokeragePaymentType as varchar)+''
	if (@FirstReviewUserID is null)
			set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',FirstReviewUserID='''+@LastUpdateUserID+''''
	if(@IssuedDate is null and  @StatusKey=6)
		set @POLICYSQLUPDATE=@POLICYSQLUPDATE+',IssuedDate=getdate()'	
		print @POLICYSQLUPDATE
	set @POLICYSQLUPDATE=@POLICYSQLUPDATE+' where BrokeragePolicyKey='+cast(@BrokeragePolicyKey as varchar)+''	
	
	print @POLICYSQLUPDATE
	EXECUTE(@POLICYSQLUPDATE);

	Declare @BRCoverageSql VARCHAR(4000)='UPDATE BrokeragePolicyCoverage SET LastUpdateTimeStamp='''+@LastUpdateTimeStamp+''''
	--print @BRCoverageSql
	if(@LimitSequence is not null)
		set @BRCoverageSql=@BRCoverageSql+', LimitSequence='+cast(@LimitSequence as varchar)+''
	if(@DeductibleSequence is not null)
		set @BRCoverageSql=@BRCoverageSql+', DeductibleSequence='+cast(@DeductibleSequence as varchar)+''
	if(@IsClaimExpensesType !='' and @IsClaimExpensesType is not null)
		set @BRCoverageSql=@BRCoverageSql+', IsClaimExpensesType='''+@IsClaimExpensesType+''''
	if(@IsClaimOptionType !='' and @IsClaimOptionType is not null)
		set @BRCoverageSql=@BRCoverageSql+', IsClaimOptionType='''+@IsClaimOptionType+''''
	print @BRCoverageSql
	if(@IsDollarDefense !='' and @IsDollarDefense is not null)
	set @BRCoverageSql=@BRCoverageSql+', IsDollarDefense='''+@IsDollarDefense+''''
	else
	set @BRCoverageSql=@BRCoverageSql+', IsDollarDefense=NULL'
	set @BRCoverageSql=@BRCoverageSql+' where BrokeragePolicyKey='+cast(@BrokeragePolicyKey as varchar)+''	
	--print @BRCoverageSql
	EXECUTE(@BRCoverageSql);
	END
END















GO
