USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchClaimSummaryDetailsLW_p]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[FetchClaimSummaryDetailsLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FetchClaimSummaryDetailsLW_p]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[FetchClaimSummaryDetailsLW_p] AS' 
END
GO

ALTER PROCEDURE [dbo].[FetchClaimSummaryDetailsLW_p]
(
@ProfLiabClaimAgnstFirmKey INT
)
AS
BEGIN
	
	select ProfLiabClaimAgnstFirmKey,VersionSequence,PolicyKey,NameOfClaimant,ClaimNotifiedDate,DateOfAllegedError,NameOfPersonnelINClaim,DescOfClaim,
IsClaimReportedToInsComp, CASE when  NameOfClaimant like('%(C & F)%') THen 'Crum & Foster' else NameOfInsComp END as NameOfInsComp,DateReportedToInsComp,dbo.getAmountFormat(InsurerLoss) as InsurerLoss,ClaimClosingDate,dbo.getAmountFormat(TotalAmountPaid) as TotalAmountPaid,
StepsTakenToPreventClaims,dbo.getAmountFormat(ClaimantLastDemand) as ClaimantLastDemand,IsClient,CurrentStatus,IsClaimInSuit,ClaimNumber,InsurerLossReserveCi,ExpensePaid,TotalIncurred,
Signal,ExpenseReserve from ProfLiabClaimAgnstFirmLW where ProfLiabClaimAgnstFirmKey =@ProfLiabClaimAgnstFirmKey

END


GO
