USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getPoneBatchReports_p_java]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[getPoneBatchReports_p_java]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getPoneBatchReports_p_java]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[getPoneBatchReports_p_java] AS' 
END
GO


-- exec [getPoneBatchReports_p_java] 'FetchAllAccountantData_new', 25, 1, 'Y'

ALTER procedure [dbo].[getPoneBatchReports_p_java]
	@reportId varchar(100),
	@page_size int = null,
	@page_number int =null,
	@flag_for_pagination varchar(3)=null
-- with encryption
as
begin

Declare @report_output varchar(max) 
DECLARE @total_page int
DECLARE @modulo int



create table #TEMP_REPORT_ALL(
batchreport_id int,
module_name varchar(2000),
search_xml varchar(8000),
request_date datetime,
search_xml_desc varchar(3000),
archive_date datetime,
isdownloadlink varchar(30),
report_file_name varchar(200),
user_id varchar(300),
last_updated_by varchar(300),
isarchived varchar(30),
pagination_xml varchar(8000),
output_type char(1),
search_name VARCHAR(300)

)

CREATE TABLE #TEMP_REPORT
	(
		batchreport_id int,
	module_name varchar(2000),
	search_xml varchar(8000),
	request_date datetime,
	search_xml_desc varchar(3000),
	archive_date datetime,
	isdownloadlink varchar(30),
	report_file_name varchar(200),
	user_id varchar(300),
	last_updated_by varchar(300),
	isarchived varchar(30),
	pagination_xml varchar(8000),
	output_type char(1),
	search_name VARCHAR(300)
	)
	

Insert into #TEMP_REPORT_ALL
	(
	batchreport_id ,module_name ,search_xml ,request_date ,search_xml_desc ,archive_date ,isdownloadlink ,
	report_file_name ,user_id ,last_updated_by ,isarchived,output_type,search_name
	)
	select pbr.batchreport_id, pbr.module_name, pbr.search_xml, pbr.request_date, pbr.search_xml_desc,
		(case when pbr.archive_date is not null  then pbr.archive_date else '' end) as archive_date,		
		 (case when isnull(isarchived,'')='Y' then 'Y' else 'N' end) as isdownloadlink,
		pbr.report_file_name,
		--(select AgentName from userdetails where [userNo]=pbr.last_updated_by) as user_id, 
		pbr.last_updated_by as user_id,
		(select AgentName from userdetails where [userNo]=pbr.last_updated_by) last_updated_by, 
		--pbr.last_updated_by as last_updated_by,
		isarchived,output_type,search_name from pone_batch_reports pbr where report_name=@reportId 
		
		
-------------------------- PAGINATION XML----------------------

		if (@flag_for_pagination='Y')
	begin

	
	set @page_number= isnull(@page_number,1)
	set @page_size=isnull(@page_size,10)

	set @modulo=(select count(*) from #TEMP_REPORT_ALL) % @page_size
	if(@modulo=0)
	begin
		set @total_page=(select count(*) from #TEMP_REPORT_ALL) / @page_size
	end
	else set @total_page=((select count(*) from #TEMP_REPORT_ALL) / @page_size)+1

	if(@total_page<@page_number)
	begin 
	set @page_number=1
	end


		set @report_output = '<PAGE_DETAIL>'

		set @report_output   = @report_output + isnull((select top 1  @page_number as PAGE_NUMBER,
			@page_size as PAGE_SIZE,
			isnull ((select count(*) from #TEMP_REPORT_ALL),0) as TOTAL_RECORD,
			isnull(((@page_number -1) * @page_size)+1,1) AS START_INDEX,
			case when isnull(((@page_number) * @page_size),1)> isnull ((select count(*) from #TEMP_REPORT_ALL),0)
			then isnull ((select count(*) from #TEMP_REPORT_ALL),0) else isnull(((@page_number) * @page_size),1)
			end AS END_INDEX,
			isnull (@total_page,0 )as TOTAL_PAGE			
		for XML PATH('')),'')
	
	
	set @report_output = @report_output +  '</PAGE_DETAIL>'
	update #TEMP_REPORT_ALL set pagination_xml= (select @report_output as 'xml')

	--select @report_output as 'xml';
	end

	

/*-------------- If pagination is true --------------------*/

if (@flag_for_pagination='Y')
	begin


	 insert into #TEMP_REPORT
	(	
		batchreport_id ,module_name ,search_xml ,request_date ,search_xml_desc ,archive_date ,
		isdownloadlink ,report_file_name ,user_id ,last_updated_by ,isarchived,pagination_xml,output_type,search_name 	
	)
	 select
		ISNULL(a.batchreport_id,'') as batchreport_id,
		ISNULL(a.module_name,'') as module_name,
		ISNULL(a.search_xml ,'') as search_xml,
		ISNULL(a.request_date ,'')as request_date,		
		ISNULL(a.search_xml_desc,'') as search_xml_desc,	
		ISNULL(a.archive_date,'') as archive_date,
		ISNULL(a.isdownloadlink,'') as isdownloadlink,
		ISNULL(a.report_file_name ,'') as report_file_name,
		ISNULL(a.user_id,'') as user_id,
		ISNULL(a.last_updated_by,'') as last_updated_by,
		ISNULL(a.isarchived,'') as isarchived,
		ISNULL(a.pagination_xml,'') as pagination_xml,
		output_type  ,
		search_name
		
	from #TEMP_REPORT_ALL a 	
	order by batchreport_id desc
	OFFSET (isnull(@page_number,1) -1) * isnull(@page_size,10) ROWS
	FETCH NEXT isnull(@page_size,10) ROWS ONLY
	end
	else
	 insert into #TEMP_REPORT
	(	
		batchreport_id ,module_name ,search_xml ,request_date ,search_xml_desc ,archive_date ,
		isdownloadlink ,report_file_name ,user_id ,last_updated_by ,isarchived,pagination_xml,output_type,search_name 	
	)
	 select
		ISNULL(a.batchreport_id,'') as batchreport_id,
		ISNULL(a.module_name,'') as module_name,
		ISNULL(a.search_xml ,'') as search_xml,
		ISNULL(a.request_date ,'')as request_date,		
		ISNULL(a.search_xml_desc,'') as search_xml_desc,	
		ISNULL(a.archive_date,'') as archive_date,
		ISNULL(a.isdownloadlink,'') as isdownloadlink,
		ISNULL(a.report_file_name ,'') as report_file_name,
		ISNULL(a.user_id,'') as user_id,
		ISNULL(a.last_updated_by,'') as last_updated_by,
		ISNULL(a.isarchived,'') as isarchived,
		ISNULL(a.pagination_xml,'') as pagination_xml,
		output_type ,
		search_name 
		
	from #TEMP_REPORT_ALL a 	
	order by batchreport_id desc


	select * from  #TEMP_REPORT order by batchreport_id desc
	

end 



GO
