USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicy_New]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RenewPolicy_New]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewPolicy_New]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RenewPolicy_New] AS' 
END
GO

--exec RenewPolicy_New 140795, 142609, 140987, 32088, 3, '2019-01-14', null

ALTER procedure [dbo].[RenewPolicy_New] 
@PolicyKey int,
@AccountKey int,
@AddressKey int,
@VersionSequence int,
@UserNo int,
@NewAppImplementationDate DateTime,
@RenewalSource varchar(50)

as begin

declare @PolicyKey_Inserted int
declare @AccountKey_Inserted int
declare @AddressKey_Inserted int
declare @VersionSequence_Inserted int
declare @TransactionSequence_Inserted int
declare @CoverageSequence_Inserted int
declare @AgentName varchar(100)
declare @PolicyEffectiveDate datetime
declare @TransactionEffectiveDate datetime
declare @PolicyExpirationDate datetime
declare @TransactionExpirationDate datetime
declare @maxAccountID int
declare @QuoteNumber varchar(100)
declare @AppCreatedDate datetime
declare @IsFirmCarryingProfLiabilityIns char(20)

declare @CompanyKey int
declare @AggregateLimit int
declare @OccuranceLimit int
declare @AggregateDeductible int
declare @LimitSequencePross int
declare @DeductibleSequencePross int

declare @IsClaimExpensesType char(1)
declare @IsClaimOptionType char(1)
declare @ModifierComment varchar(5000)
declare @ModifierKey int
declare @ModifierPercentage int
declare @RenewalModifierPercentage int
declare @IsRenewed char
declare @AccountID int
declare @Status int
declare @NumberOfPersonnel int
declare @PolicyCreatedDate DATETIME,@EffectiveDate datetime,@MonthCount INT,@PresentDate DATETIME

if(@UserNo is null or @UserNo='')
set @UserNo=0;
--select top(1) IsRenewed, IsNewApp from Firm
SET @Status=(select top 1 Statuskey from PolicyTransaction where PolicyKey = @PolicyKey)
select @IsRenewed=IsRenewed from Firm where PolicyKey = @PolicyKey
SET @EffectiveDate=(Select PolicyEffectiveDate from Policy Where Policykey=@Policykey)
Select @PresentDate=GETDATE(),@MonthCount= DATEDIFF(month, @EffectiveDate, getdate())
if( @Status=6 AND isnull(@IsRenewed,'') != 'Y'-- and @MonthCount>6
)
begin 
	
begin try
print 'Not Renewed'
		update Firm set IsRenewed='Y',isNewApp='Y' where PolicyKey=@PolicyKey
set @AppCreatedDate = convert(varchar, GETDATE(), 101)

select @AgentName=AgentName from UserDetails where UserNo=@UserNo
SET @PolicyCreatedDate=(select AppCreatedDate from Policy where PolicyKey=@PolicyKey)
select @IsFirmCarryingProfLiabilityIns= ISNULL(IsFirmCarryingProfLiabilityIns,'N') from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence 
if(@IsFirmCarryingProfLiabilityIns = 'N')
	begin
		set @IsFirmCarryingProfLiabilityIns = 'Y'
	end
	

select @PolicyEffectiveDate= PolicyExpirationDate,@TransactionEffectiveDate=PolicyExpirationDate,
@PolicyExpirationDate= DATEADD(M,12,PolicyExpirationDate),@TransactionExpirationDate= DATEADD(M,12,TransactionExpirationDate)
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)

select @maxAccountID = AccountID  from Account where AccountKey= @AccountKey

insert into Account (AccountID,AccountName,Website,AccountEmail,AccountVersion)
select @maxAccountID,AccountName,Website,AccountEmail,AccountVersion from Account where AccountKey= @AccountKey

select @AccountKey_Inserted=IDENT_CURRENT('Account')

insert into Address(Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc)
select Address1,Address2,City,StateCode,AddressTypeKey,Zip,Zip4,HomePhone,WorkPhone,WorkExt,MobilePhone,CountyDesc,CountryDesc from Address where AddressKey= @AddressKey

select @AddressKey_Inserted=IDENT_CURRENT('Address')

insert into AccountAddress (AccountKey,AddressKey) values(@AccountKey_Inserted,@AddressKey_Inserted)

insert into Policy(PolicyEffectiveDate,AccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,PolicyStatusKey,InsuredUpdateTimeStamp,AppCreatedDate,RenewOfPolicyNumber,CompanyKey)
select @PolicyEffectiveDate,@maxAccountID,isUncompletedData,IsFullQuote,IsQuickQuote,MarketableProductKey,
ReasonStatusComment,ReasonStatusTypeKey,2,InsuredUpdateTimeStamp,@AppCreatedDate,PolicyNumber,CompanyKey from Policy 
where PolicyKey= @PolicyKey

select @PolicyKey_Inserted=IDENT_CURRENT('Policy')
set @QuoteNumber = dbo.generateQuoteNumber(@PolicyKey_Inserted)

Declare @StateCode VARCHAR(50),@CompanyKey_temp INT
set @StateCode=(select stateCode from Address where AddressKey=@AddressKey_Inserted)
SET @CompanyKey_temp=(select top 1 CompanyKey  from StateCompany where StateCode=@StateCode and MarketableProductKey= 1 and effectivedate <= @PolicyEffectiveDate and ExpirationDate >= @PolicyEffectiveDate
order by EffectiveDate desc)

DECLARE @VersionKey_Inserted INT
INSERT into Version(PolicyKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp,RecordType)Select @PolicyKey,@UserNo,getdate(),@UserNo,getdate(),'I' 
select @VersionKey_Inserted=IDENT_CURRENT('Version')


update Policy set PolicyStatusKey=2,AppCreatedDate=GETDATE(), QuoteNumber=@QuoteNumber,VersionKey=@VersionKey_Inserted,CompanyKey=@CompanyKey_temp where PolicyKey=@PolicyKey_Inserted
update PolicyTransaction set ProducerCode=null where Policykey=@PolicyKey_Inserted and ProducerCode in('P0000007','P0000040','P0000041','P0000042','P0000031','P0000073','P0000001','P0000004','P0000087')
insert into Firm(PolicyKey,ContactPerson,ContactPhone,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,
IsReducedNumberOfOwners,IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,
RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,
ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,
IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,
IsManagementServiceProvided,IsNonPublicInvestmentDone,IsNonMonetaryCompensationRecieved,CurrentValueNmc,
ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,AgainstHowManyClients,
IsSignedEngagement,Email,OtherLargestClientIndustry,
OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,IsFirmAttendedRiskMagtSeminarIn3Years,
RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,
IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,IsSupplementPage,IsClientTerminated,
IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,IsAttesationPage,IsComputerServicePage,IsBusinessFundPage,
IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,
LicenseNumber,Comment,IsLicenseNumberUpdated,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,
IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsReceiveNewsLetter,CreatedType,IsViewed,RenewBasicInfoPage,IsSpecialIssuance,SpecialIssuanceComments,CPAPersonnel,RenewalSource,CreatedBy,VersionKey)

select @PolicyKey_Inserted,ContactPerson,ContactPhone,IsCoverageIncludedForThisEntity,TotalFirmPersonnel,
IsReducedNumberOfOwners,@IsFirmCarryingProfLiabilityIns,IsPriorAct,IsFullPriorAct,PriorActDate,IsPolicyExcludesCoverage,RetroDate,
RetroFirmName,PercentOfRevenueFromLargestClient,PercentOfRevenueFromSecondLargestClient,ClientIndustryIDofLargestClient,ClientIndustryIDofSecondLargestClient,
ServiceIndustryIDofLargestClient,ServiceIndustryIDofSecondLargestClient,IsQualityReviewOfferedByAICPA,IsCommissionRecieved,IsPublicTradedAudited,
IsPublicPrivateOfferingsDone,PublicPrivateFirmName,PublicPrivateYearsOfExperience,IsInvestmentVenture,IsDebtOrEquityFinancing,
IsManagementServiceProvided,IsNonPublicInvestmentDone,IsNonMonetaryCompensationRecieved,CurrentValueNmc,
ClientNameNmc,ClientIndustryNmcKey,ServiceIndustryNmcKey,MergedOrNumberComment,IsFirmRenderedAuditOrAttestService,AgainstHowManyClients,
IsSignedEngagement,Email,OtherLargestClientIndustry,
OtherLargestServiceIndustry,OtherClientIndSecondLargestClient,OtherServiceIndSecondLargestClient,IsFirmAttendedRiskMagtSeminarIn3Years,
RegulatoryInquiryExaplain,RegulatoryInquiryComment,IsFirmDeclinedOtherthanNonPayment,ReasonForDecline,ReasonForDeclineComment,IsPredecessorsOrInvestVentures,
IsQuickQuoteByEmail,IsAnAgentCall,ContactPhoneExt,IsBasicPage,IsGeneralPage,'N',IsClientTerminated,
IsAnyDeclination,IsPolicyProhibiting,IsWrittenAnyQualityControlDocument,'N','N','N',
IsPracriceMangPage,ServiceIndustryofLargestClient,ServiceIndustryofSecondLargestClient,ClientIndustryNmcKeyOthers,ServiceIndustryNmcKeyOthers,
LicenseNumber,Comment,IsLicenseNumberUpdated,ModifierComment,IsClaimsInLast5Year,IsQuickQuotePage,IsLoginMailSent,IsRetreivalMailSent,
IsRegistrationPage,IsFirmReferred,GeneralExplain,GeneralComment,IsReceiveNewsLetter,@AgentName,IsViewed,'N',IsSpecialIssuance,SpecialIssuanceComments,CPAPersonnel,@RenewalSource,@UserNo,@VersionKey_Inserted
 from Firm where PolicyKey= @PolicyKey and VersionSequence=@VersionSequence

select @VersionSequence_Inserted=IDENT_CURRENT('Firm')

insert into PolicyTransaction (PolicyKey,AccountKey,TransactionEffectiveDate,TransactionTypeKey,PolicyExpirationDate,TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,CreatedBy,CreatedDate,VersionKey)
select @PolicyKey_Inserted,@AccountKey_Inserted, @TransactionEffectiveDate,2,@PolicyExpirationDate,@TransactionExpirationDate,
ProducerCode,SubInsuranceCarrier,@UserNo,GETDATE(),@VersionKey_Inserted
from PolicyTransaction where PolicyKey = @PolicyKey and
TransactionSequence = (select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y') 

select @TransactionSequence_Inserted=IDENT_CURRENT('PolicyTransaction')

update PolicyTransaction set StatusKey=1 where PolicyKey = @PolicyKey_Inserted

insert into PolicyCoverage (PolicyKey,TransactionSequence,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,MarketableProductKey,CoverageKey,RetroActiveDate,
IsClaimOptionType,IsClaimExpensesType,SOISequence,AggregateLimit,OccuranceLimit,OccuranceDeductible,AggregateDeductible,
Exposure,RiskState,RiskZip,ERPDate,AttachmentPoint,
PrimaryAccess,ClassCode,@UserNo,GETDATE() from PolicyCoverage where PolicyKey = @PolicyKey and 
TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')

select @CoverageSequence_Inserted=IDENT_CURRENT('PolicyCoverage')

insert into Quote (PolicyKey,TransactionSequence,IsQuoteSelected,IsFirstQuote,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,IsQuoteSelected,'Y',@UserNo,GETDATE()
from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y'

select @LimitSequencePross = LimitSequence,@AggregateLimit=pc.AggregateLimit,@OccuranceLimit=pc.OccuranceLimit from Limits lt inner join PolicyCoverage pc
on pc.AggregateLimit=lt.AggregateLimit and pc.OccuranceLimit=lt.OccuranceLimit 
 where lt.CoverageKey=2 
 and PolicyKey = @PolicyKey 
 and TransactionSequence=(select TransactionSequence from Quote where PolicyKey = @PolicyKey and IsThisOptionFinalised='Y')

select @CompanyKey = CompanyKey from Policy where PolicyKey= @PolicyKey

if(@AggregateLimit > 1000000 and @CompanyKey = 1)
begin
	update Quote set isShowQuote = 'N' where PolicyKey = @PolicyKey_Inserted;
END


--update show quote to 'N' for renewal policy if manual quote is finalized for prior year policy

DECLARE @isManualQuoteFinalized CHAR=(select IsManualPremium from PolicyCoverage 
where TransactionSequence=(select TransactionSequence from quote where Policykey=@PolicyKey and IsThisOptionFinalised='Y'))
IF(@isManualQuoteFinalized='Y')
BEGIN
	update Quote set isShowQuote='N' where Policykey=@PolicyKey_Inserted
END


insert into RatingTrace (PolicyKey,TransactionSequence,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,@TransactionSequence_Inserted,@UserNo,GETDATE() from RatingTrace where PolicyKey = @PolicyKey and
TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)


if(@IsFirmCarryingProfLiabilityIns = 'N')
	begin
	
		select @AggregateLimit=pc.AggregateLimit, @OccuranceLimit=pc.OccuranceLimit ,@AggregateDeductible=pc.AggregateDeductible, @IsClaimExpensesType=pc.IsClaimExpensesType, @IsClaimOptionType=pc.IsClaimOptionType from Quote q, PolicyCoverage pc 
		where pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and pc.PolicyKey=@PolicyKey and q.IsThisOptionFinalised='Y'

		select @LimitSequencePross=LimitSequence from Limits where AggregateLimit=@AggregateLimit and OccuranceLimit=@OccuranceLimit and CoverageKey=2
		select @DeductibleSequencePross = DeductibleSequence from Deductibles where AggregateDeductible=@AggregateDeductible and CoverageKey=2
		
		insert into ProfessionalLiabilityInsDetail (PolicyKey,VersionSequence,PolicyExpirationDatePross,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,CreatedBy,CreatedDate,VersionKey)
		select @PolicyKey_Inserted,@VersionSequence_Inserted,@PolicyEffectiveDate,@IsClaimExpensesType,PriorActDatePross,
		@IsClaimOptionType,'N','Crum & Forster',@LimitSequencePross,@DeductibleSequencePross,@UserNo,GETDATE(),@VersionKey_Inserted
		from ProfessionalLiabilityInsDetail where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	
	end	
	
if(@IsFirmCarryingProfLiabilityIns = 'Y')
	begin
		insert into ProfessionalLiabilityInsDetail (PolicyKey,VersionSequence,InsuranceCompanyKey,LimitAmount,DeductibleAmount,PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,FirmYear,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,CreatedBy,CreatedDate,VersionKey)
		select @PolicyKey_Inserted,@VersionSequence_Inserted,InsuranceCompanyKey,LimitAmount,DeductibleAmount,DATEADD(M,12,PolicyExpirationDatePross) as PolicyExpirationDatePross,ProInsPremium,IsClaimExpLiability,PriorActDatePross,
		IsPerClaim,IsPriorActDateFull,FirmYear+1,InsuranceCompanyPILKeyOthers,InsuranceCompanyNamePross,LimitSequencePross,DeductibleSequencePross,@UserNo,GETDATE(),@VersionKey_Inserted
		from ProfessionalLiabilityInsDetail where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
	end


insert into AreaOfPractice (PolicyKey,VersionSequence,AOPKey,AOPCommentDesc,PercentageValue,VersionKey,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AOPKey,AOPCommentDesc,PercentageValue,@VersionKey_Inserted,@UserNo,GETDATE(),@UserNo,GETDATE() 
from AreaOfPractice where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into SmartSearchValueACC (PolicyKey,AOPKey,Percentage, PercentageOld,IsEdit,CreatedBy,CreatedDate,LastUpdateUserID,LastUpdateTimeStamp)
select @PolicyKey_Inserted,AOPKey,PercentageValue,PercentageValue,'N',@UserNo,GETDATE(),@UserNo,GETDATE() 
from AreaOfPractice where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PercentageValue > 0

insert into PersonnelAffiliation (PolicyKey,VersionSequence,PersonnelTypeKey,NumberOfPersonnel,CreatedBy,CreatedDate,VersionKey)
select @PolicyKey_Inserted,@VersionSequence_Inserted,PersonnelTypeKey,NumberOfPersonnel,@UserNo,GETDATE(),@VersionKey_Inserted from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

if(@PolicyCreatedDate<@NewAppImplementationDate)
BEGIN
	update Firm set IsDebtOrEquityFinancing=null, IsManagementServiceProvided=null where PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
END

if((select CPAPersonnel from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) is null)
begin
select @NumberOfPersonnel=NumberOfPersonnel from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PersonnelTypeKey=2
update Firm set CPAPersonnel=@NumberOfPersonnel where PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
end

if(@PolicyCreatedDate<@NewAppImplementationDate)
BEGIN
DECLARE @CPAPersonals INT
DECLARE @TotalPersonalsWithCPA INT
DECLARE @TotalPersonals INT
	SET @CPAPersonals=(SELECT CASE WHEN NumberOfPersonnel IS NOT NULL and NumberOfPersonnel <> ''  THEN NumberOfPersonnel ELSE 0  END  AS NumberOfPersonnel from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and PersonnelTypeKey=2)
	SET @TotalPersonalsWithCPA= (SELECT CASE WHEN sum(NumberOfPersonnel) IS NOT NULL and sum(NumberOfPersonnel) <> ''  THEN sum(NumberOfPersonnel) ELSE 0  END  from PersonnelAffiliation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence )
	SET @TotalPersonals=@TotalPersonalsWithCPA-@CPAPersonals
	update Firm set CPAPersonnel=@CPAPersonals,TotalFirmPersonnel=@TotalPersonals where PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted
END

SET @PolicyCreatedDate=(select AppCreatedDate from Policy where PolicyKey=@PolicyKey_Inserted)
if(@PolicyCreatedDate<@NewAppImplementationDate)--old
BEGIN
	insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount,CreatedBy,CreatedDate,VersionKey)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,GrossRevenueKey,YearEndDate,Amount,@UserNo,GETDATE(),@VersionKey_Inserted from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
END
if(@PolicyCreatedDate>@NewAppImplementationDate)--New
BEGIN

	DECLARE @YEAR INT,@month INT

	SELECT @month=SUBSTRING(YearEndDate,0, (CHARINDEX('/',YearEndDate))),@YEAR=SUBSTRING(YearEndDate, (CHARINDEX('/',YearEndDate))+1,LEN(YearEndDate))
	 from   GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence  and GrossRevenueKey=3

	insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount,CreatedBy,CreatedDate,VersionKey)
	values(@PolicyKey_Inserted,@VersionSequence_Inserted,1,null,null,@UserNo,GETDATE(),@VersionKey_Inserted ) 
	
	insert into GrossRevenueForFirm (PolicyKey,VersionSequence,GrossRevenueKey,YearEndDate,Amount,CreatedBy,CreatedDate,VersionKey)
	select @PolicyKey_Inserted,@VersionSequence_Inserted, GrossRevenueKey+1 as GrossRevenueKey ,YearEndDate,Amount,@UserNo,GETDATE(),@VersionKey_Inserted 
	from GrossRevenueForFirm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence and GrossRevenueKey in (1,2)

	update GrossRevenueForFirm set YearEndDate=CAST(@month AS VARCHAR(10))+'/'+CAST((@YEAR+3) AS VARCHAR(10)) where  PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted and GrossRevenueKey=1
	update GrossRevenueForFirm set YearEndDate=CAST(@month AS VARCHAR(10))+'/'+CAST((@YEAR+2) AS VARCHAR(10)) where  PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted and GrossRevenueKey=2
	update GrossRevenueForFirm set YearEndDate=CAST(@month AS VARCHAR(10))+'/'+CAST((@YEAR+1) AS VARCHAR(10)) where  PolicyKey = @PolicyKey_Inserted and VersionSequence= @VersionSequence_Inserted and GrossRevenueKey=3
END

if((select IsAwarenessOfAnyProfLiability from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) = 'Y' OR (select IsAwarenessOfAnyProfLiabilitySuitAgainst from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) = 'Y')
begin
	insert into ClaimIncidentSupp (PolicyKey,VersionSequence, NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,
	ClaimNotifiedCiDate,AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,
	ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,StepsTakenToPreventClaimCi,CurrentStatus,CreatedBy,CreatedDate,VersionKey)
	select @PolicyKey_Inserted,@VersionSequence_Inserted, NameOfClaimantCi,IsClientCi,IsNonClientCi,IsThisClaimReportedCi,NameOfInsuranceCompanyCi,ReportedCiDate,
	ClaimNotifiedCiDate,AllegedErrorCiDate,NameOfFirmPersonnelCi,InsurerLossReserveCi,LastSettlementOfferCi,ClaimantLastDemandCi,
	ClosingCiDate,TotalClaimExpensesCi,DescOfClaimCi,StepsTakenToPreventClaimCi,CurrentStatus,@UserNo,GETDATE(),@VersionKey_Inserted   from ClaimIncidentSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
END

--insert into PublicPrivateOfferingSupp (PolicyKey,VersionSequence,ClientNamePpo,ClientIndustryPpoKey,ServiceIndustryPpoKey,YearServiceRenderedPpo,SizeOfOfferingPpo,
--FeesChargedPpo,TypeOfOfferingPpo,ClientIndustryPpoKeyOthers,ServiceIndustryPpoKeyOthers)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientNamePpo,ClientIndustryPpoKey,ServiceIndustryPpoKey,YearServiceRenderedPpo,SizeOfOfferingPpo,
--FeesChargedPpo,TypeOfOfferingPpo,ClientIndustryPpoKeyOthers,ServiceIndustryPpoKeyOthers from PublicPrivateOfferingSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--insert into SeperateEntitySupp (PolicyKey,VersionSequence,EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,
--DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,EntityNameSe,EstablisedSeDate,ServiceIndustrySeID,PercentOfOwnershipSe,TotalProfessionalStaffSe,TotalSupportStaffSe,
--DetailedDescSe,LastFiscalYearGrossRevenueSe,EstimateCurrentYearGrossRevenueSe,LastFiscalYearSeEndDate,EstimateCurrentYearSeEndDate
--from SeperateEntitySupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--insert into FundsControlledSupp (PolicyKey,VersionSequence,TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,
--NumberOfClientsFc,NumberOfFirmEmployeesFc,IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,
--ProvideNumberOfClientFc,ClientIndustryFc,ClientIndustryFcOthers,HaveInvestmentAuthorityFC)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,TotalAmountOfClientFundsFc,IsCountersignatureRequiredFc,IsBankAccountReconciledFc,IsFirmPersonnelBusinessManagerFc,
--NumberOfClientsFc,NumberOfFirmEmployeesFc,IsEmployeeDishonestyCoverageFc,TotlaNumberOfClientsFc,IsControlFundsForBusinessAndEntimentFc,
--ProvideNumberOfClientFc,ClientIndustryFc,ClientIndustryFcOthers,HaveInvestmentAuthorityFC from FundsControlledSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

if((select IsFirmRenderedServiceForAnyClient from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) = 'Y')
begin
	insert into OutsideInterestSupp (PolicyKey,VersionSequence,ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
	AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,ClientIndustryOsiKeyOthers,
	ServiceIndustryOsiKeyOthers,CreatedBy,CreatedDate,VersionKey)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientNameOsi,ClientIndustryOsiKey,ServiceIndustryOsiKey,ServiceRenderedOsiDate,PercentEquityInterestofOsi,CapacityServedByPersonnelOsi,
	AnnualFeesChargedOsi,EntityNameOsi,PositionHeldOsi,PercentEquityInterestOsi,DOInsuranceOsi,IndividualListedServicesOsi,ClientIndustryOsiKeyOthers,
	ServiceIndustryOsiKeyOthers,@UserNo,GETDATE(),@VersionKey_Inserted  from OutsideInterestSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
EnD

if((select IsServedAsTrustee from Firm where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence) = 'Y')
begin
	insert into TrusteeOrEstateSupp (PolicyKey,VersionSequence,NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,
	IsBeneficiaryInterestTrust,TypeofTrustKey,CreatedBy,CreatedDate,VersionKey)
	select @PolicyKey_Inserted,@VersionSequence_Inserted,NameOfTrust,StartEngagemenTrusttDate,ValueOfAssetsTrust,AnnualIncomeofAssetsTrust,NumberOfBeneficiariesTrust,
	IsBeneficiaryInterestTrust,TypeofTrustKey,@UserNo,GETDATE(),@VersionKey_Inserted  from TrusteeOrEstateSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence
EnD

--insert into FinancialPlanningAndIAServiceSupp (PolicyKey,VersionSequence,IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,
--IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,IsFinancialPlansPreparing,IsDiscretionaryAssetMangt,IsNonDiscretionaryAssetMangt,IsSecuritiesSales,IsContractualRelationShip,
--IsOmissionsPolicy,IsAnyNonPublicInvestments,IsAnyFirmAffiliateLicensed,IsAnyEmployeeBenefitPlan from FinancialPlanningAndIAServiceSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--insert into Attestation (PolicyKey,VersionSequence,FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,
--IsLastPeerReviewAtt,IndicatedRevenueInAttestation,LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,FirmRenderedAuditAtt,IsFirmHaveAWrittenPolicyAtt,IsSecondPartnerReviewAtt,IsAuditEngagementsAtt,IsAualityReviewAtt,
--IsLastPeerReviewAtt,IndicatedRevenueInAttestation,LastPeerReviewAttComment,AuditComment,FirmProvidedInvestmentFunds,FirmActedAsBusinessBroker,IsFirmPerformedServicesOrConsented from Attestation where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--insert into AttestationAuditWork (PolicyKey,VersionSequence,ClientIndustryKey,AuditClients,ClientsAssetsOver,
--NetLossForLastFYE)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,ClientIndustryKey,AuditClients,ClientsAssetsOver,
--NetLossForLastFYE from AttestationAuditWork where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

--insert into ITServicesSupp (PolicyKey,VersionSequence,RevenuesFromLastYear,EstimatedRevenue,IsAnnually,ITServiceCategoryKey)
--select @PolicyKey_Inserted,@VersionSequence_Inserted,RevenuesFromLastYear,EstimatedRevenue,IsAnnually,ITServiceCategoryKey from ITServicesSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into ITServicesSupp (PolicyKey,VersionSequence,ITServiceCategoryKey,CreatedBy,CreatedDate,VersionKey)
select @PolicyKey_Inserted,@VersionSequence_Inserted,ITServiceCategoryKey,@UserNo,GETDATE(),@VersionKey_Inserted  from ITServicesSupp where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

insert into FirmInitLawsuits(PolicyKey,VersionSequence,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,NamedDefendantsInSuit,CreatedBy,CreatedDate,VersionKey)
select @PolicyKey_Inserted,@VersionSequence_Inserted,AmountOfFeesSued,DueDateFees,SuitFilesDateFees,IsFavOutInUnderMatter,IsAllegOfLegalMalPrac,FeesAreaOfPractice,FeeSuitDispositionKey,NamedDefendantsInSuit,@UserNo,GETDATE(),@VersionKey_Inserted  from FirmInitLawsuits where PolicyKey = @PolicyKey and VersionSequence= @VersionSequence

update FirmInitLawsuits set isInheritedSuit='Y' where policykey=@PolicyKey_Inserted

insert into CoverageModifiers(PolicyKey,Comment,CoverageSequence,LastUpdateTimeStamp,LastUpdateUserID,ModifierKey,Percentage,RenewalPercentage,TransactionSequence,CreatedBy,CreatedDate)
select @PolicyKey_Inserted,Comment,@CoverageSequence_Inserted,GETDATE(),@UserNo,ModifierKey,Percentage,RenewalPercentage,@TransactionSequence_Inserted,@UserNo,GETDATE() from CoverageModifiers where PolicyKey = @PolicyKey and TransactionSequence = (select min(TransactionSequence) from PolicyTransaction where PolicyKey=@PolicyKey)  

declare c1 cursor for
	select ModifierKey,RenewalPercentage from CoverageModifiers where PolicyKey = @PolicyKey_Inserted
 OPEN c1
 FETCH NEXT FROM c1 into @ModifierKey ,@RenewalModifierPercentage
 WHILE @@FETCH_STATUS = 0
 BEGIN
 print @ModifierKey
 print @RenewalModifierPercentage
	if(@RenewalModifierPercentage != 0 )
		update CoverageModifiers set Percentage = @RenewalModifierPercentage where ModifierKey = @ModifierKey 
 FETCH NEXT FROM c1 into @ModifierKey ,@RenewalModifierPercentage
 END
CLOSE c1
DEALLOCATE c1

select @PolicyKey_Inserted as PolicyKey, @VersionSequence_Inserted as VersionSequence, @TransactionSequence_Inserted as TransactionSequence, @CoverageSequence_Inserted as CoverageSequence ,@AccountKey_Inserted as AccountKey,@AddressKey_Inserted as AddressKey

end try
begin catch
print error_message()
update FirmLW set IsRenewed=NULL where PolicyKey=@PolicyKey
rollback 
end catch
end

end

if( @Status<>6 OR isnull(@IsRenewed,'') = 'Y' --or @MonthCount<6
)
begin

begin try
	print 'Already Renewed'	
	select @AccountID=AccountID from Policy where PolicyKey = @PolicyKey
	select top 1 p.PolicyKey,pt.TransactionSequence,pc.CoverageSequence,aa.AddressKey,a.AccountKey,f.VersionSequence from Policy p,  Account a, Firm f, Address adds,Status s, PolicyTransaction pt, AccountAddress aa , PolicyCoverage pc where a.AccountKey =pt.AccountKey and aa.AccountKey = a.AccountKey  and aa.AddressKey=adds.AddressKey and f.PolicyKey = pt.PolicyKey and s.StatusKey =pt.StatusKey and p.PolicyKey = pt.PolicyKey and f.PolicyKey = pc.PolicyKey and p.PolicyKey = pc.PolicyKey and p.MarketableProductKey = 1 and pc.CoverageKey = 2 and  pt.TransactionSequence = pc.TransactionSequence and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where PolicyKey=p.PolicyKey) and pc.CoverageSequence=(select min(CoverageSequence)from PolicyCoverage where PolicyKey=p.PolicyKey) and pt.PolicyKey in (select PolicyKey from Policy where isUncompletedData='N') and a.AccountID=@AccountID order by  PolicyKey desc
end try
begin catch
print error_message()
rollback 
end catch
end
















GO
