USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateSpecificRulesLawyers_proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[StateSpecificRulesLawyers_proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateSpecificRulesLawyers_proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[StateSpecificRulesLawyers_proc] AS' 
END
GO


--exec StateSpecificRulesAccountant_proc 'NDRuleForFormAttachmentQuoteletter',79732	,'NM'
ALTER PROCEDURE [dbo].[StateSpecificRulesLawyers_proc]
	@RuleRequestType varchar(100),
	@PolicyKey  varchar(10),
	@StateCode varchar(10)

		 
AS
BEGIN
	CREATE table #tempruleoutput
	(
		IsDefensePaidWithinRuleND char(1)	
	)

	insert into #tempruleoutput(IsDefensePaidWithinRuleND) values('N')

	declare @IsDefensePaidWithinRuleND char(1) = 'N'
	declare @IsClaimOptionType char(1)
	declare @IsClaimExpenseType char(1)
	declare @IsManualQuote char(1)
	declare @IsDollarDefense char(1)
	declare @IsClaimOptionTypeFlag char(1)
	declare @IsClaimExpenseTypeFlag char(1)
	declare @AggregateLimit int
	declare @OccuranceLimit int

	if(@RuleRequestType = 'NDRuleForFormAttachmentQuoteletter')
	begin
		declare c1 cursor for 
		select pc.IsClaimOptionType,pc.IsClaimExpensesType,pc.IsDollarDefense,pc.IsManualPremium,pc.AggregateLimit,pc.OccuranceLimit from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and pc.PolicyKey = @policyKey
				
		OPEN c1
			   FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit	
				WHILE @@FETCH_STATUS = 0
				begin	
					--if(isNull(@IsClaimExpenseType,'') = 'N' and @AggregateLimit >= 1000000)
					if(isNull(@IsClaimExpenseType,'') = 'N' and  @StateCode <> 'NM')
					begin
						set @IsDefensePaidWithinRuleND = 'Y'
					end

					else if(isNull(@IsClaimExpenseType,'') = 'N' and  @AggregateLimit >= 500000 and  @StateCode = 'NM')
					begin
						set @IsDefensePaidWithinRuleND = 'Y'
					end
					ELSE
					begin
						set @IsDefensePaidWithinRuleND = 'N'
					end

			   FETCH NEXT FROM c1 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit					
				end
		CLOSE c1
		DEALLOCATE c1
		end

		if(@RuleRequestType = 'NDRuleForFormAttachmentPolicyForm')
		begin
		declare c2 cursor for 
		select pc.IsClaimOptionType,pc.IsClaimExpensesType,pc.IsDollarDefense,pc.IsManualPremium,pc.AggregateLimit,pc.OccuranceLimit from PolicyCoverage pc, PolicyTransaction pt, Limits l,Deductibles d, Quote q,
			   RatingTrace rt where l.AggregateLimit = pc.AggregateLimit and l.OccuranceLimit=pc.OccuranceLimit and 
			   l.CoverageKey = pc.CoverageKey and d.AggregateDeductible=pc.AggregateDeductible and  d.OccuranceDeductible=pc.AggregateDeductible 
			   and d.CoverageKey = pc.CoverageKey and pc.PolicyKey=pt.PolicyKey and pc.TransactionSequence=pt.TransactionSequence and 
			   pc.PolicyKey=q.PolicyKey and pc.TransactionSequence=q.TransactionSequence and rt.PolicyKey=q.PolicyKey and 
			   rt.TransactionSequence=q.TransactionSequence and q.IsQuoteSelected='Y' and q.IsThisOptionFinalised = 'Y' and pc.PolicyKey = @policyKey
				
		OPEN c2
			   FETCH NEXT FROM c2 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit	
				WHILE @@FETCH_STATUS = 0
				begin	
					--if(isNull(@IsClaimExpenseType,'') = 'N' and @AggregateLimit >= 1000000)
					if(isNull(@IsClaimExpenseType,'') = 'N' and  @StateCode <> 'NM')
					begin
						set @IsDefensePaidWithinRuleND = 'Y'
					end

					else if(isNull(@IsClaimExpenseType,'') = 'N' and  @StateCode = 'NM' and  @AggregateLimit >= 500000 )
					begin
						set @IsDefensePaidWithinRuleND = 'Y'
					end
					begin
						set @IsDefensePaidWithinRuleND = 'N'
					end

			   FETCH NEXT FROM c2 into @IsClaimOptionType,@IsClaimExpenseType,@IsDollarDefense,@IsManualQuote,@AggregateLimit,@OccuranceLimit					
				end
		CLOSE c2
		DEALLOCATE c2
		end


	update #tempruleoutput set IsDefensePaidWithinRuleND = @IsDefensePaidWithinRuleND
	

	select * from #tempruleoutput

	drop table #tempruleoutput

END


GO
