USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_creationdate_LastWeek]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[weeklyreport_creationdate_LastWeek]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[weeklyreport_creationdate_LastWeek]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[weeklyreport_creationdate_LastWeek] AS' 
END
GO



ALTER PROCEDURE [dbo].[weeklyreport_creationdate_LastWeek] 
	@WeekFromDate varchar(20) , 
	@WeekToDate varchar(20) ,
	@FirstReviewUserID varchar(100),
	@WeekMarketableProductKey varchar(50),
	@ProjectType varchar(5)
	
 AS BEGIN

declare @allpolicy int
declare @underreview int
declare @declined int
declare @issued int
declare @rejected int
declare @issuedwithpremium int
declare @totalpremiumfromissued numeric(15,0)
declare @accepted int
declare @quoted int
declare @newqq int
declare @newfq int
declare @totalapps int
declare @WeekFromDate1 datetime
declare @date datetime


CREATE TABLE #TempPolicyList (
	
	[AllPolicy] [int]	,
    [UnderReview] [int] ,
    [Declined] [int] ,
    [Issued] [int] ,
    [Rejected] [int] ,
    [IssuedWithPremium] [int] ,
    [TotalPremiumFromIssued] [Numeric](15,0),
    [Accepted] [int] ,
    [Quoted] [int] ,
    [NewQQ] [int] ,
    [NewFQ] [int] ,
    [TotalApps] [int],
    [MonthofAppcrtDate] varchar(50)
		 
) 
	
	set @date = DATEADD(day,-6,@WeekToDate)	
	set @WeekFromDate = convert(varchar,@date,101)
	
	if(@ProjectType = 'Lwy')
		set @WeekMarketableProductKey = 2

	if(@ProjectType = 'Acc')
		Begin
			if(@FirstReviewUserID <> '')
			begin
				select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (2) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (4) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (5) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @issuedwithpremium = count(*), @totalpremiumfromissued = sum(pt.TotalPremium) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (7) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (3) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsQuickQuote = 'Y' and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q,Firm f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsFullQuote = 'Y' and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				
				select @totalapps =(@underreview+@declined+@issued+@rejected+@accepted+@quoted+@newfq)
				
			end
		End
		
	if(@ProjectType = 'Lwy')
		Begin
			if(@FirstReviewUserID <> '')
			begin
				select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (2) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (4) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (5) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @issuedwithpremium = count(*), @totalpremiumfromissued = sum(pt.TotalPremium) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (7) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (3) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsQuickQuote = 'Y' and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q,FirmLW f where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsFullQuote = 'Y' and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1) and p.PolicyKey=f.PolicyKey and f.FirstReviewUserID = @FirstReviewUserID
				
				select @totalapps =(@underreview+@declined+@issued+@rejected+@accepted+@quoted+@newfq)
				
			end
		End
	
	
	
	if(@FirstReviewUserID = '' or @FirstReviewUserID is null)
		begin
			select @allpolicy =  count(*)  from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey
			select @underreview =  count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (2)
			select @declined = count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (4)
			select @issued = count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6)
			select @rejected =  count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (5)
			select @issuedwithpremium = count(*), @totalpremiumfromissued = sum(pt.TotalPremium) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.IsThisOptionFinalised= 'Y' and p.PolicyStatusKey=1 and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (6)
			select @accepted =  count(*) from PolicyTransaction pt,Policy p ,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (7)
			select @quoted = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (3)
			select @newqq = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsQuickQuote = 'Y' and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1)
			select @newfq = count(*) from PolicyTransaction pt,Policy p,Quote q where pt.PolicyKey = q.PolicyKey and pt.TransactionSequence = q.TransactionSequence and q.isFirstQuote= 'Y' and pt.PolicyKey = p.PolicyKey and p.isUncompletedData = 'N' and p.PolicyStatusKey=1 and p.IsFullQuote = 'Y' and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) >= @WeekFromDate and  cast(convert(varchar, p.AppCreatedDate, 101) as datetime) <= @WeekToDate and p.MarketableProductKey = @WeekMarketableProductKey and pt.StatusKey in (1)
		
			select @totalapps =(@underreview+@declined+@issued+@rejected+@accepted+@quoted+@newfq)
			

		end

		insert into #TempPolicyList(AllPolicy,UnderReview,Declined,Issued,Rejected,IssuedWithPremium,TotalPremiumFromIssued,Accepted,Quoted,NewQQ,NewFQ,TotalApps,MonthofAppcrtDate) values(@allpolicy,@underreview,@declined,@issued,@rejected,@issuedwithpremium,@totalpremiumfromissued,@accepted,@quoted,@newqq,@newfq,@totalapps,'Last Week('+@WeekFromDate+'-'+@WeekToDate+')')
			


	select * from #TempPolicyList
	drop table #TempPolicyList

END









GO
