USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForListLawyersLostWorkque_Proc]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SearchCountForListLawyersLostWorkque_Proc]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchCountForListLawyersLostWorkque_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SearchCountForListLawyersLostWorkque_Proc] AS' 
END
GO

-- exec SearchCountForListLawyersLostWorkque_Proc null, null, 3, 'bookedCleaner'
--null, null, null, null, null, null, null, 3, rejectCleaner
ALTER PROCEDURE [dbo].[SearchCountForListLawyersLostWorkque_Proc] 
 		@EffectiveDateFrom datetime=null,
		@EffectiveDateTo datetime=null,		
		@LastUpdateUserID int=null,
		@BucketListAction varchar(100)=null
AS 
BEGIN
	
	if(@EffectiveDateFrom='' OR @EffectiveDateFrom is null)
	BEGIN
	 --select @EffectiveDateFrom=DATEADD(DAY,1,EOMONTH(GETDATE(),-2)), @EffectiveDateTo=EOMONTH(GETDATE(),2)
	 select @EffectiveDateFrom= FORMAT(getdate()-120,'MM-dd-yyyy'), @EffectiveDateTo=FORMAT(getdate()+120,'MM-dd-yyyy')
	END
		--Pending
	declare @TotalCount int=0, @BucketStatusKey int=0
	
	if(@BucketListAction ='indicationCountCleaner')
	begin
		------indicationCountCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='N'
		and p.IsQuickQuote='Y'
		and pt.StatusKey in (11) --Indication
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'No Response' or fl.lostworkqComment = 'not converted')
	END
	
	if(@BucketListAction ='quickquoteCleaner')
	begin
		------quickquoteCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='N'
		and p.IsQuickQuote='Y'
		and pt.StatusKey in (1) --QQ
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'No Response' or fl.lostworkqComment = 'not converted' or fl.lostworkqComment = 'never sent')
	ENd	
	
	if(@BucketListAction ='pendingCleaner')
	begin
		------pendingCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (1) --New
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'No Response')
	END
	
	if(@BucketListAction ='bookedCleaner')
	begin
		------bookedCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (2) --UnderReview
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'never quoted')
		and fl.isappcompleted='Y'
	END
	
	if(@BucketListAction ='uwreviewCleaner')
	begin
		------uwreviewCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (9) --UWReview
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'never quoted')
		and fl.isappcompleted='Y'
	END
	
	if(@BucketListAction ='uwcompletedCleaner')
	begin
		------uwcompletedCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (10) --UWCompleted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'never quoted')
		and fl.isappcompleted='Y'
	END
	
	if(@BucketListAction ='abandonedCleaner')
	begin
		------abandonedCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (3) --quoted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'Not Accepted')
		and fl.isappcompleted='Y'
	END
	
	if(@BucketListAction ='NotOpened')
	begin
		------NotOpened-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		--and p.IsFullQuote='Y'
		--and p.IsQuickQuote='N'
		and pt.StatusKey in (1,11) --quoted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'No Response')
	END
	
	if(@BucketListAction ='NeverConverted')
	begin
		------NeverConverted-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='N'
		and p.IsQuickQuote='Y'
		and pt.StatusKey in (1,11) --quoted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'not converted')
	END
	
	if(@BucketListAction ='NeverSent')
	begin
		------NeverSent-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='N'
		and p.IsQuickQuote='Y'
		and pt.StatusKey in (1) --quoted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'never sent')
	END
	
	if(@BucketListAction ='NeverQuoted')
	begin
		------NeverQuoted-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (2,9,10) --quoted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'never quoted')
		and fl.isappcompleted='Y'
	END
	
	if(@BucketListAction ='rejectCleaner')
	begin
		------rejectCleaner-----------
		select @TotalCount=count(pt.StatusKey) from Policy p with (nolock)
		INNER JOIN PolicyTransaction pt with (nolock) ON pt.PolicyKey=p.PolicyKey 
		INNER JOIN PolicyCoverage pc with (nolock) ON p.PolicyKey = pc.PolicyKey AND pt.TransactionSequence = pc.TransactionSequence 
		INNER JOIN FirmLW fl ON  fl.PolicyKey=(select Max(PolicyKey) from FirmLW with (nolock) where PolicyKey=p.PolicyKey Group By PolicyKey) AND  fl.VersionSequence=(select max(versionSequence) from FirmLW with (nolock) where PolicyKey=p.PolicyKey)
		where p.MarketableProductKey = 2 
		and pc.CoverageKey = 3
		and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction with (nolock) where PolicyKey=p.PolicyKey)
		and p.isUncompletedData='N' 
		and p.IsFullQuote='Y'
		and p.IsQuickQuote='N'
		and pt.StatusKey in (3) --quoted
		and p.PolicyEffectiveDate>=@EffectiveDateFrom and p.PolicyEffectiveDate<=@EffectiveDateTo
		and (fl.lostworkqComment = 'Not Accepted')
		and fl.isappcompleted='Y'
	end

	select @TotalCount as totalCount;
	
END



GO
