USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] DROP CONSTRAINT [CHK_FirmOfferingScheduleLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_576]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] DROP CONSTRAINT [R_576]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] DROP CONSTRAINT [CHK_FirmOfferingScheduleLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] DROP CONSTRAINT [CHK_FirmOfferingScheduleLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOffer__Versi__375BF910]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOfferingScheduleLW] DROP CONSTRAINT [DF__FirmOffer__Versi__375BF910]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOffer__Recor__178E47FC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOfferingScheduleLW] DROP CONSTRAINT [DF__FirmOffer__Recor__178E47FC]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmOfferingScheduleLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmOfferingScheduleLW](
	[FirmOfferingScheduleKey] [int] IDENTITY(1,1) NOT NULL,
	[DateOffering] [datetime] NULL,
	[NameOfInsurer] [varchar](120) NULL,
	[TypesOfOffering] [varchar](120) NULL,
	[TypeOfBusiness] [varchar](120) NULL,
	[IsApplRenderTax] [char](1) NULL,
	[DateOfIssIncorp] [datetime] NULL,
	[DollarSizeOfOffering] [varchar](120) NULL,
	[Counsel] [varchar](120) NULL,
	[MonthsAsClient] [int] NULL,
	[AffiliatedWithIssuer] [varchar](20) NULL,
	[IsApplLawyersInvest] [char](1) NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKFirmOfferingScheduleLW] PRIMARY KEY CLUSTERED 
(
	[FirmOfferingScheduleKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOffer__Recor__178E47FC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOfferingScheduleLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOffer__Versi__375BF910]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOfferingScheduleLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmOfferingScheduleLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] CHECK CONSTRAINT [CHK_FirmOfferingScheduleLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmOfferingScheduleLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] CHECK CONSTRAINT [CHK_FirmOfferingScheduleLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_576]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW]  WITH CHECK ADD  CONSTRAINT [R_576] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[SecuritiesSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_576]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] CHECK CONSTRAINT [R_576]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmOfferingScheduleLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOfferingScheduleLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOfferingScheduleLW]'))
ALTER TABLE [dbo].[FirmOfferingScheduleLW] CHECK CONSTRAINT [CHK_FirmOfferingScheduleLW_RecordType]
GO
