USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [CHK_AreaOfSpecialityLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_600]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [R_600]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_599]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [R_599]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [CHK_AreaOfSpecialityLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [CHK_AreaOfSpecialityLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AreaOfSpe__Versi__0C719B0B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [DF__AreaOfSpe__Versi__0C719B0B]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AreaOfSpe__Recor__47726548]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AreaOfSpecialityLW] DROP CONSTRAINT [DF__AreaOfSpe__Recor__47726548]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfSpecialityLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfSpecialityLW](
	[PercentageValue] [int] NULL,
	[AOSKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKAreaOfSpecialityLW] PRIMARY KEY CLUSTERED 
(
	[AOSKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AreaOfSpe__Recor__47726548]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AreaOfSpecialityLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AreaOfSpe__Versi__0C719B0B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AreaOfSpecialityLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfSpecialityLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] CHECK CONSTRAINT [CHK_AreaOfSpecialityLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfSpecialityLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] CHECK CONSTRAINT [CHK_AreaOfSpecialityLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_599]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW]  WITH CHECK ADD  CONSTRAINT [R_599] FOREIGN KEY([AOSKey])
REFERENCES [dbo].[AOSLW] ([AOSKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_599]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] CHECK CONSTRAINT [R_599]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_600]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW]  WITH CHECK ADD  CONSTRAINT [R_600] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[IntellectualPropSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_600]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] CHECK CONSTRAINT [R_600]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfSpecialityLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfSpecialityLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfSpecialityLW]'))
ALTER TABLE [dbo].[AreaOfSpecialityLW] CHECK CONSTRAINT [CHK_AreaOfSpecialityLW_RecordType]
GO
