USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW] DROP CONSTRAINT [CHK_BankruptcyDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW] DROP CONSTRAINT [CHK_BankruptcyDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW] DROP CONSTRAINT [CHK_BankruptcyDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[BankruptcyDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BankruptcyDetailsLW](
	[BankruptcyDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[personalBankrupties] [int] NULL,
	[commercialBankruptcies] [int] NULL,
	[representedDebtors] [char](1) NULL,
	[preBankruptcyServices] [char](1) NULL,
	[dueDiligenceProcess] [char](1) NULL,
	[reviewProcedureForCertification] [char](1) NULL,
	[disclosureStatementExplaining] [char](1) NULL,
	[conspicuousStatement] [char](1) NULL,
	[policyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
	[CountOfLawyersForBankruptcy] [int] NULL,
	[AverageYearsOfBankruptcyExperience] [int] NULL,
	[DebtorRepresentation] [int] NULL,
	[CreditorRepresentation] [int] NULL,
	[AsTrustee] [int] NULL,
	[BankruptcyOther] [int] NULL,
	[BankruptcyOtherDesc] [varchar](500) NULL,
	[HasProceduresToCertifyAccuracy] [varchar](50) NULL,
	[ProceduresToCertifyAccuracyDesc] [varchar](500) NULL,
	[HasRepresentedDebtors] [varchar](50) NULL,
	[HasRepresentedTotalDebtors] [varchar](200) NULL,
	[HasRepresentedDebtorsDesc] [varchar](500) NULL,
	[companyFinance] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankruptcyDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_BankruptcyDetailsLW_FK_PolicyKey] FOREIGN KEY([policyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW] CHECK CONSTRAINT [CHK_BankruptcyDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_BankruptcyDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW] CHECK CONSTRAINT [CHK_BankruptcyDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_BankruptcyDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyDetailsLW] CHECK CONSTRAINT [CHK_BankruptcyDetailsLW_RecordType]
GO
