USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EstimateF__FormK__538EEEC1]') AND parent_object_id = OBJECT_ID(N'[dbo].[EstimateFormAttorneyDetails]'))
ALTER TABLE [dbo].[EstimateFormAttorneyDetails] DROP CONSTRAINT [FK__EstimateF__FormK__538EEEC1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormAttorneyDetails]') AND type in (N'U'))
DROP TABLE [dbo].[EstimateFormAttorneyDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormAttorneyDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EstimateFormAttorneyDetails](
	[FormAttorneyKey] [int] IDENTITY(1,1) NOT NULL,
	[AttorneyName] [varchar](500) NULL,
	[AnnualHours] [varchar](300) NULL,
	[AttorneyPriorActDate] [datetime] NULL,
	[FormKey] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormAttorneyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EstimateF__FormK__538EEEC1]') AND parent_object_id = OBJECT_ID(N'[dbo].[EstimateFormAttorneyDetails]'))
ALTER TABLE [dbo].[EstimateFormAttorneyDetails]  WITH CHECK ADD FOREIGN KEY([FormKey])
REFERENCES [dbo].[EstimateFormGeneralInfo] ([FormKey])
GO
