USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrustTypeLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrustTypeLKU]'))
ALTER TABLE [dbo].[TrustTypeLKU] DROP CONSTRAINT [CHK_TrustTypeLKU_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrustTypeLKU]') AND type in (N'U'))
DROP TABLE [dbo].[TrustTypeLKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrustTypeLKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TrustTypeLKU](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TrustsType] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[TrustTypeLKU] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[TrustTypeLKU] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[TrustTypeLKU] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[TrustTypeLKU] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[TrustTypeLKU] ADD [CreatedBy] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrustTypeLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrustTypeLKU]'))
ALTER TABLE [dbo].[TrustTypeLKU]  WITH CHECK ADD  CONSTRAINT [CHK_TrustTypeLKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrustTypeLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrustTypeLKU]'))
ALTER TABLE [dbo].[TrustTypeLKU] CHECK CONSTRAINT [CHK_TrustTypeLKU_RecordType]
GO
