USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValue_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]'))
ALTER TABLE [dbo].[SmartSearchValue] DROP CONSTRAINT [CHK_SmartSearchValue_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValue_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]'))
ALTER TABLE [dbo].[SmartSearchValue] DROP CONSTRAINT [CHK_SmartSearchValue_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]') AND type in (N'U'))
DROP TABLE [dbo].[SmartSearchValue]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SmartSearchValue](
	[SmartSearchID] [int] IDENTITY(1,1) NOT NULL,
	[AOPKey] [int] NULL,
	[Percentage] [int] NULL,
	[PolicyKey] [int] NULL,
	[PercentageOld] [int] NULL,
	[IsEdit] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SmartSearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValue_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]'))
ALTER TABLE [dbo].[SmartSearchValue]  WITH NOCHECK ADD  CONSTRAINT [CHK_SmartSearchValue_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValue_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]'))
ALTER TABLE [dbo].[SmartSearchValue] CHECK CONSTRAINT [CHK_SmartSearchValue_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValue_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]'))
ALTER TABLE [dbo].[SmartSearchValue]  WITH CHECK ADD  CONSTRAINT [CHK_SmartSearchValue_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValue_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValue]'))
ALTER TABLE [dbo].[SmartSearchValue] CHECK CONSTRAINT [CHK_SmartSearchValue_RecordType]
GO
