USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimsReports_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimsReports]'))
ALTER TABLE [dbo].[ClaimsReports] DROP CONSTRAINT [CHK_ClaimsReports_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ClaimsRep__Marke__4ACDF4E0]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimsReports]'))
ALTER TABLE [dbo].[ClaimsReports] DROP CONSTRAINT [FK__ClaimsRep__Marke__4ACDF4E0]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimsReports]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimsReports]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimsReports]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimsReports](
	[ClaimsReportsKey] [int] IDENTITY(1,1) NOT NULL,
	[ReportName] [varchar](150) NULL,
	[ReportDescription] [varchar](8000) NULL,
	[MarketableProductKey] [int] NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [varchar](150) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimsReportsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ClaimsRep__Marke__4ACDF4E0]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimsReports]'))
ALTER TABLE [dbo].[ClaimsReports]  WITH CHECK ADD FOREIGN KEY([MarketableProductKey])
REFERENCES [dbo].[MarketableProduct] ([MarketableProductKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimsReports_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimsReports]'))
ALTER TABLE [dbo].[ClaimsReports]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimsReports_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimsReports_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimsReports]'))
ALTER TABLE [dbo].[ClaimsReports] CHECK CONSTRAINT [CHK_ClaimsReports_RecordType]
GO
