USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] DROP CONSTRAINT [CHK_AuditAttestService_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_82]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] DROP CONSTRAINT [R_82]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] DROP CONSTRAINT [CHK_AuditAttestService_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] DROP CONSTRAINT [CHK_AuditAttestService_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AuditAtte__Versi__1506E10C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AuditAttestService] DROP CONSTRAINT [DF__AuditAtte__Versi__1506E10C]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AuditAtte__Recor__52E417F4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AuditAttestService] DROP CONSTRAINT [DF__AuditAtte__Recor__52E417F4]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditAttestService]') AND type in (N'U'))
DROP TABLE [dbo].[AuditAttestService]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditAttestService]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AuditAttestService](
	[ClientNameAas] [varchar](20) NULL,
	[ClientIndustryAasKey] [int] NULL,
	[ServiceIndustryAasKey] [int] NULL,
	[TypeOfServiceAas] [varchar](20) NULL,
	[TypeOfAuditOpinionAas] [varchar](20) NULL,
	[GoingConcernReferenceAas] [varchar](20) NULL,
	[NonMonetaryCompensationAas] [varchar](20) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKAuditAttestService] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AuditAtte__Recor__52E417F4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AuditAttestService] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AuditAtte__Versi__1506E10C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AuditAttestService] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService]  WITH CHECK ADD  CONSTRAINT [CHK_AuditAttestService_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] CHECK CONSTRAINT [CHK_AuditAttestService_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService]  WITH NOCHECK ADD  CONSTRAINT [CHK_AuditAttestService_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] CHECK CONSTRAINT [CHK_AuditAttestService_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_82]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService]  WITH CHECK ADD  CONSTRAINT [R_82] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_82]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] CHECK CONSTRAINT [R_82]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService]  WITH CHECK ADD  CONSTRAINT [CHK_AuditAttestService_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AuditAttestService_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AuditAttestService]'))
ALTER TABLE [dbo].[AuditAttestService] CHECK CONSTRAINT [CHK_AuditAttestService_RecordType]
GO
