USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsManagement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement] DROP CONSTRAINT [CHK_FirmOperationsManagement_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Versi__5729AA24]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement] DROP CONSTRAINT [FK__FirmOpera__Versi__5729AA24]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Polic__563585EB]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement] DROP CONSTRAINT [FK__FirmOpera__Polic__563585EB]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOpera__Creat__581DCE5D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOperationsManagement] DROP CONSTRAINT [DF__FirmOpera__Creat__581DCE5D]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]') AND type in (N'U'))
DROP TABLE [dbo].[FirmOperationsManagement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmOperationsManagement](
	[FirmOperationsManagementKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TotalNumOfNonAttorneyStaff] [int] NULL,
	[SoloAttorney] [varchar](50) NULL,
	[SoloAttorneyName] [varchar](200) NULL,
	[SoloAttorneyAddress] [varchar](500) NULL,
	[SoloAttorneyState] [varchar](50) NULL,
	[SoloAttorneyCity] [varchar](100) NULL,
	[SoloAttorneyZipCode] [varchar](200) NULL,
	[SoloAttorneyPhoneNumber] [varchar](200) NULL,
	[MostRecentFiscalYear] [varchar](200) NULL,
	[PreviousFiscalYear] [varchar](200) NULL,
	[ConflictOfInterestSystem] [varchar](50) NULL,
	[Computerized] [varchar](50) NULL,
	[ConflictOfInterestPerformed] [varchar](500) NULL,
	[FirmMaintainDCS] [varchar](50) NULL,
	[FirmsDocketDesc] [varchar](500) NULL,
	[ComputerizedCalendarDCS] [varchar](50) NULL,
	[RedundanciesInInputDCS] [varchar](50) NULL,
	[UpdatedDailyDCS] [varchar](50) NULL,
	[UpdatedDailyDCSOther] [varchar](50) NULL,
	[TrackLitigatedItemsDCS] [varchar](50) NULL,
	[ClientEngagementLetter] [int] NULL,
	[IncludeScopeOfService] [varchar](50) NULL,
	[FirmsBillingPolicyProcedures] [varchar](50) NULL,
	[NonEngageLetter] [int] NULL,
	[DisEngageLetter] [int] NULL,
	[ClientEngagementLetterDesc] [varchar](500) NULL,
	[FirmWrittenClientIntake] [varchar](50) NULL,
	[DisclosureOfConfidentialInformation] [varchar](50) NULL,
	[ConflictsApproval] [varchar](50) NULL,
	[DifficultyComplexProposedRep] [varchar](50) NULL,
	[ExamineMatchBetweenPropRep] [varchar](50) NULL,
	[LikelihoodOfSuccess] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmOperationsManagementKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOpera__Creat__581DCE5D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOperationsManagement] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Polic__563585EB]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Versi__5729AA24]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsManagement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement]  WITH CHECK ADD  CONSTRAINT [CHK_FirmOperationsManagement_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsManagement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement]'))
ALTER TABLE [dbo].[FirmOperationsManagement] CHECK CONSTRAINT [CHK_FirmOperationsManagement_RecordType]
GO
