USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormGeneralInfo]') AND type in (N'U'))
DROP TABLE [dbo].[EstimateFormGeneralInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormGeneralInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EstimateFormGeneralInfo](
	[FormKey] [int] IDENTITY(1,1) NOT NULL,
	[MarketableProductKey] [int] NULL,
	[AccountName] [varchar](500) NULL,
	[ContactPerson] [varchar](500) NULL,
	[Address1] [varchar](700) NULL,
	[StateCode] [varchar](20) NULL,
	[CountyDesc] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[Zip] [varchar](20) NULL,
	[WorkPhone] [varchar](20) NULL,
	[AccountEmail] [varchar](500) NULL,
	[AggregateLimit] [int] NULL,
	[OccuranceLimit] [int] NULL,
	[OccuranceDeductible] [int] NULL,
	[AggregateDeductible] [int] NULL,
	[IsClaimOptionType] [varchar](50) NULL,
	[IsClaimExpensesType] [varchar](50) NULL,
	[IsDollarDefense] [char](1) NULL,
	[InsuranceCompanyNamePross] [varchar](500) NULL,
	[PolicyExpirationDatePross] [datetime] NULL,
	[ProInsPremium] [numeric](18, 0) NULL,
	[IsPriorActDateFull] [char](1) NULL,
	[hasAnyFirmPersonnelReported] [char](1) NULL,
	[FirmYear] [int] NULL,
	[PriorActDatePross] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[IsSignedEngagement] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[FormKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
