USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail] DROP CONSTRAINT [CHK_DocumentDetail_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentDetail__4BCC3ABA]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail] DROP CONSTRAINT [FK__DocumentDetail__4BCC3ABA]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail] DROP CONSTRAINT [CHK_DocumentDetail_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__DocumentD__Recor__7EC29A32]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DocumentDetail] DROP CONSTRAINT [DF__DocumentD__Recor__7EC29A32]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentDetail]') AND type in (N'U'))
DROP TABLE [dbo].[DocumentDetail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DocumentDetail](
	[DocumentKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[DocumentID] [varchar](100) NULL,
	[DocumentName] [varchar](100) NULL,
	[DocumentUploadedOn] [datetime] NULL,
	[DocumentUploadedBy] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentKey] ASC,
	[PolicyKey] ASC,
	[TransactionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__DocumentD__Recor__7EC29A32]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DocumentDetail] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentDetail_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail] CHECK CONSTRAINT [CHK_DocumentDetail_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentDetail__4BCC3ABA]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [TransactionSequence])
REFERENCES [dbo].[PolicyTransaction] ([PolicyKey], [TransactionSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentDetail_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentDetail]'))
ALTER TABLE [dbo].[DocumentDetail] CHECK CONSTRAINT [CHK_DocumentDetail_RecordType]
GO
