USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] DROP CONSTRAINT [CHK_GovernmentSupplementDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] DROP CONSTRAINT [CHK_GovernmentSupplementDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] DROP CONSTRAINT [CHK_GovernmentSupplementDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[GovernmentSupplementDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GovernmentSupplementDetailsLW](
	[GAOPID] [int] IDENTITY(1,1) NOT NULL,
	[providingBondWork] [char](1) NULL,
	[eminentDomainServices] [char](1) NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
PRIMARY KEY CLUSTERED 
(
	[GAOPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_GovernmentSupplementDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] CHECK CONSTRAINT [CHK_GovernmentSupplementDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_GovernmentSupplementDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] CHECK CONSTRAINT [CHK_GovernmentSupplementDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_GovernmentSupplementDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentSupplementDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentSupplementDetailsLW]'))
ALTER TABLE [dbo].[GovernmentSupplementDetailsLW] CHECK CONSTRAINT [CHK_GovernmentSupplementDetailsLW_RecordType]
GO
