USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WESLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WESLW]'))
ALTER TABLE [dbo].[WESLW] DROP CONSTRAINT [CHK_WESLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WESLW]') AND type in (N'U'))
DROP TABLE [dbo].[WESLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WESLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WESLW](
	[WESKey] [int] IDENTITY(1,1) NOT NULL,
	[WESDesc] [varchar](300) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_WESLW] PRIMARY KEY CLUSTERED 
(
	[WESKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WESLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WESLW]'))
ALTER TABLE [dbo].[WESLW]  WITH CHECK ADD  CONSTRAINT [CHK_WESLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WESLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WESLW]'))
ALTER TABLE [dbo].[WESLW] CHECK CONSTRAINT [CHK_WESLW_RecordType]
GO
