USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IndicationModifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]'))
ALTER TABLE [dbo].[IndicationModifiers] DROP CONSTRAINT [CHK_IndicationModifiers_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IndicationModifiers_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]'))
ALTER TABLE [dbo].[IndicationModifiers] DROP CONSTRAINT [CHK_IndicationModifiers_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]') AND type in (N'U'))
DROP TABLE [dbo].[IndicationModifiers]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IndicationModifiers](
	[PolicyKey] [int] NOT NULL,
	[ModifierKey] [int] NOT NULL,
	[Percentage] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IndicationModifiers_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]'))
ALTER TABLE [dbo].[IndicationModifiers]  WITH NOCHECK ADD  CONSTRAINT [CHK_IndicationModifiers_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IndicationModifiers_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]'))
ALTER TABLE [dbo].[IndicationModifiers] CHECK CONSTRAINT [CHK_IndicationModifiers_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IndicationModifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]'))
ALTER TABLE [dbo].[IndicationModifiers]  WITH CHECK ADD  CONSTRAINT [CHK_IndicationModifiers_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IndicationModifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[IndicationModifiers]'))
ALTER TABLE [dbo].[IndicationModifiers] CHECK CONSTRAINT [CHK_IndicationModifiers_RecordType]
GO
