USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageDocumentLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]'))
ALTER TABLE [dbo].[BrokerageDocumentLW] DROP CONSTRAINT [CHK_BrokerageDocumentLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageDocumentLW_FK_BrokeragePolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]'))
ALTER TABLE [dbo].[BrokerageDocumentLW] DROP CONSTRAINT [CHK_BrokerageDocumentLW_FK_BrokeragePolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]') AND type in (N'U'))
DROP TABLE [dbo].[BrokerageDocumentLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BrokerageDocumentLW](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[BrokeragePolicyKey] [int] NULL,
	[DocTitle] [varchar](100) NULL,
	[Comment] [varchar](8000) NULL,
	[DocFileName] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[DocUrl] [varchar](1000) NULL,
	[UploadedTime] [datetime] NULL,
	[DocType] [varchar](100) NULL,
	[UploadedType] [varchar](100) NULL,
	[AccountID] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageDocumentLW_FK_BrokeragePolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]'))
ALTER TABLE [dbo].[BrokerageDocumentLW]  WITH CHECK ADD  CONSTRAINT [CHK_BrokerageDocumentLW_FK_BrokeragePolicyKey] FOREIGN KEY([BrokeragePolicyKey])
REFERENCES [dbo].[BrokerageLW] ([BrokeragePolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageDocumentLW_FK_BrokeragePolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]'))
ALTER TABLE [dbo].[BrokerageDocumentLW] CHECK CONSTRAINT [CHK_BrokerageDocumentLW_FK_BrokeragePolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageDocumentLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]'))
ALTER TABLE [dbo].[BrokerageDocumentLW]  WITH CHECK ADD  CONSTRAINT [CHK_BrokerageDocumentLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageDocumentLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageDocumentLW]'))
ALTER TABLE [dbo].[BrokerageDocumentLW] CHECK CONSTRAINT [CHK_BrokerageDocumentLW_RecordType]
GO
