USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValueACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]'))
ALTER TABLE [dbo].[SmartSearchValueACC] DROP CONSTRAINT [CHK_SmartSearchValueACC_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValueACC_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]'))
ALTER TABLE [dbo].[SmartSearchValueACC] DROP CONSTRAINT [CHK_SmartSearchValueACC_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]') AND type in (N'U'))
DROP TABLE [dbo].[SmartSearchValueACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SmartSearchValueACC](
	[SmartSearchID] [int] IDENTITY(1,1) NOT NULL,
	[AOPKey] [int] NULL,
	[PolicyKey] [int] NULL,
	[Percentage] [int] NULL,
	[PercentageOld] [int] NULL,
	[IsEdit] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValueACC_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]'))
ALTER TABLE [dbo].[SmartSearchValueACC]  WITH NOCHECK ADD  CONSTRAINT [CHK_SmartSearchValueACC_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValueACC_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]'))
ALTER TABLE [dbo].[SmartSearchValueACC] CHECK CONSTRAINT [CHK_SmartSearchValueACC_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValueACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]'))
ALTER TABLE [dbo].[SmartSearchValueACC]  WITH CHECK ADD  CONSTRAINT [CHK_SmartSearchValueACC_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearchValueACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearchValueACC]'))
ALTER TABLE [dbo].[SmartSearchValueACC] CHECK CONSTRAINT [CHK_SmartSearchValueACC_RecordType]
GO
