USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearch_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearch]'))
ALTER TABLE [dbo].[SmartSearch] DROP CONSTRAINT [CHK_SmartSearch_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearch]') AND type in (N'U'))
DROP TABLE [dbo].[SmartSearch]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SmartSearch]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SmartSearch](
	[Keyword] [varchar](100) NULL,
	[AOPKey] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[SmartSearch] ADD [KeyWordType] [varchar](10) NULL
ALTER TABLE [dbo].[SmartSearch] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[SmartSearch] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[SmartSearch] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[SmartSearch] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[SmartSearch] ADD [CreatedBy] [int] NULL
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearch_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearch]'))
ALTER TABLE [dbo].[SmartSearch]  WITH CHECK ADD  CONSTRAINT [CHK_SmartSearch_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SmartSearch_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SmartSearch]'))
ALTER TABLE [dbo].[SmartSearch] CHECK CONSTRAINT [CHK_SmartSearch_RecordType]
GO
