USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Coverages_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Coverages]'))
ALTER TABLE [dbo].[Coverages] DROP CONSTRAINT [CHK_Coverages_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Coverages]'))
ALTER TABLE [dbo].[Coverages] DROP CONSTRAINT [R_6]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Coverages]') AND type in (N'U'))
DROP TABLE [dbo].[Coverages]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Coverages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Coverages](
	[CoverageKey] [int] IDENTITY(1,1) NOT NULL,
	[CoverageDesc] [varchar](20) NULL,
	[LOBKey] [int] NULL,
	[CoverageAbreviation] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKCoverages] PRIMARY KEY CLUSTERED 
(
	[CoverageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Coverages]'))
ALTER TABLE [dbo].[Coverages]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([LOBKey])
REFERENCES [dbo].[LOB] ([LOBKey])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Coverages]'))
ALTER TABLE [dbo].[Coverages] CHECK CONSTRAINT [R_6]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Coverages_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Coverages]'))
ALTER TABLE [dbo].[Coverages]  WITH CHECK ADD  CONSTRAINT [CHK_Coverages_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Coverages_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Coverages]'))
ALTER TABLE [dbo].[Coverages] CHECK CONSTRAINT [CHK_Coverages_RecordType]
GO
