USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] DROP CONSTRAINT [CHK_CommentDetail_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CommentDe__Polic__4EA8A765]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] DROP CONSTRAINT [FK__CommentDe__Polic__4EA8A765]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CommentDe__Comme__0E79DF0E]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] DROP CONSTRAINT [FK__CommentDe__Comme__0E79DF0E]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] DROP CONSTRAINT [CHK_CommentDetail_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] DROP CONSTRAINT [CHK_CommentDetail_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommentDetail]') AND type in (N'U'))
DROP TABLE [dbo].[CommentDetail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommentDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CommentDetail](
	[CommentKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[CommentUploaded] [varchar](8000) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[CommentUploadedBy] [varchar](20) NULL,
	[UploadedTime] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
	[CommentTypeKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentKey] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail]  WITH CHECK ADD  CONSTRAINT [CHK_CommentDetail_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] CHECK CONSTRAINT [CHK_CommentDetail_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail]  WITH NOCHECK ADD  CONSTRAINT [CHK_CommentDetail_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] CHECK CONSTRAINT [CHK_CommentDetail_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CommentDe__Comme__0E79DF0E]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail]  WITH CHECK ADD FOREIGN KEY([CommentTypeKey])
REFERENCES [dbo].[CommentType] ([CommentTypeKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CommentDe__Polic__4EA8A765]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail]  WITH CHECK ADD  CONSTRAINT [CHK_CommentDetail_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentDetail]'))
ALTER TABLE [dbo].[CommentDetail] CHECK CONSTRAINT [CHK_CommentDetail_RecordType]
GO
