USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StatusCleanerLogs_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StatusCleanerLogs]'))
ALTER TABLE [dbo].[StatusCleanerLogs] DROP CONSTRAINT [CHK_StatusCleanerLogs_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__StatusCle__Recor__6E57283F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[StatusCleanerLogs] DROP CONSTRAINT [DF__StatusCle__Recor__6E57283F]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusCleanerLogs]') AND type in (N'U'))
DROP TABLE [dbo].[StatusCleanerLogs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusCleanerLogs]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StatusCleanerLogs](
	[PolicyKey] [nchar](10) NOT NULL,
	[Policyeffectivedate] [datetime] NOT NULL,
	[StatusKey] [int] NOT NULL,
	[MarketproductKey] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[comment] [nvarchar](50) NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__StatusCle__Recor__6E57283F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[StatusCleanerLogs] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StatusCleanerLogs_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StatusCleanerLogs]'))
ALTER TABLE [dbo].[StatusCleanerLogs]  WITH CHECK ADD  CONSTRAINT [CHK_StatusCleanerLogs_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StatusCleanerLogs_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StatusCleanerLogs]'))
ALTER TABLE [dbo].[StatusCleanerLogs] CHECK CONSTRAINT [CHK_StatusCleanerLogs_RecordType]
GO
