USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyFormLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW] DROP CONSTRAINT [CHK_PolicyFormLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyFor__Polic__7993056A]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW] DROP CONSTRAINT [FK__PolicyFor__Polic__7993056A]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyFormLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW] DROP CONSTRAINT [CHK_PolicyFormLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]') AND type in (N'U'))
DROP TABLE [dbo].[PolicyFormLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicyFormLW](
	[FormID] [varchar](50) NOT NULL,
	[StateCode] [varchar](20) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[FormName] [varchar](100) NULL,
	[FormDesc] [varchar](1000) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[FormFooter] [varchar](50) NULL,
	[FormType] [char](1) NULL,
	[FormSequence] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormID] ASC,
	[StateCode] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyFormLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyFormLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyFormLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW] CHECK CONSTRAINT [CHK_PolicyFormLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyFor__Polic__7993056A]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyFormLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyFormLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyFormLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyFormLW]'))
ALTER TABLE [dbo].[PolicyFormLW] CHECK CONSTRAINT [CHK_PolicyFormLW_RecordType]
GO
