USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PricingComment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PricingComment]'))
ALTER TABLE [dbo].[PricingComment] DROP CONSTRAINT [CHK_PricingComment_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PricingComment_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PricingComment]'))
ALTER TABLE [dbo].[PricingComment] DROP CONSTRAINT [CHK_PricingComment_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PricingComment]') AND type in (N'U'))
DROP TABLE [dbo].[PricingComment]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PricingComment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PricingComment](
	[PricingCommentID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[PricingComment] [varchar](500) NULL,
	[ActionTakenBy] [int] NULL,
	[TimeStamp] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[PricingComment] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[PricingComment] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[PricingComment] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[PricingComment] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[PricingComment] ADD [CreatedBy] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[PricingCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PricingComment_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PricingComment]'))
ALTER TABLE [dbo].[PricingComment]  WITH CHECK ADD  CONSTRAINT [CHK_PricingComment_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PricingComment_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PricingComment]'))
ALTER TABLE [dbo].[PricingComment] CHECK CONSTRAINT [CHK_PricingComment_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PricingComment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PricingComment]'))
ALTER TABLE [dbo].[PricingComment]  WITH CHECK ADD  CONSTRAINT [CHK_PricingComment_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PricingComment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PricingComment]'))
ALTER TABLE [dbo].[PricingComment] CHECK CONSTRAINT [CHK_PricingComment_RecordType]
GO
