USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiersRange_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiersRange]'))
ALTER TABLE [dbo].[CoverageModifiersRange] DROP CONSTRAINT [CHK_CoverageModifiersRange_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoverageModifiersRange]') AND type in (N'U'))
DROP TABLE [dbo].[CoverageModifiersRange]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoverageModifiersRange]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CoverageModifiersRange](
	[ModifierRangeKey] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [varchar](20) NULL,
	[MarketableProductKey] [int] NULL,
	[LowestModifier] [int] NULL,
	[HighestModifiers] [int] NULL,
	[EffectiveDate] [datetime] NULL,
	[QuoteType] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiersRange_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiersRange]'))
ALTER TABLE [dbo].[CoverageModifiersRange]  WITH CHECK ADD  CONSTRAINT [CHK_CoverageModifiersRange_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiersRange_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiersRange]'))
ALTER TABLE [dbo].[CoverageModifiersRange] CHECK CONSTRAINT [CHK_CoverageModifiersRange_RecordType]
GO
