USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokeragePaymentTypeLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePaymentTypeLKU]'))
ALTER TABLE [dbo].[BrokeragePaymentTypeLKU] DROP CONSTRAINT [CHK_BrokeragePaymentTypeLKU_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePaymentTypeLKU]') AND type in (N'U'))
DROP TABLE [dbo].[BrokeragePaymentTypeLKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePaymentTypeLKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BrokeragePaymentTypeLKU](
	[BPaymentTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[BPayementTypeDesc] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokeragePaymentTypeLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePaymentTypeLKU]'))
ALTER TABLE [dbo].[BrokeragePaymentTypeLKU]  WITH CHECK ADD  CONSTRAINT [CHK_BrokeragePaymentTypeLKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokeragePaymentTypeLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePaymentTypeLKU]'))
ALTER TABLE [dbo].[BrokeragePaymentTypeLKU] CHECK CONSTRAINT [CHK_BrokeragePaymentTypeLKU_RecordType]
GO
