USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Broker_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Broker_lku]'))
ALTER TABLE [dbo].[Broker_lku] DROP CONSTRAINT [CHK_Broker_lku_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Broker_lku]') AND type in (N'U'))
DROP TABLE [dbo].[Broker_lku]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Broker_lku]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Broker_lku](
	[BrokerKey] [int] IDENTITY(1,1) NOT NULL,
	[BrokerDesc] [varchar](200) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[NB_Percentage] [numeric](10, 2) NULL,
	[Renewal_Percentage] [numeric](10, 2) NULL,
	[isArchived] [varchar](20) NULL CONSTRAINT [df_BRisArchived_defaultvalue_0]  DEFAULT ('False'),
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Broker_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Broker_lku]'))
ALTER TABLE [dbo].[Broker_lku]  WITH CHECK ADD  CONSTRAINT [CHK_Broker_lku_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Broker_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Broker_lku]'))
ALTER TABLE [dbo].[Broker_lku] CHECK CONSTRAINT [CHK_Broker_lku_RecordType]
GO
