USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RatingTrace_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace] DROP CONSTRAINT [CHK_RatingTrace_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RatingTrace__0662F0A3]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace] DROP CONSTRAINT [FK__RatingTrace__0662F0A3]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RatingTrace_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace] DROP CONSTRAINT [CHK_RatingTrace_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RatingTrace]') AND type in (N'U'))
DROP TABLE [dbo].[RatingTrace]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RatingTrace]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RatingTrace](
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[RatingTraceSequence] [int] IDENTITY(1,1) NOT NULL,
	[XmlInputDatatoRating] [varchar](8000) NULL,
	[XmlOutputDatafromRating] [varchar](8000) NULL,
	[RatingDate] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[TransactionSequence] ASC,
	[RatingTraceSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RatingTrace_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace]  WITH CHECK ADD  CONSTRAINT [CHK_RatingTrace_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RatingTrace_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace] CHECK CONSTRAINT [CHK_RatingTrace_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RatingTrace__0662F0A3]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [TransactionSequence])
REFERENCES [dbo].[PolicyTransaction] ([PolicyKey], [TransactionSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RatingTrace_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace]  WITH CHECK ADD  CONSTRAINT [CHK_RatingTrace_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RatingTrace_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RatingTrace]'))
ALTER TABLE [dbo].[RatingTrace] CHECK CONSTRAINT [CHK_RatingTrace_RecordType]
GO
