USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] DROP CONSTRAINT [CHK_TaxSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_551]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] DROP CONSTRAINT [R_551]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] DROP CONSTRAINT [CHK_TaxSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] DROP CONSTRAINT [CHK_TaxSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[TaxSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TaxSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsApplDesignedTaxShelter] [char](1) NULL,
	[IsIRSChallenged] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsApplInvInPrivMemo] [char](1) NULL,
	[PlacementMemoDetails] [varchar](200) NULL,
	[IsApplSubjOfFedState] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKTaxSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_TaxSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] CHECK CONSTRAINT [CHK_TaxSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_TaxSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] CHECK CONSTRAINT [CHK_TaxSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_551]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW]  WITH CHECK ADD  CONSTRAINT [R_551] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_551]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] CHECK CONSTRAINT [R_551]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_TaxSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLW]'))
ALTER TABLE [dbo].[TaxSuppLW] CHECK CONSTRAINT [CHK_TaxSuppLW_RecordType]
GO
