USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Email_Event_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Email_Event_lku]'))
ALTER TABLE [dbo].[Email_Event_lku] DROP CONSTRAINT [CHK_Email_Event_lku_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Email_Event_lku]') AND type in (N'U'))
DROP TABLE [dbo].[Email_Event_lku]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Email_Event_lku]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Email_Event_lku](
	[EmailEventID] [int] IDENTITY(1,1) NOT NULL,
	[RecordType] [varchar](20) NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[event_name] [varchar](100) NULL,
	[event_code] [varchar](100) NULL,
	[event_description] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Email_Event_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Email_Event_lku]'))
ALTER TABLE [dbo].[Email_Event_lku]  WITH CHECK ADD  CONSTRAINT [CHK_Email_Event_lku_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Email_Event_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Email_Event_lku]'))
ALTER TABLE [dbo].[Email_Event_lku] CHECK CONSTRAINT [CHK_Email_Event_lku_RecordType]
GO
