USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] DROP CONSTRAINT [CHK_AreaOfPractice_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] DROP CONSTRAINT [R_5]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AreaOfPractice_Firm]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] DROP CONSTRAINT [FK_AreaOfPractice_Firm]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] DROP CONSTRAINT [CHK_AreaOfPractice_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] DROP CONSTRAINT [CHK_AreaOfPractice_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfPractice]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfPractice](
	[AOPKey] [int] NOT NULL,
	[PercentageValue] [int] NULL,
	[AOPCommentDesc] [varchar](8000) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_AreaOfPractice] PRIMARY KEY CLUSTERED 
(
	[AOPKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPractice_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] CHECK CONSTRAINT [CHK_AreaOfPractice_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfPractice_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] CHECK CONSTRAINT [CHK_AreaOfPractice_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AreaOfPractice_Firm]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice]  WITH CHECK ADD  CONSTRAINT [FK_AreaOfPractice_Firm] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AreaOfPractice_Firm]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] CHECK CONSTRAINT [FK_AreaOfPractice_Firm]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([AOPKey])
REFERENCES [dbo].[AOP] ([AOPKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] CHECK CONSTRAINT [R_5]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPractice_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPractice_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPractice]'))
ALTER TABLE [dbo].[AreaOfPractice] CHECK CONSTRAINT [CHK_AreaOfPractice_RecordType]
GO
