USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [CHK_BreakdownOfIntellPropLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_602]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [R_602]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_601]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [R_601]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [CHK_BreakdownOfIntellPropLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [CHK_BreakdownOfIntellPropLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Breakdown__Versi__17E34DB7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [DF__Breakdown__Versi__17E34DB7]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Breakdown__Recor__57A8CD11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] DROP CONSTRAINT [DF__Breakdown__Recor__57A8CD11]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]') AND type in (N'U'))
DROP TABLE [dbo].[BreakdownOfIntellPropLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BreakdownOfIntellPropLW](
	[PercentageValue] [int] NULL,
	[BOIPKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKBreakdownOfIntellPropLW] PRIMARY KEY CLUSTERED 
(
	[BOIPKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Breakdown__Recor__57A8CD11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Breakdown__Versi__17E34DB7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW]  WITH CHECK ADD  CONSTRAINT [CHK_BreakdownOfIntellPropLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] CHECK CONSTRAINT [CHK_BreakdownOfIntellPropLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_BreakdownOfIntellPropLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] CHECK CONSTRAINT [CHK_BreakdownOfIntellPropLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_601]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW]  WITH CHECK ADD  CONSTRAINT [R_601] FOREIGN KEY([BOIPKey])
REFERENCES [dbo].[BOIPLW] ([BOIPKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_601]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] CHECK CONSTRAINT [R_601]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_602]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW]  WITH CHECK ADD  CONSTRAINT [R_602] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[IntellectualPropSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_602]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] CHECK CONSTRAINT [R_602]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW]  WITH CHECK ADD  CONSTRAINT [CHK_BreakdownOfIntellPropLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BreakdownOfIntellPropLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BreakdownOfIntellPropLW]'))
ALTER TABLE [dbo].[BreakdownOfIntellPropLW] CHECK CONSTRAINT [CHK_BreakdownOfIntellPropLW_RecordType]
GO
