USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DisciplinaryInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo] DROP CONSTRAINT [CHK_DisciplinaryInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Versi__5946FCC0]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo] DROP CONSTRAINT [FK__Disciplin__Versi__5946FCC0]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Polic__5852D887]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo] DROP CONSTRAINT [FK__Disciplin__Polic__5852D887]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Disciplin__Creat__5A3B20F9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DisciplinaryInfo] DROP CONSTRAINT [DF__Disciplin__Creat__5A3B20F9]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]') AND type in (N'U'))
DROP TABLE [dbo].[DisciplinaryInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DisciplinaryInfo](
	[DisciplinaryInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[ComplainantName] [varchar](50) NULL,
	[IsComplainantClient] [varchar](50) NULL,
	[IsComplainantThirdParty] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisciplinaryInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Disciplin__Creat__5A3B20F9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DisciplinaryInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Polic__5852D887]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Versi__5946FCC0]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DisciplinaryInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo]  WITH CHECK ADD  CONSTRAINT [CHK_DisciplinaryInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DisciplinaryInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DisciplinaryInfo]'))
ALTER TABLE [dbo].[DisciplinaryInfo] CHECK CONSTRAINT [CHK_DisciplinaryInfo_RecordType]
GO
