USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateBreakdown_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown] DROP CONSTRAINT [CHK_RealEstateBreakdown_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Versi__18385372]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown] DROP CONSTRAINT [FK__RealEstat__Versi__18385372]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Polic__17442F39]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown] DROP CONSTRAINT [FK__RealEstat__Polic__17442F39]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RealEstat__Creat__192C77AB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RealEstateBreakdown] DROP CONSTRAINT [DF__RealEstat__Creat__192C77AB]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]') AND type in (N'U'))
DROP TABLE [dbo].[RealEstateBreakdown]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RealEstateBreakdown](
	[RealEstateBreakdownKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[RealEstBreakdown] [varchar](500) NULL,
	[RealEstPercentageValue] [int] NULL,
	[RealEstAverageValue] [varchar](200) NULL,
	[RealEstHighestValue] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RealEstateBreakdownKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RealEstat__Creat__192C77AB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RealEstateBreakdown] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Polic__17442F39]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Versi__18385372]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateBreakdown_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown]  WITH CHECK ADD  CONSTRAINT [CHK_RealEstateBreakdown_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateBreakdown_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateBreakdown]'))
ALTER TABLE [dbo].[RealEstateBreakdown] CHECK CONSTRAINT [CHK_RealEstateBreakdown_RecordType]
GO
