USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] DROP CONSTRAINT [CHK_WillsEstateServicesLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WillsEstateServicesLW_WESLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] DROP CONSTRAINT [FK_WillsEstateServicesLW_WESLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WillsEstateServicesLW_FirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] DROP CONSTRAINT [FK_WillsEstateServicesLW_FirmLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] DROP CONSTRAINT [CHK_WillsEstateServicesLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] DROP CONSTRAINT [CHK_WillsEstateServicesLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]') AND type in (N'U'))
DROP TABLE [dbo].[WillsEstateServicesLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WillsEstateServicesLW](
	[WESKey] [int] NOT NULL,
	[CheckedValue] [char](1) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[WESCommentDesc] [varchar](500) NULL,
	[PercentageValue] [int] NULL DEFAULT (NULL),
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_WillsEstateServicesLW] PRIMARY KEY CLUSTERED 
(
	[WESKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW]  WITH CHECK ADD  CONSTRAINT [CHK_WillsEstateServicesLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] CHECK CONSTRAINT [CHK_WillsEstateServicesLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_WillsEstateServicesLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] CHECK CONSTRAINT [CHK_WillsEstateServicesLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WillsEstateServicesLW_FirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW]  WITH CHECK ADD  CONSTRAINT [FK_WillsEstateServicesLW_FirmLW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WillsEstateServicesLW_FirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] CHECK CONSTRAINT [FK_WillsEstateServicesLW_FirmLW]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WillsEstateServicesLW_WESLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW]  WITH CHECK ADD  CONSTRAINT [FK_WillsEstateServicesLW_WESLW] FOREIGN KEY([WESKey])
REFERENCES [dbo].[WESLW] ([WESKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WillsEstateServicesLW_WESLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] CHECK CONSTRAINT [FK_WillsEstateServicesLW_WESLW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW]  WITH CHECK ADD  CONSTRAINT [CHK_WillsEstateServicesLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateServicesLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateServicesLW]'))
ALTER TABLE [dbo].[WillsEstateServicesLW] CHECK CONSTRAINT [CHK_WillsEstateServicesLW_RecordType]
GO
