USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceCompany_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceCompany]'))
ALTER TABLE [dbo].[InsuranceCompany] DROP CONSTRAINT [CHK_InsuranceCompany_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceCompany]') AND type in (N'U'))
DROP TABLE [dbo].[InsuranceCompany]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceCompany]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[InsuranceCompany](
	[InsuranceCompanyKey] [int] IDENTITY(1,1) NOT NULL,
	[InsuranceCompanyDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKInsuranceCompany] PRIMARY KEY CLUSTERED 
(
	[InsuranceCompanyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceCompany_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceCompany]'))
ALTER TABLE [dbo].[InsuranceCompany]  WITH CHECK ADD  CONSTRAINT [CHK_InsuranceCompany_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceCompany_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceCompany]'))
ALTER TABLE [dbo].[InsuranceCompany] CHECK CONSTRAINT [CHK_InsuranceCompany_RecordType]
GO
