USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails] DROP CONSTRAINT [CHK_ErpEndorsementDetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails] DROP CONSTRAINT [CHK_ErpEndorsementDetails_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails] DROP CONSTRAINT [CHK_ErpEndorsementDetails_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ErpEndorsementDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ErpEndorsementDetails](
	[ErpKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[TransactionSequence] [int] NULL,
	[EndorsementEffectiveDate] [datetime] NULL,
	[isAttorneyRetiring] [char](1) NULL,
	[AttorneyKey] [int] NULL,
	[ceasedDate] [datetime] NULL,
	[isInsuredWithUsFromPast] [char](1) NULL,
	[practicePortitonOfAttorney] [int] NULL,
	[isDeathDisabilityERP] [char](1) NULL,
	[deathDisabilityFirmOrAttorneyName] [varchar](500) NULL,
	[deathDiablityCeasedDate] [datetime] NULL,
	[isFirmERP] [char](1) NULL,
	[yearsOfERP] [int] NULL,
	[ERPPremium] [numeric](15, 2) NULL,
	[ERPTax] [numeric](15, 2) NULL,
	[ERPTotalPremium] [numeric](15, 2) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[ERPExpirationDate] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails]  WITH CHECK ADD  CONSTRAINT [CHK_ErpEndorsementDetails_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails] CHECK CONSTRAINT [CHK_ErpEndorsementDetails_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_ErpEndorsementDetails_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails] CHECK CONSTRAINT [CHK_ErpEndorsementDetails_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails]  WITH CHECK ADD  CONSTRAINT [CHK_ErpEndorsementDetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ErpEndorsementDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ErpEndorsementDetails]'))
ALTER TABLE [dbo].[ErpEndorsementDetails] CHECK CONSTRAINT [CHK_ErpEndorsementDetails_RecordType]
GO
