USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLaw_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw] DROP CONSTRAINT [CHK_FamilyLaw_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Versi__702A6218]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw] DROP CONSTRAINT [FK__FamilyLaw__Versi__702A6218]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Polic__6F363DDF]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw] DROP CONSTRAINT [FK__FamilyLaw__Polic__6F363DDF]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FamilyLaw__Creat__711E8651]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FamilyLaw] DROP CONSTRAINT [DF__FamilyLaw__Creat__711E8651]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLaw]') AND type in (N'U'))
DROP TABLE [dbo].[FamilyLaw]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLaw]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FamilyLaw](
	[FamilyLawKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[FamilyLawNumbLawyersInFirm] [int] NULL,
	[FamilyLawAvgYrExp] [int] NULL,
	[FamilyLawSurrogacyService] [varchar](50) NULL,
	[FamilyLawSurrogacyServiceDesc] [varchar](500) NULL,
	[FamilyLawOneLargestMaritalAssets] [varchar](200) NULL,
	[FamilyLawTwoLargestMaritalAssets] [varchar](200) NULL,
	[FamilyLawThreeLargestMaritalAssets] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FamilyLawKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FamilyLaw__Creat__711E8651]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FamilyLaw] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Polic__6F363DDF]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Versi__702A6218]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLaw_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw]  WITH CHECK ADD  CONSTRAINT [CHK_FamilyLaw_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLaw_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLaw]'))
ALTER TABLE [dbo].[FamilyLaw] CHECK CONSTRAINT [CHK_FamilyLaw_RecordType]
GO
