USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CountyLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountyLW]'))
ALTER TABLE [dbo].[CountyLW] DROP CONSTRAINT [CHK_CountyLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CountyLW__StateC__7C6F7215]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountyLW]'))
ALTER TABLE [dbo].[CountyLW] DROP CONSTRAINT [FK__CountyLW__StateC__7C6F7215]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CountyLW]') AND type in (N'U'))
DROP TABLE [dbo].[CountyLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CountyLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CountyLW](
	[CountyKey] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[CountyDesc] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CountyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CountyLW__StateC__7C6F7215]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountyLW]'))
ALTER TABLE [dbo].[CountyLW]  WITH CHECK ADD FOREIGN KEY([StateCode])
REFERENCES [dbo].[State] ([StateCode])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CountyLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountyLW]'))
ALTER TABLE [dbo].[CountyLW]  WITH CHECK ADD  CONSTRAINT [CHK_CountyLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CountyLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountyLW]'))
ALTER TABLE [dbo].[CountyLW] CHECK CONSTRAINT [CHK_CountyLW_RecordType]
GO
