USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2311]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [R_2311]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1111]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [R_1111]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Versi__43C1CFF5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [DF__NonPublic__Versi__43C1CFF5]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Recor__32423E38]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] DROP CONSTRAINT [DF__NonPublic__Recor__32423E38]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]') AND type in (N'U'))
DROP TABLE [dbo].[NonPublicAuditClientIndustryDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NonPublicAuditClientIndustryDetails](
	[NonPublicAuditClientIndustryKey] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKNonPublicAuditClientIndustryDetails] PRIMARY KEY CLUSTERED 
(
	[NonPublicAuditClientIndustryKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Recor__32423E38]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Versi__43C1CFF5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails]  WITH CHECK ADD  CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] CHECK CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] CHECK CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1111]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails]  WITH CHECK ADD  CONSTRAINT [R_1111] FOREIGN KEY([NonPublicAuditClientIndustryKey])
REFERENCES [dbo].[NonPubliceAuditClientIndustry] ([NonPublicAuditClientIndustryKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1111]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] CHECK CONSTRAINT [R_1111]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2311]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails]  WITH CHECK ADD  CONSTRAINT [R_2311] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2311]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] CHECK CONSTRAINT [R_2311]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails]  WITH CHECK ADD  CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditClientIndustryDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditClientIndustryDetails]'))
ALTER TABLE [dbo].[NonPublicAuditClientIndustryDetails] CHECK CONSTRAINT [CHK_NonPublicAuditClientIndustryDetails_RecordType]
GO
