USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] DROP CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] DROP CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] DROP CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__dummyGros__Versi__2449249C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] DROP CONSTRAINT [DF__dummyGros__Versi__2449249C]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__dummyGros__Recor__00AAE2A4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] DROP CONSTRAINT [DF__dummyGros__Recor__00AAE2A4]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[dummyGrossRevenueForFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[dummyGrossRevenueForFirmLW](
	[GrossRevenueKey] [int] NOT NULL,
	[YearEndDate] [varchar](7) NULL,
	[Amount] [varchar](100) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD [RecordType] [char](1) NOT NULL
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD [VersionKey] [int] NOT NULL
 CONSTRAINT [dummyXPKGrossRevenueForFirm_LW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[GrossRevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__dummyGros__Recor__00AAE2A4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__dummyGros__Versi__2449249C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] CHECK CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] CHECK CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_dummyGrossRevenueForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[dummyGrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[dummyGrossRevenueForFirmLW] CHECK CONSTRAINT [CHK_dummyGrossRevenueForFirmLW_RecordType]
GO
