USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LossInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation] DROP CONSTRAINT [CHK_LossInformation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Versi__3A8D6B76]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation] DROP CONSTRAINT [FK__LossInfor__Versi__3A8D6B76]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Polic__3999473D]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation] DROP CONSTRAINT [FK__LossInfor__Polic__3999473D]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__LossInfor__Creat__3B818FAF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LossInformation] DROP CONSTRAINT [DF__LossInfor__Creat__3B818FAF]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LossInformation]') AND type in (N'U'))
DROP TABLE [dbo].[LossInformation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LossInformation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LossInformation](
	[LossInformationKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InsuranceCurrentCarrier] [varchar](50) NULL,
	[FirmElectedERP] [varchar](500) NULL,
	[ProfessionalLiabilityClaimOrSuit] [varchar](50) NULL,
	[NumberofPLClaimOrSuit] [int] NULL,
	[NegligentOmissionClaimOrSuit] [varchar](50) NULL,
	[DisciplinaryInquiry] [varchar](50) NULL,
	[AdmissionToPractice] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LossInformationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__LossInfor__Creat__3B818FAF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LossInformation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Polic__3999473D]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Versi__3A8D6B76]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LossInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation]  WITH CHECK ADD  CONSTRAINT [CHK_LossInformation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LossInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformation]'))
ALTER TABLE [dbo].[LossInformation] CHECK CONSTRAINT [CHK_LossInformation_RecordType]
GO
