USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] DROP CONSTRAINT [CHK_FinancialInstSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_556]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] DROP CONSTRAINT [R_556]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] DROP CONSTRAINT [CHK_FinancialInstSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] DROP CONSTRAINT [CHK_FinancialInstSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[FinancialInstSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FinancialInstSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsApplPerformServiceToBankruptcy] [char](1) NULL,
	[IsApplServedAsCEOCouncel] [char](1) NULL,
	[IsFinanInstProvideAggrement] [char](1) NULL,
	[IsApplHadEquityInterest] [char](1) NULL,
	[IsApplClientDeclaredInsolvent] [char](1) NULL,
	[IsApplProvideServToCompliance] [char](1) NULL,
	[InterestOrCommAmounts] [varchar](500) NULL,
	[IsAppHaveKnwOfFidilityOff] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKFinantialInstSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] CHECK CONSTRAINT [CHK_FinancialInstSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FinancialInstSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] CHECK CONSTRAINT [CHK_FinancialInstSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_556]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW]  WITH CHECK ADD  CONSTRAINT [R_556] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_556]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] CHECK CONSTRAINT [R_556]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstSuppLW]'))
ALTER TABLE [dbo].[FinancialInstSuppLW] CHECK CONSTRAINT [CHK_FinancialInstSuppLW_RecordType]
GO
