USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers] DROP CONSTRAINT [CHK_CoverageModifiers_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CoverageModifier__02925FBF]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers] DROP CONSTRAINT [FK__CoverageModifier__02925FBF]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CoverageM__Modif__038683F8]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers] DROP CONSTRAINT [FK__CoverageM__Modif__038683F8]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiers_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers] DROP CONSTRAINT [CHK_CoverageModifiers_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]') AND type in (N'U'))
DROP TABLE [dbo].[CoverageModifiers]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CoverageModifiers](
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[CoverageSequence] [int] NOT NULL,
	[ModifierKey] [int] NOT NULL,
	[Percentage] [int] NULL,
	[Comment] [varchar](8000) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RenewalPercentage] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[TransactionSequence] ASC,
	[CoverageSequence] ASC,
	[ModifierKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiers_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers]  WITH CHECK ADD  CONSTRAINT [CHK_CoverageModifiers_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiers_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers] CHECK CONSTRAINT [CHK_CoverageModifiers_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CoverageM__Modif__038683F8]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers]  WITH CHECK ADD FOREIGN KEY([ModifierKey])
REFERENCES [dbo].[Modifiers] ([ModifierKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CoverageModifier__02925FBF]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [TransactionSequence], [CoverageSequence])
REFERENCES [dbo].[PolicyCoverage] ([PolicyKey], [TransactionSequence], [CoverageSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers]  WITH CHECK ADD  CONSTRAINT [CHK_CoverageModifiers_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CoverageModifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CoverageModifiers]'))
ALTER TABLE [dbo].[CoverageModifiers] CHECK CONSTRAINT [CHK_CoverageModifiers_RecordType]
GO
