USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW] DROP CONSTRAINT [CHK_BankruptcyCasesDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW] DROP CONSTRAINT [CHK_BankruptcyCasesDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW] DROP CONSTRAINT [CHK_BankruptcyCasesDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[BankruptcyCasesDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BankruptcyCasesDetailsLW](
	[bankruptcyKey] [int] NULL,
	[Debtor] [int] NULL,
	[Creditor] [int] NULL,
	[Trustee] [int] NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_BankruptcyCasesDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW] CHECK CONSTRAINT [CHK_BankruptcyCasesDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_BankruptcyCasesDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW] CHECK CONSTRAINT [CHK_BankruptcyCasesDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_BankruptcyCasesDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW]'))
ALTER TABLE [dbo].[BankruptcyCasesDetailsLW] CHECK CONSTRAINT [CHK_BankruptcyCasesDetailsLW_RecordType]
GO
