USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LargestClientsInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo] DROP CONSTRAINT [CHK_LargestClientsInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LargestCl__Versi__68543626]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo] DROP CONSTRAINT [FK__LargestCl__Versi__68543626]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LargestCl__Polic__676011ED]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo] DROP CONSTRAINT [FK__LargestCl__Polic__676011ED]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__LargestCl__Creat__69485A5F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LargestClientsInfo] DROP CONSTRAINT [DF__LargestCl__Creat__69485A5F]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]') AND type in (N'U'))
DROP TABLE [dbo].[LargestClientsInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LargestClientsInfo](
	[LargestClientsInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[LargestClientName] [varchar](200) NULL,
	[LargestClientIndustry] [varchar](200) NULL,
	[LargestClientAOP] [varchar](200) NULL,
	[AnnualBillingPercentage] [int] NULL,
	[LargestCaseValue] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LargestClientsInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__LargestCl__Creat__69485A5F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LargestClientsInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LargestCl__Polic__676011ED]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LargestCl__Versi__68543626]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LargestClientsInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo]  WITH CHECK ADD  CONSTRAINT [CHK_LargestClientsInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LargestClientsInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LargestClientsInfo]'))
ALTER TABLE [dbo].[LargestClientsInfo] CHECK CONSTRAINT [CHK_LargestClientsInfo_RecordType]
GO
