USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo] DROP CONSTRAINT [CHK_FinancialInstitutionInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Financial__Versi__7B9C14C4]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo] DROP CONSTRAINT [FK__Financial__Versi__7B9C14C4]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Financial__Polic__7AA7F08B]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo] DROP CONSTRAINT [FK__Financial__Polic__7AA7F08B]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Financial__Creat__7C9038FD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FinancialInstitutionInfo] DROP CONSTRAINT [DF__Financial__Creat__7C9038FD]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]') AND type in (N'U'))
DROP TABLE [dbo].[FinancialInstitutionInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FinancialInstitutionInfo](
	[FinancialInstitutionInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[FinancialInstitutionName] [varchar](200) NULL,
	[FdiCorNCUA] [varchar](50) NULL,
	[FinancialInstClientPositionsHeld] [varchar](200) NULL,
	[EquityInterest] [int] NULL,
	[LoanApprovalInvolvement] [varchar](50) NULL,
	[SecurityServices] [varchar](50) NULL,
	[ServicesProvidedDetails] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FinancialInstitutionInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Financial__Creat__7C9038FD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FinancialInstitutionInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Financial__Polic__7AA7F08B]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Financial__Versi__7B9C14C4]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstitutionInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionInfo]'))
ALTER TABLE [dbo].[FinancialInstitutionInfo] CHECK CONSTRAINT [CHK_FinancialInstitutionInfo_RecordType]
GO
