USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_MarketableProduct_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProduct]'))
ALTER TABLE [dbo].[MarketableProduct] DROP CONSTRAINT [CHK_MarketableProduct_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarketableProduct]') AND type in (N'U'))
DROP TABLE [dbo].[MarketableProduct]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarketableProduct]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MarketableProduct](
	[MarketableProductKey] [int] IDENTITY(1,1) NOT NULL,
	[MarketableProductDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Name] [varchar](100) NOT NULL DEFAULT ('code'),
	[Code] [varchar](100) NOT NULL DEFAULT ('code'),
 CONSTRAINT [XPKMarketableProduct] PRIMARY KEY CLUSTERED 
(
	[MarketableProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_MarketableProduct_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_MarketableProduct_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_MarketableProduct_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProduct]'))
ALTER TABLE [dbo].[MarketableProduct]  WITH CHECK ADD  CONSTRAINT [CHK_MarketableProduct_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_MarketableProduct_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProduct]'))
ALTER TABLE [dbo].[MarketableProduct] CHECK CONSTRAINT [CHK_MarketableProduct_RecordType]
GO
