USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Carrier_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Carrier_lku]'))
ALTER TABLE [dbo].[Carrier_lku] DROP CONSTRAINT [CHK_Carrier_lku_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carrier_lku]') AND type in (N'U'))
DROP TABLE [dbo].[Carrier_lku]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carrier_lku]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Carrier_lku](
	[CarrierKey] [int] IDENTITY(1,1) NOT NULL,
	[CarrierDesc] [varchar](200) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[isArchived] [varchar](20) NULL CONSTRAINT [df_CRisArchived_defaultvalue_0]  DEFAULT ('False'),
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Carrier_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Carrier_lku]'))
ALTER TABLE [dbo].[Carrier_lku]  WITH CHECK ADD  CONSTRAINT [CHK_Carrier_lku_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Carrier_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Carrier_lku]'))
ALTER TABLE [dbo].[Carrier_lku] CHECK CONSTRAINT [CHK_Carrier_lku_RecordType]
GO
