USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgency_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency] DROP CONSTRAINT [CHK_TitleAgency_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Versi__45FF1E22]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency] DROP CONSTRAINT [FK__TitleAgen__Versi__45FF1E22]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Polic__450AF9E9]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency] DROP CONSTRAINT [FK__TitleAgen__Polic__450AF9E9]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TitleAgen__Creat__46F3425B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TitleAgency] DROP CONSTRAINT [DF__TitleAgen__Creat__46F3425B]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAgency]') AND type in (N'U'))
DROP TABLE [dbo].[TitleAgency]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAgency]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleAgency](
	[TitleAgencyKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TitleAgencyLegalName] [varchar](200) NULL,
	[TitleAgencyDBA] [varchar](200) NULL,
	[TitleAgencyDate] [datetime] NULL,
	[TitleAgencyServicesRendered] [varchar](50) NULL,
	[TitleAgencyFirmPercent] [varchar](50) NULL,
	[TitleAgencyFirmPercentDesc] [varchar](500) NULL,
	[TitleAgencyStates] [varchar](50) NULL,
	[TitleAgencyInsurancePolicies] [varchar](50) NULL,
	[TitleAgencyInsurancePoliciesDesc] [varchar](500) NULL,
	[TitleAgencyUnderwriter] [varchar](50) NULL,
	[TitleAgencyUnderwriterDesc] [varchar](500) NULL,
	[TitleAgencyContractorsHired] [varchar](50) NULL,
	[TitleAgencyContractorsHiredDesc] [varchar](500) NULL,
	[TitleAgencyPastFiveYears] [varchar](50) NULL,
	[TitleAgencyPastFiveYearsDesc] [varchar](500) NULL,
	[TitleAgencyClaimSuit] [varchar](50) NULL,
	[TitleAgencyLicenseSuspended] [varchar](50) NULL,
	[TitleAgencyOmissionsInsurance] [varchar](50) NULL,
	[TitleAgencyPriorActsCoverage] [varchar](50) NULL,
	[TitleAgencyPriorActsCoverageDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TitleAgencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TitleAgen__Creat__46F3425B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TitleAgency] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Polic__450AF9E9]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Versi__45FF1E22]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgency_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency]  WITH CHECK ADD  CONSTRAINT [CHK_TitleAgency_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgency_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgency]'))
ALTER TABLE [dbo].[TitleAgency] CHECK CONSTRAINT [CHK_TitleAgency_RecordType]
GO
