USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawLW]'))
ALTER TABLE [dbo].[FamilyLawLW] DROP CONSTRAINT [CHK_FamilyLawLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLawLW]') AND type in (N'U'))
DROP TABLE [dbo].[FamilyLawLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLawLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FamilyLawLW](
	[FLAOPKey] [int] IDENTITY(1,1) NOT NULL,
	[FLAopDesc] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FamilyLawLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[FamilyLawLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[FamilyLawLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FamilyLawLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FamilyLawLW] ADD [CreatedBy] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[FLAOPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawLW]'))
ALTER TABLE [dbo].[FamilyLawLW]  WITH CHECK ADD  CONSTRAINT [CHK_FamilyLawLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawLW]'))
ALTER TABLE [dbo].[FamilyLawLW] CHECK CONSTRAINT [CHK_FamilyLawLW_RecordType]
GO
