USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsNonAttorneyStaff_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff] DROP CONSTRAINT [CHK_FirmOperationsNonAttorneyStaff_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Versi__5CE2837A]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff] DROP CONSTRAINT [FK__FirmOpera__Versi__5CE2837A]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Polic__5BEE5F41]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff] DROP CONSTRAINT [FK__FirmOpera__Polic__5BEE5F41]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOpera__Creat__5DD6A7B3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff] DROP CONSTRAINT [DF__FirmOpera__Creat__5DD6A7B3]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]') AND type in (N'U'))
DROP TABLE [dbo].[FirmOperationsNonAttorneyStaff]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmOperationsNonAttorneyStaff](
	[FirmOperationsNonAttorneyStaffKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[StaffMemberName] [varchar](200) NULL,
	[StaffMemberRole] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmOperationsNonAttorneyStaffKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOpera__Creat__5DD6A7B3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Polic__5BEE5F41]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Versi__5CE2837A]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsNonAttorneyStaff_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff]  WITH CHECK ADD  CONSTRAINT [CHK_FirmOperationsNonAttorneyStaff_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsNonAttorneyStaff_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsNonAttorneyStaff]'))
ALTER TABLE [dbo].[FirmOperationsNonAttorneyStaff] CHECK CONSTRAINT [CHK_FirmOperationsNonAttorneyStaff_RecordType]
GO
