USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UserAccessRights_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights] DROP CONSTRAINT [CHK_UserAccessRights_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserAcces__UserN__36F1E4BC]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights] DROP CONSTRAINT [FK__UserAcces__UserN__36F1E4BC]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserAcces__Roles__37E608F5]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights] DROP CONSTRAINT [FK__UserAcces__Roles__37E608F5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAccessRights]') AND type in (N'U'))
DROP TABLE [dbo].[UserAccessRights]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAccessRights]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserAccessRights](
	[UserAccessRightsKey] [int] IDENTITY(1,1) NOT NULL,
	[UserNo] [int] NOT NULL,
	[RolesId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[Profile] [char](1) NOT NULL,
	[AdminPanel] [char](1) NOT NULL,
	[LostWorkq] [char](1) NOT NULL,
	[QuickQuote] [char](1) NOT NULL,
	[Indication] [char](1) NOT NULL,
	[CreateNewApplication] [char](1) NOT NULL,
	[OffRisk] [char](1) NOT NULL,
	[BulkAppDownload] [char](1) NOT NULL,
	[Subproducer] [char](1) NOT NULL,
	[Rerate] [char](1) NOT NULL,
	[AccountManagement] [char](1) NOT NULL,
	[Requote] [char](1) NOT NULL,
	[ClaimSummery] [char](1) NOT NULL,
	[Brokerage] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAccessRightsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserAcces__Roles__37E608F5]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights]  WITH CHECK ADD FOREIGN KEY([RolesId])
REFERENCES [dbo].[Roles] ([RolesId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserAcces__UserN__36F1E4BC]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights]  WITH CHECK ADD FOREIGN KEY([UserNo])
REFERENCES [dbo].[UserDetails] ([UserNo])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UserAccessRights_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights]  WITH CHECK ADD  CONSTRAINT [CHK_UserAccessRights_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UserAccessRights_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAccessRights]'))
ALTER TABLE [dbo].[UserAccessRights] CHECK CONSTRAINT [CHK_UserAccessRights_RecordType]
GO
