USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] DROP CONSTRAINT [CHK_AttorneyEnvWorkLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_570]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] DROP CONSTRAINT [R_570]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] DROP CONSTRAINT [CHK_AttorneyEnvWorkLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] DROP CONSTRAINT [CHK_AttorneyEnvWorkLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyEnvWorkLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyEnvWorkLW](
	[AttroneyEnvWorkKey] [int] IDENTITY(1,1) NOT NULL,
	[EnvAttorneyName] [varchar](120) NULL,
	[NumberOfYrOfEnvExp] [int] NULL,
	[PercentOfTimeDevoted] [int] NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKAttorney] PRIMARY KEY CLUSTERED 
(
	[AttroneyEnvWorkKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyEnvWorkLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] CHECK CONSTRAINT [CHK_AttorneyEnvWorkLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AttorneyEnvWorkLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] CHECK CONSTRAINT [CHK_AttorneyEnvWorkLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_570]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW]  WITH CHECK ADD  CONSTRAINT [R_570] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[EnvironmentalSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_570]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] CHECK CONSTRAINT [R_570]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyEnvWorkLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyEnvWorkLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyEnvWorkLW]'))
ALTER TABLE [dbo].[AttorneyEnvWorkLW] CHECK CONSTRAINT [CHK_AttorneyEnvWorkLW_RecordType]
GO
