USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServices_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServices]'))
ALTER TABLE [dbo].[ITServices] DROP CONSTRAINT [CHK_ITServices_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_112]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServices]'))
ALTER TABLE [dbo].[ITServices] DROP CONSTRAINT [R_112]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ITService__Recor__28B8D3FE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITServices] DROP CONSTRAINT [DF__ITService__Recor__28B8D3FE]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITServices]') AND type in (N'U'))
DROP TABLE [dbo].[ITServices]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITServices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ITServices](
	[ITServiceKey] [int] NOT NULL,
	[ITServiceCategoryKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKITServices] PRIMARY KEY CLUSTERED 
(
	[ITServiceKey] ASC,
	[ITServiceCategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ITService__Recor__28B8D3FE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITServices] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_112]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServices]'))
ALTER TABLE [dbo].[ITServices]  WITH CHECK ADD  CONSTRAINT [R_112] FOREIGN KEY([ITServiceCategoryKey])
REFERENCES [dbo].[ITServiceCategory] ([ITServiceCategoryKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_112]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServices]'))
ALTER TABLE [dbo].[ITServices] CHECK CONSTRAINT [R_112]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServices_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServices]'))
ALTER TABLE [dbo].[ITServices]  WITH CHECK ADD  CONSTRAINT [CHK_ITServices_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServices_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServices]'))
ALTER TABLE [dbo].[ITServices] CHECK CONSTRAINT [CHK_ITServices_RecordType]
GO
