USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefenseCategory_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory] DROP CONSTRAINT [CHK_InsuranceDefenseCategory_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__2F1BB8CA]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory] DROP CONSTRAINT [FK__Insurance__Versi__2F1BB8CA]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__2E279491]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory] DROP CONSTRAINT [FK__Insurance__Polic__2E279491]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__300FDD03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceDefenseCategory] DROP CONSTRAINT [DF__Insurance__Creat__300FDD03]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]') AND type in (N'U'))
DROP TABLE [dbo].[InsuranceDefenseCategory]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[InsuranceDefenseCategory](
	[InsuranceDefenseCategoryKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InsDefCategory] [varchar](500) NULL,
	[InsDefPercentageOfCases] [int] NULL,
	[InsDefAverageValue] [varchar](200) NULL,
	[InsDefHighestValue] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceDefenseCategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__300FDD03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceDefenseCategory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__2E279491]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__2F1BB8CA]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefenseCategory_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory]  WITH CHECK ADD  CONSTRAINT [CHK_InsuranceDefenseCategory_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefenseCategory_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseCategory]'))
ALTER TABLE [dbo].[InsuranceDefenseCategory] CHECK CONSTRAINT [CHK_InsuranceDefenseCategory_RecordType]
GO
