USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyStatus_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyStatus]'))
ALTER TABLE [dbo].[PolicyStatus] DROP CONSTRAINT [CHK_PolicyStatus_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyStatus]') AND type in (N'U'))
DROP TABLE [dbo].[PolicyStatus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicyStatus](
	[PolicyStatusKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyStatusDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Name] [varchar](100) NOT NULL DEFAULT ('code'),
	[Code] [varchar](100) NOT NULL DEFAULT ('code'),
 CONSTRAINT [XPKPolicyStatus] PRIMARY KEY CLUSTERED 
(
	[PolicyStatusKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_PolicyStatus_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_PolicyStatus_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyStatus_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyStatus]'))
ALTER TABLE [dbo].[PolicyStatus]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyStatus_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyStatus_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyStatus]'))
ALTER TABLE [dbo].[PolicyStatus] CHECK CONSTRAINT [CHK_PolicyStatus_RecordType]
GO
