USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimOptionType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]'))
ALTER TABLE [dbo].[ClaimOptionType] DROP CONSTRAINT [CHK_ClaimOptionType_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_105]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]'))
ALTER TABLE [dbo].[ClaimOptionType] DROP CONSTRAINT [R_105]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ClaimOpti__Recor__6BAFC5BE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ClaimOptionType] DROP CONSTRAINT [DF__ClaimOpti__Recor__6BAFC5BE]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimOptionType]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimOptionType](
	[ClaimOptionTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[ClaimOptionTypeDesc] [varchar](100) NULL,
	[LOBKey] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_ClaimOptionType] PRIMARY KEY CLUSTERED 
(
	[ClaimOptionTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ClaimOpti__Recor__6BAFC5BE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ClaimOptionType] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_105]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]'))
ALTER TABLE [dbo].[ClaimOptionType]  WITH CHECK ADD  CONSTRAINT [R_105] FOREIGN KEY([LOBKey])
REFERENCES [dbo].[LOB] ([LOBKey])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_105]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]'))
ALTER TABLE [dbo].[ClaimOptionType] CHECK CONSTRAINT [R_105]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimOptionType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]'))
ALTER TABLE [dbo].[ClaimOptionType]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimOptionType_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimOptionType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimOptionType]'))
ALTER TABLE [dbo].[ClaimOptionType] CHECK CONSTRAINT [CHK_ClaimOptionType_RecordType]
GO
