USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] DROP CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_640]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] DROP CONSTRAINT [R_640]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] DROP CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] DROP CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]') AND type in (N'U'))
DROP TABLE [dbo].[FinancialPlanningAndIAServiceSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FinancialPlanningAndIAServiceSupp](
	[IsFinancialPlansPreparing] [char](1) NULL,
	[IsDiscretionaryAssetMangt] [char](1) NULL,
	[IsNonDiscretionaryAssetMangt] [char](1) NULL,
	[IsSecuritiesSales] [char](1) NULL,
	[IsContractualRelationShip] [char](1) NULL,
	[IsOmissionsPolicy] [char](1) NULL,
	[IsAnyNonPublicInvestments] [char](1) NULL,
	[IsAnyFirmAffiliateLicensed] [char](1) NULL,
	[IsAnyEmployeeBenefitPlan] [char](1) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[IsAnyReferralFeesInvestments] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKFinancialPlanningAndIAServiceSupp] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] CHECK CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] CHECK CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_640]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp]  WITH CHECK ADD  CONSTRAINT [R_640] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_640]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] CHECK CONSTRAINT [R_640]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialPlanningAndIAServiceSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialPlanningAndIAServiceSupp]'))
ALTER TABLE [dbo].[FinancialPlanningAndIAServiceSupp] CHECK CONSTRAINT [CHK_FinancialPlanningAndIAServiceSupp_RecordType]
GO
