USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] DROP CONSTRAINT [CHK_FirmAnnualRevenueLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FirmAnnualRevenueLW_FirmAnnualRevenueLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] DROP CONSTRAINT [FK_FirmAnnualRevenueLW_FirmAnnualRevenueLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] DROP CONSTRAINT [CHK_FirmAnnualRevenueLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] DROP CONSTRAINT [CHK_FirmAnnualRevenueLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmAnnualRevenueLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmAnnualRevenueLW](
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[ClientNameForAnnlRevenue] [varchar](100) NULL,
	[PercentageOfAnnlRevenue] [int] NULL,
	[ServicesRendered] [varchar](100) NOT NULL,
	[FirmAnnualRevenueKey] [int] IDENTITY(1,1) NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_FirmAnnualRevenueLW] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC,
	[FirmAnnualRevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmAnnualRevenueLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] CHECK CONSTRAINT [CHK_FirmAnnualRevenueLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmAnnualRevenueLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] CHECK CONSTRAINT [CHK_FirmAnnualRevenueLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FirmAnnualRevenueLW_FirmAnnualRevenueLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW]  WITH CHECK ADD  CONSTRAINT [FK_FirmAnnualRevenueLW_FirmAnnualRevenueLW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FirmAnnualRevenueLW_FirmAnnualRevenueLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] CHECK CONSTRAINT [FK_FirmAnnualRevenueLW_FirmAnnualRevenueLW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmAnnualRevenueLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmAnnualRevenueLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmAnnualRevenueLW]'))
ALTER TABLE [dbo].[FirmAnnualRevenueLW] CHECK CONSTRAINT [CHK_FirmAnnualRevenueLW_RecordType]
GO
