USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails] DROP CONSTRAINT [CHK_GovernmentServicesDetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails] DROP CONSTRAINT [CHK_GovernmentServicesDetails_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails] DROP CONSTRAINT [CHK_GovernmentServicesDetails_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]') AND type in (N'U'))
DROP TABLE [dbo].[GovernmentServicesDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GovernmentServicesDetails](
	[ServiceName] [varchar](1000) NULL,
	[ServicesProvided] [varchar](1000) NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[GovtServiceKey] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[GovernmentServicesDetails] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[GovernmentServicesDetails] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[GovernmentServicesDetails] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[GovernmentServicesDetails] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails]  WITH CHECK ADD  CONSTRAINT [CHK_GovernmentServicesDetails_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails] CHECK CONSTRAINT [CHK_GovernmentServicesDetails_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_GovernmentServicesDetails_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails] CHECK CONSTRAINT [CHK_GovernmentServicesDetails_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails]  WITH CHECK ADD  CONSTRAINT [CHK_GovernmentServicesDetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GovernmentServicesDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GovernmentServicesDetails]'))
ALTER TABLE [dbo].[GovernmentServicesDetails] CHECK CONSTRAINT [CHK_GovernmentServicesDetails_RecordType]
GO
