USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSessionLogin]') AND type in (N'U'))
DROP TABLE [dbo].[UserSessionLogin]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSessionLogin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserSessionLogin](
	[UserLoginID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](200) NULL,
	[UserLoginKey] [varchar](50) NULL,
	[RecordType] [varchar](20) NULL,
	[LoginTimeStamp] [datetime] NULL,
	[LogoutTimeStamp] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
