USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLKULW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLKULW]'))
ALTER TABLE [dbo].[TaxSuppLKULW] DROP CONSTRAINT [CHK_TaxSuppLKULW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxSuppLKULW]') AND type in (N'U'))
DROP TABLE [dbo].[TaxSuppLKULW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxSuppLKULW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TaxSuppLKULW](
	[TaxAOPKey] [int] IDENTITY(1,1) NOT NULL,
	[TaxAopDesc] [varchar](500) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[TaxSuppLKULW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[TaxSuppLKULW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[TaxSuppLKULW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[TaxSuppLKULW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[TaxSuppLKULW] ADD [CreatedBy] [int] NULL
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLKULW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLKULW]'))
ALTER TABLE [dbo].[TaxSuppLKULW]  WITH CHECK ADD  CONSTRAINT [CHK_TaxSuppLKULW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppLKULW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppLKULW]'))
ALTER TABLE [dbo].[TaxSuppLKULW] CHECK CONSTRAINT [CHK_TaxSuppLKULW_RecordType]
GO
