USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] DROP CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_559]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] DROP CONSTRAINT [R_559]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] DROP CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] DROP CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[ProfLiabClaimAgnstFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfLiabClaimAgnstFirmLW](
	[ProfLiabClaimAgnstFirmKey] [int] IDENTITY(1,1) NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[NameOfClaimant] [varchar](100) NULL,
	[ClaimNotifiedDate] [datetime] NULL,
	[DateOfAllegedError] [datetime] NULL,
	[NameOfPersonnelINClaim] [varchar](500) NULL,
	[DescOfClaim] [varchar](500) NULL,
	[IsClaimReportedToInsComp] [char](1) NULL,
	[NameOfInsComp] [varchar](120) NULL,
	[DateReportedToInsComp] [datetime] NULL,
	[InsurerLoss] [numeric](15, 0) NULL,
	[ClaimClosingDate] [datetime] NULL,
	[TotalAmountPaid] [numeric](15, 0) NULL,
	[StepsTakenToPreventClaims] [varchar](500) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[ClaimantLastDemand] [numeric](15, 0) NULL,
	[IsClient] [char](1) NULL,
	[CurrentStatus] [varchar](50) NULL,
	[IsClaimInSuit] [char](1) NULL,
	[ClaimNumber] [varchar](50) NULL,
	[InsurerLossReserveCi] [numeric](17, 2) NULL,
	[ExpensePaid] [numeric](17, 2) NULL,
	[TotalIncurred] [numeric](17, 2) NULL,
	[Signal] [varchar](50) NULL,
	[ExpenseReserve] [numeric](17, 2) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
	[ClaimLawyerAndFirm] [varchar](200) NULL,
	[ClaimAdditionalDefendants] [varchar](200) NULL,
	[ClaimClaimants] [varchar](200) NULL,
	[ClaimAllegedErrorDate] [datetime] NULL,
	[ClaimCarrier] [varchar](200) NULL,
	[ClaimReportedToCarrierDate] [datetime] NULL,
	[ClaimStatus] [varchar](50) NULL,
	[ClaimPaidLosses] [varchar](200) NULL,
	[ClaimLossReserves] [varchar](200) NULL,
	[ClaimPaidExpenses] [varchar](200) NULL,
	[ClaimExpenseReserves] [varchar](200) NULL,
	[ClaimClosedDate] [datetime] NULL,
	[ClaimClosedExpensesPaid] [varchar](200) NULL,
	[ClaimClosedLossPaid] [varchar](200) NULL,
	[ClaimAllegedActDescription] [varchar](500) NULL,
	[ClaimPreventiveRecurrenceProcedures] [varchar](500) NULL,
 CONSTRAINT [XPKProfLiab] PRIMARY KEY CLUSTERED 
(
	[ProfLiabClaimAgnstFirmKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] CHECK CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] CHECK CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_559]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW]  WITH CHECK ADD  CONSTRAINT [R_559] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_559]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] CHECK CONSTRAINT [R_559]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfLiabClaimAgnstFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfLiabClaimAgnstFirmLW]'))
ALTER TABLE [dbo].[ProfLiabClaimAgnstFirmLW] CHECK CONSTRAINT [CHK_ProfLiabClaimAgnstFirmLW_RecordType]
GO
