USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormAOPDetails]') AND type in (N'U'))
DROP TABLE [dbo].[EstimateFormAOPDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormAOPDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EstimateFormAOPDetails](
	[FormAOPKey] [int] IDENTITY(1,1) NOT NULL,
	[AOPKey] [int] NULL,
	[PercentageValue] [int] NULL,
	[AOPCommentDesc] [varchar](500) NULL,
	[FormKey] [int] NULL,
	[LastUpdateUserID] [varchar](10) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormAOPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
