USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Type]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_Type]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_LabelTextVisibility]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextStyle]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_LabelTextStyle]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextSerialNumVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_LabelTextSerialNumVisibility]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextAlignment]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_LabelTextAlignment]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldTimeFormat]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_InputFieldTimeFormat]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldIsFutureDateAllowed]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_InputFieldIsFutureDateAllowed]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldIsCurrentDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_InputFieldIsCurrentDate]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldDateFormat]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_InputFieldDateFormat]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_ColumnSpan]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_ColumnSpan]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_Category]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Border]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [CHK_FieldDesign_Border]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldDesi__Widge__1FE46232]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [FK__FieldDesi__Widge__1FE46232]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldDesi__SubSe__1EF03DF9]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [FK__FieldDesi__SubSe__1EF03DF9]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldDesi__Compa__1DFC19C0]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] DROP CONSTRAINT [FK__FieldDesi__Compa__1DFC19C0]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FieldDesign]') AND type in (N'U'))
DROP TABLE [dbo].[FieldDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FieldDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FieldDesign](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyKey] [int] NOT NULL,
	[SubSectionId] [int] NOT NULL,
	[WidgetId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[Category] [varchar](20) NOT NULL,
	[ColumnSpan] [varchar](20) NOT NULL,
	[DBTableName] [varchar](50) NOT NULL,
	[DBColumnName] [varchar](50) NOT NULL,
	[Height] [int] NULL,
	[Border] [varchar](20) NOT NULL,
	[BorderColor] [varchar](20) NULL,
	[BackgroundColor] [varchar](20) NULL,
	[LabelText] [varchar](500) NOT NULL,
	[LabelTextWidth] [int] NOT NULL,
	[LabelTextAlignment] [varchar](20) NOT NULL,
	[LabelTextStyle] [varchar](20) NOT NULL,
	[LabelTextVisibility] [varchar](20) NOT NULL,
	[LabelTextSerialNumVisibility] [varchar](20) NOT NULL,
	[LabelTextColor] [varchar](20) NULL,
	[InputFieldKeywordName] [varchar](50) NOT NULL,
	[InputFieldTabIndex] [int] NOT NULL,
	[InputFieldWidth] [int] NOT NULL,
	[InputFieldLongTextRow] [int] NULL,
	[InputFieldMinDataLength] [int] NULL,
	[InputFieldMaxDataLength] [int] NULL,
	[InputFieldDecimalLength] [int] NULL,
	[InputFieldMinDataRange] [varchar](20) NULL,
	[InputFieldMaxDataRange] [varchar](20) NULL,
	[InputFieldDateFormat] [varchar](20) NULL,
	[InputFieldTimeFormat] [varchar](20) NULL,
	[InputFieldIsCurrentDate] [char](1) NULL,
	[InputFieldIsFutureDateAllowed] [char](1) NULL,
	[InputFieldDefaultValue] [varchar](200) NULL,
	[InputFieldPlaceholder] [varchar](200) NULL,
	[InputFieldSupportingText] [varchar](500) NULL,
	[InputFieldFormatting] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldDesign_DBColumnName] UNIQUE NONCLUSTERED 
(
	[SubSectionId] ASC,
	[DBColumnName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldDesign_InputFieldKeywordName] UNIQUE NONCLUSTERED 
(
	[SubSectionId] ASC,
	[InputFieldKeywordName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldDesign_InputFieldTabIndex] UNIQUE NONCLUSTERED 
(
	[SubSectionId] ASC,
	[InputFieldTabIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldDesign_Name] UNIQUE NONCLUSTERED 
(
	[SubSectionId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldDesi__Compa__1DFC19C0]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldDesi__SubSe__1EF03DF9]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSectionDesign] ([SubSectionId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldDesi__Widge__1FE46232]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD FOREIGN KEY([WidgetId])
REFERENCES [dbo].[WidgetDesign] ([WidgetId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Border]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_Border] CHECK  (([Border]='None' OR [Border]='Thin' OR [Border]='Medium' OR [Border]='Thick'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Border]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_Border]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_Category] CHECK  (([Category]='None' OR [Category]='Required' OR [Category]='Warning' OR [Category]='Readonly' OR [Category]='Disabled'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_Category]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_ColumnSpan]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_ColumnSpan] CHECK  (([ColumnSpan]='OneColumnPerRow' OR [ColumnSpan]='TwoColumnsPerRow' OR [ColumnSpan]='ThreeColumnsPerRow' OR [ColumnSpan]='FourColumnsPerRow'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_ColumnSpan]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_ColumnSpan]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldDateFormat]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_InputFieldDateFormat] CHECK  (([InputFieldDateFormat]='mm/dd/yyyy' OR [InputFieldDateFormat]='dd/mm/yyyy' OR [InputFieldDateFormat]='yyyy/mm/dd'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldDateFormat]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_InputFieldDateFormat]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldIsCurrentDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_InputFieldIsCurrentDate] CHECK  (([InputFieldIsCurrentDate]='N' OR [InputFieldIsCurrentDate]='Y'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldIsCurrentDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_InputFieldIsCurrentDate]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldIsFutureDateAllowed]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_InputFieldIsFutureDateAllowed] CHECK  (([InputFieldIsFutureDateAllowed]='N' OR [InputFieldIsFutureDateAllowed]='Y'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldIsFutureDateAllowed]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_InputFieldIsFutureDateAllowed]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldTimeFormat]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_InputFieldTimeFormat] CHECK  (([InputFieldTimeFormat]='hh:mm:ss' OR [InputFieldTimeFormat]='hh:mm' OR [InputFieldTimeFormat]='hh:mm:ss tt' OR [InputFieldTimeFormat]='hh:mm tt'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_InputFieldTimeFormat]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_InputFieldTimeFormat]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextAlignment]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_LabelTextAlignment] CHECK  (([LabelTextAlignment]='Left' OR [LabelTextAlignment]='Right' OR [LabelTextAlignment]='Top'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextAlignment]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_LabelTextAlignment]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextSerialNumVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_LabelTextSerialNumVisibility] CHECK  (([LabelTextSerialNumVisibility]='None' OR [LabelTextSerialNumVisibility]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextSerialNumVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_LabelTextSerialNumVisibility]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextStyle]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_LabelTextStyle] CHECK  (([LabelTextStyle]='None' OR [LabelTextStyle]='Bold' OR [LabelTextStyle]='Italics' OR [LabelTextStyle]='Underline'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextStyle]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_LabelTextStyle]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_LabelTextVisibility] CHECK  (([LabelTextVisibility]='None' OR [LabelTextVisibility]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_LabelTextVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_LabelTextVisibility]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Type]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_Type] CHECK  (([TYPE]='Text' OR [TYPE]='LongText' OR [TYPE]='Integer' OR [TYPE]='Float' OR [TYPE]='Date' OR [TYPE]='DateTime' OR [TYPE]='Time' OR [TYPE]='Email' OR [TYPE]='SelectDropdown' OR [TYPE]='Checkbox' OR [TYPE]='Radio' OR [TYPE]='StaticLable' OR [TYPE]='DynamicList' OR [TYPE]='File' OR [TYPE]='Button' OR [TYPE]='GirdData'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_Type]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_Type]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldDesign]'))
ALTER TABLE [dbo].[FieldDesign] CHECK CONSTRAINT [CHK_FieldDesign_VisibilityType]
GO
