USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_State_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[State]'))
ALTER TABLE [dbo].[State] DROP CONSTRAINT [CHK_State_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_55117]') AND parent_object_id = OBJECT_ID(N'[dbo].[State]'))
ALTER TABLE [dbo].[State] DROP CONSTRAINT [R_55117]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[State]') AND type in (N'U'))
DROP TABLE [dbo].[State]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[State]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[State](
	[StateCode] [varchar](20) NOT NULL,
	[CountryKey] [int] NULL,
	[StateDesc] [varchar](50) NULL,
	[IsBusinessActive] [char](1) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[State] ADD [IsBusinessActiveLW] [char](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[State] ADD [IssueMailLwy] [char](1) NULL
ALTER TABLE [dbo].[State] ADD [IssueMailAcc] [char](1) NULL
ALTER TABLE [dbo].[State] ADD [IsStateReferred] [char](1) NULL
ALTER TABLE [dbo].[State] ADD [ShowCityDropDown] [char](1) NULL
ALTER TABLE [dbo].[State] ADD [IsStateReferredFQ] [char](1) NULL
ALTER TABLE [dbo].[State] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[State] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[State] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[State] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[State] ADD [CreatedBy] [int] NULL
 CONSTRAINT [XPKState] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_55117]') AND parent_object_id = OBJECT_ID(N'[dbo].[State]'))
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [R_55117] FOREIGN KEY([CountryKey])
REFERENCES [dbo].[Country] ([CountryKey])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_55117]') AND parent_object_id = OBJECT_ID(N'[dbo].[State]'))
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [R_55117]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_State_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[State]'))
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [CHK_State_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_State_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[State]'))
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [CHK_State_RecordType]
GO
