USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageLW]'))
ALTER TABLE [dbo].[BrokerageLW] DROP CONSTRAINT [CHK_BrokerageLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokerageLW]') AND type in (N'U'))
DROP TABLE [dbo].[BrokerageLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokerageLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BrokerageLW](
	[BrokeragePolicyKey] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](200) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[FirstReviewUserID] [varchar](100) NULL,
	[CarrierKey] [int] NULL,
	[BrokeredPolicyNumber] [varchar](100) NULL,
	[BrokerPolicyEffectiveDate] [datetime] NULL,
	[BrokerPolicyExpirationDate] [datetime] NULL,
	[AccountName] [varchar](200) NULL,
	[Address] [varchar](500) NULL,
	[Address2] [varchar](500) NULL,
	[State] [varchar](20) NULL,
	[City] [varchar](100) NULL,
	[Zip] [varchar](20) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[LOBKey] [int] NULL,
	[haveProfessionalLiabilityInsurance] [char](1) NULL,
	[PLEffectiveDate] [datetime] NULL,
	[PLExpirationDate] [datetime] NULL,
	[PLPolicyNumber] [varchar](100) NULL,
	[ContractComments] [varchar](500) NULL,
	[ExpiringCarrier] [varchar](100) NULL,
	[BrokerKey] [int] NULL,
	[Commission] [numeric](10, 2) NULL,
	[StatusKey] [int] NULL,
	[BrokeragePaymentTypeKey] [int] NULL,
	[Premium] [numeric](17, 2) NULL,
	[PremiumTax] [numeric](17, 2) NULL,
	[Fees] [numeric](17, 2) NULL,
	[TotalCalculatedPremium] [numeric](17, 2) NULL,
	[ExpiringPolicyNumber] [varchar](100) NULL,
	[ExpiringPremium] [numeric](17, 2) NULL,
	[ExpiringPolicyEffectiveDate] [datetime] NULL,
	[ExpiringPolicyExpirationDate] [datetime] NULL,
	[TransactionTypeKey] [int] NULL,
	[isArchived] [varchar](20) NULL DEFAULT ('False'),
	[isConvertedPolicy] [char](1) NULL,
	[isPLRenewalPolicy] [char](1) NULL,
	[PLPolicyKey] [int] NULL,
	[IssuedDate] [datetime] NULL,
	[ProducerCode] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[isRenewedAsPLAPolicy] [char](1) NULL,
	[isRenewed] [char](1) NULL,
	[oldAccountID] [int] NULL,
	[AccountKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrokeragePolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageLW]'))
ALTER TABLE [dbo].[BrokerageLW]  WITH CHECK ADD  CONSTRAINT [CHK_BrokerageLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokerageLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokerageLW]'))
ALTER TABLE [dbo].[BrokerageLW] CHECK CONSTRAINT [CHK_BrokerageLW_RecordType]
GO
