USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] DROP CONSTRAINT [CHK_ContractorEnvLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractorEnvLW_EnvironmentalSuppLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] DROP CONSTRAINT [FK_ContractorEnvLW_EnvironmentalSuppLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] DROP CONSTRAINT [CHK_ContractorEnvLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] DROP CONSTRAINT [CHK_ContractorEnvLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]') AND type in (N'U'))
DROP TABLE [dbo].[ContractorEnvLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractorEnvLW](
	[ContractorEnvKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[ContractorName] [varchar](50) NULL,
	[ContServicesPerformed] [varchar](50) NULL,
	[PercentOfEnvGBillings] [int] NULL,
	[IsEvidenceRequired] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_ContractorEnvLW_1] PRIMARY KEY CLUSTERED 
(
	[ContractorEnvKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW]  WITH CHECK ADD  CONSTRAINT [CHK_ContractorEnvLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] CHECK CONSTRAINT [CHK_ContractorEnvLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ContractorEnvLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] CHECK CONSTRAINT [CHK_ContractorEnvLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractorEnvLW_EnvironmentalSuppLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW]  WITH CHECK ADD  CONSTRAINT [FK_ContractorEnvLW_EnvironmentalSuppLW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[EnvironmentalSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractorEnvLW_EnvironmentalSuppLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] CHECK CONSTRAINT [FK_ContractorEnvLW_EnvironmentalSuppLW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW]  WITH CHECK ADD  CONSTRAINT [CHK_ContractorEnvLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ContractorEnvLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractorEnvLW]'))
ALTER TABLE [dbo].[ContractorEnvLW] CHECK CONSTRAINT [CHK_ContractorEnvLW_RecordType]
GO
