USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgencyGrossRevenue_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue] DROP CONSTRAINT [CHK_TitleAgencyGrossRevenue_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Versi__5170D0CE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue] DROP CONSTRAINT [FK__TitleAgen__Versi__5170D0CE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Polic__507CAC95]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue] DROP CONSTRAINT [FK__TitleAgen__Polic__507CAC95]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TitleAgen__Creat__5264F507]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TitleAgencyGrossRevenue] DROP CONSTRAINT [DF__TitleAgen__Creat__5264F507]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]') AND type in (N'U'))
DROP TABLE [dbo].[TitleAgencyGrossRevenue]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleAgencyGrossRevenue](
	[TitleAgencyGrossRevenueKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TitleAgencyGrossRevenue] [varchar](500) NULL,
	[TitleAgencyGrossRevenueFiscalYear] [varchar](200) NULL,
	[TitleAgencyGrossRevenueEstimated] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TitleAgencyGrossRevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TitleAgen__Creat__5264F507]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TitleAgencyGrossRevenue] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Polic__507CAC95]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Versi__5170D0CE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgencyGrossRevenue_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue]  WITH CHECK ADD  CONSTRAINT [CHK_TitleAgencyGrossRevenue_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgencyGrossRevenue_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyGrossRevenue]'))
ALTER TABLE [dbo].[TitleAgencyGrossRevenue] CHECK CONSTRAINT [CHK_TitleAgencyGrossRevenue_RecordType]
GO
