USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPLW]'))
ALTER TABLE [dbo].[AOPLW] DROP CONSTRAINT [CHK_AOPLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOPLW]') AND type in (N'U'))
DROP TABLE [dbo].[AOPLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOPLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AOPLW](
	[AOPKey] [int] IDENTITY(1,1) NOT NULL,
	[AOPDesc] [varchar](80) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[AOPLW] ADD [AOPDescNew] [varchar](100) NULL
ALTER TABLE [dbo].[AOPLW] ADD [IndicationSequence] [int] NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[AOPLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[AOPLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[AOPLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[AOPLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[AOPLW] ADD [CreatedBy] [int] NULL
 CONSTRAINT [PK_AOP_LW] PRIMARY KEY CLUSTERED 
(
	[AOPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPLW]'))
ALTER TABLE [dbo].[AOPLW]  WITH CHECK ADD  CONSTRAINT [CHK_AOPLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPLW]'))
ALTER TABLE [dbo].[AOPLW] CHECK CONSTRAINT [CHK_AOPLW_RecordType]
GO
