USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] DROP CONSTRAINT [CHK_TrusteeOrEstateSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_81899]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] DROP CONSTRAINT [R_81899]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_58786]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] DROP CONSTRAINT [R_58786]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] DROP CONSTRAINT [CHK_TrusteeOrEstateSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] DROP CONSTRAINT [CHK_TrusteeOrEstateSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]') AND type in (N'U'))
DROP TABLE [dbo].[TrusteeOrEstateSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TrusteeOrEstateSupp](
	[TrusteeOrEstateSuppKey] [int] IDENTITY(1,1) NOT NULL,
	[NameOfTrust] [varchar](100) NULL,
	[StartEngagemenTrusttDate] [datetime] NULL,
	[ValueOfAssetsTrust] [numeric](15, 0) NULL,
	[AnnualIncomeofAssetsTrust] [numeric](15, 0) NULL,
	[NumberOfBeneficiariesTrust] [int] NULL,
	[IsBeneficiaryInterestTrust] [char](1) NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[TypeofTrustKey] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKTrusteeOrEstateSupp] PRIMARY KEY CLUSTERED 
(
	[TrusteeOrEstateSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp]  WITH CHECK ADD  CONSTRAINT [CHK_TrusteeOrEstateSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] CHECK CONSTRAINT [CHK_TrusteeOrEstateSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_TrusteeOrEstateSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] CHECK CONSTRAINT [CHK_TrusteeOrEstateSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_58786]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp]  WITH CHECK ADD  CONSTRAINT [R_58786] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_58786]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] CHECK CONSTRAINT [R_58786]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_81899]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp]  WITH CHECK ADD  CONSTRAINT [R_81899] FOREIGN KEY([TypeofTrustKey])
REFERENCES [dbo].[TypeofTrust] ([TypeofTrustKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_81899]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] CHECK CONSTRAINT [R_81899]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp]  WITH CHECK ADD  CONSTRAINT [CHK_TrusteeOrEstateSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TrusteeOrEstateSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrusteeOrEstateSupp]'))
ALTER TABLE [dbo].[TrusteeOrEstateSupp] CHECK CONSTRAINT [CHK_TrusteeOrEstateSupp_RecordType]
GO
