USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RenewalEmails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RenewalEmails]'))
ALTER TABLE [dbo].[RenewalEmails] DROP CONSTRAINT [CHK_RenewalEmails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewalEmails]') AND type in (N'U'))
DROP TABLE [dbo].[RenewalEmails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewalEmails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RenewalEmails](
	[AccountName] [nvarchar](500) NULL,
	[AccountEmail] [nvarchar](500) NULL,
	[PolicyExpirationDate] [nvarchar](50) NULL,
	[MyDateTime4] [date] NULL CONSTRAINT [DF__RenewalEm__MyDat__6F357288]  DEFAULT (getdate()),
	[policykey] [varchar](50) NULL,
	[status] [nchar](1000) NULL,
	[Comment] [nchar](1000) NULL,
	[ProducerCode] [nchar](100) NULL,
	[SecondaryEmail] [nchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RenewalEmails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RenewalEmails]'))
ALTER TABLE [dbo].[RenewalEmails]  WITH CHECK ADD  CONSTRAINT [CHK_RenewalEmails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RenewalEmails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RenewalEmails]'))
ALTER TABLE [dbo].[RenewalEmails] CHECK CONSTRAINT [CHK_RenewalEmails_RecordType]
GO
