USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgencyInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo] DROP CONSTRAINT [CHK_TitleAgencyInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Versi__4BB7F778]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo] DROP CONSTRAINT [FK__TitleAgen__Versi__4BB7F778]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Polic__4AC3D33F]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo] DROP CONSTRAINT [FK__TitleAgen__Polic__4AC3D33F]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TitleAgen__Creat__4CAC1BB1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TitleAgencyInfo] DROP CONSTRAINT [DF__TitleAgen__Creat__4CAC1BB1]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]') AND type in (N'U'))
DROP TABLE [dbo].[TitleAgencyInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleAgencyInfo](
	[TitleAgencyInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TitleAgencyEmpName] [varchar](200) NULL,
	[TitleAgencyEmpStatus] [varchar](50) NULL,
	[TitleAgencyEmpAttorney] [varchar](50) NULL,
	[TitleAgencyEmpAgent] [varchar](50) NULL,
	[TitleAgencyEmpEscrowAgt] [varchar](50) NULL,
	[TitleAgencyEmpAbstractor] [varchar](50) NULL,
	[TitleAgencyEmpOpinions] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TitleAgencyInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TitleAgen__Creat__4CAC1BB1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TitleAgencyInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Polic__4AC3D33F]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TitleAgen__Versi__4BB7F778]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgencyInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo]  WITH CHECK ADD  CONSTRAINT [CHK_TitleAgencyInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleAgencyInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAgencyInfo]'))
ALTER TABLE [dbo].[TitleAgencyInfo] CHECK CONSTRAINT [CHK_TitleAgencyInfo_RecordType]
GO
