USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AdditionalFormDataLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]'))
ALTER TABLE [dbo].[AdditionalFormDataLW] DROP CONSTRAINT [CHK_AdditionalFormDataLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AdditionalFormDataLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]'))
ALTER TABLE [dbo].[AdditionalFormDataLW] DROP CONSTRAINT [CHK_AdditionalFormDataLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]') AND type in (N'U'))
DROP TABLE [dbo].[AdditionalFormDataLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AdditionalFormDataLW](
	[FormDataKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[PredecessorFirmName_1] [varchar](200) NULL,
	[PriorActsDate_1] [datetime] NULL,
	[PredecessorFirmName_2] [varchar](200) NULL,
	[PriorActsDate_2] [datetime] NULL,
	[PredecessorFirmName_3] [varchar](200) NULL,
	[PriorActsDate_3] [datetime] NULL,
	[IsPredecessorFormSelected] [char](1) NULL,
	[PersonOrEntity_1] [varchar](100) NULL,
	[PersonOrEntity_2] [varchar](100) NULL,
	[PersonOrEntity_3] [varchar](100) NULL,
	[IsSpecifiedAttorneySelected] [char](1) NULL,
	[IsSpecificProfServicesSelected] [char](1) NULL,
	[DisputeRenderedOnBehalfOf] [varchar](200) NULL,
	[ClaimRenderedOnBehalfOf] [varchar](200) NULL,
	[IsPreviouFirmFormSelected] [char](1) NULL,
	[PreviousFirmName] [varchar](200) NULL,
	[IsSuitForFeesAction] [char](1) NULL,
	[PreviousAttorneyName_1] [varchar](50) NULL,
	[PreviousAttorneyName_2] [varchar](50) NULL,
	[PreviousAttorneyName_3] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[IsCoverageExtensionsChanges] [char](1) NULL,
	[IsSpecifiedAttorneyCareerEndorsement] [char](1) NULL,
	[IsTitleAgencyEndorsement] [char](1) NULL,
	[IsProfessionalServicesExclusionEndorsement] [char](1) NULL,
	[SpecificProfessionalServices] [varchar](500) NULL,
	[TitleAgencyName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FormDataKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AdditionalFormDataLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]'))
ALTER TABLE [dbo].[AdditionalFormDataLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AdditionalFormDataLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AdditionalFormDataLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]'))
ALTER TABLE [dbo].[AdditionalFormDataLW] CHECK CONSTRAINT [CHK_AdditionalFormDataLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AdditionalFormDataLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]'))
ALTER TABLE [dbo].[AdditionalFormDataLW]  WITH CHECK ADD  CONSTRAINT [CHK_AdditionalFormDataLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AdditionalFormDataLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdditionalFormDataLW]'))
ALTER TABLE [dbo].[AdditionalFormDataLW] CHECK CONSTRAINT [CHK_AdditionalFormDataLW_RecordType]
GO
