USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] DROP CONSTRAINT [CHK_AreaOfPracticeLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AreaOfPractice_Firm_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] DROP CONSTRAINT [FK_AreaOfPractice_Firm_LW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] DROP CONSTRAINT [CHK_AreaOfPracticeLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] DROP CONSTRAINT [CHK_AreaOfPracticeLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_FK_AOPKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] DROP CONSTRAINT [CHK_AreaOfPracticeLW_FK_AOPKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfPracticeLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfPracticeLW](
	[AOPKey] [int] NOT NULL CONSTRAINT [DF_AreaOfPracticeLW_AOPKey]  DEFAULT ((0)),
	[PercentageValue] [int] NULL,
	[AOPCommentDesc] [varchar](500) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
	[AreaOfPracticeKey] [int] IDENTITY(1,1) NOT NULL,
	[AreaOfPracticeCode] [varchar](50) NULL,
 CONSTRAINT [PK_AreaOfPracticeLW_AreaOfPracticeKey] PRIMARY KEY CLUSTERED 
(
	[AreaOfPracticeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_FK_AOPKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeLW_FK_AOPKey] FOREIGN KEY([AOPKey])
REFERENCES [dbo].[AOPLW] ([AOPKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_FK_AOPKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] CHECK CONSTRAINT [CHK_AreaOfPracticeLW_FK_AOPKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] CHECK CONSTRAINT [CHK_AreaOfPracticeLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfPracticeLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] CHECK CONSTRAINT [CHK_AreaOfPracticeLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AreaOfPractice_Firm_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW]  WITH CHECK ADD  CONSTRAINT [FK_AreaOfPractice_Firm_LW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AreaOfPractice_Firm_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] CHECK CONSTRAINT [FK_AreaOfPractice_Firm_LW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeLW]'))
ALTER TABLE [dbo].[AreaOfPracticeLW] CHECK CONSTRAINT [CHK_AreaOfPracticeLW_RecordType]
GO
