USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TransactionType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TransactionType]'))
ALTER TABLE [dbo].[TransactionType] DROP CONSTRAINT [CHK_TransactionType_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionType]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionType]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TransactionType](
	[TransactionTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeDesc] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[TransactiontypedescForReport] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Name] [varchar](100) NOT NULL DEFAULT ('code'),
	[Code] [varchar](100) NOT NULL DEFAULT ('code'),
 CONSTRAINT [XPKTransactionType] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_TransactionType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_TransactionType_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TransactionType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TransactionType]'))
ALTER TABLE [dbo].[TransactionType]  WITH CHECK ADD  CONSTRAINT [CHK_TransactionType_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TransactionType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TransactionType]'))
ALTER TABLE [dbo].[TransactionType] CHECK CONSTRAINT [CHK_TransactionType_RecordType]
GO
