USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyNumberPrefix]') AND type in (N'U'))
DROP TABLE [dbo].[BrokeragePolicyNumberPrefix]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyNumberPrefix]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BrokeragePolicyNumberPrefix](
	[PrefixKey] [int] IDENTITY(1,1) NOT NULL,
	[CarrierKey] [int] NULL,
	[LOBKey] [int] NULL,
	[PolicyNumberPrefix] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[isArchived] [varchar](20) NULL DEFAULT ('False'),
	[RecordType] [char](1) NULL DEFAULT ('I'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
