USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] DROP CONSTRAINT [CHK_SectionDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] DROP CONSTRAINT [CHK_SectionDesign_TitleVisibility]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] DROP CONSTRAINT [CHK_SectionDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] DROP CONSTRAINT [CHK_SectionDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SectionDe__FormI__7D8F4A2E]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] DROP CONSTRAINT [FK__SectionDe__FormI__7D8F4A2E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SectionDesign]') AND type in (N'U'))
DROP TABLE [dbo].[SectionDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SectionDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SectionDesign](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[TitleVisibility] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[Color] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_SectionDesign_Name] UNIQUE NONCLUSTERED 
(
	[FormId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SectionDe__FormI__7D8F4A2E]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign]  WITH CHECK ADD FOREIGN KEY([FormId])
REFERENCES [dbo].[FormDesign] ([FormId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SectionDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] CHECK CONSTRAINT [CHK_SectionDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SectionDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] CHECK CONSTRAINT [CHK_SectionDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SectionDesign_TitleVisibility] CHECK  (([TitleVisibility]='None' OR [TitleVisibility]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] CHECK CONSTRAINT [CHK_SectionDesign_TitleVisibility]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SectionDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SectionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SectionDesign]'))
ALTER TABLE [dbo].[SectionDesign] CHECK CONSTRAINT [CHK_SectionDesign_VisibilityType]
GO
