USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement] DROP CONSTRAINT [CHK_CannabisSupplement_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement] DROP CONSTRAINT [CHK_CannabisSupplement_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement] DROP CONSTRAINT [CHK_CannabisSupplement_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]') AND type in (N'U'))
DROP TABLE [dbo].[CannabisSupplement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CannabisSupplement](
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[distributionWareinghouseCases] [char](1) NULL,
	[cannibsLicensing] [char](1) NULL,
	[canniabisInvestmentServices] [char](1) NULL,
	[StateOrLocalCompliance] [char](1) NULL,
	[IntellectualProperty] [char](1) NULL,
	[NegotiatePurchaseContracts] [char](1) NULL,
	[RepresentClientLitigation] [char](1) NULL,
	[CannibsOther] [char](1) NULL,
	[CannibsOtherDesc] [varchar](500) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement]  WITH CHECK ADD  CONSTRAINT [CHK_CannabisSupplement_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement] CHECK CONSTRAINT [CHK_CannabisSupplement_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement]  WITH NOCHECK ADD  CONSTRAINT [CHK_CannabisSupplement_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement] CHECK CONSTRAINT [CHK_CannabisSupplement_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement]  WITH CHECK ADD  CONSTRAINT [CHK_CannabisSupplement_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CannabisSupplement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CannabisSupplement]'))
ALTER TABLE [dbo].[CannabisSupplement] CHECK CONSTRAINT [CHK_CannabisSupplement_RecordType]
GO
