USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW] DROP CONSTRAINT [CHK_ClaimAgeLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW] DROP CONSTRAINT [ClaimAgeLW_FK1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW] DROP CONSTRAINT [CHK_ClaimAgeLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimAgeLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimAgeLW](
	[PolicyKey] [int] NULL,
	[Year] [int] NULL,
	[PartTime] [varchar](10) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[AttorneyKey] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimAgeLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW] CHECK CONSTRAINT [CHK_ClaimAgeLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW]  WITH CHECK ADD  CONSTRAINT [ClaimAgeLW_FK1] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW] CHECK CONSTRAINT [ClaimAgeLW_FK1]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimAgeLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLW]'))
ALTER TABLE [dbo].[ClaimAgeLW] CHECK CONSTRAINT [CHK_ClaimAgeLW_RecordType]
GO
