USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfileFilter_ACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfileFilter_ACC]'))
ALTER TABLE [dbo].[ProfileFilter_ACC] DROP CONSTRAINT [CHK_ProfileFilter_ACC_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfileFilter_ACC]') AND type in (N'U'))
DROP TABLE [dbo].[ProfileFilter_ACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfileFilter_ACC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfileFilter_ACC](
	[ProfileFilterKey] [int] IDENTITY(1,1) NOT NULL,
	[UserNo] [int] NOT NULL,
	[PolicyStatusKey] [varchar](500) NULL,
	[Direct_SubProducedKey] [varchar](500) NULL,
	[FirstReviewerUserNo] [varchar](2000) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[ProfileFilter_ACC] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[ProfileFilter_ACC] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[ProfileFilter_ACC] ADD [CreatedBy] [int] NULL
 CONSTRAINT [PK_ProfileFilter_ACC] PRIMARY KEY CLUSTERED 
(
	[ProfileFilterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfileFilter_ACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfileFilter_ACC]'))
ALTER TABLE [dbo].[ProfileFilter_ACC]  WITH CHECK ADD  CONSTRAINT [CHK_ProfileFilter_ACC_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfileFilter_ACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfileFilter_ACC]'))
ALTER TABLE [dbo].[ProfileFilter_ACC] CHECK CONSTRAINT [CHK_ProfileFilter_ACC_RecordType]
GO
