USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [CHK_RevenueFromITServices_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20655]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [R_20655]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_11345]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [R_11345]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [CHK_RevenueFromITServices_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [CHK_RevenueFromITServices_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueFr__Versi__53F837BE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [DF__RevenueFr__Versi__53F837BE]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueFr__Recor__5D2C9C3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueFromITServices] DROP CONSTRAINT [DF__RevenueFr__Recor__5D2C9C3D]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]') AND type in (N'U'))
DROP TABLE [dbo].[RevenueFromITServices]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RevenueFromITServices](
	[ITServiceKey] [int] NOT NULL,
	[ITServiceCategoryKey] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKRevenueFromITServices] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC,
	[ITServiceKey] ASC,
	[ITServiceCategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueFr__Recor__5D2C9C3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueFromITServices] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueFr__Versi__53F837BE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueFromITServices] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices]  WITH CHECK ADD  CONSTRAINT [CHK_RevenueFromITServices_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] CHECK CONSTRAINT [CHK_RevenueFromITServices_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices]  WITH NOCHECK ADD  CONSTRAINT [CHK_RevenueFromITServices_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] CHECK CONSTRAINT [CHK_RevenueFromITServices_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_11345]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices]  WITH CHECK ADD  CONSTRAINT [R_11345] FOREIGN KEY([ITServiceKey], [ITServiceCategoryKey])
REFERENCES [dbo].[ITServices] ([ITServiceKey], [ITServiceCategoryKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_11345]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] CHECK CONSTRAINT [R_11345]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20655]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices]  WITH CHECK ADD  CONSTRAINT [R_20655] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20655]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] CHECK CONSTRAINT [R_20655]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices]  WITH CHECK ADD  CONSTRAINT [CHK_RevenueFromITServices_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueFromITServices_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueFromITServices]'))
ALTER TABLE [dbo].[RevenueFromITServices] CHECK CONSTRAINT [CHK_RevenueFromITServices_RecordType]
GO
