USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubProducer_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubProducer_lku]'))
ALTER TABLE [dbo].[SubProducer_lku] DROP CONSTRAINT [CHK_SubProducer_lku_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubProducer_lku]') AND type in (N'U'))
DROP TABLE [dbo].[SubProducer_lku]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubProducer_lku]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubProducer_lku](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[ProducerCode] [varchar](50) NOT NULL,
	[ProducerCompanyName] [varchar](200) NULL,
	[Accountant] [char](1) NULL,
	[Lawyers] [char](1) NULL,
	[IsSendRenewalEmail] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[ProducerAbbr] [varchar](20) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ProducerCode_McGowan] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubProducer_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubProducer_lku]'))
ALTER TABLE [dbo].[SubProducer_lku]  WITH CHECK ADD  CONSTRAINT [CHK_SubProducer_lku_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubProducer_lku_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubProducer_lku]'))
ALTER TABLE [dbo].[SubProducer_lku] CHECK CONSTRAINT [CHK_SubProducer_lku_RecordType]
GO
