USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC] DROP CONSTRAINT [CHK_QuotationEstimationACC_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC] DROP CONSTRAINT [CHK_QuotationEstimationACC_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC] DROP CONSTRAINT [CHK_QuotationEstimationACC_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]') AND type in (N'U'))
DROP TABLE [dbo].[QuotationEstimationACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QuotationEstimationACC](
	[QuotationEstimationKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[TransactionSequence] [int] NULL,
	[TotalPremium] [numeric](17, 2) NULL,
	[TotalPremiumFirstRange] [numeric](17, 2) NULL,
	[TotalPolicyTaxAmount] [numeric](17, 2) NULL,
	[InvoicedPremium] [numeric](17, 2) NULL,
	[TotalPolicyModifierPercentage] [int] NULL,
	[IsClaimOptionType] [varchar](10) NULL,
	[IsClaimExpensesType] [varchar](10) NULL,
	[IsDollarDefense] [varchar](10) NULL,
	[AggregateLimit] [int] NULL,
	[OccuranceLimit] [int] NULL,
	[AggregateDeductible] [int] NULL,
	[OccuranceDeductible] [int] NULL,
	[IsMinimumPremium] [varchar](10) NULL,
	[XmlOutputDatafromRating] [varchar](8000) NULL,
	[XmlInputDatatoRating] [varchar](8000) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[QuotationEstimationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC]  WITH NOCHECK ADD  CONSTRAINT [CHK_QuotationEstimationACC_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC] CHECK CONSTRAINT [CHK_QuotationEstimationACC_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC]  WITH NOCHECK ADD  CONSTRAINT [CHK_QuotationEstimationACC_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC] CHECK CONSTRAINT [CHK_QuotationEstimationACC_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC]  WITH CHECK ADD  CONSTRAINT [CHK_QuotationEstimationACC_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuotationEstimationACC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuotationEstimationACC]'))
ALTER TABLE [dbo].[QuotationEstimationACC] CHECK CONSTRAINT [CHK_QuotationEstimationACC_RecordType]
GO
