USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UnderwritingQues_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]'))
ALTER TABLE [dbo].[UnderwritingQues] DROP CONSTRAINT [CHK_UnderwritingQues_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20689]') AND parent_object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]'))
ALTER TABLE [dbo].[UnderwritingQues] DROP CONSTRAINT [R_20689]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Underwrit__Recor__7CA54796]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UnderwritingQues] DROP CONSTRAINT [DF__Underwrit__Recor__7CA54796]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]') AND type in (N'U'))
DROP TABLE [dbo].[UnderwritingQues]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UnderwritingQues](
	[StateCode] [varchar](20) NOT NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKUnderwritingQues] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC,
	[EffectiveDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Underwrit__Recor__7CA54796]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UnderwritingQues] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20689]') AND parent_object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]'))
ALTER TABLE [dbo].[UnderwritingQues]  WITH CHECK ADD  CONSTRAINT [R_20689] FOREIGN KEY([StateCode])
REFERENCES [dbo].[State] ([StateCode])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20689]') AND parent_object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]'))
ALTER TABLE [dbo].[UnderwritingQues] CHECK CONSTRAINT [R_20689]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UnderwritingQues_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]'))
ALTER TABLE [dbo].[UnderwritingQues]  WITH CHECK ADD  CONSTRAINT [CHK_UnderwritingQues_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UnderwritingQues_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UnderwritingQues]'))
ALTER TABLE [dbo].[UnderwritingQues] CHECK CONSTRAINT [CHK_UnderwritingQues_RecordType]
GO
