USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] DROP CONSTRAINT [CHK_SubSectionDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] DROP CONSTRAINT [CHK_SubSectionDesign_TitleVisibility]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] DROP CONSTRAINT [CHK_SubSectionDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] DROP CONSTRAINT [CHK_SubSectionDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SubSectio__Secti__0718B468]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] DROP CONSTRAINT [FK__SubSectio__Secti__0718B468]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]') AND type in (N'U'))
DROP TABLE [dbo].[SubSectionDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubSectionDesign](
	[SubSectionId] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[DBTableName] [varchar](50) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[TitleVisibility] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[Color] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_SubSectionDesign_DBTableName] UNIQUE NONCLUSTERED 
(
	[DBTableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_SubSectionDesign_Name] UNIQUE NONCLUSTERED 
(
	[SectionId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SubSectio__Secti__0718B468]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign]  WITH CHECK ADD FOREIGN KEY([SectionId])
REFERENCES [dbo].[SectionDesign] ([SectionId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SubSectionDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] CHECK CONSTRAINT [CHK_SubSectionDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SubSectionDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] CHECK CONSTRAINT [CHK_SubSectionDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SubSectionDesign_TitleVisibility] CHECK  (([TitleVisibility]='None' OR [TitleVisibility]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] CHECK CONSTRAINT [CHK_SubSectionDesign_TitleVisibility]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_SubSectionDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubSectionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubSectionDesign]'))
ALTER TABLE [dbo].[SubSectionDesign] CHECK CONSTRAINT [CHK_SubSectionDesign_VisibilityType]
GO
