USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountAddress_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress] DROP CONSTRAINT [CHK_AccountAddress_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_65]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress] DROP CONSTRAINT [R_65]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_64]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress] DROP CONSTRAINT [R_64]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountAddress]') AND type in (N'U'))
DROP TABLE [dbo].[AccountAddress]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountAddress]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AccountAddress](
	[AccountKey] [int] NOT NULL,
	[AddressKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[AccountAddressKey] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AccountAddress_AccountAddressKey] PRIMARY KEY CLUSTERED 
(
	[AccountAddressKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_64]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress]  WITH CHECK ADD  CONSTRAINT [R_64] FOREIGN KEY([AccountKey])
REFERENCES [dbo].[Account] ([AccountKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_64]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress] CHECK CONSTRAINT [R_64]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_65]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress]  WITH CHECK ADD  CONSTRAINT [R_65] FOREIGN KEY([AddressKey])
REFERENCES [dbo].[Address] ([AddressKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_65]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress] CHECK CONSTRAINT [R_65]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountAddress_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress]  WITH CHECK ADD  CONSTRAINT [CHK_AccountAddress_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountAddress_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountAddress]'))
ALTER TABLE [dbo].[AccountAddress] CHECK CONSTRAINT [CHK_AccountAddress_RecordType]
GO
