USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Deductibles_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Deductibles]'))
ALTER TABLE [dbo].[Deductibles] DROP CONSTRAINT [CHK_Deductibles_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_720]') AND parent_object_id = OBJECT_ID(N'[dbo].[Deductibles]'))
ALTER TABLE [dbo].[Deductibles] DROP CONSTRAINT [R_720]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deductibles]') AND type in (N'U'))
DROP TABLE [dbo].[Deductibles]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deductibles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Deductibles](
	[AggregateDeductible] [int] NOT NULL,
	[OccuranceDeductible] [int] NOT NULL,
	[CoverageKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[DeductibleSequence] [int] IDENTITY(1,1) NOT NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKDeductibles] PRIMARY KEY CLUSTERED 
(
	[OccuranceDeductible] ASC,
	[AggregateDeductible] ASC,
	[CoverageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_720]') AND parent_object_id = OBJECT_ID(N'[dbo].[Deductibles]'))
ALTER TABLE [dbo].[Deductibles]  WITH CHECK ADD  CONSTRAINT [R_720] FOREIGN KEY([CoverageKey])
REFERENCES [dbo].[Coverages] ([CoverageKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_720]') AND parent_object_id = OBJECT_ID(N'[dbo].[Deductibles]'))
ALTER TABLE [dbo].[Deductibles] CHECK CONSTRAINT [R_720]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Deductibles_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Deductibles]'))
ALTER TABLE [dbo].[Deductibles]  WITH CHECK ADD  CONSTRAINT [CHK_Deductibles_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Deductibles_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Deductibles]'))
ALTER TABLE [dbo].[Deductibles] CHECK CONSTRAINT [CHK_Deductibles_RecordType]
GO
