USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UserDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDetails]'))
ALTER TABLE [dbo].[UserDetails] DROP CONSTRAINT [CHK_UserDetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserDetails]') AND type in (N'U'))
DROP TABLE [dbo].[UserDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserDetails](
	[AgentEmail] [varchar](150) NULL,
	[AgentState] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[UserNo] [int] IDENTITY(1,1) NOT NULL,
	[AgentName] [varchar](50) NULL,
	[LicenseNumber] [varchar](50) NULL,
	[IsActiveAgent] [char](1) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[UserDetails] ADD [EligibleFirstReviewer] [char](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[UserDetails] ADD [AliasEmail] [varchar](100) NULL
ALTER TABLE [dbo].[UserDetails] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[UserDetails] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[UserDetails] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[UserDetails] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[UserDetails] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[UserDetails] ADD [ZohoUserID] [varchar](50) NULL
ALTER TABLE [dbo].[UserDetails] ADD [IsActiveZohoUser] [char](1) NULL
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UserDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDetails]'))
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [CHK_UserDetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_UserDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDetails]'))
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [CHK_UserDetails_RecordType]
GO
