USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LogTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LogTable]'))
ALTER TABLE [dbo].[LogTable] DROP CONSTRAINT [CHK_LogTable_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LogTable]') AND type in (N'U'))
DROP TABLE [dbo].[LogTable]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LogTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LogTable](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogMessage] [varchar](8000) NULL,
	[LogStack] [varchar](8000) NULL,
	[LogTime] [varchar](50) NULL,
	[ProjectName] [varchar](100) NULL,
	[Session] [varchar](8000) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_LogTable] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LogTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LogTable]'))
ALTER TABLE [dbo].[LogTable]  WITH CHECK ADD  CONSTRAINT [CHK_LogTable_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LogTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LogTable]'))
ALTER TABLE [dbo].[LogTable] CHECK CONSTRAINT [CHK_LogTable_RecordType]
GO
