USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW] DROP CONSTRAINT [CHK_FamilyLawDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW] DROP CONSTRAINT [CHK_FamilyLawDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW] DROP CONSTRAINT [CHK_FamilyLawDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[FamilyLawDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FamilyLawDetailsLW](
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[FLAOPKey] [int] NULL,
	[PercentageValue] [int] NULL,
	[FLAOPCommentDesc] [varchar](500) NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FamilyLawDetailsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FamilyLawDetailsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FamilyLawDetailsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[FamilyLawDetailsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FamilyLawDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW] CHECK CONSTRAINT [CHK_FamilyLawDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FamilyLawDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW] CHECK CONSTRAINT [CHK_FamilyLawDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FamilyLawDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawDetailsLW]'))
ALTER TABLE [dbo].[FamilyLawDetailsLW] CHECK CONSTRAINT [CHK_FamilyLawDetailsLW_RecordType]
GO
