USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] DROP CONSTRAINT [CHK_SeperateEntitySupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_70056]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] DROP CONSTRAINT [R_70056]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] DROP CONSTRAINT [CHK_SeperateEntitySupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] DROP CONSTRAINT [CHK_SeperateEntitySupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]') AND type in (N'U'))
DROP TABLE [dbo].[SeperateEntitySupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SeperateEntitySupp](
	[EntityNameSe] [varchar](100) NULL,
	[EstablisedSeDate] [int] NULL,
	[ServiceIndustrySeID] [char](18) NULL,
	[PercentOfOwnershipSe] [int] NULL,
	[TotalProfessionalStaffSe] [int] NULL,
	[TotalSupportStaffSe] [int] NULL,
	[DetailedDescSe] [varchar](5000) NULL,
	[LastFiscalYearGrossRevenueSe] [numeric](15, 0) NULL,
	[EstimateCurrentYearGrossRevenueSe] [numeric](15, 0) NULL,
	[LastFiscalYearSeEndDate] [varchar](50) NULL,
	[EstimateCurrentYearSeEndDate] [varchar](50) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [IsStaffIncludedInMain] [char](1) NULL
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [IsRevenueIncludedInMain] [char](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[SeperateEntitySupp] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKSeperateEntitySupp] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp]  WITH CHECK ADD  CONSTRAINT [CHK_SeperateEntitySupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] CHECK CONSTRAINT [CHK_SeperateEntitySupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_SeperateEntitySupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] CHECK CONSTRAINT [CHK_SeperateEntitySupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_70056]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp]  WITH CHECK ADD  CONSTRAINT [R_70056] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_70056]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] CHECK CONSTRAINT [R_70056]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp]  WITH CHECK ADD  CONSTRAINT [CHK_SeperateEntitySupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SeperateEntitySupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SeperateEntitySupp]'))
ALTER TABLE [dbo].[SeperateEntitySupp] CHECK CONSTRAINT [CHK_SeperateEntitySupp_RecordType]
GO
