USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] DROP CONSTRAINT [CHK_GrossRevenueForFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_77_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] DROP CONSTRAINT [R_77_LW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_110_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] DROP CONSTRAINT [R_110_LW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] DROP CONSTRAINT [CHK_GrossRevenueForFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] DROP CONSTRAINT [CHK_GrossRevenueForFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[GrossRevenueForFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GrossRevenueForFirmLW](
	[GrossRevenueKey] [int] NOT NULL,
	[YearEndDate] [varchar](7) NULL,
	[Amount] [numeric](15, 0) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKGrossRevenueForFirm_LW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[GrossRevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] CHECK CONSTRAINT [CHK_GrossRevenueForFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_GrossRevenueForFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] CHECK CONSTRAINT [CHK_GrossRevenueForFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_110_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW]  WITH CHECK ADD  CONSTRAINT [R_110_LW] FOREIGN KEY([GrossRevenueKey])
REFERENCES [dbo].[GrossRevenueLW] ([GrossRevenueKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_110_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] CHECK CONSTRAINT [R_110_LW]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_77_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW]  WITH CHECK ADD  CONSTRAINT [R_77_LW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_77_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] CHECK CONSTRAINT [R_77_LW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirmLW]'))
ALTER TABLE [dbo].[GrossRevenueForFirmLW] CHECK CONSTRAINT [CHK_GrossRevenueForFirmLW_RecordType]
GO
