USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] DROP CONSTRAINT [CHK_ServicesForClientOfFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_606]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] DROP CONSTRAINT [R_606]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] DROP CONSTRAINT [CHK_ServicesForClientOfFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] DROP CONSTRAINT [CHK_ServicesForClientOfFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ServicesF__Versi__56D4A469]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] DROP CONSTRAINT [DF__ServicesF__Versi__56D4A469]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ServicesF__Recor__63D999CC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] DROP CONSTRAINT [DF__ServicesF__Recor__63D999CC]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[ServicesForClientOfFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ServicesForClientOfFirmLW](
	[ServicesForClientKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKServicesForClientOfFirmLW] PRIMARY KEY CLUSTERED 
(
	[ServicesForClientKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ServicesF__Recor__63D999CC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ServicesF__Versi__56D4A469]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_ServicesForClientOfFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] CHECK CONSTRAINT [CHK_ServicesForClientOfFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ServicesForClientOfFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] CHECK CONSTRAINT [CHK_ServicesForClientOfFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_606]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW]  WITH CHECK ADD  CONSTRAINT [R_606] FOREIGN KEY([ServicesForClientKey])
REFERENCES [dbo].[ServicesForClientLW] ([ServicesForClientKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_606]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] CHECK CONSTRAINT [R_606]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_ServicesForClientOfFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientOfFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientOfFirmLW]'))
ALTER TABLE [dbo].[ServicesForClientOfFirmLW] CHECK CONSTRAINT [CHK_ServicesForClientOfFirmLW_RecordType]
GO
