USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneysInsurance_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]'))
ALTER TABLE [dbo].[AttorneysInsurance] DROP CONSTRAINT [CHK_AttorneysInsurance_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneysInsurance_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]'))
ALTER TABLE [dbo].[AttorneysInsurance] DROP CONSTRAINT [CHK_AttorneysInsurance_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneysInsurance]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneysInsurance](
	[AttorneysInsuranceId] [int] IDENTITY(1,1) NOT NULL,
	[insuranceCarrierFirstAttoryneyInsurance] [varchar](1000) NULL,
	[policyPeriodFirstAttoryneyInsurance] [varchar](100) NULL,
	[limitDeductibleFirstAttoryneyInsurance] [varchar](100) NULL,
	[numberOfAttorneysFirstAttoryneyInsurance] [int] NULL,
	[premiumFirstAttoryneyInsurance] [int] NULL,
	[insuranceCarrierSecondAttorneyInsurance] [varchar](1000) NULL,
	[policyPeriodSecondAttorneyInsurance] [varchar](100) NULL,
	[limitDeductibleSecondAttorneyInsurance] [varchar](100) NULL,
	[numberOfAttorneysSecondAttorneyInsurance] [int] NULL,
	[premiumSecondAttorneyInsurance] [int] NULL,
	[insuranceCarrierThirdAttorneyInsurance] [varchar](1000) NULL,
	[policyPeriodThirdAttorneyInsurance] [varchar](100) NULL,
	[limitDeductibleThirdAttorneyInsurance] [varchar](100) NULL,
	[numberOfAttorneysForThirdAttorneyInsurance] [int] NULL,
	[premiumThirdAttorneyInsurance] [int] NULL,
	[policyKey] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneysInsurance_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]'))
ALTER TABLE [dbo].[AttorneysInsurance]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneysInsurance_FK_PolicyKey] FOREIGN KEY([policyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneysInsurance_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]'))
ALTER TABLE [dbo].[AttorneysInsurance] CHECK CONSTRAINT [CHK_AttorneysInsurance_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneysInsurance_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]'))
ALTER TABLE [dbo].[AttorneysInsurance]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneysInsurance_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneysInsurance_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneysInsurance]'))
ALTER TABLE [dbo].[AttorneysInsurance] CHECK CONSTRAINT [CHK_AttorneysInsurance_RecordType]
GO
