USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_pone_batch_reports_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[pone_batch_reports]'))
ALTER TABLE [dbo].[pone_batch_reports] DROP CONSTRAINT [CHK_pone_batch_reports_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pone_batch_reports]') AND type in (N'U'))
DROP TABLE [dbo].[pone_batch_reports]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pone_batch_reports]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pone_batch_reports](
	[batchreport_id] [int] IDENTITY(1,1) NOT NULL,
	[module_name] [varchar](100) NULL,
	[report_name] [varchar](100) NULL,
	[search_xml] [varchar](8000) NULL,
	[user_id] [varchar](50) NULL,
	[roles] [varchar](100) NULL,
	[isarchived] [char](1) NULL,
	[request_date] [datetime] NULL,
	[archive_date] [datetime] NULL,
	[isprocessed] [char](1) NULL,
	[isemailnotificationrequired] [char](1) NULL,
	[report_file_name] [varchar](150) NULL,
	[last_updated_by] [varchar](100) NOT NULL,
	[last_updated_ts] [datetime] NOT NULL,
	[search_xml_desc] [varchar](8000) NULL,
	[procedure_name] [varchar](200) NULL,
	[project_name] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[pone_batch_reports] ADD [output_type] [varchar](2) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[pone_batch_reports] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[pone_batch_reports] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[pone_batch_reports] ADD [search_name] [varchar](300) NULL
ALTER TABLE [dbo].[pone_batch_reports] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[pone_batch_reports] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[pone_batch_reports] ADD [CreatedBy] [int] NULL
 CONSTRAINT [XPK_pone_batch_reports] PRIMARY KEY CLUSTERED 
(
	[batchreport_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_pone_batch_reports_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[pone_batch_reports]'))
ALTER TABLE [dbo].[pone_batch_reports]  WITH CHECK ADD  CONSTRAINT [CHK_pone_batch_reports_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_pone_batch_reports_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[pone_batch_reports]'))
ALTER TABLE [dbo].[pone_batch_reports] CHECK CONSTRAINT [CHK_pone_batch_reports_RecordType]
GO
