USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTIALW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTIALW]'))
ALTER TABLE [dbo].[GrossRevenueForTIALW] DROP CONSTRAINT [CHK_GrossRevenueForTIALW_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GrossReve__Recor__220BD66F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GrossRevenueForTIALW] DROP CONSTRAINT [DF__GrossReve__Recor__220BD66F]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTIALW]') AND type in (N'U'))
DROP TABLE [dbo].[GrossRevenueForTIALW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTIALW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GrossRevenueForTIALW](
	[GrossRevenueForTIAKey] [int] IDENTITY(1,1) NOT NULL,
	[GrossRevenueForTIADesc] [varchar](120) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKGrossRevenueForTIALW] PRIMARY KEY CLUSTERED 
(
	[GrossRevenueForTIAKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GrossReve__Recor__220BD66F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GrossRevenueForTIALW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTIALW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTIALW]'))
ALTER TABLE [dbo].[GrossRevenueForTIALW]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForTIALW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTIALW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTIALW]'))
ALTER TABLE [dbo].[GrossRevenueForTIALW] CHECK CONSTRAINT [CHK_GrossRevenueForTIALW_RecordType]
GO
