USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [CHK_PolicyTransaction_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6623]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [R_6623]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2122]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [R_2122]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_100001]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [R_100001]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PolTrans_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [PolTrans_Status]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [CHK_PolicyTransaction_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] DROP CONSTRAINT [CHK_PolicyTransaction_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]') AND type in (N'U'))
DROP TABLE [dbo].[PolicyTransaction]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicyTransaction](
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] IDENTITY(1,1) NOT NULL,
	[TransactionEffectiveDate] [datetime] NULL,
	[TransactionTypeKey] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[PolicyExpirationDate] [datetime] NULL,
	[AccountKey] [int] NULL,
	[TransactionExpirationDate] [datetime] NULL,
	[ProducerCode] [varchar](50) NULL,
	[TotalPremium] [numeric](17, 2) NULL,
	[StatusKey] [int] NULL,
	[TotalPolicyModifierPercentage] [int] NULL,
	[TotalPolicyTaxAmount] [numeric](17, 2) NULL,
	[InvoicedPremium] [numeric](17, 2) NULL,
	[SubInsuranceCarrier] [varchar](50) NULL,
	[VersionSequence] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKPolicyTransaction] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[TransactionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyTransaction_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [CHK_PolicyTransaction_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH NOCHECK ADD  CONSTRAINT [CHK_PolicyTransaction_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [CHK_PolicyTransaction_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PolTrans_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH CHECK ADD  CONSTRAINT [PolTrans_Status] FOREIGN KEY([StatusKey])
REFERENCES [dbo].[Status] ([StatusKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PolTrans_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [PolTrans_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_100001]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH CHECK ADD  CONSTRAINT [R_100001] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_100001]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [R_100001]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2122]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH CHECK ADD  CONSTRAINT [R_2122] FOREIGN KEY([TransactionTypeKey])
REFERENCES [dbo].[TransactionType] ([TransactionTypeKey])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2122]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [R_2122]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6623]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH CHECK ADD  CONSTRAINT [R_6623] FOREIGN KEY([AccountKey])
REFERENCES [dbo].[Account] ([AccountKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6623]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [R_6623]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyTransaction_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransaction_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransaction]'))
ALTER TABLE [dbo].[PolicyTransaction] CHECK CONSTRAINT [CHK_PolicyTransaction_RecordType]
GO
