USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] DROP CONSTRAINT [CHK_ProdecessorFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_548]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] DROP CONSTRAINT [R_548]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] DROP CONSTRAINT [CHK_ProdecessorFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] DROP CONSTRAINT [CHK_ProdecessorFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[ProdecessorFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProdecessorFirmLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsERPPurchased] [char](1) NULL,
	[FirmName] [varchar](100) NULL,
	[TypeOfEntity] [varchar](100) NULL,
	[DissolutionDate] [datetime] NULL,
	[NumberOfAttorneyAtDiss] [int] NULL,
	[NumberOfAttorneyAtApplFirm] [int] NULL,
	[InsurerAtDissolution] [varchar](100) NULL,
	[ERPExpDate] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[ProdecessorFirmKey] [int] IDENTITY(1,1) NOT NULL,
	[DateOfAcquisation] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_ProdecessorFirmLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[ProdecessorFirmKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_ProdecessorFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] CHECK CONSTRAINT [CHK_ProdecessorFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ProdecessorFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] CHECK CONSTRAINT [CHK_ProdecessorFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_548]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW]  WITH CHECK ADD  CONSTRAINT [R_548] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_548]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] CHECK CONSTRAINT [R_548]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_ProdecessorFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProdecessorFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProdecessorFirmLW]'))
ALTER TABLE [dbo].[ProdecessorFirmLW] CHECK CONSTRAINT [CHK_ProdecessorFirmLW_RecordType]
GO
