USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] DROP CONSTRAINT [CHK_EnvironmentalSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_546]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] DROP CONSTRAINT [R_546]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] DROP CONSTRAINT [CHK_EnvironmentalSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] DROP CONSTRAINT [CHK_EnvironmentalSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[EnvironmentalSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EnvironmentalSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsApplUseIndepContractor] [char](1) NULL,
	[IsApplRenderLiabForCleanupExp] [char](1) NULL,
	[IsApplRenderEnvLaws] [char](1) NULL,
	[IsApplRecomEnvAudits] [char](1) NULL,
	[IsApplRefOfEnvConsultant] [char](1) NULL,
	[IsCleintRespForEngagementRisks] [char](1) NULL,
	[IsApplInterpretEnvCompAudits] [char](1) NULL,
	[IsClientsDiscloseEnvLiability] [char](1) NULL,
	[IsClientFinedForViolatingStateFedLaws] [char](1) NULL,
	[ApplicantUsed] [varchar](200) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKEnvironmentalSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_EnvironmentalSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] CHECK CONSTRAINT [CHK_EnvironmentalSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_EnvironmentalSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] CHECK CONSTRAINT [CHK_EnvironmentalSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_546]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW]  WITH CHECK ADD  CONSTRAINT [R_546] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_546]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] CHECK CONSTRAINT [R_546]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_EnvironmentalSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnvironmentalSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnvironmentalSuppLW]'))
ALTER TABLE [dbo].[EnvironmentalSuppLW] CHECK CONSTRAINT [CHK_EnvironmentalSuppLW_RecordType]
GO
