USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentStatusLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentStatusLKU]'))
ALTER TABLE [dbo].[CommentStatusLKU] DROP CONSTRAINT [CHK_CommentStatusLKU_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommentStatusLKU]') AND type in (N'U'))
DROP TABLE [dbo].[CommentStatusLKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommentStatusLKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CommentStatusLKU](
	[CommentStatusKey] [int] IDENTITY(1,1) NOT NULL,
	[CommentCode] [varchar](50) NULL,
	[CommentDescription] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[isArchived] [varchar](20) NULL CONSTRAINT [df_isArchived_value_2]  DEFAULT ('False'),
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentStatusLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentStatusLKU]'))
ALTER TABLE [dbo].[CommentStatusLKU]  WITH CHECK ADD  CONSTRAINT [CHK_CommentStatusLKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommentStatusLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentStatusLKU]'))
ALTER TABLE [dbo].[CommentStatusLKU] CHECK CONSTRAINT [CHK_CommentStatusLKU_RecordType]
GO
