USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_reportsavedsearch_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[reportsavedsearch]'))
ALTER TABLE [dbo].[reportsavedsearch] DROP CONSTRAINT [CHK_reportsavedsearch_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[reportsavedsearch]') AND type in (N'U'))
DROP TABLE [dbo].[reportsavedsearch]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[reportsavedsearch]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[reportsavedsearch](
	[search_id] [int] IDENTITY(1,1) NOT NULL,
	[search_name] [varchar](50) NOT NULL,
	[report_id] [varchar](100) NOT NULL,
	[search_xml] [varchar](8000) NULL,
	[last_updated_by] [varchar](50) NULL,
	[last_updated_ts] [datetime] NULL,
	[search_xml_desc] [varchar](5000) NULL,
	[created_by] [varchar](50) NULL,
	[isglobal] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_savedsearch] PRIMARY KEY CLUSTERED 
(
	[search_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_reportsavedsearch_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[reportsavedsearch]'))
ALTER TABLE [dbo].[reportsavedsearch]  WITH CHECK ADD  CONSTRAINT [CHK_reportsavedsearch_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_reportsavedsearch_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[reportsavedsearch]'))
ALTER TABLE [dbo].[reportsavedsearch] CHECK CONSTRAINT [CHK_reportsavedsearch_RecordType]
GO
