USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGasAttorneys_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys] DROP CONSTRAINT [CHK_OilAndGasAttorneys_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Versi__0CC6A0C6]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys] DROP CONSTRAINT [FK__OilAndGas__Versi__0CC6A0C6]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Polic__0BD27C8D]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys] DROP CONSTRAINT [FK__OilAndGas__Polic__0BD27C8D]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OilAndGas__Creat__0DBAC4FF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OilAndGasAttorneys] DROP CONSTRAINT [DF__OilAndGas__Creat__0DBAC4FF]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]') AND type in (N'U'))
DROP TABLE [dbo].[OilAndGasAttorneys]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OilAndGasAttorneys](
	[OilAndGasAttorneysKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[OilAndGasNumberOfLawyers] [varchar](200) NULL,
	[OilAndGasYrsInMineralsExp] [int] NULL,
	[OilAndGasPercentageOfTimeDevoted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OilAndGasAttorneysKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OilAndGas__Creat__0DBAC4FF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OilAndGasAttorneys] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Polic__0BD27C8D]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Versi__0CC6A0C6]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGasAttorneys_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys]  WITH CHECK ADD  CONSTRAINT [CHK_OilAndGasAttorneys_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGasAttorneys_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasAttorneys]'))
ALTER TABLE [dbo].[OilAndGasAttorneys] CHECK CONSTRAINT [CHK_OilAndGasAttorneys_RecordType]
GO
