USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BOIPLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BOIPLW]'))
ALTER TABLE [dbo].[BOIPLW] DROP CONSTRAINT [CHK_BOIPLW_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__BOIPLW__RecordTy__56B4A8D8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BOIPLW] DROP CONSTRAINT [DF__BOIPLW__RecordTy__56B4A8D8]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BOIPLW]') AND type in (N'U'))
DROP TABLE [dbo].[BOIPLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BOIPLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BOIPLW](
	[BOIPKey] [int] IDENTITY(1,1) NOT NULL,
	[BOIPDesc] [varchar](120) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKBOIPLW] PRIMARY KEY CLUSTERED 
(
	[BOIPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__BOIPLW__RecordTy__56B4A8D8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BOIPLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BOIPLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BOIPLW]'))
ALTER TABLE [dbo].[BOIPLW]  WITH CHECK ADD  CONSTRAINT [CHK_BOIPLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BOIPLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BOIPLW]'))
ALTER TABLE [dbo].[BOIPLW] CHECK CONSTRAINT [CHK_BOIPLW_RecordType]
GO
