USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] DROP CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttorneyInEntertainForFirmLW_FirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] DROP CONSTRAINT [FK_AttorneyInEntertainForFirmLW_FirmLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] DROP CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] DROP CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyInEntertainForFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyInEntertainForFirmLW](
	[AttorneyInEntertainKey] [int] IDENTITY(1,1) NOT NULL,
	[Years] [varchar](4) NULL,
	[AttorneyName] [varchar](100) NULL,
	[NumberOfYrsInSpec] [int] NULL,
	[PercentageOfTimeDev] [int] NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_AttorneyInEntertainForFirmLW] PRIMARY KEY CLUSTERED 
(
	[AttorneyInEntertainKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] CHECK CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] CHECK CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttorneyInEntertainForFirmLW_FirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW]  WITH CHECK ADD  CONSTRAINT [FK_AttorneyInEntertainForFirmLW_FirmLW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttorneyInEntertainForFirmLW_FirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] CHECK CONSTRAINT [FK_AttorneyInEntertainForFirmLW_FirmLW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainForFirmLW] CHECK CONSTRAINT [CHK_AttorneyInEntertainForFirmLW_RecordType]
GO
