USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] DROP CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] DROP CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] DROP CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]') AND type in (N'U'))
DROP TABLE [dbo].[WillSTrustEstateLargestTrustsDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WillSTrustEstateLargestTrustsDetails](
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[TrustName] [varchar](1000) NULL,
	[TrustsType] [varchar](500) NULL,
	[AssetsValue] [numeric](18, 0) NULL,
	[BeneficiaryInterest] [char](1) NULL,
	[LargestTrustsKey] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails]  WITH CHECK ADD  CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] CHECK CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] CHECK CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails]  WITH CHECK ADD  CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillSTrustEstateLargestTrustsDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillSTrustEstateLargestTrustsDetails]'))
ALTER TABLE [dbo].[WillSTrustEstateLargestTrustsDetails] CHECK CONSTRAINT [CHK_WillSTrustEstateLargestTrustsDetails_RecordType]
GO
