USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGasTopFiveClients_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients] DROP CONSTRAINT [CHK_OilAndGasTopFiveClients_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Versi__070DC770]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients] DROP CONSTRAINT [FK__OilAndGas__Versi__070DC770]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Polic__0619A337]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients] DROP CONSTRAINT [FK__OilAndGas__Polic__0619A337]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OilAndGas__Creat__0801EBA9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OilAndGasTopFiveClients] DROP CONSTRAINT [DF__OilAndGas__Creat__0801EBA9]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]') AND type in (N'U'))
DROP TABLE [dbo].[OilAndGasTopFiveClients]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OilAndGasTopFiveClients](
	[OilAndGasTopFiveClientsKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[OilAndGasClientName] [varchar](200) NULL,
	[OilAndGasTypesOfClient] [varchar](200) NULL,
	[OilAndGasTypeOfBusiness] [varchar](200) NULL,
	[OilAndGasGrossBillableHours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OilAndGasTopFiveClientsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OilAndGas__Creat__0801EBA9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OilAndGasTopFiveClients] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Polic__0619A337]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Versi__070DC770]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGasTopFiveClients_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients]  WITH CHECK ADD  CONSTRAINT [CHK_OilAndGasTopFiveClients_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGasTopFiveClients_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGasTopFiveClients]'))
ALTER TABLE [dbo].[OilAndGasTopFiveClients] CHECK CONSTRAINT [CHK_OilAndGasTopFiveClients_RecordType]
GO
