USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CancellationEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]'))
ALTER TABLE [dbo].[CancellationEndorsement] DROP CONSTRAINT [CHK_CancellationEndorsement_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CancellationEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]'))
ALTER TABLE [dbo].[CancellationEndorsement] DROP CONSTRAINT [CHK_CancellationEndorsement_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]') AND type in (N'U'))
DROP TABLE [dbo].[CancellationEndorsement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CancellationEndorsement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[CancellationReasonID] [int] NULL,
	[CancellationTypeID] [int] NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[TransactionSequence] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CancellationEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]'))
ALTER TABLE [dbo].[CancellationEndorsement]  WITH CHECK ADD  CONSTRAINT [CHK_CancellationEndorsement_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CancellationEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]'))
ALTER TABLE [dbo].[CancellationEndorsement] CHECK CONSTRAINT [CHK_CancellationEndorsement_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CancellationEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]'))
ALTER TABLE [dbo].[CancellationEndorsement]  WITH CHECK ADD  CONSTRAINT [CHK_CancellationEndorsement_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CancellationEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CancellationEndorsement]'))
ALTER TABLE [dbo].[CancellationEndorsement] CHECK CONSTRAINT [CHK_CancellationEndorsement_RecordType]
GO
