USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAOP_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAOP]'))
ALTER TABLE [dbo].[RevenueAOP] DROP CONSTRAINT [CHK_RevenueAOP_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueAO__Recor__5B4453CB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueAOP] DROP CONSTRAINT [DF__RevenueAO__Recor__5B4453CB]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RevenueAOP]') AND type in (N'U'))
DROP TABLE [dbo].[RevenueAOP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RevenueAOP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RevenueAOP](
	[RevenueAOPKey] [int] IDENTITY(1,1) NOT NULL,
	[RevenueAOPDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKRevenueAOP] PRIMARY KEY CLUSTERED 
(
	[RevenueAOPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueAO__Recor__5B4453CB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueAOP] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAOP_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAOP]'))
ALTER TABLE [dbo].[RevenueAOP]  WITH CHECK ADD  CONSTRAINT [CHK_RevenueAOP_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAOP_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAOP]'))
ALTER TABLE [dbo].[RevenueAOP] CHECK CONSTRAINT [CHK_RevenueAOP_RecordType]
GO
