USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimStatusLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimStatusLKU]'))
ALTER TABLE [dbo].[ClaimStatusLKU] DROP CONSTRAINT [CHK_ClaimStatusLKU_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimStatusLKU]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimStatusLKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimStatusLKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimStatusLKU](
	[ClaimStatusKey] [int] IDENTITY(1,1) NOT NULL,
	[ClaimCode] [varchar](50) NULL,
	[ClaimDescription] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimStatusLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimStatusLKU]'))
ALTER TABLE [dbo].[ClaimStatusLKU]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimStatusLKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimStatusLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimStatusLKU]'))
ALTER TABLE [dbo].[ClaimStatusLKU] CHECK CONSTRAINT [CHK_ClaimStatusLKU_RecordType]
GO
