USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] DROP CONSTRAINT [CHK_SecuritiesSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_557]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] DROP CONSTRAINT [R_557]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] DROP CONSTRAINT [CHK_SecuritiesSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] DROP CONSTRAINT [CHK_SecuritiesSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Securitie__Versi__54EC5BF7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SecuritiesSuppLW] DROP CONSTRAINT [DF__Securitie__Versi__54EC5BF7]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Securitie__Recor__600908E8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SecuritiesSuppLW] DROP CONSTRAINT [DF__Securitie__Recor__600908E8]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[SecuritiesSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SecuritiesSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[FeesDerFromApplSecurityFiscalYr1] [int] NULL,
	[FeesDerFromApplSecurityFiscalYr2] [int] NULL,
	[IsNoConflictWithSecurityMatters] [char](1) NULL,
	[IsAppSeekSecAdvRelToTransaction] [char](1) NULL,
	[AppSeekSecAdvRelToTransactionDesc] [varchar](100) NULL,
	[IsAppReqAttorneyToIntervClientDir] [char](1) NULL,
	[IsAppReqRecordsOfFactualsource] [char](1) NULL,
	[IsAppProhibitPolicyFromSecProcess] [char](1) NULL,
	[AppProhibitPolicyFromSecProcessDesc] [varchar](100) NULL,
	[IsAppProhibitSecAttorWithInvest] [char](1) NULL,
	[IsAppProhibitFirmFromTrading] [char](1) NULL,
	[IsAppReqSecToDissolveAllInvest] [char](1) NULL,
	[IsAppHavePolicyGovernTrading] [char](1) NULL,
	[IsAppPreventAttorneysStaff] [char](1) NULL,
	[IsAppPrecludingInDisclosureDocs] [char](1) NULL,
	[IsAppProhibitAttorneyOfDirector] [char](1) NULL,
	[IsAppProhSecPaysForAppServices] [char](1) NULL,
	[AppProhSecPaysForAppServicesDesc] [varchar](100) NULL,
	[IsAppHaveObligationToPayServices] [char](1) NULL,
	[IsAppReqAtleastOneSecurityAtt] [char](1) NULL,
	[IsAppPolicyReqExecutiveCommRev] [char](1) NULL,
	[IsAppSubjectOfInvestBySEC] [char](1) NULL,
	[IsAppProvLegalServiceFor1933Act] [char](1) NULL,
	[IsSecurityIssuedByBank] [char](1) NULL,
	[IsSecurityIssuedByUS] [char](1) NULL,
	[IsSecurityIssuedByLoanInstitute] [char](1) NULL,
	[IsAppProvLegalServiceForInsuranceBonds] [char](1) NULL,
	[IsAppProvLegalserviceForPrivPlaceBonds] [char](1) NULL,
	[IsDiligenceRetForAllPrivateBonds] [char](1) NULL,
	[NumberOfBondsIssuedToApp] [int] NULL,
	[NumberOfBondsForGenObligation] [int] NULL,
	[NumberOfBondsByRevenue] [int] NULL,
	[NumberOfBondsOtherDetails] [int] NULL,
	[ApplicantEmployForBondIssues] [varchar](100) NULL,
	[BondCounsel] [varchar](100) NULL,
	[Issuer] [varchar](100) NULL,
	[Underwriter] [varchar](100) NULL,
	[ApplicantEmployForBondIssuesOther] [varchar](100) NULL,
	[NumberOfBondHaveExpInDefProc] [varchar](100) NULL,
	[NumberOfBondCurrentInDef] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKSecuritiesSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Securitie__Recor__600908E8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SecuritiesSuppLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Securitie__Versi__54EC5BF7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SecuritiesSuppLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_SecuritiesSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] CHECK CONSTRAINT [CHK_SecuritiesSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_SecuritiesSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] CHECK CONSTRAINT [CHK_SecuritiesSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_557]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW]  WITH CHECK ADD  CONSTRAINT [R_557] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_557]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] CHECK CONSTRAINT [R_557]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_SecuritiesSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SecuritiesSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SecuritiesSuppLW]'))
ALTER TABLE [dbo].[SecuritiesSuppLW] CHECK CONSTRAINT [CHK_SecuritiesSuppLW_RecordType]
GO
