USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] DROP CONSTRAINT [CHK_FormDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] DROP CONSTRAINT [CHK_FormDesign_TitleVisibility]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] DROP CONSTRAINT [CHK_FormDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] DROP CONSTRAINT [CHK_FormDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Layout]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] DROP CONSTRAINT [CHK_FormDesign_Layout]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] DROP CONSTRAINT [CHK_FormDesign_Category]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormDesign]') AND type in (N'U'))
DROP TABLE [dbo].[FormDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormDesign](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[FormVersionKey] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[TitleVisibility] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[Category] [varchar](20) NOT NULL,
	[Layout] [varchar](20) NOT NULL,
	[TYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FormDesign_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FormDesign_Category] CHECK  (([Category]='None' OR [Category]='Required' OR [Category]='Warning' OR [Category]='Readonly' OR [Category]='Disabled'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] CHECK CONSTRAINT [CHK_FormDesign_Category]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Layout]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FormDesign_Layout] CHECK  (([Layout]='Tabular' OR [Layout]='Singular' OR [Layout]='Wizard'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Layout]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] CHECK CONSTRAINT [CHK_FormDesign_Layout]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FormDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] CHECK CONSTRAINT [CHK_FormDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FormDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] CHECK CONSTRAINT [CHK_FormDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FormDesign_TitleVisibility] CHECK  (([TitleVisibility]='None' OR [TitleVisibility]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] CHECK CONSTRAINT [CHK_FormDesign_TitleVisibility]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FormDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FormDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormDesign]'))
ALTER TABLE [dbo].[FormDesign] CHECK CONSTRAINT [CHK_FormDesign_VisibilityType]
GO
