USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstatePracticeAreas_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas] DROP CONSTRAINT [CHK_RealEstatePracticeAreas_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Versi__1DF12CC8]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas] DROP CONSTRAINT [FK__RealEstat__Versi__1DF12CC8]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Polic__1CFD088F]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas] DROP CONSTRAINT [FK__RealEstat__Polic__1CFD088F]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RealEstat__Creat__1EE55101]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RealEstatePracticeAreas] DROP CONSTRAINT [DF__RealEstat__Creat__1EE55101]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]') AND type in (N'U'))
DROP TABLE [dbo].[RealEstatePracticeAreas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RealEstatePracticeAreas](
	[RealEstatePracticeAreasKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[RealEstPracticeArea] [varchar](500) NULL,
	[RealEstCurrentYear] [int] NULL,
	[RealEstPreviousYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RealEstatePracticeAreasKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RealEstat__Creat__1EE55101]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RealEstatePracticeAreas] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Polic__1CFD088F]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RealEstat__Versi__1DF12CC8]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstatePracticeAreas_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas]  WITH CHECK ADD  CONSTRAINT [CHK_RealEstatePracticeAreas_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstatePracticeAreas_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstatePracticeAreas]'))
ALTER TABLE [dbo].[RealEstatePracticeAreas] CHECK CONSTRAINT [CHK_RealEstatePracticeAreas_RecordType]
GO
