USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Modifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modifiers]'))
ALTER TABLE [dbo].[Modifiers] DROP CONSTRAINT [CHK_Modifiers_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modifiers]') AND type in (N'U'))
DROP TABLE [dbo].[Modifiers]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modifiers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Modifiers](
	[ModifierKey] [int] IDENTITY(1,1) NOT NULL,
	[ModifierDesc] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Name] [varchar](100) NOT NULL DEFAULT ('code'),
	[Code] [varchar](100) NOT NULL DEFAULT ('code'),
PRIMARY KEY CLUSTERED 
(
	[ModifierKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_Modifiers_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_Modifiers_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Modifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modifiers]'))
ALTER TABLE [dbo].[Modifiers]  WITH CHECK ADD  CONSTRAINT [CHK_Modifiers_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Modifiers_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modifiers]'))
ALTER TABLE [dbo].[Modifiers] CHECK CONSTRAINT [CHK_Modifiers_RecordType]
GO
