USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PredecessorSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp] DROP CONSTRAINT [CHK_PredecessorSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Versi__6E0D0F7C]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp] DROP CONSTRAINT [FK__Predecess__Versi__6E0D0F7C]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Polic__6D18EB43]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp] DROP CONSTRAINT [FK__Predecess__Polic__6D18EB43]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Predecess__Creat__6F0133B5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PredecessorSupp] DROP CONSTRAINT [DF__Predecess__Creat__6F0133B5]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]') AND type in (N'U'))
DROP TABLE [dbo].[PredecessorSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PredecessorSupp](
	[PredecessorSuppKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[DissolvedCircumstancesDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PredecessorSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Predecess__Creat__6F0133B5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PredecessorSupp] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Polic__6D18EB43]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Versi__6E0D0F7C]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PredecessorSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp]  WITH CHECK ADD  CONSTRAINT [CHK_PredecessorSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PredecessorSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSupp]'))
ALTER TABLE [dbo].[PredecessorSupp] CHECK CONSTRAINT [CHK_PredecessorSupp_RecordType]
GO
