USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RenewalTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RenewalTable]'))
ALTER TABLE [dbo].[RenewalTable] DROP CONSTRAINT [CHK_RenewalTable_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RenewalTa__Recor__595C0B59]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RenewalTable] DROP CONSTRAINT [DF__RenewalTa__Recor__595C0B59]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewalTable]') AND type in (N'U'))
DROP TABLE [dbo].[RenewalTable]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RenewalTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RenewalTable](
	[Days] [int] NOT NULL,
	[PolicyKey] [varchar](100) NOT NULL,
	[ContactPerson] [varchar](100) NULL,
	[AccountName] [varchar](100) NOT NULL,
	[AccountEmail] [varchar](100) NOT NULL,
	[PolicyExpirationDate] [varchar](100) NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[StateCode] [varchar](20) NULL,
	[isAppCompleted] [varchar](20) NULL,
	[secondaryEmail] [varchar](100) NULL,
	[ProducerCode] [varchar](100) NULL,
	[SPPhoneNumber] [varchar](50) NULL,
	[ProducerName] [varchar](100) NULL,
	[SPContactName] [varchar](100) NULL,
	[Fax] [varchar](50) NULL,
	[Signature] [varchar](500) NULL,
	[SPWebsite] [varchar](100) NULL,
	[SendRenewalSolicitation] [varchar](10) NULL,
	[SPConatctEmailId] [varchar](50) NULL,
	[SubProducerAccess] [varchar](10) NULL,
	[SignatureText] [varchar](500) NULL,
	[EmailSignature] [varchar](500) NULL,
	[SignatureText3] [varchar](500) NULL,
	[Producer_email] [varchar](100) NULL,
	[SignatureText2] [varchar](500) NULL,
	[EmailBody] [varchar](8000) NULL,
	[EmailSubject] [varchar](1000) NULL,
	[StateDesc] [varchar](50) NULL,
	[isrenewed] [char](1) NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[PolicyNumber] [varchar](20) NULL,
	[LOBKey] [char](1) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RenewalTa__Recor__595C0B59]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RenewalTable] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RenewalTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RenewalTable]'))
ALTER TABLE [dbo].[RenewalTable]  WITH CHECK ADD  CONSTRAINT [CHK_RenewalTable_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RenewalTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RenewalTable]'))
ALTER TABLE [dbo].[RenewalTable] CHECK CONSTRAINT [CHK_RenewalTable_RecordType]
GO
