USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Policy_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] DROP CONSTRAINT [CHK_Policy_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_61013]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] DROP CONSTRAINT [R_61013]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6012]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] DROP CONSTRAINT [R_6012]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5901]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] DROP CONSTRAINT [R_5901]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Policy__CompanyK__01F40C98]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] DROP CONSTRAINT [FK__Policy__CompanyK__01F40C98]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Policy]') AND type in (N'U'))
DROP TABLE [dbo].[Policy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Policy]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Policy](
	[PolicyKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyEffectiveDate] [datetime] NULL,
	[AccountID] [int] NULL,
	[PolicyNumber] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[isUncompletedData] [char](1) NULL,
	[QuoteNumber] [varchar](20) NULL,
	[IsFullQuote] [char](1) NULL,
	[IsQuickQuote] [char](1) NULL,
	[MarketableProductKey] [int] NULL,
	[ReasonStatusComment] [varchar](8000) NULL,
	[ReasonStatusTypeKey] [int] NULL,
	[PolicyStatusKey] [int] NULL,
	[InsuredUpdateTimeStamp] [datetime] NULL,
	[AppCreatedDate] [datetime] NULL,
	[RenewOfPolicyNumber] [varchar](20) NULL,
	[QuoteType] [varchar](20) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[TransactionCount] [int] NULL,
	[VersionKey] [int] NULL DEFAULT ((0)),
	[FormId] [int] NULL,
	[FormVersionKey] [int] NULL,
	[CompanyKey] [int] NULL,
 CONSTRAINT [XPKPolicy] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Policy__CompanyK__01F40C98]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5901]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [R_5901] FOREIGN KEY([MarketableProductKey])
REFERENCES [dbo].[MarketableProduct] ([MarketableProductKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5901]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [R_5901]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6012]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [R_6012] FOREIGN KEY([ReasonStatusTypeKey])
REFERENCES [dbo].[ReasonStatusType] ([ReasonStatusTypeKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6012]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [R_6012]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_61013]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [R_61013] FOREIGN KEY([PolicyStatusKey])
REFERENCES [dbo].[PolicyStatus] ([PolicyStatusKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_61013]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [R_61013]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Policy_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [CHK_Policy_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Policy_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Policy]'))
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [CHK_Policy_RecordType]
GO
