USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [CHK_PolicyCoverage_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_802]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [R_802]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7811]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [R_7811]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6956]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [R_6956]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6756]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [R_6756]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20211]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [R_20211]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyCoverage_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] DROP CONSTRAINT [CHK_PolicyCoverage_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]') AND type in (N'U'))
DROP TABLE [dbo].[PolicyCoverage]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicyCoverage](
	[CoverageSequence] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[MarketableProductKey] [int] NULL,
	[CoverageKey] [int] NULL,
	[Premium] [numeric](15, 0) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RetroActiveDate] [datetime] NULL,
	[IsClaimOptionType] [varchar](8) NULL,
	[IsClaimExpensesType] [varchar](11) NULL,
	[SOISequence] [int] NULL,
	[AggregateLimit] [int] NULL,
	[OccuranceLimit] [int] NULL,
	[OccuranceDeductible] [int] NULL,
	[AggregateDeductible] [int] NULL,
	[TotalCovModifierPercentage] [int] NULL,
	[TotalCoverageTaxAmount] [numeric](17, 2) NULL,
	[InitialCovPremium] [numeric](17, 2) NULL,
	[Exposure] [varchar](50) NULL,
	[RiskState] [int] NULL,
	[RiskZip] [varchar](4) NULL,
	[ERPDate] [datetime] NULL,
	[Commission] [numeric](15, 0) NULL,
	[AttachmentPoint] [varchar](50) NULL,
	[PrimaryAccess] [varchar](50) NULL,
	[ClassCode] [varchar](50) NULL,
	[IsDollarDefense] [char](1) NULL,
	[ManualPremium] [numeric](15, 0) NULL,
	[IsManualPremium] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKPolicyCoverage] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[TransactionSequence] ASC,
	[CoverageSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyCoverage_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyCoverage_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyCoverage_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [CHK_PolicyCoverage_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20211]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [R_20211] FOREIGN KEY([MarketableProductKey], [CoverageKey])
REFERENCES [dbo].[MarketableProductCoverage] ([MarketableProductKey], [CoverageKey])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20211]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [R_20211]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6756]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [R_6756] FOREIGN KEY([PolicyKey], [TransactionSequence])
REFERENCES [dbo].[PolicyTransaction] ([PolicyKey], [TransactionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6756]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [R_6756]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6956]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [R_6956] FOREIGN KEY([PolicyKey], [TransactionSequence], [SOISequence])
REFERENCES [dbo].[PolicySOI] ([PolicyKey], [TransactionSequence], [SOISequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6956]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [R_6956]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7811]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [R_7811] FOREIGN KEY([OccuranceDeductible], [AggregateDeductible], [CoverageKey])
REFERENCES [dbo].[Deductibles] ([OccuranceDeductible], [AggregateDeductible], [CoverageKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7811]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [R_7811]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_802]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [R_802] FOREIGN KEY([AggregateLimit], [OccuranceLimit], [CoverageKey])
REFERENCES [dbo].[Limits] ([AggregateLimit], [OccuranceLimit], [CoverageKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_802]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [R_802]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyCoverage_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyCoverage]'))
ALTER TABLE [dbo].[PolicyCoverage] CHECK CONSTRAINT [CHK_PolicyCoverage_RecordType]
GO
