USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] DROP CONSTRAINT [CHK_NonPublicAuditIndustrySupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2011]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] DROP CONSTRAINT [R_2011]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] DROP CONSTRAINT [CHK_NonPublicAuditIndustrySupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] DROP CONSTRAINT [CHK_NonPublicAuditIndustrySupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Versi__44B5F42E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] DROP CONSTRAINT [DF__NonPublic__Versi__44B5F42E]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Recor__33366271]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] DROP CONSTRAINT [DF__NonPublic__Recor__33366271]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]') AND type in (N'U'))
DROP TABLE [dbo].[NonPublicAuditIndustrySupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NonPublicAuditIndustrySupp](
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKNonPublicAuditIndustrySupp] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Recor__33366271]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Versi__44B5F42E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp]  WITH CHECK ADD  CONSTRAINT [CHK_NonPublicAuditIndustrySupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] CHECK CONSTRAINT [CHK_NonPublicAuditIndustrySupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_NonPublicAuditIndustrySupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] CHECK CONSTRAINT [CHK_NonPublicAuditIndustrySupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2011]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp]  WITH CHECK ADD  CONSTRAINT [R_2011] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_2011]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] CHECK CONSTRAINT [R_2011]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp]  WITH CHECK ADD  CONSTRAINT [CHK_NonPublicAuditIndustrySupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPublicAuditIndustrySupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPublicAuditIndustrySupp]'))
ALTER TABLE [dbo].[NonPublicAuditIndustrySupp] CHECK CONSTRAINT [CHK_NonPublicAuditIndustrySupp_RecordType]
GO
