USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SingedDocument_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument] DROP CONSTRAINT [CHK_SingedDocument_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SingedDocument__48EFCE0F]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument] DROP CONSTRAINT [FK__SingedDocument__48EFCE0F]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SingedDocument_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument] DROP CONSTRAINT [CHK_SingedDocument_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SingedDocument]') AND type in (N'U'))
DROP TABLE [dbo].[SingedDocument]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SingedDocument]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SingedDocument](
	[SignedDocumentKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[SignedDocumentID] [varchar](100) NULL,
	[SignedDocumentToken] [varchar](100) NULL,
	[SignatoryID] [varchar](100) NULL,
	[SignedAuthToken] [varchar](100) NULL,
	[OrderNumber] [numeric](15, 0) NULL,
	[DocumentStatus] [varchar](80) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SignedDocumentKey] ASC,
	[PolicyKey] ASC,
	[TransactionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SingedDocument_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument]  WITH CHECK ADD  CONSTRAINT [CHK_SingedDocument_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SingedDocument_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument] CHECK CONSTRAINT [CHK_SingedDocument_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SingedDocument__48EFCE0F]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [TransactionSequence])
REFERENCES [dbo].[PolicyTransaction] ([PolicyKey], [TransactionSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SingedDocument_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument]  WITH CHECK ADD  CONSTRAINT [CHK_SingedDocument_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SingedDocument_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SingedDocument]'))
ALTER TABLE [dbo].[SingedDocument] CHECK CONSTRAINT [CHK_SingedDocument_RecordType]
GO
