USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDesignationLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDesignationLW]'))
ALTER TABLE [dbo].[AttorneyDesignationLW] DROP CONSTRAINT [CHK_AttorneyDesignationLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyDesignationLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyDesignationLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyDesignationLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyDesignationLW](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[DesignationDescription] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDesignationLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDesignationLW]'))
ALTER TABLE [dbo].[AttorneyDesignationLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyDesignationLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDesignationLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDesignationLW]'))
ALTER TABLE [dbo].[AttorneyDesignationLW] CHECK CONSTRAINT [CHK_AttorneyDesignationLW_RecordType]
GO
