USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_MarketableProductCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage] DROP CONSTRAINT [CHK_MarketableProductCoverage_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_411]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage] DROP CONSTRAINT [R_411]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_311]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage] DROP CONSTRAINT [R_311]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]') AND type in (N'U'))
DROP TABLE [dbo].[MarketableProductCoverage]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MarketableProductCoverage](
	[MarketableProductKey] [int] NOT NULL,
	[CoverageKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKMarketableProductCoverage] PRIMARY KEY CLUSTERED 
(
	[MarketableProductKey] ASC,
	[CoverageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_311]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage]  WITH CHECK ADD  CONSTRAINT [R_311] FOREIGN KEY([MarketableProductKey])
REFERENCES [dbo].[MarketableProduct] ([MarketableProductKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_311]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage] CHECK CONSTRAINT [R_311]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_411]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage]  WITH CHECK ADD  CONSTRAINT [R_411] FOREIGN KEY([CoverageKey])
REFERENCES [dbo].[Coverages] ([CoverageKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_411]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage] CHECK CONSTRAINT [R_411]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_MarketableProductCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage]  WITH CHECK ADD  CONSTRAINT [CHK_MarketableProductCoverage_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_MarketableProductCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[MarketableProductCoverage]'))
ALTER TABLE [dbo].[MarketableProductCoverage] CHECK CONSTRAINT [CHK_MarketableProductCoverage_RecordType]
GO
