USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PaymentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail] DROP CONSTRAINT [CHK_PaymentDetail_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PaymentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail] DROP CONSTRAINT [CHK_PaymentDetail_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentDetail]') AND type in (N'U'))
DROP TABLE [dbo].[PaymentDetail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PaymentDetail](
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[BankerName] [varchar](100) NULL,
	[RoutingNumber] [varchar](100) NULL,
	[AccountNumber] [varchar](100) NULL,
	[ChequeNumber] [varchar](100) NULL,
	[Amount] [numeric](15, 0) NULL,
	[ContactPerson] [varchar](80) NULL,
	[ContactPhone] [varchar](20) NULL,
	[FinanceCompanyName] [varchar](100) NULL,
	[Detail] [varchar](100) NULL,
	[TransactionID] [varchar](100) NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionStatus] [varchar](100) NULL,
	[PaymentMode] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[PaymentDetailId] [int] IDENTITY(1,1) NOT NULL,
	[FinanceInterval] [varchar](50) NULL,
	[FinanceDownPayment] [varchar](50) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[isManualPayment] [char](1) NULL,
 CONSTRAINT [pk_PaymentDetailId] PRIMARY KEY CLUSTERED 
(
	[PaymentDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PaymentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentDetail_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PaymentDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail] CHECK CONSTRAINT [CHK_PaymentDetail_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PaymentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentDetail_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PaymentDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail] CHECK CONSTRAINT [CHK_PaymentDetail_RecordType]
GO
