USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RuleComment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleComment]'))
ALTER TABLE [dbo].[RuleComment] DROP CONSTRAINT [CHK_RuleComment_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RuleComme__RuleP__0E591826]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleComment]'))
ALTER TABLE [dbo].[RuleComment] DROP CONSTRAINT [FK__RuleComme__RuleP__0E591826]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RuleComment]') AND type in (N'U'))
DROP TABLE [dbo].[RuleComment]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RuleComment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RuleComment](
	[RuleCommnetId] [int] IDENTITY(1,1) NOT NULL,
	[RulePolicyId] [int] NULL,
	[Comment] [varchar](8000) NULL,
	[ActionTakenBy] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleCommnetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RuleComme__RuleP__0E591826]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleComment]'))
ALTER TABLE [dbo].[RuleComment]  WITH CHECK ADD FOREIGN KEY([RulePolicyId])
REFERENCES [dbo].[RulePolicyTransaction] ([RulePolicyId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RuleComment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleComment]'))
ALTER TABLE [dbo].[RuleComment]  WITH CHECK ADD  CONSTRAINT [CHK_RuleComment_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RuleComment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleComment]'))
ALTER TABLE [dbo].[RuleComment] CHECK CONSTRAINT [CHK_RuleComment_RecordType]
GO
