USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsStateTrustAmountsLW_LKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsStateTrustAmountsLW_LKU]'))
ALTER TABLE [dbo].[WillsStateTrustAmountsLW_LKU] DROP CONSTRAINT [CHK_WillsStateTrustAmountsLW_LKU_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsStateTrustAmountsLW_LKU]') AND type in (N'U'))
DROP TABLE [dbo].[WillsStateTrustAmountsLW_LKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsStateTrustAmountsLW_LKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WillsStateTrustAmountsLW_LKU](
	[AmountRangeKey] [int] IDENTITY(1,1) NOT NULL,
	[AmountRangeDesc] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsStateTrustAmountsLW_LKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsStateTrustAmountsLW_LKU]'))
ALTER TABLE [dbo].[WillsStateTrustAmountsLW_LKU]  WITH CHECK ADD  CONSTRAINT [CHK_WillsStateTrustAmountsLW_LKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsStateTrustAmountsLW_LKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsStateTrustAmountsLW_LKU]'))
ALTER TABLE [dbo].[WillsStateTrustAmountsLW_LKU] CHECK CONSTRAINT [CHK_WillsStateTrustAmountsLW_LKU_RecordType]
GO
