USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsManagement2_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2] DROP CONSTRAINT [CHK_FirmOperationsManagement2_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Versi__629B5CD0]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2] DROP CONSTRAINT [FK__FirmOpera__Versi__629B5CD0]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Polic__61A73897]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2] DROP CONSTRAINT [FK__FirmOpera__Polic__61A73897]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOpera__Creat__638F8109]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOperationsManagement2] DROP CONSTRAINT [DF__FirmOpera__Creat__638F8109]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]') AND type in (N'U'))
DROP TABLE [dbo].[FirmOperationsManagement2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmOperationsManagement2](
	[FirmOperationsManagement2Key] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InterestMoreThan15Percent] [varchar](50) NULL,
	[ServeAsDirOffTrustee] [varchar](50) NULL,
	[FirmShareLetterHead] [varchar](50) NULL,
	[FirmShareLetterHeadAttachmentName] [varchar](100) NULL,
	[CollectionOfDelinquentFees] [varchar](50) NULL,
	[CoverageRequestedForPredecessorFirm] [varchar](50) NULL,
	[ClassActionMassTort] [varchar](50) NULL,
	[EntertainmentClientele] [varchar](50) NULL,
	[MarijuanaMedicalRecreational] [varchar](50) NULL,
	[Patent] [varchar](50) NULL,
	[SecuritiesPublicPrivate] [varchar](50) NULL,
	[WaterRights] [varchar](50) NULL,
	[LegalServicesDetails] [varchar](500) NULL,
	[ProfessionalServicesAsAccIns] [varchar](50) NULL,
	[ProfessionalServicesAsAccInsDetails] [varchar](500) NULL,
	[IsFirmBillingMoreThan25Percent] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmOperationsManagement2Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmOpera__Creat__638F8109]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmOperationsManagement2] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Polic__61A73897]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmOpera__Versi__629B5CD0]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsManagement2_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2]  WITH CHECK ADD  CONSTRAINT [CHK_FirmOperationsManagement2_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmOperationsManagement2_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmOperationsManagement2]'))
ALTER TABLE [dbo].[FirmOperationsManagement2] CHECK CONSTRAINT [CHK_FirmOperationsManagement2_RecordType]
GO
