USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] DROP CONSTRAINT [CHK_IntellectualPropSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_553]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] DROP CONSTRAINT [R_553]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] DROP CONSTRAINT [CHK_IntellectualPropSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] DROP CONSTRAINT [CHK_IntellectualPropSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Intellect__Versi__3FF13F11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IntellectualPropSuppLW] DROP CONSTRAINT [DF__Intellect__Versi__3FF13F11]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Intellect__Recor__26D08B8C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IntellectualPropSuppLW] DROP CONSTRAINT [DF__Intellect__Recor__26D08B8C]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[IntellectualPropSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IntellectualPropSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsApplLitigatedForPropMatter] [char](1) NULL,
	[IsApplHaveProcForIntPropApproval] [char](1) NULL,
	[IsApplAcceptClientReqWith90Days] [char](1) NULL,
	[IsApplHaveProcToWarnClient] [char](1) NULL,
	[IsApplHaveReviewForIntProperty] [char](1) NULL,
	[IsWorkSuperviseBySeniorAttorney] [char](1) NULL,
	[IsApplAllowRepOfInventorClients] [char](1) NULL,
	[NumberOfAttorneys] [int] NULL,
	[NumberOfPatentAgents] [int] NULL,
	[IsApplRequireEngLetterForPatentSearch] [char](1) NULL,
	[IsClientAwareOfDeadlines] [char](1) NULL,
	[IsApplicantReferMatterToForeignFirm] [char](1) NULL,
	[ApplicantReferMatterToForeignFirmDesc] [varchar](100) NULL,
	[IsApplResponsibleForPaymentsOfTaxes] [char](1) NULL,
	[IsApplEngageServiceOfThirdParty] [char](1) NULL,
	[ApplEngageServiceOfThirdPartyDesc] [varchar](100) NULL,
	[IsApplQualifyOpinionToScopeOfSearch] [char](1) NULL,
	[IsApplEmployContractAttorneys] [char](1) NULL,
	[IsAttorneyRevBySeniorAttorney] [char](1) NULL,
	[IsAttorneyHaveExpInIntelProp] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKInte] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Intellect__Recor__26D08B8C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IntellectualPropSuppLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Intellect__Versi__3FF13F11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IntellectualPropSuppLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_IntellectualPropSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] CHECK CONSTRAINT [CHK_IntellectualPropSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_IntellectualPropSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] CHECK CONSTRAINT [CHK_IntellectualPropSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_553]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW]  WITH CHECK ADD  CONSTRAINT [R_553] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_553]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] CHECK CONSTRAINT [R_553]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_IntellectualPropSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_IntellectualPropSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[IntellectualPropSuppLW]'))
ALTER TABLE [dbo].[IntellectualPropSuppLW] CHECK CONSTRAINT [CHK_IntellectualPropSuppLW_RecordType]
GO
