USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOSLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOSLW]'))
ALTER TABLE [dbo].[AOSLW] DROP CONSTRAINT [CHK_AOSLW_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AOSLW__RecordTyp__3CF4D6D5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AOSLW] DROP CONSTRAINT [DF__AOSLW__RecordTyp__3CF4D6D5]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOSLW]') AND type in (N'U'))
DROP TABLE [dbo].[AOSLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOSLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AOSLW](
	[AOSKey] [int] IDENTITY(1,1) NOT NULL,
	[AOSDesc] [varchar](120) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKAOSLW] PRIMARY KEY CLUSTERED 
(
	[AOSKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AOSLW__RecordTyp__3CF4D6D5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AOSLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOSLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOSLW]'))
ALTER TABLE [dbo].[AOSLW]  WITH CHECK ADD  CONSTRAINT [CHK_AOSLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOSLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOSLW]'))
ALTER TABLE [dbo].[AOSLW] CHECK CONSTRAINT [CHK_AOSLW_RecordType]
GO
