USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] DROP CONSTRAINT [CHK_FinancialInstitutionLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_575]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] DROP CONSTRAINT [R_575]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] DROP CONSTRAINT [CHK_FinancialInstitutionLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] DROP CONSTRAINT [CHK_FinancialInstitutionLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]') AND type in (N'U'))
DROP TABLE [dbo].[FinancialInstitutionLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FinancialInstitutionLW](
	[FinancialInstitutionKey] [int] IDENTITY(1,1) NOT NULL,
	[FirmMember] [varchar](120) NULL,
	[NatureOfCapOfServices] [varchar](120) NULL,
	[DateInitiated] [datetime] NULL,
	[DateEnded] [datetime] NULL,
	[IsClient] [char](1) NULL,
	[DateOfInsolvency] [datetime] NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[InstitutionName] [varchar](100) NULL,
	[InstitutionState] [varchar](200) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKFinancialInstitutionLW] PRIMARY KEY CLUSTERED 
(
	[FinancialInstitutionKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstitutionLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] CHECK CONSTRAINT [CHK_FinancialInstitutionLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FinancialInstitutionLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] CHECK CONSTRAINT [CHK_FinancialInstitutionLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_575]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW]  WITH CHECK ADD  CONSTRAINT [R_575] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FinancialInstSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_575]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] CHECK CONSTRAINT [R_575]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstitutionLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionLW]'))
ALTER TABLE [dbo].[FinancialInstitutionLW] CHECK CONSTRAINT [CHK_FinancialInstitutionLW_RecordType]
GO
