USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGas_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas] DROP CONSTRAINT [CHK_OilAndGas_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Versi__0154EE1A]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas] DROP CONSTRAINT [FK__OilAndGas__Versi__0154EE1A]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Polic__0060C9E1]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas] DROP CONSTRAINT [FK__OilAndGas__Polic__0060C9E1]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OilAndGas__Creat__02491253]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OilAndGas] DROP CONSTRAINT [DF__OilAndGas__Creat__02491253]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilAndGas]') AND type in (N'U'))
DROP TABLE [dbo].[OilAndGas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilAndGas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OilAndGas](
	[OilAndGasKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[OilAndGasTitleSearches] [varchar](50) NULL,
	[OilAndGasOwnershipInterest] [varchar](50) NULL,
	[OilAndGasContractDrafting] [varchar](50) NULL,
	[OilAndGasContractDraftingDesc] [varchar](500) NULL,
	[OilAndGasEnvIssues] [varchar](50) NULL,
	[OilAndGasEnvIssuesDesc] [varchar](500) NULL,
	[OilAndGasLiens] [varchar](50) NULL,
	[OilAndGasLiensDesc] [varchar](500) NULL,
	[OilAndGasLoansSecured] [varchar](50) NULL,
	[OilAndGasLoansSecuredDesc] [varchar](500) NULL,
	[OilAndGasMineralLeases] [varchar](50) NULL,
	[OilAndGasMineralLeasesDesc] [varchar](500) NULL,
	[OilAndGasNaturallyOccuringRadioActvMtr] [varchar](50) NULL,
	[OilAndGasNaturallyOccuringRadioActvMtrDesc] [varchar](500) NULL,
	[OilAndGasPurchasesAndSaleAggrement] [varchar](50) NULL,
	[OilAndGasPurchasesAndSaleAggrementDesc] [varchar](500) NULL,
	[OilAndGasEnvLeases] [varchar](50) NULL,
	[OilAndGasEnvLeasesDesc] [varchar](500) NULL,
	[OilAndGasRoyaltyAgreements] [varchar](50) NULL,
	[OilAndGasRoyaltyAgreementsDesc] [varchar](500) NULL,
	[OilAndGasSeismicAgreements] [varchar](50) NULL,
	[OilAndGasSeismicAgreementsDesc] [varchar](500) NULL,
	[OilAndGasTaxation] [varchar](50) NULL,
	[OilAndGasTaxationDesc] [varchar](500) NULL,
	[OilAndGasTitleOpinions] [varchar](50) NULL,
	[OilAndGasTitleOpinionsDesc] [varchar](500) NULL,
	[OilAndGasValuationOfSubsurface] [varchar](50) NULL,
	[OilAndGasValuationOfSubsurfaceDesc] [varchar](500) NULL,
	[OilAndGasAopConjunction] [varchar](50) NULL,
	[OilAndGasAopConjunctionDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[OilAndGasKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OilAndGas__Creat__02491253]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OilAndGas] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Polic__0060C9E1]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OilAndGas__Versi__0154EE1A]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGas_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas]  WITH CHECK ADD  CONSTRAINT [CHK_OilAndGas_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OilAndGas_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OilAndGas]'))
ALTER TABLE [dbo].[OilAndGas] CHECK CONSTRAINT [CHK_OilAndGas_RecordType]
GO
