USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW] DROP CONSTRAINT [CHK_collectionsSuplimentDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW] DROP CONSTRAINT [CHK_collectionsSuplimentDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW] DROP CONSTRAINT [CHK_collectionsSuplimentDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[collectionsSuplimentDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[collectionsSuplimentDetailsLW](
	[CollectionsID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[averageCases] [int] NULL,
	[consumerCollections] [int] NULL,
	[commercialollections] [int] NULL,
	[individualCollections] [int] NULL,
	[personnelToCollectDebts] [char](1) NULL,
	[servicesToPurchasers] [char](1) NULL,
	[claimsOrSuitsFDCPA] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
	[LawyersPerformCollectionWorkCount] [int] NULL,
	[YearsOfExperience] [int] NULL,
	[CommercialCollections] [int] NULL,
	[MortgageForeclosures] [int] NULL,
	[CasesHandledPast12Months] [int] NULL,
	[DollarValueForCasesHandled] [varchar](200) NULL,
	[MaximumValueForsingleCaseHandled] [varchar](200) NULL,
	[ServicesFordebtPurchasers] [varchar](50) NULL,
	[ServicesFordebtPurchasersDesc] [varchar](500) NULL,
	[AcceptCollectionCases] [varchar](50) NULL,
	[AcceptCollectionCasesDesc] [varchar](500) NULL,
	[DoesVerifyComplianceFDCPA] [varchar](50) NULL,
	[HasAllegedDebtVerified] [varchar](50) NULL,
	[HasAllegedDebtVerifiedDesc] [varchar](500) NULL,
	[HaveLettersAndCorrespondenceReviewed] [varchar](50) NULL,
	[HaveLettersAndCorrespondenceReviewedDesc] [varchar](500) NULL,
	[DoesUseFormalScript] [varchar](50) NULL,
	[DoesUseFormalScriptDesc] [varchar](500) NULL,
	[DoesPermitOutsideCollection] [varchar](50) NULL,
	[DoesPermitOutsideCollectionDesc] [varchar](500) NULL,
	[HasOwnershipInterest] [varchar](50) NULL,
	[HasOwnershipInterestDesc] [varchar](500) NULL,
	[HasAttorneysExecuted] [varchar](50) NULL,
	[HasAttorneysExecutedDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CollectionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_collectionsSuplimentDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW] CHECK CONSTRAINT [CHK_collectionsSuplimentDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_collectionsSuplimentDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW] CHECK CONSTRAINT [CHK_collectionsSuplimentDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_collectionsSuplimentDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_collectionsSuplimentDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[collectionsSuplimentDetailsLW]'))
ALTER TABLE [dbo].[collectionsSuplimentDetailsLW] CHECK CONSTRAINT [CHK_collectionsSuplimentDetailsLW_RecordType]
GO
