USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [CHK_RevenueAreaOfPractice_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20456]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [R_20456]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_11445]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [R_11445]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [CHK_RevenueAreaOfPractice_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [CHK_RevenueAreaOfPractice_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueAr__Versi__53041385]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [DF__RevenueAr__Versi__53041385]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueAr__Recor__5C387804]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueAreaOfPractice] DROP CONSTRAINT [DF__RevenueAr__Recor__5C387804]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]') AND type in (N'U'))
DROP TABLE [dbo].[RevenueAreaOfPractice]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RevenueAreaOfPractice](
	[RevenueAOPKey] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKRevenueAreaOfPractice] PRIMARY KEY CLUSTERED 
(
	[RevenueAOPKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueAr__Recor__5C387804]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueAreaOfPractice] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__RevenueAr__Versi__53041385]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RevenueAreaOfPractice] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice]  WITH CHECK ADD  CONSTRAINT [CHK_RevenueAreaOfPractice_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] CHECK CONSTRAINT [CHK_RevenueAreaOfPractice_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice]  WITH NOCHECK ADD  CONSTRAINT [CHK_RevenueAreaOfPractice_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] CHECK CONSTRAINT [CHK_RevenueAreaOfPractice_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_11445]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice]  WITH CHECK ADD  CONSTRAINT [R_11445] FOREIGN KEY([RevenueAOPKey])
REFERENCES [dbo].[RevenueAOP] ([RevenueAOPKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_11445]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] CHECK CONSTRAINT [R_11445]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20456]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice]  WITH CHECK ADD  CONSTRAINT [R_20456] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_20456]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] CHECK CONSTRAINT [R_20456]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice]  WITH CHECK ADD  CONSTRAINT [CHK_RevenueAreaOfPractice_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RevenueAreaOfPractice_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RevenueAreaOfPractice]'))
ALTER TABLE [dbo].[RevenueAreaOfPractice] CHECK CONSTRAINT [CHK_RevenueAreaOfPractice_RecordType]
GO
