USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExclPolicy1AttrANDMoreThen3AOPLogs]') AND type in (N'U'))
DROP TABLE [dbo].[ExclPolicy1AttrANDMoreThen3AOPLogs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExclPolicy1AttrANDMoreThen3AOPLogs]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExclPolicy1AttrANDMoreThen3AOPLogs](
	[ExclPolicy1AttrANDMoreThen3AOPLogsKey] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[MarketableProductKey] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExclPolicy1AttrANDMoreThen3AOPLogsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
