USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonalInjuryInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo] DROP CONSTRAINT [CHK_PersonalInjuryInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PersonalI__Versi__34D49220]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo] DROP CONSTRAINT [FK__PersonalI__Versi__34D49220]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PersonalI__Polic__33E06DE7]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo] DROP CONSTRAINT [FK__PersonalI__Polic__33E06DE7]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PersonalI__Creat__35C8B659]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PersonalInjuryInfo] DROP CONSTRAINT [DF__PersonalI__Creat__35C8B659]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]') AND type in (N'U'))
DROP TABLE [dbo].[PersonalInjuryInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PersonalInjuryInfo](
	[PersonalInjuryInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[PlaintiffCategory] [varchar](500) NULL,
	[PlaintiffPercentageCategory] [int] NULL,
	[PlaintiffAverageValueCase] [varchar](200) NULL,
	[PlaintiffHighestValues] [varchar](200) NULL,
	[PlaintiffYearsExperience] [int] NULL,
	[PlaintiffNumberLastYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonalInjuryInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PersonalI__Creat__35C8B659]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PersonalInjuryInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PersonalI__Polic__33E06DE7]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PersonalI__Versi__34D49220]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonalInjuryInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo]  WITH CHECK ADD  CONSTRAINT [CHK_PersonalInjuryInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonalInjuryInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonalInjuryInfo]'))
ALTER TABLE [dbo].[PersonalInjuryInfo] CHECK CONSTRAINT [CHK_PersonalInjuryInfo_RecordType]
GO
