USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesLKU]'))
ALTER TABLE [dbo].[BankruptcyCasesLKU] DROP CONSTRAINT [CHK_BankruptcyCasesLKU_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Bankruptc__Recor__54CC6066]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BankruptcyCasesLKU] DROP CONSTRAINT [DF__Bankruptc__Recor__54CC6066]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesLKU]') AND type in (N'U'))
DROP TABLE [dbo].[BankruptcyCasesLKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesLKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BankruptcyCasesLKU](
	[bankruptcyKey] [int] NOT NULL,
	[bankruptcyDesc] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bankruptcyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Bankruptc__Recor__54CC6066]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BankruptcyCasesLKU] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesLKU]'))
ALTER TABLE [dbo].[BankruptcyCasesLKU]  WITH CHECK ADD  CONSTRAINT [CHK_BankruptcyCasesLKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BankruptcyCasesLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesLKU]'))
ALTER TABLE [dbo].[BankruptcyCasesLKU] CHECK CONSTRAINT [CHK_BankruptcyCasesLKU_RecordType]
GO
