USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo] DROP CONSTRAINT [CHK_OutsideInterestSuppInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Versi__0AA94E2A]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo] DROP CONSTRAINT [FK__OutsideIn__Versi__0AA94E2A]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Polic__09B529F1]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo] DROP CONSTRAINT [FK__OutsideIn__Polic__09B529F1]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OutsideIn__Creat__0B9D7263]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OutsideInterestSuppInfo] DROP CONSTRAINT [DF__OutsideIn__Creat__0B9D7263]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]') AND type in (N'U'))
DROP TABLE [dbo].[OutsideInterestSuppInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OutsideInterestSuppInfo](
	[OutsideInterestSuppInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[LawyerName] [varchar](200) NULL,
	[OrgNameNature] [varchar](200) NULL,
	[PositionHeldWithAffiliationDate] [varchar](200) NULL,
	[ProffServicesDesc] [varchar](200) NULL,
	[PublicOrPrivate] [varchar](50) NULL,
	[CharitableOrCivicOrg] [varchar](50) NULL,
	[EquityIntrest] [int] NULL,
	[IsFirmClient] [varchar](50) NULL,
	[ClientAnnualIncome] [int] NULL,
	[IsDAndOInsurance] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OutsideInterestSuppInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OutsideIn__Creat__0B9D7263]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OutsideInterestSuppInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Polic__09B529F1]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Versi__0AA94E2A]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo]  WITH CHECK ADD  CONSTRAINT [CHK_OutsideInterestSuppInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppInfo]'))
ALTER TABLE [dbo].[OutsideInterestSuppInfo] CHECK CONSTRAINT [CHK_OutsideInterestSuppInfo_RecordType]
GO
