USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PremiumCalculationBuffer_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]'))
ALTER TABLE [dbo].[PremiumCalculationBuffer] DROP CONSTRAINT [CHK_PremiumCalculationBuffer_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PremiumCalculationBuffer_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]'))
ALTER TABLE [dbo].[PremiumCalculationBuffer] DROP CONSTRAINT [CHK_PremiumCalculationBuffer_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]') AND type in (N'U'))
DROP TABLE [dbo].[PremiumCalculationBuffer]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PremiumCalculationBuffer](
	[PolicyKey] [int] NULL,
	[XmlInputDatatoRating] [varchar](8000) NULL,
	[XmlOutputDatafromRating] [varchar](8000) NULL,
	[UnearnedPremium] [varchar](500) NULL,
	[UnearnedTax] [varchar](500) NULL,
	[totalUnearnedPremium] [varchar](500) NULL,
	[TotalPremiumFirstRange] [numeric](17, 2) NULL,
	[OldInvoicedPremium] [numeric](17, 2) NULL,
	[PreviousfinilazedTransactionSequence] [int] NULL,
	[ProRatePremium] [numeric](17, 2) NULL,
	[prorataPremium] [numeric](15, 2) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[PremiumVariation] [numeric](17, 2) NULL,
	[TaxVariation] [numeric](17, 2) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PremiumCalculationBuffer_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]'))
ALTER TABLE [dbo].[PremiumCalculationBuffer]  WITH CHECK ADD  CONSTRAINT [CHK_PremiumCalculationBuffer_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PremiumCalculationBuffer_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]'))
ALTER TABLE [dbo].[PremiumCalculationBuffer] CHECK CONSTRAINT [CHK_PremiumCalculationBuffer_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PremiumCalculationBuffer_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]'))
ALTER TABLE [dbo].[PremiumCalculationBuffer]  WITH CHECK ADD  CONSTRAINT [CHK_PremiumCalculationBuffer_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PremiumCalculationBuffer_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PremiumCalculationBuffer]'))
ALTER TABLE [dbo].[PremiumCalculationBuffer] CHECK CONSTRAINT [CHK_PremiumCalculationBuffer_RecordType]
GO
