USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfileFilter_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfileFilter]'))
ALTER TABLE [dbo].[ProfileFilter] DROP CONSTRAINT [CHK_ProfileFilter_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfileFilter]') AND type in (N'U'))
DROP TABLE [dbo].[ProfileFilter]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfileFilter]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfileFilter](
	[ProfileFilterKey] [int] IDENTITY(1,1) NOT NULL,
	[UserNo] [int] NOT NULL,
	[PolicyStatusKey] [varchar](500) NULL,
	[Direct_SubProducedKey] [varchar](500) NULL,
	[FirstReviewerUserNo] [varchar](2000) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[SetBrokerProfile] [char](1) NULL,
	[BrokerID] [varchar](100) NULL,
	[CarrierID] [varchar](100) NULL,
	[isBrokered] [char](1) NULL DEFAULT ('N'),
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_ProfileFilter] PRIMARY KEY CLUSTERED 
(
	[ProfileFilterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfileFilter_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfileFilter]'))
ALTER TABLE [dbo].[ProfileFilter]  WITH CHECK ADD  CONSTRAINT [CHK_ProfileFilter_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfileFilter_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfileFilter]'))
ALTER TABLE [dbo].[ProfileFilter] CHECK CONSTRAINT [CHK_ProfileFilter_RecordType]
GO
