USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] DROP CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_574]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] DROP CONSTRAINT [R_574]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] DROP CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] DROP CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyHaveTaxWorkLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyHaveTaxWorkLW](
	[AttorneyHaveTaxWorkKey] [int] IDENTITY(1,1) NOT NULL,
	[TaxAttorneyName] [varchar](120) NULL,
	[NumberOfYrOfTaxExp] [int] NULL,
	[PercentOfTimeDevoted] [int] NULL,
	[IsCertifiedTax] [char](1) NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKAttorneyHaveTaxWorkLW] PRIMARY KEY CLUSTERED 
(
	[AttorneyHaveTaxWorkKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] CHECK CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] CHECK CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_574]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW]  WITH CHECK ADD  CONSTRAINT [R_574] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[TaxSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_574]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] CHECK CONSTRAINT [R_574]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyHaveTaxWorkLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyHaveTaxWorkLW]'))
ALTER TABLE [dbo].[AttorneyHaveTaxWorkLW] CHECK CONSTRAINT [CHK_AttorneyHaveTaxWorkLW_RecordType]
GO
