USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EPICLogs]') AND type in (N'U'))
DROP TABLE [dbo].[EPICLogs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EPICLogs]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EPICLogs](
	[EPICLogsKey] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[MarketableProductKey] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[EPICType] [varchar](50) NOT NULL,
	[EPICData] [varchar](5000) NOT NULL,
	[EPICAccountId] [int] NULL,
	[EPICLookupCode] [varchar](50) NULL,
	[EPICStatus] [varchar](1000) NULL,
	[EPICComment] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[EPICLogsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
