USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] DROP CONSTRAINT [CHK_OutsideInterestSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6111]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] DROP CONSTRAINT [R_6111]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] DROP CONSTRAINT [CHK_OutsideInterestSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] DROP CONSTRAINT [CHK_OutsideInterestSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]') AND type in (N'U'))
DROP TABLE [dbo].[OutsideInterestSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OutsideInterestSupp](
	[ClientNameOsi] [varchar](100) NULL,
	[ClientIndustryOsiKey] [int] NULL,
	[ServiceIndustryOsiKey] [int] NULL,
	[ServiceRenderedOsiDate] [datetime] NULL,
	[PercentEquityInterestofOsi] [int] NULL,
	[CapacityServedByPersonnelOsi] [varchar](20) NULL,
	[AnnualFeesChargedOsi] [int] NULL,
	[EntityNameOsi] [varchar](100) NULL,
	[PositionHeldOsi] [varchar](100) NULL,
	[PercentEquityInterestOsi] [int] NULL,
	[DOInsuranceOsi] [varchar](20) NULL,
	[IndividualListedServicesOsi] [varchar](20) NULL,
	[OutsideInterestSuppKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[ClientIndustryOsiKeyOthers] [varchar](5000) NULL,
	[ServiceIndustryOsiKeyOthers] [varchar](5000) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_OutsideInterestSupp] PRIMARY KEY CLUSTERED 
(
	[OutsideInterestSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp]  WITH CHECK ADD  CONSTRAINT [CHK_OutsideInterestSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] CHECK CONSTRAINT [CHK_OutsideInterestSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_OutsideInterestSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] CHECK CONSTRAINT [CHK_OutsideInterestSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6111]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp]  WITH CHECK ADD  CONSTRAINT [R_6111] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_6111]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] CHECK CONSTRAINT [R_6111]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp]  WITH CHECK ADD  CONSTRAINT [CHK_OutsideInterestSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSupp]'))
ALTER TABLE [dbo].[OutsideInterestSupp] CHECK CONSTRAINT [CHK_OutsideInterestSupp_RecordType]
GO
