USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] DROP CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] DROP CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] DROP CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW_FK2]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] DROP CONSTRAINT [AreaOfPracticeQuickQuoteLW_FK2]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] DROP CONSTRAINT [AreaOfPracticeQuickQuoteLW_FK1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfPracticeQuickQuoteLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfPracticeQuickQuoteLW](
	[AOPKey] [int] NOT NULL,
	[PercentageValue] [int] NULL,
	[AOPCommentDesc] [varchar](500) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[AOPKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW]  WITH CHECK ADD  CONSTRAINT [AreaOfPracticeQuickQuoteLW_FK1] FOREIGN KEY([AOPKey])
REFERENCES [dbo].[AOPLW] ([AOPKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] CHECK CONSTRAINT [AreaOfPracticeQuickQuoteLW_FK1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW_FK2]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW]  WITH CHECK ADD  CONSTRAINT [AreaOfPracticeQuickQuoteLW_FK2] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW_FK2]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] CHECK CONSTRAINT [AreaOfPracticeQuickQuoteLW_FK2]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] CHECK CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] CHECK CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuoteLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuoteLW]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuoteLW] CHECK CONSTRAINT [CHK_AreaOfPracticeQuickQuoteLW_RecordType]
GO
