USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] DROP CONSTRAINT [CHK_FirmPracticeLocationLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_543]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] DROP CONSTRAINT [R_543]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] DROP CONSTRAINT [CHK_FirmPracticeLocationLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] DROP CONSTRAINT [CHK_FirmPracticeLocationLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmPracticeLocationLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmPracticeLocationLW](
	[FirmPracticeLocationKey] [int] IDENTITY(1,1) NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[FPLAddress] [varchar](100) NULL,
	[FPLCity] [varchar](20) NULL,
	[FPLCounty] [varchar](20) NULL,
	[FPLZip] [varchar](5) NULL,
	[NumberOfAttorneys] [int] NULL,
	[NumberOfOtherEmployees] [int] NULL,
	[NumberOfBillabeHours] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[FPLStateCode] [varchar](100) NULL,
	[FPLZip4] [varchar](4) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKFirmPracticeLocationLW] PRIMARY KEY CLUSTERED 
(
	[FirmPracticeLocationKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmPracticeLocationLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] CHECK CONSTRAINT [CHK_FirmPracticeLocationLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmPracticeLocationLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] CHECK CONSTRAINT [CHK_FirmPracticeLocationLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_543]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW]  WITH CHECK ADD  CONSTRAINT [R_543] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_543]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] CHECK CONSTRAINT [R_543]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmPracticeLocationLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPracticeLocationLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPracticeLocationLW]'))
ALTER TABLE [dbo].[FirmPracticeLocationLW] CHECK CONSTRAINT [CHK_FirmPracticeLocationLW_RecordType]
GO
