USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Limits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Limits]'))
ALTER TABLE [dbo].[Limits] DROP CONSTRAINT [CHK_Limits_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_751]') AND parent_object_id = OBJECT_ID(N'[dbo].[Limits]'))
ALTER TABLE [dbo].[Limits] DROP CONSTRAINT [R_751]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Limits]') AND type in (N'U'))
DROP TABLE [dbo].[Limits]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Limits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Limits](
	[AggregateLimit] [int] NOT NULL,
	[OccuranceLimit] [int] NOT NULL,
	[LimitCode] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[CoverageKey] [int] NOT NULL,
	[StateCode] [varchar](20) NOT NULL,
	[LimitSequence] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_Limits_1] PRIMARY KEY CLUSTERED 
(
	[AggregateLimit] ASC,
	[OccuranceLimit] ASC,
	[CoverageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_751]') AND parent_object_id = OBJECT_ID(N'[dbo].[Limits]'))
ALTER TABLE [dbo].[Limits]  WITH CHECK ADD  CONSTRAINT [R_751] FOREIGN KEY([CoverageKey])
REFERENCES [dbo].[Coverages] ([CoverageKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_751]') AND parent_object_id = OBJECT_ID(N'[dbo].[Limits]'))
ALTER TABLE [dbo].[Limits] CHECK CONSTRAINT [R_751]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Limits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Limits]'))
ALTER TABLE [dbo].[Limits]  WITH CHECK ADD  CONSTRAINT [CHK_Limits_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Limits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Limits]'))
ALTER TABLE [dbo].[Limits] CHECK CONSTRAINT [CHK_Limits_RecordType]
GO
