USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement] DROP CONSTRAINT [CHK_ClaimAgeLWEndorsement_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement] DROP CONSTRAINT [CHK_ClaimAgeLWEndorsement_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement] DROP CONSTRAINT [CHK_ClaimAgeLWEndorsement_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimAgeLWEndorsement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimAgeLWEndorsement](
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[Year] [int] NULL,
	[PartTime] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimAgeLWEndorsement_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement] CHECK CONSTRAINT [CHK_ClaimAgeLWEndorsement_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement]  WITH NOCHECK ADD  CONSTRAINT [CHK_ClaimAgeLWEndorsement_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement] CHECK CONSTRAINT [CHK_ClaimAgeLWEndorsement_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimAgeLWEndorsement_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeLWEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeLWEndorsement]'))
ALTER TABLE [dbo].[ClaimAgeLWEndorsement] CHECK CONSTRAINT [CHK_ClaimAgeLWEndorsement_RecordType]
GO
