USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW] DROP CONSTRAINT [CHK_OutsideInterestSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Versi__04F074D4]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW] DROP CONSTRAINT [FK__OutsideIn__Versi__04F074D4]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Polic__03FC509B]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW] DROP CONSTRAINT [FK__OutsideIn__Polic__03FC509B]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OutsideIn__Creat__05E4990D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OutsideInterestSuppLW] DROP CONSTRAINT [DF__OutsideIn__Creat__05E4990D]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[OutsideInterestSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OutsideInterestSuppLW](
	[OutsideInterestSuppLWKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[HasIndemnityAgreements] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OutsideInterestSuppLWKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OutsideIn__Creat__05E4990D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OutsideInterestSuppLW] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Polic__03FC509B]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__OutsideIn__Versi__04F074D4]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_OutsideInterestSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OutsideInterestSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OutsideInterestSuppLW]'))
ALTER TABLE [dbo].[OutsideInterestSuppLW] CHECK CONSTRAINT [CHK_OutsideInterestSuppLW_RecordType]
GO
