USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation] DROP CONSTRAINT [CHK_ClaimAgeEstimation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation] DROP CONSTRAINT [CHK_ClaimAgeEstimation_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation] DROP CONSTRAINT [CHK_ClaimAgeEstimation_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimAgeEstimation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimAgeEstimation](
	[ClaimAgeEstimationKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[NumberOfYearsWithFirm] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ClaimAgeEstimationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation]  WITH NOCHECK ADD  CONSTRAINT [CHK_ClaimAgeEstimation_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation] CHECK CONSTRAINT [CHK_ClaimAgeEstimation_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation]  WITH NOCHECK ADD  CONSTRAINT [CHK_ClaimAgeEstimation_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation] CHECK CONSTRAINT [CHK_ClaimAgeEstimation_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimAgeEstimation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimAgeEstimation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimAgeEstimation]'))
ALTER TABLE [dbo].[ClaimAgeEstimation] CHECK CONSTRAINT [CHK_ClaimAgeEstimation_RecordType]
GO
