USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW_New]') AND type in (N'U'))
DROP TABLE [dbo].[BankruptcyCasesDetailsLW_New]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankruptcyCasesDetailsLW_New]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BankruptcyCasesDetailsLW_New](
	[bankruptcyKey] [int] NULL,
	[Percentage] [int] NULL,
	[AverageCaseValue] [int] NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
