USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] DROP CONSTRAINT [CHK_EntertainmentSportSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_550]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] DROP CONSTRAINT [R_550]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] DROP CONSTRAINT [CHK_EntertainmentSportSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] DROP CONSTRAINT [CHK_EntertainmentSportSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[EntertainmentSportSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EntertainmentSportSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsBusinessRelationWithApplEnt] [char](1) NULL,
	[IsApplSoughtHaveAuthForEntertain] [char](1) NULL,
	[IsApplProvideInvestForEntertain] [char](1) NULL,
	[IsApplServedAsTrustee] [char](1) NULL,
	[IsApplNagotiatePersonnelApp] [char](1) NULL,
	[ApplDetailsForCoverageSought] [varchar](500) NULL,
	[IsApplCovSoughtServeAsManager] [char](1) NULL,
	[ApplCovSoughtServeAsManagerDetails] [varchar](500) NULL,
	[IsApplCoverageAcceptPercForFees] [char](1) NULL,
	[IsApplCoverageAcceptCompensation] [char](1) NULL,
	[ApplCoverageAcceptDetails] [varchar](500) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKEntertainmentSportSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_EntertainmentSportSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] CHECK CONSTRAINT [CHK_EntertainmentSportSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_EntertainmentSportSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] CHECK CONSTRAINT [CHK_EntertainmentSportSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_550]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW]  WITH CHECK ADD  CONSTRAINT [R_550] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_550]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] CHECK CONSTRAINT [R_550]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_EntertainmentSportSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EntertainmentSportSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EntertainmentSportSuppLW]'))
ALTER TABLE [dbo].[EntertainmentSportSuppLW] CHECK CONSTRAINT [CHK_EntertainmentSportSuppLW_RecordType]
GO
