USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] DROP CONSTRAINT [CHK_FundsControlledSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_200]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] DROP CONSTRAINT [R_200]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] DROP CONSTRAINT [CHK_FundsControlledSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] DROP CONSTRAINT [CHK_FundsControlledSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]') AND type in (N'U'))
DROP TABLE [dbo].[FundsControlledSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FundsControlledSupp](
	[TotalAmountOfClientFundsFc] [numeric](15, 0) NULL,
	[IsCountersignatureRequiredFc] [char](1) NULL,
	[IsBankAccountReconciledFc] [char](1) NULL,
	[IsFirmPersonnelBusinessManagerFc] [char](1) NULL,
	[NumberOfClientsFc] [int] NULL,
	[NumberOfFirmEmployeesFc] [int] NULL,
	[IsEmployeeDishonestyCoverageFc] [char](1) NULL,
	[TotlaNumberOfClientsFc] [int] NULL,
	[IsControlFundsForBusinessAndEntimentFc] [char](1) NULL,
	[ProvideNumberOfClientFc] [varchar](50) NULL,
	[ClientIndustryFc] [varchar](50) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[ClientIndustryFcOthers] [varchar](5000) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[FundsControlledSupp] ADD [HaveInvestmentAuthorityFC] [char](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FundsControlledSupp] ADD [IsManagementServiceProvided] [char](1) NULL
ALTER TABLE [dbo].[FundsControlledSupp] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[FundsControlledSupp] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[FundsControlledSupp] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FundsControlledSupp] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FundsControlledSupp] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[FundsControlledSupp] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKFundsControlledSupp] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp]  WITH CHECK ADD  CONSTRAINT [CHK_FundsControlledSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] CHECK CONSTRAINT [CHK_FundsControlledSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_FundsControlledSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] CHECK CONSTRAINT [CHK_FundsControlledSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_200]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp]  WITH CHECK ADD  CONSTRAINT [R_200] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_200]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] CHECK CONSTRAINT [R_200]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp]  WITH CHECK ADD  CONSTRAINT [CHK_FundsControlledSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FundsControlledSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FundsControlledSupp]'))
ALTER TABLE [dbo].[FundsControlledSupp] CHECK CONSTRAINT [CHK_FundsControlledSupp_RecordType]
GO
