USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Type]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_Type]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_TitleVisibility]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_ColumnSpan]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_ColumnSpan]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Border]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [CHK_WidgetDesign_Border]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WidgetDes__SubSe__0FADFA69]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] DROP CONSTRAINT [FK__WidgetDes__SubSe__0FADFA69]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WidgetDesign]') AND type in (N'U'))
DROP TABLE [dbo].[WidgetDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WidgetDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WidgetDesign](
	[WidgetId] [int] IDENTITY(1,1) NOT NULL,
	[SubSectionId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[TitleVisibility] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[ColumnSpan] [varchar](20) NOT NULL,
	[Border] [varchar](20) NOT NULL,
	[BorderColor] [varchar](20) NULL,
	[BackgroundColor] [varchar](20) NULL,
	[ListWidgetLabel] [varchar](500) NULL,
	[ListWidgetCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WidgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_WidgetDesign_Name] UNIQUE NONCLUSTERED 
(
	[SubSectionId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WidgetDes__SubSe__0FADFA69]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSectionDesign] ([SubSectionId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Border]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_Border] CHECK  (([Border]='None' OR [Border]='Thin' OR [Border]='Medium' OR [Border]='Thick'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Border]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_Border]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_ColumnSpan]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_ColumnSpan] CHECK  (([ColumnSpan]='OneColumnPerRow' OR [ColumnSpan]='TwoColumnsPerRow' OR [ColumnSpan]='ThreeColumnsPerRow' OR [ColumnSpan]='FourColumnsPerRow'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_ColumnSpan]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_ColumnSpan]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_TitleVisibility] CHECK  (([TitleVisibility]='None' OR [TitleVisibility]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_TitleVisibility]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_TitleVisibility]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Type]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_Type] CHECK  (([TYPE]='SimpleWidget' OR [TYPE]='ListWidget' OR [TYPE]='GridWidget'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_Type]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_Type]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign]  WITH CHECK ADD  CONSTRAINT [CHK_WidgetDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WidgetDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WidgetDesign]'))
ALTER TABLE [dbo].[WidgetDesign] CHECK CONSTRAINT [CHK_WidgetDesign_VisibilityType]
GO
