USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] DROP CONSTRAINT [CHK_FirmPersonnelServedLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_544]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] DROP CONSTRAINT [R_544]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] DROP CONSTRAINT [CHK_FirmPersonnelServedLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] DROP CONSTRAINT [CHK_FirmPersonnelServedLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmPersonnelServedLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmPersonnelServedLW](
	[FirmPersonnelServedKey] [int] IDENTITY(1,1) NOT NULL,
	[FirmMember] [varchar](100) NULL,
	[EntityName] [varchar](100) NULL,
	[PositionHeld] [varchar](100) NULL,
	[PercentEquityInterest] [int] NULL,
	[IsDirOffInsInForce] [char](1) NULL,
	[FirmServices] [varchar](100) NULL,
	[IsIndividualPerformServices] [char](1) NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[NatureOfClientBusiness] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKFirmPersonnelServedLW] PRIMARY KEY CLUSTERED 
(
	[FirmPersonnelServedKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmPersonnelServedLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] CHECK CONSTRAINT [CHK_FirmPersonnelServedLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmPersonnelServedLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] CHECK CONSTRAINT [CHK_FirmPersonnelServedLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_544]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW]  WITH CHECK ADD  CONSTRAINT [R_544] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_544]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] CHECK CONSTRAINT [R_544]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmPersonnelServedLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmPersonnelServedLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmPersonnelServedLW]'))
ALTER TABLE [dbo].[FirmPersonnelServedLW] CHECK CONSTRAINT [CHK_FirmPersonnelServedLW_RecordType]
GO
