USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW] DROP CONSTRAINT [CHK_RealEastateDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW] DROP CONSTRAINT [CHK_RealEastateDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW] DROP CONSTRAINT [CHK_RealEastateDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[RealEastateDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RealEastateDetailsLW](
	[transactionsHandled12MonthsResi] [int] NULL,
	[transactionsHandled12MonthsComm] [int] NULL,
	[largestTransaction12MonthsResi] [int] NULL,
	[largestTransaction12MonthsComm] [int] NULL,
	[attendClosings] [char](1) NULL,
	[includeSecuringFinancing] [char](1) NULL,
	[useDisclosureForm] [char](1) NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstateKey] [int] IDENTITY(1,1) NOT NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstNumberOfLawyers] [int] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstAvgExperience] [int] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstFormationInvolvement] [varchar](50) NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstFormationInvolvementDesc] [varchar](500) NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstLimitPart] [int] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstSyndications] [int] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstInvestmentTrusts] [int] NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstBusinessRel] [varchar](50) NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstBusinessRelDesc] [varchar](500) NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstPercentLegalFees] [varchar](50) NULL
ALTER TABLE [dbo].[RealEastateDetailsLW] ADD [RealEstPercentLegalFeesDesc] [varchar](500) NULL
 CONSTRAINT [PK_RealEastateDetailsLW_RealEstateKey] PRIMARY KEY CLUSTERED 
(
	[RealEstateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_RealEastateDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW] CHECK CONSTRAINT [CHK_RealEastateDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_RealEastateDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW] CHECK CONSTRAINT [CHK_RealEastateDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_RealEastateDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEastateDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEastateDetailsLW]'))
ALTER TABLE [dbo].[RealEastateDetailsLW] CHECK CONSTRAINT [CHK_RealEastateDetailsLW_RecordType]
GO
