USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefenseInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo] DROP CONSTRAINT [CHK_InsuranceDefenseInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__2962DF74]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo] DROP CONSTRAINT [FK__Insurance__Versi__2962DF74]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__286EBB3B]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo] DROP CONSTRAINT [FK__Insurance__Polic__286EBB3B]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__2A5703AD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceDefenseInfo] DROP CONSTRAINT [DF__Insurance__Creat__2A5703AD]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]') AND type in (N'U'))
DROP TABLE [dbo].[InsuranceDefenseInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[InsuranceDefenseInfo](
	[InsuranceDefenseInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InsDefCarrierRep] [varchar](200) NULL,
	[InsDefNumbCurrentFiles] [int] NULL,
	[InsDefGrossBillAmt] [int] NULL,
	[InsDefVenueStates] [varchar](200) NULL,
	[InsDefNumbYrRepCarrier] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceDefenseInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__2A5703AD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceDefenseInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__286EBB3B]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__2962DF74]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefenseInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo]  WITH CHECK ADD  CONSTRAINT [CHK_InsuranceDefenseInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefenseInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefenseInfo]'))
ALTER TABLE [dbo].[InsuranceDefenseInfo] CHECK CONSTRAINT [CHK_InsuranceDefenseInfo_RecordType]
GO
