USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicySOI_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] DROP CONSTRAINT [CHK_PolicySOI_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7943]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] DROP CONSTRAINT [R_7943]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1211]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] DROP CONSTRAINT [R_1211]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicySOI_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] DROP CONSTRAINT [CHK_PolicySOI_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PolicySOI__Recor__436CCA3A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PolicySOI] DROP CONSTRAINT [DF__PolicySOI__Recor__436CCA3A]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicySOI]') AND type in (N'U'))
DROP TABLE [dbo].[PolicySOI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicySOI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicySOI](
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[SOISequence] [int] IDENTITY(1,1) NOT NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[SOITypeKey] [int] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKPolicySOI] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[TransactionSequence] ASC,
	[SOISequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PolicySOI__Recor__436CCA3A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PolicySOI] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicySOI_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI]  WITH CHECK ADD  CONSTRAINT [CHK_PolicySOI_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicySOI_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] CHECK CONSTRAINT [CHK_PolicySOI_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1211]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI]  WITH CHECK ADD  CONSTRAINT [R_1211] FOREIGN KEY([PolicyKey], [TransactionSequence])
REFERENCES [dbo].[PolicyTransaction] ([PolicyKey], [TransactionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1211]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] CHECK CONSTRAINT [R_1211]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7943]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI]  WITH CHECK ADD  CONSTRAINT [R_7943] FOREIGN KEY([SOITypeKey])
REFERENCES [dbo].[SOIType] ([SOITypeKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7943]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] CHECK CONSTRAINT [R_7943]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicySOI_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI]  WITH CHECK ADD  CONSTRAINT [CHK_PolicySOI_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicySOI_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicySOI]'))
ALTER TABLE [dbo].[PolicySOI] CHECK CONSTRAINT [CHK_PolicySOI_RecordType]
GO
