USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement] DROP CONSTRAINT [CHK_NameAddressEndorsement_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement] DROP CONSTRAINT [CHK_NameAddressEndorsement_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement] DROP CONSTRAINT [CHK_NameAddressEndorsement_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]') AND type in (N'U'))
DROP TABLE [dbo].[NameAddressEndorsement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NameAddressEndorsement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[AccountKey] [int] NULL,
	[AddressKey] [int] NULL,
	[AccountName] [varchar](200) NULL,
	[WebSite] [varchar](200) NULL,
	[AccountEmail] [varchar](100) NULL,
	[LoginID] [varchar](100) NULL,
	[secondaryEmail] [varchar](100) NULL,
	[Address1] [varchar](200) NULL,
	[Address2] [varchar](200) NULL,
	[City] [varchar](60) NULL,
	[StateCode] [varchar](20) NULL,
	[Zip] [varchar](5) NULL,
	[Zip4] [varchar](4) NULL,
	[HomePhone] [varchar](20) NULL,
	[WorkPhone] [varchar](20) NULL,
	[WorkExt] [varchar](20) NULL,
	[MobilePhone] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement]  WITH CHECK ADD  CONSTRAINT [CHK_NameAddressEndorsement_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement] CHECK CONSTRAINT [CHK_NameAddressEndorsement_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement]  WITH NOCHECK ADD  CONSTRAINT [CHK_NameAddressEndorsement_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement] CHECK CONSTRAINT [CHK_NameAddressEndorsement_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement]  WITH CHECK ADD  CONSTRAINT [CHK_NameAddressEndorsement_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NameAddressEndorsement_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NameAddressEndorsement]'))
ALTER TABLE [dbo].[NameAddressEndorsement] CHECK CONSTRAINT [CHK_NameAddressEndorsement_RecordType]
GO
