USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarkAsRenewal]') AND type in (N'U'))
DROP TABLE [dbo].[MarkAsRenewal]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarkAsRenewal]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MarkAsRenewal](
	[MarkAsRenewalKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[MarketableProductKey] [int] NULL,
	[CompanyKey] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MarkAsRenewalKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
