USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PageAccessRights_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PageAccessRights]'))
ALTER TABLE [dbo].[PageAccessRights] DROP CONSTRAINT [CHK_PageAccessRights_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PageAcces__UserA__3CAABE12]') AND parent_object_id = OBJECT_ID(N'[dbo].[PageAccessRights]'))
ALTER TABLE [dbo].[PageAccessRights] DROP CONSTRAINT [FK__PageAcces__UserA__3CAABE12]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PageAccessRights]') AND type in (N'U'))
DROP TABLE [dbo].[PageAccessRights]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PageAccessRights]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PageAccessRights](
	[PageAccessRightsKey] [int] IDENTITY(1,1) NOT NULL,
	[UserAccessRightsKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InsertAccess] [char](1) NOT NULL,
	[UpdateAccess] [char](1) NOT NULL,
	[DeleteAccess] [char](1) NOT NULL,
	[ViewAccess] [char](1) NOT NULL,
	[PrintAccess] [char](1) NOT NULL,
	[DownloadAccess] [char](1) NOT NULL,
	[UploadAccess] [char](1) NOT NULL,
	[CopyAccess] [char](1) NOT NULL,
	[UnderReviewAccess] [char](1) NOT NULL,
	[UWReviewAccess] [char](1) NOT NULL,
	[UWCompletedAccess] [char](1) NOT NULL,
	[QuotedAccess] [char](1) NOT NULL,
	[AcceptedAccess] [char](1) NOT NULL,
	[IssuedAccess] [char](1) NOT NULL,
	[CancelledAccess] [char](1) NOT NULL,
	[UnderWriterAccess] [char](1) NOT NULL,
	[ChangeStatusAccess] [char](1) NOT NULL,
	[CommentsAccess] [char](1) NOT NULL,
	[HistoryAccess] [char](1) NOT NULL,
	[FirstReviewerAccess] [char](1) NOT NULL,
	[MoveLostWorkqAccess] [char](1) NOT NULL,
	[AnotherQuoteAccess] [char](1) NOT NULL,
	[ModifierAccess] [char](1) NOT NULL,
	[SendCompleteAppAccess] [char](1) NOT NULL,
	[SendQuoteAccess] [char](1) NOT NULL,
	[SendIndicationAccess] [char](1) NOT NULL,
	[ConvertIndicationAccess] [char](1) NOT NULL,
	[ConvertQuickQuoteAccess] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PageAccessRightsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PageAcces__UserA__3CAABE12]') AND parent_object_id = OBJECT_ID(N'[dbo].[PageAccessRights]'))
ALTER TABLE [dbo].[PageAccessRights]  WITH CHECK ADD FOREIGN KEY([UserAccessRightsKey])
REFERENCES [dbo].[UserAccessRights] ([UserAccessRightsKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PageAccessRights_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PageAccessRights]'))
ALTER TABLE [dbo].[PageAccessRights]  WITH CHECK ADD  CONSTRAINT [CHK_PageAccessRights_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PageAccessRights_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PageAccessRights]'))
ALTER TABLE [dbo].[PageAccessRights] CHECK CONSTRAINT [CHK_PageAccessRights_RecordType]
GO
