USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AnnualRevenueLimits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AnnualRevenueLimits]'))
ALTER TABLE [dbo].[AnnualRevenueLimits] DROP CONSTRAINT [CHK_AnnualRevenueLimits_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AnnualRevenueLimits]') AND type in (N'U'))
DROP TABLE [dbo].[AnnualRevenueLimits]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AnnualRevenueLimits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AnnualRevenueLimits](
	[RevenueKey] [int] IDENTITY(1,1) NOT NULL,
	[seq] [int] NULL,
	[lowerLimit] [varchar](200) NULL,
	[higherLimit] [varchar](200) NULL,
	[CoverageKey] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[AnnualRevenueLimits] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[AnnualRevenueLimits] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[AnnualRevenueLimits] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[AnnualRevenueLimits] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[AnnualRevenueLimits] ADD [CreatedBy] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[RevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AnnualRevenueLimits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AnnualRevenueLimits]'))
ALTER TABLE [dbo].[AnnualRevenueLimits]  WITH CHECK ADD  CONSTRAINT [CHK_AnnualRevenueLimits_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AnnualRevenueLimits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AnnualRevenueLimits]'))
ALTER TABLE [dbo].[AnnualRevenueLimits] CHECK CONSTRAINT [CHK_AnnualRevenueLimits_RecordType]
GO
