USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] DROP CONSTRAINT [CHK_ApplSecurityLawyersLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_578]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] DROP CONSTRAINT [R_578]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] DROP CONSTRAINT [CHK_ApplSecurityLawyersLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] DROP CONSTRAINT [CHK_ApplSecurityLawyersLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Versi__05C49D7C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityLawyersLW] DROP CONSTRAINT [DF__ApplSecur__Versi__05C49D7C]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Recor__40C567B9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityLawyersLW] DROP CONSTRAINT [DF__ApplSecur__Recor__40C567B9]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]') AND type in (N'U'))
DROP TABLE [dbo].[ApplSecurityLawyersLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ApplSecurityLawyersLW](
	[ApplSecurityLawyersKey] [int] IDENTITY(1,1) NOT NULL,
	[AttroneyName] [varchar](120) NULL,
	[NumberOfYrSECExp] [int] NULL,
	[BillHrsInPast12Months] [int] NULL,
	[BillHrsInPrior12Months] [int] NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKApplSecurityLawyersLW] PRIMARY KEY CLUSTERED 
(
	[ApplSecurityLawyersKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Recor__40C567B9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityLawyersLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Versi__05C49D7C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityLawyersLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW]  WITH CHECK ADD  CONSTRAINT [CHK_ApplSecurityLawyersLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] CHECK CONSTRAINT [CHK_ApplSecurityLawyersLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ApplSecurityLawyersLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] CHECK CONSTRAINT [CHK_ApplSecurityLawyersLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_578]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW]  WITH CHECK ADD  CONSTRAINT [R_578] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[SecuritiesSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_578]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] CHECK CONSTRAINT [R_578]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW]  WITH CHECK ADD  CONSTRAINT [CHK_ApplSecurityLawyersLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityLawyersLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityLawyersLW]'))
ALTER TABLE [dbo].[ApplSecurityLawyersLW] CHECK CONSTRAINT [CHK_ApplSecurityLawyersLW_RecordType]
GO
