USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] DROP CONSTRAINT [CHK_AttorneyDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_542]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] DROP CONSTRAINT [R_542]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DesignationId_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] DROP CONSTRAINT [DesignationId_FK1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] DROP CONSTRAINT [CHK_AttorneyDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] DROP CONSTRAINT [CHK_AttorneyDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyDetailsLW](
	[AttorneyKey] [int] IDENTITY(1,1) NOT NULL,
	[AttorneyName] [varchar](60) NULL,
	[LicensedStates] [varchar](1000) NULL,
	[AnnualWorkedHours] [int] NULL,
	[NumberOfYearsInPractice] [int] NULL,
	[NumberOfYearsWithFirm] [int] NULL,
	[NumberOfYearsMalpracticeCov] [int] NULL,
	[AttorneyPriorActDate] [datetime] NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[PriorActDate] [datetime] NULL,
	[AttorneyDesignation] [varchar](50) NULL,
	[DesignationId] [int] NULL,
	[IsNonRatedAttorney] [char](1) NULL,
	[PriorActDateAttorneysNew] [datetime] NULL,
	[isAttorneyEndorsed] [char](1) NULL DEFAULT ('N'),
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
	[JoiningDate] [datetime] NULL,
	[AttorneyRetroDate] [datetime] NULL,
	[RegNumber] [varchar](100) NULL,
	[DateAdmitted] [int] NULL,
 CONSTRAINT [XPKAttorneyDetailsLW] PRIMARY KEY CLUSTERED 
(
	[AttorneyKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] CHECK CONSTRAINT [CHK_AttorneyDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AttorneyDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] CHECK CONSTRAINT [CHK_AttorneyDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DesignationId_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW]  WITH CHECK ADD  CONSTRAINT [DesignationId_FK1] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[AttorneyDesignationLW] ([DesignationId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DesignationId_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] CHECK CONSTRAINT [DesignationId_FK1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_542]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW]  WITH CHECK ADD  CONSTRAINT [R_542] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_542]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] CHECK CONSTRAINT [R_542]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyDetailsLW]'))
ALTER TABLE [dbo].[AttorneyDetailsLW] CHECK CONSTRAINT [CHK_AttorneyDetailsLW_RecordType]
GO
