USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainLW] DROP CONSTRAINT [CHK_AttorneyInEntertainLW_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AttorneyI__Recor__5007AB49]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AttorneyInEntertainLW] DROP CONSTRAINT [DF__AttorneyI__Recor__5007AB49]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyInEntertainLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyInEntertainLW](
	[AttorneyKey] [int] NOT NULL,
	[AttorneyDesc] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_AttorneyInEntertainLW] PRIMARY KEY CLUSTERED 
(
	[AttorneyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AttorneyI__Recor__5007AB49]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AttorneyInEntertainLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyInEntertainLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInEntertainLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInEntertainLW]'))
ALTER TABLE [dbo].[AttorneyInEntertainLW] CHECK CONSTRAINT [CHK_AttorneyInEntertainLW_RecordType]
GO
