USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServiceIndustry_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServiceIndustry]'))
ALTER TABLE [dbo].[ServiceIndustry] DROP CONSTRAINT [CHK_ServiceIndustry_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServiceIndustry]') AND type in (N'U'))
DROP TABLE [dbo].[ServiceIndustry]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServiceIndustry]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ServiceIndustry](
	[ServiceIndustryKey] [int] IDENTITY(1,1) NOT NULL,
	[ServiceIndustryDesc] [varchar](80) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKServiceIndustry] PRIMARY KEY CLUSTERED 
(
	[ServiceIndustryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServiceIndustry_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServiceIndustry]'))
ALTER TABLE [dbo].[ServiceIndustry]  WITH CHECK ADD  CONSTRAINT [CHK_ServiceIndustry_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServiceIndustry_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServiceIndustry]'))
ALTER TABLE [dbo].[ServiceIndustry] CHECK CONSTRAINT [CHK_ServiceIndustry_RecordType]
GO
