USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] DROP CONSTRAINT [CHK_ApplInvestBySECLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_577]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] DROP CONSTRAINT [R_577]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] DROP CONSTRAINT [CHK_ApplInvestBySECLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] DROP CONSTRAINT [CHK_ApplInvestBySECLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplInves__Versi__03DC550A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplInvestBySECLW] DROP CONSTRAINT [DF__ApplInves__Versi__03DC550A]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplInves__Recor__3EDD1F47]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplInvestBySECLW] DROP CONSTRAINT [DF__ApplInves__Recor__3EDD1F47]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]') AND type in (N'U'))
DROP TABLE [dbo].[ApplInvestBySECLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ApplInvestBySECLW](
	[ApplInvestBySECKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](120) NULL,
	[DateOfWithdraw] [datetime] NULL,
	[DescOfWithdraw] [varchar](220) NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKApplInvest] PRIMARY KEY CLUSTERED 
(
	[ApplInvestBySECKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplInves__Recor__3EDD1F47]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplInvestBySECLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplInves__Versi__03DC550A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplInvestBySECLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW]  WITH CHECK ADD  CONSTRAINT [CHK_ApplInvestBySECLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] CHECK CONSTRAINT [CHK_ApplInvestBySECLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ApplInvestBySECLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] CHECK CONSTRAINT [CHK_ApplInvestBySECLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_577]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW]  WITH CHECK ADD  CONSTRAINT [R_577] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[SecuritiesSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_577]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] CHECK CONSTRAINT [R_577]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW]  WITH CHECK ADD  CONSTRAINT [CHK_ApplInvestBySECLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplInvestBySECLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplInvestBySECLW]'))
ALTER TABLE [dbo].[ApplInvestBySECLW] CHECK CONSTRAINT [CHK_ApplInvestBySECLW_RecordType]
GO
