USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPRELW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPRELW]'))
ALTER TABLE [dbo].[AOPRELW] DROP CONSTRAINT [CHK_AOPRELW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOPRELW]') AND type in (N'U'))
DROP TABLE [dbo].[AOPRELW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOPRELW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AOPRELW](
	[AOPREKey] [int] IDENTITY(1,1) NOT NULL,
	[AOPREDesc] [varchar](120) NULL,
	[AOPREType] [char](1) NULL,
	[AOPSequence] [int] NULL,
	[NewAppAOPSequence] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKAOPRELW] PRIMARY KEY CLUSTERED 
(
	[AOPREKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPRELW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPRELW]'))
ALTER TABLE [dbo].[AOPRELW]  WITH CHECK ADD  CONSTRAINT [CHK_AOPRELW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPRELW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPRELW]'))
ALTER TABLE [dbo].[AOPRELW] CHECK CONSTRAINT [CHK_AOPRELW_RecordType]
GO
