USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EmploymentInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo] DROP CONSTRAINT [CHK_EmploymentInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Versi__6A7188C2]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo] DROP CONSTRAINT [FK__Employmen__Versi__6A7188C2]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Polic__697D6489]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo] DROP CONSTRAINT [FK__Employmen__Polic__697D6489]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Employmen__Creat__6B65ACFB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EmploymentInfo] DROP CONSTRAINT [DF__Employmen__Creat__6B65ACFB]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]') AND type in (N'U'))
DROP TABLE [dbo].[EmploymentInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmploymentInfo](
	[EmploymentInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[EmployementLawClientName] [varchar](200) NULL,
	[EmployementLawIndustry] [varchar](200) NULL,
	[EmployementLawCaseValue] [varchar](200) NULL,
	[EmployementLawCaseStatus] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmploymentInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Employmen__Creat__6B65ACFB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EmploymentInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Polic__697D6489]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Versi__6A7188C2]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EmploymentInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo]  WITH CHECK ADD  CONSTRAINT [CHK_EmploymentInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EmploymentInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentInfo]'))
ALTER TABLE [dbo].[EmploymentInfo] CHECK CONSTRAINT [CHK_EmploymentInfo_RecordType]
GO
