USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] DROP CONSTRAINT [CHK_CorpCommBusinessLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CorpCommBusinessLW_CorpCommBusinessLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] DROP CONSTRAINT [FK_CorpCommBusinessLW_CorpCommBusinessLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CorpCommBusinessLW_CCBLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] DROP CONSTRAINT [FK_CorpCommBusinessLW_CCBLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] DROP CONSTRAINT [CHK_CorpCommBusinessLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] DROP CONSTRAINT [CHK_CorpCommBusinessLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]') AND type in (N'U'))
DROP TABLE [dbo].[CorpCommBusinessLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CorpCommBusinessLW](
	[CCBKey] [int] NOT NULL,
	[CCBCheckedValue] [char](1) NULL,
	[CCBCommentDesc] [varchar](100) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_CorpCommBusinessLW] PRIMARY KEY CLUSTERED 
(
	[CCBKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW]  WITH CHECK ADD  CONSTRAINT [CHK_CorpCommBusinessLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] CHECK CONSTRAINT [CHK_CorpCommBusinessLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_CorpCommBusinessLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] CHECK CONSTRAINT [CHK_CorpCommBusinessLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CorpCommBusinessLW_CCBLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW]  WITH CHECK ADD  CONSTRAINT [FK_CorpCommBusinessLW_CCBLW] FOREIGN KEY([CCBKey])
REFERENCES [dbo].[CCBLW] ([CCBKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CorpCommBusinessLW_CCBLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] CHECK CONSTRAINT [FK_CorpCommBusinessLW_CCBLW]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CorpCommBusinessLW_CorpCommBusinessLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW]  WITH CHECK ADD  CONSTRAINT [FK_CorpCommBusinessLW_CorpCommBusinessLW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CorpCommBusinessLW_CorpCommBusinessLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] CHECK CONSTRAINT [FK_CorpCommBusinessLW_CorpCommBusinessLW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW]  WITH CHECK ADD  CONSTRAINT [CHK_CorpCommBusinessLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorpCommBusinessLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorpCommBusinessLW]'))
ALTER TABLE [dbo].[CorpCommBusinessLW] CHECK CONSTRAINT [CHK_CorpCommBusinessLW_RecordType]
GO
