USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [CHK_ParentChildRelationDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_TargetAction]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [CHK_ParentChildRelationDesign_TargetAction]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_TagetType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [CHK_ParentChildRelationDesign_TagetType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [CHK_ParentChildRelationDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [CHK_ParentChildRelationDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_Action]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [CHK_ParentChildRelationDesign_Action]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__SubSe__405131C4]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [FK__ParentChi__SubSe__405131C4]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__Sourc__42397A36]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [FK__ParentChi__Sourc__42397A36]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__FormI__3F5D0D8B]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [FK__ParentChi__FormI__3F5D0D8B]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__Compa__3E68E952]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] DROP CONSTRAINT [FK__ParentChi__Compa__3E68E952]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]') AND type in (N'U'))
DROP TABLE [dbo].[ParentChildRelationDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ParentChildRelationDesign](
	[ParentChildRelationId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyKey] [int] NOT NULL,
	[FormId] [int] NOT NULL,
	[SubSectionId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[SourceId] [int] NOT NULL,
	[Action] [varchar](20) NOT NULL,
	[Value] [varchar](50) NOT NULL,
	[TagetType] [varchar](50) NOT NULL,
	[TargetName] [varchar](100) NOT NULL,
	[TargetAction] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentChildRelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_ParentChildRelationDesign_Name] UNIQUE NONCLUSTERED 
(
	[FormId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__Compa__3E68E952]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__FormI__3F5D0D8B]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD FOREIGN KEY([FormId])
REFERENCES [dbo].[FormDesign] ([FormId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__Sourc__42397A36]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD FOREIGN KEY([SourceId])
REFERENCES [dbo].[FieldDesign] ([FieldId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ParentChi__SubSe__405131C4]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSectionDesign] ([SubSectionId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_Action]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD  CONSTRAINT [CHK_ParentChildRelationDesign_Action] CHECK  (([Action]='EqualTo' OR [Action]='NotEqualTo' OR [Action]='GreaterThan' OR [Action]='GreaterThanEqualTo' OR [Action]='LessThan' OR [Action]='LessThanEqualTo' OR [Action]='Contain' OR [Action]='NotContain' OR [Action]='StartWith' OR [Action]='EndWith'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_Action]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] CHECK CONSTRAINT [CHK_ParentChildRelationDesign_Action]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD  CONSTRAINT [CHK_ParentChildRelationDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] CHECK CONSTRAINT [CHK_ParentChildRelationDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD  CONSTRAINT [CHK_ParentChildRelationDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] CHECK CONSTRAINT [CHK_ParentChildRelationDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_TagetType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD  CONSTRAINT [CHK_ParentChildRelationDesign_TagetType] CHECK  (([TagetType]='SectionDesign' OR [TagetType]='SubSectionDesign' OR [TagetType]='WidgetDesign' OR [TagetType]='FieldDesign'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_TagetType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] CHECK CONSTRAINT [CHK_ParentChildRelationDesign_TagetType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_TargetAction]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD  CONSTRAINT [CHK_ParentChildRelationDesign_TargetAction] CHECK  (([TargetAction]='Required' OR [TargetAction]='Warning' OR [TargetAction]='Readonly' OR [TargetAction]='Disabled' OR [TargetAction]='Hide' OR [TargetAction]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_TargetAction]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] CHECK CONSTRAINT [CHK_ParentChildRelationDesign_TargetAction]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign]  WITH CHECK ADD  CONSTRAINT [CHK_ParentChildRelationDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ParentChildRelationDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParentChildRelationDesign]'))
ALTER TABLE [dbo].[ParentChildRelationDesign] CHECK CONSTRAINT [CHK_ParentChildRelationDesign_VisibilityType]
GO
