USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] DROP CONSTRAINT [CHK_AreaOfPracticeQuickQuote_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__AreaOfPracticeQu__2022C2A6]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] DROP CONSTRAINT [FK__AreaOfPracticeQu__2022C2A6]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__AreaOfPra__AOPKe__1F2E9E6D]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] DROP CONSTRAINT [FK__AreaOfPra__AOPKe__1F2E9E6D]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] DROP CONSTRAINT [CHK_AreaOfPracticeQuickQuote_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] DROP CONSTRAINT [CHK_AreaOfPracticeQuickQuote_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfPracticeQuickQuote]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfPracticeQuickQuote](
	[AOPKey] [int] NOT NULL,
	[PercentageValue] [int] NULL,
	[AOPCommentDesc] [varchar](500) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[AOPKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeQuickQuote_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] CHECK CONSTRAINT [CHK_AreaOfPracticeQuickQuote_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfPracticeQuickQuote_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] CHECK CONSTRAINT [CHK_AreaOfPracticeQuickQuote_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__AreaOfPra__AOPKe__1F2E9E6D]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote]  WITH CHECK ADD FOREIGN KEY([AOPKey])
REFERENCES [dbo].[AOP] ([AOPKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__AreaOfPracticeQu__2022C2A6]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeQuickQuote_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeQuickQuote_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeQuickQuote]'))
ALTER TABLE [dbo].[AreaOfPracticeQuickQuote] CHECK CONSTRAINT [CHK_AreaOfPracticeQuickQuote_RecordType]
GO
