USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Planned_AC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Planned_AC]'))
ALTER TABLE [dbo].[Planned_AC] DROP CONSTRAINT [CHK_Planned_AC_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Planned_AC]') AND type in (N'U'))
DROP TABLE [dbo].[Planned_AC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Planned_AC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Planned_AC](
	[PlanKey] [int] IDENTITY(1,1) NOT NULL,
	[Plan_Year] [int] NOT NULL,
	[Plan_Quarter] [int] NOT NULL,
	[Plan_Month] [int] NOT NULL,
	[NewDirect] [numeric](15, 2) NULL,
	[NewSubProduced] [numeric](15, 2) NULL,
	[RenewalDirect] [numeric](15, 2) NULL,
	[RenewalSubProduced] [numeric](15, 2) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Planned_AC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Planned_AC]'))
ALTER TABLE [dbo].[Planned_AC]  WITH CHECK ADD  CONSTRAINT [CHK_Planned_AC_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Planned_AC_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Planned_AC]'))
ALTER TABLE [dbo].[Planned_AC] CHECK CONSTRAINT [CHK_Planned_AC_RecordType]
GO
