USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] DROP CONSTRAINT [CHK_FirmInitLawsuitsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_558]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] DROP CONSTRAINT [R_558]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitDispositionKey_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] DROP CONSTRAINT [FeeSuitDispositionKey_FK1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] DROP CONSTRAINT [CHK_FirmInitLawsuitsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] DROP CONSTRAINT [CHK_FirmInitLawsuitsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmInitLawsuitsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmInitLawsuitsLW](
	[FirminitLawsuitsKey] [int] IDENTITY(1,1) NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[AmountOfFeesSued] [numeric](15, 0) NULL,
	[DueDateFees] [datetime] NULL,
	[SuitFilesDateFees] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsFavOutInUnderMatter] [char](1) NULL,
	[IsAllegOfLegalMalPrac] [char](1) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[FirmInitLawsuitsLW] ADD [FeesAreaOfPractice] [varchar](200) NULL
ALTER TABLE [dbo].[FirmInitLawsuitsLW] ADD [FeeSuitDispositionKey] [int] NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FirmInitLawsuitsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FirmInitLawsuitsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FirmInitLawsuitsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[FirmInitLawsuitsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKFirmInitLawsuitLW] PRIMARY KEY CLUSTERED 
(
	[FirminitLawsuitsKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmInitLawsuitsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] CHECK CONSTRAINT [CHK_FirmInitLawsuitsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmInitLawsuitsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] CHECK CONSTRAINT [CHK_FirmInitLawsuitsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitDispositionKey_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW]  WITH CHECK ADD  CONSTRAINT [FeeSuitDispositionKey_FK1] FOREIGN KEY([FeeSuitDispositionKey])
REFERENCES [dbo].[FeeSuitDispositionLW] ([FeeSuitDispositionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitDispositionKey_FK1]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] CHECK CONSTRAINT [FeeSuitDispositionKey_FK1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_558]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW]  WITH CHECK ADD  CONSTRAINT [R_558] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_558]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] CHECK CONSTRAINT [R_558]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmInitLawsuitsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuitsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuitsLW]'))
ALTER TABLE [dbo].[FirmInitLawsuitsLW] CHECK CONSTRAINT [CHK_FirmInitLawsuitsLW_RecordType]
GO
