USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] DROP CONSTRAINT [CHK_FirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_541]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] DROP CONSTRAINT [R_541]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] DROP CONSTRAINT [CHK_FirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] DROP CONSTRAINT [CHK_FirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmLW](
	[ContactPerson] [varchar](50) NULL,
	[ContactPhone] [varchar](20) NULL,
	[IsFirmCarryingProfLiabilityIns] [char](1) NULL,
	[IsPolicyExcludesCoverage] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsQuickQuoteByEmail] [char](1) NULL,
	[IsAnAgentCall] [char](1) NULL,
	[ContactPhoneExt] [varchar](20) NULL,
	[IsBasicPage] [char](1) NULL,
	[IsGeneralPage] [char](1) NULL,
	[IsEntertainmentPage] [char](1) NULL,
	[IsClientTerminated] [char](1) NULL,
	[FirstReviewUserID] [varchar](50) NULL,
	[VersionSequence] [int] IDENTITY(1,1) NOT NULL,
	[LicenseNumber] [varchar](50) NULL,
	[IsQuotePage] [char](1) NULL,
	[PolicyKey] [int] NOT NULL,
	[YearOfFirmEstablished] [int] NULL,
	[IsFirmPracticeInOtherState] [char](1) NULL,
	[IsFirmHaveClientInEntertainmentInd] [char](1) NULL,
	[IsFirmInvolvedInClassActionCase] [char](1) NULL,
	[IsFirmProvidedLegalServiceToSecurity] [char](1) NULL,
	[IsFirmHaveClientMoreThan25PercentOfBilling] [char](1) NULL,
	[PercentFromFirstLargestRevenueClient] [int] NULL,
	[PercentFromSecondLargestRevenueClient] [int] NULL,
	[ServicesRenderedFirstLargestRevenueClient] [varchar](70) NULL,
	[ServicesRenderedSecondLargestRevenueClient] [varchar](70) NULL,
	[IsFirmHaveLawyersLiabilityInsurance] [char](1) NULL,
	[PolicyExcludeCoverageForAffiliatesDesc] [varchar](1000) NULL,
	[IsFirmCoverageForPreceedorFirms] [char](1) NULL,
	[IsFirmHaveEquityIntGrtThan10] [char](1) NULL,
	[IsFirmPersServedAsOfficerInJointVenture] [char](1) NULL,
	[IsApplicantProvidesLegalServices] [char](1) NULL,
	[ApplicantProvidesLegalServicesDesc] [varchar](5000) NULL,
	[IsAttorneyNotCoveredByProfLiability] [char](1) NULL,
	[IsAppOfficeSharedWithAttorney] [char](1) NULL,
	[TotalNumOfNonAttorneyStaff] [int] NULL,
	[IsFirmHaveIndepDockets] [char](1) NULL,
	[IsFirmRequireEngagementLetter] [char](1) NULL,
	[IsNonEngagementLetterIssueToFirm] [char](1) NULL,
	[IsPolicyProhibitAttorneyWithInvestment] [char](1) NULL,
	[IsEmplRelativeToConfInfomation] [char](1) NULL,
	[PercentofApplAcctRcbl] [int] NULL,
	[IsApplInitiatedLawsuitForFirm] [char](1) NULL,
	[IsAttorneyDeclineForProfLiability] [char](1) NULL,
	[AttorneyDeclineForProfLiabilityDates] [datetime] NULL,
	[AttorneyDeclineForProfLiabilityReasons] [varchar](5000) NULL,
	[IsIndependentContractor] [char](1) NULL,
	[IsFirmHaveBackupAttorney] [char](1) NULL,
	[PerOfGrossBillingsUnderContract] [int] NULL,
	[BackupAttorneyName] [varchar](60) NULL,
	[BackupAttorneyAddress] [varchar](60) NULL,
	[BackupAttorneyPhoneNumber] [varchar](20) NULL,
	[IsFirmHaveProcForFormersClients] [char](1) NULL,
	[IsLawyerProfLiabClaimAgntAppl] [char](1) NULL,
	[IsPersonnelBeSubOfAnyInvest] [char](1) NULL,
	[IsAnyActOmmBecomeClaimAgntFirm] [char](1) NULL,
	[ApplicantName] [varchar](500) NULL,
	[IsApplRestWithManagement] [char](1) NULL,
	[ApplRestWithManagementDesc] [varchar](5000) NULL,
	[PersonnelBeSubOfAnyInvestDate] [datetime] NULL,
	[PersonnelBeSubOfAnyInvestDetails] [varchar](5000) NULL,
	[IsTaxPage] [char](1) NULL,
	[IsEnvironmentalPage] [char](1) NULL,
	[IsSecuritiesPage] [char](1) NULL,
	[IsTitlePage] [char](1) NULL,
	[IsWillsEstatePage] [char](1) NULL,
	[IsPlaintiffPage] [char](1) NULL,
	[IsRealEstatePage] [char](1) NULL,
	[IsFinancialInsPage] [char](1) NULL,
	[IsIntellectPropPage] [char](1) NULL,
	[IsCorporatePage] [char](1) NULL,
	[IsFirmMergedWithOtherFirm] [char](1) NULL,
	[IsAopPage] [char](1) NULL,
	[IsPracticePage] [char](1) NULL,
	[IsCoveragePage] [char](1) NULL,
	[IsFirmPage] [char](1) NULL,
	[IsApplIntToFinanAssests] [char](1) NULL,
	[IsPolicyIncludeLateralHireCov] [char](1) NULL,
	[IsFirmProvidedLegalServiceToInvestment] [char](1) NULL,
	[IsFirmProvidedLegalServiceToMoney] [char](1) NULL,
	[IsFirmProvidedLegalServiceToInvClient] [char](1) NULL,
	[BackupAttorneyAddress2] [varchar](60) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[FirmLW] ADD [CommentsByInsured] [varchar](1000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [CommentsByAgent] [varchar](1000) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FirmLW] ADD [IsLoginMailSent] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsMailSent] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRegistrationPage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRetreivalMailSent] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [NumberOfLawyers] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsQuickQuotePage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsClaimInLastFiveYears] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [QuoteEffectiveDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [QuoteExpiryDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsReceiveNewsLetter] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsFirmReferred] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [Comment] [varchar](1000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ModifierComment] [varchar](1000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsQuoteViewedByInsured] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [AcceptanceDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [QuoteSentDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsViewed] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsTaxCalculation] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [QuoteComment] [varchar](8000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsQuickQuoteMailSent] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsLicenseNumberUpdated] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IssuedDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRealEstateCommercialPage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRealEstateResidentialPage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsApplFirmWithDifferentLegalName] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ApplLegalNameAddressDesc] [varchar](5000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsFirmEquityInterestInTitleInsurance] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsFirmProvidedLegalServiceDesc] [varchar](5000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsFirmProvidedLegalService] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsFirmProvideInvestmentAdvice] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ClientNameFirstLargestRevenueClient] [varchar](50) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ClientNameSecondLargestRevenueClient] [varchar](50) NULL
ALTER TABLE [dbo].[FirmLW] ADD [DateRenderedFirstLargestRevenueClient] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [DateRenderedSecondLargestRevenueClient] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRenewed] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsComingFromSubProducer] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [MarketingId] [varchar](20) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsAttorneyAddedDeleted] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRenewFirmPage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [Is9010Policy] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [GrossFeesPaidRenew] [numeric](15, 0) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRenewalReview] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [RenewalReviewComments] [varchar](8000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsSpecialIssuance] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [SpecialIssuanceComments] [varchar](8000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ipfsQuoteNumber] [varchar](1000) NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[FirmLW] ADD [IsOffRiskLetterUploaded] [varchar](10) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isPricingApproved] [char](1) NULL CONSTRAINT [firm_isPricingApproved]  DEFAULT ('N')
ALTER TABLE [dbo].[FirmLW] ADD [isComingFromUWFlow] [varchar](20) NULL CONSTRAINT [firm_isComingFromUWFlow]  DEFAULT ('No')
ALTER TABLE [dbo].[FirmLW] ADD [FollowUnderwriterFlow] [char](1) NULL CONSTRAINT [firm_FollowUnderwriterFlow]  DEFAULT ('Y')
ALTER TABLE [dbo].[FirmLW] ADD [isRatingsChnaged] [char](1) NULL CONSTRAINT [firm_isRatingsChnaged]  DEFAULT ('N')
ALTER TABLE [dbo].[FirmLW] ADD [ReferralCountHistory] [int] NULL CONSTRAINT [firm_ReferralCountHistory]  DEFAULT ((0))
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FirmLW] ADD [withdrawOrDisengaged] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [actAgentForPublicFigures] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [provideProfessionalContract] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [provideMoneyManagementServices] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [custodyOrControlFunds] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [securityAwareness] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isFirmCoverageForPreceedorFirmsDescription] [varchar](1000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [disbursementTransaction] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [peopleToDisburseFunds] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [instructionsDocumentedReceivingParty] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [doucumentedProtocolsAndAuthority] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [secondayContactPerson] [varchar](500) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isQuoteByEmail] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isNewApp] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isAppCompleted] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [AnnualRevenueSequence] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [FirmInvestmentAdviceDesc] [varchar](500) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isServedAsCEOChairmanPresident] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isPolicyExcludeCoverage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isPolicyExcludeCoverageDescription] [varchar](200) NULL
ALTER TABLE [dbo].[FirmLW] ADD [UnderwriterComment] [varchar](5000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [PricingStatus] [varchar](10) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isCyberCoverageRequired] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [haveFraudSecurityAwarenessProgram] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [needCyberCoverage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [completedPageCommemnt] [varchar](2000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [NumberOfLawyers500] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [NumberOfLawyers1000] [int] NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[FirmLW] ADD [IsIndicationPage] [char](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FirmLW] ADD [NameClearType] [varchar](50) NULL DEFAULT (NULL)
ALTER TABLE [dbo].[FirmLW] ADD [NameClearDate] [datetime] NULL DEFAULT (NULL)
ALTER TABLE [dbo].[FirmLW] ADD [isNameClearanceRequired] [char](1) NULL DEFAULT (NULL)
ALTER TABLE [dbo].[FirmLW] ADD [IsFormDocumentSigned] [char](1) NULL DEFAULT (NULL)
ALTER TABLE [dbo].[FirmLW] ADD [SubProducerComment] [varchar](5000) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsThankYouEmailSend] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [QQRMLink] [varchar](50) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsIndicationMailSent] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ModifierChecking] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [FinalisedTransactionSequence] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsRuleExecuted] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsCantSeeQuote] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsAOPChange] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IndicationSentDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [ZohoAccountID] [varchar](50) NULL
ALTER TABLE [dbo].[FirmLW] ADD [lostworkqComment] [varchar](100) NULL
ALTER TABLE [dbo].[FirmLW] ADD [oldAccountId] [int] NULL
ALTER TABLE [dbo].[FirmLW] ADD [ISZohoInsert] [varchar](20) NULL
ALTER TABLE [dbo].[FirmLW] ADD [RenewalSource] [varchar](50) NULL
ALTER TABLE [dbo].[FirmLW] ADD [ZohoPotentialsID] [varchar](50) NULL
ALTER TABLE [dbo].[FirmLW] ADD [IsFirmProvidedLegalServiceCCB] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isPolicyWentToUnderwriting] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isRequotePolicy] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isPolicyRequoted] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [LostWorkq_UpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[FirmLW] ADD [LostWorkq_UpdatedTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [isManualLostworkq] [char](10) NULL
ALTER TABLE [dbo].[FirmLW] ADD [QQSource] [varchar](100) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isCannibSuppPage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FirmLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FirmLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
ALTER TABLE [dbo].[FirmLW] ADD [isMailSentBeyondWorkQCovrageDaysFlag] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isConvertedFromBrokerage] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isConvertedFromBrokerageEmail] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [hasAnyFirmPersonnelReported] [char](1) NULL
ALTER TABLE [dbo].[FirmLW] ADD [isAutoQuoteMailSent] [char](1) NULL
 CONSTRAINT [XPKFirm_LW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] CHECK CONSTRAINT [CHK_FirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] CHECK CONSTRAINT [CHK_FirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_541]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW]  WITH CHECK ADD  CONSTRAINT [R_541] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_541]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] CHECK CONSTRAINT [R_541]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmLW]'))
ALTER TABLE [dbo].[FirmLW] CHECK CONSTRAINT [CHK_FirmLW_RecordType]
GO
