USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubProducer_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubProducer]'))
ALTER TABLE [dbo].[SubProducer] DROP CONSTRAINT [CHK_SubProducer_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubProducer]') AND type in (N'U'))
DROP TABLE [dbo].[SubProducer]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubProducer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubProducer](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[ProducerCode] [varchar](50) NOT NULL,
	[LogoImagePath] [nvarchar](500) NULL,
	[SPContactName] [varchar](50) NULL,
	[SPContactAddress] [varchar](50) NULL,
	[SPWebsite] [varchar](50) NULL,
	[SPCompanyName] [varchar](50) NULL,
	[SPPhoneNumber] [varchar](50) NULL,
	[CallImagePath] [varchar](50) NULL,
	[SPConatctEmailId] [varchar](50) NULL,
	[IsActive] [char](1) NULL,
	[ProducerName] [varchar](100) NULL,
	[NewCommission] [varchar](100) NULL,
	[RenewalCommission] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[StreetAddress] [varchar](100) NULL,
	[SPZip] [varchar](100) NULL,
	[SPCity] [varchar](100) NULL,
	[Producer_email] [varchar](100) NULL,
	[Date_added] [datetime] NULL,
	[SendQuoteLetter] [varchar](100) NULL,
	[SendRenewalSolicitation] [varchar](100) NULL,
	[Archive] [varchar](100) NOT NULL DEFAULT ('N'),
	[SubProducerAccess] [varchar](100) NULL,
	[Signature] [nvarchar](500) NULL,
	[Fax] [varchar](100) NULL,
	[IndicationAccess] [char](1) NULL DEFAULT ('N'),
	[BillingContactName] [varchar](500) NULL,
	[BillingContactNumber] [varchar](20) NULL,
	[BillingContactEmail] [varchar](100) NULL,
	[SignatureText] [varchar](500) NULL,
	[CreditcardAccess] [char](1) NULL,
	[EmailSignature] [varchar](500) NULL,
	[SignatureText2] [varchar](500) NULL,
	[CompleteAddress]  AS (((((([StreetAddress]+', ')+[SPCity])+', ')+[State])+', ')+[SPZip]),
	[SignatureText3] [varchar](100) NULL,
	[IsDriect] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[SubProducerPolicyIssuedAccess] [char](1) NULL,
	[ProducerAbbr] [varchar](20) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubProducer_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubProducer]'))
ALTER TABLE [dbo].[SubProducer]  WITH CHECK ADD  CONSTRAINT [CHK_SubProducer_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubProducer_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubProducer]'))
ALTER TABLE [dbo].[SubProducer] CHECK CONSTRAINT [CHK_SubProducer_RecordType]
GO
