USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TypeofTrust_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TypeofTrust]'))
ALTER TABLE [dbo].[TypeofTrust] DROP CONSTRAINT [CHK_TypeofTrust_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TypeofTrust]') AND type in (N'U'))
DROP TABLE [dbo].[TypeofTrust]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TypeofTrust]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TypeofTrust](
	[TypeofTrustKey] [int] IDENTITY(1,1) NOT NULL,
	[TypeofTrustDesc] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_TypeofTrust] PRIMARY KEY CLUSTERED 
(
	[TypeofTrustKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TypeofTrust_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TypeofTrust]'))
ALTER TABLE [dbo].[TypeofTrust]  WITH CHECK ADD  CONSTRAINT [CHK_TypeofTrust_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TypeofTrust_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TypeofTrust]'))
ALTER TABLE [dbo].[TypeofTrust] CHECK CONSTRAINT [CHK_TypeofTrust_RecordType]
GO
