USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] DROP CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_79034_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] DROP CONSTRAINT [R_79034_LW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] DROP CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] DROP CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]') AND type in (N'U'))
DROP TABLE [dbo].[ProfessionalLiabilityInsDetailLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfessionalLiabilityInsDetailLW](
	[LimitAmount] [varchar](50) NULL,
	[DeductibleAmount] [numeric](15, 0) NULL,
	[PolicyExpirationDatePross] [datetime] NULL,
	[ProInsPremium] [numeric](15, 0) NULL,
	[IsClaimExpLiability] [char](2) NULL,
	[PriorActDatePross] [datetime] NULL,
	[IsPerClaim] [char](2) NULL,
	[VersionSequence] [int] NOT NULL,
	[IsPriorActDateFull] [char](1) NULL,
	[FirmYear] [int] NULL,
	[InsuranceCompanyNamePross] [varchar](50) NULL,
	[LimitSequencePross] [int] NULL,
	[PolicyKey] [int] NOT NULL,
	[DeductibleSequencePross] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsProfDefenceExpense] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKProfessionalLiabilityInsDetail_LW] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW]  WITH CHECK ADD  CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] CHECK CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] CHECK CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_79034_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW]  WITH CHECK ADD  CONSTRAINT [R_79034_LW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_79034_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] CHECK CONSTRAINT [R_79034_LW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW]  WITH CHECK ADD  CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetailLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetailLW]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetailLW] CHECK CONSTRAINT [CHK_ProfessionalLiabilityInsDetailLW_RecordType]
GO
