USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] DROP CONSTRAINT [CHK_Firm_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_80]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] DROP CONSTRAINT [R_80]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] DROP CONSTRAINT [CHK_Firm_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] DROP CONSTRAINT [CHK_Firm_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Firm]') AND type in (N'U'))
DROP TABLE [dbo].[Firm]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Firm]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Firm](
	[ContactPerson] [varchar](80) NULL,
	[ContactPhone] [varchar](20) NULL,
	[IsFirmRenderingServices] [char](1) NULL,
	[IsCoverageIncludedForThisEntity] [char](1) NULL,
	[TotalFirmPersonnel] [int] NULL,
	[IsAnyFirmMeargedOrAcquired] [char](1) NULL,
	[IsReducedNumberOfOwners] [char](1) NULL,
	[IsFirmCarryingProfLiabilityIns] [char](1) NULL,
	[IsPriorAct] [char](1) NULL,
	[IsFullPriorAct] [char](1) NULL,
	[PriorActDate] [datetime] NULL,
	[IsPolicyExcludesCoverage] [char](1) NULL,
	[RetroDate] [datetime] NULL,
	[RetroFirmName] [varchar](1000) NULL,
	[PercentOfRevenueFromLargestClient] [int] NULL,
	[PercentOfRevenueFromSecondLargestClient] [int] NULL,
	[ClientIndustryIDofLargestClient] [int] NULL,
	[ClientIndustryIDofSecondLargestClient] [int] NULL,
	[ServiceIndustryIDofLargestClient] [int] NULL,
	[ServiceIndustryIDofSecondLargestClient] [int] NULL,
	[IsQualityReviewOfferedByAICPA] [char](1) NULL,
	[IsCommissionRecieved] [char](1) NULL,
	[IsPublicTradedAudited] [char](1) NULL,
	[IsServedAsTrustee] [char](1) NULL,
	[IsPublicPrivateOfferingsDone] [char](1) NULL,
	[PublicPrivateFirmName] [varchar](20) NULL,
	[PublicPrivateYearsOfExperience] [int] NULL,
	[IsInvestmentVenture] [char](1) NULL,
	[IsDebtOrEquityFinancing] [char](1) NULL,
	[IsManagementServiceProvided] [char](1) NULL,
	[IsNonPublicInvestmentDone] [char](1) NULL,
	[IsFirmRenderedServiceForAnyClient] [char](1) NULL,
	[IsNonMonetaryCompensationRecieved] [char](1) NULL,
	[CurrentValueNmc] [numeric](15, 0) NULL,
	[ClientNameNmc] [varchar](50) NULL,
	[ClientIndustryNmcKey] [int] NULL,
	[ServiceIndustryNmcKey] [int] NULL,
	[MergedOrNumberComment] [varchar](1000) NULL,
	[IsFirmRenderedAuditOrAttestService] [char](1) NULL,
	[IsSuitInstituted] [char](1) NULL,
	[AgainstHowManyClients] [int] NULL,
	[IsSignedEngagement] [char](1) NULL,
	[IsControlClientFunds] [char](1) NULL,
	[IsAnyRegulatoryInquiry] [char](1) NULL,
	[IsAwarenessOfAnyProfLiability] [char](1) NULL,
	[IsAwarenessOfAnyProfLiabilitySuitAgainst] [char](1) NULL,
	[Email] [varchar](100) NULL,
	[OtherLargestClientIndustry] [varchar](100) NULL,
	[OtherLargestServiceIndustry] [varchar](100) NULL,
	[OtherClientIndSecondLargestClient] [varchar](100) NULL,
	[OtherServiceIndSecondLargestClient] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsFirmsRevenueMorethan25Percent] [char](1) NULL,
	[IsFirmAttendedRiskMagtSeminarIn3Years] [char](1) NULL,
	[RegulatoryInquiryExaplain] [varchar](5000) NULL,
	[RegulatoryInquiryComment] [varchar](8000) NULL,
	[IsFirmDeclinedOtherthanNonPayment] [char](1) NULL,
	[ReasonForDecline] [varchar](5000) NULL,
	[ReasonForDeclineComment] [varchar](8000) NULL,
	[IsPredecessorsOrInvestVentures] [char](1) NULL,
	[IsSyndicationManagers] [char](1) NULL,
	[IsQuickQuoteByEmail] [char](1) NULL,
	[IsAnAgentCall] [char](1) NULL,
	[ContactPhoneExt] [varchar](20) NULL,
	[IsRatingDone] [char](1) NULL,
	[IsBasicPage] [char](1) NULL,
	[IsGeneralPage] [char](1) NULL,
	[IsSupplementPage] [char](1) NULL,
	[IsClientTerminated] [char](1) NULL,
	[IsAnyDeclination] [char](1) NULL,
	[IsPolicyProhibiting] [char](1) NULL,
	[IsWrittenAnyQualityControlDocument] [char](1) NULL,
	[IsAttesationPage] [char](1) NULL,
	[IsComputerServicePage] [char](1) NULL,
	[OtherITServiceComment] [varchar](8000) NULL,
	[IsBusinessFundPage] [char](1) NULL,
	[IsPracriceMangPage] [char](1) NULL,
	[ServiceIndustryofLargestClient] [varchar](50) NULL,
	[ServiceIndustryofSecondLargestClient] [varchar](50) NULL,
	[FirstReviewUserID] [varchar](100) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] IDENTITY(1,1) NOT NULL,
	[ClientIndustryNmcKeyOthers] [varchar](1000) NULL,
	[ServiceIndustryNmcKeyOthers] [varchar](1000) NULL,
	[LicenseNumber] [varchar](50) NULL,
	[IsQuotePage] [char](1) NULL,
	[IsMailSent] [char](1) NULL,
	[Comment] [varchar](8000) NULL,
	[IsLicenseNumberUpdated] [char](1) NULL,
	[QuoteEffectiveDate] [datetime] NULL,
	[QuoteExpiryDate] [datetime] NULL,
	[AcceptanceDate] [datetime] NULL,
	[ModifierComment] [varchar](8000) NULL,
	[IsClaimsInLast5Year] [char](1) NULL,
	[IsQuickQuotePage] [char](1) NULL,
	[IsLoginMailSent] [char](1) NULL,
	[IsRetreivalMailSent] [char](1) NULL,
	[IsRegistrationPage] [char](1) NULL,
	[IsFirmReferred] [char](1) NULL,
	[GeneralExplain] [varchar](8000) NULL,
	[GeneralComment] [varchar](8000) NULL,
	[IsViewed] [char](1) NULL,
	[IssuedDate] [datetime] NULL,
	[IsReceiveNewsLetter] [char](1) NULL,
	[CreatedType] [varchar](50) NULL,
	[IsInsuredViewed] [char](1) NULL,
	[IsTaxCalculation] [char](1) NULL,
	[IsRenewed] [char](1) NULL,
	[QuoteComment] [varchar](8000) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Firm] ADD [RenewBasicInfoPage] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsRenewFirmReferred] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsRenewalReview] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [RenewalReviewComments] [varchar](3000) NULL
ALTER TABLE [dbo].[Firm] ADD [AverageRevenue] [numeric](15, 0) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Firm] ADD [SwapRevenueYear] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsSpecialIssuance] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [SpecialIssuanceComments] [varchar](8000) NULL
ALTER TABLE [dbo].[Firm] ADD [ipfsQuoteNumber] [varchar](1000) NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Firm] ADD [IsOffRiskLetterUploaded] [varchar](10) NULL
ALTER TABLE [dbo].[Firm] ADD [isPricingApproved] [char](1) NULL CONSTRAINT [firm_isPricingApproved_acc]  DEFAULT ('N')
ALTER TABLE [dbo].[Firm] ADD [isComingFromUWFlow] [varchar](20) NULL CONSTRAINT [firm_isComingFromUWFlow_acc]  DEFAULT ('No')
ALTER TABLE [dbo].[Firm] ADD [FollowUnderwriterFlow] [char](1) NULL CONSTRAINT [firm_FollowUnderwriterFlow_acc]  DEFAULT ('Y')
ALTER TABLE [dbo].[Firm] ADD [isRatingsChnaged] [char](1) NULL CONSTRAINT [firm_isRatingsChnaged_acc]  DEFAULT ('N')
ALTER TABLE [dbo].[Firm] ADD [ReferralCountHistory] [int] NULL CONSTRAINT [firm_ReferralCountHistory_acc]  DEFAULT ((0))
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Firm] ADD [PricingStatus] [varchar](5) NULL
ALTER TABLE [dbo].[Firm] ADD [UnderwriterComment] [varchar](5000) NULL
ALTER TABLE [dbo].[Firm] ADD [QQRMLink] [varchar](15) NULL
ALTER TABLE [dbo].[Firm] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[Firm] ADD [IsFirmHaveLawyersLiabilityInsurance] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [QuoteSentDate] [datetime] NULL DEFAULT (NULL)
ALTER TABLE [dbo].[Firm] ADD [MarketingId] [varchar](20) NULL
ALTER TABLE [dbo].[Firm] ADD [isNewApp] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsThankYouEmailSend] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsFirmPage] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsCoveragePage] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [needCyberCoverage] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsOrganisationInvestmentVentures] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsArrangedDebtorEquity] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsReferralsInvestmentVentures] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [Totalpersonnel] [int] NULL
ALTER TABLE [dbo].[Firm] ADD [CPAPersonnel] [int] NULL
ALTER TABLE [dbo].[Firm] ADD [IsIndicationMailSent] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [IsAOPChange] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isAppCompleted] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [completedPageCommemnt] [varchar](1000) NULL
ALTER TABLE [dbo].[Firm] ADD [IndicationSentDate] [datetime] NULL
ALTER TABLE [dbo].[Firm] ADD [IsIndicationPage] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [lostworkqComment] [varchar](100) NULL
ALTER TABLE [dbo].[Firm] ADD [oldAccountId] [int] NULL
ALTER TABLE [dbo].[Firm] ADD [RenewalSource] [varchar](50) NULL
ALTER TABLE [dbo].[Firm] ADD [isPolicyWentToUnderwriting] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isRequotePolicy] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isPolicyRequoted] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isFromInsureLink] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [QQSource] [varchar](100) NULL
ALTER TABLE [dbo].[Firm] ADD [LostWorkq_UpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[Firm] ADD [LostWorkq_UpdatedTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[Firm] ADD [isManualLostworkq] [char](10) NULL
ALTER TABLE [dbo].[Firm] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[Firm] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[Firm] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
ALTER TABLE [dbo].[Firm] ADD [ZohoAccountID] [varchar](50) NULL
ALTER TABLE [dbo].[Firm] ADD [ZohoPotentialsID] [varchar](50) NULL
ALTER TABLE [dbo].[Firm] ADD [ISZohoInsert] [varchar](50) NULL
ALTER TABLE [dbo].[Firm] ADD [NameClearType] [varchar](50) NULL
ALTER TABLE [dbo].[Firm] ADD [NameClearDate] [datetime] NULL
ALTER TABLE [dbo].[Firm] ADD [IsNameClearanceRequired] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isMailSentBeyondWorkQCovrageDaysFlag] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isAutoQuoteMailSent] [char](1) NULL
ALTER TABLE [dbo].[Firm] ADD [isAutoQuoteModsUpdated] [char](1) NULL
 CONSTRAINT [XPKFirm] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm]  WITH CHECK ADD  CONSTRAINT [CHK_Firm_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] CHECK CONSTRAINT [CHK_Firm_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm]  WITH NOCHECK ADD  CONSTRAINT [CHK_Firm_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] CHECK CONSTRAINT [CHK_Firm_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_80]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm]  WITH CHECK ADD  CONSTRAINT [R_80] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_80]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] CHECK CONSTRAINT [R_80]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm]  WITH CHECK ADD  CONSTRAINT [CHK_Firm_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Firm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Firm]'))
ALTER TABLE [dbo].[Firm] CHECK CONSTRAINT [CHK_Firm_RecordType]
GO
