USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EstimateF__FormK__5E0C7D34]') AND parent_object_id = OBJECT_ID(N'[dbo].[EstimateFormGrossRevenue]'))
ALTER TABLE [dbo].[EstimateFormGrossRevenue] DROP CONSTRAINT [FK__EstimateF__FormK__5E0C7D34]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormGrossRevenue]') AND type in (N'U'))
DROP TABLE [dbo].[EstimateFormGrossRevenue]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormGrossRevenue]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EstimateFormGrossRevenue](
	[FormGrossRevenueKey] [int] IDENTITY(1,1) NOT NULL,
	[GrossRevenueKey] [int] NULL,
	[YearEndDate] [varchar](7) NULL,
	[Amount] [numeric](15, 0) NULL,
	[FormKey] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormGrossRevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EstimateF__FormK__5E0C7D34]') AND parent_object_id = OBJECT_ID(N'[dbo].[EstimateFormGrossRevenue]'))
ALTER TABLE [dbo].[EstimateFormGrossRevenue]  WITH CHECK ADD FOREIGN KEY([FormKey])
REFERENCES [dbo].[EstimateFormGeneralInfo] ([FormKey])
GO
