USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] DROP CONSTRAINT [CHK_AreaOfTaxPracticeLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_596]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] DROP CONSTRAINT [R_596]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_595]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] DROP CONSTRAINT [R_595]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] DROP CONSTRAINT [CHK_AreaOfTaxPracticeLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] DROP CONSTRAINT [CHK_AreaOfTaxPracticeLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfTaxPracticeLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfTaxPracticeLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[AOTPKey] [int] NOT NULL,
	[PercentageValue] [int] NULL,
	[AOTPCommentDesc] [varchar](150) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKAreaOfTaxPracticeLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[AOTPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfTaxPracticeLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] CHECK CONSTRAINT [CHK_AreaOfTaxPracticeLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfTaxPracticeLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] CHECK CONSTRAINT [CHK_AreaOfTaxPracticeLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_595]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW]  WITH CHECK ADD  CONSTRAINT [R_595] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[TaxSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_595]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] CHECK CONSTRAINT [R_595]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_596]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW]  WITH CHECK ADD  CONSTRAINT [R_596] FOREIGN KEY([AOTPKey])
REFERENCES [dbo].[AOTPLW] ([AOTPKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_596]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] CHECK CONSTRAINT [R_596]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfTaxPracticeLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfTaxPracticeLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfTaxPracticeLW]'))
ALTER TABLE [dbo].[AreaOfTaxPracticeLW] CHECK CONSTRAINT [CHK_AreaOfTaxPracticeLW_RecordType]
GO
