USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateTrustsPercentageWEPT_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT] DROP CONSTRAINT [CHK_WillsEstateTrustsPercentageWEPT_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WillsEsta__Versi__127F7A1C]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT] DROP CONSTRAINT [FK__WillsEsta__Versi__127F7A1C]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WillsEsta__Polic__118B55E3]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT] DROP CONSTRAINT [FK__WillsEsta__Polic__118B55E3]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WillsEsta__Creat__13739E55]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT] DROP CONSTRAINT [DF__WillsEsta__Creat__13739E55]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]') AND type in (N'U'))
DROP TABLE [dbo].[WillsEstateTrustsPercentageWEPT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WillsEstateTrustsPercentageWEPT](
	[WillsEstateTrustsPercentageWEPTKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[WillsETClientsTotalAssets] [varchar](500) NULL,
	[WillsETEstimatedPercentWork] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WillsEstateTrustsPercentageWEPTKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WillsEsta__Creat__13739E55]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WillsEsta__Polic__118B55E3]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WillsEsta__Versi__127F7A1C]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateTrustsPercentageWEPT_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT]  WITH CHECK ADD  CONSTRAINT [CHK_WillsEstateTrustsPercentageWEPT_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsEstateTrustsPercentageWEPT_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsEstateTrustsPercentageWEPT]'))
ALTER TABLE [dbo].[WillsEstateTrustsPercentageWEPT] CHECK CONSTRAINT [CHK_WillsEstateTrustsPercentageWEPT_RecordType]
GO
