USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LossInformationInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo] DROP CONSTRAINT [CHK_LossInformationInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Versi__404644CC]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo] DROP CONSTRAINT [FK__LossInfor__Versi__404644CC]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Polic__3F522093]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo] DROP CONSTRAINT [FK__LossInfor__Polic__3F522093]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__LossInfor__Creat__413A6905]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LossInformationInfo] DROP CONSTRAINT [DF__LossInfor__Creat__413A6905]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]') AND type in (N'U'))
DROP TABLE [dbo].[LossInformationInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LossInformationInfo](
	[LossInformationInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[LossInforCCLable] [varchar](500) NULL,
	[LossInforCCInsurance] [varchar](200) NULL,
	[LossInforCCPolicyPeriod] [varchar](200) NULL,
	[LossInforCCLimits] [varchar](50) NULL,
	[LossInforCCDeductible] [varchar](50) NULL,
	[LossInforCCPremium] [varchar](200) NULL,
	[LossInforCCAttorneys] [varchar](200) NULL,
	[LossInforCCRetroactiveDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LossInformationInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__LossInfor__Creat__413A6905]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LossInformationInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Polic__3F522093]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__LossInfor__Versi__404644CC]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LossInformationInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo]  WITH CHECK ADD  CONSTRAINT [CHK_LossInformationInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LossInformationInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LossInformationInfo]'))
ALTER TABLE [dbo].[LossInformationInfo] CHECK CONSTRAINT [CHK_LossInformationInfo_RecordType]
GO
