USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation] DROP CONSTRAINT [CHK_FirmInformation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmInfor__Versi__481C70BE]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation] DROP CONSTRAINT [FK__FirmInfor__Versi__481C70BE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmInfor__Polic__47284C85]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation] DROP CONSTRAINT [FK__FirmInfor__Polic__47284C85]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmInfor__Creat__491094F7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmInformation] DROP CONSTRAINT [DF__FirmInfor__Creat__491094F7]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmInformation]') AND type in (N'U'))
DROP TABLE [dbo].[FirmInformation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmInformation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmInformation](
	[FirmInformationKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[FirmName] [varchar](100) NULL,
	[FirmType] [varchar](50) NULL,
	[FirmOtherType] [varchar](100) NULL,
	[StreetAddress] [varchar](500) NULL,
	[AddressLine2] [varchar](200) NULL,
	[State] [varchar](50) NULL,
	[City] [varchar](100) NULL,
	[County] [varchar](100) NULL,
	[ZipCode] [varchar](200) NULL,
	[Email] [varchar](100) NULL,
	[SecondaryEmail] [varchar](100) NULL,
	[Website] [varchar](100) NULL,
	[PhoneNumber] [varchar](200) NULL,
	[OtherPhone] [varchar](200) NULL,
	[SubProducer] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[IsYourPhysicalAddressSame] [varchar](50) NULL,
	[PhysicalStreetAddress] [varchar](500) NULL,
	[PhysicalAddressLine2] [varchar](200) NULL,
	[PhysicalState] [varchar](50) NULL,
	[PhysicalCity] [varchar](100) NULL,
	[PhysicalCounty] [varchar](100) NULL,
	[PhysicalZipCode] [varchar](200) NULL,
	[Doyoucurrentlycarryprofessionalliability] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmInformationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FirmInfor__Creat__491094F7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FirmInformation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmInfor__Polic__47284C85]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FirmInfor__Versi__481C70BE]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation]  WITH CHECK ADD  CONSTRAINT [CHK_FirmInformation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInformation]'))
ALTER TABLE [dbo].[FirmInformation] CHECK CONSTRAINT [CHK_FirmInformation_RecordType]
GO
