USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] DROP CONSTRAINT [CHK_OthersSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_608]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] DROP CONSTRAINT [R_608]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] DROP CONSTRAINT [CHK_OthersSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] DROP CONSTRAINT [CHK_OthersSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OthersSup__Versi__45AA1867]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OthersSuppLW] DROP CONSTRAINT [DF__OthersSup__Versi__45AA1867]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OthersSup__Recor__3706F355]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OthersSuppLW] DROP CONSTRAINT [DF__OthersSup__Recor__3706F355]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[OthersSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OthersSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsAttorHaveInterestInCollectionAgency] [char](1) NULL,
	[IsApplSendCompWithFedFairCollections] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKOthers] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OthersSup__Recor__3706F355]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OthersSuppLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OthersSup__Versi__45AA1867]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OthersSuppLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_OthersSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] CHECK CONSTRAINT [CHK_OthersSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_OthersSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] CHECK CONSTRAINT [CHK_OthersSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_608]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW]  WITH CHECK ADD  CONSTRAINT [R_608] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_608]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] CHECK CONSTRAINT [R_608]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_OthersSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_OthersSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OthersSuppLW]'))
ALTER TABLE [dbo].[OthersSuppLW] CHECK CONSTRAINT [CHK_OthersSuppLW_RecordType]
GO
