USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokeragePolicyCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage] DROP CONSTRAINT [CHK_BrokeragePolicyCoverage_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Brokerage__Broke__503CB573]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage] DROP CONSTRAINT [FK__Brokerage__Broke__503CB573]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Brokerage__Broke__4B780056]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage] DROP CONSTRAINT [FK__Brokerage__Broke__4B780056]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]') AND type in (N'U'))
DROP TABLE [dbo].[BrokeragePolicyCoverage]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BrokeragePolicyCoverage](
	[BrokerageCoverageSequence] [int] IDENTITY(1,1) NOT NULL,
	[BrokeragePolicyKey] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LimitSequence] [int] NULL,
	[DeductibleSequence] [int] NULL,
	[IsClaimOptionType] [char](1) NULL,
	[IsClaimExpensesType] [char](1) NULL,
	[IsDollarDefense] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrokerageCoverageSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Brokerage__Broke__4B780056]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage]  WITH CHECK ADD FOREIGN KEY([BrokeragePolicyKey])
REFERENCES [dbo].[BrokerageLW] ([BrokeragePolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Brokerage__Broke__503CB573]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage]  WITH CHECK ADD FOREIGN KEY([BrokeragePolicyKey])
REFERENCES [dbo].[BrokerageLW] ([BrokeragePolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokeragePolicyCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage]  WITH CHECK ADD  CONSTRAINT [CHK_BrokeragePolicyCoverage_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BrokeragePolicyCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[BrokeragePolicyCoverage]'))
ALTER TABLE [dbo].[BrokeragePolicyCoverage] CHECK CONSTRAINT [CHK_BrokeragePolicyCoverage_RecordType]
GO
