USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] DROP CONSTRAINT [CHK_DocumentArchiveLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentArchive__7DCDAAA2_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] DROP CONSTRAINT [FK__DocumentArchive__7DCDAAA2_LW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] DROP CONSTRAINT [CHK_DocumentArchiveLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] DROP CONSTRAINT [CHK_DocumentArchiveLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]') AND type in (N'U'))
DROP TABLE [dbo].[DocumentArchiveLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DocumentArchiveLW](
	[VersionSequence] [int] NOT NULL,
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocTitle] [varchar](100) NULL,
	[Comment] [varchar](1000) NULL,
	[DocFileName] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[DocType] [varchar](5) NULL,
	[DocUrl] [varchar](1000) NULL,
	[UploadedType] [varchar](100) NULL,
	[UploadedTime] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK__DocumentArchive__LW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentArchiveLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] CHECK CONSTRAINT [CHK_DocumentArchiveLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_DocumentArchiveLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] CHECK CONSTRAINT [CHK_DocumentArchiveLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentArchive__7DCDAAA2_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW]  WITH CHECK ADD  CONSTRAINT [FK__DocumentArchive__7DCDAAA2_LW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentArchive__7DCDAAA2_LW]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] CHECK CONSTRAINT [FK__DocumentArchive__7DCDAAA2_LW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentArchiveLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchiveLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchiveLW]'))
ALTER TABLE [dbo].[DocumentArchiveLW] CHECK CONSTRAINT [CHK_DocumentArchiveLW_RecordType]
GO
