USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountPersistenceLogs_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]'))
ALTER TABLE [dbo].[AccountPersistenceLogs] DROP CONSTRAINT [CHK_AccountPersistenceLogs_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountPersistanceLogs_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]'))
ALTER TABLE [dbo].[AccountPersistenceLogs] DROP CONSTRAINT [CHK_AccountPersistanceLogs_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AccountPersistenceLogs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AccountPersistenceLogs](
	[AccountPersistenceKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[AccountID] [int] NULL,
	[OldAccountID] [int] NULL,
	[MergeType] [varchar](100) NULL,
	[AccountMergeReason] [varchar](1000) NULL,
	[LastupdateduserID] [int] NULL,
	[Lastupdatetimestamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountPersistanceLogs_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]'))
ALTER TABLE [dbo].[AccountPersistenceLogs]  WITH NOCHECK ADD  CONSTRAINT [CHK_AccountPersistanceLogs_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountPersistanceLogs_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]'))
ALTER TABLE [dbo].[AccountPersistenceLogs] CHECK CONSTRAINT [CHK_AccountPersistanceLogs_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountPersistenceLogs_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]'))
ALTER TABLE [dbo].[AccountPersistenceLogs]  WITH CHECK ADD  CONSTRAINT [CHK_AccountPersistenceLogs_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AccountPersistenceLogs_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccountPersistenceLogs]'))
ALTER TABLE [dbo].[AccountPersistenceLogs] CHECK CONSTRAINT [CHK_AccountPersistenceLogs_RecordType]
GO
