USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] DROP CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] DROP CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] DROP CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[CopyRightTrademarkDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CopyRightTrademarkDetailsLW](
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[otherServices] [char](1) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [otherServicesDesc] [varchar](500) NULL
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] CHECK CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] CHECK CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CopyRightTrademarkDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CopyRightTrademarkDetailsLW]'))
ALTER TABLE [dbo].[CopyRightTrademarkDetailsLW] CHECK CONSTRAINT [CHK_CopyRightTrademarkDetailsLW_RecordType]
GO
