USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] DROP CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_590]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] DROP CONSTRAINT [R_590]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_589]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] DROP CONSTRAINT [R_589]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] DROP CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] DROP CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfPracticeRealEstateLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfPracticeRealEstateLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[AOPREKey] [int] NOT NULL,
	[PercentageValue] [int] NULL,
	[AOPRECommentDesc] [varchar](300) NULL,
	[CommercialPercentageValue] [int] NULL DEFAULT (NULL),
	[AOPRECommCommentDesc] [varchar](300) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKAreaOfPracticeRealEstateLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[AOPREKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] CHECK CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] CHECK CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_589]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW]  WITH CHECK ADD  CONSTRAINT [R_589] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_589]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] CHECK CONSTRAINT [R_589]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_590]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW]  WITH CHECK ADD  CONSTRAINT [R_590] FOREIGN KEY([AOPREKey])
REFERENCES [dbo].[AOPRELW] ([AOPREKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_590]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] CHECK CONSTRAINT [R_590]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfPracticeRealEstateLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfPracticeRealEstateLW]'))
ALTER TABLE [dbo].[AreaOfPracticeRealEstateLW] CHECK CONSTRAINT [CHK_AreaOfPracticeRealEstateLW_RecordType]
GO
