USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubproducerUserdetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubproducerUserdetails]'))
ALTER TABLE [dbo].[SubproducerUserdetails] DROP CONSTRAINT [CHK_SubproducerUserdetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubproducerUserdetails]') AND type in (N'U'))
DROP TABLE [dbo].[SubproducerUserdetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubproducerUserdetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubproducerUserdetails](
	[UserNo] [int] NULL,
	[ProducerCode] [varchar](50) NULL,
	[LastupdateUserId] [int] NULL,
	[LastupdateTimestamp] [datetime] NULL,
	[SubUserID] [int] IDENTITY(1,1) NOT NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubproducerUserdetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubproducerUserdetails]'))
ALTER TABLE [dbo].[SubproducerUserdetails]  WITH CHECK ADD  CONSTRAINT [CHK_SubproducerUserdetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SubproducerUserdetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubproducerUserdetails]'))
ALTER TABLE [dbo].[SubproducerUserdetails] CHECK CONSTRAINT [CHK_SubproducerUserdetails_RecordType]
GO
