USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW] DROP CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW] DROP CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW] DROP CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]') AND type in (N'U'))
DROP TABLE [dbo].[CorporateCommBusineesSupplementLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CorporateCommBusineesSupplementLW](
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[OtherLegalCorporateServices] [char](1) NULL,
	[CorporateServiceDesc1] [varchar](500) NULL,
	[CorporateServiceDesc2] [varchar](500) NULL,
	[CorporateServiceDesc3] [varchar](500) NULL,
	[CorporateServicePercentage1] [numeric](17, 2) NULL,
	[CorporateServicePercentage2] [numeric](17, 2) NULL,
	[CorporateServicePercentage3] [numeric](17, 2) NULL,
	[PubliclyRenderedServices] [char](1) NULL,
	[PubliclyRenderedServicesDesc] [varchar](1000) NULL,
	[LegalBusinessRelationshipServices] [char](1) NULL,
	[AuthorityToDisburseFunds] [char](1) NULL,
	[AcceptCompensation] [char](1) NULL,
	[LegalServicesSecuritiesPayment] [char](1) NULL,
	[PerformDueDiligence] [char](1) NULL,
	[DetailedDescCorporateServices] [varchar](1000) NULL,
	[LegalServicesBankruptLiquidation] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW]  WITH CHECK ADD  CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW] CHECK CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW] CHECK CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW]  WITH CHECK ADD  CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CorporateCommBusineesSupplementLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CorporateCommBusineesSupplementLW]'))
ALTER TABLE [dbo].[CorporateCommBusineesSupplementLW] CHECK CONSTRAINT [CHK_CorporateCommBusineesSupplementLW_RecordType]
GO
