USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CityLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CityLW]'))
ALTER TABLE [dbo].[CityLW] DROP CONSTRAINT [CHK_CityLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CityLW__CountyKe__7F4BDEC0]') AND parent_object_id = OBJECT_ID(N'[dbo].[CityLW]'))
ALTER TABLE [dbo].[CityLW] DROP CONSTRAINT [FK__CityLW__CountyKe__7F4BDEC0]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CityLW]') AND type in (N'U'))
DROP TABLE [dbo].[CityLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CityLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CityLW](
	[CityKey] [int] IDENTITY(1,1) NOT NULL,
	[CityDesc] [varchar](100) NULL,
	[CountyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CityKey] ASC,
	[CountyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CityLW__CountyKe__7F4BDEC0]') AND parent_object_id = OBJECT_ID(N'[dbo].[CityLW]'))
ALTER TABLE [dbo].[CityLW]  WITH CHECK ADD FOREIGN KEY([CountyKey])
REFERENCES [dbo].[CountyLW] ([CountyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CityLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CityLW]'))
ALTER TABLE [dbo].[CityLW]  WITH CHECK ADD  CONSTRAINT [CHK_CityLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CityLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CityLW]'))
ALTER TABLE [dbo].[CityLW] CHECK CONSTRAINT [CHK_CityLW_RecordType]
GO
