USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StateForm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateForm]'))
ALTER TABLE [dbo].[StateForm] DROP CONSTRAINT [CHK_StateForm_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__StateForm__State__14B10FFA]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateForm]'))
ALTER TABLE [dbo].[StateForm] DROP CONSTRAINT [FK__StateForm__State__14B10FFA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateForm]') AND type in (N'U'))
DROP TABLE [dbo].[StateForm]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StateForm](
	[FormID] [varchar](50) NOT NULL,
	[StateCode] [varchar](20) NOT NULL,
	[FormName] [varchar](100) NULL,
	[FormDesc] [varchar](5000) NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NULL,
	[FormFooter] [varchar](50) NULL,
	[StateFormType] [char](1) NULL,
	[FormSequence] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CompanyKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormID] ASC,
	[StateCode] ASC,
	[EffectiveDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__StateForm__State__14B10FFA]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateForm]'))
ALTER TABLE [dbo].[StateForm]  WITH CHECK ADD  CONSTRAINT [FK__StateForm__State__14B10FFA] FOREIGN KEY([StateCode])
REFERENCES [dbo].[State] ([StateCode])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__StateForm__State__14B10FFA]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateForm]'))
ALTER TABLE [dbo].[StateForm] CHECK CONSTRAINT [FK__StateForm__State__14B10FFA]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StateForm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateForm]'))
ALTER TABLE [dbo].[StateForm]  WITH CHECK ADD  CONSTRAINT [CHK_StateForm_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StateForm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateForm]'))
ALTER TABLE [dbo].[StateForm] CHECK CONSTRAINT [CHK_StateForm_RecordType]
GO
