USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_email_notification_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[email_notification]'))
ALTER TABLE [dbo].[email_notification] DROP CONSTRAINT [CHK_email_notification_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__email_not__Marke__758D6A5C]') AND parent_object_id = OBJECT_ID(N'[dbo].[email_notification]'))
ALTER TABLE [dbo].[email_notification] DROP CONSTRAINT [FK__email_not__Marke__758D6A5C]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[email_notification]') AND type in (N'U'))
DROP TABLE [dbo].[email_notification]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[email_notification]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[email_notification](
	[notificationid] [int] IDENTITY(1,1) NOT NULL,
	[MarketableProductKey] [int] NULL,
	[notificationname] [varchar](100) NULL,
	[mailsubject] [varchar](100) NULL,
	[mailto] [varchar](100) NULL,
	[mailfrom] [varchar](100) NULL,
	[mailbody] [varchar](8000) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[email_notification] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[email_notification] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[email_notification] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[email_notification] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[email_notification] ADD [CreatedBy] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[notificationid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__email_not__Marke__758D6A5C]') AND parent_object_id = OBJECT_ID(N'[dbo].[email_notification]'))
ALTER TABLE [dbo].[email_notification]  WITH CHECK ADD FOREIGN KEY([MarketableProductKey])
REFERENCES [dbo].[MarketableProduct] ([MarketableProductKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_email_notification_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[email_notification]'))
ALTER TABLE [dbo].[email_notification]  WITH CHECK ADD  CONSTRAINT [CHK_email_notification_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_email_notification_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[email_notification]'))
ALTER TABLE [dbo].[email_notification] CHECK CONSTRAINT [CHK_email_notification_RecordType]
GO
