USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] DROP CONSTRAINT [CHK_ITServicesSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITServicesSupp_ITServiceCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] DROP CONSTRAINT [FK_ITServicesSupp_ITServiceCategory]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITServicesSupp_Firm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] DROP CONSTRAINT [FK_ITServicesSupp_Firm]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] DROP CONSTRAINT [CHK_ITServicesSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] DROP CONSTRAINT [CHK_ITServicesSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]') AND type in (N'U'))
DROP TABLE [dbo].[ITServicesSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ITServicesSupp](
	[RevenuesFromLastYear] [numeric](15, 0) NULL,
	[EstimatedRevenue] [numeric](15, 0) NULL,
	[IsAnnually] [char](1) NULL,
	[ITServiceCategoryKey] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_ITServicesSupp_1] PRIMARY KEY CLUSTERED 
(
	[ITServiceCategoryKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp]  WITH CHECK ADD  CONSTRAINT [CHK_ITServicesSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] CHECK CONSTRAINT [CHK_ITServicesSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_ITServicesSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] CHECK CONSTRAINT [CHK_ITServicesSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITServicesSupp_Firm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp]  WITH CHECK ADD  CONSTRAINT [FK_ITServicesSupp_Firm] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITServicesSupp_Firm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] CHECK CONSTRAINT [FK_ITServicesSupp_Firm]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITServicesSupp_ITServiceCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp]  WITH CHECK ADD  CONSTRAINT [FK_ITServicesSupp_ITServiceCategory] FOREIGN KEY([ITServiceCategoryKey])
REFERENCES [dbo].[ITServiceCategory] ([ITServiceCategoryKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITServicesSupp_ITServiceCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] CHECK CONSTRAINT [FK_ITServicesSupp_ITServiceCategory]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp]  WITH CHECK ADD  CONSTRAINT [CHK_ITServicesSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ITServicesSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITServicesSupp]'))
ALTER TABLE [dbo].[ITServicesSupp] CHECK CONSTRAINT [CHK_ITServicesSupp_RecordType]
GO
