USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SurchargeTax_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax] DROP CONSTRAINT [CHK_SurchargeTax_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SurchargeTax__0EF836A4]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax] DROP CONSTRAINT [FK__SurchargeTax__0EF836A4]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Surcharge__Surch__0FEC5ADD]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax] DROP CONSTRAINT [FK__Surcharge__Surch__0FEC5ADD]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SurchargeTax_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax] DROP CONSTRAINT [CHK_SurchargeTax_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurchargeTax]') AND type in (N'U'))
DROP TABLE [dbo].[SurchargeTax]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurchargeTax]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SurchargeTax](
	[PolicyKey] [int] NOT NULL,
	[TransactionSequence] [int] NOT NULL,
	[CoverageSequence] [int] NOT NULL,
	[SurchargeTaxSequence] [int] IDENTITY(1,1) NOT NULL,
	[SurchargeTaxTypeKey] [int] NULL,
	[TaxAmount] [numeric](15, 0) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[TransactionSequence] ASC,
	[CoverageSequence] ASC,
	[SurchargeTaxSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SurchargeTax_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax]  WITH CHECK ADD  CONSTRAINT [CHK_SurchargeTax_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SurchargeTax_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax] CHECK CONSTRAINT [CHK_SurchargeTax_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Surcharge__Surch__0FEC5ADD]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax]  WITH CHECK ADD FOREIGN KEY([SurchargeTaxTypeKey])
REFERENCES [dbo].[SurchargeTaxType] ([SurchargeTaxTypeKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SurchargeTax__0EF836A4]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [TransactionSequence], [CoverageSequence])
REFERENCES [dbo].[PolicyCoverage] ([PolicyKey], [TransactionSequence], [CoverageSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SurchargeTax_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax]  WITH CHECK ADD  CONSTRAINT [CHK_SurchargeTax_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SurchargeTax_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurchargeTax]'))
ALTER TABLE [dbo].[SurchargeTax] CHECK CONSTRAINT [CHK_SurchargeTax_RecordType]
GO
