USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] DROP CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_79034]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] DROP CONSTRAINT [R_79034]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] DROP CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] DROP CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]') AND type in (N'U'))
DROP TABLE [dbo].[ProfessionalLiabilityInsDetail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfessionalLiabilityInsDetail](
	[InsuranceCompanyKey] [int] NULL,
	[LimitAmount] [varchar](50) NULL,
	[DeductibleAmount] [numeric](15, 0) NULL,
	[PolicyExpirationDatePross] [datetime] NULL,
	[ProInsPremium] [numeric](15, 0) NULL,
	[IsClaimExpLiability] [char](1) NULL,
	[PriorActDatePross] [datetime] NULL,
	[IsPerClaim] [char](1) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[IsPriorActDateFull] [char](1) NULL,
	[FirmYear] [int] NULL,
	[InsuranceCompanyPILKeyOthers] [varchar](5000) NULL,
	[InsuranceCompanyNamePross] [varchar](50) NULL,
	[LimitSequencePross] [int] NULL,
	[DeductibleSequencePross] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[IsProfDefenceExpense] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKProfessionalLiabilityInsDetail] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] CHECK CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail]  WITH NOCHECK ADD  CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] CHECK CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_79034]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail]  WITH CHECK ADD  CONSTRAINT [R_79034] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_79034]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] CHECK CONSTRAINT [R_79034]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ProfessionalLiabilityInsDetail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalLiabilityInsDetail]'))
ALTER TABLE [dbo].[ProfessionalLiabilityInsDetail] CHECK CONSTRAINT [CHK_ProfessionalLiabilityInsDetail_RecordType]
GO
