USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SOIType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOIType]'))
ALTER TABLE [dbo].[SOIType] DROP CONSTRAINT [CHK_SOIType_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__SOIType__RecordT__689E4EE9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SOIType] DROP CONSTRAINT [DF__SOIType__RecordT__689E4EE9]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SOIType]') AND type in (N'U'))
DROP TABLE [dbo].[SOIType]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SOIType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SOIType](
	[SOITypeKey] [int] NOT NULL,
	[SOITypeDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKSOIType] PRIMARY KEY CLUSTERED 
(
	[SOITypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__SOIType__RecordT__689E4EE9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SOIType] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SOIType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOIType]'))
ALTER TABLE [dbo].[SOIType]  WITH CHECK ADD  CONSTRAINT [CHK_SOIType_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_SOIType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOIType]'))
ALTER TABLE [dbo].[SOIType] CHECK CONSTRAINT [CHK_SOIType_RecordType]
GO
