USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EMAIL_NOTIFICATIONS_NEW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]'))
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] DROP CONSTRAINT [CHK_EMAIL_NOTIFICATIONS_NEW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EMAIL_NOT__Compa__0D85BAD5]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]'))
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] DROP CONSTRAINT [FK__EMAIL_NOT__Compa__0D85BAD5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]') AND type in (N'U'))
DROP TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW](
	[email_notification_id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [varchar](100) NULL,
	[description] [varchar](1024) NULL,
	[from_role_desc] [varchar](100) NULL,
	[to_role_desc] [varchar](100) NULL,
	[subject] [varchar](1024) NULL,
	[body] [varchar](8000) NULL,
	[type] [varchar](100) NULL,
	[last_updated_by] [varchar](50) NOT NULL,
	[last_updated_ts] [datetime] NOT NULL,
	[subject_dynamicvalues] [varchar](500) NULL,
	[body_dynamicvalues] [varchar](500) NULL,
	[cc_role_desc] [varchar](100) NULL,
	[email_template] [varchar](255) NULL,
	[attachment_content] [varchar](500) NULL,
	[EffectiveDate] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [IsCyber] [char](1) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [IsSubProduced] [char](1) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [Period] [int] NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [RecordType] [varchar](20) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [isDeleted] [varchar](20) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [event_name2] [varchar](1000) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [StateCode] [varchar](500) NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] ADD [CompanyKey] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[email_notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EMAIL_NOT__Compa__0D85BAD5]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]'))
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW]  WITH CHECK ADD FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EMAIL_NOTIFICATIONS_NEW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]'))
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW]  WITH CHECK ADD  CONSTRAINT [CHK_EMAIL_NOTIFICATIONS_NEW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EMAIL_NOTIFICATIONS_NEW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMAIL_NOTIFICATIONS_NEW]'))
ALTER TABLE [dbo].[EMAIL_NOTIFICATIONS_NEW] CHECK CONSTRAINT [CHK_EMAIL_NOTIFICATIONS_NEW_RecordType]
GO
