USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NotaryEndorsementTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]'))
ALTER TABLE [dbo].[NotaryEndorsementTable] DROP CONSTRAINT [CHK_NotaryEndorsementTable_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NotaryEndorsementTable_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]'))
ALTER TABLE [dbo].[NotaryEndorsementTable] DROP CONSTRAINT [CHK_NotaryEndorsementTable_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]') AND type in (N'U'))
DROP TABLE [dbo].[NotaryEndorsementTable]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NotaryEndorsementTable](
	[PolicyKey] [int] NULL,
	[QuoteNumber] [varchar](500) NULL,
	[AccountName] [varchar](500) NULL,
	[ContactPerson] [varchar](500) NULL,
	[AccountEmail] [varchar](500) NULL,
	[PolicyNumber] [varchar](500) NULL,
	[PolicyEffectiveDate] [datetime] NULL,
	[PolicyExpirationDate] [datetime] NULL,
	[ProducerCode] [varchar](500) NULL,
	[Subject] [varchar](5000) NULL,
	[body] [varchar](8000) NULL,
	[AttachmentFilePath] [varchar](1000) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NotaryEndorsementTable_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]'))
ALTER TABLE [dbo].[NotaryEndorsementTable]  WITH CHECK ADD  CONSTRAINT [CHK_NotaryEndorsementTable_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NotaryEndorsementTable_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]'))
ALTER TABLE [dbo].[NotaryEndorsementTable] CHECK CONSTRAINT [CHK_NotaryEndorsementTable_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NotaryEndorsementTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]'))
ALTER TABLE [dbo].[NotaryEndorsementTable]  WITH CHECK ADD  CONSTRAINT [CHK_NotaryEndorsementTable_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NotaryEndorsementTable_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NotaryEndorsementTable]'))
ALTER TABLE [dbo].[NotaryEndorsementTable] CHECK CONSTRAINT [CHK_NotaryEndorsementTable_RecordType]
GO
