USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] DROP CONSTRAINT [CHK_DocumentArchive_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentArchive__093F5D4E]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] DROP CONSTRAINT [FK__DocumentArchive__093F5D4E]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] DROP CONSTRAINT [CHK_DocumentArchive_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] DROP CONSTRAINT [CHK_DocumentArchive_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentArchive]') AND type in (N'U'))
DROP TABLE [dbo].[DocumentArchive]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentArchive]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DocumentArchive](
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocTitle] [varchar](100) NULL,
	[Comment] [varchar](8000) NULL,
	[DocFileName] [varchar](100) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[DocUrl] [varchar](1000) NULL,
	[UploadedTime] [varchar](100) NULL,
	[DocType] [varchar](5) NULL,
	[UploadedType] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC,
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentArchive_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] CHECK CONSTRAINT [CHK_DocumentArchive_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive]  WITH NOCHECK ADD  CONSTRAINT [CHK_DocumentArchive_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] CHECK CONSTRAINT [CHK_DocumentArchive_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__DocumentArchive__093F5D4E]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive]  WITH CHECK ADD FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentArchive_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_DocumentArchive_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentArchive]'))
ALTER TABLE [dbo].[DocumentArchive] CHECK CONSTRAINT [CHK_DocumentArchive_RecordType]
GO
