USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Disciplinary_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary] DROP CONSTRAINT [CHK_Disciplinary_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Versi__538E236A]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary] DROP CONSTRAINT [FK__Disciplin__Versi__538E236A]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Polic__5299FF31]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary] DROP CONSTRAINT [FK__Disciplin__Polic__5299FF31]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Disciplin__Creat__548247A3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Disciplinary] DROP CONSTRAINT [DF__Disciplin__Creat__548247A3]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Disciplinary]') AND type in (N'U'))
DROP TABLE [dbo].[Disciplinary]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Disciplinary]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Disciplinary](
	[DisciplinaryKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[ComplaitAttachment] [varchar](50) NULL,
	[ComplaitAttachmentName] [varchar](100) NULL,
	[LawyerNameInComplaint] [varchar](50) NULL,
	[DisciplinaryNotificationDate] [datetime] NULL,
	[InsuranceGoverningBody] [varchar](200) NULL,
	[HasInsuranceCarrierReported] [varchar](50) NULL,
	[ReportedInsuranceCarrierName] [varchar](200) NULL,
	[ReportedDate] [datetime] NULL,
	[MatterNotReportedDesc] [varchar](500) NULL,
	[HadComplaintMadeAfterFeeSuit] [varchar](50) NULL,
	[AllegationsComplaintDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisciplinaryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Disciplin__Creat__548247A3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Disciplinary] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Polic__5299FF31]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Disciplin__Versi__538E236A]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Disciplinary_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary]  WITH CHECK ADD  CONSTRAINT [CHK_Disciplinary_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Disciplinary_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Disciplinary]'))
ALTER TABLE [dbo].[Disciplinary] CHECK CONSTRAINT [CHK_Disciplinary_RecordType]
GO
