USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeeSuitSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp] DROP CONSTRAINT [CHK_FeeSuitSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Versi__797EC228]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp] DROP CONSTRAINT [FK__FeeSuitSu__Versi__797EC228]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Polic__788A9DEF]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp] DROP CONSTRAINT [FK__FeeSuitSu__Polic__788A9DEF]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FeeSuitSu__Creat__7A72E661]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FeeSuitSupp] DROP CONSTRAINT [DF__FeeSuitSu__Creat__7A72E661]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]') AND type in (N'U'))
DROP TABLE [dbo].[FeeSuitSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FeeSuitSupp](
	[FeeSuitSuppKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[AvoidCountersuitSteps] [varchar](500) NULL,
	[PreventFutureFeesuitsStep] [varchar](500) NULL,
	[HasFirmWaitMalpracticeAction] [varchar](50) NULL,
	[MalpracticeActionDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeSuitSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FeeSuitSu__Creat__7A72E661]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FeeSuitSupp] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Polic__788A9DEF]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Versi__797EC228]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeeSuitSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp]  WITH CHECK ADD  CONSTRAINT [CHK_FeeSuitSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeeSuitSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSupp]'))
ALTER TABLE [dbo].[FeeSuitSupp] CHECK CONSTRAINT [CHK_FeeSuitSupp_RecordType]
GO
