USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_offriskEmail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[offriskEmail]'))
ALTER TABLE [dbo].[offriskEmail] DROP CONSTRAINT [CHK_offriskEmail_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[offriskEmail]') AND type in (N'U'))
DROP TABLE [dbo].[offriskEmail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[offriskEmail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[offriskEmail](
	[Days] [int] NOT NULL,
	[PolicyKey] [varchar](100) NOT NULL,
	[ContactPerson] [varchar](100) NOT NULL,
	[AccountName] [varchar](100) NOT NULL,
	[AccountEmail] [varchar](100) NOT NULL,
	[PolicyNumber] [varchar](50) NULL,
	[PolicyExpirationDate] [varchar](100) NOT NULL,
	[status] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_offriskEmail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[offriskEmail]'))
ALTER TABLE [dbo].[offriskEmail]  WITH CHECK ADD  CONSTRAINT [CHK_offriskEmail_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_offriskEmail_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[offriskEmail]'))
ALTER TABLE [dbo].[offriskEmail] CHECK CONSTRAINT [CHK_offriskEmail_RecordType]
GO
