USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW] DROP CONSTRAINT [CHK_TaxSuppDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW] DROP CONSTRAINT [CHK_TaxSuppDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW] DROP CONSTRAINT [CHK_TaxSuppDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[TaxSuppDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TaxSuppDetailsLW](
	[TaxAOPKey] [int] NULL,
	[TaxAopDesc] [varchar](500) NULL,
	[revenuePercentage] [int] NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[TaxCommentDesc] [varchar](500) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[TaxSuppDetailsLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[TaxSuppDetailsLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[TaxSuppDetailsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[TaxSuppDetailsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[TaxSuppDetailsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[TaxSuppDetailsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_TaxSuppDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW] CHECK CONSTRAINT [CHK_TaxSuppDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_TaxSuppDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW] CHECK CONSTRAINT [CHK_TaxSuppDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_TaxSuppDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TaxSuppDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TaxSuppDetailsLW]'))
ALTER TABLE [dbo].[TaxSuppDetailsLW] CHECK CONSTRAINT [CHK_TaxSuppDetailsLW_RecordType]
GO
