USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] DROP CONSTRAINT [CHK_PublicPrivateOfferingSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5743]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] DROP CONSTRAINT [R_5743]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] DROP CONSTRAINT [CHK_PublicPrivateOfferingSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] DROP CONSTRAINT [CHK_PublicPrivateOfferingSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]') AND type in (N'U'))
DROP TABLE [dbo].[PublicPrivateOfferingSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PublicPrivateOfferingSupp](
	[PublicPrivateOfferingsSuppKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientNamePpo] [varchar](100) NULL,
	[ClientIndustryPpoKey] [int] NULL,
	[ServiceIndustryPpoKey] [int] NULL,
	[YearServiceRenderedPpo] [int] NULL,
	[SizeOfOfferingPpo] [int] NULL,
	[FeesChargedPpo] [numeric](15, 0) NULL,
	[TypeOfOfferingPpo] [varchar](50) NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[ClientIndustryPpoKeyOthers] [varchar](5000) NULL,
	[ServiceIndustryPpoKeyOthers] [varchar](5000) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKPublicPrivateOfferingSupp] PRIMARY KEY CLUSTERED 
(
	[PublicPrivateOfferingsSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp]  WITH CHECK ADD  CONSTRAINT [CHK_PublicPrivateOfferingSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] CHECK CONSTRAINT [CHK_PublicPrivateOfferingSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_PublicPrivateOfferingSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] CHECK CONSTRAINT [CHK_PublicPrivateOfferingSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5743]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp]  WITH CHECK ADD  CONSTRAINT [R_5743] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_5743]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] CHECK CONSTRAINT [R_5743]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp]  WITH CHECK ADD  CONSTRAINT [CHK_PublicPrivateOfferingSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PublicPrivateOfferingSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PublicPrivateOfferingSupp]'))
ALTER TABLE [dbo].[PublicPrivateOfferingSupp] CHECK CONSTRAINT [CHK_PublicPrivateOfferingSupp_RecordType]
GO
