USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] DROP CONSTRAINT [CHK_TitleSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_552]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] DROP CONSTRAINT [R_552]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] DROP CONSTRAINT [CHK_TitleSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] DROP CONSTRAINT [CHK_TitleSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[TitleSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[IsApplMaintEquityInTitle] [char](1) NULL,
	[PercentageOfEquityInt] [int] NULL,
	[IsTitleHaveProfLiabCoverage] [char](1) NULL,
	[NumberOfTitleIssued] [int] NULL,
	[NumberOfTitleAttInFirm] [int] NULL,
	[NumberOfTitleAttNotInFirm] [int] NULL,
	[NumberOfTitleNonAttInFirm] [int] NULL,
	[NumberOfTitleNonAttSubCont] [int] NULL,
	[IsApplObtCertOfInsOfTitle] [char](1) NULL,
	[NumberOfRealEstTitleIns] [int] NULL,
	[PercentOfTitleFromResi] [int] NULL,
	[PercentOfTitleFromComm] [int] NULL,
	[PercentOfTitleFromAgri] [int] NULL,
	[IsFirmUseEngageLetterOfTitle] [char](1) NULL,
	[IsTitleInsAgencyIssuePolicy] [char](1) NULL,
	[TitleInsuranceCompany] [varchar](100) NULL,
	[IsTitleInsDeclineToAppl] [char](1) NULL,
	[NameAndReasonOfTitle] [varchar](200) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsApplCovProfLiabPolicy] [char](1) NULL,
	[PercentOfTitleFromOther] [int] NULL,
	[PercentOfTitleFromOther_CommentDesc] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKTitleSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_TitleSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] CHECK CONSTRAINT [CHK_TitleSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_TitleSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] CHECK CONSTRAINT [CHK_TitleSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_552]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW]  WITH CHECK ADD  CONSTRAINT [R_552] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_552]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] CHECK CONSTRAINT [R_552]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_TitleSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_TitleSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleSuppLW]'))
ALTER TABLE [dbo].[TitleSuppLW] CHECK CONSTRAINT [CHK_TitleSuppLW_RecordType]
GO
