USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] DROP CONSTRAINT [CHK_FirmEnvClientsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_571]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] DROP CONSTRAINT [R_571]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] DROP CONSTRAINT [CHK_FirmEnvClientsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] DROP CONSTRAINT [CHK_FirmEnvClientsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]') AND type in (N'U'))
DROP TABLE [dbo].[FirmEnvClientsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmEnvClientsLW](
	[FirmEnvClientsKey] [int] IDENTITY(1,1) NOT NULL,
	[EnvClientName] [varchar](120) NULL,
	[TypesOfWork] [varchar](120) NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKFirmEnv] PRIMARY KEY CLUSTERED 
(
	[FirmEnvClientsKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmEnvClientsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] CHECK CONSTRAINT [CHK_FirmEnvClientsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmEnvClientsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] CHECK CONSTRAINT [CHK_FirmEnvClientsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_571]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW]  WITH CHECK ADD  CONSTRAINT [R_571] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[EnvironmentalSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_571]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] CHECK CONSTRAINT [R_571]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FirmEnvClientsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmEnvClientsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmEnvClientsLW]'))
ALTER TABLE [dbo].[FirmEnvClientsLW] CHECK CONSTRAINT [CHK_FirmEnvClientsLW_RecordType]
GO
