USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuickBookRepsLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuickBookRepsLKU]'))
ALTER TABLE [dbo].[QuickBookRepsLKU] DROP CONSTRAINT [CHK_QuickBookRepsLKU_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuickBookRepsLKU]') AND type in (N'U'))
DROP TABLE [dbo].[QuickBookRepsLKU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuickBookRepsLKU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QuickBookRepsLKU](
	[QuickBookRepsLKUID] [int] IDENTITY(1,1) NOT NULL,
	[ProducerCode] [varchar](50) NULL,
	[Subproducer] [varchar](200) NULL,
	[RepCode] [varchar](50) NULL,
	[LawyersNBRate] [varchar](50) NULL,
	[LawyersRenewalRate] [varchar](50) NULL,
	[AccountantsNBRate] [varchar](50) NULL,
	[AccountantsRenewalRate] [varchar](50) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuickBookRepsLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuickBookRepsLKU]'))
ALTER TABLE [dbo].[QuickBookRepsLKU]  WITH CHECK ADD  CONSTRAINT [CHK_QuickBookRepsLKU_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_QuickBookRepsLKU_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuickBookRepsLKU]'))
ALTER TABLE [dbo].[QuickBookRepsLKU] CHECK CONSTRAINT [CHK_QuickBookRepsLKU_RecordType]
GO
