USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits] DROP CONSTRAINT [CHK_FirmInitLawsuits_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits] DROP CONSTRAINT [CHK_FirmInitLawsuits_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits] DROP CONSTRAINT [CHK_FirmInitLawsuits_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]') AND type in (N'U'))
DROP TABLE [dbo].[FirmInitLawsuits]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FirmInitLawsuits](
	[FirminitLawsuitsKey] [int] IDENTITY(1,1) NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[AmountOfFeesSued] [numeric](15, 0) NULL,
	[DueDateFees] [datetime] NULL,
	[SuitFilesDateFees] [datetime] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsFavOutInUnderMatter] [char](1) NULL,
	[IsAllegOfLegalMalPrac] [char](1) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [FeesAreaOfPractice] [varchar](200) NULL
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [FeeSuitDispositionKey] [int] NULL
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [NamedDefendantsInSuit] [varchar](50) NULL
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [isInheritedSuit] [varchar](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[FirmInitLawsuits] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKFirmInitLawsuit] PRIMARY KEY CLUSTERED 
(
	[FirminitLawsuitsKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits]  WITH CHECK ADD  CONSTRAINT [CHK_FirmInitLawsuits_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits] CHECK CONSTRAINT [CHK_FirmInitLawsuits_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits]  WITH NOCHECK ADD  CONSTRAINT [CHK_FirmInitLawsuits_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits] CHECK CONSTRAINT [CHK_FirmInitLawsuits_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits]  WITH CHECK ADD  CONSTRAINT [CHK_FirmInitLawsuits_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FirmInitLawsuits_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FirmInitLawsuits]'))
ALTER TABLE [dbo].[FirmInitLawsuits] CHECK CONSTRAINT [CHK_FirmInitLawsuits_RecordType]
GO
