USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPCatogory_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPCatogory]'))
ALTER TABLE [dbo].[AOPCatogory] DROP CONSTRAINT [CHK_AOPCatogory_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AOPCatogo__Recor__3A186A2A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AOPCatogory] DROP CONSTRAINT [DF__AOPCatogo__Recor__3A186A2A]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOPCatogory]') AND type in (N'U'))
DROP TABLE [dbo].[AOPCatogory]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AOPCatogory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AOPCatogory](
	[AOPCategoryDesc] [varchar](50) NULL,
	[AOPCategoryKey] [int] IDENTITY(1,1) NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKAOPCatogary] PRIMARY KEY CLUSTERED 
(
	[AOPCategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__AOPCatogo__Recor__3A186A2A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AOPCatogory] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPCatogory_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPCatogory]'))
ALTER TABLE [dbo].[AOPCatogory]  WITH CHECK ADD  CONSTRAINT [CHK_AOPCatogory_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AOPCatogory_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AOPCatogory]'))
ALTER TABLE [dbo].[AOPCatogory] CHECK CONSTRAINT [CHK_AOPCatogory_RecordType]
GO
