USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPubliceAuditClientIndustry_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPubliceAuditClientIndustry]'))
ALTER TABLE [dbo].[NonPubliceAuditClientIndustry] DROP CONSTRAINT [CHK_NonPubliceAuditClientIndustry_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Recor__342A86AA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPubliceAuditClientIndustry] DROP CONSTRAINT [DF__NonPublic__Recor__342A86AA]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonPubliceAuditClientIndustry]') AND type in (N'U'))
DROP TABLE [dbo].[NonPubliceAuditClientIndustry]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonPubliceAuditClientIndustry]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NonPubliceAuditClientIndustry](
	[NonPublicAuditClientIndustryKey] [int] IDENTITY(1,1) NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKNonPubliceAuditClientIndustry] PRIMARY KEY CLUSTERED 
(
	[NonPublicAuditClientIndustryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonPublic__Recor__342A86AA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonPubliceAuditClientIndustry] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPubliceAuditClientIndustry_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPubliceAuditClientIndustry]'))
ALTER TABLE [dbo].[NonPubliceAuditClientIndustry]  WITH CHECK ADD  CONSTRAINT [CHK_NonPubliceAuditClientIndustry_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonPubliceAuditClientIndustry_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonPubliceAuditClientIndustry]'))
ALTER TABLE [dbo].[NonPubliceAuditClientIndustry] CHECK CONSTRAINT [CHK_NonPubliceAuditClientIndustry_RecordType]
GO
