USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] DROP CONSTRAINT [CHK_GrossRevenueForFirm_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_77]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] DROP CONSTRAINT [R_77]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_110]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] DROP CONSTRAINT [R_110]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] DROP CONSTRAINT [CHK_GrossRevenueForFirm_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] DROP CONSTRAINT [CHK_GrossRevenueForFirm_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]') AND type in (N'U'))
DROP TABLE [dbo].[GrossRevenueForFirm]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GrossRevenueForFirm](
	[GrossRevenueKey] [int] NOT NULL,
	[YearEndDate] [varchar](7) NULL,
	[Amount] [numeric](15, 0) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKGrossRevenueForFirm] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC,
	[GrossRevenueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForFirm_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] CHECK CONSTRAINT [CHK_GrossRevenueForFirm_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm]  WITH NOCHECK ADD  CONSTRAINT [CHK_GrossRevenueForFirm_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] CHECK CONSTRAINT [CHK_GrossRevenueForFirm_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_110]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm]  WITH CHECK ADD  CONSTRAINT [R_110] FOREIGN KEY([GrossRevenueKey])
REFERENCES [dbo].[GrossRevenue] ([GrossRevenueKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_110]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] CHECK CONSTRAINT [R_110]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_77]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm]  WITH CHECK ADD  CONSTRAINT [R_77] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_77]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] CHECK CONSTRAINT [R_77]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForFirm_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForFirm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForFirm]'))
ALTER TABLE [dbo].[GrossRevenueForFirm] CHECK CONSTRAINT [CHK_GrossRevenueForFirm_RecordType]
GO
