USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefense_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense] DROP CONSTRAINT [CHK_InsuranceDefense_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__23AA061E]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense] DROP CONSTRAINT [FK__Insurance__Versi__23AA061E]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__22B5E1E5]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense] DROP CONSTRAINT [FK__Insurance__Polic__22B5E1E5]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__249E2A57]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceDefense] DROP CONSTRAINT [DF__Insurance__Creat__249E2A57]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]') AND type in (N'U'))
DROP TABLE [dbo].[InsuranceDefense]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[InsuranceDefense](
	[InsuranceDefenseKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InsDefNumberOfLawyers] [int] NULL,
	[InsDefAvgExpYears] [int] NULL,
	[InsDefStatusReport] [varchar](50) NULL,
	[InsDefWrittenCorresp] [varchar](50) NULL,
	[InsDefPolicyLimitDemands] [varchar](50) NULL,
	[InsDefBadFaith] [int] NULL,
	[InsDefCoverageOpinions] [int] NULL,
	[InsDefLitigationAgainstCarrier] [int] NULL,
	[InsDefPersonalInjuryDefense] [int] NULL,
	[InsDefOther] [int] NULL,
	[InsDefOtherDesc] [varchar](500) NULL,
	[InsDefRecAdverseVerdict] [varchar](50) NULL,
	[InsDefRecAdverseVerdictDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceDefenseKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__249E2A57]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceDefense] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__22B5E1E5]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__23AA061E]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefense_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense]  WITH CHECK ADD  CONSTRAINT [CHK_InsuranceDefense_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceDefense_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceDefense]'))
ALTER TABLE [dbo].[InsuranceDefense] CHECK CONSTRAINT [CHK_InsuranceDefense_RecordType]
GO
