USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] DROP CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_579]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] DROP CONSTRAINT [R_579]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] DROP CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] DROP CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Versi__04D07943]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] DROP CONSTRAINT [DF__ApplSecur__Versi__04D07943]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Recor__3FD14380]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] DROP CONSTRAINT [DF__ApplSecur__Recor__3FD14380]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]') AND type in (N'U'))
DROP TABLE [dbo].[ApplSecurityIssForSavingsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ApplSecurityIssForSavingsLW](
	[ApplSecurityIssForSavingsKey] [int] IDENTITY(1,1) NOT NULL,
	[NameOfInstitution] [varchar](120) NULL,
	[Location] [varchar](120) NULL,
	[NatureOfLegalService] [varchar](120) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKApplSecurityIssForSavingsLW] PRIMARY KEY CLUSTERED 
(
	[ApplSecurityIssForSavingsKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Recor__3FD14380]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ApplSecur__Versi__04D07943]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW]  WITH CHECK ADD  CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] CHECK CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] CHECK CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_579]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW]  WITH CHECK ADD  CONSTRAINT [R_579] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[SecuritiesSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_579]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] CHECK CONSTRAINT [R_579]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW]  WITH CHECK ADD  CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplSecurityIssForSavingsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplSecurityIssForSavingsLW]'))
ALTER TABLE [dbo].[ApplSecurityIssForSavingsLW] CHECK CONSTRAINT [CHK_ApplSecurityIssForSavingsLW_RecordType]
GO
