USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PredecessorSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo] DROP CONSTRAINT [CHK_PredecessorSuppInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Versi__73C5E8D2]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo] DROP CONSTRAINT [FK__Predecess__Versi__73C5E8D2]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Polic__72D1C499]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo] DROP CONSTRAINT [FK__Predecess__Polic__72D1C499]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Predecess__Creat__74BA0D0B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PredecessorSuppInfo] DROP CONSTRAINT [DF__Predecess__Creat__74BA0D0B]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]') AND type in (N'U'))
DROP TABLE [dbo].[PredecessorSuppInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PredecessorSuppInfo](
	[PredecessorSuppInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[FirmNameForPreDecessorInfo] [varchar](200) NULL,
	[PredecessorLawyersName] [varchar](200) NULL,
	[EstablishedDate] [datetime] NULL,
	[DissoDate] [datetime] NULL,
	[ErpIssued] [varchar](200) NULL,
	[DissolutionLawyersCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PredecessorSuppInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Predecess__Creat__74BA0D0B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PredecessorSuppInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Polic__72D1C499]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Predecess__Versi__73C5E8D2]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PredecessorSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo]  WITH CHECK ADD  CONSTRAINT [CHK_PredecessorSuppInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PredecessorSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PredecessorSuppInfo]'))
ALTER TABLE [dbo].[PredecessorSuppInfo] CHECK CONSTRAINT [CHK_PredecessorSuppInfo_RecordType]
GO
