USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo] DROP CONSTRAINT [CHK_FamilyLawInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Versi__75E33B6E]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo] DROP CONSTRAINT [FK__FamilyLaw__Versi__75E33B6E]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Polic__74EF1735]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo] DROP CONSTRAINT [FK__FamilyLaw__Polic__74EF1735]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FamilyLaw__Creat__76D75FA7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FamilyLawInfo] DROP CONSTRAINT [DF__FamilyLaw__Creat__76D75FA7]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]') AND type in (N'U'))
DROP TABLE [dbo].[FamilyLawInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FamilyLawInfo](
	[FamilyLawInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[FamilyLawValueOfMaritalAssets] [varchar](500) NULL,
	[FamilyLawEstimatedPercentage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FamilyLawInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FamilyLaw__Creat__76D75FA7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FamilyLawInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Polic__74EF1735]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FamilyLaw__Versi__75E33B6E]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo]  WITH CHECK ADD  CONSTRAINT [CHK_FamilyLawInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FamilyLawInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FamilyLawInfo]'))
ALTER TABLE [dbo].[FamilyLawInfo] CHECK CONSTRAINT [CHK_FamilyLawInfo_RecordType]
GO
