USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] DROP CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttorneyInPlaintiffForFirmLW_AttorneyInPlaintiffForFirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] DROP CONSTRAINT [FK_AttorneyInPlaintiffForFirmLW_AttorneyInPlaintiffForFirmLW]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] DROP CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] DROP CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[AttorneyInPlaintiffForFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttorneyInPlaintiffForFirmLW](
	[AttorneyInPlaintiffKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PlaintiffAttorneyName] [varchar](100) NULL,
	[PlaintiffYrsExp] [int] NULL,
	[PlaintiffPecOfTimeDev] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_AttorneyInPlaintiffForFirmLW] PRIMARY KEY CLUSTERED 
(
	[AttorneyInPlaintiffKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] CHECK CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] CHECK CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttorneyInPlaintiffForFirmLW_AttorneyInPlaintiffForFirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW]  WITH CHECK ADD  CONSTRAINT [FK_AttorneyInPlaintiffForFirmLW_AttorneyInPlaintiffForFirmLW] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttorneyInPlaintiffForFirmLW_AttorneyInPlaintiffForFirmLW]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] CHECK CONSTRAINT [FK_AttorneyInPlaintiffForFirmLW_AttorneyInPlaintiffForFirmLW]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttorneyInPlaintiffForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttorneyInPlaintiffForFirmLW]'))
ALTER TABLE [dbo].[AttorneyInPlaintiffForFirmLW] CHECK CONSTRAINT [CHK_AttorneyInPlaintiffForFirmLW_RecordType]
GO
