USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails] DROP CONSTRAINT [CHK_EndorsementDetails_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails] DROP CONSTRAINT [CHK_EndorsementDetails_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails] DROP CONSTRAINT [CHK_EndorsementDetails_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]') AND type in (N'U'))
DROP TABLE [dbo].[EndorsementDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EndorsementDetails](
	[EndorsementKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[TransactionSequence] [int] NULL,
	[VersionSequence] [int] NULL,
	[PreviousFinalizedTransactionSequence] [int] NULL,
	[EndorsementPremium] [numeric](10, 2) NULL,
	[EndorsementInvoicedPremium] [numeric](10, 2) NULL,
	[isFinancialEndirsement] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[PremiumVariation] [numeric](17, 2) NULL,
	[TaxVariation] [numeric](17, 2) NULL,
	[TransactionTypeKey] [int] NULL,
	[EndorsementIssuedDate] [datetime] NULL,
	[EndorsementEffectiveDate] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails]  WITH CHECK ADD  CONSTRAINT [CHK_EndorsementDetails_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails] CHECK CONSTRAINT [CHK_EndorsementDetails_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_EndorsementDetails_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails] CHECK CONSTRAINT [CHK_EndorsementDetails_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails]  WITH CHECK ADD  CONSTRAINT [CHK_EndorsementDetails_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EndorsementDetails_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EndorsementDetails]'))
ALTER TABLE [dbo].[EndorsementDetails] CHECK CONSTRAINT [CHK_EndorsementDetails_RecordType]
GO
