USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommercialLaw_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw] DROP CONSTRAINT [CHK_CommercialLaw_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Commercia__Versi__5EFFD616]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw] DROP CONSTRAINT [FK__Commercia__Versi__5EFFD616]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Commercia__Polic__5E0BB1DD]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw] DROP CONSTRAINT [FK__Commercia__Polic__5E0BB1DD]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Commercia__Creat__5FF3FA4F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CommercialLaw] DROP CONSTRAINT [DF__Commercia__Creat__5FF3FA4F]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommercialLaw]') AND type in (N'U'))
DROP TABLE [dbo].[CommercialLaw]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommercialLaw]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CommercialLaw](
	[CommercialLawKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[LawyersPerformBusinessTransaction] [int] NULL,
	[AverageYears] [int] NULL,
	[PartiesDesc] [varchar](500) NULL,
	[HasRegulatoryMatters] [varchar](50) NULL,
	[CommercialLawPercentage] [int] NULL,
	[LargestTransaction] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommercialLawKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Commercia__Creat__5FF3FA4F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CommercialLaw] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Commercia__Polic__5E0BB1DD]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Commercia__Versi__5EFFD616]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommercialLaw_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw]  WITH CHECK ADD  CONSTRAINT [CHK_CommercialLaw_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_CommercialLaw_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommercialLaw]'))
ALTER TABLE [dbo].[CommercialLaw] CHECK CONSTRAINT [CHK_CommercialLaw_RecordType]
GO
