USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Employment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment] DROP CONSTRAINT [CHK_Employment_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Versi__64B8AF6C]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment] DROP CONSTRAINT [FK__Employmen__Versi__64B8AF6C]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Polic__63C48B33]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment] DROP CONSTRAINT [FK__Employmen__Polic__63C48B33]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Employmen__Creat__65ACD3A5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Employment] DROP CONSTRAINT [DF__Employmen__Creat__65ACD3A5]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employment]') AND type in (N'U'))
DROP TABLE [dbo].[Employment]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employment](
	[EmploymentKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[EmployementLawLawyersCount] [int] NULL,
	[EmplotyementLawYearsOfExperience] [int] NULL,
	[IsWhistleblowerCases] [varchar](50) NULL,
	[IsFalseClaim] [varchar](50) NULL,
	[IsEmployementOrCollectiveActionCase] [varchar](50) NULL,
	[IsWageHourClaim] [varchar](50) NULL,
	[IsCollectiveBargaining] [varchar](50) NULL,
	[PastClaimOrCasesDesc] [varchar](500) NULL,
	[HasInvolvedInNewsMediaReports] [varchar](50) NULL,
	[MediaReportsInvolmentDesc] [varchar](500) NULL,
	[EverReprsenetedPublicFigure] [varchar](50) NULL,
	[EverReprsenetedPublicFigureDesc] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmploymentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Employmen__Creat__65ACD3A5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Employment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Polic__63C48B33]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Employmen__Versi__64B8AF6C]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Employment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [CHK_Employment_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Employment_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employment]'))
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [CHK_Employment_RecordType]
GO
