USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] DROP CONSTRAINT [CHK_AttestationAuditWork_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_630]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] DROP CONSTRAINT [R_630]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_55]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] DROP CONSTRAINT [R_55]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] DROP CONSTRAINT [CHK_AttestationAuditWork_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] DROP CONSTRAINT [CHK_AttestationAuditWork_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]') AND type in (N'U'))
DROP TABLE [dbo].[AttestationAuditWork]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AttestationAuditWork](
	[ClientIndustryKey] [int] NOT NULL,
	[AuditClients] [varchar](20) NULL,
	[ClientsAssetsOver] [varchar](20) NULL,
	[NetLossForLastFYE] [varchar](20) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKAuditWork] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC,
	[ClientIndustryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork]  WITH CHECK ADD  CONSTRAINT [CHK_AttestationAuditWork_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] CHECK CONSTRAINT [CHK_AttestationAuditWork_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork]  WITH NOCHECK ADD  CONSTRAINT [CHK_AttestationAuditWork_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] CHECK CONSTRAINT [CHK_AttestationAuditWork_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_55]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork]  WITH CHECK ADD  CONSTRAINT [R_55] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_55]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] CHECK CONSTRAINT [R_55]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_630]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork]  WITH CHECK ADD  CONSTRAINT [R_630] FOREIGN KEY([ClientIndustryKey])
REFERENCES [dbo].[ClientIndustry] ([ClientIndustryKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_630]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] CHECK CONSTRAINT [R_630]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork]  WITH CHECK ADD  CONSTRAINT [CHK_AttestationAuditWork_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AttestationAuditWork_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttestationAuditWork]'))
ALTER TABLE [dbo].[AttestationAuditWork] CHECK CONSTRAINT [CHK_AttestationAuditWork_RecordType]
GO
