USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] DROP CONSTRAINT [CHK_WillsTrustsEstateSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_605]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] DROP CONSTRAINT [R_605]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] DROP CONSTRAINT [CHK_WillsTrustsEstateSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] DROP CONSTRAINT [CHK_WillsTrustsEstateSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[WillsTrustsEstateSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WillsTrustsEstateSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[NumberOfEstateOver1Million] [int] NULL,
	[NumberOfEstateOver5Million] [int] NULL,
	[NumberOfEstateOver10Million] [int] NULL,
	[IsAttorneyServeAsExecutorTrustee] [char](1) NULL,
	[IsApplProvideInvestAdviceToClient] [char](1) NULL,
	[IsMemCertLegalSpecialist] [char](1) NULL,
	[IsApplPolicyReviewBySecondAttorney] [char](1) NULL,
	[IsApplTaxInConjucWithTrustWork] [char](1) NULL,
	[IsApplEmployAccountants] [char](1) NULL,
	[IsApplEmployTaxAttorney] [char](1) NULL,
	[IsFirmNotRequireTaxAdvice] [char](1) NULL,
	[IsApplObtainCertificate] [char](1) NULL,
	[ListOfAttWithNameServicesClient] [varchar](200) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsApplHaveControlOverFunds] [char](1) NULL,
	[IsCounterSignatureRequired] [char](1) NULL,
	[IsApplAuthorizeToWithdrawFromBank] [char](1) NULL,
	[IsApplCarryEmployeeDishonestyCoverage] [char](1) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [inPurchaseSaleSecurities] [char](1) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [willEstatesHandledPastYear] [int] NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [beneficiaryInterestWillsTrust] [char](1) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [ActingAsTrustee] [char](1) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [CertifiedInvestmentDecisions] [char](1) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsEstateTrustsKey] [int] IDENTITY(1,1) NOT NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETNumbOfLawyers] [int] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETAvgYearExp] [int] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETGiftAllowanceLawyerNumb] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETInvestmentAdviceOnSalePurch] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETInvestmentAdviceOnSalePurchDesc] [varchar](500) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETAnyPurchaseCompensation] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETAnyFinAdvisor] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETAnyFinAdvisorDesc] [varchar](500) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETAuthToWriteChecks] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETCountersignaturesReq] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETDocForConversation] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETVideoTheExection] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETMentalStatusEval] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETVetPrepWitness] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETLargestAssestVal] [varchar](200) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETAvgAssestVal] [varchar](200) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETEstatePlanningPer] [int] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETWillDraft] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETTrustDraft] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETTaxPlanning] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETMedicalDirPwrofAttorney] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETEstatePlanningOther] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETEstatePlanningOtherDesc] [varchar](500) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETEstateProbatePer] [int] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETEstateProbAdmin] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETInheritComp] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETTrustAdmin] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETEstateLitPercentage] [int] NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETContestsLit] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETTrusteeLiab] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETTrustLitigation] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETOther] [varchar](50) NULL
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] ADD [WillsETOtherDesc] [varchar](500) NULL
 CONSTRAINT [PK_WillsTrustsEstateSuppLW_WillsEstateTrustsKey] PRIMARY KEY CLUSTERED 
(
	[WillsEstateTrustsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_WillsTrustsEstateSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] CHECK CONSTRAINT [CHK_WillsTrustsEstateSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_WillsTrustsEstateSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] CHECK CONSTRAINT [CHK_WillsTrustsEstateSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_605]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW]  WITH CHECK ADD  CONSTRAINT [R_605] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_605]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] CHECK CONSTRAINT [R_605]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_WillsTrustsEstateSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_WillsTrustsEstateSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[WillsTrustsEstateSuppLW]'))
ALTER TABLE [dbo].[WillsTrustsEstateSuppLW] CHECK CONSTRAINT [CHK_WillsTrustsEstateSuppLW_RecordType]
GO
