USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyForm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm] DROP CONSTRAINT [CHK_PolicyForm_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyFor__State__1B5E0D89]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm] DROP CONSTRAINT [FK__PolicyFor__State__1B5E0D89]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyFor__Polic__1C5231C2]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm] DROP CONSTRAINT [FK__PolicyFor__Polic__1C5231C2]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyForm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm] DROP CONSTRAINT [CHK_PolicyForm_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyForm]') AND type in (N'U'))
DROP TABLE [dbo].[PolicyForm]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicyForm](
	[FormID] [varchar](50) NOT NULL,
	[StateCode] [varchar](20) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[FormName] [varchar](100) NULL,
	[FormDesc] [varchar](5000) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[FormFooter] [varchar](50) NULL,
	[FormType] [char](1) NULL,
	[FormSequence] [int] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormID] ASC,
	[StateCode] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyForm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyForm_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyForm_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm] CHECK CONSTRAINT [CHK_PolicyForm_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyFor__Polic__1C5231C2]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyFor__State__1B5E0D89]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm]  WITH CHECK ADD FOREIGN KEY([StateCode])
REFERENCES [dbo].[State] ([StateCode])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyForm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyForm_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyForm_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyForm]'))
ALTER TABLE [dbo].[PolicyForm] CHECK CONSTRAINT [CHK_PolicyForm_RecordType]
GO
