USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StateCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage] DROP CONSTRAINT [CHK_StateCoverage_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_74567]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage] DROP CONSTRAINT [R_74567]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_73678]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage] DROP CONSTRAINT [R_73678]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__StateCove__Recor__6A86975B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[StateCoverage] DROP CONSTRAINT [DF__StateCove__Recor__6A86975B]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateCoverage]') AND type in (N'U'))
DROP TABLE [dbo].[StateCoverage]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateCoverage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StateCoverage](
	[StateCode] [varchar](20) NOT NULL,
	[CoverageKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKStateCoverage] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC,
	[CoverageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__StateCove__Recor__6A86975B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[StateCoverage] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_73678]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage]  WITH CHECK ADD  CONSTRAINT [R_73678] FOREIGN KEY([StateCode])
REFERENCES [dbo].[State] ([StateCode])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_73678]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage] CHECK CONSTRAINT [R_73678]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_74567]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage]  WITH CHECK ADD  CONSTRAINT [R_74567] FOREIGN KEY([CoverageKey])
REFERENCES [dbo].[Coverages] ([CoverageKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_74567]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage] CHECK CONSTRAINT [R_74567]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StateCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage]  WITH CHECK ADD  CONSTRAINT [CHK_StateCoverage_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_StateCoverage_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateCoverage]'))
ALTER TABLE [dbo].[StateCoverage] CHECK CONSTRAINT [CHK_StateCoverage_RecordType]
GO
