USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] DROP CONSTRAINT [CHK_FinancialInstitutionDetailsLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] DROP CONSTRAINT [CHK_FinancialInstitutionDetailsLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] DROP CONSTRAINT [CHK_FinancialInstitutionDetailsLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]') AND type in (N'U'))
DROP TABLE [dbo].[FinancialInstitutionDetailsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FinancialInstitutionDetailsLW](
	[FIAOPID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[equityInterest] [char](1) NULL,
	[servicesRelatedRegulatory] [char](1) NULL,
	[underRegulatoryReview] [char](1) NULL,
	[haveBecomeBankruptInsolvent] [char](1) NULL,
	[LastUpdateUserID] [int] NULL,
	[LastUpdateTimeStamp] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [LawyersCountPerformFinancialWork] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [YearsOfExperienceForFinancialInstitution] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstResidentialTitleWork] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstCommercialTitleWork] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstFinancialAdvisoryServices] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstRegulatoryExaminations] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstBankruptcyOrCollection] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstTrusts] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstOther] [int] NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [FinancialInstOtherDesc] [varchar](500) NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [HasInvolvedWithLoanTransactions] [varchar](50) NULL
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] ADD [HasprovidedTaxBenifitTransactions] [varchar](50) NULL
PRIMARY KEY CLUSTERED 
(
	[FIAOPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstitutionDetailsLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] CHECK CONSTRAINT [CHK_FinancialInstitutionDetailsLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_FinancialInstitutionDetailsLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] CHECK CONSTRAINT [CHK_FinancialInstitutionDetailsLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW]  WITH CHECK ADD  CONSTRAINT [CHK_FinancialInstitutionDetailsLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FinancialInstitutionDetailsLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FinancialInstitutionDetailsLW]'))
ALTER TABLE [dbo].[FinancialInstitutionDetailsLW] CHECK CONSTRAINT [CHK_FinancialInstitutionDetailsLW_RecordType]
GO
