USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_598]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [R_598]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_597]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [R_597]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GrossReve__Versi__3EFD1AD8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [DF__GrossReve__Versi__3EFD1AD8]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GrossReve__Recor__22FFFAA8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] DROP CONSTRAINT [DF__GrossReve__Recor__22FFFAA8]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]') AND type in (N'U'))
DROP TABLE [dbo].[GrossRevenueForTitleInsuranceLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GrossRevenueForTitleInsuranceLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[GrossRevenueForTIAKey] [int] IDENTITY(1,1) NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKGrossRevenueForTitleInsurance] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC,
	[GrossRevenueForTIAKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GrossReve__Recor__22FFFAA8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GrossReve__Versi__3EFD1AD8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] CHECK CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] CHECK CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_597]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW]  WITH CHECK ADD  CONSTRAINT [R_597] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[TitleSuppLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_597]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] CHECK CONSTRAINT [R_597]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_598]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW]  WITH CHECK ADD  CONSTRAINT [R_598] FOREIGN KEY([GrossRevenueForTIAKey])
REFERENCES [dbo].[GrossRevenueForTIALW] ([GrossRevenueForTIAKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_598]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] CHECK CONSTRAINT [R_598]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW]  WITH CHECK ADD  CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_GrossRevenueForTitleInsuranceLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GrossRevenueForTitleInsuranceLW]'))
ALTER TABLE [dbo].[GrossRevenueForTitleInsuranceLW] CHECK CONSTRAINT [CHK_GrossRevenueForTitleInsuranceLW_RecordType]
GO
