USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] DROP CONSTRAINT [CHK_ClaimIncidentSupp_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_59]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] DROP CONSTRAINT [R_59]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] DROP CONSTRAINT [CHK_ClaimIncidentSupp_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] DROP CONSTRAINT [CHK_ClaimIncidentSupp_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimIncidentSupp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimIncidentSupp](
	[ClaimIncidentSuppKey] [int] IDENTITY(1,1) NOT NULL,
	[NameOfClaimantCi] [varchar](100) NULL,
	[IsClientCi] [char](1) NULL,
	[IsNonClientCi] [char](1) NULL,
	[IsThisClaimReportedCi] [char](1) NULL,
	[NameOfInsuranceCompanyCi] [varchar](100) NULL,
	[ReportedCiDate] [datetime] NULL,
	[ClaimNotifiedCiDate] [datetime] NULL,
	[AllegedErrorCiDate] [datetime] NULL,
	[NameOfFirmPersonnelCi] [varchar](100) NULL,
	[InsurerLossReserveCi] [numeric](15, 0) NULL,
	[LastSettlementOfferCi] [numeric](15, 0) NULL,
	[ClaimantLastDemandCi] [numeric](15, 0) NULL,
	[ClosingCiDate] [datetime] NULL,
	[TotalClaimExpensesCi] [numeric](15, 0) NULL,
	[DescOfClaimCi] [varchar](5000) NULL,
	[StepsTakenToPreventClaimCi] [varchar](5000) NULL,
	[PolicyKey] [int] NULL,
	[VersionSequence] [int] NULL,
	[CurrentStatus] [varchar](50) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [InsurerLossRevenue] [varchar](20) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [IsClaimInSuit] [char](1) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [InsurerLoss] [int] NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [ClaimNumber] [varchar](50) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [ExpensePaid] [numeric](17, 2) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [TotalIncurred] [numeric](17, 2) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [Signal] [varchar](50) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [ExpenseReserve] [numeric](17, 2) NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[ClaimIncidentSupp] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKClaimIncidentSupp] PRIMARY KEY CLUSTERED 
(
	[ClaimIncidentSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimIncidentSupp_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] CHECK CONSTRAINT [CHK_ClaimIncidentSupp_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp]  WITH NOCHECK ADD  CONSTRAINT [CHK_ClaimIncidentSupp_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] CHECK CONSTRAINT [CHK_ClaimIncidentSupp_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_59]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp]  WITH CHECK ADD  CONSTRAINT [R_59] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_59]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] CHECK CONSTRAINT [R_59]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimIncidentSupp_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimIncidentSupp_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimIncidentSupp]'))
ALTER TABLE [dbo].[ClaimIncidentSupp] CHECK CONSTRAINT [CHK_ClaimIncidentSupp_RecordType]
GO
