USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CarrearCo__FormD__1A21673B]') AND parent_object_id = OBJECT_ID(N'[dbo].[CarrearCoverageAttorneyDetails]'))
ALTER TABLE [dbo].[CarrearCoverageAttorneyDetails] DROP CONSTRAINT [FK__CarrearCo__FormD__1A21673B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CarrearCoverageAttorneyDetails]') AND type in (N'U'))
DROP TABLE [dbo].[CarrearCoverageAttorneyDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CarrearCoverageAttorneyDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CarrearCoverageAttorneyDetails](
	[CCADKey] [int] IDENTITY(1,1) NOT NULL,
	[FormDataKey] [int] NULL,
	[PolicyKey] [int] NULL,
	[AttorneyKey] [int] NULL,
	[AttorneyName] [varchar](100) NULL,
	[AttorneyPriorActDate] [datetime] NULL,
	[VersionKey] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CCADKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CarrearCo__FormD__1A21673B]') AND parent_object_id = OBJECT_ID(N'[dbo].[CarrearCoverageAttorneyDetails]'))
ALTER TABLE [dbo].[CarrearCoverageAttorneyDetails]  WITH CHECK ADD FOREIGN KEY([FormDataKey])
REFERENCES [dbo].[AdditionalFormDataLW] ([FormDataKey])
GO
