USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation] DROP CONSTRAINT [CHK_InsuranceInformation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__4DD54A14]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation] DROP CONSTRAINT [FK__Insurance__Versi__4DD54A14]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__4CE125DB]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation] DROP CONSTRAINT [FK__Insurance__Polic__4CE125DB]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__4EC96E4D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceInformation] DROP CONSTRAINT [DF__Insurance__Creat__4EC96E4D]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]') AND type in (N'U'))
DROP TABLE [dbo].[InsuranceInformation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[InsuranceInformation](
	[InsuranceInformationKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[InsuranceCompany] [varchar](100) NULL,
	[PriorPolicyExpirationDate] [datetime] NULL,
	[CurrentPremium] [varchar](200) NULL,
	[CurrentLimit] [varchar](50) NULL,
	[PriorInsDefenseExpensesInaddition] [varchar](50) NULL,
	[CurrentDeductible] [varchar](50) NULL,
	[PriorInsClaimOptionType] [varchar](50) NULL,
	[PriorFirstDollarDefense] [varchar](50) NULL,
	[IsPriorActDateFull] [varchar](50) NULL,
	[PriorActDate] [datetime] NULL,
	[FirmYear] [int] NULL,
	[LimitSequence] [varchar](50) NULL,
	[DeductibleSequence] [varchar](50) NULL,
	[IsDefenseExpensesInAddition] [varchar](50) NULL,
	[IsAnnualAggregate] [varchar](50) NULL,
	[FirstDollarDefense] [varchar](50) NULL,
	[TitleInsuranceAgency] [varchar](50) NULL,
	[YearFirmEstablished] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceInformationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Insurance__Creat__4EC96E4D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[InsuranceInformation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Polic__4CE125DB]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Insurance__Versi__4DD54A14]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation]  WITH CHECK ADD  CONSTRAINT [CHK_InsuranceInformation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_InsuranceInformation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[InsuranceInformation]'))
ALTER TABLE [dbo].[InsuranceInformation] CHECK CONSTRAINT [CHK_InsuranceInformation_RecordType]
GO
