USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] DROP CONSTRAINT [CHK_NonMonetaryCompensation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_8001]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] DROP CONSTRAINT [R_8001]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] DROP CONSTRAINT [CHK_NonMonetaryCompensation_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] DROP CONSTRAINT [CHK_NonMonetaryCompensation_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonMoneta__Versi__42CDABBC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonMonetaryCompensation] DROP CONSTRAINT [DF__NonMoneta__Versi__42CDABBC]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonMoneta__Recor__314E19FF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonMonetaryCompensation] DROP CONSTRAINT [DF__NonMoneta__Recor__314E19FF]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]') AND type in (N'U'))
DROP TABLE [dbo].[NonMonetaryCompensation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NonMonetaryCompensation](
	[ClientNameNmc] [varchar](20) NULL,
	[PercentofRevenueFromClientNmc] [int] NULL,
	[ClientIndustryNmcKey] [int] NULL,
	[ServiceIndustryNmcKey] [int] NULL,
	[PercentageOfInvestmentNmc] [int] NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL,
 CONSTRAINT [XPKNonMonetaryCompensation] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonMoneta__Recor__314E19FF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonMonetaryCompensation] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__NonMoneta__Versi__42CDABBC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NonMonetaryCompensation] ADD  DEFAULT ((0)) FOR [VersionKey]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation]  WITH CHECK ADD  CONSTRAINT [CHK_NonMonetaryCompensation_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] CHECK CONSTRAINT [CHK_NonMonetaryCompensation_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation]  WITH NOCHECK ADD  CONSTRAINT [CHK_NonMonetaryCompensation_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] CHECK CONSTRAINT [CHK_NonMonetaryCompensation_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_8001]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation]  WITH CHECK ADD  CONSTRAINT [R_8001] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_8001]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] CHECK CONSTRAINT [R_8001]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation]  WITH CHECK ADD  CONSTRAINT [CHK_NonMonetaryCompensation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_NonMonetaryCompensation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[NonMonetaryCompensation]'))
ALTER TABLE [dbo].[NonMonetaryCompensation] CHECK CONSTRAINT [CHK_NonMonetaryCompensation_RecordType]
GO
