USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplicationFlags_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags] DROP CONSTRAINT [CHK_ApplicationFlags_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Applicati__Versi__42639768]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags] DROP CONSTRAINT [FK__Applicati__Versi__42639768]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Applicati__Polic__416F732F]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags] DROP CONSTRAINT [FK__Applicati__Polic__416F732F]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Applicati__Creat__4357BBA1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplicationFlags] DROP CONSTRAINT [DF__Applicati__Creat__4357BBA1]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]') AND type in (N'U'))
DROP TABLE [dbo].[ApplicationFlags]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ApplicationFlags](
	[ApplicationFlagsKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[IsUncompletedData] [char](1) NULL,
	[ApplicationType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationFlagsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Applicati__Creat__4357BBA1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApplicationFlags] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Applicati__Polic__416F732F]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Applicati__Versi__42639768]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplicationFlags_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags]  WITH CHECK ADD  CONSTRAINT [CHK_ApplicationFlags_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ApplicationFlags_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ApplicationFlags]'))
ALTER TABLE [dbo].[ApplicationFlags] CHECK CONSTRAINT [CHK_ApplicationFlags_RecordType]
GO
