USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] DROP CONSTRAINT [CHK_RealEstateSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_545]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] DROP CONSTRAINT [R_545]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] DROP CONSTRAINT [CHK_RealEstateSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] DROP CONSTRAINT [CHK_RealEstateSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[RealEstateSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RealEstateSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[ApproxNumberOfPurchaseForResi] [int] NULL,
	[ApproxNumberOfPurchaseForComm] [int] NULL,
	[LargestPurchaseForResi] [numeric](15, 2) NULL,
	[LasrgestPurchaseForComm] [numeric](15, 2) NULL,
	[IsApplRenderedRealPropMatters] [char](1) NULL,
	[IsFirmRequireInvestOfEnvRisks] [char](1) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsApplPerfEscowServices] [char](1) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKRealEstateSuppLW] PRIMARY KEY CLUSTERED 
(
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_RealEstateSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] CHECK CONSTRAINT [CHK_RealEstateSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_RealEstateSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] CHECK CONSTRAINT [CHK_RealEstateSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_545]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW]  WITH CHECK ADD  CONSTRAINT [R_545] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_545]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] CHECK CONSTRAINT [R_545]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_RealEstateSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RealEstateSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RealEstateSuppLW]'))
ALTER TABLE [dbo].[RealEstateSuppLW] CHECK CONSTRAINT [CHK_RealEstateSuppLW_RecordType]
GO
