USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Email_Templates_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Email_Templates]'))
ALTER TABLE [dbo].[Email_Templates] DROP CONSTRAINT [CHK_Email_Templates_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Email_Templates]') AND type in (N'U'))
DROP TABLE [dbo].[Email_Templates]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Email_Templates]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Email_Templates](
	[EmailTemplateID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [varchar](200) NULL,
	[TemplateDescription] [varchar](1000) NULL,
	[TemplateBody] [varchar](8000) NULL,
	[RecordType] [varchar](20) NULL,
	[LastUpdateTimeStamp] [varchar](50) NULL,
	[LastUpdateUserID] [int] NULL,
	[TemplateStatus] [varchar](100) NULL,
	[TemplateCategory] [varchar](200) NULL,
	[AppType] [int] NULL,
	[TemplateCode] [varchar](50) NULL,
	[EmailType] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Email_Templates_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Email_Templates]'))
ALTER TABLE [dbo].[Email_Templates]  WITH CHECK ADD  CONSTRAINT [CHK_Email_Templates_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Email_Templates_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Email_Templates]'))
ALTER TABLE [dbo].[Email_Templates] CHECK CONSTRAINT [CHK_Email_Templates_RecordType]
GO
