USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] DROP CONSTRAINT [CHK_FieldOptionDesign_VisibilityType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] DROP CONSTRAINT [CHK_FieldOptionDesign_Status]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] DROP CONSTRAINT [CHK_FieldOptionDesign_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_OptionAlignment]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] DROP CONSTRAINT [CHK_FieldOptionDesign_OptionAlignment]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldOpti__Field__35D3A351]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] DROP CONSTRAINT [FK__FieldOpti__Field__35D3A351]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]') AND type in (N'U'))
DROP TABLE [dbo].[FieldOptionDesign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FieldOptionDesign](
	[FieldOptionId] [int] IDENTITY(1,1) NOT NULL,
	[FieldId] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[TransactionCount] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[VisibilityType] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[ReferenceValue] [varchar](100) NOT NULL,
	[DisplayValue] [varchar](500) NOT NULL,
	[DataValue] [varchar](100) NOT NULL,
	[KeywordName] [varchar](100) NOT NULL,
	[DefaultValue] [varchar](100) NULL,
	[OptionAlignment] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldOptionDesign_DataValue] UNIQUE NONCLUSTERED 
(
	[FieldId] ASC,
	[ReferenceValue] ASC,
	[DataValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldOptionDesign_DisplayValue] UNIQUE NONCLUSTERED 
(
	[FieldId] ASC,
	[ReferenceValue] ASC,
	[DisplayValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldOptionDesign_KeywordName] UNIQUE NONCLUSTERED 
(
	[FieldId] ASC,
	[ReferenceValue] ASC,
	[KeywordName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FieldOptionDesign_Name] UNIQUE NONCLUSTERED 
(
	[FieldId] ASC,
	[ReferenceValue] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FieldOpti__Field__35D3A351]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign]  WITH CHECK ADD FOREIGN KEY([FieldId])
REFERENCES [dbo].[FieldDesign] ([FieldId])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_OptionAlignment]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldOptionDesign_OptionAlignment] CHECK  (([OptionAlignment]='Horizontal' OR [OptionAlignment]='Vertical'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_OptionAlignment]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] CHECK CONSTRAINT [CHK_FieldOptionDesign_OptionAlignment]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldOptionDesign_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] CHECK CONSTRAINT [CHK_FieldOptionDesign_RecordType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldOptionDesign_Status] CHECK  (([Status]='Design' OR [Status]='Active' OR [Status]='InActive'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] CHECK CONSTRAINT [CHK_FieldOptionDesign_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign]  WITH CHECK ADD  CONSTRAINT [CHK_FieldOptionDesign_VisibilityType] CHECK  (([VisibilityType]='None' OR [VisibilityType]='Show'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FieldOptionDesign_VisibilityType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FieldOptionDesign]'))
ALTER TABLE [dbo].[FieldOptionDesign] CHECK CONSTRAINT [CHK_FieldOptionDesign_VisibilityType]
GO
