USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimExpenseType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]'))
ALTER TABLE [dbo].[ClaimExpenseType] DROP CONSTRAINT [CHK_ClaimExpenseType_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_106]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]'))
ALTER TABLE [dbo].[ClaimExpenseType] DROP CONSTRAINT [R_106]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ClaimExpe__Recor__69C77D4C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ClaimExpenseType] DROP CONSTRAINT [DF__ClaimExpe__Recor__69C77D4C]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]') AND type in (N'U'))
DROP TABLE [dbo].[ClaimExpenseType]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClaimExpenseType](
	[ClaimExpenseTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[ClaimExpenseTypeDesc] [varchar](100) NULL,
	[LOBKey] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_ClaimExpenseType] PRIMARY KEY CLUSTERED 
(
	[ClaimExpenseTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ClaimExpe__Recor__69C77D4C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ClaimExpenseType] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_106]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]'))
ALTER TABLE [dbo].[ClaimExpenseType]  WITH CHECK ADD  CONSTRAINT [R_106] FOREIGN KEY([LOBKey])
REFERENCES [dbo].[LOB] ([LOBKey])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_106]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]'))
ALTER TABLE [dbo].[ClaimExpenseType] CHECK CONSTRAINT [R_106]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimExpenseType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]'))
ALTER TABLE [dbo].[ClaimExpenseType]  WITH CHECK ADD  CONSTRAINT [CHK_ClaimExpenseType_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ClaimExpenseType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClaimExpenseType]'))
ALTER TABLE [dbo].[ClaimExpenseType] CHECK CONSTRAINT [CHK_ClaimExpenseType_RecordType]
GO
