USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ReasonStatusType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReasonStatusType]'))
ALTER TABLE [dbo].[ReasonStatusType] DROP CONSTRAINT [CHK_ReasonStatusType_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ReasonSta__Recor__5773C2E7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ReasonStatusType] DROP CONSTRAINT [DF__ReasonSta__Recor__5773C2E7]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReasonStatusType]') AND type in (N'U'))
DROP TABLE [dbo].[ReasonStatusType]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReasonStatusType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ReasonStatusType](
	[ReasonStatusTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[ReasonStatusTypeDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKReasonStatusType] PRIMARY KEY CLUSTERED 
(
	[ReasonStatusTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ReasonSta__Recor__5773C2E7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ReasonStatusType] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ReasonStatusType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReasonStatusType]'))
ALTER TABLE [dbo].[ReasonStatusType]  WITH CHECK ADD  CONSTRAINT [CHK_ReasonStatusType_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ReasonStatusType_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReasonStatusType]'))
ALTER TABLE [dbo].[ReasonStatusType] CHECK CONSTRAINT [CHK_ReasonStatusType_RecordType]
GO
