USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientLW]'))
ALTER TABLE [dbo].[ServicesForClientLW] DROP CONSTRAINT [CHK_ServicesForClientLW_RecordType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ServicesF__Recor__62E57593]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ServicesForClientLW] DROP CONSTRAINT [DF__ServicesF__Recor__62E57593]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServicesForClientLW]') AND type in (N'U'))
DROP TABLE [dbo].[ServicesForClientLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServicesForClientLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ServicesForClientLW](
	[ServicesForClientKey] [int] IDENTITY(1,1) NOT NULL,
	[ServicesForClientDesc] [varchar](120) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKServicesForClientLW] PRIMARY KEY CLUSTERED 
(
	[ServicesForClientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ServicesF__Recor__62E57593]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ServicesForClientLW] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientLW]'))
ALTER TABLE [dbo].[ServicesForClientLW]  WITH CHECK ADD  CONSTRAINT [CHK_ServicesForClientLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ServicesForClientLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicesForClientLW]'))
ALTER TABLE [dbo].[ServicesForClientLW] CHECK CONSTRAINT [CHK_ServicesForClientLW_RecordType]
GO
