USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] DROP CONSTRAINT [CHK_PersonnelAffiliation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7601]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] DROP CONSTRAINT [R_7601]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1151]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] DROP CONSTRAINT [R_1151]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] DROP CONSTRAINT [CHK_PersonnelAffiliation_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] DROP CONSTRAINT [CHK_PersonnelAffiliation_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]') AND type in (N'U'))
DROP TABLE [dbo].[PersonnelAffiliation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PersonnelAffiliation](
	[PersonnelTypeKey] [int] NOT NULL,
	[NumberOfPersonnel] [int] NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKPersonnelAffiliation] PRIMARY KEY CLUSTERED 
(
	[PersonnelTypeKey] ASC,
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation]  WITH CHECK ADD  CONSTRAINT [CHK_PersonnelAffiliation_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] CHECK CONSTRAINT [CHK_PersonnelAffiliation_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation]  WITH NOCHECK ADD  CONSTRAINT [CHK_PersonnelAffiliation_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] CHECK CONSTRAINT [CHK_PersonnelAffiliation_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1151]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation]  WITH CHECK ADD  CONSTRAINT [R_1151] FOREIGN KEY([PersonnelTypeKey])
REFERENCES [dbo].[PersonnelType] ([PersonnelTypeKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_1151]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] CHECK CONSTRAINT [R_1151]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7601]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation]  WITH CHECK ADD  CONSTRAINT [R_7601] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_7601]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] CHECK CONSTRAINT [R_7601]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation]  WITH CHECK ADD  CONSTRAINT [CHK_PersonnelAffiliation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PersonnelAffiliation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PersonnelAffiliation]'))
ALTER TABLE [dbo].[PersonnelAffiliation] CHECK CONSTRAINT [CHK_PersonnelAffiliation_RecordType]
GO
