USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeeSuitSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo] DROP CONSTRAINT [CHK_FeeSuitSuppInfo_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Versi__7F379B7E]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo] DROP CONSTRAINT [FK__FeeSuitSu__Versi__7F379B7E]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Polic__7E437745]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo] DROP CONSTRAINT [FK__FeeSuitSu__Polic__7E437745]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FeeSuitSu__Creat__002BBFB7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FeeSuitSuppInfo] DROP CONSTRAINT [DF__FeeSuitSu__Creat__002BBFB7]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]') AND type in (N'U'))
DROP TABLE [dbo].[FeeSuitSuppInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FeeSuitSuppInfo](
	[FeeSuitSuppInfoKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[FeeSuitClientName] [varchar](200) NULL,
	[FeeSuitFilledDate] [datetime] NULL,
	[FeeSuitAmount] [int] NULL,
	[FeeSuitStatus] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeSuitSuppInfoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__FeeSuitSu__Creat__002BBFB7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FeeSuitSuppInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Polic__7E437745]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FeeSuitSu__Versi__7F379B7E]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeeSuitSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo]  WITH CHECK ADD  CONSTRAINT [CHK_FeeSuitSuppInfo_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeeSuitSuppInfo_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeeSuitSuppInfo]'))
ALTER TABLE [dbo].[FeeSuitSuppInfo] CHECK CONSTRAINT [CHK_FeeSuitSuppInfo_RecordType]
GO
