USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ElectronicInsurance_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance] DROP CONSTRAINT [CHK_ElectronicInsurance_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Electroni__Versi__63EF73BC]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance] DROP CONSTRAINT [FK__Electroni__Versi__63EF73BC]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Electroni__Polic__62FB4F83]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance] DROP CONSTRAINT [FK__Electroni__Polic__62FB4F83]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]') AND type in (N'U'))
DROP TABLE [dbo].[ElectronicInsurance]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ElectronicInsurance](
	[ElectronicInsuranceKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [int] NOT NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[IsElectronicInsurance] [char](1) NULL DEFAULT ('N'),
	[IsElectronicAndPaperDelivery] [char](1) NULL DEFAULT ('N'),
	[IsElectronicDeliveryRejection] [char](1) NULL DEFAULT ('N'),
	[IsElectronicDeliveryWithdrawalConsent] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ElectronicInsuranceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Electroni__Polic__62FB4F83]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Electroni__Versi__63EF73BC]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance]  WITH CHECK ADD FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ElectronicInsurance_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance]  WITH CHECK ADD  CONSTRAINT [CHK_ElectronicInsurance_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ElectronicInsurance_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ElectronicInsurance]'))
ALTER TABLE [dbo].[ElectronicInsurance] CHECK CONSTRAINT [CHK_ElectronicInsurance_RecordType]
GO
