USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LOB_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LOB]'))
ALTER TABLE [dbo].[LOB] DROP CONSTRAINT [CHK_LOB_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOB]') AND type in (N'U'))
DROP TABLE [dbo].[LOB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOB]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOB](
	[LOBKey] [int] IDENTITY(1,1) NOT NULL,
	[LOBDesc] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[LOBDesc_Brokerage] [varchar](200) NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [XPKLOB] PRIMARY KEY CLUSTERED 
(
	[LOBKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LOB_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LOB]'))
ALTER TABLE [dbo].[LOB]  WITH CHECK ADD  CONSTRAINT [CHK_LOB_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_LOB_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LOB]'))
ALTER TABLE [dbo].[LOB] CHECK CONSTRAINT [CHK_LOB_RecordType]
GO
