USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RulePolicyTransaction_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [CHK_RulePolicyTransaction_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__0B7CAB7B]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [FK__RulePolic__Polic__0B7CAB7B]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__0A888742]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [FK__RulePolic__Polic__0A888742]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__09946309]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [FK__RulePolic__Polic__09946309]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__08A03ED0]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [FK__RulePolic__Polic__08A03ED0]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__07AC1A97]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [FK__RulePolic__Polic__07AC1A97]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RulePolicyTransaction_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] DROP CONSTRAINT [CHK_RulePolicyTransaction_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]') AND type in (N'U'))
DROP TABLE [dbo].[RulePolicyTransaction]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RulePolicyTransaction](
	[RulePolicyId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[ClearStatus] [varchar](20) NULL,
	[ActionTakenBy] [int] NULL,
	[isArchived] [varchar](20) NULL,
	[TimeStamp] [datetime] NULL,
	[RuleId] [varchar](150) NULL,
	[Description] [varchar](5000) NULL,
	[ToolTipDescription] [varchar](500) NULL,
	[RuleStatus] [varchar](20) NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RulePolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RulePolicyTransaction_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD  CONSTRAINT [CHK_RulePolicyTransaction_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RulePolicyTransaction_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] CHECK CONSTRAINT [CHK_RulePolicyTransaction_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__07AC1A97]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__08A03ED0]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__09946309]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__0A888742]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RulePolic__Polic__0B7CAB7B]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RulePolicyTransaction_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction]  WITH CHECK ADD  CONSTRAINT [CHK_RulePolicyTransaction_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_RulePolicyTransaction_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RulePolicyTransaction]'))
ALTER TABLE [dbo].[RulePolicyTransaction] CHECK CONSTRAINT [CHK_RulePolicyTransaction_RecordType]
GO
