USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] DROP CONSTRAINT [CHK_Attestation_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_620]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] DROP CONSTRAINT [R_620]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] DROP CONSTRAINT [CHK_Attestation_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] DROP CONSTRAINT [CHK_Attestation_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attestation]') AND type in (N'U'))
DROP TABLE [dbo].[Attestation]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attestation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Attestation](
	[FirmRenderedAuditAtt] [int] NULL,
	[IsFirmHaveAWrittenPolicyAtt] [char](1) NULL,
	[IsSecondPartnerReviewAtt] [char](1) NULL,
	[IsAuditEngagementsAtt] [char](1) NULL,
	[IsAualityReviewAtt] [char](1) NULL,
	[IsLastPeerReviewAtt] [char](1) NULL,
	[IndicatedRevenueInAttestation] [varchar](50) NULL,
	[PolicyKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[LastPeerReviewAttComment] [varchar](8000) NULL,
	[AuditComment] [varchar](8000) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Attestation] ADD [FirmProvidedInvestmentFunds] [char](1) NULL
ALTER TABLE [dbo].[Attestation] ADD [FirmActedAsBusinessBroker] [char](1) NULL
ALTER TABLE [dbo].[Attestation] ADD [IsFirmPerformedServicesOrConsented] [char](1) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Attestation] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[Attestation] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[Attestation] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[Attestation] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[Attestation] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[Attestation] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKAttestation] PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC,
	[VersionSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation]  WITH CHECK ADD  CONSTRAINT [CHK_Attestation_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [CHK_Attestation_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation]  WITH NOCHECK ADD  CONSTRAINT [CHK_Attestation_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [CHK_Attestation_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_620]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation]  WITH CHECK ADD  CONSTRAINT [R_620] FOREIGN KEY([PolicyKey], [VersionSequence])
REFERENCES [dbo].[Firm] ([PolicyKey], [VersionSequence])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_620]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [R_620]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation]  WITH CHECK ADD  CONSTRAINT [CHK_Attestation_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Attestation_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attestation]'))
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [CHK_Attestation_RecordType]
GO
