USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ZohoToken_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ZohoToken]'))
ALTER TABLE [dbo].[ZohoToken] DROP CONSTRAINT [CHK_ZohoToken_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZohoToken]') AND type in (N'U'))
DROP TABLE [dbo].[ZohoToken]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZohoToken]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ZohoToken](
	[MarketableProductKey] [int] NULL,
	[ZohoAccessToken] [varchar](500) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ZohoToken_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ZohoToken]'))
ALTER TABLE [dbo].[ZohoToken]  WITH CHECK ADD  CONSTRAINT [CHK_ZohoToken_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_ZohoToken_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ZohoToken]'))
ALTER TABLE [dbo].[ZohoToken] CHECK CONSTRAINT [CHK_ZohoToken_RecordType]
GO
