USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransition_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition] DROP CONSTRAINT [CHK_PolicyTransition_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyTra__Polic__027D5126]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition] DROP CONSTRAINT [FK__PolicyTra__Polic__027D5126]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransition_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition] DROP CONSTRAINT [CHK_PolicyTransition_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyTransition]') AND type in (N'U'))
DROP TABLE [dbo].[PolicyTransition]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PolicyTransition]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PolicyTransition](
	[PolicyTransitionKey] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[PreviousPolicyKey] [int] NULL,
	[NextPolicyKey] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyTransitionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransition_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyTransition_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransition_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition] CHECK CONSTRAINT [CHK_PolicyTransition_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PolicyTra__Polic__027D5126]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransition_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition]  WITH CHECK ADD  CONSTRAINT [CHK_PolicyTransition_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PolicyTransition_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PolicyTransition]'))
ALTER TABLE [dbo].[PolicyTransition] CHECK CONSTRAINT [CHK_PolicyTransition_RecordType]
GO
