USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] DROP CONSTRAINT [CHK_AreaOfLitigationForFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_603]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] DROP CONSTRAINT [R_603]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] DROP CONSTRAINT [CHK_AreaOfLitigationForFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] DROP CONSTRAINT [CHK_AreaOfLitigationForFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[AreaOfLitigationForFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AreaOfLitigationForFirmLW](
	[AOLKey] [int] NOT NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[PercentageOfRevenue] [int] NULL,
	[AverageCaseSize] [numeric](15, 0) NULL,
	[LargestCaseSize] [numeric](15, 0) NULL,
	[AOLCommentDesc] [varchar](200) NULL,
	[PercentageOfDefense] [int] NULL DEFAULT (NULL)
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [DefenseCommentDesc] [varchar](100) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [LastUpdateUserID] [varchar](20) NULL
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [LastUpdateTimeStamp] [datetime] NULL
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
 CONSTRAINT [XPKAreaOfLitigationForFirmLW] PRIMARY KEY CLUSTERED 
(
	[AOLKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfLitigationForFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] CHECK CONSTRAINT [CHK_AreaOfLitigationForFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_AreaOfLitigationForFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] CHECK CONSTRAINT [CHK_AreaOfLitigationForFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_603]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW]  WITH CHECK ADD  CONSTRAINT [R_603] FOREIGN KEY([AOLKey])
REFERENCES [dbo].[AOLLW] ([AOLKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_603]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] CHECK CONSTRAINT [R_603]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_AreaOfLitigationForFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_AreaOfLitigationForFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[AreaOfLitigationForFirmLW]'))
ALTER TABLE [dbo].[AreaOfLitigationForFirmLW] CHECK CONSTRAINT [CHK_AreaOfLitigationForFirmLW_RecordType]
GO
