USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] DROP CONSTRAINT [CHK_EnterSportsClientOfFirmLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_573]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] DROP CONSTRAINT [R_573]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] DROP CONSTRAINT [CHK_EnterSportsClientOfFirmLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] DROP CONSTRAINT [CHK_EnterSportsClientOfFirmLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]') AND type in (N'U'))
DROP TABLE [dbo].[EnterSportsClientOfFirmLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EnterSportsClientOfFirmLW](
	[EnterSportsClientOfFirmKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](120) NULL,
	[FieldOfEntertainment] [varchar](120) NULL,
	[TypeOfServices] [varchar](120) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[IsCurrentClient] [char](1) NULL,
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[RecordType] [char](1) NOT NULL DEFAULT ('U'),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[VersionKey] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [XPKEnterSportsClient] PRIMARY KEY CLUSTERED 
(
	[EnterSportsClientOfFirmKey] ASC,
	[VersionSequence] ASC,
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_EnterSportsClientOfFirmLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] CHECK CONSTRAINT [CHK_EnterSportsClientOfFirmLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_EnterSportsClientOfFirmLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] CHECK CONSTRAINT [CHK_EnterSportsClientOfFirmLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_573]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW]  WITH CHECK ADD  CONSTRAINT [R_573] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_573]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] CHECK CONSTRAINT [R_573]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW]  WITH CHECK ADD  CONSTRAINT [CHK_EnterSportsClientOfFirmLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_EnterSportsClientOfFirmLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[EnterSportsClientOfFirmLW]'))
ALTER TABLE [dbo].[EnterSportsClientOfFirmLW] CHECK CONSTRAINT [CHK_EnterSportsClientOfFirmLW_RecordType]
GO
