USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EstimateF__FormK__50B28216]') AND parent_object_id = OBJECT_ID(N'[dbo].[EstimateFormDocumentArchive]'))
ALTER TABLE [dbo].[EstimateFormDocumentArchive] DROP CONSTRAINT [FK__EstimateF__FormK__50B28216]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__EstimateF__Recor__4FBE5DDD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EstimateFormDocumentArchive] DROP CONSTRAINT [DF__EstimateF__Recor__4FBE5DDD]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormDocumentArchive]') AND type in (N'U'))
DROP TABLE [dbo].[EstimateFormDocumentArchive]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstimateFormDocumentArchive]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EstimateFormDocumentArchive](
	[FormDocumentKey] [int] IDENTITY(1,1) NOT NULL,
	[DocTitle] [varchar](100) NULL,
	[Comment] [varchar](8000) NULL,
	[DocFileName] [varchar](100) NULL,
	[DocUrl] [varchar](1000) NULL,
	[UploadedTime] [varchar](100) NULL,
	[DocType] [varchar](5) NULL,
	[FormKey] [int] NULL,
	[UploadedType] [varchar](100) NULL,
	[RecordType] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastUpdateUserID] [varchar](100) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormDocumentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__EstimateF__Recor__4FBE5DDD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EstimateFormDocumentArchive] ADD  DEFAULT ('U') FOR [RecordType]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EstimateF__FormK__50B28216]') AND parent_object_id = OBJECT_ID(N'[dbo].[EstimateFormDocumentArchive]'))
ALTER TABLE [dbo].[EstimateFormDocumentArchive]  WITH CHECK ADD FOREIGN KEY([FormKey])
REFERENCES [dbo].[EstimateFormGeneralInfo] ([FormKey])
GO
