USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] DROP CONSTRAINT [CHK_PlantiffSuppLW_RecordType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_555]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] DROP CONSTRAINT [R_555]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] DROP CONSTRAINT [CHK_PlantiffSuppLW_VersionKey]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] DROP CONSTRAINT [CHK_PlantiffSuppLW_FK_PolicyKey]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]') AND type in (N'U'))
DROP TABLE [dbo].[PlantiffSuppLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PlantiffSuppLW](
	[VersionSequence] [int] NOT NULL,
	[PolicyKey] [int] NOT NULL,
	[NumberOfAttorneyInPlantiffWork] [int] NULL,
	[PercentOfAttorneyTimeDevToPlantiff] [numeric](5, 2) NULL,
	[NumberOfSuppotedStaffToPlantiff] [int] NULL,
	[NumberOfInjuryCasesIn12Month] [int] NULL,
	[NumberOfInjuryHandleByAttorney] [int] NULL,
	[IsApplAdvertiseByTelevision] [char](1) NULL,
	[IsApplAdvertiseByRadio] [char](1) NULL,
	[IsApplAdvertiseByNewspaper] [char](1) NULL,
	[IsApplAdvertiseByYellowpages] [char](1) NULL,
	[IsRefAggrementReferToAppl] [char](1) NULL,
	[IsRefAggrementReferToApplRefersOut] [char](1) NULL,
	[IsAppAcceptRefersFromOtherFirms] [char](1) NULL,
	[IsSettlementAggrementsUsed] [char](1) NULL,
	[IsApplAcceptCasesToStatuteOfLim] [char](1) NULL,
	[PerOfCasesBeforeTrail] [int] NULL,
	[PerOfCasesTriedToConclusion] [int] NULL,
	[PerOfCasesReferToApplicant] [int] NULL,
	[LastUpdateUserID] [varchar](20) NULL,
	[LastUpdateTimeStamp] [datetime] NULL,
	[IsAppConfirmCarryProfLiabIns] [char](1) NULL,
	[IsApplAdvertiseByMagazine] [char](1) NULL,
	[IsApplAdvertiseByInternet] [char](1) NULL,
	[PerOfCasesSettledBeforeTrail] [int] NULL,
	[IsAppReferToOtherLawFirms] [char](1) NULL,
	[IsApplAcceptCasesToStatuteOfLimDesc] [varchar](3000) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [massTortOrClassAction] [char](1) NULL DEFAULT (NULL)
SET ANSI_PADDING ON
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [RecordType] [char](1) NOT NULL DEFAULT ('U')
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [CreatedBy] [int] NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [VersionKey] [int] NOT NULL DEFAULT ((0))
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlantiffSuppKey] [int] IDENTITY(1,1) NOT NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffNoOfLawyersAtFirm] [int] NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffNoOfPlaintiffInjuryCases] [int] NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffPercentageOfCases] [int] NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffWrittenReferral] [varchar](50) NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffWrittenReferralDesc] [varchar](500) NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffAvgDollarValue] [varchar](200) NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffLargestJudgementAward] [varchar](200) NULL
ALTER TABLE [dbo].[PlantiffSuppLW] ADD [PlaintiffCategoryOtherDesc] [varchar](200) NULL
 CONSTRAINT [PK_PlantiffSuppLW_PlantiffSuppKey] PRIMARY KEY CLUSTERED 
(
	[PlantiffSuppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_PlantiffSuppLW_FK_PolicyKey] FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[Policy] ([PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_FK_PolicyKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] CHECK CONSTRAINT [CHK_PlantiffSuppLW_FK_PolicyKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW]  WITH NOCHECK ADD  CONSTRAINT [CHK_PlantiffSuppLW_VersionKey] FOREIGN KEY([VersionKey])
REFERENCES [dbo].[Version] ([VersionKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_VersionKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] CHECK CONSTRAINT [CHK_PlantiffSuppLW_VersionKey]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_555]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW]  WITH CHECK ADD  CONSTRAINT [R_555] FOREIGN KEY([VersionSequence], [PolicyKey])
REFERENCES [dbo].[FirmLW] ([VersionSequence], [PolicyKey])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[R_555]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] CHECK CONSTRAINT [R_555]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW]  WITH CHECK ADD  CONSTRAINT [CHK_PlantiffSuppLW_RecordType] CHECK  (([RecordType]='I' OR [RecordType]='U' OR [RecordType]='D'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlantiffSuppLW_RecordType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PlantiffSuppLW]'))
ALTER TABLE [dbo].[PlantiffSuppLW] CHECK CONSTRAINT [CHK_PlantiffSuppLW_RecordType]
GO
