USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateClaimsLW]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[ValidateClaimsLW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateClaimsLW]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
CREATE FUNCTION [dbo].[ValidateClaimsLW]
(
	@PolicyKey INT,
	@AccountID INT
)
RETURNS VARCHAR(100)
AS
BEGIN
DECLARE @ShowClaimIcon VARCHAR(100)=NULL,@PolicyKeyNew INT

DECLARE @ClaimCount INT=0,@IncurredZeroCount INT=0, @ClaimClosedCount INT=0,@Old5YearCount INT=0,@NotOld5YearCount INT=0,@IncurredMoreThanZeroCount INT=0, @totalAmountPaidCount INT=0
--=(SELECT Count FROM ProfLiabClaimAgnstFirmLW WHERE PolicyKey in (select PolicyKey from Policy WHERE AccountID=@Acco untID)
DECLARE @DateOfAllegedError DATETIME,@CurrentStatus VARCHAR(100),@TotalIncurred NUMERIC(17,2),@MoreThanyearsCount INT=0,@LessThanyearsCount INT=0,@YearsDiff INT=0,@totalAmountPaid INT=0
DECLARE  @ClaimTemp TABLE 
(
PolicyKey int,
VersionSequence INT,
DateOfAllegedError DATETIME,
CurrentStatus VARCHAR(100),
TotalIncurred NUMERIC(17,2),
TotalAmountPaid NUMERIC(17,2)
)
 INSERT INTO @ClaimTemp (PolicyKey,DateOfAllegedError,CurrentStatus,TotalIncurred,TotalAmountPaid) 
 Select PolicyKey,DateOfAllegedError,CurrentStatus,TotalIncurred,TotalAmountPaid from ProfLiabClaimAgnstFirmLW where Policykey in(select Policykey from Policy where AccountID=@AccountID)


Declare c1 cursor for
		select PolicyKey,DateOfAllegedError,CurrentStatus,TotalIncurred,TotalAmountPaid from @ClaimTemp
           
       
       OPEN c1
       FETCH NEXT FROM c1 into @PolicyKeyNew,@DateOfAllegedError,@CurrentStatus,@TotalIncurred,@totalAmountPaid 
       WHILE @@FETCH_STATUS = 0
              begin
             SET @YearsDiff= (SELECT DATEDIFF(day, @DateOfAllegedError, GETDATE()) / 365.2425)
			 SET @ClaimCount=@ClaimCount+1
			 IF(@TotalIncurred is not null and @TotalIncurred=0)
				begin
					set @IncurredZeroCount=@IncurredZeroCount+1
				end

			IF(@TotalIncurred is not null and @TotalIncurred>0)
			begin
				set @IncurredMoreThanZeroCount=@IncurredMoreThanZeroCount+1
			end
			IF(@totalAmountPaid is not null and @totalAmountPaid>0)
			begin
				set @totalAmountPaidCount=@totalAmountPaidCount+1
			end
			IF( @CurrentStatus=''Closed'')
			begin
				set @ClaimClosedCount=@ClaimClosedCount+1
			end
			IF( @YearsDiff>4)
			begin
				set @Old5YearCount=@Old5YearCount+1
			end
			IF( @YearsDiff<5)
			begin
				set @NotOld5YearCount=@NotOld5YearCount+1
			end
				--SELECT @DateOfAllegedError=DateOfAllegedError,@CurrentStatus=CurrentStatus,@TotalIncurred=TotalIncurred FROM ProfLiabClaimAgnstFirmLW WHERE PolicyKey=@PolicyKeyNew
			--SELECT @PolicyKeyNew,@DateOfAllegedError,@CurrentStatus,@TotalIncurred 
			
		FETCH NEXT FROM c1 into @PolicyKeyNew ,@DateOfAllegedError,@CurrentStatus,@TotalIncurred,@totalAmountPaid                    
		end
		CLOSE c1
		DEALLOCATE c1

		IF(@ClaimCount>0)
			BEGIN
					IF((@ClaimClosedCount=@ClaimCount AND @IncurredZeroCount=@ClaimCount) OR (@ClaimClosedCount=@ClaimCount  AND @Old5YearCount=@ClaimCount))
						SET @ShowClaimIcon=''GREEN''
					Else if((@IncurredMoreThanZeroCount>0 or @totalAmountPaidCount>0) AND @NotOld5YearCount>0)
						SET @ShowClaimIcon=''RED''
					ELSE
						SET @ShowClaimIcon=''BLUE''
			END
	RETURN @ShowClaimIcon

END

' 
END

GO
