USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePolicyForRating]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[ValidatePolicyForRating]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePolicyForRating]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'--SELECT DBO.ValidatePolicyForRating(76854)
CREATE FUNCTION [dbo].[ValidatePolicyForRating] 
(
@PolicyKey INT


)
RETURNS CHAR
AS
	BEGIN
		DECLARE @FullyCompleted CHAR
		Declare @AccountName VARCHAR(500)
		DECLARE @IsFirmHaveLawyersLiabilityInsurance CHAR
	
		DECLARE @AopSum int
		DECLARE @ContactPerson VARCHAR(500)
		DECLARE @AttorneyCount INT
		DECLARE @PolicyStatusKey INT
		
		DECLARE @AOPCount INT
		DECLARE @VersionSequence INT
		DECLARE @PreviousVersionSequence INT
		DECLARE @CreatedDate DATETIME
		DECLARE @DaysDiffenence INT
		DECLARE @IsFirmPage CHAR
		DECLARE @IsAopPage CHAR
		DECLARE @IsPracticePage CHAR
		DECLARE @IsCoveragePage CHAR
		DECLARE @IsRenewFirmPage CHAR
		DECLARE @City VARCHAR(100)
		DECLARE @AccountID INT
		SET	@FullyCompleted=''Y''
		SELECT @CreatedDate=AppCreatedDate FROM POLICY WHERE PolicyKey=@PolicyKey
		SELECT @PolicyStatusKey=PolicyStatusKey,@AccountID=AccountID FROM Policy WHERE PolicyKey=@PolicyKey
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WHERE PolicyKey=@PolicyKey)
		set @AccountName=(	SELECT AccountName FROM Account where accountkey=(SELECT top 1 AccountKey FROM PolicyTransaction WHERE PolicyKey=@PolicyKey))
		SET @AOPCount=(SELECT Count(*) From AreaOfPracticeLW Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		SET @City=(select  top 1 City from address adr  inner join AccountAddress aa on aa.AddressKey=adr.AddressKey inner join PolicyTransaction pt on pt.AccountKey=aa.AccountKey  where Policykey=@PolicyKey)
		IF(@PolicyStatusKey=1)
		BEGIN

			IF(@CreatedDate<''2017-06-20'')
			BEGIN
			
				SELECT @IsFirmPage=IsFirmPage,@IsAopPage=IsAopPage,@IsPracticePage=IsPracticePage,@IsCoveragePage=IsCoveragePage
				FROM FIRMLW Where PolicyKey=@PolicyKey

				IF(@IsFirmPage<>''Y'')
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				IF(@City='''' or @City is null)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				IF(@IsAopPage<>''Y'')
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END

				IF(@IsPracticePage<>''Y'')
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END


				IF(@IsCoveragePage<>''Y'')
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END

			END
			ELSE
				BEGIN
				--	PRINT ''IN NEW FLOW''
					select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance 
					from firmlw where policykey=@PolicyKey and VersionSequence=@VersionSequence
				
					IF(@AOPCount<1)
					BEGIN
						--print ''100''
						SET @FullyCompleted=''N''
					END
					SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
					SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey and VersionSequence=@VersionSequence and AttorneyName is not null
		
					IF(@AccountName IS  NULL)
					BEGIN
					--	print @AccountName
						SET @FullyCompleted=''N''
					END
					IF(@City='''' or @City is null)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
					IF(@IsFirmHaveLawyersLiabilityInsurance IS  NULL)
					BEGIN
						--print ''2''
						SET @FullyCompleted=''N''
					END

					IF(@AttorneyCount=0)
					BEGIN
						--print ''3''
						SET @FullyCompleted=''N''
					END
		
					IF(@AopSum!=100)
					BEGIN
						--print ''4''
						SET @FullyCompleted=''N''
					END
			END

	END
	
	IF(@PolicyStatusKey=2)
	BEGIN
		--PRINT ''IN RENEWAL FLOW''
		

		DECLARE @IsAttorneyAddedDeleted CHAR
		DECLARE @AnnualRevenueSequence INT
	
		IF(@CreatedDate<''2017-06-20'')
			BEGIN
				SELECT @IsRenewFirmPage=IsRenewFirmPage FROM FIRMLW Where PolicyKey=@PolicyKey

				IF(@IsRenewFirmPage<>''Y'')
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				IF(@City='''' or @City is null)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
		END
		
		ELSE
			BEGIN				
				select	@ContactPerson=ContactPerson,@IsAttorneyAddedDeleted=IsAttorneyAddedDeleted from firmlw where policykey=@PolicyKey and VersionSequence=@VersionSequence
					--IF(@AOPCount<1)
					--BEGIN
					--	--print ''100''
					--	SET @FullyCompleted=''N''
					--END
				SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW where PolicyKey=@PolicyKey  and VersionSequence=@VersionSequence
				SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WHERE PolicyKey=@PolicyKey  and VersionSequence=@VersionSequence
				IF(@ContactPerson IS  NULL)
					BEGIN
					--	print ''1''
						SET @FullyCompleted=''N''
					END
					IF(@City='''' or @City is null)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				IF(@AttorneyCount=0)
					BEGIN
					--	print ''2''
						SET @FullyCompleted=''N''
					END
				IF(@AopSum!=100 )
					BEGIN
						--print ''3''

						if(@FullyCompleted=''Y'')
						BEGIN
							DECLARE @PriorPolicyKey INT
							DECLARE @PriorVersionSequence INT
								SET @PriorPolicyKey=(select top 1 Policykey from policy where Policykey<@PolicyKey and AccountID=@AccountID order by PolicyKey desc)
								SET @PriorVersionSequence=(select min(VersionSequence)  from FirmLW where Policykey=@PriorPolicyKey)
								--select * from AreaOfPracticeLW where Policykey=73300
							--	Select @PriorPolicyKey as PriorPolicyKey,@PriorVersionSequence as PriorVersionSequence
							DECLARE @slqStmt NVARCHAR(MAX)
							
							set @slqStmt=''INSERT INTO AreaOfPracticeLW(AOPKey,PercentageValue,AOPCommentDesc,PolicyKey,VersionSequence) select  AOPKey,PercentageValue,AOPCommentDesc,''+cast(@PolicyKey as VARCHAR(10)) +'' as PolicyKey,''+cast(@VersionSequence as VARCHAR(10))+'' as VersionSequence from AreaOfPracticeLW Where PolicyKey=''+cast(@PriorPolicyKey as VARCHAR(10))+'' and VersionSequence=''+cast(@PriorVersionSequence as VARCHAR(10))+''''
							--print @slqStmt
							exec sp_executesql @slqStmt
						END
						ELSE
						BEGIN
								SET @FullyCompleted=''N''
						END
					END
		
				
			END	
	
	
	END
	RETURN @FullyCompleted 

END




' 
END

GO
