USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[generateQuoteNumber]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[generateQuoteNumber]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[generateQuoteNumber]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'Create function [dbo].[generateQuoteNumber] (@PolicyKey int) returns varchar(100)

AS
Begin
      DECLARE @QuoteNumber varchar(100)
      DECLARE @ZeroAppender varchar(100)
      DECLARE @PolicyKeyStr varchar(100)
      DECLARE @i int    
      DECLARE @length int
      Set @i=0
      Set @ZeroAppender=''''
            
      Set @PolicyKeyStr = CONVERT(varchar(100), @PolicyKey) 
      Set @length = 7- Len(@PolicyKeyStr)
      WHILE @i < @length
            BEGIN             
                  Set @ZeroAppender = @ZeroAppender  + ''0''                          
                  Set @i = @i + 1         
            END   
            
      Set @QuoteNumber = ''QN-'' + @ZeroAppender + @PolicyKeyStr          
      RETURN @QuoteNumber
End
' 
END

GO
