USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePolicyForRquoteLW_p]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[ValidatePolicyForRquoteLW_p]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidatePolicyForRquoteLW_p]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'--exec ValidatePolicyForRquoteLW_p 74569,52840
CREATE FUNCTION [dbo].[ValidatePolicyForRquoteLW_p] 
(
@Policykey int,
@AccountId INT,
@StatusKey int
)
RETURNS CHAR
AS
BEGIN
	DECLARE @ChildPolicyExpirationDate DATETIME
DECLARE @ChildPolicykey INT
DECLARE @EligibleForRequote CHAR=''Y''
DECLARE @IndicationCount int
DECLARE @ChlidStatusKey INT
DECLARE @ChildPolicyEffectiveDate DATETIME
set @ChildPolicykey=(select case when  max(p.Policykey)  is not null then max(p.Policykey)  else 0 end as childPolicykey from Policy p inner join PolicyTransaction pt on p.PolicyKey=pt.PolicyKey  where AccountID=@AccountId and p.Policykey!=@Policykey 
 and pt.StatusKey not in(4,5,11) )
 --group by p.PolicyKey,pt.StatusKey
 if(@ChildPolicykey<>0)
 BEGIN
 select @ChildPolicyExpirationDate= pt.PolicyExpirationDate,@ChlidStatusKey=pt.StatusKey,@ChildPolicyEffectiveDate=p.PolicyEffectiveDate from PolicyTransaction pt inner join Policy p on pt.PolicyKey=p.PolicyKey where pt.Policykey=@ChildPolicykey and pt.TransactionSequence=(select min(TransactionSequence) from PolicyTransaction where Policykey=@ChildPolicykey)

	 if(@ChlidStatusKey=6 and convert(date,@ChildPolicyExpirationDate,23)>convert(date,getdate(),23))
	 begin
		set @EligibleForRequote=''N''
	 end

	 if(@ChlidStatusKey!=6 and convert(date,@ChildPolicyEffectiveDate,23)>convert(date,getdate()-120,23))
	 begin
		set @EligibleForRequote=''N''
	 end

 END


if(@StatusKey<>11)
BEGIN
	 SET @IndicationCount=(Select case when Count(pt.PolicyKey) is not null then Count(pt.PolicyKey) else 0 end as Indicationcount from PolicyTransaction pt Inner join  Policy p on p.PolicyKey=pt.PolicyKey where p.AccountID=@AccountID and pt.StatusKey=11)
	if(@IndicationCount>0)
		begin
			set @EligibleForRequote=''N''
		END
END
	RETURN @EligibleForRequote

END
' 
END

GO
