USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateFullApplicationACC]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[ValidateFullApplicationACC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateFullApplicationACC]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[ValidateFullApplicationACC]
(
	@PolicyKey INT
)
RETURNS @Temp TABLE
			(	FullyCompleted									CHAR,
				FirmNewAppPage									CHAR,
				InsuranceHistoryNewApp							CHAR,
				aboutFirmPage									CHAR,
				AOPNewApp										CHAR,
				practiceManagementPage							Char,
				morePracticeManagementPage						CHAR,
				trustsAndOfficerPage							CHAR,
				pastClaimsPage									CHAR,
				practiceManagementSuppPage						CHAR,	
				investmentFinancialPlanningSuppPage				CHAR,
				computerRelatedServicesPage						CHAR,
				mainBusinessManagementSupplementPage			CHAR,
				auditSupplementPage								CHAR,
				isNotCompletlyFilled							CHAR
			)
AS
BEGIN
		
		DECLARE @AOPCount INT , @AccountKey INT , @AggreegateLimit INT , @AnnualRevenue INT , @AopSum int , @AopSum1 INT , 
		@AttorneyCount INT , @AuditNPCPercentage	INT , @AuditNPCPercentageOLD	INT , @AuditPCPercentage	INT ,
		 @AuditPCPercentageOLD	INT , @AverageRevenue INT , @BusinessManagementOld INT , @CreatedDate DATETIME , @DaysDiffenence INT , 
		 @EstimatedRevenue INT , @FullyCompleted CHAR , @HaveInvestmentAuthorityFC CHAR , @IsAnyRegulatoryInquiry CHAR , 
		 @IsApplicantProvidesLegalServices CHAR , @IsAttesationPage CHAR , @IsBasicPage CHAR , @IsBusinessFundPage CHAR , 
		 @IsClientTerminated CHAR , @IsComputerServicePage CHAR , @IsContractualRelationShip CHAR  , @IsControlClientFunds CHAR , 
		 @IsFirmRenderingServices CHAR , @IsGeneralPage CHAR , @IsPracriceMangPage CHAR , @IsPublicTradedAudited CHAR , 
		 @IsServedAsTrustee CHAR , @IsSupplementPage CHAR , @IsSyndicationManagers CHAR , @PercentageOfDefense INT , 
		 @PercentageOfRevenue INT , @PolicyStatusKey INT , @PreviousPolicyKey INT , @PreviousVersionSequence INT ,
		 @RenewBasicInfoPage CHAR , @RevenuesFromLastYear INT , @TotalFirmPersonnel INT , @VersionSequence INT , 
		 @auditOld INT , @auditSuppPercentage INT , @businessFundPercentage INT , @businessFundPercentageOLD INT , 
		 @businessManagementSuppPercentage	INT , @computerServicePercentage INT , @computerServicePercentageOLD INT , 
		 @computerServicesOld INT , @computerSuppPercentage	INT , @investFinencialPercentage INT , @investFinencialPercentageOLD INT , 
		 @investSuppPercentage	INT  , @investmentPlanningOld INT, @AccountName VARCHAR(500),@IsAOPChange CHAR 
		 	
		

		
		SELECT @PolicyStatusKey=PolicyStatusKey,@CreatedDate=AppCreatedDate  FROM Policy WHERE PolicyKey=@PolicyKey
		SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WHERE   accountid in(SELECT accountid FROM policy WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
		
		
		
		SET @AccountKey=(SELECT TOP 1 AccountKey from PolicyTransaction where Policykey=@PolicyKey)
		SET @AggreegateLimit=(SELECT top 1 AggregateLimit FROM PolicyCoverage where PolicyKey=@PolicyKey )
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PolicyKey)
		SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM Firm WHERE PolicyKey=@PreviousPolicyKey)
		
		SET @AOPCount=(SELECT Count(*) From AreaOfPractice Where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence)
		SET @investSuppPercentage  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence and AOPKey=19)
		SET @computerSuppPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=14)
		SET @businessManagementSuppPercentage=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=18)
		SET @auditSuppPercentage =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPractice where policykey=@PolicyKey and VersionSequence=@VersionSequence  and AOPKey=6)
		SET @AnnualRevenue=(select Amount from GrossRevenueForFirm where GrossRevenueKey=1 and  Policykey=@PolicyKey and VersionSequence=(select max(VersionSequence) from Firm where Policykey=@PolicyKey))		
		SET @AccountName=(SELECT AccountName FROM Account where accountkey=@AccountKey)
		SELECT @TotalFirmPersonnel=TotalFirmPersonnel,@IsFirmRenderingServices=IsFirmRenderingServices,@IsSyndicationManagers=IsSyndicationManagers,@IsServedAsTrustee=IsServedAsTrustee
			,@IsClientTerminated=IsClientTerminated,@IsPublicTradedAudited=IsPublicTradedAudited,@IsAnyRegulatoryInquiry=IsAnyRegulatoryInquiry,@IsControlClientFunds=IsControlClientFunds,
			@IsAOPChange=IsAOPChange
			from firm where policykey=@PolicyKey and VersionSequence=@VersionSequence

		INSERT INTO @Temp(FullyCompleted,FirmNewAppPage,InsuranceHistoryNewApp,aboutFirmPage,AOPNewApp,practiceManagementPage,morePracticeManagementPage,trustsAndOfficerPage,
			pastClaimsPage,practiceManagementSuppPage,investmentFinancialPlanningSuppPage,computerRelatedServicesPage,mainBusinessManagementSupplementPage,auditSupplementPage,
			isNotCompletlyFilled)
			--	PRINT ''IN NEW FLOW''
			Values(''Y'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'')
		IF(@PolicyStatusKey=1)
		BEGIN
		--	PRINT ''NB''
				
				IF(@AOPCount<1)
					BEGIN
						--print ''100''
						SET @FullyCompleted=''N''
					END
				SELECT @AopSum=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPractice where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				
				IF(@AccountName IS  NULL)
				BEGIN
				--	print @AccountName
						UPDATE @TEMP SET FullyCompleted=''N'',FirmNewAppPage=''Y'',isNotCompletlyFilled=''Y''
				END
				IF(@AggreegateLimit IS  NULL)
				BEGIN
				--	print ''2''
					UPDATE @TEMP SET FullyCompleted=''N'',InsuranceHistoryNewApp=''Y'',isNotCompletlyFilled=''Y''
				END

				IF(@TotalFirmPersonnel IS NULL OR @TotalFirmPersonnel=0 or @AnnualRevenue is null)
				BEGIN
				--	print ''3''
					UPDATE @TEMP SET FullyCompleted=''N'',aboutFirmPage=''Y'',isNotCompletlyFilled=''Y''
				END
				
				IF(@AopSum!=100)
				BEGIN
				--	print ''4''
					UPDATE @TEMP SET FullyCompleted=''N'',AOPNewApp=''Y'',isNotCompletlyFilled=''Y''
				END
		
				IF(@IsFirmRenderingServices IS  NULL)
				BEGIN
				--	print ''5''
					UPDATE @TEMP SET FullyCompleted=''N'',practiceManagementPage=''Y'',isNotCompletlyFilled=''Y''
				END
				
				IF(@IsSyndicationManagers IS  NULL)
				BEGIN
					--print ''6''
					UPDATE @TEMP SET FullyCompleted=''N'',morePracticeManagementPage=''Y'',isNotCompletlyFilled=''Y''
				END
		
				IF(@IsServedAsTrustee IS  NULL)
				BEGIN
				--	print ''7''
					UPDATE @TEMP SET FullyCompleted=''N'',trustsAndOfficerPage=''Y'',isNotCompletlyFilled=''Y''
				END
				IF(@IsAnyRegulatoryInquiry IS  NULL)
				BEGIN
				--	print ''8''
					UPDATE @TEMP SET FullyCompleted=''N'',pastClaimsPage=''Y'',isNotCompletlyFilled=''Y''
				END
		
			--Supplements conditions check
			
			IF(@AnnualRevenue>500000 )
			BEGIN
				
				IF(@IsClientTerminated IS  NULL)
				BEGIN
				--	print ''11''
					UPDATE @TEMP SET FullyCompleted=''N'',practiceManagementSuppPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

			IF(@investSuppPercentage>0)
			BEGIN
				select @IsContractualRelationShip=IsContractualRelationShip from FinancialPlanningAndIAServiceSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@IsContractualRelationShip IS  NULL)
				BEGIN
				--	print ''12''
					UPDATE @TEMP SET FullyCompleted=''N'',investmentFinancialPlanningSuppPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

			IF(@computerSuppPercentage>0)
			BEGIN
			

				SELECT @RevenuesFromLastYear=CASE WHEN sum(RevenuesFromLastYear) IS NOT NULL   THEN sum(RevenuesFromLastYear) ELSE 0  END,@EstimatedRevenue=CASE WHEN sum(EstimatedRevenue) IS NOT NULL   THEN sum(EstimatedRevenue) ELSE 0  END  FROM ITServicesSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@RevenuesFromLastYear=0 AND @EstimatedRevenue=0)
				BEGIN
				--	print ''13''
					UPDATE @TEMP SET FullyCompleted=''N'',computerRelatedServicesPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

			IF(@businessManagementSuppPercentage >0)
			BEGIN
				
				SET @HaveInvestmentAuthorityFC=( SELECT HaveInvestmentAuthorityFC from FundsControlledSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence)
				IF(@HaveInvestmentAuthorityFC IS NULL)
				BEGIN
				--	print ''14''
					UPDATE @TEMP SET FullyCompleted=''N'',mainBusinessManagementSupplementPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

			IF(@auditSuppPercentage >0)
			BEGIN
				
				IF(@IsPublicTradedAudited IS NULL)
				BEGIN
				--	print ''14''
					UPDATE @TEMP SET FullyCompleted=''N'',auditSupplementPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

		
	END
	IF(@PolicyStatusKey=2)
	BEGIN
		--PRINT ''RB''
		
		SET @investmentPlanningOld  = (select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=19)
		if(@investmentPlanningOld is null)
		set @investmentPlanningOld=0
		SET @computerServicesOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=14)
		if(@computerServicesOld is null)
		set @computerServicesOld=0
		SET @BusinessManagementOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=18)
		if(@BusinessManagementOld is null)
		set @BusinessManagementOld=0
		SET @auditOld =(select CASE WHEN aopLW.PercentageValue IS NOT NULL and aopLW.PercentageValue <> ''''  THEN aopLW.PercentageValue ELSE 0  END from AreaOfPractice aopLW where aopLW.policykey=@PreviousPolicyKey  and aopLW.VersionSequence=(select max(VersionSequence) From AreaOfPractice where PolicyKey=aopLW.PolicyKey) and aopLW.AOPKey=6)
		if(@auditOld is null)
		set @auditOld=0

		--select @investmentPlanningOld as investSuppOld,@investSuppPercentage as investSuppOld,@computerSuppPercentage as compSupp	,@businessManagementSuppPercentage as BusinessSupp,@auditSuppPercentage as auditSupp
		
				--select IsFirmHaveLawyersLiabilityInsurance from firm where policykey=55425
				IF(@AOPCount<1)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				SELECT @AopSum=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPractice where PolicyKey=@PolicyKey and VersionSequence=@VersionSequence
				
				IF(@AccountName IS  NULL)
				BEGIN
				--	print @AccountName
					UPDATE @TEMP SET FullyCompleted=''N'',firmNewAppPage=''Y'',isNotCompletlyFilled=''Y''
				END

				IF(@TotalFirmPersonnel IS NULL OR @TotalFirmPersonnel=0 OR @IsControlClientFunds is NULL)
				BEGIN
				--	print ''1''
					UPDATE @TEMP SET FullyCompleted=''N'',aboutFirmPage=''Y'',isNotCompletlyFilled=''Y''
				END
				
				IF(@IsAOPChange is null or @AopSum<>100)
				BEGIN
					--print ''2''
					UPDATE @TEMP SET FullyCompleted=''N'',AOPNewApp=''Y'',isNotCompletlyFilled=''Y''
				END
		
				IF(@IsServedAsTrustee IS  NULL)
				BEGIN
				--	print ''3''
					UPDATE @TEMP SET FullyCompleted=''N'',practiceManagementPage=''Y'',isNotCompletlyFilled=''Y''
				END
		
				IF(@IsAnyRegulatoryInquiry IS  NULL)
				BEGIN
				--	print ''4''
					UPDATE @TEMP SET FullyCompleted=''N'',pastClaimsPage=''Y'',isNotCompletlyFilled=''Y''
				END
		
			

			IF((@investmentPlanningOld=0 AND @investSuppPercentage>0)OR(@investSuppPercentage>@investmentPlanningOld+5))
			BEGIN
			
				select @IsContractualRelationShip=IsContractualRelationShip from FinancialPlanningAndIAServiceSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				IF(@IsContractualRelationShip IS  NULL)
				BEGIN
				--	print ''5''
					UPDATE @TEMP SET FullyCompleted=''N'',investmentFinancialPlanningSuppPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

		IF((@computerServicesOld=0 AND @computerSuppPercentage>0)OR(@computerSuppPercentage>@computerServicesOld+5))
			BEGIN
			

				SELECT @RevenuesFromLastYear=CASE WHEN sum(RevenuesFromLastYear) IS NOT NULL   THEN sum(RevenuesFromLastYear) ELSE 0  END,@EstimatedRevenue=CASE WHEN sum(EstimatedRevenue) IS NOT NULL   THEN sum(EstimatedRevenue) ELSE 0  END  FROM ITServicesSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence
				--select @RevenuesFromLastYear,@EstimatedRevenue
				IF(@RevenuesFromLastYear=0 AND @EstimatedRevenue=0)
				BEGIN
				--	print ''6''
					UPDATE @TEMP SET FullyCompleted=''N'',computerRelatedServicesPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

			IF((@BusinessManagementOld=0 AND @businessManagementSuppPercentage>0)OR(@businessManagementSuppPercentage >@BusinessManagementOld+5))
			BEGIN
				
				SET @HaveInvestmentAuthorityFC=( SELECT HaveInvestmentAuthorityFC from FundsControlledSupp WHERE Policykey=@PolicyKey and VersionSequence=@VersionSequence)
				IF(@HaveInvestmentAuthorityFC IS NULL)
				BEGIN
				--	print ''7''
					UPDATE @TEMP SET FullyCompleted=''N'',mainBusinessManagementSupplementPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END

			IF((@auditSuppPercentage=0 AND @auditSuppPercentage>0)OR(@auditSuppPercentage >@auditOld+5))
			BEGIN
				
				IF(@IsSyndicationManagers IS NULL)
				BEGIN
				--	print ''8''
					UPDATE @TEMP SET FullyCompleted=''N'',auditSupplementPage=''Y'',isNotCompletlyFilled=''Y''
				END
			END
	
		
	END

	RETURN 

END
' 
END

GO
