USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getAmountFormat]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[getAmountFormat]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getAmountFormat]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
Create function [dbo].[getAmountFormat] ( @InputNumberStr varchar(25)) returns varchar(25)
AS
Begin
	DECLARE @OutputStr varchar(25)
	DECLARE @CharIdx int
	DECLARE @OffSet int	
	
	SET @OutputStr = REVERSE(@InputNumberStr)

	SET @CharIdx = CHARINDEX(''.'', @OutputStr)
	SET @Offset = @CharIdx
	SET @CharIdx = CASE WHEN @CharIdx = 0 THEN 1 ELSE @CharIdx END

	WHILE @CharIdx <= LEN(@OutputStr)
		BEGIN
			IF @CharIdx - @Offset > 3 AND (@CharIdx - @Offset - 1) % 3 = 0
			BEGIN
				SET @OutputStr = STUFF(@OutputStr, @CharIdx, 0, '','')
				SET @Offset = @Offset + 1
				SET @CharIdx = @CharIdx + 1
			END

			SET @CharIdx = @CharIdx + 1
		END
	IF @OutputStr != ''''
		SET @OutputStr = ''$'' + REVERSE(@OutputStr)
	
	RETURN @OutputStr
End
' 
END

GO
