USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[removeSpecialCharacter]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[removeSpecialCharacter]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[removeSpecialCharacter]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
--select dbo.[[removeSpecialCharacter]] (''Brian T'')
CREATE FUNCTION [dbo].[removeSpecialCharacter] (  
 @INPUT_STRING varchar(300))
RETURNS VARCHAR(300)
AS 
BEGIN
 
DECLARE @NEWSTRING VARCHAR(300) 
SET @NEWSTRING = @INPUT_STRING ; 

With SPECIAL_CHARACTER as
(
	SELECT ''>'' as item
	UNION ALL 
	SELECT ''<'' as item
	UNION ALL 
	SELECT ''('' as item
	UNION ALL 
	SELECT '')'' as item
	UNION ALL 
	SELECT ''!'' as item
	UNION ALL 
	SELECT ''?'' as item
	UNION ALL 
	SELECT ''@'' as item
	UNION ALL 
	SELECT ''*'' as item
	UNION ALL 
	--SELECT ''%'' as item
	--UNION ALL 
	SELECT ''$'' as item
	UNION ALL 
	SELECT ''.'' as item
	UNION ALL 
	SELECT '''''''' as item
	UNION ALL 
	SELECT ''{'' as item
	UNION ALL 
	SELECT ''}'' as item
	UNION ALL 
	--SELECT '' '' as item
	--UNION ALL 
	SELECT ''~'' as item
	UNION ALL 
	SELECT ''-'' as item
	UNION ALL 
	SELECT ''/'' as item
	UNION ALL 
	SELECT '';'' as item
	UNION ALL 
	SELECT ''+'' as item
	UNION ALL 
	SELECT ''['' as item
	UNION ALL 
	SELECT '']'' as item
	UNION ALL 
	SELECT ''"'' as item
	UNION ALL 
	SELECT ''`'' as item

)
 
SELECT @NEWSTRING = Replace(@NEWSTRING, ITEM, '''') FROM SPECIAL_CHARACTER  
return @NEWSTRING 
END
' 
END

GO
