USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getAmountFormatWithBracket]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[getAmountFormatWithBracket]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getAmountFormatWithBracket]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'

       CREATE function [dbo].[getAmountFormatWithBracket] ( @InputNumberStr varchar(25)) returns varchar(25)
       AS
       Begin
              DECLARE @OutputStr varchar(25)
              DECLARE @CharIdx int
              DECLARE @OffSet int  
              Declare @NegtChar varchar(1)
              Declare @minusval varchar(1)
              
              set @NegtChar=SUBSTRING (  @InputNumberStr,1 , 1 )
              

              if @NegtChar<>''-''
                     begin
                           SET @OutputStr = REVERSE(@InputNumberStr)
                           set @NegtChar=''''
                     end
              else
                     begin
                           SET @OutputStr= REVERSE(SUBSTRING ( @InputNumberStr ,2 , len(@InputNumberStr)-1 ))
                     end
              
              SET @CharIdx = CHARINDEX(''.'', @OutputStr)
              SET @Offset = @CharIdx
              SET @CharIdx = CASE WHEN @CharIdx = 0 THEN 1 ELSE @CharIdx END

              WHILE @CharIdx <= LEN(@OutputStr)
                     BEGIN
                           IF @CharIdx - @Offset > 3 AND (@CharIdx - @Offset - 1) % 3 = 0
                           BEGIN
                                  SET @OutputStr = STUFF(@OutputStr, @CharIdx, 0, '','')
                                  SET @Offset = @Offset + 1
                                  SET @CharIdx = @CharIdx + 1
                           END

                           SET @CharIdx = @CharIdx + 1
                     END
              IF @OutputStr != ''''
                     SET @OutputStr =@NegtChar+''$'' + REVERSE(@OutputStr)
                     

                 
       
              IF(SUBSTRING (@OutputStr,1 , 1 ) = ''-'')
                           begin
                                  set @OutputStr = ''(''+SUBSTRING (@OutputStr,2 , len(@OutputStr) )+'')''
                           end
                           else
                           begin
                                  set @OutputStr = @OutputStr
                           end

              RETURN @OutputStr
              -- select dbo.getAmountFormatWithBracket(''-12345689898'')
       End
       

' 
END

GO
