USE [accinsurancedb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateFullApplication]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[ValidateFullApplication]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValidateFullApplication]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[ValidateFullApplication] 
(
@PolicyKey INT,
@AccountKey INT,
@LitImplementationDate DATETIME,
@RenewalSupplementNewImplDate DATETIME,
@bankruptcyImplementationDate DATETIME
)
RETURNS  @Temp TABLE
			(
				FullyCompleted					CHAR,
				firmNewAppPage					CHAR,
				insuranceHistoryPage			CHAR,
				attorneysPage					CHAR,
				lawPracticePage					CHAR,
				aboutFirmPage					CHAR,
				aboutFirmRenewalPage			CHAR,
				practiceManagementPage			Char,
				morePracticeManagementPage		CHAR,
				underWritingInfoPage			CHAR,
				pastClaimsPage					CHAR,
				houseKeepingPage				CHAR,
				bankruptcySuppPage				CHAR,
				collectionSuppPage				CHAR,
				copyrightSuppPage				CHAR,
				familyLawSuppPage				CHAR,
				financialSuppPage				CHAR,
				governmentSuppPage				CHAR,
				litigationSuppPage				CHAR,
				realEstateSuppPage				CHAR,
				willStateSuppTrustPage			CHAR,
				taxSuppPage						CHAR,
				ccbSuppPage						CHAR,
				isElectronicInsurancePage		CHAR,
				isNotCompletlyFilled			CHAR
			)
AS
	BEGIN

		INSERT INTO @Temp(firmNewAppPage,insuranceHistoryPage,attorneysPage,lawPracticePage,aboutFirmPage,aboutFirmRenewalPage,practiceManagementPage,morePracticeManagementPage,
			underWritingInfoPage,pastClaimsPage,houseKeepingPage,bankruptcySuppPage,collectionSuppPage,copyrightSuppPage,familyLawSuppPage,financialSuppPage,
			governmentSuppPage,litigationSuppPage,realEstateSuppPage,willStateSuppTrustPage,taxSuppPage,ccbSuppPage,isElectronicInsurancePage,FullyCompleted,isNotCompletlyFilled)
			--	PRINT ''IN NEW FLOW''
			Values(''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''N'',''Y'',''N'')
		DECLARE @ElectronicInsuranceImplDate DATETIME=''2022-05-31'',@CCBImplementationDate DATETIME=''2020-06-01'',@CanibusSupplementImplementationDate DATETIME=''2021-06-03''
		Declare @FullyCompleted CHAR,@AccountName VARCHAR(500),@IsFirmHaveLawyersLiabilityInsurance CHAR,@IsFirmPracticeInOtherState char,@IsFirmHaveIndepDockets CHAR,@AopSum int,@IsFirmProvideInvestmentAdvice CHAR,@isPolicyExcludeCoverage CHAR,
		@instructionsDocumentedReceivingParty CHAR,@IsPersonnelBeSubOfAnyInvest CHAR,@ContactPerson VARCHAR(500),@AttorneyCount INT,@IsApplicantProvidesLegalServices CHAR,@bankruptcy INT,@collection INT,@financial INT,@goverment INT,
		@realestateComm INT,@realestateResi INT,@tax INT,@wills INT,@litigationvalue INT,@AnnualRevenue INT,@familyLaw INT,@isElectronicInsurance CHAR ,@Copyright INT, @PolicyStatusKey INT,@custodyOrControlFunds CHAR,@bankruptcyOld INT,
		@collectionOld INT, @financialOld INT,@govermentOld INT, @realestateCommOld INT,@realestateResiOld INT,@taxOld INT,@willsOld INT,@litigationvalueOld INT,@familyLawOld INT, @CopyrightOld INT,@PreviousPolicyKey INT,@PercentageOfRevenue INT,
		@PercentageOfDefense INT,@AOPCount INT,@VersionSequence INT,@PreviousVersionSequence INT,@litigationAOPSum INT,@CreatedDate DATETIME,@DaysDiffenence INT,@EffectiveDate DATETIME,@LitigationSupplementPage CHAR,@StateCode VARCHAR(50),
		@PercentageOfCivilPaintiff INT,@PercentageOfConstructionPaintiff INT, @PercentageOfCorCommBusinessPaintiff INT, @PercentageOfMassTortPaintiff INT,@PercentageOfMedicalMalPaintiff INT,@PercentageOfNonMedicalMalPaintiff INT,
		@PercentageOfPersInjuryPaintiff INT,@PercentageOfProdLiabilityPaintiff INT,@PercentageOfOtherPaintiff INT,@NumberOfSuppotedStaffToPlantiff INT,@NewLitigationFlow CHAR,@representedDebtors CHAR ,@averageCases CHAR ,@otherServices  CHAR ,
		 @FamilyAopSum INT ,@underRegulatoryReview CHAR ,@providingBondWork CHAR , @IsAppAcceptRefersFromOtherFirms CHAR ,@attendClosings CHAR,@TaxAopSum INT ,@IsAttorneyServeAsExecutorTrustee CHAR,@IsAttorneyAddedDeleted CHAR,@AnnualRevenueSequence INT,
		 @companyFinance CHAR ,@corporateCommercialBusiness INT,@AopSum1 INT,@IsAopChanged CHAR,@VersionKey INT,@PreviousVersionKey INT
		DECLARE @Address VARCHAR(100),@Zip VARCHAR(20),@Email VARCHAR(100),@Phone varchar(20)
		DECLARE @personalBankrupties int,@commercialBankruptcies INT,@preBanakruptcyServices char,@dueDiligenceProcess char,@reviewProcedureForCertification char,@disclosureStatementExplaining char,@conspicuousStatement CHAR
		DECLARE @PolicyExpirationDatePross	datetime,@ProInsPremium	numeric(15,2),@IsClaimExpLiability	char,@PriorActDatePross	datetime,@IsPerClaim char,@IsPriorActDateFull	char,@FirmYear	int,@InsuranceCompanyNamePross	varchar(100),@LimitSequencePross	int,
			@DeductibleSequencePross	int
		DECLARE @OtherLegalCorporateServices CHAR,@Counter INT=1 ,@MaxCount INT,@AttorneyName VARCHAR(100),@DesignationId INT,@LicensedStates VARCHAR(100),@AnnualWorkedHours INT,@AttorneyPriorActDate DATETIME,@NumberOfYearsInPractice INT
		DECLARE @IsClaimOptionType	CHAR,@IsClaimExpensesType CHAR,	@AggregateLimit INT,@OccuranceLimit	INT,@OccuranceDeductible INT,@AggregateDeductible INT
		DECLARE @YearOfFirmEstablished INT,@TotalNumOfNonAttorneyStaff CHAR,@IsFirmHaveProcForFormersClients CHAR,@IsFirmRequireEngagementLetter CHAR,@IsNonEngagementLetterIssueToFirm CHAR,@withdrawOrDisengaged CHAR,@IsApplInitiatedLawsuitForFirm CHAR,
		@IsFirmHaveClientMoreThan25PercentOfBilling CHAR,@IsFirmHaveClientInEntertainmentInd CHAR,@IsFirmProvidedLegalService CHAR,@isServedAsCEOChairmanPresident CHAR,@IsAppOfficeSharedWithAttorney CHAR,@securityAwareness CHAR,
		@IsLawyerProfLiabClaimAgntAppl CHAR, @IsAnyActOmmBecomeClaimAgntFirm CHAR, @IsAttorneyDeclineForProfLiability CHAR,@isCannibSuppPage CHAR
		DECLARE @IsFirmMergedWithOtherFirm CHAR,@haveFraudSecurityAwarenessProgram CHAR,@needCyberCoverage CHAR,@QuoteType VARCHAR(20),@transactionsHandled12MonthsResi INT,@largestTransaction12MonthsResi INT,@transactionsHandled12MonthsComm INT,@largestTransaction12MonthsComm  INT,
				@ResiPercentageSum INT,@CommPercentageSum INT,@includeSecuringFinancing CHAR
				

		SELECT @CreatedDate=AppCreatedDate,@EffectiveDate=Policyeffectivedate,@QuoteType=QuoteType FROM POLICY WITH(NOLOCK) WHERE PolicyKey=@PolicyKey
		SELECT @DaysDiffenence= DATEDIFF(d,@LitImplementationDate,@CreatedDate)
		SELECT @PolicyStatusKey=PolicyStatusKey,@VersionKey=VersionKey FROM Policy WITH(NOLOCK) WHERE PolicyKey=@PolicyKey
		SELECT @PreviousPolicyKey=MAX(PolicyKey) FROM policy WITH(NOLOCK) WHERE   accountid in(SELECT accountid FROM policy WITH(NOLOCK) WHERE policykey=@PolicyKey)AND PolicyNumber IS NOT NULL
		SET @VersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WITH(NOLOCK) WHERE PolicyKey=@PolicyKey)
		SET @PreviousVersionSequence=(SELECT MAX(VersionSequence) FROM FirmLW WITH(NOLOCK) WHERE PolicyKey=@PreviousPolicyKey)
		SET @PreviousVersionKey=(Select VersionKey from Policy WITH(NOLOCK) Where PolicyKey=@PreviousPolicyKey)
		SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=18  group by PercentageValue)
		SELECT @litigationAOPSum=sum(percentagevalue) from AreaOfPracticeLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey and AOPKey in (55,56,57,59,60,61,62,63,67)
		
		
		Select @IsClaimOptionType=pc.IsClaimOptionType,@IsClaimExpensesType=pc.IsClaimExpensesType,@AggregateLimit=pc.AggregateLimit,@OccuranceLimit=pc.OccuranceLimit,@OccuranceDeductible=pc.OccuranceDeductible,
		@AggregateDeductible=pc.AggregateDeductible
		from PolicyCoverage pc WITH(NOLOCK)  where pc.TransactionSequence =(select min(TransactionSequence) from PolicyTransaction WITH(NOLOCK) where Policykey=@Policykey) and   pc.Policykey=@Policykey 
		
		select @OtherLegalCorporateServices=OtherLegalCorporateServices from CorporateCommBusineesSupplementLW WITH(NOLOCK) where Policykey=@PolicyKey and VersionKey=@VersionKey
		

	
		IF(@DaysDiffenence<0)
			BEGIN
				IF(@litigationvalue>0)
					SET @LitigationSupplementPage=''Y''
					
				ELSE
					SET @LitigationSupplementPage=''N''
					
				SET @NewLitigationFlow=''N''
			END
		ELSE
			BEGIN
				IF(@litigationAOPSum>0)
					SET @LitigationSupplementPage=''Y''
				ELSE
					SET @LitigationSupplementPage=''N''
				
				SET @NewLitigationFlow=''Y''
			END
		
		Select @StateCode= ad.StateCode,@Address=(case when ad.Address1 is not null or Address1<>'''' then ad.Address1 else ad.Street end),@Zip=Zip,@Phone=ad.WorkPhone from AccountAddress ac WITH(NOLOCK) inner join Address ad WITH(NOLOCK) on ac.AddressKey=ad.AddressKey where AccountKey=@AccountKey
		set @isElectronicInsurance=(select isElectronicInsurance from ElectronicInsurance WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey)
			
		SET @AOPCount=(SELECT Count(*) From AreaOfPracticeLW WITH(NOLOCK) Where PolicyKey=@PolicyKey and VersionKey=@VersionKey)
		IF(@QuoteType is null or @QuoteType<>''BRG'')
		BEGIN
		IF(@PolicyStatusKey=1)
		BEGIN

			--	PRINT ''IN NEW FLOW''
				select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance,@IsFirmPracticeInOtherState=IsFirmPracticeInOtherState,
						@IsFirmHaveIndepDockets=IsFirmHaveIndepDockets,@IsFirmProvideInvestmentAdvice=IsFirmProvideInvestmentAdvice ,
						@custodyOrControlFunds=custodyOrControlFunds,@isPolicyExcludeCoverage=isPolicyExcludeCoverage,@instructionsDocumentedReceivingParty=instructionsDocumentedReceivingParty,
						@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@ContactPerson=ContactPerson,@IsApplicantProvidesLegalServices=IsApplicantProvidesLegalServices,@YearOfFirmEstablished =YearOfFirmEstablished,
						@TotalNumOfNonAttorneyStaff=TotalNumOfNonAttorneyStaff,@IsFirmHaveProcForFormersClients =IsFirmHaveProcForFormersClients,@IsFirmRequireEngagementLetter=IsFirmRequireEngagementLetter,
						@IsNonEngagementLetterIssueToFirm=IsNonEngagementLetterIssueToFirm,@withdrawOrDisengaged=withdrawOrDisengaged,@IsApplInitiatedLawsuitForFirm=IsApplInitiatedLawsuitForFirm,
						@IsFirmHaveClientMoreThan25PercentOfBilling=IsFirmHaveClientMoreThan25PercentOfBilling,@IsFirmHaveClientInEntertainmentInd=IsFirmHaveClientInEntertainmentInd,@IsFirmProvidedLegalService=IsFirmProvidedLegalService,
						@isServedAsCEOChairmanPresident=isServedAsCEOChairmanPresident,@IsAppOfficeSharedWithAttorney=IsAppOfficeSharedWithAttorney,@securityAwareness=securityAwareness,
						@IsLawyerProfLiabClaimAgntAppl =IsLawyerProfLiabClaimAgntAppl, @IsAnyActOmmBecomeClaimAgntFirm =IsAnyActOmmBecomeClaimAgntFirm, @IsAttorneyDeclineForProfLiability=IsAttorneyDeclineForProfLiability, @AnnualRevenueSequence= AnnualRevenueSequence
						,@isCannibSuppPage=isCannibSuppPage
				from firmlw WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey
				--select IsFirmHaveLawyersLiabilityInsurance from firmlw where policykey=55425
				--select @YearOfFirmEstablished , @AnnualRevenueSequence , @TotalNumOfNonAttorneyStaff
				IF(@AOPCount<1)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				SELECT @AopSum=case when sum(percentagevalue) is null then 0 else sum(percentagevalue) End from AreaOfPracticeLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
				SELECT @AopSum1=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
				SELECT @AccountName=AccountName FROM Account WITH(NOLOCK) where accountkey=@AccountKey
				SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WITH(NOLOCK) WHERE PolicyKey=@PolicyKey and VersionKey=@VersionKey and AttorneyName is not null
		

				SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey and AOPKey=3  group by PercentageValue)
				SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=31  group by PercentageValue)
				SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=6  group by PercentageValue)
				SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=12  group by PercentageValue)
				SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=13  group by PercentageValue)
				SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=20  group by PercentageValue)
				SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=27  group by PercentageValue)
				SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=22  group by PercentageValue)
				SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=24  group by PercentageValue)
				SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=18  group by PercentageValue)
				SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=8  group by PercentageValue)
				SET @corporateCommercialBusiness=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey  and AOPKey=5  group by PercentageValue)
				
				IF(@AccountName IS  NULL or @Address IS NULL OR @Zip IS NULL OR @Phone IS NULL)
					BEGIN
					--	print @AccountName
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'', firmNewAppPage=''Y''
					END

				IF(@IsFirmHaveLawyersLiabilityInsurance IS  NULL)
					BEGIN
						--print ''2''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
					END
				Else
					BEGIN
						
						
						IF(@IsClaimOptionType IS NULL OR @IsClaimExpensesType IS NULL OR @AggregateLimit IS NULL OR @OccuranceLimit IS NULL OR  @AggregateDeductible IS NULL)
							BEGIN
								UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
							END

						IF(@IsFirmHaveLawyersLiabilityInsurance=''Y'')
							BEGIN
								select @PolicyExpirationDatePross=PolicyExpirationDatePross, @ProInsPremium=ProInsPremium, @IsClaimExpLiability=IsClaimExpLiability, @PriorActDatePross=PriorActDatePross, @IsPerClaim=IsPerClaim, 
								@IsPriorActDateFull=IsPriorActDateFull, @FirmYear=FirmYear, @InsuranceCompanyNamePross=InsuranceCompanyNamePross, @LimitSequencePross=LimitSequencePross, @DeductibleSequencePross=DeductibleSequencePross 
								from ProfessionalLiabilityInsDetailLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
								
								IF(@PolicyExpirationDatePross IS NULL OR @ProInsPremium IS NULL OR @IsClaimExpLiability IS NULL OR @IsPerClaim IS NULL OR @InsuranceCompanyNamePross IS NULL OR  @LimitSequencePross IS NULL OR @DeductibleSequencePross IS NULL
								OR @IsPriorActDateFull IS NULL)
									BEGIN
											UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
									END
								IF(@IsPriorActDateFull=''N'' AND @PriorActDatePross IS NULL )
									UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
								IF(@IsPriorActDateFull=''Y'' AND @FirmYear IS NULL )
									UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
							END
						
					END

				IF(@AttorneyCount=0)
					BEGIN
						--DECLARE @Counter INT=1 ,@MaxCount INT,@AttorneyName VARCHAR(100),@DesignationId INT,@LicensedStates VARCHAR(100),@AnnualWorkedHours INT,@AttorneyPriorActDate DATETIME,@NumberOfYearsInPractice INT
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',attorneysPage=''Y''

					END
				ELSE
					BEGIN
						 Declare c1 cursor for
								 Select AttorneyName,DesignationId,LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,NumberOfYearsInPractice from AttorneyDetailsLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
	 	   
	
								OPEN c1
								FETCH NEXT FROM c1 into  @AttorneyName,@DesignationId,@LicensedStates,@AnnualWorkedHours,@AttorneyPriorActDate,@NumberOfYearsInPractice		
								WHILE @@FETCH_STATUS = 0
									begin
									
										IF(@AttorneyName IS NULL OR @DesignationId IS NULL OR  @LicensedStates IS NULL OR @AnnualWorkedHours IS NULL OR @AttorneyPriorActDate IS NULL OR @NumberOfYearsInPractice IS NULL)
										BEGIN 
												UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',attorneysPage=''Y''
										END
			
										FETCH NEXT FROM c1 into @AttorneyName,@DesignationId,@LicensedStates,@AnnualWorkedHours,@AttorneyPriorActDate,@NumberOfYearsInPractice				
									end
									CLOSE c1
							DEALLOCATE c1
					END
		
				IF(@AopSum<100 OR @AopSum!=@AopSum1)
				BEGIN
					--print ''4''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',lawPracticePage=''Y''
				END
				IF(@CreatedDate < @CanibusSupplementImplementationDate)
				BEGIN
					IF(@IsApplicantProvidesLegalServices IS  NULL OR @YearOfFirmEstablished IS NULL OR @AnnualRevenueSequence IS NULL OR @TotalNumOfNonAttorneyStaff IS NULL)
					BEGIN
						--print ''5''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',aboutFirmPage=''Y''
					END
				END
				ELSE
					BEGIN
						IF(@isCannibSuppPage IS NULL OR @IsApplicantProvidesLegalServices IS  NULL OR @YearOfFirmEstablished IS NULL OR @AnnualRevenueSequence IS NULL OR @TotalNumOfNonAttorneyStaff IS NULL)
						BEGIN
							--print ''5''
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',aboutFirmPage=''Y''
						END
					END
				IF(@IsFirmHaveIndepDockets IS  NULL OR @IsFirmRequireEngagementLetter IS NULL OR @IsNonEngagementLetterIssueToFirm IS NULL OR @withdrawOrDisengaged IS NULL OR @IsApplInitiatedLawsuitForFirm IS NULL)
				BEGIN
					--print ''6''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',practiceManagementPage=''Y''
				END
		
				IF(@IsFirmProvideInvestmentAdvice IS  NULL OR @IsFirmHaveClientMoreThan25PercentOfBilling IS NULL OR  @IsFirmHaveClientInEntertainmentInd IS NULL OR  @IsFirmProvidedLegalService IS NULL OR  @isServedAsCEOChairmanPresident IS NULL OR  @IsAppOfficeSharedWithAttorney IS NULL)
				BEGIN
					--print ''7''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',morePracticeManagementPage=''Y''
				END
		
				IF(@custodyOrControlFunds IS  NULL)
				BEGIN
					--print ''8''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',underWritingInfoPage=''Y''
				END
		
		
		
				IF(@IsPersonnelBeSubOfAnyInvest IS  NULL OR @IsLawyerProfLiabClaimAgntAppl IS NULL OR @IsAnyActOmmBecomeClaimAgntFirm IS NULL )
				BEGIN
					--print ''9''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',pastClaimsPage=''Y''
				END
	
		
				IF(@ContactPerson IS  NULL)
				BEGIN
				--	print ''10''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',houseKeepingPage=''Y''
				END
		

			IF(@CreatedDate >= @ElectronicInsuranceImplDate)
					BEGIN
						IF(@StateCode = ''KS'' AND @isElectronicInsurance IS  NULL)
						BEGIN
						--	print ''22''
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',isElectronicInsurancePage=''Y''
						END
						--IF(@StateCode != ''KS'')
						--BEGIN
						----	print ''22''
						--	SET @FullyCompleted=''N''
						--END
					END
				
		  
		
			--Supplements conditions check
			

			 IF(@bankruptcy>35 )
			BEGIN
				
				
				select @personalBankrupties=personalBankrupties,@commercialBankruptcies=commercialBankruptcies,@representedDebtors=representedDebtors,@companyFinance=companyFinance,
				@preBanakruptcyServices=preBankruptcyServices ,@dueDiligenceProcess=dueDiligenceProcess ,@reviewProcedureForCertification=reviewProcedureForCertification ,
				@disclosureStatementExplaining=disclosureStatementExplaining ,@conspicuousStatement=conspicuousStatement
				 from BankruptcyDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey



				if(@CreatedDate>=@bankruptcyImplementationDate)
					BEGIN
							IF((@personalBankrupties IS NULL OR @commercialBankruptcies IS NULL) OR @representedDebtors IS  NULL OR @companyFinance IS NULL OR @preBanakruptcyServices IS NULL OR @dueDiligenceProcess IS NULL OR @reviewProcedureForCertification IS NULL
							OR @disclosureStatementExplaining IS NULL OR @conspicuousStatement IS NULL)
							BEGIN
								--print ''11''
								UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',bankruptcySuppPage=''Y''
							END

					END
				ELSE
					BEGIN
							IF(@representedDebtors IS  NULL)
							BEGIN
								--print ''11''
								UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',bankruptcySuppPage=''Y''
							END
					END
			END

			IF(@collection>0)
			BEGIN
				select @averageCases=averageCases from collectionsSuplimentDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
				IF(@averageCases IS  NULL)
				BEGIN
					--print ''12''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',collectionSuppPage=''Y''
				END
			END

			IF(@Copyright>0)
			BEGIN
				select @otherServices=otherServices from CopyRightTrademarkDetailsLW	WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
				IF(@otherServices IS  NULL)
				BEGIN
				--	print ''13''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',copyrightSuppPage=''Y''
				END
			END
			IF(@corporateCommercialBusiness > 0 and @EffectiveDate>=@CCBImplementationDate)
			BEGIN
				
				
				IF(@OtherLegalCorporateServices IS NULL)
				BEGIN
					--print ''14''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',ccbSuppPage=''Y''
				END
					
			END
			IF(@familyLaw >35)
			BEGIN
				SELECT  @FamilyAopSum= CASE WHEN sum(percentagevalue) IS NOT NULL and sum(percentagevalue) <> ''''  THEN sum(percentagevalue)ELSE 0  END  from FamilyLawDetailsLW	WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
				IF(@FamilyAopSum=0)
				BEGIN
				--	print ''14''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',familyLawSuppPage=''Y''
				END
			END

			IF(@financial>0)
			BEGIN
				select @underRegulatoryReview=underRegulatoryReview from FinancialInstitutionDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
				IF(@underRegulatoryReview IS  NULL)
				BEGIN
					--print ''15''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',financialSuppPage=''Y''
				END
			END


			IF(@goverment>0)
			BEGIN

				SELECT @providingBondWork=providingBondWork from GovernmentSupplementDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
				IF(@providingBondWork IS  NULL)
				BEGIN
					--print ''16''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',governmentSuppPage=''Y''
				END
			END

		

			IF(@LitigationSupplementPage=''Y'' and @NewLitigationFlow=''N'')
			BEGIN
				
				select @PercentageOfRevenue=max(PercentageOfRevenue),@PercentageOfDefense=max(PercentageOfDefense) from AreaOfLitigationForFirmLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey	
				IF(@PercentageOfRevenue is null AND @PercentageOfDefense is null)
				BEGIN
					--print ''17''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',litigationSuppPage=''Y''
				END
		
			END

			IF(@realestateComm>0 OR @realestateResi>0)
			BEGIN
				
				select @attendClosings=attendClosings,@includeSecuringFinancing=includeSecuringFinancing,@transactionsHandled12MonthsResi=transactionsHandled12MonthsResi,@largestTransaction12MonthsResi=largestTransaction12MonthsResi,@transactionsHandled12MonthsComm=transactionsHandled12MonthsComm,@largestTransaction12MonthsComm=largestTransaction12MonthsComm  
				from RealEastateDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey
				
				IF(@attendClosings IS  NULL or @includeSecuringFinancing is null)
				BEGIN
				--	print ''18''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
				END
				else
				begin

					if(@realestateComm>0)
					begin
						
							set @CommPercentageSum =(Select sum(CommercialPercentageValue) from AreaOfPracticeRealEstateLW where Policykey=@PolicyKey  and VersionKey=@VersionKey)
							if(@CommPercentageSum is null)
								set @CommPercentageSum=0

						if(@CommPercentageSum=0 or @transactionsHandled12MonthsComm is null or @largestTransaction12MonthsComm is null)
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
					end
						if(@realestateResi>0)
					begin
						set @ResiPercentageSum =(Select sum(PercentageValue) from AreaOfPracticeRealEstateLW where Policykey=@PolicyKey  and VersionKey=@VersionKey)
							if(@ResiPercentageSum is null)
								set @ResiPercentageSum=0

							if(@ResiPercentageSum=0 or @transactionsHandled12MonthsResi is null or @largestTransaction12MonthsResi is null)
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
					end
				end
				
			END

			IF(@wills>0)
			BEGIN
				select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey
				IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
				BEGIN
				--	print ''19''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',willStateSuppTrustPage=''Y''
				END
			END
			
			IF(@tax>25)
			BEGIN
				select @TaxAopSum=CASE WHEN sum(revenuePercentage) IS NOT NULL and sum(revenuePercentage) <> ''''  THEN sum(revenuePercentage) ELSE 0  END from TaxSuppDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
				
				IF(@TaxAopSum=0)
				BEGIN
				--	print ''20''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',taxSuppPage=''Y''
				END
			END

			IF( @LitigationSupplementPage=''Y'' and @NewLitigationFlow=''Y'')
			BEGIN
				
				select @NumberOfSuppotedStaffToPlantiff=NumberOfSuppotedStaffToPlantiff from PlantiffSuppLW WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
					IF(@NumberOfSuppotedStaffToPlantiff IS NULL)
					BEGIN
						--print ''12''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',litigationSuppPage=''Y''
					END
			END	
	
	END
	
	IF(@PolicyStatusKey=2)
	BEGIN

	
		--PRINT ''IN RENEWAL FLOW''
		SET @bankruptcyOld  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey and AOPKey=3  group by PercentageValue)
		
		SET @collectionOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=31  group by PercentageValue)
		
		SET @financialOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=12  group by PercentageValue)
		
		SET @govermentOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=13  group by PercentageValue)
		
		SET @realestateCommOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=20  group by PercentageValue)
	
		SET @realestateResiOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=27  group by PercentageValue)
		
		SET @taxOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=22  group by PercentageValue)
	
		SET @willsOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=24  group by PercentageValue)
		
		SET @litigationvalueOld =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=18  group by PercentageValue)
	
		SET @familyLawOld=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PreviousPolicyKey and VersionKey=@PreviousVersionKey  and AOPKey=8  group by PercentageValue)
						
		select	@IsAopChanged=IsAOPChange,@ContactPerson=ContactPerson,@IsAttorneyAddedDeleted=IsAttorneyAddedDeleted,
				@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@AnnualRevenueSequence=AnnualRevenueSequence,@haveFraudSecurityAwarenessProgram=haveFraudSecurityAwarenessProgram,
				@IsLawyerProfLiabClaimAgntAppl=IsLawyerProfLiabClaimAgntAppl,@IsAnyActOmmBecomeClaimAgntFirm=IsAnyActOmmBecomeClaimAgntFirm,
				@isCannibSuppPage=isCannibSuppPage,@IsFirmMergedWithOtherFirm=IsFirmMergedWithOtherFirm,@isServedAsCEOChairmanPresident=isServedAsCEOChairmanPresident,@IsFirmHaveClientMoreThan25PercentOfBilling=IsFirmHaveClientMoreThan25PercentOfBilling
				,@custodyOrControlFunds=custodyOrControlFunds,@haveFraudSecurityAwarenessProgram=haveFraudSecurityAwarenessProgram,@needCyberCoverage=needCyberCoverage,@IsApplInitiatedLawsuitForFirm=IsApplInitiatedLawsuitForFirm
				
				from firmlw WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey
				IF(@AOPCount<1)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
		SELECT @AopSum=sum(percentagevalue) from AreaOfPracticeLW WITH(NOLOCK) where PolicyKey=@PolicyKey  and VersionKey=@VersionKey
		SELECT @AccountName=AccountName FROM Account WITH(NOLOCK) where accountkey=@AccountKey
		SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WITH(NOLOCK) WHERE PolicyKey=@PolicyKey  and VersionKey=@VersionKey
		

				SET @bankruptcy  = (select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey and AOPKey=3  group by PercentageValue)
				SET @collection =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=31  group by PercentageValue)
				SET @Copyright=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=6  group by PercentageValue)
				SET @financial =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=12  group by PercentageValue)
				SET @goverment =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=13  group by PercentageValue)
				SET @realestateComm =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=20  group by PercentageValue)
				SET @realestateResi =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=27  group by PercentageValue)
				SET @tax =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=22  group by PercentageValue)
				SET @wills =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=24  group by PercentageValue)
				SET @litigationvalue =(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=18  group by PercentageValue)
				SET @familyLaw=(select CASE WHEN PercentageValue IS NOT NULL and PercentageValue <> ''''  THEN PercentageValue ELSE 0  END from AreaOfPracticeLW WITH(NOLOCK) where policykey=@PolicyKey  and VersionKey=@VersionKey  and AOPKey=8  group by PercentageValue)
				--IF(@AccountName IS  NULL or @Address IS NULL OR @Zip IS NULL OR @Phone IS NULL)
				IF(@ContactPerson IS  NULL)
				BEGIN
				--	print ''1''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',firmNewAppPage=''Y''
				END

				IF(@AttorneyCount=0 OR @IsAttorneyAddedDeleted IS NULL)
				BEGIN
				--	print ''2''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',attorneysPage=''Y''
				END
				ELSE
					BEGIN
						 Declare c1 cursor for
								 Select AttorneyName,DesignationId,LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,NumberOfYearsInPractice from AttorneyDetailsLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
	 	   
	
								OPEN c1
								FETCH NEXT FROM c1 into  @AttorneyName,@DesignationId,@LicensedStates,@AnnualWorkedHours,@AttorneyPriorActDate,@NumberOfYearsInPractice		
								WHILE @@FETCH_STATUS = 0
									begin
									
										IF(@AttorneyName IS NULL OR @DesignationId IS NULL OR  @LicensedStates IS NULL OR @AnnualWorkedHours IS NULL OR @AttorneyPriorActDate IS NULL OR @NumberOfYearsInPractice IS NULL)
										BEGIN 
												UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',attorneysPage=''Y''
										END
			
										FETCH NEXT FROM c1 into @AttorneyName,@DesignationId,@LicensedStates,@AnnualWorkedHours,@AttorneyPriorActDate,@NumberOfYearsInPractice				
									end
									CLOSE c1
							DEALLOCATE c1
					END
				--
				--
				IF(@AopSum<100 OR @AopSum1<100 or @IsAopChanged is null or @IsAopChanged = '''')
				BEGIN
					--print ''3''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',lawPracticePage=''Y''
				END
		
				IF(@IsPersonnelBeSubOfAnyInvest IS  NULL OR @IsLawyerProfLiabClaimAgntAppl IS NULL OR @IsAnyActOmmBecomeClaimAgntFirm IS NULL)
				BEGIN
				--	print ''4''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',pastClaimsPage=''Y''
				END
		
				IF(@CreatedDate < @CanibusSupplementImplementationDate)
					BEGIN
						IF(@AnnualRevenueSequence IS  NULL OR @haveFraudSecurityAwarenessProgram IS  NULL OR @IsFirmMergedWithOtherFirm IS NULL OR @isServedAsCEOChairmanPresident IS NULL OR @IsFirmHaveClientMoreThan25PercentOfBilling IS NULL
						OR @haveFraudSecurityAwarenessProgram IS NULL OR @needCyberCoverage IS NULL OR @IsApplInitiatedLawsuitForFirm IS NULL)
						BEGIN
						--	print ''5''
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',aboutFirmRenewalPage=''Y''
						END
					END
				ELSE
					BEGIN
						IF(@AnnualRevenueSequence IS  NULL OR @haveFraudSecurityAwarenessProgram IS  NULL OR @isCannibSuppPage IS NULL OR @IsFirmMergedWithOtherFirm IS NULL OR @isServedAsCEOChairmanPresident IS NULL OR @IsFirmHaveClientMoreThan25PercentOfBilling IS NULL
						OR @haveFraudSecurityAwarenessProgram IS NULL OR @needCyberCoverage IS NULL OR @IsApplInitiatedLawsuitForFirm IS NULL)
						BEGIN
						--	print ''5''
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',aboutFirmRenewalPage=''Y''
						END
					END
				IF(@CreatedDate >= @ElectronicInsuranceImplDate)
					BEGIN
						IF(@StateCode = ''KS'' AND @isElectronicInsurance IS  NULL)
						BEGIN
						--	print ''22''
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',isElectronicInsurancePage=''Y''
						END
						--IF(@StateCode != ''KS'')
						--BEGIN
						----	print ''22''
						--	SET @FullyCompleted=''N''
						--END
					END
				
		
		--select @bankruptcyOld,@bankruptcy
			--Supplements conditions check
			
			  IF((@bankruptcy>60) OR(@bankruptcyOld>35 AND @bankruptcy>@bankruptcyOld+5) OR (@bankruptcyOld<35 AND @bankruptcy>35))
			BEGIN
				select @personalBankrupties=personalBankrupties,@commercialBankruptcies=commercialBankruptcies,@representedDebtors=representedDebtors,@companyFinance=companyFinance,
				@preBanakruptcyServices=preBankruptcyServices ,@dueDiligenceProcess=dueDiligenceProcess ,@reviewProcedureForCertification=reviewProcedureForCertification ,
				@disclosureStatementExplaining=disclosureStatementExplaining ,@conspicuousStatement=conspicuousStatement
				 from BankruptcyDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey


				if(@CreatedDate>=@bankruptcyImplementationDate)
					BEGIN
							IF(@representedDebtors IS  NULL OR @companyFinance IS NULL)
							BEGIN
								--print ''11''
								UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',bankruptcySuppPage=''Y''
							END

					END
				ELSE
					BEGIN
							IF(@representedDebtors IS  NULL)
							BEGIN
							--	print ''11''
								UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',bankruptcySuppPage=''Y''
							END
					END

			END

			IF(@collection>@collectionOld)
			BEGIN
				select @averageCases=averageCases from collectionsSuplimentDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@averageCases IS  NULL)
				BEGIN
				--	print ''S2''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',collectionSuppPage=''Y''
				END
			END

			IF(@Copyright>0)
			BEGIN
				select @otherServices=otherServices from CopyRightTrademarkDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey   and VersionKey=@VersionKey 
				IF(@otherServices IS  NULL)
				BEGIN
					--print ''S3''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',copyrightSuppPage=''Y''
				END
			END
			
			--IF((@familyLawOld>35 AND @familyLaw>@familyLawOld+10) OR (@familyLawOld<35 AND @familyLaw>35)) 
			IF(@familyLaw>35 ) 
			BEGIN
				SELECT  @FamilyAopSum=CASE WHEN sum(percentagevalue)  IS NOT NULL and sum(percentagevalue)  <> ''''  THEN sum(percentagevalue)  ELSE 0  END from FamilyLawDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@FamilyAopSum=0)
				BEGIN
					--print ''S4''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',familyLawSuppPage=''Y''
				END
			END

			IF(@financial>0)
			BEGIN
				select @underRegulatoryReview=underRegulatoryReview from FinancialInstitutionDetailsLW  WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@underRegulatoryReview IS  NULL)
				BEGIN
				--	print ''S5''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',financialSuppPage=''Y''
				END
			END


			IF(@govermentOld != @goverment and @goverment> @govermentOld AND @goverment>10)
			BEGIN
				SELECT @providingBondWork=providingBondWork from GovernmentSupplementDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@providingBondWork IS  NULL)
				BEGIN
				--	print ''S6''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',governmentSuppPage=''Y''
				END
			END
			
			IF(@LitigationSupplementPage=''Y'' and @NewLitigationFlow=''N'')
			BEGIN
			--PRINT @litigationvalue
				select @PercentageOfRevenue=CASE WHEN max(PercentageOfRevenue) IS NOT NULL and max(PercentageOfRevenue) <> ''''  THEN max(PercentageOfRevenue) ELSE 0  END,@PercentageOfDefense=CASE WHEN max(PercentageOfDefense) IS NOT NULL and max(PercentageOfDefense) <> ''''  THEN max(PercentageOfDefense) ELSE 0  END from AreaOfLitigationForFirmLW WITH(NOLOCK) WHERE Policykey=@PolicyKey   and VersionKey=@VersionKey 	
				--Print @PercentageOfRevenue
				IF(@PercentageOfRevenue=0  AND @PercentageOfDefense=0)
				BEGIN
					--print ''S7''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',litigationSuppPage=''Y''
				END
		
			END

			IF( @tax>25 and @tax>@taxOld)
			BEGIN
				select @TaxAopSum=CASE WHEN sum(revenuePercentage) IS NOT NULL and sum(revenuePercentage) <> ''''  THEN sum(revenuePercentage) ELSE 0  END from TaxSuppDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey   and VersionKey=@VersionKey 
				IF(@TaxAopSum=0)
				BEGIN
				--	print ''S10''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',taxSuppPage=''Y''
				END
			END
			
			IF( @LitigationSupplementPage=''Y''  and @NewLitigationFlow=''Y'')
			BEGIN
			
				select @NumberOfSuppotedStaffToPlantiff=NumberOfSuppotedStaffToPlantiff from PlantiffSuppLW WITH(NOLOCK) WHERE Policykey=@PolicyKey and VersionKey=@VersionKey
					IF(@NumberOfSuppotedStaffToPlantiff IS NULL)
					BEGIN
						--print ''12''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',litigationSuppPage=''Y''
					END
			END	
	if(@CreatedDate < @RenewalSupplementNewImplDate)
	  BEGIN	
		IF(@corporateCommercialBusiness > 0 and @EffectiveDate>=@CCBImplementationDate)
			BEGIN
				
				
				IF(@OtherLegalCorporateServices IS NULL)
				BEGIN
					--print ''14''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',ccbSuppPage=''Y''
				END
					
			END
		IF(((@realestateComm>25) OR (@realestateCommOld<=25 AND @realestateComm>@realestateCommOld+5)) OR (( @realestateResi>35) OR (@realestateResiOld<=35 AND @realestateResi>@realestateResiOld+5)))
			BEGIN
						
				select @attendClosings=attendClosings,@includeSecuringFinancing=includeSecuringFinancing,@transactionsHandled12MonthsResi=transactionsHandled12MonthsResi,@largestTransaction12MonthsResi=largestTransaction12MonthsResi,@transactionsHandled12MonthsComm=transactionsHandled12MonthsComm,@largestTransaction12MonthsComm=largestTransaction12MonthsComm  
				from RealEastateDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey
				
				IF(@attendClosings IS  NULL or @includeSecuringFinancing is null)
				BEGIN
				--	print ''18''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
				END
				else
				begin

					if(@realestateComm>0)
					begin
						
							set @CommPercentageSum =(Select sum(CommercialPercentageValue) from AreaOfPracticeRealEstateLW where Policykey=@PolicyKey  and VersionKey=@VersionKey)
							if(@CommPercentageSum is null)
								set @CommPercentageSum=0

						if(@CommPercentageSum=0 or @transactionsHandled12MonthsComm is null or @largestTransaction12MonthsComm is null)
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
					end
						if(@realestateResi>0)
					begin
						set @ResiPercentageSum =(Select sum(PercentageValue) from AreaOfPracticeRealEstateLW where Policykey=@PolicyKey  and VersionKey=@VersionKey)
							if(@ResiPercentageSum is null)
								set @ResiPercentageSum=0

							if(@ResiPercentageSum=0 or @transactionsHandled12MonthsResi is null or @largestTransaction12MonthsResi is null)
							UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
					end
				end
			END

		IF(@wills>@willsOld)
			BEGIN
				select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
				BEGIN
				--	print ''S9''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',willStateSuppTrustPage=''Y''
				END
			END
	  end
	  else
	  begin
	  IF(@corporateCommercialBusiness > 0 and @EffectiveDate>=@CCBImplementationDate)
			BEGIN
				
				
				IF(@OtherLegalCorporateServices IS NULL)
				BEGIN
					--print ''14''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',ccbSuppPage=''Y''
				END
					
			END
	  IF((@realestateComm>0) OR (@realestateResi>0))
			BEGIN
				select @attendClosings=attendClosings from RealEastateDetailsLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@attendClosings IS  NULL)
				BEGIN
				--	print ''S8''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',realEstateSuppPage=''Y''
				END
			END

		IF(@wills>0)
			BEGIN
				select  @IsAttorneyServeAsExecutorTrustee=IsAttorneyServeAsExecutorTrustee from WillsTrustsEstateSuppLW WITH(NOLOCK) WHERE Policykey=@PolicyKey  and VersionKey=@VersionKey 
				IF(@IsAttorneyServeAsExecutorTrustee IS  NULL)
				BEGIN
				--	print ''S9''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',willStateSuppTrustPage=''Y''
				END
			END

	  end
	END
	
END
IF(@QuoteType=''BRG'')
BEGIN
--	PRINT ''IN NEW FLOW''
				select @IsFirmHaveLawyersLiabilityInsurance=IsFirmHaveLawyersLiabilityInsurance,@IsPersonnelBeSubOfAnyInvest=IsPersonnelBeSubOfAnyInvest,@IsLawyerProfLiabClaimAgntAppl =IsLawyerProfLiabClaimAgntAppl,
						 @IsAnyActOmmBecomeClaimAgntFirm =IsAnyActOmmBecomeClaimAgntFirm,@ContactPerson=ContactPerson
						 
				from firmlw WITH(NOLOCK) where policykey=@PolicyKey and VersionKey=@VersionKey
				
				IF(@AOPCount<1)
				BEGIN
					--print ''100''
					SET @FullyCompleted=''N''
				END
				SELECT @AopSum=case when sum(percentagevalue) is null then 0 else sum(percentagevalue) End from AreaOfPracticeLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
				SELECT @AopSum1=CASE WHEN sum(PercentageValue) IS NOT NULL and sum(PercentageValue) <> ''''  THEN sum(PercentageValue) ELSE 0  END  from AreaOfPracticeLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
				SELECT @AccountName=AccountName FROM Account WITH(NOLOCK) where accountkey=@AccountKey
				SELECT @AttorneyCount=count(*) from AttorneyDetailsLW WITH(NOLOCK) WHERE PolicyKey=@PolicyKey and VersionKey=@VersionKey and AttorneyName is not null
		

			
				
				IF(@AccountName IS  NULL or @Address IS NULL OR @Zip IS NULL OR @Phone IS NULL)
					BEGIN
					--	print @AccountName
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'', firmNewAppPage=''Y''
					END

				IF(@IsFirmHaveLawyersLiabilityInsurance IS  NULL)
					BEGIN
						--print ''2''
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
					END
				Else
					BEGIN
						
						
						IF(@IsClaimOptionType IS NULL OR @IsClaimExpensesType IS NULL OR @AggregateLimit IS NULL OR @OccuranceLimit IS NULL OR  @AggregateDeductible IS NULL)
							BEGIN
								UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
							END

						IF(@IsFirmHaveLawyersLiabilityInsurance=''Y'')
							BEGIN
								select @PolicyExpirationDatePross=PolicyExpirationDatePross, @ProInsPremium=ProInsPremium, @IsClaimExpLiability=IsClaimExpLiability, @PriorActDatePross=PriorActDatePross, @IsPerClaim=IsPerClaim, 
								@IsPriorActDateFull=IsPriorActDateFull, @FirmYear=FirmYear, @InsuranceCompanyNamePross=InsuranceCompanyNamePross, @LimitSequencePross=LimitSequencePross, @DeductibleSequencePross=DeductibleSequencePross 
								from ProfessionalLiabilityInsDetailLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
								
								IF(@PolicyExpirationDatePross IS NULL OR @ProInsPremium IS NULL OR @IsClaimExpLiability IS NULL OR @IsPerClaim IS NULL OR @InsuranceCompanyNamePross IS NULL OR  @LimitSequencePross IS NULL OR @DeductibleSequencePross IS NULL
								OR @IsPriorActDateFull IS NULL)
									BEGIN
											UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
									END
								IF(@IsPriorActDateFull=''N'' AND @PriorActDatePross IS NULL )
									UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
								IF(@IsPriorActDateFull=''Y'' AND @FirmYear IS NULL )
									UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',insuranceHistoryPage=''Y''
							END
						
					END

				IF(@AttorneyCount=0)
					BEGIN
						--DECLARE @Counter INT=1 ,@MaxCount INT,@AttorneyName VARCHAR(100),@DesignationId INT,@LicensedStates VARCHAR(100),@AnnualWorkedHours INT,@AttorneyPriorActDate DATETIME,@NumberOfYearsInPractice INT
						UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',attorneysPage=''Y''

					END
				ELSE
					BEGIN
						 Declare c1 cursor for
								 Select AttorneyName,DesignationId,LicensedStates,AnnualWorkedHours,AttorneyPriorActDate,NumberOfYearsInPractice from AttorneyDetailsLW WITH(NOLOCK) where PolicyKey=@PolicyKey and VersionKey=@VersionKey
	 	   
	
								OPEN c1
								FETCH NEXT FROM c1 into  @AttorneyName,@DesignationId,@LicensedStates,@AnnualWorkedHours,@AttorneyPriorActDate,@NumberOfYearsInPractice		
								WHILE @@FETCH_STATUS = 0
									begin
									
										IF(@AttorneyName IS NULL OR @DesignationId IS NULL OR  @LicensedStates IS NULL OR @AnnualWorkedHours IS NULL OR @AttorneyPriorActDate IS NULL OR @NumberOfYearsInPractice IS NULL)
										BEGIN 
												UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',attorneysPage=''Y''
										END
			
										FETCH NEXT FROM c1 into @AttorneyName,@DesignationId,@LicensedStates,@AnnualWorkedHours,@AttorneyPriorActDate,@NumberOfYearsInPractice				
									end
									CLOSE c1
							DEALLOCATE c1
					END
		
				IF(@AopSum<100 OR @AopSum!=@AopSum1)
				BEGIN
					--print ''4''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',lawPracticePage=''Y''
				END
				IF(@IsPersonnelBeSubOfAnyInvest IS  NULL OR @IsLawyerProfLiabClaimAgntAppl IS NULL OR @IsAnyActOmmBecomeClaimAgntFirm IS NULL )
				BEGIN
					--print ''9''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',pastClaimsPage=''Y''
				END
				IF(@ContactPerson IS  NULL)
				BEGIN
				--	print ''10''
					UPDATE @TEMP SET FullyCompleted=''N'',isNotCompletlyFilled=''Y'',houseKeepingPage=''Y''
				END
END
	RETURN  

END

' 
END

GO
